[2018-04-17 18:21] lognaturel commented on #242
Pushing what can be pushed to JR seems like a good idea. If I recall correctly, `SMSSerializingVisitor` is pretty close to the implementation we've been discussing. Perhaps cleaning up and improving that one would be a good way to go? I suppose it depends on the extend of the changes that would be necessary. As far as I know, Medic Mobile is the only project using `SMSSerializingVisitor` and I don

[2018-04-17 18:36] #2129 closed, assigned to nobody

[2018-04-17 18:49] grzesiek2010 opened #2134 "audit.csv file is affected when opening a sent form from the View Sent Form list"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
audit.csv file is affected when opening a sent form from View Sent Form list

`form resume` event is added

#### Steps to reproduce the problem
1. Download this form:
[groupaudit.xml.txt](https://github.com/opendatakit/collect/files/1921176/groupaudit.xml.txt)
2. Fill and send the form.
3. Open the form from the View Sen

[2018-04-17 18:49] grzesiek2010 commented on #2134
@opendatakit-bot claim

[2018-04-17 19:12] jd-alexander commented on #242
thanks for the clarification @lognaturel. Appreciated.
Another question, so for now are we working with the length of a SMS being 160 characters? In the discussion over at the forum there were talks of having the admin set the length of the SMS.

[2018-04-17 19:36] lognaturel opened #2135 "Add arbitrary file question"
As discussed in https://forum.opendatakit.org/t/question-type-file-not-image-video-or-audio/12558

Currently Javarosa sets the question control type to `CONTROL_FILE_CAPTURE` when the media type isn't recognized. This isn't completely ideal because it means a form developer can't set what file types they want to accept but I think it's ok as a start, especially before https://github.com/XLSForm/py

[2018-04-17 19:37] yanokwa commented on #242
Beyond that one comment on the forum, I can't find good evidence that SMS can be less than 160 characters. https://www.twilio.com/docs/glossary/what-sms-character-limit suggests that 160 is the common max. I'd assume that for now, but you know, put it as a constant somewhere.

[2018-04-17 19:49] alxndrsn commented on #242
I've observed on (some?) CDMA networks, SMS will be transmitted in ASCII mode, which allows for **140** characters per message.

Also sometimes if the receiving number is a CDMA network then messages sent from GSM handsets with more than 140 characters per part will get truncated.

Multipart messages sent in this scenario will be a mess.

-----

Probably already taken into account, but worth menti

[2018-04-17 20:09] grzesiek2010 opened #2136 ""jump" event is not logged after opening saved form despite the fact that we start from the HierarchyView"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
"jump" event is not logged after opening saved form despite the fact that we start from the HierarchyView
so we don't know how much time a user spent in the HierarchyView.

#### Steps to reproduce the problem
1. Download the form:
[groupaudit.xml.txt](https://github.com/opendatakit/collect/files/1921409/groupaudit.xml.tx

[2018-04-17 20:09] grzesiek2010 commented on #2136
@opendatakit-bot claim

[2018-04-17 20:13] abbyad commented on #242
An SMS can have a [maximum of 1120 bits](https://en.wikipedia.org/wiki/SMS#Message_size), so with the [GSM 7-bit character set](https://en.wikipedia.org/wiki/GSM_03.38) that is 160 characters, with ASCII that is 140 characters, with [UCS-2 that is 70 chars](https://en.wikipedia.org/wiki/GSM_03.38#UCS-2_Encoding) for the first part (less if multi-part).

There seem to be [perfectly good methods in

[2018-04-18 03:18] jd-alexander commented on #242
good points @abbyad I think the character limit came into question because @yanokwa was considering sending a header with each message.

The thing is I wouldn't know where to put this header until the messages are split i.e when I know which parts of the form will be sent in a specific message. An idea I had in mind was to use some dummy text to get a result of the length of each message from `SMS

[2018-04-18 08:12] alxndrsn commented on #242
@jd-alexander ref

I've commented on the forum post, as that's where @yanokwa originally wrote that (https://forum.opendatakit.org/t/send-submissions-via-sms/12166/25?u=alxndrsn).

[2018-04-18 12:16] huangyz0918 opened #2137 "Add checkboxes for PR template"
#### Problem description
In other open source communities, I found they usually use checkboxes to show some specific requirements, reviewers can get an intuitive feeling when they take a glance at the list of PRs.
I think we can improve our PR template and get a better visual effect like them.

Checkboxes in their `PULL_REQUEST_TEMPLATE.md` with some tasks:
![image](https://user-images.githubuserc

[2018-04-18 12:17] huangyz0918 commented on #2137
@opendatakit-bot claim

[2018-04-18 12:22] ravi808 commented on #1753
@opendatakit-bot  claim

[2018-04-18 18:09] #2115 closed, assigned to nobody

[2018-04-18 18:10] #2049 closed, assigned to nobody

[2018-04-18 18:11] #1848 closed, assigned to nobody

[2018-04-18 18:41] nani92 commented on #2068
@opendatakit-bot claim

[2018-04-19 06:48] xsteelej commented on #620
I've spent some time looking at all the places in the collect code where it is dependant on httpclient.

Is the expectation to replace it with the standard HttpURLConnection or something else such Volley?

Also, any tips on how to test uploading? Is there a server that I can use to test form uploading?

[2018-04-19 13:07] huangyz0918 commented on #1833
@opendatakit-bot I'm waiting for someone to review my solution ; )
It would be ok soon, so be patient.

[2018-04-19 13:10] huangyz0918 commented on #2131
I agree with @grzesiek2010 ’s suggestion, we should not select all the forms by default. We should only select those have not been downloaded. @kkrawczyk123

[2018-04-19 13:12] grzesiek2010 commented on #2131
To be clear: It works in that way you don't need to change anything here. the only problem is the button is disabled when all forms are downloaded.

[2018-04-19 13:18] huangyz0918 commented on #2131
Got that, that will be much easier, sorry for inconvenience. @grzesiek2010
I’ll update my PR as soon as possible.

[2018-04-19 13:23] grzesiek2010 commented on #2131
not an inconvenience at all

[2018-04-19 17:42] #2018 closed, assigned to nobody

[2018-04-19 17:48] #1981 closed, assigned to nobody

[2018-04-19 17:48] #2107 closed, assigned to nobody

[2018-04-19 17:50] #1695 closed, assigned to nobody

[2018-04-19 17:51] #1976 closed, assigned to nobody

[2018-04-19 17:56] #836 closed, assigned to nobody

[2018-04-20 09:41] kkrawczyk123 opened #2143 "Buttons are disabled on GPS widgets with maps on Androids from 4.1 to 4.4."
#### Software and hardware versions
Collect v1.14., Android v 4.1, 4.2 and 4.4

#### Problem description
Buttons are disabled on GPS widgets with maps:

- on the geopoint type with placement-map appearance and geopoint type with maps appearance: 2 upper buttons are disabled:
![screenshot_2018-04-19-15-21-45](https://user-images.githubusercontent.com/33342488/39043907-ebf909cc-448e-11e8-8452-1aeb1b

[2018-04-20 10:12] lbramley opened #2144 "random() repeating the same random number for each device"
I also raised this on the [ODK forum](https://forum.opendatakit.org/t/random-numbers-are-the-same-by-device/12776/2).

#### Software and hardware versions
Collect 1.14.0, Samsung Galaxy S4 running Android 5.0.1 (amongst other devices)

#### Problem description
Including a once(random()) calculation seems to result in the random number being repeated verbatim for all surveys conducted by that devic

[2018-04-20 11:25] kkrawczyk123 opened #2145 "OpenStreetMap reset on geo widgets when rotate screen."
#### Software and hardware versions
Collect v1.14.x, Android v 4.1, 4.2, 4.4, 5.1, 6.0 and 7.0.x.x, device used...

#### Problem description
OpenStreetMap reset on geo widgets when rotate screen when it should just change an orientation to horizontal.
Gif of the issue:
[4-20-18-12-40-PM.mp4.zip](https://github.com/opendatakit/collect/files/1931907/4-20-18-12-40-PM.mp4.zip)

#### Steps to reproduce

[2018-04-20 15:27] grzesiek2010 opened #2147 "Scrolling to the current question doesn't work after opening the HierarchyView if a question is in a `field-list`"
#### Software and hardware versions
Collect v1.14.0 and older versions

#### Problem description
Scrolling to the current question doesn't work after opening the HierarchyView if a question is in a `field-list`

#### Steps to reproduce the problem
[manyQ.xml.txt](https://github.com/opendatakit/collect/files/1932659/manyQ.xml.txt)

1. Open the attached form form
2. Go to `n1` question
3. Open the H

[2018-04-20 15:28] grzesiek2010 commented on #2147
@opendatakit-bot claim

[2018-04-20 17:32] lognaturel commented on #2144
Thanks, @lbramley! I'm closing in favor of https://github.com/opendatakit/javarosa/issues/301 because this will need to be fixed in Javarosa, a library that Collect uses for form processing.

[2018-04-20 18:21] yanokwa opened #2149 "Remove truncation in clear prompt dialog"
#### Software and hardware versions
Collect v1.10.x

#### Problem description
https://forum.opendatakit.org/t/odk-collect-bug/12619

We only show 50 characters of a question label when we create the clear dialog. My guess is that this change was made because there was no easy way to have the question text be truncated.

#### Steps to reproduce the problem
Build a form with a two labels. One that i

[2018-04-20 18:36] #1181 closed, assigned to nobody

[2018-04-20 19:16] lognaturel commented on #620
Thanks for looking into it, @xsteelej. To be crystal clear, what's going on is that Collect has kept using `HttpClient` after it was deprecated and maintains [this repo](https://github.com/opendatakit/httpclientandroidlib) to hold the version constant regardless of Android version and patch it as needed (e.g. for #199). The challenge with migrating away from `HttpClient` is of course that a lot of

[2018-04-21 07:33] xsteelej commented on #620
Thanks for the detailed response @lognaturel, after reading more about Volley I have come to the same conclusion as you - that the refactor would be too great for the benefit it provides.

I am currently targeting `WebUtils.getXmlDocument() `and have started using the standard HttpUrlconnection. But as you pointed out, digest authentication is not provided by default, only basic.

There is another

[2018-04-22 09:34] ravi808 commented on #1753
@lognaturel hello!
The different notification was due to two different images in different android version. I have since removed the different images with the same with the single image but the notification has ceased to appear.
`        NotificationCompat.Builder builder = new NotificationCompat.Builder(Collect.getInstance())
                .setSmallIcon(R.drawable.notes)
                .setCon

[2018-04-23 10:29] huangyz0918 commented on #1124
I think it is an interesting issue. But I'm a bit confused about what is your expected behavior. As my understanding, you want to remove the unnecessary point which is overlapped (e.g, point1 or point3 )? and only save two points when drawing a line ?  @mathieubossaert @lognaturel

[2018-04-23 19:16] xsteelej commented on #1052
Awaiting review

[2018-04-24 06:58] mathieubossaert commented on #1124
Hi huangyz0918,

With the Geoshape widget you can only create polygons, so we need in fact at least three points.
In GIS databases (PostGIS in our case), valid geometries must not have duplicated nodes. So a valid polygon should be made with at least 3 different nodes. Geoshape widget should avoid to validate shape when only to points are drawn by the user.

[2018-04-24 12:52] grzesiek2010 opened #2151 "Cannot choose an image from GD on Samsung Galaxy S4"
#### Software and hardware versions
Collect v1.14.1 and older versions

#### Problem description
Cannot choose an image from GD on Samsung Galaxy S4 Android 5. What interesting the problem doesn't occur on other devices even with the same Android version.

#### Steps to reproduce the problem
1. Open a form with ImageWidget
2. Choose an image from GD

[2018-04-24 12:52] grzesiek2010 commented on #2151
@opendatakit-bot claim

[2018-04-24 14:12] mmarciniak90 opened #2153 "`Select All` button is changed to `Clear All` button when the user clicks on the Search icon"
#### Software and hardware versions
Collect - master

#### Problem description
`Select All` button is changed to `Clear All` button when the user clicks on the Search icon

#### Steps to reproduce the problem
1. The user opens `Send Finalized Form` or `Delete Saved Form` view
2. `Select All` button is active
3. The user clicks on the search icon
4. `Select All` is changes to `Clear All' immediatel

[2018-04-24 14:51] lakshyagupta21 commented on #2153
@opendatakit-bot claim

[2018-04-24 18:24] grzesiek2010 commented on #2005
@yanokwa does this issue still need discussion or maybe I can go ahead according to my comment above?

[2018-04-24 18:27] grzesiek2010 commented on #1907
@ArmenApresyan8 do you still work on it? If not I can take a look.

[2018-04-24 18:28] ArmenApresyan8 commented on #1907
You can work on it.

On Tue, Apr 24, 2018, 22:27 Grzegorz Orczykowski <notifications@github.com>
wrote:

[2018-04-24 18:29] ArmenApresyan8 commented on #1907
@grzesiek2010 you can work it.

[2018-04-24 18:58] #2111 closed, assigned to nobody

[2018-04-24 18:58] #2113 closed, assigned to nobody

[2018-04-24 18:58] #2134 closed, assigned to nobody

[2018-04-24 18:58] #2136 closed, assigned to nobody

[2018-04-24 18:59] #2131 closed, assigned to nobody

[2018-04-24 19:08] yanokwa commented on #2005
I think what you've proposed would be a good change. But I wonder if this will be disruptive to change the format. Is it possible to only use this new format if `formIdDir` folder is empty? Any other concerns you can think of, @lognaturel?

[2018-04-25 03:18] s13g3lb4um opened #2154 "Error in InstanceServerUploader"
#### Software and hardware versions
Collect v1.14.1, Android v6.0, Tablet Huawei
Collect v1.13.1, Android v4.4.2, Tablet Plumb
Collect v1.13.x (Personalized version for me), Android v6.0, Tablet Huawei
Collect v1.13.x (Personalized version for me), Android v4.4.2, Tablet Plumb
#### Problem description
InstanceServerUploader.java line 434:
- response = httpclient.execute(httppost, localContext);
[c

[2018-04-25 09:29] grzesiek2010 commented on #1907
@opendatakit-bot claim

[2018-04-25 09:41] xsteelej commented on #943
Work in progress

[2018-04-25 09:41] xsteelej commented on #1475
Work in progress

[2018-04-25 10:47] huangyz0918 commented on #1914
@opendatakit-bot please be patient

[2018-04-25 13:35] huangyz0918 commented on #1124
I will take a look at this issue, thank you 😊 @mathieubossaert
@opendatakit-bot claim

[2018-04-25 14:45] mathieubossaert commented on #1124
Thanks to you !

[2018-04-25 19:07] dcbriccetti opened #2156 "Show GPS as all caps"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
GPS shows as gps in the dialog that appears when a GPS fix is being acquired. Search the source for `location.getProvider()`. One of the values `getProvider` returns is `gps`. That value, and probably only that value, should be changed to `GPS` before being presented to the user.

#### Steps to reproduce the problem
Fill

[2018-04-26 15:59] #1907 closed, assigned to nobody

[2018-04-27 07:56] mmarciniak90 opened #2158 "Collect crashes when user changes device orientation during loading image to any of Image Widget"
#### Software and hardware versions
Collect master

#### Problem description
App crashes when the user changes device orientation during loading image

#### Steps to reproduce the problem
1. The user starts a form with images
2. The user chooses some image
3. The user sees dialog `please wait a few moments.`
![screenshot_20180427-095359](https://user-images.githubusercontent.com/3907554/39351171-3

[2018-04-27 08:02] grzesiek2010 commented on #2158
@opendatakit-bot claim

[2018-04-27 08:20] mmarciniak90 opened #2159 "The user is not able to add audio and video from Google Drive"
#### Software and hardware versions
Collect master
Android 5.1, 6.0, 7.0, 8.0

#### Problem description
The user is not able to add audio and video from Google Drive

#### Steps to reproduce the problem
1. The user tries to add an audio file from Google Drive
2. The user tries to add video file from Google Drive
3. The user sees message and file is not attached

| | |
|---|---|
|![screenshot_20180

[2018-04-27 09:04] mmarciniak90 commented on #1972
@grzesiek2010, @lognaturel
I tried to reproduce this bug without success.
I used the same app version.
I changed the form name at the end of filling a form and this changed name was visible in the notification which is good.
I tried also cases with no internet connection.

[2018-04-27 13:47] huangyz0918 commented on #1124
I found every geometry has duplicated nodes, whatever how many points it has.
This is my tests:
[code]
Now I have removed the duplicated nodes, @mathieubossaert do you think we should add a dialog to remind user when user selected only one or two points (which cannot make up a valid geometry)?

Please review in my PR #2162 @mathieubossaert , thanks.

[2018-04-27 16:21] #2151 closed, assigned to nobody

[2018-04-27 16:45] dcbriccetti commented on #2041
I’m studying the code and the problem.

[2018-04-27 20:44] rnaneliu opened #2164 "Autocomplete without showing options"
Hi,  I have been working on creating a collection form and what I have discovered is that I will have a list of 7000 dispositions and a few hundred plants on my survey which I don't want to scroll down or see at all, I just want to start autocomplete and have it pop up.   "Search" is the right concept but I don't want to see the long list dispositions or plants at all. It just defeats the purpose.

[2018-04-28 03:39] huangyz0918 commented on #2154
I think you can open a pull request and submit your solution 😄

[2018-04-28 14:34] ravi808 commented on #1753
@opendatakit-bot  unclaim

[2018-04-29 13:20] xsteelej commented on #620
Work in progress

[2018-04-30 03:31] dcbriccetti commented on #2041
I added some logging to help understand the problem. I annotated the log and attached screen shots. Perhaps this will help us generate some alternate solutions.
[collect issue 2041 details.pdf](https://github.com/opendatakit/collect/files/1959508/collect.issue.2041.details.pdf)

[Where the logging comes from](https://github.com/opendatakit/javarosa/pull/306).

[2018-04-30 22:56] #1777 closed, assigned to nobody

[2018-04-30 23:00] #93 closed, assigned to nobody

[2018-05-01 18:09] #2137 closed, assigned to nobody

[2018-05-01 18:17] lognaturel opened #2165 "Describe how best to support light and dark themes when adding UI components"
#2061 adds support for a dark theme. 🎉

As new UI components are added, they need to use `colorControlNormal`, `primaryTextColor`, etc to make sure the look changes based on the the theme. Advice on how best to do that should be added to https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md. This should also be linked to from [the pull request template](https://github.com/opendatakit/

[2018-05-02 03:51] shobhitagarwal1612 commented on #2165
Thanks @lognaturel
Will definitely do it soon :smile:

[2018-05-02 18:16] xsteelej commented on #1475
Work in progress

[2018-05-02 19:00] lognaturel commented on #2144
@lbramley My apologies, I was wrong about that. the problem was introduced by https://github.com/opendatakit/collect/pull/1829/files. I verified this by checking out the commit before and after.

[2018-05-02 23:24] yanokwa commented on #2164
Hi @rnaneliu! One option you can try is to filter those options in a series of selects. https://docs.opendatakit.org/form-logic/#filtering-options-in-select-questions has an example. Would that work for you?

[2018-05-03 03:33] dcbriccetti commented on #2144
I concur with your diagnosis, @lognaturel. Form values from the instance are being serialized and deserialized. I’d like to do some more investigation before we abandon the asynchronous caching feature. @srv-twry: FYI

[2018-05-03 05:17] dcbriccetti commented on #2144
I’m making the cache saving synchronous again.

[2018-05-03 20:49] yanokwa commented on #407
@lognaturel had a good suggestion that I really like. We should use https://github.com/kentcdodds/all-contributors (our fork is at https://github.com/opendatakit/contributors). We can then pull all the contributors from the various repos and have Collect (and the other tools) render that page.

[2018-05-04 08:00] bhanuprakashsharma commented on #1003
I also stuck in same case : I fetch contact and simultaneously show in bunch of 50.
When i press back button then  same error came. This happens when I scroll fast and press back button.

[2018-05-04 20:30] lakshyagupta21 opened #2167 "User is not able to see the form download results when app is minimized"
#### Software and hardware versions
Collect v1.14.x.

#### Problem description
User is not able to see dialog showing form download results when Google Sheets is selected as server. App crashes but the user is not able to notice. I'm able to notice this through logs and then comparing form downloading behaviour when the Aggregate server is used.
#### Steps to reproduce the problem

1. Set Platform

[2018-05-04 21:26] lognaturel commented on #2167
Ohh, good catch, @lakshyagupta21!

[2018-05-04 21:28] lognaturel commented on #2153
Kindly go away Mr. Bot, a bunch of us have been taking a little time away from the computer so we can be refreshed so there's a little bit of a backlog. Just because you are a computer doesn't mean we are, @opendatakit-bot. 🤖

[2018-05-04 22:16] lakshyagupta21 commented on #2009
I was not able to see any dialog or anything else which shows that Google drive is loading its content, so I added progress dialog similar to aggregate server which will be shown whenever user clicks on any directory or changes between `Shared with me` and `My Drive`. If it looks fine then I can send a PR for this

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/18495162/3965

[2018-05-04 22:29] lognaturel commented on #2009
@lakshyagupta21 that looks great to me. I /think/ that's what the issue was about but now I'm not totally sure and it would be good to get confirmation from @mmarciniak90. But either way, the change you're proposing is a good one. 👍

[2018-05-05 03:22] shobhitagarwal1612 commented on #2009
The toolbar layout now includes a progress bar which is displayed in rest of the form/instance loading activities. Making the loading behaviour consistent throughout would be better. What are your thoughts @lognaturel @lakshyagupta21 ?

[2018-05-05 03:28] lognaturel commented on #2009
My sense is that the progress bar is appropriate for loading blank forms and filled forms from disk because those appear progressively. Since this is not the case for server listings, it seems that something that takes up the full UI is more appropriate. Perhaps eventually those form listings will be cached and only updated with new info in which case a progress bar could work but in the short ter

[2018-05-05 07:21] lakshyagupta21 commented on #2167
@opendatakit-bot claim

[2018-05-06 16:39] KiaFarhang commented on #2156
Hi there @dcbriccetti,

Hope you're doing well! I wanted to check before I claim this. I see three calls to `location.getProvider()` in the source code: in `GeoPointActivity`, `GeoPointMapActivity` and `GeoPointOsmMapActivity`.

All three seem to be creating a GPS accuracy message for the user. I'm new to Android but it looks like the `getProvider()` method is system-level, so we'd have to transfo

[2018-05-06 16:42] dcbriccetti commented on #2156
Hi Kia. We should translate to uppercase only those values that should appear capitalized. In this case, perhaps only "gps" -> "GPS". This translation only needs to happen where the value is presented to the user.

[2018-05-06 17:21] KiaFarhang commented on #2156
Thanks Dave. In that case, I think just switching from `location.getProvider()` to `location.getProvider().toUpperCase()` in those three class methods should do the trick without interfering with any other strings or values. I'll @opendatakit-bot claim this one and file a PR. Appreciate the help! -Kia

[2018-05-06 17:23] dcbriccetti commented on #2156
GPS needs to appear in all caps because it’s an initialism. Why would you make the others all caps? I suggest a data structure with the values of all providers that should be made all caps, or just something hardcoded:
`String provider = ... .equals("gps") ? "GPS" : ... .`

[2018-05-06 17:47] KiaFarhang commented on #2156
Ah, my mistake - so `getProvider()` doesn't always return `gps` if the location is sourced another way? Like I said, new to Android - appreciate your patience :)

In that case, is `getProvider()` guaranteed to return `gps` in the context of any of these classes? Or would it make more sense to use a ternary operator something like this?

[code]

[2018-05-06 17:53] dcbriccetti commented on #2156
It may return gps. So your code with the conditional operator is good. It would be nice if you could not duplicate it in the three files. That’ll be the hard part.

[2018-05-06 18:04] KiaFarhang commented on #2156
Thanks Dave. We could create a simple utility method sort of like this:

[code]

Then just pass the result of `location.getProvider()` through this method across the three files. If we take that approach, do you think this method makes sense in any of the current utility classes? I'd hate to create a new class just for this if we don't have to. However, taking a look at the utility classes availab

[2018-05-06 18:19] dcbriccetti commented on #2156
That sounds good. You might put it in the common superclass of those three classes for now, and we’ll see if we get some other suggestions. Some people who might have an opinion and weigh in here: @shobhitagarwal1612 @grzesiek2010

[2018-05-06 18:22] dcbriccetti commented on #2156
I’d rather see the tighter
` return locationProvider.equals("gps") ? "GPS" : locationProvider;`
One line instead of five.

Thanks for working on this issue!

[2018-05-06 18:49] KiaFarhang commented on #2156
Sounds good Dave! Thanks for all your help. I'll plan on filing a PR with a new `CollectAbstractUtility` method to uppercase its string parameter if that parameter equals `"gps"` - and I'll do it with the one-line ternary approach. Have a great rest of your day!

[2018-05-06 19:47] dcbriccetti commented on #2156
I just had a thought. How about inserting an abstract parent, `LocationActivity` between the three classes and `CollectAbstractActivity`, and putting the method there?

[2018-05-06 20:51] KiaFarhang commented on #2156
Ah, so we keep the functionality constrained to just the classes that need
it? I like that, I can take that approach.

On Sun, May 6, 2018, 2:47 PM Dave Briccetti <notifications@github.com>
wrote:

[2018-05-07 07:43] xsteelej commented on #620
Work in progress

[2018-05-07 09:13] ShenJack commented on #2159
@opendatakit-bot claim

[2018-05-07 09:15] ShenJack commented on #2159
I've reproduced, I'll try fixing them. @mmarciniak90 @lognaturel

[2018-05-07 10:47] lakshyagupta21 commented on #1741
@opendatakit-bot claim

[2018-05-07 13:51] mmarciniak90 opened #2171 "Selected forms are automatically unselected when user clicks on search icon on `Send Finalized Form` view"
#### Software and hardware versions
Collect - master

#### Problem description
Selected forms are automatically unselected when the user clicks on the search icon on `Send Finalized Form` view

#### Steps to reproduce the problem
1. The user opens `Send Finalized Form`
2. The user clicks on `Select All` button (problem is not visible when the user selects checkboxes one by one)
3. The user clicks

[2018-05-07 16:12] #2153 closed, assigned to nobody

[2018-05-07 16:14] #2135 closed, assigned to nobody

[2018-05-07 17:57] lakshyagupta21 commented on #2171
@opendatakit-bot claim

[2018-05-07 21:19] yanokwa opened #2173 "Show form version and form id when deleting blank forms"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
Under Delete Saved Form > Blank Forms, the form list should also show the form version and form ID, similar to what Fill Blank Form and Get Blank Form does. To be precise, I expect the UI to look like...

Version: 123456 ID: form-title

#### Steps to reproduce the problem
Download a form wi

[2018-05-07 23:05] lognaturel commented on #1220
No super strong feelings here so let's keep it as-is for now.

[2018-05-07 23:05] #1220 closed, assigned to nobody

[2018-05-07 23:06] lognaturel commented on #1972
Thanks for the attempted reproductions, @grzesiek2010, @mmarciniak90. I'm not able to trigger the issue either.

[2018-05-07 23:06] #1972 closed, assigned to nobody

[2018-05-07 23:15] lognaturel commented on #95
I think this is really just a documentation issue so I've moved it there https://github.com/opendatakit/docs/issues/702

[2018-05-07 23:15] #95 closed, assigned to nobody

[2018-05-07 23:17] lognaturel commented on #190
No response from @ni-ka. It seems likely this is an issue with certain camera apps. @ni-ka if this is still a problem and if you have more info, please re-open!

[2018-05-07 23:17] #190 closed, assigned to nobody

[2018-05-07 23:18] #1350 closed, assigned to nobody

[2018-05-07 23:19] lognaturel commented on #1121
This is really a pyxform issue -- filed at https://github.com/XLSForm/pyxform/issues/182!

[2018-05-07 23:19] #1121 closed, assigned to nobody

[2018-05-07 23:22] lognaturel commented on #1654
I agree this is ok. I think of the screen options as something at the enumerator's discretion to help them do their work more easily.

[2018-05-07 23:22] #1654 closed, assigned to nobody

[2018-05-07 23:23] lognaturel commented on #1455
Thanks, @grzesiek2010 and @icemc, you're right that the admin can continue seeing all user settings.

[2018-05-07 23:23] #1455 closed, assigned to nobody

[2018-05-07 23:23] #1351 closed, assigned to nobody

[2018-05-08 04:30] lakshyagupta21 opened #2175 "Multiple submissions when finalized form is edited and saved again"
#### Software and hardware versions
Collect v1.14

#### Problem description
User is able to see multiple submissions of form when edits the finalized form

#### Steps to reproduce the problem
1. Set forms to `Auto send` from `General settings`>`Form management`
2. Fill a form, save and finalize it (Attach some images so that it takes time to upload)
3. `Edit Saved Form`
4. Open the same form (Will

[2018-05-08 07:46] grzesiek2010 commented on #2158
@opendatakit-bot claim

[2018-05-08 15:40] #2144 closed, assigned to nobody

[2018-05-08 15:40] #1741 closed, assigned to nobody

[2018-05-08 15:42] #2068 closed, assigned to nobody

[2018-05-09 09:19] grzesiek2010 commented on #1694
@opendatakit-bot claim

[2018-05-09 11:17] grzesiek2010 opened #2179 "Replace the activity we show after clicking on a notification with a dialog"
#### Problem description
Currently, we show a notification after sending forms automatically in the background. Once we merge #2095 a similar notification will be displayed for downloaded forms. After clicking on such a notification a simple activity just with result message is displayed.

According to the request from
https://github.com/opendatakit/collect/pull/2095#pullrequestreview-118142620
ht

[2018-05-09 16:29] KiaFarhang commented on #2156
Hi @dcbriccetti , wanted to follow up before I file the PR. I know the contributors' guide recommends using string resources instead of string literals. I don't know if that would apply for an acronym like GPS.

Do you think it's safer to add `"gps"` as a string resource and simply have the capitalization method call `toUpperCase()` as necessary, rather than hard coding the string `"gps"` into the

[2018-05-09 16:43] dcbriccetti commented on #2156
I suggest hard coding if the API doesn't translate gps into other languages.

Sent from a hand computer

[2018-05-09 19:11] grzesiek2010 commented on #2112
@opendatakit-bot claim

[2018-05-09 19:14] KiaFarhang commented on #2156
Thanks so much for all your help! Just filed the PR :)

[2018-05-09 19:24] #54 closed, assigned to nobody

[2018-05-09 21:43] surajdubey commented on #2173
I'd love to work and submit PR on this @yanokwa

[2018-05-09 21:46] yanokwa commented on #2173
Awesome! Read https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md and there will be instructions on what to do to claim the issue.

[2018-05-10 09:09] grzesiek2010 commented on #2118
@opendatakit-bot claim

[2018-05-10 12:18] mmarciniak90 commented on #2009
@lognaturel  @lakshyagupta21
This issue was created because we talked about change progress bar style to more modern.
If we do this change, we should also ensure cohesion and add the new progress bar to Google Drive case.

[2018-05-10 19:42] #2007 closed, assigned to nobody

[2018-05-10 19:43] #2147 closed, assigned to nobody

[2018-05-10 19:45] #1052 closed, assigned to nobody

[2018-05-10 20:58] lognaturel commented on #1124
@huangyz0918 @mathieubossaert You can see at https://opendatakit.github.io/xforms-spec/#data-types that in the form specification a shape is defined as having the same points at start and end. If that's not desired for downstream analysis tools, a trace should be collected rather than a shape.

It sounds like the issue then is that lines with 1 point and shapes with 2 points can be saved. A soluti

[2018-05-11 10:59] huangyz0918 commented on #1124
It sounds good to me! @lognaturel
@opendatakit-bot claim

[2018-05-11 12:10] huangyz0918 commented on #1124
disable the buttons may confuse users since they don't know how to enable them. How about sending a toast and do not return? @lognaturel

it's a version waiting for your review #2162

[2018-05-11 13:37] ShenJack commented on #2159
@lognaturel  since this fix may need to show saving dialog during fetching audio/video from google drive, the previous version only have "saving_image_dialog" and "saving_dialog" to show, should there be more dialog such as "saving_audio_dialog", or just use "saving_dialog" instead ?

[2018-05-11 21:54] lognaturel commented on #1124
You're right, @huangyz0918, and I like your counter proposal! @mathieubossaert, what do you think?

[2018-05-12 07:53] xsteelej commented on #943
Awaiting test

[2018-05-14 07:25] grzesiek2010 opened #2191 "Crash in Import/Export settings"
#### Software and hardware versions
Current master branch

#### Problem description
The app crashes after opening `Import/Export settings`

#### Other information

                                                                             at android.support.v7.view.SupportMenuInflater$MenuState.readItem(SupportMenuInflater.java:422)

[2018-05-14 07:26] grzesiek2010 commented on #2191
@opendatakit-bot claim

[2018-05-14 08:02] grzesiek2010 opened #2193 "Save icon in Import/Export settings is always black even in Dark Theme"
#### Software and hardware versions
Current master branch

#### Problem description
Save icon in Import/Export settings is always black even in Dark Theme
I discovered the issue after fixing #2191

#### Other information
![screenshot_2018-05-14-10-00-23](https://user-images.githubusercontent.com/3276264/39985160-ebc1a176-575d-11e8-844d-95b760526763.png)

[2018-05-14 08:02] grzesiek2010 commented on #2193
@opendatakit-bot claim

[2018-05-14 08:19] grzesiek2010 opened #2195 "Replace icons we use in DrawView with vectors"
#### Problem description
Replace icons we use in DarwView with vectors

Icons we should replace:
ic_clear_white
ic_save_white
ic_color_lens_white
ic_add_white

#### Steps to reproduce the problem
1. Open `All Widgets` form
2. Navigate to `Draw widget`

#### Expected behavior
All mentioned icons should be replaced with vectors.

#### Other information
![screenshot_2018-05-14-10-14-48](https://user-

[2018-05-14 08:19] grzesiek2010 commented on #2195
@opendatakit-bot label "quick win"

[2018-05-14 08:28] grzesiek2010 opened #2196 "Replace pngs we use in General Settings with vectors"
#### Software and hardware versions
Collect v1.14.2

#### Problem description
Replace pngs we use in `General Settings` with vectors

#### Other information
**It should be done once we stop supporting android 4 since there is no easy way to replace these icons with vectors (android 4 would require doing that programmatically).**

Icons we should replace:

ic_cloud
ic_phonelink_setup
ic_assignment

[2018-05-14 08:29] grzesiek2010 commented on #2196
@opendatakit-bot label "quick win"

[2018-05-14 08:36] grzesiek2010 opened #2197 "The attachment icon is ArbitraryFileWidget is always black even in Dark theme"
#### Software and hardware versions
Current master branch

#### Other information
![screenshot_2018-05-14-10-32-06](https://user-images.githubusercontent.com/3276264/39986660-a57b5540-5762-11e8-8145-4dc37cdfba09.png)

[2018-05-14 08:36] grzesiek2010 commented on #2197
@opendatakit-bot claim

[2018-05-14 09:50] grzesiek2010 opened #2199 "Dropdown icon in Server Settings is black in Dark theme"
#### Software and hardware versions
Current master branch

#### Problem description
Dropdown icon in Server Settings is black in Dark theme

![screenshot_2018-05-14-11-49-06](https://user-images.githubusercontent.com/3276264/39990464-ea61f0b0-576c-11e8-96fc-c20f9d547dc6.png)

[2018-05-14 09:50] grzesiek2010 commented on #2199
@opendatakit-bot claim

[2018-05-14 09:54] mmarciniak90 opened #2200 "The user sees success information in notification even if an error occurs"
#### Software and hardware versions
Collect with #2095

#### Problem description
The user sees success information in notification although error occurred
#### Steps to reproduce the problem
1. The user has selected `Automatic download` in Form Update settings
2. The new version of the form is available but internet connection error occurred during downloading
3. The user sees success information

[2018-05-14 10:05] mmarciniak90 opened #2202 "Full message from the newest notification is visible even if the user clicks on the older notification"
#### Software and hardware versions
Collect with #2095

#### Problem description
Full message from the newest notification is visible even if the user clicks on the older notification

#### Steps to reproduce the problem
1. Few types of notification are visible
![screenshot_20180514-103356](https://user-images.githubusercontent.com/3907554/39990793-0dfa1f08-575d-11e8-8a5f-52cd616a9495.png)
1a. Not

[2018-05-14 16:17] jaindiv26 commented on #2196
@opendatakit-bot claim

[2018-05-14 16:38] lognaturel commented on #2159
@ShenJack Nice to see you and thanks for taking this on! I think using the generic `saving_dialog` is a fine approach and it looks like that's what you've done in #2189. 🎉

[2018-05-14 16:54] #1668 closed, assigned to nobody

[2018-05-14 16:59] lognaturel opened #2203 "Forms from Ona accounts appear to always have new versions available"
Following up from https://github.com/opendatakit/collect/pull/2095#issuecomment-388354205

@ukanga and @jasonrogena have verified that the formList response doesn't have any differences. This happens with forms that don't have any attachments (and thus no `manifestUrl`).

[2018-05-14 17:26] lognaturel commented on #2203
I can't reproduce from https://ona.io/lognaturel/. I downloaded the form with ID `timestamp-tests` to Collect, then verified that no new version was shown as available from Get Blank Form. Then I added a media attachment and verified that a new version was shown as available from Get Blank Form. I downloaded that new version and then verified no new version was shown as available from Get Blank Fo

[2018-05-14 17:31] #2167 closed, assigned to nobody

[2018-05-14 17:49] jaindiv26 commented on #2173
@opendatakit-bot claim

[2018-05-14 17:58] lognaturel commented on #644
👏 Storage permissions complete, thank you @jd-alexander!!

The good news is that I think this was the toughest one. I've updated the original issue so we can keep track of which ones are addressed.

[2018-05-15 07:18] grzesiek2010 commented on #2203
I asked @ukanga about `xformsList` https://github.com/opendatakit/collect/pull/2095#issuecomment-388780577 because I'm curious what value we receive: For example in our (ODK Aggregate) case it's:
`<hash>md5:29a492009d35c1515886ddd307521819</hash>`
Is it possible that ONA sends the same hash but without `md5: `prefix?

[2018-05-15 11:09] ukanga commented on #2203
No, Ona includes `md5:` prefix. See https://odk.ona.io/lognaturel/formList and https://odk.ona.io/lognaturel/xformsManifest/223348.

[2018-05-15 11:12] grzesiek2010 commented on #2203
@lognaturel

yes but @lognaturel is not able to reproduce the issue so I'm asking about your instance. Could you share it also?

[2018-05-15 11:51] ukanga commented on #2203
@grzesiek2010  Check https://odk.ona.io/ukd/formList,  the form with the name `idm`.

[2018-05-15 13:42] mmarciniak90 opened #2211 "Extra orientation changing is visible after back from drawing view on Android 8.1"
#### Software and hardware versions
Collect v1.14.0
Android 8.1

#### Problem description
Extra orientation changing is visible after back from drawing view on Android 8.1

#### Steps to reproduce the problem
1. The user opens `Draw widget` or `Annotate widget` or `Signature widget`
2. The user is on `drawing view`
3. User backs to question
4. If the user uses a device on portrait position, the ex

[2018-05-15 13:59] huangyz0918 commented on #2211
@opendatakit-bot claim

[2018-05-15 18:03] lognaturel commented on #2203
I don't see a form with name `idm`. Any chance there could be something different going on with private forms? I haven't tried one of those.

Are all the forms in your account showing that updates are available or only some? If it doesn't seem to be a private/public issue, any other pattern you can see?

[2018-05-15 18:10] #1401 closed, assigned to nobody

[2018-05-15 18:19] #2156 closed, assigned to nobody

[2018-05-15 18:20] #2112 closed, assigned to nobody

[2018-05-15 18:29] #943 closed, assigned to nobody

[2018-05-16 01:35] huangyz0918 commented on #2101
@opendatakit-bot yes, dude

[2018-05-16 13:35] ShenJack commented on #2202
@opendatakit-bot claim

[2018-05-16 13:39] grzesiek2010 commented on #2200
@opendatakit-bot claim

[2018-05-16 16:08] #2191 closed, assigned to nobody

[2018-05-16 20:12] yanokwa opened #2213 "Lighten select_one popups"
#### Software and hardware versions
Collect v1.15 beta 0

#### Problem description
According to https://forum.opendatakit.org/t/odk-collect-v1-15-beta/13086/9, the select one with minimal appearance is a little too dark.

I agree that select_one it could be a little lighter. It's currently #303030 and it could probably be #3f3f3f to match other pop up dialogs (it's kind of a pop up).

[2018-05-16 20:12] yanokwa commented on #2213
@shobhitagarwal1612 this might be a good one for you to claim.

[2018-05-16 22:03] lognaturel opened #2214 "ArrayOutOfBoundsException in FileArrayAdapter.getView"
`holder.onBind(items.get(position));` is the line the crash happens on.

This code was recently added in #1970 to add a dynamic search bar to Google drive.

[2018-05-16 23:56] jd-alexander commented on #2165
@shobhitagarwal1612 How does the buttons on the `MainScreenActivity` get their colour? I want to use that setup for a component but at first glance I haven't been able to figure it out.

[2018-05-17 01:41] #2165 closed, assigned to nobody

[2018-05-17 01:42] #2193 closed, assigned to nobody

[2018-05-17 01:45] lognaturel commented on #2197
Closed in #2178

[2018-05-17 01:45] #2197 closed, assigned to nobody

[2018-05-17 03:05] shobhitagarwal1612 commented on #2165
@jd-alexander the buttons are coloured implicitly. We don't need to mention the colour, it automatically picks from the current theme

[2018-05-17 03:06] ghost opened #2215 "Newline Button Shows Instead of Enter Button"
#### Software and hardware versions
Collect v1.14.2, Android v7.0, Samsung Galaxy Note 5

#### Problem description
On many forms, you cannot press any button to confirm a string in a TextEntry field. Tapping outside the field doesn't finalize that text entry either. You have to tap the next box.

#### Steps to reproduce the problem
From Home Screen tap on Fill Blank Form, then tap on Biggest N of

[2018-05-17 17:44] #2171 closed, assigned to nobody

[2018-05-17 17:51] masudr4n4 opened #2217 "logo design contribution"
i am not seeing any logo for your project.so i  want to make a logo for your project.if you have any requirements then lety me know.its free for open source project.

[2018-05-17 18:41] lognaturel commented on #2217
Thank you, @maaudrana! The ODK logo is currently the one used for example for the Twitter account: https://twitter.com/opendatakit

There is some interest in developing a new one. The discussion is at https://forum.opendatakit.org/t/develop-a-new-logo/9632 but not very active because there are a lot of other projects going on right now.

[2018-05-17 18:41] #2217 closed, assigned to nobody

[2018-05-17 22:52] grzesiek2010 commented on #2214
I tried to reproduce the issue but without success. Can't even see anything wrong in the code. There is only one report so hopefully, it's not a common problem.

[2018-05-17 23:12] grzesiek2010 commented on #2215
@opendatakit-bot label "needs discussion"

[2018-05-17 23:35] grzesiek2010 commented on #2203
I made a quick test:

1. Go to https://odk.ona.io/ukd/formList
The first form is:

[code]
2. Download the firs form using downloadUrl: https://odk.ona.io/ukd/forms/305256/form.xm
3. Calculate md5 hash using an online tool like http://onlinemd5.com/
4. My result is: `C08154A4E4F23C4A9E0DAC009FC2ABAF` but the hash recived (and visible above) is `8384506fd51c00a94a6c30074fca1e96`

Then I performed th

[2018-05-18 05:49] shobhitagarwal1612 opened #2219 "Add changelog after upgrade or first launch"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
Display a changelog dialog after every app update/new install

Sample changelog ui

![changelog-demo-gif](https://user-images.githubusercontent.com/8918023/40218008-f8b8e7e0-5a8c-11e8-884c-25d695d241b2.gif)

[2018-05-18 16:29] lognaturel opened #2221 "Revert using hyperlink for gsheets attachments"
As of Collect v1.14.0, gsheet attachments show the filename without the path in the results sheet. That filename is hyperlinked to the file itself. That change was included in #1851 and not discussed as far as I can remember.

The change is problematic because it means users can't do things like easily write scripts to pull all media files. Since the filenames are not terribly meaningful, the chan

[2018-05-18 16:50] grzesiek2010 commented on #2221
Only two users complained about that feature and I wrote a script that extracts all hyperlinks https://forum.opendatakit.org/t/theres-a-way-to-import-photos-on-google-sheet-in-such-a-way-that-i-have-the-link-to-the-photo-with-jpg/12560/4?u=grzesiek2010

maybe we should a new option in settings to let users decide?

[2018-05-18 17:08] lognaturel commented on #2221
I don't see any benefit to the hyperlink approach, though! And two users complaining in such a short time is a lot -- that probably means a lot more are experiencing problems with it.

[2018-05-18 17:30] #2199 closed, assigned to nobody

[2018-05-18 17:58] lognaturel commented on #2215
Hi @RyanProffitt and thanks for reporting this!

I agree it's not ideal but the enter button is there because newlines are supported in text boxes and can be useful for longer answers.

Some options I see:
- Use the suggestion bar to include next / prev buttons
- Introduce an appearance to disallow newlines in text inputs
- Always disallow newlines in text inputs in field-lists (this is risky beca

[2018-05-18 18:54] grzesiek2010 commented on #2221
Do you think we should get rid of that in repeat-group names or only in media files? You know if you have a repeat group it's in a separate sheet and you have a hyperlink in the main sheet.

[2018-05-18 19:09] lognaturel commented on #2221
Ahh, I see, that's where the change came from, that makes sense. Using a hyperlink for the repeat sheets seems totally fine to me. Sheets aren't downloadable entities so having the full link directly available isn't as helpful. Can you think of something a user would be able to do with the direct sheet hyperlink? I can't.

[2018-05-18 19:24] grzesiek2010 commented on #2221
me neither, I agree.

[2018-05-18 20:06] xsteelej commented on #620
opendatakit-bot claim

[2018-05-18 20:09] xsteelej commented on #1475
opendatakit-bot claim

[2018-05-18 20:31] andreimarcut commented on #620
@xsteelej I think I could help, in case u need an extra hand..

[2018-05-18 20:47] xsteelej commented on #620
@andreimarcut, thanks for the offer. I've got fairly far down the road with this one. I plan to make two pull requests:

1) A pull request that has refactored the code so that the rest of the app just uses an interface to make HTTP requests, with a concrete implementation that is still dependant on HTTPClient. Basically this will have reduced the dependency down to one place.

2) The second pull r

[2018-05-18 21:05] andreimarcut commented on #620
@xsteelej I am available to help anywhere down the road, just notify me

[2018-05-18 21:14] xsteelej commented on #620
Thanks @andreimarcut, I appreciate the offer 👍

[2018-05-18 22:05] grzesiek2010 commented on #1753
@opendatakit-bot claim

[2018-05-19 21:22] surajdubey commented on #2173
@opendatakit-bot claim

[2018-05-19 21:24] surajdubey commented on #2173
@opendatakit-bot claim --force

[2018-05-20 08:32] shobhitagarwal1612 commented on #2109
@opendatakit-bot claim

[2018-05-21 12:32] SaumiaSinghal commented on #2173
@opendatakit-bot claim

[2018-05-21 12:46] SaumiaSinghal commented on #2173
@opendatakit-bot claim --force

[2018-05-21 13:05] SaumiaSinghal commented on #2173
Thanks @opendatakit-bot ..:)
I got the problem...I'll try working on it @yanokwa

[2018-05-21 13:19] kkrawczyk123 commented on #705
Crash reproduced on Androids: 6.0, 7.0 and 8.1
App did not crash but audio file not saved on Androids: 4.1, 4.2 and 4.4

[2018-05-21 16:23] adhiljuvane commented on #2195
Replaced icons in DrawView using vectors in #2226

[2018-05-21 18:47] yanokwa commented on #2159
This is also an issue on the file widget, but we should fix that in a separate PR.

[2018-05-21 19:15] bartekfi commented on #1964
@opendatakit-bot claim

[2018-05-21 19:16] bartekfi commented on #1964
@opendatakit-bot claim --force

[2018-05-22 03:24] nodarik commented on #2221
I will note one thing here

@grzesiek2010 thank you for the script but it handy if the user has not big date, in my case where we have more than 10000 rows script was not succeeded because of timeout and it did not do his job actually, also there is other problems, i cant run script every time we receive new data, that's not possible .
Overall, dealing with raw data is much easier, everyone can wr

[2018-05-22 06:38] mathieubossaert commented on #1124
Good morning.
The only problem is that a polygon must have at list 3 different edges and a line at least 2 different vertices. @lognaturel solution sounds good to me.
Sorry for my silence during past weeks.

[2018-05-22 10:46] grzesiek2010 opened #2229 "Users are moved to form list instead of main menu after saving a form"
#### Software and hardware versions
Current master branch

#### Problem description
My quick investigation told me it's caused by https://github.com/opendatakit/collect/pull/2119

I'm not sure but I guess it was implemented by accident.

#### Steps to reproduce the problem
1. Open and save any form
2. You are moved back to the form list

#### Expected behavior
We had been moving to the main menu b

[2018-05-22 12:19] jd-alexander commented on #2229
@grzesiek2010  I am gonna have a look. Thanks for catching this!

[2018-05-22 15:16] grzesiek2010 commented on #2179
@opendatakit-bot claim

[2018-05-22 15:33] jasonrogena commented on #2203
The issue was with how Onadata generates the MD5 hash for the xform (https://github.com/onaio/onadata/issues/1417) which @ukanga has just fixed.

I think this issue can be closed.

[2018-05-22 15:35] lognaturel commented on #2203
Thank you for the detective work, @grzesiek2010 -- was good to get those repro steps. 🔎

And great to know it's fixed for Ona users, @jasonrogena and @ukanga!

[2018-05-22 15:35] #2203 closed, assigned to nobody

[2018-05-22 17:36] #2221 closed, assigned to nobody

[2018-05-22 17:37] lognaturel commented on #2221
Thank you very much for that extra context @nodarik. Thanks to @grzesiek2010 the change has been reverted and when 1.15 comes out next week you'll be able to use that version and get the raw URL in media columns.

[2018-05-22 17:53] #1694 closed, assigned to nobody

[2018-05-22 18:00] lognaturel opened #2230 "Radio buttons aren't visible in dark mode with Android 4.4.2"
#### Software and hardware versions
Collect v1.15.beta.0 Huawei Y336 with Android version 4.4.2.

#### Problem description
Radio buttons are black on a dark gray background.
![](https://opendatakit-a3b1.kxcdn.com/uploads/default/original/2X/0/0ffec18446a9c14292b5d338b9fbb93d03569823.png)

#### Steps to reproduce the problem
Go to a question with radio buttons.

#### Expected behavior
Radio buttons

[2018-05-22 18:34] lognaturel commented on #2219
The challenge with these kinds of "first launch experiences" is that Collect's end users are often not the people who need to be aware of these kinds of changes. A lot of enumerators are lightly trained to perform very specific data collection tasks and do not have broad technology know-how or sometimes even high literacy. In fact, some users are illiterate which is why the media questions are so

[2018-05-22 19:43] #2109 closed, assigned to nobody

[2018-05-22 20:38] shobhitagarwal1612 commented on #2219
I have the auto update feature enabled in play store so it updates the apps in background. So if I clear the notification of successful update, then while opening the app, I forget that it has upgraded and once it's updated then the chances of one to open play store to see the features added is likely to be less

[2018-05-22 20:39] shobhitagarwal1612 commented on #2219
Only keeping the "new in this version" sounds good to me

[2018-05-22 20:41] lognaturel commented on #2219
I think that's true for most people. And what's important is that updates be for the most part completely seamless for enumerators. If their organization wants to leverage new features, they will tend to do a retraining.

[2018-05-23 10:47] grzesiek2010 commented on #2230
@opendatakit-bot claim

[2018-05-23 11:31] mmarciniak90 opened #2235 "Invalid question is not highlighted in red on the field list on Android 4.1"
#### Software and hardware versions
Collect with #2184
Android 4.1

#### Problem description
Invalid question is not highlighted in red on the field list

#### Steps to reproduce the problem
1. The user fills a form with the field list with validation
2. The user puts invalid answers
3. The user tries to go next/finish form
4. The user is moved to the field list, sees toast but an invalid question

[2018-05-23 15:56] nodarik commented on #2221
you guys are simply awesome!

[2018-05-23 16:11] yanokwa commented on #2221
@nodarik You aren't so bad yourself. Thank you for reporting the issue!

[2018-05-23 18:31] #1753 closed, assigned to nobody

[2018-05-23 18:31] grzesiek2010 commented on #2005
@nodarik
you are a real user so I think it's a good idea to ask you about your opinion because after that situation with reverting hyperlinks I'm a little bit afraid of such changes :smile:

[2018-05-23 18:32] #2213 closed, assigned to nobody

[2018-05-23 18:34] #2118 closed, assigned to nobody

[2018-05-23 18:35] #2101 closed, assigned to nobody

[2018-05-23 18:43] #2003 closed, assigned to nobody

[2018-05-23 18:44] lognaturel commented on #2003
@huangyz0918 Oh, I hadn't noticed that you successfully reproduced this! Were you able to confirm #2150 fixes it?

[2018-05-23 18:58] #1124 closed, assigned to nobody

[2018-05-23 19:26] lognaturel commented on #2005
Agreed it would be great to get feedback from @nodarik!

My guess is that the current structure is sufficient. I'm guessing most users access media from the spreadsheet so the directory structure doesn't matter much. The access can be either by clicking on the link to the media or like @nodarik, scripting to pull all media files. In fact, a flat structure makes most scripting easier.

[2018-05-23 20:00] grzesiek2010 opened #2238 "XmlPullParserException: Binary XML file line #1: invalid drawable tag vector"
#### Problem description

                                                                         android.content.res.Resources$NotFoundException: File res/drawable/ic_place.xml from drawable resource ID #0x7f0800a8. If the resource you are trying to use is a vector resource, you may be referencing it in an unsupported way. See AppCompatDelegate.setCompatVectorFromResourcesEnabled() for more info

[2018-05-24 11:41] mmarciniak90 opened #2240 "Incorrect icon in the header is sometimes visible - Android 5.1 - unknown steps to reproduce"
#### Software and hardware versions
Collect - master
Android v5.1
Huawei Y5

#### Problem description

| Correct icon | ![screenshot_2018-06-02-14-32-44](https://user-images.githubusercontent.com/3907554/40483301-09007668-5f47-11e8-8136-512e3fbeae8a.png)|
|---|---|

|Incorect icon| ![screenshot_2018-06-02-14-32-27](https://user-images.githubusercontent.com/3907554/40483322-1d8c3d7e-5f47-11e8-81bb-

[2018-05-24 14:51] huangyz0918 commented on #2240
I think the shape of the icon is controlled by the system launcher (in some special ROMs), they use the same shape and icon appearance to unify the design. Like MIUI (XiaoMi), EMUI (Huawei) and happened in specific API levels. I don't know how to fix this, maybe it cannot be fixed since it was decided by the ROM version. @mmarciniak90

[2018-05-24 16:05] grzesiek2010 opened #2241 "Bugs in Dark Theme"
#### Software and hardware versions
Collect v1.15.0 beta 2

#### Problem description
I made a final investigation of DarkTheme and discovered a few bugs:

- Black almost not visible dividers in some SelectOne questions and SelectMultiple questions:
![screenshot_2018-05-24-17-54-04](https://user-images.githubusercontent.com/3276264/40497304-2d437770-5f7c-11e8-9c5a-91e8d71ad646.png)
![screenshot_201

[2018-05-24 16:05] grzesiek2010 commented on #2241
@opendatakit-bot claim

[2018-05-24 17:41] #2229 closed, assigned to nobody

[2018-05-24 17:41] #2238 closed, assigned to nobody

[2018-05-24 18:12] lognaturel commented on #2240
That sounds exactly right, @huangyz0918. I'm guessing there isn't really anything we can do about it and I think that's ok. It's the joy of Android customizability!

[2018-05-25 01:09] jd-alexander commented on #2219
I agree with @lognaturel on this. Most apps just put changelogs on their Settings screen so if a user is interested in what has been changed after an update they can navigate their and view it.

[2018-05-25 06:05] surajdubey commented on #2127
@opendatakit-bot claim

[2018-05-25 07:20] kkrawczyk123 opened #2243 ""This is an update to a form you have" message disappears after canceling and refreshing connection to the server."
#### Software and hardware versions
Collect v1.15.x, Android v4.4, 6.0 probably others too,

#### Problem description
"This is an update to a form you have"  message disappears after canceling and refreshing connection to the server.

#### Steps to reproduce the problem
1. Click on Get Blank form - Forms to download displays, the green message "This is an update to a form you have" is present.
2.

[2018-05-25 09:08] huangyz0918 commented on #2243
@opendatakit-bot claim

[2018-05-25 09:24] mmarciniak90 opened #2244 "Dark theme is not applied to the main menu when user load settings from collect.settings file"
#### Software and hardware versions
Collect master

#### Problem description
Dark theme is not applied to the main menu when user load settings from collect.settings file

#### Steps to reproduce the problem
1. The user puts [collect.settings.txt](https://github.com/opendatakit/collect/files/2038789/collect.settings.txt) file to odk directory
2. The user opens Collect app
3. The user sees the main

[2018-05-25 09:24] grzesiek2010 commented on #2244
@opendatakit-bot claim

[2018-05-25 18:18] andreimarcut commented on #1918
@opendatakit-bot claim --force

[2018-05-25 18:58] andreimarcut commented on #1918
The strategy I'd like to apply here is to first clean-start the build process (by setting up a private build environment) and then, moving forward, I would like to profile the build and rebuild times in various scenarios. Further on, we should identify actual performance gaps and improve where it's efficiently possible.

[2018-05-25 19:12] yanokwa commented on #1918
Hi @andreimarcut! This sounds like a good strategy. The caveat here is that the behavior of the build on CircleCI is going to be different than a local build env. But if you create a fork of Collect and work in a feature branch to optimize build_debug and test_unit, you should be able to get quite far. Have you worked with CircleCI before?

[2018-05-25 19:17] andreimarcut commented on #1918
I already forked the repo and set up a private build machine on circleci. Worked on CircleCI since version 1 and also recently adapted/enhanced some scripts to version 2 for other projects.
However, before attempting any optimizations here, I need some data/facts to help figure out and understand the cause and the improvement options..

[2018-05-25 19:18] yanokwa commented on #1918
Sounds like we are in great hands! If there is anything I can help with, please ask. And if you need real-time ish responses, most of us are in #collect-code channel on http://slack.opendatakit.org.

[2018-05-26 05:39] madappally commented on #1385
What's the status of this feature?

[2018-05-26 05:42] lognaturel commented on #1385
It is complete and released. For information about releases, follow https://forum.opendatakit.org/c/releases and the features category.

[2018-05-26 19:08] andreimarcut commented on #1918
I've experimented around 30 runs with different configs, starting from the description of this need.

I've successfully enabled external dependency caching for build_debug and test_unit jobs, which returns an average 10% gain in terms of build time

I've also incremented the machine image from API 26 to API 27, to avoid an unnecessary prerequisite which took from 10 to 20 seconds on the CI set-up

[2018-05-26 19:14] andreimarcut commented on #1918
I opened a pull request for the current progress, I believe the project could benefit of these improvements while other ideas could emerge

Please check https://github.com/opendatakit/collect/pull/2247

[2018-05-26 21:43] SaumiaSinghal commented on #2035
@opendatakit-bot claim

[2018-05-27 04:00] ShenJack commented on #2202
@opendatakit-bot unclaim

[2018-05-27 07:31] shobhitagarwal1612 commented on #757
Unable to reproduce the issue

[2018-05-27 08:06] shobhitagarwal1612 opened #2249 "IOException while uploading instances to aggregate"
#### Problem description
The following error is logged everytime an instance is uploaded.

[code]

#### Steps to reproduce the problem
Upload any instance to aggregate server.

#### Expected behavior
No error should be logged as the instance is uploaded successfully

@opendatakit-bot claim

[2018-05-27 21:10] SaumiaSinghal commented on #2035
Hie @lognaturel ...there's a little confusion if this issue is still open or not..If it's still open, I would like to give it a shot.

[2018-05-27 21:50] bartekfi commented on #1964
@lognaturel [Pull request](https://github.com/opendatakit/collect/pull/2251) that fixes this issue is created and ready to be reviewed.

[2018-05-28 12:20] SaumiaSinghal commented on #2035
I just went through the code and found the widgets tests that need to be removed is testRangeDecimalVertical()...and the widgets whose tests need to be added are range_picker_integer_widget, image_without_choose_button_widget, selfie_video_widget, file_with_no_appearance_widget, select_one_image_widget, select_multiple_image_widget.

This list is slightly different from the one suggested by @vigne

[2018-05-29 08:55] SaumiaSinghal commented on #2195
Hie @grzesiek2010 ...I would like to work on this issue.

[2018-05-29 08:58] grzesiek2010 commented on #2195
Hi @SaumiaSinghal

a pull request for this issue is almost ready #2226 I requested some changes and no answer for 8 days so let's wait a few days more and then we can close the current one and let you work on this.

[2018-05-29 09:15] SaumiaSinghal commented on #2195
Okay @grzesiek2010, Just let me know about it...Thanks :)

[2018-05-29 10:24] atl2017 commented on #2007
Hi @lognaturel  how can test it in xlsform? Or Is it possible to include in "All Widgets" form?

[2018-05-29 14:09] mmarciniak90 opened #2258 "The user is not able to add files from Google Drive to File widget"
#### Software and hardware versions
Collect master
Android 5.1, 6.0, 7.0, 8.0

#### Problem description
The user is not able to add files from Google Drive to `File widget`

#### Steps to reproduce the problem
1. The user tries to add a file from Google Drive to `File widget`
2. The user sees a message in toast and file is not attached

#### Expected behavior
The user is able to add a file from Go

[2018-05-29 15:29] #2159 closed, assigned to nobody

[2018-05-29 18:24] SaumiaSinghal commented on #2258
@opendatakit-bot claim

[2018-05-29 18:33] #1918 closed, assigned to nobody

[2018-05-29 20:22] lognaturel commented on #2258
@SaumiaSinghal Thanks so much for your interest in this issue! I missed @ShenJack's comment at https://github.com/opendatakit/collect/pull/2189#issuecomment-392821948 -- since he's already fixed this in another place, let's let him take this one on.

[2018-05-29 20:55] lognaturel opened #2259 "Database migrations are not executed if app is not launched directly"
#### Software and hardware versions
Collect versions that involve a database change

#### Problem description
When Collect isn't launched directly, database migrations may not be run.

#### Steps to reproduce the problem
I haven't yet reproduced it myself but this is the likely scenario.

1. Set autosend to true, turn off connectivity
1. Finalize a form
1. Update Collect but don't open it
1. Turn

[2018-05-30 09:44] SaumiaSinghal commented on #2158
Hie @mmarciniak90 ...It seems like collect is having a problem in uploading large size images.

[2018-05-30 10:45] SaumiaSinghal commented on #2158
@opendatakit-bot claim

[2018-05-30 12:51] mmarciniak90 opened #2262 "Problem with visibility of inactive icons on Geo Widgets"
#### Software and hardware versions
Collect v1.15.0

#### Problem description
 Problem with visibility of inactive icons on Geo Widgets

#### Steps to reproduce the problem

**Use case 1: Google Maps**
1. The user opens Geo widgets
2. Inactive icons look like active on all Android version

**Use case 1: OpenStreetMap**
1. The user opens Geo widgets
2. Inactive icons look like active on Android 5.1

[2018-05-30 18:53] #2081 closed, assigned to nobody

[2018-05-30 18:54] #2241 closed, assigned to nobody

[2018-05-30 22:21] #1844 closed, assigned to nobody

[2018-05-30 22:21] #2230 closed, assigned to nobody

[2018-05-30 23:26] lognaturel commented on #2249
On hold until #2257 is merged.

[2018-05-31 14:03] CRMinges commented on #2196
@opendatakit-bot claim

[2018-06-01 08:12] xsteelej commented on #620
@andreimarcut, I raised PR part 1 for this issue here: https://github.com/opendatakit/collect/pull/2257. It is the refactor that will make swapping out httpclient easier. It would be great to get some feedback on this.

[2018-06-01 08:13] xsteelej commented on #1475
@opendatakit-bot in progress

[2018-06-02 01:27] jd-alexander opened #2263 "FileUriExposedException when taking a picture for an image question"
#### Software and hardware versions
All Collect versions, Android API 24, Google Nexus 6

#### Problem description
Once the target API is set for API level 24 or greater the app crashes when you try to take a picture i.e when a file created for the image is being passed to the camera app.

` Process: org.odk.collect.android, PID: 4311
    android.os.FileUriExposedException: file:///storage/emulate

[2018-06-02 01:28] jd-alexander commented on #2263
@opendatakit-bot claim

[2018-06-02 10:32] mkne opened #2264 "None translatable string-array time_scale in GeoTrace"
#### Software and hardware versions
Collect v1.15.0, Android v4.4.2

#### Problem description
In the widget GeoTrace the fixed strings "Seconds" and "Minutes" are used. They come from the String-Array time_scale which is marked as not translatable.

#### Steps to reproduce the problem
Fill in an empty "all-widgets" form and swipe (~42 times) until you get to the geotrace widget.
Click on the add m

[2018-06-04 09:01] andreimarcut commented on #620
Great, I'll have a look

[2018-06-04 16:50] jd-alexander commented on #775
I am rewriting some image widget functions to adhere to some file access stipulations imposed by Nougat  #2263 and I stumbled upon the `AlignedImageWidget` class. I was wondering if it was deprecated or not but this issue confirmed my suspicions :) So it's okay to just skip over it?

[2018-06-04 22:57] lognaturel commented on #2264
Thank you for reporting, @mkne!

[2018-06-05 14:21] mmarciniak90 opened #2265 "Changing device orientation affects the appearance in RTL languages on Android 8.1"
#### Software and hardware versions
Collect v1.15.0
Android 8.1
RTL language
'Do not keep activities' turned OFF

#### Problem description
A part of views are returned to LTR appearance after change device orientation

#### Steps to reproduce the problem
1. The user uses RTL language

|![screenshot_20180605-161231](https://user-images.githubusercontent.com/3907554/40981777-55f5d1d8-68cb-11e8-9dff-

[2018-06-05 14:30] #2258 closed, assigned to nobody

[2018-06-05 17:34] rk635636 opened #2266 "Incorrect default value in range picker widget with picker appearance"
#### Software and hardware versions
Collect v1.15.0, Android v7.1.1

#### Problem description
In the range integer widget with picker appearance there is a incorrect default value in picker dialog.
#### Steps to reproduce the problem
Fill in an empty "all-widgets" form and swipe until you get to the Range picker integer widget.
Click on the select value button.
<p float="left">
<img src="https://u

[2018-06-05 17:41] grzesiek2010 commented on #2266
The bug is on Android's side
https://github.com/opendatakit/collect/issues/1782

[2018-06-05 17:48] rk635636 commented on #2266
Ohk. I didn't know it was closed. Thanks though.

[2018-06-05 17:48] #2266 closed, assigned to nobody

[2018-06-05 19:04] rk635636 commented on #2264
@opendatakit-bot claim

[2018-06-05 19:10] rk635636 commented on #2264
I am working on it.
We have to add two keys one for Seconds and one for Minutes in strings.xml in all languages. And then we have to use reference of keys in arrays.xml

[2018-06-05 21:16] lognaturel commented on #2266
Good catch and thanks for reporting, @rk635636! Too bad there's not much we can do about it.

[2018-06-05 21:20] #2173 closed, assigned to nobody

[2018-06-05 21:23] #2243 closed, assigned to nobody

[2018-06-05 22:37] lognaturel commented on #2262
I didn't see our bot was blocking things @SaumiaSinghal. You should now be able to claim it if you would like.

[2018-06-05 22:37] lognaturel commented on #2240
Almost certainly nothing we can do about this one so closing.

[2018-06-05 22:37] #2240 closed, assigned to nobody

[2018-06-05 23:01] lognaturel opened #2268 "Google auth exception can attempt to show after GoogleDriveActivity is destroyed"
#### Software and hardware versions
Collect v1.13+, all Android versions

#### Problem description
Stack trace from Play Store ([link](https://play.google.com/apps/publish/?account=6923365842552008664#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=2834&clusterName=apps/org.odk.collect.android/clusters/180a408f&detailsSpan=7) requires credentials):
[code]
It looks like `RetrieveDriv

[2018-06-05 23:06] lognaturel opened #2269 "NullPointerException in FormEntryActivity.getAbsoluteInstancePath"
#### Software and hardware versions
Collect v1.15, all Android versions

#### Problem description
`getInstanceFile()` can return `null` and I believe `getFormController()` can as well. Either would result in an NPE.

[code]

#### Steps to reproduce the problem

#### Expected behavior
No crash.

#### Other information
The best approach I can think of is to wrap the rest of `removeTempInstance` in t

[2018-06-05 23:12] lognaturel opened #2270 "stepToOuterScreenEvent() invoked on null reference"
#### Software and hardware versions
Collect v1.15, all Android versions

#### Problem description
Stack trace from Crashlytics ([link](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b0d4fa96007d59fcd4a967c?time=last-seven-days&sessionId=5B16CC710393000176FCE3336351F200_DNE_0_v2) requires credentials):

[code]

#### S

[2018-06-06 03:56] huangyz0918 commented on #2262
I can make sure that this issue is the same with #2143 , and the description here is better than that since we cannot set all the buttons enabled if not prepared.

@SaumiaSinghal If you don't mind, can I work on this ?

@opendatakit-bot claim

[2018-06-06 03:57] huangyz0918 commented on #2143
@opendatakit-bot claim

PS. I think we should not enable all the buttons, we should follow #2262 .

[2018-06-06 04:04] lognaturel commented on #2143
Agreed, @huangz0918 thank you!

[2018-06-06 04:50] SaumiaSinghal commented on #2262
Thank you @lognaturel...No worries, I can work on other issues in the repository. Yes sure, @huangyz0918, go ahead...:)

[2018-06-06 05:00] SaumiaSinghal commented on #2195
Hie @grzesiek2010...Can i work on it now?

[2018-06-06 11:23] grzesiek2010 opened #2274 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.preference.Preference.setEnabled(boolean)' on a null object reference"
#### Software and hardware versions
Collect v1.15.0

#### Problem description

#### Steps to reproduce the problem
1. Go to `Admin Settings` -> `User Interface` and unselect `Automatic download`
2. Go to `General Settings` -> `Form management` and select `never` in `Periodic form updates check`

#### Other information

Process: org.odk.collect.android, PID: 15091
java.lang.NullPointerException: At

[2018-06-06 11:23] grzesiek2010 commented on #2274
@opendatakit-bot claim

[2018-06-06 11:24] grzesiek2010 commented on #2274
@opendatakit-bot label "bug"

[2018-06-06 19:31] #2274 closed, assigned to nobody

[2018-06-06 19:52] SaumiaSinghal commented on #2269
Hie @lognaturel, I am having some trouble reproducing the error...:(
Maybe, if you can tell me, erasing data of which form/widget, you got this error.

[2018-06-06 20:00] lognaturel commented on #2269
I did not attempt to reproduce this one -- it's from crash logging through the Play Store. I think `formController` sometimes ends up being `null` because of the app going out of memory.

What we've done for other similar crashes is wrap in a null check. In this case, it's not a huge problem if a temp instance is not removed so I think that approach is safe. There are probably other problems if th

[2018-06-06 20:12] SaumiaSinghal commented on #2269
So, that means wraping the complete code of removeTempInstance in a null check will be fine for now.

[2018-06-06 20:16] SaumiaSinghal commented on #2269
But don't we need to be concerned about some other usages of `formController` and `getInstanceFile`? They may also cause NPE then..
And one more thing @lognaturel, it seems like you are referring to the same issue in [https://github.com/opendatakit/collect/issues/2270](url)?

[2018-06-06 20:18] SaumiaSinghal commented on #2269
@opendatakit-bot claim

[2018-06-06 20:39] lognaturel commented on #2269
Yes, you're right that #2270 is also an example of when `formController` being `null` can cause a crash. There isn't as clear of a null check that can be performed there so it may be worth digging deeper into how Collect can get in that state.

[2018-06-06 20:46] SaumiaSinghal commented on #2269
Yes @lognaturel, I will search more on this issue and will try to come up with a better solution. But yes, for that, first, we need to find out when collect actually gets in that state.

[2018-06-06 20:47] SaumiaSinghal commented on #2270
@opendatakit-bot claim

[2018-06-06 21:31] surajdubey commented on #2268
@opendatakit-bot claim

[2018-06-06 23:04] SaumiaSinghal commented on #2195
@opendatakit-bot claim

[2018-06-06 23:37] lognaturel commented on #1964
Dear @opendatakit-bot, we are in testing so please bugger off! 🤖

[2018-06-07 01:54] huangyz0918 commented on #2265
I guess this issue may be the same reason as #2211 . To address that, we may need to build a basic activity (`CollectAbstractActivity`) and override the `onResume()` and `onPause()` like #2212 .

[2018-06-07 06:58] srijansaurya30 opened #2279 "Google Play- java.lang.ClassNotFoundException - Need Help"
Hi,

When I compile my application through build.phonegap.com and downloaded the APK directly on phone, the app was working fine. But the same APK when I uploaded to Google Play and when I installed that app it CRASH for the first time when I open it. When I check the error in Google Crash Report, I found this "**java.lang.ClassNotFoundException dalvik.system.BaseDexClassLoader.findClass**".

And

[2018-06-07 08:12] jd-alexander commented on #2279
Hey @srijansaurya30 do you have Proguard enabled? If so and you haven't whitelisted `com.google.android.gms.*` then the release build process might be stripping out these classes thus the cause for the `ClassNotFoundException` error. Here's a [Stack Overflow question with answers](https://stackoverflow.com/questions/18646899/proguard-cant-find-referenced-class-com-google-android-gms-r) that does t

[2018-06-07 09:50] srijansaurya30 commented on #2279
Hi @jd-alexander
I added `<gap:plugin name="cordova-plugin-proguard" source="npm" spec="1.0.0" />` in config.xml file of my phonegap project.
Again i am getting same error

[2018-06-07 12:47] grzesiek2010 commented on #2195
yes I think so.

[2018-06-07 13:44] grzesiek2010 commented on #2259
`FormMetadataMigrator.migrate` has nothing to do with SQLiteException since it just deals with preferences not with the database.

I'm still not able to find out why every time we upgrade the database bunch of crashes occurs. I thought that maybe it's caused by an exception during upgrading but we collect such events so it would be visible in reports https://github.com/opendatakit/collect/blob/mas

[2018-06-07 15:42] jd-alexander commented on #2279
Okay and you have added the whitelisting as described above?
https://stackoverflow.com/questions/15087491/phonegap-2-4-android-proguard-config

And how are you using Phonegap with Collect?I don't understand.

[2018-06-07 17:36] jd-alexander commented on #2270
I have been trying to reproduce this but haven't been successful so far. The crash reports show that several of the devices that are crashing have more than sufficient RAM at the crash so that's probably not the issue.

[2018-06-07 17:46] jd-alexander commented on #1992
We could make a checklist of all the changes that will need to take place inside the Collect codebase to meet the requirements based on the target apis so that we can track when these changes are being done and possibly create seperate issues to address them. November is right around the corner :dancer:

Update : Just saw that there's a checklist of the permissions on the runtime permissions issue

[2018-06-07 17:56] lognaturel commented on #2270
Yes, I'm puzzled by this as well. There seem to be lots of cases where `formController` can be `null`, this one just happens to be one users hit a lot. Could it have to do with the app going out of memory due to inactivity or orientation change or something? I notice that in `FormEntryActivity.onResume` the form controller may not be set if the formloadertask is null or if its status is not finish

[2018-06-07 18:59] shobhitagarwal1612 commented on #1934
I would like to work on this issue. According to me, the following points must be covered while implementing this.
 -  Download forms in the background
 -  Add ability to start the simultaneous download of more than one form
 -  Show form download progress individually for each form without using any dialogs
 -  Non-blocking UI will allow the users to press back button while the forms are being do

[2018-06-08 04:23] jd-alexander commented on #2259
@grzesiek2010 I just spent some time looking through the code you wrote to add the new column and everything looks fine; will investigate some more. In terms of the ODK fork idea would forks that are uploaded to the Play Store still be able to send crash events that ODK receives? How are the Crashlytics API keys provisioned?

[2018-06-08 04:30] jd-alexander commented on #2259
One possible fix would be to defer execution until the app is actually opened so there could be a database version check and or find some means by which migration runs before carrying out any database operations. Just some thoughts.

[2018-06-08 04:37] jd-alexander commented on #2259
Another idea. You can install the previous version of Collect without this database upgrade on an emulator and then you can drag the new version unto it. That's one way it could be reproduced.

[2018-06-08 04:40] lognaturel commented on #2259
Oops, yes, @grzesiek2010, I meant database migrations. So those are run by getWritableDatabase/getReadableDatabase, right? Are there cases where those aren’t run or might fail?

[2018-06-08 06:18] rk635636 opened #2280 "No activity found to handle capture audio exception"
#### Software and hardware versions
Collect v1.15.0, Android v7.1.1
#### Problem description
In audio widget with no appearance while recording sound `No activity found to handle capture audio` exception is generated.
#### Steps to reproduce the problem
Click on Record Sound button in the audio widget<br>
<img src="https://user-images.githubusercontent.com/21003697/41141630-5fa4279c-6b10-11e8-9afe

[2018-06-08 06:19] rk635636 commented on #2280
I think it would be better to handle audio recording in the app itself.

[2018-06-08 06:55] srijansaurya30 commented on #2279
@jd-alexander I am using Phonegap Build. Whatever the plugin or configuration, its written in Config.xml file. Don't know exactly where to add `-dontwarn android.webkit.*` etc

[2018-06-08 09:30] grzesiek2010 commented on #2259
We have three build variants: debug, release, odkCollectRelease and only the last one collects crashes.

Bro, I have tried many times :) and our QAs also test upgrading if we implement any changes.

yes, upgrading is triggered if needed when you use your database so I can't see any case where it could be skipped.

as I said I can't imagine such a case, I tried even cases like installing a new vers

[2018-06-08 14:09] jd-alexander commented on #2279
Okay I am not too versed with Phonegap so I'm out of ideas here.

[2018-06-08 15:37] lognaturel commented on #2279
@srijansaurya30 You'll probably want to find a place to ask Phonegap Build questions, perhaps Stackoverflow.

[2018-06-08 15:37] #2279 closed, assigned to nobody

[2018-06-08 17:48] lognaturel commented on #2259
Perhaps `InstanceProvider` (and therefore `SQLiteOpenHelper`) being already in memory could explain the state? @grzesiek2010 had you used the older version of Collect before doing the update?

I also wonder whether updating from the Play Store has a different effect than dragging and dropping the new version.

Regardless, given that 100s of crashes have been recorded by Crashlytics but we have not

[2018-06-08 17:48] #2179 closed, assigned to nobody

[2018-06-08 18:50] SaumiaSinghal commented on #2158
@opendatakit-bot claim

[2018-06-08 18:55] grzesiek2010 commented on #2200
@opendatakit-bot claim

[2018-06-09 17:37] grzesiek2010 commented on #2202
@opendatakit-bot claim

[2018-06-11 06:32] jd-alexander commented on #644
Here are some points I wanted share from a meeting I had with @lognaturel @grzesiek2010 about the ongoing permissions implementation.

- All the permissions boilerplate code is encapsulated in the [PermissionUtils](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/PermissionUtils.java) with the help of a permissions library called [Dexte

[2018-06-11 11:05] mmarciniak90 opened #2284 "Remove toast with a warning about spaces in underlying values for multi select widget"
#### Software and hardware versions
Collect master

#### Problem description
Remove toast with a warning about spaces in underlying values for multi select widget

#### Steps to reproduce the problem
1. The user starts the form [multi-warning.xml.txt](https://github.com/opendatakit/collect/files/2089678/multi-warning.xml.txt)
2. The user adds an answer to the first question
3. The user sees toast

[2018-06-11 11:27] grzesiek2010 commented on #2284
@opendatakit-bot label "good first issue"

[2018-06-11 15:07] bartekfi commented on #2284
@opendatakit-bot claim

[2018-06-11 15:09] bartekfi commented on #2284
I claim it as I have a solution ready here: https://github.com/bartoszfilipowicz/collect/commit/43359cf6eb320c50d579ad24caa0ee3c379407e2
I'll create PR after merger of https://github.com/opendatakit/collect/pull/2251 to avoid duplicated commits, as this commit is built on top of content of 2251.

[2018-06-11 17:52] #1964 closed, assigned to nobody

[2018-06-11 17:52] #2264 closed, assigned to nobody

[2018-06-11 17:53] #1914 closed, assigned to nobody

[2018-06-11 17:54] #2195 closed, assigned to nobody

[2018-06-11 18:31] #2269 closed, assigned to nobody

[2018-06-11 19:15] #2035 closed, assigned to nobody

[2018-06-11 20:30] SaumiaSinghal commented on #2235
You are talking about the constraints that exist in forms like widgets and sample, Right @mmarciniak90?

[2018-06-11 20:43] CRMinges commented on #2196
@opendatakit-bot unclaim

[2018-06-11 20:48] lognaturel commented on #2235
That's right, @SaumiaSinghal. The all widgets form shouldn't have any constraints but the sample one does. If you go to the PR description for #2184, you'll see a form @grzesiek2010 to illustrate the change he made to make sure that when there are multiple questions on a screen, the one with a problem is highlighted. You should be able to see it in Android versions above 4.1 and not in 4.1.

[2018-06-11 20:49] lognaturel commented on #2280
@rk635636 we have discussed this before though I can't seem to find the conversation right now. We know that some users use specialized apps, sometimes with external hardware, for audio recording. In this case it gives the user valuable flexibility to be able to pick their own recording application.

[2018-06-12 04:42] rk635636 commented on #2280
Okay. Thanks @lognaturel

[2018-06-12 04:42] #2280 closed, assigned to nobody

[2018-06-12 04:57] SaumiaSinghal commented on #2235
Thanks for reference @lognaturel, I'd like to work on this issue!

[2018-06-12 04:57] SaumiaSinghal commented on #2235
@opendatakit-bot claim

[2018-06-12 09:58] grzesiek2010 opened #2287 "Expander icons should be replaced with vectors and better visible in DarkTheme"
#### Software and hardware versions
Collect v1.15.0

#### Problem description
Expander icons should be replaced with vectors and better visible in DarkTheme

![screenshot_2018-06-12-11-55-20](https://user-images.githubusercontent.com/3276264/41283802-d645db50-6e37-11e8-8bb9-6c8c2d9a77d1.png)
![screenshot_2018-06-12-11-55-43](https://user-images.githubusercontent.com/3276264/41283804-d67282b8-6e37-

[2018-06-12 09:58] grzesiek2010 commented on #2287
@opendatakit-bot claim

[2018-06-12 13:01] grzesiek2010 commented on #2259
yes

it shouldn't be different.

it's possible.

I'm not sure if it's a good idea since it takes place in a few different places not only in `FormsDao` class but also in `FormsProvider`.
My another idea is that it might be an SQLite exception... what if [onUpgrade](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/database/helpers/FormsDatabaseHel

[2018-06-12 23:18] jd-alexander opened #2291 "GeoPointMapActivity's Location Listener triggering a NullPointerException"
#### Software and hardware versions
Collect v1.15.0, Android v4.4.2

#### Problem description
`markerOptions` is null until the `setupMap` function of `GeoPointMapActivity` is called. The `LocationClients` is registering a listener before the `setupMap` function and if a location event is triggered then the `markerOptions` is being utilized before it's instantiation.

#### Steps to reproduce the p

[2018-06-13 00:47] SaumiaSinghal commented on #2196
@opendatakit-bot claim

[2018-06-13 01:30] jd-alexander commented on #2291
@opendatakit-bot claim

[2018-06-13 04:20] huangyz0918 opened #2294 "Refactor code with lambda expressions"
#### Problem description
Since we use java8 to build our project, I think we should refactor code with lambda for a code consistency.

#### Expected behavior
Replace all the listeners with lambda expressions.

@opendatakit-bot label "refactor"

[2018-06-13 05:25] jd-alexander commented on #2268
I have a cool idea in my mind of how to fix this issue which would enforce a default way of showing dialogs so these errors don't occur @surajdubey How are you doing with this so far? Any progress?

[2018-06-13 08:52] grzesiek2010 commented on #2265
@opendatakit-bot claim

[2018-06-13 10:30] SaumiaSinghal commented on #2196
Hie @grzesiek2010, we can have vectors in lower versions, but for that we need to use AppCompatImageView instead of ImageView, which is there in the headers in Preference Activity, by default. If i go about using a RecyclerView adapter or some other adapter and parse the data of headers from Xml files, then, it is possible. But for that do i really need to parse the data, as then, i can simply fee

[2018-06-13 13:09] mmarciniak90 opened #2296 "Zero at the beginning of version number is removed on 'Get Blank Form' page"
#### Software and hardware versions
Collect 1.15.0

#### Problem description
`0` at the beginning of version number is removed on `Get Blank Form` page

#### Steps to reproduce the problem
1. The user wants to download form with version="00001" [multi-warning.xml.txt](https://github.com/opendatakit/collect/files/2098181/multi-warning.xml.txt)
2. The user goes to `Get Blank Form` page
3. The user s

[2018-06-13 13:15] grzesiek2010 commented on #2296
@opendatakit-bot label "good first issue"

[2018-06-13 17:10] grzesiek2010 commented on #1475
@xsteelej do you still work on this? any problems? I think it's similar to the issue I solved recently so I could take a look.

[2018-06-13 17:57] jd-alexander commented on #2268
@lognaturel this seems to be causing alot of crashes. Should I send in a PR?

[2018-06-13 19:10] SaumiaSinghal commented on #2196
Should i do that @grzesiek2010 ..?

[2018-06-13 19:11] SaumiaSinghal commented on #2296
@opendatakit-bot claim

[2018-06-13 19:14] grzesiek2010 commented on #2296
Hey @SaumiaSinghal I think you solved enough `good first issues` an you are ready to take something more complex so maybe please leave it for someone completely new

[2018-06-13 19:58] grzesiek2010 commented on #2196
I don't think it makes sense... sooner or later we will stop supporting Android 4 and then we can just replace pngs with vectors.

[2018-06-13 20:29] #2284 closed, assigned to nobody

[2018-06-13 20:38] lognaturel commented on #2294
How about we add something about lambdas to the contributor guide? I think the approach @jd-alexander mentioned at https://github.com/opendatakit/collect/pull/2293#discussion_r194951565 is a good one -- new code should use lambdas and as existing code is modified safe refactors with IDE support can be performed as a "clean up" step before starting work. That way we're always sure those changes go

[2018-06-13 20:51] SaumiaSinghal commented on #2296
Yes okay @grzesiek2010, I was also thinking it to be my last good first issue. I'll unclaim it.

[2018-06-13 20:51] SaumiaSinghal commented on #2296
@opendatakit-bot unclaim

[2018-06-13 20:53] SaumiaSinghal commented on #2196
Okayy @grzesiek2010...

[2018-06-13 20:54] SaumiaSinghal commented on #2196
@opendatakit-bot unclaim

[2018-06-13 20:57] #2244 closed, assigned to nobody

[2018-06-13 23:06] xsteelej commented on #1475
Thanks @grzesiek2010, I'm still working on #2257. I'm happy if you want to take a look at this one.

[2018-06-14 00:54] jd-alexander commented on #2294
Sure! that sounds like a good idea! It could probably be one of the checklists in the PR template. Or should it just go to the general contributor guide? thats what you meant?

[2018-06-14 18:52] #2287 closed, assigned to nobody

[2018-06-14 19:37] lognaturel opened #2300 "Update PMD"
I can't quite tell how the current pmd version is determined but it seems to be an old one. This means certain checks like [`UselessQualifiedThis`](https://pmd.github.io/pmd-5.6.1/pmd-java/rules/java/unnecessary.html#UselessQualifiedThis) have bugs (discovered at https://github.com/opendatakit/collect/pull/2293#issuecomment-397160237).

I think the best way to update the pmd version is by adding
[

[2018-06-15 08:12] grzesiek2010 opened #2301 "Encrypt an instance during scanning if needed"
#### Software and hardware versions
Collect v1.15.1 and older versions

#### Problem description
it's a thing requested by a user: https://forum.opendatakit.org/t/encrypt-and-re-upload-old-data-to-aggregate-to-comply-with-gdpr/13200

#### Steps to reproduce the problem
1. Use a for without encryption - save and send one instance
2. Update your form - add your public key for encryption
3. Download

[2018-06-15 08:12] grzesiek2010 commented on #2301
@opendatakit-bot claim

[2018-06-15 09:01] rik702 opened #2303 "Server settings path changes updated but not immediately shown."
#### Software and hardware versions
Collect v1.15.1, Android v7.1.1, emulator, but all..

#### Problem description
Minor issue...  When updating the "Form list path" and the "Submission path" in Server Settings for an "other" server, the changes are not immediately reflected on the Server Settings screen, but they are changed, as coming out of the Server Settings screen and going back in shows the

[2018-06-15 16:42] #2291 closed, assigned to nobody

[2018-06-15 18:36] zestyping opened #2304 ""Zoom to saved feature" zooms incorrectly on OSM maps"
#### Software and hardware versions
ODK Collect v1.15.0

#### Problem description
The "Zoom to saved feature" function zooms to a view with the feature markers off to one side of the map, instead of zooming in on the feature (the entered polygon or trace) as it should.

#### Steps to reproduce the problem
- Make a form with a GeoShape or GeoTrace question.
- Ensure that the OSM Mapping SDK is sele

[2018-06-15 18:37] zestyping commented on #2304
This is a view of the map just after pressing "Zoom to saved feature".  The markers are over on the left edge together with the person icon.

![screenshot_20180615-104344](https://user-images.githubusercontent.com/236086/41484141-827d76b2-7090-11e8-9e59-c1bebc9f1563.png)

[2018-06-15 18:54] lognaturel commented on #2304
Well that's not terribly useful.

This seems like a regression but I'm not sure what change would have led to it. Maybe an osmdroid update? @mmarciniak90 might be good to add to your test cases if you don't have it already.

[2018-06-15 20:31] #2263 closed, assigned to nobody

[2018-06-17 14:20] shobhitagarwal1612 commented on #2300
@opendatakit-bot claim

[2018-06-17 14:21] shobhitagarwal1612 commented on #2300
The current version of PMD is `5.6.1`
Verified by running: `./gradlew pmd --debug`

[2018-06-17 14:45] shobhitagarwal1612 commented on #2300
[code]

After updating I got this log as well

[2018-06-18 11:17] surajdubey commented on #2268
unclaiming it @jd-alexander since I see you have some different ideas and you have PR already generated.

[2018-06-18 11:17] surajdubey commented on #2268
@opendatakit-bot unclaim

[2018-06-18 11:18] surajdubey commented on #2296
@opendatakit-bot claim

[2018-06-18 11:59] SaumiaSinghal commented on #2270
Right now I'm trying to solve some other issue. @opendatakit-bot, I'll work on it afterwards.

[2018-06-18 11:59] SaumiaSinghal commented on #2270
@opendatakit-bot unclaim

[2018-06-18 19:19] lognaturel commented on #2300
Yes, lots of deprecations coming up!! It's probably a good thing we're doing an incremental update to 6.x now.

[2018-06-19 01:24] SaumiaSinghal commented on #2158
Yes @opendatakit-bot, I'm working on it. I was just going to create a PR.

[2018-06-19 07:36] mmarciniak90 commented on #2304
@zestyping could you add information about the Android version? Honestly, I'm not able to reproduce this problem.
@lognaturel added!

[2018-06-19 21:19] #2300 closed, assigned to nobody

[2018-06-20 12:34] mmarciniak90 opened #2310 "Geolocation data are lost after changing device orientation while filling answer"
#### Software and hardware versions
Collect v1.15

#### Problem description
Geolocation data are lost after changing device orientation while filling answer

#### Steps to reproduce the problem
1. The user starts one of Geo Widget: GeoShape, GeoTrace, GeoPoint
2. The user adds location, depend on question
<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/41658235

[2018-06-20 15:29] bartekfi commented on #2270
@opendatakit-bot claim

[2018-06-20 18:18] SaumiaSinghal commented on #2310
It seems changing device orientation is causing a lot of issues here, because i worked on a similiar issue earlier, @mmarciniak90, I'd like to work on this one too. Maybe if i dig a little more deeper, i can come up with a better solution for that issue as well.

[2018-06-20 18:18] SaumiaSinghal commented on #2310
@opendatakit-bot claim

[2018-06-20 22:17] lognaturel commented on #2310
Thanks for filing, @mmarciniak90! This is starting to veer into issues discussed in https://forum.opendatakit.org/t/collect-geotrace-and-geoshape-improvements/10160 and in the summary at https://docs.google.com/document/d/1r3wJrOVDeFQkk4kWMoW29LtLI1vbBChqJ65w1Jyg4YU/edit. I haven't been so sure how to track these issues at the repo level because they're fairly tightly coupled. Fundamentally, we wa

[2018-06-21 11:48] grzesiek2010 commented on #2215
@lognaturel I think a good solution would be to use `singleLine` (and then `Done` button is visible by default) when an appearance `rows="1"` is added. What do you think?

Currently using `rows="1"` doesn't change anything since we have one row by default and even if you specify row number you are allowed to add more it's just an initial value not a max value.

[2018-06-21 12:02] grzesiek2010 commented on #2215
Generally, I think that appearance is a little bit misleading because it indicates that exactly x rows should be used but it's a minimal value and we allow adding new rows (making EditText bigger).

I think we should add more appearances:
`minRows` - behavior like the current one
`maxRows` - only one row is displayed by default and we allow adding x new rows.
`rows` - `minRows` and `maxRows` at th

[2018-06-21 12:08] grzesiek2010 commented on #2149
I don't think it's worthwhile to change that. I would close this issue.

[2018-06-22 06:29] zestyping commented on #2304
This is on Android 6.0.1.

[2018-06-22 06:38] zestyping commented on #2304
I tried this again with the latest version from Google Play, ODK Collect 1.15.1, and the problem still occurs.

The exact data points are visible on the widget screens:

![screenshot_20180621-233622](https://user-images.githubusercontent.com/236086/41761471-3ede2b56-75ac-11e8-8fac-37244ca8b45b.png)

![screenshot_20180621-233710](https://user-images.githubusercontent.com/236086/41761476-43b18e0c-75

[2018-06-22 08:14] grzesiek2010 opened #2315 "Caused by java.lang.NullPointerException Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference"
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b2be1c46007d59fcd760ed4?time=last-seven-days&sessionId=5B2BE63000D200011C894812141D159B_DNE_0_v2

android.app.Activity.performCreate (Activity.java:6241)
android.app.Instrumentation.callActivityOnCreate (Instrumentation.java:1112)
android.app.ActivityThread.performLaunchActi

[2018-06-22 08:14] grzesiek2010 commented on #2315
@opendatakit-bot claim

[2018-06-22 08:15] grzesiek2010 opened #2316 "Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'boolean android.support.customtabs.CustomTabsSession.mayLaunchUrl(android.net.Uri, android.os.Bundle, java.util.List)' on a null object reference"
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b11323b6007d59fcd966d2a?time=last-seven-days&sessionId=5B2B84720193000136C99E6BBE249045_DNE_0_v2

android.support.customtabs.CustomTabsServiceConnection.onServiceConnected (CustomTabsServiceConnection.java:32)
android.app.LoadedApk$ServiceDispatcher.doConnected (LoadedApk.ja

[2018-06-22 08:15] grzesiek2010 commented on #2316
@opendatakit-bot claim

[2018-06-22 11:04] grzesiek2010 opened #2319 "Handle camera permission"
#### Software and hardware versions
Collect v1.15.1 and older versions.

#### Problem description
We need to handle camera permission to be able to increase `targetSdkVersion` what is a must.

Needed permisssions:
https://developer.android.com/reference/android/Manifest.permission#CAMERA

[2018-06-22 11:05] grzesiek2010 commented on #2319
@opendatakit-bot claim

[2018-06-22 17:09] lognaturel commented on #2304
Can't reproduce on Galaxy Tab A, Android 5.1.1 or Moto G4 running Android 7.0. I don't have an Android 6.0.1 device.

[2018-06-22 17:55] jd-alexander commented on #2259
Back to this. @grzesiek2010 would just checking if this column exists and if not then don't proceed within the `NetworkReceiver` thus stopping this exeception for now and we could just silently log it if anything.

[2018-06-22 20:56] grzesiek2010 opened #2321 "Handle location permissions"
#### Software and hardware versions
Collect v1.15.1 and older versions.

#### Problem description
We need to handle location permissions to be able to increase `targetSdkVersion` what is a must.

Needed permisssions:
https://developer.android.com/reference/android/Manifest.permission.html#ACCESS_FINE_LOCATION
https://developer.android.com/reference/android/Manifest.permission.html#ACCESS_COARSE_LO

[2018-06-22 20:57] grzesiek2010 commented on #2321
@opendatakit-bot claim

[2018-06-22 21:01] #33 closed, assigned to nobody

[2018-06-22 23:36] zestyping commented on #2304
Reproduced the problem again on an Android 5.1 phone, with a fresh install of ODK Collect 1.15.1 from Google Play.

I wonder if I've described the bug poorly?  I'm tapping the grey circle-and-crosshair button on the right (it's the first of four buttons in the GeoShape activity, or the second of five buttons in the GeoTrace activity).  This brings up a dialog with two buttons, "Zoom to current loc

[2018-06-22 23:37] lognaturel commented on #2304
That's also what I'm doing. You've tried different shapes and traces and all do this for you?

[2018-06-23 08:54] shobhitagarwal1612 commented on #1773
@lognaturel I would like to work on this issue. I can think of creating a UI which displays all google sheets which are present in the chosen google account's drive. Maybe once it is easier to use, more people will start using it given that it is so easy to setup than compared to aggregate. We can even add an option to share the google sheets with other people from the app itself using the Sheets

[2018-06-24 07:09] shobhitagarwal1612 commented on #2127
@opendatakit-bot claim

[2018-06-25 11:59] grzesiek2010 opened #2322 "Constraint and null value"
#### Problem description
I have been supporting users on the forum for a long time and many times I noticed that it's strange and annoying that constraint is ignored when a value is null.
I know that in some cases we can solve the problem just making a question required but not always. Maybe I can't recall all cases but I'll try to describe some of them:

**Case 1: Can't use constraint in `questio

[2018-06-25 12:15] #2322 closed, assigned to nobody

[2018-06-25 20:24] #2316 closed, assigned to nobody

[2018-06-25 20:24] #2315 closed, assigned to nobody

[2018-06-25 21:47] lognaturel commented on #2294
The general contributor guide feels like the right place for it.

[2018-06-25 21:47] #2294 closed, assigned to nobody

[2018-06-25 22:11] grzesiek2010 opened #2324 "Attempt to invoke virtual method 'java.lang.String java.io.File.getParent()' on a null object reference"
org.odk.collect.android.activities.FormEntryActivity.lambda$onActivityResult$3$FormEntryActivity (FormEntryActivity.java:748)
org.odk.collect.android.activities.FormEntryActivity$$Lambda$3.run (Unknown Source)

https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b2a19556007d59fcd52cba4?time=last-seven-days&sessionId=5B30B

[2018-06-25 22:11] grzesiek2010 commented on #2324
@opendatakit-bot claim

[2018-06-25 22:31] lognaturel opened #2326 "Username not included in filled form (just after reading collect.settings? Just on older Android?)"
#### Software and hardware versions
All Collect versions. Specifically reproduced on Android 4.4.2 after reading from `collect.settings`. See [forum thread](https://forum.opendatakit.org/t/username-not-appearing-on-the-submitted-records/10676/12?u=ln).

#### Problem description
The username "preload" is no always populated in filled forms. We have a systematic reproduction on Android 4.4.2 after r

[2018-06-25 22:47] grzesiek2010 opened #2327 "Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference"
org.odk.collect.android.adapters.SortDialogAdapter.onBindViewHolder (SortDialogAdapter.java:33)
android.support.v7.widget.RecyclerView$Adapter.onBindViewHolder (RecyclerView.java:6673)
android.support.v7.widget.RecyclerView$Adapter.bindViewHolder (RecyclerView.java:6714)
android.support.v7.widget.RecyclerView$Recycler.tryBindViewHolderByDeadline (RecyclerView.java:5647)
android.support.v7.widget.R

[2018-06-25 22:48] grzesiek2010 commented on #2327
@opendatakit-bot claim

[2018-06-26 10:20] grzesiek2010 commented on #2326
@opendatakit-bot claim

[2018-06-26 19:44] #2265 closed, assigned to nobody

[2018-06-26 19:56] #1610 closed, assigned to nobody

[2018-06-26 21:38] #2327 closed, assigned to nobody

[2018-06-27 18:23] lognaturel opened #2330 "When form language is RTL but Collect language is LTR, form text is not shown RTL"
#### Software and hardware versions
Collect v1.15.0+

#### Problem description
https://forum.opendatakit.org/t/odk-collect-1-15-1-right-align-issue/13754

#### Steps to reproduce the problem
1. Add a form that has label or hint in a RTL language like Arabic or Urdu (e.g. https://data2.unhcr.org/en/documents/details/52583 -> [arabic.xml.txt](https://github.com/opendatakit/collect/files/2142489/arab

[2018-06-27 18:48] lognaturel commented on #2330
@mmarciniak90 Please add a quick item to the testing checklist for a form with RTL text when Collect is set to a LTR language!

[2018-06-28 08:07] mmarciniak90 commented on #2330
@lognaturel, case was added!

[2018-06-28 18:27] #2324 closed, assigned to nobody

[2018-06-29 01:33] grzesiek2010 commented on #2202
@opendatakit-bot claim

[2018-06-29 08:01] grzesiek2010 commented on #2303
@opendatakit-bot claim

[2018-06-29 15:15] ekigamba opened #2339 "Request ODK Collect to download form from an external app through an intent"
#### Software and hardware versions
Collect v1.15.1, Android v6.0.1, Samsung Galaxy J5

#### Problem description
Currently, there is now way to request/command ODK collect to download a form from an external app

#### Expected behavior
An external app should be able to request ODK Collect to download a form through an intent.

[2018-06-29 15:15] ekigamba commented on #2339
@opendatakit-bot claim

[2018-06-29 15:16] ekigamba commented on #2339
@opendatakit-bot claim --force

[2018-06-29 17:46] #2200 closed, assigned to nobody

[2018-06-29 20:47] yanokwa opened #2342 "Recording and saving an audio file causes a crash"
#### Software and hardware versions
f0d5fa2 on sms_submission branch. Android 7.0 on Moto G5 Plus

#### Problem description
Recording and saving an audio file causes a crash

#### Steps to reproduce the problem
* Install the [Sony Audio Recorder](https://play.google.com/store/apps/details?id=com.sonymobile.androidapp.audiorecorder)
* Download the All Widgets form and navigate to the Audio widget
*

[2018-06-29 21:13] SaumiaSinghal commented on #2310
Oh okay @lognaturel, just inform me when i can start working on this issue.

[2018-06-29 22:28] SaumiaSinghal commented on #2342
@opendatakit-bot claim

[2018-07-01 15:27] ma-fouani commented on #387
I guess you might have found out what was wrong by now, I ran into the same problem. It turned out when I created my application class, it was not under any package (weird). I only had to move it under the main package: com.mycompany.example

[2018-07-03 16:49] #2303 closed, assigned to nobody

[2018-07-03 21:03] jd-alexander opened #2349 "Google Sheets upload error dialog not descriptive enough"
#### Software and hardware versions
Collect v1.16.0beta, Android v7.0, Google Nexus 6

#### Problem description
When you are uploading a form via the Google Sheets integration and the link is missing an error dialog is shown about a missing sheet id. That error message is not clear enough since a direct reference to a sheet id isn't used during the configuration of the Google Sheets server type.

[2018-07-03 21:04] jd-alexander commented on #2349
@opendatakit-bot  "good first issue"

[2018-07-04 22:09] lognaturel opened #2350 "Intent activities can't set data"
Collect can launch external apps as described at https://docs.opendatakit.org/launch-apps-from-collect/

Currently, it's only possible to set extras for the intent, not data or type. This is limiting and (I believe) makes it impossible to do things like send emails or text messages which is very powerful.

[2018-07-05 10:28] kkrawczyk123 opened #2353 "Collect crashes when click on "Get Barcode" or "Scan code from other device""
#### Software and hardware versions
Collect v1.15..x, Android all device used...

#### Problem description
Collect is crashing when using Barcode widget and when try to import/export settings by the barcode.

#### Steps to reproduce the problem
1. Go to Import/export settings and click on "Scan code from other device"
2. Use All widgets form and Barcode widget.

#### Expected behavior
The user sho

[2018-07-05 10:46] grzesiek2010 commented on #1755
Duplication of https://github.com/opendatakit/collect/issues/2316 we can close this issue.

[2018-07-05 11:09] grzesiek2010 commented on #2353
@opendatakit-bot claim

[2018-07-06 08:40] surajdubey commented on #2296
@opendatakit-bot claim

[2018-07-06 12:17] grzesiek2010 opened #2355 "SeekBar in AudioWidget is not updated properly when an audio file finishes"
#### Software and hardware versions
Collect v1.15.1 and older versions

#### Problem description
SeekBar in AudioWidget is not updated properly when and audio file finishes.

#### Strps
1. Open AudioWIdget
2. Record a short audio
3. Play the recorded audio and wait for the and of it.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3276264/42378226-d6e2cac6-8126-11e8-91a2-e994a

[2018-07-06 12:18] grzesiek2010 commented on #2355
@opendatakit-bot claim

[2018-07-06 12:18] grzesiek2010 commented on #2355
@opendatakit-bot label "Bug"

[2018-07-06 12:18] grzesiek2010 commented on #2355
@opendatakit-bot label "bug"

[2018-07-06 14:31] grzesiek2010 commented on #2349
@opendatakit-bot label "good first issue"

[2018-07-06 18:11] #2355 closed, assigned to nobody

[2018-07-06 19:45] lognaturel opened #2357 "Error about external data db not found even when it is on sdcard"
#### Software and hardware versions
Samsung S9s using Android 8.0.0 and ODK Collect 1.50.0

#### Problem description
https://forum.opendatakit.org/t/error-using-pre-loaded-csv/13678

External CSV db file is sometimes not seen by `exists()` so users sees error message.

#### Steps to reproduce the problem
Not consistently reproducible.

#### Expected behavior
No error.

#### Other information
@grze

[2018-07-09 10:20] vishnus1224 commented on #2321
@opendatakit-bot claim

[2018-07-09 10:21] vishnus1224 commented on #2321
@opendatakit-bot claim --force

[2018-07-09 10:50] grzesiek2010 commented on #2321
@vishnus1224 sorry but I finished work on it but I'm waiting for merging https://github.com/opendatakit/collect/pull/2358 first, the WIP pr is here #2320  I didn't notice the boot unassigned me :/

[2018-07-09 10:51] vishnus1224 commented on #2321
@grzesiek2010 no worries :). I took it coz u were unassigned. I'll have a look at something else

[2018-07-09 10:53] grzesiek2010 commented on #2321
sure, thanks!

[2018-07-09 16:53] #2326 closed, assigned to nobody

[2018-07-09 16:55] #2270 closed, assigned to nobody

[2018-07-09 21:51] lognaturel opened #2359 "Add 'rating' appearance for range type"
As described in https://github.com/XLSForm/pyxform/issues/145.

The widget should validate that the `step` is 1 and that `min` is 1. There should be `max` stars displayed with equal spacing. If the stars don't fit in the device width, they should wrap onto additional lines.

When the user taps on an empty (white) star, the stars up to and including that star should be filled in yellow and the stor

[2018-07-10 07:59] grzesiek2010 commented on #2357
Here are reports
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b0d09c96007d59fcd44c27e?time=last-ninety-days&sessionId=5B4459D9035100012F51C557EDB25301_DNE_3_v2

[2018-07-10 08:49] grzesiek2010 opened #2360 "SelfieImageWidget and SelfieVideoWIdget crashes after multitapping (a few quick taps)"
#### Software and hardware versions
Collect v1.15.1 and older versions
Android 6.0, 7.0 and 8.1

#### Problem description
SelfieImageWidget and SelfieVideoWIdget crashes after multitapping (a few quick taps)

#### Steps to reproduce the problem
1. Open All WIdgets form
2. Use SelfieImageWidget or SelfieVideoWIdget
3. Tap the screen multiple times

[2018-07-10 08:49] grzesiek2010 commented on #2360
@opendatakit-bot claim

[2018-07-10 08:49] grzesiek2010 commented on #2360
@opendatakit-bot label "bug"

[2018-07-10 09:19] vishnus1224 commented on #2359
Hi @lognaturel . Is it an enhancement to an existing widget or totally new development ?

[2018-07-10 09:22] grzesiek2010 commented on #2359
@vikasdesale it's a new appearance for an existing widget so the first option.

[2018-07-10 09:28] vishnus1224 commented on #2359
Is it the `org.odk.collect.android.widgets.RangeWidget` ?
If not, could you please tell me which one it is ?

[2018-07-10 10:43] grzesiek2010 commented on #2259
I'm not sure I would leave it as it is and check logs we will collect thanks to #2290

Why I'm not sure?
1. It's not about only that particular `lastDetectedFormVersionHash`. It takes place every time we add new columns and sometimes I see similar reports about columns we added a long time ago.

2. It's the most common crash but no one complains so probably it doesn't crash the app it just doesn't

[2018-07-10 12:54] grzesiek2010 commented on #2359
Yes, it's `RangeWidget`.

[2018-07-10 14:07] grzesiek2010 commented on #2036
I fixed the problem and now we use the same effect like in other settings:
![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/3276264/42514545-f7643f06-8459-11e8-844c-18ca05d1d1ce.gif)

[2018-07-10 15:00] #2319 closed, assigned to nobody

[2018-07-10 15:03] #2353 closed, assigned to nobody

[2018-07-10 16:26] #2268 closed, assigned to nobody

[2018-07-10 18:23] lognaturel commented on #2357
@grzesiek2010 On the forum you wrote that you couldn't see reports from versions before 1.15.0. Is that maybe because you were only looking at Crashlytics and not at Firebase Crash? I see you mentioned the change but did you actually look at Firebase Crash Logs? I see:
- https://console.firebase.google.com/u/0/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/

[2018-07-10 19:41] lognaturel commented on #2359
@vishnus1224 In terms of implementation you have a couple of options. If you look at `WidgetFactory`, you'll see that some appearances are handled at that level (e.g. `SelectMultipleAutocompleteWidget` and `GridMultiWidget` handle different appearances of the multiple select type) and others are like range where the appearances are all handled in `RangeWidget` by various conditionals.

I think tha

[2018-07-11 05:31] SaumiaSinghal commented on #2342
Sorry got caught up somewhere. I'll work on this after a few days.

[2018-07-11 05:31] SaumiaSinghal commented on #2342
@opendatakit-bot unclaim

[2018-07-11 09:04] vishnus1224 commented on #2359
thank you @lognaturel for the explanation. I will give it a try :)
I think I will have to make a custom rating bar as the default doesn't display on multiple lines.
Also should default star icons be used ?

[2018-07-11 10:35] kkrawczyk123 opened #2364 "Unable to play video recorded by selfie-video widget on Android 4.2"
#### Software and hardware versions
Collect v1.15.x, Android v4.2.x,

#### Problem description
Unable to play video recorded by selfie-video widget on Android 4.2

#### Steps to reproduce the problem
1. Open selfie video widget on Android 4.2
2. Record a video
3. Click on Play Video button

#### Expected behavior
Video should be played using a default video player app or some other installed app -

[2018-07-11 12:53] grzesiek2010 commented on #2357
I looked through both. Probably I missed them because the exception looks different in Crashlytics, sorry (I looked for `ExternalDataManagerImpl` but in Firebase it's `ExternalDataException - ExternalDataUtil.populateExternalChoices`)

Ok, I agree we can try what you proposed. I created a pull request https://github.com/opendatakit/collect/pull/2365

[2018-07-11 17:38] shobhitagarwal1612 commented on #1580
@opendatakit-bot claim

[2018-07-11 18:47] lognaturel commented on #2357
Hah, I think that's why I couldn't find it in Crashlytics originally. So we're even. 😉

[2018-07-11 19:32] #2202 closed, assigned to nobody

[2018-07-11 19:41] #2360 closed, assigned to nobody

[2018-07-11 19:43] #2036 closed, assigned to nobody

[2018-07-11 19:55] #2357 closed, assigned to nobody

[2018-07-11 21:29] lognaturel commented on #2359
That's awesome, @vishnus1224! Don't hesitate to ask in the #collect-code Slack channel at http://slack.opendatakit.org/ if you have any general questions that could benefit from a quick conversation.

[2018-07-11 22:35] lognaturel commented on #2235
I can't reproduce this on Android 4.1.2.

[2018-07-12 07:52] iraj21 commented on #2349
@opendatakit-bot  claim

[2018-07-12 11:15] grzesiek2010 opened #2366 "Handle Record Audio permission"
#### Software and hardware versions
Collect v1.15.1 and older versions.

#### Problem description
We need to handle location permissions to be able to increase `targetSdkVersion` what is a must.

Needed permisssions:
https://developer.android.com/reference/android/Manifest.permission.html#RECORD_AUDIO

[2018-07-12 11:15] grzesiek2010 commented on #2366
@opendatakit-bot claim

[2018-07-12 18:21] #2321 closed, assigned to nobody

[2018-07-12 20:08] grzesiek2010 commented on #2330
@opendatakit-bot claim

[2018-07-12 20:54] #242 closed, assigned to nobody

[2018-07-13 00:44] lognaturel opened #2370 "Auto-send with SMS"
Currently, the auto-send options are
[code]

In order to support auto-send via SMS, we need to decide what setting to add.

`SMS only` makes sense to me. I'm not sure if users would want `Wifi, cellular or SMS`.

CC @yanokwa @jd-alexander

[2018-07-13 01:00] lognaturel opened #2371 "Add "Select on send" option for "Send submissions via""
As discussed at https://forum.opendatakit.org/t/send-submissions-via-sms/12166/19

"If Both is set, then when you hit Send Selected in Send Finalized Forms it pops up a dialog that lets you choose the transport mechanism."

CC @yanokwa @jd-alexander

[2018-07-13 01:16] lognaturel opened #2372 "When resending form to server after sending via SMS, status is not updated"
#### Software and hardware versions
Collect v1.15.0-163-g26cde0de0

#### Problem description
When resending form to server after sending via SMS, status is not updated

#### Steps to reproduce the problem
1. Send SMS Test form from default server via SMS
1. Change submission destination to Internet
1. In Send Finalized Form, change view to Show Sent and Unsent Forms
1. Send same form again

Form i

[2018-07-13 01:54] lognaturel commented on #2372
It's unfortunate that we don't have a log of these status changes but I think for now I think replacing the status is the best we can do.

As we discussed in the SMS comment thread, it would be very useful to eventually have another DB table for statuses separate from the instance table.

[2018-07-13 02:02] lognaturel opened #2374 "Hide "Submission transport" server settings section from admin settings"
From https://forum.opendatakit.org/t/send-submissions-via-sms/12166/3:

"I would like the enumerator to have the option of selecting the transport option, but for this option to be hidden using the Admin settings if not required"

[2018-07-13 16:08] jd-alexander commented on #2372
Yes, I was just thinking about this and saw this issue. The statuses are being persisted to the same `instance` table, the only difference is that because that table can't store the progress etc. the `SubmissionManager` is being called for it's current data so it's overwriting the status for all submissions so what I think can be done here is I simply check the transport settings and if it's `inte

[2018-07-13 16:12] lognaturel commented on #2372
I expect it to show the latest state. That is, if the latest attempt was via SMS, it should show SMS results. If the latest attempt was via HTTP, it should show HTTP results.

[2018-07-13 16:21] jd-alexander commented on #2372
Okay! makes sense.

[2018-07-13 16:51] jd-alexander commented on #2372
Another question @lognaturel say you are doing a SMS submission where you are sending 4 messages and one (1) of them failed. Then  you switch to using internet and make a successful submission. If you switch back to SMS submissions and make a submission should it only the one (1)  that failed or should it start over?

[2018-07-13 16:59] lognaturel commented on #2372
Hmm, that's an interesting case. I think the switch to Internet shouldn't affect anything -- it should just try the one that failed like it would if there had been no transport switch. What did you think?

[2018-07-13 17:33] jd-alexander commented on #2372
Yes, I think that would be the better approach. I am gonna see how I can get that done.

[2018-07-13 17:35] lognaturel commented on #2372
What does it do now? I would have expected it to do what I described.

[2018-07-13 18:21] yanokwa commented on #2370
I agree that `SMS only` is an obvious choice.

I think `Wi-Fi, Cellular, or SMS` should be added because it's what a user would expect. Or rather, I don't know why SMS should be excluded.

I think what we might want to do is re-work this menu so it's a multi-select. I'm not sure how the migration would work. @jd-alexander, any ideas?

[2018-07-13 18:31] lognaturel opened #2375 "Use SMS delivery reports"
Currently, delivery reports are not used. We have discussed two uses for them:
- pulling out the header identifier that could be matched with an instanceID so submissions to SMS and HTTP can be aligned
- providing the user with certainty that their submissions have been delivered

@jd-alexander proposed providing delivery details in a bottom sheet in [this forum thread](https://forum.opendatakit.o

[2018-07-14 10:34] jd-alexander commented on #2372
Yeah, that's the expected way.So it seems this is a bug that needs fixing.

[2018-07-14 11:07] jd-alexander commented on #2370
Yes, what could be done is, a new `SharedPreferences` key could be introduced and then inside the `Application` class a migration method could be run; one that's similar to `FormMetadataMigrator`. It would basically grab the current `AUTOSEND` setting and migrate it to the value of the new key. This would leave the existing key intact in the case of a downgrade and the new implementation that cont

[2018-07-14 17:27] jd-alexander commented on #2374
This seems like something that would aid in ensuring more granular control of what the user is able to control in relation to the `Server` settings. Currently, the admin is able to disable access to the 'Server` setting altogether so adding this would make that a lot more customizable.

[2018-07-14 17:31] jd-alexander commented on #2371
Didn't this also mean that all submission protocols/type would need to implement background mode so that the UI/UX is fluid? Since this selection would be done via a multi-select control.

[2018-07-14 17:33] jd-alexander commented on #2375
Yes, this would also work in unison with the implementation of background sending which is being discussed here #2371

[2018-07-15 14:18] jd-alexander commented on #2370
@opendatakit-bot claim

[2018-07-16 11:03] Chintuz commented on #1300
HI, Can you please help in resolving the same issue. I am facing it in playstore build.

Any suggestion, I have already implemented multidex in the app, this issue is reflected many times.

Please help!

Thanks

[2018-07-16 16:47] #2366 closed, assigned to nobody

[2018-07-16 17:57] lognaturel commented on #1300
@Chintuz Do you mean you see this error when you run ODK Collect from https://play.google.com/store/apps/details?id=org.odk.collect.android&hl=en_US? If not, then it's not a Collect issue and you can try posting on Stackoverflow or another general dev forum!

[2018-07-17 01:44] lognaturel commented on #91
I think this is straightforward enough to implement with a constraint that looks something like `if(selected(., 'value5'), count-selected(.) = 1, true())`.

[2018-07-17 01:44] #91 closed, assigned to nobody

[2018-07-17 01:47] lognaturel commented on #237
Implemented in https://github.com/opendatakit/javarosa/issues/273

[2018-07-17 01:47] #237 closed, assigned to nobody

[2018-07-17 02:25] lognaturel commented on #1137
I think the `search()` appearance/function, as weird as it is, is too broadly used for deprecation at this time.

Other appearances should combine with `search()`, `search` and `autocomplete`.

[2018-07-17 02:46] lognaturel opened #2379 "Address SQL injection vulnerability in older binaries"
The Play Store has flagged Collect as vulnerable to [SQL Injection](https://support.google.com/faqs/answer/7668308). @grzesiek2010 addressed this in #2281 for the current releases. Please note that this is not really dangerous for users in any way.

v1.13.2, v1.4.16, v1.4.10, v1.4.7, v1.4.5 are still active in the Play Store for users on older Android versions who can't upgrade and they still show

[2018-07-17 03:10] lognaturel commented on #2145
Closing in favor of #2310

[2018-07-17 03:10] #2145 closed, assigned to nobody

[2018-07-17 03:11] lognaturel commented on #2310
Some additional notes in #2145.

[2018-07-17 03:12] #1960 closed, assigned to nobody

[2018-07-17 05:29] lognaturel opened #2380 "Log submission analytics"
Each time a submission is made, send an analytics event with submission type (see `getDefaultTracker()`). This is so we can get a sense of how much use the new SMS transport actually gets.

I would suggest using a category of "Submission" with "SMS" and "Internet" actions.

[2018-07-17 18:46] #2350 closed, assigned to nobody

[2018-07-17 18:54] #2301 closed, assigned to nobody

[2018-07-17 19:39] #2339 closed, assigned to nobody

[2018-07-17 20:35] lognaturel commented on #2371
What I understood as the suggestion would be buttons for one or the other. I expect that SMS will generally be considered a backup option. What's the use case for sending both at the same time?

Another alternative would be to attempt to send over HTTP and if that failed ask the user if they want to send via SMS. A user suggested that on the forum thread.

I do think there is a case where enumerat

[2018-07-17 20:42] lognaturel commented on #2374
Current admin menu:
<img width="302" alt="screen shot 2018-07-17 at 1 38 33 pm" src="https://user-images.githubusercontent.com/967540/42844079-c0ce2c5a-89c6-11e8-8a14-1b7bd9cf4380.png">

The challenge is that "submission transport" is a subset of "server". The best strategy I can think of is to add a new select below "Server". If "Server" is unchecked, "Submission transport" is unchecked and disab

[2018-07-17 20:45] lognaturel commented on #2370
For the sake of completeness, here are some notes I wrote on #2378:

[2018-07-17 23:56] #2380 closed, assigned to nobody

[2018-07-18 00:12] jd-alexander commented on #2371
Yes, this is a really good idea. So a new option would be added to the `Change View` menu to support this?

[2018-07-18 00:21] lognaturel commented on #2371
I think so. And/or we could come up with a way to make that functionality more visible since it's not very discoverable at the moment.

[2018-07-18 12:23] rk635636 commented on #2342
@opendatakit-bot claim

[2018-07-18 17:06] #2372 closed, assigned to nobody

[2018-07-18 19:40] SaumiaSinghal commented on #2364
@opendatakit-bot claim

[2018-07-19 00:30] jd-alexander commented on #2371
So today we had a good discussion about how we should go about building this feature and these were the main points that were summarized

- One of the primary use cases we are targeting is that of enumerators who want to send time sensitive data back to an administrator in environments where they might not have easy access to Wifi/Cellular connectivity so sending that data via SMS would be a great

[2018-07-19 01:35] lognaturel opened #2385 "In external app widgets, only implicit intents that can use an smsto: uri are supported"
#### Software and hardware versions
Collect v1.16.0 beta 3

#### Problem description
#2351 introduces a special `uri_data` key to specify an intent's data. I used an `smsto:` placeholder to resolve the intent and this turns out to be pretty limiting. E.g. https://forum.opendatakit.org/t/send-phone-number-to-dialer-widget/14107

#### Steps to reproduce the problem
1. Load a form with another implic

[2018-07-19 16:00] jd-alexander commented on #2370
Those are some really good points @lognaturel :)
They go really well with the discussion we had about how to create a comprehensive spec for the auto-send functionality.

- How does the auto-send option treat the transport setting since it can be set to SMS at one point and then changed at another? How does the whole functionality and language react to that?

- For SMS auto-sends, when should we g

[2018-07-19 18:44] #2385 closed, assigned to nobody

[2018-07-19 22:28] jd-alexander opened #2389 "Running performance tests on shared preferences"
#### Software and hardware versions
Any Collect version. To test SMS submissions then any version after  Collect v1.16.0-beta.2 , Any Android device

#### Problem description
Collect makes heavy usage of `SharedPreferences` throughout the app. Most recently, `SharedPreferences` were used as a data store to back the submission state that needs to be persisted for SMS submission. This was done becau

[2018-07-20 07:33] mmarciniak90 opened #2390 "The user is not able to select a splash screen from Google Drive"
#### Software and hardware versions
Noticed on Collect v1.16 beta 4 but probably it was from the beginning

#### Problem description
The user is not able to select a splash screen from Google Drive

#### Steps to reproduce the problem
1. User opens `User interface` settings
2. User selects checkbox for `Splash screen`
3. User selects an image from Google Drive
4. An image is not loaded

#### Expec

[2018-07-20 07:36] mmarciniak90 commented on #2390
@opendatakit-bot label "good first issue"

[2018-07-20 09:14] grzesiek2010 commented on #1137
@opendatakit-bot claim

[2018-07-20 09:52] mmarciniak90 opened #2391 "SMS does not contain the defined content"
#### Software and hardware versions
Collect v1.16.0 beta.4

#### Problem description
SMS does not contain the defined content

#### Steps to reproduce the problem
1. User starts the form `Send SMS or Email in Form`
2. User adds Participant name
3. User adds a phone number
4. User clicks on Launch to send SMS
5. SMS app is opened
6. SMS does not contain the defined content

|![screenshot_20180720-1

[2018-07-20 09:53] mmarciniak90 commented on #2391
@opendatakit-bot label "high priority"

[2018-07-20 10:18] kkrawczyk123 opened #2392 "The checkbox on Send Finalized form list should not be selected when server authentication is canceled on form with specified submission URL."
#### Software and hardware versions
Collect v1.16.0 beta 4, Android v 6.0, 4.4 probably other versions too.

#### Problem description
The checkbox on Send Finalized form list should not be selected when server authentication is canceled on form with specified submission URL.

#### Steps to reproduce the problem
1. Use ODK Aggregate and form with specified submission URL
2. Send finalized form
3. O

[2018-07-20 10:22] grzesiek2010 commented on #2391
@opendatakit-bot claim

[2018-07-20 11:50] grzesiek2010 commented on #2391
@mmarciniak90
The code is ok but the form you used is broken (not updated after recent changes). I don't have an original xls form so I just edited the xml one and you can use it:
[Send SMS or Email in Form.xml.txt](https://github.com/opendatakit/collect/files/2213748/Send.SMS.or.Email.in.Form.xml.txt)

@lognaturel please update the form and share the original xls file if you can.

[2018-07-20 12:41] mmarciniak90 commented on #2391
Thanks, @grzesiek2010 for good news!
It works on your form!

[2018-07-20 12:41] #2391 closed, assigned to nobody

[2018-07-20 12:41] mmarciniak90 commented on #2391
@opendatakit-bot unlabel "high priority"

[2018-07-20 13:12] mmarciniak90 opened #2394 "Options are not separated by lines in multi select question with appearance="autocomplete""
#### Software and hardware versions
Collect v1.14, 1.15, 1.16 (older version were not verified)

#### Problem description
Options are not separated by lines in multi-select question with appearance="autocomplete"

#### Steps to reproduce the problem
1. User starts a form with a multi-select question with appearance="autocomplete"
2. Options are not separated by lines

#### Expected behavior
* Opti

[2018-07-20 13:26] grzesiek2010 commented on #2394
@opendatakit-bot claim

[2018-07-20 13:51] grzesiek2010 commented on #2379
@lognaturel
as we agreed I started with the newest one v1.13.2 here is a fix for this version: https://github.com/grzesiek2010/collect/commit/9b930e6b618a4b8721394d6c7a90e7791c38417a

let me know if it's ok and I can go ahead.

[2018-07-20 17:01] jd-alexander commented on #2371
Here's a user story that talks about the feature!

**Title**
 An enumerator should be able to select the submission transport type when they are ready to make a submission.

**Business/User Value**
As an enumerator, I want to send a submission via SMS so that time-sensitive data can always be delivered when operating in challenging environments. I also want to send via data when I am in an environ

[2018-07-20 18:23] jd-alexander commented on #2371
In regards to the `Server Settings`, I am thinking that we should find a way to make the meaning of the `Both` option clearer since a user selecting it might not get what it implies. I think saying `Both` makes it seem like when you click `send` it would send to both of them. Of course, when then they navigate to the screen they would realize they have to choose either of the two options so we wou

[2018-07-20 18:44] lognaturel commented on #2371
Medic show two buttons if an SMS number is defined -- "Send (SMS)" and "Send (Internet)". Otherwise it just shows one.

Did we consider something similar? That is, not having a "send via" setting but instead, if only one transport is configured, just show a "Send" button and if both are configured show two buttons? Making this change would require holding the current release but if we don't see a

[2018-07-20 19:18] jd-alexander commented on #2371
We could probably loop in @yanokwa on this decision! He has an eye for things like these! Personally, I think once we use "Choose on send" in the setting then it all becomes clear. I opt to keep this setting because as you said it will allow organizations to make these configurations and restrict usage and I think there will be users who just won't ever use SMS so having that button their might be

[2018-07-20 19:18] lognaturel commented on #2371
I do think adding a third button is somewhat better than using a dialog or bottom sheet because it's immediately visible to the user that they have a decision to make and requires fewer interactions.

[2018-07-20 19:19] yanokwa commented on #2371
I think it'll be common for users to want to download forms via Internet and send submissions via SMS and we don't want to lose that functionality. So to summarize...
* Instead of Both, we should say `Select on send`
* Keep the Send via menu and only show the two buttons if `Select on send` is chosen
* Instead of SMS/Internet Send, we should do `Send ($protocol)`
* Double the vertical size of the

[2018-07-20 19:20] jd-alexander commented on #2371
haha we all commented at the same time :smile:

[2018-07-20 19:20] lognaturel commented on #2371
Do you mean they should always be twice as tall? I think it would be ideal if they could grow to fit the available vertical space and the text could be centered vertically. I believe some of the other views do this now. Maybe Get Blank Form?

[2018-07-20 19:59] yanokwa commented on #2371
Yes, @lognaturel, they should be the same behavior as Get Blank Form screen.

[2018-07-20 22:32] lognaturel opened #2397 "Title of open source licenses screen is not human-friendly"
#### Software and hardware versions
Since the open source licenses screen was introduced

#### Problem description
Title of open source licenses screen is not human-friendly.

#### Steps to reproduce the problem
1. In the overflow menu from the main screen, tap 'about'
1. Tap 'open source libraries / licenses'

See that the menu shows the file URI.

#### Expected behavior
Something friendly like "

[2018-07-20 23:59] lognaturel opened #2399 "Tint color in dark theme should be higher contrast"
See https://forum.opendatakit.org/t/dark-theme-radio-buttons-hard-to-see/13499

Android does seem to have a standard for some if its own screens that we should use: https://phandroid.com/2015/05/28/android-marshmallow-has-a-dark-theme-hidden-in-the-developer-options/ I'm not sure why this is not what the app compat dark theme uses (https://developer.android.com/guide/topics/ui/look-and-feel/themes

[2018-07-21 00:03] lognaturel commented on #2379
It certainly looks great to me! @yanokwa do you think we should try to build this and push to the Play Store before taking on the other versions so we're sure it works?

[2018-07-21 01:26] surajdubey commented on #2296
@opendatakit-bot claim

[2018-07-21 02:42] lognaturel commented on #2379
We've discovered that the `versionCode` will need to be manually set because the commit count that currently sets it is always on `master` rather than on the current branch. https://github.com/opendatakit/collect/tree/v1.13.x has been updated with the contents of your branch @grzesiek2010 and that single update.

Now @yanokwa and I are trying to make sure it's safe to upload older APKs. https://de

[2018-07-23 03:35] lognaturel commented on #2379
1.13.3 is out. @grzesiek2010 what you did for it was great and the Play Store warning is indeed gone. The only addition will be to manually set the version code to one higher than the one in the original issue ⬆️. Thanks!

[2018-07-23 04:40] yanokwa opened #2401 "Crash due to toggling between SMS and Internet submissions"
#### Software and hardware versions
Collect v1.16

#### Steps to reproduce the problem
Build a form that isn't on a server
Switch to SMS transport
Send an SMS submission with no SIM card (fails, no sim card)
Switch to Internet transport
Send the failed SMS submission (fails, no end point)
Switch to SMS transport
Send the failed SMS submission (crash)

#### Other information
[code]

[2018-07-23 05:21] lognaturel commented on #2389
This would be really good to do. I don't think it has to be formal tests -- setting up a protocol and trying it on a couple of devices with different stats would be sufficient.

[2018-07-23 09:57] grzesiek2010 opened #2402 "Attempt to invoke getLocale() on null reference"
#### Software and hardware versions
Collect v1.15.1

#### Problem description
It's an issue reported by a user: https://forum.opendatakit.org/t/attempt-to-invoke-getlocale-on-null-reference/14152

#### Steps to reproduce the problem
1. Start a form attached by a user on the forum, answer all questions and finalize the form
2. Open a saved instance

#### Expected behavior
Hierarchy activity should

[2018-07-23 09:57] grzesiek2010 commented on #2402
@opendatakit-bot claim

[2018-07-23 10:29] grzesiek2010 commented on #2379
v1.4.17: https://github.com/grzesiek2010/collect/commit/662c47bbea1787aeef5df36f16e9a254a1578bd4

[2018-07-23 11:43] grzesiek2010 commented on #2399
@opendatakit-bot claim

[2018-07-23 13:16] jd-alexander commented on #2401
Checking this out.

[2018-07-23 14:16] grzesiek2010 commented on #2399
@lognaturel

I think using default accent colors is a good idea. We don't need to define those colors we just need to stop overriding them. Please take a look at my pr.

[2018-07-23 15:38] jd-alexander commented on #2401
@yanokwa when you say it fails due to no endpoint how did you get that error to occur? I cant clear the current `Server` endpoint because it says that's an invalid URL.

[2018-07-23 15:42] lognaturel commented on #2401
I don’t think that part matters. I got the crash even after a successful http send (by showing sent and unsent). But you can have it fail with something like https://goooooooo.appspot.com

[2018-07-23 15:45] jd-alexander commented on #2401
Okay, still trying to reproduce the crash. Are you using a physical device to get the crash or it's via an emulator?

[2018-07-23 15:47] lognaturel commented on #2401
It was on a physical device.

[2018-07-23 15:50] jd-alexander commented on #2401
Okay just reproduced it.

[2018-07-23 17:49] lognaturel commented on #2401
And here it is "in the wild"! https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b55f9176007d59fcd7fca8d?time=last-seven-days&sessionId=5B55F944032400014A7E668B20F017D1_DNE_0_v2

[2018-07-23 18:24] yanokwa commented on #2379
v1.4.17 is on the Play Store. Let's keep going!

[2018-07-24 07:52] grzesiek2010 commented on #2379
v1.4.11: https://github.com/grzesiek2010/collect/commit/62f7154b7055c6794a6242db4dd995ad70477631

[2018-07-24 08:35] vishnus1224 commented on #2359
I'm sorry @lognaturel . I have been very busy past few days and haven't been able to work on this.
I am going on vacation in a couple of days for the next 15 days. So if this is urgent than someone can go ahead . Else I will do the implementation once I am back.
@opendatakit-bot unclaim

[2018-07-24 13:22] grzesiek2010 opened #2407 "Attempt to invoke interface method 'int android.database.Cursor.getCount()' on a null object reference"
org.odk.collect.android.tasks.InstanceUploader.onPostExecute (InstanceUploader.java:43)
android.os.AsyncTask.finish (AsyncTask.java:660)
android.os.AsyncTask.-wrap1 (AsyncTask.java)
android.os.AsyncTask$InternalHandler.handleMessage (AsyncTask.java:677)
android.os.Handler.dispatchMessage (Handler.java:110)
android.os.Looper.loop (Looper.java:203)
android.app.ActivityThread.main (ActivityThread.jav

[2018-07-24 17:03] jd-alexander commented on #2374
So by itself "Submission transport" can be toggled on and off and it's enabled state is tied to the "Server" value.

[2018-07-24 22:53] yanokwa commented on #2379
@grzesiek2010, we've run into an issue where what you tagged v1.4.11 (should now be called v1.4.10.1) won't work because we don't have that version code available. We also don't have any other version codes that we can use.

While we try to figure out a way forward, can you please update 1.4.7.1 and 1.4.5.1, but in those commits, be sure to update the `versionName` in addition to the `versionCode`

[2018-07-24 23:53] lognaturel commented on #2374
Yes, that's right. Additionally, I think probably it should become unchecked in addition to being disabled if Server is unchecked because it's just not possible to show "Submission transport" without "Server".

[2018-07-25 00:00] #2407 closed, assigned to nobody

[2018-07-25 07:18] aurdipas commented on #1538
nobody thinking also to add Burmese calendar? https://en.wikipedia.org/wiki/Burmese_calendar

[2018-07-25 10:34] grzesiek2010 commented on #2379
v1.4.7.1 https://github.com/grzesiek2010/collect/commit/2d724f7776be31963abe6710f57d5d65d0c32743
v1.4.5.1 https://github.com/grzesiek2010/collect/commit/ac42b5eeebb0434b0cfaf97d7820df6254506d2e

[2018-07-25 15:15] #2402 closed, assigned to nobody

[2018-07-25 15:21] #2399 closed, assigned to nobody

[2018-07-25 17:41] akshay-ap commented on #2359
I would like to work on this issue.
@opendatakit-bot claim

[2018-07-25 19:21] lognaturel opened #2410 "Provide ways to clear out shared preferences representing SMS state"
Each time an attempt is made to send a filled form via SMS, a SharedPreference record is created for that filled form. These can get orphaned if the filled form is sent via Internet or the filled form is deleted.

At minimum, it should be possible to clear this with the admin settings > reset option. Ideally that state would also be cleaned up on filled form deletion.

[2018-07-25 19:22] lognaturel commented on #2389
Related: https://github.com/opendatakit/collect/issues/2410 is about at least providing a way to clear some of it out.

This stress testing is important to do soon. @jd-alexander if you have a set of steps and zip of submissions to try this with, we can then do it on various underpowered devices.

[2018-07-25 20:36] jd-alexander commented on #2389
Okay I am gonna start working on a way to do it.

[2018-07-25 21:10] #2401 closed, assigned to nobody

[2018-07-25 21:15] lognaturel opened #2411 "When sending is done via SMS, icons in Send Finalized Form are misleading"
#### Software and hardware versions
Collect v1.16.0

#### Problem description
When sending is done via SMS, icons in Send Finalized Form are misleading

#### Steps to reproduce the problem
1. Load a form with SMS tags
1. Set the transport to SMS
1. Fill out the form
1. Send the filled form but let it fail in some way (e.g. no SIM), verify that a ! icon is shown
1. Go back to the main menu
1. Tap "

[2018-07-25 21:19] lognaturel opened #2412 "Forms table already exists in onCreate call"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b51d4d16007d59fcd29f274?time=last-seven-days&sessionId=5B58B447017800015B1E64F64BB80554_DNE_0_v2) (requires auth):
[code]

How is `onCreate` called if the forms table and therefore the database already exist?

Could it be some kind of concurrency issue

[2018-07-25 21:23] lognaturel opened #2413 "Crash when attempting to localize default Aggregate success text"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b5730c56007d59fcd999f00?time=last-seven-days&sessionId=5B5885A7026F00012F2EB1E68AFB9FE7_DNE_0_v2) (requires auth):

[code]

This is probably a custom server of some kind that doesn't guarantee sending a response back under certain conditions.

[2018-07-26 01:16] #2413 closed, assigned to nobody

[2018-07-26 08:30] grzesiek2010 commented on #2412
@opendatakit-bot claim

[2018-07-26 09:57] grzesiek2010 opened #2417 "Fix the root cause of #2412 (concurrency in databases)"
#### Software and hardware versions
Collect v1.16.0 and previous versions

#### Problem description
#2412 shows that race condition problems may take place in our databases. It's not a big issue and I added a fix that avoids consequences (crashes) but it would be good to fix the root cause.
Maybe we should use a singleton object?

[2018-07-26 10:45] grzesiek2010 opened #2418 "Attempt to invoke interface method 'int android.database.Cursor.getColumnIndex(java.lang.String)' on a null object reference"
org.odk.collect.android.activities.FormEntryActivity.saveChosenFile (FormEntryActivity.java:844)
org.odk.collect.android.activities.FormEntryActivity.access$400 (FormEntryActivity.java:152)
org.odk.collect.android.activities.FormEntryActivity$2.run (FormEntryActivity.java:792)
java.lang.Thread.run (Thread.java:818)

https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlyti

[2018-07-26 12:10] grzesiek2010 opened #2420 "Human-friendly upload result message when the recived one is null."
#### Software and hardware versions
Current master branch

#### Problem description
After fixing https://github.com/opendatakit/collect/pull/2414 if a server doesn't provide an uploading result message then
![screenshot_2018-07-26-14-06-04](https://user-images.githubusercontent.com/3276264/43261493-1dbfd1a8-90dd-11e8-92be-7a30d2a5f312.png)
 text `null` text is displayed.

I think it would be bette

[2018-07-26 12:11] grzesiek2010 commented on #2420
@lognaturel what do you think?

[2018-07-26 15:42] lognaturel commented on #2420
I think it’s better if users know there’s a problem and can report it. Like I said in the PR, it’s such an unusual case we shouldn’t spend any time on it. Adding a new string would mean a new set of translations.

[2018-07-26 15:42] #2420 closed, assigned to nobody

[2018-07-26 17:55] grzesiek2010 opened #2421 "Fatal Exception: java.lang.OutOfMemoryError"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b18d6906007d59fcd20c5a7?time=last-seven-days&sessionId=5B54C851032F000168C149A432F7B70C_DNE_0_v2) (requires auth):

[code]

[2018-07-26 18:34] grzesiek2010 opened #2423 "Fatal Exception: java.lang.NullPointerException Attempt to get length of null array"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b5a0d1f6007d59fcdd95643?time=last-seven-days&sessionId=5B5A0CAD008E000122E2C7929EEA03A4_DNE_0_v2) (requires auth):

[code]

[2018-07-26 18:57] #2412 closed, assigned to nobody

[2018-07-26 18:59] #2418 closed, assigned to nobody

[2018-07-26 19:02] #2423 closed, assigned to nobody

[2018-07-26 19:08] jd-alexander commented on #2411
Okay! This shouldn't be happening so I am gonna double check soon!

[2018-07-26 19:51] #2421 closed, assigned to nobody

[2018-07-27 16:05] #2374 closed, assigned to nobody

[2018-07-27 19:32] rk635636 commented on #2342
I guess function `getColumnIndexOrThrow` is working properly only on devices before Android N.
So first I copied the audio file and then used that one.

[2018-07-27 20:51] #2127 closed, assigned to nobody

[2018-07-30 09:48] #2394 closed, assigned to nobody

[2018-07-30 20:14] #1137 closed, assigned to nobody

[2018-07-31 09:19] grzesiek2010 opened #2434 "No Activity found to handle Intent { act=com.google.android.gms.common.account.CHOOSE_ACCOUNT pkg=com.google.android.gms (has extras) }"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b3379b66007d59fcdf8b27f?time=last-seven-days&sessionId=5B5D61DF012D00010035C2A293D82638_DNE_0_v2) (requires auth):

[code]

[2018-07-31 10:23] grzesiek2010 opened #2436 "Attempt to invoke virtual method 'java.lang.String java.io.File.getAbsolutePath()' on a null object reference"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b5b04356007d59fcdeced44?time=last-seven-days&sessionId=5B5F4FEF002C00012993B4605A36F423_DNE_8_v2) (requires auth):

[code]

[2018-07-31 11:35] grzesiek2010 opened #2439 "Attempt to invoke interface method 'int android.database.Cursor.getCount()' on a null object reference"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b4090e06007d59fcddae344?time=last-seven-days&sessionId=5B5F455B004F00017FC88FF783045AD9_DNE_0_v2) (requires auth):

[code]

[2018-07-31 11:40] grzesiek2010 opened #2441 "Attempt to invoke interface method 'int android.database.Cursor.getCount()' on a null object reference"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b195ec66007d59fcd2c545d?time=last-seven-days&sessionId=5B5EF5A0028100010E644F74F93FAB32_DNE_0_v2) (requires auth):

[code]

[2018-07-31 12:51] #2441 closed, assigned to nobody

[2018-07-31 12:53] #2439 closed, assigned to nobody

[2018-07-31 13:58] grzesiek2010 opened #2443 "Problem with sending forms to Google Sheets if that Sheet is filtered"
#### Software and hardware versions
Collect v1.16.1 and older versions

#### Problem description
The issue has been reported by a user: https://forum.opendatakit.org/t/repeat-groups-sending-unreliably-to-google-sheets/13919/3

It's about a problem with repeat groups but in fact, it doesn't matter it may be a simple form without repeats like:
[data.xml.txt](https://github.com/opendatakit/collect/fi

[2018-07-31 17:28] jd-alexander opened #2444 "A way to lessen the NullPointerExceptions across the codebase."
#### Problem description
There are alot of `NullPointerException`s that plague the Collect app from time to time based on the issues I see here and the crashes in Firebase Crashlytics. I am thinking that we could explore using [Uber's NullAway](https://github.com/uber/NullAway) that helps with eliminating these exceptions. We already have a few static analysis tools doing several other checks and

[2018-07-31 17:29] jd-alexander commented on #2436
Hey @grzesiek2010 here's a convo I am starting to see if we can lessen these occurrences :smile: #2444

[2018-07-31 18:27] jd-alexander opened #2446 "Add Firebase Performance Monitoring and fix dependency issues"
#### Problem description
ODK Collect performs really well and so far there has been no bottlenecks within the app. Nonetheless, it would still be good to monitor the performance of the app using [Firebase](https://firebase.google.com/docs/perf-mon/get-started-android) so if an issue ever arises that impacts it, we can have a baseline of metrics that would help us to understand which areas have bee

[2018-08-01 02:39] jd-alexander commented on #2446
@opendatakit-bot label "good first issue"

[2018-08-01 12:11] grzesiek2010 opened #2448 "Fatal Exception: java.lang.NullPointerException"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b5c98906007d59fcd0e6d18?time=last-seven-days&sessionId=5B602D8603AE000127D29CEC4821FEED_DNE_0_v2) (requires auth):

[code]

[2018-08-01 12:22] #2448 closed, assigned to nobody

[2018-08-01 17:35] jd-alexander commented on #2444
@opendatakit-bot label "needs discussion"

[2018-08-01 17:37] jd-alexander commented on #2411
@opendatakit-bot claim

[2018-08-02 22:08] grzesiek2010 opened #2452 "Allow to use a front camera in BarcodeWidget"
#### Problem description
One of our users claims that his front camera works better and would like to use it in `BarcodeWidget`:
https://forum.opendatakit.org/t/using-zxing-barcode-scanner-plus-instead-of-barcode-scanner-or-odk-collect-integrated-scanner-for-decoding-barcodes/14358?u=grzesiek2010

We need to check if it's possible to do that.

[2018-08-03 03:32] yanokwa commented on #2379
I talked to some folks about Google about our issue with v1.4.1.4.10.110.1 and this is what they said...

What this means to me is that we should not worry about trying to ship 1.4.10.1, 1.4.7.1, and 1.4.5.1. We can leave them in the Play Store. My guess is that Google will eventually remove them.

[2018-08-03 09:59] ekigamba opened #2454 "Request ODK Collect to submit specific form instances using custom credentials"
#### Software and hardware versions
Collect v1.16.1, Android v6.0.1, Samsung Galaxy J5

#### Problem description

Currently there is no way to request/command ODK Collect to upload specific form instances using either default settings OR custom url/username/password.

#### Steps to reproduce the problem

#### Expected behavior
An external app should be able to request ODK Collect to submit form in

[2018-08-03 10:03] ekigamba commented on #2454
@opendatakit-bot claim

[2018-08-04 17:57] SaumiaSinghal commented on #2364
@opendatakit-bot claim

[2018-08-04 17:58] SaumiaSinghal commented on #2364
Sorry, i got busy somewhere, but I'm working on it.

[2018-08-06 19:00] SaumiaSinghal commented on #2012
@opendatakit-bot claim

[2018-08-06 22:14] SaumiaSinghal commented on #2012
Hie @yanokwa, I need some help. If we're using `X-OpenRosa-Accept-Content-Length`, then how much size should be allowed as the content length, is it fine to go with 20Mb?

[2018-08-06 22:23] yanokwa commented on #2012
I think the idea here is that the server will respond with a Content-Length that it would like (e.g., https://github.com/opendatakit/collect/blob/master/collect_app/src/androidTest/java/org/odk/collect/android/tasks/InstanceServerUploaderTest.java#L105)  and that is the amount Collect should use to submit data.

If the server doesn't specify a length, then we should do what Collect does now, defau

[2018-08-06 23:06] SaumiaSinghal commented on #2012
Okay @yanokwa, is it like the server attaches a Content-Length, whatever it likes, and we should use `X-OpenRosa-Accept-Content-Length` header to fetch it and if the length is more than that, then only, we must split files into that size post?  And if the server doesn't specify a length, then we should do what Collect does now.

[2018-08-07 01:21] lognaturel commented on #2379
That's a relief!

For completeness, the problem with 1.4.10.1 is that there are no version codes available, right? And with 1.4.7.1 and 1.4.5.1, I'm guessing they're hard to build because they're pre-Gradle?

[2018-08-07 10:06] grzesiek2010 opened #2457 "GeoPointWidget with placement-map appearance doesn't work"
#### Software and hardware versions
Collect v1.16.0 and v1.16.1

#### Problem description
The issue has been originally reported on the forum https://forum.opendatakit.org/t/odk-collect-v1-16-x-problem-with-geopoint-placement-map/14418
I was able to reproduce the issue.

#### Steps to reproduce the problem
1. Open GeoPointWidget with placement-map appearance (eg. from `All widgets` form available

[2018-08-07 12:47] mmarciniak90 opened #2459 "The user should see pop up with phone number fields if user tries to send submission via SMS if a phone number is not set"
#### Problem description
The user should see pop up with phone number fields if the user tries to send submission via SMS if a phone number is not set

#### Steps to reproduce the problem
1. The user goes to `General Settings` -> `Server` and selects that submissions are sent via SMS
2. The user does not add a destination phone number
3. The user sends a finalized form and sees `Failed` status

##

[2018-08-07 15:09] jd-alexander commented on #2459
@opendatakit-bot claim

[2018-08-07 17:24] jd-alexander commented on #2459
@opendatakit-bot label "needs-discussion"

[2018-08-07 17:27] jd-alexander commented on #2459
@opendatakit-bot label "needs discussion"

[2018-08-07 17:41] jd-alexander commented on #2459
I was thinking we could probably have a popup inside the setting that asks the users to supply the number than to put it on the upload screen. Thus we could keep settings related functionality in one area.

[2018-08-07 17:42] jd-alexander commented on #2459
So if a user ignores that then when they get the failure message it won't be alarming. We could also disable/rollback if the number isn't entered but I am thinking that might be too much.

 @yanokwa what do you think about these proposed ideas? Which would be the best?

[2018-08-07 18:38] yanokwa commented on #2379
Yes and yes. I think we can close this now...

[2018-08-07 18:38] #2379 closed, assigned to nobody

[2018-08-08 12:36] #2457 closed, assigned to nobody

[2018-08-08 13:23] mmarciniak90 commented on #2459
@jd-alexander, good propositions!
@yanokwa, I suggested to add the pop up during sending forms because we have similar behavior in case:
1. The user selects Google sheets as a server
2. The user does not set Google Account
3. User tries to send submissions
4. Pop up with Google accounts appears

I figured that it will be consistent behavior for a case with sending SMS.

[2018-08-08 14:48] #2436 closed, assigned to nobody

[2018-08-08 22:45] #2443 closed, assigned to nobody

[2018-08-09 00:00] yanokwa commented on #2459
I was able to reproduce this on a fresh install, but it doesn't happen if you had set a phone number previously.

I agree with @jd-alexander that we should have some dialog/toast in the settings and not have it entered at submission. Doing it at submission feels high-risk (e.g., enumerators can make mistakes when entering the number).

Since we currently show a toast when there is a bad number, ma

[2018-08-09 08:07] ekigamba opened #2462 "Fix ODK Collect form download request intent from external app"
#### Software and hardware versions
Collect v1.16.1, Android v6.0,
Devices Used: Infinix, Oppo

#### Problem description

Service intents do not work on the above phones. These are the only tested phones on which this behaviour has been replicated so far.

#### Steps to reproduce the problem

1. User opens ODK Collect so that it is kept in memory
1. User opens ODK Collet Intents Tester app - Downl

[2018-08-09 09:19] ekigamba commented on #2462
@opendatakit-bot claim

[2018-08-09 10:19] mmarciniak90 opened #2464 "Improve behavior when the user selects Google Sheet as a server but the user does not add Google Account"
#### Problem description
Improve case when the user selects Google Sheet as a server but the user does not add Google Account

#### Steps to reproduce the problem
1. The user selects Google sheets as a server
2. The user does not set Google Account
3. User tries to send submissions
4. Pop up with Google accounts appears

|Step 1, 2 | Step 3 | Step 4|
|---|---|---|
|![screenshot_20180809-131241](ht

[2018-08-09 10:19] mmarciniak90 commented on #2464
@opendatakit-bot label "needs discussion"

[2018-08-09 11:01] #2371 closed, assigned to nobody

[2018-08-09 19:55] SaumiaSinghal commented on #2057
Hie @lognaturel, is this issue still open, Can i work on it?

[2018-08-10 07:33] SaumiaSinghal commented on #2359
Hie @lognaturel, I would like to work on this isuue

[2018-08-10 07:34] SaumiaSinghal commented on #2359
@opendatakit-bot claim

[2018-08-10 07:40] SaumiaSinghal commented on #2359
But @lognaturel, I have some doubts, we are talking about a whole new widget `Rating Widget`, that will function just same as `Range Widget` but will differ in appearance. Also, if we can have minimum number of selected stars to be 0, what is the maximum number of unselected stars to be displayed on the screen?

[2018-08-10 08:19] grzesiek2010 opened #2467 "NullPointerException in MapHelper#getOfflineLayerListWithTags()"
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b62ccc96007d59fcd8b3b6b?time=last-seven-days&sessionId=5B6C66FF00A3000121F9E0117C4BE298_DNE_0_v2) (requires auth):

[code]

[2018-08-10 11:50] #2467 closed, assigned to nobody

[2018-08-10 13:01] #2434 closed, assigned to nobody

[2018-08-10 14:56] #2364 closed, assigned to nobody

[2018-08-10 16:25] jd-alexander commented on #2370
@lognaturel Hi! We can probably close this issue for now since we’ve mostly decided that there’s no easy way to do this. During the weekly update meeting, I suggested that we can close the PR but leave the Auto-send branch associated with this issue because it has a working implementation of the`MultiListPreference` control and that might come in handy when we need to have multiple options for one

[2018-08-10 22:40] jd-alexander opened #2471 "Standardize dependency injection across Collect"
#### Problem description
So we are actively working on making more components within Collect loosely coupled so that we can increase the testability of the app as a whole and also the ability to test individual components. We could say that Dagger is one of the major proponents of this as it provides us with a DI solution that has been tested and proven by our industry to accelerate proper TDD wor

[2018-08-10 22:42] jd-alexander commented on #2471
@opendatakit-bot label "needs discussion"

[2018-08-11 11:43] shobhitagarwal1612 commented on #567
@lognaturel Can we close this?

[2018-08-11 11:46] shobhitagarwal1612 commented on #550
@lognaturel We are using both dagger and butter knife so this issue can be closed too.

[2018-08-11 23:25] SaumiaSinghal commented on #2057
@opendatakit-bot claim

[2018-08-12 02:14] jd-alexander commented on #2464
@opendatakit-bot claim

[2018-08-13 11:07] kkrawczyk123 opened #2473 "RTL language issues on Android 4.2."
#### Software and hardware versions
Collect v1.16.x, Android v4.1, 4.2 device used...

#### Problem description
There is an issue with the display of reset select list in Androids 4.1 and 4.2
Android 4.2:
![screenshot_2018-08-13-12-47-13](https://user-images.githubusercontent.com/33342488/44028180-5bd055a6-9ef9-11e8-9b9a-e1f4e2701e71.png)

On all other Android versions, the list is correctly align

[2018-08-13 13:38] kkrawczyk123 commented on #2473
I can see that there are more issues connected to Android 4.2 and RTL language like:
- choosing language for the form popup:
![screenshot_2018-08-13-13-34-00](https://user-images.githubusercontent.com/33342488/44034978-b0b79ce0-9f0e-11e8-8ba7-63215a55d4ee.png)
- not visible About section:
![screenshot_2018-08-13-13-37-52](https://user-images.githubusercontent.com/33342488/44035019-c96557aa-9f0e-11

[2018-08-13 17:16] jd-alexander commented on #2464
@yanokwa should the same approach that was taken for the SMS Phone Number Dialog validation be done?

[2018-08-13 21:26] lognaturel commented on #2370
Closed the PR as suggested. @jd-alexander, you should also be able to close your own PRs.

[2018-08-13 21:27] lognaturel commented on #2370
I suppose it makes sense to also close the issue since the feature isn't designed. It can be reopened if needed.

[2018-08-13 21:27] #2370 closed, assigned to nobody

[2018-08-13 22:24] lognaturel commented on #2464
@jd-alexander what options are you seeing? What do you think would be most effective for users and most consistent? Would be helpful to have a summary of all cases (e.g user sets an account when first configuring gdrive as the destination, form sets a destination, etc).

[2018-08-14 09:36] kkrawczyk123 commented on #2473
When I set Collect's language as arabic and polish as a language of the form, an audio button is overlapping polish text, screenshot attached:
![screenshot_2018-08-13-11-03-21](https://user-images.githubusercontent.com/33342488/44084133-3a90b436-9fb6-11e8-9310-2e19459d9cb5.png)
In the opposite situation, when collect's language is polish and from language is arabic, everything seems to look just f

[2018-08-14 10:28] kkrawczyk123 commented on #2473
When Collect's language is set as arabic and form's language is set as arabic too and Show guidance for questions is set as Yes - collapsed, guidance icon is centered somehow, screenshot attached:
![screenshot_2018-08-14-12-18-31](https://user-images.githubusercontent.com/33342488/44086660-8b4e9878-9fbd-11e8-9084-d6eaf31b91fb.png)

[2018-08-14 10:41] kkrawczyk123 opened #2475 "Settings are displayed as RTL when you change language from arabic to english in the middle of filling the form on Androids 7.0 and 8.1"
#### Software and hardware versions
Collect v1.16.x, Android v7.0 and 8.1

#### Problem description
Settings are displayed as RTL when you change language from arabic to english in the middle of filling the form on Androids 7.0 and 8.1

#### Steps to reproduce the problem
1. Set Collect's language as RTL language.
2. Star to fill a form.
3. In the middle of filling the form go to general settings

[2018-08-14 10:56] grzesiek2010 commented on #2473
I investigate the mentioned issues on our another device with Android 4.2.2 and only the problem with overlapping audio/video buttons is visible. I guess there is something wrong with that particular device you have used @kkrawczyk123 it's [Infinix Race Bolt Q X451](https://bestmobs.co/infinix-race-bolt-q-x451/) - Android 4.2.1 it's a device we have had always many problems with, what @mmarciniak9

[2018-08-14 11:12] kkrawczyk123 opened #2476 "Guidance icon is displayed in right when it should be on the left on Android 7."
#### Software and hardware versions
Collect v1.x.x, Android v7 an 8.1. device used....

#### Problem description and reproduction steps:
As the old description wasn't detailed enough I am updating an issue. This is a gif of actions that I did, and the issue was reproducible for me each time I tried on Android 7 an 8.1.
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/33342488/

[2018-08-14 11:32] mmarciniak90 opened #2477 "Warning icon look depends on Submission transport settings"
#### Software and hardware versions
Collect current master

#### Problem description
Warning icon look depends on Submission transport settings

#### Steps to reproduce the problem
1. The device does not have SIM card
2. User sets `Send submission via SMS`
3. The user opens `Send Finalized Form` page
4. The user sees warning icons

|![screenshot_20180814-131024](https://user-images.githubuserconte

[2018-08-14 13:47] #2411 closed, assigned to nobody

[2018-08-14 14:04] mmarciniak90 opened #2478 "Status of failed submission does not have information about Airplane mode on"
#### Software and hardware versions
Collect current master
Collect 1.16.2 works correct

#### Problem description
Status of failed submission does not have information about Airplane mode on

#### Steps to reproduce the problem
1. User sets `Send submission via SMS`
2. Airplane mode is turned on on device
3. User goes to `Send Finalized Form
4. User tries to send forms
5. The user sees toast with

[2018-08-14 18:18] jd-alexander opened #2479 "Google sheets upload crashes if account was removed from device"
#### Software and hardware versions
Collect v1.16.1, Android v7.0.0, Android 4.4.2, Google Nexus 6, Samsung Galaxy Tab Pro

#### Problem description
ODK Collect crashes when you attempt to do an upload via Google Sheets when you are using an account that has been removed from the device.

#### Steps to reproduce the problem

1. Set your transport to Google Sheets and then select a Google account.

[2018-08-14 18:23] jd-alexander commented on #2464
In the meeting I had with @yanokwa we discussed the current approach where if an account isn't set then a user is able to select whichever user account they want for submissions. This basically bypasses the admin setting because if an admin sets up Google sheets as a destination and forgets to set an account then the user can log into any Google account they want on their device and then select th

[2018-08-14 18:32] jd-alexander commented on #2464
**Title**

An enumerator should only be able to select a Google account if the admin has enabled the Server settings.

**Business/User Value**

Currently the enumerator can set a Google account if the transport is configured but the account was left deselected. Having this functionality only accessible in the Server settings also administrators to lockdown access if they want to.

**Acceptance Cri

[2018-08-14 18:38] jd-alexander commented on #2464
For the different cases, if a user sets an account the first time they are configuring the Google sheets transport then this issue won't occur because once the first account is set there's currently no way to deselect/clear the account selection. The functionality only allows you to switch between multiple accounts.

For the form sets destination @lognaturel could you expound a bit on that case? s

[2018-08-14 19:59] lognaturel commented on #2464
I don't exactly remember how Collect determines whether it needs to prompt for a username/password. Does it try to send anonymously since some sheets could allow anonymous writes and then prompt? Or are anonymous writes not allowed? If it's possible currently to submit anonymously, it should continue to be.

In general, forms meant to be submitted to gsheets have a destination set in the form. Som

[2018-08-14 20:17] #2330 closed, assigned to nobody

[2018-08-14 22:24] jd-alexander commented on #2464
Okay, awesome! So we can remove `needs discussion` now? Verifying to be safe 😄

[2018-08-14 22:24] jd-alexander commented on #2479
@opendatakit-bot claim

[2018-08-14 23:03] lognaturel opened #2481 "Values in number spinner are small"
As discussed at https://forum.opendatakit.org/t/dark-theme-radio-buttons-hard-to-see/13499/9.

Values in spinners seem to be quite a bit smaller than the text font. This is particularly a problem in dark mode where there isn't as much contrast.

I believe we're just using the Android default. I think it would be better to match the text font size. Is there any risk to doing that?

[2018-08-16 03:43] lognaturel opened #2485 "WebUtilsTest tests fail"
This is why the build is currently failing.

[code]

It appears to be introduced in #2466. I've confirmed the tests pass at 22365c5275b7f8083d675ac009ad4ce69c704b13 and then fail at 9eee16bedd0fdfda80f4c8a07340b682b782203c. The `catch` clause at line 422 was changed to only catch `IOException` so it doesn't handle the NPE anymore. @shobhitagarwal1612 do you happen to remember how you made this cha

[2018-08-16 06:40] shobhitagarwal1612 commented on #2485
The failure is due to an NPE exception [here](https://github.com/opendatakit/collect/commit/9eee16bedd0fdfda80f4c8a07340b682b782203c#diff-a892fd7a3cad2cfb86f45a9051a2771aR328) as mentioned by @lognaturel and adding a null check fixed the issue.

No, the change wasn't suggested by IDE. It was the findbugs plugin which caught the issue and suggested to fix it by catching only the thrown exceptions.

[2018-08-16 15:42] #2485 closed, assigned to nobody

[2018-08-16 15:50] lognaturel commented on #2485
Thanks, @shobhitagarwal1612! I'm asking about the IDE because it too can make suggestions for simplification in line with the various static analysis checkers. I suppose NPEs are never considered since they're runtime exceptions. I'm kind of surprised that the IDE didn't detect that `getContentType()` could return `null` but I think that is probably because `HttpEntity` is an interface type and so

[2018-08-16 15:52] #2452 closed, assigned to nobody

[2018-08-17 03:43] jd-alexander commented on #2477
@opendatakit-bot claim

[2018-08-17 03:46] jd-alexander commented on #2477
I made the warning icons different so that it could be obvious when a SMS error had occurred. I am going to investigate what's causing this.

[2018-08-17 12:46] surajdubey commented on #2296
@opendatakit-bot claim

[2018-08-17 15:59] #2459 closed, assigned to nobody

[2018-08-19 16:15] DreamyPhobic opened #2490 "Getting error when running the App in my system !!"
Hello, I am new at GitHub. I want to contribute to this project but when I am trying to run this app, I am getting an error as given below. Can anybody help me with this? I was trying hard to solve this error from the last 3 hours.

[code]

[2018-08-19 16:18] SaumiaSinghal commented on #2490
Try turning off Instant Run.

[2018-08-20 04:32] lognaturel commented on #1538
@aurdipas If you have a need for the Burmese calendar, please post in features on the forum!

@grzesiek2010 has created a pull request at https://github.com/JodaOrg/joda-time/pull/479. It may eventually get merged but then `joda-time` would need to be updated in `joda-android` and all of that will certainly take time. I think we should start by adding the chronology in Collect. Since no internal l

[2018-08-20 04:53] bishwash-adhikari commented on #1538
@lognaturel @grzesiek2010 you can freely use my code and I have no concerns related to it. I can add same license code on BISTest and BISDateTimeField.

[2018-08-20 04:55] lognaturel commented on #1538
Thanks so much for the response and for making this code available, @bishwash72! It would be great if you could add the headers. Please do put your name as the copyright holder since it's your code. 😊

[2018-08-20 05:05] #2490 closed, assigned to nobody

[2018-08-20 08:46] DreamyPhobic commented on #2490
thanks !! Now its running.

[2018-08-20 08:57] DreamyPhobic commented on #2446
Can I work on this issue ?? I have also faced this problem yesterday when setting up this project.
And I think I have fixed this issue partially in my pc. Thank you!

[2018-08-20 09:20] bishwash-adhikari commented on #1538
@lognaturel I have added header with copyright info and my name. I have created the pull request. https://github.com/grzesiek2010/joda-time/pull/1

[2018-08-20 11:33] kkrawczyk123 opened #2492 "Geoshape: deleted polygon is visible after screen rotation"
#### Software and hardware versions
Collect v1.16.x, Android v from 4.1 to 8.1.

#### Problem description
After clearing and rotation of the screen, the deleted polygon is restored.

#### Steps to reproduce the problem
1. Open Geoshape widget.
2. Add a polygon.
3. Click on the clear button.
4. Rotate the device screen.

#### Expected behavior
As polygon has been cleared it shouldn't be restored af

[2018-08-20 13:01] DreamyPhobic commented on #2397
Can I work on this issue? At first look of the app, I also found it little odd. Thank You!

[2018-08-20 13:02] jd-alexander commented on #2446
@DreamyPhobic ofcourse you can! You can claim it and start working whenever you are ready!

[2018-08-20 14:37] shobhitagarwal1612 commented on #2397
Sure, please go ahead.
Just comment `@opendatakit-bot claim` to claim the issue

[2018-08-20 16:42] lognaturel commented on #2492
I think this is related to #2310 -- there are several problems on device orientation changes.

I believe these will be addressed by @zestyping either in #2465 or a follow-on PR so I've labeled it as 'future release' so no one takes it on in isolation.

[2018-08-20 17:16] SaumiaSinghal commented on #2475
@opendatakit-bot claim

[2018-08-20 19:27] DreamyPhobic commented on #2446
@opendatakit-bot claim

[2018-08-20 19:28] DreamyPhobic commented on #2397
@opendatakit-bot claim

[2018-08-20 19:31] DreamyPhobic commented on #2397
@opendatakit-bot claim

[2018-08-20 19:42] lognaturel opened #2494 "Long lists of choices take a long time to render"
#### Problem description
If the list of choices in a select one or select multiple question is long, it takes a long time to display that question because all `TextView`s are computed and held in memory.

#### Steps to reproduce the problem
Load a form with a select question that has a long list of choices. These can come from a static choice list, a dynamic choice list or an external DB (using "s

[2018-08-20 19:57] lognaturel commented on #2494
Note: v1.16.3 accidentally included more commits than it intended to: https://github.com/opendatakit/collect/compare/v1.16.2...v1.16.3. One of the changes to list or textview rendering has caused a 3x slowdown on top of the usual slowness. It would probably be a good idea to start by identifying which of those commits caused the slowdown and resolving that so we're back to the same performance as

[2018-08-20 20:34] grzesiek2010 commented on #2494
This caused the problem https://github.com/opendatakit/collect/commit/f6087e3c5174bca3385af28ec545b5d6c2db055b

[2018-08-20 21:29] lognaturel commented on #2494
Ahh, good catch, @grzesiek2010. I'm not immediately seeing from the diff what the specific cause is. Seems all the same loops are there, the check on autoadvance was already there, etc. Have you been able to narrow it down more?

[2018-08-20 23:24] grzesiek2010 commented on #2494
because it's not directly caused by the commit I pointed out. The same slow performance is visibly on older versions if you use just `SelectOneWidget` (the form you shared with me contains `SelectOnceSearchWidget`). The commit I mentioned introduced refactoring to share the code and since f6087e3 `SelectOneWidget` and `SelectonceSearchWidget` use the same code (which works slowly). So the problem

[2018-08-21 14:52] rashinkafernando commented on #2397
@opendatakit-bot claim

[2018-08-21 14:56] rashinkafernando commented on #2349
@opendatakit-bot claim

[2018-08-22 00:43] #2397 closed, assigned to nobody

[2018-08-22 20:30] lognaturel opened #2499 "Replace reliance on CONNECTIVITY_ACTION broadcasts to be able to target API 24"
Collect currently uses `CONNECTIVITY_ACTION` broadcasts to trigger auto-send attempts.

Because of #1992, Collect will need to target API 26 by November 2018.

From https://developer.android.com/about/versions/nougat/android-7.0-changes#bg-opt:

[2018-08-22 23:31] yanokwa commented on #2499
@grzesiek2010 you are too fast! We've talked to @jd-alexander about this issue, so I'll be reassigning it to him.

[2018-08-22 23:39] grzesiek2010 commented on #2499
No problem. I have other issues, just wanted to do that after them or in the middle if I'm free. Btw not that fast, I claimed the issue one hour after you had created it :smile:

[2018-08-23 00:48] lognaturel opened #2501 "Alias search to autocomplete appearance for select multiple"
Select ones can use either the `search` or `autocomplete` appearance to show a search field above choices which is used to filter down the list.

Currently, select multiples only recognize `autocomplete` but should also allow `search` (but not `search()`, see #2502).

This might be a good opportunity to do some cleanup between `SelectOneSearchWidget` and `SelectMultipleAutocompleteWidget`.

In [di

[2018-08-23 00:54] lognaturel opened #2502 "Search() appearance/function should not show search interface unless search appearance is also specified"
There are two `search` appearances that Collect recognizes:
- `search` as an alias for `autocomplete` which shows a search box above select options
- `search()` appearance/function which pulls values from a CSV

Currently, Collect shows the search box above select options for both.

[different-search-appearances.zip](https://github.com/opendatakit/collect/files/2312395/different-search-appearances

[2018-08-23 04:38] yatri1609 commented on #2502
@lognaturel Can I work on this issue?

[2018-08-23 17:39] #2464 closed, assigned to nobody

[2018-08-23 18:20] lognaturel commented on #2502
Sure, @yatri1609, that would be great! You can claim it by commenting with `@opendatakit-bot claim`. Be sure to check out [the contribution guide](https://github.com/opendatakit/collect#contributing-code) and if you have any questions, the #collect-code at http://slack.opendatakit.org/ is a great place to hang out!

[2018-08-23 22:22] SaumiaSinghal commented on #2359
@opendatakit-bot unclaim

[2018-08-24 07:23] huangyz0918 opened #2504 "NullPointerException when using difference Java version"
#### Problem description

Noticed by @SaumiaSinghal .

When we test `collect_app` using `./gradlew` in Java 9 or Java 10, we may face this issue in gradle:

`java.lang.NullPointerException (no error message)`

The way to address that is switching the Java version to Java 8, we should add a little introduction in The troubleshooting section of README.

[2018-08-24 07:24] huangyz0918 commented on #2504
@opendatakit-bot claim

[2018-08-24 11:08] #2481 closed, assigned to nobody

[2018-08-24 16:26] jd-alexander commented on #2499
**Background**
So I have been doing some research on this matter and based on my findings the recommended approach to running any form of background jobs is to utilize the job scheduling capabilities that are provided in Android JetPack's Work Manager. The `JobScheduler` was being touted as the new defacto standard for backgrounding jobs but it's only compatible with apps targeting API 21 and abov

[2018-08-24 17:09] lognaturel commented on #2499
Thanks, @jd-alexander. Would also be great to get your thoughts, @grzesiek2010, since it seems you may have had some ideas as well.

It looks like [`WorkManager`](https://developer.android.com/topic/libraries/architecture/workmanager/) is nearly identical in goals to the [`android-job`](https://github.com/evernote/android-job) dependency we already have and that `android-job` [will soon be depreca

[2018-08-24 19:03] lognaturel commented on #2359
Apologies for missing your question, @SaumiaSinghal! I'll answer for anyone else who may want to take this on.

That's correct.

I don't think there should be a max. If the stars don't fit in the device width, they should wrap onto additional lines. That would look weird but it's something form designers can decide for themselves.

[2018-08-25 08:56] ggalmazor opened #2509 "Use enums instead of magic numbers"
#### Problem description
Latest versions of JavaRosa (>2.11.2) provide the `DataType` and `ControlType` enums. We should be using those instead of the `int` static members of `model.Constants`.

#### Other information
The change would consist in migrating all the switch statements to use the `from(int value)` factories available in both enums.

    From this:

[code]

    To this:

[code]

[2018-08-25 18:37] jd-alexander commented on #2499
Yes, I could work on doing this migration.

Yes, that would work well. Good idea.

[2018-08-26 19:07] lognaturel commented on #2446
It wasn't initially clear to me that this would require users to update Google Play Services. If it does, we should probably delay until a user-facing feature requires the update or a deprecation forces the update.

[2018-08-27 20:12] AOS002 commented on #2502
Hi!
Can I work on this issue? This is my first time contributing to an open source organization so I might need some help and time to fix this

[2018-08-27 20:37] yatri1609 commented on #2502
@AOS002 I'm already working in this issue please find another one for yourself. Thanks !

[2018-08-27 20:55] yanokwa commented on #2502
@yatri1609, please claim the issue as described at https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md#submitting-a-pull-request

[2018-08-27 21:53] lognaturel commented on #2499
There are some questions at https://github.com/opendatakit/collect/pull/2508#issuecomment-416070180 about whether a Play Services update will be needed and how likely that would be to impact users.

This line from https://developer.android.com/topic/libraries/architecture/workmanager/ makes me think we're probably ok:

I think the way to check will be to update all the dependencies as needed, make

[2018-08-27 22:12] #2389 closed, assigned to nobody

[2018-08-27 22:50] jd-alexander commented on #2499
Okay!

[2018-08-28 00:33] #2504 closed, assigned to nobody

[2018-08-29 05:43] jdhollen commented on #2214
Hey folks! Looks like the pre- #1970 version of `GoogleDriveActivity` never cleared the list passed into `FileArrayAdapter`--seems likely that this is some kind of goofy race due to `filteredList` being cleared in `getResultsFromApi()` without a call to `adapter.notifyDataSetChanged()`?

In the same vein, there's a double-call to `notifyDataSetChanged()` at the bottom of `updateAdapter()`.

I have

[2018-08-29 07:53] mmarciniak90 opened #2512 "Forms change positions for a second while sending via SMS if `Sort by Date` is set"
#### Software and hardware versions
Collect v1.16

#### Problem description
Forms change positions for a second while sending via SMS if `Sort by Date` is set

#### Steps to reproduce the problem
1. The user sets that submissions are sent via SMS
2. The user goes to `Send Finalized Form' and sees a list of finalized forms
3. The user changes sorting options to `Sort by Date`
4. The user clicks on

[2018-08-29 10:19] #2477 closed, assigned to nobody

[2018-08-29 17:06] yatri1609 commented on #2502
@opendatakit-bot claim

[2018-08-29 19:01] lognaturel commented on #2214
Hi @jdhollen and welcome!

For crashes like this that we see happening with some frequency in crash reporting, I personally think it's worth trying to find a fix even in the absence of a reproduction.

We'd ask that the reasoning behind the change is well-documented in the pull request description and/or the commit message details and then would do a manual QA pass to check for any regressions.

T

[2018-08-29 20:37] #2446 closed, assigned to nobody

[2018-08-30 13:52] kaftand commented on #2390
@opendatakit-bot  claim

[2018-08-30 18:57] jd-alexander commented on #2499
Next steps for moving this forward will be to :

- Complete the attached `WorkManager` refactor.
- Create an `AutoSendWorker` that will be responsible for doing auto-sends when forms are finalized.

In terms of the migrating the auto-send functionality, the worker will be enqueued every time a finalized form is saved if another job isn't current on the queue. This is necessary because each `AutoSe

[2018-08-31 07:10] kaftand commented on #2390
@mmarciniak90 , it seems maybe the best way to make drive photos work on the splash screen requires downloading them. Otherwise, it wouldn't work offline - how I primarily use ODK.

In light of this, I see three ways of moving forward.

1. Perhaps we should remove the feature to use a Drive photo to avoid confusion. If people want to use a photo from their drive, they can download it themselves an

[2018-08-31 22:16] lognaturel opened #2514 "Log Google Analytics event when form includes audit log"
An ODK Collect form can specify that a log of enumerator behavior should be collected and sent with submissions. [See documentation](https://docs.opendatakit.org/form-audit-log/).

It would be helpful to know how broadly used this feature is.

It is detected in `FormController` in the block with comment `"timing element..."` where there's a check to see if a form node named `audit` exists in the f

[2018-09-01 04:31] lognaturel opened #2515 "Log Google Analytics event when users toggles "Show sent and unsent forms" from "Send Finalized Form""
Changes to how form filtering on the "Send Finalized Form" screen are being considered to, for example, better support SMS-based workflows (see https://forum.opendatakit.org/t/filter-submissions-sent-via-sms/14479/15). To inform that work, it would be helpful to know how often users change the filter on that view.

See [`WidgetFactory`](https://github.com/lognaturel/collect/blob/e14fb5368f38a6355c

[2018-09-01 04:42] lognaturel opened #2516 "Log Google Analytics event for protocol on server URL change"
[ODK Central](https://github.com/opendatakit/central) is designed to be secure out of the box. As options for supporting HTTP or not are being considered, it would be helpful to know what the ratio of HTTP to HTTPS servers used with Collect is.

Changes to the server URL go through `ServerPreferencesFragment.createChangeListener`. If the URL is valid, an analytics event should be logged with categ

[2018-09-01 08:17] surajdubey commented on #2296
@opendatakit-bot claim

[2018-09-01 13:04] SaumiaSinghal commented on #2475
@opendatakit-bot unclaim

[2018-09-02 03:53] lognaturel opened #2517 "Log Google analytics event on question that uses external app"
Collect forms can launch external applications to collect information from sensors, for example. See [documentation](https://docs.opendatakit.org/launch-apps-from-collect/).

As we consider enhancements or changes to this feature, it would be helpful to know how commonly it is used.

We'd like to know when an external app returning a value of any type is called. This means we can log the analytics

[2018-09-02 04:00] lognaturel commented on #208
@zestyping talked to a user at FOSS4G Tanzania running into filled internal storage. Looking at this more closely, it's not clear to me under what conditions internal storage would be used by default. `Collect.ODK_ROOT` is built with [`Environment.getExternalStorageDirectory()`](https://developer.android.com/reference/android/os/Environment#getExternalStorageDirectory()). It sounds like on some de

[2018-09-02 04:17] lognaturel commented on #208
Or maybe not? I just realized that the device I thought had an external SD card does not. It seems on modern Android `/sdcard/` may actually be internal storage and `/mnt/extsd` external storage but I'm not finding definitive documentation on this. *Edit*: [this Stackoverflow post](https://stackoverflow.com/a/22221533/137744) strongly suggests it's the case.

I see `installLocation="auto"` in the

[2018-09-02 14:04] cleoGson commented on #2517
@opendatakit-bot claim

[2018-09-02 14:16] nexusbr-geoengenharia commented on #2516
@opendatakit-bot claim

[2018-09-03 18:22] #2517 closed, assigned to nobody

[2018-09-03 20:43] yanokwa opened #2520 "Basic auth returns 401 Unauthorized"
#### Software and hardware versions
Collect v1.16.4

#### Problem description
Connecting to an Aggregate server via basic auth does not work.

#### Steps to reproduce the problem
1. Install the Aggregate VM and log into the CLI.
1. Install a text editor (e.g., `apt-get install vim`) and edit `/var/lib/tomcat8/webapps/ROOT/WEB-INF/classes/security.properties` to `security.server.deviceAuthenticatio

[2018-09-03 22:12] lognaturel commented on #84
Specification discussion started at https://forum.opendatakit.org/t/proposal-specify-a-fixed-image-to-be-annotate-or-signed/14954.

[2018-09-04 09:13] grzesiek2010 commented on #2476
@kkrawczyk123
I tried API 24/25 and everything looks ok to me. I think you made a mistake and the info button is on the right side because your global language is RTL also (not only the form language). I'm pretty sure it's the reason because all other elements like audio/video buttons, imageView are on the opposite side and even the toolbar is in RTL mode.

Could you confirm?

[2018-09-04 12:47] kaftand commented on #2390
@opendatakit-bot claim

[2018-09-05 16:33] rashinkafernando commented on #2349
@opendatakit-bot unclaim

[2018-09-05 22:46] grzesiek2010 opened #2521 "Bugs related to audio files"
#### Software and hardware versions
Collect v1.16.4 and older versions

#### Problem description
Playing with audio files I discovered a few bugs I'll try to describe.

**BUG 1:**
If you have a select_one (or select_multiple) question and each item has an audio file you have to click two times to start an audio if another item is playing.

Expected behavior:
A new audio file should start immediate

[2018-09-06 03:24] #2478 closed, assigned to nobody

[2018-09-07 00:52] lognaturel commented on #620
The dependency on `HTTPClient` is now fully isolated in `HttpClientConnection` thanks to work by @xsteelej.

@xsteelej, I seem to remember reading in #2257 that you had started a branch swapping out the lib with okhttp. Is that something you'd like to complete and/or share a work in progress for?

[2018-09-09 13:35] yatri1609 commented on #2502
I'm still working on it but I'm facing some difficulties in solving this

[2018-09-10 02:28] lognaturel commented on #2502
@yatri1609 it's no fun to struggle alone so consider putting up a work in progress PR with questions you may have, discussing your approach in this thread or asking questions in #collect-code in [the developer Slack](http://slack.opendatakit.org/)! I'm sure someone will be able to give you some good ideas to explore.

[2018-09-10 14:08] kaftand commented on #2390
I am not sure why the "claim" is not working, but I want to make it clear that I am not working on this issue right now. I would love to work on it in the future, but I would need a little more direction since I have no experience working on open source project (I would LOVE to gain some!). In the meantime, I will be without internet for the next 2 weeks. If anyone wants to pick up this issue, ple

[2018-09-10 14:08] kaftand commented on #2390
@opendatakit-bot unclaim

[2018-09-10 18:55] #2158 closed, assigned to nobody

[2018-09-11 13:16] mmarciniak90 opened #2525 "App crashes when the user tries to open `Admin Settings` if targetSdkVersion is set to 24"
#### Software and hardware versions
Collect master with targetSdkVersion(24)
Android 7.0

#### Problem description
App crashes when the user tries to open `Admin Settings`

#### Steps to reproduce the problem
1. The user tries to open `Admin Settings`
2. App crashes

#### Expected behavior
User is able to open `Admin Settings`

#### Other information

![crash](https://user-images.githubusercontent

[2018-09-11 15:26] mmarciniak90 opened #2526 "Test the API 23 and 24 features"
#### Problem description
Issue created to verify Android features implemented in Android 6.0 and 7.0.
The issue is aimed to check if any action on the ODK Collect side is needed.

[2018-09-11 15:26] mmarciniak90 commented on #2526
@opendatakit-bot claim

[2018-09-11 15:27] mmarciniak90 commented on #2526
@opendatakit-bot claim --force

[2018-09-11 17:49] #2479 closed, assigned to nobody

[2018-09-12 07:35] florianm opened #2527 "ODK Collect 1.16.4 on Lenovo Tab 3 7": Geolocation can't find satellites"
Problem: can't get a Geolocation when GPS satellites are hidden by a building but WiFi is available.

#### Software and hardware versions
Collect v1.16.4, Android v5.0.1, Lenovo Tab 3 7" TB3-710F, outdoors with good view of sky (70% open, one story building on one side)

Cross-testing on other devices:

* Same lenovo model, different device got a fix fine (outdoors). This device gets no reception

[2018-09-12 14:22] mmarciniak90 commented on #2526
Tested API 24 features:

https://www.android.com/versions/nougat-7-0/features/

* Screen zoom

|![screenshot_20180912-171611](https://user-images.githubusercontent.com/3907554/45431229-84497380-b6a7-11e8-9fd9-21d798610134.png)|![screenshot_20180912-171619](https://user-images.githubusercontent.com/3907554/45431232-86133700-b6a7-11e8-9c64-41eac68a6872.png)|
|---|---|
|![screenshot_20180912-171634](

[2018-09-12 19:05] shobhitagarwal1612 commented on #2196
Fixed in #2404