[2018-02-05 12:13] grzesiek2010 commented on #1385
@opendatakit-bot claim

[2018-02-06 00:21] yanokwa commented on #1800
@grzesiek2010 This isn't a huge priority, but I agree that we should leverage the fact that you the printer and perhaps modernize the app. Some quick questions I have:

1. Are there turnkey Zebra printer drivers that we can use or does this really have to be custom?
1. If it does have to be custom, does it make sense to strip it out sensors and put it in a smaller standalone app that is easier to

[2018-02-06 05:02] #1789 closed, assigned to nobody

[2018-02-06 05:04] #1631 closed, assigned to nobody

[2018-02-06 10:33] S2606 commented on #1826
@opendatakit-bot claim

[2018-02-06 10:34] S2606 commented on #1826
@mmarciniak90 Sorry for not asking before claiming but can i work on this?

[2018-02-06 13:26] grzesiek2010 opened #1836 "Reset button in admin settings is enabled even if nothing is selected"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Reset button in admin settings is enabled even if nothing is selected

#### Steps to reproduce the problem
1. Go to `Admin Settings` -> `Reset application...`
2. Reset button is always available

#### Expected behavior
Reset button should be enabled only if something is selected.

#### Other information
Things you tried,

[2018-02-06 13:27] grzesiek2010 commented on #1836
@opendatakit-bot claim

[2018-02-06 19:45] dr0pdb commented on #1826
@S2606 Please go ahead. You can work on any unclaimed issue. If she wanted to work on it, she would have claimed it. you don't have to ask :smile:

[2018-02-06 22:38] grzesiek2010 opened #1838 "`Selected:` text is visible below the button in Select multiple question with `minimal` appearance even if nothing selected"
#### Software and hardware versions
Collect v1.12.2 and older version

#### Problem description
`Selected:` text is visible below the button in Select multiple question with `minimal` appearance even if nothing selected.
It disappears after removing response.

#### Steps to reproduce the problem
You can use All Widgets form available on the aggregate demo server.
1. Go to Select multiple question

[2018-02-06 22:39] grzesiek2010 commented on #1838
@opendatakit-bot label "quick win"

[2018-02-06 22:42] grzesiek2010 opened #1839 "Selected options from select multiple question are not separated in hierarchy view."
#### Software and hardware versions
Collect v1.12.2 and older version

#### Problem description
Selected options from select multiple question are not separated in hierarchy view.

#### Steps to reproduce the problem
1. Use any form with select multiple question.
2. Select at least two options.
3. Go to hierarchy view.

#### Expected behavior
Selected options from select multiple question should b

[2018-02-06 22:43] grzesiek2010 commented on #1839
@opendatakit-bot label "quick win"

[2018-02-07 05:48] akshay-ap commented on #1839
@opendatakit-bot claim

[2018-02-07 06:24] akshay-ap commented on #1839
`org.javarosa.form.api.FormEntryPrompt` builds a string of selected values in `SelectMultiData`.

To view `,` separated values in hierarchy view, I suggest the following change in `org.javarosa.form.api.FormEntryPrompt.getAnswerText()`  line 179 onwards:

           StringBuilder b = new StringBuilder();
             List<Selection> values = (List<Selection>)data.getValue();
                 for(S

[2018-02-07 06:46] akshay-ap commented on #1839
After the above change, here is the result.
<img src=https://user-images.githubusercontent.com/16358982/35902264-8dab666a-0c00-11e8-9fff-87f589e4a957.png width=35%>

[2018-02-07 06:48] shobhitagarwal1612 commented on #1839
There shouldn't be any trailing commas.

[2018-02-07 06:50] grzesiek2010 commented on #1839
@shobhitagarwal1612
why? If you have options with space it's not legible at all.

[2018-02-07 07:04] shobhitagarwal1612 commented on #1839
I meant the last one, after `D`
It should be `A, B, C, D` and not `A, B, C, D,`

[2018-02-07 07:09] grzesiek2010 commented on #1839
@akshay-ap

If it's on the Javarosa's side it needs discussion because it might affect other tools which use that library. But I think you can also build that text on your own... you know use `org.javarosa.form.api.FormEntryPrompt.getAnswerText()` by default but if a data type is select multiple the use your custom way.

[2018-02-07 07:17] akshay-ap commented on #1839
@grzesiek2010 Thanks for the suggestion.
Here is the change in `org.odk.collect.android.utilities.FormEntryPromptUtils`

[code]
No need for any change on `javarosa` side.

[2018-02-07 07:18] grzesiek2010 commented on #1839
yes something like that.

[2018-02-07 07:19] akshay-ap commented on #1839
Shall I issue PR?

[2018-02-07 07:19] grzesiek2010 commented on #1839
Sure go ahead.

[2018-02-07 23:24] dr0pdb commented on #1838
@opendatakit-bot claim

[2018-02-08 01:38] lognaturel commented on #1838
Hi @srv-twry! Thanks so much for all the great help on Collect. Since you’re now a veteran, please leave quick wins for new contributors! Big thanks also for welcoming new people. If you notice other small issues like this that need fixing, creating quick win issues is a huge help. 😊

[2018-02-08 01:42] dr0pdb commented on #1838
Sure @lognaturel , will leave them from now, and also create them if i notice some. 😊

[2018-02-08 01:47] lognaturel commented on #1838
You are awesome, thanks! 😎

[2018-02-08 20:02] lakshyagupta21 opened #1842 "Navigating to 'My Drive' doesn't show its contents when user is in one of shared folders"
#### Software and hardware versions
Collect v1.12.2, Android 6.0
#### Problem description
User doesn't get moved to main Google Drive list if user clicks on 'My Drive' when user is in one of the folders of shared drive
#### Steps to reproduce the problem
1. User uses Google Sheets
2. User opens 'Get Blank Form' list
3. User sees list of forms and folders
4. User clicks on 'Shared with me'
5. User

[2018-02-08 20:02] lakshyagupta21 commented on #1842
@opendatakit-bot claim

[2018-02-09 00:34] grzesiek2010 opened #1844 "Thre is a space between the status bar and the toolbar in `General Settings`"
#### Software and hardware versions
Collect v1.12.2 an older versions
Samsung Galaxy S4, Android 5.0.1

#### Problem description
Thre is a space between the status bar and the toolbar in `General Settings`.

#### Steps to reproduce the problem
![screenshot_2018-02-08-12-22-36](https://user-images.githubusercontent.com/3276264/36005630-da282dfa-0d38-11e8-8656-553317719c7e.png)

[2018-02-09 00:35] grzesiek2010 commented on #1844
It might be something tricky so I would mark this issue as:
@opendatakit-bot label "contributor friendly"

[2018-02-09 18:17] lakshyagupta21 commented on #1844
I tried to check if something is present between status bar and toolbar by enabling "show layout bounds" but I didn't find the extra space. Have you tried to look for the issue on other devices also?
![screenshot_2018-02-09-23-33-11-590_org odk collect android](https://user-images.githubusercontent.com/18495162/36042907-7a9ba086-0df3-11e8-8c78-2a2dcd736f6d.png)

[2018-02-09 20:10] #1838 closed, assigned to nobody

[2018-02-09 21:23] grzesiek2010 commented on #1844
Yes, I think it's visible only on some devices / Android versions.

[2018-02-09 22:34] lognaturel commented on #108
The appearance name agreed on at https://forum.opendatakit.org/t/disable-choosing-an-image-video-or-audio/9338 is `new`. It should work with `image`, `audio` and `video` types and additionally should combine with `image` appearance `annotate`.

[2018-02-10 04:21] #1842 closed, assigned to nobody

[2018-02-10 16:12] shobhitagarwal1612 opened #1846 "Improve the labels and summary texts in About"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
The labels and summary texts for the About screen can be improved

Suggestion from @yanokwa  https://github.com/opendatakit/collect/pull/1802#pullrequestreview-95583399

[code]

[2018-02-10 19:29] grzesiek2010 commented on #108
@opendatakit-bot claim

[2018-02-10 22:27] dcbriccetti commented on #811
Can this be closed?

[2018-02-11 15:34] prashulstha commented on #1844
The issue is because of the layout attributes we give to the toolbar. I had similar problem. The solution is to use assign True to alignParentTop.

[2018-02-12 00:01] lognaturel commented on #392
There are now some tests of the different varieties mentioned in this thread. Establishing a testing culture continues to be a work in progress but I would like to close this issue in favor of more targeted ones or forum discussions for higher-level issues.

[2018-02-12 00:01] #392 closed, assigned to nobody

[2018-02-12 00:02] #1823 closed, assigned to nobody

[2018-02-12 00:03] lognaturel commented on #1819
If there's a specific need for a richer toast in the future, let's file that specific issue with a clear user benefit.

[2018-02-12 00:03] #1819 closed, assigned to nobody

[2018-02-12 00:06] lognaturel commented on #1782
Nice report, @grzesiek2010. Let's close this since it's not a Collect issue. Please update here once you hear more from Google.

[2018-02-12 00:06] #1782 closed, assigned to nobody

[2018-02-12 00:07] lognaturel commented on #1733
This would work better as a forum conversation because it is very open-ended.

[2018-02-12 00:07] #1733 closed, assigned to nobody

[2018-02-12 00:08] lognaturel commented on #1711
This will require deeper policy discussion across the ODK project before it can be an issue to close.

[2018-02-12 00:08] #1711 closed, assigned to nobody

[2018-02-12 00:10] #1471 closed, assigned to nobody

[2018-02-12 00:11] #1575 closed, assigned to nobody

[2018-02-12 00:14] #1254 closed, assigned to nobody

[2018-02-12 00:15] #811 closed, assigned to nobody

[2018-02-12 00:23] lognaturel opened #1848 "Introduce new-front alias for image selfie appearance"
The `selfie` appearance for the `image` type allows form designers to request pictures to be taken from the front camera. After discussion at https://forum.opendatakit.org/t/disable-choosing-an-image-video-or-audio/9338, it was decided that the `new-front` appearance would be better by analogy to `new`.

The `new-front` appearance should be introduced as an alias for `selfie`. `selfie` should rema

[2018-02-12 00:34] lognaturel opened #1849 "Selection with autoadvance isn't displayed properly for right-to-left languages"
As reported at https://forum.opendatakit.org/t/odk-collect-autoadvance-gui-fix/11745

[2018-02-12 00:36] lognaturel commented on #1002
Not much we can do on the Collect side.

[2018-02-12 00:36] #1002 closed, assigned to nobody

[2018-02-12 08:43] zorbathegreek opened #1850 "Feature request: include plus.codes?"
This is a feature request to include plus.codes.
I have watched this video https://www.youtube.com/watch?v=LPdG3rKDzpo/ and searched both open and closed issues here (https://github.com/opendatakit/collect) for "plus.codes", and googled "open data kit plus.codes" without finding anything.
I would like to use ODK collect, but require an area, not a position. Something like what plus.codes provides.

[2018-02-13 01:54] dcbriccetti opened #1853 "Remove no-value log messages in FormEntryActivity (and perhaps elsewhere)"
FormEntryActivity produces messages of no value such as these:

[code]

Please remove them, as well as similar messages you might find in other files.

[2018-02-13 04:17] lakshyagupta21 opened #1854 "Form is selected even after clicking on "Clear All""
#### Software and hardware versions
Collect v1.12, Android v6.0

#### Problem description
While doing search over forms selecting and clearing it doesn't remove the form from the list of selected forms.
#### Steps to reproduce the problem
1. "Delete Saved Form" -> "Blank Forms"
2. Tap on Search Icon in Toolbar
3. Search for any form
4. Select the form
5. Tap on "Clear All"
6. Close "Search"

####

[2018-02-13 09:36] grzesiek2010 opened #1855 "Inconsistency between SelectOne widgets."
#### Software and hardware versions
Current master branch

#### Problem description
Last month we implemented `image-map` appearance for select questions. I noticed a small inconsistency between that new widget and ordinary `SelectOneWidget`.
If we use the first one we can unselect our answer clicking on the same value what is not possible in `SelectOneWidget`.

#### Expected behavior
I'm not sure

[2018-02-13 10:09] lakshyagupta21 commented on #1854
@opendatakit-bot claim

[2018-02-13 10:13] grzesiek2010 opened #1856 "Default OSM basemap is not set"
#### Software and hardware versions
Collect v1.12.2 and older version

#### Problem description

#### Steps to reproduce the problem
1. Go to `General Settings` -> `User Interface`
2. Change `Mapping SDK` for `OpenStreetMap SDK`

#### Expected behavior
Default basemap should be set.

#### Other information
![defaultosmbasemap](https://user-images.githubusercontent.com/3276264/36144569-bf713514-10a

[2018-02-13 12:14] abdulwd commented on #1856
May I work on this issue? Also, default **Basemap** is set to **Streets** as I can see on the first installation of the app.
@opendatakit-bot claim

[2018-02-13 12:22] grzesiek2010 commented on #1856
@abdulwd

As I see you are not new here since you have already fixed two issues but it was almost a year ago so let's say you can take one `quick-win` just as a warm-up an then please take something more complex.

It's when `Mapping SDK` is set for `Google Maps` but the problem here is with `OpenStreetMaps` SDK.

You need to claim the issue if you want to work on it https://forum.opendatakit.org/t

[2018-02-13 12:33] grzesiek2010 opened #1857 "Popup menu in Import/Export Settings exists only for one item"
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
Popup menu in Import/Export Settings exists only for one item

#### Steps to reproduce the problem
1. Go to `Admin Settings` -> `Import/Export Settings`
2. Open the popup menu.

#### Expected behavior
`Save Settings to Disk` may have its own icon like `Share QE code`.
Please use vectors, not png icons.

[2018-02-13 12:42] grzesiek2010 opened #1858 "Replace png icons from FormEntryActivity with vectors"
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
Replace png icons from FormEntryActivity with vectors

#### Steps to reproduce the problem
Just open any form.

![screenshot_2018-02-13-13-38-05](https://user-images.githubusercontent.com/3276264/36150235-445d3d9a-10c3-11e8-8b87-f5bbbe04f84c.png)

#### Expected behavior
We should use vectors instead of

[2018-02-13 13:12] grzesiek2010 opened #1859 "Inconsistency between Geopoint widgets' button name"
#### Software and hardware versions
Collect v1.12.2 and older version

#### Problem description
The button text changes if any location is recorded if we use the `GeopointWidget` with `map` appearance but it doesn't if we use that widget without any appearance

![screenshot_2018-02-13-13-58-13](https://user-images.githubusercontent.com/3276264/36151444-7f5157a2-10c7-11e8-83f7-40be7da48465.png)
![s

[2018-02-13 13:32] vsham20 commented on #1858
Hi, Can i pick this issue to work on?

[2018-02-13 13:32] mmarciniak90 commented on #1262
@lognaturel @grzesiek2010
I was able to reproduce this problem.
Page reload is a condition of this bug, so you can go to other question and return to it or just change screen orientation.
This is visible only on Android 7.0. I also checked Android 4.1, 4.2, 4.4, 5.1, 6.0, 8.0

[2018-02-13 13:34] grzesiek2010 commented on #1858
@vsham20

please go ahead. You need to claim this issue: https://forum.opendatakit.org/t/fine-grained-permissions-for-github-issues-self-assign-labels/9352/9?u=grzesiek2010

[2018-02-13 13:40] abdulwd commented on #1856
@grzesiek2010 Sure! I must have taken something more complex. Thanks. :)

[2018-02-13 15:50] grzesiek2010 commented on #1262
@lognaturel I'll take a quick look at it when I'm free. Probably it's an another Android bug like #1782

[2018-02-13 16:08] vrjgamer commented on #1857
Hello sir, can i help fixing this issue?

[2018-02-13 16:12] grzesiek2010 commented on #1857
Hi @vrjgamer
please go ahead. You need to claim this issue, take a look here how to do that: https://forum.opendatakit.org/t/fine-grained-permissions-for-github-issues-self-assign-labels/9352/9?u=grzesiek2010

[2018-02-13 16:14] vrjgamer commented on #1857
@opendatakit-bot claim

[2018-02-13 16:35] abdulwd commented on #1856
@opendatakit-bot claim

[2018-02-13 17:56] Shreya001 commented on #1859
@grzesiek2010 can I work on this issue?

[2018-02-13 17:57] Shreya001 commented on #1858
@opendatakit-bot claim

[2018-02-13 18:12] sammy1997 commented on #1859
@opendatakit-bot claim

[2018-02-13 18:16] sammy1997 commented on #1859
@Shreya001 you can claim an issue using the bot. So you don't need to tag mentors I guess. :)

[2018-02-13 18:21] Shreya001 commented on #1859
Ok Thanks  @sammy1997 :)

[2018-02-13 20:36] JainilGada commented on #1853
@opendatakit-bot claim

[2018-02-13 20:40] vrjgamer commented on #1857
Hi, I have finished adding the icon for "Save Setting to Disk". I am using vectors for "Save" & "Share" options. But its showing an error for the "Share" icon.
If I use the default android resource it works perfectly like below:
`
....
 <item
        android:id="@+id/menu_item_share"
        android:title="@string/share"
        android:icon="@android:drawable/ic_menu_share"
        app:showAsActi

[2018-02-13 21:01] vrjgamer commented on #1857
Nevermind I fixed it.
Please check the screen, before i commit it.

![screen2](https://user-images.githubusercontent.com/10618953/36173517-51b99ef4-112f-11e8-82e2-82be22b8cf71.png)

[2018-02-13 22:04] sashank27 commented on #1549
@opendatakit-bot claim

[2018-02-14 00:27] grzesiek2010 commented on #1859
@Shreya001 @sammy1997 that's right you can claim an issue if it's free.

@sammy1997 as I understand you added that comment only to show how it works so, please unclime now and let @Shreya001 do that.

[EDIT} I saw @Shreya001 has already claimed another issue so I think it's ok if you @sammy1997 are going to keep this one.

[2018-02-14 00:55] grzesiek2010 commented on #1857
@vrjgamer thirst thing, you need to claim the issue again since it was your first comment you received a message and it was ignored.

When it comes to your screen. Where those icons come from? I'm asking because save icon here https://material.io/icons/ looks different and I would prepare that one since we already use the same but grey color https://github.com/opendatakit/collect/blob/master/colle

[2018-02-14 02:42] #1827 closed, assigned to nobody

[2018-02-14 03:20] vrjgamer commented on #1857
@opendatakit-bot claim

[2018-02-14 03:52] lognaturel commented on #1855
Let's use radio button behavior. That means a second click on the image map should not unselect. Note that the unselect behavior should exist in the case of multiple selection.

[2018-02-14 04:03] vrjgamer commented on #1857
ok I will use the existing save button.
I will change the share icon with this: https://material.io/icons/#ic_share

[2018-02-14 04:08] vrjgamer commented on #1857
Hi, I hope this is better.
![screen](https://user-images.githubusercontent.com/10618953/36187362-c63db888-116a-11e8-86ea-6f2700268ba6.png)

[2018-02-14 04:59] raks097 commented on #1846
@opendatakit-bot claim

[2018-02-14 05:00] raks097 commented on #1846
I'd like to work on this issue

[2018-02-14 05:52] sammy1997 commented on #1859
Ok @grzesiek2010 .

[2018-02-14 07:57] Shreya001 commented on #1859
Ok @grzesiek2010

[2018-02-14 08:46] grzesiek2010 commented on #1857
@vrjgamer yes looks better but black icons please since those look as if they are disabled.

[2018-02-14 09:16] SIMRAN1 commented on #1855
@grzesiek2010  @lognaturel  may I work on this issue?
@opendatakit-bot  claim

[2018-02-14 09:25] grzesiek2010 commented on #1855
@SIMRAN1 yes please go ahead. You need to use `claim` not `Claim`.

[2018-02-14 10:00] grzesiek2010 commented on #1855
@SIMRAN1 it doesn't work if you edit your comment you need to do that again because you are still not assigned to this issue.

[2018-02-14 11:12] vrjgamer commented on #1857
I think this should do it.
![screen_dark](https://user-images.githubusercontent.com/10618953/36201403-e10fb16c-11a5-11e8-8a65-70df5f772a62.png)

So should i proceed by pulling a new request?

[2018-02-14 11:42] grzesiek2010 commented on #1857
sure

[2018-02-14 13:56] SIMRAN1 commented on #1855
okk thanks @grzesiek2010

[2018-02-14 13:56] SIMRAN1 commented on #1855
@opendatakit-bot  claim

[2018-02-14 14:01] grzesiek2010 commented on #1855
@SIMRAN1
and one more time if it was your first claim :smile:

[2018-02-14 14:09] grzesiek2010 opened #1864 "The keyboard should be visible just after showing an EditText field if a requested application is missing."
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
The keyboard should be visible just after showing an EditText field if a requested application is missing.
#### Steps to reproduce the problem
1. Use `All widgets` form
2. Go to` Ex string widget` or `Ex integer widget` or `Ex decimal widget`
3. Click on the `Launch` button.

#### Expected behavior
The

[2018-02-14 14:13] SIMRAN1 commented on #1855
@opendatakit-bot  claim
@grzesiek2010 please tell me how to proceed to solve this issue?

[2018-02-14 14:16] grzesiek2010 commented on #1855
as @lognaturel said a user shouldn't be able to unclick selected value in SelectOne widget. You ca try the attached form.

[2018-02-14 14:58] sashank27 commented on #1864
@opendatakit-bot claim

[2018-02-14 15:35] raks097 commented on #1811
I have a few questions regarding this issue:
Do you mean the formId in the error message be formID or the variable formId which is being used.?
I  think formId as a variable need not be changed.
Clarification on this would really help me in fixing this issue

[2018-02-14 15:38] raks097 commented on #1811
@opendatakit-bot claim

[2018-02-14 15:46] rishabhkalra96 commented on #1853
Looks like i can contribute to fix this issue. If anyone is not doing it then i am interested to take over!

[2018-02-14 15:53] raks097 commented on #1811
@clint-tseng  Isn't it the intended behaviour that an error message is shown if that tag doesn't have a value?

[2018-02-14 15:58] grzesiek2010 commented on #1853
@rishabhkalra96 this issue is already claimed by @JainilGada I know it's not visible here because that `opendatakit-bot` is faulty and if you try to claim an issue for the first time it's ignored.

@JainilGada please claim again if you still want to work on it.

[2018-02-14 16:01] rishabhkalra96 commented on #1853
OK, Thank you for informing
Just in case if no "re-claim" comes from @JainilGada , i would like to claim it

[2018-02-14 16:08] rishabhkalra96 commented on #1846
@raks097 Are you still working on the issue? I believe the bot is not responding accurately and hadn't labelled "in progress" to this issue. Please let me know if you are not working on this.

[2018-02-14 16:16] grzesiek2010 commented on #1846
He has already created a pr for this issue: https://github.com/opendatakit/collect/pull/1861

[2018-02-14 16:16] grzesiek2010 commented on #1853
sure.

[2018-02-14 16:19] grzesiek2010 commented on #1858
@Shreya001 please claim again. It was ignored since it was your first claim.

[2018-02-14 16:20] grzesiek2010 commented on #1846
@raks097 please claim this issue again just for clarity.

[2018-02-14 16:25] raks097 commented on #1846
@rishabhkalra96 I have already created a pr for this issue.
You can find other issues at https://github.com/opendatakit/collect/issues
Welcome to the community

[2018-02-14 16:26] raks097 commented on #1846
@opendatakit-bot claim

[2018-02-14 16:27] Shreya001 commented on #1858
@opendatakit-bot claim

[2018-02-14 16:32] rishabhkalra96 commented on #1844
@opendatakit-bot claim

[2018-02-14 16:46] rishabhkalra96 commented on #1844
@opendatakit-bot claim

[2018-02-14 17:41] prashulstha commented on #1844
Hi I was also hoping to contribute to this project. If is it okay with you.

[2018-02-14 17:46] rishabhkalra96 commented on #1844
Hello @pradhulstha,  it looks like you hadn't claimed it before so I claimed it!
Please give me a couple of days to work on it. If no submissions come from my then I will unclaimed it for sure. Meanwhile you can check other issues as well.
I hope you understand!

[2018-02-14 18:19] issa-tseng commented on #1811
1. The XML tagname is formID, not formId. So if a person sees an error message that says “formId is missing”, they are going to think that they need to add a tag called `formId`, and they are going to be confused when it still thinks it’s missing.
2. The error message right now says that it is “missing” the “tag”, but if you _do_ have the tag `<formID></formID>` it still tells you the tag is missi

[2018-02-14 18:57] raks097 commented on #1811
@clint-tseng  Thank you for the clarification.
I'd like to point out that a similar kind of misleading message can found in line 275 in the same java file.
I'd be fixing that as well

[2018-02-14 19:09] JainilGada commented on #1853
@opendatakit-bot claim

[2018-02-14 19:15] lognaturel commented on #1856
@abdulwd Please make sure to accept the email invitation so that you can be assigned to the issue.

[2018-02-14 19:16] #1839 closed, assigned to nobody

[2018-02-15 00:54] #1813 closed, assigned to nobody

[2018-02-15 05:55] lakshyagupta21 commented on #1755
@grzesiek2010 How many instances of this error are there, I tried to reproduce this error on devices by installing/uninstalling various browsers like Chrome, Mozilla. It works perfectly fine for devices having Android versions 4.4, 5.0, 6.0.

It seems like sometimes the chrome custom tab returns null for sessions.
We can handle null pointer before launching the URL.
What do you say?

[2018-02-15 07:14] lakshyagupta21 opened #1868 "Toggle button doesn't work as expected"
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
Toggle button doesn't work as expected to be while doing search for instances and forms

#### Steps to reproduce the problem
1. Delete Saved Form
2. Search for blank form
3. Select any form
4. Close Search
5. List will be displayed with the selected items but with "Clear all" label
#### Expected behavi

[2018-02-15 08:49] abdulwd commented on #1856
@opendatakit-bot claim
@lognaturel I have already accepted the email invitation maybe I need to claim it again.

[2018-02-15 11:46] vrjgamer commented on #1857
@grzesiek2010
Hi,  I would like to work on another issue. Do you have any suggestions?

[2018-02-15 11:48] grzesiek2010 commented on #1755
It's not really common 96 instances mostly from v1.12.2, 63 users impacted. I guess it might be something wrong with our implementation. Null check is the last resort.

[2018-02-15 11:53] grzesiek2010 commented on #1857
As a second issue you can take something from https://github.com/opendatakit/collect/issues?q=is%3Aissue+is%3Aopen+label%3A%22contributor+friendly%22 but avoid `quick-wins`

[2018-02-15 11:57] vrjgamer commented on #1857
@grzesiek2010  Thanks, I will make sure i avoid quick-wins

[2018-02-15 12:11] vrjgamer commented on #1849
Hi @lognaturel, can u please tell me how can i reproduce this bug?

[2018-02-15 12:19] vladalexgit commented on #1868
@opendatakit-bot claim

[2018-02-15 12:20] vrjgamer commented on #1549
Hi @sashank27, are u still working on this issue? If not I can claim it.

[2018-02-15 12:22] vladalexgit commented on #1868
@opendatakit-bot claim --force

[2018-02-15 13:32] grzesiek2010 commented on #1849
@vrjgamer you need to use a `SelectOne` widget with `quick` appearance. You can find such a widget in `All widgets` form, it's called `Select widget autoadvance` or something similar. The problem is with right-to-left languages because in this widget we have a small icon for each option, it's on the right side and looks like it covers a text.

[2018-02-15 17:14] vrjgamer commented on #1849
I would like to try fixing this bug. Can I claim it?

[2018-02-15 17:18] lognaturel commented on #1849
Yes, please!

[2018-02-15 17:25] vrjgamer commented on #1858
@Shreya001 you can use the following code for save button vector (https://material.io/icons/#ic_save)
save it as -> ic_save_black_32dp.xml
[code]
I am not sure about the function of the second button. Assuming it to be download button. You can use the following vector drawable (https://material.io/icons/#ic_arrow_downward):
save it as -> ic_download_black_36dp.xml
[code]

[2018-02-15 17:34] vrjgamer commented on #1849
@opendatakit-bot claim

[2018-02-15 17:36] vrjgamer commented on #1849
@grzesiek2010 I can't claim it 😅 ?

[2018-02-15 17:38] lognaturel commented on #1849
Go ahead @vrgamer, you can work on this one.

[2018-02-15 22:31] #1824 closed, assigned to nobody

[2018-02-15 23:18] vrjgamer commented on #1849
@lognaturel  @grzesiek2010
Hi, I was able to reproduce the problem.
Please see this screen

![screenshot_20180216-044115](https://user-images.githubusercontent.com/10618953/36286054-fa4e5230-12d3-11e8-8c58-00b6c8b11856.png)

I am not sure which language it is 😅, but here is the screen:

![screenshot_20180216-044459](https://user-images.githubusercontent.com/10618953/36286117-45f9eb54-12d4-11e8-9ed

[2018-02-16 00:46] vrjgamer commented on #1849
Hi I think i know how to fix this issue. But i need some help from you.
I got three solutions for this issue but each have their own drawbacks.

First one: In the widget class 'SelectOneAutoAdvanceWidget', I set the gravity of the radiobutton in the code to RIGHT, before adding it to the layout like this->
[code]
That shifted all the text to right. And this is how it looks.
![screenshot_20180216-0

[2018-02-16 01:59] lognaturel commented on #1849
Nice, @vrjgamer! I haven't looked at this in detail yet but it seems it should be possible to use directives like `START` and `END` that adapt to the language direction. Have you explored that option at all?

[2018-02-16 02:13] vrjgamer commented on #1849
@lognaturel  No I haven't checked that option. I will look into it.

[2018-02-16 02:14] lognaturel commented on #1849
Awesome. To be clear, I'm talking about https://developer.android.com/reference/android/view/Gravity.html#END

[2018-02-16 07:35] ShenJack commented on #1552
Excuse me,I've been searching on this problem for 2days，and i also found the same problem appears in Google's Camera2 example.
If you don't mind that  I‘m just an Android greenhand with 1 year experience and  4 months for intern , please asign it to me, I'll try to fix it up with pleasure.
May I claim it ?

[2018-02-16 07:37] ShenJack commented on #1552
@grzesiek2010 @lognaturel

[2018-02-16 08:24] grzesiek2010 commented on #1552
@ShenJack yeah sure, sounds good! You can claim any issue by yourself, here you can find a way how to do that https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md

You are right.

[2018-02-16 08:26] ShenJack commented on #1552
@opendatakit-bot claim

[2018-02-16 08:56] grzesiek2010 commented on #1849
@lognaturel is right and probably it should look like in the first picture https://github.com/opendatakit/collect/issues/1849#issuecomment-366111657

[2018-02-16 10:06] vrjgamer commented on #1849
@lognaturel  @grzesiek2010
I tried using Gravity.START directive, but it still doesn't solve our problem.
![screenshot_20180216-152152](https://user-images.githubusercontent.com/10618953/36302202-a431f7b2-132d-11e8-982e-3a241a3de5ac.png)

I think we can solve this using LayoutDirection LOCALE directive.
Please check this link: https://developer.android.com/reference/android/util/LayoutDirection.ht

[2018-02-16 10:56] grzesiek2010 commented on #1849
@vrjgamer I guess the layout container we use to display each row (radio button, text, and image) might be broken).

[2018-02-16 11:58] vrjgamer commented on #1849
@grzesiek2010 by broken what do u mean 😅 ?

[2018-02-16 11:59] grzesiek2010 commented on #1849
I mean that there might be something wrong with text attributes since as I can see the radio button is displayed properly, the icon too.

[2018-02-16 17:19] vrjgamer commented on #1849
@lognaturel  @grzesiek2010
I think it is because we are dynamically generating the radio buttons. As we only pass the context and no AttributeSet in the constructor, it takes in the default attributes for initialization. I think default text alignment is left to right. And this causes the ananomaly.

[2018-02-16 18:00] grzesiek2010 commented on #1849
Can't you add appropriate attributes dynamically too?

[2018-02-16 18:44] vrjgamer commented on #1849
yes that's what i am working on 😃 .

[2018-02-16 19:43] vrjgamer commented on #1849
@lognaturel  @grzesiek2010
Hi I solved the issue but it seems to work only for Android API levels 17 & above (our current min. api level is 16). Here's what i did:
In class SelectOneWidget class, there is a function called createRadioButton() which obviously creates our radiobutton views. In this method i made the following changes:
[code]
Output:
![dassdasdwadsdsa](https://user-images.githubuserc

[2018-02-16 19:47] lognaturel commented on #1849
That's great! Have you looked at resources such as https://stackoverflow.com/questions/20103079/android-widget-textview-settextalignment-java-lang-nosuchmethoderror?

[2018-02-16 19:52] #1857 closed, assigned to nobody

[2018-02-16 19:56] #1856 closed, assigned to nobody

[2018-02-16 20:04] vrjgamer commented on #1849
@lognaturel
I went through the link and it seems like the only other way to set the text alignment in api level lower than 16 is using Gravity, but for setting gravity we need to find the language direction.
I will try this solution: https://github.com/nispok/snackbar/issues/58

[2018-02-16 20:35] vrjgamer commented on #1849
@lognaturel @grzesiek2010
Hi Good news I got the solution that fits all api levels.
Here's what i did, (in reference to https://github.com/nispok/snackbar/issues/58), I put a check for the direction of the language and set the gravity of the text accordingly.
[code]
This gives the same results as the previous solution. 😄

[2018-02-16 20:57] vrjgamer commented on #1849
comparison of LTR and RTL language
![sdsadas](https://user-images.githubusercontent.com/10618953/36328944-1dcaa0e0-138a-11e8-9a4b-7d67bf1cfec8.png)

[2018-02-16 21:02] grzesiek2010 commented on #1849
In the last case, images should be under radio buttons I think. You can fix it as well as a part of this issue.

[2018-02-16 21:13] vrjgamer commented on #1849
While solving this problem, I encountered some bugs.
_**First Bug:**_
**Steps to reproduce:**
1. Select a Right to Left language.
2. Select any form
3. Click on Overview button in the top-bar (icon that looks like a diagonal arrow pointing a dot)
**Expected behaviour**
This should show a list of all the widgets that are there in the form.
**Behaviour Found**
The screen is blank and it doesn't show

[2018-02-16 21:18] grzesiek2010 commented on #1849
Yes, we know that we probably have lots of issues related to right-to-left languages. Just be focused on this one, then you can file separate issues.

[2018-02-17 05:52] sweta01 commented on #387
Caused by: java.lang.ClassNotFoundException: Didn't find class "android.support.v4.math.MathUtils"

[2018-02-17 08:37] anipmehta commented on #1868
@opendatakit-bot claim --force

[2018-02-17 10:26] vrjgamer commented on #1849
@grzesiek2010 I am not able to find where the Grid select one option is. The select one widget with images. Can u please guide me.

[2018-02-17 16:18] ShenJack commented on #1552
@grzesiek2010
Things got much more clearer.
I guess the cause is the incorrect use of Google's example, the example is only used for back camera.
When switching the code from back into front camera, some code hasn's been changed thoroghly, thus making some device seem allright while some produce error.

After fix, Test cases has passed on
samsung   s6                7.1.1     front camera 270°
opp

[2018-02-17 19:30] Shubham-vish commented on #1844
@rishabhkalra96  are you still working on this or can I take this issue if possible.

[2018-02-17 19:52] Shubham-vish commented on #784
I'm willing to work on this if it is available.

[2018-02-17 20:00] sashank27 commented on #1052
@opendatakit-bot claim

[2018-02-17 20:16] Shubham-vish commented on #1549
@opendatakit-bot claim

[2018-02-18 00:12] #1853 closed, assigned to nobody

[2018-02-18 15:44] shobhitagarwal1612 opened #1879 "QRCode shouldn't be regenerated if the settings haven't changed"
#### Software and hardware versions
Collect v1.12

#### Problem description
QRCode is generated every time, even if the settings have not changed.

#### Steps to reproduce the problem
Goto `Admin Settings` > `Import/Export Settings`

#### Expected behavior
The last generated QRCode should be cached in the sd-card and used if the settings have not changed since the last generated time.

@opendataki

[2018-02-18 17:20] Shubham-vish commented on #1549
I would be very thankful if anybody could guide me.

[2018-02-18 17:46] vrjgamer commented on #1879
Should we save it as an image and then keep the uri in preferences

[2018-02-18 18:05] shobhitagarwal1612 commented on #1879
I have already submitted a PR for this
https://github.com/opendatakit/collect/pull/1880

Please have a look

[2018-02-18 18:14] shobhitagarwal1612 commented on #1549
Hey @Shubham2320 and thanks for picking the issue. As the issue description says, we are using .png files at many places as image resources which are not scalable. So, each of them should be replaced with a vector file.

[2018-02-18 18:51] shobhitagarwal1612 opened #1881 "Fix the code coverage report generation on CircleCI"
A merged code coverage report should be uploaded to the codecov after the build finishes on Circle CI.
Currently, the unit tests are running on Circle CI and the integration tests are running on firebase(only for master branch).

[2018-02-18 20:03] harsh-2711 commented on #1868
I wanna work on this issue if it's still open

[2018-02-18 20:05] shobhitagarwal1612 commented on #1881
Found this flag on the [documentation page](https://cloud.google.com/sdk/gcloud/reference/firebase/test/android/run) which might be useful :

[code]

[2018-02-18 21:36] vrjgamer commented on #1849
@grzesiek2010 @lognaturel
Hi, I found the bug for Widget with images and radiobutton, it was in MediaLayout class. The layout parameters were defined statically and with directives the support only LTR languages. So I updated the directives such that it supports both the LTR and RTL languages. Here is how it looks:
![fghasjdkl](https://user-images.githubusercontent.com/10618953/36357285-d146456e-1

[2018-02-19 04:34] shobhitagarwal1612 commented on #1881
@opendatakit-bot claim

[2018-02-19 12:04] mmarciniak90 opened #1884 "Forms are not selected if user clicks on button 'Select All' and then clicks on arrow or X in search bar on `Delete Saved Form` view"
#### Software and hardware versions
Collect current master
Android 4.1, 4.2, 4.4, 5.1, 6.0, 7.0, 8.0

#### Problem description
Forms are not selected if user clicks on button 'Select All' and then clicks on arrow or X in search bar on `Delete Saved Form` view

#### Steps to reproduce the problem
1. User goes to `Delete Saved Form` view
2. User opens `Blank Forms` view
3. User clicks on search icon

[2018-02-19 14:26] Shreya001 commented on #1884
@opendatakit-bot claim

[2018-02-19 18:57] #108 closed, assigned to nobody

[2018-02-19 19:48] #1854 closed, assigned to nobody

[2018-02-19 19:49] #1868 closed, assigned to nobody

[2018-02-19 19:58] harsh-2711 opened #1887 "When exiting a form, only prompt to save changes if unsaved changes exist"
Software and hardware versions
Tested on Android 8.0 on One plus 5T

 Problem description
Although no changes are made in the form, it always asks to save any change or delete any change after pressing back key to exit the current form.

Expected behavior
It should be such that if any changes are made in the form then only it should ask to save any changes made or to discard them.

 Steps to repro

[2018-02-19 22:50] vrjgamer commented on #1849
@lognaturel  @grzesiek2010
Hi, I am not able to solve this error on circleci
its giving me error-> ` 'Execution failed for task ':collect_app:compileDebugJavaWithJavac' `
I tried create it with a new fork but still the same error.

it gives success for local build with .\gradlew.bat
Please help

[2018-02-20 03:16] #1692 closed, assigned to nobody

[2018-02-20 04:36] lognaturel commented on #1887
Please go ahead @harsh-2711.

[2018-02-20 04:42] lognaturel opened #1890 "Add test for "trigger" question in AllWidgetsFormTest"
The test `testTriggerWidget` already exists but it doesn't do anything currently. It should randomly either check or not check the checkbox, go to the question list, come back to the question and then verify that the value is still set as expected.

`testStringWidget` or other tests that already are included can be used as an example.

For more information about Android testing in an ODK context,

[2018-02-20 10:54] Thodoris1999 commented on #1884
@opendatakit-bot claim

[2018-02-20 15:52] #1836 closed, assigned to nobody

[2018-02-20 18:50] #1798 closed, assigned to nobody

[2018-02-20 18:58] #1552 closed, assigned to nobody

[2018-02-20 20:14] harsh-2711 opened #1894 "Issues with storage option"
Software and hardware versions
Tested on One Plus 5T running Android 8.0

Problem description
On downloading any form from the server, the images get also downloaded in the phone storage.

Expected behavior
The images should be available directly via server without storing them on phone

Steps to reproduce the problem
Web View can be used to show the images via server

Would you like to work on th

[2018-02-20 22:46] lognaturel commented on #1894
Thanks for your interest in Collect, @harsh-2711! It is primarily used offline so this is not desired behavior. To learn more about ODK and how it is used, please see https://opendatakit.org

[2018-02-20 22:46] #1894 closed, assigned to nobody

[2018-02-20 22:46] lognaturel commented on #1887
Please claim the issue by commenting with `@opendatakit-bot claim`.

[2018-02-20 23:27] #1881 closed, assigned to nobody

[2018-02-21 00:29] yanokwa opened #1897 "jacocoTestReport is breaking build"
40ad464 is breaking the build on master.

[code]

I can confirm that the file exists and is readable.
[code]

Stack trace
[code]

[2018-02-21 04:23] harsh-2711 commented on #1887
Done

[2018-02-21 05:07] #1897 closed, assigned to nobody

[2018-02-21 05:13] lognaturel commented on #1887
@harsh-2711 you will need to add a comment with the text `@opendatakit-bot claim` and then accept the invitation you get by email.

[2018-02-21 07:16] mmarciniak90 opened #1900 "Pictures taken by the SelfieWidget are rotated incorrectly on Android 4.4 and 4.2"
#### Software and hardware versions
Collect v1.12
Android v4.4 and 4.2

#### Problem description
Pictures taken by the SelfieWidget are rotated incorrectly

#### Steps to reproduce the problem
1. User uses device in vertical orientation
2. User takes selfie image
3. Image is rotated

| case/device  | Samsung J1 | Infinix |
| ------------- | ------------- | ------------- |
| Android | 4.4 | 4.2 |
|

[2018-02-21 11:58] ShenJack commented on #1900
@mmarciniak90 I didn't notice that those two devices are on Android below 5.0, it's my responsibility to fix it, and I've already got some ideas to handle this.

[2018-02-21 11:59] ShenJack commented on #1900
@opendatakit-bot claim

[2018-02-21 12:51] mmarciniak90 commented on #1900
@ShenJack It's great that you have ideas. We must to take care on devices with Android below 5.0 because they are still popular among our users.

[2018-02-21 13:11] ArmenApresyan8 opened #1901 "Updating the time picker dialog"
#### Software and hardware versions
Collect v 1.12.2
Android 7.0
Samsung Galaxy S6 edge

#### Problem description

The time picker is old

#### Steps to reproduce the problem

Just click on any time picker button

#### Expected behavior

The mew material design time picker should be opened, like the date picker, which is material design
![screenshot_20180221-123516](https://user-images.githubuserc

[2018-02-21 18:28] raks097 commented on #1846
I had initially put a PR with respect to this.
It was under a review and got recently closed.
I'm rebasing my build as we speak and put up a new PR as soon as possible.
Thanks!

[2018-02-21 20:32] #1811 closed, assigned to nobody

[2018-02-21 20:37] lognaturel commented on #1901
The material design time picker is a lot more complicated for users and requires familiarity with a clock so the decision was made to use the old one.

In fact, many users choose the `no-calendar` appearance for dates as well.

I don't think we should add the new time picker. Other opinions?

[2018-02-21 21:46] yanokwa opened #1903 "Image select one widget does not allow answer to be removed"
#### Software and hardware versions
Collect v1.13.0-beta.0

#### Problem description
A question with the clickable SVG does not allow answer to be removed.

#### Steps to reproduce the problem
1. Connect your phone to https://opendatakit.appspot.com
1. Download the All Widgets form
1. Navigate to the Image select one widget
1. Select any districts.
1. Long press on the map or answer to show Edit p

[2018-02-21 22:13] grzesiek2010 commented on #1903
@opendatakit-bot claim

[2018-02-21 22:16] ArmenApresyan8 commented on #1901
I think using the new time picker is a good idea, as it is recommended by Google. Also users with Android 5+ must be familiar with it, because it is used in default Android apps, e.g. alarms.

[2018-02-21 22:18] ArmenApresyan8 commented on #1901
Else we can add an option in settings where user can choose which time picker they want to use while filling the forms.

[2018-02-21 22:22] yanokwa opened #1905 "Run code quality before build_debug and test_unit"
In https://github.com/opendatakit/collect/blob/master/.circleci/config.yml, we `build_debug` and `test_unit` simultaneously with `build_debug` running the code quality checks.

I think it might be better if the code quality checks (`./gradlew pmd checkstyle lint findbugs`) are run on one machine first. This way, if they fail, it fails quickly without `test_unit` running.

[2018-02-21 22:28] yanokwa commented on #1901
@ArmenApresyan8 Just because Google recommends it isn't a compelling reason for me. What does the Material Design time picker actually look like? If we add it, what will it look like for our users who aren't on Android 5?

[2018-02-21 22:46] ArmenApresyan8 commented on #1901
![components-pickers-time1](https://user-images.githubusercontent.com/18738136/36509556-8e16dc54-1779-11e8-9c00-f8c567ca2141.png)

It looks like this, where first you choose hour, then minutes.
I'm not sure about Android 5- users, they will either see this dialog, or the old one. I'll check it tomorrow.

[2018-02-21 22:56] ArmenApresyan8 opened #1906 "Range integer widget with vertical appearance"
#### Software and hardware versions

Collect v 1.12.2
Android 7.0
Samsung Galaxy S6 edge

#### Problem description

The range integer widget's background disappears

#### Steps to reproduce the problem

1) Choose any integer with the widget
2) Click next or swipe
3) Go back to the widget

#### Expected behavior

The widget should stay the same

#### Screenshots
![28312706_1548379205275699_32852078

[2018-02-21 23:04] ArmenApresyan8 opened #1907 "Small color picker"
#### Software and hardware versions
Collect v 1.12.2
Android 7.0
Samsung Galaxy S6 edge

#### Problem description

The color picker is very small on the screen and almost impossible to choose the color you want

#### Steps to reproduce the problem

1) Open an image type with draw appearance
2) Click on plus FAB
3) Click on "Set color"
#### Expected behavior

The color picker should be bigger

####

[2018-02-21 23:50] vrjgamer commented on #1907
@opendatakit-bot claim

[2018-02-22 00:10] yanokwa commented on #1846
@raks097 Looking forward to it and sure that your PR targets just the issue!

[2018-02-22 01:08] lognaturel commented on #1906
Duplicate of #1262. @ArmenApresyan8 if you would like to look at that one, please comment with `@opendatakit-bot claim`.

[2018-02-22 01:08] #1906 closed, assigned to nobody

[2018-02-22 01:09] lognaturel commented on #1905
Does running `test_unit` in parallel actually slow down the code quality checks? If not, running them in parallel seems like the way to go.

[2018-02-22 01:50] vrjgamer commented on #1907
@opendatakit-bot unclaim

[2018-02-22 04:19] shobhitagarwal1612 commented on #1905
I noticed that earlier it took 6 min 46 seconds to run the build and unit tests. Now it takes 6 min 16 seconds. So 30 seconds less for non-master builds.

[2018-02-22 09:40] raks097 commented on #1846
@yanokwa
I have submitted a new PR regarding this issue.
It would be helpful if someone could review it and tell their opinions regarding the changes.
Thank you for your time

[2018-02-22 10:49] ArmenApresyan8 commented on #1262
@opendatakit-bot claim

[2018-02-22 10:52] ArmenApresyan8 commented on #1907
@lognaturel should I work on this?

[2018-02-22 14:34] mmarciniak90 opened #1909 "All blank forms to download are not visible when user adds and then removes text in search bar for Google Drive"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
All blank forms to download are not visible when user adds and then removes text in search bar for Google Drive

#### Steps to reproduce the problem
1. User uses Google Drive as a server
2. User goes to `Get Blank Form`
3. User adds text to search bar
4. User sees forms
5. User removes text added to search bar
6. All ava

[2018-02-22 14:52] mmarciniak90 opened #1910 "Search bar does not work as expected on view shared forms form Google Drive"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Search bar does not work as expected on view shared forms form Google Drive.

#### Steps to reproduce the problem
#### Use case 1
1. User uses Google Drive as a server
2. User goes to `Get Blank Form`
3. User goes to `Shared with me`
4. User opens folder
5. User adds text to search bar
6. User clicks on search icon
7. Us

[2018-02-22 15:27] #1903 closed, assigned to nobody

[2018-02-22 15:50] ShenJack commented on #1900
@opendatakit-bot label "needs testing"

[2018-02-22 17:23] akshay-ap commented on #1900
I would like to test it on Asus Zenfone 5 (api 19).
@mmarciniak90 How do I test the changed code?

[2018-02-22 17:52] yanokwa commented on #1905
I did some quick tests and my assumptions that pmd/checkstyle/lint would be faster if run alone is incorrect.

[2018-02-22 18:51] shobhitagarwal1612 commented on #1905
Is there a way to cache the dependencies for `pmd`, `findbugs` or even other dependencies?

[2018-02-22 19:49] yanokwa commented on #1905
No idea. Not sure it's a huge pain point, but maybe we can file a contributor friendly issue to speed up the build and then close this one?

[2018-02-22 19:55] shobhitagarwal1612 commented on #1905
Yes please!

[2018-02-22 20:10] shobhitagarwal1612 opened #1912 "Fix lint warnings"
#### Problem description
Running `lint` gradle task detects **146** warnings!
[code]
#### Steps to reproduce the problem
Run `.gradlew/lint` in terminal

#### Expected behavior
No warning

#### Other information
The report is generated here : `collect_app/build/reports/lint/lint-result.html`

The best approach to tackle this is to fix one issue at a time instead of fixing all in a single PR.

[2018-02-22 20:33] lognaturel commented on #1912
👍Some of the lint checks are not that useful and others result in so many files changed that there's too much risk to taking them on. For anyone interested in looking into this, please comment below with the lint check you'd like to resolve and get some feedback on whether it's a good one to take on. Thanks!

[2018-02-22 21:39] yanokwa commented on #1905
Closed. Please file the issue when you get a chance, @shobhitagarwal1612. You are the infrastructure expert now :)

[2018-02-22 21:39] #1905 closed, assigned to nobody

[2018-02-22 22:19] vrjgamer opened #1913 "Cluttered appearance of List Group"
#### Software and hardware versions
Collect v1.12.1, Android v7.1, device used Moto g4+

#### Problem description
The List group widget appears to be cluttered on small devices but works well with larger devices.

#### Steps to reproduce the problem
1. Get 'All Widgets' form from the 'Get Blank Form' Option.
2. Open the 'All Widgets' form and go to the page with 'List Group'.

#### Expected behavi

[2018-02-22 22:34] vrjgamer opened #1914 "Blank hierarchy/jump view for RTL language"
#### Software and hardware versions
Collect v1.12.1, Android v7.1.0, device used Moto g4+

#### Problem description
The 'All Widgets Page' that shows all the widgets in the form, is blank when a RTL language is selected.

#### Steps to reproduce the problem
1. Select a Right to Left language.
2. Get 'All Widgets' form from the 'Get Blank Form' Option and then open the form.
3. Click on Overview bu

[2018-02-22 22:58] vrjgamer opened #1915 "Show current page number in the form"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
There is no visual element that tells the user how many pages he/she has visited till now. This will be a great improvement in the UI, specially for long forms.

#### Steps to reproduce the problem
Open any form

#### Expected behavior
Should show page number and total number of pages in th

[2018-02-22 23:20] yanokwa commented on #1915
Closing in favor of #616.

[2018-02-22 23:20] #1915 closed, assigned to nobody

[2018-02-23 00:55] lognaturel commented on #1913
This is the intended behavior. This specific question looks much better on a bigger screen. When form developers use this on smaller screens they don't include a hint. What you suggested has been tried previously but it was not what surveyors wanted.

[2018-02-23 00:55] #1913 closed, assigned to nobody

[2018-02-23 03:00] raks097 opened #1916 "Navigation between questions while filling/viewing forms"
#### Software and hardware versions
Collect v1.13.0, Android 6.0, Sony Xperia C4 Dual

#### Problem description
![initform](https://user-images.githubusercontent.com/17434014/36575639-ffb8a128-1871-11e8-9988-8e1d2005b705.jpeg)
While filling or viewing the forms, the navigation buttons are missing below each question.
It would be much easier for the user to have some sort of buttons he can click on

[2018-02-23 03:29] lognaturel commented on #1916
Go to General Settings > User interface and set your preference for Navigation.

[2018-02-23 03:29] #1916 closed, assigned to nobody

[2018-02-23 03:30] lognaturel commented on #1907
@ArmenApresyan8 Sure, please claim it with `@opendatakit-bot claim`.

[2018-02-23 05:55] akshay-ap opened #1917 "Options can be clicked twice in About Activity"
#### Software and hardware versions
Collect v1.12.2,
Android v7.0, device used Moto M
Android v 4.4.2, device used Asus zenfone 5

#### Problem description
Options in `AboutAcivity` can be clicked twice. Fast double tapping of any of the option performs the action twice.

#### Steps to reproduce the problem
1. Go to option menu.
2. Select `About` item.
3. Double click `Visit the ODK website` / `Jo

[2018-02-23 06:29] mmarciniak90 commented on #1900
@akshay-ap You need to build app on `pr/1911` branch. Then take image on Selfie widget on both orientations. You can use `All widgets` form.
Images cannot be rotated.

[2018-02-23 06:40] shobhitagarwal1612 opened #1918 "Speed up the build timings of CircleCI jobs"
Jobs running on CircleCI:
- build_debug
- test_unit
- test_instrumented (only on master branch
- report_coverage   (only on master branch)

There is still scope to speed up the time taken to run each job. Some of the ideas to try out are:
- Try out different parameters available in `environment` , `_JAVA_OPTIONS` in `config.yml` file.
- Cache the android dependencies for `pmd`, `findbugs` so that

[2018-02-23 06:53] lakshyagupta21 opened #1919 ""Select all" button should be disabled whenever user cancels the "Get blank form" task"
#### Software and hardware versions
Collect v1.13.0-beta

#### Problem description
Whenever user cancels the "Get blank form" first time, user is able to click on "Select all" button even if there is no list displayed.
#### Steps to reproduce the problem
1. Get Blank Form
2. Tap on 'Cancel'
3. "Select all" button is enabled
#### Expected behavior
"Select all" button should be disabled if user canc

[2018-02-23 11:54] Divya063 opened #1920 "[Screengrab] Set up a Dockerfile to build collect app and create ruby environment"
In reference to opendatakit/docs#487
 To simplify the process of setting up screengrab tool, set up a docker image to build collect app inside docker container and install gems necessary to run screengrab command.

[2018-02-23 13:17] shobhitagarwal1612 commented on #660
Unable to reproduce the issue on Collect v1.12.2

Device : Nexus 5
Android Version : 6.0.1
Form used : Widgets

Other info:
- Recorded the video successfully
- Saved the form instance > Edit Saved Form > Replayed the saved video

[2018-02-23 13:28] kkvarma commented on #387
Hi, I am getting below error while integrating reactnative android aar file in another project.
Please help me to solve this problem..

  java.lang.NoClassDefFoundError: Failed resolution of: Lcom/demos/helloworld/MyReactActivity;
                                                                                         at com.demos.helloworld.MainActivity.onCreate(MainActivity.java:19)

[2018-02-23 16:47] ArmenApresyan8 commented on #1262
I'm now almost sure that it's an Android 7 bug. I have seen many issues similar to this one. I'm unclaiming this.

[2018-02-23 16:47] ArmenApresyan8 commented on #1262
@opendatakit-bot unclaim

[2018-02-23 16:48] ArmenApresyan8 commented on #1262
Also you can reproduce this by going to background and coming back to app by recent apps button.

[2018-02-23 17:27] Shubham-vish commented on #1549
:) I've read many documentations about converting .png files to .svg but all I found are methods to convert each file separately and here we want to convert multiple files together so is there any other way anybody could suggest to achieve this goal in an easier way.

[2018-02-23 17:52] lognaturel commented on #1549
Thanks for your interest in this issue, @Shubham2320! It looks like this is already being addressed in #1885.

https://material.io/icons/ is generally a good source for icons that can be used in apps.

[2018-02-23 17:52] #1549 closed, assigned to nobody

[2018-02-23 18:50] lognaturel commented on #1262
Awesome of you to look into it, @ArmenApresyan8!

This is still with Android 7, right? If so, I will close and mark this as "Won't fix".

[2018-02-23 18:55] lognaturel commented on #387
@kkvarma @sweta01 Those issues don't seem related to ODK Collect. Please get in touch with the projects you are working with. Good luck!

[2018-02-23 18:56] lognaturel commented on #660
Thanks, @shobhitagarwal1612! There should no longer be a crash because the error is suppressed. The source file isn't being deleted, though, right?

[2018-02-23 19:04] #1884 closed, assigned to nobody

[2018-02-23 19:08] shobhitagarwal1612 commented on #660
First time it stuck at loading but then I tried again and it worked

[2018-02-24 01:04] ArmenApresyan8 commented on #1919
@opendatakit-bot claim

[2018-02-24 10:40] Thodoris1999 commented on #1917
@opendatakit-bot claim

[2018-02-24 15:23] ArmenApresyan8 commented on #1919
Done
@opendatakit-bot unclaim

[2018-02-24 15:35] muhammadfawwaz commented on #1907
@opendatakit-bot claim

[2018-02-24 15:36] ArmenApresyan8 commented on #1907
@opendatakit-bot claim

[2018-02-24 15:41] muhammadfawwaz commented on #1848
@opendatakit-bot claim

[2018-02-24 16:09] lakshyagupta21 commented on #1919
@ArmenApresyan8 There is no need to unclaim any issue if you raised a PR for it. It means that you're not working on this issue anymore.

[2018-02-24 16:10] ArmenApresyan8 commented on #1919
@lakshyagupta21 So what should I do if I have finished it and I want to work on other issues?

[2018-02-24 16:17] deveshSingh06 commented on #1919
@opendatakit-bot claim

[2018-02-24 16:19] ArmenApresyan8 commented on #1919
@deveshSingh06 I have already resolved this issue. #1922

[2018-02-24 16:35] saurabhtanu commented on #387
I still have the same issue, I an extending MultidexApplication in my app class and I see that the MultidexApplication already calls the Multidex.install() method. However I see this crash only in android versions 6.0 and below

[2018-02-24 16:37] muhammadfawwaz commented on #1848
@lognaturel so we add "new-front" widget? or just redesign from selfie widget?

[2018-02-24 17:50] Diefenbaker commented on #1909
@opendatakit-bot claim

[2018-02-24 18:41] deveshSingh06 commented on #1919
@opendatakit-bot unclaim

[2018-02-24 19:04] ArmenApresyan8 commented on #1890
@lognaturel I'v made implementation for it (#1923), but what about other tests? There are many tests that also do nothing just like this one.

[2018-02-24 20:37] shobhitagarwal1612 opened #1926 "Use `WebViewActivity` for showing Open Source Licenses"
Remove the activity `OpenSourceLicensesActivity` and use `WebViewActivity` for showing the Open Source Licenses

[2018-02-24 20:40] ArmenApresyan8 commented on #1926
@opendatakit-bot claim

[2018-02-24 20:41] ArmenApresyan8 commented on #1907
@opendatakit-bot unclaim

[2018-02-24 20:41] ArmenApresyan8 commented on #1926
@opendatakit-bot claim

[2018-02-24 22:10] yanokwa commented on #1926
@shobhitagarwal1612 Can you explain a bit about what problem this solves?

[2018-02-25 05:01] shobhitagarwal1612 commented on #1926
`WebViewActivity` was recently added which displays webpages using webview.
 `OpenSourceLicensesActivity` does the same thing, ie displays the open source licenses using a webview. But the UI of the `WebViewActivity` is more consistent with the ChromeCustomTabs. So, reusing the same class will remove redundant code and keep the UI consistent

[2018-02-25 07:12] SIMRAN1 commented on #1859
@opendatakit-bot claim

[2018-02-25 07:34] nanahamzat commented on #1848
Hello, i will like to contribute in this as well. How do i get an invite

[2018-02-25 10:59] harsh-2711 commented on #1887
@opendatakit-bot claim

[2018-02-25 13:11] nanahamzat commented on #1912
I would like to look into variant debug issue. what do you think? @shobhitagarwal1612 @lognaturel

[2018-02-25 16:06] lognaturel commented on #1848
You should add an alias so that both the new-front and the selfie appearances do the same thing. See search and autocomplete for another example.

@nanahamzat please look for an issue that hasn’t been claimed! Make sure to read through the contribution guide to learn how to claim issues.

[2018-02-25 19:03] nanahamzat commented on #1848
Thank you for your reply. I will look into that
On 25 Feb 2018 17:06, "Hélène Martin" <notifications@github.com> wrote:

[2018-02-26 01:40] lognaturel opened #1932 "Fail gracefully when a device doesn't have an app to handle an image pick intent"
#### Software and hardware versions
Collect v1.13.0 and prior

#### Problem description
If a device doesn't have an app to pick an image and the user attempts to select a QR code, Collect hard crashes.

#### Steps to reproduce the problem
Don't have any app that can pick an image. Go to Admin Settings > Import/Export settings and then tap "Select code".

#### Expected behavior
Graceful failure, fo

[2018-02-26 01:52] lognaturel commented on #1912
@nanahamzat I'm not sure which one that is! Could you link me to it? DrawAllocation is one that would be good to address: https://1616-40213809-gh.circle-artifacts.com/0/reports/lint/lint-result.html#DrawAllocation

Some others I think might be worth looking into:
- https://1616-40213809-gh.circle-artifacts.com/0/reports/lint/lint-result.html#StaticFieldLeak
- https://1616-40213809-gh.circle-artif

[2018-02-26 01:55] lognaturel opened #1933 "Add missing tests in AllWidgetsTests"
Several tests in AllWidgetsTests are unimplemented.

testStringWidget or other tests that already are included can be used as an example. Some will be more challenging than others.

For more information about Android testing in an ODK context, see https://www.youtube.com/watch?v=6iZaRF3njH4

**Please comment below with the test you would like to add.**

[2018-02-26 01:56] lognaturel commented on #1890
@ArmenApresyan8 That's great! I've created a generic issue with the other tests to take on at #1933.

[2018-02-26 06:51] RamolaWeb opened #1934 "Add functionality to download Forms in Background"
#### Software and hardware versions
Collect v1.13.0, Android v 8.0, device used Xioami Mi A1

#### Problem description
Currently the forms are downloaded in the foreground of the application and due to which the users have to wait till the download is complete as the progress bar cannot be canceled while downloading the forms. Thus it will be great to add an background Service to download the form

[2018-02-26 06:52] RamolaWeb commented on #1934
I will like to work on this issue

[2018-02-26 10:18] mmarciniak90 commented on #1900
@opendatakit-bot unlabel "needs testing"

[2018-02-26 11:03] mmarciniak90 commented on #1909
@lognaturel
I suggest that the search bar on Google Drive similar to search bar when user uses Aggregate.
The dynamic search bar should be available to Google Drive because it is more user friendly.
Searching when user clicks the magnifying glass icon causes a lot of issues.

[2018-02-26 11:03] mmarciniak90 commented on #1909
@opendatakit-bot label "needs discussion"

[2018-02-26 11:18] grzesiek2010 opened #1935 "Spinner widget opens with end-of-list"
#### Software and hardware versions
Collect v1.13.0 and older versions

#### Problem description
Spinner widget opens with end-of-list

#### Steps to reproduce the problem
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/3276264/36667657-ec0a0bd8-1aee-11e8-9f7f-2cb32a1e57e0.gif)

#### Expected behavior
The first element should be visible.

#### Other information
Form for testi

[2018-02-26 12:06] mmarciniak90 opened #1936 "User should see icons in Admin Settings view"
#### Problem description
`Admin Settings` view should be consistent with `About` view and  `General Settings` view.
User should see icons in `Admin Settings` view.

#### Steps to reproduce the problem
1. User opens `Admin Settings`

#### Expected behavior
* The `Admin Settings` view is consistent with `About` view and  `General Settings` view
* Blue icons are visible
* Full text is readable

####

[2018-02-26 12:11] grzesiek2010 commented on #1901
I agree with @lognaturel it might be too difficult for some users.

[2018-02-26 12:28] mmarciniak90 opened #1937 "Remove menu icon with General Settings option from Get Blank Form view"
#### Problem description
Menu icon with General Setting option is visible which can cause confusions

#### Steps to reproduce the problem
1. User opens `Get Blank Form` view and sees all forms from Aggregate server
2. User clicks on menu icon (3 dots) and opens General Settings
3. User changes server to Google Drive and returns to previous screen
4. Forms from Aggregate server are still visible ev

[2018-02-26 12:29] mmarciniak90 commented on #1937
@lognaturel Is there any reason why we should keep this menu?

@opendatakit-bot label "needs discussion"

[2018-02-26 15:00] ArmenApresyan8 commented on #1933
I'll try to implement more tests :)

[2018-02-26 15:53] mmarciniak90 opened #1939 "Collect tries to send all forms even if error occurred precluding to continue sending"
#### Software and hardware versions
Collect v1.13 and earlier

#### Problem description
Collect tries to send all forms even if error occurred precluding to continue sending

#### Steps to reproduce the problem
1. User sends a lot of forms
2. Error occurred (need to check few error types)
3. User is informed about error after sending all forms

#### Example of real use case:
1. User uses ODK Aggre

[2018-02-26 16:02] garglakshya18 commented on #1933
I will try to implement some tests!

[2018-02-26 16:29] garglakshya18 commented on #1933
@opendatakit-bot claim

[2018-02-26 16:38] lognaturel commented on #1933
Great @armenapresyan8 and @garglakshya18! Please comment with which you’re taking on (e.g “I’ll do all the select one variants”) so you don’t do the same ones.

[2018-02-26 16:41] iammvaibhav commented on #1935
I would like to work on this

[2018-02-26 16:58] shobhitagarwal1612 commented on #1935
Sure, please comment `@opendatakit-bot claim` below to claim this issue!

[2018-02-26 17:54] sashank27 commented on #1936
@opendatakit-bot claim

[2018-02-26 18:06] #1901 closed, assigned to nobody

[2018-02-26 18:09] #581 closed, assigned to nobody

[2018-02-26 18:10] lognaturel commented on #569
Closing in favor of #1887

[2018-02-26 18:10] #569 closed, assigned to nobody

[2018-02-26 18:33] lognaturel commented on #106
Not related to Collect. Most of these are either addressed or captured in pyxform issues.

[2018-02-26 18:33] #106 closed, assigned to nobody

[2018-02-26 18:34] shobhitagarwal1612 commented on #1361
Unable to reproduce the bug!
Android 7.0
Device : Redmi Note 3
Collect v1.13

[2018-02-26 21:04] yanokwa opened #1942 "Select ones with spaces are not loaded on edit"
#### Software and hardware versions
Collect v1.31.0

#### Problem description
[test.xlsx](https://github.com/opendatakit/collect/files/1760271/test.xlsx)
[test.xml.zip](https://github.com/opendatakit/collect/files/1760274/test.xml.zip)

1. Load the attached form.
1. Select "za munda" as a country and swipe.
1. Confirm the country is loaded on the next page.
1. Save the form, and confirm on the SD

[2018-02-27 02:14] #1900 closed, assigned to nobody

[2018-02-27 02:17] #1890 closed, assigned to nobody

[2018-02-27 02:23] #1909 closed, assigned to nobody

[2018-02-27 08:30] mmarciniak90 opened #1944 "The dynamic search bar should be available on `Get Blank Form` view for Google Drive"
#### Software and hardware versions
Collect v1.13 and earlier

#### Problem description
The search bar on Google Drive should be similar to search bar when user uses Aggregate.
The dynamic search bar should be available to Google Drive because it is more user friendly.
Searching when user clicks the magnifying glass icon causes a lot of issues.

#### Steps to reproduce the problem
1. User uses Goo

[2018-02-27 10:14] jniles opened #1945 "Repeat groups do not update their number of iterations when the variable changes"
#### Software and hardware versions
Collect v1.13.0, Android v7.1.1, Asus Zenfone 4 Max X00ID

#### Problem description
A repeat group does not change the initial number of iterations even if updated to a new value of iterations.  For example, if you ask "how many pets do you have?" and then repeat a series of questions for each pet, the user _must_ get the initial value right on the first time ot

[2018-02-27 12:13] grzesiek2010 commented on #1942
@yanokwa it's not Collect bug https://github.com/opendatakit/javarosa/issues/263

[2018-02-27 14:21] akshay-ap commented on #1850
@zorbathegreek Can you provide more details about how this feature will be helpful?
How would this feature look like in ODK collect?
I would like to work on this feature.

[2018-02-27 14:29] akshay-ap commented on #1850
Through a quick look I found this link helpful :
https://github.com/google/open-location-code/wiki/Plus-codes-API

[2018-02-27 14:36] akshay-ap commented on #1850
According to me,
On ODK collect, a google map will be shown to the user. The user will pinpoint the location.
In the background, Plus code will be obtained using api and loaded in the answer field(String).
There might be changes needed in tools that help form designing so that  `Collect` can show `PlusCode` widget.
@lognaturel what do you think?

[2018-02-27 15:14] sashank27 commented on #1932
@lognaturel issue fixed in #1943. Please do the testing.

[2018-02-27 15:17] 2math opened #1946 "Validate date in range"
#### Software and hardware versions
Collect v1.12.2, Android v8.1.0, device used... Nexus x5

#### Problem description
I have a select full date question in my form, which must be btw specific dates.
And doesn't pass the validation.
Here is the bind node from the XForm:
[code]

#### Steps to reproduce the problem
When I select any date in this range or even out side of the range, saving the answer

[2018-02-27 15:59] zorbathegreek commented on #1850
Hello, thanks a for looking into this.
re: "Can you provide more details about how this feature will be helpful?"
Well, I was planning to ask people details about an area (location of their agricultural fields, and roughly, the extent of the fields), and by adding several plus.code "areas" that's quite easy.
Re: "How would this feature look like in ODK collect?"
plus.codes can be used online or of

[2018-02-27 16:00] zorbathegreek commented on #1850
Sorry I didn't want to close this. Didn't realize that I did!

[2018-02-27 20:05] lognaturel commented on #1920
Can you please provide more context for this one?

If I understand correctly, the challenge is that the `screengrab` tool requires having a ruby environment set up and that this can be complicated. The idea is to create a docker image that the tool can be run from.

The Collect repo seems like an unusual place to keep this! Could it be in the docs repo?

[2018-02-27 20:10] lognaturel commented on #1945
This behavior has so far been considered intentional to avoid the possibility of data loss if someone accidentally change the count. Embedding a group with a relevant based on the count is a way to get the behavior you want. More at https://forum.opendatakit.org/t/repeats-are-not-respecting-the-jr-count-value-after-a-change/11709/4

Do you feel strongly that repeats should be deleted?

[2018-02-27 20:12] lognaturel commented on #1946
For form design questions, please post to https://forum.opendatakit.org/c/support and tag with `form-design`!

[2018-02-27 20:12] #1946 closed, assigned to nobody

[2018-02-28 00:12] TheNerdyFeline commented on #1939
@opendatakit-bot claim

[2018-02-28 07:06] drik opened #1948 "ODK Collect : Conditional questions and choice filtering not working when showing a group on same page"
#### Software and hardware versions
Collect v1.13.0, Android v7.0 device used Samsung J7...

#### Problem description
ODK Collect : Conditional questions and choice filtering not working when showing a group on same page
#### Steps to reproduce the problem
Create a form with group containing two question
Condition the second question to show if a certain value is selected in question 1
Put both qu

[2018-02-28 16:14] rishabhkalra96 commented on #1844
@opendatakit-bot  claim

[2018-02-28 16:24] iammvaibhav commented on #1935
@opendatakit-bot claim

[2018-02-28 17:37] ArmenApresyan8 opened #1950 "Current value is not shown in range widget when selecting the min value first time"
#### Software and hardware versions
Collect v1.13.0, Android 7, Samsung Galaxy S6 edge

#### Problem description

Current value is not shown in range widget, if you select the min value.
Also, it doesn't save your selected value, if you select the min value.

#### Steps to reproduce the problem

1) Open any range widget (range integer widget, range decimal widget etc.)
2) Tap on the first value.

[2018-02-28 17:37] ArmenApresyan8 commented on #1950
@opendatakit-bot claim

[2018-02-28 18:27] ArmenApresyan8 commented on #1933
I'm implementing range widgets right now.

[2018-02-28 20:19] lognaturel opened #1952 "Attribute for setting form auto send should be auto-send but is auto-submit"
Issue #791 called the attribute auto-submit when it should have been auto-send. I noticed this discrepancy when adding pyxform support at https://github.com/XLSForm/pyxform/pull/178

Since this has only been released for a couple of days, wasn't widely announced and required modifying XML, I think it's safe to change in a patch release. @yanokwa?

[2018-02-28 20:52] #1932 closed, assigned to nobody

[2018-02-28 20:55] lognaturel opened #1954 "Strings for missing intents should be translated"
The `activity_not_found` resource string takes a format argument to specify which task couldn't be completed (e.g. signature capture, image capture, etc).

Currently, this string is always in English. This may make it difficult for users who don't speak English to recover from the problem.

Introduce string resources for all the format argument strings currently used.

[2018-02-28 20:55] #1919 closed, assigned to nobody

[2018-02-28 22:12] ArmenApresyan8 commented on #1954
But are there translations for other languages?

[2018-02-28 23:18] lognaturel commented on #1954
@ArmenApresyan8 First of all, now that you've been a regular contributor, please leave the quick win issues for people new to the project! 😊

Then, you can read about the translation process in the README. Translations are generally added very quickly so they should be available in many languages by the next release.

[2018-03-01 01:10] lognaturel opened #1956 "Log problems that aren't due to issues in Collect code at a log level lower than error"
#### Software and hardware versions
Collect v1.13.0

#### Problem description
There are a number of issues logged with `Timber.e` that aren't related to Collect code problems. For example if a `ActivityNotFoundException` when an external intent is used, that's because the user is missing a particular application. In that case, the user should be notified through the UI. If an error is logged, it s

[2018-03-01 04:16] #1920 closed, assigned to nobody

[2018-03-01 04:46] sashank27 commented on #1956
@opendatakit-bot claim

[2018-03-01 04:47] lognaturel commented on #1920
Glad you could screengrab working without this extra infrastructure! 😊👌

[2018-03-01 09:29] ArmenApresyan8 commented on #1954
@lognaturel Can I still contribute to contributor friendly issues? 😊

[2018-03-01 14:06] roychowdhuryrohit-dev commented on #1954
@opendatakit-bot claim

[2018-03-01 15:51] ArmenApresyan8 commented on #1933
I'll do date and time pickers next.

[2018-03-01 18:10] lognaturel commented on #1954
Yes, absolutely, @ArmenApresyan8!

Welcome @roychowdhuryrohit-dev and thanks for taking this on.

[2018-03-01 18:12] lognaturel commented on #1948
Thanks for your interest in this issue, @drik! It's a duplicate of #378. Please track that one for progress made.

[2018-03-01 18:12] #1948 closed, assigned to nobody

[2018-03-01 19:25] lognaturel commented on #1667
Here is what I'm currently imagining:
- Load the form and check for updates in parallel.
- If form loading finishes first, continue the update check.
- If there are no updates, launch the form as usual.
- If there is an update, ask the user if they want to download the new form.
- If the user taps yes, stop loading the old form, download, load and launch the new form.
- If the user taps no, load a

[2018-03-01 20:06] lognaturel commented on #1850
@zorbathegreek Thanks for filing this feature request! Would either of these two alternatives work for you:
- use a text field and a constraint so that only valid plus codes can be entered
- use an offline map and have enumerators select locations on that

I'm closing this issue in favor of an existing thread on the forum that I just remembered exists: https://forum.opendatakit.org/t/use-of-plus-c

[2018-03-01 20:06] #1850 closed, assigned to nobody

[2018-03-01 20:25] lognaturel opened #1957 "Add new-front/selfie appearance for video that forces use of the front-facing camera"
There is currently a `selfie` appearance (soon to also have alias `new-front` #1848) for `images`. See https://github.com/opendatakit/collect/blob/d2bc5069bf8ab8f76506a829ac9a669c91a1d07b/collect_app/src/main/java/org/odk/collect/android/activities/CaptureSelfieActivity.java for that implementation.

This is used in contexts where users are not very tech-savvy and need to take pictures of themselv

[2018-03-01 20:28] lognaturel commented on #682
Some great ideas here. Closing in favor of #1907 since the conversation has now moved there.

[2018-03-01 20:28] #682 closed, assigned to nobody

[2018-03-01 20:29] lognaturel commented on #1907
@ArmenApresyan8 If you'd like to work on this one, that would be great. There are no specific requirements other than it should be more usable than the current one. I recommend sharing a UI sketch here for others to comment on. There were also some great ideas at #682.

[2018-03-01 21:28] ArmenApresyan8 commented on #1907
I'll work on it as soon as possible.

[2018-03-01 21:35] ArmenApresyan8 commented on #1907
Also, all integer values in `ColorPickerDialog` are hardcoded, I'll change it.

[2018-03-01 21:46] vrjgamer commented on #1907
@lognaturel the existing color picker is really not optimized and hard coded which is difficult to modify.
I have a simple suggestion, how about we use UI that is similar to photoshop hue/saturation selector.  Something like this: https://www.cssscript.com/wp-content/uploads/2017/01/Minimal-HSLA-Color-picker-With-Pure-JavaScript.png
![sdfghj](https://user-images.githubusercontent.com/10618953/3687

[2018-03-01 21:53] ArmenApresyan8 commented on #1907
I think it's more complex than the one we have now

[2018-03-01 21:56] ArmenApresyan8 commented on #1957
I think we need to create a new activity which captures videos only by the front camera.

[2018-03-01 22:03] vrjgamer commented on #1907
i don't think its complex. You can create 3 sliders - hue, saturation, value - from which you can get the current value and convert them to get the red, green, blue values to find the specific color.
here is an example of how to change HSV to RGB: https://examples.javacodegeeks.com/desktop-java/awt/rgb-to-hsb-and-vice-versa-color-conversion/

[2018-03-02 01:05] #1864 closed, assigned to nobody

[2018-03-02 01:07] #1952 closed, assigned to nobody

[2018-03-02 03:07] lognaturel commented on #1907
As you explore different UI options, consider that Collect users are typically not very technical. Also, annotations are not high art, they're typically quick circles or arrows. Adding hue, saturation, brightness, hex values, etc seems possibly confusing for little benefit.

[2018-03-02 05:50] ArmenApresyan8 commented on #1907
@vrjgamer I mean it's complex for the users, not for us to develop.

[2018-03-02 09:10] mmarciniak90 opened #1959 "Header on `Open source libraries and licences` view is not always visible on Android 4.1"
#### Software and hardware versions
Collect v1.13.1
Android 4.1

#### Problem description
Header on `Open source libraries and licences` view is not always visible

#### Steps to reproduce the problem
1. User goes to `About` view
2. User clicks on `Open source libraries and licences` view
3. Header is not always visible

![screenshot_2018-02-28-12-07-34](https://user-images.githubusercontent.com/3

[2018-03-02 09:23] jniles commented on #1945
@lognaturel , thanks for getting back to me so quickly.  I'll try the workaround and see how it works.  If we end up doing this for every form, then I'll reopen this as a feature request with the rationale.

[2018-03-02 09:23] #1945 closed, assigned to nobody

[2018-03-02 11:12] mmarciniak90 opened #1960 "Spinner widget does not open from start-of-list after swipe on options"
#### Software and hardware versions
Collect v1.13.1 and older versions
Collect with #1955
Android 4.1, 4.2, 4.4., 5.1, 6.0
Problem is not visible on Android 7.0 and 8.0

#### Problem description
Spinner widget does not open from start-of-list if user swipes on available options then closes widget and again opens it

#### Steps to reproduce the problem
1. User goes to Spinner Widget
2. User opens a

[2018-03-02 11:23] iammvaibhav commented on #1960
@opendatakit-bot claim

[2018-03-02 12:00] batkinson opened #1961 "Device id not sent when submitting form instances"
#### Software and hardware versions
All recent versions of Collect, confirmed on latest development buid of v1.13.12 on master (cc455c33c). Device independent.

#### Problem description
When using Collect to submit to stateless API endpoints (not using http sessions) server implementations can not reliably associate a form submission with a device identifier. This is problematic as determining whi

[2018-03-02 12:26] Mrunzzz commented on #1826
@mmarciniak90 I couldnt find this in the project. Please direct me to it

[2018-03-02 12:31] mmarciniak90 commented on #1826
@Mrunzzz  use `Ctrl` + `Shift` + `F` and try to find `Only questions are allowed in 'field-list'` in project

[2018-03-02 17:12] harsh-2711 commented on #1887
@lognaturel  Can u please provide me with proper resources for solving this problem as I am not able to link the classes in the project

[2018-03-02 18:02] ArmenApresyan8 commented on #1959
Couldn't reproduce it on Android 4.1 emulator.

[2018-03-02 20:49] Thodoris1999 commented on #1957
@opendatakit-bot claim

[2018-03-02 23:36] #1935 closed, assigned to nobody

[2018-03-02 23:39] #1926 closed, assigned to nobody

[2018-03-02 23:51] #1961 closed, assigned to nobody

[2018-03-02 23:52] #1933 closed, assigned to nobody

[2018-03-02 23:53] #1846 closed, assigned to nobody

[2018-03-02 23:58] #1917 closed, assigned to nobody

[2018-03-03 00:39] lognaturel opened #1964 "Display warning when select_multiple names have spaces in them"
For questions with multiple selection, the responses chosen by the user are stored as a space-separated list of the response `value`s. Most form builders either warn or error when a user tries to build a form with multiple selection questions that have `value`s with spaces but it's possible to include them when writing XML by hand or using external choices.

A little warning should be displayed wh

[2018-03-03 00:48] lognaturel commented on #1910
Closing this because it should be addressed in #1944.

[2018-03-03 00:48] #1910 closed, assigned to nobody

[2018-03-03 00:48] #1942 closed, assigned to nobody

[2018-03-03 00:55] lognaturel commented on #1937
Removing it makes sense to me. @yanokwa also agrees.

[2018-03-03 00:56] lognaturel commented on #1956
Thanks for taking this on @sashank27! After you've completed this one, please make sure you take on bigger issues and leave `quick win`s for new people! 😊

[2018-03-03 03:09] iammvaibhav commented on #1964
@opendatakit-bot claim

[2018-03-03 03:34] akshay-ap opened #1965 "Add tests for ArrayUtils"
#### Software and hardware versions
Collect v1.13, Android v7.0, Moto M

#### Problem description
There are no tests for `ArrayUtils`.

#### Steps to reproduce the problem
NA

#### Expected behavior
Test the behaviour of `ArrayUtils`

#### Other information
None

[2018-03-03 03:34] akshay-ap commented on #1965
@opendatakit-bot claim

[2018-03-03 06:18] sashank27 commented on #1956
Sure @lognaturel :smile:
Just a clarification, what exactly should I do for the `InvalidSyntaxException`s in `ExternalDataUtil` ?

[2018-03-03 07:27] drik commented on #378
@mdudzinski Did you go further with your first proposed solution ? If yes, can you share with us? Thanks

If any other person has something about this issue, please share with us :)

[2018-03-04 02:42] lakshyagupta21 commented on #1944
@opendatakit-bot claim

[2018-03-05 02:39] lognaturel commented on #1960
@mmarciniak90 This seems like the right behavior to me. If the user taps out of the spinner after having scrolled in it, it may be accidental or to check something before coming back to pick an answer. Keeping the latest position seems useful.

[2018-03-05 08:53] ArmenApresyan8 commented on #1907
@lognaturel What do you do think about using this lib?
https://github.com/jaredrummler/ColorPicker

[2018-03-05 08:55] ArmenApresyan8 commented on #1907
We can also use the default colors appearance.

[2018-03-05 19:27] ShivamArora commented on #1937
@lognaturel @mmarciniak90 Can you please explain what is the expected behavior of the app on returning back after changing preferences?

I didn't understand the problem why we need to remove the preferences from there?

EDIT: Understood the expected behavior from a discussion on Slack.

[2018-03-05 19:55] ShivamArora commented on #1937
@opendatakit-bot claim

[2018-03-05 23:01] #1950 closed, assigned to nobody

[2018-03-06 00:58] lognaturel commented on #298
Circling back to this because there has been work in this code recently by @grzesiek2010.

@enricofer How about a configuration option in the Google Sheets settings such as
`[ x ]  Include form and group names in column names`

By default, this would be checked and the behavior would be the same as it is now.

If unchecked, only the field name would be included in the column headers. As @yanokwa m

[2018-03-06 01:04] lognaturel commented on #1954
@roychowdhuryrohit-dev If you would still like to work on this issue, please accept the GitHub invitation you received. If not, someone else can take it on.

[2018-03-06 02:09] lognaturel commented on #1753
To reproduce this, set forms to "Auto Send" from form management settings (see https://docs.opendatakit.org/collect-settings/#form-management-settings), fill and finalize a form and then let it auto send. You should receive a notification.

Try this on emulators running different Android versions and try @grzesiek2010's proposed fix.

[2018-03-06 02:20] lognaturel opened #1972 "Form name doesn't match latest finalized form in auto send notification"
#### Software and hardware versions
Collect v1.13.0

#### Problem description
This is a user report and has not yet been confirmed. The user is seeing the wrong form name in the auto send notification.

#### Steps to reproduce the problem
1. Reset Collect by going to Admin Settings -> Reset
1. Set forms to auto send from general settings > form management
1. Download or transfer a few forms to the

[2018-03-06 08:44] enricofer commented on #298
@grzesiek2010, @lognaturel, As I understand we are speaking about adding an option to google sheets settings in ODK collect; unchecking it, the form would be uploaded to GSheets preserving the provided field name, no matter if containing uppercase, lowercase or other allowed chars;

In this case this could be definitively interesting because would free me from expunge groupnames from Gsheets colum

[2018-03-06 09:14] mmarciniak90 commented on #1960
@lognaturel Yes, you have right, it could be useful.
I mentioned that the described case is not visible on Android 7.0 and 8.0, so should I transform this issue to fix behavior in the higher Android versions?

[2018-03-06 13:00] grzesiek2010 opened #1973 "Caused by java.lang.IllegalArgumentException: Illegal character in scheme at index 0: .http://[REDACTED_IP_ADDRESS]/susenas2017/submission?deviceID=imei%3A864218032826995"
java.net.URI.create (URI.java:733)
org.odk.collect.android.utilities.WebUtils.createOpenRosaHttpHead (WebUtils.java:181)
org.odk.collect.android.tasks.InstanceServerUploader.uploadOneSubmission (InstanceServerUploader.java:170)
org.odk.collect.android.tasks.InstanceServerUploader.processChunk (InstanceServerUploader.java:540)
org.odk.collect.android.tasks.InstanceServerUploader.doInBackground (Ins

[2018-03-06 13:00] grzesiek2010 commented on #1973
@opendatakit-bot claim

[2018-03-06 13:21] grzesiek2010 opened #1975 "The background of question text is still highlighted after listening to audio"
#### Software and hardware versions
Collect v1.13.2 and older versions

#### Problem description
The background of question text is still highlighted after listening to audio.

#### Steps to reproduce the problem
1. Download `Birds` form from the demo server.
![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/3276264/37034345-4f4c7888-2149-11e8-9e8a-e7a9da143c61.gif)

#### Expec

[2018-03-06 13:22] grzesiek2010 commented on #1975
@opendatakit-bot label "quick win"

[2018-03-06 13:58] grzesiek2010 opened #1976 "There are no separator lines in SelectOneSearchWidget"
#### Software and hardware versions
Collect v1.13.2 and older versions

#### Problem description
There are no separator lines in `SelectOneSearchWidget`

#### Steps to reproduce the problem
![screenshot_2018-03-06-14-55-04](https://user-images.githubusercontent.com/3276264/37035942-6f37b4dc-214e-11e8-8037-b5e1a50d759b.png)
![screenshot_2018-03-06-14-55-14](https://user-images.githubusercontent.com

[2018-03-06 14:22] mmarciniak90 opened #1977 "'Go To Prompt' view is visible without content in RTL languages"
#### Software and hardware versions
Collect v1.13.2

#### Problem description
'Go To Prompt' view is visible without content in RTL languages

#### Steps to reproduce the problem
1. User uses RTL languages
<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/37036807-a23b5722-2148-11e8-890e-1f8db95c48d6.png">

2. User starts form
3. User clicks on `Go to Prompt` ico

[2018-03-06 15:13] lognaturel commented on #298
That's right.

Perhaps including the setting at the form level could be considered at some point but it doesn't really match any other kind of form-level setting so I'm not sure we'd be able to get that into the spec.

Note that there are two ways to quickly share settings between devices: http://docs.opendatakit.org/collect-import-export/

[2018-03-06 15:15] lognaturel commented on #1977
Duplicate of #1914

[2018-03-06 15:15] #1977 closed, assigned to nobody

[2018-03-06 15:37] hossamnasser938 commented on #1975
I'm working on this issue

[2018-03-06 15:39] hossamnasser938 commented on #1975
@opendatakit-bot claim

[2018-03-06 16:41] enricofer commented on #298
cool feature!
so I can invite someone sending a qrcode attachment.

[2018-03-06 17:41] ArmenApresyan8 commented on #1907
Fixed it anyway (#1978). But not the best solution, most of code is still hardcoded.

[2018-03-06 18:28] lognaturel commented on #1975
Yes, I agree that highlighting the text is a sufficient indicator that audio is playing and that the background color change can be removed. 👍

[2018-03-06 18:52] hossamnasser938 commented on #1975
Ok. I'm working on it @lognaturel

[2018-03-06 20:13] lognaturel opened #1979 "Swiping back from end of form with repeat doesn't work"
#### Software and hardware versions
Collect v1.13.2, Collect v1.12.0

#### Problem description
Swiping back from end of [repeat_group_new.xml.txt](https://github.com/opendatakit/collect/files/1786554/repeat_group_new.xml.txt) doesn't work. Swiping back and them forward goes to end of first repeat.

#### Steps to reproduce the problem
1. Open [repeat_group_new.xml.txt](https://github.com/opendataki

[2018-03-06 20:22] hossamnasser938 commented on #1975
@lognaturel  Do you mean that the background color does not have to change when audio is playing?

[2018-03-06 22:24] dcbriccetti commented on #1907
I think making the current control bigger is an excellent idea. I see an advantage to picking the hue with one click, then picking the saturation and brightness with a second click, over manipulating three sliders.

[2018-03-07 08:03] hossamnasser938 commented on #1976
@grzesiek2010 I think the 'select one search widget' question lets the user search for search_widgets by typing first letter(s) but the 'select one widget'  does not. I think the case is not separator lines.

[2018-03-07 08:11] grzesiek2010 commented on #1976
You are right but still, both widgets are for selecting one option so the layout should be the same.

[2018-03-07 08:17] hossamnasser938 commented on #1976
So we have two different solutions whether to remove the EditText from 'Select one search widget' question or to add an EditText to 'Select one widget' question. Which one do you think is better?

[2018-03-07 08:21] grzesiek2010 commented on #1976
No no no. You don't understand me. I mean that's ok we have one simple select one widget and another with an EditText for searching (we also offer a few other options like `autoadvance` etc. but never mind). I'm talking about that part of the layout where you have `RadioButtons`. It should look the same in both cases so we should have separators in both or remove them at all.

[2018-03-07 08:29] hossamnasser938 commented on #1976
Oh yeah. You're wright. Now I understand what you mean. I'll work on it.

[2018-03-07 08:30] hossamnasser938 commented on #1976
@opendatakit-bot claim

[2018-03-07 11:31] hossamnasser938 commented on #1954
@lognaturel I've solved it and I'm ready to make a pull request but @opendatakit-bot prevents accept claiming as he thinks I'm on another issue but in fact I finished it and made a pull request waiting for review. I have finished all the work for this issue #1954

[2018-03-07 11:35] grzesiek2010 commented on #1976
@hossamnasser938 I saw you already claimed at least two other `quick wins` so please leave this one for new contributors I think you can take something marked as `contributor friendly`.

[2018-03-07 11:49] mmarciniak90 opened #1981 "RTL writing system is not visible on all views"
#### Software and hardware versions
Collect v1.13.2
Devices with Android: 4.1, 4.2, 4.4, 6.0, 7.0, 8.0.

#### Problem description
RTL writing system is not visible on all views

#### Steps to reproduce the problem
1. User uses Collect on RTL language
2. User opens Fill Blank Form / Get Blank Form / Delete Saved Form or starts filling some form
3. User sees that text is not start from the right of

[2018-03-07 11:55] hossamnasser938 commented on #1976
@grzesiek2010 I claimed only one quick win and I'm trying to claim the second to get familiarized with the code base before contributing to contributor friendly

[2018-03-07 12:49] mmarciniak90 opened #1983 "Problems with Range Widgets with RTL languages"
#### Software and hardware versions
Collect v1.13.2

#### Problem description
Problems with Range Widgets with RTL languages

#### Steps to reproduce the problem
1. User uses RTL languages
2. User opens Range widget
3. Horizontal widget shows incorrect value on Android 4.4 (Vertical widget works as expected)

| Integer | Decimal  |
| ---- | ----|
| ![screenshot_2018-03-07-13-19-56](https://user-im

[2018-03-07 12:54] grzesiek2010 commented on #1972
Hmm, I can't reproduce this issue. Everything works well and the code also looks good.

[2018-03-07 12:55] grzesiek2010 commented on #1972
@mmarciniak90 you can try when you are free.

[2018-03-07 15:18] ShivamArora commented on #1912
I would like to work on it.

But I do have a question.

Do I need to work on all of them and then commit or resolve some of them and commit with some of the solved warnings?

[2018-03-07 16:49] ShivamArora commented on #1741
@opendatakit-bot claim

[2018-03-07 17:54] arundhatigupta commented on #1753
@opendatakit-bot claim

[2018-03-07 19:27] shobhitagarwal1612 commented on #1351
Unable to reproduce the issue

[2018-03-07 21:05] arihant-001 commented on #1976
@opendatakit-bot claim

[2018-03-07 22:15] Thodoris1999 commented on #1957
@lognaturel Should I do this with camera2 as well? I have finished the code with old camera api, but the new one is giving me a hard time... There is no documentation for recording videos and Google's example seems to be buggy on Lollipop https://github.com/googlesamples/android-Camera2Video/issues

[2018-03-07 22:26] arihant-001 commented on #1976
We should  have separators in both the widgets. It will look good with the line separators.

[2018-03-07 22:29] lognaturel commented on #1957
Awesome! Can you give us a sense of what the limitations are? It might be helpful to see a Work In Progress (WIP) PR to see whether what you have is sufficient.

[2018-03-07 22:32] Thodoris1999 commented on #1957
I agree. I'll send my PR in a bit.

[2018-03-07 22:45] arihant-001 commented on #1859
@opendatakit-bot claim

[2018-03-08 00:39] isabelcosta commented on #1859
@opendatakit-bot claim

[2018-03-08 15:21] arihant-001 commented on #1976
@opendatakit-bot unclaim
I have send a PR for fixing the issue.
I'm working on some other issue right now, so I unclaimed it.

[2018-03-08 16:31] #1879 closed, assigned to nobody

[2018-03-08 20:50] lumarega commented on #1858
@opendatakit-bot claim

[2018-03-08 21:35] lognaturel commented on #1954
@hossamnasser938 please don’t take issues others have claimed. @roychowduhuryrohit-dev are you working on this? You are not showed as assigned because you have not accepted the invitation from GitHub yet.

[2018-03-08 21:48] hossamnasser938 commented on #1954
Ok @lognaturel I did not now that @roychowdhuryrohit-dev have claimed

[2018-03-09 00:15] #1956 closed, assigned to nobody

[2018-03-09 01:15] lognaturel opened #1990 "Update dependencies that don't need Play Services update"
Several dependencies are now out of date. See `build.gradle` in AndroidStudio to see them highlighted.

All dependencies that can be updated should be. Because Play Services is a big download, it should not be updated at this time. That means dependencies such as `firebase-core` can't be updated immediately.

Other dependency updates may have issues with them so it will be important to verify that

[2018-03-09 01:57] lognaturel commented on #1040
From Google:

--

So this can happen whenever between now and September. Instructions are at https://firebase.google.com/docs/crashlytics/get-started?authuser=0. The only code that should need to change is the Timber configuration that will need to switch away from Firebase Crash to Crashlytics. Google Play Services should not get updated in the process.

[2018-03-09 04:54] arundhatigupta commented on #1990
@lognaturel Thanks for assigning that issue to me. :)
I needed a little clarification on that.
I can see outdated dependencies in the build.gradle. As you mentioned, Play Services is a big download and should not be updated at this time, what I need to do is to update all other dependencies to the latest possible version that work, except Play Services. Is that what I need to do? :)

[2018-03-09 05:38] lognaturel commented on #1990
That’s right!

[2018-03-09 07:35] iammvaibhav commented on #1964
@opendatakit-bot unclaim

[2018-03-09 12:07] mdmahendri opened #1992 "Play Console require target SDK 26+ in november 2018"
#### Problem description
Current `build.gradle` only target SDK 22. New policy require updates to existing application target latest SDK, each year the target SDK will increase

November 2018: Updates to existing apps required to target API level 26 or higher.
2019 onwards: Each year the targetSdkVersion requirement will advance. Within one year following each Android dessert release, new apps and

[2018-03-09 17:58] #1255 closed, assigned to nobody

[2018-03-09 18:01] #1973 closed, assigned to nobody

[2018-03-09 20:12] lognaturel commented on #1907
#1978 is a good approach for keeping changes minimal.

@ArmenApresyan8 I imagine using https://github.com/jaredrummler/ColorPicker won't add much to APK size, right? If that's confirmed, it seems like a good lib to use. There's always some risk associated with libraries if they stop being supported, etc but in this case it would be very easy to swap out or revert back to the current custom impleme

[2018-03-09 20:29] lognaturel commented on #1992
Thank you for filing this issue @mdmahendri, it's indeed an important date to be aware of. The current target SDK version is 22.

It would be helpful to start by understanding what code changes will be necessary to change this target. The following pages describe changes for each version:
- https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html
- https://developer.androi

[2018-03-09 21:42] ArmenApresyan8 commented on #1907
@lognaturel I can check it later how much the APK size will be increased.

[2018-03-09 21:44] ArmenApresyan8 commented on #1992
Yes! We should do that, because if someone denies some permission, it will cause runtime crashes.

[2018-03-10 18:53] steverichards commented on #375
I may be a bit late to the party on this one. Muy use case is recording observations from a helicopter where time to collect is an issue. I'm looking for a one tap solution.
Form is open
Select observation from radio button
GPS location is collected automatically
Record is saved
Ready for next observation

[2018-03-10 19:48] lumarega commented on #1858
This is the current icon used:
![image](https://user-images.githubusercontent.com/18705293/37246129-362e7cd4-2482-11e8-9395-89e49509758b.png)

but is not available within the material design icons to create the vector based on it.
So I would like your insight on it @grzesiek2010  @lognaturel. Is it ok if we change for another icon? For example this icon:

![image](https://user-images.githubusercon

[2018-03-11 06:54] shobhitagarwal1612 commented on #93
I found this feature request in the google play store's user reviews section:

[Link to the review](https://play.google.com/store/apps/details?id=org.odk.collect.android&reviewId=Z3A6QU9xcFRPSDB1anBFVmxfRmRTekdpUGYzdDRXTzl4V3dZX2hPbFktWWJuLURkcUVOemtjeU5kcDd3UDJJY3hMMHU1MDVScFRQWXFNNkl3eDJDRzRwZ2Jn)
@lognaturel @yanokwa

[2018-03-11 09:43] Hanan194 commented on #1983
Hello, I want to take this task , will start working on it and show my progress as soon as possible

[2018-03-11 09:47] Hanan194 commented on #1981
Hello, I'd like to work on this task as well

[2018-03-11 10:28] Hanan194 commented on #1983
@opendatakit-bot claim

[2018-03-11 10:33] Hanan194 commented on #1981
@opendatakit-bot claim

[2018-03-11 17:37] lognaturel commented on #1976
Thanks, @ArihantJain456! Please don't unclaim an issue until it is closed.

[2018-03-11 19:47] arihant-001 commented on #1976
If I don't then how I will be able to work on some other issue? @lognaturel

[2018-03-11 22:58] #1820 closed, assigned to nobody

[2018-03-12 01:11] #1990 closed, assigned to nobody

[2018-03-12 08:02] hossamnasser938 commented on #1954
Thanks @lognaturel I've already resolved it and made a pull request waiting for review and testing

[2018-03-12 09:33] arundhatigupta opened #1996 "Update testing dependencies"
#### Problem description
Currently, the build.gradle consists of outdated testing dependencies.

#### Expected behavior
The outdated testing dependencies should be updated to the latest version for which the code works well.

[2018-03-12 09:34] arundhatigupta commented on #1996
@opendatakit-bot claim

[2018-03-12 11:53] ArmenApresyan8 commented on #1907
@lognaturel APK size was increased by 46.2 KB when using this lib.

[2018-03-12 12:18] grzesiek2010 opened #1997 "Exception java.lang.NullPointerException:"
org.odk.collect.android.activities.FormEntryActivity.onOptionsItemSelected (FormEntryActivity.java:996)
android.app.Activity.onMenuItemSelected (Activity.java:2652)
android.support.v4.app.FragmentActivity.onMenuItemSelected (FragmentActivity.java:380)
android.support.v7.app.AppCompatActivity.onMenuItemSelected (AppCompatActivity.java:195)
android.support.v7.view.WindowCallbackWrapper.onMenuItemSel

[2018-03-12 12:18] grzesiek2010 commented on #1997
@opendatakit-bot claim

[2018-03-12 12:34] mmarciniak90 opened #1999 "Two 'Pause' icons are visible when user tries to play few sounds quickly"
#### Software and hardware versions
Collect v1.13.2 and older versions

#### Problem description
Two 'Pause' icons are visible when user tries to play few sounds quickly

#### Steps to reproduce the problem
1. User opens `Birds` form from the demo server
2. User clicks on `Speaker` icon
3. `Speaker` icon is changed to `Pause` icon
4. User immediately clicks on some other `Speaker` icon
5. User see

[2018-03-12 12:39] grzesiek2010 commented on #1999
@opendatakit-bot label "quick win"

[2018-03-12 12:43] laddha-adi commented on #1999
I would like to work on this.

[2018-03-12 12:54] grzesiek2010 opened #2000 "Caused by java.lang.NullPointerException: Attempt to get length of null array"
org.odk.collect.android.provider.FormsProvider.deleteFileOrDir (FormsProvider.java:244)
org.odk.collect.android.provider.FormsProvider.delete (FormsProvider.java:282)
android.content.ContentProvider$Transport.delete (ContentProvider.java:323)
android.content.ContentResolver.delete (ContentResolver.java:1382)
org.odk.collect.android.dao.FormsDao.deleteFormsFromIDs (FormsDao.java:129)
org.odk.collec

[2018-03-12 12:54] grzesiek2010 commented on #2000
@opendatakit-bot claim

[2018-03-12 13:13] sgrG24 commented on #1999
@opendatakit-bot claim

[2018-03-12 13:16] laddha-adi commented on #1999
hi @sgrG24 I am already working on this issue. You can find some other here https://github.com/opendatakit/collect/issues there are plenty of them!

[2018-03-12 13:30] manishakeim commented on #1959
@opendatakit-bot claim

[2018-03-12 13:33] manishakeim commented on #1844
@opendatakit-bot claim

[2018-03-12 14:13] mmarciniak90 opened #2002 "Two kinds of cursive font are visible on hints - Andoroid 4.1"
#### Software and hardware versions
Collect v1.13.2 and older
Android 4.1

#### Steps to reproduce the problem
1. User opens `All Widget` form from demo server
2. User sees hints

![screenshot_2018-03-12-15-02-44](https://user-images.githubusercontent.com/3907554/37288465-411fcd72-25ff-11e8-9557-680f18b3a47c.png)
![screenshot_2018-03-12-15-03-14](https://user-images.githubusercontent.com/3907554/3

[2018-03-12 14:14] mmarciniak90 commented on #2002
@opendatakit-bot label "quick win"

[2018-03-12 14:24] grzesiek2010 opened #2003 "Exception java.util.IllegalFormatConversionException: %d can't format java.lang.String arguments"
Collect v1.13.2 and v1.12.2

#### Problem description
I've noticed this issue while investigating crash reports. No more logs than mentioned in the title:
`Exception java.util.IllegalFormatConversionException: %d can't format java.lang.String arguments

the problem is related to Indonesian language and it might be related only to Samsung devices with Android 5. Don't know where it takes place but

[2018-03-12 14:25] grzesiek2010 commented on #2003
@opendatakit-bot label "quick win"

[2018-03-12 15:53] #1859 closed, assigned to nobody

[2018-03-12 15:54] #1975 closed, assigned to nobody

[2018-03-12 15:55] #1937 closed, assigned to nobody

[2018-03-12 17:00] lognaturel commented on #2002
This is caused by underscores in `select_one` and `select_multiple` which are being interpreted as markdown directives. I would tend to leave it as-is but if someone has a proposed alternative, please share.

[2018-03-12 18:19] dcbriccetti commented on #1907
That’s a very small increase, it seems to me. It sounds like @lognaturel would like to have you use this color picker. If so, I agree.

[2018-03-12 18:27] #2000 closed, assigned to nobody

[2018-03-12 20:07] lognaturel commented on #1907
Yes, I agree. @ArmenApresyan8 your instinct to try to minimize changes and dependencies is a very good one. In this case the benefits are clear and the downsides few. If you'd like to send in a PR using the lib and close your scaling one, please do!

[2018-03-12 20:11] ArmenApresyan8 commented on #1907
OK, I'll do it.

[2018-03-12 20:52] yanokwa opened #2005 "Google Sheets media uploads should be more clearly named"
As described at https://forum.opendatakit.org/t/google-drive-sheets-as-server/12208/5

@shobhitagarwal1612 when you have a chance, can you update this issue with the current behavior of the Google Sheets media upload? I think it'd be great if we could tie the media file uploads to the submission in some way.

[2018-03-12 22:58] kareemhamdy100 commented on #1981
@opendatakit-bot claim

[2018-03-13 03:12] lognaturel opened #2007 "Support guidance form for hints"
From https://opendatakit.github.io/xforms-spec/#languages:

I propose adding a setting at the bottom of General settings > form management > form filling labeled `Show guidance for questions` with possible values `Yes` and `No`. It should be `No` by default. If it is set to `Yes`, guidance text will be shown below the hint in blue italics.

Behavior discussion at https://forum.opendatakit.org/t/co

[2018-03-13 04:05] lognaturel commented on #2007
An alternative would be to provide two options for display: `Yes - collapsed` and `Yes - always shown`.

For `Yes - collapsed`, the `guidance` text could be shown collapsed by default with the option to click to expand (e.g. https://github.com/freecats/TextViewExpandableAnimation). I can see this being useful when enumerators don't fill a form out very often and may want to refresh their memory on

[2018-03-13 04:08] lognaturel opened #2008 "GPS accuracy is worse after switched to FusedLocationProvider"
#### Software and hardware versions
Collect v1.11+

#### Problem description
https://forum.opendatakit.org/t/gps-accuracy-cannot-go-beyond-10m/12176

#### Steps to reproduce the problem
Confirmed on Moto G4, Galaxy Tab A with All Widgets form.

#### Expected behavior
GPS accuracy should be the same or better after the change.

#### Other information
Possibly related: https://forum.opendatakit.org/

[2018-03-13 14:09] ShivamArora commented on #1741
@opendatakit-bot claim

[2018-03-13 15:07] mmarciniak90 opened #2009 "User sees modern progress bar during loading a blank form list from Google Drive and Aggregate"
#### Problem description
User should see a modern progress bar during loading a blank form list from Google Drive and Aggregate

#### Steps to reproduce the problem

##### Case with Aggregate server
1. User uses Aggregate server
2. User opens `Get Blank Form` view
3. Progress dialog is visible

<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/37350008-a6562030-2

[2018-03-13 16:08] ArmenApresyan8 commented on #1907
@lognaturel Should I also include it in open source libraries list?

[2018-03-13 16:17] lognaturel commented on #1907
Yes, please, @ArmenApresyan8!

[2018-03-13 16:51] #1944 closed, assigned to nobody

[2018-03-13 17:01] shobhitagarwal1612 opened #2011 "Fix failing circle CI build"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
The build is failing because of an unused resource. This should be fixed quickly so that unwanted errors can be prevented from getting merged.

#### Steps to reproduce the problem
Try running `./gradlew lint` locally

https://1926-40213809-gh.circle-artifacts.com/0/reports/lint/lint-result.

[2018-03-13 17:31] ArmenApresyan8 commented on #1907
@lognaturel what do you think about this?

![screenshot_20180313-211401](https://user-images.githubusercontent.com/18738136/37358885-a8dc4ac4-2705-11e8-93a4-dc80c12d097a.png)
![screenshot_20180313-212752](https://user-images.githubusercontent.com/18738136/37358889-aa226fda-2705-11e8-8048-94c83051da0d.png)

[2018-03-13 17:43] shobhitagarwal1612 commented on #2005
@yanokwa Media files are uploaded to google drive with the original name of the media

[2018-03-13 17:49] dcbriccetti commented on #1907
That’s a nice improvement! Can you change the orientation in the custom mode (lower picture) so that the hues are on the long axis, so that the scroll bar is not needed? Scrolling adds one more interaction.

[2018-03-13 17:51] ArmenApresyan8 commented on #1907
You mean change the orientation of screen?

[2018-03-13 17:53] dcbriccetti commented on #1907
No. The contents. Right now there is wasted space on the left and right that could be used to remove the need for scrolling.

[2018-03-13 17:57] ArmenApresyan8 commented on #1907
I don't think I can change the code of lib.

[2018-03-13 18:03] yanokwa commented on #2005
Correct, but they are all put in one folder, right? So if I download all the media files, I can't easily tell which image file belongs to which submission.

[2018-03-13 18:06] shobhitagarwal1612 commented on #2005
That's correct

[2018-03-13 18:10] ArmenApresyan8 commented on #1907
OK, here is it.
https://github.com/ArmenApresyan8/collect/tree/new_color_picker

[2018-03-13 18:29] ArmenApresyan8 commented on #1907
I think it was designed for portrait screens.

[2018-03-13 18:36] ArmenApresyan8 commented on #1907
![screenshot_20180313-223611](https://user-images.githubusercontent.com/18738136/37362553-f7040d78-270e-11e8-975e-fe4c6008a221.png)

What about this one?

[2018-03-13 18:37] ArmenApresyan8 commented on #1907
We should use our old dialog with my scaled option :)

[2018-03-13 18:57] lognaturel commented on #2009
Using a progress bar seemed like a good idea initially but now I'm thinking keeping that dialog and doing the same for Google Drive would be a great start. We may want to couple changing the progress indicator to a change in how the forms themselves are loaded (async).

[2018-03-13 19:00] lognaturel commented on #1907
I'm ok with either. The last screenshot you shared looks fine to me. Presumably it looks great in portrait, right?

[2018-03-13 19:12] ArmenApresyan8 commented on #1907
Yes, they look good in portrait. So should we use the last one?

[2018-03-13 19:18] dcbriccetti commented on #1907
Trouble is, the draw widget is landscape-only, right?

[2018-03-13 19:40] lognaturel commented on #1907
Ah. Right. Annotate takes the orientation of the image but straight draw is indeed landscape only. I’m still ok with that latest screenshot. @dcbriccetti?

[2018-03-13 19:50] dcbriccetti commented on #1907
Oh. Yeah. Me too. How’d you get rid of the scroll bar, @ArmenApresyan8?

[2018-03-13 19:55] ArmenApresyan8 commented on #1907
The last screenshot I added was a different lib. The first ones were with the scroll bar, I think we can't change it because there was hardcoded size for the dialog and it was for portrait only. If the last one looks OK, we can use it. Here is it
https://github.com/yukuku/ambilwarna

[2018-03-13 19:56] ArmenApresyan8 commented on #1907
It is also working faster with the colors rendering, then the current one we have.

[2018-03-13 19:59] dcbriccetti commented on #1907
Could I trouble you to push it so I can play with it?

[2018-03-13 20:00] ArmenApresyan8 commented on #1907
I'll do that after I get home.

[2018-03-13 22:10] lognaturel commented on #2008
The devices I have are also not going under 10m in accuracy currently. I can get higher accuracy by forcing `AndroidLocationClient` in `LocationClients`. This is very puzzling because I am convinced I've gotten better accuracies than that recently. There's some evidence of that at #1336 but I don't have more recent proof. @mmarciniak90 is this part of your release testing? Can you please see what

[2018-03-13 22:46] lognaturel commented on #874
@lbramley A little late to the party here but as of Collect 1.13.x you can use references to other values in constraint message text. Hope you will find it helpful for future surveying!

[2018-03-14 00:02] yanokwa opened #2012 "Use the X-OpenRosa-Accept-Content-Length header"
#### Software and hardware versions
Collect v1.13.x

#### Problem description
From https://forum.opendatakit.org/t/12239

Collect doesn't currently use the `X-OpenRosa-Accept-Content-Length` header but always splits files into 10Mb posts. If a file exceeds 10Mb, it will be sent in its own post with the submission XML.

#### Expected behavior
Collect follows the agreed upon API at http://docs.opend

[2018-03-14 00:40] lognaturel opened #2013 "Required message ignored when jr:requiredMsg is set"
#### Software and hardware versions
Collect v1.13.0

#### Problem description
`jr:requiredMsg` on bind is ignored.

#### Steps to reproduce the problem
1. Load a form with a required message such as [required.xml.txt](https://github.com/opendatakit/collect/files/1809160/required.xml.txt)
1. Swipe forward on the first question

#### Expected behavior
Custom message should be shown.

#### Other info

[2018-03-14 01:04] lognaturel commented on #71
Closing in favor of #2007 now that there's an ODK XForms mechanism for this.

[2018-03-14 01:04] #71 closed, assigned to nobody

[2018-03-14 06:54] ugoamanoh commented on #1964
@opendatakit-bot claim
@opendatakit-bot claim

[2018-03-14 08:03] manishakeim commented on #1959
@opendatakit-bot unclaim

[2018-03-14 08:07] manishakeim commented on #2011
@opendatakit-bot claim

[2018-03-14 12:32] didicodes opened #2014 "The gap between the *View Sent Form* and the *Get Blank Form* is really large compared to other views in the ODK collect v1.13.2"
#### Software and hardware versions
Collect v1.13.2,

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior
The distance between all the views should be the same

#### Other information
Enhancing the Xml File

[2018-03-14 13:10] manishakeim commented on #2014
@opendatakit-bot claim

[2018-03-14 13:13] manishakeim commented on #1844
@opendatakit-bot unclaim

[2018-03-14 13:27] Shrreya commented on #2014
@opendatakit-bot claim

[2018-03-14 13:29] Shrreya commented on #2014
@opendatakit-bot claim --force

[2018-03-14 14:09] didicodes commented on #2014
@opendatakit-bot claim

[2018-03-14 14:17] didicodes commented on #2014
@opendatakit-bot claim --force

[2018-03-14 14:19] mmarciniak90 opened #2015 "Remove `Go back` button and add `Select All` button on Get Blank Form with Google Drive"
#### Software and hardware versions
Collect v1.13.2

#### Problem description
Remove `Go back` button and add `Select All` button on Get Blank Form with Google Drive

#### Steps to reproduce the problem
1. User uses Google Drive as a server
2. User goes to `Get Blank Form`

#### Expected behavior - acceptance criteria
* `Go back` button is removed. User is able to go back by clicking on device bac

[2018-03-14 14:26] mmarciniak90 commented on #2015
@lognaturel I have 2 questions:
* Should all forms be selected or unselected when user opens `Get Blank Form` view?
* Should the previously downloaded forms be unchecked? Should it recognize which forms have been downloaded and which have not been, as in the case for Aggregate?

@opendatakit-bot label "needs discussion"

[2018-03-14 14:47] grzesiek2010 commented on #2013
@opendatakit-bot claim

[2018-03-14 14:50] grzesiek2010 commented on #2014
I'm pretty sure it's not a bug and it was considered probably to separate options used for downloading/removing forms and options used for working with forms (filling, editing etc.).
@lognaturel what do you think?

[2018-03-14 14:58] Shrreya commented on #2011
@opendatakit-bot claim

[2018-03-14 15:03] Shrreya commented on #2014
@opendatakit-bot unclaim

[2018-03-14 15:04] Shrreya commented on #2011
@opendatakit-bot claim

[2018-03-14 15:17] aishwarya-sankhla commented on #1052
@opendatakit-bot claim

[2018-03-14 15:21] lognaturel commented on #2011
Thanks for your interest in this issue, @Shrreya! Please be sure not to claim issues that are already assigned.

@manishakeim Any update on this? It would be good to get this fixed before merging other changes.

[2018-03-14 15:23] lognaturel commented on #2014
Thank you for looking into ODK Collect, @edyasikpo! As @grzesiek2010, this works as intended.

[2018-03-14 15:23] #2014 closed, assigned to nobody

[2018-03-14 15:36] Shrreya commented on #2011
Sorry about that @lognaturel, I just started making myself familiar with the codebase. Could you suggest another quick win issue for me to begin with?

[2018-03-14 15:39] #1954 closed, assigned to nobody

[2018-03-14 15:47] grzesiek2010 commented on #2013
@lognaturel we can close this issue since it's on the Javarosa's side https://github.com/opendatakit/javarosa/issues/275

[2018-03-14 15:48] grzesiek2010 commented on #2013
@opendatakit-bot unclime

[2018-03-14 15:52] #2013 closed, assigned to nobody

[2018-03-14 15:56] lognaturel commented on #2011
Actually, since this one his high-priority and you're available right now, I've assigned you back to it @Shrreya! Sorry about the confusion. Next time make sure to look for an unclaimed issue.

[2018-03-14 16:06] manishakeim commented on #2011
@lognaturel I'm working on it now

[2018-03-14 16:21] ArmenApresyan8 commented on #1907
@dcbriccetti I pushed it here. https://github.com/ArmenApresyan8/collect/tree/new_color_picker
If it's okay, I'll open a pull request.

[2018-03-14 16:40] #2011 closed, assigned to nobody

[2018-03-14 17:58] MartijnR opened #2018 "Markdown: escaping, newlines, paragraphs"
Hi there,

We've made some non-controversial tweaks to Markdown support in Enketo that may be interesting to adopt in Collect:

* support for escaping \* and \_ and \#
* fixed various subtle header bugs
* make a distinction between paragraphs (2 or more newline chars)and simple single newline chars to fix subtle bugs

updated regexes:
https://github.com/enketo/enketo-transformer/blob/master/src/ma

[2018-03-14 18:03] dcbriccetti commented on #1907
![wasted space](https://user-images.githubusercontent.com/55099/37421624-fc265672-2776-11e8-8957-211438c7a978.png)

I’m disappointed that it doesn’t take advantage of the space available. But it works OK. I would not object to using it. Let’s see what @lognaturel thinks.

[2018-03-14 18:04] lognaturel commented on #1907
Sounds great to me. It's clearly a big improvement to the tiny one that's there now.

[2018-03-14 18:07] ArmenApresyan8 commented on #1907
It doesn't look great because it is designed for portrait screen.
OK then I'll open a PR soon.

[2018-03-14 18:08] lognaturel commented on #2018
Thanks, @MartijnR!

Related to #2002 (being able to escape _ would solve it)

[2018-03-14 19:01] aishwarya-sankhla commented on #1052
Could you please guide on how I could reproduce this?

[2018-03-14 19:55] yanokwa commented on #1052
It'd help to know what you've tried so far.

The high level steps are
1. Configure Collect to use Google Drive. http://docs.opendatakit.org/collect-connect-google/
1. Rename the form for testing above (https://github.com/opendatakit/collect/issues/1052#issue-231351261) to loc.xml and upload it to your Google Drive.
1. Fill out the form and submit it to Google Sheets.

[2018-03-14 22:03] #1997 closed, assigned to nobody

[2018-03-14 23:23] didicodes commented on #2002
@opendatakit-bot claim

[2018-03-14 23:53] lognaturel commented on #2008
I've tried [a location demo app](https://github.com/will-quast/android-location-demo/) and am also seeing 10m as the best accuracy reported by the fused provider. The good news is that this probably means there's nothing wrong with the implementation and that users have been getting high-accuracy points, just not good accuracy values. The bad news is that fused provider probably isn't the right th

[2018-03-15 00:48] lognaturel commented on #1912
@ShivamArora - you can find the answer in the original issue: "The best approach to tackle this is to fix one issue at a time instead of fixing all in a single PR." PR means pull request, apologies if that was unclear.

[2018-03-15 01:42] lognaturel commented on #1957
@opendatakit-bot you are so impatient! @Thodoris1999 is working on it! ;)

[2018-03-15 09:55] huangyz0918 commented on #2003
@opendatakit-bot claim

Hi ~
I have reproduced this issue for several times and found a possible reason, but I'm not sure for that.
I would like to work on this issue, and try to figure it out.

**All I know:**
1. It's a bug with some of Samsung device, It affects Galaxy S4, S5, Note 3 and probably more devices.
2. It caused by the inappropriate implementation in their Lollipop UI ( Android 5+ ) w

[2018-03-15 10:04] Thodoris1999 commented on #1957
That's true! Just a little bit more and I'll finish it, I promise. However, I do owe you a progress report:

-The VerifyError was caused because android hates seeing imported packages it doesn't know about, so having a isFrontCameraAvailable() on CameraUtils was not possible. I could add a Camera2Utils, but even though camera2 video and image capture have some method similarities there are some di

[2018-03-15 10:43] ArmenApresyan8 commented on #1907
![screenshot_20180315-144205](https://user-images.githubusercontent.com/18738136/37458666-2a8298b2-285f-11e8-9a5b-8b69fa14259f.png)
We can also use alpha slider, what do you think?

[2018-03-15 10:52] huangyz0918 commented on #2003
@opendatakit-bot claim

[2018-03-15 16:55] aishwarya-sankhla commented on #1052
I had previously pushed the form using adb but hadn't configured the the Google drive which is why I was not able to reproduce it.But now I'm able to view it.

Could you please tell how to go about this problem?

[2018-03-15 17:44] yanokwa commented on #1052
@aishwarya-sankhla What have you tried so far?

[2018-03-15 18:02] udhay24 commented on #757
@opendatakit-bot claim

[2018-03-15 18:05] lognaturel commented on #1052
Great you're able to view the form now @aishwarya-sankhla! I agree it would be helpful to understand what you've tried so far. I do want to give you a warning that there is a pull request open that will modify Google Sheets code quite a bit that will need to be merged before this. You can see it at #1851. Hopefully it will go through testing tomorrow and can be merged then.

After that, you will n

[2018-03-15 19:24] didicodes commented on #2002
hello @lognaturel  i want to fix this issue and i need some confirmation about it. From my understanding the issue is that the "selectmultiple" and "canadablank_map.svg" on the screenshot do not have the same font? To fix this issue i need to make all the hints have the same cursive font right? please correct me if otherwise thank you

[2018-03-15 19:42] lognaturel commented on #2002
The root of the problem is that the text is `select_multiple` and `Canada_blank_map`. Those underscores are being interpreted as markdown emphasis.

I think the fix should be to support escaping markdown directives using `\` as described in #2018. The form will then be changed to `select\_multiple` and `Canada\_blank\_map`. This will require updating `markdownToHtml` in `TextUtils` and the corresp

[2018-03-15 20:15] didicodes commented on #2002
yes it does. I would ask any other question if i get stuck. Thank you

[2018-03-15 23:27] didicodes commented on #2002
@lognaturel i cant find the Image select multiple widget tag in the all_widgets.xml android resource file but i can find every other widget in the app but each time i run the ODK collect app on my phone it is also reflecting like every other widget is there any reason for this? because it doesn't even have a Java Activity. Should i add it to the all_widgets.xml file and create a java activity for

[2018-03-15 23:41] lognaturel commented on #2002
`all_widgets.xml` is a form that the Collect app renders. You can download it from the default server by going to 'Get Blank Forms', selecting it, tapping 'Download Selected'. You can then view it by tapping on Fill Blank Form and then tapping on the All Widgets form. You can read more about using Collect at http://docs.opendatakit.org/collect-intro/

Edit: I'm guessing you're looking at the testi

[2018-03-15 23:55] AjaySharvesh3 opened #2025 "Missing Back Arrow (Up button) in Action Bar."
# Up Arrow vs Back Button
The Up button is used to navigate within an app based on the hierarchical relationships between screens.
So, Navigation of Up button in action bar is very useful for interior working operation in the application. Here is that missing.
Now, this app is using the only Back button which is on mobile's bottom button. The mobile Back button is used to navigate, in reverse chro

[2018-03-16 03:29] udhay24 commented on #2025
@opendatakit -git claim

[2018-03-16 03:30] udhay24 commented on #2025
@opendatakit -bot claim

[2018-03-16 03:32] huangyz0918 commented on #1855
@opendatakit-bot claim

[2018-03-16 03:35] udhay24 commented on #2025
@opendatakit-bot claim

[2018-03-16 05:20] huangyz0918 commented on #1855
Hello guys~
I saw this issue by accident, and I think my code can meet this requirment, I don't know if this is what you want : @grzesiek2010 @lognaturel

Single mode which user can only choose one area and cannot cancel the highlight by twice-click：
![single mode](https://i.loli.net/2018/03/16/5aab55e98efa9.gif)

Multiple mode allows user to select many areas and can cancel the highlight by twice

[2018-03-16 05:30] huangyz0918 commented on #2003
@opendatakit-bot unclaim

[2018-03-16 05:31] huangyz0918 commented on #1855
@opendatakit-bot claim

[2018-03-16 11:50] didicodes commented on #2002
by default server do you mean from the ODK collect app?

[2018-03-16 11:57] didicodes commented on #2002
or from the ODK aggregate server

[2018-03-16 12:29] mmarciniak90 commented on #2008
@lognaturel As a part of release testing I check that location is determined. I will add a test to check accuracy and time needed to determine it.

[2018-03-16 20:15] didicodes commented on #2002
hello @lognaturel sorry to disturb but I'm still waiting for your reply

[2018-03-16 20:18] lognaturel commented on #2002
I mean the Aggregate server configured in Collect settings if you make no changes to default settings. That has the latest version of the form.

[2018-03-16 21:13] didicodes commented on #2002
@lognaturel  yay! you replied *smiling *. When i do this would  be able to access the codes of the form to make changes to it?

[2018-03-16 22:23] lognaturel commented on #2002
Yes, you can pull the form off the device using adb, make changes and push it back. http://docs.opendatakit.org/collect-forms/?highlight=adb#loading-forms-with-adb (there's also `adb pull`. The form will be at `/sdcard/odk/forms/All Widgets.xml`).

[2018-03-17 01:09] AjaySharvesh3 commented on #2025
@opendatakit-bot claim --force

[2018-03-17 01:11] lognaturel commented on #2025
I'm not sure that this is a desired feature. When Collect is opened from an external app, it's generally not desirable for an enumerator to go back to the main screen.

I don't think the arrow adds much in the case of screens like About.

Would be good to get other opinions before anyone starts making this change.

[2018-03-17 10:33] shobhitagarwal1612 opened #2028 "Improve audio widget"
#### Problem description
Clicking on play button in `Audio Widget` opens a new app to play the audio file. Instead, an audio player should be embedded within the widget to play and control the audio.

#### Steps to reproduce the problem
1. Open any form containing audio widget.
2. Choose any audio file
3. Click on play button

#### Expected behavior
If the audio file is available then a player sho

[2018-03-17 14:35] grzesiek2010 commented on #2025
I'm not in favor of doing that. I think we don't need such an option and it's also not that common.

[2018-03-17 17:57] akshay-ap commented on #2028
I have worked with recording audio on Android. As an improvement for audio widget, I can add a basic functionality that will start, pause, stop recording. I know that `Collect` depends on external apps because those apps are specialized for recording audio. But, adding this feature will make `collect` self-reliant.
Another reason to justify my purpose is that some phones don't have default app to

[2018-03-17 18:37] shobhitagarwal1612 commented on #2025
+1

[2018-03-18 04:17] lognaturel commented on #2025
Thanks for the idea, @AjaySharvesh3! Let's not make the change at this time. If you are looking for an issue to take on, please look for `quick win` and `contributor friendly` tags.

[2018-03-18 04:17] #2025 closed, assigned to nobody

[2018-03-18 07:56] AjaySharvesh3 commented on #1844
can I claim this issue?

[2018-03-18 07:56] AjaySharvesh3 commented on #1844
@opendatakit-bot claim

[2018-03-18 09:09] shobhitagarwal1612 opened #2032 "Remove Base64Wrapper class"
#### Software and hardware versions
Collect v1.13

#### Problem description
[Base64Wrapper](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/Base64Wrapper.java) was added for accessing [Base64](https://developer.android.com/reference/android/util/Base64.html) functionality in API 7. But now the minSdkVersion is 16 so this wrapper class

[2018-03-18 14:02] ayush13mishra commented on #1939
@opendatakit-bot claim

[2018-03-18 14:30] ayush13mishra commented on #1939
@opendatakit-bot unclaim

[2018-03-19 03:36] itzzritik commented on #1959
claim

[2018-03-19 03:36] itzzritik commented on #1959
@opendatakit-bot claim

[2018-03-19 03:40] itzzritik commented on #1959
@mmarciniak90 I Can't find this issue in actual application, header is always visible,
can you help me solving this issue ?

[2018-03-19 03:46] itzzritik commented on #1959
Consider this ![screenshot](https://user-images.githubusercontent.com/24320496/37577127-f7f9b3d2-2b27-11e8-8757-76f86a246976.png)

[2018-03-19 04:54] BhagavanReddyByreddy commented on #387
@Override
    protected void attachBaseContext(Context base) {
        super.attachBaseContext(base);
        MultiDex.install(this);
    }

this worked for me in Application class  thanks :)

[2018-03-19 06:09] #1965 closed, assigned to nobody

[2018-03-19 06:47] huangyz0918 commented on #1887
It’s a tiny improvement but needs efforts if you want to solve this issue thoroughly.
Here are some opinions of my own:

1. Comparing the .xml files (saved instances) with instance in memory when back-button pressed ,if file changed then we can pop up the dialog.
2. Checking the hash codes in data-object ,if data changed in memory during the edition ,we can pop up the dialog.
3. Listening the inpu

[2018-03-19 07:26] mmarciniak90 commented on #1959
@ItzzRitik I user a real device, not emulator, Samsung Galaxy Young GT-S6310.
I checked this problem again and I'm able to reproduce it on v1.13.2.
To reproduce it I open this page few times because the problem is not visible always.

[2018-03-19 17:33] arihant-001 commented on #1976
@opendatakit-bot unclaim

[2018-03-19 21:54] lognaturel opened #2035 "Update all_widgets.xml and AllWidgetsFormTest to match XLSForm in README"
As @edyasikpo noticed [here](https://github.com/opendatakit/collect/issues/2002#issuecomment-373554661), the `all_widgets.xml` form used in `AllWidgetsFormTest` is out of date with the form linked to from the README.

To update the form and test:
- [ ] Download the form from the README to an Excel file and then [convert it to XML](http://docs.opendatakit.org/form-design-intro/#javarosa-compliant-b

[2018-03-20 00:28] lognaturel commented on #1981
@Hanan194, @kareemhamdy100 is one of you still interested in taking a look at this issue? Do you need help understanding it?

[2018-03-20 01:43] #1858 closed, assigned to nobody

[2018-03-20 02:52] abbyad commented on #242
Your high level understanding is spot on.

Yes, the _Send via SMS_ is shown alongside the usual _Send_ button. This was done so that enumerators have the option to send via web if they have wifi (or mobile data), otherwise send over SMS when they are without data. Some of our deployments have had hundreds of health workers with unknown/varying levels of connectivity, so this let them chose the opt

[2018-03-20 06:47] vigneshtdev commented on #2035
claim

[2018-03-20 10:51] grzesiek2010 commented on #1979
@lognaturel we can close this issue since it's on the Javarosa's side https://github.com/opendatakit/javarosa/issues/278

[2018-03-20 11:37] vigneshtdev commented on #2035
@lognaturel
Here is list of widgets whose test's are to be removed: range_decimal_widget_vertical `testRangeDecimalVertical()` trigger_widget `testTriggerWidget()`.
Here is list of widgets whose test's are to be added: range_integer_widget_picker, image_widget_no_choose, select_one_image_map, elect_multi_image_map.

Can you/someone cross-check my work, so that I can proceed further?

Thanks.

[2018-03-20 12:26] didicodes commented on #2002
![screenshot_2018-03-20-12-53-13](https://user-images.githubusercontent.com/28895379/37654388-2982461a-2c42-11e8-880b-b9369389faa6.png)
![screenshot_2018-03-20-13-17-03](https://user-images.githubusercontent.com/28895379/37654389-29ce6478-2c42-11e8-9140-38b937204f49.png)
hello @lognaturel please look at the pictures and confirm if the issue has been fixed so i can make a pull request

[2018-03-20 14:31] ayush13mishra commented on #2035
@opendatakit-bot claim

[2018-03-20 14:38] lognaturel commented on #2035
@ayush13mishra, please unclaim this issue. As I’m sure you saw, @vettyvignesh has started exploring it. @vettyvignesh, you are right, please proceed and make sure to claim the issue.

[2018-03-20 14:54] itzzritik commented on #1959
@mmarciniak90 I executed on Redmi Note 4 Running on Oreo 8.1, I couldn't see it, anyways I'll see through it again and try to fix it, Thankyou for such quick reply.

[2018-03-20 15:09] mmarciniak90 commented on #1959
@ItzzRitik I noticed this problem only on Android 4.1, on device Samsung Galaxy Young GT-S6310

[2018-03-20 16:43] kareemhamdy100 commented on #1981
I  Think my solution will solve it   !

[2018-03-20 16:43] kareemhamdy100 commented on #1981
@opendatakit-bot unclaim

[2018-03-20 16:45] kareemhamdy100 commented on #1981
I'm sorry but I have bad connection of internet so I'll leave  this problem  to others @lognaturel
when my internet back  I will look forward to solve other quick win or other  issue and i will prepare my probosale too

[2018-03-20 17:08] #1385 closed, assigned to nobody

[2018-03-20 17:21] didicodes commented on #2002
or should i go ahead and make a pull request @lognaturel ?

[2018-03-20 18:11] lognaturel commented on #2002
It does look like you have addressed the different fonts, @edyasikpo! But it doesn't seem like you escaped the _ as I had suggested or we would see them in `select_multiple`, for example. What approach did you take? You can also open a pull request and describe your approach there.

[2018-03-20 18:41] arundhatigupta commented on #1996
I am working on it. Stuck with failing tests.

[2018-03-20 19:32] lognaturel commented on #1996
@opendatakit-bot can be very impatient. 😊Consider posting a work in progress PR or some error messages you're getting here or in #collect-code to get some ideas from other community members.

[2018-03-20 19:41] #1979 closed, assigned to nobody

[2018-03-20 19:44] lognaturel commented on #1981
Sorry to hear about your internet connection, @kareemhamdy100! Hoping it comes back for you soon and we look forward to seeing you then. 😊

[2018-03-20 21:23] Lereena commented on #1753
@opendatakit-bot claim

[2018-03-21 00:01] grzesiek2010 commented on #2005
Files are uploaded to `Open Data Kit/Submissions/formIdDir/` I think it should be `Open Data Kit/Submissions/formIdDir/instanceIdDir/`

[2018-03-21 05:48] itzzritik commented on #1959
@mmarciniak90  I worked on it to find solution, created new theme for activity, now its's working.
I don't have a device running on jellybean, but tested on emulator and it worked for me every time.
before merging I would like you to run application on your Samsung device, apk are attached here.

ThankYou.

[Download APP](https://github.com/opendatakit/collect/files/1832156/app.zip)
![Screenshot](

[2018-03-21 09:20] akshay-ap opened #2036 "Checkbox click is focused on center in `Reset application`"
#### Software and hardware versions
Collect v1.13.2
Android v7.0 Moto m
Android v8.0 Google Pixel 2

#### Problem description
1. Moto m &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.Google Pixel 2
<img src = "https://user-images.githubusercontent.com/16358982/37699173-39053c6c-2d0c-11e8-86f4-25c0f67f1909.gif" width=30%> <img src = "https://user-images.githubusercontent.com/16358982/37701799-6

[2018-03-21 09:31] grzesiek2010 commented on #2036
Why do you think it's a bug? The behavior might be different using various Android versions but that possibility to click on the title too is even better - consider people with big fingers :smile:  believe me it might be a problem to click on such a small checkbox.

[2018-03-21 11:29] akshay-ap commented on #2036
The title should be clickable.
I thought it is a bug because the animation shown on screen after clicking a checkbox is shown at the center of the screen. I had expected it to be shown on the checkbox.

[2018-03-21 11:32] grzesiek2010 commented on #2036
Ohh I see it's definitely not our bug. If you want you can probably disable that animation in your device settings.

[2018-03-21 12:48] didicodes commented on #2002
i actually tried to escaping the markdown into HTML and it looked this way
select\_multiple and Canada\_blank\_map
Is that okay?

[2018-03-21 13:20] danbjoseph commented on #33
is there any reason the drag and drop interface might be a challenge for certain user or device?

thinking about the swipe versus arrow button option for survey progression. should it be considered (and is it technically feasible) to have an alternative/additional interaction option? for example, press the number and get a dropdown list to select the rank number.

just brainstorming here. this wou

[2018-03-21 13:22] danbjoseph commented on #33
apologies, not sure what i clicked to do this
<img width="484" alt="screen shot 2018-03-21 at 9 21 18 am" src="https://user-images.githubusercontent.com/4806884/37712125-4be6dbce-2ce9-11e8-9c6e-ce8526443229.png">

[2018-03-21 13:31] grzesiek2010 commented on #33
I started work on this a year ago (but I had lots of more important things to implement) and now I'm going to return to this issue like in next month.
Your proposal is interesting I'll take it into account reviewing this issue again. Maybe your idea is even better since it's always a challenge to implement such a drag and drop functionality in a widget (which is scrollable too) - at least in older

[2018-03-21 16:47] smoyte commented on #33
One question I can add in passing -- is there any guidance in Material Design guidelines about this type of thing?

[2018-03-21 17:27] #1855 closed, assigned to nobody

[2018-03-21 17:29] didicodes commented on #2002
oh it seems GitHub uses Markdown too because the backward slash i added isn't showing.
my point is when i added the the backward slash to select_multiple and Canada_blank_map and pushed the codes to my phone the backward slash was still reflecting.
@lognaturel

[2018-03-21 18:32] lognaturel commented on #33
Good question @hooverlunch. The best I can come up with is the reorder list control - https://material.io/guidelines/components/lists-controls.html#lists-controls-types-of-list-controls. Not sure whether it would be helpful or not to explicitly add that reorder icon since it's not very intuitive and would only be helpful to someone who knows Android design well.

[2018-03-21 19:13] lognaturel commented on #2002
That means you made changes to `markdownToHtml` in `TextUtils` and the corresponding tests, right? If so, it sounds like there's one more step to do which is not to display the backslash when it is used to escape the following character. If you look at issue #2018 it may give you some ideas on the regular expressions and tests to try.

[2018-03-21 19:51] didicodes commented on #2002
okay Thank you

[2018-03-21 20:05] lakshyagupta21 opened #2039 "Toggle button text not displayed as expected in Get Blank Form"
#### Software and hardware versions
Collect v1.13

#### Problem description
Select all/Clear all button text not displayed as expected.
#### Steps to reproduce the problem
1. Get `Blank Form`
2. Search for any form
3. Tap on `Clear all`
4. Tap on `Select all`
5. Tap back button or close the search
6. List will be displayed with all the items selected and toggle button with label "Select all"

####

[2018-03-21 23:48] huangyz0918 commented on #1983
@opendatakit-bot claim

[2018-03-22 00:20] lognaturel commented on #2008
Closed for now by always using LocationManager

[2018-03-22 00:20] #2008 closed, assigned to nobody

[2018-03-22 01:47] huangyz0918 commented on #1983
@opendatakit-bot unclaim

[2018-03-22 01:47] huangyz0918 commented on #1981
@opendatakit-bot claim

[2018-03-22 02:04] yanokwa commented on #93
It's awesome that you are reading the reviews! Seems like a thing we could do. Would you like to try it?

[2018-03-22 03:45] shobhitagarwal1612 commented on #93
Sure
@opendatakit-bot claim

[2018-03-22 12:37] grzesiek2010 opened #2041 "Problem with field-list and constraints"
#### Software and hardware versions
Collect v1.13.2 and all older version

#### Problem description
If we have two (or more) questions on one page and we use constraints a user may be blocked and can't navigate forward.

#### Steps to reproduce the problem
The easiest form to reproduce the issue:
[problem.xml.txt](https://github.com/opendatakit/collect/files/1837502/problem.xml.txt)

1. Ope the at

[2018-03-22 12:37] grzesiek2010 commented on #2041
@opendatakit-bot claim

[2018-03-22 13:40] Thodoris1999 commented on #1957
@opendatakit-bot  unclaim
Still waiting for tests on my PR...

[2018-03-22 15:14] huangyz0918 commented on #1983
This is a widget full of issues :(
__Tested Device:__
Samsung Galaxy S8, Android 7.0

__Problems:__
Vertical widgets show an incorrect value, and the blue line used to highlight disappeared.

| __Integer__       |__Decimal__       |
| --------  | :-----: |
| ![](https://i.loli.net/2018/03/22/5ab3c709a22fc.png)        | ![](https://i.loli.net/2018/03/22/5ab3c709a2627.png)     |

Horizontal widget w

[2018-03-23 00:54] grzesiek2010 opened #2046 "Replace the ic_save_black_36dp (png) with scalable vector"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
Replace the ic_save_black_36dp (png) with scalable vector

We already have such a vector icon and we sue it in FormEntryActivity so there is no need to add a new one.

@opendatakit-bot label "quick win"

[2018-03-23 00:57] grzesiek2010 commented on #2039
@opendatakit-bot label "quick win"

[2018-03-23 00:58] CRMinges commented on #2046
@opendatakit-bot claim

[2018-03-23 01:05] didicodes commented on #2002
![screenshot_2018-03-23-00-51-11](https://user-images.githubusercontent.com/28895379/37806095-50256fa6-2e3e-11e8-96c4-a72991337f57.png)
![screenshot_2018-03-23-00-51-24](https://user-images.githubusercontent.com/28895379/37806096-508b6590-2e3e-11e8-93d6-bffd28562013.png)
Hello @lognaturel . I carefully modified the TextUtils.java and the TextUtilsTest.java files like you suggested and its now work

[2018-03-23 03:46] #394 closed, assigned to nobody

[2018-03-23 03:46] #1758 closed, assigned to nobody

[2018-03-23 07:51] mmarciniak90 commented on #1983
@huangyz0918
The problem with blue line looks more like https://github.com/opendatakit/collect/issues/1262.
Incorrect value is mentioned in point 4 of the problem description.
The behaviour of Range Widgets depends on Android version.

[2018-03-23 08:05] mmarciniak90 commented on #1959
@ItzzRitik I installed your app on Samsung Galaxy Young GT-S6310 with Android 4.1 and the problem is still visible.
I see also some extra line

| App with potential fix | Collect v1.13.1 |
|---|---|
| ![screenshot_2018-03-23-08-59-22](https://user-images.githubusercontent.com/3907554/37817956-6e8f3c38-2e70-11e8-834f-12aef0548cc7.png) | ![screenshot_2018-03-23-08-59-22](https://user-images.githubus

[2018-03-23 09:21] mmarciniak90 opened #2049 "Media files are lost when user changes them but then ignores the changes."
#### Software and hardware versions
Collect v1.11.1, 1.14.0

#### Problem description
Media files are lost when user changes them but then ignores the changes.

#### Steps to reproduce the problem
1. User fills form and adds some media : video, photo, audio
![screenshot_20180323-100230](https://user-images.githubusercontent.com/3907554/37821010-54321450-2e7a-11e8-876c-9be96d744bcf.png)
2. User sav

[2018-03-23 10:46] jingege315 commented on #1983
@opendatakit-bot claim

[2018-03-23 12:49] grzesiek2010 commented on #2049
@opendatakit-bot claim

[2018-03-23 13:26] jingege315 commented on #1983
@opendatakit-bot unclaim

[2018-03-23 14:58] huangyz0918 commented on #1983
@opendatakit-bot claim

[2018-03-23 15:38] AbanoubGhadban commented on #2039
@opendatakit-bot claim

[2018-03-23 16:49] huangyz0918 opened #2052 "Show empty overview page under RTL language"
#### Software and hardware versions
##### Software version:
Collect v1.14.0-beta
##### Tested device:
- Genymotion Android 6.0
- Nexus 6P (Android 8.1)
- Samsung Galaxy S8 (Android 7.0)

#### Problem description
When users are under a RTL language circumstance, forms overview page shows an empty view.

__ScreenShots:__

|   Samsung Galaxy S8 (Android 7.0)           |  Nexus 6P (Android 8.1)     |

[2018-03-23 19:09] #2032 closed, assigned to nobody

[2018-03-23 22:44] grzesiek2010 opened #2054 "Required DateTimeWidget allows selecting only one value (date or time)"
#### Software and hardware versions
Collect v1.13.2

#### Problem description
Required DateTimeWidget allows selecting only one value (date or time)
The problem has been reported here https://forum.opendatakit.org/t/date-and-time-input-in-odk-collect/12082

#### Steps to reproduce the problem
[dateTimeTest.xml.txt](https://github.com/opendatakit/collect/files/1843749/dateTimeTest.xml.txt)
1. Open

[2018-03-23 22:45] grzesiek2010 commented on #2054
@opendatakit-bot claim

[2018-03-24 08:03] nwagu commented on #1434
@opendatakit-bot claim

[2018-03-24 10:34] akshay-ap opened #2057 "Add tests for bearing widget"
#### Software and hardware versions
Collect v1.13.2

#### Problem description
There is no test to check app behavior when the sensor to record bearing is available/unavailable.
It is being done manually.
#### Expected behavior
Add tests to verify the behavior of bearing widget.
#### Other information
I shall add tests.

[2018-03-24 10:34] akshay-ap commented on #2057
@opendatakit-bot claim

[2018-03-24 16:15] nwagu commented on #1999
@opendatakit-bot claim

[2018-03-26 12:58] huangyz0918 commented on #2052
I found this issue only happens in device API level > 16. Android 4.1.1 tested ok.
Failed in Android 5.0 6.0 7.0 8.0.
It may related to the adaption in RTL with API level 17 and higher, maybe it's a bug of Android. I don't know, it costs time to read the source code related to native RTL adaption.

[2018-03-26 18:50] lognaturel opened #2063 "Match Briefcase export behavior when repeats are submitted to Google Sheets"
#### Software and hardware versions
Collect v1.14.0 beta

#### Problem description
Currently repeats are tied to their parent record but not their parent repeat in the case of nested repeats.

#### Steps to reproduce the problem
Use a form with nested repeats with Google Sheets as the server - [nested-indexed-repeat.xml.txt](https://github.com/opendatakit/collect/files/1849095/nested-indexed-repea

[2018-03-26 19:26] #1434 closed, assigned to nobody

[2018-03-26 20:22] lognaturel commented on #2063
For the top level record, `KEY` will be a duplicate of the `instanceID` column if it exists or a UUID that Collect generates at upload time if `instanceID` doesn't exist. https://forum.opendatakit.org/t/repeat-groups-and-google-sheets-upload/6677/30

[2018-03-26 20:32] grzesiek2010 commented on #2063
could you tell me where it takes place? I can't see that.

[2018-03-26 20:33] lognaturel commented on #2063
What do you mean? Where it should take place? This is not currently-existing behavior, it's a further requirement for the issue based on your suggestion.

[2018-03-26 20:35] grzesiek2010 commented on #2063
ok, so that UUID should be generated by myself right? I understood that we already use such an id somewhere.

[2018-03-26 20:36] lognaturel commented on #2063
Yes, exactly. 😊

[2018-03-27 03:20] #2028 closed, assigned to nobody

[2018-03-27 05:06] huangyz0918 commented on #1999
@opendatakit-bot claim

[2018-03-27 10:16] didicodes commented on #1887
@opendatakit-bot claim

[2018-03-27 19:06] #2046 closed, assigned to nobody

[2018-03-27 19:29] #2039 closed, assigned to nobody

[2018-03-27 19:30] #2054 closed, assigned to nobody

[2018-03-27 22:03] eaasiedu commented on #2035
Hello, I'd like to take a shot at this issue!

[2018-03-27 22:13] lognaturel commented on #2035
Hi @eaasiedu! @vettyvignesh already has a pull request open for this one (#2043)! @vettyvignesh please comment with `@opendatakit-bot claim` so it's clear this one is in progress. 😊

[2018-03-28 02:51] #2063 closed, assigned to nobody

[2018-03-28 10:36] huangyz0918 commented on #2052
Duplicate of #1914

[2018-03-28 10:36] #2052 closed, assigned to nobody

[2018-03-28 13:37] grzesiek2010 opened #2068 "Replace icons used in geo activities using vectors"
#### Software and hardware versions
Collect v1.13.2 and older versions

#### Problem description
In our geo activities we use png icons so it would be good to remove them and use vectors instead.

Icons I'm talking about:

ic_add_location_black_36dp
ic_my_location_black_36dp
ic_layers_black_36dp
ic_delete_black_36dp
ic_person_pin_circle_black_36dp
ic_place_black_36dp
distance

@opendatakit-bot lab

[2018-03-28 16:44] #1983 closed, assigned to nobody

[2018-03-28 20:47] Lereena commented on #1753
The guildines (http://www.androiddocs.com/design/style/iconography.html) says that starting with Android 5.0 the icon should be entirely white, and the"flat and simple" style of it should be used. The icon is simply rendered in white.
Apparently, the application should change the design of the icons so that it meets the requirements of new versions. For versions 21+, use the white notification ico

[2018-03-28 20:48] Lereena commented on #1753
@opendatakit-bot unclaim

[2018-03-28 20:57] orsidudas commented on #2068
@opendatakit-bot claim

[2018-03-29 00:10] orsidudas commented on #2068
Hello,
the distance icon is not available in the Clip Art. I've searched some other options, can I change the picture for any of these? Which one will be a good option?
![gesture](https://user-images.githubusercontent.com/11819879/38062761-0c8d5896-32f6-11e8-9c89-0ac52414730b.PNG) ![swap](https://user-images.githubusercontent.com/11819879/38062762-0caba648-32f6-11e8-876d-25f8a8d9ddc7.PNG) ![tab](h

[2018-03-29 00:20] lognaturel commented on #1753
That icon is great, @Lereena!

One tool someone could consider for the conversion is Inkscape: https://inkscape.org/en/doc/tutorials/tracing/tutorial-tracing.en.html

[2018-03-29 07:05] mmarciniak90 opened #2074 "Selected form is not marked when the user scrolls up and down but form can be downloaded from Google Sheets"
#### Software and hardware versions
Collect v1.14.0,
verified on Android 5.1, 6.0

#### Problem description
Selected form is not marked when the user scrolls up and down but form can be downloaded from Google

#### Steps to reproduce the problem
1. The user uses Google Sheets
2. The user opens `Get Blank Form`
3. The user selects some forms and scrolls up, the selected form is not visible in the s

[2018-03-29 07:06] kkrawczyk123 opened #2075 "Collect crashes on Import/Export settings."
#### Software and hardware versions
Collect v1.14.x, Android v6.0, 5.1 probably other versions too.

#### Problem description
Collect crashes when choosing Import/Export settings.

#### Steps to reproduce the problem
1. Go to Admin Settings
2. Click on Import/Export Settings

#### Expected behavior
The barcode should appear and it should be possible to export/ import settings.

#### Other informat

[2018-03-29 08:40] grzesiek2010 commented on #2075
@kkrawczyk123 I think your branch is not updated, the problem has been fixed in https://github.com/opendatakit/collect/pull/2071 could you confirm?

[2018-03-29 08:59] grzesiek2010 commented on #2068
@orsidudas

No those icons are not good you can try to find something free (be careful) https://www.google.pl/search?q=distance+icon&oq=distance+icon&aqs=chrome.0.69i59j69i61j69i60l2.2407j0j9&sourceid=chrome&ie=UTF-8

If it's not possible let me know and I can prepare such an icon in Inkscape.

[2018-03-29 09:06] mmarciniak90 opened #2076 "The user is not able to remove response on required data and time widget when only one value is added"
#### Software and hardware versions
Collect v1.14.0
Verified on Android 5.1, 6.0

#### Problem description
The user is not able to remove response on required data and time widget when only one value is added

#### Steps to reproduce the problem
1. Open the attached form - [dateTimeTest.xml.txt](https://github.com/opendatakit/collect/files/1859336/dateTimeTest.xml.txt)
2. Go to the required questi

[2018-03-29 09:16] grzesiek2010 commented on #2076
I'm not sure if it a bug...
if a user adds only one value in such a case it's not treated as an answer and if you navigate backwards/forward, change a device orientation or open the hierarchy view it's cleared.

So if it's not treated as an answer it shouldn't be cleared too.

[2018-03-29 09:32] mmarciniak90 commented on #2076
So we should block appearing the `Remove Response` dialog.
In my opinion, if the dialog is available it should work.

[2018-03-29 09:33] kkrawczyk123 opened #2078 "Save button icon is not visible on maps of Geopoints widgets."
#### Software and hardware versions
Collect v1.14.x, Android v6.0, 5.1 probably other versions too

#### Problem description
Save button is not visible on maps of Geopoint widgets.

#### Steps to reproduce the problem
1. Go to Geopoint widget with map appearance
2. Start Geopoint, map should open

#### Expected behavior
It used to be 5 buttons in a map panel - save button icon is missing now, ther

[2018-03-29 09:35] grzesiek2010 commented on #2078
@kkrawczyk123 the same as https://github.com/opendatakit/collect/issues/2075#issuecomment-377165282

[2018-03-29 09:40] grzesiek2010 commented on #2076
I agree there is no point in showing that option if the answer is null.

[2018-03-29 09:51] kkrawczyk123 commented on #2078
I confirm it has been fixed on master.

[2018-03-29 09:51] #2078 closed, assigned to nobody

[2018-03-29 09:57] grzesiek2010 commented on #2074
@lakshyagupta21

could you explain why [here](https://github.com/opendatakit/collect/pull/1970/files) you got rid of RecyclerView I implemented [here](https://github.com/opendatakit/collect/pull/1780)?

[2018-03-29 10:01] kkrawczyk123 commented on #2075
I can confirm that this issue has been already fixed on master.

[2018-03-29 10:01] #2075 closed, assigned to nobody

[2018-03-29 10:21] lakshyagupta21 commented on #2074
@grzesiek2010
We already had the code for search and sort so to reuse the same code I changed the implementation. At the time of implementation, I didn't notice this issue.
I'll look into it.

[2018-03-29 13:59] huangyz0918 commented on #1914
@opendatakit-bot claim

[2018-03-29 19:26] MartijnR opened #2081 "Using "maps placement-map" appearance has unexpected effect"
#### Software and hardware versions
Collect v1.13.2, Android v8.1.0, Pixel 2

#### Problem description
Using appearance "maps placement-map" on geopoint question does not trigger "maps" nor "placement-map" behavior. I suspect the appearance is ignored entirely.

#### Steps to reproduce the problem
[placement-map.txt](https://github.com/opendatakit/collect/files/1861638/placement-map.txt) (3rd ques

[2018-03-29 23:31] #2076 closed, assigned to nobody

[2018-03-29 23:34] lognaturel commented on #2074
I'm not able to reproduce this even though I do have forms that can scroll off the screen. Presumably it can happen if the form list is very long?

[2018-03-30 01:57] lakshyagupta21 commented on #2074
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/18495162/38121241-b31fb9b0-33eb-11e8-8744-8a6b5082c15f.gif)

[2018-03-30 05:28] MrPKGupta commented on #2068
@orsidudas
You can try converting png to vector. Lots of websites are providing this for free.

[2018-03-30 10:35] khalifeserge opened #2083 "Show geometries already collected when using the map to collect a new geometry"
This feature already existed PARTIALLY in GeoODK but never made it to ODK collect when the feature from GeoODK where backported to ODK collect. It would be very useful if the map showed the previous geometries collected. THere should some sort of control over what is show and that could maybe be accomplished with an appearance keyword or some other way that the ODK Collect developer think is best.

[2018-03-30 10:59] khalifeserge opened #2084 "Select One and Select Multiple with map appearance"
I am proposing to have the choice list be displayed as geometries on a map that can be selected. One off the use case that require this feature is whenever you need to collect data on previously geolocated data. where the gps accuracy alone is not enough. This feature along with offline maps would make the workflow a lot easier. Rightnow the way I achieve this is to create mbtiles of the points an

[2018-03-30 15:22] huangyz0918 commented on #1262
@opendatakit-bot claim

I like this issue, it's a challenging one !

[2018-03-30 17:29] #2074 closed, assigned to nobody

[2018-03-30 17:30] #1999 closed, assigned to nobody

[2018-03-30 19:43] abelcallejo opened #2086 "Import/Export settings can crash app with certain invalid QR codes"
#### Software and hardware versions
[Collect v1.14.0-beta.1](https://github.com/opendatakit/collect/releases/tag/v1.14.0-beta.1), Android v6.0.1, [Samsung A5](http://www.samsung.com/ph/smartphones/galaxy-a5-2016-a510/SM-A510YZKDXTC/)

#### Import/Export settings is broken
First thing I noticed is that the QR code wasn't previewed.
![screenshot_20180331-031538](https://user-images.githubusercontent

[2018-03-30 19:54] grzesiek2010 commented on #2086
I'm pretty sure it's the same issue https://github.com/opendatakit/collect/pull/2071
so it has been fixed.

[2018-03-30 20:14] itzzritik commented on #1959
@mmarciniak90 Sorry, but it was working on my emulator flawlessly, Running on Jelly bean - 4.1
as I can't test this issue myself, I'm un-claiming.
Thank you for your support.

[2018-03-30 20:14] itzzritik commented on #1959
@opendatakit-bot unclaim

[2018-03-30 20:36] abelcallejo commented on #2086
@grzesiek2010 thank you for that valuable information. I'll try to install to check the version with the [commit #6f94565](https://github.com/opendatakit/collect/commit/6f945658071244a674558091718c000a8980a9eb) included in the code base.

I'll verify later if it really fixed the issue. Thanks again

[2018-03-30 21:42] abelcallejo commented on #2086
## Status update

QR code is now showing, but **SCAN CODE FROM OTHER DEVICE** module have issues.

### Description

[Commit #6f94565](https://github.com/opendatakit/collect/commit/6f945658071244a674558091718c000a8980a9eb) did fix the issue and now shows the QR code. However, importing of settings from a QR code have issues. When I tried to **SCAN CODE FROM OTHER DEVICE**, the QR scanner fires up a

[2018-03-31 12:49] vigneshtdev commented on #2035
claim

[2018-03-31 15:15] huangyz0918 commented on #1826
@opendatakit-bot claim

[2018-04-01 09:35] aryansoni1108 commented on #2068
@grzesiek2010
You can try this website it has many vector icons for all your need
https://www.flaticon.com/

[2018-04-01 14:59] huangyz0918 commented on #1833
In my Android simulators, there are no differences with different APIs.
The devices in Android 4.2 , 4.4, 5.1, 8.1, 7.0 , all of them don't have this error dialog, just `ArrayIndexOutOfBoundsException` and a looped `FormEntryActivity.createView` in debugger. So my understanding is we should put these error messages in an error dialog ? right ? @mmarciniak90 @lognaturel

PS. My Collect version is:

[2018-04-01 15:05] lognaturel commented on #1833
It’s not immediately clear to me that this form should fail. I think a good first step would be to isolate the failure. Is it the itext call that is a problem? The empty field list? Then we can better decide if there’s a fix or whether the error dialog should be shown.

[2018-04-01 16:00] huangyz0918 commented on #1833
This exception would crash our App, I agree with you to isolate this failure first.
As you said, this exception was caused by **The empty field list**, I have added some `<input> </input>` in `<group appearance="field-list">` in this form, and it worked.

<img src="https://i.loli.net/2018/04/01/5ac101b67a7f1.jpg" width = "300"  align=center />

Maybe we can build an error dialog in this case.
@log

[2018-04-02 01:44] Hanan194 commented on #1936
@lognaturel do you approve adding icons to this ?. I wanted to work on it but I then saw the needs discussion label

[2018-04-02 03:01] huangyz0918 commented on #1833
When field list is empty, method `stepOverGroup()` and `stepToNextEvent(boolean stepIntoGroup)` would call each other without an end. I think I can simply break this infinity loop and show an error dialog with `return stepToNextEvent(STEP_INTO_GROUP);` in `FormController`, but different APIs may have different error messages. I don't know if we should build a specific dialog or just simply break t

[2018-04-02 11:40] didicodes commented on #2035
@vettyvignesh to actually claim this issue don't just type claim rather type `@opendatakit-bot claim`

[2018-04-02 16:53] lognaturel commented on #2002
#2018 is the issue to resolve.

[2018-04-02 16:53] #2002 closed, assigned to nobody

[2018-04-02 17:01] lognaturel commented on #2086
@abelcallejo Thanks so much for trying out the beta and reporting that first issue! I'm glad the fix has worked for you. 😊

I'm not currently able to reproduce the issue you're seeing with the two devices I've tried. Do you have ADB installed by any chance? Could you run `adb logcat` from your command line and provide any crash logs you see there? Any other info you can provide about the devices y

[2018-04-02 17:07] #1826 closed, assigned to nobody

[2018-04-02 20:26] didicodes commented on #2018
@opendatakit-bot claim

[2018-04-03 01:36] abelcallejo commented on #2086
Hi @lognaturel _\\ LN \\_ , thank you for taking the time to respond on this.

Yesterday, I figured out that the bug turned out to be a fault on my end and not directly about ODK Collect. I'm really sorry about that.

I was trying to generate custom QR code for the ODK Collect settings by using PHP and some PHP-QR-code libraries. As it turns out, there was a slight malformation in the context of m

[2018-04-03 02:13] lognaturel commented on #2086
Thanks for that clarification, @abelcallejo, and very cool to hear you're using the QR code feature in this way!

I've modified the issue title to better reflect what's going wrong. Could you please attach an example QR code that causes this crash?

[2018-04-03 02:39] abelcallejo commented on #2086
@lognaturel yeap, we are registering users to ODK Aggregate programmatically then generate them these QR codes for their respective settings.

Anyways, attached is a malformed QR code.
![buggyqr](https://user-images.githubusercontent.com/5888376/38226242-1e100800-372b-11e8-852e-acace2c33f5a.png)

Cheers

[2018-04-03 03:39] lognaturel commented on #2086
Thank you! The settings are loaded fine but then there's a crash when they're actually used which means Collect can then never be launched! Looks like the type of the password ends up wrong:
[code]

Would certainly be good to be more resilient against things like that.

[2018-04-03 04:06] shobhitagarwal1612 commented on #2086
Did you compress the JSON data before converting it into the QRCode?
On the collect side, we compress the data before converting it into a QRCode

[2018-04-03 04:51] lognaturel commented on #2086
It looks compressed to me. @abelcallejo I think you eventually got it working, right? Did you use the documentation at https://docs.opendatakit.org/collect-import-export/#making-your-own-qr-code/?

[2018-04-03 05:31] abelcallejo commented on #2086
As for my end, I was able to make the QR code working. The way I made it work is by compressing the JSON, then the compressed string was encoded in base64.

The QR code content can get messy sometimes when headers were already sent and/or error/warning messages comes in as part of the string.

In my case, warning messages rode on to the context, thus giving a malformed QR code. But yeah, we were a

[2018-04-04 02:42] lognaturel commented on #33
Forum discussion at https://forum.opendatakit.org/t/collect-question-type-rank-items/12568 to maximize visibility.

[2018-04-05 02:12] huangyz0918 commented on #1181
At my quick look, this problem may be caused by the narrow screen ? (I mean the screen resolution or size ,etc)
It's not an issue related to API level, because my Android 4.2 device doesn't have this problem :

|   Android 4.2 (720x1280)          |  Android 4.1 (240x320)     |  Android 4.1 (480x800)     |
| ---- | ---- | :----: |
|<img src="https://i.loli.net/2018/04/05/5ac58571b0b92.png" width =

[2018-04-05 03:08] huangyz0918 commented on #1181
I can give this a quick fix @opendatakit-bot claim

[2018-04-06 19:18] tinok opened #2100 "Constraint and required messages are almost invisible on Android 8.1"
#### Software and hardware versions
Collect v1.14.0, Android v8.1.0, Nexus 5X

#### Problem description
Constraint and required messages appear on a very light background with white font, making them close to invisible. See screenshot:

![image](https://user-images.githubusercontent.com/673511/38439968-a590d9c4-39ad-11e8-83fc-783656a48ccd.png)

[2018-04-06 19:28] lognaturel commented on #2100
Can't reproduce on android 5 and 6 so this is probably an Android 8 problem related to [the change to white toasts](https://www.androidpolice.com/2017/10/26/android-8-1-feature-spotlight-toast-messages-now-white-better-match-rest-ui/).

[2018-04-06 20:29] lognaturel commented on #2036
I think the animation is just wherever the tap happens.

What about not having the animation since other places where we have selects don't include animations? On my Android 5.1 device they are very big which is unexpected and a bit strange!

[2018-04-06 20:47] #1849 closed, assigned to nobody

[2018-04-06 20:50] lognaturel opened #2101 "Media layout doesn't work as expected in RTL locales"
First identified by @vrjgamer and partially addressed by #1958.

The layout should be mirrored from LTR.

[2018-04-06 20:54] lognaturel commented on #2084
@khalifeserge are you familiar with the `image-map` feature recently added? See https://docs.opendatakit.org/form-widgets/#image-map-select-widget for documentation. There are many svg maps already available that can be used in this way.

If you need to work with true geometries, please add a feature description to https://forum.opendatakit.org/c/features. We try to keep new feature discussions th

[2018-04-06 20:54] #2084 closed, assigned to nobody

[2018-04-06 20:55] lognaturel commented on #2083
Same as with the other feature description -- can you please post on https://forum.opendatakit.org/c/features and be sure to separate out features that are different? Thanks!

[2018-04-06 20:55] #2083 closed, assigned to nobody

[2018-04-06 21:05] lognaturel commented on #1959
Thank you very much for looking into this, @ItzzRitik! Since we only have one reproduction and it's not a terribly bad bug, @mmarciniak90 I propose we close this for now and reopen if anyone else can track it down.

[2018-04-06 21:07] lognaturel commented on #1960
Oops, missed your latest comment! I missed that the behavior was different on different Android versions. Neither is really bad behavior so I would tend to leave it as it is. Having more special cases for Android versions makes code harder to deal with.

[2018-04-06 21:08] lognaturel commented on #1957
Thanks again for making this cool feature possible, @Thodoris1999!

[2018-04-06 21:08] #1957 closed, assigned to nobody

[2018-04-07 03:12] huangyz0918 commented on #2100
Interesting, at first I simply thought it is just a normal phenomenon. I can definitely let the toast change color to dark when I change a wallpaper which is dark color. Android 8.1 can automatically change the system theme according to your wallpaper color, as well as the toast color. So we can use a fixed color to cover all the APIs in `toast_view.xml`. @opendatakit-bot claim

[2018-04-07 03:24] akshay-ap commented on #2036
If the complete app is devoid of animations for selects, I think its better to do same in this case.

[2018-04-07 14:44] jd-alexander commented on #2007
@opendatakit-bot claim

[2018-04-07 14:44] jd-alexander commented on #2007
@opendatakit-bot claim --force

[2018-04-08 06:44] huangyz0918 opened #2104 "Add image crop view in ImageWidget"
#### Problem description
When I am using the ImageWidget, I feel uncomfortable because the image cannot be resized by myself (although I can click this image to launch my system gallery, my gallery has **no crop** feature). ODK Collect just simply put the whole image into the form and has no options for me to crop that. I have to take a lot of pics until I get a satisfied one.
#### Expected behavi

[2018-04-08 08:24] huangyz0918 commented on #2104
@opendatakit-bot label "needs discussion"
@opendatakit-bot claim

[2018-04-08 23:37] jd-alexander commented on #1887
@opendatakit-bot claim

[2018-04-09 00:14] jd-alexander commented on #1887
@huangyz0918 You have made some pretty good points about the approaches that can be taken for this. I have been tinkering around with a possible solution and it's working so far. I basically monitor calls being made to save forms and I also do checks to see if answers or null or not. The only edge case I haven't covered is the ability to detect if a question has an initial/default answer and disre

[2018-04-09 00:17] jd-alexander commented on #1887
@lognaturel What do you think would be the proposed method for detecting if a dialog should be shown or not. 1) Should it be determined by monitoring when the user triggers a save action on any of the form screens and if they do then the dialog should be shown or 2)  should it be shown if there have been no changes to the answers?

[2018-04-09 02:57] brunoguic commented on #1052
@opendatakit-bot claim

[2018-04-09 04:08] huangyz0918 commented on #1887
@jd-alexander Sounds great! But as my understanding, you know, if user wants to edit the saved form, most of the forms have a saved value (initial value?), is the way still working? Besides, if the user edited the form after he pressed the "save" button in the toolbar, will the dialog appear ?

Maybe you can try `--force` to claim this issue, good luck :+1:

[2018-04-09 04:24] jd-alexander commented on #1887
@opendatakit-bot claim --force

[2018-04-09 04:30] jd-alexander commented on #1887
@huangyz0918 oh yes indeed! I think that's exactly what would take place so that approach wouldn't work as well. So it seems the only approach to this will be to build out a mechanism to track changes of answers once the form has loaded.

The force claim isn't working so I will wait until the other issue I submitted has been accepted before claiming again.

[2018-04-09 07:06] xsteelej commented on #1695
@opendatakit-bot claim

[2018-04-09 07:32] xsteelej commented on #1052
@opendatakit-bot claim

[2018-04-09 16:42] lognaturel commented on #2100
@huangyz0918 an ideal solution would let Android 8.1 behave as it does by default. I haven't had a chance to look yet but I suspect something is forcing toast text color to white when it should be determined by the system.

[2018-04-09 17:48] lognaturel commented on #2086
I think the thing to do here is to do some basic checks on types for the settings.

[2018-04-09 17:55] lognaturel commented on #1887
@jd-alexander Thanks for looking at this! This change was first discussed last year in #569. I was not sold on it then and I must say I'm still not so sure about it. As @huangyz0918 has identified and you've confirmed, this is tricky to do well and the payoff is low. There has been no user complaint about the existing behavior -- I think it's something that developers notice when they're playing a

[2018-04-09 18:12] jd-alexander commented on #1887
One approach that could be taken is to have a `isDirty` flag as a property of `QuestionWidget` that's triggered when an answer is set. This would require that setters are enforced on all question types though so it might be a bit invasive as many questions would have to be changed.

[2018-04-09 18:18] lognaturel commented on #1887
That sounds about right for a minimal change. Even then, I think you'd have to do something additional for the case where the user is on a question and has made a change to an answer without swiping and then taps back (the setter would presumably not yet have been called in that case). I think `field-list`s are also a challenge -- a change to any of the answers on the current screen has to be dete

[2018-04-09 18:26] yanokwa commented on #1887
Agreed that this is a lot of work for a fairly minor feature. I propose we close this for now.

[2018-04-09 18:27] grzesiek2010 commented on #1887
I don't think any flag would work in this case. Consider a case when you open a saved form with one question (null answer) then you answer that question and eventually remove the response.

One possible solution would be to keep an original answer and a temporary one and during saving comparing them.

The second possible solution would be using md5 hashes as @huangyz0918 already noticed but probab

[2018-04-09 18:38] yanokwa commented on #644
I wanted to revisit this issue because the deadline is coming up in November!

So I think what has to happen here for a first PR is that we wrap every call to the SD card with a runtime permission check. We do this first because that's the permission that every Collect user will need on launch. Then a second PR would wrap everything that touches the camera, then the microphone, then geo, etc.

The

[2018-04-09 20:13] lognaturel commented on #1887
Thank you all for the thoughts on this issue. Let's close for now. If a user with data collectors in the field has a strong reason for why this might be a problem we can reopen.

[2018-04-09 20:13] #1887 closed, assigned to nobody

[2018-04-09 21:02] lognaturel commented on #2100
<strike>Indeed the issue is with the `toast_view` layout which forces white text color. @shobhitagarwal1612 actually ended up addressing this in #2061 by removing the redundant `showCustomToast` method but</strike>

Actually, the custom layout does several useful things like increasing the font size and positioning the toast above the keyboard. So @grzesiek2010 you were very right that the change

[2018-04-09 22:54] didicodes commented on #2018
Yes! :smiley:

[2018-04-10 03:15] huangyz0918 commented on #2100
We can change toast color (including text color) in Java code, just like this:

[code]
 Add these code to our custom toast controller. I haven’t try it, but I think it is also ok.

[2018-04-10 07:42] grzesiek2010 opened #2107 "Each element that has an ID is clickable even if it doesn't exist in the dataset."
#### Software and hardware versions
Collect v1.14.0.

#### Problem description
Each element that has an ID is clickable even if it doesn't exist in the dataset (nothing is added but the element is highlighted). It might be a problem sometimes because I noticed tools like Inkscape generates Ids for each element so users need to remove them so they might forget about this or miss one element.

####

[2018-04-10 07:42] grzesiek2010 commented on #2107
@opendatakit-bot claim

[2018-04-10 10:18] xsteelej commented on #1695
Upon performing a hexdump on _data-bad.csv_ I can see the presence of a byte order mark (BOM) https://en.wikipedia.org/wiki/Byte_order_mark

Java reads the BOM char into a String when reading UTF-8 files, which is a known Java bug: https://bugs.java.com/view_bug.do?bug_id=4508058

In this particular case, it looks like the "key" field is prepended with the BOM and corrupts the key field in the dat

[2018-04-10 14:56] #1040 closed, assigned to nobody

[2018-04-10 18:24] jd-alexander commented on #644
Hey everyone! I started working on an implementation for runtime storage permissions and I realized that before any `READ_EXTERNAL_STORAGE` or `READ_EXTERNAL_STORAGE` permissions can be requested, [ActivityLogger](https://github.com/opendatakit/collect/blob/3904932b0feee6e1ca88a4d796090ac48760c155/collect_app/src/main/java/org/odk/collect/android/database/ActivityLogger.java) is being instantiated

[2018-04-10 18:40] shobhitagarwal1612 commented on #1996
This is the Mockito and Powermock compatibility table

Mockito | PowerMock
-- | --
2.8.0-2.8.9 | 1.7.x
2.7.5 | 1.7.0RC4
2.4.0 | 1.7.0RC2
2.0.0-beta - 2.0.42-beta | 1.6.5-1.7.0RC
1.10.8 - 1.10.x | 1.6.2 - 2.0
1.9.5-rc1 - 1.9.5 | 1.5.0 - 1.5.6
1.9.0-rc1 & 1.9.0 | 1.4.10 - 1.4.12
1.8.5 | 1.3.9 - 1.4.9
1.8.4 | 1.3.7 & 1.3.8
1.8.3 | 1.3.6
1.8.1 & 1.8.2 | 1.3.5
1.8 | 1.3
1.7 | 1.2.5

Right now, we are a

[2018-04-10 19:58] yanokwa commented on #1395
One easy first win on this issue might be to remotely logging if `sdcard/odk/log/enabled` exists. If we keep that log message around for one or two releases, then we'll have data on if anyone uses this.

[2018-04-10 20:01] yanokwa opened #2109 "Add an analytics event to find out how often ActivityLogger is enabled"
We need to deprecate ActivityLogger (https://github.com/opendatakit/collect/issues/1395), but we don't know how many people are using it.

One easy first win on this issue might be to sending a Google Analytics event if `sdcard/odk/log/enabled` exists. https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/database/ActivityLogger.java#L117 might be a g

[2018-04-10 20:08] yanokwa commented on #644
I'm surprised that ActivityLogger is the first thing that touches the SD card. I thought the splash screen activity would be the first. Regardless, this sounds like a reasonable approach to me! What do you think, @grzesiek2010?

Just as a heads up, ActivityLogger will probably be deprecated soon (https://github.com/opendatakit/collect/issues/1395). I don't think it changes the approach but wanted

[2018-04-10 23:24] lognaturel opened #2111 "Audit log: end screen event doesn't show end time when followed by constraint error"
For example, use form [group-audit.xml.txt](https://github.com/opendatakit/collect/files/1896743/group-audit.xml.txt) and put in a string longer than 2 characters in the untitled2 field. The log says:

[code]

To see the log, save the form at least once, `adb shell` to go into the device and then `cat /sdcard/odk/instances/group-audit_yyyy-mm-dd_hh-mm-ss/audit.csv`.

[2018-04-10 23:26] lognaturel opened #2112 "Field list questions are shown on separate screens after jump because of constraint error"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
Field list questions are shown on separate screens after jump because of constraint error

#### Steps to reproduce the problem
1. Use a form with a question in a field list that has a constraint such as [group-audit.xml.txt](https://github.com/opendatakit/collect/files/1896749/group-audit.xml.txt)
1. Enter a value that v

[2018-04-10 23:31] lognaturel opened #2113 "Audit log: end time not included in jump event"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
Jump events are logged without an end time:
[code]

#### Steps to reproduce the problem
1. Use a form with audit logging such as [group-audit.xml.txt](https://github.com/opendatakit/collect/files/1896749/group-audit.xml.txt)
1. Jump to somewhere else in the form
1. To see the log, save the form at least once, `adb shell`

[2018-04-11 06:56] grzesiek2010 opened #2115 "The min value appears in RangeWiget for a moment even if we select a different value"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
Pull request number #1963 fixed the problem with selecting the min value when the current value is null but now when we select another value (not min) in the same case the min value appears for a moment and it's visible:

![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/3276264/38600883-07f34ea6-3d66

[2018-04-11 06:56] grzesiek2010 commented on #2115
@opendatakit-bot claim

[2018-04-11 08:08] grzesiek2010 commented on #2112
I wouldn't say it's a bug. I'm pretty sure it was a considered solution to indicate which answer is not valid. If we return to the field list you don't know which question it was about.
If you want to change this behavior we need to for example change the background color of such an invalid question to indicate it.

So I would rather mark this issue as an improvement, not a bug.

[2018-04-11 08:35] grzesiek2010 commented on #2113
I think `jump` event was considered as just opening the `HierarchyView` so end time of what?  end time of opening? doesn't make sense. I know what you mean, you would like to have both times but then that event should be called `hierarchy_view` (opening and closing) for example.

For me, it's ok to leave it as it is but you decide :smile:

[2018-04-11 12:11] grzesiek2010 commented on #644
When it comes to "touching the SD card" I think ActivityLogger doesn't touch it at all because we don't create its database... https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/database/ActivityLogger.java#L127 return is always called if you install a new app.

[2018-04-11 13:24] jd-alexander commented on #644
You are right @grzesiek2010. I just saw the how the `loggingEnabled` works. So the `ActivityLogger` won't create the database until `OdkDirs` creates the LOG path. So my next question is, should I start the `ActivityLogger` once the path has been created? I am currently doing that in my code now but would disable if it isn't necessary.

[2018-04-11 13:58] grzesiek2010 commented on #644
but that `LOG_PATH` is never created looks like it works just for backward compatibility, I mean if that file exists then ok we will collect logs if not then nothing happens.

[2018-04-11 16:11] huangyz0918 commented on #1262
@opendatakit-bot Be patient, my boy, I’m waiting for the QAs 🏖🥂🌝

[2018-04-11 16:50] lognaturel commented on #1262
Hehe, I'm glad I'm not the only one who likes to have a little fun with our friend @opendatakit-bot! 😄

[2018-04-11 18:26] brunoguic commented on #2086
@opendatakit-bot claim

[2018-04-11 18:29] lognaturel commented on #2113
The hierarchy view is also referred to as the jump screen. https://docs.google.com/document/d/1LqVlVpePjA7Q1snjhA_ZQoDuzFqbtQcIygwcEzO_LJs/edit# listed the hierarchy event (later renamed to jump) as an interval event so I think the initial intent was to include both start and end.

The reason I think this is helpful is that it makes it easier to calculate how much total time was spent on the jump

[2018-04-11 19:06] lognaturel opened #2118 "When there's a validation error caused by a question in a field list, it's not clear which question has caused it"
#### Software and hardware versions
Collect v1.14.0

#### Problem description
When there's a validation error caused by a question in a field list, it's not clear which question has caused it

#### Steps to reproduce the problem
1. Open a form with multiple questions in a field list, at least one of which has a constraint or required condition (e.g. [field-list-constraint.xml.txt](https://github.c

[2018-04-11 19:12] lognaturel commented on #2112
I'm ok marking this as an enhancement but I do think it breaks expectations. The code is simply `this.jumpToIndex(outcome.failedPrompt);` and I don't think the intent was to break up a field list, it's a side effect of jumping to the specific question rather than the containing field list.

Note that when jumping to a question in the field list after this happens you're back in the field list. Whe

[2018-04-11 21:34] xsteelej commented on #1052
Hi @yanokwa, @lognaturel,

I've managed to get the form from google drive, I had to add:

`<?xml version="1.0"?>`

To the top of loc.xml (renamed from loc.txt) before it would appear in "Get Blank Form".

I've filled out the form, got a geo location and finalised it. However, I'm not sure how to submit it to Google Sheets? I've tried "Send Finalized Form" but get an error:

"Geo - invalid sheet id

[2018-04-11 22:37] brunoguic commented on #1052
Hi @xsteelej, I had the same problem here some days ago..

My work around was create a new Google Sheet inside the empty "Open Data Kit"; get the shareable url-link from this sheet, and use that link as "Fallback submission URL" on the General Settings -> Server

I hope this enable you continue your development until get some more appropriate answer.

[2018-04-11 22:40] xsteelej commented on #1052
Hi @brunoguic,

Thanks, that did work! I've managed to upload the data to a sheet!

[2018-04-11 23:08] xsteelej commented on #1052
Hi @yanokwa,

It looks like altitude / accuracy was intentionally removed from the data-Point, I found this comment in
`prepareListOfValues`:

[code]

[2018-04-12 02:40] akashdobaria commented on #1976
I would like to work on this problem if available.

[2018-04-12 03:16] huangyz0918 commented on #2101
It will be easier to fix those issues if we give up `API == 16`.
Building a method with @ TargetApi

[2018-04-12 03:18] lognaturel commented on #1976
There was a pull request at #2072 but it caused a regression and we haven't heard from @Hanan194 so please go ahead, @akashdobaria. Do make sure to review #2072 and #1984 to see what has been tried before and why those approaches may not have worked. Thank you, @akashdobaria!

[2018-04-12 03:22] lognaturel commented on #2101
Good point, @huangyz0918. It's totally ok to give up on API 16 since it's not as common these days.

[2018-04-12 03:31] lognaturel commented on #1052
👍@brunoguic that's the way I would get the submissions working. You could also add a `submission` block to the form that sets the URL there (https://opendatakit.github.io/xforms-spec/#form-definition) but for testing I often just override the fallback URL instead.

From @yanokwa: "We didn’t add it because the Google Sheets integration was for mapping into Google products and you can’t map if you h

[2018-04-12 05:21] huangyz0918 commented on #1833
@opendatakit-bot I'm waiting for someone to review my solution ; )
It would be ok soon, so be patient.

[2018-04-12 06:57] akashdobaria commented on #1976
@lognaturel I have submitted a pull request. Thank you. :)

[2018-04-12 07:12] huangyz0918 commented on #2101
So, let me give it a shot, @opendatakit-bot claim

[2018-04-12 10:44] grzesiek2010 opened #2124 "Attempt to invoke interface method 'java.lang.String org.javarosa.core.model.data.IAnswerData.getDisplayText()' on a null object reference"
#### Software and hardware versions
Collect v1.14.0

org.odk.collect.android.tasks.InstanceGoogleSheetsUploader.uploadOneInstance (InstanceGoogleSheetsUploader.java:211)
org.odk.collect.android.tasks.InstanceGoogleSheetsUploader.uploadInstances (InstanceGoogleSheetsUploader.java:189)
org.odk.collect.android.tasks.InstanceGoogleSheetsUploader.doInBackground (InstanceGoogleSheetsUploader.java:134)
o

[2018-04-12 20:49] akashdobaria commented on #1976
Hi @lognaturel,
I am sorry I opened a new pull request to submit the changes. It works fine now.

[2018-04-12 23:38] #2124 closed, assigned to nobody

[2018-04-13 01:56] huangyz0918 opened #2127 "Refactor list views using Adapter Pattern"
#### Problem description
As @grzesiek2010 said in #2099 , It's better to refactor lists using **Adapter Pattern**. So thanks : )

**It can:**
- Simplify our code and make it easier to read.
- Help us manage our list items.
- Remove the unnecessary `if-else` statements.
- Make code easier to patch fixes and changes.

**Which list may need this refactor?**
- [ ] Media Layout items: see `MediaLayout.

[2018-04-13 07:01] grzesiek2010 commented on #2127
@huangyz0918 I refactored our HierarchyView to show what I meant it's here https://github.com/opendatakit/collect/pull/2128

[2018-04-13 07:08] grzesiek2010 commented on #2127
When it comes to MediaLayout I'm not sure if it should be an adapter (since we don't use a list there) but the layout should be created using an xml file at least to avoid all those if statements.

[2018-04-13 09:24] huangyz0918 commented on #2127
@grzesiek2010 Yes it really needs a refactor but I'm too busy recently (I have to prepare my English exam), so let's see if anyone can take a look and improve this.

[2018-04-13 09:34] grzesiek2010 commented on #2127
Ok, I see no problem. I appreciate your help!

[2018-04-13 09:56] grzesiek2010 opened #2129 "NullPointerException: Attempt to invoke virtual method 'android.database.sqlite.SQLiteDatabase org.odk.collect.android.database.helpers.InstancesDatabaseHelper.getReadableDatabase()' on a null object reference"
#### Software and hardware versions
Collect v1.14.0 and older versions

#### Problem description
NullPointerException: Attempt to invoke virtual method 'android.database.sqlite.SQLiteDatabase org.odk.collect.android.database.helpers.InstancesDatabaseHelper.getReadableDatabase()' on a null object reference

#### Other information
https://console.firebase.google.com/u/0/project/api-project-322300403

[2018-04-13 09:56] grzesiek2010 commented on #2129
@opendatakit-bot claim

[2018-04-14 19:58] ravi808 commented on #1052
@opendatakit-bot claim

[2018-04-14 20:46] lognaturel commented on #1052
Hi @ravi808! Please be sure to look at assignees, tags and conversations before claiming an issue! There's an in progress pull request at #1052 I have unassigned you. If you'd like to talk through some possible issues to take on, please join us at http://slack.opendatakit.org/ in the #collect-code channel. Thanks!

[2018-04-15 08:58] ravi808 commented on #2015
@mmarciniak90  are these issues resolved? I see all these changes have been made.
As per your question, I suggest only the forms which are previously downloaded should be unchecked.

[2018-04-15 18:52] ravi808 commented on #1753
@lognaturel  the web page you mention above is not working.

[2018-04-16 06:06] mmarciniak90 commented on #2015
@ravi808 I'm quite busy with other project and I'm not up-to-date. Are you sure that it works in that way when you select Google Drive as a server?

[2018-04-16 15:16] jd-alexander commented on #242
@opendatakit-bot claim

[2018-04-16 18:24] ravi808 commented on #1976
@lognaturel  I would like to work on this problem.

[2018-04-16 18:35] grzesiek2010 commented on #1976
@ravi808 there is a pull request ready for this issue https://github.com/opendatakit/collect/pull/2126
You can find something else :wink:

[2018-04-16 19:16] ravi808 commented on #1976
@grzesiek2010  ok

[2018-04-17 00:04] lognaturel commented on #2018
Leave us alone, @opendatakit-bot, we still have a QA backlog!

[2018-04-17 00:10] #2100 closed, assigned to nobody

[2018-04-17 09:12] grzesiek2010 commented on #2113
@opendatakit-bot claim

[2018-04-17 13:11] kkrawczyk123 opened #2131 "Select All button is disabled when all forms were downloaded."
#### Software and hardware versions
Collect v1.14.x, Android v4.1, 4.2, 4.4, 5.1, 6.0, 7.0 and 8.1 device used...

#### Problem description
Select All button is disabled when all forms were downloaded.

#### Steps to reproduce the problem
1. Go to Get Blank forms, Select all forms and download selected.
2. Go back to Get Blank forms. (I expected select all button will be enabled, screenshot attach

[2018-04-17 14:26] huangyz0918 commented on #2131
@opendatakit-bot claim

[2018-04-17 14:27] grzesiek2010 commented on #2111
@opendatakit-bot claim

[2018-04-17 16:18] #1262 closed, assigned to nobody

[2018-04-17 16:23] jd-alexander commented on #242
Hey everyone! I want to start working on an implementation of this. I am following the conversation over at the [ODK forum](https://forum.opendatakit.org/t/send-submissions-via-sms/12166) and now I have some more technical questions.

1) The fetching of the prefix and tags would that be done in Collect or would changes need to be made to Javarosa so official methods can be added to retrieve them f