[2019-09-19 07:59] seadowg commented on #3354
@grzesiek2010 that makes sense. It might not be worth fixing if we get rid of the `GridWidget`.

My worry would be that the new audio implementation will go out before we can make changes there and so we'd end up breaking any forms that use audio with the `GridWidget`.

[2019-09-19 13:43] seadowg commented on #40
This is fixed and we have tests verifying the behaviour as of #3339.

[2019-09-19 13:43] #40 closed, assigned to nobody

[2019-09-19 13:54] seadowg commented on #506
These are all good ideas and I think the app's architecture is starting to improve bit by bit (and moving towards the "cleaner" structure discussed here).

I'm closing this for the moment as there isn't tangible outcome that would let us close this in the future.

[2019-09-19 13:54] #506 closed, assigned to nobody

[2019-09-19 13:58] seadowg commented on #1616
So true! We're slowly trying to move code out and look at replacing things like the custom swipe code with a Fragment based ViewPager (there are some notes on that [here](https://gist.github.com/seadowg/93f33419460bcc7895990dab5c5958c5)).

Closing this for the moment as this work will be incremental and ongoing so we won't be able to say "we're done" at any point.

[2019-09-19 13:58] #1616 closed, assigned to nobody

[2019-09-19 16:38] lognaturel commented on #1272
https://blog.enketo.org/likert-widget/ shows how Enketo does this. The code is [here](https://github.com/enketo/enketo-core/blob/master/src/widget/select-likert/likertitem.scss).

I see two significant decision points:
- how to wrap or truncate labels
- how to determine padding (fixed, based on label size, based on screen size, etc)

It should support [image choices](https://docs.opendatakit.org/f

[2019-09-19 17:34] lognaturel commented on #3354
Did it work previously?

[2019-09-20 03:20] lognaturel opened #3356 "When settings values are changed while filling a form, the new values should take effect immediately"
#### Software and hardware versions
Collect v1.23 and prior though I think this worked as expected at some point.

#### Problem description
When the text font size is changed while a form is being filled, those changes don't take effect until the form is exited and the re-entered.

#### Steps to reproduce the problem
1. Open a form to fill
1. Tap the overflow menu, settings, user interface, change

[2019-09-20 08:19] grzesiek2010 commented on #1272
[SurveyCTO](https://www.surveycto.com/releases/2-41-announcement/) added such an appearance
![image](https://user-images.githubusercontent.com/3276264/65311177-212ece80-db90-11e9-90c4-1494794f3152.png)

[2019-09-20 09:31] seadowg commented on #3354
Yeah looks like it's working in v1.23.3 - just checked using the Play Store version I have on my own phone. Given we're getting close to a release it seems like it's a good idea to fix this to prevent any forms that are using this feature from breaking. We can also include an analytics event for this case as it would be nice to know how many folks are using it.

[2019-09-20 09:33] seadowg commented on #3354
@opendatakit-bot claim

[2019-09-20 13:09] kkrawczyk123 commented on #3351
I have noticed a crash when open General Settings/Server on Android 4.4 and the cause might be the same
logs:
`09-20 13:41:43.952 12239-12239/org.odk.collect.android E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 12239
    java.lang.ExceptionInInitializerError
        at okhttp3.OkHttpClient.<init>(OkHttpClient.kt:219)
        at okhttp3.OkHttpClient.<init>(OkHt

[2019-09-20 13:57] #3299 closed, assigned to grzesiek2010

[2019-09-20 13:58] #3340 closed, assigned to lognaturel

[2019-09-25 13:26] grzesiek2010 opened #3360 "Update targetSdkversion to 29"
#### Problem description
Working on #3189 we wanted to bump targetSdkversion directly to 29 but it turned out to be not that easy.

this doc seems to be the most relevant https://developer.android.com/about/versions/10/privacy/changes

We would need fixes at least for:
- [External storage access scoped to app files and media
](https://developer.android.com/about/versions/10/privacy/changes#scoped-

[2019-09-26 20:48] lognaturel commented on #1272
For those who may not be familiar with SurveyCTO, it's a product based around ODK tools. They've forked Collect and added various enhancements. Do you have a particular action to suggestion, @grzesiek2010, or are you showing a sample of what it could look like?

[2019-09-27 00:37] grzesiek2010 commented on #1272
I just wanted to point out that they implemented something that looks pretty good I think. Maybe we could ask them whether they would like to contribute to ODK Collect adding this widget or at least sharing the code.

[2019-09-27 03:02] lognaturel commented on #1272
That makes sense! They're commercial and closed source and said a few years they weren't going to be part of the community anymore so I'm not sure it makes sense to go that direction. Their fork is at least 3 years old so I think it would be quite difficult to bring in their code, anyway.

[2019-09-27 13:42] grzesiek2010 opened #3363 "Remembering previously entered values doesn't work"
#### Software and hardware versions
Current master branch

#### Problem description
I got this error when I try to start a form which takes answers from its last saved instance:
![Screenshot_2019-09-27-15-35-29](https://user-images.githubusercontent.com/3276264/65773516-bf94d400-e13c-11e9-8bde-a06333ecad33.png)

#### Steps to reproduce the problem
I used this form I prepared for a user: https://fo

[2019-09-27 13:42] #3351 closed, assigned to grzesiek2010

[2019-09-30 08:20] seadowg commented on #3123
I'm going to have a look at this. Did a session with a designer recently looking over the set of audio features we have and have a few changes/tweaks to make that hopefully fix this as well.

@opendatakit-bot claim

[2019-09-30 12:12] Yonkokilasi opened #3364 "E/CollectServerClient: Parsing failed with ContentType: text/html; charset=utf-8 returned from: https://** is not text/xml. This is often caused by a network proxy."
#### Software and hardware versions
Collect v02f3ab2, Android 9 , device used...

#### Problem description
E/CollectServerClient: Parsing failed with ContentType: text/html; charset=utf-8 returned from: https://** is not text/xml.  This is often caused by a network proxy.  Do you need to login to your network? while accessing https://**
The stars are the link to where I fetch the forms from.
####

[2019-09-30 16:17] lognaturel commented on #3364
This sounds more likely to be an issue with your server or network connection. Does the default server work? What other servers did you try? Did you verify that you're not behind a proxy?

[2019-10-01 09:41] mmarciniak90 opened #3366 "OpenStreetMap does not display on Androids 5 and higher"
#### Software and hardware versions
Collect - current master
Android v5.1 and higher

#### Problem description
Problem with OpenStreetMap returned
OpenStreetMap does not display when using Geo widgets.
#3248

#### Steps to reproduce the problem
1. Choose in General Settings Maps/OpenStreetMap
2. Open Geopoint/GeoTrace/GeoShape widget
3. Click on the Start button

#### Expected behavior
OpenStreetM

[2019-10-01 12:10] mmarciniak90 opened #3367 "Settings pages have grey text on Android 4.x"
### Software and hardware versions
Collect current version
Android v4.4, 4.2

#### Problem description
Settings pages have grey text on Android 4.x

#### Steps to reproduce the problem
1. The user goes to `General Settings` or `Admin Settings`
2. User sees that options headers and descriptions are grey

|master|1.23.3|
|---|---|
|![Screenshot_2019-10-01-14-59-43](https://user-images.githubusercont

[2019-10-01 13:39] seadowg commented on #3367
This looks like it could be because we're now closed to the system theme for settings. We can probably be more specific with the color in some way though.

[2019-10-01 14:04] mmarciniak90 opened #3368 "Invalid question is not highlighted in red on the field list on Android 5.1"
#### Software and hardware versions
Collect v1.23.3
Android v5.1
Device: Huawei Y560-L01

#### Problem description
Invalid question is not highlighted in red on the field list

#### Steps to reproduce the problem
1. The user fills a form with the field list with validation
[OnePageFormSubmission.xml.txt](https://github.com/opendatakit/collect/files/3676763/OnePageFormSubmission.xml.txt)
2.  The us

[2019-10-01 15:59] #3189 closed, assigned to grzesiek2010

[2019-10-01 17:43] lognaturel opened #3369 "CSV attachments not uncompressed"
#### Software and hardware versions
Collect v1.23.3; probably since the okhttp change

#### Problem description
Central's default install [configures nginx](https://github.com/opendatakit/central/blob/75f11f18b6d697a73b025b46a9d0e7f6e2e5f0c0/files/nginx/odk.conf.template) to gzip files larger than 1.2mb. Collect should uncompress these on receiving them but doesn't.

Reported at https://forum.open

[2019-10-01 17:46] lognaturel commented on #3369
I'm unfortunately not going to have time to look at this in the next several days. @seadowg, since you've looked at the networking code most recently, could you please investigate? It'd be great to have a fix for v1.24. I see that there are tests for a gzipped body but maybe not for gzipped individual attachments?

[2019-10-01 17:48] seadowg commented on #3369
@lognaturel I can look at this tomorrow 👍

[2019-10-01 19:52] lognaturel commented on #3367
I tend to think that this is ok. The background is also paler by default so it's not hard to read. If someone has free time to address it, great, but I think it's low priority. I've marked it as `help wanted` in case a new contributor wants to take a look.

[2019-10-02 02:06] lognaturel commented on #3369
Thanks to @issa-tseng for looking at the server side. It seems to be a Central problem.

I was convinced the issue was due to the okhttp change but really, it would have been surprising for no one to have run into it yet given the size of forms and media attachments out there.

[2019-10-02 02:06] #3369 closed, assigned to nobody

[2019-10-02 09:42] grzesiek2010 commented on #3363
I'm closing in favor of https://github.com/opendatakit/javarosa/issues/496

[2019-10-02 09:42] #3363 closed, assigned to grzesiek2010

[2019-10-02 12:47] grzesiek2010 commented on #3366
The problem is caused by this change https://github.com/opendatakit/collect/commit/1a7cbe7fc21c8275a730d1398d15bdfceffbe834

`TestCollect` class is in `debug` so it doesn't `setUserAgentValue` because it overrides the method from `Collect` class.

@seadowg what was the problem with tests that you implemented those changes?

I'm not sure what we should do in this case we need to `setUserAgentValue`

[2019-10-02 13:08] seadowg commented on #3366
Calling `setUserAgentString` would give us a pretty nasty exception at the top of any test's output (if running with Robolectric). I went back and ran it again:

[code]

My understanding is that calling into OSM outside of a real device/emulator would a no no due to it loading native frameworks.

What I didn't realize when I made this change is that we use `TestCollect` in the debug build of our a

[2019-10-02 13:47] grzesiek2010 commented on #3366
Ok I created a pr https://github.com/opendatakit/collect/pull/3370 which removes TestCollect class from manifest file in debug. According to the [comment](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/application/TestCollect.java#L8) the class will be automatically used for tests.

I don't know but looks as if it should be enabled for debug bu

[2019-10-02 14:32] #2861 closed, assigned to seadowg

[2019-10-03 13:43] #3354 closed, assigned to seadowg

[2019-10-03 14:04] Yonkokilasi commented on #3364
Yes the issue was serves side on Kobo toolkit.

[2019-10-03 14:04] #3364 closed, assigned to nobody

[2019-10-03 15:15] PieterBenjamin commented on #1272
If the phone is not being held horizontally, do you think a vertical scale might work? i.e. having the "best" or highest agreement on the top, and "worst" or lowest agreement on the bottom of the screen.

edit: this would probably look best for the discrete levels (likert/image labels) but I think the qualitative scale would probably look fine if it horizontally spanned a vertical screen. It doesn

[2019-10-03 16:45] lognaturel commented on #1272
@PieterBenjamin my sense is that a likert scale is intended to always be horizontal. I think that it's ok to assume that users will either pick devices that are wide enough in portrait or train their staff to fill out surveys in landscape when using likert scales.

There is a user-facing thread at https://forum.opendatakit.org/t/support-for-likert-scales-in-build-and-collect/9127 where feedback co

[2019-10-04 06:30] #3125 closed, assigned to nobody

[2019-10-04 09:48] grzesiek2010 commented on #3305
it's fixed in https://github.com/opendatakit/javarosa/pull/478

[2019-10-04 09:48] #3305 closed, assigned to nobody

[2019-10-04 09:57] mmarciniak90 opened #3372 "Selecting None accuracy for automatic location recording is hard on Android 9.0 because the scroll is not available"
#### Software and hardware versions
Collect v1.23.3, Android v9.0, device used Xiaomi Redmi 7

#### Problem description
Selecting `None` accuracy for automatic location recording is hard on Android 9.0 because the scroll is not available

#### Steps to reproduce the problem
1. User opens map on GeoTrace or GeoShape widget
2. User selects `Automatic location recording` option
3. User opens `Accurac

[2019-10-04 10:30] grzesiek2010 commented on #3368
Ther is a similar issue https://github.com/opendatakit/collect/issues/2235
@mmarciniak90 maybe the device you are using has animations turned off?
It's the only way I can reproduce the issue.
Please go to Developer options and disable:
- Window animation scale
- Transistion animation scale
- Animation duration scale

then restart your device and check the attached form.

[2019-10-04 11:51] #3366 closed, assigned to grzesiek2010

[2019-10-04 15:09] lognaturel commented on #2716
It looks like this got lost in the shuffle! It would be good to see if it's still an issue.

[2019-10-04 15:10] lognaturel opened #3373 "Ensure leak canary is enabled for the debug build or remove it"
According to https://github.com/opendatakit/collect/issues/3366#issuecomment-537500260, Leak Canary is not enabled for the debug build. It should either be or should be removed entirely.

I think it's been helpful in the past and would be good to enable for the debug build.

Todos:

- [x] Confirm with @opendatakit/testers what the problem described at https://github.com/opendatakit/collect/issues/

[2019-10-04 15:16] lognaturel opened #3374 "Corrupt/invalid audio file results in "file missing" toast"
#### Software and hardware versions
master (seen in https://github.com/opendatakit/collect/pull/3358); haven't tried to reproduce on v1.23

#### Problem description
When a corrupt or invalid audio file is set as a form attachment and there's an attempt to play that file, a toast that says the file is missing is displayed. This is confusing and could lead a user down the wrong troubleshooting path.

[2019-10-04 17:33] grzesiek2010 commented on #3373
This pr https://github.com/opendatakit/collect/pull/3370 has enabled it but today I heard from @mmarciniak90 that it's a big hassle so I would remove it. We can enable it in the future once we have time to investigate reported issues instead of having it enabled all the time.

[2019-10-04 17:38] lognaturel commented on #3373
Got it -- that makes sense, removing `TestCollect` from the debug manifest means that `Collect` is used instead which enables Leak Canary. I didn't realize that this was a side effect of the PR when reviewing.

Can you or @mmarciniak90 say more about what makes it a hassle? I'm not immediately seeing any issues with master but I also don't have the LeakCanary app installed. Is it that it is actual

[2019-10-04 17:41] grzesiek2010 commented on #3373
I haven't tested it after merging #3370 but @mmarciniak90 said that she was receiving many alerts/messages and it was even closing or crashing the app so it was a problem during testing.

right.

[2019-10-04 17:43] lognaturel commented on #3373
@mmarciniak90 Do you have the Leak Canary app installed? Maybe the thing to do is to file issues for the problems it flags and then uninstall it unless specifically looking for leaks?

[2019-10-06 19:59] shldhll commented on #3367
@lognaturel I would like to work on this issue.

[2019-10-07 07:36] seadowg commented on #3367
Hey @shldhll. Our [contributing guide](https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md) explains how to claim issues and our review process. Have a look at that before you get started!

[2019-10-07 10:36] shldhll commented on #3367
@opendatakit-bot claim

[2019-10-07 19:16] akshay-ap commented on #1272
@opendatakit-bot claim

[2019-10-07 19:21] lognaturel commented on #1272
Hi @akshay-ap! So nice to see you here! 😊 @PieterBenjamin and a group he's working with contacted me about this issue but I forgot to let them know they should claim it! I believe they've started on it but I'll let them confirm.

[2019-10-07 19:24] PieterBenjamin commented on #1272
@lognaturel @akshay-ap Sorry about that! we're actually in the middle of talking about it right now! We've been working our way through everything and didn't realize we had to claim the issue.  To confirm - yep! We're going to be working on this 👍

[2019-10-07 19:40] akshay-ap commented on #1272
Ohh! No problem. Will look into other issues then.
@opendatakit-bot unclaim

[2019-10-07 19:42] PieterBenjamin commented on #1272
@opendatakit-bot claim

[2019-10-07 19:43] PieterBenjamin commented on #1272
@akshay-ap Thanks! Sorry for the confusion.

[2019-10-08 09:41] toshniakshay opened #3379 "Savepoints and instances are lost when using repeat section"
**Device Details :**
Samsung Galaxy J2
RAM : 1GB
ROM : 8GB

- I have one form with 60 questions and also contains repeat section of 4 questions in between.
- Repeat section contains 2 questions 1 GPS quesiton, 1 single Select and 2 text quesitons.
- If I perform the repeat more than 40 times then application starts to slow down.
- After 60 times it takes around 10 seconds to load repeat section.
-

[2019-10-08 13:38] #3367 closed, assigned to shldhll

[2019-10-08 14:08] kkrawczyk123 opened #3380 "Unable to connect to local aggregate on device with Android 9"
#### Software and hardware versions
Collect v1.23.x, Android v9.0.x, device used...

#### Problem description
I have noticed that the Android 9 device does not cooperate with my local instance of Aggregate 2.0. I am not able to Get Blank Form of Send Finalized form. Displayed error message:
![Screenshot_2019-10-08-15-24-37-700_org odk collect android](https://user-images.githubusercontent.com/3334

[2019-10-08 14:57] #3043 closed, assigned to grzesiek2010

[2019-10-08 20:24] lognaturel commented on #3379
This looks like the same thing you wrote about at https://forum.opendatakit.org/t/savepoint-functionality-is-breaking-as-our-form-increases-in-length/22427, right? Can you please try in Collect from the Play Store and verify if you see the same issues?

I believe the slowdown happens because the whole form with all of its dependent logic is re-evaluated.

[2019-10-09 05:30] toshniakshay commented on #3379
Thank you for the quick revert. I will perform some tests on play store build as well and see if I get same behaviour.

[2019-10-09 12:23] #3123 closed, assigned to seadowg

[2019-10-09 12:45] seadowg opened #3382 "Revise `AudioVideoImageTextLabel` spacing and layout"
This view is the basically the "header" for any question:

![Screenshot_1570551839](https://user-images.githubusercontent.com/556280/66482256-788ed300-ea9a-11e9-8fa8-34ba94a9f38f.png)

The view is also used in the select choices. You can see from the screen shot that there are two cosmetic problems:

1. Spacing around the items is probably too small. You can see the scrollbar actually overlaps the

[2019-10-09 16:54] #3380 closed, assigned to grzesiek2010

[2019-10-09 17:04] mmarciniak90 opened #3383 "App crashes when user loads form with unsupported event"
#### Software and hardware versions
Collect PR #3375
Worked properly on Collect v1.23.3

#### Problem description
App crashes when user loads form with unsupported event

#### Steps to reproduce the problem
1. User opens form
[invalid-events.xml.txt](https://github.com/opendatakit/collect/files/3708557/invalid-events.xml.txt)

#### Expected behavior
![Screenshot_20191009-190222](https://user-image

[2019-10-09 17:23] #3304 closed, assigned to nobody

[2019-10-10 09:27] mmarciniak90 opened #3384 "Crash when user loads form with rating widgets"
#### Software and hardware versions
Collect master
Crash does not occur on v1.23.3

#### Problem description
Crash when user loads form with rating widgets

#### Steps to reproduce the problem
1.  User loads form
[TestRatingWidget.xml.txt](https://github.com/opendatakit/collect/files/3711553/TestRatingWidget.xml.txt)

#### Expected behavior
* User is able to fill the form

#### Other information
2

[2019-10-10 09:28] mmarciniak90 commented on #3384
@opendatakit-bot label "regression"

[2019-10-10 12:57] mmarciniak90 opened #3385 "Information about the newest version has a blue color instead of green"
#### Software and hardware versions
Collect master

#### Problem description
Information about the newest version has a blue color instead of green

#### Steps to reproduce the problem
1. User goes to `Get blank form`
2. User sees information about the newest version
3. Text is blue instead of green

#### Expected behavior

|current master| v1.23.3 |
|---|----|
|![Screenshot_20191010-145032](https

[2019-10-10 17:26] be-wake commented on #3385
@opendatakit-bot claim

[2019-10-10 18:55] lognaturel commented on #3385
This was discussed in https://github.com/opendatakit/collect/pull/3225 and is a deliberate change to stick with a narrow palette rather than introduce another color.

[2019-10-10 18:55] #3385 closed, assigned to be-wake

[2019-10-11 06:57] mmarciniak90 opened #3387 "User is not able to change Collect's language on Android 7.x"
#### Software and hardware versions
Collect v1.24.0 beta.0
Android 7.0, Android 7.1

#### Problem description
User is not able to change Collect's language

#### Steps to reproduce the problem
1. User goes to `General Settings` -> `User Interface`
2. User changes language
3. User is moved to the main view but language stays unchecked
4. The selected language is visible in settings

#### Expected b

[2019-10-11 14:00] kkrawczyk123 opened #3388 "Collect crashes when use range picker integer widget on fieldlist form"
#### Software and hardware versions
Collect v1.24.x, Android v5.1, 7.0, other versions probably too, device used...

#### Problem description
Collects crashes after choosing an answer on number picker of range picker integer widget on fieldlist type of form.
logs:
`2019-10-11 15:51:22.821 27776-27776/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 27776
    jav

[2019-10-12 12:16] grzesiek2010 opened #3389 "NPE in MapboxMapFragment.java line 393"
#### Software and hardware versions
Collect v1.24-beta

#### Problem description
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.location.Location.getProvider()' on a null object reference
       at org.odk.collect.android.geo.MapboxMapFragment.onSuccess(MapboxMapFragment.java:393)
       at org.odk.collect.android.geo.MapboxMapFragment.

[2019-10-12 13:41] #3389 closed, assigned to grzesiek2010

[2019-10-13 20:46] lognaturel commented on #3387
Is this a regression, @mmarciniak90?

[2019-10-14 06:10] mmarciniak90 commented on #3387
@lognaturel Unfortunately yes
This problem is not visible on v1.23.3

@opendatakit-bot label "regression"

[2019-10-14 06:14] mmarciniak90 commented on #3388
@opendatakit-bot label "regression"

[2019-10-14 07:55] mmarciniak90 opened #3391 "Submissions are duplicated in Google Sheets"
### Software and hardware versions
Collect v1.24.0 beta.0
Verified only on Android 7.0 and 8.1
Reproduced also on v1.23.3 on Android 8.1

#### Problem description
Submissions are duplicated in Google Sheets

#### Steps to reproduce the problem
1. User fills a lot of forms (1006 forms in my case)
2. User sends forms to Google Sheet (**auto-send and auto delete options were selected**)
3. User sees

[2019-10-14 21:49] seadowg commented on #3387
@opendatakit-bot claim

[2019-10-14 22:45] seadowg commented on #3387
Took a guess and found this is fine before bee6f771c47b40c455e1b633f89b78303b8bf640. Next step is to try and understand what exactly about the dependency update causes or language changing to fail.

From playing around with installing/reinstalling broken and working versions it looks like this is most likely an issue with how we try and make Android load alterantive resources (to the system langua

[2019-10-14 23:16] seadowg commented on #3387
@mmarciniak90 did you try this on Android 6? I'm not seeing the bug there (just 7.0/7.1). Just double checking it's just a 7 thing and not everything below 8.

As a side note: we have tests that capture this (`FillBlankFormTest#sortByDialog_ShouldBeTranslatedAndDisplayProperIcons` for instance). We could look at running our tests againt a bunch of versions (probably at a time interval rather than

[2019-10-15 06:50] mmarciniak90 commented on #3387
@seadowg, yes, I'm totally sure that this problem is visible only on 7.0 and 7.1. I've just recheck this case on all available devices.

My devices with Android 7.x are:
* Samsung Galaxy S7 SM-G930F - Android 7.0.0
* Motorola Moto G Play - Android 7.1.1

[2019-10-15 13:05] kkrawczyk123 opened #3392 "Progress bar is not visible on Get Blank form loading/downloading dialog on Android 5"
#### Software and hardware versions
Collect v1.23.3x, Android v5.1.x, device used...

#### Problem description
The loading progress bar is not visible on Get Blank Form loading dialog/ downloading form dialog/ delete saved form dialog. Screenshot attached:
On the left there is an Android 5.1 screen, and in the right expected behavior from Android 7.1
![Screenshot from 2019-10-15 15-01-55](https://

[2019-10-15 16:26] seadowg commented on #3387
@mmarciniak90 thanks so much! Just wanted to make sure it wasn't an emulator issue.

[2019-10-15 18:24] seadowg commented on #3387
It looks like it's a problem with `appcompat`. I managed to walk through the versions and found we're fine with `1.1.0-rc1` so can change to that for now providing everything else is ok at that version.

Interestingly we can see that [1.1.0](https://developer.android.com/jetpack/androidx/releases/appcompat#1.1.0) of `appcompat` only has [3 commits](https://android.googlesource.com/platform/framewo

[2019-10-16 15:21] lognaturel commented on #3387
@opendatakit/testers how about doing this as the first step in regression testing so any issues caught by tests on specific API levels can be caught and filed immediately?

[2019-10-16 15:41] lognaturel commented on #3391
Thanks for clarifying that this is not a regression from 1.23 to 1.24.

You have a zip of submissions that you push onto the phone to do tests like this, right? Could you please attach so it's easier to reproduce? Did you try to submit manually without auto-send and if so, did you confirm the problem doesn't happen?

[2019-10-16 15:51] seadowg commented on #3387
@lognaturel I like that idea!

[2019-10-16 17:36] lognaturel commented on #3099
We can re-open if a user reports.

[2019-10-16 17:36] #3099 closed, assigned to nobody

[2019-10-16 17:38] lognaturel commented on #3088
I'm going to close this for now since it's a really old feature request. Good point @florianm about being able to get much more useful results from specialized devices. If this is still a need you have, please write a forum feature request.

[2019-10-16 17:38] #3088 closed, assigned to nobody

[2019-10-16 17:42] lognaturel commented on #3030
Is this still an issue in master?

[2019-10-16 17:43] lognaturel commented on #3036
@yanokwa Can you move this to a forum features post, please?

[2019-10-17 09:18] grzesiek2010 opened #3398 "RuntimeException: Dependency cycles amongst the xpath expressions in relevant/calculate"
#### Software and hardware versions
Collect v1.24.0-beta

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4788f4010fa43b71da174536467e7b4a?time=last-seven-days&sessionId=5DA6F10300770001699B912E33D373F2_DNE_0_v2

`Caused by java.lang.RuntimeException: Dependency cycles amongst the xpath expressions

[2019-10-17 09:26] grzesiek2010 commented on #3398
@lognaturel
This and https://github.com/opendatakit/collect/pull/3397 and https://github.com/opendatakit/collect/pull/3396 and probably something else is caused by https://github.com/opendatakit/collect/pull/3272 and removed try/catch

I think the right solution would be to keep only this pr https://github.com/opendatakit/collect/pull/3396 but catch `Exception | Error e` there instead of just `XFo

[2019-10-17 09:27] #3387 closed, assigned to seadowg

[2019-10-17 10:12] grzesiek2010 commented on #3392
The code is ok the problem was caused by animations turned off in developer options.

[2019-10-17 10:12] #3392 closed, assigned to grzesiek2010

[2019-10-17 13:03] #3388 closed, assigned to grzesiek2010

[2019-10-17 13:03] #3384 closed, assigned to grzesiek2010

[2019-10-17 14:07] mmarciniak90 commented on #3368
Thanks, @grzesiek2010. I'm not able to say for sure but it is very likely that animation was turned off.
Now, when I'm sure that aminations are turned on, I do not see this issue.

[2019-10-17 14:07] #3368 closed, assigned to grzesiek2010

[2019-10-17 15:22] lognaturel commented on #3398
That sounds good to me, please Make It So. I think letting any problems propagate all the way to `doInBackground` makes a lot of sense.

For some reason I thought that Android Studio provided more feedback when calling a method that is explicitly declared to throw. I'm currently not seeing any warning and I think that's why I removed the try/catch block in the first place -- I didn't see any IDE h

[2019-10-17 19:31] martintrollip commented on #3001
Hi,

Is this still an issue?

Failed to reproduce on `v1.24.0 beta.0-3-g237121bf0-dirty`

![rotate](https://user-images.githubusercontent.com/13981100/67041242-83460980-f125-11e9-94a6-06e9be6c550d.gif)

[2019-10-18 12:53] #3372 closed, assigned to grzesiek2010

[2019-10-18 13:52] ahelmi365 opened #3401 "Can't get value from calculate field to show in constraint message."

[2019-10-18 14:14] #3383 closed, assigned to lognaturel

[2019-10-18 14:14] #3398 closed, assigned to grzesiek2010

[2019-10-18 15:39] lognaturel commented on #3401
Please write a support post and be sure to include a sample form that reproduces the problem. https://forum.opendatakit.org/c/support Thanks!

[2019-10-18 15:39] #3401 closed, assigned to nobody

[2019-10-18 17:18] grzesiek2010 opened #3402 "The first question in `field-list` disappears under some circumstances, if select_multiple questions are used."
#### Software and hardware versions
Collect v1.23.2

#### Problem description
The first question in `field-list` disappears under some circumstances, if select_multiple questions are used.

The problem has been reported here https://forum.opendatakit.org/t/odk-collect-version-1-23-3-multiple-select-from-csv/22828/2.

#### Steps to reproduce the problem
1. Open the attached form:
[selectmulpipleBug

[2019-10-19 13:38] ScorchingShade commented on #3356
I would like to work on that! I am fairly new to this so could I get some help knowing more about this issue

[2019-10-19 14:28] grzesiek2010 commented on #3356
Hi @ScorchingShade nice to see you here. The steps seem very clear, could you tell us what you don't understand or which step?

[2019-10-19 17:40] ShivamPrajapati-dev commented on #3402
@opendatakit-bot claim

[2019-10-20 05:47] ABHISHEK-AMRUTE commented on #3093
@opendatakit-bot  claim

[2019-10-20 07:40] ABHISHEK-AMRUTE commented on #3093
@opendatakit-bot  claim --force

[2019-10-20 07:57] shobhitagarwal1612 commented on #3373
I can confirm that LeakCanary is enabled for debug builds and is reporting memory leaks.

![Screenshot_1571557975](https://user-images.githubusercontent.com/8918023/67156540-58360280-f33d-11e9-9a51-00bf359bb7d2.png)
![Screenshot_1571558234](https://user-images.githubusercontent.com/8918023/67156541-58360280-f33d-11e9-9987-2dbd873af125.png)

[2019-10-21 15:13] #3402 closed, assigned to grzesiek2010

[2019-10-21 15:21] lognaturel opened #3409 "Add test for field list with select multiple question that fails in v1.23.3"
https://github.com/opendatakit/collect/issues/3402 describes a bug that was in v1.23.3, fixed by #3403. We should make sure to have an Espresso test for this case with the simplest possible form. The form in the issue uses an external CSV and has multiple select questions. It should be possible to reproduce the problem with a multiple select and a simple text field.

I would tend to add the test c

[2019-10-21 15:47] lognaturel commented on #1272
From Slack:

This behavior should be identical to the select one behavior. It should be possible to set BOTH text and an image for each choice. If no image is specified, only the text should be included. If no text is specified, nothing should be displayed for that choice. That could be a deliberate design decision by the form designer -- they may want to specify images for the first and last choi

[2019-10-21 16:48] andrewsiew2 commented on #1272
Hi @lognaturel , thanks for the reply. When you said the behavior in the last paragraph do you mean the select one behavior of allowing images and text at the same time? If so I can check it out and file an issue. Also, more edge cases, should the number of options always be 5 or should it strictly be based on the number of choices they provided? And let's say if we do want to keep it at 5 all the

[2019-10-21 17:28] lognaturel commented on #1272
Whoops, I reorganized the paragraphs to hopefully make more sense. Yes, I mean what happens if you have both text and images. Now that I think about it, I'm not sure whether or not it's permitted to have a blank choice label so that might be something to try and make explicit.

It should be based on the number of provided choices. It's ok if certain choice counts don't work on narrow screens.

No.

[2019-10-21 21:28] seadowg commented on #425
As @lognaturel noticed there is a great example of it looking hard to hit the select options in [this video](https://www.youtube.com/watch?v=vR-jYWVfPS8&feature=youtu.be&t=78). I'm going to start playing with what we can do to make this better.

[2019-10-21 21:30] seadowg commented on #3382
Hey @ABHISHEK-AMRUTE! Thanks for having a look at this. Just as a heads up I'm working on #425 which may end up having some overlapping work. Probably good for us to push any work early (as draft PRs) so we can keep an eye out for conflicts!

[2019-10-21 21:42] seadowg commented on #425
From playing around on some different screen sizes and jumping into layout inspector it seems that there are two key problems to me:

1. The vertical sizing of the tap area for a select is fairly small (compared to a text field for instance) and there is no spacing between the options
2. There is a small margin on the left/start of the select option that won't select the option if tapped. This mea

[2019-10-21 22:57] seadowg commented on #425
As a quick spike I played around with using the [standard list specs](https://material.io/components/lists/#specs) to determine the vertical height of the options. I think making this change in a non hacky way (and also cleaning up some code/cosmetics) is a bit more work but I wanted to share the before and after:

![Screenshot_1571698415](https://user-images.githubusercontent.com/556280/67249091-

[2019-10-22 19:54] PieterBenjamin commented on #1272
@opendatakit-bot unclaim

[2019-10-22 19:54] PieterBenjamin commented on #1272
@shouryaj all yours

[2019-10-22 20:15] shouryaj commented on #1272
@opendatakit-bot claim

[2019-10-23 03:20] lognaturel commented on #3373
Thanks, @shobhitagarwal1612! I talked to @mmarciniak90 and the problem is that while I thought the Leak Canary app could get uninstalled, it's impossible without also uninstalling the Collect debug build. In the short term, @grzesiek2010 has agreed to do a time-boxed exploration of the current leaks and see whether they can be quickly fixed. I believe #2716 is the most disruptive since it does hap

[2019-10-23 03:34] lognaturel commented on #2716
Confirmed that it's still an issue. See #3373 for related discussion.

I'm fairly certain that this can be fixed by calling `getContentResolver().unregisterContentObserver(contentObserver);` in `onDestroy`. Really, it would make more sense to register and unregister in `onResume` and `onPause`, I think.

[2019-10-23 09:17] grzesiek2010 commented on #3360
The biggest problem for us is scoped storage and I'm in the 99% of people that hate it. Today starts [Android Dev Summit 2019](https://developer.android.com/dev-summit) and probably I'm naive but I hope they will say something like:

If not we will have more info about it at least so I'm putting it on hold and will be back next week.

[2019-10-23 11:01] grzesiek2010 commented on #2716
You are right about using `getContentResolver().unregisterContentObserver(contentObserver);` I started investigating it yesterday and today created a pr https://github.com/opendatakit/collect/pull/3414.

Moving the registration/unregistration required another fix I made in the [second commit](https://github.com/opendatakit/collect/pull/3414/commits/a88fda8e3173766f9204072539c54793ddb89062). It rev

[2019-10-23 15:01] lognaturel commented on #3360
Makes sense! We're lucky that @seadowg will be at the Dev Summit getting information first hand. I hope you're right...

[2019-10-24 04:06] lognaturel opened #3415 "Out of bounds exception when FormEntryActivity paused"
From Crashlytics [here](https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/c5d7c1215851b612333ff89d81058618?time=last-seven-days&sessionId=5DB07082019900015007CE32A5365F65_DNE_1_v2) (requires auth).

[code]

[2019-10-24 04:18] seadowg commented on #3415
It initially looks related to the audio changes but after a little look it seems to me this is code from some old `MediaPlayer` stuff hanging around in the `ODKView` and the `QuestionWidget` - we should look at cleaning this all out. The interesting part is that the `OutOfBoundsException` actually had nothing to do with audio as far as I can see: the `stopAudio` method assumes that there is always

[2019-10-24 14:22] grzesiek2010 commented on #3415
@lognaturel this is definitelly not a regression in v1.24  I have seen the same stacktraces since I remember but it has not been common  so I didnt work on it. Just wanted to clarify in case you arę anxious.

[2019-10-24 21:16] andrewsiew2 commented on #1272
Hi @lognaturel ,
We were talking about how the horizontal line should be and there are 2 designs in mind:
This one, which has the lines touching the buttons
![horizontal_1](https://user-images.githubusercontent.com/24306733/67525666-07d5e200-f668-11e9-85dc-594f8ac77450.JPG)

and this one which has the lines not touching the buttons.
![horizontal_2](https://user-images.githubusercontent.com/2430673

[2019-10-25 10:04] mmarciniak90 commented on #3387
@lognaturel I added this to our basic criteria.

[2019-10-25 10:24] mmarciniak90 opened #3417 "Memory leak : LinearLayout when user opens some page under 'User Access Control' on Android >8.0"
#### Software and hardware versions
Collect master
Android 8.1, 9.0

#### Problem description
<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/67564018-44feaa80-f722-11e9-895f-62bdf9b1b678.png">

#### Steps to reproduce the problem
1. User opens Admin settings
2. User goes to `Main Menu Settings` or 'User Settings' or `Form Entry Settings`
3. `LinearLayout` leak

[2019-10-25 10:53] mmarciniak90 commented on #3417
LinearLayout leak is visible on all subpages in General Settings too

[2019-10-25 15:06] lognaturel commented on #3415
Thanks, @grzesiek2010, @seadowg! I filed it because it looked related to the new audio code but given what you've said, it doesn't look like a candidate for a point release and we can just get the fix in to v1.25.

[2019-10-26 00:13] seadowg opened #3418 "Fill Blank Form page is always empty in Android 10"
This was reported on the forum: https://forum.opendatakit.org/t/nothing-available-to-display-on-fill-blank-form-page/22974/2.

#### Software and hardware versions
Collect v1.24, Android v10, Installed from Play Store (doesn't appear in debug builds)

#### Problem description

Downloaded forms are not displayed in "Fill Blank Form" page on Android 10.l

#### Steps to reproduce the problem

On an An

[2019-10-26 04:16] lognaturel commented on #1272
I'm in favor of the line touching the buttons.

[2019-10-28 06:56] ramoge commented on #3262
What helped for me was setting _testCoverageEnabled_ to false in the build.gradle file. The jacocoDebug step is skipped and the build won't take so much time anymore.

[2019-10-28 07:55] seadowg commented on #3262
@ramoge yeah it's definitely that as we use Jacoco for test coverage. It might be interesting to see if we can rethink our build types to give ourselves a faster debug build for day to day dev...

[2019-10-28 08:02] grzesiek2010 commented on #3418
Yes, probably it has something to do with libraries because I could swear I tested Android 10 after bumping `targedSdkVersion`. I'll take a look.

[2019-10-28 14:28] grzesiek2010 opened #3419 "Replace deprecated loaders"
#### Software and hardware versions
Collect v1.24.0 and older versions

#### Problem description
We use loaders to display lists of blank/saved forms but it's been deprecated so we should implement refactoring: https://developer.android.com/guide/components/loaders

It might fix the bug on Android 10 https://github.com/opendatakit/collect/issues/3418

[2019-10-28 14:46] grzesiek2010 commented on #3418
you were right about `androidx.lifecycle:lifecycle-extensions` the bug was caused by updating the library. It's the second big problem caused by that lib... annoying.

[2019-10-28 21:42] lognaturel commented on #2717
The table below shows my current understanding of the likely impact of switching to the fused provider across the board.

Current: GPS only with fallback to network if GPS is explicitly off

Scenario | Current | Fused only | Improvement?
-- | -- | -- | --
Collecting location in rural areas with no wifi | Reportedly takes a while to get lock | Likely similar behavior with perhaps some improvement i

[2019-10-29 08:40] grzesiek2010 opened #3421 "IllegalArgumentException in CompressionUtils.decompress (CompressionUtils.java:74)"
#### Software and hardware versions
Collect v1.24.0 and probably older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/af3e3def7568395f1fe76cadafc4bb5a?time=last-seven-days&sessionId=5DB76B78009100012E89DAD9078DAB87_DNE_0_v2

`Caused by com.google.common.io.BaseEncoding$DecodingException:

[2019-10-29 12:08] grzesiek2010 opened #3425 "SQLiteException in ItemsetDbAdapter.java:115"
#### Software and hardware versions
Collect v1.24.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/8258efdc52e37fbf543edb7a7804fb3b?time=last-seven-days&sessionId=5DB54C43018100010F51B09C02FB19E0_DNE_0_v2

`Caused by android.database.sqlite.SQLiteException: unrecognized tok

[2019-10-29 14:36] #3418 closed, assigned to grzesiek2010

[2019-10-30 03:00] andrewsiew2 commented on #1272
@lognaturel I recalled you mentioned that we could make this widget collect data for data analysis. How do we do this? I was looking at another widget but there doesn't seem to be a distinct way to do this. Do we have to add something to another code at a higher level? Also, where should we put the docs for this widget?

[2019-10-30 04:03] lognaturel commented on #1272
I'm afraid I don't understand what you mean by this. Once the widget is implemented, any form could request a likert question by including a `select_one` question with the `likert` appearance. When a data collector selects a value, it will be saved as part of the form data, submitted to the server and be available for analysis like any other data collected with Collect.

I would suggest adding a n

[2019-10-30 07:27] zestyping commented on #2717
Tagging @ivangayton — could you weigh in on @lognaturel's table above?

[2019-10-30 17:11] #3374 closed, assigned to nobody

[2019-10-30 17:12] #2716 closed, assigned to grzesiek2010

[2019-10-30 17:13] #3421 closed, assigned to grzesiek2010

[2019-10-30 19:19] lognaturel commented on #3360
@seadowg, @grzesiek2010 and I discussed scoped storage on a call.

- primary reason Google has given for this change is to reduce "clutter" so that by default files get cleaned up when an app is removed
- @seadowg confirms everyone at dev summit hates scoped storage but that it's definitely coming into effect when targetSDK goes to 29
- Google has now said they'll require targeting the SDK version

[2019-10-30 20:48] lognaturel opened #3427 "Display warning in toast if background location is requested but location is turned off in settings"
Let the enumerator know if no location provider is available for a background location request. [Forum user request](https://forum.opendatakit.org/t/auto-gps-implementation-on-odk-collect/10635/38).

`BackgroundLocationManager.locationPermissionGranted` does this for audit location requests but not for background location requests. This was not done for background location requests because `locati

[2019-10-31 07:45] #3415 closed, assigned to seadowg

[2019-10-31 09:43] vinaygopinath opened #3428 "Improve error message when "Accept submissions" is disabled"
#### Software and hardware versions
Collect v1.24.1
Android v8.1.0

#### Problem description
When a form is not marked to "Accept submissions" under Forms Management --> Forms List on the ODK aggregate server, attempting to fill out and send the form on ODK Collect displays a dialog with a cryptic error message with technical information.
![accept submissions error](https://user-images.githubuserc

[2019-10-31 09:44] seadowg commented on #3428
Thanks for this @vinaygopinath!

[2019-11-02 23:06] neilong31 commented on #3427
Hello @lognaturel ! I'd love to try and work on this issue.

[2019-11-04 08:56] grzesiek2010 opened #3433 "Can't style group names"
#### Software and hardware versions
Collect v1.x

#### Problem description
[Form styling](https://docs.opendatakit.org/form-styling/) doesn't work for group names

The problem has been originally reported on the forum: https://forum.opendatakit.org/t/odk-form-change-font-and-size-of-group-label/15535/3?u=grzesiek2010

#### Steps to reproduce the problem
Open this form:
[style-example.xlsx](https:/

[2019-11-04 15:42] seadowg opened #3435 "Form with `identify-user=true` audit attribute adds identifier to audit log events"
If `identify-user` is enabled, any time a person opens a form with this feature enabled, they are prompted with a “Enter a user identifier for the audit log” dialog to identify themselves with a plaintext ID or name.

A non-blank identifier will be required to open the form. All audit log events until the form is closed will be attributed to that identifier. The person filling out the form will be

[2019-11-04 19:05] grzesiek2010 opened #3436 "MemoryLeak in GeoPointActivity - Timer"
#### Software and hardware versions
Collect v1.24.1 and older versions

#### Problem description
![Screenshot_1572894536](https://user-images.githubusercontent.com/3276264/68149912-00071f00-ff3f-11e9-90f7-39c536d680f6.png)

`2019-11-04 19:59:41.453 20860-20904/org.odk.collect.android:leakcanary D/LeakCanary: * Instance of java.util.TimerThread
2019-11-04 19:59:41.453 20860-20904/org.odk.collect.an

[2019-11-04 19:59] #3338 closed, assigned to nobody

[2019-11-04 21:22] lognaturel commented on #3427
That would be wonderful, @neilong31! I'd recommend starting by making sure you understand the behavior of `isLocationAvailable` if it's called before location updates are requested. Is that actually a reasonable thing to do or not? You may also have ideas for alternate ways to find out whether location is available or not.

[2019-11-05 11:55] devanshi7799 commented on #2714
@opendatakit-bot claim.
I am new to open source and i want to work on this issue.

[2019-11-05 14:14] #3417 closed, assigned to grzesiek2010

[2019-11-05 15:27] #3436 closed, assigned to grzesiek2010

[2019-11-05 19:03] neilong31 commented on #3427
Thank you for a starting point! I'm looking through and trying to understand the behavior. I'll submit a PR detailing my logic.

[2019-11-06 06:55] shouryaj commented on #1272
@opendatakit-bot claim

[2019-11-06 09:36] wcluigi commented on #387
im also facing this issue
what is weird is its looking for a class that i renamed already and i refractored it the right way but for some reason the error is still pointing to a non-existing class

Edit
My bad lol its still written in the manifest lmao

[2019-11-07 19:23] lognaturel commented on #61
This is now tracked [on the roadmap](https://github.com/opendatakit/roadmap/projects/1#card-7129946) and [the forum](https://forum.opendatakit.org/t/visualize-on-the-fly-in-the-mobile-phone-the-data-collected-with-odk-on-a-map/12881). This issue can be re-opened once there's an approved spec.

[2019-11-08 14:46] grzesiek2010 commented on #3360
I can confirm that I was able to access files using eg.
`adb push testfile /storage/emulated/0/Android/data/org.odk.collect.android/files`

I had hard time trying to do such a migration and to no avail. I used various devices and every time receiving an exception like: `Not enough storage space` which wasn't true, on another device it's `Unable to move the app`...
but obviously it's how it should

[2019-11-08 20:26] grzesiek2010 opened #3441 "MemoryLeak in GeoPointActivity"
#### Problem description
![Screenshot_1573244675](https://user-images.githubusercontent.com/3276264/68508259-36f67100-026e-11ea-88ab-3f1064b81999.png)

`Instance of android.location.LocationManager$GnssStatusListenerTransport
2019-11-08 21:23:29.892 8628-8662/org.odk.collect.android:leakcanary D/LeakCanary: |   static $class$ifTable = java.lang.Object[6]@1880885848 (0x701c0a58)
2019-11-08 21:23:29

[2019-11-08 20:30] grzesiek2010 commented on #3441
I took a look at this issue and it's caused because in GeoPointActivity we call:
[locationClient.setListener(this);](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/GeoPointActivity.java#L109)

I tried clearing it in `onStop()` or `onDestroy()` by` locationClient.setListener(null);` but the leak is still visible...
any ideas @zestypin

[2019-11-11 09:01] seadowg commented on #3441
Looking at the code it could be that in `GeoPointActivity#onClientStart` we call [locationClient.requestLocationUpdates(this)](https://github.com/opendatakit/collect/blob/add6dca0dd557193ee85648161cb7d267e0a0e70/collect_app/src/main/java/org/odk/collect/android/activities/GeoPointActivity.java#L173) but we never call `LocationClient#stopLocationUpdates`. Assuming we're using the `AndroidLocationCl

[2019-11-11 14:34] andrewmlee commented on #2993
Would this include all translations?

[2019-11-11 17:44] lognaturel commented on #2993
No, @andrewmlee, only the English string needs to be introduced in `strings.xml`. If you know languages other than English, you're encouraged to help translate in [Transifex](https://github.com/opendatakit/collect#contributing-translations), though! It takes about 24 hours after a merge for the source strings to get there. Thanks!

[2019-11-12 12:02] mmarciniak90 opened #3442 "Crash when user clicks on Offline Layers icon on Geo widget"
#### Software and hardware versions
Collect master, all Android versions

#### Problem description
Crash when the user clicks on Offline Layers icon on Geo widget

#### Steps to reproduce the problem
1. User opens map on GeoPoint / GeoTrace / GeoShape
2. User clicks on `Offline Layer` icon
3. Collect crashes
![Screenshot from 2019-11-12 12-37-40](https://user-images.githubusercontent.com/3907554/6

[2019-11-12 14:50] #3442 closed, assigned to grzesiek2010

[2019-11-12 18:17] zestyping commented on #3441
That sounds right to me, @seadowg !  This looks like another instance of the issue fixed in https://github.com/opendatakit/collect/pull/2803 (which fixed it for all the new Geo activities, but not for this old one, which dates from 2017).

[2019-11-13 01:26] zestyping opened #3446 "MapFragment memory leaks"
![mapbox-leak](https://user-images.githubusercontent.com/236086/68724870-98218b80-0571-11ea-9d98-93085439ca65.png)
![google-leak](https://user-images.githubusercontent.com/236086/68724872-9952b880-0571-11ea-8e1f-aca4c24053e0.png)
![osmdroid-leak](https://user-images.githubusercontent.com/236086/68724875-9a83e580-0571-11ea-92e3-31154c785882.png)

[2019-11-13 01:28] zestyping commented on #3441
Oops.  #3445 addresses a different memory leak, which I've added as #3446.  It doesn't address this one.

[2019-11-13 08:09] zestyping commented on #3441
Okay, I've taken #3445 a little further and now it should address this memory leak as well.

[2019-11-13 13:35] #425 closed, assigned to seadowg

[2019-11-13 22:15] lognaturel commented on #61
Ok, I probably shouldn't have closed this while @zestyping worked on a spec because things moved very quickly!

There is still some discussion [on the forum](https://forum.opendatakit.org/t/visualize-on-the-fly-in-the-mobile-phone-the-data-collected-with-odk-on-a-map/12881) but the TSC discussed it at their meeting today and gave preliminary approval. Some members may have some small changes to su

[2019-11-13 22:25] lognaturel opened #3448 "Build a FormDef when doing initial form discovery rather than doing a custom parse of the XML"
`FormDownloader`/`DiskSyncTask` use `FileUtils.parseXML` to extract metadata from new form definitions. This is redundant with work that JavaRosa already does and makes it hard to use more of the form definition during that discovery. For example, #61 will involve identifying the first geo question in the form definition if it exists and doing this is much easier with a `FormDef` because question

[2019-11-14 13:44] #3425 closed, assigned to grzesiek2010

[2019-11-15 09:17] seadowg commented on #3382
@opendatakit-bot claim

[2019-11-15 14:41] grzesiek2010 opened #3450 "Calculating a value based on previous questions doesn't work in a field-list"
#### Software and hardware versions
Collect v1.24.1 and older versions

#### Problem description
Calculating a value based on previous questions doesn't work in a field-list

The problem has been originally reported on the forum: https://forum.opendatakit.org/t/auto-calculate-the-total

#### Steps to reproduce the problem
Try the attached form:
[fieldListSimpleTest.xlsx](https://github.com/opendat

[2019-11-15 21:46] lognaturel opened #3453 "Three OkHttpOpenRosaServerClientProviderTest fail under some circumstances"
There are 4 `OkHttpOpenRosaServerClientProviderTest` that use `MockWebServer`. Three of them fail for some configurations. I can get them to fail when running `./gradlew testDebugUnitTest` but not when running from Android Studio.

Changing `httpsMockWebServer.start(8443)` to `httpsMockWebServer.start()` in the mock makes the tests pass but it points to a possible cleanup issue that would be good

[2019-11-15 22:56] lognaturel commented on #3450
This has been on my internal todo list for a while. I think it's probably a JavaRosa problem because it doesn't have to do specifically with field lists. See test `FieldListUpdateTest.changeInValueUsedInOtherField_ShouldChangeValue`.

[2019-11-16 00:11] grzesiek2010 commented on #3450
I think you are more familiar with this part of code as an author of the feature but from what I know about the code I beg to differ...

Let's assume we have a form with three integer questions in field-list
1. Number 1
2. Number 2
3. Total which has calculation (Number 1 + Number 2)

If you enter a number for Number 1 (50) and then for Number 2 (60) this happens:
1. Total is calculated in javaros

[2019-11-16 01:20] grzesiek2010 commented on #208
Since we have to prepare our app for [scoped storage](https://developer.android.com/training/data-storage/files/external-scoped) so we can close it. We will be able to move the app between internal storage end sd card.

[2019-11-16 01:20] #208 closed, assigned to nobody

[2019-11-16 01:37] grzesiek2010 commented on #2259
The problem turned out to be with forks and has been fixed in https://github.com/opendatakit/collect/pull/3323 we will be even safer once we enable scoped storage and stop sharing databases with other apps.

[2019-11-16 01:37] #2259 closed, assigned to nobody

[2019-11-16 01:39] grzesiek2010 commented on #2235
I think the issue is caused by disabled animations like https://github.com/opendatakit/collect/issues/3368 @kkrawczyk123 or @mmarciniak90 please confirm

[2019-11-16 01:42] grzesiek2010 commented on #1996
Reviewing and updating dependencies is something I do after each release so we can close.

[2019-11-16 01:42] #1996 closed, assigned to nobody

[2019-11-16 01:47] grzesiek2010 commented on #1754
I haven't seen it recently so let's close.

[2019-11-16 01:47] #1754 closed, assigned to nobody

[2019-11-16 04:59] lognaturel commented on #3450
Huh. According to my notes [visible_calculate.xlsx](https://github.com/opendatakit/collect/files/3853835/visible_calculate.xlsx) failed outside the `field-list` at some point as well but I can't reproduce on `master` so either I was wrong or something has changed. Anyway, if you see a quick fix, please go ahead and make sure to enable the existing test. If it's not quick, please leave aside for no

[2019-11-16 18:47] lognaturel commented on #3379
This seems like it may be due to changes in the fork so closing until we get a reproduction on master.

[2019-11-16 18:47] #3379 closed, assigned to nobody

[2019-11-16 18:49] lognaturel commented on #3450
Duplicate of #3211

[2019-11-16 18:49] #3450 closed, assigned to grzesiek2010

[2019-11-16 18:50] lognaturel commented on #3156
Fixed by @seadowg a while ago.

[2019-11-16 18:50] #3156 closed, assigned to nobody

[2019-11-17 19:28] breakbusyloop commented on #3068
@mateusmedeiros @lognaturel
We should look into using an existing implementation for managing headers, since there are other concerns besides case sensitivity we may encounter (e.g. non ASCII characters in header, trailing whitespace in value field, etc.). It looks like we could either use okhttp3.Headers or com.google.api.client.http.HTTPHeaders. There's also a Sun implementation, but I assume th

[2019-11-18 14:49] kkrawczyk123 commented on #2235
@grzesiek2010 Confirmed that animations were turned off on Android 4.1 device.

[2019-11-18 18:29] lognaturel commented on #3068
Good point. I have a slight preference for the okhttp3 implementation because it feels more consistent across the networking layer.

This certainly doesn't sound like the best data structure but given that there are only ~40 standard header keys defined, I think O(n) lookup is totally fine. One thing you could consider doing is exploring whether an upstream change in okhttp3 would be welcome.

[2019-11-18 18:34] Saint-Cyr opened #3456 "Running on Android studio 3.5.2 faild"
#### Software and hardware versions
I just clonned a fresh repository and try to Run it from Android studio 3.5.2
I'm using Ubuntu 16.04 and Android studio 3.5.2

#### Problem description
I get the following error:
com.google.android.instantapps.sdk.lib.AdbCommandException: Error launching activity org.odk.collect.android/com.squareup.leakcanary.internal.DisplayLeakActivity
Command output:
Startin

[2019-11-18 21:14] #2235 closed, assigned to nobody

[2019-11-19 13:44] seadowg commented on #3456
It looks like you're trying to run this is an Instant App. Make sure you're run configuration in Android Studio has **Module** "collect_app" and **Deploy** is set to "Default APK". I'd try reimporting if you're unable to set those.

[2019-11-19 13:44] #3456 closed, assigned to nobody

[2019-11-19 16:55] lognaturel opened #3461 "Unify initial form discovery from sdcard or download and use data object instead of map to represent form metadata"
Context at https://github.com/opendatakit/collect/pull/3452#discussion_r347606204

This is an issue to track continuing a refactor started in https://github.com/opendatakit/collect/pull/3452. Please don't claim it for now -- I'll be taking it on when I can.

[2019-11-21 00:56] grzesiek2010 commented on #389
Now as we have [Remembering previously entered values](https://github.com/opendatakit/collect/pull/2882) we can close (especially that the author didn't even answer the question above)

[2019-11-21 00:56] #389 closed, assigned to nobody

[2019-11-21 01:29] grzesiek2010 commented on #1042
Maps have changed a lot for last 2 years, we can select layers, not styles but there is no need to clutter the map view. If anyone disagree we should probably discuss such a change on the forum.

[2019-11-21 01:29] #1042 closed, assigned to nobody

[2019-11-21 01:41] grzesiek2010 commented on #1430
It's probably a form with many items that use markdownToHtml() method as shown above. It's the same problem like this one: https://github.com/opendatakit/collect/issues/3297 formatting strings using html work not very fast unfortunately. I think we can close this issue.

[2019-11-21 01:41] #1430 closed, assigned to nobody

[2019-11-21 01:45] grzesiek2010 commented on #2005
I created a topic on the forum to discuss the issue https://forum.opendatakit.org/t/store-media-files-uploaded-to-google-drive-in-separate-directories/23435 so let's close this one and continue there.

[2019-11-21 01:45] #2005 closed, assigned to nobody

[2019-11-21 01:51] grzesiek2010 commented on #2211
Since it's an [android issue](https://issuetracker.google.com/issues/69168442) and it's nothing serious we can close and not to care.

[2019-11-21 01:51] #2211 closed, assigned to nobody

[2019-11-21 01:56] grzesiek2010 commented on #2593
Since we switched to okhttp and I'm not able to reproduce the issue again, we can close it.

[2019-11-21 01:56] #2593 closed, assigned to nobody

[2019-11-21 02:04] grzesiek2010 commented on #2714
I think it's not a `good first issue` because it's discouraging and demotivating... many new contributors tried and no one was able to fix it (then they disappeared) but at first glance it seems like something easy, In fact it's tricky, animations look different across different Android versions, we don't specify animations for other activities so we shouldn't do that here as well.

[2019-11-21 02:04] #2714 closed, assigned to nobody

[2019-11-21 02:09] grzesiek2010 commented on #2887
That option is not there anymore and Collect can't send messages automatically so we can close.

[2019-11-21 02:09] #2887 closed, assigned to nobody

[2019-11-21 10:50] seadowg commented on #3382
Clean up tasks to get this closed now #3455 is merged:

- [ ] Fix spacing for text widgets

Additional clean up I'll follow up with:

- [ ] Rework `QuestionWidget` so it is defined using XML - right now it's hard to work with layouts for widgets as everything is defined procedurally
- [ ] Rework `ODKView` so it is defined using XML - right now it's hard to work with layouts for widgets as everythi

[2019-11-21 15:18] kkrawczyk123 opened #3465 "Unable to log in on Server Requires Authentication dialog to Aggregate with anonymous access not allowed when submission URL identified in form."
#### Software and hardware versions
Collect v1.master.x, Android tested on 7.0, probably other versions too.x.x, device used...

#### Problem description
Input log in credentials is failing when try to send submission when the form has submission url identified to Aggregate that does not allow for anonymous access.

#### Steps to reproduce the problem
1. Fill submission of form with specified subm

[2019-11-21 18:36] #1272 closed, assigned to shouryaj

[2019-11-21 20:47] grzesiek2010 commented on #3223
`jr:choice-name` is handled in javarosa and we in collect don't know if the returned value is a result of `jr:choice-name` or not, so it would be difficult to collect such analytics. Does that make sense?

[2019-11-22 04:04] lognaturel commented on #3262
I'm still getting this periodically.
AS 3.5
Gradle 5.6.3
AGP 3.5.1

It feels like I wasn't experiencing for a while but I may just not have been in the code as much. It seems to maybe be related to switching branches?

[2019-11-22 09:46] seadowg commented on #3262
@lognaturel yeah for me it seems to be with built have code left hanging about. Always ok if I rebuild (in AS) when switching branches.

[2019-11-22 12:15] grzesiek2010 opened #3466 "java.lang.IllegalStateException in GoogleSheetsUploaderActivity.java:346"
#### Software and hardware versions
Collect v1.24.1 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/fe6c6f55e1e224d56a09e8a149ec7f76?time=last-seven-days&sessionId=5DD7CB9A003200011E64E17E8ECF7544_DNE_0_v2

`Fatal Exception: java.lang.IllegalStateException: Cannot execute ta

[2019-11-22 22:27] yanokwa opened #3468 "Downloading forms from Google Drive fails"
At first, I thought the failure was because of the new google-services.json file we are using, so I went back to v1.24 to try to get a working example.

v1.24 works great with the old JSON file. v1.25 fails with that same file.

I’ve narrowed it down to this commit: https://github.com/opendatakit/collect/commit/2463cfe567aeb059f2908791c336e401670c956d  that puts this error in the logs.

[code]

[2019-11-25 04:32] yanokwa commented on #3468
@grzesiek2010 I played around with this on Friday. I believe the problem is that in the google-services.json files we have in the repo, we don't have the oauth_client details either set correctly in the file or set correctly in Google Cloud Console or Firebase.

I'd recommend you start with the v1.25.0-beta tag and see if you can get either the debug or release build working with Google Drive. If

[2019-11-26 11:21] seadowg opened #3471 "Form with `track-changes-reason=on-form-edit` adds reason for change to audit log"
On form exit, Collect will show an “Enter reason for change” dialog if all the following are true:
* `track-changes-reasons` is set to `on-form-edit` in the form definition
* The `odk-instance-first-load` event was not fired at the beginning of this form session
* The user has explicitly changed (e.g., we ignore calculates) one or more values at some point in this form session (even if all changes

[2019-11-26 11:33] #3468 closed, assigned to grzesiek2010

[2019-11-26 11:34] #3448 closed, assigned to lognaturel

[2019-11-26 13:54] grzesiek2010 opened #3472 "RadioButtons/CheckBoxes are distorted"
#### Software and hardware versions
Current master branch

#### Problem description
This is what I see on Android 5.1 Samsung Galaxy S4:
![Screenshot_2019-11-26-15-07-25](https://user-images.githubusercontent.com/3276264/69639127-4d693e80-105c-11ea-8b6d-733b0d9855b8.png)
![Screenshot_2019-11-26-15-07-38](https://user-images.githubusercontent.com/3276264/69639130-4e01d500-105c-11ea-9ae4-ddff9d79ae1

[2019-11-26 14:06] seadowg commented on #3472
@grzesiek2010 you seeing this on any other devices?

[2019-11-26 14:07] grzesiek2010 commented on #3472
No.

[2019-11-26 14:08] grzesiek2010 commented on #3472
I know which commit causes it so I'll take a look to check if there is a smile solution.

[2019-11-26 14:15] grzesiek2010 commented on #3472
@seadowg
https://github.com/opendatakit/collect/commit/326aa876806265c37a58bc72748764cc627c350a#diff-de55feb5ba476c75a8ef9928aec0b362

That file causes it, it's a workaround because you had problems with margins?

[2019-11-26 14:16] #3435 closed, assigned to seadowg

[2019-11-26 14:18] seadowg commented on #3472
The `inset`? Yeah that gives us a clickable left/start margin. I've got an [SO question open](https://stackoverflow.com/questions/58913567/how-to-add-padding-before-checkbox-radiobutton-across-api-levels) around a better way but no joy yet 😭

[2019-11-26 14:19] grzesiek2010 commented on #3472
If I see that on my device I'm sure many of the users will notice it as well.

[2019-11-26 14:24] seadowg commented on #3472
Yeah would be good to get a sense of if this is a Samsung issue or it's specific to API levels as this hadn't come up on emulators or in QA. It might be we need to go with a more hacky solution like a view that propogates clicks to the `RadioButton` to get this margin to work properly.

[2019-11-26 19:07] lognaturel commented on #3472
Yikes. No such issue on my Samsung Galaxy Tab A, Android 5.1.1.

[2019-11-26 21:20] breakbusyloop commented on #3335
I barely have a sense of what's going on here, but I see enough to have a strong opinion. Using a secondary characteristic (file name change) as a source of primary information has the same pitfalls as the use of sentinels, and will forever be a bug factory.

I really prefer the first option:
 * instead of renaming CSVs to mark them as ingested, leave the files untouched and use a file hash to det

[2019-11-26 21:25] breakbusyloop commented on #3334
I'm interested in this issue. There's a lot of context I don't yet have. Is the change really as simple as inserting the following in just the right place?  , "file-csv"

I'm concerned about the ordering issue in the list of root translators. Is there a latent bug, or is this something outside of our control?

If I do take this issue, I'll need a crash course on secondary instances. My hunch is ju

[2019-11-26 21:35] lognaturel commented on #3334
Yes, it really is that simple. But this will unmask #3335 which is more annoying.

It's been a while since I looked at this so it would be good to double check but here's how I remember it:
- forms can contain file paths structured like `jr://file/foo` or `jr://file-csv/foo`
- the path translators use string matching to identify how to do the conversion to paths on the device
- `jr://file` is a su

[2019-11-26 21:39] lognaturel commented on #3335
➕➕➕

I agree that the first option would be much better.

You're getting into some really head-scratching territory here. You'll see that search()/pulldata() is a different way of accessing data in files external to the form definition as what is described in #3334.

https://forum.opendatakit.org/t/external-data-current-state-of-affairs should hopefully provide some context.

[2019-11-26 21:48] breakbusyloop commented on #3334
The path translators should be able to distinguish between a terminal value ('foo') and a form translator identifier. It sounds like a greedy string matching approach is being used. But since the paths have to follow a known structure (with '/' as an important signifier) it seems this really should be fixed in OpenRosa. I'll see if I can write a test that can expose its brittleness.

Haha about in

[2019-11-26 22:48] lognaturel commented on #3334
Agreed. And now I can't even remember whether the implementation is actually in JavaRosa or whether it's a JR interface implemented in Collect.

[2019-11-27 15:59] grzesiek2010 commented on #3313
Dealing with providers seems fine but there is a problem with those strings...

In `GeoShape` and `GeoTrace` the message is hardcoded so it always starts with `GPS location accuracy:` and then we just add a value (`GPS location accuracy: %.2f m`)
In `GeoPoint` we use a different string `Using %1$s. Accuracy is %2$s m.`

I think in all widgets the message should be the same (or at least as similar

[2019-11-27 16:22] grzesiek2010 opened #3475 "NullPointerException in InstanceSyncTask.java:215"
#### Software and hardware versions
Collect v1.24.1 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b7a80a66007d59fcd4bf0d9?time=last-seven-days&sessionId=5DDD0F8900D4000133585BD628CDAD15_DNE_0_v2

[code]

[2019-11-28 04:54] #3475 closed, assigned to grzesiek2010

[2019-11-28 11:07] alokbatham commented on #3446
@opendatakit-bot claim

[2019-11-28 11:07] alokbatham commented on #3446
@opendatakit-bot claim --force

[2019-11-28 14:07] mmarciniak90 opened #3479 "Collect crashes when the offline layer is changed to 'None'"
#### Software and hardware versions
Collect master

#### Problem description
Collect crashes when the offline layer is changed to 'None'

#### Steps to reproduce the problem
Preconditions:
1. User uses Mapbox
2. The offline layer is set

Use case 2:
1. User fills the form with some Geo widget with map
2. User opens layers dialog
3. User selects `None`
4. Collect crashes

#### Expected behavior
The

[2019-11-29 15:42] kkrawczyk123 opened #3481 "Saved credentials are stored after resetting settings"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
Saved credentials are stored after resetting settings

#### Steps to reproduce the problem
1. Log to Aggregate with anonymous access not allowed in General Settings
2. Click on Get Blank Form - list of the form should be visible
3. Go to Admin Settings/Reset application, select Reset All Se

[2019-11-29 15:54] #3465 closed, assigned to grzesiek2010

[2019-12-02 09:43] #3150 closed, assigned to grzesiek2010

[2019-12-02 10:33] #3235 closed, assigned to grzesiek2010

[2019-12-02 13:53] #3479 closed, assigned to grzesiek2010

[2019-12-02 20:47] grzesiek2010 opened #3486 "The app crashes if items used in Rank widget come from search function"
#### Software and hardware versions
Collect v1.24.1 and older versions

#### Problem description
The app crashes if items used in Rank widget come from search function.

#### Steps to reproduce the problem
Try the attached form:
[search_and_select.zip](https://github.com/opendatakit/collect/files/3913242/search_and_select.zip)

[2019-12-03 03:10] lognaturel commented on #3373
There's a note in the contribution guide, the most common leaks have been addressed, and we're back on track with a process to file issues and address leaks as they're identified so we can close this issue.

[2019-12-03 03:10] #3373 closed, assigned to nobody

[2019-12-03 12:49] #3472 closed, assigned to grzesiek2010

[2019-12-03 15:18] #3481 closed, assigned to grzesiek2010

[2019-12-03 16:06] #3068 closed, assigned to nobody

[2019-12-03 16:57] #3466 closed, assigned to grzesiek2010

[2019-12-03 18:42] lognaturel commented on #3360
@grzesiek2010 has done the important exploration and learning tasks that we set out to do for v1.25. We've decided to wait on code changes so I'm removing from milestone.

[2019-12-03 18:42] lognaturel commented on #3300
@grzesiek2010 has done initial documenting. We need to triage into issues.

[2019-12-03 18:42] #3300 closed, assigned to nobody

[2019-12-03 19:00] breakbusyloop commented on #3334
Looks like it's in JavaRosa, specifically ReferenceFactory.derives

[2019-12-03 19:19] breakbusyloop commented on #3335
It looks like the CSV file renaming happens in ExternalDataReaderImpl.doImport. The file will be reimported if it shows up again with the same name. After we stop renaming files, we could reimport based on a file hash (which requires reading the whole file, right?), or we could reimport based on simpler attributes like the file timestamp.

[2019-12-03 21:20] lognaturel commented on #3335
Yes, the hash does require reading through the whole file. See `FileUtils.getMd5Hash` for how that's currently done. I think it's ok to do that work since there isn't particularly a need for high performance when downloading a new form version. But I can't see a reason why file timestamp wouldn't be sufficient in this case.

[2019-12-03 21:22] breakbusyloop commented on #3335
I'm noticing some expected database structure in ExternalDataUtil.java. We could include the previously imported file timestamp in the database as a separate ODK metadata table. Other metadata could include the ODK version used to create the database file. Is there a broader need for such metadata, or does it already exist?

[2019-12-03 21:28] lognaturel commented on #3335
That seems reasonable to me. I don't think any of this kind of metadata is currently stored.

[2019-12-03 21:48] grzesiek2010 commented on #3313
@lognaturel you were off when I share my thoughts so you might have missed it. Anyway, when you are free please let me know what you think.

[2019-12-03 22:09] lognaturel commented on #3313
Using `Location accuracy is %s m` across the board sounds good to me. Using a string and making sure the value passed into it has two decimals will be an improvement over using the format string to get the right precision. Notice that we should include the units (m) in the translation string, though, so that it can be localized.

How about we do this in the beginning of v1.26 so the string has tim

[2019-12-04 03:14] lognaturel opened #3491 "Vertical spacing around question components and select labels is excessive"
#### Software and hardware versions
Collect v1.25.0-beta.0

#### Problem description
[In the v1.25 beta forum thread](https://forum.opendatakit.org/t/odk-collect-v1-25-beta-preview-of-increased-spacing-for-selects/23439), several users have shared that they find the new spacing excessive.

I see two options:
1) Reduce the default spacing
2) Introduce a setting to get compact spacing

[2019-12-04 11:31] grzesiek2010 commented on #3391
Does that happen if you cancel and start sending forms again?

[2019-12-04 13:36] mmarciniak90 opened #3493 "Margin is not noticeable for widgets with buttons when a value is added manually"
#### Software and hardware versions
Collect v1.25

#### Problem description

Margin is NOT visible for widgets:
* Ex string when a value is added manually
* Ex integer when a value is added manually
* Ex decimal when a value is added manually
* Bearing when a value is added manually

#### Steps to reproduce the problem
1. User opens one on mentioned widgets
2. User clicks on the button
3. Text fie

[2019-12-04 13:51] #3382 closed, assigned to seadowg

[2019-12-04 14:25] #3491 closed, assigned to nobody

[2019-12-04 15:30] #61 closed, assigned to nobody

[2019-12-04 15:34] grzesiek2010 commented on #3313
Ok I'll remove it form 1.25

[2019-12-04 16:29] grzesiek2010 commented on #2375
We can't send form via SMS because of the Google policy so we can close.

[2019-12-04 16:29] #2375 closed, assigned to nobody

[2019-12-04 16:33] grzesiek2010 commented on #2710
@lognaturel what about this, can we add it back?

[2019-12-04 16:36] grzesiek2010 commented on #3093
should it be a setting or an appearance?

[2019-12-04 16:38] lognaturel commented on #2710
Thanks for doing a triage pass, @grzesiek2010. Were you thinking you might want to add it for this upcoming beta? I think that would be fine and we'd just have to be ready to roll back if any issues at all come in.

[2019-12-04 16:40] lognaturel commented on #3093
I think this really needs more conceptual discussion. Is configuring the coordinate display the most useful thing we can do? Or could we try to show a map if connectivity is available? Perhaps truncate the DMS values so that there's more space and multiple formats can be displayed? What are data collectors going to do with this information? This kind of discussion should go on the forum.

[2019-12-04 16:40] #3093 closed, assigned to nobody

[2019-12-04 16:51] grzesiek2010 commented on #3313
Ohh I've just noticed there is another issue https://github.com/opendatakit/collect/issues/3324
I though we can just display the accuracy but apparently there is someone who needs more information. We need to decide which direction is better.

[2019-12-04 17:07] lognaturel commented on #61
@geomapdev At very long last, this is now a reality! It's currently in beta if you'd like to check it out: https://forum.opendatakit.org/t/visualize-on-the-fly-in-the-mobile-phone-the-data-collected-with-odk-on-a-map/12881/19

[2019-12-04 19:35] breakbusyloop commented on #3334
I'm not able to confirm that order actually matters for the list of root translators. I've created a test that demonstrates this, but out of excess caution I also have a test that ensures the root translators are added in an unambiguous order.

[2019-12-04 21:04] lognaturel opened #3494 "Behavior when recovering from savepoint file is implicit and confusing"
1. Tap Start new form and select a form
1. Fill some values
1. Kill Collect
1. Reopen Collect
1. Tap Fill Blank form and select the same form as before

The hierarchy view is shown with some values filled in. This is because Collect recovered from a savepoint file.

1. Tap Start new form and select a form
1. Fill some values
1. Tap the save button on the toolbar
1. Fill some more values
1. Kill Co

[2019-12-04 22:41] #2710 closed, assigned to nobody

[2019-12-04 22:56] grzesiek2010 opened #3496 "Using submission_url from instances.db might block uploading forms"
#### Software and hardware versions
Collect v1.24.1 and older versions

#### Problem description
submission_url from instances.db is used to upload filled forms, that mean if a user downloads a form with a wrong submission_url and fills some form he is not able to upload them even after downloading a fixed form.

#### Steps to reproduce the problem
1. Create and download a form that contains a wro

[2019-12-05 00:40] breakbusyloop commented on #3334
This is fixed now, along with tests and some light refactoring. I'll wait until this has been assigned to a new milestone before I issue a pull request. In the meantime I'll tackle issue 3335.

[2019-12-05 01:30] florianm commented on #3093
Quick answer to @lognaturel
We capture some data on tablets, and some on paper datasheets. When transcribing / reconciling / comparing, we need to see the captured coordinates from Geopoints in decimal degrees WGS84. A map won't help much as we'll be offline. For us, it's about the digits.

[2019-12-05 03:49] lognaturel commented on #3093
I see, that makes sense, @florianm, thanks! Next step will be to take these various suggestions about location display and put together a proposal for the forum.

[2019-12-05 03:54] lognaturel commented on #3496
Perhaps what we could do is expand what the fallback submission URL does and try it if the URL in the form fails with specific errors.

It doesn't feel right to me to use some contents from a new form definition in the context of instances filled with an old form definition.

[2019-12-05 04:25] lognaturel opened #3497 "Don't select Mapbox as a basemap source if it is unavailable"
#### Problem description
When Mapbox is unavailable, a toast is shown to that effect. However, Mapbox is still selected as the source which is confusing. See https://forum.opendatakit.org/t/confused-about-current-state-of-offline-basemaps/23694.

#### Steps to reproduce the problem
1. Use an emulator
1. Change the map source to Mapbox and see the toast error that Mapbox is unavailable
1. Notice th

[2019-12-05 10:32] grzesiek2010 commented on #3496
What about a checkbox `Override submission URL specified on a form level` that would allow users send submissions with a wrong url to a different server. I think it would be easier. The problem I described is not common especially compared to all the other exceptions that might happen while uploading a filled form, so catching those exceptions and asking a user whether the used url is correct seem

[2019-12-05 10:55] seadowg commented on #3334
@OpenDataNerd go ahead and put up a pull request if you want! If you're not ready for review you can create a [Draft PR](https://github.blog/2019-02-14-introducing-draft-pull-requests/) or if it is ready we're happy to have it. PRs can still be reviewed (potentially with a slower feedback cycle) during code freeze, we just [don't merge them](https://github.com/opendatakit/collect#release-cycle).

[2019-12-05 14:25] seadowg commented on #3494
We're also seeing problems with the audit log because of this:

1. Open form to edit (with `track-changes`)
2. Change a value
3. Kill app
4. Open form to edit again
5. Save

We don't see the `question` event with the change.

[2019-12-05 14:36] seadowg opened #3498 "Form with `track-changes` missing changes for question if edited after save"
#### Software and hardware versions
Collect v1.24.x

#### Problem description

If a form is saved while viewing a question (using the 💾 icon) and then a change is made the `question` event will not have its `old-value` and `new-value` populated.

#### Steps to reproduce the problem

1. Fill in the [attached form](https://github.com/opendatakit/collect/files/3927316/track-changes.zip).
2. Open the

[2019-12-05 17:24] #3471 closed, assigned to seadowg

[2019-12-05 21:57] breakbusyloop commented on #3334
@seadowg Thanks, I posted the draft request. The changes include a fix for your new AuditEventSaveTask which was causing test failures on Windows. I probably should have created a separate branch for that fix since it's unrelated to this external CSV secondary instance work, but it's stuck here now. None of these changes are urgent.

[2019-12-06 10:10] mmarciniak90 opened #3502 "No focus on text field on Server URL / Username / Password dialogs, keyborad does not appear - Android 9.0"
#### Software and hardware versions
Collect v1.25.0 beta 2,
Android v9.0, v10.0

#### Problem description
No focus on text field on Server URL / Username / Password dialogs, keyboard does not appear

#### Steps to reproduce the problem
1. User goes to General Settings -> Server
2. User clicks on URL / Username /  Password
3. Dialog appears but without the focus on text field and the keyboard does

[2019-12-06 11:10] mmarciniak90 opened #3504 "Part of text is cut in RTL language on Android 7"
#### Software and hardware versions
Collect v1.25. beta2
Android v7

#### Problem description
Part of text is cut in RTL language on Android 7

#### Steps to reproduce the problem
1. Set some RTL language
2. Open `All widgets` form

| v1.24.1 | v1.25 beta 2|
| ---|---|
|![Screenshot_20191206-115842](https://user-images.githubusercontent.com/3907554/70318780-20b5e380-1821-11ea-95ba-481eaf7ee07c.png

[2019-12-06 11:11] mmarciniak90 commented on #3504
@opendatakit-bot label "regression"

[2019-12-06 15:08] seadowg commented on #3504
Looks like 57a1464478b539b7858d708f56946db0a64fcaf2 is responsible for this. Not quite sure what part yet though.

[2019-12-06 17:50] breakbusyloop commented on #3335
It appears that the search/pulldata feature always consumes any CSV files in the form media directory regardless of whether they are referenced in the form. As a first step in this fix I'll look into having the CSV ingestion happen only for relevant files. The bug could still be present if the form references the same CSV file as an external secondary instance as well as a search/pulldata referenc

[2019-12-06 18:13] breakbusyloop commented on #3335
(notes to self and other devs following this work...)

- The search/pulldata features landed in 2014 as change 2f9c1b6, and did not include any tests.
- The example files included in that change that demonstrated this feature have since gone missing. I've attached the one included in the original change. [Sample-SearchAndSelect.zip](https://github.com/opendatakit/collect/files/3933419/Sample-Searc

[2019-12-06 18:21] breakbusyloop commented on #3334
(for reference...)
The XForms side of this discussion seems relevant: https://github.com/opendatakit/xforms-spec/issues/88

[2019-12-06 22:23] lognaturel opened #3506 "Geopoint for encrypted form is kept in cleartext in the instance database"
Form encryption ensures that no one can get access to sensitive form data while it's on the device. Currently, the first geopoint from an encrypted form is stored in the instance database. When encryption happens on form finalization, that point should be removed.

[2019-12-07 20:44] breakbusyloop opened #3507 "Gradle 6.0 deprecates implicit semantics for handling file collisions"
#### Software and hardware versions
Collect v1.2.5

#### Problem description
NOTE: Affects developers only. May be specific to Windows.
Gradle has deprecated features and changed behavior that the ODK build relies on. After upgrading to Android Studio 3.6 (currently in beta) and Gradle 6.0.1 you receive the following warning when trying to build:
[code]

The build itself fails with strange errors

[2019-12-09 08:02] kkrawczyk123 opened #3508 "Answers do not fit to 3 columns on Select one and Select multiple widgets"
#### Software and hardware versions
Collect v1.25.x, Android v4-10.x.x, device used...

#### Problem description
Answers do not fit to 3 columns on Select one and Select multiple widgets, screenshot attached:
![Screenshot (Dec 9, 2019 8_41_18 AM)](https://user-images.githubusercontent.com/33342488/70417861-6e6d5e80-1a62-11ea-8b7d-aadd974c9c0c.png)

#### Steps to reproduce the problem
Just open sel

[2019-12-09 08:16] kkrawczyk123 opened #3509 "Answers are not visible for Select one and Select multiple widgets with 3 columns appearance on Androids 4 and 5"
Software and hardware versions
Collect v1.25.x, Android v4.4, 5.1, device used...

#### Problem description
Answers are not visible for Select one and Select multiple widgets with 3 columns appearance on Androids 4 and 5 screenshot attached:
![Screenshot_2019-12-09-08-40-27](https://user-images.githubusercontent.com/33342488/70418203-45010280-1a63-11ea-9377-bd14f599d5db.png)

#### Steps to reprodu

[2019-12-09 17:51] lognaturel opened #3510 "Instance geometry is not saved if user has manually tapped save button before capturing it"
#### Problem description
Discovered while addressing #3506. Geopoint is not saved and instance is not mapped if user has manually tapped save button before capturing point.

#### Steps to reproduce the problem
1. Open a form with a geopoint outside of any repeat (e.g. All Widgets)
1. Tap the save button
1. Collect a geopoint
1. Save and exit
1. Open the map view

The instance won't appear because

[2019-12-09 19:44] lognaturel commented on #3461
Similarly, saving instances to disk would really benefit from higher-level abstractions. See #3511.

[2019-12-09 21:54] grzesiek2010 opened #3513 "Paddings not set for some select widgets"
#2849 ## Software and hardware versions
Collect v1.25.0-beta

#### Problem description
Paddings for select widgets with appearances: `compact` and `column-flex no-buttons` are not set.
![Screenshot_2019-12-09-23-48-22](https://user-images.githubusercontent.com/3276264/70476307-bb8b1800-1ad6-11ea-9028-a7ce8eb64b5b.png)
![Screenshot_2019-12-09-23-48-36](https://user-images.githubusercontent.com/3276

[2019-12-09 22:40] lognaturel opened #3514 "With OpenStreetMap or Google mapping engines, offline layer is not displayed after initial zoom to geolocation"
#### Software and hardware versions
Collect v1.25

#### Problem description
With OpenStreetMap or Google mapping engines, offline layer is not displayed on load. This works as intended with Mapbox -- the offline layer is displayed on load.

#### Steps to reproduce the problem
1. Put a raster mbtiles file that does not provide very zoomed tiles into the `/sdcard/odk/layers` folder (e.g. https://git

[2019-12-09 22:40] lognaturel commented on #3514
Need to check whether this is a regression.

[2019-12-09 22:50] lognaturel opened #3515 "With Mapbox mapping engine, switching layers results in overlays disappearing"
#### Software and hardware versions
Collect v1.25, Android vx.x.x, device used...

#### Problem description
With Mapbox mapping engine, switching layers results in overlays disappearing.

#### Steps to reproduce the problem
1. Put a raster mbtiles file into the `/sdcard/odk/layers` folder (e.g. https://github.com/klokantech/vector-tiles-sample/releases/download/v1.0/countries-raster.mbtiles)
1. Op

[2019-12-10 08:39] seadowg commented on #2946
These look good to me!

[2019-12-10 09:06] #3504 closed, assigned to seadowg

[2019-12-10 14:09] grzesiek2010 opened #3517 "Avoid sending duplicated submissions to a server"
#### Software and hardware versions
Collect v1.25 and older versions

#### Problem description
In Collect a user can send the same filled form to a server multiple times. They just need to go to `Send Finalized Form -> Three dots -> Change view -> Show Sent and Unsent Forms`.

Of course it could be a responsibility of a server as well but neither Aggregate nor Central has such an option, moreover

[2019-12-10 14:49] #3508 closed, assigned to grzesiek2010

[2019-12-10 14:49] #3509 closed, assigned to grzesiek2010

[2019-12-10 16:32] #3506 closed, assigned to lognaturel

[2019-12-10 16:32] #3510 closed, assigned to lognaturel

[2019-12-10 21:02] lognaturel commented on #3514
Can reproduce in v1.23 so this is not new behavior. I think it has to do with rendering order. I can actually see the offline layer when the map is first loaded but then it disappears when the viewport is zoomed to the current location and only comes back if the layer is selected again.

[2019-12-10 23:26] breakbusyloop commented on #3335
@opendatakit-bot claim

[2019-12-10 23:33] breakbusyloop commented on #3335
@opendatakit-bot claim --force

[2019-12-11 00:32] breakbusyloop commented on #2694
I've had a lot of trouble finding evidence of the crash in the logs, but using exception breakpoints reveals that the first null pointer exception that is triggered by the repro steps comes from DiskSyncTask.doInBackground.

In the following code fragment, formDefs is null due to the inability to access the filesystem.

[code]

[2019-12-11 08:44] kkrawczyk123 opened #3519 "Unintentional Saving form dialog and app freeze after input, save and screen rotation"
Software and hardware versions
Collect v1.x25.x, Android v5, 7 probably all.x.x, device used...

#### Problem description
Saving dialog is displaying and freezing the screen after text input, saving and screen rotating, it is also causing crashes

#### Steps to reproduce the problem
1. Open any form on any text question (I have used All wigdets)
2. Input text
3. Click on Save icon
4. Rotate the sc

[2019-12-11 09:03] seadowg commented on #3519
I can look at this. @opendatakit-bot claim

[2019-12-11 09:41] seadowg commented on #3519
Ach this is because of some really dumb code that I wrote. Basically I have the `FormEntryActivity` that triggers a save based on a LiveData observation. Of course LiveData observations are rerun when the Activity resumes so that absolutely does not work. Similar problem to using LiveData to trigger a toast - don't use them for ephemeral things or "actions".

In the past a way I've seen this model

[2019-12-11 10:53] seadowg opened #3521 "Form saving should move out of `FormEntryActivity`"
Right now `FormEntryActivity` creates and executes a `SaveToDiskTask` and adds itself as a listener. It also has control of the "lifecycle" of saving a form - validation, encryption etc. These details are all things the `FormEntryActivity` shouldn't really need to care out. Ideally it would just be able to say "save now" and get told when to show UI changes to the user around saving (error dialogs

[2019-12-11 13:55] #3513 closed, assigned to grzesiek2010

[2019-12-11 16:06] #3519 closed, assigned to seadowg

[2019-12-11 20:41] devansh-299 commented on #3001
Cannot reproduce this , I think this issue can be closed

Collect v1.25.0
Android 9

[2019-12-11 21:48] lognaturel commented on #3001
Thanks, @devansh-299!

[2019-12-11 21:48] #3001 closed, assigned to nobody

[2019-12-11 22:50] breakbusyloop commented on #3335
I believe I have addressed this now in commit 62f31d6. The External Data handler for search()/pulldata() will still import any CSV file it comes across, but it will no longer rename the file. Instead it tracks the file modification timestamp in a metadata table in the SQLite database file holding the ingested data.

[2019-12-11 23:01] lognaturel opened #3522 "Forms with external secondary instances fail to parse on copy or download"
#### Software and hardware versions
Collect v1.25

#### Problem description
Forms with external secondary instances fail to parse on copy or download. Discovered while reviewing #3518. This issue has come up because the XForm is now parsed on ingestion and parsing a form def with an external secondary instance requires that external secondary instance file to actually exist as described in https:/

[2019-12-11 23:47] grzesiek2010 commented on #2219
I think we could just have a link to https://github.com/opendatakit/collect/releases in `About` section. I agree that something that would show up on first launch is not a good idea.

[2019-12-11 23:50] grzesiek2010 commented on #2249
We can close this issue since it's related to httpclientandroidlib that we replaced with okhttp.

[2019-12-11 23:50] #2249 closed, assigned to nobody

[2019-12-11 23:54] grzesiek2010 commented on #2057
There are lots of places we could cover with tests but creating a separate issue for every one which then exists for a long time doesn't make much sense. So we can close it.

[2019-12-11 23:54] #2057 closed, assigned to nobody

[2019-12-12 09:45] mmarciniak90 opened #3525 "Current location can't be manually added in Placement by tapping method"
#### Software and hardware versions
Collect v1.25

#### Problem description
Current location can't be manually added in Placement by tapping method

#### Steps to reproduce the problem
1. Open a geoshape or geotrace question
2. Set the point collection mode to "Placement by tapping"
3. Go to a place where location is available
4. Try to tap in the accuracy circle to add a point

#### Expected beha

[2019-12-12 09:45] mmarciniak90 commented on #3525
@opendatakit-bot label "regression"

[2019-12-12 10:19] mmarciniak90 opened #3526 "User is not moved to Track Changes Reason view after minimization"
#### Software and hardware versions
Collect master
Android 7.0, 9.0
Correct behavior on Android 5.1

#### Problem description
User is not moved to Track Changes Reason view after minimization

#### Steps to reproduce the problem
1. User edits a form which tracks changes [track-changes-reason-on-edit.xml.txt](https://github.com/opendatakit/collect/files/3955134/track-changes-reason-on-edit.xml.txt)

[2019-12-12 15:37] lognaturel commented on #3526
They're just back in the form edit view and need to trigger a save again to track the reason, right? If so, this doesn't seem like a big deal to me.

[2019-12-12 15:42] lognaturel commented on #3526
@mmarciniak90, you probably have Do Not Keep Activities on, right?

[2019-12-12 17:02] seadowg commented on #3526
@lognaturel @mmarciniak90 yeah I can't reproduce this without enabling "Don't Keep Activities". Unless you're seeing something different I'd potentially vote for closing this. Not sure we'd want to go to the both of making that work for that scenario.

[2019-12-12 17:28] lognaturel commented on #2219
This really should be more of a forum discussion and a spec will need to be reviewed/approved by the TSC. It's related to https://forum.opendatakit.org/t/faq-or-guide-section-in-odk-collect-android-application/9684. Let's close for now.

[2019-12-12 17:28] #2219 closed, assigned to nobody

[2019-12-12 18:55] lognaturel commented on #3335
@OpenDataNerd That commit looks really great.

[2019-12-12 19:16] lognaturel commented on #84
At very long last, we have a specification! https://github.com/opendatakit/xforms-spec/pull/257/files

The addition to make is that if a field with a `binary` bind has a value with the `jr://` scheme, it should be resolved against the form's files (same way that `jr://` URIs are resolved everywhere else using the `ReferenceManager`).

[2019-12-12 21:19] breakbusyloop commented on #3335
@ln thanks. There were many commits before it that will be in the overall PR (lots of refactoring for SQLite querying), but I'm waiting until my other PR is accepted before posting this one (which depends on it, but GitHub doesn't supported chained PRs).

[2019-12-12 21:31] breakbusyloop commented on #2694
I tested a code change with a fix for the DiskSyncTask null pointer reference, but that did not address the problem with the app crashing. I also tried registering a hook for unhandled exceptions, but no unhandled exceptions were making it to the exception handler. The problem may be occurring in a third party or in the Android system. I see exceptions like the following getting thrown right befor

[2019-12-12 21:32] breakbusyloop commented on #2694
Ultimately the solution may be to force the user to exit the app after warning them to fix permissions. Currently the warning dialog appears but does not prevent the user from continuing to use the app. Without file permissions they can't get far, so perhaps we shouldn't let them use the app at all once we detect this problem.

[2019-12-12 23:39] grzesiek2010 commented on #3526
I agree it takes place only with `Don't Keep Activities`, we can close.

[2019-12-12 23:39] #3526 closed, assigned to grzesiek2010

[2019-12-13 07:07] andrewsiew2 opened #3529 "Inconsistent behavior on QR Code scan with bad inputs"
#### Software and hardware versions
Collect v1.24.1, Android v4.4.4, device used Nexus 7

#### Problem description
QR code either crashes or shows no Toast message on bad inputs.

On using "test" and "test123456789101112 " as QR Code inputs the scanner exits and there is no toast message indicating that the QR Code is invalid.

On using "test12345" the application crashes. A message saying "Unfort

[2019-12-13 10:36] #3525 closed, assigned to grzesiek2010

[2019-12-13 11:42] #3522 closed, assigned to lognaturel

[2019-12-13 13:52] mmarciniak90 opened #3530 "Readonly is not respected in a few appearance types on Select one/multiple widgets"
#### Software and hardware versions
Collect master

#### Problem description
Readonly is not respected in a few appearance types

#### Steps to reproduce the problem
1. Fill form[SelectTest.zip](https://github.com/opendatakit/collect/files/3961073/SelectTest.zip)
2. Few questions are editable

#### Expected behavior
Questions are not editable

[2019-12-13 13:52] mmarciniak90 commented on #3530
@opendatakit-bot label "regression"

[2019-12-13 14:58] mmarciniak90 opened #3533 "The unexpected form is available to fill"
### Software and hardware versions
Collect master

#### Problem description
User is able to fill the form with invalid submission URL

#### Steps to reproduce the problem
1. User downloads form: [form-with-invalid-submission-url.xml.txt](https://github.com/opendatakit/collect/files/3961324/form-with-invalid-submission-url.xml.txt)
2. The form is visible on the `Fill Blank Form` list

#### Expected

[2019-12-13 15:33] kkrawczyk123 opened #3535 "Unable to download forms without media attachments"
#### Software and hardware versions
Collect current master.x, Android v7, 9 probably all.x.x, device used...

#### Problem description
The error message is displayed when try to download form from Central:
![Screenshot_20191213-161532](https://user-images.githubusercontent.com/33342488/70811264-8d9f1f80-1dc5-11ea-9f11-fe040b5efd1e.png)

#### Steps to reproduce the problem
1. Import settings via QR

[2019-12-13 15:46] breakbusyloop commented on #2955
I have this same experience using Google apps like Hangouts on a device where I only have one account signed in. I regularly see the same prompt to select an account to use, where the only account presented to me is not selected by default. As @grzesiek2010 mentioned this may be behavior in the Google API that is out of our control.

[2019-12-13 16:27] breakbusyloop commented on #1939
@mmarciniak90 is there an easy way to get that many forms onto a device for testing this repro? Do you have a .zip of forms that I can download to use in testing?

[2019-12-13 16:47] seadowg commented on #3535
Looks like the error message comes from `FormDownloader#processOneForm`

[2019-12-13 16:51] seadowg commented on #3535
Seeing a `NullPointerException` at line 175 in `FormDownloader`:

[code]

Here `tempMediaPath` is `null`.

[2019-12-13 16:55] seadowg commented on #3535
The `tempMediaPath` being `null` seems to be because the `FormDetails` passed to `processOneForm` returns `null` for `getManifestUrl()`.

[2019-12-13 17:27] lognaturel commented on #236
As @smoyth says, compression of form definitions is handled server-side and works well and submissions are (generally) small.

[2019-12-13 17:27] #236 closed, assigned to nobody

[2019-12-13 21:05] grzesiek2010 commented on #3533
I fixed the problem on the javarosa side https://github.com/opendatakit/javarosa/pull/518/
The problem was that after changes implemented in https://github.com/opendatakit/collect/pull/3523 we started using FormDef.getSubmissionProfile() method to get the defined submission.
However that method was broken because it returned values using just the default key but if a submission contained its own i

[2019-12-13 21:07] lognaturel commented on #3533
This is the same form that was used at https://github.com/opendatakit/collect/pull/3452#issuecomment-558230900. Please make sure it's modified in your test form suite to not have an `id`! Setting the `id` attribute on a submission is not supported. The intent for that feature in JavaRosa was for clients to be able to send different parts of a form to different servers.

I think this behavior is co

[2019-12-13 21:13] grzesiek2010 commented on #3533
Without that id everything is fine, I didn't know it's not supported...

[2019-12-13 21:14] lognaturel commented on #3533
So sorry about that, @grzesiek2010. I didn't want to get distracted from what I was doing so I didn't look at this issue long enough to see it was one we'd already discussed. 😭

[2019-12-13 21:16] grzesiek2010 commented on #3533
No worries. Ok so we can close?

[2019-12-13 21:23] #3533 closed, assigned to grzesiek2010

[2019-12-14 03:25] lognaturel commented on #2955
Good to know, @OpenDataNerd. Let's close.

[2019-12-14 03:25] #2955 closed, assigned to nobody

[2019-12-14 03:28] lognaturel commented on #3529
Thank you, @andrewsiew2! If you want to claim it, please comment with `@opendatakit-bot claim` so no one else takes it.

[2019-12-14 03:40] lognaturel commented on #3533
As I was looking at https://github.com/opendatakit/javarosa/pull/518, I realize that I misunderstood what the `id` was intended for. It's the `bind` that's supposed to identify a subset to submit. This is also unsupported. `id` is for [specifying multiple submission actions](https://en.wikibooks.org/wiki/XForms/Submit#The_Submit_Element). @opendatakit/testers please modify the form to have no `id`

[2019-12-14 03:50] lognaturel commented on #3529
I think this is a duplicate of #2993, right?

[2019-12-14 12:18] seadowg opened #3538 "Rework `FormDownloader`"
We recently added tests to the `FormDownloader` (#3537) and doing so revealved some awkwardness in it's design. I think we should look at using the things we don't like about the tests to drive out a refactor here:

1. This object shoudn't require Robolectric to be tested. To remove it we'd most likely need to remove/invert it's dependencies on the `Collect.getInstance()` singlton.
2. We shouldn't

[2019-12-14 14:46] breakbusyloop commented on #3538
I like to follow this rough pattern for refactoring code to expand test coverage:

1. Split out the obvious 'helper' snippets of code, especially code that is free of side effects but is adjacent to code with side effects. E.g. `downloadXform` needs helpers for `sanitizeFormName` (the regex), `generateFilenameFromFormName` (with file I/O, but still testable), and `proposeFilename` (helper to gener

[2019-12-14 15:00] breakbusyloop opened #3539 "Rework `DiskSyncTask`"
The app crash in issue #2694 surfaces as null pointer exceptions in several places if file permissions are revoked while the app is running. We need to rework `DiskSyncTask.java` to write tests for the case that the call to File.listFiles() returns null. While we're at it, we should write tests for the logic that decides which file types to ignore.

[2019-12-14 16:42] breakbusyloop commented on #3538
Here's a great book of techniques for reworking legacy code:  https://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers

There are some PDFs of the book floating around

[2019-12-14 19:32] breakbusyloop commented on #477
@opendatakit-bot claim

[2019-12-14 19:52] breakbusyloop commented on #3539
@opendatakit-bot claim

[2019-12-15 19:54] lognaturel commented on #3538
Thanks for the great writeups, @seadowg, @OpenDataNerd!

I have read `Working Effectively with Legacy Code` and referred back to it. I agree it has a lot of great strategies. I have wondered what Feathers would say about the Android framework itself and its particular hostility to separation of concerns.

Since this is a copyrighted work and something that the author makes a living with, I think i

[2019-12-16 09:08] seadowg commented on #3538
Nothing good!

[2019-12-16 09:45] #3530 closed, assigned to grzesiek2010

[2019-12-16 15:15] #3535 closed, assigned to lognaturel

[2019-12-16 17:03] breakbusyloop commented on #3307
If we do get Robolectric tests in place, it would serve to pin down the behavior while we refactor to expose smaller methods to cover in unit tests. The first refactoring I'd look at is the repeated checks for "google_sheets" as the upload target. It looks like there should be an interface and two classes for handling the specifics of each upload target.

[2019-12-16 17:20] breakbusyloop commented on #3453
I have not once seen this in my Windows development environment since it was originally reported on Slack. Today I've run `gradlew testDebugUnitTest` three times and didn't see the test failures.

[2019-12-16 19:34] lognaturel commented on #3253
The goal is to get to something that looks like `Dalvik/2.1.0 org.odk.collect.android/v1.5.1-10-ge20fa334-dirty (Linux; U; Android 5.1.1; hi6210sft Build/LMY47X)`

[2019-12-16 22:12] breakbusyloop commented on #3538
I'm curious to learn what the conflict is. Some glaring big issues or a thousand small ones?

[2019-12-17 04:42] lognaturel commented on #3538
The code style that you see in Collect with an `Application` singleton and God `Activity` classes that manage a ton of state was all that the Android team showed in their samples for a long time. Clearly that's what the framework designers had in mind initially and that structure doesn't lend itself well to any kind of isolation testing. The framework itself has a lot of singletons and classes ful

[2019-12-17 08:48] zahira21 opened #3543 "cannot find symbol class Maptile"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-12-17 08:52] seadowg commented on #3543
Hey @zahira21. What version of Collect are you using? Where in the app did you see this occur? Did the app crash?

[2019-12-17 08:59] zahira21 commented on #3543
I had downloaded the source code for the Collect in android studio. But there is a gradle error which says cannot find symbols class Maptile. It is the latest version of collect. App even hasnot been installed

[2019-12-17 09:00] seadowg commented on #3543
Have you made sure to sync Android Studio with the Gradle files?

[2019-12-17 09:02] zahira21 commented on #3543
yes it is the error that has occurred during sync Android Studio with Gradle files. And i don't know how to solve it

[2019-12-17 09:13] mmarciniak90 commented on #3391
@lognaturel here is a zip with needed data - [backup1249.zip](https://github.com/opendatakit/collect/files/3972388/backup1249.zip)

The problem is still visible.

@grzesiek2010 no, I did not cancel sync

[2019-12-17 10:03] seadowg commented on #3307
@OpenDataNerd that's a good spot. And I agree: getting some critical path tests around it is a great starting point in service of us pulling it apart 👍. If you want to take a look at this feel free to assign (you can send @opendatakit-bot a "claim").

[2019-12-17 10:03] mmarciniak90 commented on #3526
I repeated this case and I confirm that's because of the `Don't Keep Activities` option.
I'm sorry I missed it in the repro steps.

[2019-12-17 10:06] seadowg commented on #3526
@mmarciniak90 no worries! It's nice to have it enabled to find weird edge cases but I wish the emulator made it visually obvious as I usually forget I switched it on. I've always thought a red banner (with "Don't keep activities enabled!") at the top of the screen would have been nice.

[2019-12-17 10:10] seadowg commented on #3543
Would you be able to share the full stack trace you get and what version of Android Studio you're using? We do ask these questions in the issue template and it helps us help you if you give us as much info as possible!

[2019-12-17 10:30] mmarciniak90 commented on #1939
@OpenDataNerd yes, you can copy data from this zip [backup1249.zip](https://github.com/opendatakit/collect/files/3972758/backup1249.zip)

[2019-12-17 11:59] zahira21 commented on #3543
I am using the android version of 3.5.2.  Should I add any extra
library for MapTile
[image: Capture.PNG]

On Tue, Dec 17, 2019, 5:10 PM Callum Stott <notifications@github.com> wrote:

[2019-12-17 17:23] seadowg commented on #3543
@zahira21 you shouldn't have to add any extra libraries. Our builds are all working fine. I think this back and forth would be better supported by the [Collect slack channel](http://slack.opendatakit.org/) as others will be able to help as well. I'm going to close this issue for now but definitely post there if you're still having trouble!

[2019-12-17 17:23] #3543 closed, assigned to nobody

[2019-12-17 18:32] breakbusyloop commented on #424
Can we decouple the date format that is displayed to users from the date format that is stored in the submitted form data (and resulting spreadsheet / database)?

We could greatly reduce ETL post-processing if the form designer could ensure that dates are all stored in the same format regardless of how they are entered by the user.

[2019-12-17 18:50] breakbusyloop commented on #298
This discussion seems oriented around which sentinel to use to handle the requirement for uniqueness. Any legal sentinel should do, since the column name is built to disambiguate, not to encode information about the fieldname. The fact that it's somewhat human readable (but clearly not parsable) just masks the actual problem.

The sentinel implies the naming within "formname-groupname-fieldname",

[2019-12-17 19:24] lognaturel commented on #424
Absolutely. The format of submitted dates is governed by the [ODK XForms spec](https://opendatakit.github.io/xforms-spec/#data-types).

It's not clear from this issue thread but we're just talking about the display order, here. I think we've concluded that this needs to be specified at the form definition level but we don't have a spec for it yet so there's nothing to build.

In fact, let's close

[2019-12-17 19:24] #424 closed, assigned to nobody

[2019-12-18 14:04] grzesiek2010 opened #3546 "IndexOutOfBoundsException in FormMapActivity.java:65"
#### Software and hardware versions
Collect v1.25.0

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/22688dd6b5390b11013bfb38148dedcd?time=last-seven-days&sessionId=5DF8EBF4000700012C1E0AD753D1A008_DNE_1_v2

`Caused by java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
       at ja

[2019-12-18 14:45] seadowg opened #3547 "IllegalArgumentException in FormEntryActivity:2550"
#### Software and hardware versions
Collect v1.25.0

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/a6190e498dbd71af76c7d825dbd1bb56?time=last-seven-days&sessionId=5DFA2430019C0001345DECEDA34F01BD_DNE_0_v2

`Fatal Exception: java.lang.IllegalArgumentException: no dialog with id 2 was ever show

[2019-12-18 18:47] grzesiek2010 opened #3548 "Invalid index 0, size is 0 exception is thrown if a user tries to save a form with a geopoint question which is not releavant"
#### Software and hardware versions
Collect v1.25.0

#### Problem description
Invalid index 0, size is 0 exception is thrown if a user tries to save a form with a geopoint question which is not relevant.

Originally reported on the forum: https://forum.opendatakit.org/t/problem-odk-collect-v1-25/23963

#### Steps to reproduce the problem
1. Open the attached form:
[geoRelevant.xlsx](https://github

[2019-12-18 20:35] #3548 closed, assigned to grzesiek2010

[2019-12-18 20:55] lognaturel commented on #3360
There have been some exploration of approaches to getting the scoped storage migration started at https://github.com/opendatakit/collect/pull/3444, https://github.com/opendatakit/collect/pull/3460. I want to summarize at a high-level and hopefully figure out a direction.

I read more into [app install location](https://developer.android.com/guide/topics/data/install-location) and I now think it's

[2019-12-19 05:12] lognaturel commented on #3538
Oh, I forgot another big one. The Android framework calls the default, no-args constructor on `Activity` and `Fragment` creation. That means constructor dependency injection is impossible and dependencies are typically built in `onCreate`. Alternately, folks use dependency injection frameworks like Dagger which you'll see some tentative use of in the code base.

[2019-12-20 05:22] lognaturel commented on #3360
Luckily, @seadowg was feeling a little more creative than me and has suggested that we start in v1.26 with a change that makes installs that don't yet have an `/sdcard/odk` folder use `Context#getExternalFilesDir`/odk. That means those users will never need to switch over. Collect will need to be able to look for files in one of two places depending on whether `/sdcard/odk/` exists or not. In the

[2019-12-20 11:57] mmarciniak90 opened #3554 "Answer is lost for the rank widget which is based on another list if a user opens saved form"
### Software and hardware versions
Collect v1.24.1 (older versions were not verified)

#### Problem description
The answer is lost for the rank widget which is based on another list if a user opens saved form

#### Steps to reproduce the problem
1. User fills form [filter-rank.xml.txt](https://github.com/opendatakit/collect/files/3988155/filter-rank.xml.txt)
2. User finalizes form with all answers

[2019-12-20 14:53] mmarciniak90 commented on #3030
@lognaturel I verified cases on v1.25.1 and I can confirm that Collect still works as described.
It is not a big deal, user is moved two levels above instead of just one.

[2019-12-20 16:51] grzesiek2010 commented on #3360
you mean fresh installs won't use sd card right? I'm wondering in how many cases we can avoid copying files thanks to that, you know whether the game is worth the candle :smile:
According to google play it's about 1k new installs every day compared to 280k of all active devices.
![image](https://user-images.githubusercontent.com/3276264/71268570-8f309080-234d-11ea-9f6a-99f6074ab0e6.png)
Assuming w

[2019-12-20 16:57] grzesiek2010 commented on #3360
to be honest that number 20% would be too big we have about 1.2k new installs every day but (fortunately) the number of uninstalls is lower (thanks to that our audience is growing) so in a few month the audience might be much bigger, but still.

[2019-12-20 16:59] #3497 closed, assigned to grzesiek2010

[2019-12-20 17:00] #3486 closed, assigned to grzesiek2010

[2019-12-20 17:01] #477 closed, assigned to breakbusyloop

[2019-12-20 17:01] #3539 closed, assigned to breakbusyloop

[2019-12-23 11:07] seadowg commented on #3521
I'll still be looking at this soon!

[2019-12-23 11:12] seadowg commented on #3360
@grzesiek2010 this is a great point. I guess Collect is a little strange in having this behaviour but it will definitely benefit us here!

[2019-12-23 11:17] #3106 closed, assigned to grzesiek2010

[2019-12-23 18:32] breakbusyloop commented on #3335
The fix is ready but is blocked by a PR it depends on.

[2019-12-26 11:26] chidauri commented on #3173
Hi, i want to work on this issue(it really is rainy day here :P)

[2019-12-26 12:29] seadowg commented on #3173
@chidauri go for it! If you want to claim an issue have a look at [this guide](https://github.com/opendatakit/collect/blob/master/docs/CONTRIBUTING.md)

[2019-12-26 12:35] chidauri commented on #3173
@opendatakit-bot claim

[2019-12-28 03:37] chidauri commented on #3427
Hello @lognaturel , I'd like to work on this issue, is this already being worked on?

I found something strange!
https://github.com/opendatakit/collect/blob/17f9ddeda041759a8f46ede52214e064b773aa68/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L2125-L2128

This block should only run when user has changed the location settings, right? In my case this runs even

[2019-12-28 05:56] chintaaruna123 opened #3567 "File "<string>", line 4, in <module> FileNotFoundError: [Errno 2] No such file or directory: 'news.json'"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-12-28 11:38] seadowg commented on #3567
This doesn't look like it relates to this repo. Please feel free to repoen with the information in the issue template filled out if it does!

[2019-12-28 11:38] #3567 closed, assigned to nobody

[2019-12-28 15:44] lognaturel commented on #3427
Please go ahead and claim it, @chidauri.

locationPermissionsPreviouslyGranted is a field on the activity so it is set to false each time the activity is rebuilt. So indeed there will always be a permissions check on activity open. I believe that’s the intended flow but haven’t gone back to look at the details. You can verify that this makes sense and offer an alternative if you think it doesn’t.

[2019-12-29 06:16] chidauri commented on #3427
@lognaturel Hi, can you please point me to where are start-geopoint location requests handled?
Ps. I have made some changes regarding this issue and i tested it with disabling location myself and it shows a Toast message(which was expected), is there another way i can test this? should i open a PR?
Thanks :)

[2019-12-29 21:19] SaumiaSinghal commented on #3493
Hie @mmarciniak90, I would like to work on this issue. Can I claim it?

[2019-12-30 05:48] chidauri commented on #3427
@opendatakit-bot claim

[2019-12-30 10:52] SaumiaSinghal commented on #3493
@opendatakit-bot claim

[2019-12-30 12:49] devanshi7799 commented on #3356
@lognaturel I want to work on this issue.
If anyone is not currently working can i claim this?
Thanks :)

[2019-12-31 11:42] jovargheseamal commented on #2738
@novastreams  Check your manifest permissions whether it contains Call or Sms permissions

[2020-01-02 22:13] SaumiaSinghal commented on #3502
Hie @mmarciniak90 @grzesiek2010! I would like to work on this issue, Can I claim it?

[2020-01-02 22:38] SaumiaSinghal commented on #3075
Hie @zestyping, I would like to work on this issue.

[2020-01-02 22:38] SaumiaSinghal commented on #3075
@opendatakit-bot claim

[2020-01-03 13:06] seadowg commented on #3547
PR just waiting for QA!

[2020-01-03 19:48] SaumiaSinghal commented on #3071
Hie @mmarciniak90, I would like to work on this!

[2020-01-03 19:48] SaumiaSinghal commented on #3071
@opendatakit-bot claim

[2020-01-04 04:34] devanshi7799 commented on #1276
@yanokwa i would like to work on this issue.

[2020-01-04 13:26] chidauri commented on #2992
Hi , i was trying this issue, what i see is that the relevance is considered after we have answered the prompt but it should be considered before(ideally) , am i right?

[2020-01-05 02:19] SaumiaSinghal commented on #3054
Hie @grzesiek2010! I would like to look into this issue. After doing some research on this, I found out that Android does support Unicode but for Android version lower than 4.3, the fonts included does not support all Unicode characters and the rendering does not take place for scripts of some language like Burmese. However, I was thinking that for lower Android versions, it will be better if the

[2020-01-06 21:59] lognaturel commented on #3360
Thanks so much for all the continued thought that has gone into this. I hope that together we can get it right for users! I've written separate forum posts about [no longer being able to access IMEIs](https://forum.opendatakit.org/t/collect-will-need-to-stop-using-imei-as-deviceid/24157) and [needing to move off `/sdcard/odk`](https://forum.opendatakit.org/t/collect-will-need-to-stop-using-sdcard-

[2020-01-07 11:36] grzesiek2010 commented on #3054
Hi @SaumiaSinghal
using English language when those characters are not available is a good solution so please go ahead.

[2020-01-07 12:41] mmarciniak90 commented on #2717
Tests executed with a scenario:
- open view of the sky,
- lots of wifi in the area
- no SIM

As a test result, time and accuracy are presented.
Tests executed on two devices: Samsung S7 with Android 7.0 and Huawei with Android 5.1.
ODK Collect v1.25.1 was used during tests.

Tests were executed of three forms:
* `All widgets`,
* [setlocation-action-with-repeats.xml.txt](https://github.com/opendata

[2020-01-07 12:44] chidauri commented on #3048
@opendatakit-bot claim

[2020-01-07 21:31] SaumiaSinghal commented on #3054
Thanks, @grzesiek2010! Yes, I am working on the same!

[2020-01-08 12:31] #3547 closed, assigned to seadowg

[2020-01-08 12:35] #3075 closed, assigned to SaumiaSinghal

[2020-01-08 16:13] grzesiek2010 commented on #3554
The form contains a mistake and this is a problem in line 66 you have:
`<bind nodeset="/filter-list-based-on-list/fav_school" type="select1"/>`
where type is `select1` but it should be rank since it's for rank widget. Once you fix it everything is fine. I'm closing but please confirm when you are free.

[2020-01-08 16:13] #3554 closed, assigned to grzesiek2010

[2020-01-08 16:37] devanshi7799 commented on #1936
@mmarciniak90 @lognaturel can I work on this issue?

[2020-01-08 22:11] lognaturel commented on #2946
Also see additional `RCN_REDUNDANT...` checks as described [here](https://github.com/opendatakit/collect/pull/3167#issuecomment-563454630).

@SaumiaSinghal thanks for #3569! If you're interested in taking on more code quality improvements, please consider this one. 😊

[2020-01-09 00:01] SaumiaSinghal commented on #2946
Yes, Thanks @lognaturel, I would love to work on this one. :)

[2020-01-09 00:02] SaumiaSinghal commented on #2946
@opendatakit-bot claim

[2020-01-09 12:37] chidauri commented on #3048
Hi @lognaturel , when showing the files to user in the adapter we have access to `com.google.api.services.drive.model.File` which contains `getId()`, can this id be used to check if that form exists in formsdatabase or is that different id?

**EDIT.** Figured out that they are not same, i was thinking of doing this in the same way as `isNewerFormVersionAvailable()` does in DownloadFormListUtils.ja

[2020-01-09 14:28] #3173 closed, assigned to chidauri

[2020-01-10 07:45] chidauri commented on #1939
@opendatakit-bot claim

[2020-01-10 11:40] seadowg opened #3578 "Look at parallelizing instrumentation tests"
Right now our tests take 20m+ to run. This is causing timeout issues with CI and I don't think we want to have to keep bumping our timeout values every time the test suite grows. We do also need an audit of test coverage we can move from Espresso to Robolectric/JUnit but I think we expect this suite to stay at least this big in the long term.

It'd be good to look into parallelizing our tests. I t

[2020-01-10 14:17] grzesiek2010 commented on #3360
That option is so annoying... Now I'm getting exceptions (the same I mentioned above) and can't check it. I'll try later with other devices maybe.

If not we can still use `android:requestLegacyExternalStorage=”true”` and buy more time.

[2020-01-10 16:05] be-wake commented on #3502
@opendatakit-bot claim

[2020-01-10 18:27] lognaturel commented on #2717
Thanks for doing some experimentation @mmarciniak90. Could you please describe what the rows represent? Are they each submissions that the location was reset between? What was done between first try and second try? Do the dashes mean you didn't try a certain case?

The background geopoint should stop trying after 20s so waiting for longer should have no impact. When you say e.g. 1min in the "One b

[2020-01-10 18:34] lognaturel commented on #3360
My impression was that when Android 11 will be released, that option won't be available anymore. But maybe I'm wrong? Do you see any indication of when it might be retired? https://source.android.com/devices/storage says "Apps that target Android 10 and default to isolated storage can temporarily opt out of it" but I'm not sure what that means. @seadowg any indication from the dev summit? Do you t

[2020-01-10 18:42] #3334 closed, assigned to nobody

[2020-01-10 18:54] breakbusyloop commented on #3335
@opendatakit-bot claim

[2020-01-10 19:32] lognaturel opened #3583 "Audit header row tests fail on Windows"
From https://github.com/opendatakit/collect/pull/3518/commits/4eacab91d5f33bf3dceba87d4fc6ac6681116b6c: New AuditEvent logic attempts to insert a header row into an existing file using a temporary file and a rename operation, whose semantics are platform dependent and fail on Windows (surfacing as test failures when running Android Studio on Windows).

There was an attempt to address this in https

[2020-01-10 19:46] grzesiek2010 commented on #3360
https://youtu.be/UnJ3amzJM94?t=1338 I thought that the flag will work until we bump tagetSdkVersion to 30 (even on Android 11) so next year, but now I'm not 100% sure... but still I think I was right they says `Targeting Android 10 -> Can request legacy storage` so I think as long as we use tagetSdkVersion 29 it should work.

[2020-01-10 22:17] lognaturel commented on #3360
Thanks, that's really helpful, @grzesiek2010. That's also what I understand from the video. We should certainly aim to have everyone migrated by fall 2020 but it's good to know that we may have more breathing room if needed.

[2020-01-11 02:17] SaumiaSinghal commented on #3054
@opendatakit-bot claim

[2020-01-11 11:04] SaumiaSinghal commented on #3089
@opendatakit-bot claim

[2020-01-12 12:00] devanshi7799 commented on #1936
@opendatakit-bot claim

[2020-01-12 17:20] devanshi7799 commented on #1936
@lakshyagupta21 I have not claimed any other issue in this repository. Can you please tell me why i am unable to work on this one?

[2020-01-13 04:00] SaumiaSinghal commented on #3051
@opendatakit-bot claim

[2020-01-13 07:52] SaumiaSinghal commented on #2932
Hie @zestyping! I would like to work on this issue :)

[2020-01-13 07:52] SaumiaSinghal commented on #2932
@opendatakit-bot claim

[2020-01-13 09:39] seadowg commented on #3360
@grzesiek2010 @lognaturel yeah my undertstanding is that flag lets us target API 29 but that it won't be available in API 30.

[2020-01-13 09:48] mmarciniak90 opened #3586 "Collect crashes during sending form to Google Sheet on Android 4.2"
#### Software and hardware versions
Current master (ODK Collect v1.25.1 works properly)
Android 4.2

#### Problem description
User sends submission to Google Sheet

#### Steps to reproduce the problem
1. User sets Google Drive as a server
2. User fills form
3. User sends form
4. Collect crashes

#### Expected behavior
Form is sent without crash

[2020-01-13 09:52] seadowg commented on #1936
@devanshi7799 not sure what's happening here. @lognaturel I can't see @devanshi7799 assigned to any other issues do you have an idea what's got our bot confused?

[2020-01-13 09:57] grzesiek2010 commented on #1936
You can use `claim --force` and it should do the job. @devanshi7799 the bigger problem is that the issue contains` needs discussion` label so we are not sure about it, so please investigate the issue and share your ideas first because it doesn't make sense to start working on the code immediately if we don't know what we expect.

[2020-01-13 12:36] chidauri commented on #3027
Hi @lognaturel , can i take this up?

[2020-01-13 12:48] mmarciniak90 commented on #2717
One cell is one test. Between tests, the location was reset.

I came back to the office and after a while, I went again to the same place outside the building (because of cold weather)

Yes, I did not fill each form the same number of times. I added dashes to empty cells.

Oh, sorry. I didn't know that. I waited longer hoping to get better result but it was just luck.

I filled the `setlocation-ac

[2020-01-13 13:13] #2946 closed, assigned to SaumiaSinghal

[2020-01-13 14:51] mmarciniak90 opened #3588 "Split Maps page in Access Control settings to hide part of the page content"
#### Problem description
There is no option to hide only part of settings on the `Maps` page, eg. only offline layers.

#### Steps to reproduce the problem
1. Admin goes to `Admin Settings` -> `User Settings`
2. User unselect `Maps`
3. The whole `Maps` page is hidden. User is not able to hide some part of the content

#### Idea
`Basemap` and `Reference layer` parts can be hidden separately.

####

[2020-01-13 14:52] mmarciniak90 commented on #3588
@opendatakit-bot label "needs discussion"

[2020-01-13 20:40] grzesiek2010 commented on #3360
@lognaturel could you tell more about those paths please? We started talking about it last week.

[2020-01-14 04:30] lognaturel commented on #2717
I think doing another round would be helpful. Can you please let a standard amount of time pass after the reset? I’m thinking something like 4 mins. And for geopoint please only wait 20s to match the background behavior.

[2020-01-14 04:51] devanshi7799 commented on #1936
@grzesiek2010 @seadowg i think the icons in the Admin setting view must be similar to the ones used in General setting view. If you have any other ideas please suggest.
thanks :)

[2020-01-14 08:09] grzesiek2010 commented on #1936
Adding an icon for every single option is not a must. There is nothing about it in the documentation https://material.io/design/platform-guidance/android-settings.html#placement
We decided to have icons just for categories that's ok I think in your device settings you probably can notice the same.
The thing is that `Admin Settings` doesn't contain only categories like `General Settings`.
In Admin

[2020-01-14 09:47] #3071 closed, assigned to SaumiaSinghal

[2020-01-14 10:45] #3586 closed, assigned to grzesiek2010

[2020-01-14 14:53] seadowg commented on #3322
Removing discussion due to recent research: https://github.com/seadowg/collect-design/blob/master/research/repeats.md

[2020-01-14 20:19] eeshugerman opened #3591 "[UX] "Delete Saved Form" button is confusing"
#### Software and hardware versions
Collect v1.25.1, Android 10
(though this applies to all versions AFAIK)

#### Problem description
The main menu button "Delete Saved Form" is used to delete both "saved" and "blank" forms.

#### Steps to reproduce the problem
N/A
#### Expected behavior
I would recommend changing the text to "Delete Form".

#### Other information
N/A

[2020-01-15 04:25] SaumiaSinghal commented on #3089
Hie @seadowg, @grzesiek2010! we have the following solutions:

Either, we can continue with FAB and simply, provide Confirmation Dialog that provides understandable options like Small, Medium, Large, or here I am thinking, we can also go with Range Slider [like](https://material.io/components/sliders/#anatomy).

Or we can continue using the same library that we use but, make changes in it, either

[2020-01-15 08:35] chidauri commented on #3048
@grzesiek2010 would it be okay to use last modified time to indicate form updates in this case? since md5 is not available until we download the files.

[2020-01-15 10:28] seadowg commented on #3089
@SaumiaSinghal thanks for looking into the options. My only concern with the slider on the color picker dialog is that it will be fairly small on the screen. I think we'd just need to make sure it's tall enough to be easily tappable. Otherwise I like it! It's nice to contain the line settings in one place.

All that said, it does feel like a dialog with 3 options might be simpler to implement (as

[2020-01-15 12:35] SaumiaSinghal commented on #3089
Yes @seadowg, having a confirmation dialog is a lot easier, in comparison to editing a third library. I am open to both options. I am waiting for @grzesiek2010  to present his views.

[2020-01-15 12:57] SaumiaSinghal commented on #3000
Hie @iadeelzafar! I would like to work on the issue. I couldn't reproduce the second case. I tried on two devices, one with Android 9.0 and the other with Android 4.2. But yes, I think the first case should be fixed. Maybe we can add a `needs reproduction` label for the second case, later as a separate issue, or maybe it doesn't exist anymore, we need to check that.

[2020-01-15 12:57] SaumiaSinghal commented on #3000
@opendatakit-bot claim

[2020-01-15 13:21] seadowg commented on #3000
@SaumiaSinghal sorry this issue also needed a "needs discussion" on it (you can see it's in the "needs verification" in the project it's in). I'm going to unassign and add the label.

This issue is a great piece of feedback but I don't think it's something we'd be looking to change quite yet as it would change a piece of navigation that potentially millions of people are used to.

I'm so sorry thi

[2020-01-15 13:28] SaumiaSinghal commented on #3000
Hie @seadowg! Yes, I understood that it needed the "needs discussion" label. It is completely fine, I will look into other issues, and post a question first. :)

[2020-01-15 14:12] SaumiaSinghal commented on #3253
@opendatakit-bot claim

[2020-01-15 23:23] lognaturel commented on #3360
As @yanokwa has pointed out [on the forum](https://forum.opendatakit.org/t/collect-will-need-to-stop-using-sdcard-odk-for-files/24159/5?u=ln), the issue with having new installs immediately use scoped storage is that it wouldn't be possible to use new Collect installs from the Play Store with external integrations that direction read/write to `/sdcard/odk`. That is likely a reason to make the chan

[2020-01-15 23:31] lognaturel commented on #3253
I wrote above that "The goal is to get to something that looks like Dalvik/2.1.0 org.odk.collect.android/v1.5.1-10-ge20fa334-dirty (Linux; U; Android 5.1.1; hi6210sft Build/LMY47X)" but I now don't understand why. It seems that if we're going by decreasing order of usefulness for identifying the agent, it should be `org.odk.collect.android/v1.5.1-10-ge20fa334-dirty Dalvik/2.1.0 (Linux; U; Android

[2020-01-16 12:14] seadowg commented on #3253
No actually! Your new example makes more sense to me.

[2020-01-16 12:22] seadowg commented on #3360
@lognaturel that makes sense to me. Thanks for taking the time to get that all down! The addition of the flag for migration started is a nice catch so we can handle recovery from any disaster scenarios.

I'm definitely in support of pulling out an interface that's responsible for returning file paths. That sounds like a nice first step that gets us ready withoyut any change in behaviour.

[2020-01-16 12:40] seadowg commented on #3498
@lognaturel @grzesiek2010 do you folks agree that we go with the second option here?

[2020-01-16 14:28] seadowg commented on #3427
Was just looking through #3575. I'm a little confused around the issue description:

Is that referring to the dialog that's shown when we return a `BackgroundLocationMessage.PROVIDERS_DISABLED` from `locationPermissionGranted`. That happens here in `displayUIFor` in `FormEntryActivity` as far as I can see:

[code]

If that's right? If so should we be showing a dialog rather than a toast to keep it

[2020-01-16 14:34] seadowg commented on #24
We have [background location auditing](https://docs.opendatakit.org/form-audit-log/?highlight=audit#location-tracking) now and I think any discussion around background audio recording would be better faciliated in the [forum](https://forum.opendatakit.org/) (there is a discussion [here](https://forum.opendatakit.org/t/create-automatic-background-recording-of-interview-in-collect/18601/13) for inst

[2020-01-16 14:34] #24 closed, assigned to nobody

[2020-01-16 14:36] seadowg commented on #57
Definitely a conversation we should have in the [forum](https://forum.opendatakit.org/)'s Feature discussion instead as this would be a large new feature that would need a proposal.

[2020-01-16 14:36] #57 closed, assigned to nobody

[2020-01-16 15:50] grzesiek2010 commented on #3360
I agree that keeping file names instead of paths would be better but I'm a bit confused...
Do you think it's better to change all existed paths now (during copying files) or keep everything as is and handle everything in that new class you mentioned?

[2020-01-16 19:47] lognaturel commented on #3360
In what I've described in the first bullet list [here](https://github.com/opendatakit/collect/issues/3360#issuecomment-574903906), what's stored are still paths. For example, for instance files, the instance directory and instance filename will both be included (`identify-user-audit-false_2020-01-10_22-21-42/identify-user-audit-false_2020-01-10_22-21-42.xml`). They're redundant but like I mentione

[2020-01-16 19:59] grzesiek2010 commented on #3360
Yeah, it will be a path in case of instances but in other cases forms/cache it will be just a file name.

I agree. We could do even more then like remove `formMediaPath` column because it's always `displayName` + `-media`. Such improvements we can add in the future.

I'm in favor of converting existing paths so I'm happy we agree. I just misunderstood you and asked for clarification.

Ok no more q

[2020-01-16 22:00] lognaturel opened #3595 "Generate install-specific uuid and display it in form metadata settings"
Starting in fall 2020, we will be required to target SDK 29 which means we will no longer be able to use the IMEI as `deviceId`. See https://forum.opendatakit.org/t/collect-will-need-to-stop-using-imei-as-deviceid-and-making-simserial-and-subscriberid-available/24157 and https://github.com/opendatakit/collect/issues/3360 for context.

We have agreed to replace it by generating and managing a uuid

[2020-01-16 22:40] mmarciniak90 commented on #2717
Tests executed with a scenario:
* open view of the sky,
* lots of wifi in the area
* no SIM
* ODK Collect v1.25.1
* filled 5 submissions for each form

Steps:
1. Reset the location
2. Wait 4 minutes
3. Fill submission - wait 20 seconds on a question with background location

Results for Samsung S7 (Android 7.0)

| |One background geopoint |Repeats with background geopoints |
|--- |--- |---|
|1.|ac

[2020-01-17 02:05] lognaturel commented on #2932
I completely understand @zestyping’s irritation. When there’s a system design that’s being developed over several pull requests, this kind of intermediary state can be reached.

However, I think we generally strive to get individual pull requests to “complete” states. The danger with leaving in-progress things like fields that don’t yet need to be fields is that if we don’t go back to them things

[2020-01-17 02:05] #2932 closed, assigned to SaumiaSinghal

[2020-01-17 08:55] SaumiaSinghal commented on #3253
Yes, also the tests don't fail like that. :)

[2020-01-17 14:12] mmarciniak90 commented on #3446
After merge #3445 to master, I retested GeoTrace widget to check where leaks are still visible.

Case for **Google Maps**:
1. User clicks on `Start GeoTrace`
2. View with map is opened (User can add location, input method does not matter. Adding a location is not required)
3. User leaves map view
4. User waits a moment - leak is recorded

Leak noticed on Android: 4.2, 4.4, 5.1, 6.0, 8.1, 9.0, 10.0

[2020-01-17 15:43] mmarciniak90 commented on #3441
After merge #3445 to master, I retested GeoPoint widget to check where leaks are still visible.

**Case - geopoint with no appearance**
- User clicks on `Start GeoPoint`
- Loading location dialog is opened, location is detected
- User comes back to question
- User waits a moment - leak is recorded

Leaks visible on **Google Maps, Mapbox, OSM**

Leak noticed on Android: 4.2, 4.4, 5.1, 6.0, **7.0**,

[2020-01-19 01:52] lognaturel commented on #3427
@seadowg Thanks for taking a step back to discuss the desired behavior! You're correct that for the audit a similar notification is shown in the dialog. This gives the user an opportunity to jump directly to adjust their settings.

My reasoning for using a toast in this case was [in the forum thread](https://forum.opendatakit.org/t/auto-gps-implementation-on-odk-collect/10635/39?u=ln). When design

[2020-01-19 05:48] chidauri commented on #3427
@lognaturel yep in case it is a mistake/oversight, a dialog is a better choice and if the location is turned off knowingly, it should not hurt enumerator to go through an extra step of denying that dialog(or what organisation wants).

[2020-01-19 11:35] chidauri commented on #3004
Hi @lognaturel , i want to work on this, do i first need to check if offline tiles worked with older version, as you directed above?

[2020-01-20 12:39] seadowg commented on #3427
I think a [Banner](https://material.io/components/banners/) might be the right middleground here as it would also let us link the enumerator to location settings without blocking them. However, I wouldn't want to look at adding new Material components to the `FormEntryActivity` so I thinkn a toast is probably the right thing to do for the moment.

[2020-01-20 14:32] #3253 closed, assigned to SaumiaSinghal

[2020-01-20 23:16] lognaturel commented on #2717
Thanks, @mmarciniak90. Looking at this, I conclude that the Samsung device is a higher-end device than the Huawei device. I guess 4 mins after a reset is just not good enough for that Huawei to get lock.

For the Samsung data, is the first column really one background geopoint? It's not geopoint with no appearance? Geopoint with no appearance is the one with the raw gps provider.

[2020-01-20 23:35] lognaturel commented on #3427
Thanks for the feedback, @chidauri and @seadowg. @seadowg I think you're absolutely right that a banner would be ideal. So perhaps after it's been introduced for the scoped storage change we can come back to this.

In the mean time, I think @chidauri is right that it's not a huge deal to exit out of the dialog. And looking at the code, it's annoying to have a special case and a separate message st

[2020-01-21 08:13] mmarciniak90 commented on #2717
Definitely, Huawei is not a high-quality device. We notice problems with it during regression testing, with the smoothness of device work, speed of action, etc.

This time I did not check `All widgets` form, so I did not test `Geopoint with no appearance` widget. I focused only on background geopoints. Is it cause a big miss of data? If yes, it's not a problem to update these results.

[2020-01-21 10:30] #1939 closed, assigned to chidauri

[2020-01-21 10:54] grzesiek2010 opened #3600 "Misleading message when downloading a form fails"
#### Software and hardware versions
Collect v1.25.1 and older versions

#### Problem description
Downloading a form we catch a few exceptions:
[TaskCancelledException](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/FormDownloader.java#L154)
[Exception](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/od

[2020-01-21 14:34] chidauri commented on #3004
@opendatakit-bot claim

[2020-01-21 16:22] chidauri commented on #3356
hey @seadowg , if #3408 is inactive, can i take this issue up?

[2020-01-21 16:52] seadowg commented on #3356
@chidauri lets confirm that #3408 isn't still being worked on first!

[2020-01-22 09:23] seadowg commented on #3356
@chidauri the PR is closed now so feel free to claim

[2020-01-23 11:43] #3600 closed, assigned to grzesiek2010

[2020-01-23 18:31] #3427 closed, assigned to chidauri

[2020-01-23 21:31] mmarciniak90 commented on #2717
New results of test execution following this scenario:
* open view of the sky,
* lots of wifi in the area
* no SIM
* ODK Collect v1.25.1
* filled 5 submissions for each form

Steps:
1. Reset the location
2. Wait 4 minutes
3. Fill Geopoint widget with no appearance from `All widgets` form - 20 seconds
4. Save form and exit
6. Reset the location
7. Wait 4 minutes
8. Fill question with background loc

[2020-01-24 04:27] chidauri commented on #3356
@opendatakit-bot claim

[2020-01-24 04:29] lognaturel commented on #2717
Thank you, @mmarciniak90. I do think that's conclusive for areas with wifi access so there's no need for more experimentation.

[2020-01-24 04:56] devanshi7799 commented on #2993
@lognaturel is this issue open?

[2020-01-24 04:59] lognaturel commented on #2993
Hi @devanshi7799, yes it is! It would be a great one to get addressed.

[2020-01-24 08:09] devanshi7799 commented on #2993
hello @lognaturel, i tried to scan QR codes which does not contain ODK settings. It does shows error message stating that it does not contain settings.

devices used- vivo y51l and micromax HS2

[2020-01-24 15:07] grzesiek2010 commented on #2993
Isn't this issue already fixed by this pr https://github.com/opendatakit/collect/pull/3422? @mmarciniak90

[2020-01-24 15:22] lognaturel commented on #2993
Ah, indeed, looks like #3421 was redundant.

[2020-01-24 15:22] #2993 closed, assigned to nobody

[2020-01-24 15:25] lognaturel commented on #3529
@devanshi7799 how about seeing if you can reproduce this? It sounds like @andrewsiew2 generated QR codes with raw strings rather than JSON. Broadly, it should be possible to scan any QR code and get a reasonable result.

[2020-01-24 19:28] andrewsiew2 commented on #3529
It's similar but in my case, it was just crashing.

Also on this point, I feel like the code should also try to convert the string to a JSON or notify the user that it is not in format instead of crashing.

[2020-01-24 19:29] lognaturel commented on #3529
👍 A toast letting the user know that the QR code does not contain valid Collect settings would be great.

[2020-01-25 08:42] be-wake commented on #3441
@lognaturel
I have tested Geo Widgets for memory leaks.
(PS. Long Report)
Tested on Android: 9.0
_**Different Leaks in different widgets**_
**Geo Widgets**
Start any Geo Widget
Add anything or not
Save or discard
Wait for  5 sec.
Report Fragment leaked

| **Geopoint Widget(with no appearance)** | **Geopoint Widget(with placement-map appearance)** |
| ------- | ------- |
| ![Screenshot_2020-01-25-1

[2020-01-26 23:57] SaumiaSinghal commented on #3355
Hie! I would like to work on this issue.

[2020-01-26 23:57] SaumiaSinghal commented on #3355
@opendatakit-bot claim

[2020-01-27 13:27] SaumiaSinghal commented on #3054
@opendatakit-bot claim

[2020-01-27 16:32] #3521 closed, assigned to seadowg

[2020-01-28 10:38] #3502 closed, assigned to nobody

[2020-01-28 11:51] seadowg commented on #3498
@lognaturel and I caught up about this and agreed the second option made more sense. I'll remove the "needs discussion" label for the moment. @grzesiek2010 let me know if you disagree!

[2020-01-28 12:48] grzesiek2010 commented on #3498
Sounds good to me.

[2020-01-28 14:27] kkrawczyk123 opened #3612 "Dialogs are disappearing after screen rotation."
#### Software and hardware versions
Collect v1.25.1, Android v4 -10.x.x, device used...

#### Problem description
Displayed dialogs are disappearing after screen rotation.

Dialogs:
Exit form dialog
Remove this response
Layer data file dialog on geowidgets with map
Input method dialog on geotrace and geoshape dialog
Change Admin Password Dialog

#### Steps to reproduce the problem
1. Open one of t

[2020-01-28 14:32] #3355 closed, assigned to SaumiaSinghal

[2020-01-28 14:33] SaumiaSinghal commented on #2652
@opendatakit-bot claim

[2020-01-29 04:37] chidauri commented on #3578
@seadowg Can i help with this?

[2020-01-29 08:28] #3004 closed, assigned to chidauri

[2020-01-29 11:50] seadowg commented on #3578
You're very welcome to have a play with it @chidauri. The next most useful step would be to do some research on how we could set this up so even if you're not able to get it working just sharing that would be valuable!

[2020-01-29 12:01] bojko108 opened #3614 "Unable to scan QR codes with inverted colors"
Hello, I'm using ODK Collect for collecting various types of data and one of the sources is a QR Code. The problem is that the QR Codes are printed with inverted colors and reading them is not possible with current version of ODK Collect.
#### Software and hardware versions
Collect v1.25.1, Android v9, device used Huawei P30 Lite
#### Problem description
I'm unable to scan QR codes with inverted c

[2020-01-29 13:04] #3356 closed, assigned to chidauri

[2020-01-29 16:59] chidauri commented on #3578
@seadowg can we remove dependency of unit test to run instrumented tests ,and make them run in parallel, because before merging a commit into master unit tests are already being taken care of ?

[2020-01-29 17:12] seadowg commented on #3578
@chidauri maybe it's not clear from the issue description but I just meant running our instrumentation tests in parallel (i.e. `./gradlew connectedAndroidTest`).

[2020-01-29 18:11] lognaturel commented on #3578
It's great that you're thinking about other opportunities for improvement, @chidauri. To add a little more context, we have the style and unit tests run before instrumented tests so that we don't do an instrumented test run if there are obvious issues with the build. We get a limited number of runs on Firebase Test Lab.

[2020-01-29 19:16] chidauri commented on #3578
@seadowg @lognaturel can [flank](https://github.com/Flank/flank) be used, i think it is created just for this?

[2020-01-30 04:57] lognaturel commented on #3142
@seadowg has pointed out that this happened a lot a couple of days ago. [Firebase crash link](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/1b17f99a1bf5578b42540e3e3c1a3bd3?time=last-ninety-days&sessionId=5E2FD965008D00013F3D7114A9D324CF_DNE_0_v2) (needs auth). What likely happened is that there is a form out there w

[2020-01-30 09:13] seadowg commented on #3578
@chidauri yeah it looks like it would definitely be worth a try. I think to experiment you'll need to set up your own [Firebase](https://firebase.google.com/) account. Test Lab is limited but free on so you should be able to give it a go!

[2020-01-30 12:52] kkrawczyk123 opened #3615 "Collect crashes after minimizing an app when Rank widget popup displayed."
#### Software and hardware versions
Collect v1.25.1, Android v4.2-10, device used...

#### Problem description
Collect crashes after minimizing/extinguishing an app when Rank widget popup displayed.

#### Steps to reproduce the problem
1. Open Rank widget
2. Click Rank items button
3. Minimize/extinguish the app

#### Expected behavior
The app should not crash. User should be able to restore the a

[2020-01-30 14:12] grzesiek2010 commented on #3142
yes that would require handling it in a few different places.

[2020-01-30 15:14] #3322 closed, assigned to seadowg

[2020-01-31 07:31] chidauri commented on #3578
@seadowg
Without flank, the instrumented tests took **22 min 27 sec**
**Flank results:**
# 3 shards
each shard took approx **17 mins**
# 5 shards
each shard took approx **10 mins**

But there seems to be problem here, because 1 out of 3 shards failed in first case, and 3 out of 5 shards failed in second case.
**generalSharedPreferencesUpgradeTest** is the only test which failed in both the cases,

[2020-01-31 17:47] seadowg commented on #3578
@chidauri ah amazing thanks for trying this out!

It does look like some of our tests still don't clear state before running. This could lead to tests polluting others or could mean some of our tests actually (probably accidently) rely on data that some other test has set up. You'll see that we use the `ResetStateRule` in a lot of tests. Experimenting with adding this to tests that are failing mig

[2020-01-31 21:54] lognaturel opened #3618 "Move saving .settings file out of Import/Export settings and rename Import/Export settings to QR code configuration"
I was talking to @andrewsiew2 about the QR code settings feature and he pointed out that having QR code configuration and the `.settings` file export on the same screen is confusing. We'd rather use a name like `QR code configuration` instead of `Import/Export settings`. We can't currently because the screen doesn't just do QR code configuration.

I propose pulling the saving to `.settings` functi

[2020-01-31 22:11] grzesiek2010 commented on #3615
It requires a fix in Javarosa https://github.com/opendatakit/javarosa/pull/536

[2020-02-02 06:10] mohammaduvez commented on #3441
Hi, I am new here. I have gone through the reported leaks and managed to solve some. I am adding a PR as a quick solution. The solution can be improved but it requires to move some of the code, need suggestions for below changes.
1. Moving `GpsStatus.Listener` in `LocationClient` and implementing it similar to `LocationListener`.
2. Removing the need of `WeakReference` by moving the `LocationClien

[2020-02-03 09:54] chidauri commented on #3578
@seadowg That fixed **generalSharedPreferencesUpgradeTest**, but some tests already use `ResetStateRule` and still give error, mostly in **FillBlankFormTest.java** like **formsWithDate_ShouldSaveFormsWithSuccess**
[code]

[2020-02-03 17:00] chetanbagade opened #3620 "ClassNotFoundException: Didn't find class "com.example.fireautho.ui.home.HomeFragment"
Process: com.example.plametionpartner, PID: 19262
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.plametionpartner/com.example.plametionpartner.NavMainActivity}: android.view.InflateException: Binary XML file line #21: Binary XML file line #21: Error inflating class fragment
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3162)

[2020-02-03 17:21] lognaturel commented on #3620
It looks like you're on the wrong repository! This is the repository for ODK Collect.

[2020-02-03 17:21] #3620 closed, assigned to nobody

[2020-02-03 21:25] lognaturel opened #3621 "Remove analytics for null form controller"
The `getFormController` methods in `FormEntryActivity` currently log analytics when the `formController` is `null`. However, the flow through that activity relies on the `formController` being null before the form is loaded. Those analytics have not been helpful and should be removed.

[2020-02-04 22:14] lognaturel commented on #3614
Thanks for the carefully-written issue, @bojko108 and welcome to the community! As you've noted, this is an easy change to make and @grzesiek2010 has even gone right ahead to making it so it will be part of the next release, planned for early March.

I invite you to join our community forum and [introduce yourself and your project](https://forum.opendatakit.org/t/introduce-yourself-here/6671/1067)

[2020-02-04 22:33] yanokwa commented on #3618
I'm OK with this. I'd also think we should add a header called `App Configuration` or something. Then put  the following...
* Reset application...
* Configure via QR code
* Save configuration to file
   * Will be removed in a future version

[2020-02-05 07:15] bojko108 commented on #3614
Thank you for your quick response, I'm glad this feature will be soon included in the app, thanks :)

[2020-02-05 10:44] seadowg commented on #3578
@chidauri are the same tests failing every time? It could be that those tests are indeed "flakey"and that running in parrellel has just revealed that.

[2020-02-05 14:29] #3614 closed, assigned to grzesiek2010

[2020-02-05 18:45] lognaturel opened #3624 "Set minSdkVersion to 21 and remove special cases for APIs under 21"
The biggest change coming to the upcoming v1.26 release is starting the [scoped storage migration](https://forum.opendatakit.org/t/collect-will-need-to-stop-using-sdcard-odk-for-files/24159). This is not relevant to users on older versions of Android. Additionally, Android <5 now only accounts for 6% of Collect users.

The [Technical Steering Committee](https://opendatakit.org/community/governance

[2020-02-05 18:46] lognaturel commented on #3054
No longer needed because support for Android <5 will be dropped shortly (https://github.com/opendatakit/collect/issues/3624). Thanks for taking this on, @SaumiaSinghal!

[2020-02-05 18:46] #3054 closed, assigned to SaumiaSinghal

[2020-02-05 18:47] lognaturel commented on #2473
Android <5 support will be dropped in v1.26 (https://github.com/opendatakit/collect/issues/3624).

[2020-02-05 18:47] #2473 closed, assigned to nobody

[2020-02-05 18:47] lognaturel commented on #1959
Android <5 support will be dropped in v1.26 (https://github.com/opendatakit/collect/issues/3624).

[2020-02-05 18:47] #1959 closed, assigned to nobody

[2020-02-05 18:53] SaumiaSinghal commented on #3624
@opendatakit-bot claim

[2020-02-06 08:01] BadMask121 opened #3626 "Illegal class file: Class module-info is missing a super type. Class file version 53."
#### Software and hardware versions
Collect v1.x.x, Android v3.5.3, device used...

#### Problem description
i get the below when i want to run the build for the first time , recently updated my android stuiod to version 3.5.3
"Illegal class file: Class module-info is missing a super type. Class file version 53."
#### Steps to reproduce the problem
Click the "Run" button then on build process it w

[2020-02-06 15:43] be-wake commented on #3626
This is not an issue of application. It is because you are using Windows for development.
Look at this to resolve the issue.
https://github.com/opendatakit/collect/blob/master/docs/WindowsDevSetup.md

[2020-02-06 17:27] #3626 closed, assigned to nobody

[2020-02-07 08:52] chidauri commented on #3578
@seadowg The results are inconsistent, sometimes all the tests pass but sometimes one of the tests fails.

[2020-02-07 09:50] seadowg commented on #3578
@seadowg right my question is that is it the same set of tests that sometimes fail? If so it could be that those tests might be able to be improved to not be flakey. It might be worth sharing your current work in a draft PR so we can see what the setup looks like as well!

[2020-02-07 13:17] chidauri commented on #3578
@seadowg after running significant number of times, it is not the same set of tests which fail. I've been able to run only 6 times so far, due to the limits :(

Edit: If we use `num-flaky-test-attemps: 1`, the test which fails on the first run passes the next time, and this is consistent. I'll open a draft PR with a working solution.

[2020-02-07 16:01] seadowg commented on #3595
After talking about it a bit more @lognaturel  have decided to go with a 16 character random alpha numeric string prefixed with `collect:`.

[2020-02-07 21:05] seadowg commented on #3612
I reckon we could solve this by moving these dialogs to using `DialogFragment` rather than `AlertDialog`. This would mean the dialogs should be recreated when the Activity goes through the configuration changes (as far as I'm aware).

[2020-02-07 23:17] lognaturel commented on #3435
Support starts in ODK Collect v1.25, pyxform 1.0.0, XLSForm Online v2.0.0. Documentation is at https://docs.opendatakit.org/form-audit-log/#enumerator-identification

[2020-02-07 23:42] andrewsiew2 commented on #3618
@opendatakit-bot claim --force

[2020-02-10 11:27] ggalmazor opened #3631 "Avoid using TreeReference.toString() in business logic"
#### Problem description
While working on some improvements to JavaRosa, we found out that clients are using `TreeReference.toString()` overloads to decide its business logic.

We need to replace this with alternatives that avoid textual representation of objects that are intended to be used just to provide human-readable feedback.

This also is a sign that JavaRosa is probably lacking some high-l

[2020-02-10 11:31] ggalmazor commented on #3631
@opendatakit-bot claim

[2020-02-10 11:38] seadowg commented on #3595
It looks like for us to have copying on non selectable preferences (see the `enableCopying` parameter [here](https://developer.android.com/reference/androidx/preference/PreferenceFragmentCompat)) we need to switch to using the new `androidx.preferences` dependencies rather than the deperecated one's we are using now.

That feels like it might be nice to break out into another issue as adding that

[2020-02-10 12:14] ggalmazor commented on #3631
I'll comment here the places I detect this is happening and my proposed alternatives:
- `FormHierarchyActivity.getRepeatPromptIndex(FormIndex)#416`
  We could replace the strings with genericized refs as in `ref.generizice()`
- `FormHierarchyActivity.refreshView(boolean)#653`
  We could replace the strings with genericized refs as in `ref.generizice()`
- `ODKView.setDataForFields(Bundle)#530`
  We

[2020-02-10 12:41] anubhav11march commented on #3621
I would like to work on this

[2020-02-10 13:11] seadowg commented on #3621
Hey @anubhav11march 👋

You can follow the instructions in our [CONTRIBUTING.md](https://github.com/opendatakit/collect/blob/master/docs/CONTRIBUTING.md) on how to get started with a contribution.

[2020-02-10 15:00] seadowg opened #3633 "Allow copying of Install ID"
This is a follow up to #3595.

As @lognaturel suggests in the original feature:

This was good to split out as copying preferences to the clipboard means we need to switch to using the new androidx.preferences dependencies rather than the deperecated one's we are using now. It would be good to limit this to just the Form Metadata screen if possible so then we can covert the other screens later whi

[2020-02-10 17:09] lognaturel commented on #3631
Thanks for documenting, @ggalmazor. Let's get to the end of the ongoing JR work first and come back to this! The changes required are a bit all over the place and represent some risk. Luckily it looks like `TreeReference.genericize` may be a sufficient replacement.

[2020-02-11 10:58] kkrawczyk123 opened #3634 "Markup Image button should be disabled when there is no media or path to default image is invalid."
#### Software and hardware versions
Collect v1.26x, Android v4-10, device used...

#### Problem description
For Annotate widget with default image described Markup Image button should be enabled only when path to default image is described in a correct way. Currently, when delete media and open form Markup button is enabled. The same issue is visible when the default image path is described in inc

[2020-02-11 15:59] #3493 closed, assigned to SaumiaSinghal

[2020-02-11 16:09] #3618 closed, assigned to andrewsiew2

[2020-02-11 18:00] devanshi7799 commented on #3591
@eeshugerman can i work on this one?

[2020-02-11 18:17] lognaturel opened #3635 "Error when form with reference to last-saved instance is downloaded"
#### Software and hardware versions
Collect v1.25.1

#### Problem description
When a form with a reference to the last-saved instance is downloaded, the last-saved instance isn't created so there's a crash when Collect tries to build a FormDef to get the geo coordinate for mapping.

See [user report](https://forum.opendatakit.org/t/xlsform-spec-proposal-add-syntax-to-make-it-easy-to-use-a-value-fr

[2020-02-12 05:17] lognaturel commented on #3635
The problem was introduced with parsing the full form definition using JavaRosa machinery in order to get the geometry XPath path for the map view. It's a regression in v1.25 but it wasn't reported before https://github.com/XLSForm/pyxform/pull/417 was released. We know other form builders include last-saved support but it's possible that no one has tried to download a form with last-saved with v1

[2020-02-12 06:08] lognaturel commented on #3635
I believe https://github.com/opendatakit/collect/commit/1cb00a24bebf63aa7595f93e52e2c5b3eb3c1253 is about as targeted of a fix as possible. I'm going to spend a little more time seeing whether I can get a test around it and then send in a PR.

[2020-02-12 17:29] #84 closed, assigned to nobody

[2020-02-12 18:27] mmarciniak90 opened #3638 "User is able to leave form by clicking on header immediately when the form is loaded"
#### Software and hardware versions
Collect v1.26.0 beta.0

#### Problem description
User is able to leave form by clicking on header immediately when the form is loaded

#### Steps to reproduce the problem
1. User goes to `Fill Blank Form`
2. User clicks on some form
3. User immediately clicks on the header (with icons save / jump to )
4. User is moved to main menu

#### Expected behavior
Clickin

[2020-02-12 22:22] lognaturel commented on #3335
Hi, @OpenDataNerd! It would be really great to get this in soon. Any chance you could submit what you've already done as a PR?

[2020-02-13 03:28] breakbusyloop commented on #3335
@opendatakit-bot claim

[2020-02-13 03:29] breakbusyloop commented on #3335
@lognaturel I'll try to get to this before the weekend

[2020-02-13 14:00] #3595 closed, assigned to seadowg

[2020-02-13 19:24] lognaturel commented on #3538
Unfortunately we've had to make some more changes to `FormDowloader` in #3639 so the pain has been felt again. To recap how we ended up in this code that had been mostly untouched since the beginning of time:
1. We wanted to pull out the XPath path of the first geopoint not in repeat in support of the instance mapping feature.
1. We decided to replace custom XML parsing code with JavaRosa for this

[2020-02-14 11:16] SaumiaSinghal commented on #3612
Hie @seadowg! Can I work on this?

[2020-02-14 15:03] seadowg commented on #3612
@SaumiaSinghal sure! Go ahead and claim it! I'd look at the `DialogFragment`s we're already using like `ProgressDialogFragment` and `MaterialFullScreenDialogFragment` and their tests to get a sense of how to work with the `DialogFragment`. We've also got some helpers that will be useful for opening/closing `DialogFragment` instances in `DialogUtils`.

[2020-02-14 15:04] #3498 closed, assigned to seadowg

[2020-02-14 15:07] SaumiaSinghal commented on #3612
@opendatakit-bot claim

[2020-02-15 13:53] zahira21 opened #3641 "Permission"
How to give the READ_PHONE permission. If the permission is asked at the starting of the app then the app automatically crashes. It's been a month that I have tried to remove the permission issue

[2020-02-15 23:08] lognaturel commented on #3641
Is this an issue for you on the Collect version in the Play Store? Please be sure to fill out the entire issue template including device info and Android version.

[2020-02-16 02:29] zahira21 commented on #3641
I had downloaded the source code provided in the git hub to prepare my own customized app. There is an issue with READ_PHONE permission. We have to provide ask permission from java class instead of from the activity class.

[2020-02-16 22:44] lognaturel commented on #3641
It sounds like you’ve solved the problem on your fork so that’s great. It hasn’t been an issue on master so I’m closing this issue.

[2020-02-16 22:44] #3641 closed, assigned to nobody

[2020-02-17 19:54] #3635 closed, assigned to lognaturel

[2020-02-17 23:00] lognaturel commented on #3051
Android 4 is no longer supported.

[2020-02-17 23:00] #3051 closed, assigned to nobody

[2020-02-17 23:01] lognaturel commented on #3048
Sorry we didn't get back to you on this, @chidauri! Yes, using the last modified time in this case is great since we don't get the same manifest as with custom servers.

[2020-02-18 11:30] #3546 closed, assigned to nobody

[2020-02-18 13:22] seadowg opened #3643 "Test image widgets display correct image"
There aren't currently tests for the image widgets (widgets descending from `BaseImageWidget`) that ensures they display the correct image based on the file path in a prompt. We now have tests that they display an image default however (#3642) so we should add the "normal" case to these tests as well.

[2020-02-18 13:47] seadowg opened #3644 "Enumerator can add another repeated question while in one"
This feature was driven out by research [here](https://github.com/seadowg/collect-design/blob/master/research/repeats.md) and is mocked up [here](https://github.com/seadowg/collect-design/tree/master/prototypes/repeat-tweaks).

### Acceptance
- [x] Given I'm filling out `birds.xml`
And I'm already adding an observation
When I click the ➕ icon in the top right
And I click "Add"
Then I can fill out

[2020-02-18 13:55] seadowg commented on #3644
@lognaturel are you happy for this to go ahead?

[2020-02-18 14:09] seadowg commented on #3142
@lognaturel and I chatted about this recently and felt we can probably do without a toast warning unless we start seeing feedback around this issue. So given @ggalmazor's changes it feels that (once we upgrade JavaRosa) we should just make sure we have a test at the Widget/Adapter level to make sure that rendering/selecting choices with empty values doesn't explode. Does that sound right @grzesiek

[2020-02-18 19:29] lognaturel opened #3646 "Install ID should not be reset when resetting settings from admin settings"
#3632 adds an install ID that will soon replace IMEI which we can no longer read after targeting SDK 29. That install ID is stored in shared preferences and is currently reset when a user chooses to reset settings from the Admin Settings inside of Collect. The goal for the setting reset is that it reset settings that are user-facing. The install ID is more system-facing and we only want it reset i

[2020-02-18 19:37] lognaturel commented on #3644
I think there's some detail missing. Let's say there are 4 repeats and I'm at the beginning of the first instance. Do users expect adding a new second instance or fifth instance? Where would the button go relative to the other two top-level actions? Presumably it would be the right-most meaning that it could sometimes go into the overflow menu? Is the meaning of a + going to be clear to users?

Wo

[2020-02-19 09:10] seadowg commented on #3644
@lognaturel yeah good questions.

Like with the ➕ in the hierarchy the new instance will always be the "last" one (so it would be a fifth in your example). The flow we heard about in research is adding partial details then adding another or having to add a new repeat in a hurry and I think both these work with that behaviour. I'll update the acceptance for this!

No I've got it as left most (see t

[2020-02-19 13:14] seadowg commented on #269
@yanokwa @lognaturel it looks this stuff has moved into Github releases or is now covered in our (repo) docs. Closing this but reopen if I'm wrong!

[2020-02-19 13:14] #269 closed, assigned to nobody

[2020-02-19 13:15] seadowg commented on #146
This would be better served as a [forum](https://forum.opendatakit.org/) discussion so closing this.

[2020-02-19 13:15] #146 closed, assigned to nobody

[2020-02-19 13:17] #3036 closed, assigned to nobody

[2020-02-19 17:16] lognaturel commented on #3644
I'm getting a little ahead of things but just want to make sure I understand. The form controller would jump to the last instance repeat, show the dialog, and if the user tapped "Do not add" it would jump back to where it was?

Oops, missed the mockup, thanks. What happens on narrow screens? Would the three buttons always be shown or would one overflow? With what you have in the mockup, the jump b

[2020-02-19 17:30] seadowg commented on #3644
That would be nicest. For the acceptance I've gone with the current behaviour from the jump screen which is that you end up at the end of the form (the save and exit screen). I think we could look at making it jump back to where they were but I'd like to seperate that out. I'm making a (fairly safe I hope) assumption here that in pressing that button it's very unlikely you're not going to add a re

[2020-02-20 17:36] seadowg commented on #3644
@lognaturel I've updated the acceptance based on not showing a confirmation dialog when the user hits ➕. For others the thinking was that this introduced some weird flows when the user hit "Do not add".

[2020-02-20 18:20] lognaturel commented on #3644
Wait, hold up! I had suggested removing the dialog from the existing flow with + in the hierarchy view. What I feel strongly about is that if a user taps "Do not add", they should always remain exactly where they were when they tapped +. This is what is so strange about the hierarchy + case. You tap "do not add" and then you're after the last repeat that you wanted to add rather than back in the h

[2020-02-20 19:02] lognaturel commented on #3621
How is this going, @anubhav11march? If you need any help getting set up, find us [in Slack](https://slack.opendatakit.org). We definitely want this in the next release!

[2020-02-20 19:04] anubhav11march commented on #3621
@lognaturel  Hey, Sorry, I got busy with something. I will work on this tomorrow onward and will definitely ensure to complete it before next version. :)

[2020-02-20 19:40] lognaturel commented on #3621
Thanks, @anubhav11march!

[2020-02-20 22:50] lognaturel opened #3648 "When a form instance requiring encryption is synced from disk, the instanceID should be read from the submission body"
#### Software and hardware versions
Collect v1.25.2

#### Problem description
Form instances can be registered with Collect in two ways: by being instantiated and saved by Collect or by being synced from disk. When instances require encryption, a manifest is written that must include instanceId so that decryption can happen. When instances are synced from disk, the instanceId used for the manifest

[2020-02-21 11:00] seadowg commented on #3644
@lognaturel woh sorry got our wires crossed there.

Hmmmm I think that has me convinced we keep the dialog. I'll update the acceptance again. I reckon we have a different issue for changing the hierarchy button?

[2020-02-21 18:56] lognaturel commented on #3142
@seadowg That sounds fine to me. Can we also add a `filteredItems.get(index).getValue() != null` in front of `filteredItems.get(index).getValue().equals(selectedValue)`? It should generally be possible for Collect to handle `null` values.

[2020-02-24 11:53] seadowg opened #3649 "Update `appcompat` dependency"
Currently we are stuck on `appcompat:1.1.0-rc01` due to an issue introduce in `appcompat:1.1.0`: https://issuetracker.google.com/issues/141869006.

To reproduce the issue:
1. Change the app language to something other than your system default
1. Change `appcompat` version to 1.1.0 in `collect_app/build.gradle`
1. Redeploy the app

The language will change back to the system default.

It looks like

[2020-02-24 13:37] seadowg commented on #3644
@lognaturel I've added analytics acceptance. Seemed like a good idea to add analytics for all the routes to see how this ends up comparing to the other ways of adding repeats.

Also added an analytics event around if the user hits the ➕ and then "Do not add" ("InlineDecline"). If we see that being more popular than hitting "Add" then we know the feature isn't working...

[2020-02-24 22:07] lognaturel opened #3650 "Move app version to toolbar and remove tagline"
<img src="https://user-images.githubusercontent.com/967540/75195171-4c54b580-570e-11ea-9f17-6486c043e02e.png" width="250" />

Described by @seadowg at https://github.com/seadowg/collect-design/tree/master/prototypes/revised-main-menu. For now, no changes would be made to the buttons.

Additionally, the git commit hash needs to be added for builds that don't come from a tagged commit. This will onl

[2020-02-25 08:30] seadowg commented on #3650
@lognaturel what's the thinking behind needing the commit SHA displayed? Personally I've never used it.

[2020-02-25 10:17] mmarciniak90 opened #3651 "Collect crashes when the map button is clicked if at least one point is set"
#### Software and hardware versions
Collect master

#### Problem description
Collect crashes when the map button is clicked if at least one point is set

#### Steps to reproduce the problem
1. User fills `All widgets` form
2. User adds a location to Geopoint question
3. User leaves jobs (completed or not)
4. User goes to `Fill Blank Form` and clicks on the map button
5. Collect crashes

#### Expec

[2020-02-25 10:18] mmarciniak90 commented on #3651
2020-02-25 11:18:03.066 29963-29963/org.odk.collect.android E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 29963
    java.lang.RuntimeException: Unable to resume activity {org.odk.collect.android/org.odk.collect.android.activities.FormMapActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.android.gms.maps.model.Marker.set

[2020-02-25 15:53] #3633 closed, assigned to seadowg

[2020-02-25 15:53] #3646 closed, assigned to nobody

[2020-02-25 19:56] lognaturel commented on #3651
I talked to @grzesiek2010 and said I'd take this on since it's code I recently touched. He pointed me in the right direction.

[2020-02-25 20:18] lognaturel commented on #3650
Ah, well, maybe I'm the only one! @grzesiek2010? @opendatakit/testers? I find it very valuable to be able to connect a running version with a commit hash when I discover a new issue or when I'm comparing alternative implementations. It's really helpful when doing releases to be very confident we're on a clean, tagged commit so I think we should have an at-a-glance way to confirm that.

[2020-02-26 10:07] kkrawczyk123 opened #3653 "Undesirable button is visible on readOnly video widgets."
### Software and hardware versions
Collect v maser, Android v probably all, checked on 7-10, device used...

#### Problem description
The undesirable button is visible on readOnly version of video widget and selfie video widget:
![Screenshot (Feb 26, 2020 10_46_04 AM)](https://user-images.githubusercontent.com/33342488/75334221-bcd31200-5887-11ea-803d-d5be73d227e7.png)

#### Steps to reproduce the

[2020-02-26 10:42] #3624 closed, assigned to SaumiaSinghal

[2020-02-26 16:55] rik702 commented on #3507
Get the same on macos 10.15.3 (Catalina) with Android Studio 3.6.  ODK Collect 1.25.2
(the "Failed to transform file 'nbi-stubs-1.0.0.aar'" one, not the myanmar one)

[2020-02-26 17:32] shubhamkumar1739 commented on #3653
@grzesiek2010 I am a newbie and i wish to contribute. Can I work on it?

[2020-02-26 17:37] grzesiek2010 commented on #3653
@shubhamkumar1739 ok go ahead!

[2020-02-26 19:50] shubhamkumar1739 commented on #3621
@lognaturel as this issue was inactive from a few days, I fixed it.

[2020-02-27 17:03] #3621 closed, assigned to nobody

[2020-02-28 09:32] seadowg commented on #3653
@kkrawczyk123 @shubhamkumar1739 am I right in thinking that the button should still appear if it's read only AND it has content (a video/selfie)?

[2020-02-28 09:48] shubhamkumar1739 commented on #3653
@seadowg yes even I thought so. But I decided to stick with the expected behaviour mentioned in the issue.

[2020-02-28 09:52] kkrawczyk123 commented on #3653
@shubhamkumar1739  expected behavior describes case when there is no content.

[2020-02-28 09:53] shubhamkumar1739 commented on #3653
ok i'll make the changes

[2020-02-28 11:15] grzesiek2010 opened #3657 "Select options with images take too much space"
#### Problem description
The problem has been originally reported on the forum:
https://forum.opendatakit.org/t/fitting-an-entire-image-multiple-choice-question-to-screen-on-tab/25034

#### Steps to reproduce the problem
open the attached form:
[selectTest.zip](https://github.com/opendatakit/collect/files/4266760/selectTest.zip)

[2020-02-28 17:59] lognaturel opened #3660 "With Mapbox or Google mapping engines, offline tiles are not rendered without an Internet connection"
#### Software and hardware versions
Collect v1.25.2 and prior

#### Problem description
See https://forum.opendatakit.org/t/mapbox-mbtiles-layer-not-loading-without-network-connection/21774 for user report.

#### Steps to reproduce the problem
1. Set the basemap source to Mapbox or Google
1. Push an mbtiles file to `/sdcard/odk/layers`
1. Turn off all networking
1. Select that mbtiles file as a re

[2020-03-02 13:04] seadowg commented on #3142
@lognaturel that sounds good

[2020-03-02 14:01] kkrawczyk123 opened #3663 "Edits in ranking widget not updated immediately."
#### Software and hardware versions
Collect v1.current master.x, Android vprobably all, checked on 7, 9 and 10.x.x, device used...

#### Problem description
When edit/delete answers using ranking widget changes are not updated immediately, user has to go forward and backward again to see the change.
gif showing the issue:
![ranking_widget](https://user-images.githubusercontent.com/33342488/7568263

[2020-03-02 14:48] mmarciniak90 opened #3664 "Answer in select one/multi widget is not marked when the user moves back - Android 6.0"
#### Software and hardware versions
Collect v1.25.0
Android 6.0

#### Problem description
Answer in select one widget is not marked when the user moves back

#### Steps to reproduce the problem
1. User starts a form ([forms.zip.txt](https://github.com/opendatakit/collect/files/4275922/forms.zip.txt) / `All widgets`)
2. User puts answers
3.  User moves back
4. The selected answer is unselected
5. U

[2020-03-02 17:36] chidauri commented on #3529
@lognaturel can i take this up?

[2020-03-02 17:36] lognaturel commented on #3529
That would be wonderful, @chidauri. Please be sure to claim it!

[2020-03-02 17:43] chidauri commented on #3529
@opendatakit-bot claim

[2020-03-03 09:32] chidauri commented on #3529
@lognaturel i can't reproduce the issue in v1.25+  and i checked it was indeed present in v1.24.1.

[2020-03-03 15:09] #3657 closed, assigned to grzesiek2010

[2020-03-03 16:55] lognaturel commented on #3529
Great news, thanks for reproducing on both versions, @chidauri. Now I'm not sure why the issue stuck around!

[2020-03-03 16:55] #3529 closed, assigned to chidauri

[2020-03-03 22:30] lognaturel opened #3669 "Replace KEYS_WE_SHOULD_NOT_RESET with "meta" shared preferences"
In https://github.com/opendatakit/collect/pull/3640/files#diff-bf808238c0e5c486c12b05f9477c0fb2, @seadowg introduced a new preference file named `meta` to hold values relevant to Collect's behavior but not surfaced as a user preference. This makes for a nice separation and ensures that we won't do something like accidentally reset those preferences with the reset utility or allow users to change t

[2020-03-04 10:08] chidauri commented on #3419
@lognaturel @grzesiek2010 can i take this up?

[2020-03-04 12:19] #3664 closed, assigned to grzesiek2010

[2020-03-04 14:14] #3650 closed, assigned to seadowg

[2020-03-04 15:10] #3663 closed, assigned to grzesiek2010

[2020-03-04 17:25] lognaturel opened #3673 "Crash when loading Mapbox map"
#### Software and hardware versions
Presumably dc1f29f and later though it was reported at https://github.com/opendatakit/collect/pull/3652#issuecomment-594471275. Android 5.1. I think it was likely Huawei Y560-L01 - Android 5.1.1.

#### Problem description
Crash when loading a map with Mapbox base map.

@grzesiek2010 has identified that it's likely mapbox/mapbox-gl-native-android#123:

`03-04 17:

[2020-03-04 18:21] lognaturel opened #3674 "Error message when search() expression uses missing column is misleading"
#### Software and hardware versions
Collect v1.25.2

#### Problem description
Error message when search() expression uses missing column is misleading.

#### Steps to reproduce the problem
1. Open a form with a `search()` expression that refers to a column that doesn't exist such as [bad-search-column.zip](https://github.com/opendatakit/collect/files/4288996/bad-search-column.zip)
1. See that the

[2020-03-04 18:36] lognaturel commented on #3674
The problem is that the file is successfully ingested in this case, it just can't be queried. By the time the exception capture happens, there is no more .csv file because it has been moved to .imported. I'd like to know what happened between v1.24 and v1.25 to explain the behavior change in case there were other ramifications to that change but #3666 does incidentally fix this because the .csv fi

[2020-03-05 12:36] #3651 closed, assigned to lognaturel

[2020-03-05 13:48] kkrawczyk123 opened #3682 "Unable to download form with external secondary CSV instance for the second time."
#### Software and hardware versions
Collect current master, Android probably all, device used...

#### Problem description
When testing #3666 I have noticed one special case when a form with external CSV file becomes unuseable after trying to download it for the second time.

#### Steps to reproduce the problem
1. Scan the code with Central access (same as attached in #3666 :
![75826614-b566a980-5

[2020-03-05 14:16] #3335 closed, assigned to nobody

[2020-03-05 14:19] #3673 closed, assigned to grzesiek2010

[2020-03-05 14:36] lognaturel commented on #3682
Good one. In that case all of the metadata discovery should be skipped. The crash is because the reference manager points to the download directory but the csv wasn’t downloaded again.

[2020-03-05 17:28] lognaturel commented on #3674
This was fixed by #3666 but I think we should do a quick sanity check around the changes that caused the problem. Is that what you've claimed, @grzesiek2010?

[2020-03-06 04:43] lognaturel commented on #3335
I think that there is possibility for a bad state currently if the device time was accidentally ahead of what it should be, a form was downloaded, then the time was set correctly and an update to a CSV attachment was pushed to the device or downloaded after that. Then the newer version would look older and not be imported. I'm wondering whether we should just re-ingest if the timestamps don't matc

[2020-03-06 10:03] seadowg commented on #3335
@lognaturel yeah I think that's better. I kind of think an MD5 (or any fast hash) would be best as it just avoids time entirely.

[2020-03-06 11:21] kkrawczyk123 opened #3687 "Saved on/Finalized on/Sent on dates are reset after migration"
#### Software and hardware versions
Collect v1.26.x, Android all, device used...

#### Problem description
Saved on/Finalized on/Sent on dates are reset after migration, and the date of migration is displayed instead.

#### Steps to reproduce the problem
1. Fill submission on different time
2. Send some submission on different time
3. Migrate files
4. Open Edit Saved Form/ Send Finalized Form and

[2020-03-06 11:34] mmarciniak90 opened #3689 "Save button in Reason for changes page does not work after rotating device orientation"
#### Software and hardware versions
Collect v1.26.0 beta
Works correctly on v1.25.2

#### Problem description
Save button in Reason for changes page does not work after rotating device orientation

#### Steps to reproduce the problem
1. User fills the form [track-changes-reason-on-edit.xml.txt](https://github.com/opendatakit/collect/files/4298052/track-changes-reason-on-edit.xml.txt)
2. User goes

[2020-03-06 11:35] mmarciniak90 commented on #3689
@opendatakit-bot label "regression"

[2020-03-06 12:16] seadowg commented on #3689
@grzesiek2010 it looks like you have a few things in flight. I can take a look at this if you want?

[2020-03-06 14:12] grzesiek2010 commented on #3689
Thanks but I already have a solution I guess. Since you probably know more about LiveData please take a look and let me know if my thinking is right #3690.

Does that really work in that way that after rotating a device it won't remember about observers like this https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L

[2020-03-06 14:44] seadowg commented on #3689
@grzesiek2010 hmmm yeah as far as I understand it absolutely should remember that observer so you shouldn't have had to make the change you made in #3690. I'm going to try and wrap my head around it.

[2020-03-06 16:32] seadowg commented on #3689
@grzesiek2010 actually don't listen to earlier Callum. Earlier Callum is wrong - the activity will of course call `onDestroy` when rotating which will kill the observation.

@grzesiek2010 @lognaturel What confused me is that the `FormEntryActivity` has `android:configChanges="orientation"` in the manifest which should mean that it is not recreated on rotation. It seems like this isn't working thro

[2020-03-06 19:28] mmarciniak90 opened #3692 "Readonly is not applied to select one/multiple widget with image-map appearance"
#### Software and hardware versions
Collect v1.26.0 beta

#### Problem description
Readonly is not applied to select one/multiple widget with image-map appearance

#### Steps to reproduce the problem
1. User starts a form with read-only questions
[form.zip](https://github.com/opendatakit/collect/files/4300029/form.zip)

2. User opens Select one/multi widget with image-map appearance
3. User is abl

[2020-03-06 19:29] mmarciniak90 commented on #3692
@opendatakit-bot label "regression"

[2020-03-07 00:58] lognaturel opened #3693 "Simplify version parsing code and ensure that different tag structures won't cause a crash"
See https://github.com/opendatakit/collect/pull/3685#issuecomment-595494561 for suggested approach. I think that by first handling the beta version suffix and then splitting on the first `-`, there will no longer be a crash risk but this should be added to the tests (e.g. `my-cool-version` or `777` as versions).

[2020-03-07 01:00] lognaturel opened #3694 "Changes in device time can prevent re-ingestion of updated CSV"
See https://github.com/opendatakit/collect/issues/3335#issuecomment-595597405. Additionally, use of a timestamp means that if the same CSV file is downloaded multiple times it will be re-ingested every time.

Using timestamps also meant the tests had to sleep and could potentially be flaky.

[2020-03-09 08:44] mmarciniak90 opened #3696 "Removed Geopoint does not disappear from the MapActivity view immediately"
#### Software and hardware versions
Collect v1.26.0 beta

#### Problem description
Removed Geopoint does not disappear from the MapActivity view immediately

#### Steps to reproduce the problem
1. User opens new MapActivity
2. User sees marker for each form instance
3. User clicks on some marker
4. User removes response for Geopoint widget
5. User leaves the form and saves it
6. User is moved to M

[2020-03-09 08:45] mmarciniak90 commented on #3696
@opendatakit-bot label "regression"

[2020-03-09 11:08] #3687 closed, assigned to grzesiek2010

[2020-03-09 11:53] grzesiek2010 commented on #3689
I' also not a fan of flags like `orientation`/`screenSize` it would be good to get rid of it but I find it risky so definitely not now before release.

[2020-03-09 14:19] #3692 closed, assigned to grzesiek2010

[2020-03-09 16:48] lognaturel commented on #3696
@grzesiek2010 I'm going to take this one because I have all the context and it'll be really fast for me. I'm thinking we should generally give the author of the code with a bug a first pass for that reason? There's definitely value in different people working with the same code but perhaps we should focus on getting that value in review.

[2020-03-10 09:13] #3696 closed, assigned to grzesiek2010

[2020-03-10 14:48] chidauri commented on #3634
@opendatakit-bot claim

[2020-03-10 14:51] kkrawczyk123 opened #3700 "Espresso regression tests don't work on device with Android 9.0"
#### Software and hardware versions
Collect v1.25/1.26.x, Android v9.0, device used: Xiaomi Redmi 7 and Samsung A50

#### Problem description
Espresso regression tests don't work on real devices with Android 9.0. They run without any problems on the emulator.

#### Steps to reproduce the problem
Try to run them on device with Android 9.

#### Expected behavior
Espresso regression tests should work

[2020-03-10 15:02] lognaturel commented on #3700
@kkrawczyk123 do you have animations turned off on that device? If you haven't tried that yet, could you try turning them off?

[2020-03-10 18:27] lognaturel commented on #3360
For anyone who might be following this issue, the scoped storage migration is now implemented and available to beta test: https://forum.opendatakit.org/t/odk-collect-v1-26-beta-1-scoped-storage-migration/25313. There is documentation on the forum: https://forum.opendatakit.org/t/odk-collect-v1-26-storage-migration/25268.

The migration is currently opt-in and will be forced in a release right befo

[2020-03-10 18:43] lognaturel commented on #110
I think this is largely addressed by the `set-geopoint` action which lets users specify a point in the form where a location read attempt should be made. It's not totally fool-proof because it only attempts for 20s but it could be triggered multiple times. Right now it's only exposed via XLSForm at instance launch but more control will be given soon.

Another option is to use audit log location tr

[2020-03-10 18:43] #110 closed, assigned to nobody

[2020-03-10 18:45] lognaturel commented on #165
Things have changed in the cert world and we haven't received requests like this for some time.

[2020-03-10 18:45] #165 closed, assigned to nobody

[2020-03-10 18:47] lognaturel commented on #390
This is a great concept that hopefully someone will bring up again [in the forum's features category](https://forum.opendatakit.org/c/features/9) for deeper discussion and design.

[2020-03-10 18:47] #390 closed, assigned to nobody

[2020-03-10 19:03] lognaturel commented on #265
There is now some infrastructure in `MapProvider` and related classes to support this. Inputs to the broader geo roadmap are tracked [in this document](https://docs.google.com/document/d/1OBWEOe_KRBldhyy80KuLPGnPM0WxKy6n81bLxGBgNCY/edit#heading=h.o8qrzqqjskt).

[2020-03-10 19:03] #265 closed, assigned to nobody

[2020-03-10 19:06] lognaturel commented on #796
The test structure has changed a ton and flaky test issues are being actively monitored so we can close this.

[2020-03-10 19:06] #796 closed, assigned to nobody

[2020-03-10 19:08] lognaturel commented on #849
It's now possible to attach CSVs to be queried by pulldata to forms served by Google Sheets. The workflow @ghost describes would require the addition of some automation step that periodically converts collected data to a CSV. Or simply manually exporting the data to CSV on a nightly basis.

[2020-03-10 19:08] #849 closed, assigned to nobody

[2020-03-10 19:24] lognaturel commented on #618
Closed in #621.