[2020-03-10 19:24] #618 closed, assigned to nobody

[2020-03-10 19:27] lognaturel commented on #1204
Configuring audits in form design seems to be sufficient.

[2020-03-10 19:27] #1204 closed, assigned to nobody

[2020-03-10 19:27] lognaturel commented on #993
No user has complained about this so I don't think it's worth spending cycles on. It's some kind of Android/device bug.

[2020-03-10 19:27] #993 closed, assigned to nobody

[2020-03-10 19:32] #1361 closed, assigned to nobody

[2020-03-10 19:33] lognaturel commented on #1680
Since this is a feature request/suggestion, let's keep the discussion on that forum thread.

[2020-03-10 19:33] #1680 closed, assigned to nobody

[2020-03-10 19:35] lognaturel commented on #1745
Let's wait for a user to actually request this.

[2020-03-10 19:35] #1745 closed, assigned to nobody

[2020-03-10 19:37] lognaturel commented on #232
This is under discussion at https://forum.opendatakit.org/t/openrosa-spec-proposal-add-optional-client-settings-endpoint/25140/ roughly with what @akshay-ap has described.

[2020-03-10 19:37] #232 closed, assigned to nobody

[2020-03-10 19:38] lognaturel commented on #1251
Time has passed so this is not so relevant anymore.

[2020-03-10 19:38] #1251 closed, assigned to nobody

[2020-03-10 19:38] lognaturel commented on #739
This would be nice for symmetry but we haven't heard of a user needing it and the smaller we keep the external API the easier it is to maintain so let's close pending a request.

[2020-03-10 19:38] #739 closed, assigned to nobody

[2020-03-11 09:03] #3694 closed, assigned to lognaturel

[2020-03-11 10:10] #3689 closed, assigned to grzesiek2010

[2020-03-11 12:12] kkrawczyk123 commented on #3700
@lognaturel The attached stack trace was with "Animation scale 1x". I have tried with Animations off this is the stack trace:
[animationOffxiaomi.txt](https://github.com/opendatakit/collect/files/4318154/animationOffxiaomi.txt)

[2020-03-11 16:19] grzesiek2010 commented on #3674
I can confirm that a dialog with more valuable message is displayed:
![Screenshot_2020-03-11-18-17-21](https://user-images.githubusercontent.com/3276264/76439279-71a71c00-63bc-11ea-97e4-25387c8a2c55.png)

@lognaturel do you think it would be good to handle it somehow and display something more user friendly?

[2020-03-11 16:30] grzesiek2010 opened #3703 "Add an option to send data to Google Sheets without the apostrophe"
#### Software and hardware versions
All versions and all devices

#### Problem description
We use an apostrophe to send data to Google Sheets in order to protect users from automatic conversion of some answers, actually it's used just in case of three question types:
- text
- select_multi
- barcode

but still it's a problem for some users. The apostrophe is not needed if we send data to a sheet th

[2020-03-11 16:30] grzesiek2010 commented on #3703
@lognaturel I think it would be good to have it in v1.27 since it's a recurring problem. Any thoughts?

[2020-03-11 17:49] lognaturel commented on #3674
There are various different SQLite exceptions that could happen at that point. To display a friendlier message, we'd need to do something like use a regex on the exception message. The message is ugly but I think it's relatively easy to understand so I'd tend to leave it. If you're ok with that you can close, @grzesiek2010.

[2020-03-11 18:34] #3674 closed, assigned to grzesiek2010

[2020-03-12 11:50] grzesiek2010 opened #3705 "Improve the code responsible for updating numbers in buttons in the main menu"
#### Software and hardware versions
All versions and devices.

#### Problem description
We have a nasty code in [MainMenuActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/MainMenuActivity.java#L608) responsible for updating numbers in buttons. It causes that [updateButtons()](https://github.com/opendatakit/collect/blob/master/

[2020-03-12 11:55] grzesiek2010 commented on #3343
@mmarciniak90 @kkrawczyk123
is it something you are able to reproduce?

[2020-03-12 12:33] grzesiek2010 commented on #1912
I'm closing this issue. I reviewed our lint's there is not much to do there and also it's not like we want to fix all warnings (or ignore), some of them shouldn't be fixed but are helpful so shouldn't be ignored as well.

[2020-03-12 12:33] #1912 closed, assigned to nobody

[2020-03-12 12:34] grzesiek2010 commented on #541
I'm closing this issue, a lot has change since it was reported.

[2020-03-12 12:34] #541 closed, assigned to nobody

[2020-03-12 12:41] grzesiek2010 commented on #254
I'll just add that during last year we received 28 events from 12 users where 82.1% of them are from Poland so triggered by the QA team:
https://console.firebase.google.com/u/0/project/api-project-322300403941/analytics/app/android:org.odk.collect.android/events~2Freport~2FShowSplashScreen%3Ft=1584016561439&fpn=322300403941&swu=1&sgu=1&sus=upgraded&params=_u..pageSize%253D25%2526_u.dateOption%253D

[2020-03-12 12:47] grzesiek2010 commented on #1540
Now we have many espresso tests that cover our test cases so we can close.

[2020-03-12 12:47] #1540 closed, assigned to nobody

[2020-03-12 15:17] lognaturel commented on #254
Thanks for bringing this back up, @grzesiek2010. It looks like I was on maternity leave when analytics were added so I missed it.

I just added analytics to track when the splash screen is displayed for an app launch that is not the first one. This also tracks a hash of the image path. That way, we'll know how many different custom images are being set and how often they're seen by actual users. T

[2020-03-12 17:11] lognaturel commented on #125
As has been described above, this can be done today with an external application: https://docs.opendatakit.org/launch-apps-from-collect/. Some of the challenges with having Collect do it natively are:
- GPS requests are asynchronous. That makes a function like `gps-time()` impractical. A `setgpstime` action analogous to [`setgeopoint`](https://opendatakit.github.io/xforms-spec/#action:setgeopoint)

[2020-03-12 17:11] #125 closed, assigned to nobody

[2020-03-12 17:13] lognaturel commented on #185
This is being tracked at https://github.com/opendatakit/xforms-spec/issues/131. Unclear whether it really makes sense and it would need a user champion to move forward.

[2020-03-12 17:13] #185 closed, assigned to nobody

[2020-03-12 17:20] lognaturel commented on #112
Addressed in https://github.com/opendatakit/collect/issues/336. Any message from an `OpenRosaResponse` should be displayed by Collect.

[2020-03-12 17:20] #112 closed, assigned to nobody

[2020-03-12 17:22] lognaturel commented on #233
This has become more of a governance issue and is tracked at https://github.com/opendatakit/roadmap/issues/22.

[2020-03-12 17:22] #233 closed, assigned to nobody

[2020-03-12 17:26] lognaturel commented on #234
Will likely be addressed by bulk configuration. Further feature design will go on the forum.

[2020-03-12 17:26] #234 closed, assigned to nobody

[2020-03-12 17:28] lognaturel commented on #326
We have a lot of Arabic users and no complaints so the resulting translations must at least be understandable. I don't know how to act on this at the moment so closing.

[2020-03-12 17:28] #326 closed, assigned to nobody

[2020-03-12 17:29] lognaturel commented on #321
Good idea. We can continue design in a forum feature thread if a user request comes back up.

[2020-03-12 17:29] #321 closed, assigned to nobody

[2020-03-12 17:31] #758 closed, assigned to nobody

[2020-03-12 17:33] lognaturel commented on #656
@grzesiek2010, @seadowg this seems worth doing? I think the advantage is that the build would go through all the same transformation as for release. I believe this issue was filed after we had some build issues that only showed up for release.

[2020-03-12 17:34] lognaturel commented on #312
Closing until we have a spec for this. I do think it's important.

[2020-03-12 17:34] #312 closed, assigned to nobody

[2020-03-12 17:35] lognaturel commented on #616
Close pending a spec.

[2020-03-12 17:35] #616 closed, assigned to nobody

[2020-03-12 17:35] seadowg commented on #656
I don't see any harm in doing it! I haven't seen us run into any of these kinds of issues personally but if there's no blocker to doing it I say we go for it.

[2020-03-12 17:36] lognaturel commented on #38
Closing pending spec addition.

[2020-03-12 17:36] #38 closed, assigned to nobody

[2020-03-12 17:37] lognaturel commented on #2652
This is a pretty niche case, especially given that fewer and fewer devices have sdcard slots. Let's close and see if a user reports.

[2020-03-12 17:37] #2652 closed, assigned to nobody

[2020-03-12 17:41] lognaturel commented on #2873
There is now a button to do this.

[2020-03-12 17:41] #2873 closed, assigned to nobody

[2020-03-12 17:43] lognaturel commented on #2666
We have no clear resolution of the governance questions and no clarity on what problem this would solve so let's close for now.

[2020-03-12 17:43] #2666 closed, assigned to nobody

[2020-03-13 07:16] grzesiek2010 commented on #1491
We have had a lot bugs in managing dates and times since recently everything is fine let's not change anything so I'm closing.

[2020-03-13 07:16] #1491 closed, assigned to nobody

[2020-03-13 09:36] seadowg commented on #3705
Oh wow yeah I'd never really dug into this code. Seems overly complex to me. I'm wondering if we could just have the database queries in the new `MainMenuViewModel` and expose methods for the form counts?

[2020-03-13 11:40] grzesiek2010 commented on #3705
could you elaborate a bit?
you mean count the forms for example in `onResume()` and once `AutoSendWorker` is done like I proposed or more often maybe like now but with some other improvements?

[2020-03-13 13:57] seadowg commented on #3705
Yeah I was thinking `onResume` but hadn't considered `AutoSendWorker`. I'm wondering if this is an opportunity to use the LiveData + MVVM + Repository architecture that [Google seems to be all about](https://developer.android.com/jetpack/docs/guide)? Might be something we could chat about on a call or try and draw out. I know @lognaturel was talking about incorporating more Repository interfacts (

[2020-03-13 15:38] lognaturel opened #3709 "Insufficient spacing above grid of select questions"
#### Software and hardware versions
Collect v1.26.0

#### Problem description
![device-2020-03-13-083712](https://user-images.githubusercontent.com/967540/76636197-e20d8480-6505-11ea-9988-94796a2fad73.png)

#### Steps to reproduce the problem
Open a form with a grid of select questions such as [this one](https://docs.google.com/spreadsheets/d/1CWjrWnneTAl1Gs8-BaT-VwJV8TgrbKlYXPMK5HjGVrU/edit#gid=0

[2020-03-13 16:57] SaumiaSinghal commented on #3709
Hi @lognaturel! I would like to take this one.

[2020-03-13 16:57] SaumiaSinghal commented on #3709
@opendatakit-bot claim

[2020-03-13 21:21] grzesiek2010 commented on #3705
Yeah so that's what I meant as well.

[2020-03-13 21:43] lognaturel opened #3710 "After using the repeat dialog to add a repeat, if the next question has a text field, the keyboard is not shown"
#### Software and hardware versions
Collect v1.26.0, Android 5.1, Galaxy Tab A

#### Problem description
After using the repeat dialog to add a repeat, if the next question has a text field, the keyboard is not shown.

#### Steps to reproduce the problem
1. Open a form with repeats in which the first field in the repeat requires keyboard input (e.g. [send-sms-or-email-in-form.xml.zip](https://gith

[2020-03-13 22:06] lognaturel opened #3711 "External application parameter detection can't handle parameter values with apostrophes"
#### Software and hardware versions
Collect v1.26.0 and before

#### Problem description
External application parameter detection can't handle parameter values with apostrophes.

#### Steps to reproduce the problem
Fill out a form with an external application call and a parameter value that has a `'` in it (e.g. the external app question after the repeat in [send-sms-or-email-in-form.xml.zip](http

[2020-03-14 21:37] grzesiek2010 commented on #3710
I used two real devices and two emulators and can't reproduce... what device did you use?

[2020-03-15 18:21] owolabiezekiel opened #3712 "First time running the app and I get a database error that says "no such column: geometryType(code 1); while compile SELECT ...... FROM instances. Please how do I go about this"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
After setting up the project and running the first time, the error above appears

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2020-03-16 08:21] grzesiek2010 commented on #3712
Hi @owolabiezekiel

it's a rare problem that might occur when you use ODK Collect and another app that is based on ODK Collect like KOBO for example. Is that your case?

Recently I fixed the same problem reported on the forum https://forum.opendatakit.org/t/error-code-1-sqlite-error/25301/8
If you want please share with me the same file I asked for in that topic and I'll send you a fixed version o

[2020-03-16 08:21] #3712 closed, assigned to nobody

[2020-03-16 12:49] mmarciniak90 commented on #3343
@grzesiek2010 I was able to reproduce this issue or similar.
I executed tests on the v1.26 Beta 1
I noticed this behavior on Android 6.0. I was not able to reproduce on Android 7.0, 8.1

Use case:
1. Start filling form
2. Minimize Collect
3. Relaunch Collect clicking on shortcut icon from 'desktop'
4. Collect opens exactly on the same page
5. Minimize Collect again
6. Relaunch Collect clicking on

[2020-03-16 13:46] mmarciniak90 commented on #3638
During testing #3699 I discovered an easier way to reproduce.

1. Click on `Fill blank form`
2. Click many times on the area where the form name is
3. You may be able to observe starting the form and leaving it - it happens very quickly

The same behavior is visible opening saved form under `Edit Saved Form`

[2020-03-16 14:48] mmarciniak90 opened #3713 "`Admin Password` dialog can be opened two times"
#### Software and hardware versions
Collect v1.25
Older verions were not verified

#### Problem description
`Admin Password` dialog can be opened two times

#### Steps to reproduce the problem
1. User opens `Admin Settings`
2. User clicks multi times on `Admin password`
3. 'Admin password' dialog is opened two times

#### Expected behavior
The dialog is not opened two times

#### Other information

[2020-03-16 15:08] mmarciniak90 opened #3714 "User stuck on view with Save Form and Exit button when the button is clicked multi times"
#### Software and hardware versions
Collect v1.26
Problem is not visible on Collect v1.25

#### Problem description
User stuck on view with Save Form and Exit button when the button is clicked multi times

#### Steps to reproduce the problem
1. User fills form
2. User is on the view with `Save Form and Exit`
3. User clicks multi times on the button
4. User got stuck on this view
5. Save icon does

[2020-03-16 15:23] mmarciniak90 commented on #3714
Alternative case:
1. User starts form
2. User clicks multi times on Save icon
3. User goes to the end of the form
4. User clicks on `Save Form and Exit` but nothing happens

[2020-03-16 22:18] lognaturel commented on #3710
🤦🏻‍♀️Why didn't I fill that in?! Android 5.1, Galaxy Tab A. Great to hear it's not wide-spread. Let's close and see if a user reports. Confirmed it doesn't happen on an emulator.

[2020-03-16 22:18] #3710 closed, assigned to nobody

[2020-03-16 22:20] grzesiek2010 commented on #3710
One of devices I used was Android 5.1. We can also ask @mmarciniak90 to take a look on her devices. Please do that only if you are free since the priority is low.

[2020-03-16 22:23] grzesiek2010 commented on #3700
As I said today (during our meeting) I tried to fix the problem using the mentioned device but to no avail. I even tried espresso tests from other repositories with the same result. Can we close and use emulators instead?

[2020-03-17 03:33] lognaturel commented on #3710
Ah, I just had sudden inspiration. I had transition animations off on my device and with those settings, the keyboard appears between fields in a repeat but not for that first field in the repeat. When I turn transition animations on, everything works as expected. So let's not worry about this at all.

[2020-03-17 09:35] seadowg opened #3716 "Crash on showing dialog in `FormEntryActivity`"
#### Software and hardware versions

Collect v1.26.0

#### Problem description

Crash seen here: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/bf051feb273e3d30681ddb9a2ddd904e?time=last-seven-days&sessionId=5E708A2A032800013C6E3F1318645699_DNE_2_v2

[code]

#### Steps to reproduce the problem

Will investigate and se

[2020-03-17 09:37] grzesiek2010 commented on #3716
This is how we used to deal with such problems:
https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/fragments/dialogs/GoogleSheetsUploaderProgressDialog.java#L70

[2020-03-17 09:42] seadowg commented on #3716
@grzesiek2010 ah cool thanks. So weird that you'd have to do that! I'll have a play and see if I can reproduce (it looks like it could have something to do with granting/denying permissions and closing an activity) but we can always just incorporate that in our `showIfNotShowing`

[2020-03-17 09:43] grzesiek2010 commented on #3716
yeah it's not harmful at all so we can add it just in case.

[2020-03-17 10:27] mmarciniak90 opened #3718 "Gaps in translation"
#### Software and hardware versions
Collect v1.24.1
Older version wasn't verified

#### Problem description
Noticed dialogs/toasts that have not been translated

#### Steps to reproduce the problem

| | ||
|---|---|---|
|![Screenshot_20200317-100829](https://user-images.githubusercontent.com/3907554/76844559-c247ca80-683d-11ea-83cf-26f166f810e5.png)|![Screenshot_20200317-101712](https://user-image

[2020-03-17 10:47] grzesiek2010 commented on #3718
It's because those messages are not even translatable:
https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/upload/InstanceGoogleSheetsUploader.java#L95

https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/upload/InstanceServerUploader.java#L175

https://github.com/opendatakit/collect/blob/master/colle

[2020-03-17 16:29] mmarciniak90 commented on #3718
During the weekly meeting, we decided that we do not want to spend time to translate these messages.

[2020-03-17 16:29] #3718 closed, assigned to grzesiek2010

[2020-03-17 18:30] owolabiezekiel opened #3724 "How to set server username and password preferences in mainactivity"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
I currently want to enable ODK to autoatically set the admin username and password preferences from main activity but I keep getting the error that "Attempt to invoke virtual method 'android.widget.EditText android.preference.EditTextPreference.getEditText()' on a null object reference"

##

[2020-03-17 18:56] lognaturel commented on #3700
Yes, let's keep an eye out for more info when other contributors have similar devices but let's do regression checks on emulators and not worry about explicitly trying to hunt this down. @seadowg mentioned that vendors may be doing things to the operating system that conflict with what Espresso tries to do.

[2020-03-17 18:56] #3700 closed, assigned to grzesiek2010

[2020-03-18 14:32] seadowg commented on #3142
@lognaturel do we need a new JavaRosa release to get the fix?

[2020-03-18 16:42] Bajranghudda commented on #387
In my case I removed **apply plugin: 'kotlin-android'** from gradle file by mistake.

[2020-03-18 17:30] kkrawczyk123 opened #3726 "Dark mode is reset after scanning Central QR code"
#### Software and hardware versions
Collect v1.26, 1.25.x, Android vprobably all versions.x.x, device used...

#### Problem description
The dark mode is reset after scanning Central QR code.

#### Steps to reproduce the problem
1. Set dark mode
2. Scan Central QR code

#### Expected behavior
Light mode is visible except dark mode, so it is reset somehow while scanning.

#### Other information
Any

[2020-03-19 09:10] #3638 closed, assigned to grzesiek2010

[2020-03-19 09:10] #3716 closed, assigned to seadowg

[2020-03-19 09:21] #3714 closed, assigned to grzesiek2010

[2020-03-19 10:18] mmarciniak90 commented on #3726
This issue is not connected to dark mode only. I checked part of settings and they are restored to default after scanning.

[2020-03-19 15:18] grzesiek2010 commented on #3682
@lognaturel you know that part of code better so it's better to ask. Does that mean we need to download media files every time and disable skipping them if nothing has changed?

[2020-03-20 15:43] mmarciniak90 opened #3729 "Dark `Choose account for ODK Collect` dialog for light mode"
#### Software and hardware versions
Collect v1.24.0
Older versions weren't verified

#### Problem description
Dark `Choose account for ODK Collect` dialog for light mode

#### Steps to reproduce the problem
1. User uses the light mode
2. User goes to `General Settings` -> `Server`
3. User selects Google Drive in Type option
4. User clicks on `Google account` to open dialog `Choose account for ODK

[2020-03-20 22:38] SaumiaSinghal commented on #3729
@opendatakit-bot claim

[2020-03-21 00:25] lognaturel commented on #3682
@grzesiek2010 What I had in mind was pulling the code that detects whether a given form definition is new out from `downloadXForm` to `processOneForm` and to skip the call on `getMetadataFromFormDefinition` if the form is not new. That way, it doesn't matter where the media files are because a `FormDef` doesn't need to be built. I make that suggestion thinking that if a file with the same md5 hash

[2020-03-22 08:18] shobhitagarwal1612 opened #3730 "Code coverage reporting is broken"
#### Software and hardware versions
Collect v1.26.1

#### Problem description
Jacoco plugin can't find classes for generating code coverage reports. Therefore, the codecov link for ODK Collect is broken too.

https://codecov.io/github/opendatakit/collect

![image](https://user-images.githubusercontent.com/8918023/77245312-a11f1980-6c43-11ea-86d0-8aa7bcf2324e.png)

#### Expected behavior
Reports sh

[2020-03-23 08:10] grzesiek2010 opened #3732 "Can't update gradle/android gradle plugin"
#### Problem description
in https://github.com/opendatakit/collect/pull/3728 I updated a lot of dependencies as after every release. However I sipped [gradle](https://github.com/opendatakit/collect/blob/master/gradle/wrapper/gradle-wrapper.properties#L7)/[android gradle plugin](https://github.com/opendatakit/collect/blob/master/build.gradle#L9) because I ran into a problem:

'
FAILURE: Build faile

[2020-03-23 09:00] #3709 closed, assigned to SaumiaSinghal

[2020-03-23 09:47] grzesiek2010 commented on #3732
@seadowg do you want to take a look? I couldn't fix it...

[2020-03-23 10:05] seadowg commented on #3732
This seems related to changed made back in #3108. I can take a look later and see if it makes any sense. Probably some changes to Gradle that mean we have to change something about those stubs.

[2020-03-23 10:13] grzesiek2010 commented on #3732
I know that but couldn't handle it.

[2020-03-23 11:13] grzesiek2010 commented on #3682
You don't need to pull out anything since `downloadXForm` returns `FileResult` object that contains a boolean variable isNew: https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/FormDownloader.java#L522 so you can just use it.

~~The problem is that what you want to do is check whether you are downloading a new xml file but there is a poss

[2020-03-23 11:21] EduWF opened #3733 "ODK Collect 1.26 error after taking a picture"
#### Software and hardware versions
Collect version 1.26. Android version is unknown.

#### Problem description
Upon submission the form generates the following message (translated from Spanish)
"Attention, the form was not saved correctly. Attempt to invoke virtual method'int org.odk.collect.andoird.logic.FromCont rolle.validateAnswers(boolean)' on a null object reference".

#### Steps to reprodu

[2020-03-23 11:55] grzesiek2010 commented on #3733
Hi @EduWF
thanks for reporting the issue.

Is this something you can reproduce multiple times? I mean I'm sure you are if you are filling the same form, but if you kill the app and open the form again?

I think it's a random problem not related to v1.26 which might happen but one you open the form again as I mentioned above it shouldn't take place again.

[2020-03-23 12:28] #3730 closed, assigned to shobhitagarwal1612

[2020-03-23 15:00] #3713 closed, assigned to grzesiek2010

[2020-03-23 16:16] lognaturel commented on #3682
Yes, exactly. That makes sense, right?

[2020-03-23 17:36] seadowg commented on #3732
Had a play with a few different things (mostly based on 3.6.0 changes) to see if I could fix this:

* Disable jetifier for the .aar file (`android.jetifier.blacklist=nbi-stubs-1.0.0.aar`)
* Disable the new APK creator (`android.useNewApkCreator=false`)
* Compress native libs (`android:extractNativeLibs="true"`)

Nothing fixing this as of yet but will dig a little deeper tomorrow. Wondering if it c

[2020-03-23 17:57] seadowg commented on #3732
@shobhitagarwal1612 guessing that was a mistake?

[2020-03-23 18:21] shobhitagarwal1612 commented on #3732
Sorry, did that by mistake while browsing it on phone

[2020-03-23 21:21] grzesiek2010 commented on #3682
Yes, thanks.

[2020-03-23 21:27] lognaturel commented on #799
We've run into confusion around this a few times so would like to prioritize it for the v1.27 release.

From @seadowg in [the v1.27 planning document](https://docs.google.com/document/d/1Bjz6pjtqIjd5QoFTCPpwKBIINGlX2p_4Q6bol_ot1wA/edit#):

[2020-03-23 21:31] grzesiek2010 commented on #3724
It's a question about changes you want to implement in your own fork so please ask on the forum.

[2020-03-23 21:31] #3724 closed, assigned to nobody

[2020-03-23 21:40] lognaturel opened #3736 "Add support for combination of minimal and autocomplete appearances"
- [x] @seadowg facilitates [design studio](https://miro.com/app/board/o9J_kuoswaE=/) with @grzesiek2010 and @lognaturel to clarify need and design decisions to make
- [x] @seadowg makes higher-fidelity mockup to evaluate usability and feasibility
- [x] share mockup and implementation plan [on the forum](https://forum.opendatakit.org/t/showing-search-option-with-minimal-in-appearance/20758)
- [ ] u

[2020-03-23 21:59] lognaturel opened #3737 "Provide submission summary when tapping a submission on the form map"
Currently, tapping on a submission from the form map opens that submission for viewing or editing. Instead, it should be possible to see:
- the instance name
- the current instance status
- the last status change time
- the tappable action that can be taken on the form (view, edit, etc)

Future extensions may include:
- displaying the first image from the submission
- displaying a user-specified i

[2020-03-24 09:32] seadowg commented on #3732
Playing around with this some more I'm pretty sure it's that our `.aar` with the stubs is just wrong.  AARs do have some mandatory contents (https://developer.android.com/studio/projects/android-library.html#aar-contents) and I can get this working by copying the jni stubs into our source code directly (into `collect_app/src/main/jniLibs`).

I'll look at moving our stubs into a gradle submodule (s

[2020-03-24 16:35] lognaturel opened #3739 "Add custom Firebase Performance traces or remove dependency"
Firebase Performance monitoring was added some time ago. Currently we only collect the default traces and that information has not been actionable. At the same time, the dependency has caused issues for various contributors (e.g. https://github.com/opendatakit/collect/blob/master/docs/WindowsDevSetup.md#known-issues). For v1.27, we should either [add actionable custom traces](https://firebase.goog

[2020-03-24 16:56] seadowg opened #3740 "Add Spotbugs back in"
We recently had to remove Spotbugs because of an [issue on their side](https://github.com/spotbugs/spotbugs-gradle-plugin/issues/90). We should see if this is something we can work around or if not wait for a fix.

[2020-03-24 18:26] lognaturel opened #3741 "The layers directory path is incorrect after storage migration"
#### Software and hardware versions
Collect v1.26.1

#### Problem description
When setting a reference layer, the layers directory path is incorrect after storage migration

#### Steps to reproduce the problem
1. Make sure the storage migration has completed successfully
1. Go to General Settings > Maps
1. Tap `Layer data file`

#### Expected behavior

It should say `/sdcard/Android/data/org.odk.c

[2020-03-24 20:28] SaumiaSinghal commented on #3740
Hi @seadowg! I would like to look into it.

[2020-03-24 20:28] SaumiaSinghal commented on #3740
@opendatakit-bot claim

[2020-03-25 04:17] lognaturel opened #3744 "Select appearance columns-pack should not take width of labels into account"
#### Software and hardware versions
Collect v1.26.1

#### Problem description
Select appearance columns-pack should not take width of labels into account

#### Steps to reproduce the problem
Load a form with selects with the `columns-pack` appearance and choices of different lengths. [columns-pack.zip](https://github.com/opendatakit/collect/files/4378966/columns-pack.zip)

![device-2020-03-24-2112

[2020-03-25 09:45] seadowg commented on #3740
@SaumiaSinghal ooops I left out that it was removed in #3728 so good to use that as a starting point rather than `master`

[2020-03-25 16:44] seadowg commented on #3736
Ok here's a first pass for the select one flow: https://www.figma.com/proto/Dxe1UF9reRdLYy8o5jishW/Minimal-automcomplete-select?node-id=12%3A1&viewport=-189%2C360%2C0.5426362752914429&scaling=scale-down

Let me know what you think! Sharing here initially and then I think we can do forum.

[2020-03-25 21:12] lognaturel commented on #3736
So fancy! I think that the full screen dialog with the search bar at the top looks good. What pushed you in that direction over a regular dialog?J

Small thing but with all of the question types that involve a button for capturing/editing values, the current value shows up below the button. This is to ensure that the button is available even if the selected choice is long.

[2020-03-26 04:22] lognaturel opened #3748 "Calendar date picker has wrong color"
#### Software and hardware versions
Collect v1.26.1, Android 5.1 and 8.1

#### Problem description
The calendar dialog should match the highlight color everywhere else but it does not. See https://forum.opendatakit.org/t/who-covid-19-minimum-reporting-form/25647 for a screencast.

#### Steps to reproduce the problem
Open any date question with no appearance.

#### Expected behavior
The dialog colo

[2020-03-26 10:19] seadowg commented on #3736
Just that I couldn't find examples of "search" in a modal dialog. Felt like it would be good to keep search where someone might expect it.

Hmm interesting. Move it below then? I guess it's good for the action to be the most prominent thing and it keeps it consistent.

[2020-03-26 11:40] #3682 closed, assigned to grzesiek2010

[2020-03-27 15:39] #3741 closed, assigned to grzesiek2010

[2020-03-27 23:08] lognaturel commented on #3027
I'm so sorry I missed your message, @chidauri! Are you still interested? If so, please do claim it.

[2020-03-27 23:12] lognaturel commented on #3733
@EduWF I also can't reproduce. Can you please try the same thing again as @grzesiek2010 suggested? If you can reproduce, please re-open the issue and share the form and Android version.

[2020-03-27 23:12] #3733 closed, assigned to nobody

[2020-03-27 23:14] lognaturel commented on #3726
This is expected. When a QR code is scanned, the keys it contains are set. All other keys are reset to defaults. We may want to consider an option to leave all other settings as they previously were but that should be a forum discussion.

[2020-03-27 23:14] #3726 closed, assigned to grzesiek2010

[2020-03-27 23:51] EduWF commented on #3733
Thank you for your reply. The user restarted the device and reinstalled the
app. All is working fine now.

On Sat, 28 Mar 2020, 00:12 Hélène Martin, <notifications@github.com> wrote:

[2020-03-28 06:47] chidauri commented on #3027
@opendatakit-bot claim

[2020-03-28 21:41] shobhitagarwal1612 commented on #1106
@grzesiek2010  This can be closed now.

[2020-03-30 08:29] seadowg commented on #3669
Just unassining this until I start it. It's in my "to do" so I will be getting to it at some point!

[2020-03-30 22:51] lognaturel commented on #3669
Ok, I just want to make sure that if you do plan to do it someone else doesn't pick it up because it looks easy. If you do want someone else to pick it up if they have time, please tag as `help wanted`.

[2020-03-31 08:11] seadowg commented on #3669
Right I see what you're saying. For me assigned means "in progress" and our project board is a nicer way of queuing up work that someone is going to pick up. You're totally right though that someone just browsing the issues won't see that this is "mine". I wonder if we could have our buddy opendatakitbot ping us when people want to "claim" rather than just assigning issues. That way we could preve

[2020-03-31 11:15] grzesiek2010 opened #3751 "The first answer is removed even if a user tries to remove another answer from the field-list"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
The firs answer is removed even if a user tries to remove another answer from the field-list.

#### Steps to reproduce the problem
Test the attached form (try to remove the second answer):
[fl.xml.txt](https://github.com/opendatakit/collect/files/4408637/fl.xml.txt)

[2020-03-31 14:47] mmarciniak90 commented on #3751
This case worked as expected on v1.25.1

[2020-03-31 16:46] #3732 closed, assigned to seadowg, grzesiek2010

[2020-04-01 08:32] seadowg commented on #3736
Ok here's a second route (that came up during a discussion between @lognaturel and I) where we use a text field: https://www.figma.com/proto/Dxe1UF9reRdLYy8o5jishW/Minimal-automcomplete-select?node-id=24%3A1774&viewport=826%2C271%2C0.500446617603302&scaling=min-zoom

[2020-04-02 10:13] grzesiek2010 opened #3756 "Use one hierarchy of classes across the app to display lists of forms/instances"
#### Problem description
Working on #799 I ran into tones of duplicated code. That stooped me from solving that issue.
This is how our code responsible for displaying lists of forms and instances look like now:
![Hierarchy-Page-1 (1)](https://user-images.githubusercontent.com/3276264/78236750-b9602580-74da-11ea-83ca-2ef47cca5441.png)
We have two very similar hierarchies one for fragments and one f

[2020-04-02 16:13] mmarciniak90 opened #3757 "Margin on `Form Metadata` is larger than on other views"
#### Software and hardware versions
Collect v1.26

#### Problem description
Margin on `Form Metadata` is larger than in other views

#### Steps to reproduce the problem
1. User opens General Settings -> User and device identity -> Form metadata

| |Form metadata| to compare |
|---|---|---|
|v1.26.1 |![Screenshot_20200402-161739](https://user-images.githubusercontent.com/3907554/78271547-9189b580-7

[2020-04-02 17:23] lognaturel commented on #3142
I continue to think that #3752 is right and good to have. The implication will be that if there is a choice with a null value, it will be impossible to select.

I had been thinking that in fact perhaps https://github.com/opendatakit/javarosa/pull/533 should be reverted but I don't know anymore. The reason I was thinking that is that `nullIfEmpty` is used for virtually everything that goes through

[2020-04-02 17:53] lognaturel opened #3758 "Deprecate saveIncomplete attribute"
In 2014, an undocumented `saveIncomplete` attribute [was added](https://nafundi.com/blog/posts/increasing-data-safety-in-odk-collect-with-delete-after-send-and-forced-form-save/). It's described as a way to "increase data safety". The idea is to specify a question at which a record save should happen. The save is blocking and overwrites a previously-saved instance file.

There's also a feature tha

[2020-04-02 18:18] lognaturel commented on #3758
It just occurred to me to see whether this is a part of the ODK XForms spec and it is: https://github.com/opendatakit/xforms-spec/issues/13. My guess is that this doesn't apply to Enketo because it just always saves everything but we should double check.

[2020-04-02 18:58] mmarciniak90 opened #3759 "Color of the line under the `Saved Forms` and `Blank Forms` on Delete Saved Form view is blue instead of the consistent color for a color scheme on dark mode"
#### Problem description
Color of the line under the `Saved Forms` and `Blank Forms` on Delete Saved Form view is blue instead of the consistent color for a color scheme on dark mode

#### Steps to reproduce the problem
1. User sets dark mode
2. User goes to `Delete Saved Form`
3. The line under `Saved Forms` and `Blank Forms` is blue in dark mode

![Screenshot_2020-04-02-20-50-20-091_org odk coll

[2020-04-02 19:58] SaumiaSinghal commented on #3759
@opendatakit-bot claim

[2020-04-03 07:59] #3748 closed, assigned to grzesiek2010

[2020-04-03 08:53] grzesiek2010 commented on #3757
It's not just the top margin but also start(left) margin is different...
Those margins are not set in our app directly. The problem stems from the fact that in all preference screens we use `android.preference.PreferenceFragment` but just in tat one `FormMetadataFragment` it is `androidx.preference.PreferenceFragmentCompat` so it's something that just changed in Android.
Generally we should go for

[2020-04-03 09:27] mmarciniak90 opened #3761 "Remove response option is doubled on Date time widget"
#### Software and hardware versions
Collect v1.25.1 (older versions were not verified)

#### Problem description
Remove response option is doubled on Date time widget

#### Steps to reproduce the problem
1. User fills `Date time widget`, in eg. All widgets form
2. User opens dialog to remove response in a line with added date or time
3. User sees doubled option `Remove response` but only the lower

[2020-04-03 09:54] #3751 closed, assigned to grzesiek2010

[2020-04-03 10:08] grzesiek2010 commented on #3737
I started working on the issue from looking for a good way to display such a summary.
There are two options to do that:
### InfoWidows
![image](https://user-images.githubusercontent.com/3276264/78348488-6782d280-75a2-11ea-8acd-33f7ea1cce31.png)
the image above comes from google docs so it presents google maps,we also use Mapbox and OSMDroid both also provide their own infowindows.

### BottomSheet

[2020-04-06 03:25] rajkumaar23 commented on #3739
I would like to work on this.

[2020-04-06 03:30] rajkumaar23 commented on #3428
@opendatakit-bot claim

[2020-04-06 08:20] #3211 closed, assigned to grzesiek2010

[2020-04-06 21:23] lognaturel commented on #2934
The strategy described above seems like a good one. Has progress been made in that direction?

It would likely require fairly significant changes to the Collect SMS functionality. We keep running into code or resources for SMS that are no longer in use and causing confusion. Let’s remove them for now and it can All easily be retrieved from source control and adapted for a new approach in the futur

[2020-04-07 17:27] lognaturel commented on #3737
Thanks, @grzesiek2010, I agree with your conclusions. I think your first point about having to implement overlays separately for each map provider makes it especially clear that a bottom sheet is the way to go.

I'd say we should base the design either on Google Maps or on [the Material Design standard bottom sheet](https://material.io/components/sheets-bottom/#standard-bottom-sheet). I don't feel

[2020-04-07 18:05] lognaturel opened #3768 "Form-level auto-delete option is not read from correct form version"
#### Software and hardware versions
Collect v1.26.1 and prior

#### Problem description
The `InstanceUploader.formShouldBeAutoDeleted` method does not take form version into account. This means that if a form update changes the auto-delete option, that may or may not be reflected in Collect's behavior.

#### Steps to reproduce the problem
1. Transfer a form with auto-delete set to false such as [t

[2020-04-08 16:14] grzesiek2010 opened #3771 "SQLiteCantOpenDatabaseException in GoogleMapsMapBoxOfflineTileProvider.java:58"
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4c9e1ca129c3e23cf5f18163fff762b9?time=last-seven-days&sessionId=5E8D51A7006700016A9E079441654C90_DNE_0_v2

#### Problem description
`Fatal Exception: android.database.sqlite.SQLiteCantOpenDatabaseException: unknown error (Sqlite code 14 SQLITE_CANTOPEN): Could not open da

[2020-04-09 14:04] mmarciniak90 opened #3774 "User is not able to change Collect's language on Android 7.x"
#### Software and hardware versions
Collect current master
Android 7.0

#### Problem description
User is not able to change Collect's language

#### Steps to reproduce the problem
1. User goes to `General Settings` -> `User Interface`
2. User changes language
3. User is moved to the main view but language stays unchanged
4. The selected language is visible in settings

#### Expected behavior
User

[2020-04-09 14:53] mmarciniak90 opened #3775 "Dynamic jr:count expression can lead to infinite loop when building hierarchy view"
#### Software and hardware versions
Collect with #3753

#### Problem description
Collect hangs on opening the hierarchy view for a specific form

#### Steps to reproduce the problem
1. User opens form [indefinite.xml.txt](https://github.com/opendatakit/collect/files/4456839/indefinite.xml.txt) or [indefinite-repeat-inside-other-repeat.xml.txt](https://github.com/opendatakit/collect/files/4456840/i

[2020-04-09 17:37] lognaturel commented on #3775
This turns out to be more of a form design issue although perhaps Collect could do something to detect and better handle this case. In both forms, there's a `jr:count` expression that looks like `if ( ../count = 0 or <some node> != <stopping condition>,  ../count  + 1,  ../count )`. The problem is that the value of `<some node>` is blank in a newly-added repeat and that's not equal to `<stopping c

[2020-04-10 11:34] grzesiek2010 commented on #3774
The problem is caused by dagger which we updated to v2.27 (the problem is visible on v.26 as well) recently: https://github.com/opendatakit/collect/pull/3728/files#diff-c197962302397baf3a4cc36463dce5eaR50

I tested how it affects different android versions and here are my findings:
| API  | Result |
| ------------- | ------------- |
| 22 | language changed but if I close the app and open it again

[2020-04-10 18:32] yanokwa commented on #3758
saveIncomplete was added because a user needed to save incomplete at a particular point in the form before launching an external widget that needed to read form data. See https://forum.opendatakit.org/t/best-way-to-extend-xlsform/3416. I think they might be the folks working on the Ethiopia project. I'll ask.

[2020-04-13 09:28] seadowg commented on #3736
How are we feeling about this different versions @grzesiek2010 / @lognaturel?

[2020-04-15 07:21] grzesiek2010 commented on #3736
The version with EditText seems strange at first glance because I'm used to buttons in such widgets. As you said it was a conversation between you and @lognaturel  so maybe you can share some details about your thinking?
Would that EditText represent the same EditText used for filtering options or maybe display selected options inside?

[2020-04-15 08:11] seadowg commented on #3736
@grzesiek2010 we were thinking about it more like a search field with autocomplete. Similar to the search bar on Android/iOS home screens. This route definitely makes the assumption you have a lot of options (that typing to find is easier than scrolling) but I think that feels safe for this.

[2020-04-15 23:14] lognaturel commented on #3736
Sorry about the delay.

I'm liking the edit text because like @seadowg says, it feels more like a search field with autocomplete. The other thing I like about it is that it would consume less vertical space and there isn't the question of where the selected value should go in relation to the button. I also think that we could and should phase out the buttons as they currently exist for most widget

[2020-04-16 10:19] racetiger opened #3780 "EXIF metadata not stored in pictures taken with Android 6.0.1 native camera app"
#### Software and hardware versions
Collect v1.26.2, Android v6.0.1, Nexus 5

#### Problem description
When taking pictures with the native Android Camera app through the [default image widget](https://docs.opendatakit.org/form-question-types/#default-image-widget), the resulting picture has no EXIF metadata.

Taking simultaneously a picture with the same device in the same place with the same app

[2020-04-16 10:38] seadowg commented on #3453
Looks like these tests are still a problem (from https://app.circleci.com/pipelines/github/opendatakit/collect/139/workflows/a8fe11bb-8bb9-4fe3-9e2a-fdca7ffba8ea/jobs/8502):

[code]

[2020-04-17 06:25] grzesiek2010 commented on #2695
Fixed in https://github.com/opendatakit/collect/pull/3728

[2020-04-17 06:25] #2695 closed, assigned to nobody

[2020-04-18 01:00] #3578 closed, assigned to nobody

[2020-04-18 08:35] cataloque opened #3781 "Performance improvement suggestion"
#### Software and hardware versions
Collect v1.2.2

#### Problem description
They could affect performance.
In the position of  code:
org.odk.collect.android.utilities.FileUtils: android.graphics.Bitmap getBitmapScaledToDisplay()，
bitmap object is created with the invocation of decodeFile().
In the position  code:
org.odk.collect.android.widgets.GridWidget.getView()
getBitmapScaledToDisplay() will

[2020-04-20 08:30] grzesiek2010 commented on #2992
I added a fix on the javarosa side https://github.com/getodk/javarosa/pull/570

[2020-04-20 09:21] grzesiek2010 opened #3788 "NPE in Camera2Fragment.java"
#### Problem description
There are two related issues in Camera2Fragment at this moment those are the most common crashes in the latest ODK Collect version.

https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/021fb9068049936613970ddd5b56fa9b?time=last-seven-days&sessionId=5E9D634600E2000162142552BC3E4D1C_DNE_0_v2
`Fatal E

[2020-04-20 12:18] grzesiek2010 commented on #3788
Ok I was able to reproduce it:
1. Open Selfie image widget
2. Click very quickly and many times on the button to start camera and take a photo.

[2020-04-20 23:54] lognaturel commented on #3739
Hi @rajkumaar23! Are you still interested in this issue? In general, you can go ahead and claim issues with `help wanted` or `good first issue` tags! Learn more in the [contribution guide](https://github.com/getodk/collect#contributing-code).

[2020-04-21 08:49] grzesiek2010 commented on #3744
So you would expect having cells with different sizes? Currently we calculate the longest one and it's the width for all items.
It's not a new behavior for `columns-pack` it has worked in the same way for `compact`.

[2020-04-21 09:04] seadowg opened #3796 "Upload coverage reports to codecov.io"
Now we are sharding our tests on Firebase Test Lab we get a coverage report for every shard (rather than just one for all the connected tests). In Circle CI we were previously copying the coverage report we downloaded from Firebase with this line (in `.circleci/config.yml`):

[code]

The new reports are downloaded as part of our `test_instrumented` job and are stored for each shard in `firebase/Pi

[2020-04-21 10:51] #1106 closed, assigned to nobody

[2020-04-21 11:04] grzesiek2010 opened #3797 "Tests for ContextMenu in FormEntryActivity"
#### Problem description
We need tests to make sure that ContextMenu for every widget works as expected to avoid problems like:
https://github.com/getodk/collect/issues/3751
https://github.com/getodk/collect/issues/3761

as we agreed in https://github.com/getodk/collect/pull/3770#issuecomment-617105039 ideally those shouldn't be UI test.

Cases we should tests:
- removing answers if there is one a

[2020-04-21 12:59] grzesiek2010 commented on #731
It was one of the points we mentioned during v1.27 planning so I investigated the issue and here are my findings:
I used Samsung Galaxy S4 with Android 5 and a form with multiple questions on one screen with images like:
[images4.xlsx](https://github.com/getodk/collect/files/4510038/images4.xlsx)

with `largeHeap="true"` I was able to open a form with up to 90 questions without only up to 20.
Sele

[2020-04-22 09:06] grzesiek2010 commented on #2475
This issue no longer exist, we can close.

[2020-04-22 09:06] #2475 closed, assigned to grzesiek2010

[2020-04-22 13:44] grzesiek2010 opened #3798 "Adding new repeat groups using the plus icon is broken"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
Adding new repeat groups using the plus icon is broken. I discovered the issue working on #3016 so to reproduce we can use the form attached there.

#### Steps to reproduce the problem
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/3276264/79989427-1fbfde80-84b0-11e

[2020-04-22 21:22] lognaturel commented on #3798
Can you please wait until #3656 is merged and then verify again? That behavior gets touched there.

[2020-04-22 21:53] lognaturel commented on #3016
@grzesiek2010, can you please give a little bit of commentary when you pick up an older issue that's not part of the milestone so that we can have the context about why it's coming back up and when it should be reviewed?

[2020-04-22 21:56] lognaturel commented on #3016
I should add. ~For this specific issue, make sure to review https://github.com/getodk/javarosa/blob/master/dag.md#c---a-repeat-instance-is-deleted.~ I now see that the count expression is outside of the repeat so it's not related to that section. It would be good to also check against JavaRosa master.

Based on why this is coming back up, we can discuss when it should be prioritized.

[2020-04-22 23:19] mmarciniak90 opened #3799 "Collect crashes when user removes all repeat groups and clicks on device back button"
#### Software and hardware versions
Collect v1.25.1 (older versions were not verified)

#### Problem description
Collect crashes when user removes all repeat groups and clicks on device back button

#### Steps to reproduce the problem
1. User starts form [nested-repeats.xml.txt](https://github.com/getodk/collect/files/4519317/nested-repeats.xml.txt)
2. User adds one group
3. User goes to hierarchy

[2020-04-23 02:33] #3644 closed, assigned to seadowg

[2020-04-23 06:42] SaumiaSinghal commented on #3799
@getodk-bot claim

[2020-04-23 08:44] #3759 closed, assigned to SaumiaSinghal

[2020-04-23 08:45] #3649 closed, assigned to grzesiek2010

[2020-04-23 08:45] #3774 closed, assigned to grzesiek2010

[2020-04-23 12:00] #3634 closed, assigned to chidauri

[2020-04-23 12:19] grzesiek2010 commented on #3798
It's still visible after merging #3656

[2020-04-23 13:48] grzesiek2010 commented on #3016
Sorry, I know it's not the best approach but I was blocked with a few other tasks so I went through the list of existed issues.
The description here is not perfect in fact the problem occurs only if we delete the last group because then recalculation is not triggered. I created a draft pr based on my investigation https://github.com/getodk/javarosa/pull/572 so you can take a look.

[2020-04-23 14:03] grzesiek2010 commented on #3660
I investigated the issue and the behavior is not that bad. Offline layers will work offline if after installing the app we open GoogleMaps/Mapbox at least once with internet connection in order to initialize GoogleMaps/Mapbox.

It's a know limitation: https://issuetracker.google.com/issues/35823181 since 2013 devs has been begging google to fix it.
Here are more stackoverflow topics:
https://stack

[2020-04-23 16:56] lognaturel commented on #3016
Ahh, great. Sorry about the blocking and good to know that's where you're at! Picking up an old task is totally great, it's just helpful to have a little bit of context on why and what initial findings are.

[2020-04-23 17:20] lognaturel commented on #3660
I see, that makes a lot of sense and explains why there haven't been a ton of complaints. I guess it's not trivial to add a code path that doesn't require a API key check while requiring it elsewhere. I think that because we have the osmdroid option for now we can limit ourselves to documenting the limitation.

We have however discussed deprecating osmdroid in favor of MapBox because it's faster,

[2020-04-23 17:23] lognaturel commented on #3660
@grzesiek2010 are you sure that the Mapbox behavior is what you've described? Users seem to say that even if a connection was available at some point, offline tiles stop being displayed when offline:

(Edit: that was @mathieubossaert whose eyeballs I see above. 👀😊)

Also note what the initial reporter of the issue says about tethering to "fool" Mapbox into thinking it's online. I think there's a d

[2020-04-23 18:10] lognaturel commented on #3016
Turns out this is a good time to take this because I have recently been in that code myself and can provide thoughtful review without needing to load a whole bunch of context back into my brain. 👍

[2020-04-23 18:16] lognaturel commented on #3798
I can't reproduce on master. Is it possible that you're using JavaRosa master rather than released JavaRosa?

[2020-04-23 18:31] lognaturel commented on #731
Great analysis, @grzesiek2010.

When you tried the big forms, did you try entering in some data so that a large chain of dependent calculations would need to be re-evaluated? That's when we might expect memory issues.

I see display performance issues with field lists on my Galaxy Tab A and moderately-sized field lists so I think that's something we do need to address.

Currently widgets are just

[2020-04-23 21:24] lognaturel commented on #3744
Historically, `compact` did not show radiobuttons/checkboxes and was really only practical for use with images. When we renamed the appearances, we introduced `columns-pack` with buttons for text options.

The nice thing about having the columns be the same size is that it lays out reasonably when there's wrapping at the screen boundary. With images in particular, you may want to have a big grid o

[2020-04-23 22:38] caryvane opened #3800 "How to Link 2 or more forms in odk and share data offline to another smartphone"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2020-04-23 22:47] caryvane commented on #3800
Hi everybody
1-) Please since few years people are looking for a way to link 2 or more odk forms in odk 1. The fact is that I have found some open codes to add some new functions inside my odk 1 and these open codes don't work on odk X-tools since it uses a different programming language. If I decide to use odk X-tools because of its ability to links 2 or many forms, I loose all others functions I

[2020-04-24 03:47] lognaturel commented on #3800
Please take a look at https://github.com/getodk/skunkworks-crow to see whether it could meet your needs. It is not an official ODK tool but a lot of good thought has gone into it.

For further general support inquiries like this please use [the forum](https://forum.getodk.com).

[2020-04-24 03:47] #3800 closed, assigned to nobody

[2020-04-24 16:27] grzesiek2010 commented on #3660
Ok got it it's a bit trickier in case of Mapbox... generally it works like I described but when you are online you need to open Mapbox at least once **with a layer you want to use later**, where with Google Maps it doesn't matter you just need to open it once. I'll try to dig deeper.

[2020-04-24 22:49] #3761 closed, assigned to grzesiek2010

[2020-04-25 13:04] caryvane commented on #3800
Hi lognaturel.
Thank you for your very helpfull answer. It is great...i am so happy

[2020-04-25 13:04] caryvane commented on #3800
Excellent

[2020-04-27 16:19] seadowg commented on #3736
Happy for me to go ahead with posting on the forum? Was thinking of replying to one of the posts and then linking in the others.

[2020-04-27 21:26] lognaturel commented on #3736
Sounds great! I think it should go [on the feature thread](https://forum.getodk.org/t/showing-search-option-with-minimal-in-appearance/20758) and yes, linking to the other posts and tagging participants in those threads sounds great.

[2020-04-28 10:29] #3142 closed, assigned to nobody

[2020-04-29 07:21] grzesiek2010 opened #3807 "Upgrade to the new Firebase Crashlytics"
#### Problem description
The topic from the forum https://forum.getodk.org/t/fixing-leaks-in-collect-app/26137/3 made me thinking what actually fabric is for. I took a look at the documentation and found out that it's needed fro crashlytics but now it's legacy and we can switch to the new [Firebase Crashlytics](https://firebase.google.com/docs/crashlytics/get-started-new-sdk?platform=android) and

[2020-04-29 08:31] grzesiek2010 commented on #3744
Ok I understand thanks for your explanation. I'll take a look at possible solutions.

[2020-04-29 08:35] seadowg commented on #3807
It looks like it's beta but I think once it goes "1.0" I don't see a reason not to switch.

[2020-04-30 02:29] vishwa1937 opened #3809 "Authorization Basic not added in header during form upload post request"
#### Problem description
I am currently facing  a problem during uploading/sending form using POST (over HTTPS) the authorization basic is not added in header. But when i send request to get/download forms it is adding auth basic in header.

#### Expected behavior
Need to add basic auth in header during form upload.

[2020-04-30 16:02] #3771 closed, assigned to grzesiek2010

[2020-04-30 16:02] #3262 closed, assigned to nobody

[2020-05-04 14:25] rajkumaar23 commented on #3428
@lognaturel Waiting for you reply for a long time to fix this issue 😅

[2020-05-04 14:27] seadowg commented on #3669
![](https://media.giphy.com/media/3ornk57KwDXf81rjWM/giphy.gif)

@getodk-bot still working on it my little friend

[2020-05-05 17:41] seadowg opened #3811 "Not all settings are imported from older Collect versions"
#### Software and hardware versions
Collect v1.26.2 (and Collect v1.22.0)

#### Problem description

Settings that have been migrated in someway (in their storage in Android's `SharedPreferneces`) aren't imported correctly when going from an old version (before they were migrated) to a new version (after they were migrated).

#### Steps to reproduce the problem

1. Open Collect 1.22.0
2. Change th

[2020-05-05 18:10] lognaturel opened #3812 "Simplify Server settings screen by removing Other type and replacing ODK Aggregate with ODK"
See description at https://forum.getodk.org/t/collect-server-settings-screen-remove-other-server-type-and-replace-odk-aggregate-with-odk/26299

This should not involve any changes to the settings keys because server types ODK Aggregate and Other currently share the URL/username/password parts of their configurations.

While here, it will likely make sense to migrate settings to the androidx librar

[2020-05-06 09:11] seadowg commented on #3809
@vishwa1937 could you post what Collect version you're using and what server you're uploading to?

[2020-05-06 10:34] seadowg commented on #254
@lognaturel and I disucess while working on #3813 (which stops showing the splash screen unless it's been enabled by the user) and decided that a good way forward would be to remove the "Splash screen" preference that lets user's enable the default splash screen. This would mean that the splash screen would only show if a custom one is configured. I'll post acceptance below just to check @lognatur

[2020-05-07 08:37] #3428 closed, assigned to rajkumaar23

[2020-05-07 09:23] grzesiek2010 opened #3815 "Improve initializing map providers"
#### Problem description
`GoogleMaps` and `Mapbox` require initializing online even if a user needs to use them offline. In https://github.com/getodk/collect/pull/3804 I added a small improvement that performs the initialization when the app is installed. There is a good chance a user is online during installing the app but we can't be sure so we should handle that in a better way:
[scheduling wor

[2020-05-08 08:38] grzesiek2010 commented on #3744
I investigated the issue and possible solutions. Looks like using RecyclerView + [FlexboxLayout](https://github.com/google/flexbox-layout) would be a great improvement. I created a sample app for testing and here is a screenshot:
![Screenshot_2020-05-08-11-34-15](https://user-images.githubusercontent.com/3276264/81387993-ecb85480-9117-11ea-9b01-48461932f4c0.png)

@lognaturel let me know if it's wh

[2020-05-08 10:41] grzesiek2010 opened #3817 "Media files are not displayed in select questions if choice_filter is used"
#### Problem description
Media files are not displayed in select questions if choice_filter is used. The problem has been reported on the forum: https://forum.getodk.org/t/embedded-images-in-select-one-questions-in-groups/26378/4

#### Steps to reproduce the problem
Test the attached form:
[choiceFilterWithImages.zip](https://github.com/getodk/collect/files/4598482/choiceFilterWithImages.zip)

###

[2020-05-08 15:23] seadowg commented on #3660
Reopening as discussed here https://github.com/getodk/collect/pull/3804

[2020-05-08 15:32] seadowg commented on #3660
Nope we've got https://github.com/getodk/collect/issues/3815 covering that

[2020-05-08 15:32] #3660 closed, assigned to grzesiek2010

[2020-05-08 16:48] shobhitagarwal1612 commented on #3693
I think that this issue was closed by mistake in #3777.

[2020-05-08 17:52] seadowg commented on #3693
@shobhitagarwal1612 nope! It might seem unrelated but we added test cases to cover this.

[2020-05-08 17:52] #3693 closed, assigned to nobody

[2020-05-09 19:59] seadowg opened #3820 "opendatakit.org links should be updated to getodk.org"

[2020-05-11 11:09] grzesiek2010 commented on #3343
Could you check on the version from the store? I guess it's the same issue we have mentioned in [Troubleshooting](https://github.com/getodk/collect#moving-to-the-main-view-if-user-minimizes-the-app)

[2020-05-11 13:49] seadowg commented on #3809
@vishwa1937 are you still seeing this problem?

[2020-05-12 00:22] #3820 closed, assigned to nobody

[2020-05-12 04:12] lognaturel commented on #3744
@grzesiek2010 That looks perfect to me. 🙏

[2020-05-12 09:57] mmarciniak90 opened #3823 "Scanning inverted QR code to apply settings does not work"
#### Software and hardware versions
Collect with #3743

#### Problem description
Scanning inverted QR code to apply settings does not work

#### Steps to reproduce the problem
1. User opens `Configure via QR code`
2. User scans inverted QR code with settings
![image](https://user-images.githubusercontent.com/3907554/81670232-99ac0d80-9447-11ea-8ffe-b27a31643727.png)

#### Expected behavior
QR code

[2020-05-12 13:06] seadowg commented on #3811
@grzesiek2010 have you made any progress on this? It looks like we probably need this fixed for #3818 and I think this should really follow on from changes in #3813 so I'm happy to take this on if not!

[2020-05-12 13:08] grzesiek2010 commented on #3811
Not yet do you want to fix it as a part of #3813 if so no problem.

[2020-05-12 13:09] seadowg commented on #3811
Yeah I can build on top of that! Thanks.

[2020-05-13 09:44] kkrawczyk123 opened #3825 "User can leave Server settings without Google account not set dialog after importing QR Code"
#### Software and hardware versions
Collect v1.26, previous versions, Android v probably all except 5.1.x.x, device used...

#### Problem description
Google account not set dialog is not displayed after scanning qr code with Google Drive selected as settings

#### Steps to reproduce the problem
1. On the first device select Google Drive server type and select Google account
2. On the second, scan

[2020-05-13 12:30] kkrawczyk123 opened #3826 "Unable to Save to Drive/Attach to Mail QR Code on Android 5.1 Huawei Y560-L01"
#### Software and hardware versions
Collect v1.26.x, Android v5.1.x, device used: Huawei Y560-L01

#### Problem description
I have noticed a problem with sharing QR code on my device with Android 5.1.
Google drive seem to crash when try to save file with QR code on Huawei Y560-L01 device.
stacktrace:
`05-13 12:44:55.935 11606-11606/? E/CAKEMIX_CRASHED: [main] java.lang.SecurityException: Uid 10050

[2020-05-13 21:18] lognaturel opened #3828 "Instance map view improvements"
#3778 adds a summary view when tapping an instance on a form's instance map. This issue is to track enhancements to that view:
- grow the selected marker icon ~and make it red~, same as in Google Maps
- dismiss bottom sheet on back button press
- dismiss the bottom sheet if there's a tap that's not on a map button or on an instance
- maintain the bottom sheet on device rotation

[2020-05-13 21:30] lognaturel opened #3829 "Map locations above form add button on instance map are not tappable"
#### Software and hardware versions
Collect v1.26.43

#### Problem description
Map locations above form add button on instance map are not tappable. Identified by @grzesiek2010 in https://github.com/getodk/collect/pull/3778#issuecomment-628027019

#### Steps to reproduce the problem
1. Go to the form instance map.
1. Make sure there are a few visible instances.
1. Pan the map to put an instance ab

[2020-05-14 11:08] grzesiek2010 commented on #3798
Can't reproduce using the current master so I'm closing maybe I have made a mistake recently and didn't pull newest changes...

[2020-05-14 11:08] #3798 closed, assigned to grzesiek2010

[2020-05-14 12:49] mmarciniak90 commented on #3828
Use case:
1. Mapbox / OSM is set
2. User opens form's instance map
3. User selects marker icon to see details
4. User minimizes app or locks the screen
5. User returns to app

Actual result:
The bottom sheet is moved down a bit

[2020-05-14 13:47] #3788 closed, assigned to grzesiek2010

[2020-05-14 14:13] #3737 closed, assigned to grzesiek2010

[2020-05-14 18:55] lognaturel commented on #3798
Since you saw this working on #3016, I wonder whether it could be an issue with JavaRosa master. Let's make sure to try this as soon as we merge in a snapshot for the next JR version.

[2020-05-14 20:34] #2924 closed, assigned to nobody

[2020-05-14 21:18] shobhitagarwal1612 commented on #3796
@getodk-bot claim

[2020-05-14 21:36] lognaturel commented on #3796
Test coverage master @shobhitagarwal1612 to the rescue! 🎉 🙏

[2020-05-15 07:29] kkrawczyk123 opened #3836 "Collect crashes when open blank form on v1.27.0 beta 0"
#### Software and hardware versions
Collect v1.27.x, Android all from 5.1 to 10 device used...

#### Problem description
Collect crashes when try to open blank form.

#### Steps to reproduce the problem
1. Download any form
2. Go to Fill Blank Form
3. Click on Downloaded form

#### Expected behavior
The app should not crash, user should be able to fill form

[2020-05-15 07:29] kkrawczyk123 commented on #3836
@getodk-bot label "high priority"
@getodk-bot label "regression"

[2020-05-15 07:31] kkrawczyk123 commented on #3836
@grzesiek2010 @seadowg Could you take a look at that as the first thing in your morning as it's a blocker for release testing.

[2020-05-15 08:28] seadowg commented on #3836
We're not seeing this on master so it's probably only in a release build type. Could be something to do with ProGuard. I'm guessing it's [this crash](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/bd4f5ba3bf650b9bb26c469b91e8ceb7?time=last-seven-days&sessionId=5EBE4D700141000116326742CDED275B_DNE_0_v2) but I'm confuse

[2020-05-15 14:05] #3836 closed, assigned to seadowg

[2020-05-17 10:32] shobhitagarwal1612 commented on #3796
I couldn't find any coverage file (`coverage.ec`) in the output of the [shards](https://circleci.com/api/v1.1/project/github/getodk/collect/8832/output/104/0?file=true&allocation-id=5ebd8c1c80666d21e3a600b4-0-build%2F5475A68A)

[2020-05-17 10:53] shobhitagarwal1612 commented on #3796
The last time they were generated was 27 days ago ([workflow](https://app.circleci.com/pipelines/github/getodk/collect/162/workflows/75b99952-bf24-4985-8457-5a6c916b59ae/jobs/8564))

[2020-05-18 09:27] seadowg commented on #3809
@vishwa1937 I'm going to close this for the moment but please let us know if you're still running into problems.

[2020-05-18 09:27] #3809 closed, assigned to nobody

[2020-05-18 10:43] grzesiek2010 commented on #3817
It's on the javarosa's side so I move the issue there https://github.com/getodk/javarosa/issues/575

[2020-05-18 10:43] #3817 closed, assigned to nobody

[2020-05-18 12:43] seadowg commented on #3812
![](https://media.giphy.com/media/3ornk57KwDXf81rjWM/giphy.gif)

@getodk-bot still working on it my little friend

[2020-05-18 15:05] mmarciniak90 opened #3842 "The progress bar is not visible on `Delete Saved Form`"
#### Software and hardware versions
Collect v1.26.3

#### Problem description
The progress bar is not visible on `Delete Saved Form`

#### Steps to reproduce the problem
1. User download a lot of forms
2. User goes to `Delete Saved Form` view
3. User opens `Blank Forms`

#### Expected behavior
Progress bar is visible

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3907554/8692

[2020-05-18 15:11] kkrawczyk123 commented on #3316
**Description update:**
Behavior from 1.27.0 Beta 1:
![Screenshot_20200518-170838](https://user-images.githubusercontent.com/33342488/82229274-83f88580-992a-11ea-9d03-f37a814e3fec.png)

[2020-05-18 16:21] SaumiaSinghal commented on #3842
@getodk-bot claim

[2020-05-18 17:19] SaumiaSinghal commented on #3739
Hi @lognaturel! I would like to work on this, if no one else is working on it.

[2020-05-18 17:31] rajkumaar23 commented on #3739
@SaumiaSinghal I'm not working. You can go ahead and try :) Also, you can claim this issue using @getodk-bot

[2020-05-18 17:33] SaumiaSinghal commented on #3739
Thanks @rajkumaar23 for letting me know. :)

[2020-05-18 17:33] SaumiaSinghal commented on #3739
@getodk-bot claim

[2020-05-19 10:06] seadowg opened #3844 "Crash on creating repeat"
Discovered on Firebase: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/dd74083d67f410ebf91ab087006aac32?time=last-seven-days&sessionId=5EC0D6D4012900012EF581F660321501_DNE_0_v2

#### Software and hardware versions
Collect v1.27.0 Beta 1

#### Problem description

It looks like Collect is crashing when adding repeats f

[2020-05-19 11:13] #3823 closed, assigned to grzesiek2010

[2020-05-19 11:13] #3829 closed, assigned to grzesiek2010

[2020-05-19 11:33] mmarciniak90 commented on #3828
Use case:
1. `Moving backwards` option is unselected
2. User opens form's instance map
3. User selects marker icon with Saved / Finalized / Failed status to see details
4. `View Send Form` button is visible

Actual result:
Text on the button is misleading. Submission is not sent.

[2020-05-20 09:39] grzesiek2010 opened #3846 "Broadcast of Intent { act=com.mapbox.scheduler_flusher flg=0x14 (has extras) }"
#### Software and hardware versions
Collect v1.27.0-beta

#### Problem description
The QA team has been reporting that there are more ANRs in the newest version. I investigated the issue and discovered that there is one new ANR that is the most common one now and and it's probably this.

`Broadcast of Intent { act=com.mapbox.scheduler_flusher flg=0x14 (has extras) }`

https://play.google.com/apps/

[2020-05-20 09:59] seadowg commented on #3846
My first instinct is that we should take the Mapbox initialization code out and then try and push these issues back to the Mapbox team (it looks like they are pretty engaged in their open source projects). The amount of working around here feels pretty risky to me. However it looks like we don't have analytics on which map providers our users are using (maybe I missed them though) that would help

[2020-05-20 13:24] seadowg opened #3849 "Fix visual issues in Magenta theme"
The new "experimental" Magenta theme has some visual issues that will need to be fixed before it's ready for primetime:

- [x] Some dialogs in the app use the wrong button styles:

<img alt="" width="40%" height="40%" src="https://user-images.githubusercontent.com/3907554/81072644-ba73e080-8ee6-11ea-81cc-7a6cbe761aa1.png">

- [x] Search bar has extra 🔍 icon in "Delete saved form" search

<img alt=

[2020-05-20 16:13] SaumiaSinghal commented on #3849
@getodk-bot claim

[2020-05-21 18:26] seadowg commented on #3796
There seems to be a problem with the codecov upload so I'm reopening this. Hopefully we're able to get this working in a docker image now but I'm not sure how the codecov auth works.

[2020-05-22 12:53] shobhitagarwal1612 commented on #3796
The problem seems to be in the report generation step [link](https://app.circleci.com/pipelines/github/getodk/collect/284/workflows/e5d42b25-efea-491d-b416-5be1a9e9e7bd/jobs/8907)

Specifically, the failure is caused by:
[code]

`./gradlew -PciBuild=true -PenableJacoco=true jacocoTestReport` runs unit tests again. That seems obsolete. Maybe we should try fixing that first.

[2020-05-22 14:56] grzesiek2010 commented on #3828
@lognaturel could you clarify this:

I'm not sure if I understand... should we hide the bottom sheet when a user taps on a map just?

[2020-05-22 20:11] lognaturel commented on #3828
Yes, if the user taps just on the map at a spot that doesn't have an instance marker, we assume they want to dismiss the bottom sheet so they can see more of the map, pan around, etc. See Google Maps for what I mean. This is particularly important on a small screen since the slide down gesture is not entirely intuitive.

[2020-05-25 12:03] mmarciniak90 opened #3860 "Polygon is created as an opened shape on map view when a previously created shape is removed"
#### Software and hardware versions
Collect v1.24.1 (older versions were not verified)

#### Problem description
Polygon is created as an opened shape on map view when a previously created shape is removed

#### Steps to reproduce the problem
1. User opens form withGeoshape widget
2. User adds at least 3 points and points create closed shape
3. User clicks on the trash icon and deletes added point

[2020-05-25 12:25] mmarciniak90 opened #3861 "User is not informed about missing all media files - Android 9"
#### Software and hardware versions
Collect v1.24, Android 9.0

#### Problem description
User is not informed about missing all media files Android 9

#### Steps to reproduce the problem
1. User starts form: [test.xml.txt](https://github.com/getodk/collect/files/4677113/test.xml.txt)
2. User sees toast on the first question, user goes to the next question
3. User sees toast on the second question,

[2020-05-25 15:54] seadowg opened #3862 "Crash when rotating Form Metadata screen"
#### Software and hardware versions
Collect v1.26.3, v1.27.0

#### Problem description

The app is crashing when rotating the Form Metadata screen due to some weird lifecycle issues. This was seen spiking on [Firebase](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4bfc0982e50cafc28984847510f7d859?time=last-seven-days

[2020-05-25 20:50] #3862 closed, assigned to nobody

[2020-05-25 21:44] lognaturel opened #3866 "UI is out of sync with selection in Send Finalized Form after submission failure"
#### Software and hardware versions
Collect v1.27.0

#### Problem description
UI is out of sync with selection in Send Finalized Form after submission failure.

#### Steps to reproduce the problem
1. Select a form that will fail to send
1. Send it
1. See that it is still selected but if you try to send again, you get an error saying nothing is selected

#### Expected behavior
The UI should update

[2020-05-25 22:35] lognaturel commented on #3615
I've detailed issues with the proposed JavaRosa change at https://github.com/getodk/javarosa/pull/536#issuecomment-633733161.

[2020-05-25 23:27] lognaturel opened #3867 "Double prompt for media permissions when opening QR code configuration screen"
#### Software and hardware versions
Collect v1.27.0, Android v7.0, Moto G5

#### Problem description
Double prompt for media permissions when opening QR code configuration screen

#### Steps to reproduce the problem
1. Revoke camera permissions for Collect
1. Tap Configure via QR Code from the overflow menu
1. Accept the first permission request and then see another pop up

#### Expected behavior

[2020-05-26 12:29] grzesiek2010 opened #3868 "NPE in GeoPolyActivity.java:320"
#### Problem description

https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/ce30e635e0070bca8e1a70390a2b50b9?time=last-seven-days&sessionId=5ECCF69B026500015F3C074E59B1E4C1_DNE_0_v2

[code]

[2020-05-26 14:31] grzesiek2010 commented on #3828
the red one is already used so I decided to just grow the selected one without changing its color.

[2020-05-26 15:12] mmarciniak90 commented on #3866
@lognaturel is it possible that this issue is related to the Android version? Or maybe some extra conditions need to be met. Maybe the cause of failure is important.
I'm not able to reproduce this on Android: 6.0, 7.0, 8.1, 9.0
I try to send form which is not available on Aggregate.

[2020-05-26 15:49] lognaturel commented on #3866
Huh! That is really strange and I guess it explains why you've never run into it. 🙃 I'm on Android 7.0 but can't really think of how it would be related to Android version. I'll try to get a reproduction on a sandbox server. If you haven't been able to reproduce it's not very important.

[2020-05-26 20:49] lognaturel opened #3870 "Crash on attempting to display error dialog if ODK directory can't be created"
#### Software and hardware versions
Collect v1.27.0, Android v7.0

#### Problem description
Crash on attempting to display error dialog if ODK directory can't be created

#### Steps to reproduce the problem
1. Create a /sdcard/odk/forms file which will block the creation of the odk directories
1. Launch Collect
1. The exception on directory creation attempt is caught but showing a dialog fails wit

[2020-05-27 10:07] grzesiek2010 opened #3873 "Null formController object"
#### Problem description
I have reproduced and solved many strange issues in Collect during past years and I even liked it but there is one bothering me since I remember, appearing in reports, being mentioned on the forum... it's null formController object.
Here is a sample crash report from v1.27.0:
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:o

[2020-05-27 11:18] grzesiek2010 opened #3874 "ClassCastException in ToastUtils.java:55"
#### Software and hardware versions
Collect v1.27.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/ea33a1b05089575438f325731c00f23c?time=last-seven-days&sessionId=5ECDEA5A0327000110B59C46659938BA_DNE_0_v2

[code]

[2020-05-27 21:27] #3874 closed, assigned to grzesiek2010

[2020-05-27 22:45] lognaturel commented on #2884
I ended up opening up a duplicate at #3494. The other one has a little more detail so closing this one.

[2020-05-27 22:45] #2884 closed, assigned to nobody

[2020-05-28 09:06] mmarciniak90 opened #3878 "All buttons look like active but do not respond with Mapbox map when Internet connection is not available"
#### Software and hardware versions
Collect v1.25 (older versions were not verified)

#### Problem description
All buttons look like active but do not respond with Mapbox map when Internet connection is not available

#### Steps to reproduce the problem
1. Install the app without Internet connection.
2. Select Mapbox in General Settings -> Maps.
3. Go to All widgets for and open some widget with m

[2020-05-28 10:31] #3868 closed, assigned to grzesiek2010

[2020-05-28 11:37] grzesiek2010 opened #3879 "NPE in MapboxMapFragment.java line 904"
#### Software and hardware versions
Collect v1.27.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/71cf05a1083f68497a29ed76e47b8a5c?time=last-seven-days&sessionId=5ECF7867028400014DC482A245EAE022_DNE_0_v2

[code]

[2020-05-28 11:37] grzesiek2010 commented on #3879
There are similar reports probably caused by the same bug:
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/693784ddaf1619d825d68c6d381df76b?time=last-seven-days&sessionId=5ECF4DDA012000017766274B1C49B759_DNE_0_v2

[code]

[2020-05-28 12:01] grzesiek2010 commented on #3879
I was able to reproduce the issue so here are the steps:

1. Select Mapbox in General Settings -> Maps
2. Open any form with GeoTrace/GeoShape widgets
3. Add some points on the map.
4. Try to click on any point.

[2020-05-28 12:33] grzesiek2010 opened #3881 "error receiving broadcast Intent { act=android.net.conn.CONNECTIVITY_CHANGE flg=0x4000010 (has extras) } in androidx.work.impl.constraints.trackers.NetworkStateTracker"
#### Software and hardware versions
Collect v1.27.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4d545f6ee802c3b02ed5b47a2116f5d4?time=last-seven-days&sessionId=5ECF7A2900530001141A53B616220073_DNE_0_v2

[code]

[code]

[2020-05-29 05:26] Amidos commented on #387
Hi guys,

In my case, it started after I moved my project to Androidx. So, that is the solution for me:

1) Keep multidex version lower. I was using 2.0.1 but it was still crashing. So I switched to 1.0.3
implementation 'com.android.support:multidex:1.0.3'

2) Keep your application super class as MultiDexApplication
public class App extends MultiDexApplication {

That's it. I hope it will help peo

[2020-05-29 09:03] kkrawczyk123 opened #3883 "Points entered are reset when select/deselect layer for Mapbox GeoTrace and GeoShape widgets"
#### Software and hardware versions
Collect v1.27.x, Android v5.1, 7.1, 10 probably all, device used...

#### Problem description
When testing #3880 I have noticed an issue that turned out to be visible on store version as well.
Points entered are reset when select/deselect layer for Mapbox GeoTrace and GeoShape widgets, gif attached:
![ezgif com-video-to-gif (2)](https://user-images.githubusercon

[2020-05-29 09:13] grzesiek2010 commented on #3878
1. First of all those buttons always look like inactive (gray color). Some time ago I reported an issue [Refresh map icons](https://github.com/getodk/collect/issues/3202) and I still think it would by a nice improvement.
2. We need to distinguish two cases:
- **no internet** (but the provider has been initialized before), maybe some maps has been cached, we can use offline maps so those buttons sh

[2020-05-29 10:13] seadowg commented on #3878
Yeah I think I agree. It would be hard to do inactive/active button state right now. It'd probably also make sense to show a warning snackbar (or something similar) in these semi-broken states right?

[2020-05-29 10:23] seadowg commented on #3870
As far as I can see this is probably happening because the `SplashScreenActivity` just inherits from `Activity` rather than our `CollectAbstractActivity` or just simply `AppCompatActivity`. Looking at the history of this I'd imagine this bug has been there for a good while.

[2020-05-29 14:02] lognaturel commented on #3883
Duplicate of #3515. The fundamental issue is with the way that the order of layers is established and maintained. See more of the discussion at https://github.com/getodk/collect/pull/3457#issuecomment-575847471

[2020-05-29 14:03] #3515 closed, assigned to nobody

[2020-05-29 14:58] #3879 closed, assigned to grzesiek2010

[2020-05-29 15:00] grzesiek2010 commented on #3878
yes, but I'm afraid it won't be trivial to determine if a provider has been initialized, I need to check it.

[2020-05-29 15:01] #3867 closed, assigned to grzesiek2010

[2020-06-01 08:24] seadowg opened #3884 "Crash when Google Maps goes down"
#### Problem description

It looks like [this crash](https://console.firebase.google.com/u/a0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/71b0f8dfadb8435206e57c3b072dcb92?time=last-ninety-days&sessionId=5ED447A5006F00014CFC40CB8EDAC83C_DNE_0_v2) is occurring when there is an outage on the Google Maps side.

Google have created a fix and deployed in the n

[2020-06-01 09:26] grzesiek2010 commented on #3016
Fixed in https://github.com/getodk/javarosa/pull/572

[2020-06-01 09:26] #3016 closed, assigned to grzesiek2010

[2020-06-01 12:38] #3884 closed, assigned to grzesiek2010

[2020-06-01 12:46] grzesiek2010 opened #3887 "Failed to find configured root that contains /storage/emulated/0/Android/data/org.odk.collect.android/files/settings/collect-settings.png"
#### Software and hardware versions
Collect v1.27.0

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/d9c8a9db66823efa64a701b76295e1e3?time=last-seven-days&sessionId=5ED1DA00035000013E521B1B631AD624_DNE_0_v2

[code]

[2020-06-01 14:42] yanokwa opened #3889 "Collect screen size and density"
When making design decisions, it would be good to know the most popular screen sizes and densities. For example, we know people use phones, but are they small phones or big phones? How much stuff can we really stuff on the screen? What are reasonable font sizes to default to.

Google has the screen size data for the entire Play Store at https://developer.android.com/about/dashboards/index.html#Scr

[2020-06-01 18:34] grzesiek2010 opened #3890 "IllegalArgumentException in ResetDialogPreference.java:141"
#### Software and hardware versions
Collect v1.27.0 and older version

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/431bd8f8955611372dbd6bf8412fd57d?time=last-seven-days&sessionId=5ED1C11F031E0001490DC1C6E76B1BA9_DNE_1_v2

[code]

[2020-06-02 08:57] grzesiek2010 commented on #3844
There must be another way to reproduce the issue because it's still visible on v1.27.0. Fewer reports but still: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/348ba62150925a6e0907635c0c7767a2?time=last-seven-days&sessionId=5ED5EB72012A00017C1E397FA2DD633D_DNE_0_v2

[2020-06-02 09:03] seadowg commented on #3844
@grzesiek2010 could we create a new issue for this as presumably the reproduction steps are going to be different? Unless you can still reproduce that way?

[2020-06-02 10:57] grzesiek2010 commented on #3844
I'll try to reproduce the issue and then if steps differ or I'm not able to do that at all I'll create a separate issue.

[2020-06-02 11:00] grzesiek2010 opened #3891 "Fatal Exception: android.view.WindowManager$BadTokenException in GoogleSheetsUploaderActivity.java:314"
#### Software and hardware versions
Collect v1.27.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/22ba05fd5beed6f27cabce28e3bf183b?time=last-seven-days&sessionId=5ED4DD6100E300016BB024393A6CCA1D_DNE_0_v2

[code]

[2020-06-02 11:27] #3891 closed, assigned to grzesiek2010

[2020-06-02 11:35] grzesiek2010 opened #3893 "NPE in SortDialogAdapter.java line 77"
#### Software and hardware versions
Collect v1.27.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/e2f5d6f6136e49bcc97d10d3670262fa?time=last-ninety-days&sessionId=5ECFAB2F00DD000117D60E3CE6BD44B2_DNE_0_v2

[code]

#### Steps to reproduce the problem

1. Open the app and th

[2020-06-02 11:47] #3881 closed, assigned to grzesiek2010

[2020-06-02 17:01] grzesiek2010 commented on #3893
I investigated the issue and it''s a broader problem related to https://github.com/Karumi/Dexter similar to https://github.com/getodk/collect/issues/2571 since it's something difficult to reproduce in real life and we will be able to get rid of storage permission once we switch to scoped storage (in ~4 months) I would mark it as won't fix.

[2020-06-02 17:05] grzesiek2010 commented on #3893
@seadowg @lognaturel If you have something against the new label I created `won't fix` or maybe you don't agree with the fact it's used here, let me know.

[2020-06-02 19:09] #2992 closed, assigned to nobody

[2020-06-02 22:13] #3807 closed, assigned to grzesiek2010

[2020-06-03 11:32] grzesiek2010 opened #3897 "A user is able to swipe twice when the second swipe should be blocked by Add new group dialog"
#### Software and hardware versions
Collect v1.27.1 and older versions

#### Problem description
A user is able to swipe twice when the second swipe should be blocked by Add new group dialog

#### Steps to reproduce the problem
1. Open any form with repeatable group
2. Try to swipe fast

![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/3276264/83631816-6a984000-a59e-11ea-938

[2020-06-03 11:32] grzesiek2010 commented on #3844
I'm not 100% sure it's the same but I was able to reproduce this https://github.com/getodk/collect/issues/3897 so let's close again.

[2020-06-03 11:32] #3844 closed, assigned to seadowg

[2020-06-03 12:28] grzesiek2010 opened #3900 "NPE in FormDownloadListActivity.java:391"
#### Software and hardware versions
Collect v1.27.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/88dae3435f2f96595185f8fbef555b20?time=last-thirty-days&sessionId=5ED285D50354000123AF4738C111B6E8_DNE_3_v2

https://console.firebase.google.com/u/0/project/api-project-3223004

[2020-06-03 12:31] grzesiek2010 commented on #3900
I investigated the issue and was able to reproduce it:
1. Open `Get Blank Form` view.
2. Click on the search icon to have the text field visible
3. Minimize the app.
4. Go to setting and revert storage permission.
5. Get back to the app.

The issue is similar to https://github.com/getodk/collect/issues/3893 and in my opinion we don't need to fix it because as I said in https://github.com/getodk/co

[2020-06-03 14:37] seadowg opened #3901 "Rotating new preference screens causes title to dissapear"
#### Software and hardware versions

Collect v1.27.1

#### Problem description

Rotating the screen in any of the preference screens that use Android X (Form Metadata, User Interface and Custom Server Paths) causes the title to disappear from the toolbar.

#### Steps to reproduce the problem

1. Go to new preference screen
2. Rotate device

#### Expected behavior

Title should remain on screen!

[2020-06-04 13:09] grzesiek2010 opened #3902 "NPE in isQuestionRecalculated (FormEntryActivity.java:2884)"
#### Software and hardware versions
Collect v1.27.1 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/1ea0f53adf72eb6a2ee9793ce03db64b?time=last-seven-days&sessionId=5ED7E64A006200011FF9EF3EF4ED2576_DNE_0_v2

[code]

#### Steps to reproduce the problem
I'm on it

[2020-06-04 15:03] Balasnest commented on #387
@lognaturel @srsudar How can I do this on dynamic feature?

[2020-06-04 16:45] seadowg opened #3903 "Fix `DeletingRepeatGroupsTest`"
The tests in this class regularly fail ([example](https://console.firebase.google.com/u/0/project/api-project-322300403941/testlab/histories/bh.f6f8331e5ae6e371/matrices/7341044497758268914/executions/bs.2f4a8612f9aa15b4/testcases/1/test-cases)). It seems that the swipe left/right gestures are flakey in the app/Espresso. It mostly works but sometimes there is a delay Espresso can't cope with and o

[2020-06-04 16:53] grzesiek2010 commented on #3902
Ok I was able to reproduce the issue, steps:
1. Open the form:
[field-list.xlsx](https://github.com/getodk/collect/files/4731534/field-list.xlsx)
2. Pass any value to the first question.
3. Remove the answer

[2020-06-04 17:28] seadowg commented on #3812
![](https://media.giphy.com/media/3ornk57KwDXf81rjWM/giphy.gif)

@getodk-bot still working on it my little friend

[2020-06-04 17:55] lognaturel opened #3906 "Add tests for GeoPointActivity timer and satellite count, consider moving satellite count to LocationClient"
https://github.com/getodk/collect/pull/3772#issuecomment-639008587

[2020-06-06 10:58] Kalyan-Lama commented on #874
Hi @lognaturel,

The issue seems to be closed but when i try it out in the ODKCollect v1.27.1 i don't see it working as it should. Did i get something wrong?

**Have also attached the xlsform for testing:**

[Constraint Dynamic Error Message.xlsx](https://github.com/getodk/collect/files/4739859/Constraint.Dynamic.Error.Message.xlsx)

[2020-06-06 20:36] #3903 closed, assigned to nobody

[2020-06-08 08:28] #3669 closed, assigned to nobody

[2020-06-08 20:38] lognaturel commented on #3846
We know from looking at our Mapbox API usage that Mapbox has been used very little until now. Currently we know there's a big deployment using it.

A lot of ~crashes~ ANRs that look like this are still being logged. https://play.google.com/apps/publish/?account=6923365842552008664#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=3803&errorType=ANR&clusterName=apps/org.odk.collect.and

[2020-06-08 20:43] seadowg commented on #3846
@lognaturel not able to access that page. I'd vote yes if we're seeing high numbers of crashes!

[2020-06-08 20:52] grzesiek2010 commented on #3846
Those are ANRs not crashes.
Taking into account that:
- it probably takes place during initializing mapbox and we do that only once (we have a key that checks it)
- there are 264 reports / 251 impacted users

looks like it happens often but just once for a single user so I think it's not a big problem.

[2020-06-08 21:02] lognaturel commented on #3846
Yes, sorry, I've been speculatively connecting some dots in my head and didn't lay all that out here.

We have about the same rate of crashes in native Mapbox code and I think they may be related to the ANRs. Like maybe the initialization hangs for a while and then eventually crashes or something like that. The crashes also look like they're happening once per user so that may be why we don't get

[2020-06-08 21:08] lognaturel commented on #3846
To be clear: not a huge priority but I think we should keep the issue open and see if we can learn more. I think the next step is seeing whether/how Mapbox folks respond.

[2020-06-09 08:54] #3902 closed, assigned to grzesiek2010

[2020-06-09 14:53] seadowg commented on #3812
Finishing the last part of this (converting the prefs screen to AndroidX) keeps getting pushed back as other things come up. I think it'd be best to admit defeat here and make a new issue for the conversion. After looking at it again I think there needs to be more test coverage written up before ripping the screen apart and I think it'd be better to write those tests and do the conversion as part

[2020-06-09 15:07] lognaturel commented on #3812
Yes, that sounds good to me.

[2020-06-09 15:08] #3812 closed, assigned to seadowg

[2020-06-09 17:34] #3897 closed, assigned to grzesiek2010

[2020-06-10 04:43] lognaturel commented on #3360
We've been talking about August 2020 as the time when we need to target 29 but I now think we may have until November. From https://support.google.com/googleplay/android-developer/answer/113469#targetsdk:
- August 3, 2020: Required for new apps
- November 2, 2020: Required for app updates

Does that sound right? I don't necessarily thing we should delay much beyond August but it'd be good to make

[2020-06-10 08:10] seadowg commented on #3360
Yeah that seems right. Given it looks like we'll have a September release maybe we should target that?

[2020-06-10 22:52] #2934 closed, assigned to grzesiek2010

[2020-06-15 08:18] mmarciniak90 opened #3924 "Record a point button appears on Automatic input method"
#### Software and hardware versions
Released Collect v1.27.1 (older version were not verified)

#### Problem description
`Record a point` button appears on Automatic input method

#### Steps to reproduce the problem
1. User goes to GeoTrace or GeoShape widget
2. User selects `Automatic location recording` as an Input method
3. User sees `Record a point` button

#### Expected behavior
`Record a poi

[2020-06-17 12:23] grzesiek2010 opened #3926 "Can not unselect a selected item in no-button appearances after navigating back"
#### Problem description
Can not unselect a selected item in no-button appearances after navigating back.

#### Steps to reproduce the problem
![ezgif com-video-to-gif (5)](https://user-images.githubusercontent.com/3276264/84897386-c934e200-b0a5-11ea-808f-4937bf033440.gif)

#### Expected behavior
The orange frame should disappear after clicking on a selected item.

[2020-06-17 12:51] seadowg opened #3928 "Add proguard to all submodules"
As discussed in #3886 we need to make sure the submodules we've started breaking our build into our ProGuarded so they don't make the app APK any larger.

It is worth double checking that we definitely need ProGuard for these submodules as it may be that just having it the `collect_app` module is enough.

[2020-06-17 18:02] mmarciniak90 opened #3929 "Accuracy value is not becoming more and more accurate on the OSM map"
#### Software and hardware versions
Collect with #3772

#### Problem description
Accuracy value is not becoming more and more accurate on the OSM map

#### Steps to reproduce the problem
1. OSM map is selected in Collect's settings
2. User starts a form with Geowidget (eg. All widgets)
3. User opens geo widget with map appearance like:
   * Geopoint with placement-map appearance
   * Geopoint with

[2020-06-17 18:07] mmarciniak90 opened #3930 "OSM map is NOT zoomed to current location automatically on Geotrace and Geoshape"
#### Software and hardware versions
Collect with #3772

#### Problem description
OSM map is NOT zoomed to current location automatically

#### Steps to reproduce the problem
1. OSM map is selected in Collect's settings
2. User starts a form with Geotrace and Geoshape widgets
3. User opens Geotrace / Geoshape widget
4. User sees map and accuracy value is on green background
5. OSM map is NOT zoomed

[2020-06-18 09:25] grzesiek2010 commented on #3828
I have found one more case that should be improved:
When we use the pin marker the center of the icon points to a saved location what look very misleading. For example I saved a form in Gdańsk (northern Poland by the Baltic Sea) but when I zoom out the map and especially if I click on a marker what makes it bigger it points to the center of Poland or even almost to Czech Republic:

![Screenshot_15

[2020-06-18 11:50] #3926 closed, assigned to grzesiek2010

[2020-06-18 12:46] grzesiek2010 commented on #3828
When we use the pin marker the center of the icon points to a saved location what look very misleading. For example I saved a form in Gdańsk (northern Poland by the Baltic Sea) but when I zoom out the map and especially if I click on a marker what makes it bigger it points to the center of Poland or even almost to Czech Republic:

should be fixed now.

[2020-06-18 12:47] #2717 closed, assigned to nobody

[2020-06-18 12:47] #3313 closed, assigned to nobody

[2020-06-18 16:00] lognaturel commented on #3930
Closed by #3772

[2020-06-18 16:00] #3930 closed, assigned to nobody

[2020-06-18 16:00] lognaturel commented on #3929
Closed by #3772

[2020-06-18 16:00] #3929 closed, assigned to nobody

[2020-06-18 16:02] lognaturel commented on #3441
Given @mmarciniak90's notes on #3772, I believe `GeoPointActivity` is now leak-free. Let me know if I misunderstood, @mmarciniak90!

[2020-06-18 16:02] #3441 closed, assigned to nobody

[2020-06-18 17:04] lognaturel commented on #2997
Closed in #3772

[2020-06-18 17:04] #2997 closed, assigned to nobody

[2020-06-19 07:08] SaumiaSinghal commented on #3202
Thank you @grzesiek2010 for directing me here. I proposed almost the same in my GSoC proposal. I opened a [topic](https://forum.getodk.org/t/use-floating-action-button-for-buttons-on-map-fragments/27499) for this in the forum.

Also, I feel that using FAB would make it easy to distinguish between active and inactive buttons.
Disabled FAB button          |     Enabled FAB button
:------------------

[2020-06-19 21:51] #3887 closed, assigned to grzesiek2010

[2020-06-22 15:15] seadowg opened #3934 "Add "Match Exactly" mode"
This adds the enumerator's flow for the "Match Exactly" mode for Collect described [here](https://github.com/seadowg/collect-design/tree/master/prototypes/match-exactly). For this feature, instead of implementing the whole set of Form Management settings changes the mode should be enabled/disabled via a single checkbox that also enables/disables the "Form Update" section to prevent any weirdness.

[2020-06-22 16:16] seadowg opened #3935 "Crash when navigating to Form Hierarchy"
#### Software and hardware versions
Collect v1.27.2 (and previous versions)

#### Problem description

The app can crash if `instanceFile` is `null` in the app's `FormController` instance. Crash seen in Firebase: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/589a5fd64d5115cc3a1fa88e067346a2?time=last-seven-days&sessi

[2020-06-22 16:19] seadowg commented on #1115
This would be a good discussion to move to the [forum](https://forum.getodk.org) if it needs to be continued.

[2020-06-22 16:19] #1115 closed, assigned to nobody

[2020-06-22 16:21] seadowg commented on #754
We're looking at moving async work towards a new `Scheduler` abstraction in #3886

[2020-06-22 16:21] #754 closed, assigned to nobody

[2020-06-22 16:24] seadowg commented on #2444
This is probably a better discussion to have on [Slack](https://slack.getodk.org) at the moment.

[2020-06-22 16:24] #2444 closed, assigned to nobody

[2020-06-22 22:33] lognaturel commented on #754
Also, all the `Loader` machinery is now deprecated in favor of `ViewModel`/`LiveData`/`Room`.

Agreed that we should move towards a unified model for async work. Related to this conversation, we've also been hoping to work towards higher level abstractions for DB-stored data than what the existing DAO provides. There's some general messiness in the DB layer described in the [class comment on `Data

[2020-06-22 22:57] lognaturel opened #3936 "Update scoped storage migration banner for v1.28"
The scoped storage migration banner currently reads "You must migrate Collect forms to private storage by August 2020 to comply with Android requirements." We should change this to make sure users know that in the following version the migration will be forced.

I think we need to keep some high-level context: "You must migrate Collect forms to private storage to comply with Android requirements."

[2020-06-23 01:28] lognaturel commented on #3828
Good call on that last one.

[2020-06-23 08:10] seadowg commented on #3936
This all makes sense. I think "This will be done automatically in the next Collect release." is a good route for the text as it pushes that this is happening **NEXT** rather than at some point.

One thing we could start doing that I don't believe we currently do is to just automatically use Scoped Storage on devices that don't have any forms etc. I think we could do this by switching to scoped sto

[2020-06-23 08:53] seadowg opened #3939 "Add periodic Match Exactly updates"
~~Blocked by #3934~~

Once Match Exactly is enabled the update should occur automatically at a fixed interval (15 mins)

It probably makes sense to implement this using `WorkManager`.

**Acceptance**

- [x] Given I've enabled Match Exactly
And I've downloaded two forms onto my device
When I delete one of the forms on the server
And I update another form
And I add a new form
And I wait 15 minutes
T

[2020-06-23 09:03] seadowg opened #3940 "Update Form Management for Match Exactly"
~~Blocked by #3939~~

Form Management settings should be updated to allow easy setup of Match Exactly. This means we can remove whatever mechanism we've been using to enable/disable it up until now.

**Mockup:** https://www.figma.com/proto/j2aYN2j2TKSOqHUHw14K9F/ODK-Collect-Server-Settings?node-id=91%3A69&viewport=683%2C400%2C1&scaling=min-zoom

**Acceptance**

- [x] Given I'm using a fresh instal

[2020-06-23 10:12] #3860 closed, assigned to grzesiek2010

[2020-06-23 13:20] seadowg commented on #3928
I realized we don't actually need to do this as the ProGuard minimization occurs in the build for `collect_app` which pulls in our submodules as dependencies. Playing around with this it looks like adding Kotlin and Corroutines (as we do in #3886) adds around ~300kb to our APK so it's not that worrying (as I imagine this would be the biggest thing we'll pull in for a while).

We should keep an eye

[2020-06-23 13:20] #3928 closed, assigned to seadowg

[2020-06-23 13:29] grzesiek2010 commented on #3936
Makes sense to me as well.

As I remember we were thinking about it as we talked about the design for the migration process and someone probably Yaw was strongly against? Can't recall why exactly.

[2020-06-23 13:40] seadowg commented on #3936
I think initially it would have been weird as people would have expected copying files into the old "odk" dir to work. I'm thinking maybe now it's been a while, and we've been warning people we could get away with it? Unless there is another reason I haven't thought of!

[2020-06-23 13:42] lognaturel commented on #3936
The reason we didn’t do this is because a new installation could need to integrate with OMK/some tool that uses a direct integration with Collect. For example, Ona has posted on the forum that they do need a way to hand media attachments to Collect and they’ll be adding support for this. In the mean time, new users of their integration would break if we forced the scope storage change.

[2020-06-23 14:06] grzesiek2010 commented on #3873
Another related issue:
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/a3a70b72000259debef16ea958537822?time=last-seven-days&sessionId=5EF20464032500011A2F0C11E0F189D7_DNE_0_v2

[2020-06-23 17:13] seadowg commented on #3934
Good to review https://github.com/getodk/collect/issues/3538 as part of this

[2020-06-23 21:36] lognaturel commented on #2527
At long last, the Fused location provider has been not only fixed but much improved by Google and it's making its way back to Collect. [The change is out in beta](https://forum.getodk.org/t/odk-collect-v1-28-beta-gps-plus-other-sensors-for-location-calculation-updates-in-repeats/27661).

[2020-06-24 07:45] mmarciniak90 commented on #3861
@getodk-bot label "Specific to Android version"

[2020-06-24 07:46] mmarciniak90 commented on #3826
@getodk-bot label "Specific to Android version"

[2020-06-24 07:47] mmarciniak90 commented on #3774
@getodk-bot label "Specific to Android version"

[2020-06-24 07:47] mmarciniak90 commented on #3700
@getodk-bot label "Specific to Android version"

[2020-06-24 07:48] mmarciniak90 commented on #3664
@getodk-bot label "Specific to Android version"

[2020-06-24 07:49] mmarciniak90 commented on #3504
@getodk-bot label "Specific to Android version"

[2020-06-24 07:49] mmarciniak90 commented on #3502
@getodk-bot label "Specific to Android version"

[2020-06-24 07:49] mmarciniak90 commented on #3418
@getodk-bot label "Specific to Android version"

[2020-06-24 07:51] mmarciniak90 commented on #3387
@getodk-bot label "Specific to Android version"

[2020-06-24 08:04] mmarciniak90 commented on #3417
@getodk-bot label "Specific to Android version"

[2020-06-24 11:44] mmarciniak90 commented on #3849
I would like to improve consistent. The magenta theme should follow other themes when issue #3919  will be merged.

1. Capital letters should be visible in tabs on all themes
2. Tab background color should be identical with the form list background color on all themes theme.

| light mode | dark mode | magenta mode|
|---|---|---|
![Screenshot_20200624-123656](https://user-images.githubusercontent.

[2020-06-24 12:10] grzesiek2010 opened #3944 "ArrayIndexOutOfBoundsException in FormEntryActivity.java line 1102"
#### Software and hardware versions
Collect v1.27.2 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/8483a6eb0b2743cb499d9a81db50aee3?time=last-seven-days&sessionId=5EF2EC790162000138B7078956868651_DNE_0_v2

[code]

#### Steps to reproduce the problem
?

[2020-06-24 13:38] #3615 closed, assigned to nobody

[2020-06-24 14:14] grzesiek2010 commented on #3849
The difference stems from the fact that magenta uses Theme.MaterialComponents but light/dark mode not. I think we should first switch those modes to Theme.MaterialComponents as well. @seadowg is that on your todo list maybe or did you think about it?

[2020-06-24 17:21] seadowg commented on #3849
@grzesiek2010 My idea was to get Magenta feeling right and then we can basically redo the grey (light) and dark theme using the setup for Magenta but with those theme's respective colors. It might be that if people like Magenta it could become the default and we'd just have to make a new dark theme.

@mmarciniak90 agree on the tab background - that looks off. I'm not sure about caps though. I thin

[2020-06-25 09:25] grzesiek2010 opened #3945 "NPE in QRCodeTabsActivity.onActivityResult (QRCodeTabsActivity.java:167)"
#### Software and hardware versions
Collect v1.27.2 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/8fe9a73f99e93c9268a925a3ef28b912?time=last-seven-days&sessionId=5EF448270154000138AE2E37EA52DD05_DNE_0_v2

[code]

#### Steps to reproduce the problem
?

[2020-06-26 12:32] grzesiek2010 opened #3948 "Typing with keyboard in TimePicker requires pressing “Ok” on the keyboard before “OK” on the dialog"
#### Software and hardware versions
Collect v1.27.2 and older versions

#### Problem description
Typing with keyboard in TimePicker requires pressing “Ok” on the keyboard before “OK” on the dialog
Originally reported on the forum: https://forum.getodk.org/t/bug-report-for-time-widget/27736

#### Steps to reproduce the problem
1. Open any form with the TimeWidget
2. Click on the current hour/minute

[2020-06-29 16:39] #3945 closed, assigned to grzesiek2010

[2020-06-29 16:56] #3901 closed, assigned to seadowg

[2020-06-29 21:40] lognaturel commented on #3846
According to https://github.com/mapbox/mapbox-gl-native-android/issues/126#issuecomment-650708237, this is almost certainly because we don't destroy the `MapView` that's created for initialization purposes. I don't know why we can't reproduce. but I think we should add the `destroy` at least for v1.28 but perhaps even as another point release.

[2020-06-29 21:53] lognaturel opened #3952 "Review analytics events and drop ones that are no longer actively used"
For example, we now know `likert` is broadly used and can stop tracking those events. It's hard to know what to pay attention to when we have a lot of events and Firebase caps the number of actions that we can see in its interface so it's worth it to clean up periodically.

[2020-06-30 13:15] #3828 closed, assigned to grzesiek2010

[2020-07-01 17:04] #3744 closed, assigned to grzesiek2010

[2020-07-02 09:00] #3936 closed, assigned to nobody

[2020-07-06 09:09] seadowg opened #3958 "Add analytics for Match Exactly"
~~Blocked by #3959 / #3940.~~

* Send event with server hash when clicking refresh button
* Set user property for selected "form update" mode ("manually", "match_exactly" and "previously_downloaded_only")
* Send event when a sync completes with failure or success (like storage migration). Include error type with failures.

[2020-07-06 09:16] seadowg commented on #3958
I was thinking for this we could start using Firebase/Google analytics' ["User Properties"](https://firebase.google.com/docs/analytics/user-properties?platform=android#java) features. In my head, this gives us an easy way to quickly work out what proportion of our users are using each "update mode". It might also be interesting to be able to filter other events based on what the update mode is, so

[2020-07-06 09:42] seadowg opened #3959 "Add error handling to Match Exactly sync"
**Acceptance**

- [x] Given I've set up Match Exactly and have navigated to Fill Blank Forms
And my server is down/not available (`UnknownHostException`)
When I tap ♻️ (refresh)
Then I see an error notification
When I click on the notification
Then it takes me to Fill Blank Form
And I see an error badge on the refresh button

- [x] Given I've set up Match Exactly and have navigated to Fill Blank F

[2020-07-06 09:59] seadowg commented on #3959
@lognaturel good to get your thoughts here. The copy is straight off the top of my head so could definitely use some work but I wanted to focus on capturing the different error states and how we present them. My logic here was to continue to use a dialog for most errors as they involve trying to push the enumerator to check details/contact someone. For the "sync error" a banner felt more appropria

[2020-07-07 21:09] lognaturel opened #3961 "Soft delete form definitions if device has corresponding form instances"
Currently, manually deleting a form definition removes both the database entry and the files for that form definition. With the addition of a form download mode that exactly matches the form list on the server (#3956), this is problematic. A user might still have submissions for a form that will no longer be in their formlist because it is marked as closing. They may need to edit those submissions

[2020-07-07 22:29] atl2017 opened #3962 "When try to record video an error is displayed "The external application did not provide expected information""
#### Software and hardware versions
Collect v1.27.2, Android v9, device used... Moto g6
![image](https://user-images.githubusercontent.com/29519901/86850619-31f4f600-c077-11ea-95b2-2f25fa3b61d3.png)

#### Problem description
![image](https://user-images.githubusercontent.com/29519901/86850454-e9d5d380-c076-11ea-9ea7-21cc68981a22.png)

#### Steps to reproduce the problem
Fill "All widgets" question

[2020-07-07 23:18] lognaturel commented on #3962
This has to do with the video application that is being launched by default. What application is that? Can you please try installing another video recording application and seeing whether that works? I'm surprised that a default video app wouldn't return data via intent.

In general, please start with a support question on the forum so that your questions contribute to searchable user resources!

[2020-07-07 23:40] lognaturel commented on #3958
Not something I had thought about but I think it's a really good idea.

Other things I think we want to get a feel for are:
- do users generally want automatic or manual updates? This might lead us to change defaults in the future.
- at what frequency do users trigger manual updates? We might consider moving to a model where visiting Fill Blank Form triggers the sync.

[2020-07-08 15:26] seadowg commented on #3958
@lognaturel are you referring to manual vs automatic in the case of Match Exactly or just generally here?

[2020-07-08 16:06] grzesiek2010 commented on #3799
Fixed in https://github.com/getodk/collect/pull/3912

[2020-07-08 16:06] #3799 closed, assigned to nobody

[2020-07-08 22:36] lognaturel commented on #3959
Here's a more radical option: if anything at all goes wrong during an update, the refresh button gets a [red badge](https://material.io/develop/android/components/badging/) with an exclamation mark in it. This gives the user a visual cue to try again or just that something bad has happened. More descriptive error state information is pushed to a notification, with an exception for a 401 which pres

[2020-07-08 22:52] #3846 closed, assigned to grzesiek2010

[2020-07-09 00:07] #3934 closed, assigned to seadowg

[2020-07-09 01:00] lognaturel commented on #3958
I meant just for match exactly but now that you mention it I think it should be for both modes with automatic options.

[2020-07-09 11:37] #3948 closed, assigned to grzesiek2010

[2020-07-09 11:54] SaumiaSinghal opened #3963 "Update AllWidgetsFormTest"
Currently, `AllWidgetsFormTest` checks the behaviour of almost all widgets. There is a lot of scope to simplify it. As the behavior of all the widgets ranging from displaying intents to changing answers can be verified in corresponding unit tests, `AllWidgetsFormTest` can be just used to verify whether all the widgets are rendered on screen or not.

Performing a simple swipe to check whether the n

[2020-07-09 16:35] seadowg commented on #3959
I've updated the acceptance to specific showing the errors in a Notification rather than in a banner and or dialog

[2020-07-09 16:42] lognaturel commented on #3963
Reducing the test to verifying that the widgets are rendered and swiping through rather than going to the hierarchy sounds good to me. The major advantage is that it will significantly reduce the run time of the test.

I think doing this now will reduce coverage somewhat because not every widget type has unit tests yet. That seems ok to me, though, since we're adding unit tests as changes are made

[2020-07-09 18:16] SaumiaSinghal commented on #3963
@getodk-bot claim

[2020-07-09 21:39] SaumiaSinghal opened #3965 "Progress Bar is Not Shown on clicking `Delete Forms` Button in `Blank Forms` Tab in `Delete Saved Forms`"
#### Software and hardware versions
Collect v1.27.x

#### Problem description
The progress bar is not shown when deleting blank forms in Delete Saved Forms Activity. This behaviour differs from the `Saved Form tab`, as there progress bar is shown to account for the progress of deleting forms.

#### Steps to reproduce the problem

1. User download a lot of forms
2. User goes to Delete Saved Form vi

[2020-07-09 21:40] SaumiaSinghal commented on #3965
@getodk-bot claim

[2020-07-09 22:03] grzesiek2010 opened #3966 "Improve gesture navigation while filling forms"
#### Software and hardware versions
Collect - all versions, Android - all versions

#### Problem description
According to our discussion on slack:
https://getodk.slack.com/archives/C35ENHA64/p1594315293484400
it would be good to adjust gesture navigation in `FormEntryActivity` a bit in favor of scrolling up/down because new not trained users might swipe to next/previous questions accidentally whil

[2020-07-10 20:15] #3944 closed, assigned to grzesiek2010

[2020-07-13 14:20] #3963 closed, assigned to SaumiaSinghal

[2020-07-14 12:17] mmarciniak90 opened #3970 "Answer in repeat group is removed when user opens repeat group dialog but he does not decide to remove"
#### Software and hardware versions
Collect v1.25 (older versions were not verified)

#### Problem description
Answer in repeat group is removed when user opens repeat group dialog but he does not decide to remove

#### Steps to reproduce the problem
1. User opens form with repeat groups e.g. [nested-repeats.xml.txt](https://github.com/getodk/collect/files/4918630/nested-repeats.xml.txt)
2. User a

[2020-07-14 12:31] kkrawczyk123 opened #3971 "Using add group + after removing group causes a crash"
#### Software and hardware versions
Collect v1.28 current master, Android v5, 7, 10 probably all, device used...

#### Problem description
Right after deleting group and using + in the hierarchy to add another one Collect is freezing and crashing. I was able to reproduce it for both repeat groups and nested groups.

#### Steps to reproduce the problem
1. Use any form with repeat groups, I have use

[2020-07-14 16:18] SaumiaSinghal commented on #3970
@mmarciniak90 I fixed this issue in #3839

![cancel-does-not-clear-value](https://user-images.githubusercontent.com/35730054/87449994-8bcb6200-c61b-11ea-85e5-a3774918f355.gif)

[2020-07-14 17:46] lognaturel opened #3972 "Display guidance hint icon in line with question text if there's a collapsed guidance hint but no primary hint"
#### Software and hardware versions
Collect v1.27 and prior

#### Problem description
Currently, the collapsed guidance hint icon is displayed after the hint text. This looks good and makes sense when there's hint text:
<img width="369" src="https://getodk-a3b1.kxcdn.com/uploads/default/original/2X/3/3b1155b5daccb32901c979c5db6a1d5e2a1b8196.png">

However, it's also possible to have a guidance hin

[2020-07-14 17:47] #3939 closed, assigned to seadowg

[2020-07-14 21:49] SaumiaSinghal commented on #3972
@getodk-bot claim

[2020-07-15 09:01] SaumiaSinghal commented on #3972
@lognaturel when the form has both primary hint and guidance hint, then both will be in separate lines, right? I was unable to create such a form.

[2020-07-15 09:09] #3048 closed, assigned to nobody

[2020-07-15 21:22] #3965 closed, assigned to SaumiaSinghal

[2020-07-16 16:08] lognaturel commented on #3959
We are proposing adding three strings:
<strike>
- "Collect can't contact the server '%s'. Are you sure you entered it correctly?" - new special case for an unknown host.
- "Updating forms failed. Please try again." - message for any non-401 unhappy network response or error during the saving process.
- "If you keep having this problem, please contact the person who gave you the server address or c

[2020-07-16 16:24] lognaturel commented on #3972
This case is the first screenshot I shared. Once the user taps the (i), the guidance hint expands on a third line. So yes, the hint and guidance hint text are always on separate lines. This issue is about where the (i) icon should be.

You should be able to add `hint` and `guidance_hint` columns in XLSForm. Did you try that and if so, what happened?

You've got a lot going on with all the widget r

[2020-07-16 16:42] SaumiaSinghal commented on #3972
Yeah right @ln I'll come back later, meanwhile, any new contributor can give it a try

[2020-07-16 16:42] SaumiaSinghal commented on #3972
@getodk-bot unclaim

[2020-07-17 06:21] dmenne opened #3973 "start=0 in range widget starts with 1"
Collect 1.27.3

[code]

This gives a scale from 1 (sic!) to 10.

[2020-07-17 08:10] seadowg commented on #3959
@lognaturel I've added a note to the analytics issue (https://github.com/getodk/collect/issues/3958) to include error types with the failure analytics.

[2020-07-17 14:04] kkrawczyk123 opened #3974 "User interface options are not hidden when disable them in Admin settings"
#### Software and hardware versions
Collect v1.27.3, Android v5-10 probably all, device used...

#### Problem description
When testing #3933 I have noticed a regression issue that is visible on the master and store version. User interface options are not hiding after choosing them to hide in Admin Settings/User Settings.

#### Steps to reproduce the problem
1. Go to Admin Settings/User Settings
2.

[2020-07-17 14:05] kkrawczyk123 commented on #3974
@getodk-bot label "regression"

[2020-07-21 08:36] #3811 closed, assigned to seadowg

[2020-07-21 12:48] grzesiek2010 opened #3978 "Add apostrophes for more data types while sending to Google Sheets"
#### Software and hardware versions
Collect v1.27.3

#### Problem description
In version [v1.25](https://github.com/getodk/collect/pull/3462) we get rid of adding apostrophes to every single cell sending to Google Sheets and decided to do that only in case of:
- text
- select_multi
- barcode

We assumed that the risk of automated conversion is related to only those types of questions. It turns out

[2020-07-21 13:18] mmarciniak90 opened #3979 "`View or Change location` button is visible when point is removed in map view"
#### Software and hardware versions
Collect v1.27.3 (older version were not verified)

#### Problem description
`View or Change location` button is visible when point is removed in map view

#### Steps to reproduce the problem
1. User starts form with GeoPoint widget with map
2. User adds a point on map and saves answer on map
3. User sees location in GeoPoint widget and clicks on `View or Change

[2020-07-21 20:53] yanokwa commented on #3959
I'd propose these changes...
- "Collect can't reach the server at '%s'. Did you enter the URL correctly?"
- "Form update failed. Please try again." only for form update issues.
-  "Form download failed. Please try again." only for get blank form issues.
- "If you keep having this problem, report it to the person who asked you to collect data."

[2020-07-22 09:00] seadowg opened #3980 "Enabling Auto send should submit forms on device"
When the user enabled "Auto send" in Form Management settings should schedule submission of the forms currently on the device. Right now forms would not auto submit until another instance was filled out.

**Acceptance**

- [ ] Given I've filled out (and finalized) a form
And I've still not sent that form to the server
When I go to Form Management settings (in General settings)
And I enable Auto se

[2020-07-22 09:52] grzesiek2010 commented on #3970
I can confirm it is no longer visible on master

[2020-07-22 09:52] #3970 closed, assigned to nobody

[2020-07-22 09:53] grzesiek2010 commented on #3962
It's not our fault and we can't fix it so I'm closing.

[2020-07-22 09:53] #3962 closed, assigned to nobody

[2020-07-22 12:11] seadowg commented on #3959
Cool so I'll add 4 strings:

* `generic_network_error`: "If you keep having this problem, report it to the person who asked you to collect data."
* `form_download_error`: "Form download failed. Please try again."
* `form_update_error`: "Form update failed. Please try again."
* `unknown_host_error`: "Collect can't reach the server at '%s'. Did you enter the URL correctly?"

[2020-07-22 12:33] seadowg commented on #3959
Actually starting to put this in and realized that really we need strings for titles and body (for notifications or the existing dialogs). I'm going to adapt @yanokwa's strings so that we have situational titles: ("Form download failed", "Form update failed") etc and then the body is `generic_network_error` other than the `unknown_host_error` case (and auth but that's a different flow).

[2020-07-22 19:52] atl2017 commented on #3962
Thanks

[2020-07-23 07:17] kkrawczyk123 opened #3982 "Automatic download checkbox should be disabled for Never periodic form update check"
#### Software and hardware versions
Collect v1.28.- current master, Android all device used...

#### Problem description
Automatic download checkbox is now enabled for default choice: Never in Periodic form updates check, see screenshots:
| master v1.28.0 | store version 1.27.3 |
| --------- | ---------|
| ![Screenshot (Jul 23, 2020 9_02_13 AM)](https://user-images.githubusercontent.com/33342488/8

[2020-07-23 07:18] kkrawczyk123 commented on #3982
@getodk-bot label "regression"

[2020-07-23 08:31] seadowg commented on #3982
@grzesiek2010 probably not worth starting on this now as #3977 and other match exactly stories are changing a lot on this screen.

[2020-07-23 08:39] seadowg commented on #3973
Hey @dmenne 👋. Would you be able to post the form you're using? I'll have a look and see if I can reproduce but it might be useful to see the form as well.

[2020-07-23 08:43] seadowg commented on #3982
In addition to fixing this @lognaturel pointed out that when Match Exactly is enabled "Automatic Download" should be ticked (but disabled).

[2020-07-23 08:44] grzesiek2010 commented on #3982
Ah ok

[2020-07-23 08:44] dmenne commented on #3973
Nothing special, just a line:

type   | name | label | parameter
range | sibb | Sibblings | start=0 end=10 step =1 |  

[2020-07-23 08:52] kkrawczyk123 commented on #3849
I have noticed a few things that might be also considered for Magenta mode:
- Get Blank Form loading dialog: Cancel button is white for aggregate and pink for google drive
- if "turn on flashlight" button should stay pink in magenta mode
- on magenta view scroll is not visible until you actually start to scroll what differentiates it from the other modes

[2020-07-23 08:55] seadowg commented on #3973
@dmenne I couldn't reproduce. It looks like you're using `parameter` rather than `parameters` so the start/step/end are being ignored. Could you try fixing that and see if it solves your problem?

[2020-07-23 08:57] seadowg commented on #3849
@kkrawczyk123 nice finds! Yeah I think we should fix all of these.

[2020-07-23 09:06] dmenne commented on #3973
Apologies, my fault. It should be parameters, and I did not notice it because it simple reverted to the default numbering when parameter was not recoginized.

Thanks.

[2020-07-23 09:06] #3973 closed, assigned to nobody

[2020-07-23 15:32] #711 closed, assigned to nobody

[2020-07-23 16:59] seadowg opened #3983 "Prompt user to change credentials when auth error happens in the background"
This already happens when checking for updates via Get Blank Forms and will also happen for background checks that happen with Match Exactly enabled.

**Acceptance**
- [ ] Given Previously Downloaded Only is enabled
When the automatic check happens
And there is an authentication error (401)
Then I see a notification with an error message
When I click on the notification
Then I am prompted to enter

[2020-07-23 18:16] #3940 closed, assigned to seadowg

[2020-07-23 18:39] lognaturel commented on #3973
Thanks for bringing it up, @dmenne. We've talked a few times about throwing a form conversion error when we see a column/row name that is close but not an exact match to a "known one." It's a big lift to do across the board but `parameters` might be a good one to specifically target because as this illustrates, it can be hard to spot when parameters are not being set as expected.

[2020-07-24 11:49] mmarciniak90 opened #3984 "The automatic location recording method does not work as expected"
#### Software and hardware versions
Collect master

#### Problem description
The automatic location recording method does not work as expected

#### Steps to reproduce the problem
1. User opens GeoTrace or GeoShape widgets
2. User tries to add points via Automatic location recording method

#### Expected behavior
* The first point is collected immediately for automatic mode
* It's possible to add

[2020-07-27 08:12] dmenne opened #3987 "Too much space after #/## headings"
Space is limited on tablet, but ODK Collect sometimes considers space like an infinite resource .-)

Below is an example of a #-Node. Suggestion: Reduce space below title smaller (easy) or offer a "Compact"- Mode. Data entry to the left of the label would also be nice, but that's another issue.

![header](https://user-images.githubusercontent.com/506275/88518724-3c107180-cff1-11ea-87ac-50a535e7da5

[2020-07-27 09:19] seadowg opened #3988 "Notifications not being translated"
~~Blocked by #3986.~~

#### Software and hardware versions

Collect v1.27.3 (older versions as well)

#### Problem description

It seems notifications for auto send and auto update are not being translated.

#### Steps to reproduce the problem

1. Set Collect's language to something other than English
1. Enabled auto send
1. Fill out and finalize a form

You'll see the notification is in English.

[2020-07-27 09:23] #3924 closed, assigned to grzesiek2010

[2020-07-27 09:34] seadowg commented on #3987
This has been discussed a few times recently!

It would be really useful if you could share the form your screenshot is of and also share the details of the device you're using. Although I agree that we could drop the spacing under the title I'm a little confused as to why there is such a big gap here.

[2020-07-28 06:54] dmenne commented on #3987
Here is the simplified version, with # and ## headers.

Displayed on Android 5.01 Lenovo Tablet
![lenovotablet](https://user-images.githubusercontent.com/506275/88628991-ff0ab480-d0ae-11ea-98c4-aa5f41db515f.jpeg))

On Samsung A5 (Android 8.0)
![samsunga5](https://user-images.githubusercontent.com/506275/88629464-953eda80-d0af-11ea-973b-1378c20b5449.jpg)

[Large_gap.zip](https://github.com/getodk/c

[2020-07-28 16:51] seadowg commented on #3961
@lognaturel on the fifth acceptance criteria:

When I visit Delete Saved Form
And I delete the last Saved Form corresponding to that formID/version combination
That form definition formID/version combination's files and database entry should be fully deleted

This should also be the case when we submit the last instance of a formID/version combo right?

[2020-07-28 17:19] lognaturel commented on #3961
Thought some more about this and actually it's still possible to view a form instance that was sent which requires the corresponding form definition. So no, I don't think that the submission status of corresponding submissions should have any effect on the corresponding form definition.

[2020-07-28 17:20] seadowg commented on #3961
@lognaturel doh you're right. I can adjust for this.

[2020-07-28 17:34] lognaturel opened #3989 "Crash when cancelling a form download"
#### Software and hardware versions
`master`, this is a regression caused by the recent match exactly work

#### Problem description
[code]

#### Steps to reproduce the problem
1. Connect to the default server
1. Start downloading All Widgets
1. Cancel the download before all media files are downloaded

#### Expected behavior
Canceling should roll back the download and have no other effect. I do t

[2020-07-28 18:16] lognaturel opened #3990 "Blank form update mode setting is indented to give space for non-existent icon"
#### Software and hardware versions
`master`

#### Problem description
The new `Blank form update mode` is indented in whereas other `Form management` settings aren't. I think this is because the migration to androix preferences happened concurrently with adding this setting.

#### Steps to reproduce the problem
Go to form management settings.

#### Expected behavior
All form management settings s

[2020-07-28 18:18] lognaturel opened #3991 "Experimental settings section should be hidden or removed"
#### Software and hardware versions
`master`

#### Problem description
There's an Experimental settings section that was added temporarily while working towards match exactly. It should be hidden or removed now that nothing is in it. @seadowg maybe you had a plan for it already?

#### Steps to reproduce the problem
Go to general settings

#### Expected behavior
The Experimental section doesn't sho

[2020-07-29 11:44] seadowg commented on #3991
I'm thinking even if the section is empty it's probably quite useful to have for adding new features in the future. Should we maybe only allow it in beta/dev?

[2020-07-29 15:31] SaumiaSinghal commented on #3990
@getodk-bot claim

[2020-07-30 04:16] #3989 closed, assigned to seadowg

[2020-07-30 04:17] #3990 closed, assigned to SaumiaSinghal

[2020-07-30 05:15] lognaturel commented on #3991
Yup, beta/dev only sounds great.

[2020-07-30 05:29] #3959 closed, assigned to seadowg

[2020-07-30 14:20] kkrawczyk123 opened #3998 "Collect crashes after multiclick on add group + button in form view"
## Software and hardware versions
Collect v1.27.x, Android 5.1-10 probably all .x.x, device used...

#### Problem description
Collect crashes after multiclick on add group + button in form view:
![ezgif com-video-to-gif (15)](https://user-images.githubusercontent.com/33342488/88933755-1baa1680-d280-11ea-9934-db071fb96085.gif)

#### Steps to reproduce the problem
1. Open repeat group form ex. [nest

[2020-07-30 14:46] #3971 closed, assigned to grzesiek2010

[2020-07-30 18:00] lognaturel opened #3999 "Fill Blank Form can appear multiple times on back stack and auth dialog should be displayed immediately"
#### Software and hardware versions
`master`

#### Problem description
These are two related issues connected to @seadowg's match exactly work.

First, if the user receives a notification related to "match exactly" work happening and taps it, that always adds a new instance of Fill Blank Form on the back stack. However, Fill Blank Form may already be on the back stack. This is particularly noticea

[2020-07-31 14:24] #3961 closed, assigned to seadowg

[2020-07-31 14:24] #3991 closed, assigned to seadowg

[2020-07-31 14:47] #3999 closed, assigned to seadowg

[2020-07-31 14:50] seadowg commented on #62
We're going to deal with this in two ways:

1. #3992 introduces "soft delete" so deleting a form does not stop you from editing or viewing instances of that form
2. The new Match Exactly mode will hide the "Blank forms" tab in "Delete Saved Form"

[2020-08-03 09:55] #62 closed, assigned to seadowg

[2020-08-03 13:33] kkrawczyk123 opened #4004 "Unable to delete submission of softly deleted form without version"
#### Software and hardware versions
Collect v1.28.x, Android v5-7-10.x, device used...

#### Problem description
Testing result from #3992 scenario from #3961  is failing:

When I visit Delete Saved Form
And I delete the last Saved Form corresponding to that formID/version combination
That form definition formID/version combination's files and database entry should be fully deleted

#### Steps to

[2020-08-03 14:16] mmarciniak90 opened #4005 "Audio is hearable after removing response on Audio widget"
#### Software and hardware versions
Collect v1.27.3 (older versions were not verified)

#### Steps to reproduce the problem
1. User adds audio to Audio widget
2. User plays it
3. User removes response when audio is played
4. **The response is removed but the sound is still hearable**

#### Expected behavior
* Audio is not hearable after removing response

#### Other information
Noticed while testi

[2020-08-03 15:14] seadowg commented on #3849
@kkrawczyk123 what did you mean by this?

[2020-08-03 15:40] seadowg commented on #4004
@kkrawczyk123 I wrote a test to try and reproduce and it passed:

[code]

Is there anything about this that seems different from the steps you took? This is definitely happening on `master` for you?

[2020-08-03 15:59] kkrawczyk123 commented on #4004
I have just tried manually for both your forms, one question.xml and two questions.xml and what is totally weird I am able to delete one form question submission but not two question submission.
Yes, it is happening on master.
I am not sure if it's important but I was testing it after storage migration, not on odk folder.

[2020-08-03 16:50] seadowg commented on #4004
@kkrawczyk123 do you run into the same problems when just deleting the form from the 'Blank Forms' tab? I just want to simplify the repro steps as I'm not convinced it has anything to do with Match Exactly.

[2020-08-03 16:59] seadowg commented on #4005
@mmarciniak90 are these both visible in Collect 1.27.3?

[2020-08-03 17:04] seadowg commented on #3756
This game me some pain while working on Match Exactly. I think it'd be nice to take on as work towards 1.29. I think trying to move to Fragments everywhere for this would be great and as part of that I'm thinking pulling out shared view models and movign away from `AsyncTask` and `CursorLoader` would help us.

[2020-08-04 07:16] mmarciniak90 commented on #4005
@seadowg I retested it on v1.27.3 and only the case with removing response is reproducible.

[2020-08-04 07:45] kkrawczyk123 commented on #4004
@seadowg I have investigated deeper and you should be able to reproduce by steps:
1. Download form from Google Drive or Central
2. Fill submission
3. Try to delete the submission

It is not strictly connected to match exactly as we both initially thought but it is still a serious regression issue. It is also not reproducible for forms and submission downloaded from the Aggregate server what makes

[2020-08-04 08:00] seadowg commented on #4004
@kkrawczyk123 hmmm very strange. I'll investigate further. I'm thinking it's also not happening for forms copied over during tests which is why I wasn't seeing it.

[2020-08-04 08:01] seadowg commented on #4005
@seadowg yeah getting the same thing 👍. Could we split this in two issues and mark the second ("Use case 2") as a "regression"?

[2020-08-04 08:07] kkrawczyk123 opened #4007 "Improvements to match exactly."
#### Software and hardware versions
Collect v1.28.x, Android vx.x.x, device used...

There are few small things that could be improved, testing result from #3992:

- When Match Exactly is selected, Get Blank Form is not visible in menu but it is still visible as enabled in Admin Settings/Main Menu Settings:
![Screenshot_20200804-094952](https://user-images.githubusercontent.com/33342488/89268058-4

[2020-08-04 08:23] mmarciniak90 opened #4008 "The blue line does not show audio progress on Audio widget"
#### Software and hardware versions
Collect master

#### Problem description
The blue line does not show audio progress

#### Steps to reproduce the problem
1. User adds audio to Audio widget
2. User plays it -> the blue line shows audio progress
3. User goes to the next question and returns to the audio widget
4. User plays audio again -> the blue line does not show audio progress

#### Expected

[2020-08-04 08:23] mmarciniak90 commented on #4008
@getodk-bot label "regression"

[2020-08-04 08:41] seadowg commented on #4004
@kkrawczyk123 I'm still unable to reproduce with those steps (I used Central and the `one-question.xml` form). Are you seeing it no matter what form? Could you maybe share the forms you are seeing the problem with?

[2020-08-04 08:47] kkrawczyk123 commented on #4004
@seadowg exactly, I have tried with random forms and reproduced in each try. I am deleting Saved Form mean submission not blank form if it's confusing.

[2020-08-04 08:58] seadowg commented on #4004
@kkrawczyk123 I'm doing the same steps it just wasn't broken for me! I think I might have got it though: the `one-question.xml` has an `orx:version` (so a form version) whereas the `two-question.xml` does not. I noticed you were having problems with `two-question` so I gave that a go, and I was finally able to reproduce.

So, I'm guessing it's forms without a version that are failing to delete! Wo

[2020-08-04 09:07] kkrawczyk123 commented on #4004
@seadowg yes, it makes total sense now! I've just tried with All widgets with specified form version from Google Drive and I am able to delete submission.
Sorry, I have closed it accidentally XD

[2020-08-04 10:01] mmarciniak90 opened #4009 "User is not informed that the new form version was automatically downloaded with `Exactly match server` option"
#### Software and hardware versions
Collect with #3992

#### Problem description
User is not informed that the new form version was automatically downloaded with `Exactly match server` option

#### Steps to reproduce the problem
1. User sets `Exactly match server`
2. All forms are downloaded
3. New form version is added to the server
4. New form version is automatically downloaded but user is not

[2020-08-04 10:49] kkrawczyk123 commented on #4004
testing note: when testing the fix check delete after send option and auto delete defined in the form.

[2020-08-04 12:16] mmarciniak90 opened #4011 "Forms are not updated immediately when user changes server URL"
#### Software and hardware versions
Collect with #3992

#### Problem description
Forms are not updated immediately when user changes Aggregate URL

#### Steps to reproduce the problem
1. User sets `Exactly match server`
2. User uses Aggregate with URL: X
3. User sees that all forms are downloaded from Aggregate with URL: X
4. User changes server to Aggregate with URL: Y
5. User opens `Fill Blank F

[2020-08-04 12:22] seadowg commented on #4007
@kkrawczyk123 not following here. Is this referring to the Refresh (🔃) button on "Fill Blank Form" or the "Previously downloaded only" auto update/download?

[2020-08-04 12:29] kkrawczyk123 commented on #4007
@seadowg It is referring to Refresh button on Fill Blank Form when match exactly is selected.

[2020-08-04 13:49] grzesiek2010 commented on #3756
I agree this is not that important and we have had to many big prs recently so let's wait.

[2020-08-04 13:54] seadowg commented on #3756
Ah sorry if it came over that way! I really meant that "this seems even more important" 😩. Definitely not a priority for 1.28 as we can release with or without it but will be nice to start cleaning some of it up next release.

[2020-08-04 13:57] grzesiek2010 commented on #3756
Ahh ok but now it is added to v1.28 so that's why I said we can wait (to avoid conflicts). Taking it just after releasing v1.28 seems fine.

[2020-08-04 14:08] kkrawczyk123 opened #4012 "Automatic download doesn't work for 'previously downloaded form only' after refusing to update manually"
#### Software and hardware versions
Collect v1.28.x, Android v all, device used...

#### Problem description
When testing #3992 I have noticed a regression issue for previously downloaded forms only option. When you select that option you will get notification about available form update and if you do not download it and change to automatic download - automatic download doesn't work even if you se

[2020-08-04 15:32] seadowg commented on #4007
I think for the offline error case we should just show a toast when the user hits the refresh button while Android says the device is offline.

[2020-08-04 16:36] seadowg commented on #4011
I initially thought this was an easy fix but I'm not sure the best way to handle servers with credentials. We could potentially run auto update/match exactly when the user leaves the server settings screen?

[2020-08-04 16:39] seadowg commented on #4009
@lognaturel and I discussed this and agreed it's probably something we're going to want down the line. It seems like right now it's better to wait on getting feedback around Match Exactly as it might be that we want to make changes to how updates are scheduled (time of day vs interval). It's also unclear if people want notifications only when there are updates/new forms or if notifications are the

[2020-08-04 16:41] seadowg commented on #4012
oooooft. Nice find.

[2020-08-05 12:03] grzesiek2010 commented on #3757
This is now fixed thanks to switching to androidx.preference.

[2020-08-05 12:03] #3757 closed, assigned to nobody

[2020-08-05 14:41] #4004 closed, assigned to seadowg

[2020-08-06 21:45] lognaturel commented on #3883
More details about how this affects users: https://forum.getodk.org/t/collect-location-marker-disappears-on-map-after-sleep/28960/3

[2020-08-06 23:56] marenab commented on #3883
Asking around to see if we can get some Mapboxers to help with this!

[2020-08-07 05:34] lognaturel commented on #3883
Thank you, @marenab!

[2020-08-07 14:45] mmarciniak90 commented on #4007
**Use case to improve:**
1. Aggregate server is set
2. Another mode than`Manually` is selected
3. `Automatic download` is selected
4. User changes server to Google Drive

**Actual result**
`Automatic download` is selected but not editable

**Expected result**
`Automatic download` is unselected

[2020-08-07 17:11] #3998 closed, assigned to grzesiek2010

[2020-08-10 08:48] mmarciniak90 opened #4018 "User is not able to read the whole error message when `Exactly match server` is set"
#### Software and hardware versions
Collect master with #3986

#### Problem description
User is not able to read the whole error message when `Exactly match server` is set

#### Steps to reproduce the problem
Use case 1:
1. `Exactly match server` is set
2. User adds not existing aggregate URL
3. User sees notification with message but there is no option to read the whole message
4. If user clicks

[2020-08-10 09:03] #3982 closed, assigned to seadowg

[2020-08-10 14:54] seadowg commented on #4018
Ah I thought these would be expandable, but they aren't. I'll have a look at improving this.

[2020-08-10 20:36] #3958 closed, assigned to seadowg

[2020-08-11 09:37] seadowg commented on #2520
When reworking the http layer of Collect we chose to stick with Basic over HTTPS only, so I'll assume we can close this for now and if any other discussions come up we can have them on the forum.

[2020-08-11 09:37] #2520 closed, assigned to nobody

[2020-08-11 20:31] SaumiaSinghal opened #4024 "UI Improvements to Date and TimeWidgets"
As discussed in #3975, to make date and time widgets more consistent with other Collect widgets, @grzesiek2010 proposed to remove `No_date_selected` and `No_time_selected` label, in case the prompt does not have an answer.

In order to avoid having extra empty space between widget buttons (when prompt does not have answer, and when the form has multiple date or time widgets on one screen), We can

[2020-08-13 09:58] kkrawczyk123 opened #4026 "Deleting blank forms after sending submission is broken and makes forms unseable"
#### Software and hardware versions
Collect v1.28.x, Android v all, device used...

#### Problem description
When I was testing Central and switching between projects I have noticed Collect issue that after sending submission and deleting form using Collect Delete blank form - form is not really deleted. It is still visible in form folder but it is not visible on Collects UI. On Get Blank form in

[2020-08-13 18:38] michaelcleary opened #4027 "username field on form populated incorrectly when original username is incorrect"
#### Software and hardware versions
Collect v1.27.3, various Android versions

#### Problem description
If the user enters an incorrect username when configuring the server settings, that incorrect username is being used to populate the username field on a form, even though the user has subsequently corrected the username in order to be able to connect to the server to obtain the form.

#### Steps

[2020-08-13 21:20] lognaturel commented on #4027
Thanks for the detailed writeup, @michaelcleary!

On the development side, I believe `WebCredentialsUtils.saveCredentialsPreferences` should call `ApplicationInitializer.initializeJavaRosa`. It should also be straightforward to add a test to `ServerAuthDialogFragmentTest`.

[2020-08-18 00:39] #3849 closed, assigned to seadowg

[2020-08-18 10:24] kkrawczyk123 opened #4030 "Chosen answer is reset after screen rotation on Range picker widget"
#### Software and hardware versions
Collect v1.27.3, Android v all, device used...

#### Problem description
After screen rotation on Range picker widget the answer is reset also when is selected one more time.

#### Steps to reproduce the problem
Use case 1:
1. Open range picker
2. Select an answer
3. Rotate screen: Initial value is selected
4. Click OK: No value is selected

Use case 2:
1. Open

[2020-08-19 12:04] grzesiek2010 commented on #4024
It should be a broader discussion because if we decide to refresh those buttons we should review all widgets and implement the same improvements everywhere.
So we probably want to do the same with geo widgets / media widgets etc.
Generally I like this idea but we need also to schedule it somehow. Now we are in the middle of reworking widgets (moving the code to layout files) then it the future we

[2020-08-19 12:15] SaumiaSinghal commented on #4024
I totally agree @grzesiek2010. If we are having the refreshments of all the widgets at the same time, then we can have those refreshments in sync with the new design proposed for all the widgets.
I feel once the reworking of the widgets is done, we can then focus on deciding the button and text view layout for the widgets, and then design layout of complete widgets. So, we will be moving step by s

[2020-08-21 13:28] seadowg commented on #4018
![https://media.giphy.com/media/Nx0rz3jtxtEre/giphy.gif](https://media.giphy.com/media/Nx0rz3jtxtEre/giphy.gif)

@getodk-bot hello there! Still working on it my little friend.

[2020-08-22 01:01] lognaturel commented on #3758
Looks like I hadn't noticed this passage from the blog post I linked to:

So maybe this is also related to https://forum.getodk.org/t/suggesting-a-feature-to-show-message-avoid-mistaken-selection-of-ignore-changes/19573

As of August 2020, there are still 16 forms using this including one large one in Ethiopia.

[2020-08-22 01:08] lognaturel commented on #3952
I've reviewed analytics events and [written some notes](https://docs.google.com/document/d/1iPJd3LuJo7WHrss0H01HRT0GwyXK3qt9Ukxk28mbIyg/edit).

I propose removing ConfigureQRCode, FilterSendForms, NullFormController, ScanQRCode, LaunchFormWithBGLocation, Likert

Other actions for v1.28:
- Track attempted configurations from QR code, settings files, and outcome (success?)
- Replace SetCustomEndpoin

[2020-08-24 07:42] grzesiek2010 opened #4034 "NPE in DatabaseMediaFileRepository.java line 15"
#### Software and hardware versions
Collect v1.28.0-beta

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/776021de55f48298e0fedd54d67f76c5?time=last-seven-days&sessionId=5F4244EC034300015F9A81F660321501_DNE_0_v2

[code]

[2020-08-24 09:29] seadowg opened #4036 "NPE in FormSaveViewModel"
From https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/8ca03d40871475f87917f721719cd4aa?time=last-seven-days&sessionId=5F429670034E0001384141414334DC52_DNE_0_v2

#### Software and hardware versions
Collect v1.28.0-beta.1

#### Problem description

Stacktrace:

[code]

#### Steps to reproduce the problem

My guess it that

[2020-08-24 11:38] #4012 closed, assigned to seadowg

[2020-08-24 14:42] #3974 closed, assigned to grzesiek2010

[2020-08-24 16:16] seadowg opened #4039 "Improve error handling for Match Exactly"
Changes we should make:

- [x] When there is a `SSLException` user should see notification with text similar to "Collect can't reach the server at..." but start with "Collect can't connect securely to server..."
- [x] When there is a 404 fetching the form list the user should see the "Collect can't reach the server at..." notification

[2020-08-24 17:12] seadowg commented on #4039
@lognaturel looking at OkHttp I don't think we're actually going to be dealing with `GeneralSecurityException` as it's not an `IOException` and the client only throws those. I'm guessing we want to be deal with `SSLException` (https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLException.html). Does that sound right or were there other cases you had in mind?

I'll need to work out a way to

[2020-08-24 17:23] seadowg commented on #3952
@lognaturel lets discuss these in our catch up tomorrow and then put some actions together for next steps. In short, I pretty much agree with everything!

[2020-08-24 21:17] lognaturel commented on #4039
Interesting! I mentioned `GeneralSecurityException` because I saw at least one example on the forum. I think it was a [`CertificateException`](https://docs.oracle.com/javase/7/docs/api/java/security/cert/CertificateException.html) but I'm not immediately finding it. It must have been before the switch to OKHttp. So yes, fine not have a case for that, then.

[2020-08-25 08:55] seadowg commented on #4039
Ah right that makes sense. Looking at the OkHttp docs I reckon we're good to go with SSLException then (https://square.github.io/okhttp/https/#debugging-tls-handshake-failures).

[2020-08-25 10:56] seadowg commented on #4039
@lognaturel ah this completely eluded me when we chatted about it but most of the places we throw a `FETCH_ERROR` there is no exception. This is because the `OpenRosaXmlFetcher` (the artist formerly known as `CollectServerClient`) currently catches `Exception` and then returns a `DocumentFetchResult` with the exception's message. Pretty much everywhere else we see a `FETCH_ERROR` there isn't an un

[2020-08-25 11:28] grzesiek2010 commented on #3988
It's a common problem in our app and there are other reported issues like: https://github.com/getodk/collect/issues/3029
In some cases we just can't use activity context.
How about creating a helper class for dealing with strings?
[code]

and calling:
[code]
across the app?

[2020-08-25 11:36] seadowg commented on #3988
Yeah I like that! I think it'd be nicer for it to take in `Context` as well as a `int` string id, so we're not relying on `Collect.getInstance()`.

[2020-08-25 11:40] grzesiek2010 commented on #3988
why do you find it important? Then every call will look like:
[code]
depending where it is called from. If the result is the same for all cases and we can relay on application context only why not to avoid passing context at all?

[2020-08-25 11:59] seadowg commented on #3988
Just for modularity. If it relies on `Collect.getInstance()` it creates a hard dependency on the `Collect`. This isn't a huge problem for this method but anything that uses it now depends on `Collect`. Imagine if I want to separate out some component (like the notifier or a view) into a submodule: I'd have to rework it, so I don't end up with a circular dependency between the new submodule and `co

[2020-08-25 13:19] grzesiek2010 commented on #3988
I understand the concept of course but I'm also not a fan of modulating everything. For example this particular methods seems to me like something that could depend on the application context because it will always work and it will always be available.
another question is do we want to refactor all cases where translations are used using the new class or just those where activity context is not av

[2020-08-25 14:21] kkrawczyk123 opened #4043 "Regression on grid widget with autoplay"
#### Software and hardware versions
Collect v1.28.x, Android v all, device used...

#### Problem description
I have noticed regression on gridwidget with autoplay: the first thing is that audio is not played after selecting an answer, toasts informing about missing media file or invalid one are not showing up. (1st question in the attached form) the second thing is that audio files are visible for

[2020-08-25 14:59] grzesiek2010 commented on #4043
Let's wait with this until we merge https://github.com/getodk/collect/pull/3964

[2020-08-25 15:50] seadowg commented on #3988
It's not relying on the `Application`'s context that bothers me here: it's relying on `Collect.getInstance()` and the resulting dependency on `Collect`. It just feels like unnecessary coupling to have the method have to know about our implementation of `Application`.

I could totally be missing something here but as far as I understand it the implementation in `getLocalizedResources()` doesn't nee

[2020-08-25 16:15] seadowg opened #4044 "Add extra info to Match Exactly error analytics"
In a lot of cases when there is failure during the Match Exactly "sync" we just log (to analytics) that there was a `FETCH_ERROR`. Adding more info here would let us get a better sense of what problems people are running into. To do this we need to investigate all the different situations that can cause a `FETCH_ERROR` (in `OpenRosaFormListApi`) and then decide on a set of new error types to add.

[2020-08-26 11:16] #4034 closed, assigned to grzesiek2010

[2020-08-27 10:23] grzesiek2010 opened #4048 "Add an option to disable fake location providers"
#### Software and hardware versions
All versions

#### Problem description
Currently enumerators may use fake location providers and fill forms to pretend working in particular places.

The problem has been originally reported on the forum https://forum.getodk.org/t/restricting-fake-location-application-while-collecting-gps-points-with-collect-android-app/29231/5

#### Expected behavior
We initial

[2020-08-27 10:24] grzesiek2010 commented on #4048
@lognaturel
could you take a look and share your thoughts?

[2020-08-27 13:49] lognaturel commented on #4048
I’ll eventually respond to the forum thread. I think the first thing we need go do is update docs for what to do when enumerators are untrusted as this is only one concern of many.

[2020-08-27 15:12] mmarciniak90 opened #4050 "The order of the displayed answers from the multi-select widget on hierarchy view complies with the order of clicking"
#### Software and hardware versions
Collect v1.26.3 (older versions were not verified)

#### Problem description
The order of the displayed answers from the multi-select widget on hierarchy view complies with the order of clicking

#### Steps to reproduce the problem
1. User opens `All widgets` form
2. User fills all multi select widgets
3. User opens hierarchy view
4. User sees that the order of

[2020-08-27 15:22] #3736 closed, assigned to grzesiek2010

[2020-08-27 15:34] grzesiek2010 commented on #3297
Fixed in https://github.com/getodk/collect/pull/3964

[2020-08-27 15:34] #3297 closed, assigned to nobody

[2020-08-27 17:36] lognaturel commented on #4048
Just noticed you self-assigned, @grzesiek2010. Let's hold off on this one for now, please.

[2020-08-27 19:13] lognaturel opened #4051 "Minimal appearance doesn't work with "fast external itemsets""
#### Software and hardware versions
`master`

#### Problem description
Minimal appearance doesn't work with ["fast external itemsets"](http://xlsform.org/en/#external-selects).

#### Steps to reproduce the problem
Load a form with "fast external itemsets" and the minimal appearance such as [select_one_external.xlsx](https://github.com/getodk/collect/files/5138302/select_one_external.xlsx).

#### E

[2020-08-27 20:31] lognaturel opened #4052 "Exiting minimal select dialog triggers recomputation even if selected value hasn't changed"
#### Software and hardware versions
`master`

#### Problem description
Exiting minimal select dialog triggers recomputation even if selected value hasn't changed. This can be time consuming in the case of a cascade of selects with lots of choices.

#### Steps to reproduce the problem
Load a form with selects with long lists and choice filters: [nigeria_wards_internal_select_minimal.xlsx](https://g

[2020-08-27 20:40] lognaturel commented on #4052
The performance here is bad also when the last select in a cascade has a value change. That shouldn't have to be the case because there are no dependent calculations. I think the issue is that copying choice lists in `ImmutableDisplayableQuestion` is expensive. Maybe we could use a hash?

[2020-08-27 20:54] lognaturel commented on #4052
Ugh, it's worse than that. Every call on `getSelectChoices` currently re-computes the filtered choice lists. This ends up happening a bunch of times as part of `updateFieldListQuestions` so really the issue is across field lists.

[2020-08-27 20:59] lognaturel commented on #4052
Still, I think that for the specific `minimal` case, we can do a pre-emptive check and only call `updateSelectedItems` if the value hasn't changed.

[2020-08-28 09:01] #3952 closed, assigned to lognaturel

[2020-08-28 09:24] grzesiek2010 commented on #4051
I don't think it was in the scope. A separate (`ItemsetsWidget`) is responsible for handling `fast external itemsets` so that will require some refactoring, however I agree that it would be good to have it (not necessarily in v1.28).

[2020-08-28 15:37] mmarciniak90 opened #4056 "The dot between name and file extension is not visible for choosed file on hierarchy view"
#### Software and hardware versions
Collect v1.27.3 (older versions were not verified)
Android: 7.0, 8.1

#### Problem description
The dot between name and file extension is not visible for choosed file on hierarchy view

#### Steps to reproduce the problem
1. User adds audio/video file from existing files on device
2. User opens hierarchy view
3. The dot between name and file extension is not vis

[2020-08-28 21:58] #4007 closed, assigned to seadowg

[2020-08-28 22:01] #4005 closed, assigned to nobody

[2020-08-28 22:01] #4008 closed, assigned to nobody

[2020-08-28 22:19] lognaturel commented on #3297
Nice.

[2020-08-30 08:11] shailheart opened #4057 "Thanks"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2020-08-30 13:10] #4057 closed, assigned to nobody

[2020-08-31 09:02] seadowg commented on #3591
@eeshugerman I was interested to hear about the problems you were running into with this? We've introduced a new "Exactly match server" form management mode that simplifies the "Delete saved form" page that might help you.

I'll close this for the moment but obviously we can reopen if you're still seeing problems!

[2020-08-31 09:02] #3591 closed, assigned to nobody

[2020-08-31 09:18] seadowg commented on #556
I'm going to close this as it really feels like a device management issue rather than something Collect should be responsible for.

Actually blocking uninstalls of apps is something that can be achieved using [Android Enterprise](https://support.google.com/work/android/answer/9562029). If that's not an option then I'd suggest collecting the "Install ID" (which is regenerated on install) for device

[2020-08-31 09:18] #556 closed, assigned to nobody

[2020-08-31 12:42] dodumosu opened #4058 "Issues with media files and Collect"
#### Software and hardware versions
ODK Collect 1.27.3 on Redmi Go (Android Go 8.1.0) on Flask 1.x server

#### Problem description
When adding media files to a submission, Collect seems to use the filename, not the question field name for attached files. Additionally, when multiple attachments are to be submitted, only the submission XML and the first attachment seem to be sent.

#### Steps to re

[2020-08-31 13:19] lognaturel commented on #4058
Hi and welcome to ODK! https://forum.getodk.org/t/odk-collect-sends-media-files-with-name-of-file/29537 Is the right place for the conversation so I’ll continue there.

[2020-08-31 13:19] #4058 closed, assigned to nobody

[2020-08-31 15:21] #4027 closed, assigned to grzesiek2010

[2020-09-01 09:32] seadowg opened #4059 "First nested repeat not created automatically after first outer repeat"
Originally from https://forum.getodk.org/t/nested-repeatable-groups-only-allowing-child-repeatable-groups-for-first-record-in-odkcollect/29599

#### Software and hardware versions

Collect v1.27.3

#### Problem description

It seems for some reason that nested repeats are not displayed in the hierarchy view (as a group) until the user has created one of the nested repeats. This problem does not oc

[2020-09-01 09:38] seadowg commented on #4059
I'm guessing this could be a problem in JavaRosa rather than Collect but let's start here and work our way down.

[2020-09-01 17:50] grzesiek2010 commented on #4043
I wouldn't call those two issues regression because:
- playing audio files (in no-buttons mode) after selecting a choice has never worked in selects that use recyclerview (now all selects use recyclerview) it worked in that way only in GridWidgets which we removed replacing them with recyclerview.
- columns-pack (old compact) used in GridWidgets displayed only buttons (labels) not image/video/audi

[2020-09-02 04:41] lognaturel commented on #4043
Thinking about it more, I agree that it’s ok (and should be expected) for columns-pack not to support choice audio. It’s not very likely anyone would even try this so I don’t think this needs to be in v1.28. Fee free to remove it or put in a fix to ignore audio.

[2020-09-02 11:53] grzesiek2010 opened #4060 "Radio buttons/checkboxes are not visible in select on Android 5.0"
####  Software and hardware versions
Collect v1.28, Android v5.0

#### Problem description
Radio buttons/checkboxes are not visible in select on Android 5

The bug has been originally reported on the forum: https://forum.getodk.org/t/boxes-for-select-multiple-in-android-5/29621/4

#### Steps to reproduce the problem
Try any form with selects on android 5.0

[2020-09-02 16:11] mmarciniak90 opened #4062 "Incorrect answers are displayed in form with selects with long lists when user changes device orientation"
#### Software and hardware versions
master

#### Problem description
Incorrect answers are displayed in form with selects with long lists when user changes device orientation

#### Steps to reproduce the problem
1. User starts form [nigeria_wards_internal_select_minimal.xml.txt](https://github.com/getodk/collect/files/5163424/nigeria_wards_internal_select_minimal.xml.txt) ,
[search_and_select.zip]

[2020-09-02 16:28] #4018 closed, assigned to nobody

[2020-09-02 18:16] #4026 closed, assigned to seadowg

[2020-09-03 18:22] lognaturel commented on #4059
It’s almost certainly that pyxform doesn’t generate a concrete repeat instance for nested repeats. I think we should also consider showing repeats without instances in the hierarchy (I thought there might already be an issue?).

[2020-09-04 09:23] seadowg commented on #4059
@lognaturel right that makes sense. I think we definitely should just show them in the hierarchy as well.

[2020-09-04 10:48] #3768 closed, assigned to grzesiek2010

[2020-09-04 11:57] #4052 closed, assigned to grzesiek2010

[2020-09-04 12:44] #4062 closed, assigned to grzesiek2010

[2020-09-04 15:54] seadowg commented on #4060
Just removed from the mileston as the PR is in there.

[2020-09-07 09:25] seadowg opened #4068 "Crash when uploading submissions to Google Sheets"
#### Software and hardware versions
Collect v1.28.0-beta.2

#### Problem description

Found in Crashlytics: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/09ac740e2077948a5281414445219719?time=last-thirty-days&sessionId=5F54A185038200012CF1080E5CEEF780_DNE_1_v2.

#### Steps to reproduce the problem

1. Set server type

[2020-09-07 09:38] grzesiek2010 commented on #4050
I'm afraid that some users might use that bug/feature to rank items since our RankingWidget is relatively new and some people might not know about it. Taking into account what I said i think it would be better not to take the risk and keep it as is. @lognaturel what do you think?

[2020-09-07 13:53] lognaturel commented on #4050
I don’t really understand this issue. Could you please describe what behavior has changed? Is there a change in the underlying order or in the display order? I generally agree that we shouldn’t change the underlying order. I don’t see a good reason for the display order to be any different than the underlying order.

[2020-09-07 15:22] kkrawczyk123 opened #4069 "Offline layer dialog does not disappear after selecting one, allows to choose more than 1"
#### Software and hardware versions
Collect v1.28.x, Android v all  device used...

#### Problem description
Offline layer dialog does not disappear after selecting one, moreover it is allowed to choose more than 1 layer in the same time.
![ezgif com-video-to-gif (20)](https://user-images.githubusercontent.com/33342488/92401727-862b5d80-f12e-11ea-8717-39ce904ff4c6.gif)

#### Steps to reproduce the

[2020-09-07 15:34] grzesiek2010 commented on #4050
Nothing has changed as I understand, It has always worked in that way. If we were creating those widgets now I would probably handle it and display selected items according to their position but now as it already exist we shouldn't change it.

[2020-09-07 15:59] #3984 closed, assigned to grzesiek2010

[2020-09-07 22:09] lognaturel opened #4070 "Don't always save media captured through Collect to the Media Store"
Placeholder issue for https://forum.getodk.org/t/remove-previously-taken-images-from-gallery-via-setting/26593 so it can be put in milestone.

[2020-09-07 22:30] lognaturel opened #4071 "Extend existing external application functionality to receive binary files"
[Draft specification](https://docs.google.com/document/d/1JbKiwgBCuI2t3Cd8n5OnyrNce3woq20ncZbN3oGcPhU/edit)

[2020-09-07 22:42] lognaturel commented on #4050
@mmarciniak90's screenshots show a difference between v1.26.3 and #3964. Was that just because she selected choices in different orders in those cases? Or did the spinner widget possibly reorder choices in some way previously?

[2020-09-07 22:55] lognaturel opened #4072 "Add context to existing strings, write up requirements for new strings"
It can be hard for translators to make sense of strings that aren't complete sentences. Sometimes the part of speech is unclear (noun vs verb) and other times the translation can depend a lot on context (dialog vs button, etc).

Some suggestions for strings to add details to: https://forum.getodk.org/t/adding-context-to-particular-strings/13540

We should always add context for new short strings a

[2020-09-08 14:45] #3966 closed, assigned to grzesiek2010

[2020-09-08 14:49] #4060 closed, assigned to grzesiek2010

[2020-09-08 15:53] #4039 closed, assigned to seadowg

[2020-09-09 11:31] #4069 closed, assigned to grzesiek2010

[2020-09-10 14:13] #4068 closed, assigned to seadowg

[2020-09-11 07:34] kkrawczyk123 opened #4077 "Change language issue"
#### Software and hardware versions
Collect v1.28.x, Android v7, 9, 10 probably all device used...

#### Problem description
I have noticed that changing the language does not work in all tried. On Android 7 it doesn't work at all. On other ones it works sometimes - not sure exactly why. In all tries after closing the app after opening it again default language is restored.

![ezgif com-video-to-g

[2020-09-11 09:39] kkrawczyk123 opened #4078 "Warnings are not visible for select multi questions"
#### Software and hardware versions
Collect v1.28.x, Android v all, device used...

#### Problem description
Warning messages are not visible for select multi widget on Collect 1.28 see gif:
![ezgif com-video-to-gif (23)](https://user-images.githubusercontent.com/33342488/92904260-03065200-f423-11ea-8a88-4501f38c267e.gif)

Gif of the same form on 1.27/1.27.3:
![ezgif com-video-to-gif (24)](https:/

[2020-09-13 22:32] lognaturel commented on #3360
In v1.29 we will:
- [x] Replace value of deviceID with existing value of installID, remove installId from settings menu
- [x] Remove SIM serial and subscriber ID from settings menu~, remove `READ_PHONE_STATE` permission~ (still needed for phone number)
- [ ] Set target API to 29 and request to [keep legacy storage on](https://developer.android.com/reference/android/R.attr#requestLegacyExternalStor

[2020-09-14 11:00] kkrawczyk123 opened #4083 "Front barcode widget is broken"
#### Software and hardware versions
Collect v1.28.x, Android v all, device used...

#### Problem description
Front camera barcode scanner works exactly in the same way as the regular one, it doesn't use front camera.

![ezgif com-video-to-gif (27)](https://user-images.githubusercontent.com/33342488/93078031-0d765500-f68a-11ea-8021-81e967237e29.gif)

#### Steps to reproduce the problem
1. Open form

[2020-09-14 11:00] kkrawczyk123 commented on #4083
@getodk-bot label "regression"

[2020-09-14 13:12] kkrawczyk123 opened #4085 "Old answers are displayed after edit in all select multiple with minimal type widgets"
#### Software and hardware versions
Collect v1.28.x, Android v all , device used...

#### Problem description
I have noticed that answers are not updated correctly when edit answers via deselecting existing ones.
![ezgif com-video-to-gif (25)](https://user-images.githubusercontent.com/33342488/93089990-6f3fba80-f69c-11ea-9a5e-9e7c85291d8c.gif)

#### Steps to reproduce the problem
1. Open select mu

[2020-09-14 23:23] lognaturel commented on #1703
As of Collect v1.28.0, `UnknownHostException` and `SSLException` will lead to a special message shown shown in a dialog at time of the form list request. No connectivity at form list time will lead to a "No network connectivity" snackbar. Any issues with the connection when trying to download individual forms will lead to "Failure" being displayed after each failed form. I think we still want to d

[2020-09-14 23:36] lognaturel commented on #3300
I think most of what was described at https://github.com/getodk/collect/issues/3300#issuecomment-528822082 is now done.

Some still remaining:
- appearances in red in [this test form](https://docs.google.com/spreadsheets/d/1uA6NeUbE51WACiKUjErFUxYFeJdGGWglNGKivuzei7I/edit?usp=sharing)
- list, list-nolabel and label could use just one widget
- select_multiple with external choices -- I don't think

[2020-09-14 23:51] lognaturel commented on #3360
There have been further changes to the APIs and some new documentation released since I last checked. I skimmed and don't see anything that changes our plans but here are a few resources: [FAQ](https://medium.com/androiddevelopers/android-11-storage-faq-78cefea52b7c), [migration case study](https://android-developers.googleblog.com/2020/07/bringing-modern-storage-to-vibers-users.html), [use cases

[2020-09-15 07:20] Damorck opened #4086 "Adding language, transifex"
I´ve requested support for danish language on Transifex so I can contribute -  and still waiting. Can you handle that request? Thanks.

[2020-09-15 07:35] grzesiek2010 commented on #3300
Ok I'll review it.

This maybe: https://github.com/getodk/collect/issues/4051

[2020-09-15 08:12] kkrawczyk123 opened #4088 "Multiclick on Reset application is allowed"
#### Software and hardware versions
Collect v1.28.x, Android v all device used...

#### Problem description
Multiclick is allowed on Reset application dialog.
![ezgif com-video-to-gif (28)](https://user-images.githubusercontent.com/33342488/93183881-d8c2d600-f73b-11ea-8026-526ac529a424.gif)

#### Steps to reproduce the problem
1. Open Admin Settings
2. Click on Reset application... quickly few tim

[2020-09-15 08:14] seadowg commented on #3360
We've been testing with [`requestLegacyExternalStorage`](https://developer.android.com/training/data-storage/use-cases#opt-out-scoped-storage) not [`preserveLegacyExternalStorage`](https://developer.android.com/training/data-storage/use-cases#migrate-legacy-storage). The difference is obvious right? Wow.

I think the first (`requestLegacyExternalStorage`) is for maintaining access to legacy storag

[2020-09-15 08:43] florianm opened #4090 "ODK Collect 1.28.0 beta does not hounour skip logic for repeated groups"
#### Software and hardware versions
Collect v1.28.0 beta
ODK Central 0.6
Form: [Turtle Track or Nest 1.0.zip](https://github.com/getodk/collect/files/5223531/Turtle.Track.or.Nest.1.0.zip)
Hw: Lenovo Tab3 (the one with the GPS accuracy bug fixed by using fused location provider in Collect 1.28), Vivo x50 lite (my mobile)

#### Problem description
This problem does not exist under ODK Collect 1.27.4

[2020-09-15 08:58] seadowg commented on #4090
@florianm are you able to share the XLSX for the form as well?

[2020-09-15 09:21] kkrawczyk123 commented on #4088
@getodk-bot label "regression"

[2020-09-15 09:22] kkrawczyk123 commented on #4085
@getodk-bot label "regression"

[2020-09-15 09:33] seadowg commented on #4090
I am seeing a difference in behaviour with this smaller form I made: https://docs.google.com/spreadsheets/d/1pc9LPOR8s5C2uFjMj1JbuF6_PPLQ_Q2l6X6ytAZvul0/edit?usp=sharing

In 1.27.4:
1. Open form
2. Hit "No"
3. Goes to end of form

In `master`:
1. Open form
2. Hit "No"
3. Prompts to add "Repeat"

It's like the default first repeat is missing (because of the `relevant`) but that it still prompts to

[2020-09-15 09:42] kkrawczyk123 opened #4092 "Collect is crashing on filling indefinite repeat form"
#### Software and hardware versions
Collect v1.28.x, Android v all device used...

#### Problem description
I have noticed weird behavior when filling [indefinite.xml.txt](https://github.com/getodk/collect/files/5223962/indefinite.xml.txt) form. I was actually able to fill it just once but app froze on saving/finalizing form. I was not able to get back to form as app crashed.
![ezgif com-video-to-

[2020-09-15 09:59] florianm commented on #4090
Thanks for the quick reply!
The form was built in ODK Build > XForm > ODK Central. The form has received 10971 submissions since Aug 2019. Worked a treat so far (including the "relevant" expressions).
Both in ODK Build, and in the XSLX version exported from ODK Build, my "relevant" clauses are plain XPath expressions like
[code]
whereas the XSLX docs use escaped variable names like
[code]

I've pu

[2020-09-15 10:43] seadowg commented on #4090
Ok it looks like it's probably the JavaRosa upgrade as the bug is fixed if I use `2.17.1` instead of `3.0.0` on `master`. Most likely we need to solve the issue there. I'll keep digging!

[2020-09-15 11:52] seadowg commented on #4090
Looks like it could be related to this change: https://github.com/getodk/javarosa/pull/581

[2020-09-15 14:25] lognaturel commented on #4086
Sorry about the delay, we had a miscommunication about who was doing it. I have added Danish and invited you to the translation team. Thanks and don't hesitate to ask if you have any questions!

[2020-09-15 14:25] #4086 closed, assigned to nobody

[2020-09-15 14:52] seadowg commented on #4092
For me the easiest way to reproduce is to hit the arrow (↘️) to get to the hierarchy view.

[2020-09-15 14:57] grzesiek2010 commented on #4092
I added the fix from https://forum.getodk.org/t/infinite-loop-and-dynamically-delete-already-selected-options-from-list/25902/7?u=ln and the form seems to work. @kkrawczyk123 please confirm it was just a bug in the form, here is a fixed version:
[indefinite_fixed.xml.txt](https://github.com/getodk/collect/files/5225822/indefinite_fixed.xml.txt)

[2020-09-15 16:03] kkrawczyk123 commented on #4092
@grzesiek2010 I've just checked - form that you attached works for me.

[2020-09-15 16:30] kkrawczyk123 opened #4093 "Server list is reset after scanning Central QR code"
#### Software and hardware versions
Collect v1.28.x, Android v all  device used...

#### Problem description
Previously used server URL should be stored in dropdown list and gives user chance to go back to already used ones - especially Centrals as they are hard to input manually.
![ezgif com-video-to-gif (31)](https://user-images.githubusercontent.com/33342488/93238148-5230e780-f781-11ea-8814-c74

[2020-09-15 16:38] #4092 closed, assigned to grzesiek2010

[2020-09-15 16:48] lognaturel commented on #3360
🙈🙈🙈 My brain did not notice there were two. Wow indeed.

[2020-09-16 04:14] lognaturel commented on #4090
Thanks so much for checking and reporting, @florianm! Looks like we're close to a fix.

[2020-09-16 07:46] florianm commented on #4090
Thanks for the rapid turnaround!
Just for our planning - should we tell the field team to wait for the update or to downgrade to stable?

[2020-09-16 08:28] #4077 closed, assigned to grzesiek2010

[2020-09-16 08:37] #4083 closed, assigned to grzesiek2010

[2020-09-16 09:25] grzesiek2010 commented on #4093
I have a problem with this issue... it was surprising to me that we reset all settings before we load the new ones.
I needed to ask @seadowg and @kkrawczyk123 for confirmation if it's not a bug they said it's intentional but at least @seadowg was a bit confused as well right?

What if we have a user who has their own settings and use qr codes just to load long urls from central? After scanning suc

[2020-09-16 09:37] seadowg commented on #4093
@grzesiek2010 yeah the behaviour definitely doesn't work in this case. I've got a card (https://github.com/getodk/collect/projects/6#card-44019168) to start investigate this as part of the "Onboarding" project. In brief discussion @lognaturel and I have had about it the idea that's been floated is having QR codes have a `reset_to_default` key that signals to Collect whether to reset everything els

[2020-09-16 09:53] seadowg commented on #4090
@florianm we'll probably have a fix by the end of today but putting out a new beta once merged could take anywhere between 24 hours to a week due to potential review and propagation time. I'd say you can safely expect a fixed beta next week but harder to guarantee earlier. We can ping you when it's "out" 😀

[2020-09-16 11:16] kkrawczyk123 opened #4094 "CollectTester app does not recognize defined server"
#### Software and hardware versions
Collect v1.28.x, Android v all device used...

#### Problem description
CollectTester app ignores server defined inside an app, it uses server defined in Collect
![ezgif com-video-to-gif (32)](https://user-images.githubusercontent.com/33342488/93329115-ffa50900-f81c-11ea-9506-379d47ec8fcd.gif)
I am not sure if its visible on gif but for a second get blank form p

[2020-09-16 13:42] mmarciniak90 opened #4095 "Unnecessary update information for a specific form with external CSV files"
#### Software and hardware versions
Collect master

#### Problem description
Unnecessary update information for a specific form

#### Steps to reproduce the problem
1. Scan QR code
![75986504-79fbe480-5eee-11ea-8f72-b0c18142bacd](https://user-images.githubusercontent.com/3907554/93344103-9380d000-f831-11ea-8a34-96430430476f.gif)
or
![image](https://user-images.githubusercontent.com/3907554/9334507

[2020-09-16 13:42] mmarciniak90 commented on #4095
@getodk-bot label "regression"

[2020-09-16 14:14] mmarciniak90 opened #4096 "Lines are cut off on Likert widget when RTL language is set"
#### Software and hardware versions
Collect master

#### Problem description
Lines are cut off on the Likert widget when RTL language is set

#### Steps to reproduce the problem
1. User uses app with RTL language set
2. User opens Likert widget
3. Lines are cut off

<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/93348840-0476b680-f837-11ea-88a1-b087bd97daca.jp

[2020-09-16 14:14] mmarciniak90 commented on #4096
@getodk-bot label "regression"

[2020-09-16 19:04] lognaturel commented on #4093
This is what I would expect. I think it was in the list for keys we shouldn't reset before.

[2020-09-16 23:31] florianm commented on #4090
Thanks for the update, Callum! Ping would be much appreciated in case I miss it.

[2020-09-17 09:08] #4078 closed, assigned to grzesiek2010

[2020-09-17 13:18] #4085 closed, assigned to grzesiek2010

[2020-09-17 19:08] lognaturel commented on #4090
Once again, huge thanks for reporting this. The fix we have only addresses part of the issue, unfortunately. I don't yet have a sense of how long fixing the rest might take but I'll keep you updated. I hopefully will have an estimate in the next 3-4 hours.

[2020-09-17 20:56] lognaturel commented on #4090
@florianm would you be able to share the XLSForm? That would help with troubleshooting. You can attach here, link to your repo, or send to me privately. (I think you do this in Build -- a Build XLSForm export is great)

[2020-09-17 21:34] florianm commented on #4090
@lognaturel here it is, inside the zip!

[2020-09-17 21:35] florianm commented on #4090
Are there simple fixes to the form def we could implement?

[2020-09-17 22:13] lognaturel commented on #4090
Thank you, @florianm!

I'm afraid I don't know yet. The form has a lot of logic and I'm not sure what part is leading to unexpected behavior. Will look for form design changes too and let you know if I find anything. It's definitely a bug somewhere that needs to be fixed.

**EDIT**: whoops, sorry I didn't see the additional files in my first read through the thread.

[2020-09-18 02:55] lognaturel commented on #4090
Still working on it @florianm and will keep you posted as I get a better sense of ETA.

[2020-09-18 05:54] lognaturel commented on #4090
Progress so far is at getodk/javarosa#603. I do have a test that isolates the root cause. I'm hoping that with a clear head tomorrow I can come up with a solution.

[2020-09-18 08:03] #4088 closed, assigned to grzesiek2010

[2020-09-18 12:24] #4095 closed, assigned to grzesiek2010

[2020-09-18 18:14] lognaturel commented on #4090
We have a fix but I think Monday would be the earliest we'd have a beta out. I can post an extra-beta APK if that's helpful, @florianm.

[2020-09-18 22:08] mmarciniak90 opened #4101 "Collect crashes when user opens Get blank form view if a folder with media is removed"
#### Software and hardware versions
Collect master

#### Problem description
Collect crashes when user opens Get blank form view if a folder with media is removed

#### Steps to reproduce the problem
1. User downloads form with media
2. Media folder is removed
3. User opens `Get Blank Form`
4. **Collect crashes**

#### Expected behavior
User opens `Get Blank Form` and sees information about availa

[2020-09-18 22:08] mmarciniak90 commented on #4101
@getodk-bot label "regression"

[2020-09-18 23:55] florianm commented on #4090
Thanks so much for the updates and for the fix! Our impacted field team runs their last survey today, and they have chosen to stick with the additional dialogues rather than downgrade. So for us a fix next week would be absolutely fine. That will still give other teams a chance to upgrade before heading out again.

Re form logic, the skip logic impacted here is
* screen n: checkbox yes/no
* screen

[2020-09-21 08:45] grzesiek2010 opened #4102 "java.lang.IllegalArgumentException: radius is negative"
#### Software and hardware versions
Collect v1.28.0-beta

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/47ec09d2126181fa55a724cddb3d6fc0?time=last-seven-days&sessionId=5F64F0FC000C0001441C131C2E306E6E_DNE_0_v2

[code]

[2020-09-21 11:11] mmarciniak90 opened #4103 "Deleting filled forms and then redownloading from Google Drive or adding via adb doesn't work"
#### Software and hardware versions
Collect master

#### Problem description
The re-downloaded form from GD is not visible on the Fill Blank form page if this form was filled and deleted

#### Steps to reproduce the problem
1. User uses Google Drive as a server
2. User downloads form
3. User fills downloaded form
4. User goes to `Delete Saved Form` and removes the form
5. User goes to `Get Blank F

[2020-09-21 11:12] mmarciniak90 commented on #4103
@getodk-bot label "regression"

[2020-09-21 13:33] mmarciniak90 opened #4105 "Scroll bar overlaps the text when some RTL language is set"
#### Software and hardware versions
Collect master

#### Problem description
Scroll bar overlaps the text when some RTL language is set

#### Steps to reproduce the problem
1. User uses Collect in some RTL language
2. User opens form, e.g Birds
3. User sees that scroll bar overlaps the text

|master|1.27.3|
|---|---|
|![Screenshot_20200921-151929](https://user-images.githubusercontent.com/3907554/

[2020-09-21 13:33] mmarciniak90 commented on #4105
@getodk-bot label "regression"

[2020-09-21 15:23] seadowg commented on #4103
Hmm this seems related to some earlier issues (#4028 for instance). I can take a look.

[2020-09-21 16:30] #4094 closed, assigned to grzesiek2010

[2020-09-21 16:34] #4093 closed, assigned to seadowg

[2020-09-21 16:47] #4102 closed, assigned to grzesiek2010

[2020-09-21 17:37] lognaturel commented on #4103
I think I ran into something that might be related. I pushed a form manually to the device. Then I deleted all blank forms (there were many others and I wanted to clear clutter). Then I tried to push the same form as original and it wasn't showing up in Fill Blank Form. I have finalized but unsent instances for that form so it makes sense there would still have been a db record for the correspondi

[2020-09-21 17:51] #4090 closed, assigned to nobody

[2020-09-21 18:44] lognaturel commented on #4090
I can't think of any alternatives. It's really just that we introduced a bug. If you're curious, there's a difference in how concrete repeated instances (the 1st, 2nd, etc) and the repeat prompt are represented internally and we had essentially lost the prompt case for relevance. That was easy enough to fix but it revealed a related issue when two elements have the same relevance and one of them i

[2020-09-22 07:59] seadowg opened #4108 "Prevent crashes when there are errors talking to SQLite database"
We run into a few different crashes when trying to read or write to/from the database on device:

https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5974a495deaaafc213c6857985557684?time=last-ninety-days&versions=v2021.2.2%20(4256)&sessionEventKey=610BA6A002AE00014A23B626FE362FE0_1571311994101282197

https://console.fireb

[2020-09-22 08:02] mmarciniak90 commented on #4050
@lognaturel

Yes, the spinner widget reordered choices before PR#3964. It does not follow the order of clicking but the order in which they appear in the list. I clicked on `D` then `B`, but I saw `B`, `D`.

We need to make a decision on what order we want to represent answers for multi-select widgets.
When I created this issue I thought that we should represent the user's answers according to the

[2020-09-22 08:08] seadowg commented on #4103
@lognaturel yeah likely. The problem is that all these different import paths are handled by completely different code (`MultiFormDownloader`, `GoogleDriveActivity` and `FormsDirDiskFormsSynchronizer`).

Thinking about it I'm actually a little worried we can't handle the case you've brought up and soft delete (in its current implementation). If we want to have a form be "deleted" and keep the defi

[2020-09-22 09:17] seadowg commented on #4103
Ok as far as I can see Google Drive downloads just use the `FormsDirDiskFormsSynchronizer` to get the form into the DB so I now understand that (I think @lognaturel) is suggesting changing the implementation of the disk sync so it "un-deletes" forms if the file is newer than when the form was deleted.

[2020-09-22 09:36] seadowg commented on #4103
@kkrawczyk123 @mmarciniak90 I've confirmed that there is a problem with manually adding forms after deleting them so no need to check that.

[2020-09-22 10:28] SandeepHG commented on #3980
I would love to solve this issue

[2020-09-22 14:16] #4101 closed, assigned to grzesiek2010

[2020-09-22 14:45] seadowg commented on #3781
@cataloque thanks for looking into this. As much as you're right about these operations being a potential performance hit it would be good to understand if you're actually experiencing any performance problems from them?

As with any time, there are a finite number of things that can be improved, and so we need to prioritize work that addresses real world problems that people experience. I'm going

[2020-09-22 14:45] #3781 closed, assigned to nobody

[2020-09-22 14:49] seadowg commented on #3987
@dmenne it does indeed seem like there is too much space after the heading, especially as there is no following line on any of these. Out of interest, for what reason are you making the question labels headers (`#`, `##` etc)?

[2020-09-22 14:53] seadowg commented on #3980
@SandeepHG great! If you start by reading [this](https://github.com/getodk/collect#contributing-code) (including the linked guides). When you're ready to start working on the issue it'd be good to post your thinking about how you could test and implement it. We can then discuss and assign it to you!

[2020-09-22 16:53] seadowg opened #4110 "Allow disabling crash reporting"
According to the [docs](https://docs.getodk.org/security-privacy/#odk-collect) disabling analytics does not disable crash reporting. This should not be the case.

As part of this it would be good to review if we can cut out any additional Firebase/Google data collection (like advertising ID) that we don't need to make our analytics as anonymous as possible.

**Acceptance**

- [x] Given I've disabl

[2020-09-22 17:02] seadowg opened #4111 "Show warning when legacy settings import used"
Collect currently supports importing files from a `.settings` or `.json` file when the app loads. It'd be good for this to eventually go away, so we don't have to keep maintaining the code paths.

**Acceptance**

- [x] Given I've set up a settings `.settings` file
When I open Collect
I see a dialog warning me that `.settings ` support will be removed

- [x] Given I've set up a settings `.json` fil

[2020-09-22 17:04] #4103 closed, assigned to seadowg

[2020-09-22 17:33] lognaturel commented on #4111
That sounds good. We only just added analytics for these features and we haven't announced their removal so I'm not comfortable saying when we'll remove them. Can we leave it a little open-ended?

Currently there's a toast that says "Settings imported successfully". I think we want something like

Only one action - OK

Title - Successful settings import

[2020-09-22 18:23] lognaturel commented on #4090
@florianm I want to make sure that you saw that the updated beta is out. We believe we are now ready for release. Do check it out if you have a moment!

[2020-09-23 04:56] florianm commented on #4090
Cheers, just saw the beta 5 available. Will test shortly!

[2020-09-23 08:09] seadowg commented on #1423
This is actually happening! @SaumiaSinghal has started the charge here and as slowly move towards the new ["framework"](https://github.com/getodk/collect/blob/master/docs/WIDGETS.md) for widgets we should see more improvements. I'm closing this as the goal is tracked in [STATE.md](https://github.com/getodk/collect/blob/master/docs/STATE.md).

[2020-09-23 08:09] #1423 closed, assigned to heyjamesknight

[2020-09-23 08:16] seadowg commented on #1580
The `WaitingForDataRegistry` is a step in the right direction here but there is still definitely work to do. I think really (like suggested here) the parsing/processing of data just needs to move into the widgets.

[2020-09-23 08:22] seadowg commented on #1647
This would be a good discussion to continue in the [forum](https://forum.getodk.org) as it's around adding new features to Collect.

[2020-09-23 08:22] #1647 closed, assigned to nobody

[2020-09-23 08:26] seadowg commented on #124
As this issue is now referring to old versions of everything and because we don't have the attachments to inspect I'm closing this.

[2020-09-23 08:26] #124 closed, assigned to nobody

[2020-09-23 09:19] grzesiek2010 commented on #3300
I reviewed that big form with various possible combinations and was able to to change some red cells to green so it works a bit better. No regression detected. The next step might be #4051 generally getting rid of the `ItemsetWidget` which exteds SelectOne widget and is created only to handle external choices what makes it difficult to work with minimal appearance since it would need to extend a d

[2020-09-23 10:48] kkrawczyk123 opened #4113 "Ability to double click on hierarchy view on Android 8.1 and 9"
#### Software and hardware versions
Collect v1.27.x, Android vx.x.x, device used...

#### Problem description
I have noticed that it's possible to double-click on the hierarchy button on Android 9 and 8.1.
![ezgif com-video-to-gif (36)](https://user-images.githubusercontent.com/33342488/94003027-f7a81480-fd9a-11ea-9735-11cafdf62f4d.gif)

#### Steps to reproduce the problem
1. Open any form
2. Doub