[2017-01-18 04:08] #322 closed, assigned to nobody

[2017-01-18 06:50] lognaturel commented on #269
For the release notes, we should use [https://github.com/opendatakit/collect/releases](https://github.com/opendatakit/collect/releases).

[2017-01-18 09:06] #226 closed, assigned to nobody

[2017-01-18 09:31] lognaturel commented on #336
I believe #194 is a duplicate, right?

[2017-01-18 09:44] #102 closed, assigned to mitchellsundt

[2017-01-18 14:06] grzesiek2010 commented on #213
Probably it is caused by unsupported chars in xml. I'm able to reproduce this issue using this barcode:
![encrypted example](https://cloud.githubusercontent.com/assets/3276264/22066580/d9a16d64-dd8d-11e6-9a17-e98a84c37898.png)
(scann the barcode and try to go to the next question)
it's also possible to put such wrong chars in StringWidget using copy/paste.

Please see http://www.w3.org/TR/REC-xml/

[2017-01-18 18:58] grzesiek2010 commented on #51
I investigated this. Mentioned crash doesn't occur so we can close the issue.

[2017-01-18 19:42] grzesiek2010 commented on #94
I investigated this using attached form. Mentioned crash doesn't occur so we can close the issue.

[2017-01-18 23:14] grzesiek2010 commented on #79
Since ODK 1.4 checked radio button color is blue. It's well visible I think and we can close this issue.
![odkv1 3](https://cloud.githubusercontent.com/assets/3276264/22087047/174c5932-dddc-11e6-9a86-ba0b92735caa.png)
![odkv1 4](https://cloud.githubusercontent.com/assets/3276264/22087048/18e3728a-dddc-11e6-9562-c3ab6a8c3eb0.png)

[2017-01-18 23:36] grzesiek2010 commented on #111
I reproduced this issue and it works as described above but it's on javarosa side and it's reported here: https://github.com/opendatakit/javarosa/issues/5

[2017-01-19 02:53] IanUme commented on #30
@lognaturel Although I don't have experience using it with gestures, it should be fairly trivial to add the EdgeEffect with a min SdkVersion of 14. I think the cleanest implementation is still a ViewPager (overscrolling is built-in) but we can make it work.

[2017-01-19 03:09] lognaturel commented on #30
Thank you @IanUme! I think we should spend some time actually looking into what it would take to switch to a `ViewPager` implementation and whether there would be other benefits to making such a drastic change. For it to be worthwhile, I think it would have to do something like make future improvements easier or make testing easier. I know @carstendev has expressed some interest in refactoring and

[2017-01-19 05:39] lognaturel opened #342 "Gracefully handle trying to choose a Google Drive image while offline"
#### Software and hardware versions
Collect v1.4.12

#### Problem description
The application crashes when a Google Drive image is selected from an image widget.

#### Steps to reproduce the problem
1. Put device offline
1. Open form with image widget (such as the Widgets form on the default server)
1. Tap "Choose Image"
1. Choose an image that's on Google Drive rather than local
1. The applicatio

[2017-01-19 06:04] #111 closed, assigned to mitchellsundt

[2017-01-19 06:08] lognaturel commented on #94
Hmm, I get the error `Only questions are allowed in 'field-list'. Bad node is: /data/obs/isofix`

[2017-01-19 06:18] #79 closed, assigned to mitchellsundt

[2017-01-19 07:47] lognaturel commented on #144
This has not been implemented yet. [Relevant code](https://github.com/opendatakit/javarosa/blob/3eb73b5c8c1d56b9bd635b1aca6a8e9ab1051fa9/core/src/org/javarosa/xpath/expr/XPathFuncExpr.java#L191).

[2017-01-19 07:49] lognaturel commented on #166
@batkinson I haven't looked deeply into this but do you happen to know if the fix to #199 also addresses this?

[2017-01-19 09:04] lognaturel opened #343 "Can swipe backwards infinitely on the first form question"
#### Software and hardware versions
Collect v1.4.12

#### Problem description
It is possible to swipe back from the first question. The first question is displayed over and over again.

#### Steps to reproduce the problem
1. Open a form to the first question.
1. Swipe back.

#### Expected behavior
It should not be possible to swipe back on the first screen.

#### Other information
It seems likely

[2017-01-19 09:36] carstendev commented on #30
From what I can gather, using the <tt>ViewPager</tt> seems to be the recommended practice by google to implement <tt>Swipe Views</tt>.

I haven't had the time, to look at what it would take, to switch to a <tt>ViewPager</tt> implementation though. The <a href="https://developer.android.com/topic/libraries/support-library/features.html#v4">v4 support library</a> only works with the v4 version of <t

[2017-01-20 03:55] nap2000 commented on #213
Some clients of mine have encountered this issue with pdf417 barcodes.  I made a modification to my fork of odkCollect to remove non printable characters from the barcode string.  This fixes the issue of the form not being savable.

The above fix has satisfied my client for, for the moment anyway.  It doesn't address the issue of how an application might make use of this data.

I also haven't look

[2017-01-20 09:42] grzesiek2010 commented on #213
@nap2000 you are right but I think a better solution is changing such non-printable chars, not just removing them.
It was ok for your client but we don't know all other cases. Maybe it's an ID and must be unique. Maybe someone wants to handle such string and then change the sting back (to original) on the server side or something else.

So maybe we should find unsupported chars and change each to

[2017-01-20 10:22] nap2000 commented on #213
@grzesiek2010 Sounds promising.

The data I came across was fingerprint information from a drivers license.  It will be interesting to see if we will be able to extract this data, or similar, uncorrupted from the string that comes back from the barcode reader.  I've got no plans to look at this further at the moment.  I guess if foodbank get back to you with such a requirement then you will want t

[2017-01-20 12:40] grzesiek2010 commented on #186
I reproduced this issue using attached form: http://pastebin.com/J7tCL8aN
It works as described above.

[2017-01-20 13:44] grzesiek2010 commented on #258
I think we need a section with an EditText (for filtering) and a button for (sorting). I attached my proposal how it might look.
The list should be filtered automatically when user adds something into EditText. Popup dialog should be shown after clicking on "sorting button" of course.
![proposal](https://cloud.githubusercontent.com/assets/3276264/22151544/c062e692-df1e-11e6-888d-f22b42371843.png)

[2017-01-20 14:04] grzesiek2010 commented on #213
@nap2000 I think I can fix this but time will tell maybe I will work on something else (more important). Now we have to wait for worth opinions from others.

[2017-01-20 19:44] mitchellsundt commented on #213
Seems like the designer of the form should specify a field attribute to
indicate whether the scanned code should be stored in a Base64 encoding and
if not, then you could strip out the non-printable characters so that the
form content doesn't get trashed - perhaps replacing the removed characters
with '.'?

I doubt the ZXing barcode reader returns additional arguments in its result
bundle that wou

[2017-01-21 06:04] nap2000 commented on #257
@mberg This sounds like a feature that is worth adding.

@chrislrobert It would make sense to me to consider leveraging off the work done by surveyCTO and presumably one of the objectives would be to make the odkCollect implementation compatible with the CTO solution where possible.   However do you have any specific thoughts on how the XForms specification could be used to implement this?  No nee

[2017-01-21 13:10] nap2000 commented on #213
I think this is an excellent solution.

So support an appearance of "binary" for barcodes?

There are barcodes that have a combination of both text and binary components.  Potentially there could be a future need to extract text from part of such a barcode for use in a relevance or just to return a calculated value to the server.

[2017-01-22 22:59] grzesiek2010 opened #350 "Difference between cascading select loaded from an external file and cs loaded from a form file"
#### Software and hardware versions
Discovered on Collect v1.4.12, Android v5.0.1, Samsung Galaxy S4

#### Problem description
There is a difference between cascading select loaded from an external file and cs loaded from a form file.
In first case it works worse. We can't see dividers and user is able to select an option taping on a radio button or text (not on white free space next to a question

[2017-01-23 08:30] yanokwa opened #352 "Remove "ODK Collect >" from app bar"
I believe the "ODK Collect >" that is at the top of every menu was added at a time when there was no icon to identify the application. Now that there is an application icon, it's harmful to have that text because it prevents users from seeing what activity they are in. I think we should remove it.

### Existing UI
![old](https://cloud.githubusercontent.com/assets/32369/22196633/bc13cd86-e180-11e6-

[2017-01-23 08:35] IanUme commented on #30
Ahh great point @carstendev. I've only used the v4 version of Fragments (as they were the recommended way by Google even after native Fragments came out). I definitely think ViewPager would be a little tough to switch over to at the moment and I'm definitely down to add EdgeEffect only. As suggested, I think we should wait for issue #293 so we could possibly implement it without a support library

[2017-01-23 08:39] lognaturel commented on #258
Looks good! I think it makes sense to split this up into two PRs since the functionality is independent. Let's start with sort and then add search/filter next.

For the sort icon, you can use the [Google alphasort icon](https://material.io/icons/#ic_sort_by_alpha). I think it would be good to try putting it in the app bar (like the save and go to buttons on the form edit screen).

The sort options

[2017-01-23 09:46] lognaturel commented on #257
@MartijnR, would appreciate your thoughts on how to approach this in an XFormsy way.

[2017-01-23 10:47] #329 closed, assigned to nobody

[2017-01-23 10:55] #330 closed, assigned to nobody

[2017-01-23 11:21] #343 closed, assigned to nobody

[2017-01-23 18:34] MartijnR commented on #257
[XForm 'Actions'](https://www.w3.org/TR/2006/REC-xforms-20060314/slice10.html) would be the XFormsy way to do this, I think. If one of the existing XForms events does not meet the requirements, we could create (a) custom event(s). Depends on exactly what it should measure. If may require two actions (start and end, just like the already supported metadata for overall duration). At first glance tha

[2017-01-23 18:47] chrislrobert commented on #257
The XForms "actions" stuff is kind of Greek to me. But that aside, we might
think first about what would make sense from a user perspective -- so, to
me, one key question is: what data does the user want, at the end of the
day, and what's the best format for that data? We store detailed timing
data in a "file" field type so that it's essentially a media attachment on
export, and that has advantage

[2017-01-24 05:34] nap2000 commented on #257
@MartijnR Do you think you would implement support for timing in Enketo?  And related to that @chrislrobert in your solution how did you calculate timings for a page of questions (field-list / table-list)?

[2017-01-24 06:35] yanokwa commented on #293
Just to update the thread, I have emails out to a bunch of folks to see what versions they have. In a week or so, I'll follow up with an email to the community.

My guess is that it's pretty safe the following.

minSdkVersion(16) - Android 4.1, Jelly Bean - This hits 97% of active Google Play users.
targetSdkVersion(19) - Android 4.4, KitKat - This the most popular version of Google play.
compileS

[2017-01-24 08:20] lognaturel commented on #94
@grzesiek2010 do you get that error? It happens when I select `isofix` and swipe forward.

[2017-01-24 08:22] lognaturel commented on #94
I see, the request was for it to show the error without crashing so I suppose you're right that this can be closed.

[2017-01-24 08:22] #94 closed, assigned to mitchellsundt

[2017-01-24 08:27] grzesiek2010 commented on #94
Yes. Users see an error message so we can close this.

[2017-01-24 08:54] lognaturel commented on #186
Thanks, @grzesiek2010. I think it makes sense to bring the `DateTimeWidget` behavior in line with that of `DateWidget`. There's a lot of code that's redundant between the two but let's not touch that until we have some kind of testing story. The time component should be forced to 00:00:00.

[2017-01-24 09:20] lognaturel opened #355 "Add Google Analytics"
Better analytics will help with important design decisions.

There is an [old pull request](https://github.com/opendatakit/collect/pull/212) which started to do this. It was abandoned pending [project management committee](https://github.com/opendatakit/governance/blob/master/GOVERNANCE.md#project-management-committee) approval and because it was believed this would break the build for users witho

[2017-01-24 09:35] chrislrobert commented on #257
We punted on field-list groups: I believe that all questions on a screen
get the same times.

On Jan 24, 2017 12:34 AM, "Neil Penman" <notifications@github.com> wrote:

[2017-01-24 16:22] grzesiek2010 opened #356 "ODK crashes after entering "1 Jan 1960" in Nairobi time zone"
#### Software and hardware versions
Discovered on Collect v1.4.12, Android v5.0.1, Samsung Galaxy S4

#### Problem description
ODK crashes after entering "1 Jan 1960" in Nairobi time zone

#### Steps to reproduce the problem
1. Change time zone to Nairobi (East Africa Time Zone (GMT+03:00))
2. Use DateWidget or DateTimeWidget (if you use DateTimeWidget you have to set time to 00:00)
3. Enter "1 Ja

[2017-01-24 17:45] MartijnR commented on #257
Only if we can figure out how to do this in a solid manner, and if a sponsor pushes this. (It would be for 'pages mode' only.) It has not entered our roadmap so far.

Chris brings up many good points. I figured "page-flip-start" and "page-flip-end" events would be the core of this feature, but indeed it's much more complex than that if you look at editing draft records and users flipping back to a

[2017-01-24 19:01] nap2000 commented on #213
Unless anyone wants to suggest a different approach or make the change themselves I'll submit a pull request for a solution along the lines described by Mitch sometime before the weekend.

[2017-01-24 19:45] grzesiek2010 commented on #149
I reproduced and investigated this issue.
The crash occurs because empty values are in columns and then we try to execut such sql command:

so we get:

What should we do? We can catch such error and show an aproprite dialog or handle such dupications and add something (change dupicated value by adding something to the name). Any ideas?

[2017-01-25 01:51] lognaturel commented on #213
That sounds good to me, @nap2000. Though I'm a little bit confused -- I thought adding an appearance would require a change to the XForms spec, JavaRosa and the XLSForm spec but it looks like they are passed all the way through to the client. Is this because they are purely considered optional client hints? It seems there should still be some coordination across the ecosystem when adding things at

[2017-01-25 06:18] #186 closed, assigned to nobody

[2017-01-25 08:49] #342 closed, assigned to nobody

[2017-01-25 14:51] mapland opened #360 "Collect 1.4.13 crash when selecting My Drive to fetch form"
#### Software and hardware versions
Collect v1.4.13, Android v5.1.1, device used Samsung Galaxy J1 Mini and J1

#### Problem description
ODK Collect crashes when we try to fetch an xml form from Google Drive.
#### Steps to reproduce the problem
1. Load Collect 1.4.13 from Google Play
2. Specify platform (Google Drive0
3. Specify Google account.
4. Get Blank Form (enters search GUI)
5. Select My Dr

[2017-01-25 16:11] chrislrobert commented on #236
We added zip compression in SurveyCTO a while back, and I think the gains for XML are substantial. Unfortunately, for attached media, those tend to be pretty efficient to begin with (if massive) -- so a different strategy would be to size down images at collection-time (as in https://github.com/opendatakit/xforms-spec/issues/79). That would also resolve the issue of encryption: if you resize befor

[2017-01-25 16:20] grzesiek2010 commented on #360
Looks like it's the same issue https://github.com/opendatakit/collect/issues/289 but now it occurs when we use the apk from Google Play.

[2017-01-25 21:35] jnordling commented on #336
Yes! Sorry missed this Ill add my comments to that.

[2017-01-25 21:35] jnordling commented on #194
The OpenRosa form submission API response details a message response ( ).The issue is that ODK Collect does not handle/use/display the contents of the <message> tag.

Currently Collect show standard messaging, which is totally fine. Just proposing adding the option if server is configured to response with detailed messages.

    <OpenRosaResponse xmlns="http://openrosa.org/http/response">

[2017-01-25 21:35] jnordling commented on #194
I am currently working on this, just wanted to add to issues list to keep track. I will submit a PR once tested.

[2017-01-25 21:36] #336 closed, assigned to nobody

[2017-01-26 00:09] grzesiek2010 commented on #227
I reproduced this issue.
Steps:

**Steps to reproduce the problem**

1. Change time zone to Sao Paulo
2. Use DateWidget or DateTimeWidget (if you use DateTimeWidget you have to set time to 00:00)
3. Enter "16 Oct 2016" (Select second 15th of Oct - look below)

**Actual behavior**
ODK crashes.

but I noticed another strange behaviour. 15.10 occurs two times in the calendar:
![screenshot_2017-01-25-

[2017-01-26 05:19] lognaturel commented on #360
The stack traces don't appear to have any useful info. Listing from the drive:
[code]

Publishing a previously loaded form:
[code]

@grzesiek2010 is probably correct that it's some kind of API auth issue like in #289 (the stack traces are also similar). @yanokwa and @mitchellsundt are working on it.

[2017-01-26 05:44] yanokwa commented on #293
I've spoken to the project management committee, a handful of largish Collect users and a couple of the commercial organizations that build on Collect. I think we can safely go up to Android 4.1 (16, JellyBean).

My question is if we should go up to Android 4.4 (KitKat, 19). Some of the differences are spelled out at http://socialcompare.com/en/comparison/android-versions-comparison.

@mitchellsun

[2017-01-26 07:30] lognaturel commented on #360
Realized it couldn't be an API config issue since 1.4.12 and 1.4.13 are signed with the same key. It turns out it's a minification issue. Hints were that I couldn't generate a signed apk that worked when checking out 1.4.12 (minification was disabled for the release build but that code wasn't checked in) and the strange identifiers such as `org.odk.collect.android.h.g.a`. I'm going to turn minific

[2017-01-26 07:47] #360 closed, assigned to nobody

[2017-01-26 07:48] lognaturel commented on #271
This proguard configuration broke Google Drive (#360). It might be good to look at Dimagi's [CommCare rules](https://github.com/dimagi/commcare-android/blob/master/app/proguard.cfg) for ideas.

[2017-01-26 08:45] mapland commented on #360
Thanks Dream Team, seriously rapid repair, we are using Collect 1.4.14 off
Play and it is working smoothly.

On 26 January 2017 at 09:47, Yaw Anokwa <notifications@github.com> wrote:

--
Chris Berens
Pr GISc (SAGC) #1308
+27 (0)82 567 9322

[2017-01-26 09:29] lognaturel commented on #122
Fixed in #340

[2017-01-26 09:29] #122 closed, assigned to mitchellsundt

[2017-01-26 09:29] lognaturel commented on #87
Fixed by #340

[2017-01-26 09:29] #87 closed, assigned to mitchellsundt

[2017-01-26 09:36] #350 closed, assigned to nobody

[2017-01-26 09:54] #45 closed, assigned to mitchellsundt

[2017-01-26 12:43] grzesiek2010 opened #364 "Auto advance doesn't work when user clicks on already selected answer"
#### Software and hardware versions
Discovered on Collect v1.4.13, Android v5.0.1, Samsung Galaxy S4

#### Problem description
Auto advance doesn't work when user clicks on already selected answer.

#### Steps to reproduce the problem
1. Open a survey with cascading select (with "quick" attribute)
2. Select one of listed options
3. Go back to previous screen
4. Click on the selected option again

[2017-01-26 12:50] grzesiek2010 opened #365 "Right arrow isn't centered in vertical in cascading select with "quick" attribute"
#### Software and hardware versions
Discovered on Collect v1.4.13, Android v5.0.1, Samsung Galaxy S4

#### Problem description
Right arrow isn't centered in vertical in cascading select with quick attribute when cascading select is loaded from a form file (SelectOneAutoAdvanceWidget)

#### Other information
![screenshot_2017-01-26-13-04-43](https://cloud.githubusercontent.com/assets/3276264/223318

[2017-01-26 14:28] grzesiek2010 commented on #271
I investiagetd the problem and discovered that adding
`-dontobfuscate`

in proguard file fixes the problem. But we should test other functionalities. Maybe this change is not enough.

[2017-01-26 16:56] mitchellsundt commented on #236
Yes, JPEG and MPEG formats are all based upon built-in compression
algorithms, so you aren't going to gain much with them.

The biggest gain would be in XML and CSV files.

On Wed, Jan 25, 2017 at 8:11 AM, chrislrobert <notifications@github.com>
wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-01-26 17:07] mitchellsundt commented on #293
When a 4.4 API is needed (when running on a 4.4 or newer device), there are runtime checks to ensure that it is used, so there is no gain to moving to a newer targetSdk version w.r.t. code behavior.

The biggest gain / change is to the look-and-feel of the app, as the update would move you to a new default style and theme (which is where the testing burden in a targetSdk update lies).

W.r.t. APIs

[2017-01-26 18:49] MartijnR commented on #213
@lognaturel Yes, appearances can be very easily abused ;), and this has created an enormous mess in terms of interoperability (Enketo is definitely one of the guilty parties). Coordinating this would be good.

I wonder if this would be best done with a new custom datatype instead of an appearance (or instead of a custom attribute). The "barcode" datatype does some replacement and the new one would

[2017-01-26 19:16] nap2000 commented on #213
Hmm yes appearance abuse, after search() and pulldata() there is probably
not a lot more you can do on that front.

I think I would prefer to use appearance for this case and probably also
cases where we are setting the size of a photo.  Ie we should be able to
have a question "type" and "parameters" for that type.  Appearance seems to
me to be useful as a misnamed parameter setting rather than sp

[2017-01-26 20:33] MartijnR commented on #213
Sounds indeed that there is some scope creep perhaps. :) Why use an appearance at all as part of the fix? Can't we just make this the behaviour of type="barcode" (always)?

Best to move spec discussions to the spec repo but I strongly disagree with abusing appearance for non-UI purposes and with it being 'misnamed'. The attribute is on form-control elements for a reason. Wrt to impact of doing thi

[2017-01-27 04:43] lognaturel commented on #293
Thanks @mitchellsundt! It's really good to know ahead of time about the potential issues around the media store API. We should explore whether we can put any automated testing in place on parts of the code that touch those APIs before making the change.

Do you have a sense of whether we're better off moving `targetSdkVersion` incrementally or more aggressively? My thinking in suggesting going to

[2017-01-27 05:49] lognaturel commented on #271
Very good to know. @mitchellsundt mentioned that it could also be related to the fact that the GDrive library is really old (#296).

[2017-01-27 07:39] lognaturel commented on #213
Thank you for that context @MartijnR and @nap2000. It seems like it would be really nice if, moving forward, `appearance` were only used for things that provide display hints for the client.

@nap2000 good point about keeping the focus on the issue at hand. Maybe we can start by handling the case where barcode and text fields as they currently exist end up with binary data. It's important that thi

[2017-01-27 08:16] enricofer commented on #298
I tried to change single cells with [HTTP API](https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values/get) interface but I didn't find any problem with other characters separators from dashes ("-"). I would give more help but I can't find in which Sheet API  the "nasty bug" is.
Anyway, from my point of view, a pipe "|" separator should be good, better than comma that in som

[2017-01-27 08:38] nap2000 commented on #213
Cool.  I have submitted a pull request addressing, hopefully, just issue 213.

[2017-01-27 18:53] batkinson commented on #166
@lognaturel yes, #199 and this issue are essentially describing the exact same behavior: support for hosts using SNI wasn't working using Collect. The resolution for #199 fixed this issue as well.

[2017-01-27 18:53] #166 closed, assigned to mitchellsundt

[2017-01-27 19:04] mitchellsundt commented on #293
I generally only look at jar and SDK updates and eliminating uses of deprecated APIs annually; Google updates libraries and SDKs so frequently that it would require someone working about 25% time to keep up.

Prior to transitioning, if the code is still using the deprecated managedQuery() logic, and hasn't transitioned to the new LoaderManager architecture, that should be updated. This probably re

[2017-01-30 07:01] lognaturel commented on #289
#334 adds instructions to the README. I think that's sufficient.

[2017-01-30 07:01] #289 closed, assigned to nobody

[2017-01-30 07:35] lognaturel commented on #356
Is it only 1/1/1960 that crashes or all dates before 1/1/1970 (epoch)? Could it be related to #150? It sounds like that one is more related to device settings but perhaps there's some connection.

[2017-01-30 07:39] lognaturel commented on #356
Actually, it doesn't seem related to #150.

It's the same stack trace as #227, #145, and #217 and I think all 4 are the same issue.

[2017-01-30 09:40] #240 closed, assigned to nobody

[2017-01-30 10:13] yanokwa commented on #149
In Excel, when you export from XLS to CSV, it sometimes includes blank columns, because it's Excel.

In the example, I included `"list_name,name,label,AI01,AI02,AS02,AI05,,,`, there are 2-3 extra columns. You are getting a duplicate column name error because there are duplicate blank columns.

The correct fix is when we parse the CSV, we should drop columns that don't have a title. What do you thi

[2017-01-30 11:17] grzesiek2010 commented on #356
Yes I think we should gather this issue and #227 #145 #217 in a one issue.

[2017-02-01 06:38] lognaturel opened #367 "Use Google Sheets API v4"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
Collect currently uses an older API to interface with Google Sheets. This has probably contributed to minification issues and is a barrier to updating other libraries.

#### Other information
The first question to answer is whether it will be possible to upgrade this library in isolation or whether it will also require u

[2017-02-01 06:44] yanokwa commented on #63
Duplicated by #258

[2017-02-01 06:44] #63 closed, assigned to mitchellsundt

[2017-02-01 06:45] yanokwa commented on #56
Duplicated by #255

[2017-02-01 06:45] #56 closed, assigned to mitchellsundt

[2017-02-01 21:12] MartijnR opened #372 "Appearance="autocomplete""
I'm trying to figure out how we should correct the XLSForm.org documentation (and then implement it) => https://github.com/XLSForm/xlsform.github.io/issues/79

It looks like there used to be support for appearance="autocomplete" in ODK Collect but that this was removed in 2011.

Was the desired functionality to be different from the currently-supported appearance="search" or the same?

[2017-02-02 08:16] #365 closed, assigned to nobody

[2017-02-02 08:19] #364 closed, assigned to nobody

[2017-02-02 08:50] yanokwa commented on #372
There is a select one with search? Even I didn't know that existed. Sad! We need better docs.

Autocomplete was removed because it had subtle data loss.

It looks like this search attribute does what we called "closed autocomplete". That is, you choose from a closed list of options, so that's great.

There is likely still a need for open auto-complete where you accept anything that is typed as an

[2017-02-02 09:56] #213 closed, assigned to nobody

[2017-02-02 10:22] lognaturel commented on #149
Yes, that sounds exactly right. @grzesiek2010 I think it's safe to drop all columns that have a blank name. What do you think?

[2017-02-02 15:23] MartijnR commented on #372
Ha, well it seems to work!

I am about to implement closed autocomplete. Appearance=autocomplete is the one that was documented on xlsform.org (and therefore was implemented by another client). I have to match this, so I think we'll have to consider "search" to be an alias of "autocomplete" and document them as such on xlsform.org.

I imagine the XForms syntax for an open select will be different

[2017-02-02 15:30] #372 closed, assigned to nobody

[2017-02-02 18:59] imran3may opened #375 "Limitations in capturing Geo-coordinate on ODK collect"
#### Software and hardware versions
Collect v1.4.14, Android v5.1 device used...

#### Problem description
Feature is not available to hide button to capture Geo-Coordinates, which means there is no options are available to capture Geo-coordinate without the interaction of an user.

#### Steps to reproduce the problem

#### Expected behavior
For the need of a project, a funchtionality of auto capt

[2017-02-03 01:55] sadumah opened #376 "Submissions from old forms are failing"
<!--

Forms that used to successfully indicate SUCCESSFUL are now indicating FAILED... Nothing has been changed from my end or on the Aggregate server. What could have happened?
Initially when this problem started, I could still find my data had been pulled despite the report that pulling had failed but now it is actually totally FAILING and no data is being pulled

[2017-02-03 02:01] sadumah commented on #376
Forms that initially used to successfully pull data are currently failing to pull successfully.
It used to display failed but I could still find data had been pulled but currently it is totally failing to pull data from Aggregate server using briefcase v1.4.9
I haven't changed anything on the forms nor on the aggregate server

[2017-02-03 02:03] sadumah opened #377 "Pulling data from Aggregate FAILED: Forms that used to successfully indicate SUCCESSFUL are now indicating FAILED... Nothing has been changed from my end or on the Aggregate server. What could have happened? Initially when this problem started, I could still find my data had been pulled despite the report that pulling had failed but now it is actually totally FAILING and no data is being pulled"
<!--
Forms that used to successfully indicate SUCCESSFUL are now indicating FAILED... Nothing has been changed from my end or on the Aggregate server. What could have happened?
Initially when this problem started, I could still find my data had been pulled despite the report that pulling had failed but now it is actually totally FAILING and no data is being pulled !>

[2017-02-03 02:29] yanokwa commented on #376
This does not seem to be about ODK Collect.

If there is an issue with ODK Briefcase, file it at https://github.com/opendatakit/briefcase/issues/new. Be sure to include sufficient detail so it can be reproduced or the issue will be closed.

[2017-02-03 02:32] sadumah commented on #376
Hi there,
unfortunately its not the briefcase but ODK collect! New forms work
successfully but the old forms i created in Janury 2016 are the ones failing

On Feb 3, 2017 5:29 AM, "Yaw Anokwa" <notifications@github.com> wrote:

[2017-02-03 02:35] yanokwa commented on #375
@imran3may Why do you need to capture GPS coordinates without user interaction? Is it a training issue of GPS being hard to capture? Is it because you don't trust that your enumerators to know GPS is being captured? The reasons why inform the design, so we should discuss them.

[2017-02-03 02:40] yanokwa commented on #377
Duplicate of #376.

[2017-02-03 02:40] #377 closed, assigned to nobody

[2017-02-03 02:46] yanokwa commented on #376
If submissions from new forms are working, but submissions from old forms are not working, the problem is very likely server side.

[2017-02-03 02:50] yanokwa commented on #376
Before we can help, we need answers to the following...

1. Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used, Aggregate v1.x.x,

2. Steps to reproduce the problem

3. Other information
Things you tried to fix it, stack traces, related issues, suggestions on how to fix it...

[2017-02-03 05:36] yanokwa opened #378 "Fields dependent upon an earlier field are not updated"
**Problem**
"After answering a question in ODK collect, I expect to see an additional question displayed on the same prompt, but the screen is not being updated. The updated screen will only be displayed after going to the next prompt and then back, or after locking and unlocking the screen on the tablet. "

**Explanation**
ODK Collect does not recompute the relevance (visibility) of all the quest

[2017-02-03 06:00] sadumah commented on #376
Submission is working but downloading from the server is what is an issue.
Infact the data that was there before is still downloading but new records
are failing to be pulled using briefcase. I can see the new records on
Aggregate and even download manually from the tablets using briefcase but I
can't download the new records from the Aggregate server using briefcase

On Feb 3, 2017 5:46 AM, "Yaw

[2017-02-03 06:09] yanokwa commented on #376
It sounds like you have a problem with Briefcase and not Collect, so I'm closing this issue.

If you have a problem with Briefcase, open a new issue and file it at https://github.com/opendatakit/briefcase/issues/new.

Provide the information in the template to help us replicate the problem or it will be closed.

[2017-02-03 06:09] #376 closed, assigned to nobody

[2017-02-03 07:48] yanokwa commented on #81
@MartijnR Is this a problem you've solved yet in Enketo?

[2017-02-03 07:54] lognaturel commented on #227
Unifying with #356.

[2017-02-03 07:54] #227 closed, assigned to nobody

[2017-02-03 07:57] lognaturel commented on #145
Unifying with #356

[2017-02-03 07:57] #145 closed, assigned to mitchellsundt

[2017-02-03 07:58] lognaturel commented on #217
Unifying with #356

[2017-02-03 07:58] #217 closed, assigned to nobody

[2017-02-03 08:03] lognaturel commented on #356
We're currently using Joda 2.9.3 but 2.9.7 is available. I think we should start by updating Joda (from Maven so we can delete the jar) and seeing if by any chance this could be fixed.

If not, it would be good to throw up an error to the effect of "Due to a timezone bug, this date and timezone combination cannot be used." Even better if it can show the current timezone to the user. [This Stackove

[2017-02-03 08:04] RohitPatnaik opened #379 "Can not send data to ODK Aggregate"
Hello All,

While sending data to ODK Aggregate from ODK Collect we face the following error:

**Error: Generic Exception: Invalid use of BasicClientConnManager: connection still allocated. Make sure to release the connection before allocating another one.**

Thanks.

[2017-02-03 08:06] yanokwa commented on #379
Please answer the following questions...

1. Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

2. Steps to reproduce the problem

3. Other information
Things you tried to fix, stack traces

[2017-02-03 08:11] lognaturel commented on #356
Also, if the crazy calendar issue in #227 doesn't end up being related, it should be separately filed.

[2017-02-03 11:45] chrislrobert commented on #375
FYI, in SurveyCTO we have a "background" appearance for geopoint fields. We also added a Collect option to pre-warm GPS for up to x seconds and/or y meters accuracy at the beginning of any form that contains a geopoint field.

Reason: smart enumerators, rather than filling out all forms at home, visit every actual household, capture the GPS position of each from the street, save, move on, capture,

[2017-02-03 13:44] #355 closed, assigned to nobody

[2017-02-03 16:20] imran3may commented on #375
@yanokwa I am currently working on a project for a country Government health agency and in one of their forms, they are looking for this hidden GPS-coordinates capturing feature. I assume they simply want to hide this feature in order to make this form more acceptable to their staffs. Though on the declaration it is clearly mentioned that their location will be recorded. Thanks

[2017-02-03 17:36] MartijnR commented on #81
The key difference is that Enketo has a regular input field that shows the value currently stored in the model (so it won't show the current date unless it was selected by the user). To show a calendar widget, the user has to first click something (and that will default to today if the value is empty).

The input field will show the format as a placeholder for all three types (and month-year and y

[2017-02-03 19:57] shobhitagarwal1612 commented on #352
I'd like to tackle this issue

[2017-02-03 20:25] Snailed commented on #352
you should be welcome, I was going to change it tonight.

[2017-02-03 20:37] shobhitagarwal1612 commented on #352
The app is crashing  at splashscreen. Can you please help me?

[2017-02-04 14:54] nap2000 commented on #257
I will be happy to put together a solution for this feature request.

@MartijnR I like your idea of implementing a hybrid approach with the timing component being implemented in the collect or other client.  However I'm still keeping an open mind on the solution.

The following link  [proposal doc](https://docs.google.com/document/d/1LqVlVpePjA7Q1snjhA_ZQoDuzFqbtQcIygwcEzO_LJs/edit?usp=sharing) is

[2017-02-04 21:43] grzesiek2010 opened #383 "Crazy calendar - missing and extra days in Oct 2016 Sao Paulo timezone"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
15.10 occurs two times in the calendar.
22.10 doesn't exists.

#### Steps to reproduce the problem
1. Change time zone to Sao Paulo
2. Use DateWidget or DateTimeWidget
3. Enter "Oct 2016"

#### Other information
![screenshot_2017-01-25-22-02-00](https://cloud.githubusercontent.com/assets/3276264/22314854/b179cc9c-e363-11

[2017-02-04 21:44] grzesiek2010 commented on #356
Yes this calendar issue still occurs. I created new issue for that: #383

[2017-02-04 22:21] grzesiek2010 opened #384 ""Prev" button is enabled on first question"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
"Prev" button is enabled on first question.

#### Steps to reproduce the problem
1. Go to Genaral Settings
2. In User Interface - > Navigation select "User forward/backward buttons"
2. Open any form

#### Expected behavior
"Prev" button should be disabled on first question.

#### Other information
The "Prev" button shoul

[2017-02-04 23:15] grzesiek2010 opened #385 "Answers from lower levels in cascading select are not cleared"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
Answers from lower levels in cascading select are not cleared

#### Steps to reproduce the problem
1. User starts job with cascading select
2. User puts answers to all levels
3. User goes back
4. User changes answer of the level

#### Expected behavior
Answers from other levels are not cleared and these answers are still

[2017-02-06 03:42] #153 closed, assigned to mitchellsundt

[2017-02-06 05:18] lognaturel commented on #352
Closed by #368

[2017-02-06 05:18] #352 closed, assigned to nobody

[2017-02-06 06:21] lognaturel commented on #81
@MartijnR @yanokwa Enketo allows a null value before the field is clicked but I believe that once the field has been clicked it is not possible to go back to a null value. I think that to address this fully in Collect, it has to be possible to clear out the date once it has been set.

[2017-02-06 07:44] lognaturel opened #386 "Allow the autocomplete appearance with the same behavior as search for select ones"
`search` is currently a valid appearance for select ones. Add an `autocomplete` appearance with the exact same behavior.

The code is [here](https://github.com/opendatakit/collect/blob/eb8243b6d381239e46689183b71836e576c86ad8/collect_app/src/main/java/org/odk/collect/android/widgets/WidgetFactory.java#L182). The change simply requires also testing for the string "autocomplete". [This commented out

[2017-02-06 08:13] #356 closed, assigned to nobody

[2017-02-06 08:31] #149 closed, assigned to mitchellsundt

[2017-02-06 08:36] lognaturel commented on #383
This seems like it's almost certainly daylight savings time related. October 16th was the daylight savings time change date in 2016 - https://www.timeanddate.com/time/zone/brazil/sao-paulo

[2017-02-06 08:36] lognaturel opened #387 "ClassNotFoundException on path DexPathList"
Seen from builds 1061, 1063 and 1065 in the Google Play Developer console. It has happened three times each on Android 4.2, 4.4 and 5.1 (so not very frequently). There is a recent user message that says "legal help page" but I don't know what that means.

[code]

[This StackOverflow post](http://stackoverflow.com/questions/29816745/classnotfoundexception-didnt-find-class-on-path-dexpathlist) has s

[2017-02-06 08:46] grzesiek2010 commented on #383
Right and probably we can't fix this but it's good to know about this issue. I checked the same using DatePickerFragment (an other app) and using Google Calendar and it works well (if we use a spinner instead of a calendar it works ok too) so it's only related to the calendarView in DatePicker as I think.

[2017-02-06 08:53] lognaturel commented on #387
@shobhitagarwal1612, this looks like it could be related to the issue you're running into. Have you been using the emulator or a real phone? Can you try the other to see if it still happens?

[2017-02-06 09:08] lognaturel opened #388 "SQLiteException while sending form"
Seen from builds 1061, 162, 1063 and 1065 in the Google Play Developer console. One user says "Odk is hanging when attempted to send the saved forms"

[code]

[2017-02-06 09:10] lognaturel commented on #375
Related to #24

[2017-02-06 09:13] lognaturel commented on #383
Great, seems right that it's a bug in a deeper level. I'll close the issue but it's good to have a record of it in case other people experience it.

[2017-02-06 09:13] #383 closed, assigned to nobody

[2017-02-06 09:15] lognaturel commented on #378
@yanokwa Do you only want to recompute relevance or also calculates, functions like `now()`, etc?

[2017-02-06 09:26] yanokwa commented on #378
I haven't thought about this hard, but everything that can be recomputed should be recomputed

[2017-02-06 09:31] lognaturel commented on #378
See also #140, #169

[2017-02-06 09:45] ratikanta131 opened #389 "View last submitted data at the time of filling up the form"
We are filling up and submitting data of a particular form.

If again we need to fill up that particular form and we want to see what was the last answer for particular questions, we need this feature.

Suppose we are going to collect the data of a geographical location, after 1 year we are going collect data of that particular location again (of a particular form) and we want to see that last vis

[2017-02-06 09:49] yanokwa commented on #389
@ratikanta-sdrc  Have you tried CSV preloading as described at http://xlsform.org/#pre-loading-csv-data. Why is that not adequate?

[2017-02-06 10:15] yanokwa commented on #375
@chrislrobert I have a few questions...
1. Given the problem described, why not capture a trace of where the phone has been instead?
1. Where is this background GPS saved (e.g. sidecar file, data model)?
1. What do you do when the user swipes past the background location, but you haven't gotten lock?
1. What happens when the user is indoors and there is no lock?

[2017-02-06 10:16] yanokwa commented on #375
@imran3may Android does not let you hide the menu icon that shows GPS is being fetched. Is that acceptable?

[2017-02-06 10:38] yanokwa commented on #257
@nap2000 Could you please add commenting privileges to whomever has the link to that document?

[2017-02-06 11:02] shobhitagarwal1612 commented on #387
I am using my Xolo Q700s Plus, (Android 4.4)
I have also tested on RedMi Note 3, Android 6.0)

[2017-02-06 11:07] lognaturel commented on #387
@shobhitagarwal1612 Can you give the emulator a try, too? I'm still not totally sure this is the same issue since it's not exactly the same stack trace than you're getting but it would be interesting to know if the emulator works.

[2017-02-06 11:09] shobhitagarwal1612 commented on #387
I'll try once again using a clean build

[2017-02-06 11:19] shobhitagarwal1612 commented on #387
@lognaturel I used a clean build and reinstalled the apk. Now, the app is running on RedMi Note 3 (Android 6) but throwing the same error on Xolo Q700s plus(Kitkat, Android 4.4). Thanks for the suggestion

[2017-02-06 14:44] wonderchook opened #390 "Field Papers/Collect Integration"
#### Problem description
[Field Papers](http://fieldpapers.org/) allows users to print maps and sketch on them. After done they take a picture with their phone and upload to the Field Papers site. Different groups have used ODK and Field Papers together in the past to collect data. This is often in situations where small phones are being used to digitizing on screens does not work that well or a m

[2017-02-06 15:57] MartijnR commented on #81
It is possible to reset to an empty value with the reset button next to the field. Note that the behaviour is a little different on touchscreen devices (where it defers to native `<input type="date">` behavior), but it also allows resetting on the browsers we test on.

[2017-02-06 18:13] imran3may commented on #375
@yawanoka Thanks for the information.

A N M AL IMRAN (Imran)
Brossard, QC
Canada
Cell: +1 (438) 501 3576

On 6 February 2017 at 05:16, Yaw Anokwa <notifications@github.com> wrote:

[2017-02-07 01:08] nap2000 commented on #257
I have updated the link to allow commenting (hopefully).

[2017-02-07 03:29] lognaturel commented on #387
I tried to run on an API 9 emulator which worked a few days ago and now I get `INSTALL_FAILED_DEXOPT` even after a clean build. No idea if this is related or not. I've tried several suggestions from SO with no luck. No problems running on an API 19 (Android 4.4) emulator.

The big recent change related to all this is that MultiDex support was [added just a few days ago](https://github.com/opendata

[2017-02-07 03:43] lognaturel commented on #387
This is @shobhitagarwal1612's stack trace reported on Slack:

[code]

[2017-02-07 03:51] srsudar commented on #387
This sounds a lot like a MultiDex issue I saw with a Collect port I was working on. I solved it by adding a call to `attachBaseContext` in the Application class. See the [line here](https://github.com/srsudar/MamasDelRioAndroid/blob/master/app/src/main/java/org/mamasdelrio/android/application/Collect.java#L171).

Apologies if this discussion is happening against a branch where this is already adde

[2017-02-07 03:56] srsudar commented on #387
If it does turn out to be this, I should add that this was one of the most annoying bugs I've encountered. It was crashing in the field, I had no idea why, and the importance of `MultiDex.install` is completely under-emphasized in the docs.

The repo I linked to there is a MultiDex version of Collect that I got working on at least as low as 4.4, so if it isn't this issue there might be something e

[2017-02-07 04:01] yanokwa commented on #257
@joeflack4 Your fork of Collect has timing in a sidecar file right? Any regrets on that approach?

[2017-02-07 04:09] joeflack4 commented on #257
@yanokwa I would have to double check, but yes, I believe the logs are stored as space/tab delimited lines in a plain text file.

This was before I started here. No regrets yet, though plain text approaches tend to get iterated on eventually. I believe right now we're parsing them in Python, after an earlier attempt with R. This is something that James can elaborate more on.

[2017-02-07 04:11] yanokwa commented on #257
It'd be good to understand what kinds of things you track and of those, what are actually useful. Also, do you submit those files to a server or is it pulled off the SD card.

[2017-02-07 04:17] joeflack4 commented on #257
Definitely. I hope we can allocate some of our resources to furthering ODK, as it looks like we will be sticking with the platform for awhile. I know very little about Collect's codebase or even our innovations. We collect quite a lot of this log data, so Im assuming server. However I do not believe we've modified aggregate. I'll confer this week and get back with some details.

[2017-02-07 04:41] lognaturel commented on #387
Thanks for jumping in and sharing your wisdom @srsudar! That all seems like a super promising first direction to explore and it's certainly completely new to me.

[2017-02-07 04:43] yanokwa commented on #257
@ChrisCorey I want to make sure we aren't forgetting you! Be sure to review Neil's [proposal doc](https://docs.google.com/document/d/1LqVlVpePjA7Q1snjhA_ZQoDuzFqbtQcIygwcEzO_LJs/edit?usp=sharing) so we capture your use case!

[2017-02-07 05:12] lognaturel commented on #81
Oh, hah, sorry @MartijnR, I've wondered what "that refresh icon" did but have never actually clicked on it for some reason. Makes sense!

[2017-02-07 05:21] shobhitagarwal1612 commented on #387
@srsudar Thanks

[2017-02-07 05:26] lognaturel commented on #387
@shobhitagarwal1612 Do you want to take a first stab at trying those changes and either report back on what you discover or if it fixes your problem, issue a PR? You're the only one who is able to reproduce this reliably so it would be super helpful!

[2017-02-07 05:32] shobhitagarwal1612 commented on #387
@lognaturel I tried adding
[code]
in `Collect.java` and it worked for me. Thanks @srsudar

[2017-02-07 05:33] shobhitagarwal1612 commented on #387
@lognaturel I will issue a PR making those changes.

[2017-02-07 05:42] shobhitagarwal1612 commented on #387
@lognaturel I have issued the PR #391. Please review

[2017-02-07 09:27] #387 closed, assigned to nobody

[2017-02-07 09:44] yanokwa commented on #95
I have confirmed that that for dates and integers, putting single or double quotes around the default value does not work for ODK Collect.

*works*
* type:integer default:1
* type:date default:1900-1-1

*does not work*
* type:integer default:'1'
* type:integer default: int('1')
* type:date default:'1900-1-1'
* type:date default:"1900-1-1"
* type:date default date('1900-1-1')

@MartijnR The [XForms

[2017-02-07 09:52] lognaturel opened #392 "Start programmatic testing of core functionality"
As we start making bigger changes to the codebase, having some programmatic testing would help us avoid regressions. There's nothing worse than functionality that used to work suddenly breaking in a new release! (See #360 for a recent example 😧)

There was a [conversation on the dev mailing list](https://groups.google.com/forum/#!searchin/opendatakit-developers/testing/opendatakit-developers/JNwzu

[2017-02-07 09:52] yanokwa commented on #293
Alrightly, I think we've reached consensus. We'll be moving to
* minSdkVersion(16) - Android 4.1, Jelly Bean
* targetSdkVersion(22) - Android 4.4, KitKat
* compileSdkVersion(22) - Android 4.4, KitKat

As far as sequencing, we'll need to get some testing in place first (Issue #392)

[2017-02-07 10:01] yanokwa commented on #109
Cannot reproduce with Collect 1.4.14. If this was an issue, it'll likely be fixed when #286 is fixed.

[2017-02-07 10:01] #109 closed, assigned to mitchellsundt

[2017-02-07 10:09] yanokwa commented on #148
Fixed with ecb579251bdd3839e5411c7c7035f3ad49a3f69a.

[2017-02-07 10:09] #148 closed, assigned to mitchellsundt

[2017-02-07 10:15] yanokwa commented on #43
I think documenting how to do self-signed certs is beyond the scope of the documentation we should generate for ODK Collect.

There are now free automated certs from https://letsencrypt.org, so there's no real need for self-signed certs. Also, developers who have this problem can search for this and find resources like http://wiki.cacert.org/FAQ/ImportRootCert#Android_Phones_.26_Tablets.

[2017-02-07 10:15] #43 closed, assigned to mitchellsundt

[2017-02-07 10:40] yanokwa commented on #36
Ignore me, @sthaiya. A stack trace won't help here. But a pull request would!

[2017-02-07 16:37] joeflack4 commented on #257
@yanokwa I went ahead and looked into how our logs are submitted on our JHU fork. They are submitted as flat text file attachments to ODK aggregate. James and I have our hands full this week, but we can speak further on this topic and others soon.

[2017-02-07 16:55] MartijnR commented on #81
I think it's good to get this feedback :). It used to be a trash icon, but for some reason we changed it. I think that one was clearer. We should change it back...

[2017-02-07 17:15] MartijnR commented on #95
Haha. I'll try.

I might misunderstand part of the issue but you cannot put expressions as the textContent of an XML node. Those values are just constants. Maybe the spec should clarify that. However, if one were to add a calculate with once() to add a default value from an expression, I think it makes sense for the client to try to cast this value to the correct type.

If the default (XML node) v

[2017-02-08 05:12] lognaturel commented on #81
@MartijnR I don't know how reliable my feedback is since I haven't been in the position of a typical user but I do think a trashcan is clearer.

In fact, using something like a trashcan icon for widgets that can be cleared (including eventually dates/times) would probably be more intuitive than long pressing to clear.

[2017-02-08 05:31] nap2000 commented on #257
@chrislrobert  Do you have any comments or suggestions on the  [proposal](https://docs.google.com/document/d/1LqVlVpePjA7Q1snjhA_ZQoDuzFqbtQcIygwcEzO_LJs/edit?usp=sharing) for adding collection of timing information to the odkCollect base?

[2017-02-08 09:58] yanokwa commented on #177
I tried out this form in Collect 1.4.14 and it's behaving like I'd expect. My guess is that the combination of the user nesting repeats and not having labels on the repeats caused confusion about the behavior.

[2017-02-08 09:58] #177 closed, assigned to mitchellsundt

[2017-02-08 10:04] yanokwa commented on #193
@ethan92429 I know it's been a while since you filed this issue, but wanted to get more information from you.
1. Any chance you still have a CSV/XML with this submission?
1. Was Mar 4th / 5th a daylight savings time transition in this time zone?

[2017-02-08 10:10] yanokwa commented on #139
Closed until we get more information from the What3Words team.

[2017-02-08 10:10] #139 closed, assigned to nobody

[2017-02-08 10:33] yanokwa commented on #161
@angelolazzari I know it's been a while since you filed this issue, but any chance you have an XLS form that shows this problem?

[2017-02-08 10:55] lognaturel commented on #257
The one high-level thing I'd really like to hear from @mberg, @ChrisCorey and anyone else who has a need for this feature is whether you believe that total time spent per question is sufficient information. It sounds like it's been good enough for SurveyCTO's users and I believe it would be enough to satisfy @ChrisCorey's [stated needs](https://github.com/opendatakit/collect/issues/257#issuecommen

[2017-02-08 11:03] lognaturel commented on #257
Um. Plot twist. Ben's logging code was actually added in [here](https://github.com/opendatakit/collect/commit/dd24b11c64d35fe2ab414b8cf97883a2d0ac91a3)... sigh.

[2017-02-08 11:04] AngeloLazzari commented on #161
hi, i have to recreate it, did you see the zip file i sent? it was a XML/itemsets.csv form... it had the bug... if you need the XLS .. i will recreate it... let me know thanks!
[test.zip](https://github.com/opendatakit/collect/files/760421/test.zip)

[2017-02-08 11:30] yanokwa opened #394 "Select one external relies on name and label for uniqueness"
#### Steps to reproduce the problem
 1. Download [select_one_external.xlsx](https://github.com/opendatakit/collect/files/760466/select_one_external.xlsx) form.
 1. Convert the form to XML.
 1. Push the XML to `/sdcard/odk/forms/select_one_external.xml`.
 1. Push the CSV to `/sdcard/odk/forms/select_one_external-media/itemsets.csv`

The form is available in English and French (English words with "l

[2017-02-08 11:31] yanokwa commented on #161
@AngeloLazzari I think I've been able to reproduce the issue. Can you try the form at #394 and confirm if it is the same problem?

[2017-02-08 11:55] AngeloLazzari commented on #394
@yanokwa yep, it's the same problem! Great work!! Thnk you very much

[2017-02-08 11:57] yanokwa commented on #161
Duplicate of #394

[2017-02-08 11:57] #161 closed, assigned to mitchellsundt

[2017-02-08 12:08] lognaturel commented on #257
To be clear, the logging code I reference above is undocumented and does not include any way for getting the data off the phone (you need to manually copy a db file off the phones). We still have to design and implement a solution, I just didn't realize that code was in trunk until I searched for it.

If you want to try it out, I found a message from @mitchellsundt with brief instructions [here](h

[2017-02-08 12:20] chrislrobert commented on #257
Apologies, I haven't had time to review the proposal in detail or give
feedback. I will just say that yes, total time spent per question has been
sufficient for most of our users, but recently somebody suggested adding
"times visited" as well. The key problem has been that the volume of data
is already too much for most people most of the time. We have other
features ("speed limits", "audio audits

[2017-02-08 14:12] nap2000 commented on #257
Thanks @chrislrobert its good hearing about your experience.  It seems that most value from the timing data has happened since the server started doing some presentation and that few people used the raw data files?  Can you provide an example CSV file that you expect to be submitted.  Also how is this CSV file packed into the submission web request?

[2017-02-08 14:21] joeflack4 commented on #257
@yanokwa Also, to answer your question as to what our logs look like / what kind of information it logs, here is a short example snippet.
[code]

[2017-02-08 14:31] chrislrobert commented on #257
[TA_10fe0ca1-5c35-4b28-a46e-046d6ffce30f.csv.zip](https://github.com/opendatakit/collect/files/760892/TA_10fe0ca1-5c35-4b28-a46e-046d6ffce30f.csv.zip)

No problem. Sorry not to be more helpful.

Attached is an example text audit file from a short web form of ours. We
added the "text audit" field type which is a file/media field not very much
unlike an image, video, etc. The .csv file is then attac

[2017-02-08 14:38] yanokwa commented on #379
Closed due to lack of information.

@RohitPatnaik, if you provide the needed information, we'll gladly re-open the issue.

[2017-02-08 14:38] #379 closed, assigned to nobody

[2017-02-08 16:48] kirstieJagoe opened #395 "ODK Collect crashes on form re-entry on Android 4.4.2"
Versions: Collect v1.4.14, Android v4.4.2
Devices:  iTEL_it 1701, Huawei T1-701u

Form: [BCC_Baseline_MainSurvey_ODK_FULL_STUDY_SW_v6 (1).xlsx](https://github.com/opendatakit/collect/files/761470/BCC_Baseline_MainSurvey_ODK_FULL_STUDY_SW_v6.1.xlsx)

**Problem description**
We can complete one screening survey and one main survey, then one screening survey but when come to second main survey we get

[2017-02-08 17:36] kirstieJagoe opened #396 "Unfortunately ODK has stopped'"
Collect v1.4.14, Android v4.4.2, device used (Itel, Huawei)

[BCC_Baseline_MainSurvey_ODK_FULL_STUDY_SW_v6 (1).xlsx](https://github.com/opendatakit/collect/files/761470/BCC_Baseline_MainSurvey_ODK_FULL_STUDY_SW_v6.1.xlsx)

**Problem description**
We can complete one screening survey and one main survey, then one screening survey but when come to second main survey we get the error message ' sorry

[2017-02-09 02:49] nap2000 commented on #257
OK adding a type I guess its a preload that adds an attachment.  I think this is a good approach.  I can't see the attachment though, is it there?

[2017-02-09 04:07] yanokwa commented on #396
Duplicate of #395.

[2017-02-09 04:07] #396 closed, assigned to nobody

[2017-02-09 04:10] lognaturel commented on #257
@nap2000, the attachment is linked from the top of @chrislrobert's post. It looks like

Sounds like the complexity of the log file doesn't really matter because in practice even the most minimal format requires processing to be useful and actionable. In other words, "users won't be able to use the data directly" could be an argument against logging more detailed info or increasing the complexity o

[2017-02-09 04:32] lognaturel commented on #395
There is a crash report from a MediaPad (hwt1701) where someone wrote "Can only do one interview and when I attemp a second main interview the form does not load." That sounds like it's probably from @kirstieJagoe's team. It's REALLY helpful when users provide that kind of detail when reporting a crash so please thank your enumerators for that.

The stack trace:
[code]

[2017-02-09 05:17] lognaturel commented on #395
@kirstieJagoe Both of those devices are listed as having 1Gb of RAM which is not very high given the size of your form. It is likely that your devices are running out of memory when loading the form.

I am able to complete the form multiple times in an emulator running Android 5.1 quickly and without any problems. I do get the same stack overflow as above on my emulator running Android 4.4 when I

[2017-02-09 07:05] yanokwa opened #398 "Update privacy statement"
Because of https://github.com/opendatakit/collect/pull/369 we need to update https://opendatakit.org/about/security-and-privacy-statement/

[2017-02-09 07:31] yanokwa commented on #395
I've reviewed the form and the best way to fix this problem is to rework the relevance.

So instead of:
```selected(${B1_1StoveType},'9') or selected(${B1_1StoveType},'10') or selected(${B1_1StoveType},'11') or selected(${B1_1StoveType},'12') or selected(${B1_1StoveType},'13') or selected(${B1_1StoveType},'14') or selected(${B1_1StoveType},'15') or selected(${B1_1StoveType},'16') or selected(${B1_

[2017-02-09 07:31] #395 closed, assigned to nobody

[2017-02-09 12:05] kirstieJagoe commented on #395
Thank you very much for this guidance- with some edits the team are now in the field collecting data!

Sent from my iPhone

[2017-02-09 12:06] kirstieJagoe commented on #395
Hi Helene,

Thank you so much for your help- this information is extremely useful. The team are now in the field collecting data!

Thanks again
Kirstie

Sent from my iPhone

[2017-02-10 08:23] lognaturel opened #400 "Improve style of gradle file"
The gradle file now uses both long form and shortcut styles for defining external dependencies as described [here](https://docs.gradle.org/current/userguide/artifact_dependencies_tutorial.html#sec:external_dependencies_tutorial). It would be better if they all used the long form style (using `group:`, `name:`, `version:`). That includes for `testCompile` and `androidTestCompile`.

Additionally, th

[2017-02-10 08:56] shobhitagarwal1612 commented on #400
@lognaturel Yeah I would love to work on this

[2017-02-10 08:59] shobhitagarwal1612 commented on #400
The version upgrade of opencsv didn't introduce any bug so i didn't mention it in the PR. But as a reminder I mentioned it in the code. I guess I should remove it now.

[2017-02-10 09:00] lognaturel commented on #400
@shobhitagarwal1612 one more thing to potentially address in this one. For the `opencsv` dependency, the group looks strange, I believe it's a fork. Why not use https://mvnrepository.com/artifact/net.sf.opencsv/opencsv where you can use 2.3? Eventually we'll want to go to 3 but that will require some deeper code changes.

[2017-02-10 09:03] shobhitagarwal1612 commented on #400
@lognaturel Thanks. I will replace the opencsv line to the original maven repo

[2017-02-10 09:33] lognaturel commented on #395
@kirstieJagoe Glad to hear it!

[2017-02-10 09:53] #400 closed, assigned to nobody

[2017-02-10 15:57] smoyte commented on #311
I like where this is headed. I agree the email, username, and password should be removed from Server Settings.

It would also be nice to be able to define custom fields here. What if the form metadata list started out blank and you could add new ones, choosing keys from the predefined list (username, email, telephone) or adding your own?

ODK would prefer to take username/email/phone from the meta

[2017-02-11 09:39] grzesiek2010 commented on #394
Unfortunately we can't fix this problem as it's related to javarosa. Internal choices work well because SelectOneWidget is used in that case. SelectOneWidget use SelectOneData to store answers and when we create the widget we have all choices as a list in our prompt. If we use external choices we use ItemsetWidget which is DATATYPE_TEXT and this data type use string to store answers (we don't even

[2017-02-11 09:48] grzesiek2010 commented on #25
Do we really need to keep this issue? :) It was created 7 year ago. I'm not even able to recall how it warked then. I don't think anyone would like to change qwerty keyboard nowadays. I think we can close this issue.

[2017-02-11 12:39] marcos-lg commented on #386
Hi, I would like to work on this issue if nobody is working on it yet.

[2017-02-12 03:33] nap2000 commented on #257
Giving some thought to implementation.

There is an existing Logger, in org.odk.collect.android.database.ActivityLogger.

This was initially contributed as “Ben’s logging implementation” for logging user interactions and was originally named Logger.  Was renamed by @mitchellsundt  to ActivityLogger and extended to log additional application events such as “createDeleteInstancesDialog”.

It would s

[2017-02-12 10:49] chrislrobert commented on #257
Just to save you guys from some of the hassles we had when we did this:
relying on the system clock leads to a series of issues in the field
(particularly but not exclusively when saving+exiting and then resuming).
The trouble is, Android dates and times change more often than would be
desirable, including when you connect to cell service and the date/time is
adjusted to match the network's. Thus,

[2017-02-12 13:52] paraschadha2052 commented on #384
I want to solve this but i am confused how to check when we are on the first question. I was thinking of creating a variable that stores the question number on which we are. Is there any better approach or should i go on with this one ?

[2017-02-12 14:09] nap2000 commented on #257
Thanks Chris very good to get your experience on this.  Did you measure how much the time changed due to network variation?   A couple of seconds here and there might be acceptable?

Otherwise we could adopt your approach, possibly storing the current state in the instance database as an alternative to the instance file.

In order to get timestamps that are accurate, relative to each other and wit

[2017-02-12 16:28] chrislrobert commented on #257
Well, with thousands of enumerators in the field with batteries failing and
settings being reset from time to time, a non-trivial number will have
date/time shifting by even a year, a month, a day... so if you rely on
device date/time, you'll just have to live with a certain number of totally
wacky measurements.

On Sun, Feb 12, 2017 at 9:09 AM, Neil Penman <notifications@github.com>
wrote:

[2017-02-12 16:33] grzesiek2010 commented on #384
@paraschadha2052
Check `FormEntryController.EVENT_BEGINNING_OF_FORM` but my additional clue is that this event isn't for the first question (first question should be the first event after mentioned above event if I'm right,).

[2017-02-12 16:47] grzesiek2010 opened #405 ""Check for update" option"
It would be good to have "Check for update" option. In my opinion such option should be placed in "General Settings" under "ODK COLLECT Tap to visit...".
When user clicks on this option we should display a dialog with appropriate information for example:
"Your have the newst version" or "The newer version of this app is available. Do you want to update?" (Cancel/Update options).
If user clicks on

[2017-02-12 16:52] paraschadha2052 commented on #384
@grzesiek2010 Exactly, first question is the first event after
FormEntryController.EVENT_BEGINNING_OF_FORM. I can know the first question from this when the form initially loads but if user comes back to the first question by pressing back button from another question, i cannot keep track of that using this. Simplest approach i could think of is to create a variable to keep track of current questi

[2017-02-12 16:59] grzesiek2010 commented on #384
@paraschadha2052
No you have to do that without additional variable believe me it's possible. For example look here: https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L1376 (and a few lines below). You can use the same you can always use `stepToPreviousScreenEvent`and check if it is `EVENT_BEGINNING_OF_FORM` and t

[2017-02-12 17:03] marcos-lg commented on #304
Hi, I'd like to work on this issue but I have some doubts, where can I get the changelog and contributor list from? I can't find files with this information in the project :(

[2017-02-12 17:05] grzesiek2010 commented on #304
@asturcon
I believe you need this https://github.com/opendatakit/collect/graphs/contributors and https://github.com/opendatakit/collect/releases or maybe it should use git if it's possible?

[2017-02-12 17:05] paraschadha2052 commented on #384
Ok, i got it. Thank You @grzesiek2010 . Let me try it.

[2017-02-12 17:20] marcos-lg commented on #304
Ok thanks! I just was expecting that there would be any files in the project with this info already, since it's wanted to be displayed offline

[2017-02-12 18:17] grzesiek2010 commented on #392
I've been reading up on this and I added a small test for mentioned scenario (getting a list of blank forms from an Aggregate) using Espresso as it's really good tool. I implemented changes in order to run this test on CIrcleCi but it doesn't work and returned error is really strange: https://circleci.com/gh/grzesiek2010/collect/192
Here is the branch: https://github.com/grzesiek2010/collect/tree/

[2017-02-13 03:01] lognaturel commented on #304
@asturcon We're thrilled to have you work on this with us! I would suggest starting with the About menu item with Tell your friend and Leave a review since those are new and really good to have. You can issue a PR for that and we can get it in right away. Then we can in parallel have a discussion here about what the offline changelog and contributor list should look like.

When we do the changelog

[2017-02-13 03:12] yanokwa commented on #304
Agreed with @lognaturel that we haven't put a ton of thought into the change log and contributors, so I propose we leave those off for now.

@asturcon Let's focus on a PR that adds a menu item for leaving a review, tell your friends, and moving the open source licenses from the General Settings.

[2017-02-13 03:14] yanokwa opened #407 "Add list of contributors"
It'd be nice to have a list of contributors inside ODK Collect. This needs discussion because I'm not sure who counts as a contributor, what information we display (e.g., GitHub username? full name? organization), how we order it (e.g., number of commits, date of last commit), etc.

[2017-02-13 03:14] lognaturel commented on #405
Good idea! It seems there is no official API for this but there are a couple of good approaches [here](http://stackoverflow.com/questions/7298106/how-to-allow-users-to-check-for-the-latest-app-version-from-inside-the-app) and [here](http://stackoverflow.com/questions/25201349/programmatically-check-play-store-for-app-updates).

Could we instead just have a button that says "update available" if an

[2017-02-13 03:20] #386 closed, assigned to nobody

[2017-02-13 03:24] #388 closed, assigned to nobody

[2017-02-13 03:55] lognaturel opened #408 "French buttons for Google Drive form download get resized improperly"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
<img width="243" alt="screen shot 2017-02-13 at 11 45 47 am" src="https://cloud.githubusercontent.com/assets/967540/22870457/6b7cc978-f1e2-11e6-897a-4af091d30942.png">
This happens in any language that has very long text for the download button.

There's a similar but less dramatic problem on the Aggregate download blank

[2017-02-13 04:09] #327 closed, assigned to nobody

[2017-02-13 04:14] #51 closed, assigned to mitchellsundt

[2017-02-13 04:45] lognaturel commented on #311
@hooverlunch The keys would need to be unique, right? I think it would be easier to have a fixed UI for the most common fields (username, email, etc) and then have some option to define custom keys. Either way, this seems like a good reason to make "Form metadata" a link to a new activity rather than having the fields right there in the settings.

For the hint, I was imagining something like the c

[2017-02-13 05:09] yanokwa commented on #25
I have confirmed on my Moto G4 and emulator that it's a number pad and not a QWERTY keyboard.

[2017-02-13 05:09] #25 closed, assigned to mitchellsundt

[2017-02-13 06:00] lognaturel opened #411 "Add analytics for view entries, main menu button presses"
#355 added the analytics framework but no logging. Log the actions listed [here](https://github.com/max2me/collect/blob/3981cffbc630b051472cb4bb18218c3cb9277b71/collect_app/src/main/java/org/odk/collect/android/analytics/Analytics.java#L56) (it's not necessary to follow this code structure).

[2017-02-13 06:08] nap2000 commented on #257
Yes I understand.  We have this problem know when showing time to complete a survey.  It just takes one enumerator to get to the end of the survey and not save as finalised to make the averages meaningless.  The server can always eliminate outliers but it would be good to address at source.

I'm still keen to record real times.  For example if settings are reset and then the enumerator continues t

[2017-02-13 06:43] yanokwa commented on #257
Given all this wackiness, I'm leaning more and more towards the logging solution. At least a human being (or clever script) can look at the raw data and try to make sense of it.

Agreed that a timestamp plus elapsedRealtime is a pretty good place to start. Another option we could add is an occasional [GPS time](https://developer.android.com/reference/android/location/Location.html#getTime()).

[2017-02-13 07:19] grzesiek2010 commented on #405
@lognaturel I'm not sure... Do you only wanto to infor about update or as I mentioned to give a possibility to download the newer app and update automatically as well?

[2017-02-13 07:34] #385 closed, assigned to nobody

[2017-02-13 07:40] grzesiek2010 commented on #407
I think we can keep the order from https://github.com/opendatakit/collect/graphs/contributors the other way I know is `git fame` command to get a list of contributors. There is even an API https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts I know we want do have this offline but maybe we can build such page once during release?

[2017-02-13 08:19] lognaturel commented on #405
Is it possible to update automatically? As far as I know, that is a Play Store setting. All that we can do is launch the Play Store with ODK Collect shown. I'm imagining that clicking on "update available" when it is shown would do that.

[2017-02-13 08:26] grzesiek2010 commented on #405
I'm not sure maybe it's possible too but if not we can for example store the newest app somewhere then using the link we can download the app using notification progress bar to show the progress and then update the app automatically.
But if you think the game isn't worth the candle we can just implement the scenario you described.

[2017-02-13 08:36] lognaturel commented on #405
I've never heard "the game isn't worth the candle"! That's a great expression. 😊

I talked to @yanokwa about this and he pointed out a number of issues:
- not all devices have the Play Store
- if someone installed an APK, there may be a reason for it and it wouldn't be good for them to then install from the Play Store
- it's generally a project tech lead rather than an enumerator who will make upd

[2017-02-13 08:43] grzesiek2010 commented on #405
It's often useful expression in programing I think :) It's popular in my country I know it's in English too so I thought it's popular there as well.

Ok let tech leads decide.

[2017-02-13 08:45] lognaturel commented on #405
I will definitely use it now!

Good conversation. Closing for now and if someone has more to add they can re-open.

[2017-02-13 08:45] #405 closed, assigned to nobody

[2017-02-13 12:07] grzesiek2010 commented on #378
If we use widgets that use other activities like ImageWidget, BarcodeWidget, AudioWidget etc it works well (attached form) as ODKView is rebuilt. The problem is related to the others. Currently I don't have any good idea how to do that. For example if we use SelectOneWidget or SelectMultiWidget we could trigger the action after onCheckChanged() but we have lots of others widgets. What about if we

[2017-02-13 19:09] smoyte commented on #311
Sounds fantastic.

Would need to make sure this works with the config-via-file functionality, whatever that's properly called...

[2017-02-13 22:03] marcos-lg commented on #304
I just realized that there is an about section with open source licenses information at the bottom of the General Settings menu:

![image](https://cloud.githubusercontent.com/assets/25691745/22905345/3aa67034-f240-11e6-8da3-dc1ff6f3d603.png)

@yanokwa I understand this has to be moved to the new About screen, right?

[2017-02-14 05:04] yanokwa commented on #304
@asturcon Yes, it has to be moved. Thanks for confirming before starting work!

[2017-02-14 08:42] #241 closed, assigned to nobody

[2017-02-14 10:28] lognaturel commented on #311
I believe you are talking about "bulk configuration" which I think is only documented at the bottom of [this blog post](https://opendatakit.org/2013/04/nafundi-adds-auto-send-navigation-buttons-and-bulk-configuration-to-collect/).

[2017-02-14 10:34] #411 closed, assigned to nobody

[2017-02-14 14:45] smoyte commented on #311
That's the one! Would you agree we'd want to support that with form
metadata?

On Tue, Feb 14, 2017 at 5:28 AM, Hélène Martin <notifications@github.com>
wrote:

--
Tom Smyth

Worker-Owner, Sassafras Tech Collective
Specializing in innovative, usable tech for social change
sassafras.coop · @sassafrastech

[2017-02-15 05:56] lognaturel commented on #311
I think so. Now that I've thought through this, I do think that the custom fields piece should be filed as a separate issue. It's great to have this discussion here to influence the preloaded values UI redesign but I think it adds too much functionality to this one issue! @hooverlunch if you could file your original description of what you want incorporating what we've discussed as a separate issu

[2017-02-15 08:18] lognaturel commented on #392
I want to try to be a little bit more specific about what I think we want to achieve and what kinds of questions we need to answer. It probably makes sense to agree on some high-level principles before we pick tools.

First, I would say the overall goal is to get a better feedback loop in place for learning about issues with Collect. Currently, we identify problems when users report them or when w

[2017-02-15 12:56] nap2000 opened #415 ""Too many SQL variables" error when submitting results"
#### Software and hardware versions
Collect v1.4.11, Android v unknown, device used unknown

#### Problem description
When attempting to submit finalised data an SQL error is reported: "Too many SQL Variables...".   Refer to the attached image.

![screenshot](https://cloud.githubusercontent.com/assets/1946349/22975177/a9470590-f3c0-11e6-9dac-c4386bb4ccb5.jpg)

According to the image there were app

[2017-02-16 09:44] yanokwa commented on #398
Updated.

[2017-02-16 09:44] #398 closed, assigned to nobody

[2017-02-16 10:48] shobhitagarwal1612 opened #416 "The label in tabs in Delete Saved Form are not fully visible in some phones"
#### Software and hardware versions
Collect v1.4.14-24-g5d0db9f-dirty, Android v4.4.2, Xolo Q700s plus(screen size 4.5 inch 480x854 pixels)

#### Problem description
The label in tabs (Saved forms & Blank forms) in Delete Saved Form are not fully visible. Refer to attached image.

![device-2017-02-16-155920](https://cloud.githubusercontent.com/assets/8918023/23018248/4fc7312c-f463-11e6-85ad-e060ea

[2017-02-16 16:53] grzesiek2010 commented on #416
@shobhitagarwal1612 It's rather caused by screen size I think so you can add such info about a device you use.

[2017-02-16 17:45] mitchellsundt commented on #392
Test-driven culture comes first. One reason ODK Collect doesn't have tests is because there was hostility in the culture at UW for introducing tests.

The groundwork begins with first setting up a framework for people to add tests of any type

- unit
- integration
- partial-stack
- full-stack / UI

The Google testing blog has it wrong. The natural precedence order is:

(1) establish full-stack / U

[2017-02-16 21:04] greg-mogavero commented on #167
I can try tackling this. Does anyone have an example of a host that returns the 403 so I can reproduce the bug?

[2017-02-16 23:15] wonderchook opened #418 "Add geotext widget"
In some circumstances we have users that need to manually type in coordinates from a GPS devices into the mobile device running ODK there are a couple scenarios where this happens.

1. Situations where the GPS device cannot be connect to the phone (for example it doesn't have bluetooth)
2. Situations where data is actually collected on paper forms but is later entered through ODK

Ideally the widg

[2017-02-16 23:19] wonderchook commented on #265
This would be very useful. In one of our projects I found out people were using OpenStreetMap tiles instead of satellite imagery we provide because they could zoom around and cache some tiles before being disconnected to the internet. For the specific satellite imagery we were using they would need to use GeoODK and also create MBtiles.

[2017-02-16 23:24] wonderchook commented on #272
@syedaffanhamdani how far did you get? Can you share?

[2017-02-17 02:10] srsudar commented on #392
Mitch makes a good case for the value of integration tests.

In general, though, I tend to agree with the Google blog post. All the benefits they outline of unit tests seem real to me. I'll try not to rehash them specifically as much as talk about why I think a unit test-based approach would make sense for ODK projects.

I think that unit tests would be great for the existing ODK projects because

[2017-02-17 03:15] lognaturel commented on #392
@mitchellsundt @srsudar Thanks for your insights! @mitchellsundt do you have some reading material we could check out that advocates for a UI-testing-first approach? It's a very intuitively appealing idea since that kind of test would be most like what a user's experience is but I have not come across a project that emphasizes UI testing first. I understand what you're saying about using semantic

[2017-02-17 06:53] lognaturel commented on #265
@wonderchook very interesting and great to have a specific use case to design and build this feature for.

Can you tell us what the service you've been using for that imagery is?

[2017-02-17 09:07] lognaturel opened #419 "Number of forms to edit should include finalized (but unsent) forms"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
The number displayed in parentheses next to Edit Saved Form currently only includes saved forms that are not finalized.

#### Steps to reproduce the problem
Save a form without finalizing it, that will increase the number shown next to Edit Saved Form. Save a form and finalize it and although the form is editable from Ed

[2017-02-17 16:22] grzesiek2010 opened #421 "Forward button doesn't work well"
#### Software and hardware versions
Collect v1.4.14

#### Problem description
Forward button doesn't work well.

#### Steps to reproduce the problem
1. Go to "General Settings">"Navigation"
2. Check option "Use forward/backward buttons
3. Open any form
4. Use "Go to end" option and after that "Forward" button is enabled at the last screen (what is wrong)
5. Navigate to the first question using "Ba

[2017-02-17 17:11] grzesiek2010 commented on #156
I investigated this and mentioned crash doesn't occure so we can close the issue.

[2017-02-17 17:55] wonderchook commented on #265
We provide [DigitalGlobe's MapAPI imagery](https://mapsapi.digitalglobe.com/account). I could also see wanting to add other tile services, sometimes we work with groups that have tiled drone imagery as well. 

[2017-02-17 17:57] paraschadha2052 commented on #421
Yes, it looks like a similar issue. I will look into it.

[2017-02-18 01:20] nap2000 commented on #257
My apologies for being absent for a few days.  I agree that an event log looks to be the best solution.   It would be readable by a human but much better to have some scripting support to interpret and present results.   Given the potential value in this data adding such a script on the server will be well worth while.  A different project could also add a view a more personal view of the timing d

[2017-02-19 21:41] dalerhoda opened #423 "Entering dates: Show month number in addition to or in place of abbrevation"
Entering dates on a touchscreen device is more tricky than entering other types of fields, and the entry error rates are unacceptably high, as measured in a recent experiment entering more than 10,000 known dates in 12 different combinations of factors (phone vs. tablet; single-entry vs double-entry; calendar vs. no-calendar vs. radio button interface).  (Mean rate = 1 error in every 20 dates, aft

[2017-02-19 21:46] dalerhoda opened #424 "Entering dates: re-order mm-dd-yyyy regardless of device locale"
Entering dates on a touchscreen device is more tricky than entering other types of fields, and the entry error rates are unacceptably high, as measured in a recent experiment entering more than 10,000 known dates in 12 different combinations of factors (phone vs. tablet; single-entry vs double-entry; calendar vs. no-calendar vs. radio button interface).  (Mean rate = 1 error in every 20 dates, aft

[2017-02-19 21:51] dalerhoda opened #425 "Radio buttons with few options: add more space between response rows"
When a radio button question has a small number of answer options: (e.g., male or female) it would be nice to separate them a bit, to decrease the likelihood of accidentally pressing the wrong button.

Our recent experiment on date data entry errors also showed one error in every 50 entries of sex.  Spacing the responses farther apart might help drive this error rate down where it belongs...well b

[2017-02-19 21:56] dalerhoda opened #426 "Radio buttons with short responses: allow two columns of responses"
When radio button responses are very short (i.e., few characters per response), it would be nice to allow two columns of responses rather than make the user scroll.  In our recent date date entry experiment, we made a simple radio button interface for entering dates, and the amount of scrolling would be reduced if the days could be listed in two (or even 3) columns.  (With enough left-right space

[2017-02-19 22:10] dalerhoda opened #427 "Entering dates: move the no-calendar wheels down to the center of the screen"
With the current no-calendar option for collecting dates, the wheels appear near the top of the screen.

The interface allows long scrolls...as long as your finger starts on the wheel, it can scroll downward to the bottom of the screen and scroll through many options.

There is less ability to scroll upward through many options because one's finger hits the top of the screen quickly.

This means t

[2017-02-19 22:22] dalerhoda opened #428 "Entering dates: add option for device to read back the date"
Again, thinking about minimizing date data entry error rates:

After the date is entered (with any date interface), it would be nice to have the option to have the device read the date back to the data collector, out loud and ask them to swipe to acknowledge it.  Perhaps the date should appear on the screen at the same time.

The date should appear in the same order as the interface elements and i

[2017-02-19 22:24] dalerhoda commented on #428
Although I have written this issue with dates in mind, others may want the capability to read back other types of responses, as well, with the idea that it may help catch data entry errors.

[2017-02-19 22:34] dalerhoda commented on #24
Adding my "AMEN!" and +1 here...

Perhaps it is easiest to record the entire session, but I've heard of platforms (perhaps it was the proprietary platform that Research Triangle Institute (RTI) uses) where you can record audio for a PORTION of the interview, starting when they come to, say question 23 and ending when they finish question 27 later.

Honestly, I don't know how that feature handles t

[2017-02-20 01:54] lognaturel commented on #257
Starting with the `ActivityLogger` class sounds reasonable but I don't think we should feel any attachment to it if it's not meeting our needs or not well designed (I haven't looked at it in detail yet). It would be totally reasonable to design a parallel system and then take out `ActivityLogger` and related functionality. I know that it is used somewhat because it results in a couple of `NullPoin

[2017-02-20 01:59] nap2000 commented on #257
OK thanks Hélène,

That is the approach I will take then.  Start with Activity Logger and if it seems right create a TimerLogger class instead.

What do you mean by testing?  A test plan or is this automated testing?

[2017-02-20 02:10] lognaturel commented on #257
#392 had been on my mind so I think the ideal would be some automated testing as appropriate of things like turning logging on and off, making sure the file has the intended structure, the file is submitted and things like that. This should hopefully encourage a more modular design that will be easier to change and more robust.

This is new for this project so we're all learning together and it wi

[2017-02-20 02:27] lognaturel commented on #24
@dalerhoda It would be great to hear more about how other tools do it!

It should be possible to start and stop the recording (although there could be performance issues). #257 should make it possible to map audio time to form events. It would be pretty cool to have an interface something like [Soundcloud](https://soundcloud.com/boniver/calgary)'s where form events are overlaid on a visual represe

[2017-02-20 02:40] lognaturel commented on #426
@martijnr is this finally a reasonable use of `appearance`?! 😃 I think you have `horizontal` and `horizontal-compact` in Enketo, right? Do you have interest on adding community-standard `two-column` and `three-column` values or should we just do it for Collect and document it... somewhere?

[2017-02-20 02:48] lognaturel commented on #425
I think this issue is going to depend a lot on device. I was shocked to use some devices recently where the touch screen seemed subtly off -- I'd have to tap a whole half centimeter below where I wanted the tap registered. On my own test device, taps are precise and I'd never have any chance of selecting the wrong radio button.

I see two options here:
- Decide the count limit below which there's

[2017-02-20 03:16] lognaturel commented on #424
I think we can add a setting in general settings' Client section called "Date Format" that when tapped shows a dialog with radio button options. The default option can be "Use phone locale" and additional options can be "yyyy-dd-mm", "yyyy-mm-dd", "mm-dd-yyyy", "dd-mm-yyyy". Would that meet your requirements, @dalerhoda?

Another option that I haven't thought deeply about is to make this a form se

[2017-02-20 03:59] #419 closed, assigned to nobody

[2017-02-20 05:31] #384 closed, assigned to nobody

[2017-02-20 05:36] yanokwa opened #434 "Remove form processing logic option from settings"
I'd like to move `Reset application` and `Form processing logic` to General Settings. I'd like to do this move because then the distinction between the two become very clear. General Settings are where all the settings are. Admin Settings are for when you want to show/hide things.

[2017-02-20 05:37] #421 closed, assigned to nobody

[2017-02-20 05:41] yanokwa opened #435 "Reset app state should reset Admin Settings and bulk configure file"
When you reset the app state (currently in Admin Settings), the  Settings option only resets General Settings. My vision for this app reset is to get the app back to the default settings and remove anything that could change that. I believe the reset should also:
1. Reset Admin Settings
1. Delete odk/settings/*
1. Delete /sdcard/odk/collect.settings

[2017-02-20 06:40] nap2000 commented on #257
ok I will add a test plan to the document and look to include some early unit tests.

[2017-02-20 07:32] ChrisCorey commented on #257
All

Sorry I have dropped out of this thread for so long – Annual Review has just wrapped up.  The direction this has taken seems good to me.  Many thanks to everyone.

Chris Corey

From: Neil Penman [mailto:notifications@github.com]
Sent: Sunday, February 19, 2017 10:40 PM
To: opendatakit/collect
Cc: Corey, Christopher; Mention
Subject: Re: [opendatakit/collect] Time logging of questions (#257)

[2017-02-20 08:17] yanokwa opened #437 "Improve View Sent Form blank text"
When you tap View Sent Form, it should say something like "Nothing available to display. Try sending finalized forms before viewing."

[2017-02-20 08:22] yanokwa opened #438 "Ensure icon sizes are consistent"
Make sure the icons that are used in Google Drive downloads and in View Sent Form's encrypted forms are consistently sized.

[2017-02-20 11:28] lognaturel opened #441 "Refactor preference classes"
The [PreferencesActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/preferences/PreferencesActivity.java) and [AdminPreferencesActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/preferences/AdminPreferencesActivity.java) classes do most of their work in their `onCreate` methods. T

[2017-02-20 12:43] calcahope opened #442 "Can't send photos from collect to google spreadsheets anymore"
Hi,

I'm pretty new with the software, i'm developing a form for my employees to send field reports (with photos) and received them to my mail. I made a form, conect it to google spreadsheets and then made a script on google to send the mail. All was good and fine until I had to change some things to the form and now i receive this error everytime I want to send a picture:

![whatsapp image 2017-0

[2017-02-20 15:35] smoyte opened #443 "Custom config fields/"form metadata""
The new "Form Metadata" activity described in #311 is awesome, and even more awesome would be the ability to define custom fields there so that data could be entered once at the app level and then included in all submissions. Examples could be a team name, region code, etc. This would prevent enumerators from having to fill out the same data over and over, thus reducing errors.

Things defined in

[2017-02-20 15:36] smoyte commented on #311
@lognaturel done. See https://github.com/opendatakit/collect/issues/443

[2017-02-20 17:46] MartijnR commented on #426
Yes, totally in my opinion!! Whoohoo! 🎉 :balloon:

I believe ODK has a `compact-n` appearance already (or at least a compact-2) because Enketo seems to have adopted this too (looking at the code for n=1 to 10) and it's on [this table](http://xlsform.org/ref-table/).

In Enketo `appearance=horizontal` is more intelligent and determines the number of neatly-lined-up columns based on the available sc

[2017-02-20 22:17] grzesiek2010 commented on #435
@yanokwa
I think you are right I'll take this and I'll start work on this tomorrow.

[2017-02-21 09:41] lognaturel opened #445 "Crash: Non-Question object at the form index"
#### Software and hardware versions
Collect v1.4.15

#### Problem description
Seeing a crash in the Play Store Console related to recent changes in #406

#### Other information
[code]

[2017-02-21 10:37] grzesiek2010 commented on #445
This problem occurs only with select one widget and only if we use field-list (all on one page).
here is a form:
[form.txt](https://github.com/opendatakit/collect/files/789813/form.txt)

[2017-02-21 18:10] mitchellsundt commented on #434
I am skeptical of moving Form processing logic -- unless "General Settings" are things that an ordinary data collector should never touch.

Changing this setting will change how the form is evaluated and can result in different behaviors. I.e., if a data collector randomly changes this setting, their forms may not operate correctly. This was placed in the admin settings screen because it should on

[2017-02-22 02:37] lognaturel commented on #434
Removing the `Form processing logic` option with the minSDK update in the next release sounds great.

[2017-02-22 02:46] #445 closed, assigned to nobody

[2017-02-22 03:32] yanokwa commented on #442
Hi @calcahope! I have been able to reproduce the problem. It's because the Google APIs that we use have changed. We are in the middle of updating them (Issue #367) and I hope we can have a fix out in a few weeks.

Until then, one workaround is for you to use ODK Aggregate as the backend and then use the Aggregate publisher to stream data to Google Sheets.

[code]

[2017-02-22 03:33] yanokwa opened #450 "Make sure Google Sheets publishing works for Google Apps domains"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
Google sheets publishing doesn't work for Google Apps for your domain accounts.

#### Steps to reproduce the problem
*note: you will want to have a "Google Apps for your domain" account to test. This is an account that is in a custom domain (email address @something.com) but that is hosted on Google infrastructure. Your

[2017-02-22 16:08] smoyte opened #452 "Prefill with last-entered value"
Hello!

We are designing for cases where enumerators are going from house to house and want to copy forward the same cluster number and/or keep an incrementing tally of houses visited (assigning a number to each one).

I propose we could handle both of these needs by giving the ability to pre-fill a question with the value for the same question on the most recently saved (but not necessarily final

[2017-02-23 12:17] grzesiek2010 opened #453 "Deleted forms are visible in "Send Finalized Form" view when user changes view to "Show Sent and Unsent Forms""
#### Software and hardware versions
Collect v1.4.16

#### Problem description
Deleted forms are visible in "Send Finalized Form" view when user changes view to "Show Sent and Unsent Forms"

#### Steps to reproduce the problem
1. Fill and finalize any blank form.
2. Send finalized form.
3. Delete this form.
4. Go to "Send Finalized Form"
5. Change view to "Show Sent and Unsent Forms"

#### Actual b

[2017-02-23 12:51] grzesiek2010 opened #456 "Wrong settings file path"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
When user saves settings to file this file is stored in odk/settings/collect.settings but then we try to load this file form odk/collect.settings and the file is not found of course. https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/MainMenuActivity.java#L133

[2017-02-23 12:55] grzesiek2010 commented on #435
I created pr for this issue but I don't understand something. As I noticed we save settings in collect.settings file which is stored in odk/settings/ so I don't understend points 2 and 3. I think it should be one point eg. "Delete odk/settings/collect.settings" am I wrong?

I created related issue https://github.com/opendatakit/collect/issues/456

[2017-02-23 20:18] #293 closed, assigned to nobody

[2017-02-23 20:44] lognaturel commented on #456
This is actually the intended behavior -- saving and loading settings are done from separate locations. This is because when you save settings, you're not saving them for this device but for some other one or mass configuration, etc. We don't want to load and delete those saved settings on next app launch.

That said, this is not very intuitive or well-documented. We should give some thought to ho

[2017-02-23 21:42] yanokwa commented on #442
Another interesting tidbit from the mailing list "The error is also Google Account specific. From a test account from which I had done an upload previously (more than 10 days back), the new uploads are successful but failing from a Google account which is using this upload feature for the 1st time."

[2017-02-23 21:45] #255 closed, assigned to nobody

[2017-02-24 10:01] grzesiek2010 commented on #383
I noticed something even stranger - missed first week Jan/1940 in Nairobi timezone.
![screenshot_2017-02-24-12-57-43](https://cloud.githubusercontent.com/assets/3276264/23299103/805e9348-fa80-11e6-9e46-e9507f44cfc7.png)

[2017-02-24 21:38] PatrickDale commented on #392
When developing a testing strategy, I think it is very important to remember the [testing pyramid](https://martinfowler.com/bliki/TestPyramid.html). An example of this pyramid is in the [Translation Cards](https://github.com/translation-cards/translation-cards) project. We have used Appium for our "UI" tests, Robolectric for our "Service" level tests, and JUnit + Mockito for our unit tests. I am h

[2017-02-25 01:23] mitchellsundt commented on #392
To be clear:
- I'm not saying "UI-testing-first -- that you must have UI tests for a section of code before you write integration tests or unit tests"
- I'm not saying "don't unit test."
- I'm not saying "do not require developers to provide a test for whatever change they've checked in." This is necessary for bootstrapping into a tested app. At a minimum, it serves to begin to build out and valid

[2017-02-25 11:41] shobhitagarwal1612 commented on #441
@lognaturel I would like to handle this issue. Any advices?

[2017-02-25 12:07] yanokwa commented on #441
Hi @shobhitagarwal1612! @dcbriccetti has dibs on this issue.

[2017-02-25 16:55] shobhitagarwal1612 commented on #441
ok

[2017-02-26 01:12] dcbriccetti commented on #441
I’d like to work this one. And I’d welcome input.

[2017-02-26 17:54] srsudar commented on #392
@mitchellsundt I was mostly trying to rebut what I interpreted as your initial claim, that the linked Google post was wrong/inverted, and that the natural hierarchy was UI tests first. Maybe you were speaking about what makes sense for Collect, as an existing largely un-tested codebase, rather than testing in general. I agree with your amended bullet points (with a caveat for number 2, that if it

[2017-02-26 19:39] lognaturel commented on #441
@shobhitagarwal1612 Apologies -- @dcbriccetti and I had a separate conversation about these specific classes and I filed this issue just for him. We should have made sure it was clear he was taking it on and really had more of our conversation in a public channel. We will make sure to do better in the future!

If you are interested in some refactoring, that would be great! There's a lot to do rang

[2017-02-26 20:16] #416 closed, assigned to nobody

[2017-02-27 05:14] shobhitagarwal1612 commented on #441
@lognaturel Do have some similar bugs in mind?

[2017-02-27 10:36] shobhitagarwal1612 opened #461 "TabActivity is deprecated"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
Some classes like [FileManagerTabs](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FileManagerTabs.java) use TabActivity which is deprecated now.

#### Other information
We should use Fragments Tab Pager instead of TabActivity class

[2017-02-27 13:32] #437 closed, assigned to nobody

[2017-02-27 14:06] #304 closed, assigned to nobody

[2017-02-27 14:52] #238 closed, assigned to nobody

[2017-02-27 16:16] yanokwa opened #462 "Move link to ODK website to About menu"
The first item In General Settings is `ODK Collect`. This should be moved to the first item in the `About` menu.

The text should be `Open Data Kit website` and the link should point to `https://opendatakit.org`. There should be no summary text.

[2017-02-27 18:19] NamanArora commented on #462
Hello, I would like to work upon this issue and fix it at the earliest. Can I proceed with it?

[2017-02-27 18:26] yanokwa commented on #462
It's yours, @NamanArora!

[2017-02-27 20:14] lognaturel opened #464 "User Experience Refresh"
ODK Collect was designed and released in late 2008, around the time Android reached 1.0! Its look and feel has not been updated since and it's overdue for update to bring it in-line with Google's Material Design principles.

This project will require a review of mobile data collection tools in the space for inspiration, a number of design iterations backed with stakeholder feedback, and then an im

[2017-02-27 20:23] jnordling commented on #194
Just put in a PR on this https://github.com/opendatakit/collect/pull/465

[2017-02-27 20:36] thegenuinegourav opened #466 "java Null Pointer Exception on getVersionedAppName() method thus causing app to crash"
#### Software and hardware versions
Collect v1.x.x, Android v5.1.1, device used...

#### Problem description
App Crashes as soon as it installs.

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-02-27 20:44] thegenuinegourav commented on #466
Just updated the code
here is the PR: https://github.com/opendatakit/collect/pull/468

[2017-02-27 20:53] yanokwa commented on #434
I think we should leave Reset in Admin Settings because the reset also resets the admin password :)

[2017-02-27 21:23] nribeka commented on #415
I can have a look at this @yanokwa.

Looking real quick at the code, cmiiw, it query to get all form instances by their id and then it iterate and upload that form instance one by one, right?

[2017-02-27 21:38] #462 closed, assigned to nobody

[2017-02-27 21:40] yanokwa commented on #415
Great, @nribeka! Yeah, my quick look confirms your assessment.

[2017-02-27 21:47] #435 closed, assigned to nobody

[2017-02-27 22:00] #438 closed, assigned to nobody

[2017-02-27 22:31] yanokwa commented on #462
Congrats on your first PR, @NamanArora. 🎉🕺🏾🎉

[2017-02-28 00:28] nap2000 commented on #415
Great.  It would be good if the solution completely removed the limit.  That is automatically send 1,500 instances rather than alerting the user that they have selected more than 999 or just sending 999 and waiting for the user to select the remaining 501.

Would it be possible to have some kind of test script that can generate a large number of test instances included as part of this fix?  This w

[2017-02-28 03:53] nribeka commented on #415
@nap2000 I just open #470 and was looking for some sort of script to test this out. Definitely don't want to create 1000 form instances by hand.

[2017-02-28 04:20] nap2000 commented on #415
@nribeka thanks for looking at this!

How did you go testing it with 1 instance?  Also you should test it by adjusting the SQLITE_MAX_VARIABLE_NUMBER to say "2" then try with 3 instances.  If you didn't do something like this then I think you may find some errors though I could be wrong.
  1. Row 530.  The selection args array will be greater than the number of parameters?
  2. Row 531.  When send

[2017-02-28 04:37] jnordling commented on #418
I think there are two main ways to go about this one.

It can definitely be down via XLSForm standardIs with the text data type and groups via http://xlsform.org, I have done this in the past for manually typing in GPS from Garmin devices. For polyline/polygon data you could have a group name manual_geoshape and then either use repeated groups function or blob/long text a user can can type it in.

[2017-02-28 04:40] jnordling commented on #265
Ill take this one. I have been wanting to add this for awhile. Ill have to think about it via ODK core structure. I thinking at the map setting level add a config your online use of a tile layer.

[2017-02-28 04:49] jnordling commented on #407
I think this would be nice. Always nice to show all the people working on the project. Could be good for morale.

[2017-02-28 04:54] nribeka commented on #415
@nap2000 ah you create a separate copy of array for each chunk? I think I was trying to avoid that approach, but I definitely can refactor the code if that makes the code more readable.

[2017-02-28 08:54] NamanArora commented on #424
@lognaturel Hi! I would like to know the status of this issue. Is this still under consideration?

[2017-02-28 10:13] grzesiek2010 commented on #367
I was working on this a few weeks ago but I wasn't able to finish. The doc wasn't very well and it was short of good examples (https://developers.google.com/sheets/api/quickstart/android as I can see last update is February 23 so they are still working on that).

I'm told someone asked about this issue so you can feel free and take it as now I'm working on a few other things and it doesn't make se

[2017-02-28 13:42] abhaymaniyar commented on #464
I would like to work on its UI. I will be using Material design principles. I am also thinking of changing default network access framework to Retrofit 2 because of its simplicity. I am also thinking of implementing #407 in the app using GitHub API. Any comments on that?

[2017-02-28 13:55] abhaymaniyar commented on #407
I would like to work on Collect's UI. I will be using Material design principles. I am also thinking of changing default network access framework to Retrofit 2 because of its simplicity. I am also thinking of implementing this functionality in the app using GitHub API. Any comments on that?

[2017-02-28 13:56] yanokwa commented on #464
Hi @abhaymaniyar, if you'd like to change the default network access framework, please file a separate issue and we can discuss it there.

The UI improvements are a GSoC project. If you are a student, you are welcome to apply! To strengthen your application, share your ideas and mockups for ODK Collect in this thread.

[2017-02-28 14:07] yanokwa commented on #407
@abhaymaniyar And what about the people who contributed before the code was on GitHub?

[2017-02-28 14:27] Dvik commented on #132
LocationListener has been used in many Activities. So, should the error message be displayed in all the Activities or am i missing something here?

[2017-02-28 14:33] Dvik commented on #408
Would it be better if the width of the buttons are in a particular ratio like 1:1:2?

[2017-02-28 14:45] yanokwa opened #472 "Scan the instances folder for new instances and insert it into instances provider"
This functionality is needed because sometimes you need to add a submission to a device. The use cases are...
1. An implementer who wants to programmatically generate pre-filled instances with folders. This is useful for follow-up studies.
1. An implementer who moves instances from one device (data collector) to another (manager) to implement a supervise-and-send workflow.
1. A developer who wants

[2017-02-28 14:46] yanokwa commented on #415
+1 to the test script idea. The way I'd do this is to write a script that generates all the instances folders. Then I'd copy instances.db from an existing Collect install and use an insert query to add those instances. Then move the instances and instances.db to the existing ODK install. @nribeka are you up for trying this approach out?

An alternative approach is #472, but that's going to be a bi

[2017-02-28 17:40] lognaturel commented on #424
@NamanArora Yes! I think we just need some input from @dalerhoda to make sure we address this in a way that is most helpful. @yanokwa may have some thoughts as well.

[2017-02-28 17:42] lognaturel commented on #466
Can you please edit your issue description to include the stack trace and details about the device/emulator that you are running the app on?

[2017-02-28 17:58] grzesiek2010 commented on #285
We can close this as we finished #293  targetSdkVersion. Now it looks ok.

[2017-02-28 17:58] #285 closed, assigned to nobody

[2017-02-28 18:29] abhaymaniyar commented on #464
Sure @yanokwa and thank you!

[2017-02-28 18:38] Andy671 commented on #464
A bunch of issues of the project on github are caused by old API's. To my mind, project should be rewritten based on the new techniques - with Support Library, Fragments etc. I can start working on refactoring.
I have made sketches of new User Experience targeting modern UI/UX design tendencies.
![Image](https://i.imgsafe.org/5c35283fda.png)
What do you think about that?

[2017-02-28 18:45] abhaymaniyar commented on #407
@yanokwa I think then we would have to add their names manually. And if we have a excel sheet about their details, we can extract the required data programmatically.

[2017-02-28 19:50] lognaturel commented on #306
Addressed by #471 but the information about stable IDs will be important for addressing #303.

[2017-02-28 19:50] #306 closed, assigned to nobody

[2017-02-28 20:25] vikasdesale commented on #466
Hi @lognaturel
**Problem**
App Crashes as soon as it installs because of attempting to invoke null object reference as given in below link more details.after trying many times to upload images by dragging on GitHub.I have created HTML file.
**Please See.**
https://vikasdesale.github.io/issue_466.html

sorry for the inconvenience!

Thanks and Regards,
Vikas Desale

[2017-02-28 20:44] yanokwa commented on #466
@vikasdesale Image upload probably won't work because S3 is down. See https://twitter.com/awscloud.

I think this NPE is likely because the build scripts require that you have tags and you might not have fetched tags.

@thegenuinegourav @vikasdesale What happens if you run `git tag`. Do you see a bunch of tags? My guess is no. What happens then if you run `git fetch --tags` and then try to run the

[2017-02-28 21:17] lognaturel commented on #408
@Dvik I'm not sure if that's the right ratio (maybe 1:1:1 makes sense?) but the idea of fixed ratios is probably the right one. It'd be great to see it in action if you'd like to submit a pull request.

[2017-02-28 21:24] nribeka commented on #472
This probably not gonna fly easily.

tl;dr:
* You can only relate an instance record with the instance xml file using the path.

The instance record looks like this:
`2|sample||true|/storage/sdcard/odk/instances/sample_2017-02-27_23-29-21/sample_2017-02-27_23-29-21.xml|sample||submitted|1488257479383|Sent on Mon, Feb 27, 2017 at 23:51|`

The instance xml looks like this:
[code]

One approach that

[2017-02-28 21:26] lognaturel commented on #235
Closed by #417

[2017-02-28 21:26] #235 closed, assigned to nobody

[2017-02-28 21:42] lognaturel commented on #443
@martijnr I bet you would say [external secondary instances](https://opendatakit.github.io/xforms-spec/#secondary-instances---external) would be a great way to address this...

[2017-02-28 21:44] lognaturel commented on #472
@yanokwa Can you please describe a use case in your initial issue description?

[2017-02-28 21:54] lognaturel commented on #452
This is related to and perhaps a duplicate of #389. What do you think, @hooverlunch, @ratikanta-sdrc, are you trying to achieve the same thing?

[2017-02-28 22:00] lognaturel commented on #452
Hey, actually, I think this could also be achieved with full [external secondary instance](https://opendatakit.github.io/xforms-spec/#secondary-instances---external) support, right @martijnr? I think there might have to be something additional to identify the last instance for the current form.

[2017-02-28 22:07] #156 closed, assigned to mitchellsundt

[2017-02-28 22:14] lognaturel commented on #132
I believe that is correct, @Dvik. You may want to start by trying to uninstall play services (I think it's possible in the emulator but I'm not sure) and verifying that the crash happens each time `LocationListener` is used.

[2017-02-28 22:24] lognaturel commented on #42
opendatakit/xforms-spec#79 has a discussion on implementing this at the ODK XForms spec level.

[2017-02-28 22:30] Dvik commented on #408
Is this change acceptable?
The first one is the old one and the second the new one.
![old](https://cloud.githubusercontent.com/assets/6627828/23437283/882b934e-fe33-11e6-91ac-4f17fcb4c215.JPG)
![new](https://cloud.githubusercontent.com/assets/6627828/23437284/8bf81d62-fe33-11e6-9a0b-1dc55d6d1182.JPG)

[2017-02-28 22:31] lognaturel commented on #408
That's much better! I think the buttons should all have the same height, what do you think?

[2017-02-28 22:31] Dvik commented on #408
yeah, that's also my concern. trying to do that

[2017-02-28 22:47] lognaturel commented on #434
@yanokwa, how about changing the title of this to be "remove form processing logic option from settings."

[2017-02-28 23:00] Dvik commented on #408
The first one is when ODK Aggregate is chosen as platform and the second one when Drive is selected as platform. Let me know if this works.
![new1](https://cloud.githubusercontent.com/assets/6627828/23438277/441461f0-fe37-11e6-9595-4760f4611673.JPG)
![new2](https://cloud.githubusercontent.com/assets/6627828/23438278/4415ecf0-fe37-11e6-9858-d8234ea84072.JPG)

[2017-02-28 23:03] lognaturel commented on #408
Looks great! Do make sure it still looks reasonable in English and then I think it's ready for a pull request!

[2017-02-28 23:10] Dvik commented on #408
In English.
![eng2](https://cloud.githubusercontent.com/assets/6627828/23438680/f62853b4-fe38-11e6-82c9-2e2fc710ab1d.JPG)
![eng1](https://cloud.githubusercontent.com/assets/6627828/23438681/f6305488-fe38-11e6-9d11-4161f33d6075.JPG)

Also, in future as a part of the UX changes in GSOC, we should consider using the Bottom Navigation View recently added in the Design Support Library. https://material

[2017-02-28 23:11] lognaturel commented on #408
Fantastic.

Make sure to include suggestions like that in your GSoC application!

[2017-02-28 23:25] #408 closed, assigned to nobody

[2017-03-01 00:59] doomers opened #477 "Put regex in meaningfully-named methods and introduce unit tests"
See the discussion below for the suggested approach. The goal is to give meaning to the regex and test them.

[2017-03-01 04:44] vikasdesale commented on #466
Thank you @yanokwa :slightly_smiling_face: , your guess is correct sir that initial I haven't seen any tag.
1.I have fetched tags then reopened and rebuild app still shows NPE.
2.after that I edited build.Gradle and rebuild app still shows NPE.
Please look at this sir.
**Solution:**
                I have only checked for versionName not null before appending the value.

Thanks and Regards
Vikas D

[2017-03-01 07:28] shobhitagarwal1612 opened #478 "Update play-services gradle dependency"
#### Problem description
Play Services gradle dependency in `build.gradle` can be updated from `v10.0.1` to `v10.2`.
Since the `minSdkVersion` is now `16` and `v10.2.x` requires `API 14`, so it won't introduce any support issues.

Google has added a new [SnapShotAPI](https://developers.google.com/android/reference/com/google/android/gms/awareness/SnapshotApi#getTimeIntervals(com.google.android.gms

[2017-03-01 08:26] rishsethia commented on #74
@yanokwa I can help in documenting the intent-filters of Collect and how to use intents to launch Collect ! Do you want me to do so ?
Thanks

[2017-03-01 09:26] shobhitagarwal1612 opened #482 "Google map not loading in GeoPoint Widget"
#### Software and hardware versions
Collect v1.4, Android v4.4, device used...

#### Problem description
Google map is not loading in GeoPoint Widget

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

![device-2017-03-01-145412](https://cloud.githubusercontent.com/assets/8918023/23453

[2017-03-01 09:30] grzesiek2010 commented on #482
Look at https://github.com/opendatakit/collect#using-apis-for-local-development -> Google Maps API probably this is your problem. Please confirm that and close the issue if everything is ok.

[2017-03-01 09:41] shobhitagarwal1612 commented on #482
@grzesiek2010 Thanks, that indeed was the problem.
Closing the issue.

[2017-03-01 09:41] #482 closed, assigned to nobody

[2017-03-01 10:17] Dvik commented on #132
If play services are uninstalled, the app crashes because of a null pointer exception on LocationManager object in onPause(). it can be easily prevented by a null check. This is the case in GeoPointMapActivity.
However,even if the app doesn't crash, it does nothing to inform the user that play services are not installed on his device.

[2017-03-01 11:23] rishsethia commented on #272
@wonderchook  @yanokwa @lognaturel
I want to create the sample XLSForm ! Should I go ahead ?

[2017-03-01 14:23] #453 closed, assigned to nobody

[2017-03-01 15:21] lognaturel commented on #272
@rishsethia Yes please, that would be wonderful!

[2017-03-01 15:32] lognaturel commented on #132
@Dvik I agree with you that the user should be told that the problem is lack of Play Services. I think a message when any of the Geo activities is opened would be appropriate since they can't work without play services. The challenge there will be to see whether you can share code between some or all of them. You'll see that there's a lot of redundancy already. If you have to add some more now, I

[2017-03-01 15:42] MartijnR commented on #443
Yes, absolutely. :) It's a perfect use case for it and the value can be accessed with instance('session')/path/to/node. The cool thing is that these external XML instances could be dynamic and vary per project or user (if the server supports that).

[2017-03-01 15:45] MartijnR commented on #452
In this case it could be internal as well perhaps (since it may not be submitted), i.e. the client dynamically adds the last instance to the XForm and it can be accessed by `instance("__last")/path/to/node` e.g. I'm assuming this is really something for a custom fork, right?

[2017-03-01 15:54] lognaturel commented on #452
Thanks, @MartijnR! Does dynamically adding the last instance to the XForm mean literally writing all of the contents of one XML file (the one for the last instance) to another (the latest instance)?

It actually sounds like a fair number of people want something related to accessing values from previous form instances. I think it's somewhat related to the concept of case management?

@hooverlunch

[2017-03-01 15:59] smoyte commented on #443
I read the linked docs but I don't quite get the idea here.

Are you just suggesting this as a way to implement the custom metadata feature? i.e. as the user defines the metadata we would store it in a special external instance that is local to the phone? If so, I'll trust that that makes sense as I don't have much experience with JR internals.

We definitely want the ability to edit these values

[2017-03-01 16:00] lognaturel commented on #443
Yes, @hooverlunch, some of us talking about the ODK XForms spec [here](https://github.com/xlsform/) have been talking about deprecating preloads since they're kind of a hack. So I'm not sure that'd be the way to go.

@MartijnR, there's nothing that would prevent the XML file from being something that's just local and generated when the phone's owner writes some settings, right? Does one of the spe

[2017-03-01 16:09] smoyte commented on #452
@MartijnR definitely no custom fork! We are on the band wagon and want to stay there :)

@lognaturel Good point.

Perhaps we keep a simple, local cache for each pair (form, question) where question is a question that has `jr:preload="previnstance"` defined on it. Each time a new instance is filled out, we overwrite that value in the cache.

How that gets stored and injected into the instance on th

[2017-03-01 16:10] lognaturel commented on #443
@hooverlunch It's a little fuzzy in my mind, too, which is why I'm pulling in @MartijnR who already supports external XML instances in Enketo and understands XPath a <strike>bit</strike> lot better.

What I'm imagining is that there'd be some standard name for the file generated from user settings (custom-user-metadata.xml or something, in fact that could also be a setting to reduce the magic or p

[2017-03-01 16:13] smoyte commented on #443
I get it. Then we'd use `calculate` to load the value in instead of `jr:preload`?

[2017-03-01 16:25] lognaturel commented on #478
@shobhitagarwal1612 Thanks for describing in detail why this would be helpful and investigating potential version conflicts!

This version upgrade will require people who are currently running Google Play Services 10.0.1 to upgrade, right? It's a pretty big download so I think we should delay this as much as possible.

[2017-03-01 16:29] lognaturel commented on #452
Let's take a step back. You mentioned two cases -- copying forward a cluster number and keeping a tally. For the cluster number, how often does this value change? Could something like what you're describing in #443 be used?

For the tally, how would it be used? Does the enumerator actually need to know the count? Is being able to see how many forms were sent sufficient for example? Is it more that

[2017-03-01 16:29] MartijnR commented on #452
Hmm. Maybe good to move this to the spec repo. I find accessing the last saved instance a rather weird feature.

The way I understand case management is that it allows tracking an entity (e.g. over time) for longitudinal surveys. This would be a awesome to support, and I think it would require the ability to download previously submitted instances for that entity and form.

edit: our messages cros

[2017-03-01 16:34] lognaturel commented on #466
Can someone please include the stack trace?

[2017-03-01 16:37] MartijnR commented on #443
yes, this could be done in conjunction with revamping existing preload items, or be a separate feature (a separate XML document).

No, but I think the existing spec(s) cater(s) to either an internal secondary instance (without src) or to an external instance that is published in the xFormsManifest. To support 'local external' src attribute values we should probably consider adding a new URI scheme

[2017-03-01 16:43] MartijnR commented on #452
Actually, yes it does seem caseDb is for locally stored data, so I guess you could create an XPath query for last locally stored item. Maybe it's a synced database. So yes, seems totally right @lognaturel.

[2017-03-01 17:06] lognaturel commented on #443
I'm really liking this general approach. Of course, the challenge for getting this into Collect is that no one really seems to know what the status of external secondary instance support in JR is. See [this](https://github.com/opendatakit/xforms-spec/issues/50#issuecomment-277174668) for fun times.

I would be in favor of doing this in conjunction with revamping the existing preload functionality

[2017-03-01 17:11] smoyte commented on #452
@lognaturel here is some more detail on the scenario:

1. The cluster number is roughly analogous to a village. They don't want to enter it in the metadata screen because then folks will forget to change it when they move to the next village. They want folks to see and manually _confirm_ the previously entered value (by swiping to the next question) each time they fill out a form.
1. The household

[2017-03-01 17:15] smoyte commented on #443
This is all a bit over my head at this point but it sounds good to me. I'm all for refactoring/revamping as we go, within reason.

[2017-03-01 17:28] doomers commented on #477
@yanokwa @lognaturel Please have a look at this.

[2017-03-01 17:44] lognaturel opened #488 "Crash when trying to get GDrive contents in API 16 emulator"
#### Software and hardware versions
Collect v1.4.16-18-gd398fc05, Android 4.1.2 emulator, Google Play Services 9256030

#### Problem description
Collect crashes when trying to list contents of GDrive.

#### Steps to reproduce the problem
1. Set Platform to Google Drive, Google Sheets in General Settings
1. Tap Get Blank Form
1. Tap My Drive

#### Expected behavior
This seems to be due to the Play

[2017-03-01 17:54] lognaturel opened #489 "Calendar numbers are unreadable on Android 4.1.2"
#### Software and hardware versions
Collect v1.4.16-18-gd398fc05, Android 4.1.2 Nexus 5 emulator

#### Problem description
<img width="223" alt="screen shot 2017-03-01 at 12 48 59 pm" src="https://cloud.githubusercontent.com/assets/967540/23473252/812b8884-fe7d-11e6-9819-df0faffb7f96.png">

#### Steps to reproduce the problem
1. Download a form with a calendar question such as New Widgets from the

[2017-03-01 17:58] Dvik commented on #488
i think this error is independent of play services version and is related to invalid or no API key for accessing the Drive API.
https://github.com/opendatakit/collect#using-apis-for-local-development

[2017-03-01 18:02] lognaturel commented on #478
I accidentally came across an example of what happens when there's a Google Play Services version mismatch in #488. It looks like we don't do any version checking so the app will just crash on a version mismatch. 😳

In preparation for this eventual upgrade, it would be very useful to identify every place where Google Play Services needs to be installed and have a certain version and add a check wi

[2017-03-01 18:10] shobhitagarwal1612 commented on #489
How about we input the date from user in custom dialog box?

[2017-03-01 18:13] shobhitagarwal1612 commented on #478
@lognaturel Yes I think we should check whether google play services is installed or not before accessing any related feature (Google maps, Google Sheets or Google Drive API)

[2017-03-01 18:14] shobhitagarwal1612 commented on #478
Should I file a separate issue regarding the same?

[2017-03-01 18:16] MartijnR commented on #443
I think whether it belongs with preload items (and thus a possible future session instance) or as a separate secondary instance, may depend on where these custom values are defined, either in the app or at the server.

In the latter case, it's already supported according to our current XForms spec. All the work is done by the OpenRosa server by creating the XML document, and (by server or form bui

[2017-03-01 18:16] lognaturel commented on #489
For now I think we should try to just make the numbers the same size across Android versions if possible.

I do agree that the date and date-time widgets need rethinking. If you could file a separate issue with your thoughts on what that would look like, that would be very helpful. Before doing that, I recommend you check out the related issues filed by @dalerhoda.

[2017-03-01 18:19] lognaturel commented on #488
@Dvik I am running the exact same code between the two emulators. Did you try it with Google Play Services < 10084000 and get it to work?

Also look at this line: `Caused by: android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.VIEW dat=market://details?id=com.google.android.gms&pcampaignid=gcore_10084000-e-org.odk.collect.android-2029 flg=0x800

[2017-03-01 18:24] lognaturel commented on #478
That would be great. I encourage you to tag @Dvik and coordinate with him as I think he is interested in handling part of this as discussed in #312.

[2017-03-01 18:25] Dvik commented on #488
Not yet. I am downloading API 16 with no google api. Will let know once done.
Funnily enough, i was getting the same error yesterday when i had not set up the APIs for local development.

[2017-03-01 18:27] lognaturel commented on #488
@Dvik Great, it will be very interesting to see your experience.

I think it makes sense that the error would be the same. In either case, the problem is that the Intent can't be handled. In one case it's because of the missing keys and in the other because of the version mismatch. But I'm not sure, your attempted reproduction will tell us!

[2017-03-01 18:31] shobhitagarwal1612 commented on #489
@lognaturel I'm onto this issue for now

[2017-03-01 18:35] MartijnR commented on #452
@hooverlunch Apologies for using 'weird' to describe it. Your use case is obviously valid (because it exists). Thanks for elaborating on it. I meant, if it were suggested as an Enketo feature or XForms spec addition, it would seem at first glance to be too domain-specific to include in the 'master' app/spec and I'd suggest forking. Implementing it in a fork just by attaching the last locally store

[2017-03-01 18:48] shobhitagarwal1612 opened #490 "Check whether Google play services are installed or not"
#### Problem description
Currently the app doesn't check whether the play services of the required version are installed or not before trying to access any concerned google API like Google Maps, Google Sheets or Google Drive API. Right now the app doesn't give any hint to the user as to what is happening when services are not found

#### Expected behavior
To show a dialog box that the required ser

[2017-03-01 18:49] dcbriccetti commented on #477
Hi. Is the point of this to reduce code duplication?

[2017-03-01 18:53] Dvik commented on #490
i'm working on #132 which would fix the play services issue whenever location is accessed.
i'm also testing #488 on an API 16 emulator with no Google Play Service.

[2017-03-01 18:54] vikasdesale commented on #466
Thank you @lognaturel and @yanokwa for looking back to this issue.here is the stack trace and device screen
![untitled2](https://cloud.githubusercontent.com/assets/12857075/23475962/25768e00-fedf-11e6-8e34-bf681fbb4b65.jpg)

![untitled](https://cloud.githubusercontent.com/assets/12857075/23475875/ea9c5e36-fede-11e6-9f2e-479aa0c28de6.jpg)

Should I send a pull request?  :slightly_smiling_face:

[2017-03-01 19:02] shobhitagarwal1612 commented on #489
@lognaturel I build the latest code and installed it on Samsung GT-S5282 Android 4.1.2, API 16 but couldn't find the reported issue.

Attached image is of the same device
![device-2017-03-02-002921](https://cloud.githubusercontent.com/assets/8918023/23476101/9f1b4034-fedf-11e6-8dd4-5c37c6790447.png)

Could you also give information of the details of screen of the android 4.1.2 emulator used

[2017-03-01 19:17] yanokwa commented on #74
@rishsethia Yes, please do! Start with a first draft in Google Docs and post a link when you are ready for a review.

[2017-03-01 19:18] doomers commented on #477
Yes, Sort of, Moreover it is highly recommended to keep all similar kind of stuffs in a separate class and access them from there.

[2017-03-01 19:33] lognaturel commented on #489
That is very strange, @shobhitagarwal1612. I've updated my initial issue to say I was using a Nexus 5 emulator. I'm not sure whether that's relevant or perhaps it's a screen size/resolution related issue. I also notice that your numbers are perfectly centered but mine on API 22 are aligned with the top of each line so evidently there are some inconsistencies with this widget. Perhaps @grzesiek2010

[2017-03-01 19:35] lognaturel commented on #490
Great! So maybe we can wait for @Dvik's fix for #132 and then see how it can be generalized.

[2017-03-01 19:50] lognaturel commented on #477
I'm not sure that I love this as it hides behavior, there is very little (no?) duplication across classes and the regex are not related to each other other than by being regular expressions. I do agree that storing patterns in constants is helpful. I personally would prefer they were defined in the class they're used in or, if there are clusters with related functionality, perhaps separated in cla

[2017-03-01 19:56] dcbriccetti commented on #477
I fully agree with the first paragraph. Less enthusiastic about the method-per-regex idea. Maybe part of the unit tests for a class would cover the regexes.

[2017-03-01 20:07] lognaturel commented on #477
Is it possible to test a regex without it being in a method? I'm suggesting methods like [`setBinaryData`](https://github.com/opendatakit/collect/blob/21c1a5cb84d54b91e5dac25cbe477fce79770dfc/collect_app/src/main/java/org/odk/collect/android/widgets/BarcodeWidget.java#L129) in the `BarcodeWidget` class that encapsulate a single task and can be tested. (because many regex are currently buried in mo

[2017-03-01 20:15] dcbriccetti commented on #477
OK, I get you. That makes sense. I wasn’t keen on the idea of creating a new method for every regex specifically to enable testing. A method may use one or more regexes, and tests for the method might exercise them. Some operations using regexes might be abstracted into reusable methods, like `isEmailValid`.

[2017-03-01 20:24] lognaturel commented on #477
Yes, sorry, I can see how my wording implied just wrapping the regexen. I mean creating methods that separate out meaningful chunks of work around each regex (or couple of regexen). `isEmailValid` is an good example of what I hope we can end up with. That would be a great way to start getting some pure JUnit tests in (that test important things).

[2017-03-01 20:51] smoyte commented on #443
I think this sounds good to me. Our use case is the former one since, as I mentioned earlier, the client wants to be able to enter things like a team ID and/or other things at the phone level, once, and have them copied into all forms.

I should say though that I'm considering just kind of hacking it by using one of the new form metadata fields like email or username for this purpose as it would b

[2017-03-01 20:57] smoyte commented on #452
@MartijnR thanks for the clarification. Just so I'm clear, you're saying 1) Enketo is a fork of the main ODK Collect, 2) you wouldn't want the pre-fill-with-last feature but 3) maybe I can convince the ODK Collect folks to add it and then 4) you could just not merge it in? That sounds fine to me.

So then the way we'd implement it is some kind of special external instance that is maintained by ODK

[2017-03-01 21:04] lognaturel commented on #452
Oops, introductions may be in order. 😊 @MartijnR works on [Enketo](https://enketo.org/) which is an ODK XForms-compatible web-based form engine. Martijn, please let me know if my wording is not sufficiently precise. He has been doing a lot of work with the ODK XForms spec and we've been having lots of discussions about how to make sure it helps us have a vibrant, standards-compliant ecosystem.

@h

[2017-03-01 21:21] MartijnR commented on #452
Thanks @lognaturel :) I had just looked up Elmo! Nice!

Yes, so there are 3 100% unique data collection clients that follow the same XForms spec (of which Enketo is one), so we try to agree on spec additions and stay compatible. Nevertheless, our apps will of course have forks to meet organization-specific additional requirements that don't get accepted in the mother apps.

In this case, I don't w

[2017-03-01 21:30] lognaturel commented on #452
I think the big questions here are:
- can this be done with existing functionality
- if not, is it general enough to warrant changes to the ODK XForms spec and/or core ODK Collect

I think that the answer to the first question is unfortunately not really. But @yanokwa heard me muttering about this and made a very interesting suggestion which is to use an [external app](https://opendatakit.org/help

[2017-03-01 21:33] lognaturel commented on #452
@MartijnR Pardon my ignorance, what's the 3rd compatible engine?!

[2017-03-01 21:59] MartijnR commented on #452
@lognaturel It is the current [Survey123 mobile app](http://survey123.arcgis.com/) :)

P.S. external app seems like a great idea too!

[2017-03-01 22:27] lognaturel commented on #452
@MartijnR Ohhh, right, very cool. And of course, there are a bunch of form designers and other tools that also are ODK XForms compliant so it's a very important spec to keep clean and well-considered.

@hooverlunch part of the history here is that there've been things kind of duct taped to the spec and to Collect in the past and we've ended up paying a steep price for maintenance, reliability and/

[2017-03-01 23:02] grzesiek2010 commented on #489
It's pretty easy to reproduce you have to use vd Nexus 5 and Android 4.1 as @lognaturel mentioned.
http://stackoverflow.com/questions/14980242/small-numbers-in-calendarview-android
they say it's been fixed in 4.2 and there is a solution there too (I didn't test that solution).

[2017-03-02 02:49] dcbriccetti commented on #303
This is getting near ready to go.

[2017-03-02 06:57] dcbriccetti commented on #303
`FormDownloadList` needed very little work. Just removing an unused field and changing another field to a local variable.

[2017-03-02 07:10] dcbriccetti commented on #303
This is ready for review and merging. This includes everything in https://github.com/opendatakit/collect/pull/475, which is also ready to go, so you may want to merge this and discard PR 475.
I should remind everyone that I am fairly new to Android, and may have made common mistakes. So if you’re risk-averse, or have a release coming or something, you may want to hold off.

[2017-03-02 08:28] thegenuinegourav commented on #466
It stills giving NPE after those certain updates @yanokwa

[2017-03-02 08:40] Andy671 opened #493 "Migrating to Android Support Library"
#### Software and hardware versions
Future ODK Collect releases.

#### Problem description
The app uses a lot of deprecated methods and classes. GSOC project aims to change UI and UX.
https://github.com/opendatakit/collect/issues/464 - here you can find estimated Material Design mockups that I proposed.  To start refactoring of the app we should consider to use Android Support Library that brings

[2017-03-02 09:14] allenagk commented on #493
Hi, I'm trying to give my support for UI/UX changes or unit tests through the GSOC project. So when we applying material themes as mentioned above we have to consider the old device users. So what is the lowest API that we should take care of? Then Do we have to configure our project for v21 and old so like that?

[2017-03-02 09:25] shobhitagarwal1612 commented on #493
API 16

[2017-03-02 10:12] Andy671 commented on #493
Support Library will not affect minSDK level.

[Reference](https://developer.android.com/topic/libraries/support-library/index.html#uses)

[2017-03-02 12:51] grzesiek2010 commented on #157
I investigated attached form and it works well using our app. No errors, no crashes so it shouldn't be here I think.

[2017-03-02 13:35] lognaturel commented on #493
Thank you for getting the conversation started, @Andy671! What I'd like to make sure we understand in the short term is whether there are ANY UI, performance or functionality implications to changing the base classes. That will help decide if we should do it now or as part of someone's GSoC UI project. It's something I'm not too familiar so I'm interested in your experience and any references that

[2017-03-02 13:38] lognaturel commented on #464
@Andy671 These are looking so nice! As you refine your ideas, make sure to think about how users send forms, download blank ones and things like that. I know this is just a start and it's a great one!

[2017-03-02 13:45] swapsha96 commented on #464
I prepared few mock-ups following the mock-ups mentioned in GSoC '17 project. I used Android Support Library, so its compatibility can be increased by keeping minSDK as required. I am familiar with 3rd party libraries which can be used to improve UI/UX. If you want, I can add 'swipe to delete' feature and show you. I looked into current repository and saw use of many deprecated classes and functio

[2017-03-02 14:53] lognaturel commented on #466
@thegenuinegourav @vikasdesale Interesting, that stack trace isn't useful because the problem is occurring in the Gradle function. Are you sure that you're both running the gradle task and not the class directly?

[2017-03-02 15:00] geekrypter commented on #464
Hi @lognaturel and @yanokwa,

I am really looking forward to contribute to this community. I am enthusiastic to contribute to  "ODK Collect - Improved user experience" idea as part of GSOC 2017. I am an experienced UX/UI developer and would love to showcase my skills to the community. There are few UX suggestions which I have in mind. I also have few queries which I hope can be answered as soon as

[2017-03-02 15:27] #489 closed, assigned to nobody

[2017-03-02 15:45] nribeka commented on #472
This is simple shell script to duplicate one of your instance if the instances folder. This script will take the folder name of one instance and duplicate it 100 times and rename the xml file to match the folder name.

[code]
To run it, you'll need to be in an instances folder, then `./script.sh single_instance_folder_name`

[2017-03-02 16:40] lognaturel commented on #303
Thanks! I'm starting the review now-ish. Next release isn't for another few weeks so it's a great time to shake things up. Plus, everyone is suddenly very interested in touching all the list-related classes so I think it will be easier to merge this and make incremental changes as needed.

[2017-03-02 17:33] kunalsingh3110 commented on #464
![videotogif_2017 03 02_22 39 05](https://cloud.githubusercontent.com/assets/20390397/23519050/95bbdbfe-ff9b-11e6-9acd-3a95880ae7bb.gif)
Hi @lognaturel  and @yanokwa ,
I have made these changes to the ODK Collect app .
Please review and suggest me further changes needed.

[2017-03-02 18:47] mitchellsundt commented on #392
I think that is where my perspective differs from yours: I absolutely do not see testing as primarily a verification activity.  I see testing, overall, as a proof-of-capability activity; only at the level of unit testing, is it simply a verification-of-conformance-to-a-specification activity.

And keep in mind that publication quantity and frequency does not strictly imply importance!

Checking-in

[2017-03-02 20:24] lognaturel opened #497 "Unsaved changes goes to blank screen"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
When there are unsaved changes to a form and the "Unsaved changes recovered" toast appears, the app shows a blank screen which is before the beginning of the form.

#### Steps to reproduce the problem
1. Partially fill a form
1. Kill the app
1. Relaunch the app
1. Fill a blank form of the same type

#### Expected behavio

[2017-03-02 20:25] lognaturel commented on #497
This one is for @grzesiek2010 because he's very familiar with that code.

[2017-03-02 20:30] lognaturel commented on #157
You're right, I refiled in Validate.

[2017-03-02 20:30] #157 closed, assigned to mitchellsundt

[2017-03-02 21:11] Andy671 commented on #493
@lognaturel We have two options here.

1. Rewrite the app from scratch.

2. Do research throughout the code of the app and the Support Library to inspect changes and refactor the project gradually. Android Developer Documentation is not very informative on this topic.

These two approaches are both long roads. Tomorrow, I will do a deep dive into the 2nd option, just to understand which way would

[2017-03-02 21:26] lognaturel commented on #493
Thanks @Andy671. We will do 2 because a full rewrite rarely results in something being shipped. The question is more about timing. Should this change be done now for the next release or is it better to include it with the full UI change.

[2017-03-02 21:41] shobhitagarwal1612 commented on #493
@lognaturel Maybe should add the android support library right now so that we can start replacing deprecated code being used in the app or add latest features to the app which are added to newer APIs

[2017-03-02 22:06] lognaturel opened #498 "Google account options should refresh when 'Google account' is tapped"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
After adding a Google account to the device, it is not available in the Google account selection menu.

#### Steps to reproduce the problem
1. Set the platform to Google Drive, Google Sheets
1. Tap Configure platform settings
1. Go to the device Settings > Account > Google and add a Google account
1. Go back to ODK Colle

[2017-03-02 22:07] shobhitagarwal1612 opened #499 "Change the behaviour of 'Leave a review' under About screen"
#### Software and hardware versions
Collect v1.4, Android v4.4, device used...

#### Problem description
In `About screen` there is a `Leave a review` option. The description of the option says _Leave a review on Google Play_. On clicking the option a chooser intent appears. The problem is that if the user has google play store installed, then also a list of all available options appear instead of

[2017-03-02 22:08] shobhitagarwal1612 commented on #499
I am working on it

[2017-03-02 22:34] lognaturel commented on #499
Do you want to let the user choose if PlayStore isn't there or just use the default browser? We don't really want users going to PlayStore alternatives. The browser seems like a good choice to me.

[2017-03-02 23:07] shobhitagarwal1612 commented on #499
I will list all the available browsers only in case google play store is not found. The user may then select to open in the preferred browser

[2017-03-02 23:23] lognaturel commented on #499
Ok, so you can filter to just show browsers and not alternative app stores, right?

[2017-03-03 02:05] shobhitagarwal1612 commented on #499
Yes

[2017-03-03 07:18] rishsethia commented on #498
Hi @lognaturel I am trying to solve this !
I will send a PR when solved !
Thanks

[2017-03-03 13:12] Dvik commented on #498
it's probably because we should get the accounts in `onResume()` rather than `onCreate()`.

@rishsethia are u working on it or should i send a PR as i've almost set up the code to do so?

[2017-03-03 14:06] rishsethia commented on #498
@Dvik
You can go ahead since you've set up the code ! I was looking to solve it after finishing my current task !
All the best ! :D

[2017-03-03 14:13] Andy671 commented on #493
@lognaturel Full UI change can't be done in one step because of deprecated code and inability to use new API's without refactoring huge old parts of the project. There are a lot of things should be replaced: `Activity`,  `Toolbar` , `TabActivity` , `ListActivity`, etc. The heap of the Activities in the app is amiss too (modern apps use 1 activity per app). That should be replaced with Fragments. A

[2017-03-03 14:21] shobhitagarwal1612 commented on #123
@yanokwa I would like to work on this

[2017-03-03 14:30] lognaturel commented on #123
This is not a Collect issue but a form creation issue. Improved documentation would help but this issue doesn't belong here.

[2017-03-03 14:30] #123 closed, assigned to mitchellsundt

[2017-03-03 14:57] Dvik commented on #488
Sorry for not letting know but i was able to reproduce the crash on API 16 as well as API 22.
The fix will be a simple one and will be similar to how such situations are handled with location.
I'll submit a PR after the location PR has been merged after all the changes.

[2017-03-03 15:58] #497 closed, assigned to nobody

[2017-03-03 16:32] lognaturel commented on #490
@shobhitagarwal1612 @Dvik There's a nice fix for #132 in #491 that's ready to merge after a small style change. Let's leave this one to @Dvik since he's in that code already!

[2017-03-03 16:33] lognaturel commented on #477
@doomers What do you think?

[2017-03-03 16:36] lognaturel commented on #478
I propose we keep this issue open and push it out to a few releases from now. Sound ok?

[2017-03-03 16:49] shobhitagarwal1612 commented on #478
@lognaturel Sounds great :+1:

[2017-03-03 17:03] swapsha96 commented on #24
I've previously worked on location services using Services for background processes. Do you want me to do anything on this?

[2017-03-03 17:19] mitchellsundt commented on #493
The old recommendation for 1-Activity-per-App is no longer Google's current
advice.  And from my experience with the ODK 2.0 tools, trying to apply
that for everything was a mistake, so this is a good change.

They now seem to have gone back to a multi-activity viewpoint:

https://developer.android.com/guide/components/activities/tasks-and-back-stack.html

On Fri, Mar 3, 2017 at 6:13 AM, Andrii <n

[2017-03-03 17:33] #499 closed, assigned to nobody

[2017-03-03 17:41] lognaturel commented on #493
I agree with all of you that this needs to be done. I would like for one of you who has experience with this migration to let us know if there are any user experience implications. Are there any subtle bugs or UI changes that could be introduced or is this a completely transparent change from a user perspective.

[2017-03-03 17:49] lognaturel commented on #493
Also, how does this interact with moving to a `Fragment`-based architecture? @Andy671 addresses this a little bit but perhaps we should consider making the changes in single Activities or clusters of related activities rather than making sweeping changes across the code base.

@Andy671 it sounds like you have ideas on how to answer those questions. Please do file an illustrative PR so we can discu

[2017-03-03 17:53] swapsha96 commented on #493
That would be great. We won't need much restructuring then. Basically, java files will be altered and not much changes in XML files would be required.

[2017-03-03 18:00] #498 closed, assigned to nobody

[2017-03-03 18:24] mitchellsundt commented on #493
From my ODK Survey experience, the 2 big changes with the Fragment-based
Activities are:

(1) Preferences screens (all the settings). These should be updated with
the new activity / category / fragment structure. I think you just did that
in one of the recent releases.

(2) All ListActivity based activities go away. These are pushed into list
fragments with loaders that execute the queries to popu

[2017-03-03 19:26] lognaturel commented on #493
Thank you @mitchellsundt, that's very helpful!

We've made some good progress on restructuring the preference and list-based activities. As we discussed on Slack, @shobhitagarwal1612 and @dcbriccetti will have a chat about moving all the preferences activities to be fragment-based. I think that's a nice, isolated set of changes that @shobhitagarwal1612 will be able to.

Other good clusters include

[2017-03-03 21:03] Dvik opened #506 "Following the Software Design patterns during refactoring"
#### Problem description

The app as of now doesn't follow any specific software design pattern. Though i can see some controllers, the design is not followed by all the activities.

The basic idea is to separate the business logic from the UI. At present, the Activity seems to be handling everything from UI to data logic and business logic. Following a Design Pattern like MVP will make the code t

[2017-03-04 04:04] rishsethia commented on #74
@yanokwa
Hi
How much do we want to share access of our data to other applications ? I think we should restrict our provider's access to read only ! What do you say?  We will then have to document content provider's apis for data sharing!

[2017-03-04 04:41] Bastiantheone commented on #225
Have you tried replacing the android support library with a newer version?

[2017-03-04 12:17] Andy671 commented on #493
@mitchellsundt, thanks for the reference.
@lognaturel, I understand, that we should do step-by-step refactor, but the problem is we can't change a few of the Activities to AppCompatActivities and leave the same other ones because of applying `Theme.AppCompat `. What do you mean by "isolated sample"?

[2017-03-04 15:29] Dvik opened #507 "Refactoring Geo-based Activities"
#### Problem description
This issue is related to the 7 Geo-based activities that we have in our codebase. While working on #491 , @lognaturel suggested that the geo activities require a better hierarchy and i couldn't agree more.

A lot of code like the code for checking location providers, code to return location etc are repeated in most of these activities. I suggest we should have a `BaseMapAc

[2017-03-04 17:51] aakashswain001 commented on #272
I want to create a sample XLSForm . Should I try ? Or this task has already been completed ?

[2017-03-04 17:55] rishsethia commented on #272
@aakashswain001  It's done ! :D

[2017-03-04 17:56] lognaturel commented on #507
Your basic refactoring proposal sounds great, @Dvik and I couldn't agree more with approaching this as a series of small PRs! @jnordling wrote a lot of this code and may have some good suggestions or warnings for you as well.

Can you please keep this issue narrowly focused on code structure and file the suggestion to use `FusedLocationProviderApi` as a separate issue? I think there will be code q

[2017-03-04 19:19] Dvik commented on #507
@lognaturel Ok, yeah, i'll create a seperate issue for `FusedLocationProviderApi `.

[2017-03-04 19:26] Dvik opened #508 "Getting location updates using FusedLocationProvider"
#### Problem description
For getting the location, FusedLocationProvider API would be a better idea, given that Google recommends using it.
FusedLocationProvider API uses all available location data to give as accurate of a location as possible, as quickly as possible, with as little power consumption as possible. It has a different API, though one that is similar in some respects to the LocationM

[2017-03-04 22:40] nmpatsal commented on #434
May I try it?

[2017-03-04 23:09] yanokwa commented on #434
@nmpatsal Yes, please go ahead!

[2017-03-05 02:16] yanokwa opened #509 "Add short text in readme for how to get form to emulator"
- [x] Link to sample XLSForm and XML
- [x] How to convert from XLS to XML
- [x] How to push to device or emulator

[2017-03-05 03:56] dcbriccetti commented on #378
I’ve spent a few hours on this, learning the code and stepping through in the debugger. I understand what @grzesiek2010 said above 20 days ago. There are 40 subclasses of QuestionWidget. Do we know offhand how many of them would trigger regenerating or modifying the OdkView?

[2017-03-05 11:38] lokeshkvn commented on #392
Hello Everyone ,

I think Adding the testing framework in ODK is most challenging and interesting project in GSoC 17.
And I would like to contribute to this project.

As per my thoughts Junit4 with mockito framework for ODK classes and Robolectric for android classes would be the better option for Unit testing/Integration Testing as the UI of the ODK will change (suggested by @lognaturel ). After

[2017-03-05 12:55] shouryalala commented on #434
Hi @yanokwa this is Shourya Lala here. Do you mind if i give this a shot as well?

[2017-03-05 16:38] yanokwa commented on #434
@shouryalala Please find an issue that hasn't been taken.

[2017-03-05 21:32] rishsethia commented on #272
Up for review :
~~https://docs.google.com/spreadsheets/d/1WE4Q5vHW1Qf5qQleor99BZ5tz3qluv4iYc-AOR8OKdE/edit?usp=sharing~~
https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ

[2017-03-06 07:10] shouryalala commented on #207
@yanokwa May i give this a shot?

[2017-03-06 14:16] lognaturel commented on #508
@Dvik I'm not seeing a definitive answer to this but it seems this change could be done while still keeping Play Services 10.0.1, is that right? As discussed in #478, we do want to delay that update.

[2017-03-06 14:21] Dvik commented on #508
Yeah, this change can be done without updating play services.

[2017-03-06 15:02] lognaturel commented on #507
@Dvik I think you're ready to start doing this incrementally if you would like. Perhaps you can do a first PR that sets up your proposed class hierarchy and very conservatively applies [extract superclass](https://sourcemaking.com/refactoring/extract-superclass). That means no other stylistic changes, optimizations, etc yet! I think moving towards MVP would be a good idea.

[2017-03-06 15:07] lognaturel commented on #508
Ok, how about we start making incremental progress on #507 for the next release (~2 weeks) and then start the API change at the beginning of the next release cycle? That will give more time to identify any subtle behavior changes.

As you refactor, one thing you may want to think about is providing an abstraction for all API calls as described by Martin Fowler [here](https://www.martinfowler.com/a

[2017-03-06 16:33] lognaturel opened #511 "Replace deprecated getWidth and getHeight methods"
The `getWidth` and `getHeight` methods on `Display` are deprecated which results in compilation warnings. Replace all calls on `getWidth` and `getHeight` following the recommendation in the [API docs](https://developer.android.com/reference/android/view/Display.html#getWidth()).

This should be submitted as a single pull request that ONLY makes this change.

[2017-03-06 16:37] yanokwa opened #512 "If blank form is missing from /odk/forms, remove it from DB"
When you push form to Collect's SD card (e.g., `adb push my_form.xml /sdcard/odk/forms`) and go to `Fill Blank Form`, the app scans the SD card and adds the form to the DB. It even updates the form title when you push a new form with new data.

But when you remove the form, it does nothing. Instead, when you tap on the form, it shows you a form not found dialog. It would be nice if removing the fo

[2017-03-06 16:39] lognaturel opened #513 "Remove redundant casts"
There are several redundant casts across the code base leading to compilation warnings that look like this:

[code]

Find all such instances and remove the redundant casts. This should be submitted as a pull request that ONLY makes this change.

[2017-03-06 17:33] vikasdesale commented on #513
Can I work on this @lognaturel

[2017-03-06 17:37] yanokwa opened #514 "Let color of activities be set by the operating system"
In the current builds of Collect, screens like the Main Menu are light gray (`#ededed`), while screens like `Send Finalized Forms` when blank and `Get Blank Form` are white (`#ffffff`).

This difference in coloring is likely because the gray color is set by the OS while the white color is set by the application.

I propose we remove the explicit setting of white and have the OS set the default col

[2017-03-06 17:58] Bastiantheone commented on #511
@lognaturel can I work on this?

[2017-03-06 18:01] mitchellsundt commented on #378
LOL. This functionality was implemented in ODK Collect 1.2, but Yaw and Carl ostensibly hated the implementation, so they ripped it out over my objections, giving us the broken state of 1.4.  The Javarosa library has full support for this functionality via on-field-change callbacks.  Refer back to the 1.2 tree to see how the widgets were changed to make all this work.  A straightforward change.

[2017-03-06 18:49] lognaturel commented on #513
@vikasdesale Please do!

[2017-03-06 18:50] nribeka opened #516 "Add preference for instance sync task"
Currently the instance async task default the synced form instances InstanceProviderAPI.STATUS_COMPLETE as the status. I think we want to give the user the preference to sync it as either complete or incomplete.

The preference I think should be a boolean and apply this value to the InstanceSyncTask.

[2017-03-06 18:51] lognaturel commented on #378
Thank you, @mitchellsundt! @dcbriccetti how about taking a bit to look at that implementation and letting us know what you find?

[2017-03-06 18:52] dcbriccetti commented on #378
Yes.

[2017-03-06 19:03] yanokwa commented on #516
This preference should also be hidable in Admin Preferences.

[2017-03-06 19:12] #415 closed, assigned to nobody

[2017-03-06 19:18] yanokwa opened #518 "Large number of submissions results in too many open files error"
If you try to submit, say 1998 files, ODK Collect v1.4.16 will crash with the following stack trace.

If you need a test server, use https://nafundi-test.appspot.com. If you need 2000 submissions, use this [odk](https://github.com/opendatakit/collect/files/832287/odk.zip) folder.

While testing, you might need to delete the form from the server (it's the best way to delete all submissions). You ca

[2017-03-06 19:26] lognaturel commented on #514
Makes sense to me.

[2017-03-06 19:32] dcbriccetti commented on #516
To whoever does this: The hiding is now done using an array in `AdminKeys.java`: `adminToGeneral`.

[2017-03-06 19:38] getsanjeev commented on #514
I would like to fix it. @yanokwa

[2017-03-06 19:40] yanokwa commented on #514
@getsanjeev It's yours!

[2017-03-06 19:44] nribeka commented on #518
This could be as simple as closing the response object in a finally block.

[2017-03-06 19:47] mitchellsundt commented on #378
Look for my checkins. It will require some sluething, as I am not sure when
the widget implementations were replaced.

On Mon, Mar 6, 2017 at 10:52 AM, Dave Briccetti <notifications@github.com>
wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-03-06 19:49] nribeka commented on #512
@yanokwa care to elaborate more on this?

[2017-03-06 20:01] lakshyagupta21 commented on #518
@yanokwa I would like to fix it !!

[2017-03-06 20:04] yanokwa commented on #518
@lakshyagupta21 Please go ahead.

[2017-03-06 20:40] yanokwa commented on #207
@shouryalala Yes, but before you send in a PR, write a quick proposal about your approach to fixing this.

[2017-03-06 20:43] getsanjeev commented on #514
@yanokwa what exactly do you mean by 'screen main menu is gray'. I see that background is white(default) and buttons are gray(default).

[2017-03-06 21:03] yanokwa commented on #514
@getsanjeev You can see the differences here. This is master running in a Android 7.1.1 emulator.

![grey](https://cloud.githubusercontent.com/assets/32369/23629537/04ef013a-0286-11e7-8107-44ed21715324.png)
![white1](https://cloud.githubusercontent.com/assets/32369/23629535/04ec9148-0286-11e7-92e6-5636425b4f56.png)
![white2](https://cloud.githubusercontent.com/assets/32369/23629536/04eedaca-0286-1

[2017-03-06 21:05] yanokwa commented on #74
@rishsethia I think the first step is to document what exists first. Once we have that finished, we can open another issue where we discuss provider access.

[2017-03-06 21:07] nribeka commented on #514
I think if we could add theme, that would be nice. At least dark and light theme 👍

[2017-03-06 21:09] yanokwa commented on #514
@nribeka That's a ✨great✨ idea. Please open another issue with this suggestion. My guess is that'll have to come after the UI refresh (#464)

[2017-03-06 21:38] yanokwa commented on #272
Thanks, @rishsethia! Quick question. How did you verify that this form works in ODK Collect?

[2017-03-06 21:47] nap2000 commented on #415
Thanks  @nribeka. My apologies I didn't get a notification when you submitted your updated pull request or I would have reviewed it then. This is great.

[2017-03-06 23:59] nap2000 commented on #257
Additional design sections have been added to the google doc that summarises the work on this feature request.  https://docs.google.com/document/d/1LqVlVpePjA7Q1snjhA_ZQoDuzFqbtQcIygwcEzO_LJs/edit?usp=sharing

Feel free to provide comments on the approach in the document or here on github.

[2017-03-07 00:26] nap2000 commented on #375
I think this should be added as an option to the timer log issue #257 .  If track GPS is set then for each question the GPS will be recorded and logged.

Because the coordinates captured at each question have to be the best available at that point in time then I suggest we record what we have including accuracy.

[2017-03-07 02:37] dcbriccetti commented on #378
@mitchellsundt more clues would be helpful. I just examined your entire commit history log. And I looked at the whole recorded history of ODKView, QuestionWidget and WidgetFactory. Perhaps you can remember more?

[2017-03-07 04:26] dcbriccetti commented on #378
I put a video in the collect channel showing how we can regenerate the page as checkboxes are clicked. This is just the result of my playing around trying to learn the code. I hope Mitch does indeed have a magical solution.

[2017-03-07 05:23] vikasdesale commented on #513
I have added PR.Please check @lognaturel.

[2017-03-07 05:29] vikasdesale opened #522 "Change deprecated method getDrawable"
There are several uses of deprecated method getDrawable across the code base leading to compilation warnings that look like this:

     warning: [deprecation] getDrawable(int) in Resources has been deprecated
     marker.setIcon(getResources().getDrawable(R.drawable.ic_place_black_36dp));

change this methods.

[2017-03-07 05:31] vikasdesale commented on #522
Can I work on these issues of deprecated methods uses across the code base @lognaturel

[2017-03-07 12:34] shobhitagarwal1612 commented on #516
@yanokwa I would like to handle this issue.

[2017-03-07 13:41] rishsethia commented on #272
I didn't verify that it works for ODK Collect ! I used the code to make this XLSForm . Should I verify it by uploading it to the ODK Server ? Also , after that I would like to document usage of each widget in the code itself as it was cumbersome for me to look for entire code of certain widgets !
Thanks !

[2017-03-07 13:43] rishsethia commented on #74
I think for correct functioning of intents we must provide READ provider access . Please correct me if I am wrong !
Thanks

[2017-03-07 14:02] AbrahamMikolo opened #524 "Text input"
#### Software and hardware versions
Collect v1.4.16, Android v4.3

#### Problem description
Behind the list of select, imported from external file, I have a text input. In the same page

#### Steps to reproduce the problem
I forked the last branch localy and make basic modification like icon, application name, minSDK, targetSDK

#### Expected behavior

#### Other information
Things you tried, stac

[2017-03-07 14:12] yanokwa commented on #74
@rishsethia That is correct. Please start by documenting what exists in Collect today and the problems it has.

[2017-03-07 14:51] lognaturel commented on #524
Can you please attach the form and external dataset that you are using and make it clear what the expected behavior is?

[2017-03-07 14:56] lognaturel commented on #522
@vikasdesale Yes, this is a good one to update as well as it will make the introduction of different themes easier.

[2017-03-07 15:09] shouryalala commented on #509
@yanokwa I just added a few lines to the readme, whatever you specified. I have sent a PR for the same. :)

[2017-03-07 15:15] yanokwa commented on #272
@rishsethia Verify it by converting the XLSForm to XML and running it in ODK Collect. I've put rough instructions at https://github.com/opendatakit/collect#testing-a-form-locally.

[2017-03-07 15:44] nribeka opened #528 "Introduce theme settings for users"
I think this will be a really nice follow up feature after the UI refresh is done. At the very minimum having a dark and light theme would be very nice.

Based on another conversation we have in slack, a high contrast theme would be a good addition too. The effort probably gonna need to have UX related conversation as well 👍

[2017-03-07 16:09] lognaturel opened #529 "Buttons at the bottom of Send Finalized Form screen should each take up half the width"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
The 'Clear/Select All' and 'Send Selected' buttons change slightly in size when the check boxes are toggled using the 'Clear/Select All' button.

#### Steps to reproduce the problem
1. Fill out and finalize at least one form
1. Tap the Send Finalized Form button
1. Tap on the 'Select/Clear All' button a few times

#### E

[2017-03-07 16:10] #509 closed, assigned to nobody

[2017-03-07 16:31] lognaturel commented on #24
@swapsha96 If you have a proposal for how to approach it, we'd be happy to hear it!

[2017-03-07 16:42] lognaturel commented on #514
@nribeka @getsanjeev This change should make sure that the background color used across the app is the default background color for the current theme. That will make it easier to add themes in the future (#528). In other words, don't hardcode the color to #EDEDED, please!

[2017-03-07 16:48] getsanjeev commented on #514
@lognaturel I just need to remove two lines where colors have been explicitly set to WHITE(one in list getlistview.setbackground(WHITE) & other in text box android : backgorund  = '#FFF'). I guess thats what you mean.

[2017-03-07 16:58] faizmalkani commented on #529
Working on this, please add an inprogress label @lognaturel

[2017-03-07 16:58] lognaturel commented on #514
@getsanjeev That seems right!

[2017-03-07 17:12] lognaturel commented on #493
@Andy671 Ah, thanks for that info. If we have to apply the change to all activities at once, let's focus on addressing individual deprecated methods (#522, etc) and doing some initial restructuring of some of the activities (#507, etc) for this release cycle. We can then make the base class change at the beginning of the next one and make sure we have plenty of time to notice any potential issues.

[2017-03-07 17:16] lognaturel commented on #464
Thank you for the sketches and ideas, everyone! It's great to see different options for the user experience. I added a couple of questions to the initial issue for you to consider as you refine your plans. I would encourage you to start with low-fidelity sketches as you're considering different options for how users would interact with the application. That will be what we are most interested in a

[2017-03-07 17:30] swapsha96 commented on #24
@lognaturel I worked on a project in which I updated user's location using background process. I used **Service Class** to do so. Following is the link to the Java class of the implementation. This worked smoothly. Modifications can be made according to the required accuracy, data consumption, etc. Similarly, 'Service' can be used for audio as per requirement.
https://github.com/swapsha96/FireApp/

[2017-03-07 17:56] yanokwa opened #530 "Standardize Delete Blank Form layout to remove jerkiness"
As you switch between tabs, `Nothing available to display` and the `Scanning for forms` and `Finished scanning...` moves around. They probably shouldn't. The layouts should be the same.
![jerky](https://cloud.githubusercontent.com/assets/32369/23670289/3d98f13a-0335-11e7-9012-de436b526840.gif)

[2017-03-07 18:13] lokeshkvn commented on #320
Hello, I am trying to fix this issue.

to get  the date in system defaults I used this code in
collect\collect_app\src\main\java\org\odk\collect\android\widgets\DateTimeWidget.java
in getAnswer() method;
[code]

The Default date is showing in logcat while debugging and strored in the file of emulator, but is not showing in the UI under Date and Time widget in promt window

*Logcat*

[code]
Am I go

[2017-03-07 18:14] avijayvergia commented on #464
Hi @lognaturel and @yanokwa,

I am keenly interested in contributing to the Unified UI idea in GSoC'17. I have prepared a google doc consisting of the UI mockups that I have made. The link to it is below:

https://docs.google.com/document/d/1RPTJhPapwRc_1DkVAapbZNvlCNObGTJ7MBl7NrFMJn0/edit?usp=sharing

All the mockups use the AndoidDesignSupport Library for certain elements in them.
Please look in

[2017-03-07 19:04] mitchellsundt commented on #378
Too long ago to remember the code check-in.

The javarosa function for monitoring change is registerStateObservers

e.g.,
https://bitbucket.org/m.sundt/javarosa/src/054cd1ec5507b5639ef3839a6303cca935b3cf9f/core/src/org/javarosa/core/model/instance/TreeElement.java?at=default&fileviewer=file-view-default#TreeElement.java-640

The callback class is FormElementStateListener

https://bitbucket.org/m.s

[2017-03-07 19:09] yanokwa commented on #516
@shobhitagarwal1612 Please start when #485 is merged.

[2017-03-07 19:11] yanokwa commented on #466
@thegenuinegourav @vikasdesale Any updates on this?

[2017-03-07 19:35] dcbriccetti opened #532 "Create an automated test to ensure an admin setting shows and hides the associated feature"
Create a test that does the following for one admin setting in the “User can access main menu items” category:

1. Open Admin Settings
2. Set the `Delete after send` checkbox’s state to **checked**
3. Go General Settings
4. Assert that the `Delete after send` checkbox is present
5. Uncheck the same admin checkbox and assert that the general checkbox is hidden

[2017-03-07 19:41] shobhitagarwal1612 commented on #530
I think we can replace those textViews for displaying status with `Croutons`
 https://github.com/keyboardsurfer/Crouton

![](http://www.grokkingandroid.com/wordpress/wp-content/uploads/2012/10/confirmation_crouton1.png)

![](http://www.grokkingandroid.com/wordpress/wp-content/uploads/2012/10/alert_crouton.png)

I also opened an issue #461 regarding refactoring the use of deprecated TabActivty in F

[2017-03-07 19:54] yanokwa commented on #530
@nribeka Says, "we probably need to refactor that UI too to use slider / strip with fragments instead of TabHost. The fragments then can share the same layout. Currently they are on the same tab, but using different layout. One is form_manage_list.xml, the other is data_manage_list.xml. Both layout file have the exact same elements."

[2017-03-07 19:58] yanokwa commented on #530
@shobhitagarwal1612 I'm generally not excited about introducing external libraries. Crouton seems to be deprecated by [Snackbar](https://developer.android.com/reference/android/support/design/widget/Snackbar.html). If that's something that can be done in #461, then I think we should do it there.

[2017-03-07 20:04] faizmalkani commented on #529
Fixed in https://github.com/opendatakit/collect/pull/533 @lognaturel

[2017-03-07 20:17] shobhitagarwal1612 commented on #530
1. We should replace the TabActivity with FragmentActivity and use PagerTitleStrip along with ViewPager to implement the views with a slider/strip.
2. We can use the Snackbar provided by the Android Sdk instead of any open source library to display the status messages.
@yanokwa Any thoughts?

[2017-03-07 20:26] nribeka commented on #530
If we're just planning to remove the jerkiness, we probably can change the code to share the same layout or make the layout have the same boundary (I would prefer to use the same layout file since they both have the same elements in them).

If we want to refactor, we probably need to approach it like @shobhitagarwal1612. Use fragments that share the same layout file and use slider / strip.

The fi

[2017-03-07 21:05] shobhitagarwal1612 commented on #530
@nribeka @yanokwa I'm interested in doing the refactoring

[2017-03-07 21:32] batkinson opened #535 "Editing a form instance from an external app shows blank layout"
#### Software and hardware versions
Unclear whether it is android version dependent. Originally reported from field operators using GalaxyTab 5 (android 5). I reproduced the issue on android 4.4.4 on the latest production release of Collect (v1.4.16).

#### Problem description
When launching an existing form instance from an external app, using a form instance uri and ACTION_EDIT, the form does no

[2017-03-07 21:36] lognaturel commented on #535
Ah, interesting, I was wrong and it has nothing to do with removing the instruction screen. It's just a good old regression! @grzesiek2010 you might have some ideas here.

@batkinson are your external app and your form things you can post publicly? I don't even think we have a good external app example around for testing.

[2017-03-07 21:38] batkinson commented on #535
So, all of the code and forms are public, but I suspect it would be easier to code up a simple activity and simple form that go through the pain of configuring things. I'll see if I can post minimial examples.

[2017-03-07 21:42] grzesiek2010 commented on #535
I'm going to bed :) I'll look at this tomorrow but... isn't it the same https://github.com/opendatakit/collect/issues/497 ?

[2017-03-07 21:45] batkinson commented on #535
Yeah, reading the description it seems that the end result is the same. However, looking at the code, I don't think this is solely related to unsaved changes - unless that's just the name for very specific changes introduced since v1.4.14.

[2017-03-07 21:47] batkinson commented on #535
I will test out the latest from master and report back.

[2017-03-07 23:47] wonderchook opened #538 "If Credentials are Invalid Tell the User"
Currently if a user has an incorrect username and password and attempts to submit surveys to the server they only receive a screen asking for the username and password. No indication is given that something is wrong. It would be nice if we could tell them to verify their username and password.

![screenshot_20170307-154330](https://cloud.githubusercontent.com/assets/67992/23683347/5b25c3d2-034d-11

[2017-03-08 01:17] lognaturel commented on #535
Riiight, I'm sorry, I assumed #497 was due to the instructions screen removal but I don't actually know that. It may very well be the same issue. Looking forward to finding out what you discover, @batkinson!

[2017-03-08 01:25] #529 closed, assigned to nobody

[2017-03-08 01:51] #472 closed, assigned to nobody

[2017-03-08 01:52] lognaturel commented on #530
@shobhitagarwal1612 the feature is merged. It's yours. You can work on the preference as well.

[2017-03-08 02:22] Midhun07 commented on #538
Can i work on this issue?

[2017-03-08 02:35] lognaturel commented on #538
@Midhun07 Please do! I haven't looked at that code in a while and I'm not sure what you'll find. I encourage you to start by writing up a little proposal on how you'll approach it and sharing it here.

[2017-03-08 04:22] batkinson commented on #535
Ok, so I don't think this is the same as #497 unless it's not *truly* resolved yet. I built and ran the latest from master(2c50c692a85b) and the behavior is exactly the same as the latest production release.

[2017-03-08 05:05] shobhitagarwal1612 commented on #530
@lognaturel Thanks

[2017-03-08 05:40] shobhitagarwal1612 opened #539 "Wrong display message while deleting saved/blank forms"
#### Software and hardware versions
Collect v1.4.16, Android v4.4.2, API 19

#### Problem description
Deleting saved forms or blank forms from `Delete Saved Forms` option on `Main Menu` displays wrong Toast message (Selected forms failed to delete). But the saved form or the blank form actually gets deleted

#### Steps to reproduce the problem
1. Select `Fill Blank Form`
2. Fill any form and click

[2017-03-08 08:58] ghost commented on #464
Hello @lognaturel and @yanokwa,

I am very much interested in contributing to "ODK Collect - Improved user experience" idea as part of GSOC 2017. My idea is to completely change the UI of the application making it user-friendly and attractive, keeping the functionality and back-end part same. I am experienced in using Material Design. The idea of keeping minSDK-16 will not cause any problem and by

[2017-03-08 09:57] grzesiek2010 commented on #535
I didn't reproduce this issue but I'm prety sure it's due to our new [modes](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/ApplicationConstants.java#L24) and the problem might be [here](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L2559)
If I un

[2017-03-08 10:16] grzesiek2010 opened #541 "Refactoring dialogs"
There are lots of dialogs in our app. I think we really need to refactor this part of code as it tooks much code and it's really annoying.
First of all we should use DialogFragment of course (thanks to that we don't have to worry about activity recreation - our dialog is still visible and we don't need additional code to ensure that).

The second thing is as I mentioned we have lots of dialogs and

[2017-03-08 10:31] UrjaPawar commented on #539
@shobhitagarwal1612  I would like to work on this issue

[2017-03-08 10:34] grzesiek2010 commented on #539
@UrjaPawar I'm affraid @shobhitagarwal1612 created this issue just for himself :) and as you can see above he already created pr. You can review this pr or try to find another issue for you.

[2017-03-08 10:36] UrjaPawar commented on #539
Ok! Thanks for help @grzesiek2010

[2017-03-08 10:37] UrjaPawar commented on #541
I would like to work on this issue @grzesiek2010

[2017-03-08 10:41] grzesiek2010 commented on #541
@UrjaPawar sure but it's rather for discussion now. We have to chose the best option for us and then we can start work with the code. Please review options mentioned above and let us know what you think. Maybe you can add your own proposal - don't hasitate if you know a better solution.

[2017-03-08 10:46] shobhitagarwal1612 commented on #541
@grzesiek2010 We should also provide an option to create custom dialogs. For that we would need to extend DialogFragments and then override the `setContentView`.

[2017-03-08 10:47] UrjaPawar commented on #541
@grzesiek2010 Yes, let me consider each of them carefully. Since app is going to be updated according to new design as stated [here](https://github.com/opendatakit/collect/issues/464), I think this [https://github.com/michael-rapp/AndroidMaterialDialogone](https://github.com/michael-rapp/AndroidMaterialDialogone ) should be preferred

[2017-03-08 10:53] grzesiek2010 opened #542 "CircleCI run of instrumented tests"
As you know we have some new [instrumented tests](https://github.com/opendatakit/collect/tree/master/collect_app/src/androidTest/java/org/odk/collect/android)
In order to run these tests we need to setup [CircleCI configuration file](https://github.com/opendatakit/collect/blob/master/circle.yml)

I tried when I worked on my fisrt UI test but without success. You can find more info here: https://gi

[2017-03-08 11:01] grzesiek2010 commented on #541
@shobhitagarwal1612 I'm not sure it depends on te approach we choose. For example [that](https://github.com/michael-rapp/AndroidMaterialDialog) solution provide a wide range of dialogs so maybe we can releace all our dialogs using one of ready-made solutions.

[2017-03-08 11:24] shobhitagarwal1612 commented on #541
@grzesiek2010 I agree that using an open source library is more handy than writing our own code for the implemented solution.But the library you proposed doesn't have many stars or forks. That means that library might not be fully tested and may contain potential bugs.

I found another library on github which is very popular.
https://github.com/afollestad/material-dialogs

[2017-03-08 11:41] grzesiek2010 commented on #541
@shobhitagarwal1612 I saw that solution as well and I tested a sample app but in that solution dialogs are not visible after activity recreation. It's a problem but maybe we can change that I don't know.

@UrjaPawar you can test that solution as well.

[2017-03-08 13:50] shobhitagarwal1612 commented on #541
@grzesiek2010 Can you please describe how to recreate the issue that you encountered while using the sample app

[2017-03-08 13:54] grzesiek2010 commented on #541
@shobhitagarwal1612
You need to use this sample ap https://github.com/afollestad/material-dialogs/blob/master/sample/sample.apk
then open the first dialog and change your device orientation. Then the dialog disappears.

[2017-03-08 14:02] UrjaPawar commented on #541
@grzesiek2010 I checked out the sample app, seems we need to override onConfigurationChanged method and find out more of these issues

[2017-03-08 14:05] grzesiek2010 commented on #541
@UrjaPawar if we use dialogs (with DialogFragment) it should work out of the box. The solution attahced by me https://github.com/michael-rapp/AndroidMaterialDialog works well.

[2017-03-08 14:08] UrjaPawar commented on #541
@grzesiek2010 Yes! I saw that thing now

[2017-03-08 14:51] lognaturel commented on #539
@UrjaPawar Welcome to the project! Do let us know if you're having trouble finding a good issue to work on. There's a lot of activity these days so issues get claimed quickly! I encourage you to come say hi in the Slack channel at http://slack.opendatakit.org You can also do what @shobhitagarwal1612 has been doing and as you go through the app, file issues for problems that you notice.

[2017-03-08 14:58] UrjaPawar commented on #539
@lognaturel Thank you! I am a newbie to Open Source Development and am working on one of the issues listed, I noticed that the issues labeled "quick win" are taken up by competitive developers. I really need to develop my speed! :)

[2017-03-08 15:00] lognaturel commented on #539
@UrjaPawar Are they really all taken already?! I'll see if I can file more. I think there must be some other small bugs introduced by all the changes we made recently. Do make sure you "claim" any issue you're working on so we can mark it as "in progress"! 😊

[2017-03-08 15:24] batkinson commented on #535
Thanks @grzesiek2010, I will do that to help provide more information about the shape of the defect. For what it's worth, I think this is an outright defect. This breaks documented behavior and requires existing apps that use published APIs to be updated to continue to work with Collect. To give you an idea of what that causes: groups that use Collect will be forced to fork if they can't rely on A

[2017-03-08 15:31] batkinson commented on #535
I confirmed that adding the extra patches this back up. So, when creating the intent it will go from something like:
[code]

To:

[code]

The magic string values are a hint that this isn't how android intended apps to cooperate with implicit Intents. Effectively, it spreads implementation coupling to independent applications.

[2017-03-08 15:33] lognaturel commented on #514
This actually affects a lot of components that are overriding the theme defaults. For example:
<img width="244" alt="screen shot 2017-03-07 at 8 32 05 pm" src="https://cloud.githubusercontent.com/assets/967540/23686019/2c1564b2-0375-11e7-9f59-38a21ace7026.png">

Reached from this button:
<img width="40" alt="screen shot 2017-03-07 at 8 32 40 pm" src="https://cloud.githubusercontent.com/assets/9675

[2017-03-08 15:38] nribeka opened #544 "Introduce Dependency Injection (Dagger)"
With dependency injection I think it would make it easier to make more modular code and inject them as needed. Dagger I think also will help with cleaning up the odk code base.

Some discussion need to happen before we decided to try Dagger as Roboguice (one of the popular dependency injection for Android) was deprecating themselves a while ago. I think Dagger 2 borrow a lot of ideas from Google's

[2017-03-08 15:45] lognaturel commented on #535
Apologies, @batkinson, we had talked about needing to refactor not to use the constant hack for editing vs. viewing forms but I didn't consider that it had external effects. That's my lack of Android experience showing through. 😔

@grzesiek2010 from an external perspective, `Intent(Intent.ACTION_EDIT, formUri)` should work as it did before and it should also be possible to call `Intent(Intent.ACTI

[2017-03-08 15:52] srsudar commented on #544
I think this will be a huge task. My experience with Dagger 2 is limited, having only used it in [this app](https://github.com/srsudar/GithubHotness).

I found this series very helpful to understanding Dagger:
* https://frogermcs.github.io/dependency-injection-with-dagger-2-introdution-to-di/
* https://frogermcs.github.io/dependency-injection-with-dagger-2-the-api/
* https://frogermcs.github.io/de

[2017-03-08 15:56] #511 closed, assigned to nobody

[2017-03-08 15:58] UrjaPawar commented on #538
@wonderchook I want to solve this issue but am not getting this function in the app. The app I am running doesn't ask for any authorization while sending the forms!

[2017-03-08 16:00] lognaturel commented on #538
@UrjaPawar I do think @Midhun07 has this one! In order to verify the existing behavior, you'll need a server that requires a username and password. I believe https://opendatakittrial.appspot.com does. You can use username admin and password aggregate. Don't fill them out in the settings and when you try to pull blank forms you should see that dialog.

[2017-03-08 16:02] batkinson commented on #535
@lognaturel a maintenance release of Collect is not necessary for us. I am publishing a fix as I write this  and it should be safe for older deployments. Adding the extra shouldn't affect those running older versions of Collect. However, restoring a sane default behavior for others with apps integrating with Collect would be appreciated by others, I am sure. I have the luxury of a fairly tight con

[2017-03-08 16:05] lognaturel commented on #535
Ok, awesome! I'm glad to hear you can recover quickly. Yes, absolutely, we'll make sure the fix is in the next release. We'll also hopefully have actual documentation on intents soon (#74) so we don't forget about them.

Come help us with code review? 😉

[2017-03-08 16:17] nribeka commented on #544
I agree this definitely about long term trajectory and it's going to be a lot of changes. I used only guice before and I really liked the way it works. Very simple and you can control elements of your project and just inject them when you need it.

From my experience DI compartmentalize the code really well. You can clearly see the layering of your application. Service to do a lot of business logi

[2017-03-08 16:18] batkinson commented on #535
Haha, yes, thank you for the gentle reminder. I probably would have caught this one. :smile:

[2017-03-08 16:37] lokeshkvn commented on #514
@lognaturel
I want to work on this issue , Tag it as 'in progress'

[2017-03-08 16:55] UrjaPawar commented on #538
@lognaturel Should I integrate the app with the server you mentioned? I haven't filled them in the settings
![ezgif-1-e841aa44a1](https://cloud.githubusercontent.com/assets/16853965/23714095/0f8927d2-044e-11e7-998b-95acc9498a24.gif)

[2017-03-08 17:01] lokeshkvn commented on #514
Now the problem in birds form is solved ,

![device-2017-03-08-222443](https://cloud.githubusercontent.com/assets/16884938/23714270/9c1e17b6-044e-11e7-9c89-e85926b14915.png)

Now Checking for other components 😃

[2017-03-08 17:04] lognaturel commented on #538
@UrjaPawar You changed the server URL to https://opendatakittrial.appspot.com, left username and password blank and can send forms without credentials? I have verified that I can't. Did you put the credentials in at any point? There are some strange things still about how sessions are stored and invalidated. Can you try killing the app and trying again?

[2017-03-08 17:15] UrjaPawar commented on #539
@lognaturel Yes! I saw that developers claimed and pulled the requests
Again Thanks!

[2017-03-08 17:26] UrjaPawar commented on #538
@lognaturel  I did put up the credentials but even before that I was getting same result. Yes! I tried killing the app but still getting same behavior! Let me see if I can figure what is going wrong

[2017-03-08 17:26] batkinson opened #545 "Add tests for public integration points"
As discovered in #535, Collect has for some time exposed functionality that allows any android application to integrate with it. For both Collect developers and integrating applications developers, add reasonable test coverage for the major integration points so that internal changes do not unknowingly breaking integrating applications.

This is somewhat related to #74, since implicit Intents are

[2017-03-08 17:59] getsanjeev commented on #514
@lognaturel I am working on other issue. Let someone else take it further. Thanks.

[2017-03-08 18:10] getsanjeev commented on #544
That will be really cool but very risky.
@nribeka Should  not we think about using butter knife first to remove boilerplate. Making large changes to code base at once would not do much good.

[2017-03-08 18:27] UrjaPawar opened #546 "Change deprecated method setButton"
There are a bunch of setButton methods used in Alert Dialogs which are deprecated and need to be replaced for a smoother transition to updated version of app's UI.
All the methods used previously in alert dialogs are available in similar formats in the updated version where the builder is customized first and then is created.
These methods need to get changed

[2017-03-08 18:28] UrjaPawar commented on #546
I would eagerly like to work on this issue and have already started. :)
@lognaturel Will you please tag this issue as "in progress"!?

[2017-03-08 19:14] grzesiek2010 commented on #546
@UrjaPawar does it make sense now? As you know we want to refactor our dialogs #541

[2017-03-08 19:34] lognaturel commented on #546
@grzesiek2010 @UrjaPawar I haven't looked at this in detail. Could doing this first be a way to break #541 more incremental? In other words, will this change be useful for #541 and reduce the scope of what then needs to be done there? I guess it depends on whether an external library gets used, right?

[2017-03-08 19:52] pkarira opened #547 "show password option in admin settings"
There is no show password option in "Enter Admin Password" and "Change Admin Password" dialog boxes .

[2017-03-08 19:54] pkarira commented on #547
@lognaturel should I start working on this ?

[2017-03-08 20:02] lognaturel commented on #547
@pkarira That sounds good. You'll do a checkbox below the password field, right?

[2017-03-08 20:17] lognaturel commented on #541
I'm not convinced of the need to introduce an external dependency for this. There are some risks in doing so. For example, we change the `minSdkVersion` slowly so we may end up not being able to update the lib anymore but find we need updated behavior. Or maybe they'll decide to also search for aliens in their library and we'll end up with a big dependency when all we needed was a good set of abst

[2017-03-08 20:20] lognaturel commented on #544
@PatrickDale It would be interested to hear your perspective as well.

[2017-03-08 20:37] #132 closed, assigned to mitchellsundt

[2017-03-08 20:39] #303 closed, assigned to nobody

[2017-03-08 20:47] #441 closed, assigned to nobody

[2017-03-08 20:51] lognaturel commented on #488
This will be addressed in #490.

[2017-03-08 20:51] #488 closed, assigned to nobody

[2017-03-08 20:53] lognaturel commented on #477
@doomers Please let us know within the next day whether you'd like to address this. Otherwise we will let someone else take it.

[2017-03-08 20:59] nribeka commented on #512
I will have a look at this one.

[2017-03-08 21:00] lognaturel commented on #512
@nribeka First question is whether this is the right thing to do...

[2017-03-08 21:02] #539 closed, assigned to nobody

[2017-03-08 21:06] #514 closed, assigned to nobody

[2017-03-08 21:23] nribeka commented on #512
The problem seems to be logical to me because it's a dangling / inconsistent state in the application data. This probably not gonna happen to a lot of users, but people who poke around the file system structure for odk would be affected.

[2017-03-08 21:24] lognaturel commented on #367
One thing that I would recommend and that might make this update easier is to isolate the calls to the external service in a connection object of some kind -- https://www.martinfowler.com/articles/refactoring-external-service.html