[2022-08-03 11:42] grzesiek2010 commented on #5234
I figured out how to reproduce the issue:
1. Open the attached form [rangeWidgetBug.xlsx](https://github.com/getodk/collect/files/9250936/rangeWidgetBug.xlsx)
2. In the first question pass value > 5 or < 1
3. Swipe to the next question with range widget

[2022-08-03 11:52] seadowg commented on #5186
I don't think I agree. It definitely feels to me that this is less scary than it was before (it only happens in a fairly weird case where the shape is recorded on the same spot), but it still feels like the behaviour is dangerous as it mutates data the user might have saved - potentially with fake GPS or by manually placing points. I think we could maintain the current behaviour, without removing

[2022-08-03 12:27] grzesiek2010 opened #5236 "Offline layers do not work with mapbox + satellite"
#### ODK Collect version
v2022.3.0

#### Problem description
Offline layers do not work with mapbox + satellite

#### Steps to reproduce the problem
1.  Select mapbox + sattelites in Settings -> Maps
2.  Add and select the attached offline layers: [test.zip](https://github.com/getodk/collect/files/9251248/test.zip)
3. Open any map view and navigate to Corsica

[2022-08-03 12:42] grzesiek2010 commented on #5186
I will think about it once again but I'm sure at least that there is no need to add it to hotfix. It has always worked like that.

[2022-08-03 15:29] grzesiek2010 commented on #5186
Now as I'm digging deeper I can see that there are more places where we add additional point to close polygon. That means I need to spend more time on it to make sure there are no other bugs. It would be good to simplify the code a bit too.

[2022-08-03 18:04] #4896 closed, assigned to seadowg

[2022-08-04 13:15] seadowg opened #5240 "Crash when restoring to some form entry screens"
~~Blocked by #5338 (which adds testing for the flows we're changing)~~

Covers this [crash report](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/7ef6006d57c29eff231ee9f78d2f188e?time=last-seven-days&versions=v2022.3.0%20(4477)&types=crash&sessionEventKey=62EB9C8D00D100017025055AC3E08E99_1706408576049390202) (and [thi

[2022-08-04 14:43] seadowg commented on #5240
@lognaturel @grzesiek2010 I think we should definitely look at this for the next release and consider it as a hotfix if it fits into one.

[2022-08-05 10:46] grzesiek2010 opened #5241 "Null formController"
#### ODK Collect version
v2022.3.0

#### Android version
9, 10, 11 (maybe other too)

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4e09834954ffc3ee419ef8f9d316d2ed?versions=v2022.3.0%20(4477)&time=last-seven-days&types=crash&sessionEventKey=62EAAD7202EE000131F54D37A810577A_170614573106822160

[2022-08-05 11:17] grzesiek2010 commented on #5241
So far I have't been able to reproduce the issue but I'm going to share my thoughts so maybe it will help someone else or I will be able to find something new during describing it.

The crash is caused by null form controller which we take from `Collect.getInstance().getFormController()`.
`FormEntryActivity#onScreenRefresh` where the crash takes place is called from `FormIndexAnimationHandler#hand

[2022-08-05 11:20] #5236 closed, assigned to grzesiek2010

[2022-08-05 11:35] seadowg commented on #5241
Totally agree with this - but, also unsure of how! `ViewModel`s are retained on rotation, so in that case there would be data retained (as the same `LiveData`object would be in play). However, we'd expect the single `FormController` to still be present in that scenario. Currently, the only thing I can think of, is that there is a way for the [line that sets `formController` to `null`](https://gith

[2022-08-05 12:33] seadowg opened #5242 "Investigate max zoom levels for maps"
As per [this forum post](https://forum.getodk.org/t/problem-mapbox-satellite-and-mtiles-layer/38542/3?u=seadowg), it seems like the max zoom level for Mapbox has been reduced in Collect v2022.3. We should investigate whether we can get back to the zoom levels that were possible in v2022.2. Additionally, it would be good to look into whether we can unlock those kinds of zoom levels in OSM/Google.

[2022-08-05 13:38] grzesiek2010 commented on #5242
https://docs.mapbox.com/help/glossary/zoom-level/

I don't think we can change it but let's take a look...

[2022-08-06 13:41] seadowg commented on #5240
I've moved this into "Hotfix" as it feels like it has potential to disrupt people during form entry (if they're multi tasking).

[2022-08-11 09:31] seadowg opened #5245 "Audit log ordering is incorrect"
#### ODK Collect version

v2022.3.1, v2022.3.0

#### Android version

Android 10 (but shouldn't matter)

#### Device used

Pixel 2 Emulator

#### Problem description

The first `question` event in the audit log comes before the `form start` event. This is especially problematic in cases where [`identify-user`](https://docs.getodk.org/form-audit-log/?highlight=audit#enumerator-identification) is en

[2022-08-11 14:04] dbemke opened #5246 "Ignoring or saving changes in a form entered by a created shortcut opens a new form if „Don’t keep activities” is on"
**Software and hardware versions**

Collect v2022.1.2, Android probably all

**Problem description**

When in a device settings „Don’t keep activities” is turned on, ignoring or saving the changes in a shortcut for a form from ODK Collect results in unexpected behavior. First, the form closes and immediately after that a new form is opened.

https://user-images.githubusercontent.com/56479916/18415

[2022-08-17 09:27] dbemke opened #5253 "Missing „form resume” in audit log events when moving backward in not allowed in Collect settings"
**Software and hardware versions**

Collect v2022.2.3,  Android probably all

**Problem description**

When moving backwards is not allowed in Collect settings and the user resumes a form with audit from a save point there is no information about „form resume” in audit log events.

**Steps to reproduce the problem**

1. Go to Collect Settings → Access control → Form Entry Settings.
2. Uncheck Movi

[2022-08-17 12:21] grzesiek2010 commented on #5241
The issue was not fixed entirely:
1. We display a dialog and don't know what the root cause is
2. The crash caused by the same toot cause is now visible in a different place: https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/840ed61ef4be2a68153d081636ffb8b9?time=last-seven-days&versions=v2022.3.2%20(4485)&types=crash&ses

[2022-08-17 12:29] grzesiek2010 commented on #5241
Thanks to the new logs I can add something more here...

It looks like the issue takes place when a user have two (or more) open forms at the same time. It's not possible to do that from the app directly (from the list of forms) but it is doable if you have multiple shortcuts or you start form filling from external apps (this issue might be related but it's definitely not the only case: https://gi

[2022-08-17 13:13] grzesiek2010 commented on #5241
This should confirm if what I said above is true https://github.com/getodk/collect/pull/5255

[2022-08-17 18:56] adrienandrem opened #5256 "Install via F-Droid"
Please make Collect available via [F-Droid](https://f-droid.org).

More details [here](https://gitlab.com/fdroid/fdroiddata/-/issues/1985).

Thanks!

[2022-08-17 19:10] lognaturel commented on #5256
You are welcome to make a fork replacing all proprietary dependencies if you would like! We don’t have the capacity to maintain this currently. Thanks!

[2022-08-17 19:10] #5256 closed, assigned to nobody

[2022-08-19 09:06] #5245 closed, assigned to seadowg

[2022-08-19 12:01] dbemke opened #5257 "Denying access to location in the app permissions and in the form with background location recording results in flashing screen"
**Software and hardware versions**

Collect v2022.3.2,  Android probably all

**Problem description**

There is a flashing screen after denying access to location while filling in a form with background location recording, provided that the user had denied access to location in app permissions in device settings (device’s location permission is on). The app doesn’t crash.
On Android 8.1 denying ac

[2022-08-21 22:12] lognaturel commented on #3504
You can find it [here](https://github.com/getodk/collect#testing-a-form-without-a-server)!

[2022-08-22 10:59] lognaturel commented on #3504
The section I linked you to has the latest version as a Google Sheets document and instructions for converting to an XForm. Other versions you find are likely out of date. Which link is broken?

[2022-08-22 13:53] grzesiek2010 commented on #5242
Ok I've checked it and this is now only possible with OSM, but also not too much because otherwise it might throw exceptions like `java.lang.IllegalArgumentException: MapTileIndex: Zoom (30) is too big (zoom=30)`. Should we do that for this provider I'm not sure? What do you think @seadowg @lognaturel?

[2022-08-22 17:38] grzesiek2010 commented on #5007
The issue still exists:
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/87d21f6b7611bc856af0b068eb341413?time=last-seven-days&types=crash&versions=v2022.3.2%20(4485)&sessionEventKey=630394DE015E0001132FB6D48A9C9B20_1713157071423182612

[2022-08-23 09:44] seadowg commented on #5242
So we're already supporting the max possible zoom levels for Google Maps and Mapbox right?

Are you saying we **could** add extra zoom levels for OSM but need to limit it to 30?

[2022-08-23 12:34] dbemke opened #5261 "In a form with metadata, denying access to phone and then allowing it in phone settings results in the form being in loading state"
**Software and hardware versions**

Collect v2022.3.3,  Android probably all

**Problem description**

In form with metadata, after denying ODK Collect to make and manage phone calls, then in next dialog choosing „open settings” and allowing access to phone in device settings, the form is in a loading form state. The user is unable to complete the form.

**Steps to reproduce the problem**

1. Go t

[2022-08-23 13:30] dbemke opened #5262 "The order of question and location tracking enabled events in audit log after form resume"
**Software and hardware versions**

Collect v2022.3.2,  Android probably all

**Problem description**

I’ve noticed that there is a different order of "question” and "location tracking enabled” events in audit log when the form is saved for the first time and after editing the form. When the form is completed for the first time, at the beginning of audit log first there is a "location tracking ena

[2022-08-23 13:34] seadowg commented on #5262
Is this present in v2022.2 as well?

[2022-08-23 13:47] grzesiek2010 commented on #5242
Yes

I'm not sure what value is the last supported one, I've just got that exception testing 30 probably something lower would work fine but I would need to test more.

[2022-08-23 14:06] seadowg commented on #5261
Ah this is similar to #5240 - the app is killed and then "restored" when a permission changes in settings. Looks like restoring in this scenario causes problems for some reason.

[2022-08-23 14:07] seadowg commented on #5261
@dbemke is this fixed in https://github.com/getodk/collect/pull/5212?

[2022-08-23 14:09] seadowg commented on #5257
Is this present in v2022.2 as well?

[2022-08-23 14:12] dbemke commented on #5262
In Collect v2022.2.0 after form resume, the question event is before location tracking.

[2022-08-23 14:40] dbemke commented on #5257
Collect v2022.2.0 works as expected

[2022-08-23 14:58] dbemke commented on #5261
in PR#5212 there was a similar case and it was fixed in that PR, but this issue is on master and PR#5212 didn't fix it

[2022-08-24 09:08] #5007 closed, assigned to grzesiek2010

[2022-08-24 12:24] seadowg opened #5263 "Allow logging to audit log from background threads"
Currently, using `AuditEventLogger` to log events from a background thread is dangerous as it could cause a `ConcurrentModificationException` due to the underlying `ArrayList` that events are stored in. After #5259, logging from a background thread will be protected by restricting logging to the UI thread (similar to how IO explodes when it runs on the UI thread in Android).

We might want to look

[2022-08-24 12:24] seadowg commented on #5263
As part of this train of thought, I think we also want to think about moving `logEvent/flush` calls closer to the UI interactions they represent. For example, currently we log `question` events when rendering questions, rather than when the user switches between screens creating a pretty risky tie between rendering and the audit log. I might be forced to address this in my fix for #5240.

[2022-08-25 14:38] dbemke opened #5264 "Removing one of the groups in nested repeats forms and clicking the back button causes the crash of the app"
**Software and hardware versions**

Collect v2021.1.2,  Android probably all

**Problem description**

When the user removes a group (one of at least 2 groups) in a nested repeats form, clicking the device back button causes a crash. On Android 5.1 clicking the back button instead of crashing restores the removed group. On Android 12 the user needs to remove 2 groups to cause the crash of the app.

[2022-08-26 13:03] dbemke opened #5265 "A crash after minimizing the app while recording a selfie video"
Blocked by #5196

**Software and hardware versions**

Collect v2021.3.4,  Android probably all

**Problem description**

There is a crash if the users minimizes the app while recording a video via selfie video widget. The issue is reproducible on all devices but the frequency of occurrence differs between devices. On Nexus with Android 8.1 and Samsung with Android 11 the issue is always reproducib

[2022-08-29 12:11] #4995 closed, assigned to grzesiek2010

[2022-08-29 12:39] #5234 closed, assigned to grzesiek2010

[2022-08-29 14:18] dbemke opened #5266 "Unable to scan configuration QR code after granting camera permission via open settings option"
**Software and hardware versions**

Collect v2022.1.0,  Android probably all

**Problem description**

When the user denies access to camera while trying to add a project via QR code and then grants permission to camera by opening the app settings, the QR code scanner is available but not able to scan a QR code. If the user rotates the screen, the scanner works as expected.

**Steps to reproduce t

[2022-08-30 17:11] grzesiek2010 commented on #5241
Ok we have new logs here: https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/c842c92cb47ec7174307eeb16145c52c?time=last-seven-days&versions=v2022.3.4%20(4496)&types=error&sessionEventKey=630E012802A500011FE48C6644669D8F_1716090298388784704
It can't be more cryptic just look at the logs:

[code]

I will translate it to som

[2022-09-01 10:08] #5261 closed, assigned to grzesiek2010

[2022-09-01 13:13] dbemke opened #5272 "In a form with metadata tapping on the device back button when the app settings are opened results in the form being in loading state"
**Software and hardware versions**

Collect v2022.3.3,  Android probably all

**Problem description**

In a form with metadata, after denying ODK Collect to make and manage phone calls, then in next dialog choosing „open settings” and tapping on device back button, the form is in a loading form state. The user is unable to complete the form.

**Steps to reproduce the problem**

1. Go to Metadata f

[2022-09-01 14:37] dbemke opened #5273 "Dialog asking to grant permissions overlays the lock screen on Android 8.1"
**Software and hardware versions**

Collect v2021.3.4,  Android 8.1

**Problem description**

The issue occurs only on Android 8.1.
If the user locks the screen when a dialog asking to grant permission to access the camera, the location, the microphone etc. is opened, the dialog overlays the lock screen view. After clicking a button to unlock the screen, the user sees the dialog and needs to tap "

[2022-09-01 15:53] grzesiek2010 commented on #5273
This is a dialog displayed by the system not by us so It must be a bug in that Android version. I think we can close it.

[2022-09-01 15:53] #5273 closed, assigned to nobody

[2022-09-01 16:01] grzesiek2010 commented on #5272
To reduce complexity maybe we should close form filling not only if a user clicks `OK` in that dialog (that displays additional info about required permissions) but also after clicking `Open Settings`. Then even if a user goes to settings and grants required permissions they would need to open the form again (not a big problem to me). Thanks to that we would be able to avoid such tricky scenarios

[2022-09-01 16:08] grzesiek2010 commented on #5241
@seadowg If you have anything to share please do. I'm not going to spend more time on it soon because I've run out of ideas...
My plan is to:
1. Wait for merging https://github.com/getodk/collect/pull/5254 since it might be somehow related
2. Wait for removing shared form controller object (this pr I believe https://github.com/getodk/collect/pull/5267)
3. Investigate starting multiple FormEntryAct

[2022-09-01 18:11] seadowg opened #5274 "Shortcuts (or external apps) allow multiple forms to be filled at once and cause confusion"
#### ODK Collect version

v2022.3.5

#### Android version

All

#### Device used

Pixel 2 emulator

#### Problem description

A shortcut or external app can be used to start filling/editing a form while another is already in progress. This cause strange flows (an example is in the steps to reproduce).

#### Steps to reproduce the problem

1. Create a shortcut to a form
2. Start filling the same fo

[2022-09-01 18:52] lognaturel commented on #5274
Is this required or is it the same thing if you launch from the shortcut twice?

I've heard of some organizations hiding the Collect app and ask their field staff to only use direct shortcuts to forms. In those cases, I imagine the desired behavior is that if you tap on the shortcut for the form with formid A and there was an ongoing session filling out formid A, the data collected so far is recov

[2022-09-01 20:00] grzesiek2010 commented on #5274
If you start the same form from the shortcut then everything is fine. The problem is when you do that like @seadowg described because you end up with two instances of the `FormEntryActivity` but with one shared form controller (in the application class) at least now because @seadowg is going to change that in https://github.com/getodk/collect/pull/5267 and then weird things happens.
Even worse thi

[2022-09-02 14:12] grzesiek2010 commented on #5186
I think this is the best solution here and I've implemented it in https://github.com/getodk/collect/pull/5275

[2022-09-02 14:35] seadowg commented on #5274
I've updated the "Steps to reproduce the problem" to show the weirdness we run into:

The flow you're describing makes sense, but the user ends up in a weird state currently. If we want to support it properly, it sounds like tapping on a shortcut when a session for that form is already in progress should resume that session (and not open a second one). And, tapping a shortcut for a different form

[2022-09-02 14:40] lognaturel commented on #5274
That sounds ideal if possible!

[2022-09-02 15:03] seadowg commented on #5274
Oooops. Actually, I was a little off. If the user is only using shortcuts, currently they do resume form entry as expected when clicking on the shortcut a second time. I'm guessing Android keeps track of the fact that it already has a task running for this shortcut, and just resumes it instead of starting a new one with the shortcut intent. They end up in the same stuck state (navigation not worki

[2022-09-05 13:45] dbemke opened #5276 "Crash of Collect built in debug mode after opening Leaks app"
**Software and hardware versions**

Collect v2022.3.4 debug mode,  Android probably all

**Problem description**

There is a crash of ODK Collect app built in debug mode when the user opens Leaks app. The issue doesn’t always occur (e.g. it occurs in 1 out of 4 tries).

**Steps to reproduce the problem**

1. Open ODK Collect app.
2. Click device back button.
3. Open Leaks app.

**Expected behavior

[2022-09-05 15:06] grzesiek2010 commented on #5276
This seems to be a bug in LeakCanary https://github.com/square/leakcanary/issues/2411
We need to wait for their release. It shouldn't affect the way reports (about leaks) are displayed it's just annoying. I'm closing the issue.

[2022-09-05 15:06] #5276 closed, assigned to nobody

[2022-09-06 18:51] seadowg commented on #5272
This might actually be a better approach for all our permission flows, not just form entry. The way we use `PermissionListener` currently assumes that the user grants the permission in settings: as you point out we never call `PermissionListener#denied` if the user hits "Open settings".

I vote we try calling `denied` when in the "Open settings" flow as well. That would change all our flows so tha

[2022-09-06 20:17] grzesiek2010 commented on #5272
It turns out in different parts of the app we need different behaviors. Sometimes we want a callback immediately when a permission is denied and sometimes only after closing that additional explanation dialog. Please take a look at https://github.com/getodk/collect/pull/5270 where I introduced a new third callback `additionalExplanationClosed` so that we can do different things after granting a pe

[2022-09-07 15:06] #4900 closed, assigned to grzesiek2010

[2022-09-07 20:12] lognaturel opened #5278 "Support colors for select from map markers"
- [x] Given that I have a form definition with a select from map
  And that a select option has a value set for a property with name `marker-color`
  And that the value is valid based on the criteria below
  When I open the select from map question
  Then the marker for that option should be the specified color

- [x] Given that I have a form definition with a select from map
  And that a select o

[2022-09-07 20:24] lognaturel opened #5279 "Support alphanumeric markers for select one from map"
- [x] Given that I have a form definition with a select from map
And that a select option has a value set for a property with name `marker-symbol`
And that the value is a single character
When I open the select from map question
Then the marker for that option should be the place marker icon with the character centered on its pin

(Roughly <img width="41" alt="Screen Shot 2022-09-07 at 1 22 24 PM"

[2022-09-08 12:55] #4870 closed, assigned to grzesiek2010

[2022-09-13 09:54] #5246 closed, assigned to grzesiek2010

[2022-09-14 08:26] grzesiek2010 opened #5281 "Some styling might not work with required questions"
#### Problem description
Some styling might not work with required questions.

#### Steps to reproduce the problem
1. Open the attached form: [Required-style.xlsx](https://github.com/getodk/collect/files/9564256/Required-style.xlsx)
2. Go to the third question - [headers](https://docs.getodk.org/form-styling/#headers) do not work well

#### Expected behavior
Styling should work well no matter if a

[2022-09-15 17:37] lognaturel opened #5283 "Inconsistent DPI for different image sources"
A user is generating a PDF of data submitted from Collect. They end up with differently-sized images even when using `max-pixels`. They've found that photos from the camera have DPI set to 300 but device captured or annotated images have DPI set to 72. It would be preferable for all images to have consistent DPI.

[2022-09-16 05:43] lognaturel opened #5284 "Range with picker appearance adds extra digit"
Version: 2022.3 but said to have existed previously.

From @mathieubossaert:

https://forum.getodk.org/t/display-bug-for-range-question-with-picker-appearence/38980

[2022-09-16 13:20] dbemke opened #5286 "Background audio recording appears in All widgets opened via a shortcut and crashes the app"
#### ODK Collect version
v2022.2.1
#### Android version
probably all
#### Device used
Samsung Galaxy M12, Nexus 5X

**Problem description**

After opening a form with background audio recording and then opening All widgets form from a shortcut background audio recording appears in All widgets form and crashes the app.

**Steps to reproduce the problem**

1. Create a demo project in Collect.
2. Cre

[2022-09-16 13:25] dbemke opened #5287 "Switching between forms from shortcuts at least two times results in opening a wrong form"
#### ODK Collect version
v.2022.2.1
#### Android version
probably all
#### Device used
Samsung Galaxy M12, Nexus 5X

**Problem description**

Switching between forms from shortcuts at least two times results in opening a wrong form.

**Steps to reproduce the problem**

1. Create a shortcut for All widgets and any other form.
2. Open the second form from the shortcut.
3. Minimize the app and go to

[2022-09-19 09:26] dbemke opened #5288 "Wrong theme applied after locking the screen in landscape view when there are different color modes in the device and Collect"
#### ODK Collect version
v2022.1.0
#### Android version
Android 10, 11, 12
#### Device used
Xiaomi Redmi T, Samsung Galaxy M12, Pixel 3a

#### Problem description

When there are different color modes set in a device and in Collect app (e.g. phone is in the dark mode and Collect is in the light mode) locking the screen in horizontal position while a form is opened causes applying the wrong theme i

[2022-09-19 14:58] dbemke opened #5289 "User is unable to take pictures when allowing camera access after choosing deny and don’t ask again on Redmi 9T-Android 10"
#### ODK Collect version
v2022.1.0
#### Android version
Android 10
#### Device used
Xiaomi Redmi 9T

#### Problem description
Allowing access to camera in device settings after choosing "deny & don’t ask again” in permission dialog, doesn’t allow to take pictures via Image widget or Video widget but allows to take pictures in the Selfie widget. Sometimes trying to take a picture in Image widgets r

[2022-09-19 22:22] #3202 closed, assigned to nobody

[2022-09-20 09:20] dbemke commented on #5289
I tried to reproduce this issue again and I think I missed one thing. In Redmi it’s easy to deny access to the main camera, so I granted Collect access to camera but denied access to the main camera in phone settings.
![redmicamera](https://user-images.githubusercontent.com/56479916/191218999-4d99cfed-9ed4-4a59-b0d7-4369484c5f3d.jpg)
I tried to do the same thing on Samsung Galaxy M12, but more dif

[2022-09-20 09:32] seadowg commented on #5289
Just to clarify: you mean that Collect has the "Camera" permission, but the phone's Camera app no longer has it right?

[2022-09-20 09:46] dbemke commented on #5289
Yes, but I think it's only possible to get to that point because of the layout of settings in Redmi (easier to change settings like that). So I don't know if the case is relevant.

[2022-09-20 11:19] seadowg commented on #5289
I don't think that's true. Are you unable to remove the Camera permission from the Samsung's default camera app? If so, that's definitely a (pretty nasty) customization they've made to Android. A camera app should work like any other and have permissions that can be granted/revoked.

[2022-09-20 11:31] dbemke commented on #5289
It is possible on Samsung but the user needs to find that settings (in Redmi all camera permission settings are on one list). In Samsung there is also dialog connected with that setting
![samsungcam](https://user-images.githubusercontent.com/56479916/191246865-0cf7fa31-f099-4f27-8bc4-777a54a3a142.jpg)

[2022-09-20 12:14] seadowg commented on #5289
It sounds like Samsung have made it harder than it should be. In "stock Android" you can generally get to a "Permission manager" screen through "Privacy" or "Apps" in Settings - it looks like that's what you're seeing on Redmi, and I'd expect it to be present in most Android devices. It's probably somewhere in Samsung's custom settings (part of One UI), but maybe just buried. If I'm correct, you s

[2022-09-20 14:51] #5257 closed, assigned to grzesiek2010

[2022-09-20 14:59] seadowg commented on #5289
We should investigate whether Collect actually needs the Camera permission for the (non-selfie) Image and Video widgets.

[2022-09-21 14:11] dbemke opened #5290 "Missing dialog when a user opens settings and clicks device back button while reconfiguring with QR code"
#### ODK Collect version
v2022.3.0
#### Android version
Android 10, 11, 12, 13 (on the emulator)
#### Device used
Xiaomi Redmi 9T, Samsung Galaxy M12, Pixel 3a
#### Problem description
When a user denies Collect to take pictures and record video while reconfiguring with QR code and open settings and just clicks back button there is a blank page and no dialog. On Redmi 9T reproducing steps 5-8 resu

[2022-09-22 08:53] dbemke opened #5291 "Missing events/answers in audit log for track changes reason form if the form was minimized and the changes where made on the reopened page"
#### ODK Collect version
v2022.3.0
#### Android version
probably all
#### Device used
Samsung M12, Redmi 9T, 12(on the emulator), 13 (on the emulator)
#### Problem description
If a user starts filling a form with audit and tracking changes and minimizes it and goes back to filling the same page(without swiping to next page) and changes the answers, there is a difference between answers visible in

[2022-09-22 14:30] dbemke opened #5292 "Shortcuts- multiple issues"
**ODK Collect version**

Reproducible both on Master and Store Version (2022.3.5)
**Android version**

Android 8.1, 11, 13 (on the emulator)
**Device used**

Nexus 5X, Samsung Galaxy M12, emulator with android 13

**Problem description**

Switching between forms from shortcuts at least two times results in opening a wrong form.

**Steps to reproduce the problem**

    1. Create a shortcut for All

[2022-09-22 14:30] #5287 closed, assigned to nobody

[2022-09-22 14:32] dbemke commented on #5286
Moved to Shortcuts- multiple issues #5292

[2022-09-22 14:32] #5286 closed, assigned to nobody

[2022-09-23 10:34] dbemke commented on #5292
**ODK Collect version**

Master
**Android version**

Android 8.1, 11, 13 (on the emulator)
**Device used**

Nexus 5X, Samsung Galaxy M12, emulator with android 13

#### Problem description
Form media files missing when the user switches between forms from shortcuts.
#### Steps to reproduce the problem
1. Create shortcuts for Birds form and All widgets form.
2. Start filling Birds form from the sho

[2022-09-23 10:36] dbemke commented on #5292
Birds form and media
[Birds.xml.txt](https://github.com/getodk/collect/files/9632914/Birds.xml.txt)
[drive-download-20220609T092138Z-001.zip.txt](https://github.com/getodk/collect/files/9632915/drive-download-20220609T092138Z-001.zip.txt)

[2022-09-23 10:45] dbemke commented on #5292
**ODK Collect version**

Reproducible both on Master and Store Version (2022.3.5)
**Android version**

Android 8.1, 11, 13 (on the emulator)
**Device used**

Nexus 5X, Samsung Galaxy M12, emulator with android 13

**Problem description**

After opening a form with background audio recording and then opening All widgets form from a shortcut background audio recording appears in All widgets form and

[2022-09-23 12:11] srujner commented on #5292
**ODK Collect version**
Reproducible both on Master and Store Version (2022.3.5)

**Android version**
Android 12 and 13 (on emulator)

**Device used**
Google Pixel 3a and Emulator with Android 13

**Problem description**

After adding a new form to the current list, it will not be sorted alphabetically when creating a shortcut

**Steps to reproduce the problem**

1. Scan a project from Central in

[2022-09-23 12:22] dbemke opened #5293 "Missing dialog about discarding changes in Geopoint widget with maps"
#### ODK Collect version
All
#### Android version
all
#### Device used
Redmi 9T
#### Problem description
In Geopoint widget with maps, after removing/changing already saved point and clicking the device back button the user is not informed with a dialog that the introduced changes (the removed point) will be discarded.
In Geotrace/Geoshape widget if the user introduces changes in already saved poi

[2022-09-28 15:23] #5274 closed, assigned to seadowg

[2022-09-28 15:53] #5278 closed, assigned to grzesiek2010

[2022-09-28 15:53] #5279 closed, assigned to grzesiek2010

[2022-10-03 21:14] lognaturel opened #5296 "Announce upcoming deprecation of Google Drive support"
About 5% of users in the last few months have used direct submission to Google Drive. It's completely untested and requires periodic intervention as Google APIs change. We also know that it has a number of quirks and unexpected behavior that we don't have the capacity to fix at this time.

As discussed with the TAB on March 16th 2022, we will be putting Google Drive support on a deprecation path.

[2022-10-05 08:22] dbemke opened #5297 "Missing scroll bar in Fill Blank From"
#### ODK Collect version
v2022.3.0
#### Android version
8.1, 10, 11, 13
#### Device used
Nexus 5X, Redmi 9T, Samsung Galaxy M12, Pixel 6A
#### Problem description
There isn’t a scroll bar in "Fill Blank Form” when there are many forms on the list.
#### Steps to reproduce the problem
1. Download a project with many forms.
2. Go to "Fill Blank Form”.
3. Scroll down the list of forms.

#### Expected

[2022-10-05 14:06] #5186 closed, assigned to grzesiek2010

[2022-10-05 14:16] seadowg commented on #5184
@srujner are you able to reproduce this as well?

[2022-10-05 14:25] dbemke opened #5298 "Vertical range widget in RTL shows incorrect lowest and highest values"
#### ODK Collect version
v2021.3.4
#### Android version
8.1, 10, 13
#### Device used
Nexus 5X, Redmi 9T, Pixel 6A
#### Problem description
When an RTL language is set in Collect vertical range widget (with ticks and without ticks) shows opposite values in the lowest/highest values on the slider compared to the lowest/highest value chosen by the user.
![rtlverticalrange](https://user-images.githubu

[2022-10-05 14:28] seadowg commented on #5226
@dbemke is this only a problem in Google Maps?

Does that mean you have checked `v2021.2.0` and the issue is present? Or do you mean `v2022.2.0` as that's what you mention in the first sentence.

[2022-10-05 14:30] seadowg commented on #5228
@lognaturel I'm going to propose we close this. It feels like changing this would be adding a feature rather than fixing a bug, and I'm not sure if it's something we'd ever prioritize. I'm assuming that people don't change map providers during form entry frequently though.

[2022-10-05 14:34] seadowg commented on #5233
@dbemke This looks like a duplicate of https://github.com/getodk/collect/issues/4836 to me. Does that make sense? Will close for now, but reopen if you disagree.

[2022-10-05 14:34] #5233 closed, assigned to nobody

[2022-10-05 14:37] seadowg commented on #5253
@lognaturel do you agree that this is a problem?

[2022-10-05 14:38] seadowg commented on #5262
@lognaturel do you agree that this is a problem?

[2022-10-05 14:41] seadowg commented on #5265
We should look at this as part of #5196

[2022-10-05 14:45] seadowg commented on #5288
Again, I think this is a duplicate of #4836.

[2022-10-05 14:45] #5288 closed, assigned to nobody

[2022-10-05 14:46] dbemke commented on #5226
@seadowg I've just checked again and it's only in Google Maps. I checked v2021.2.0  and the issue is present. I also checked other mentioned versions and the issue is present.

[2022-10-05 14:50] seadowg commented on #5291
@dbemke could you check v2022.2 as well please?

[2022-10-05 14:51] seadowg commented on #5293
@dbemke do you mean v2022.3.4 rather than v2021.3.4 here? Please update the description if so.

[2022-10-05 14:53] srujner opened #5299 "Selecting approximate option for location doesn't work as expected"
**ODK Collect version**
Reproducible both on Master and Store Version (2022.3.5)

**Android version**
Android 12, 13

**Device used**
Google Pixel 3a, Google Pixel 6a

**Problem description**

Selecting approximate location doesn't work as expected

**Steps to reproduce the problem**

https://user-images.githubusercontent.com/85225519/194090106-b5225a83-ef4e-4fdf-8dfe-b872408731e5.mp4

1. Click on

[2022-10-05 14:54] dbemke commented on #5233
@seadowg I don't know if it's a duplicate. I don't know what caused the issue but to reproduce that I needed go to draw/signature widget and ignore changes. I wasn't able to reproduce it with other widgets.

[2022-10-05 14:56] seadowg commented on #5299
@lognaturel I'm thinking we should fix this so that the behaviour is as @srujner describes and review in the future if we want special behaviour for approximate location.

[2022-10-05 14:59] seadowg commented on #5233
As far as we know it's a bug in an Android framework that we can't do much about. It might be that it's easier to reproduce from the signature widget for some reason (although it looks like it's not every time from this issue). Basically, changing theme will sometimes result in some text or an icon using the previous theme.

[2022-10-05 15:08] seadowg commented on #3089
@lognaturel closing this. Please reopen if you think it's still something that people need.

[2022-10-05 15:08] #3089 closed, assigned to nobody

[2022-10-05 15:09] seadowg commented on #656
It feels like the above change (and moving QA to a minified build) has helped us a lot with any cracks we were seeing that this might have fixed. Closing this.

[2022-10-05 15:09] #656 closed, assigned to nobody

[2022-10-05 15:10] dbemke commented on #5291
@seadowg I've just checked v2022.2.0 and the answer added in step 5 is present in audit.csv file so the issue isn't present in v2022.2.0

[2022-10-05 15:12] seadowg commented on #1580
`FormEntryViewModel.answerQuestion` is another step towards a better world here. Closing this issue as we're not working on these improvements in one focused block (they're happening bit by bit).

[2022-10-05 15:12] #1580 closed, assigned to nobody

[2022-10-05 15:13] seadowg commented on #3826
Closing this due to #5296

[2022-10-05 15:13] #3826 closed, assigned to nobody

[2022-10-05 15:16] seadowg commented on #4471
Closing this. I think we'd look to plan/design this feature again with input from someone who needs it.

[2022-10-05 15:16] #4471 closed, assigned to nobody

[2022-10-05 15:24] dbemke commented on #5293
@seadowg I've checked different versions: master , store and v2022.x and I haven't found any version in which the dialog was present. I think the dialog wasn't introduced in the app but I compared it to the dialogs that the users sees e.g in Geo trace/shape after removing points and it feels like it's missing as the user in other cases is informed about discarding changes.

[2022-10-05 15:34] lognaturel commented on #5299
This doesn’t feel so urgent to me! Android 13 is going to take a while to roll out. I’m pretty sure that it’s worse in most data collection cases to get coarse points rather than to have to talk to a supervisor to get out of an error state.

I how about I bring this up with the TAB briefly to get their initial reaction.

[2022-10-05 15:35] lognaturel commented on #5291
Agreed that this is serious.

[2022-10-05 15:38] lognaturel commented on #5253
It certainly feels like a bug but from what I read here it doesn’t seem critical. We do correctly only allow going to the question that was last on the screen or a question after that, right? If we allow going back in the form that way it would feel very serious to me.

[2022-10-05 17:09] seadowg commented on #5299
That seems fair. Will move this to v2022.5.

[2022-10-05 17:14] seadowg commented on #5253
Yeah, that's my understanding from when we first found this. Does that sound correct @dbemke?

[2022-10-07 10:59] srujner commented on #5184
@seadowg I checked on current Master and I wasn't able to reproduce this issue on Android 12 and 13, but then I checked the store version (2022.3.5) where the issue with removing points in GeoShape widget still exists and I could reproduce it in GeoShape on 12 and 13. @dbemke can You check once again in a free time on current master?

[2022-10-07 14:23] dbemke commented on #5184
on master 31897362c00974e7df889ef685337244f0ac5604 on Android 8.1, 10 the issue doesn't occur

[2022-10-07 16:38] lognaturel commented on #5184
Ahh, great idea putting the commit hash. We should probably do that in addition to saying `master` so it continues being useful in the future.

Great to see that it's fixed. 👍

[2022-10-07 16:38] #5184 closed, assigned to nobody

[2022-10-10 15:00] dbemke opened #5301 "No modal asking the user to enter the reason for changes when the Track Reason Changes form was killed while editing it"
#### ODK Collect version
v2021.3.4, v2022.1.0, the store version (2022.3.5), master version 31897362c00974e7df889ef685337244f0ac5604
#### Android version
10, 13
#### Device used
Redmi 9T, Pixel 6A
#### Problem description
After killing the Track Changes Reason form there is no modal asking the user to enter the reason for changes when the form was killed while editing it.
#### Steps to reproduce t

[2022-10-11 09:00] seadowg commented on #5301
@lognaturel I'm wondering if we want to make our implementation of `track-changes-reason` a little simpler to make it easier to catch edge cases like this. Right now, we only prompt for a change reason when saving if the form is being edited AND the user has made changes. If we're editing a form from a savepoint where changes were already made, we have no way of knowing (currently) if the savepoin

[2022-10-12 09:30] srujner opened #5303 "The question event is duplicated in csv file after each rotation of the screen."
**ODK Collect version**
v2022.3 Beta 2

**Android version**
8.1, 10, 11, 12, 13

**Device used**
Nexus 5X, Redmi 9T, Samsung Galaxy M12, Pixel 3A, Pixel 6A

**Problem description**
Each time the user rotates the screen, a new line with "question" appears.

**Steps to reproduce the problem**

1. Open Fill Blank Form and navigate to the Track Changes Reason form;
https://github.com/getodk/collect/fi

[2022-10-12 20:02] #5266 closed, assigned to grzesiek2010

[2022-10-12 23:07] lognaturel opened #5304 "Android 13 makes it harder to access application directory"
@srujner brought this up recently: https://blog.esper.io/android-dessert-bites-28-file-manager-loophole-closed-73891524/

I'm opening this issue to give this change a little bit more visibility and to have a centralized discussion about implications.

My understanding is that this affects two workflows we document:
- pushing offline tile layers to the device (https://docs.getodk.org/collect-offlin

[2022-10-14 12:10] dbemke opened #5306 "Locking the screen while selfie camera is opened results in a crash or closing the form."
Blocked by #5196

#### ODK Collect version
v2022.3.5 and probably other
#### Android version
11, 12
#### Device used
Samsung Galaxy M12, A32
#### Problem description
The crash after rotating and locking the screen in the selfie widget occurred only twice. Both crashes appeared only once on each device when I took the phone and started testing (first try). Afterwards I wasn’t able to reproduce the

[2022-10-17 13:10] dbemke opened #5307 "Possible to tap project icon and a button from the main menu at the same time"
#### ODK Collect version
v2021.1.0, v2022.3.0, the store version (v2022.3.6), master 9cf3144e29f5cb9b25da99f838fc5cb1f30de4dd
#### Android version
8.1, 10, 11, 12, 13
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12, Pixel 3a, Pixel 6a
#### Problem description
After tapping simultaneously the project icon and a button from main menu, both the chosen part from the main menu and project settings dial

[2022-10-17 13:29] dbemke commented on #5306
I managed to reproduce the crash again four times on Samsung M12. I’m still not sure which factors cause the crash but I reduced the step to locking the screen (without rotating) and the camera permission doesn’t need to be granted before opening the form. Again the crashes appeared just after installing the app or when the app wasn’t used for a long time, but as crashes happen randomly it might b

[2022-10-18 09:44] dbemke opened #5310 "Answer showed in the wrong place in select one/multiple widget with image-map appearance"
#### ODK Collect version
master 454905f139520d061c45c7c38adde11ee1bddc7b
#### Android version
5.1, 10, 13
#### Device used
Nexus 5X, Redmi 9T, Pixel 6a
#### Problem description
In select one/multiple widget with image-map appearance the chosen answer appears in the wrong place. On the store version 2022.3.6 the answer appears under the image map, but on the master version it appears on the image m

[2022-10-18 13:42] dbemke opened #5311 "Rotating the screen while a list is opened in select one widget with minimal appearance crashes the app"
#### ODK Collect version
master 454905f139520d061c45c7c38adde11ee1bddc7b
#### Android version
8.1, 10, 11, 13 (probably all)
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12, Pixel 6a
#### Problem description
Collect crashes when the user rotates the screen while a list is opened in select one widget with minimal appearance.
#### Steps to reproduce the problem
1. Open the demo project.
2. Go to All

[2022-10-18 13:44] dbemke commented on #5311
Logs from the crash
`2022-10-18 15:18:11.832 6659-6659/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 6659
    java.lang.NullPointerException: Attempt to invoke virtual method 'void androidx.lifecycle.Lifecycle.addObserver(androidx.lifecycle.LifecycleObserver)' on a null object reference
        at org.odk.collect.android.audio.AudioHelper.registerLifecycleCal

[2022-10-18 17:15] seadowg commented on #5304
Good to see what the investigation from @srujner turns up, but I was curious about this given my personal phone is running Android 13 now (I just picked up a Pixel 6a).

I'm unable to see read/write `/Android/data` in the preinstalled Files by Google (or any other file manager I tried) in Android 13 (running on a Pixel 6a). I do seem to be able to access the AOSP Files app using the much linked (a

[2022-10-20 10:34] #5297 closed, assigned to grzesiek2010

[2022-10-20 11:40] dbemke opened #5316 "Opening two forms by double-clicking on Nexus 5X(Android 8.1)"
#### ODK Collect version
v2021.3.4, the store version (v2022.3.6), master 8edc6ea06e23dfa7c453fde86efb81e16d591085
#### Android version
8.1
#### Device used
Nexus 5X
#### Problem description
Just after downloading the ODK Collect app on Nexus 5x with Andorid 8.1 the user is able to double-click on the form (open two forms). I wasn’t able to reproduce it unless it was the first attempt after downlo

[2022-10-20 16:27] lognaturel commented on #5026
We're going to be asking users to edit form XML for the first preview release of entities. They're much more likely to make mistakes in that context. For example, I forgot to add the `entities:entities-version` attribute and got the dreaded generic failure message. I think this is important to release with the entities preview.

[2022-10-20 16:43] lognaturel opened #5317 "Prevent filled form from being edited if sending is canceled or crashes"
Some users have been reporting that they are seeing failures to send submissions because the server has already received a different submission with the same instanceID. Error message from Central:

See [this report](https://forum.getodk.org/t/odk-central-upload-error-a-submission-already-exists-with-this-id-but-with-different-xml/33596/5?u=ln).

In https://github.com/getodk/collect/issues/4589, w

[2022-10-20 17:18] lognaturel commented on #5292
None of these are great but they also feel like states that could be identified in training and reported to us. It's possible no one makes use of shortcuts in a way that triggers these bad things.

Most of these do point to issues in the order things are initialized or what state is kept globally. I'd be particularly interested in addressing [this one](https://github.com/getodk/collect/issues/5292

[2022-10-24 13:07] dbemke opened #5322 "Source of maps chosen in the first project is applied in the second project or causes the crash of the app"
#### ODK Collect version
v2022.3.0, the store version, master 8dc41e9328132b1f0f8db3aad92de49bf5493104
#### Android version
8.1, 10, 11, 12, 13
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12, Pixel 3a, Pixel 6a
#### Problem description
If the user chooses a source of maps in the first project, the same source of maps is applied in the second project (although different source is chosen in project

[2022-10-24 16:47] seadowg commented on #4940
@grzesiek2010 thoughts on the last comment?

[2022-10-24 21:02] lognaturel commented on #5299
What happens on Android 12?

Looks like the privacy changes came in with [Android 12](https://proandroiddev.com/android-12-privacy-changes-for-location-55ffd8c016fd). From what I understand, it will affect everyone when we target Android 12.

Forum thread to get user feedback [here](https://forum.getodk.org/t/dont-allow-access-to-geo-question-types-if-coarse-vs-fine-location-perms-given/39355).

[2022-10-25 09:10] dbemke opened #5323 "Editing a form with background audio recording and audio quality set crashes the app"
#### ODK Collect version
master 1189d9e3e7ee73e1c5694fd4ecf70ecdb7bd09b0
#### Android version
8.1, 10, 11, 12, 13
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12, Pixel 3a, Pixel 6a
#### Problem description
The Collect app crashes when a form with set audio quality (in xml file) and background audio recording is edited.
#### Steps to reproduce the problem
1. Fill and save AuditTestLocationBackgrou

[2022-10-25 10:01] srujner commented on #5299
I checked it on Android 12 and behavior is exactly the same as on Android 13, but it might be good to check it on a different device. I used Google Pixel 3a and 6a.

[2022-10-25 14:00] grzesiek2010 commented on #4940
Yes, sorry I didn't respond but actually yesterday and today I was playing with hilt (mixing it with plain dagger to see if it doesn't cause any big problems and to understand hilt more).
I'm not like totally in favor of one of those options but I'm leaning towards trying hilt at least in that one module. If you are not against I can try adding hilt to the `audiorecorder` module to check if it wor

[2022-10-25 16:02] #5281 closed, assigned to grzesiek2010

[2022-10-25 16:37] seadowg commented on #4940
Yeah that sounds like a good resolution to this. The more I play around with the newer `FragmentFactory` (especially when combined with the Navigation Component), the more I can see Hilt fitting in well in the future. Let's give it a try in that one module and see if we can come up with a setup we like.

[2022-10-25 16:37] seadowg commented on #4940
Closing this as I think we have a nice resolution around what we're doing next.

[2022-10-25 16:37] #4940 closed, assigned to nobody

[2022-10-26 08:21] dbemke commented on #5322
We checked again the steps on Android 10 and 13 when OSM is chosen as a source of maps in the demo project. After opening a map in the second project the app crashes. The crash happens only when a map is opened for the first time just after downloading the project.

**Steps to reproduce the problem**
    1. Download the Collect app.
    2. Open the demo project.
    3. Get All widgets form.
    4.

[2022-10-26 12:22] #5310 closed, assigned to grzesiek2010

[2022-10-26 12:58] seadowg opened #5325 "Investigate flakiness in UI tests that use rotation"
We seem to see sporadic fails in tests that use `Page#rotateToLandscape`/`Page#rotateToPortrait` quite frequently. We should look into making these tests more stable or replace them with other tests (with the same coverage).

[2022-10-27 08:01] dbemke opened #5326 "Selecting a point in the form map, rotating and clicking back button closes the form in Mapbox"
#### ODK Collect version
master version after merging PR5167

**Android version**

8.1, 10, 11, 12, 13 (probably all)

**Problem description**

When Mapbox is chosen as a source of maps, after selecting a point in the form map, rotating and clicking the device back button the form closes. The form should not close – the bottom sheet should collapse.

**Steps to reproduce the problem**

    1. In C

[2022-10-27 08:21] dbemke commented on #5226
Similar thing happens in Google maps when a user taps near a point in Select one from map form. It is possible to tap near the point and the point will be selected.

https://user-images.githubusercontent.com/56479916/198229971-1054037d-bdcc-41ef-84ab-ea14038a691f.mp4

**Steps to reproduce the problem:**

1. Go to the demo project.
2. Go to Select one from map form.
3. Tap "Select place".
4. Tap ne

[2022-10-27 10:01] #5165 closed, assigned to seadowg

[2022-10-27 14:13] srujner opened #5327 "Error notification is showing after every rotation of the screen"
**ODK Collect version**
master https://github.com/getodk/collect/commit/57ab44d3657b4efc4f62f92397ba8719a3db333d

**Android version**
8.1, 10, 11, 12, 13

**Device used**
Nexus 5X, Redmi 9T, Galaxy M12, Pixel 3a, Pixel 6a

**Problem description**

Bug found during testing PR: https://github.com/getodk/collect/pull/5318
The notification "Sorry, this response is required" appears after every rotatio

[2022-11-01 14:19] seadowg commented on #5301
I've found another (existing) way to bypass the change reason prompt:

1. Enable "Don't keep Activities" in Developer settings
1. Edit form with `track-changes-reason`
1. Change a value
1. Save
1. Minimize app while on change reason prompt
1. Return to app (this causes the app to crash)
1. Reopen app and edit form again and save (form saved successfully with new value and without change reason)

T

[2022-11-02 14:08] #5311 closed, assigned to grzesiek2010

[2022-11-02 14:26] #5317 closed, assigned to grzesiek2010

[2022-11-02 14:43] #4398 closed, assigned to grzesiek2010

[2022-11-02 16:24] seadowg commented on #5299
We're going to go ahead with what @lognaturel suggested in her forum post: the app should continue to lock the user out of flows that require location permissions if they select "approximate" but additionally the user should see a dialog explain that they need to grant "precise" location if they select "approximate" to make it clearer what the problem is.

[2022-11-02 17:17] seadowg commented on #5301
We discussed this and decided we'd fix by altering the change reason behaviour as suggested in https://github.com/getodk/collect/issues/5301#issuecomment-1298581191.

[2022-11-03 11:40] grzesiek2010 opened #5331 "List of forms might be not updated in match exactly mode"
#### Problem description
List of forms might be not updated in match exactly mode after going to the list of forms if we do that when the process of downloading forms is not finished.

#### Steps to reproduce the problem
1. Add a new project with a big form so that downloading will take some time
2. Go to the list of blank forms
3. Wait for the downloading to finish (you will see a progress bar di

[2022-11-03 14:15] seadowg commented on #5327
Nice find. I actually think this is fine. I think we'll end up redesigning the constraint UI sometime in the future and I think we can refine details like this when doing that. Marking this as "won't fix" and closing for the moment.

[2022-11-03 14:15] #5327 closed, assigned to nobody

[2022-11-03 14:20] seadowg commented on #5316
@dbemke does this only happen on the Nexus 5X?

[2022-11-03 14:21] seadowg commented on #5323
I'm assuming this is a regression from #5309.

[2022-11-03 15:01] dbemke commented on #5316
We weren't able to reproduce it on other devices, so I think it's just Nexus 5X. On the Nexus 5X it happens every time after installing the app.

[2022-11-03 15:28] seadowg commented on #5316
@grzesiek2010 it looks to me like we **should** be protected from this in the code (with the `MultiClickGuard`). Do you agree with that?

[2022-11-03 16:00] grzesiek2010 commented on #5316
Yes we protect it using `MultiClickGuard` so maybe the device is so slow that the 1s click debounce is not enough. @dbemke do you think it takes more than 1s between clicking on the form for the first time and moving to the form view?

[2022-11-03 18:35] lognaturel commented on #5026
I was thinking more about this and realized that it might make more sense to make that attribute optional and fall back to the original entities spec version (2022.1.0).

I mentioned this to @seadowg and he expressed surprise that this failure was happening on download. Now that I think about it more, I'm surprised to -- I thought we were doing a specialized pass to pull out the form title and tha

[2022-11-04 08:13] dbemke commented on #5316
I had a look again and opening a form for the first time after installing the app is slower (compared to opening second time etc). It takes some time because I'm able to to tap the form more than twice before it opens, so probably more than 1 second.

[2022-11-04 08:54] grzesiek2010 commented on #5316
So it is what it is. I think we shouldn't change that 1s click debounce because it would have bad impact on other views/elements.

[2022-11-04 10:25] seadowg commented on #5316
Could you try with multiple forms rather than reinstalling the app? It would be good to know if this happens on the first time any forms loads or just every time a form is loaded for the first time.

[2022-11-04 10:28] seadowg commented on #5026
I can have a quick look at that this morning.

I'd vote for this. Unless you've already started @grzesiek2010 I'll unassign you and move this to the next milestone?

[2022-11-04 10:41] grzesiek2010 commented on #5026
I haven't. I was thinking about starting on Monday so yeah we can move it to the next milestone.

[2022-11-04 10:43] grzesiek2010 commented on #5323
No. It turned out to be a bug in the newest version of `mp4parser:muxer`. https://github.com/getodk/collect/pull/5334

[2022-11-04 10:52] dbemke commented on #5316
I tried multiple times before filling the issue and this is what I managed to check/ reproduce or eliminate:
- happens always for the first form after installing (type of form doesn't influence it- all forms tried reopened)
- occurs when the list of forms is still loading and when it has already been loaded
- occurs when the demo project is the first one to be opened and when any other project is

[2022-11-04 11:06] seadowg commented on #5026
I did a quick dig into why we end up parsing the form at download time. The easiest way to see what we parse out is to look at [`ServerFormDownloader#saveNewForm`](https://github.com/getodk/collect/blob/ffcb17ff5ca59c10b5643311e0164a06c79767d5/collect_app/src/main/java/org/odk/collect/android/formmanagement/ServerFormDownloader.java#L213) (`formInfo` is a map of details we parse out of the XForm):

[2022-11-04 11:12] seadowg commented on #5316
@grzesiek2010 the only thing I can think of is that there is some JIT compilation happening when a form is clicked for the first time that creates a delay. We could consider hardening `MultiClickGuard` with a lock as well as a timer: don't let another click execute until the code for the last has finished executing. This wouldn't work with an `if` and `allowClick` but would work with the newer `Mu

[2022-11-04 11:18] grzesiek2010 commented on #5316
We can take a deeper look at it but it's not important so I would rather move it to v2023.1

[2022-11-04 12:46] seadowg commented on #5316
Yup. We tried with a lock to see if it fixed it, but it didn't. I'd like to say we don't have to worry about this as it's on one device, but I can't work out what's happening here and that makes me suspicious. Will schedule this for the next release as @grzesiek2010 suggests.

[2022-11-04 14:24] grzesiek2010 commented on #5316
You meant v2023.1 not v2022.4 right?

[2022-11-04 15:14] seadowg commented on #5316
@grzesiek2010 whoops! Thanks for catching that.

[2022-11-04 15:57] seadowg commented on #5242
I've filed an issue with Mapbox https://github.com/mapbox/mapbox-maps-android/issues/1802.

[2022-11-04 15:57] #5242 closed, assigned to grzesiek2010

[2022-11-04 16:00] seadowg commented on #5191
We're going ahead with fixing this for the moment and will punt on whether to remove the "cellular only" option.

[2022-11-07 10:42] dbemke opened #5335 "Dialog under dialog after minimizing the app when don’t keep activities is on"
#### ODK Collect version
v2021.3.4, the store version ,master ffcb17ff5ca59c10b5643311e0164a06c79767d5
#### Android version
8.1, 10, 11, 13 (probably all)
#### Device used
Nexus 5x, Redmi 9T, Galaxy M12, Pixel 6a
#### Problem description
It looks as if there was a dialog under a dialog after minimizing the app when the dialog about upload results is displayed and then going back to the app when do

[2022-11-09 09:02] #5323 closed, assigned to grzesiek2010

[2022-11-09 10:46] #5191 closed, assigned to grzesiek2010

[2022-11-09 14:27] #5231 closed, assigned to seadowg

[2022-11-09 16:07] seadowg opened #5337 "Rework module naming"
Currently, we have modules named without separators, with a `-` separator and a `_` separator. We should make these consistent. Additionally, it would be good to consider changing `collect_app` to `app` to match with Android convention.

[2022-11-09 18:02] lognaturel commented on #5026
Yes, that seems ok. Probably better to close this issue and open another one for the new work but for now I've moved it to 2023.1 so we don't forget about it.

https://forum.getodk.org/t/download-failed-odk-app/39548 is another instance of a similar issue. It's not clear to me whether it's using Match Exactly or Get Blank Form but it happens when a CSV attachment is poorly-formed.

[2022-11-11 09:59] #5322 closed, assigned to grzesiek2010

[2022-11-14 09:35] seadowg opened #5338 "Add testing for save points"
## Removing save points

In all scenarios, quitting a form (save or ignore changes) or hitting "save and exit" at the end of a form will remove the save point - it will be no longer loaded for that blank form or instance.

## Switching phone off scenarios

Scenarios where save points are used to recover work when a phone dies for some reason during form entry

### Filling out a blank form ✅

1. St

[2022-11-15 11:34] #5291 closed, assigned to seadowg

[2022-11-15 11:34] #5301 closed, assigned to nobody

[2022-11-15 19:15] #5145 closed, assigned to seadowg

[2022-11-15 19:15] #4108 closed, assigned to seadowg

[2022-11-15 19:39] grzesiek2010 commented on #5299
Can we just update the existing dialog? It says:

We could just update it:

Wouldn't that be enough?

[2022-11-15 19:45] #5195 closed, assigned to grzesiek2010

[2022-11-15 20:03] lognaturel commented on #5299
@grzesiek2010 that sounds right to me.

[2022-11-16 10:07] grzesiek2010 opened #5339 "Non-empty values passed in auto-send are interpreted as false (forms should not be sent automatically)"
#### ODK Collect version
All versions.

#### Problem description
In `auto-send` we support only true/false values. If a user wants to use project settings they have to leave the value empty. That default behavior should be take place also if any unsupported value is passed in `auto-send`. However currently any non-empty value other than true/false is treated as false. Moreover ODK Build adds `defa

[2022-11-16 11:20] #5331 closed, assigned to grzesiek2010

[2022-11-16 18:08] yanokwa commented on #5339
Build only adds the "default" value when you export to XLSForm. See https://github.com/getodk/build/blob/30cb0fca9af28f865eec57e032cae1932d542e9c/server/views/index.erb#L327 for the relevant code.

When you export to XML, it doesn't include `auto-send` attribute at all. It probably shouldn't put anything and I've filed an issue at https://github.com/getodk/build/issues/319.

I think we should stil

[2022-11-17 01:30] florianm commented on #5339
So Build https://github.com/getodk/build/blob/30cb0fca9af28f865eec57e032cae1932d542e9c/server/views/index.erb#L328 should read

[code]
instead? (same for autodelete)

edit: ready for review https://github.com/getodk/build/pull/320

[2022-11-17 13:49] dbemke opened #5342 "Sort by last saved is not translated to other languages"
#### ODK Collect version
v2022.4 Beta 2
#### Android version
10, 13 (probably all)
#### Device used
Redmi 9T, Pixel 6a
#### Problem description
In Fill Blank Form sort by last saved is not translated to other languages.
#### Steps to reproduce the problem
1. In Collect settings change language to e.g. Spanish.
2. Go to Fill Blank Form.
3. Tap sort by.
#### Expected behavior
All sort by options sho

[2022-11-17 13:57] grzesiek2010 commented on #5342
We do not add new translations along with implementing a new feature/fix. If there are new strings they are in English and then we let contributors translate them using https://explore.transifex.com/getodk/collect/. Such new translations are added at the end of every release cycle.

[2022-11-17 13:57] #5342 closed, assigned to nobody

[2022-11-17 15:07] dbemke opened #5343 "Forms get deselected in Delete Saved Form if the user rotates the screen and then minimizes the app"
~~Blocked by #5456~~
~~Blocked by #5521~~

#### ODK Collect version
v2022.4 Beta 2
#### Android version
10, 13
#### Device used
Redmi 9T, Pixel 6a
#### Problem description
Forms get deselected in "Delete Saved Form" if the user rotates the screen and then minimizes the app. If don’t keep activities is enabled forms are deselected after minimizing (without rotating).

#### Steps to reproduce the pr

[2022-11-17 18:22] yanokwa commented on #5339
@florianm I think that'd work!

[2022-11-18 13:18] dbemke opened #5346 "Importing a big sized image while reconfiguring with QR code crashes the app"
#### ODK Collect version
v2022.3.0, v2022.4 Beta 2
#### Android version
10, 13 (probably all)
#### Device used
Redmi 9T, Pixel 6a
#### Problem description
The app crashes if a user tries to import a big sized image (which isn’t a QR code) while reconfiguring with QR code.
#### Steps to reproduce the problem
1. Go to Settings, Project management, Reconfigure with QR code
2. Tap on the three dots an

[2022-11-22 09:42] seadowg commented on #5196
This might be relevant: https://android-developers.googleblog.com/2022/11/introducing-camera-viewfinder.html

[2022-11-22 09:54] seadowg commented on #5343
It looks like this is because we are using the (discouraged) `configChanges` attribute for `DeleteSavedFormActivity` to prevent Activity recreation on rotation. That allows us to cheat and not have to retain the list of selected forms between rotations. It doesn't work when you return to the app from a portrait launcher though as for some reason, that still causes Activity recreation to force the

[2022-11-22 10:12] seadowg commented on #5346
Looks like we're seeing this in Crashlytics: https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/7e418d89695b6891711feafdd3d5a642?time=last-seven-days&versions=v2022.4-beta.2%20(4531)&types=crash&sessionEventKey=6377834000B00001170C8D036CECD717_1745787297916921103

[2022-11-22 15:14] grzesiek2010 commented on #5296
I was thinking about this issue and my proposal is to announce it in two places:

- a banner in the main menu displayed if a project uses Google Drive. It would look similar to what we had for scoped storage: ![banner](https://user-images.githubusercontent.com/3276264/203349393-01225451-05b5-4898-b160-5e5abec5c198.png)

- add (deprecated) or something like that in server settings to `Google Derive

[2022-11-22 16:05] #5299 closed, assigned to grzesiek2010

[2022-11-22 16:43] lognaturel opened #5350 "Add analytics for manually-specified instance name"
Instance name is editable when it is not specified by an expression in the form definition. Any name specified that way is local to Collect only.

Our hypothesis is that this gets used very rarely. We'd like to verify that.

[2022-11-22 19:19] lognaturel opened #5352 "Don't include vertical space for a value for note fields"
See [the forum](https://forum.getodk.org/t/form-with-appearance-field-list-and-nested-group-label/39625/4?u=ln)

[2022-11-23 09:00] grzesiek2010 commented on #5352
We don't have a separate widget for notes. `Note` is treated as `string` `read-only` widget. To be consistent we decided to treat all `read-only` widgets without answers in the same way by hiding the answer container and displaying a space box (see: https://github.com/getodk/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/QuestionWidget.java#L361)

I don't think we sh

[2022-11-23 10:40] grzesiek2010 opened #5353 "Rework logging analytics"
#### Problem description
Every time when I need to add new analytics it's confusing to me what class/method should I use. I need to look at other existing logs to understand how to do that. Every time it takes more time that it should.

Problems with analytics that I see are:
1. In some places we log analytics using `BlockableFirebaseAnalytics` object in other it's via `AnalyticsUtils`.
2. There a

[2022-11-23 10:59] grzesiek2010 opened #5355 "Automate the display of open source license"
#### Problem description
The way we display a list of dependencies we use in our project is not automated at all but the list is pretty long so it's easy to miss something or make a mistake by displaying it with a wrong license. It also requires updating every time we add/remove any dependency. It's been a while since we implemented it and maybe now there is a better way to solve that issue. For e

[2022-11-23 11:18] seadowg commented on #5350
My thinking here is that we want to know how often users actually type a name in to the instance name (or "save as") field. To be very specific the acceptance would be:

[code]

Do you agree @lognaturel? #5354 would measure how often the manual instance name (or "save as") would be available which doesn't seem quite right to me.

[2022-11-23 11:22] seadowg commented on #5355
I used Google's library in LSHTM's Keppel project, and it was pretty simple: https://github.com/LSHTM-ORK/ODK_Biometrics/blob/fc6246e8c9cc659ca0bfd4c383f11ba2cdb065db/Android/app/src/main/java/uk/ac/lshtm/keppel/android/settings/SettingsActivity.kt#L50.

[2022-11-23 13:12] seadowg commented on #5296
Love it. This should make it easy to link out to an external webpage (probably the forum post) as well.

I'm wondering if we should go one step further and remove the Google Drive option from settings (unless it's configured already). This would require existing Google Drive projects to use QR codes to set up new devices, which might be too aggressive for a first move.

[2022-11-23 13:58] grzesiek2010 commented on #5296
I think it would be.

[2022-11-23 14:22] #5339 closed, assigned to grzesiek2010

[2022-11-23 14:28] seadowg commented on #5296
How about we show a dialog when Google Drive is selected as the server type warning them of the deprecation with two options:

1. Continue
2. Use ODK Server

Then we would be catching both devices with existing Google Drive projects (with the main menu banner) and new accounts being administered. I'd rather not disrupt the QR code flow with a dialog, and I guess we probably have less need to warn

[2022-11-23 15:00] dbemke opened #5356 "Project display settings do not change after resetting the project settings"
#### ODK Collect version
v2021.3.4, the store version v2022.4 Beta 2, master 6e836499110deb34377a8558cbc815fdc08ca25c
#### Android version
8.1, 10, 11, 13 (probably all)
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12,  Pixel 6a
#### Problem description
After resetting the project settings the changed project name, icon, color (project display in settings) don’t change values.
#### Steps to reprod

[2022-11-23 15:07] seadowg commented on #5356
By "changed", do you mean that the name/icon/color have been changed since creating the project from a QR code (or manually)?

[2022-11-23 15:26] srujner opened #5357 "In some languages the UI in the Project tab looks confusing/missing buttons"
**ODK Collect version**
Current master 6e836499110deb34377a8558cbc815fdc08ca25c, the store version v2022.4 Beta 2

**Android version**
10, 12, 13 (probably all)

**Device used**
Redmi 9T, Pixel 3a, Pixel 6a

**Problem description**

After changing the device language to e.g. Italiano and going to the Projects tab some of the buttons are invisible because of the words length.

**Steps to reproduce

[2022-11-23 15:29] dbemke opened #5358 "Downloaded forms stays selected in Get Blank Form if the user taps beyond the dialog with download results"
#### ODK Collect version
v2021.3.4, store version 2022.4 Beta 2, master 6e836499110deb34377a8558cbc815fdc08ca25c
#### Android version
8.1, 10, 11, 13 (probably all)
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12,  Pixel 6a
#### Problem description
It is possible to tap the screen beyond the dialog when a dialog about downloaded forms is displayed in Get Blank From. Aa a result the downloaded form

[2022-11-23 15:38] dbemke commented on #5356
Both changing manually in settings and or reconfiguring via QR code after creating a project. I discussed this with Grzegorz and other settings go back to default settings (after resetting) only project display settings stays as they were before resetting. So probably the question is how project display settings should change/behave after resetting.

[2022-11-23 15:45] srujner opened #5359 "String number widget counting "spaces" as numbers"
**ODK Collect version**
Current master https://github.com/getodk/collect/commit/6e836499110deb34377a8558cbc815fdc08ca25c, the store version v2022.4 Beta 2

**Android version**
10, 12, 13 (probably all)

**Device used**
Redmi 9T, Pixel 3a, Pixel 6a

**Problem description**
String number widget counting "spaces" as numbers.

**Steps to reproduce the problem**

1. Download form:  [stringWidgets.xml.t

[2022-11-23 16:06] seadowg commented on #5356
Yeah, this an interesting question. We present "Project display" settings along with all the other settings that get "reset", but then don't reset them if "All settings" is checked. There are some other thoughts that come to mind here:

1. Reset for settings is actually pretty different from the reset for forms, form cache and map layers - it restores every setting to the default value rather than

[2022-11-23 17:34] lognaturel commented on #5350
Yes, agreed with those acceptance criteria.

[2022-11-23 18:37] lognaturel commented on #5357
The title of the issue says it's crashing but it's really just confusing/weird/ugly, right?

We knew this was a risk. I added a translation issue [here](https://www.transifex.com/getodk/collect/translate/#it/strings/320127410?q=text%3A'add+project'). Maybe we handle it that way?

[2022-11-23 18:44] lognaturel commented on #5356
Agreed deleting all instances is easy enough from the Delete menu.

I think it's still useful for forms, though. For forms, I think the most useful thing it does is (I believe) clear last-saved. I use it to clear the form cache when things are in a weird state though that may not be broadly used.

For settings, not everyone is configuring from a QR code yet. If they're not, I think clearing settin

[2022-11-23 18:47] lognaturel commented on #5352
Huh, I wonder why we added that space box! Yes, removing that space for all read-only widgets without answers seems good to me. It will only make a difference in a field-list and I think not having the vertical space is the most expected result.

[2022-11-23 19:37] grzesiek2010 commented on #5296
I'm rather leaning towards a simpler solution (something I described). If someone selects Google Drive they will see a banner in the main menu so it's something difficult to miss. But let's see what @lognaturel thinks.

[2022-11-23 22:32] lognaturel commented on #5359
There's a broader issue here. I just submitted `956 979798 -8989-9764.667,,` to a string number. Really, that widget should be doing more validation than it is, `thousands-sep` aside. Ideally it would be impossible to type more than one decimal separator in, negative signs could only go at the bottom, spaces would be forbidden. I'm not entirely sure that's exhaustive so the first step would be to

[2022-11-24 07:43] dbemke opened #5361 "Tapping ok, minimizing the app and tapping ok in an error dialog closes the form"
#### ODK Collect version
v2021.3.4, store version 2022.4 Beta 2, master 6e836499110deb34377a8558cbc815fdc08ca25c
#### Android version
8.1, 10, 11, 13 (probably all)
#### Device used
Nexus 5X, Redmi 9T, Galaxy M12,  Pixel 6a
#### Problem description
 A form with an error is closed after tapping "ok" in the error dialog, minimizing the app and again tapping "ok". I’m not sure if the dialog should be

[2022-11-24 08:57] dbemke opened #5362 "The user needs to tap twice on the plus button in the hierarchy view to add a repeat"
#### ODK Collect version
v2021.3.4, the store version, master 6e836499110deb34377a8558cbc815fdc08ca25c
#### Android version
8.1, 11, 13 (probably all)
#### Device used
Nexus 5X, Redmi 9T, Pixel 6a
#### Problem description
Adding a repeat and filling the question, then quickly going to hierarchy view makes the user tap twice on the plus button to add another repeat. It seems that if the user waits

[2022-11-24 09:22] srujner commented on #5357
Yes, you're right, the first title was a little bit dramatic.
It's ok for me.

[2022-11-24 09:53] seadowg commented on #5356
@lognaturel all good points. You've convinced me it's too early on the projects "journey" to rework this just yet. Given that, is there a good option for what resetting project display settings should actually do, or should we just think of this as "works as intended"? I'm leaning towards the latter as I'm not sure if there's an option that makes the situation less confusing (resetting back to the

[2022-11-24 09:56] seadowg commented on #5296
Yeah, I think I'm happy with it just being that main menu banner as well to be honest. That feels like it will catch pretty much everyone.

[2022-11-24 13:00] grzesiek2010 commented on #5356
Not always it is that simple. You have to:
- remove all unsent forms if you have any
- wait for background jobs to finish

but some users might want to quickly get rid of everything and then resetting seem to make sense.
Resetting all settings converts the project to the Demo one. In Demo project project details are Demo project/D/blue color so I think we should update it like that.

[2022-11-24 15:52] grzesiek2010 opened #5365 "Improvements to the new crash screen"
#### ODK Collect version
v2022.4

#### Problem description
In the latest version we have added crash handling (see: https://github.com/getodk/collect/pull/5324). There is a new screen which pops up after reopening the app after it crashed. It looks like:
![image](https://user-images.githubusercontent.com/3276264/203824549-296ac78c-f18d-443b-a5e5-bbbdc8633ffe.png)

We talked about further improveme

[2022-11-25 11:27] grzesiek2010 commented on #5355
It seems like there are two tools worth using:
- [play-services-oss-licenses](https://developers.google.com/android/guides/opensource):
- [mikepenz/AboutLibraries](https://github.com/mikepenz/AboutLibraries)

Both are easy to implement (I gave it a try so you can use [my branch](https://github.com/grzesiek2010/collect/tree/libs) to test both solutions). However [mikepenz/AboutLibraries](https://gi

[2022-11-29 09:04] #5350 closed, assigned to grzesiek2010

[2022-11-29 15:30] grzesiek2010 commented on #5365
Another thing that comes to my mind is that reviewing crash reports I've noticed that we have a lot of different `OutOfMemory` errors. The app is big and such errors might occur in many different places in the app so it's impossible to catch all of them. Instead we could think about handling some errors like this one in the new view and providing a more readable explanation of what happened than j

[2022-11-30 08:42] dbemke opened #5368 "Invalid geometry in CSV file with entities"
#### ODK Collect version
v2022.4 Beta 2
#### Android version
10, 13
#### Device used
Redmi 9T, Pixel 6a
#### Problem description
It is possible to approve a submission with empty answers in questions in e.g. trees_registration_entities.xlsx form and then link this CSV file to trees_follow_up.xlsx form. Then, in the Collect app when the user taps “Select place” in trees_follow_up.xlsx form, the use

[2022-11-30 16:05] seadowg commented on #5357
Closing this as we have a translation issue for it now.

[2022-11-30 16:05] #5357 closed, assigned to nobody

[2022-11-30 16:14] seadowg commented on #5353
Agreed! I think we should only really be using `Analytics.log` or `AnalyticsUtils` (for the collect specific stuff like form and server events or complex/shared logging code). The only time we should be interacting with instances of the `Analytics` interface directly would be times we want to test the analytics calls (which are rare).

@lognaturel has said she still finds this useful as it at leas

[2022-11-30 17:15] seadowg commented on #5358
I'm going to change the "Expected behavior" section here so that it's consistent with what happens when OK is hit on the dialog.