[2019-03-12 14:36] #2923 closed, assigned to grzesiek2010

[2019-03-12 16:23] Obaid51 commented on #1667
Hi lognatural, I was also thinking the same thing. I guess I could give it a try. Let me know if it is available.

[2019-03-12 19:54] #2918 closed, assigned to grzesiek2010

[2019-03-13 11:26] #1084 closed, assigned to nobody

[2019-03-13 11:26] #1085 closed, assigned to nobody

[2019-03-13 11:26] #2868 closed, assigned to nobody

[2019-03-13 12:27] grzesiek2010 commented on #2870
In [the doc](https://developers.google.com/drive/android/deprecation) they said:
![Screenshot from 2019-03-13 13-10-15](https://user-images.githubusercontent.com/3276264/54277926-61821400-4591-11e9-8dcc-71cfe2e6866d.png)

I'm 99% sure it's ok but I don't have an access so @yanokwa you need to confirm.

When it comes to the code I investigated the [Google Drive Android API Migration](https://github

[2019-03-13 13:19] grzesiek2010 commented on #2844
Looks as if it doesn't concern us. We don't use any native code so as they said in the doc:
`If you can not find any '.so' files in your app at all, then your app is already ready and no further action is required`

[2019-03-13 19:41] yanokwa commented on #2844
Thanks for looking into this. I've confirmed your findings by unzipping the apk, and running `find . -iname "*.so"`.

[2019-03-15 05:05] shobhitagarwal1612 commented on #2924
I'm on it. Please wait for a couple more days

[2019-03-15 15:03] grzesiek2010 opened #2944 "Not relevant repeat groups are visible in the hierarchy"
#### Software and hardware versions
Collect v1.20.0

#### Problem description
Not relevant repeat groups are visible in the hierarchy.

Test form:
[testRepeatCount.xlsx](https://github.com/opendatakit/collect/files/2971649/testRepeatCount.xlsx)
[testRepeatCount.xml.txt](https://github.com/opendatakit/collect/files/2971650/testRepeatCount.xml.txt)

The attached form shows a workaround to hide group

[2019-03-15 15:35] grzesiek2010 opened #2945 "No dialog is shown during reading files from Google Drive"
#### Software and hardware versions
Collect v1.20.0 and older versions

#### Problem description
No dialog is shown during reading files from Google Drive. Having no dialog causes that an empty list is displayed what is confusing. It also might cause some issues/crashes because the UI is not blocked.

#### Steps to reproduce the problem
1. In General `Settings -> Server` select GD as your server
2

[2019-03-15 20:51] zestyping opened #2946 "Disable certain FindBugs warnings"
(Developer-facing only.)

Certain FindBugs warnings seem likely (in my opinion) to cost more than they will benefit us.  These are the ones I feel most confident about disabling:

- `SBSC_USE_STRINGBUFFER_CONCATENATION`: This prohibits using + on strings in a loop.  **Rationale for disabling**: This warning does not detect a likely defect; it only forces premature optimization and makes our code s

[2019-03-15 20:54] zestyping commented on #2946
@yanokwa @grzesiek2010 @shobhitagarwal1612 @cooperka Open to your thoughts on the selection of warnings to disable here.

[2019-03-16 23:00] zestyping opened #2947 "Geo: Accuracy threshold and collection interval in form definition"
(This item is moved here from the [ODK Geo roadmap document](https://docs.google.com/document/d/1r3wJrOVDeFQkk4kWMoW29LtLI1vbBChqJ65w1Jyg4YU/edit#).)

Currently, the enumerator can set a GPS accuracy threshold when collecting points for a GeoTrace or GeoShape, e.g. they can set it so that only points with an accuracy value < 5 m are recorded.  They can also set a collection interval, e.g. collect

[2019-03-16 23:08] zestyping opened #2948 "Geo: Optimize zoom levels for walking surveyors"
(This item is moved here from the [ODK Geo roadmap document](https://docs.google.com/document/d/1r3wJrOVDeFQkk4kWMoW29LtLI1vbBChqJ65w1Jyg4YU/edit#).)

Currently, the geo widgets zoom to level 16 when zooming to the phone's GPS location.

This isn't optimal because it's a bit too zoomed out to see the level of detail one would need when walking a line for GeoTrace.  Also, the zoom level is always r

[2019-03-16 23:13] zestyping opened #2949 "Geo: Filter points by location provider (GPS, wifi, etc.)"
(This item is moved here from the [ODK Geo roadmap document](https://docs.google.com/document/d/1r3wJrOVDeFQkk4kWMoW29LtLI1vbBChqJ65w1Jyg4YU/edit#).)

Currently, when using Google Maps, locations from any provider are used (GPS, wifi, etc.), but when using OSM as the basemap, only GPS locations are used.

It would be useful to be able to configure the geo widgets (by the user or in the form) so th

[2019-03-16 23:14] zestyping opened #2950 "Geo: Collect averaged points"
(This item is moved here from the [ODK Geo roadmap document](https://docs.google.com/document/d/1r3wJrOVDeFQkk4kWMoW29LtLI1vbBChqJ65w1Jyg4YU/edit#).)

Allow the enumerator to collect several points and use their average as the result.  By waiting for several points to be collected, the enumerator can improve the accuracy of the final result.

Some discussion is needed as to the exact featureset an

[2019-03-17 16:03] danbjoseph commented on #2950
It's great that you are continuing to improve and build out the geo functionality of ODK Collect!

Would this be a control that is toggled in the survey form? Automatically something that the user would be able to do for a geopoint question? Or a new geo question type?

If the user adjusts the accuracy down/up, does it affect which points are included in the calculation looking at all those that h

[2019-03-17 18:53] zestyping commented on #2950
Thanks for these questions!

We're thinking of this as a feature of a GeoPoint question.  Whether it's enabled by the app user or by the form designer (or both) is not yet determined.

In the example:
- The GPS accuracy shown is the accuracy of the current sensor reading.
- The "required accuracy" threshold is for the individual points.
- When "required accuracy" is adjusted, it changes which of t

[2019-03-18 04:40] yanokwa commented on #2870
@grzesiek2010 Thanks for checking! I agree that the code in Collect matches the example and I can confirm that we have an OAuth credential that Collect uses to access drive.files.[create,get,list] and others.

@shobhitagarwal1612 If you disagree with our conclusions, please re-open!

[2019-03-18 04:40] #2870 closed, assigned to nobody

[2019-03-18 14:19] cooperka commented on #2946
I'm in favor of disabling all 5 suggested rules.

[2019-03-18 14:24] cooperka commented on #2936
Fixed in https://github.com/opendatakit/collect/pull/2876

[2019-03-19 15:25] danbjoseph commented on #2948
If a user starts collecting a trace, and zooms out (say from 21 back to 20), does the zoom level stay at the adjusted level as they continue to walk around and collect the trace? Or will the widget adjust the zoom at any subsequent time during recording?

[2019-03-19 15:35] danbjoseph commented on #2949
I definitely don't think it should be restricted to GPS only.

Can the phone independently use wifi (that is, without going through Google Maps)? What factors influence the accuracy of using wifi for location? It was my understanding that it depends on working within a Google app and letting them check wireless access points near you against their database of access points they've built from user

[2019-03-19 16:00] danbjoseph commented on #2947
I would be worried that someone might have a use-case where they are using more than one of the geo widgets and want the parameters for the different widgets to be set differently? Would they just not set it and fall back to the existing method of adjusting parameters?

What column(s) would this be set with in the form definition?

[2019-03-19 18:29] shobhitagarwal1612 commented on #286
@grzesiek2010 Can we close this one now?

[2019-03-19 20:37] grzesiek2010 opened #2952 "StackOverflowError on Android 4"
#### Software and hardware versions
Collect v1.20.0 and previous versions, Android v4.x

#### Problem description
Reviewing crash reports I noticed that StackOverflowError is sometimes thrown on Android 4 during loading forms. It's not a very common issue but still, it causes crashes and makes our users confused.

I remember that I created an issue in javarosa's repository some time ago when one o

[2019-03-19 20:47] grzesiek2010 commented on #286
Yes, I think so.

[2019-03-19 20:47] #286 closed, assigned to nobody

[2019-03-20 10:59] kkrawczyk123 opened #2954 "Unable to use Range widgets."
#### Software and hardware versions
Collect v1.20.x, Android v4.2-8.1.x.x, device used...

#### Problem description
There is no way to use/open any of Rane widgets using hierarchy view or when swiping through the form. The error message is displayed:
![Screenshot_20190320-084956](https://user-images.githubusercontent.com/33342488/54678903-59cced00-4b06-11e9-9625-0ed64f32e70c.png)

#### Steps to re

[2019-03-20 11:05] #2847 closed, assigned to grzesiek2010

[2019-03-20 11:10] kkrawczyk123 opened #2955 "The first option is not chosen as default on Choose Google account dialog on Android 8.1, 9.0"
#### Software and hardware versions
Collect v1.20.x, Android v8.1, 9.0, device used...

#### Problem description
The first option from the list on "Choose account for ODK Collect" dialog window is not chosen as default. Screenshot attached:
![Screenshot_20190320-115353](https://user-images.githubusercontent.com/33342488/54679896-baf5c000-4b08-11e9-8727-0fed35104669.png)

#### Steps to reproduce th

[2019-03-21 00:32] grzesiek2010 commented on #2954
It's an issue in Javarosa. I'm closing this issue in favor of https://github.com/opendatakit/javarosa/issues/410

[2019-03-21 00:32] #2954 closed, assigned to grzesiek2010

[2019-03-21 10:35] kkrawczyk123 opened #2956 "Sent but NOT deleted forms are grayed out when they should be active but opening them is possible in View Sent Form."
#### Software and hardware versions
Collect v1.20.x, Android vx.x.x, device used...

#### Problem description
Sent but NOT deleted forms are grayed out when they should be active but opening them is possible in View Sent Form.
![Screenshot_20190320-140723](https://user-images.githubusercontent.com/33342488/54746766-4769b680-4bcd-11e9-810b-29c9819c1dd8.png)

#### Steps to reproduce the problem
The

[2019-03-21 21:54] grzesiek2010 commented on #2955
It's because `GoogleAccountCredential.getAllAccounts()` returns an empty array on tthe mentioned device.
That's strange, according to the comment:
`/** Returns all Google accounts or {@code null} for none. */`
it should be an array with accounts or null.
If I select the account once (manually) and then reset settings it works well. I'm not sure if it's an issue on our side. I would rather say it m

[2019-03-22 08:51] jsoppela opened #2958 "Accessing General settings form Admin settings does not display disabled submenus"
#### Software and hardware versions
Collect v1.20.0, Android v9 build number 00WW_5_140, device used Nokia 8 TA-1004

#### Problem description
Accessing General settings from Admin settings does not display all General settings submenus if access to them has been revoked from normal users.

When normal user access for all settings has been disabled, only the following submenu items are available i

[2019-03-22 10:13] ajwad-shaikh commented on #2958
@opendatakit-bot claim

[2019-03-22 12:28] mmarciniak90 opened #2959 "User should be able to refresh the list of forms from Google Drive after canceling the Reading files dialog"
#### Software and hardware versions
Collect with https://github.com/opendatakit/collect/pull/2951

#### Problem description
User should be able to refresh the list of forms from Google Drive after canceling the Reading files dialog

#### Steps to reproduce the problem
1. Google Drive is set as a server
2. User goes to `Get Blank Form`
3. User sees dialog `Reading files`
4. User clicks on `Cancel`

[2019-03-22 12:33] #2945 closed, assigned to grzesiek2010

[2019-03-22 15:00] jsoppela commented on #2958
I'm working on a slightly diverged Collect fork where this issue is solved by handing  the boolean variable indicating admin access down to the submenu fragments. I've added the following lines [here](https://github.com/opendatakit/collect/blob/4d476b6f7a63f225f9cb0a6812f5501ac81fc6f5/collect_app/src/main/java/org/odk/collect/android/preferences/GeneralPreferencesFragment.java#L82):

`Bundle bundl

[2019-03-22 15:08] ajwad-shaikh commented on #2958
I've found a very similar solution. I'm sending out a PR soon.
Thank you for taking out time to help @jsoppela
I'll be glad if you would review the PR too 😄

[2019-03-22 15:47] ajwad-shaikh commented on #2958
@lognaturel @shobhitagarwal1612 This is an important issue raised by @jsoppela
Admins were unable to access the restricted settings to normal users. This creates a vulnerability in the workflow. Request you to put this up within the v1.21 milestone.
Would be glad if one of you could take time out to review this PR

[2019-03-23 16:07] #2471 closed, assigned to nobody

[2019-03-24 06:27] shobhitagarwal1612 opened #2961 "Update gradle version and dependent components"
#### Problem description
We should bump up the current gradle version to the latest. This change will break some of the existing gradle tools like PMD due to the changes in the latest gradle configuration. So, those must be fixed as well. Apart from that, we should start exploring new features (like R8) released.

[2019-03-25 07:21] #2913 closed, assigned to grzesiek2010

[2019-03-25 07:44] #2956 closed, assigned to grzesiek2010

[2019-03-25 14:30] #2871 closed, assigned to nobody

[2019-03-25 14:30] #2936 closed, assigned to nobody

[2019-03-25 19:02] shobhitagarwal1612 commented on #2961
@opendatakit-bot claim

[2019-03-25 22:58] grzesiek2010 commented on #254
Two months ago we started login events about splash screen https://github.com/grzesiek2010/collect/commit/c882a10ee332ecc70f4083453f03a3fe84d57af8

Now I can see 305 events https://analytics.google.com/analytics/web/#/report/app-content-event-events/a91951913w136214323p140411927/_u.date00=20190118&_u.date01=20190324&explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.eventCategory:PreferenceChan

[2019-03-26 01:29] yanokwa opened #2965 "Update submission analytics to include form ID"

[2019-03-26 03:17] shobhitagarwal1612 commented on #254
Are you in favour of removing the ability to change splash screen image or the entire splash screen itself?

Maybe we can do a forum polling as well to get user opinion.

[2019-03-26 08:59] delcroip commented on #1022
Hi I have the same issue on a galaxy tab 3 T210, it is working fine online https://odk.enke.to/preview?form=https://xlsform.opendatakit.org/downloads/6tc0z5h8/Q_camp_Assesement_draft.xml
I have a
- select one province, with a default value and no choice_filter
- select on district  with a default value and this choice_filter choice_filter = ${province}

br

[2019-03-26 09:55] mmarciniak90 opened #2966 "Add possibility to hide `Show guidance for questions` option only"
#### Software and hardware versions
Collect v1.18.0 (older versions were not verified)

#### Problem description
There is no possibility to hide `Show guidance for questions` option because this one is not listed in `Admin Settings`  -> `User Settings`

#### Steps to reproduce the problem
1. User goes to `Admin Settings`  -> `User Settings`
2. User unselect almost all options, besides one from `Fo

[2019-03-26 10:17] #2958 closed, assigned to ajwad-shaikh

[2019-03-26 10:38] grzesiek2010 commented on #254
Generally both but at least the ability to change splash screen image.

[2019-03-26 11:34] atl2017 opened #2968 "Collect 1.20 does not include translations done a month ago"
#### Software and hardware versions
Collect v1.20

#### Problem description: I did spanish traslations of strings below. Still are display in english.

![image](https://user-images.githubusercontent.com/29519901/54993771-a003cf80-4f90-11e9-8d6a-bf8ebe4a4e06.png)

#### Steps to reproduce the problem:  Sandbox  Form: TestGeotrace

#### Recommendation for future: I strongly recommend to update transi

[2019-03-26 12:11] #2952 closed, assigned to grzesiek2010

[2019-03-26 13:43] grzesiek2010 commented on #1022
@delcroip
Could you attach your xls form?

[2019-03-26 14:38] delcroip commented on #1022
[Q_camp_Assesement_draft.xlsx](https://github.com/opendatakit/collect/files/3008610/Q_camp_Assesement_draft.xlsx) but I fear that is the same issue as https://github.com/opendatakit/collect/issues/378
 br

[2019-03-26 14:40] grzesiek2010 commented on #1022
Yes, choice_filter which uses values from the same group (with `field-list` appearance) can't work and it's the same issue as #378 as you noticed. Just get rid of `field-list` appearance.

[2019-03-26 15:08] grzesiek2010 commented on #2968
Those strings were added in the last release (v1.20) so we have just started collecting translations https://www.transifex.com/opendatakit/collect/ and we will add them in v1.21.

[2019-03-26 15:08] #2968 closed, assigned to nobody

[2019-03-27 05:36] delcroip commented on #1022
thank you, hopefully it will be supported at some point, br

[2019-03-27 09:30] #2916 closed, assigned to nobody

[2019-03-27 09:45] #2966 closed, assigned to grzesiek2010

[2019-03-27 21:49] zestyping commented on #2805
This was not fixed as part of #2865.  There's a bunch of messy logic in there that isn't needed anymore if we no longer want this behaviour, so I'd like to clean that up.  PR coming soon.

[2019-03-28 05:22] lognaturel commented on #378
I've finally had a chance to put together a proof of concept for this using some of the ideas described above. In particular, I think it makes sense to call `saveAnswer` each time an answer is modified as described [here](https://github.com/opendatakit/collect/issues/378#issuecomment-326662406) so that the form engine can recompute all that it needs to. I don't see an alternative to that and I thi

[2019-03-28 07:38] tiritea commented on #378
Just a heads up that something you may have to consider (as I did) is when potentially all the questions in the current field-list become irrelevant as a consequence of something you did. Presumably, under Collect, you'd want to automatically flick to the next control after the field-list, right (rather than displaying an empty screen...)?

[2019-03-28 07:42] tiritea commented on #378
(btw, strictly speaking, "earlier" doesn't matter... any control within a field-list/page may appear or disappear as a consequence of other controls in the same field-list/page, irrespective of their partial ordering)

[2019-03-28 10:33] grzesiek2010 opened #2971 "Backward/Forward navigation buttons"
#### Software and hardware versions
Collect v1.20.0 and older versions

#### Problem description
The buttons we use to navigate backward/forward in a form don't follow material design patterns.

| Current buttons  | [Material design](https://material.io/design/navigation/understanding-navigation.html#forward-navigation) | Proposed changes |
| ------------- | ------------- | ------------- |
| ![Scr

[2019-03-28 11:39] shobhitagarwal1612 commented on #2971
I like the solution that you're proposing. Is the position of the bottom bar fixed?

[2019-03-28 13:04] grzesiek2010 commented on #2971
Are you asking whether it's always visible or always on the bottom?

[2019-03-28 16:04] mmarciniak90 opened #2972 "Unexpected error when user opens 'Sample Form - Preloading'"
#### Software and hardware versions
Collect v1.21.0 beta.0
[sample_preloading.zip](https://github.com/opendatakit/collect/files/3019015/sample_preloading.zip)
#### Problem description
Unexpected error when user opens 'Sample Form - Preloading'

#### Steps to reproduce the problem
* User opens form 'Sample Form - Preloading'
* Error appears
![Screenshot_2019-03-28-17-00-11](https://user-images.gith

[2019-03-28 17:14] lognaturel commented on #378
Absolutely. Going further, the whole form needs to be re-evaluated because changes within the page could affect fields somewhere else in the form which could in turn have impact on parts of the currently-displayed page. That is, even if it were practical to only re-evaluate the parts of the form that are currently displayed, that wouldn't be sufficient. This re-evaluation is relatively efficient b

[2019-03-28 18:40] grzesiek2010 commented on #2972
Closed in favor of https://github.com/opendatakit/javarosa/issues/415

[2019-03-28 18:40] #2972 closed, assigned to grzesiek2010

[2019-03-28 19:42] cooperka commented on #2971
I'm in favor! :art:

[2019-03-28 20:32] tiritea commented on #378
Correct. *ALL* calculations in the form must be re-evaluated whenever any control is updated (DAG helps here...), but only the relevant, read-only, constraint expression of visible controls (which in Collect means those thing in the current field-list) need to be re-evaluated.

[2019-03-29 03:11] lognaturel opened #2973 "Geotrace and geoshape widgets in "tap to place" mode should not snap to the current position"
#### Software and hardware versions
Collect v1.21.beta0

#### Problem description
If location is available when geotrace or geoshape widgets are in "tap to place point" mode, the map re-centers on the current location each time a location update is made available.

This breaks previously-existing functionality to outline a shape anywhere without having to turn off location providers.

It has been

[2019-03-29 04:39] lognaturel opened #2975 "Geo widgets manual entry should support long press"
#### Software and hardware versions
Collect v1.21.0.beta0

#### Problem description
As discussed in https://github.com/opendatakit/collect/pull/2933#issuecomment-470331413, manual entry of points can now be done through single-tapping. It was previously done with long press. I spent several seconds thinking the widget was broken when it didn't respond to my long presses so I expect this will trip

[2019-03-29 10:15] kkrawczyk123 opened #2977 "App is crashing when try to use Google Drive after canceling dialog when Shared with Me is chosen."
#### Software and hardware versions
Collect v1.21.x, Android vx.x.x, device used...

#### Problem description
The app is crashing when try to use Google Drive after canceling dialog when Shared with Me is chosen. I've just encountered that by accident.

#### Steps to reproduce the problem
1. Choose Server Type as Google Drive/Google Sheets and select Google account
2. Go to Get Blank Form
3. Click

[2019-03-29 18:10] zestyping commented on #2975
This makes a lot of sense.  Thanks, @lognaturel!

[2019-03-29 21:38] lognaturel commented on #378
One more thing I wanted to explicitly address. I did look into using `FormElementStateListener` as described [in this comment](https://github.com/opendatakit/collect/issues/378#issuecomment-284822769). However, events are only dispatched for changes to data, locale, and whether a question is read-only, relevant or required. Notably, there are no events for when the label, hint or select choices te

[2019-03-29 21:51] tiritea commented on #378
oh yes, since you'll want to re-display _every_ visible control anyway, that should take care of updating any labels containing references to instance elements (irrespective of if the associated control has a calculation/relevant/read-only or not...)

[2019-03-29 21:58] #2975 closed, assigned to nobody

[2019-03-29 21:59] #2973 closed, assigned to nobody

[2019-03-30 01:09] tiritea commented on #378
another one i just thought of: relevant expression of enclosing field-list group may trigger dependent on enclosed control. [Of course, it takes a bit of a perverted mind to come up with a form like that, but such is the playground of an ex-tester... :-) ]

[2019-03-30 12:53] shobhitagarwal1612 commented on #2971
I'm asking, what happens if the question exceeds the screen height? Is content behind the buttons or on the same elevation?

[2019-03-30 18:30] zestyping commented on #2947
Hey @danbjoseph, sorry for the trouble—we decided it would be better to discuss this on the ODK Forum first rather than here on GitHub.  Would you mind moving your comment onto the [forum discussion](https://forum.opendatakit.org/t/geo-setting-an-accuracy-threshold-and-collection-interval-in-the-form-definition/18940)?

[2019-03-30 18:30] #2947 closed, assigned to nobody

[2019-03-30 18:33] zestyping commented on #2948
@danbjoseph Sorry again.  This is now over on the ODK Forum at [this discussion topic](https://forum.opendatakit.org/t/geo-optimizing-zoom-levels-for-walking-surveyors/18941).

[2019-03-30 18:33] #2948 closed, assigned to nobody

[2019-03-30 18:41] zestyping commented on #2949
@danbjoseph Yes, in general, Android phones can use wifi for location even when Google Maps is not open.  It does check wireless access points near you, but apps can activate that function without using Google Maps.

Moving this discussion over to the [ODK Forum here](https://forum.opendatakit.org/t/geo-filter-points-by-location-provider-gps-wifi-network/18942).

[2019-03-30 18:41] #2949 closed, assigned to nobody

[2019-03-30 18:50] zestyping commented on #2950
Moved this over to [an ODK Forum topic](https://forum.opendatakit.org/t/geo-collect-averaged-points/18943/3).

[2019-03-30 18:50] #2950 closed, assigned to nobody

[2019-04-01 11:27] grzesiek2010 commented on #2977
@kkrawczyk123 this pr fixes the issue https://github.com/opendatakit/collect/pull/2970

[2019-04-01 13:23] mmarciniak90 opened #2979 "App crashes if the user opens some GeoWidget with Google Map and immediately changes device orientation"
#### Software and hardware versions
Collect v1.21 beta 0

#### Problem description
App crashes if the user opens some GeoWidget with Google Map and immediately changes device orientation

#### Steps to reproduce the problem
1. User opens some Geo Widget with map
2. User immediately changes device orientation
3. App crashes

[crashGeoPoint2.txt](https://github.com/opendatakit/collect/files/3029551/

[2019-04-01 14:32] mmarciniak90 opened #2980 "Scrolling on Rank list causes an unexpected disorder"
#### Software and hardware versions
Collect v1.19 (older versions were not verified)

#### Problem description
Scrolling on Rank list causes an unexpected disorder

#### Steps to reproduce the problem
1. User opens form [rank-field-list.xml.txt](https://github.com/opendatakit/collect/files/3029875/rank-field-list.xml.txt)
2. User scrolls on the list
![Screenshot_20190401-072416](https://user-image

[2019-04-01 14:59] zestyping commented on #2979
Relevant stack trace:

<pre>
Process: org.odk.collect.android, PID: 14731
java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.content.Context.getDrawable(int)' on a null object reference
 	at android.support.v4.content.ContextCompat.getDrawable(ContextCompat.java:463)
 	at org.odk.collect.android.utilities.IconUtils.getBitmap(IconUtils.java:

[2019-04-01 17:26] grzesiek2010 commented on #2971
it works in the same way as before, nothing is hidden.

[2019-04-01 23:22] #2959 closed, assigned to grzesiek2010

[2019-04-01 23:22] lognaturel commented on #2977
Closed by #2970

[2019-04-01 23:22] #2977 closed, assigned to grzesiek2010

[2019-04-02 11:04] #2980 closed, assigned to grzesiek2010

[2019-04-02 12:06] grzesiek2010 opened #2984 "The app is crashing if a user chooses a big image instead an image with QR code during importing settings"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5beda62bf8b88c29631095e3?time=last-seven-days&sessionId=5C9E0BEE02BE000129E10E221B6E39AF_DNE_0_v2

`Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 256000012 byt

[2019-04-02 13:22] #2979 closed, assigned to nobody

[2019-04-03 07:29] mmarciniak90 opened #2989 "Make coordinates for GeoTrace and GeoShape more readable"
#### Problem description
Coordinates are not readable easily.

|GeoPoint|GeoTrace|GeoShape|
|---|---|---|
|![Screenshot_20190403-092049](https://user-images.githubusercontent.com/3907554/55460426-3f107300-55f2-11e9-923c-0ef655867816.png)|![Screenshot_20190403-092053](https://user-images.githubusercontent.com/3907554/55460431-42a3fa00-55f2-11e9-869b-92a0c54fea75.png)|![Screenshot_20190403-092057](h

[2019-04-03 07:30] mmarciniak90 commented on #2989
@opendatakit-bot label "needs discussion"

[2019-04-03 13:23] grzesiek2010 commented on #2989
Taking into account UI improvements we want to implement and material design probably it would be better to get rid of those coordinates at all and display that part of the map (selected point/geoshape/geotrace). Or maybe two tabs - the map and cooridnates if we don't want to get rid of them.

[2019-04-03 18:24] lognaturel opened #2991 "Current location can't be manually added to geo polygons with Google Maps"
#### Software and hardware versions
Collect v1.21

#### Problem description
When using the Google Maps engine, tapping within the location accuracy circle re-centers the map on the current location. That means that if the user is defining a polygon in manual mode, a point can't be added by single tapping within the accuracy circle. Long pressing works as expected, however.

#### Steps to reproduce

[2019-04-03 18:28] cooperka opened #2992 "Unexpected prompt to add not-relevant repeat instances"
#### Software and hardware versions
Collect v1.21

#### Problem description
As [discussed in PR #2990](https://github.com/opendatakit/collect/pull/2990#issuecomment-479600700), using the [hiddenRepeat.xml](https://github.com/opendatakit/collect/files/3040187/hiddenRepeat.xml.txt) form, stepping forward and backward results in unexpected prompts to add new instances of groups that are designated as

[2019-04-04 08:44] mmarciniak90 opened #2993 "User should be informed then scanned QR code does not contain settings"
#### Problem description
User should be informed then scanned QR code does not contain settings

#### Steps to reproduce the problem
1. User goes to `Admin Settings`
2. User goes to `Import/Export settings`
3. User clicks on `Scan code from other device`
4. User scans QR code which does not contain ODK settings

#### Expected behavior
* User is informed that QR code does not contain settings
* Whe

[2019-04-04 10:03] grzesiek2010 commented on #378
I took a look, played with some forms and the general approach looks good to me. Nice!

[2019-04-04 22:08] grzesiek2010 opened #2995 "NullPointerException in FormDownloader.java:279"
#### Software and hardware versions
Collect v1.21.1 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c1786a4f8b88c2963237660?time=last-seven-days&sessionId=5CA4DEFD032A00015363DC34F4213F26_DNE_0_v2

`Caused by java.lang.NullPointerException: Attempt to invoke interface method 'i

[2019-04-04 22:12] grzesiek2010 opened #2996 "NullPointerException in FormsDaoHelper.java:53"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5ca5ae48f8b88c2963576462?time=last-seven-days&sessionId=5CA5AD51028800011A531B9FE9D2F759_DNE_0_v2

`Caused by java.lang.NullPointerException: Attempt to invoke interface method 'i

[2019-04-05 00:21] #2984 closed, assigned to grzesiek2010

[2019-04-05 06:36] zestyping opened #2997 "Geo: Google Map and OSM use different location providers"
Currently, when using Google Maps, locations from any provider are used (GPS, wifi, etc.), but when using OSM as the basemap, only GPS locations are used.

This is inconsistent.  We should make the behaviour the same, regardless of the map SDK.

See related discussion: https://forum.opendatakit.org/t/geo-filter-points-by-location-provider-gps-wifi-network/18942

[2019-04-05 15:34] lognaturel commented on #2997
Aw, we had talked about this at some point but it drifted off the radar! Good to have an issue for it.

Related: #2717 #1460

[2019-04-05 18:07] iadeelzafar commented on #2993
Did you mean instead of the currentToast text
We should replace it to
```QR code does not contain settings```

[2019-04-05 18:37] iadeelzafar opened #3000 "Redirects to Form Start onBackPressed and clicking anywhere"
#### Software and hardware versions
Collect debug build variant
Galaxy Nexus API 24

#### Problem description
A) When opening a saved form, and you press back button instead of going back to the list of forms, you're taken back to the start of form.
B) Secondly, when you open a form and you touch anywhere on the screen except the buttons, you'll be redirected to the start of the form.
#### Steps t

[2019-04-06 02:59] nap2000 commented on #2942
Deleting a repeat also does not seem to result in calculates that have count() of the number of repeats being updated.  Is this the correct behaviour or another issue with "remove group"

[2019-04-06 18:38] iadeelzafar opened #3001 "Checkbox state not saved on screen rotation"
#### Software and hardware versions
Collect debug build variant
Galaxy Nexus API 24

#### Problem description
Mark as finalized checkbox state not saved on screen rotation.

#### Steps to reproduce the problem
1- Go to Edit Saved Forms
2- Open a form and click on Go To End button.
3- Check the checkbox and  then rotate screen.
4- You'll notice that state is not being saved.
#### Expected behavior

[2019-04-07 15:40] shobhitagarwal1612 commented on #2861
The pull request is open. Please wait

[2019-04-08 15:13] #2991 closed, assigned to grzesiek2010

[2019-04-08 16:43] grzesiek2010 opened #3002 "Fatal Exception: java.lang.NullPointerException FormEntryActivity.java line 2712"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5ca60282f8b88c296364024c?time=last-seven-days&sessionId=5CAB72A4038000016BBF1AD4BE178F94_DNE_2_v2

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual meth

[2019-04-08 17:31] #3002 closed, assigned to grzesiek2010

[2019-04-08 17:58] lognaturel opened #3004 "When Google Maps is used as mapping engine, don't render labels on top of offline layers"
#### Software and hardware versions
Collect v1.21

#### Problem description
When offline tiles are used with the Google Maps engine, the default basemap labels are rendered on top which may conflict with elements in a custom basemap or layer.

See discussion at https://forum.opendatakit.org/t/behavior-of-offline-tiles-with-osm-vs-google-maps/18704

#### Steps to reproduce the problem
1. Set mappin

[2019-04-08 22:33] grzesiek2010 opened #3005 "IllegalArgumentException in InstanceListCursorAdapter.java line 83"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c88e550f8b88c2963efbba8?time=last-seven-days&sessionId=5CAB7E3E00FD00015FD727A96858D70A_DNE_0_v2

`Fatal Exception: java.lang.IllegalArgumentException: Unknown pattern character

[2019-04-09 03:15] #2996 closed, assigned to grzesiek2010

[2019-04-09 06:23] grzesiek2010 opened #3007 "The app is crashing if a user tries to open the list of forms form Google Drive using Slovenian language"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
`java.lang.IllegalArgumentException: Illegal pattern character 'p'
        at java.text.SimpleDateFormat.compile(SimpleDateFormat.java:870)
        at java.text.SimpleDateFormat.initialize(SimpleDateFormat.java:684)
        at java.text.SimpleDateFormat.<init>(SimpleDateFormat.java:623)
        at org.

[2019-04-09 08:26] mmarciniak90 opened #3009 "The user is able to open date and time dialogs at the same time"
#### Software and hardware versions
Collect v1.19 (older versions were not verified)

#### Problem description
The user is able to open date and time dialogs at the same time

#### Steps to reproduce the problem
1. User goes to `Date time` widget
2. User clicks on both buttons
3. Both dialogs appear
![date_time](https://user-images.githubusercontent.com/3907554/55784870-c312a100-5ab1-11e9-87d1-449

[2019-04-09 10:41] grzesiek2010 opened #3011 "IllegalArgumentException might be thrown in FormsProvider"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
Working on https://github.com/opendatakit/collect/issues/3007 and https://github.com/opendatakit/collect/issues/3005 I discovered one another place in our code where such an `IllegalArgumentException` might be thrown if we add corrupted translations.

It's in [FormsProvider](https://github.com/opendata

[2019-04-10 08:18] mmarciniak90 opened #3012 "'Get account permission' dialog does not appear because of changing device orientation"
#### Software and hardware versions
Collect v1.18 (older versions were not verified)

#### Problem description
'Get account permission' dialog does not appear because of changing device orientation

#### Steps to reproduce the problem
Case1:
1. User goes to General Settings -> Server and sets Google Drive
2. User clicks on `Google account`
3. Permission dialog appears and user clicks on Deny
4. `G

[2019-04-10 10:25] #179 closed, assigned to nobody

[2019-04-10 10:26] #2944 closed, assigned to grzesiek2010

[2019-04-10 19:23] #2961 closed, assigned to shobhitagarwal1612

[2019-04-10 19:24] #2995 closed, assigned to grzesiek2010

[2019-04-10 20:07] #2852 closed, assigned to nobody

[2019-04-10 22:04] grzesiek2010 opened #3013 "Migration to AndroidX"
#### Problem description
As described [here](https://developer.android.com/topic/libraries/support-library/revisions) Support Library 28.0.0 is the last released version so migrating to AndroidX is recommended.
More info about AndroidX: https://developer.android.com/jetpack/androidx

[2019-04-11 14:03] DataStrategist commented on #1591
Hi all. @shobhitagarwal1612 @lognaturel does this mean that Google Drive will *NOT* be able to host media files? This is really regrettable. Let me try to convince you with my use case: https://forum.opendatakit.org/t/picture-output-from-barcode-scan/19121

It seems there's a decent way... I could also even optimize upon the method listed thre, but we DO need to be able to get the media folder ont

[2019-04-11 14:57] shobhitagarwal1612 commented on #1591
This issue was fixed about 1 year ago. I'm pretty sure that this works in the latest version. Please consider checking that first and if you face any problem then we can discuss it over here or in the forum

[2019-04-11 20:47] DataStrategist commented on #1591
Sorry, I did indeed check... I only came here when the behavior was incorrect. I have identified the exact problem. Everything works as expected when I'm downloading the app FROM MY OWN GOOGLE DRIVE... however, it breaks if the form is created in a seperate account and then shared with me. My steps to replicate the problem:

 1. I have used [THIS form](https://opendatakit-a3b1.kxcdn.com/uploads/de

[2019-04-11 21:25] shobhitagarwal1612 commented on #1591
Thank you for the detailed information. I'll try to look into it tomorrow.

[2019-04-11 22:32] grzesiek2010 commented on #1591
Yeah, I can confirm that the behavior here is not perfect. From my quick investigation I know that it works well if you shared the entire folder where you have that form and media folder but if you share an xml file and the folder with media files separately then only your form will be downloaded.

@DataStrategist could you confirm that it's ok if you share the parent folder?

[2019-04-12 13:20] DataStrategist commented on #1591
@grzesiek2010 Confirmed! Everything works as expected if I place both into a parent folder and share that. I will say that the first time I tried it it didn't work, but when I deleted the form, and redownloaded it all worked correctly! Thanks to both! 👍

[2019-04-12 13:25] ChakshuGautam commented on #3004
Hi,
We have been using ODK for some of our Apps in [Samagra](https://in.linkedin.com/company/samagra-transforming-governance) and love the effort the community has put on this. I would like work on this issue as token of thanks for such a great project. Let me know if the issues is still available.

Thanks.

[2019-04-12 16:05] lognaturel commented on #3004
That is fantastic, @ChakshuGautam! Does Samagra use offline mapping? There are further improvements planned for geo features in Collect and you might consider sharing your needs and feedback on the threads at https://forum.opendatakit.org/search?q=geo%20category%3A9%20order%3Alatest.

I filed this issue thinking that offline maps weren't previously supported with the Google Maps engine but @zestyp

[2019-04-12 16:34] grzesiek2010 commented on #1591
Great. I think the behavior is ok but it should be documented so I filed the issue https://github.com/opendatakit/docs/issues/1009

[2019-04-12 16:53] grzesiek2010 opened #3015 "NullPointerException in QRCodeUtils.getBinaryBitmap(QRCodeUtils.java:78)"
#### Software and hardware versions
Collect v1.21.1 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5beda62bf8b88c29631095e3?time=last-seven-days&sessionId=5CADA569027800015BB532B734DFBA7D_DNE_0_v2

`Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'int

[2019-04-12 18:10] grzesiek2010 opened #3016 "Deleting a repeat does not result in calculates that have count() of the number of repeats"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
Deleting a repeat does not result in calculates that have count() of the number of repeats.

The problem has been reported in this issue: https://github.com/opendatakit/collect/issues/2942#issuecomment-480468517

#### Steps to reproduce the problem
1. Open the attached form:
[countRepeatTest.xml.txt](h

[2019-04-12 18:10] grzesiek2010 commented on #2942
@nap2000 you are right, thanks for reporting. It's a separate issue so I filed it here https://github.com/opendatakit/collect/issues/3016

[2019-04-13 00:46] grzesiek2010 opened #3019 "NullPointerException in FormEntryModel.java:448"
#### Software and hardware versions
Collect v1.21.1 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b0d80d16007d59fcd4e8285?time=last-seven-days&sessionId=5CB06F0D024D00016E62D903AC2F64F9_DNE_1_v2

`Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'boo

[2019-04-13 16:50] #2971 closed, assigned to grzesiek2010

[2019-04-13 19:48] shobhitagarwal1612 opened #3021 "CircleCI build is failing"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
The instrumentation test is failing due to a minor change introduced in 98e6b30ea367fc65c70cf116a9742a9e291322f2.

#### Steps to reproduce the problem
Run `./gradlew connectedDebugAndroidTest`

#### Expected behavior
Test shouldn't fail

#### Other information
That change isn't required as

[2019-04-15 21:36] #3021 closed, assigned to shobhitagarwal1612

[2019-04-16 07:43] #3013 closed, assigned to grzesiek2010

[2019-04-17 11:04] #3007 closed, assigned to grzesiek2010

[2019-04-17 11:44] mmarciniak90 opened #3025 "Icons in `Sort by` dialog are not visible in other languages than English when text is translated (Android 7.0, 8.1)"
#### Software and hardware versions
Collect v1.18,0 (older versions were not verified)
Android v**7.0, 8.1**

#### Problem description
Icons in `Sort by` dialog are not visible in other languages when text is translated

#### Steps to reproduce the problem
1. Language other than English is set on **Collect**
2. User goes to `Fill Blank Form` or `Edit Saved Form` or `Send Finalized Form ` or `View

[2019-04-17 13:04] #3005 closed, assigned to grzesiek2010

[2019-04-17 16:51] #3011 closed, assigned to grzesiek2010

[2019-04-18 05:40] mmarciniak90 opened #3026 "Form subtext should be translated on the currently set language in Collect"
#### Software and hardware versions
Verified Collect v1.19.0 and 1.21.1
Different behavior on Android version >= 7.0 and <= 6.0

#### Problem description
Form subtext should be translated on the currently set language in Collect

#### Steps to reproduce the problem
1. User sets the English language on Collect
2. User downloads form - form has `Added on ... ` information under the form name
3. User

[2019-04-18 16:13] lognaturel commented on #3026
This is a duplicate of https://github.com/opendatakit/collect/issues/1419. I've closed that one in favor of this one since it has nice screenshots and context.

I had written:

[2019-04-19 04:30] lognaturel opened #3027 "Tapping on a specific question in a field list from the hierarchy view should scroll to that question"
#### Software and hardware versions
Collect v1.21

#### Problem description
When a specific question in a field list is tapped from the hierarchy view, the field list opens with the first question at the top and with focus. The question that was tapped should be on the screen and have focus.

#### Steps to reproduce the problem
1. Open a form with a long field list
1. Tap on the jump button
1. Tap

[2019-04-19 12:49] mmarciniak90 opened #3029 "Some toasts are visible in the language selected on the device, not on Collect"
#### Software and hardware versions
Verified on Collect v1.19
Android v8.1, v7.0
device used: Nexus 5X, Samsung S7

#### Problem description
Some toasts are visible in the language selected on the device, not on Collect on Android 8.1

#### Steps to reproduce the problem
1. **Spanish** language is set on device
2. **English** language is set on Collect
3. User fills form and clicks on Save icon ->

[2019-04-19 13:15] mmarciniak90 opened #3030 "Incorrect hierarchy view is visible when user removes nested repeat group"
#### Software and hardware versions
Verified Collect v1.21.1 and 1.19.0

#### Problem description
Incorrect hierarchy view is visible when user removes nested repeat group

### Case 1
#### Steps to reproduce the problem
1. User starts form: [nested-repeats-complex.xml.txt](https://github.com/opendatakit/collect/files/3098156/nested-repeats-complex.xml.txt)
2. User adds one Friend and 3 Pets for th

[2019-04-19 17:34] #3015 closed, assigned to grzesiek2010

[2019-04-19 18:43] grzesiek2010 commented on #3012
All those additional dialogs work in that way, I think it's ok since it's just additional info and it's not that crucial we need to ensure it's displayed after rotating a device again.
I'm closing the issue.

[2019-04-19 18:43] #3012 closed, assigned to grzesiek2010

[2019-04-22 12:06] nap2000 commented on #2942
Thanks @grzesiek2010 this one had been bugging me!

[2019-04-22 19:20] lognaturel opened #3033 "When repeat with field-list appearance is deleted, the wrong repeat instance is removed"
#### Software and hardware versions
Collect v1.21

#### Problem description
https://forum.opendatakit.org/t/bugs-when-removing-a-repeated-group-that-is-not-the-last-group/4930

#### Steps to reproduce the problem
https://opendatakit-a3b1.kxcdn.com/uploads/default/original/2X/7/7b7f3bff5626bfdd54ae006b5c19369a36851be0.xlsx

#### Expected behavior

#### Other information
The correct group is deleted

[2019-04-23 00:16] lognaturel opened #3034 "Dependency logging should be disabled in production builds"
#### Software and hardware versions
Collect v1.21.1

#### Problem description
JavaRosa produces a lot of logging output in production. This has performance implications.

#### Steps to reproduce the problem
Run a production build and run `adb logcat`. See that JavaRosa is incredibly noisy. e.g. `adb logcat | grep XPath` is a good way to see that.

#### Expected behavior
No JavaRosa logging should

[2019-04-23 03:41] lognaturel commented on #3034
@JohnTheBeloved, thanks for asking about this, you were absolutely right that logging was enabled and shouldn't have been. I couldn't feel a difference in performance on my device unless I was actually displaying the log to console, though.

[2019-04-23 19:44] yanokwa opened #3036 "Add more metadata to the audit log"
There is useful information about the form filling session that is not included in the audit log. If there are problems with a form filling session, that audit log information.

* Form name, version, ID -- this is already in the instance, but it would be nice to have in the log to keep that information together with the audit.
* Collect version, Android version -- useful to know if a form was fill

[2019-04-23 21:54] lognaturel opened #3037 "Only jpg attachments are sent to servers that don't provide a Location header in response to the HEAD request"
#### Software and hardware versions
Collect v1.21.1

#### Problem description
Servers that don't provide a `Location` header in response to the `HEAD` request don't receive file attachments other than jpg.

See https://github.com/opendatakit/aggregate/issues/455 and https://github.com/opendatakit/central/issues/47

#### Steps to reproduce the problem
Try to send an attachment other than a jpg to C

[2019-04-24 09:36] #3025 closed, assigned to grzesiek2010

[2019-04-24 10:31] #3009 closed, assigned to grzesiek2010

[2019-04-24 19:05] lognaturel opened #3039 "The user should be notified that something is happening when re-evaluating the form takes time"
#### Software and hardware versions
Collect v1.21.1 and prior

#### Problem description
When a user swipes from one question screen to the next, the whole form needs to be re-evaluated. This can take up to several seconds and currently the user has no feedback that something is happening. Additionally, user actions are still processed so it's common for a user to think they haven't swiped, swipe a

[2019-04-24 21:04] grzesiek2010 commented on #3029
Sometimes we get strings using the application context like `Collect.getInstance().getString(R.string.data_saved_ok);` (becuase an activiti context is not available)) and in those cases (depending on android version) the problem occurrs.

According to https://proandroiddev.com/change-language-programmatically-at-runtime-on-android-5e6bc15c758
`Another pitfall of using createConfigurationContext is

[2019-04-25 09:06] ekigamba opened #3040 "Long-term fix for breaking change when openning instance upload list activity from external app"
#### Software and hardware versions
Collect v1.21.0, Android v7.0.0, Samsung SM T713

#### Problem description
Previously the form instance upload list page, called **Send Finalized Form** and displays a list of finalized forms for upload, could be openned using the following code:

[code]
The new name for the activity is `org.odk.collect.android.activities.InstanceUploaderListActivity` thus exter

[2019-04-25 10:38] grzesiek2010 commented on #3040
We should use the last option. Other activities we can run from an external app work in that way. You can take a look at https://github.com/grzesiek2010/collectTester

[2019-04-25 13:03] ekigamba commented on #3040
Thanks @grzesiek2010. Is there a way that we could have both the old and new way for users who have not updated ODK Collect?

[2019-04-25 14:11] grzesiek2010 commented on #3040
Can't you use the new name of that activity if the old one doesn't exist?

[2019-04-25 14:51] lognaturel commented on #3040
@grzesiek2010 The external API for the app should be stable. So sorry we didn't catch that change in review!

I definitely think we should make the prior class name work as previous and issue a point release. We can also introduce an action and put external direct access to the activity on a deprecation path but then we need to communicate that with users somehow and give them time to change exist

[2019-04-26 09:35] kkrawczyk123 commented on #3030
When testing the same form I have noticed the same behavior when deleting one of the Friends or Enemies groups.

[2019-04-29 07:19] ekigamba commented on #3040
That's a good idea @lognaturel.

How long(OR after how many releases) do you retain deprecated components before removing them?

[2019-04-30 08:41] kkrawczyk123 opened #3043 "Store the server URL that was imported by QR code."
#### Software and hardware versions
Collect v1.21.x, Android vx.x.x, device used...

#### Problem description
Only URLs that were introduced manually in General Settings/Server are stored in the drop-down URL list after using another server URL. User does not have to input the URL again, just choose it from the list, switching servers, when needed, is very easy and comfortable.
When the server's U

[2019-04-30 20:46] #3037 closed, assigned to lognaturel

[2019-04-30 20:48] #2942 closed, assigned to grzesiek2010

[2019-04-30 21:37] lognaturel commented on #3040
@ekigamba We always consult with users of the feature when it's a deliberate deprecation (rather than an accident like this one). So in this case you and anyone else who uses that integration point could say what your constraints are. The goal is to give enough time for users to adapt as needed.

[2019-05-01 04:46] lognaturel commented on #3027
@opendatakit-bot, patience is a virtue.

[2019-05-01 16:08] yanokwa opened #3046 "Move from Google Analytics to Firebase SDK before end of August"
We use Google Analytics for a number of the Collect APKs (production, debug, and forks) and Google is deprecating analytics for mobile properties. I'd like to move to Firebase before end of August so we have have lots of time to verify things work.

Here's the message from Google.

https://support.google.com/firebase/answer/6317479 might be a good place to start.

[2019-05-01 16:09] yanokwa commented on #3046
@grzesiek2010 I think you are likely the best person to lead this effort.

[2019-05-02 08:52] ekigamba commented on #3040
@lognaturel Thanks for this. I will communicate this and get back ASAP

[2019-05-02 17:34] #3040 closed, assigned to nobody

[2019-05-02 17:36] lognaturel commented on #3040
@ekigamba I don't see any reason to deprecate anything at the moment. I think this is an issue of making sure all reviewers are on the same page about what constitutes the public API of the app. I've proposed #3045 to help make sure this kind of regression doesn't happen again.

[2019-05-03 04:55] yanokwa opened #3047 "Update Collect icon to new specification by June 2019"

[2019-05-03 06:23] ekigamba commented on #3040
Thanks @lognaturel

[2019-05-03 19:57] #3034 closed, assigned to lognaturel

[2019-05-03 20:47] lognaturel opened #3048 "Show that form updates are available with Google Drive integration"
#### Software and hardware versions
Collect v1.21.2 and prior

#### Problem description
When the server is set to Google Drive, there is no indication that form updates are available.

#### Steps to reproduce the problem
Upload a form to Google Drive, upload it or its media, go to Get Blank Form and see that there is no indication of updates.

#### Expected behavior
The "This is an update to a for

[2019-05-03 22:31] lovisgod commented on #2885
How can I contribute to this please ..

[2019-05-06 20:59] lognaturel opened #3050 "Provide custom action name for launching list of instances to upload"
Currently the list of instances to upload is exposed through generic `VIEW` and `EDIT` actions. This is unexpected and also means that other apps respond to the same action so Collect has to be picked out of a list. It would be useful to add a custom-named action that better describes what the activity does and narrows down the responding applications. See #3045 for additional context.

There alre

[2019-05-07 13:00] mmarciniak90 opened #3051 "Crash when user opens selfie widget on Android 4.2 and below"
#### Software and hardware versions
Collect current master
Android v4.2 and v4.1

#### Problem description
Collect crashes when user tries to open `Selfie widget` or `Selfie video widget` on Android 4.2 and below

#### Steps to reproduce the problem
1. User fills `All widgets` form
2. User swipes to `Selfie widget` or `Selfie video widget`
3. Collect crashes

**Logs**
[crash4.1.txt](https://github

[2019-05-08 06:55] grzesiek2010 commented on #2885
@lovisgod

I was working on this issue and I prepared a proposed solution. I'll create a pr soon. We have lots of issues so please take something else, don't hesitate to ask if you have a problem?

[2019-05-08 13:38] lovisgod commented on #2885
OK thanks let me check out other ones.

[2019-05-08 13:42] lovisgod commented on #3043
HI @yanokwa @grzesiek2010 how can I contribute to this issue?

[2019-05-08 16:49] lognaturel commented on #3043
Welcome, @lovisgod! The first thing to do would be to make sure you can reproduce the issue with the description provided and that you understand the proposed solution. If not, you can ask questions here.

Please make sure you've read through [the contribution guide](https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md) and when you're ready to claim the issue, you can comment with `

[2019-05-09 22:21] #378 closed, assigned to lognaturel

[2019-05-09 22:21] #1475 closed, assigned to nobody

[2019-05-09 22:21] #2537 closed, assigned to nobody

[2019-05-09 22:23] lognaturel commented on #2537
@shobhitagarwal1612 you may want to double check #3023 but I'm pretty sure it addresses everything in this issue.

[2019-05-09 22:24] #3019 closed, assigned to grzesiek2010

[2019-05-10 18:43] lovisgod commented on #3043
HI, @lognaturel @grzesiek2010  I have forked the repo but confused which of the directories has the main project. Am thinking its the collect_app folder.

[2019-05-10 20:58] #2588 closed, assigned to nobody

[2019-05-10 21:13] grzesiek2010 opened #3054 "Months in Myanmar calendar are not displayed on some devices"
#### Software and hardware versions
Current master branch

#### Problem description
The problem has been reported here https://github.com/opendatakit/collect/pull/2662#issuecomment-491258283

Months in Myanmar calendar are not displayed on some devices. The only device we are able to use for reproduction is Infinix Race Bolt Q X451 device with Android 4.2.

![57524338-d1a9dd80-7327-11e9-8b05-fa0a4

[2019-05-13 18:01] grzesiek2010 opened #3059 "NullPointerException in InstanceProvider.java:227"
#### Software and hardware versions
Collect v1.21.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bd8bc81f8b88c2963df7a42?time=last-seven-days&sessionId=5CD53F0901550001264D06C39131FC64_DNE_0_v2

[code]

[2019-05-13 18:22] grzesiek2010 opened #3061 "SecurityException in ExStringWidget.java:168"
#### Software and hardware versions
Collect v1.21.2

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5cd1b289f8b88c29634a8c4d?time=last-seven-days&sessionId=5CD9A619008E00016AA1088DEE32DBFC_DNE_0_v2

`Fatal Exception: java.lang.SecurityException: Permission Denial: starting Intent { act=android

[2019-05-13 18:47] grzesiek2010 opened #3063 "SQLiteDatabaseCorruptException in MapHelper.java:302"
#### Software and hardware versions
Collect v1.21.2

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c784485f8b88c296375c2d4?time=last-seven-days&sessionId=5CD71CB6030A0001147DCBAE8AD70EB8_DNE_0_v2

`Fatal Exception: android.database.sqlite.SQLiteDatabaseCorruptException: database disk image i

[2019-05-13 19:16] grzesiek2010 opened #3065 "IllegalStateException in GoogleAccountsManager.java:173"
#### Software and hardware versions
Collect v1.22.0-beta

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5cd8e991f8b88c2963c4a3e1?time=last-seven-days&sessionId=5CD9A3DB024A000167EE4027E59C465E_DNE_0_v2

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{org.o

[2019-05-13 22:29] #3059 closed, assigned to grzesiek2010

[2019-05-13 22:32] #3063 closed, assigned to grzesiek2010

[2019-05-14 23:01] #3061 closed, assigned to grzesiek2010

[2019-05-15 02:39] mateusmedeiros opened #3068 "Request headers are treated as case sensitive"
#### Software and hardware versions
Collect v1.21.2, Android v8.0.0, Asus Zenfone 3 Zoom (ZE553KL)

#### Problem description
The [RFC2616 section 4.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) dictates that request / response headers are supposed to be case insensitive.

But from what I could tell, it seems the way collect currently works is by putting the headers into a `Hash

[2019-05-15 11:46] alexo21 opened #3069 "I am using ODK to conduct a surevy. However I failed to upload in the ONA server. The problem I encountered says the following: b'ODK Validate Errors:\n>> Something broke the parser. See above for a hint.\nDependency cycles amongst the xpath expressions in relevant/calculate\n\nResult: Invalid'. Any help ?"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-05-15 13:43] akshay-ap commented on #3069
Hi @alexo21 !!
Forum would be the correct place to ask for support.
I would suggest you to post it in support section with detailed explanation.
Link: https://forum.opendatakit.org/.

[2019-05-15 17:30] #3069 closed, assigned to nobody

[2019-05-15 22:58] lognaturel commented on #3068
Thanks so much for that really thoughtful description of the problem, @mateusmedeiros! Agreed that it's worth complying with RFC2616 and not enforcing a particular case on the headers. I hope you weren't also too frustrated by the vague requirements of the `Date` header. May I ask what you're working on?

There has on and off been some work to modernize the networking code but unfortunately it has

[2019-05-16 03:11] lognaturel opened #3070 "Harmonize select horizontal appearances"
Select appearances are currently not consistent between clients and don't always make sense. [This forum post](https://forum.opendatakit.org/t/spec-proposal-harmonize-compact-compact-n-horizontal-horizontal-compact-appearances/15565/13?u=ln) defines new appearances to resolve that.

The intended behavior is:

| new appearance          | behavior

[2019-05-16 04:09] lognaturel commented on #3070
~`columns` vs `columns-flex` needs to be confirmed at https://forum.opendatakit.org/t/spec-proposal-harmonize-compact-compact-n-horizontal-horizontal-compact-appearances/15565/22?u=ln~ Confirmed and fixed above.

[2019-05-16 09:55] mmarciniak90 opened #3071 "Inappropriate 'Shared with Me/My Drive' button is visible if the user navigates to deeper directories"
#### Software and hardware versions
Collect v1.21.0

#### Problem description
Inappropriate 'Shared with Me/My Drive' button is visible if the user navigates to deeper directories

#### Steps to reproduce the problem
##### Case1:
1. GoogleDrive is set in server settings
2. User goes to `Get Blank Form`
3. User clicks on `Shared with Me` button
4. User goes to some folder
5. **User sees `Shared wit

[2019-05-17 03:00] mateusmedeiros commented on #3068
@lognaturel Thanks!

I'm working on a Ruby on Rails implementation of an OpenRosa compliant server to be mounted as an engine in a private Rails project.

In my case, because the underlying Ruby standard class Net::HTTP, which is responsible for the response behind the scenes, will automatically do a normalization of the headers' case for some reason, Rails is always sending "X-Openrosa-Accept-Con

[2019-05-17 17:58] lognaturel commented on #3070
Closed by #3028.

[2019-05-17 17:58] #3070 closed, assigned to grzesiek2010

[2019-05-19 23:25] zestyping opened #3075 "Turn off the Checkstyle rule requiring a blank line before static { } blocks."
This is a developer-facing issue only.

Checkstyle currently enforces the following rule:

[code]

This forces us to put a blank line before any `static { }` declaration.  For example, Checkstyle breaks the build for the following code:

[code]

It rejects the code because there is no blank line between the first line and the second line.

I think we should turn this off, because a `static { }` bl

[2019-05-20 16:34] #3065 closed, assigned to grzesiek2010

[2019-05-20 20:56] lognaturel commented on #2965
Thanks, @grzesiek2010, for taking this on! I had to rethink through it since there's no description to the issue. So for posterity:
- the goal is to get a sense of how many different projects are using the various submission options. Right now we can't differentiate between a single huge deployment relying on e.g. Google Sheets autosubmission or many small ones doing the same.
- we don't just want

[2019-05-21 12:42] grzesiek2010 opened #3080 "NullPointerException in FormsDao.java:185"
#### Software and hardware versions
Collect v1.21.2 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5be2b202f8b88c2963e50c6a?time=last-ninety-days&sessionId=5CDE045801280001472B93007C62F7E1_DNE_0_v2

`Fatal Exception: java.lang.RuntimeException: An error occurred while executing

[2019-05-21 13:02] grzesiek2010 opened #3082 "NullPointerException in InstanceUploader.java:115"
#### Software and hardware versions
Collect v1.21.2 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c98f066f8b88c29638ebe43?time=last-ninety-days&sessionId=5CE26EAB0189000118386A954F8777EB_DNE_0_v2

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface m

[2019-05-21 16:38] #2965 closed, assigned to grzesiek2010

[2019-05-21 16:38] #3080 closed, assigned to grzesiek2010

[2019-05-21 16:39] #3082 closed, assigned to grzesiek2010

[2019-05-21 17:13] grzesiek2010 opened #3084 "Support persian calendar"
Some time ago one of our users asked  about supporting persian calendar:
https://forum.opendatakit.org/t/persian-calendar-available-for-odk/19256

There are some java libs we could to do that.

@lognaturel please consider it, maybe it could be added to v1.23

[2019-05-21 20:35] lognaturel commented on #3084
👍 Could you do a rough estimate of effort? Are there different lib options? Is there one with an API that makes adding it straightforward? Is it likely to have special cases like the Myanmar calendar?

[2019-05-21 22:03] yanokwa opened #3085 "Measure frequency of usage of saveIncomplete"
[saveIncomplete](https://github.com/opendatakit/collect/blob/11938d4a9677b8c545b24725b9f0a1b81443918b/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L1606) is bind attribute that probably should never have been added to ODK Collect (and the spec). I think it's unlikely to be in wide-usage so I'd like to deprecate it. The first step in this process is adding som

[2019-05-21 22:32] #3085 closed, assigned to nobody

[2019-05-22 10:31] #1028 closed, assigned to nobody

[2019-05-22 21:49] zestyping opened #3090 "Eliminate duplication of constants between MapFragment implementations"
`GoogleMapFragment`, `MapboxMapFragment`, and `OsmMapFragment` have some identical constants.  We should move them all to one common location.

[2019-05-23 01:35] florianm commented on #3088
Observation on accuracy: We compared bearings recorded by the bearing widget on four identical Samsung Galaxy S2 tablets, and the bearing differed by more than 20 degrees between them. Our cheaper tablets don't have a compass built in.
We now use manual hand-held compasses ($10) with $100 Lenovo Tab3 tablets.

Side note 2: Our most accurate bearing & pitch measurement comes from laser rangefinders

[2019-05-23 03:33] florianm commented on #2527
Update:
Samsung Galaxy S2 which always found good GPS signal, ODK Collect 1.21.2: no satellites found in over 1 minute, outdoors. Normal fix was auto-save with accuracy < 5m in 10-15 secs from GPS sat.
Eventually defaulted to location over WiFi (testing next to work with WiFi).

Motorola G6, also ODK-Collect 1.21.2, same location/situation, GPS satellite fix in ~10 secs (slower than usual), found

[2019-05-23 03:36] florianm opened #3093 "Add setting for captured location format"
#### Software and hardware versions
Collect v1.21,2 and earlier versions
Any android device

#### Problem description
Once captured, location is shown as DMS. It would be great to have the option to show captured coordinates as decimal degrees.

[2019-05-23 13:28] mmarciniak90 opened #3095 "Data lost in audit file when the user jumps to question in saved submission and then saves changes"
#### Software and hardware versions
Collect v1.21.2 (older versions were not verified)

#### Problem description
Data lost in audit file when the user jumps to question in saved submission and then saves changes

#### Steps to reproduce the problem
1. User starts the form: [trackingChangesAndLocationTestForm.xml.txt](https://github.com/opendatakit/collect/files/3212229/trackingChangesAndLocationTe

[2019-05-23 23:08] yanokwa opened #3097 "Reduce size of APK"
Historically, the Collect apk has been small (~4MB). Version v1.22.0-beta.1 has grown to 12.3MB. This is likely due to the addition of the Mapbox SDK.  12MB isn't terrible, but for large scale projects it will add up to a lot of time and money.

I'm using `./gradlew clean assembleOdkCollectRelease` to build the APK. The attached screenshot is what the Play Store sees as a difference between v1.22.

[2019-05-23 23:12] yanokwa commented on #3097
And for completion, I also get this warning in the Play Store:

It's an odd error because the number of devices on v1.22.0-beta.0 and v1.22.0-beta.1. are the same. I bet it's because of the native platforms change.

[2019-05-23 23:23] muarachmann commented on #3075
Hi @zestyping i would love to take on this i see it concerns the following https://github.com/opendatakit/collect/blob/master/config/checkstyle.xml am i right? If guided i would love to give it an attempt thanks. Looking forward to your response

[2019-05-24 00:05] zestyping commented on #3097
Step 1. Confirmed; Mapbox is the culprit.

Release APK built on `master` with `./gradlew clean assembleOdkCollectRelease`:

    -rw-r--r--  1 ping  staff  14240464 23 May 16:53 collect-odkCollectRelease-unsigned-v1.22.0-beta.1.apk

Release APK built with the same command after stubbing out calls to Mapbox classes and removing the two `mapbox` dependencies from `build.gradle`:

    -rw-r--r--  1 pi

[2019-05-24 00:05] zestyping commented on #3097
The size change is 5.9 MB to 14.2 MB — an increase of 8.3 MB or a factor of 2.4x.

[2019-05-24 04:29] yanokwa commented on #3097
https://proandroiddev.com/reducing-apk-size-by-using-abi-filters-and-apk-split-74a68a885f4e and the refs at the bottom have good info on what we should include/exclude if we want to build one APK.

* arm64-v8a - safe to exclude if we aren't worried about a performance hit
* armeabi - safe to exclude if we can raise API level to 17 (Android 4.4).
* armeabi-v7a - must include, most popular architect

[2019-05-24 09:39] #3095 closed, assigned to grzesiek2010

[2019-05-24 13:39] mmarciniak90 opened #3099 "Time is not updated when timezone was changed"
#### Software and hardware versions
Collect v1.22

#### Problem description
Time is not updated when timezone was changed

#### Steps to reproduce the problem
1. User fills the answer in `Time widget`
2. User changes device timezone
3. User returns to time questions
4. Question is not updated

#### Expected behavior
The default date displayed by picker should be the same as device time.

#### Othe

[2019-05-24 18:18] zestyping commented on #3097
Here's the breakdown of the size increase.

![2019-05-24 17-35-10](https://user-images.githubusercontent.com/236086/58346384-9e7b4a00-7e0f-11e9-8dca-bacf6468763a.png)

Pretty much all of the increase in download size (+7.9 MB) consists of the new native binaries (+7.3 MB) and a small increase in classes/resources (+0.4 MB), which I assume to be the Java side of the Mapbox SDK.

[2019-05-24 18:21] zestyping commented on #3097
Based on https://developer.android.com/ndk/guides/abis.html, it seems to me that:
1. We could include only the `armeabi` binary alone, and it would still work on all phones we currently support, i.e. API level 16+ (though it wouldn't take advantage of the extra capabilities of ARMv7 and ARMv8 devices).
2. We could include only the `armeabi-7a` binary alone, and it would work on all phones with API

[2019-05-24 18:28] zestyping commented on #3097
If I drop `osmdroid` from the build:

    -rw-r--r--  1 ping  staff  14083793 24 May 11:23 collect-odkCollectRelease-unsigned-v1.22.0-beta.1-dirty.apk

The size only reduces from 14240464 to 14083793, a savings of 156 kB or 1.1%.  😕 Native libraries are huge!

[2019-05-24 20:04] zestyping commented on #3097
Here is a list of all the phones from [phonedb.net](http://phonedb.net) that have an Intel or AMD processor, run Android 4.1 or higher, and have GPS capability:

[x86-models.txt](https://github.com/opendatakit/collect/files/3218389/x86-models.txt)

There are 155 models.  Consolidating similar models, this list simplifies down to:

[code]

Using this list, I created a Report named "x86 devices, 201

[2019-05-24 20:26] yanokwa commented on #3097
@zestyping I'm still thinking about your earlier question at https://github.com/opendatakit/collect/issues/3097#issuecomment-495741430. While I do that, do you have a sense for how bad the performance difference is between say arm64-v8a and armeabi-7a? Is is the type of thing that the average user would notice?

[2019-05-24 20:46] yanokwa commented on #3097
Well, ignore my previous comment. According to https://developer.android.com/distribute/best-practices/develop/64-bit, starting August 1, 2019, we will need to ship with a 64-bit library if we use native code.

So, we have to include arm64-v8a and one of armeabi-v7a or armeabi depending on what API level we want to support. If we include x86, then we have to include x86_64.

[2019-05-24 20:52] zestyping commented on #3097
Aaaaahh, FU, Google.  What a useless waste of space and bandwidth for people who don't need the (probably minimal) speedup that going from 32-bit to 64-bit delivers.  Yet again, thinking only of those privileged with ubiquitous and plentiful Internet bandwidth, who don't pay by the megabyte, and who can afford to throw away their phones every couple of years.

[2019-05-24 20:57] yanokwa commented on #3097
The Google giveth and the Google taketh away!

One option is that we [publish APKs for every ABI](https://developer.android.com/google/play/publishing/multiple-apks#Rules). That's a tough thing to do logistically. Uploading multiple APKs, keeping the versionCodes different, sound like a nightmare. Maybe there are tools that automate the process?

Another option is that we use [App Bundles](https:/

[2019-05-24 21:01] zestyping commented on #3097
The problem with both those solutions is that they totally break Bluetooth app transfer.

[2019-05-24 21:03] zestyping commented on #3097
(Or local serving of an APK file, which is super useful in the field.)

[2019-05-24 21:04] grzesiek2010 commented on #3099
@lognaturel

It's caused by this commit https://github.com/opendatakit/collect/commit/ee784a1c98e4c274ff808e69d86ff02a7d6beeae
this line: https://github.com/opendatakit/collect/commit/ee784a1c98e4c274ff808e69d86ff02a7d6beeae#diff-03ff45091550285dd88b56927010c457L2185

The problem is only if we set the timezone during filling a form. Times in saved forms are updated properly so I don't think it mak

[2019-05-24 21:09] grzesiek2010 commented on #3099
I know that it comes from your regression list @mmarciniak90 but I would transform this test and check saved forms since as I said changing timezone during filling a form sounds like a very rare case.

[2019-05-24 21:17] lognaturel commented on #3099
@grzesiek2010 Good find. I tend to agree that it sounds like a rare case though I suppose a user could try to set a time, notice that their clock is off, try to change the timezone and then be annoyed that it doesn't change the picker. Did I understand correctly that this could happen?

[2019-05-24 21:18] lognaturel commented on #3099
Does this also mean that the behavior when a user changes the device language is different? That is, did it use to change immediately if the Collect setting was set to "use device language" and now it will change on swipe?

[2019-05-24 21:19] grzesiek2010 opened #3100 "Values in audit file are mixed after updating form and changing audit options"
#### Software and hardware versions
Current master branch

#### Problem description
The problem exists only if we upgrade a form disabling one of the options and we edit a saved form so it's rather a very rare case.

#### Steps to reproduce the problem

1. Create a form with tracking locations and changes in audit file.
2. Fill a form.
3. Upgrade the form disabling one option.
4. Edit the saved fo

[2019-05-24 21:29] zestyping commented on #3097
Okay, I've finished making all these builds so we can compare them:

[code]

Our baseline is the `no-mapbox` build, at 5.9 MB.  The `no-mapbox-native-code` build contains the Mapbox Java classes but not the native libraries, so we can see the impact of each native library.

I was going to recommend the v7a build (8.2 MB), which is a tolerable +2.3 MB (1.4x) increase, runnable for 99.90% of our use

[2019-05-24 21:39] grzesiek2010 commented on #3099
Changing language works fine because then refreshCurrentView() is called here https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L451
If you change language something more happens and apps are refreshed what doesn't happen in case of changing time, but it would be good to test some different devices/Android version

[2019-05-24 21:41] zestyping commented on #3097
Another option we could consider is that we could publish two APKs: v7a and v7a-v8a.  We publish the v7a-v8a version only to satisfy Google's pointless requirement.  Both versions are safe to distribute over Bluetooth, but the v7a-v8a version is only a formality.  We distribute v7a as the true, official version.

(It might even be possible to write the v7a-v8a version so that it downloads and repl

[2019-05-24 21:44] lognaturel commented on #3099
That is a lot of significant figures. 😅

I think it's ok to leave as-is and see if users run into the case unless @mmarciniak90 or someone else thinks of a scenario where a user would experience it. I think you're right that it's unlikely.

[2019-05-24 22:41] zestyping commented on #3097
Okay, here are all the options I can think of.  We don't have to decide on the long-term plan immediately; we can choose to postpone some or all of the decisions until v1.23 or until August.

Options we have now:

| APKs for v1.22 release | APK sizes | Who gets Mapbox? | APK redistributable? |
|:-|-:|:-:|:-:|
| 1. no Mapbox (postpone) | 5.9 MB (1.0x) | no one | yes |
| 1. v7a only | 8.2 MB (1.4x)

[2019-05-25 16:47] zestyping commented on #3097
@yanokwa Thoughts on next steps?  I think this should be your call.  (My personal leaning is toward releasing a v7a-only APK for now so we start getting feedback on Mapbox right away, but pretty happy to go with anything you decide.)  Let me know if there's any more data I can get for you that would factor into your decision.

[2019-05-25 17:06] lognaturel commented on #3097
Quick note that the size in the Play Store is a little bit smaller than what gets uploaded (because ???). Right now the beta is showing up as 11.53mb.

What happens to users on API 16 with v7a only? Are they cut off from updating Collect just like the x86 users or can they update but Mapbox won't work?

[2019-05-25 17:28] yanokwa commented on #3097
I think we should ship v7a+x86 to get everyone for now, communicate in the release notes why the app size has gone up, and communicate about upcoming file size changes and potential dropping of x86. Reaching everyone is important because there are good features in this release independent of maps: logic in field lists and track changes.

There might be a performance hit on 64-bit devices with this

[2019-05-25 20:59] zestyping commented on #3097
@lognaturel Good point about API 16.

You're right, this is the big open question, and it bears on both the API 16 question and on the decision to include x86.  I had assumed that the APK without the right native libraries would still run but only fail when trying to make native calls into the native library (thus API 16 and x86 users would only miss out on Mapbox but everything else would still w

[2019-05-25 21:17] zestyping commented on #3097
To clarify—it seems almost certain that it's _possible_ to deploy an APK that gets served to all users with only the Mapbox part not working for API 16 and x86 users.  It's just a question of how hard the Play Store is going to make it to accomplish that.  (In the worst case, we could publish a fat APK containing armeabi and arm64-v8a and x86 libraries that are full of empty stubs.)

[2019-05-25 22:11] zestyping commented on #3097
Okay, I've confirmed that I can build and install an APK that lacks the native library for a given platform, and we can detect this in the code (so we could gracefully disable the Mapbox option in such a case).  But I haven't confirmed that the Play Store will serve it.

@yanokwa I'll confirm this later today if I can.  But you don't need to block on that confirmation—if you want to proceed, the q

[2019-05-25 23:23] yanokwa commented on #3097
If we can ship `armeabi` and `x86`, why not just do that until August? Is the performance of `armeabi-v7a` that much worse?

[2019-05-25 23:26] zestyping commented on #3097
If we are okay with the size increasing to ~10 MB, I see no reason not to do that until August.

The only performance impact this could possibly have is that the Mapbox library might run a bit slower than a hypothetical build with `armeabi-v7a`.  But that's in comparison to a build that doesn't exist, and there's no impact on the rest of the app because everything else is in Java.

[2019-05-25 23:39] zestyping commented on #3097
Oops.  I spoke too soon.  Mapbox dropped support for `armeabi` in May 2018.

https://github.com/mapbox/mapbox-gl-native/pull/11458

[2019-05-26 00:07] zestyping commented on #3097
Okay.  I tried publishing an app on Google Play that contains only an `x86` binary and went through the whole process.  It finally appeared in the Play Store.  On my phone, the Play Store says "This app isn't compatible with your device anymore" and there's no Install button—even though the app runs just fine on my ARM-based phone. 😒

I expect that API 16 users will have this experience if we ship

[2019-05-26 00:09] zestyping commented on #3097
Oh, I have one more idea.  What if we drop in a zero-byte file for `armeabi/libmapbox-gl.so`?  Hmm...

[2019-05-27 16:02] lognaturel commented on #3097
I also expect that API 16 users would not be able to upgrade if the build only has `armeabi-v7a` and `x86` libs. I have a device I can confirm with.

This is a really good idea. Any results?

On another note, do we know for sure that shipping [App Bundles](https://developer.android.com/guide/app-bundle) precludes bluetooth transfer? Is the fastest way to confirm one way or another to try it?

[2019-05-27 16:06] yanokwa commented on #3097
My new ideal would be ship `armeabi-v7a`, put in zero-byte file or stubs for the rest, and disable Mapbox option (or throw up a warning) for API 16, x86.

[2019-05-27 17:06] grzesiek2010 commented on #2041
Fixed in https://github.com/opendatakit/collect/pull/3023

[2019-05-27 17:06] #2041 closed, assigned to nobody

[2019-05-27 19:02] grzesiek2010 opened #3101 "Answers (old-value, new-value) are added in wrong places if both tracking locations and tracking changes are enabled but GPS is disabled."
#### Software and hardware versions
Collect v1.22.0-beta

#### Problem description
Answers (old-value, new-value) are added in wrong places if both tracking locations and tracking changes are enabled but GPS is disabled.

#### Steps to reproduce the problem
1. Disable GPS.
2. Open the form: [trackingChangesTestForm.xml.txt](https://github.com/opendatakit/collect/files/3224780/trackingChangesTestFo

[2019-05-27 19:18] lognaturel commented on #2041
🙌Thanks for following up on this, @grzesiek2010. Great that we could get to a generalized solution.

[2019-05-27 23:45] zestyping commented on #3097
@yanokwa Okay, I did an exploration of this today that led me down several garden paths.

I'll try to write a shorter summary soon, but here's a description of everything for now—apologies for the length!  See the last bullet point for the TL;DR on what we can do now.

- The native libraries go inside `lib/` in the APK.  So our goal would be to put a dummy file in `lib/armeabi/libmapbox-gl.so`.

-

[2019-05-28 02:48] lognaturel commented on #3097
Thanks for that deep dive, @zestyping. I know it's probably a lot more than you wanted to know about all this. No summary needed for me.

To be explicit about one thing that you explained to me that I don't think has made it into this thread -- while it's likely that there are some devices that run Collect from Android API 16 and ARM processors that don't support the armv7 instruction set, it's pr

[2019-05-28 03:57] zestyping commented on #3097
That's correct.  According to https://source.android.com/compatibility/4.4/android-4.4-cdd.html#section-3.3.1, all Android devices from 4.4 up (API level 19+) are required to support `armeabi-v7a`.  So the set of devices that we currently push updates to, that would be affected by shipping an APK to Google Play that includes some native libraries but not an `armeabi` library, includes only devices

[2019-05-28 04:04] zestyping commented on #3097
If anyone is curious to check a particular phone, the fastest way to find out the supported architectures is

    adb shell getprop | grep cpu

[2019-05-28 08:59] #3101 closed, assigned to grzesiek2010

[2019-05-28 11:35] grzesiek2010 opened #3103 "The read-only option doesn't work with some select widgets and with RatingWidget"
#### Software and hardware versions
Collect v1.22.0-beta

#### Problem description
The read-only option doesn't work with some select widgets and with RatingWidget.
It's not a very important option but I ran into the issue trying to implement a question with multiple media files https://forum.opendatakit.org/t/how-to-add-multiple-media-files-in-a-single-question-using-media-image-media-audio-colum

[2019-05-28 11:44] mmarciniak90 opened #3104 "Text on GeoShape and GeoTrace button is not changed when the answer is added"
#### Software and hardware versions
Collect v1.22

#### Problem description
Text on GeoShape and GeoTrace  buttons is not changed when the answer is added

#### Steps to reproduce the problem
1. User clicks on the button `Start GeoTrace` or `Start GeoShape`
2. User adds a location
3. User saves answer
4. User is moved to view with the button `Start GeoTrace` or `Start GeoShape`
5. `View or Change

[2019-05-28 11:51] grzesiek2010 opened #3106 "Add espresso tests to verify the read-only option"
#### Problem description
I have just fixed the issue related to the read-only option: #3103
It's an issue that appears from time to time so it would be good to have automated tests to check it.

[2019-05-28 11:57] grzesiek2010 commented on #3104
It would be good to agree on one universal title to avoid changing it when an answer is added. I remember that we have fixed a similar issue some time ago so it shows it's a tricky case and having a universal title would allow us to avoid such small bugs.

[2019-05-28 12:53] zestyping commented on #3104
@grzesiek2010 I agree that would simplify things!  For now, I've prepared a quick fix for your review in #3107.

[2019-05-28 13:42] grzesiek2010 commented on #3084
In this case, we have many possible solutions.
I was able to find some project on Github like:
https://github.com/amirmehdizadeh/JalaliCalendar
https://github.com/razeghi71/JalaliCalendar
Both are created by just one person so I find it a bit risky to use and in case of any communication problems it might be difficult like it was in case of Myanmar calendar.

Another possible solution is ICU http:

[2019-05-28 14:14] grzesiek2010 commented on #3084
To sum up, the last option looks like the one we should use.

[2019-05-28 15:04] yanokwa commented on #3097
I'm leaning towards using the zstd library trick to build a single binary for armeabi-v7a and x86. It feels low risk to me. @zestyping, any reason why you didn't recommend it as the approach for v1.22?

[2019-05-28 22:35] zestyping commented on #3097
Adding zero-byte stub binaries was indeed the main goal of the entire exercise.  The only reason I didn't do that last step is that I had spent the whole day exploring all these possibilities already, it sounded like we wanted to release to go out today or tomorrow, and I didn't have the energy to figure out how to build our own package with stub binaries in the time left—I didn't realize it was s

[2019-05-28 22:42] yanokwa commented on #3097
@zestyping You did all the hard work! Glad I could chip in a little bit.

[2019-05-28 22:46] zestyping commented on #3097
Gradle sucked all the life out of me!  I'm glad you tagged in.

[2019-05-29 00:11] lognaturel opened #3109 "Answers containing line breaks should be escaped in audit log"
`Foo \n bar \n baz` is allowed in some free-text fields. Those answers should be escaped with quotes, as are answers with commas.

Additionally, escaped answers may contain quotes. Those should be escaped by prepending an additional quote ([see RFC 4180](https://tools.ietf.org/html/rfc4180)).

[2019-05-29 00:20] lognaturel opened #3110 "Audit CSV header row should not include spaces between column names"
CSVs are tokenized on commas so spaces are included in the column names when they shouldn't be.

[2019-05-29 05:48] novastreams commented on #2738
our app does not have SMS or Call Log functionality but still they are sending us the same error again and again, I have submitted the appeal multiple times but they are sending us the same message again and again. This is frustrating.

can anyone help me here please.

[2019-05-29 09:15] #3103 closed, assigned to grzesiek2010

[2019-05-29 12:31] #3110 closed, assigned to nobody

[2019-05-29 13:30] grzesiek2010 commented on #425
@lognaturel
now we can do that and it wouldn't be a big deal since we use RecyclerView for selects. I don't like the first option I would choose between a new appearance and a new option in settings.
What do you think?

[2019-05-29 13:33] dalerhoda commented on #425
I like the new appearance idea.

[2019-05-29 13:55] grzesiek2010 opened #3114 "Allow using commas in parameters we pass to external apps"
#### Software and hardware versions
Collect v1.22.0-beta and older versions

#### Problem description
The problem has been originally reported on the forum: https://forum.opendatakit.org/t/external-app-with-intent-parameters/20125

#### Steps to reproduce the problem
Try to use commas in parameters passed to an external app.
The appearance would be like:
`appearance="ex:org.companyX.appX(value1='q

[2019-05-29 15:19] yanokwa opened #3115 "Fail more gracefully when using Mapbox with non ARM devices"
#### Software and hardware versions
Master, x86 device (emulator)

#### Problem description
On x86 device, loading a geowidget when Collect has the Mapbox SDK crashes Collect. It'd be good if it failed more gracefully.

#### Expected behavior
Maybe you can't select Mapbox if you are on an architecture that isn't supported.

Or maybe instead of crashing we catch the exception and show some useful e

[2019-05-29 18:08] #3097 closed, assigned to zestyping

[2019-05-29 21:04] grzesiek2010 opened #3116 "Provide a meaningful message that explains why we can't use spreadsheets uploaded to GD to send data to them"
#### Software and hardware versions
Collect v1.22.0-beta and older versions

#### Problem description
Using Google Sheets as a server we can use only spreadsheets created via Google Sheets, not those created using Excel (or a similar tool) and uploaded to GD.

https://forum.opendatakit.org/t/error-400-bad-request-failed-precondition-on-collect-to-google-sheets/19801/

#### Steps to reproduce the p

[2019-05-29 21:10] zestyping commented on #3115
I've done a simple fix for this; just testing it now before I make a PR.

[2019-05-30 04:05] lognaturel opened #3119 "Identify cause of connected test failures on Firebase Test Lab"
The new Espresso tests added in [`FieldListUpdateTest`](https://github.com/opendatakit/collect/blob/b408e535d6ca2b767fff8c1549f5caa4ddaed935/collect_app/src/androidTest/java/org/odk/collect/android/formfilling/FieldListUpdateTest.java) appear to fail intermittently on Firebase Test Lab.

First I thought the issue was that when selecting a group from the hierarchy view we only scrolled until the it

[2019-05-30 19:00] #3109 closed, assigned to nobody

[2019-05-30 19:00] #3104 closed, assigned to nobody

[2019-05-31 17:13] #3115 closed, assigned to nobody

[2019-05-31 17:43] lognaturel commented on #425
I also prefer an appearance. But I'm wondering whether this issue might be addressed by the new `columns-n` appearance that will be in the 1.22 release. This is the same as the existing `compact-n` but includes radio buttons or checkboxes. See a sample form [here](https://docs.google.com/spreadsheets/d/19-pgIh0Kmw1Hlau_Tjt1Z0VGv57Ep47TDEI3swtKswo/edit?usp=sharing) and a screen capture of this form

[2019-06-03 10:51] mmarciniak90 opened #3122 "The app is asking for permission even if it is not necessary"
#### Software and hardware versions
Collect v1.18.0 (older versions were not been verified)
Android 6.0 and newer

#### Problem description
The app is asking for permission even if it is not necessary

#### Steps to reproduce the problem
1. Only the `Storage` permission is selected
2. The user turns on `Auto send`
3. User finishes form
4. The form is sent with success
5. The user turns off `Auto s

[2019-06-03 11:29] mmarciniak90 opened #3123 "Speaker, play, pause icons should be more clear in dark mode"
#### Software and hardware versions
Collect v1.18 (older versions were not been verified)

#### Problem description
Speaker, play, pause icons should be more clear in dark mode

#### Steps to reproduce the problem
1. User sets `Dark mode`
2. User fills `Birds` form - [birds.zip](https://github.com/opendatakit/collect/files/3247268/birds.zip)
3. User sees page with `speaker, play, pause` icons

|![

[2019-06-03 11:52] grzesiek2010 commented on #3123
We need a broader discussion here. Those icons don't look good in the dark mode neither in the light. Some time ago I started investigating it and added my proposal https://github.com/opendatakit/collect/pull/2523

[2019-06-03 18:56] grzesiek2010 opened #3124 "Results from select multiple questions might be converted to dates in Google Sheet"
#### Software and hardware versions
Collect v1.22.0 and older versions

#### Problem description
Results from select multiple questions might be converted to dates in Google Sheet

#### Steps to reproduce the problem
Fill the form: [SampleQuestions.xml.txt](https://github.com/opendatakit/collect/files/3249008/SampleQuestions.xml.txt)
1. In the first question select options: 6, 2, 3
in the second q

[2019-06-03 19:06] grzesiek2010 commented on #3124
I can see a few options to resolve the issue:
1. Do nothing on the Collects side and ask users to change the format of their sheet from Automatic to Plain text (it won't fix already received answers).
2. Wrap each answer from select multi-question in quotes.
3. Convert answers from select multi-questions removing spaces after each comma:
`6, 2, 3` -> `6,2,3`

The last option would be my favorite b

[2019-06-03 19:13] grzesiek2010 commented on #3124
Or another 4th and probably the best solution would be to set those formats automatically when a sheet is created. I'm looking at the API to check if it's possible.

[2019-06-03 19:39] yanokwa commented on #3047
@grzesiek2010 I think this might be a good fit for you.

[2019-06-03 19:52] grzesiek2010 opened #3125 "Reduce the code duplication between String and ExString widgets"
#### Software and hardware versions
Collect v1.22.0 and older versions

#### Problem description
String widgets (StringWidget, IntegerWidget, DecimalWidget, StringNumberWidget) and Ex String widgets (ExStringWidget, ExIntegerWidget, ExDecimalWidget) have a lot in common but they don't share their code. That causes a lot of code duplication but also some limitations in ex widgets (things we fixed f

[2019-06-03 19:56] grzesiek2010 commented on #3047
Do we want a completely new proposal or only adjust the current one?

[2019-06-03 19:57] lognaturel commented on #3047
It would be good to start by adjusting the current one. 📋

[2019-06-03 20:13] lognaturel opened #3126 "Node position inclusion in audit log path is inconsistent for field lists"
#### Software and hardware versions
Collect v1.22

#### Problem description
With the addition of change tracking for the audit, there are now events logged for questions in field lists that have value changes. When the field list is first logged, the field list node path looks something like `/data/my-field-list`. However, when there are changes to values in the field list, their paths include an

[2019-06-03 20:22] grzesiek2010 commented on #3124
Ok, I fixed the issue https://github.com/opendatakit/collect/pull/3128 and I think it's the best option.

[2019-06-03 23:39] zestyping commented on #3090
@opendatakit-bot claim

[2019-06-04 03:22] lognaturel opened #3129 "Add new settings screen for mapping"
As described in https://forum.opendatakit.org/t/a-new-settings-screen-for-maps/19891

[2019-06-04 03:22] lognaturel opened #3130 "Add support for offline layers with Mapbox"
As described in https://forum.opendatakit.org/t/geo-using-the-mapbox-sdk-for-android/19223, enable specifying both offline raster and vector tiles.

[2019-06-04 03:39] lognaturel commented on #3084
I would lean towards one of the simple first two you've found. https://github.com/mohamadian/PersianJodaTime also seems worth exploring. https://github.com/JodaOrg/joda-time/issues/435 shares the reference paper it's based on. I like that it's just the Persian chronology and that it's based on Joda which is already a dependency.

I understand your hesitance about dependencies that are not very pop

[2019-06-04 03:46] yanokwa commented on #3126
I'd bias to cleaning this up so there's less visual noise. Yes. we break downstream tools, but
1. we don't know any that exist
1. we can put this in a changelog to warn
1. it's a pretty odd script that does stuff with that info

[2019-06-04 11:17] grzesiek2010 commented on #3126
I agree with @yanokwa and think we can fix it. It shouldn't be very risky, it was added just in the latest version.

[2019-06-04 12:28] grzesiek2010 commented on #425
@dalerhoda what do you think? If using columns is a good solution we can close the issue.

[2019-06-04 15:19] dalerhoda commented on #425
@lognaturel @grzesiek2010 Thank you for roping me in.  The columns are something I've wanted for some time...I'd like to see how they look with 3+ choices, though...n with 3 choices...one answer will be comfortably far from the others but two may still be unnecessarily close.  I would like to just space those 3 responses out in one column.  (If they are very short answers, maybe 3 columns will loo

[2019-06-04 18:29] lognaturel commented on #3126
An analysis tool that wants to link the audit results to the question definition needs to do so. Also consider that if we make a change now, folks who have ongoing data collection will have audit files with inconsistent names for the same question. e.g. if you do some kind of aggregation over `/audit-group-multiplicity/g1[1]/g2[1]/q2` and all of a sudden it becomes `/audit-group-multiplicity/g1/g2

[2019-06-04 20:30] lognaturel commented on #2805
I talked to @zestyping who gave a great reason for why this should be bumped to later. I can't exactly remember what it is, though! I think it's that if we're considering changing the way [points are entered to dragging the map rather than tapping it](https://forum.opendatakit.org/t/placing-geopoints-by-dragging-the-map-instead-of-long-pressing/18389), this issue will go away.

[2019-06-04 23:35] zestyping commented on #2805
Yes, that's exactly right.  I think we have a consensus that the method described [in this comment](https://forum.opendatakit.org/t/placing-geopoints-by-dragging-the-map-instead-of-long-pressing/18389/14?u=zestyping) for placing point would be easier to use and more precise, and implementing that method would obsolete this issue.  (We should prioritize when we want to go ahead with that work.)

[2019-06-05 12:57] grzesiek2010 commented on #3026
I think there is one solution here, we should display this text based on columns: `date` and `status`.
We do a similar thing with `Deleted on...` text:

![image](https://user-images.githubusercontent.com/3276264/58957843-cbc9df80-87a1-11e9-8b5e-2daf253c624f.png)

The text is created using `deletedDate` column which contains just dates:

![image](https://user-images.githubusercontent.com/3276264/58

[2019-06-05 14:33] JeanBaisez opened #3132 "Autocompletion issues in v1.22"
Hi all, here is an issue i just notice today:

#### Software and hardware versions
Collect v1.22

#### Problem description
Autocompletion work the first time but then if you go back to change the text, the autocompletion will display the same answer as before you change the text.

For example i want to select a species from a list, i write the first letters of Vipera aspsis : vip... then on the ne

[2019-06-05 15:36] lognaturel commented on #3132
Thanks for reporting this, @JeanBaisez. I'm taking a look now.

[2019-06-05 19:29] lognaturel commented on #3132
Thanks very much for the detailed report and sample form, @JeanBaisez. I have a fix ready at #3133 and it should be released in the next couple of days.

If you are interested, I wanted to let you know that as of Collect 1.22, it's now possible to have logic within a single screen. That means you could avoid the quick appearance and instead have the kingdom (règne) and search questions on the same

[2019-06-06 07:14] JeanBaisez commented on #3132
You'r welcome ! thanks a lot for this quick intervention and for upgrading my file with the knew features !

[2019-06-06 14:10] mmoye opened #3135 "Filtered choice list using external csv fails in repeat in v1.22"
#### Software and hardware versions
Collect v1.22, Android vx.x.x, Samsung tablet

#### Problem description
Using an external csv to filter choices only the first selection within a repeat is available. On 2nd repeat the original choice is used to filter values rather than a new selection.

#### Steps to reproduce the problem
For example, within a repeat:
Step 1 select category: fruit, vegetable,

[2019-06-06 18:40] yanokwa commented on #3135
Thanks for filing this issue, @mmoye!

@lognaturel Can you please review? This sounds like a regression and it'd be good to get it into the impending hot fix if possible.

[2019-06-06 20:03] #3132 closed, assigned to lognaturel

[2019-06-06 20:13] lognaturel commented on #3135
Thanks, @mmoye! This is a symptom of the same problem #3132 describes. I just merged a fix for it and v1.22.1 should be out in the next few hours.

Thanks for filing the detailed issue. If you can, we'd also appreciate it if you could join the beta program as described in https://forum.opendatakit.org/t/odk-collect-v1-22-beta/19767 to help us catch some of these issues before they are released. We

[2019-06-06 20:13] #3135 closed, assigned to lognaturel

[2019-06-06 20:20] mmoye commented on #3135
@lognaturel @yanokwa Thanks so much for the hotfix!

[2019-06-06 21:26] lognaturel commented on #3132
La version 1.22.1 a été publiée et devrait être disponible très bientôt. On préfèrerait éviter ce genre de problème mais si c'est pour arriver, on essaye au moins de réagir rapidement!

@JeanBaisez Je vous invite à vous joindre au beta (https://forum.opendatakit.org/t/odk-collect-v1-22-beta/19767) pour pouvoir essayer vos formulaires vite fait avant la publication d'une nouvelle version.

Bonne co

[2019-06-10 03:23] keeshianicole opened #3140 "Samsung S7 Rooted - Appcloner Crashes"
I just rooted my samsung S7, create clone on appcloner, but as soon as I created my app which is instagram, it crashes, it says Instagram has stopped close app.

Instagram version: 96.0.0.28.114
App Cloner: 1.5.19

[2019-06-10 03:25] lognaturel commented on #3140
Hi @keeshianicole! This is the repository for ODK Collect, part of [Open Data Kit](http://opendatakit.org/) for mobile data collection. For questions about other apps, please find their repositories!

[2019-06-10 03:25] #3140 closed, assigned to nobody

[2019-06-10 17:46] grzesiek2010 opened #3142 "NullPointerException in SelectOneListAdapter.java:105"
#### Software and hardware versions
Collect v1.22.1 and older versions

#### Problem description
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
       at org.odk.collect.android.adapters.SelectOneListAdapter.setUpButton(SelectOneListAdapter.java:105)
       at org.odk.collect.android.

[2019-06-10 21:10] yanokwa commented on #3047
I just uploaded the version that @grzesiek2010 did to the Play Store.

![odk-collect-icon](https://user-images.githubusercontent.com/32369/59227122-6a32b800-8b89-11e9-8c6d-c2ead9484c12.png)

[2019-06-10 21:10] #3047 closed, assigned to grzesiek2010

[2019-06-10 21:39] lognaturel commented on #3119
Update: the API level of the image the tests are run on was updated for the native library issue. Then I sent in https://github.com/opendatakit/collect/pull/3137/ in which I intended to skip `testGridSelectCompact2Appearance()` but I put an `@Ignore` on it even though it's not a test instead of commenting out the call. Regardless, I doubt that will fix anything.

<details>
<summary>Stack trace for

[2019-06-10 21:49] lognaturel commented on #1501
Hi @Mkswati! Thanks for your patience with this. Some of what you describe is possible today. Some is a little less clear. https://forum.opendatakit.org/c/support is the place to ask for support. If what you need is not yet possible, then it can be specified on the forum as well.

[2019-06-10 21:49] #1501 closed, assigned to nobody

[2019-06-10 22:04] lognaturel commented on #3047
How about attaching the source here so it exists somewhere if you are both riding on the same bus that gets hit? 🚌

[2019-06-11 08:45] mmarciniak90 opened #3144 "Collect crashes when user selects Mapbox Maps SDK on ARM64 device"
#### Software and hardware versions
Collect v1.22.2
Android v8.1

#### Problem description
Collect crashes when user selects Mapbox Maps SDK

#### Steps to reproduce the problem
1. The user goes to `General Settings` > `User interface`
2. The user opens the `Mapping SDK` dialog
3. The user selects `Mapbox Maps SDK`

#### Expected behavior
Collect does not crash

#### Crash
`2019-06-11 10:43:59.696

[2019-06-11 08:46] grzesiek2010 opened #3145 "IllegalArgumentException in GoogleSheetsUploaderActivity.java:212"
#### Software and hardware versions
Collect v1.22.1 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/04212f2190b62ee0c89db163a7ebafd1?time=last-seven-days&sessionId=5CFF2A1B030F00014DCB4ED008F644CE_DNE_0_v2

`Caused by java.lang.IllegalArgumentException: no dialog with id 1 was e

[2019-06-11 11:16] grzesiek2010 opened #3148 "Improve the code that gets/creates Submissions folder while sending forms to Google Sheets"
#### Software and hardware versions
Collect v1.22.1 and older versions

#### Problem description
When a user tries to send a form to Google Sheets we upload forms to `Open Data Kit/Submissions` folder. If the `Submissions` folder is duplicated an enigmatic message is displayed: https://forum.opendatakit.org/t/upload-results-exception-getting-or-creating-root-folder-for-submissions/19590

Moreover,

[2019-06-11 11:49] mmarciniak90 opened #3150 "Double checkbox is visible on `Reset application` dialog on Android 4.x"
#### Software and hardware versions
Collect v1.22.0,
Android v4.x

#### Problem description
Double checkbox is visible on `Reset application` dialog on Android 4.x

#### Steps to reproduce the problem
1. The user goes to `Admin Settings` > `Reset application...`
2. The user sees the dialog with two checkboxes

![Screenshot_2019-06-11-14-49-43](https://user-images.githubusercontent.com/3907554/5926

[2019-06-11 14:50] #3084 closed, assigned to grzesiek2010

[2019-06-11 14:51] #3124 closed, assigned to grzesiek2010

[2019-06-11 15:01] lognaturel commented on #3144
Now that is annoying. @mmarciniak90 very good to know you have an ARM64 device -- which one is it? @yanokwa @zestyping @seadowg I thought we'd get a fall back to 32-bit libs. Was that generally the expectation or not?

[2019-06-11 15:09] seadowg commented on #3144
Hmmm. Looks like it depends on how the lib is being loaded according to this SO post [here](https://stackoverflow.com/questions/27186243/use-32-bit-jni-libraries-on-64-bit-android).

As was discussed in #3097 we have to ship with 64 bit starting in August anyway so maybe we just need to take the size hit?

[2019-06-11 22:22] yanokwa commented on #3144
@grzesiek2010's solution at #3146 of catching the exception looks reasonable to me. Given we don't have anything user-facing merged, I propose we do another hot fix, but in our next release (which will have more mapping goodness) we add 64-bit support.

[2019-06-11 23:05] zestyping commented on #3144
I agree with what @grzesiek2010 did there.  It would actually be fine in production to even make that a catch-all clause (`catch (Exception e)`) — ideally I'd prefer it that way in production because if Mapbox doesn't init, there's nothing we can do to make it init, and we never want it to crash when it can't init.

[2019-06-12 08:32] mmarciniak90 commented on #3144
@lognaturel it is [Nexus 5X](https://www.gsmarena.com/lg_nexus_5x-7556.php)

[2019-06-12 21:38] lognaturel commented on #3100
Discussed in #3094 and decided not to fix because it's so unlikely. https://github.com/opendatakit/docs/issues/1054 is a docs issue to describe the behavior.

[2019-06-12 21:38] #3100 closed, assigned to grzesiek2010

[2019-06-13 08:49] seadowg commented on #2869
Ah sorry I kept the close in the PR so this autoclosed. I'll look look at the actual switch over PR next.

[2019-06-13 10:21] #3116 closed, assigned to grzesiek2010

[2019-06-13 13:27] seadowg commented on #3119
Ok so for the three failing tests remaining in `FieldListUpdateTest` here are screenshots and the accompanying fail:

### selectingADateForDateTime_ShouldChangeRelevanceOfRelatedField

![2019-06-13_11 27 31 790296_yxjZ_Pixel2-27-en-portrait_artifacts_sdcard_org odk collect android_screengrab_en_images_screenshots_selectingADateForDateTime_ShouldChangeRelevanceOfRelatedField_1560421869581](https://

[2019-06-13 13:28] seadowg commented on #3119
`selectionChangeAtOneCascadeLevelWithMinimalAppearance_ShouldUpdateNextLevels` actually seems pretty obvious. It looks like the test try and scroll to the item repeatedly rather than using the `RecyclerViewActions`. I'll have a look to see if that helps!

I'm at a total loss about the other two. In both cases it looks like the item is very much on screen/in the layout.

[2019-06-13 14:26] seadowg commented on #3119
So it looks like for `selectingARating_ShouldChangeRelevanceOfRelatedField` the problem is probably that the furthest right star in the first row is not entirely visible. Go on try and spot that, I dare you. I thought it might be an artifact in the sceenshot but I tried dropping the row size to 2 stars and then running on Firebase and the test passed!

I'll have a look at the `RatingWidget` and se

[2019-06-13 15:53] lognaturel commented on #3119
Thanks for taking the time to share those screenshots -- super helpful.

For the calendar date test, depending on API level and some other things, the calendar view is either a custom dialog or this stock one. I guess the string resources don't match? Is there a generic way to tap the positive button, maybe?

[2019-06-13 16:04] seadowg commented on #3119
@lognaturel ah interesting. What's really confusing me is not being able to reproduce this locally.

[2019-06-13 16:06] seadowg commented on #3119
@lognaturel this *might* work: https://stackoverflow.com/questions/21045509/check-if-a-dialog-is-displayed-with-espresso

[code]

I'll give it a go.

[2019-06-13 16:19] #3148 closed, assigned to grzesiek2010

[2019-06-13 17:07] #3119 closed, assigned to nobody

[2019-06-13 17:59] lognaturel opened #3156 "Espresso tests should put forms in forms/ subdirectory rather than adding forms prefix to filenames"
See https://github.com/opendatakit/collect/pull/3152#discussion_r293032104

[2019-06-13 18:35] grzesiek2010 opened #3157 "ArrayIndexOutOfBoundsException in UserInterfacePreferences.java:81"
#### Software and hardware versions
Collect v1.22.3

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/b01f831d08873616e7d10943d4184e77?time=last-seven-days&sessionId=5D01FD7D00860001337DC3CF01007233_DNE_0_v2

`Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
       at

[2019-06-13 19:14] #3144 closed, assigned to grzesiek2010

[2019-06-16 18:25] qlands opened #3162 "Ignore require for notes"
Variables of type Note should ignore if they are declared as required. Otherwise a survey cannot proceed because a Note cannot be filled

[2019-06-17 11:52] grzesiek2010 commented on #3162
We don't have a special widget for notes it's just a `StringWidget` which is read-only. It doesn't make sense to make a question read-only and required at the same time, however, I agree we could handle it better.
Probably we should ignore require flag if a question is read-only. Do you agree @lognaturel?

[2019-06-18 08:35] mmarciniak90 opened #3165 "User sees a limit error during sending about 150 submissions to Google Sheet"
#### Software and hardware versions
Collect current master
Problem is **not** visible on v1.22.3, v1.22.4

#### Problem description
User sees a limit error during sending about 150 submissions to Google Sheet

#### Steps to reproduce the problem
1. The user sends to Google Sheet ~150 submissions (with one text question)
2. The user sees a dialog with statuses. A part of submissions has an error. S

[2019-06-18 16:00] #3046 closed, assigned to grzesiek2010

[2019-06-19 09:26] grzesiek2010 opened #3168 "IllegalArgumentException the bind value at index 1 is null"
#### Software and hardware versions
Collect v1.22.4 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/c172547522ddeef959a1941923d670f1?time=last-seven-days&sessionId=5D077B1E03A1000128F34911996432EE_DNE_0_v2

`Caused by java.lang.IllegalArgumentException: the bind value at index 1

[2019-06-19 10:26] grzesiek2010 opened #3170 "Attempt to get length of null array in InstanceSyncTask.java:84"
#### Software and hardware versions
Collect v1.22.4 and older versions

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b7d66246007d59fcd816ddc?time=last-seven-days&sessionId=5D0870CA02BF00014B32BDE0A2CFD516_DNE_0_v2

`Caused by java.lang.NullPointerException: Attempt to get length of null array

[2019-06-19 13:37] yanokwa opened #3173 "Remove custom handling for file types"
From https://github.com/opendatakit/collect/pull/3163

"For a rainy day / good first issue, some of the types that Collect matches against are handled by the Android type mapper. It would be great for someone to go through and remove custom handling for those, I think."

[2019-06-19 14:23] seadowg commented on #3173
This is in reference to [`CollectThenSystemContentTypeMapper`](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/http/CollectThenSystemContentTypeMapper.java) which has quite a lot of hardcoded extension to content type mappings that it could probably be deferring to Android.

[2019-06-19 23:12] #2869 closed, assigned to nobody

[2019-06-19 23:24] lognaturel commented on #3173
Specifically, https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/http/CollectThenSystemContentTypeMapper.java#L34 has the custom map. The source for Android's `MimeTypeMap` is [here](https://android.googlesource.com/platform/frameworks/base/+/61ae88e/core/java/android/webkit/MimeTypeMap.java). All of the mappings that match can be removed from the

[2019-06-19 23:25] #3170 closed, assigned to grzesiek2010

[2019-06-19 23:26] #3168 closed, assigned to grzesiek2010

[2019-06-19 23:26] #3145 closed, assigned to grzesiek2010

[2019-06-20 00:09] lognaturel opened #3174 "Support odk:setlocation action"
The `odk:setlocation` action sets the current location's geopoint value in the instance data node specified in the `ref` attribute. Any `value` attribute or textContent will be ignored. Failure to retrieve the location will result in an empty string value.

The JavaRosa implementation is at https://github.com/opendatakit/javarosa/pull/431.

Further discussion of the requirements are at https://for

[2019-06-20 07:34] seadowg commented on #3173
I was worried that Android's version might not be the same for all the versions we support but it looks like from the log (https://android.googlesource.com/platform/frameworks/base/+log/61ae88e/core/java/android/webkit/MimeTypeMap.java) that it hasn't been touched for about 9 years.

It's probably worth checking once we've done this that "video/3gpp" still works on an API 16 device to make sure th

[2019-06-20 19:23] #3157 closed, assigned to grzesiek2010

[2019-06-25 09:22] grzesiek2010 commented on #3122
It's not required but it's good to have it, you are right that forms will be sent with success even if the permission is not granted but then `Device ID` won't be added to the request, more info:
https://github.com/opendatakit/collect/pull/2387
https://github.com/opendatakit/collect/pull/2506

[2019-06-25 09:22] #3122 closed, assigned to grzesiek2010

[2019-06-25 09:29] grzesiek2010 commented on #2512
We had to get rid of sending forms via sms feature so I'm closing this issue.

[2019-06-25 09:29] #2512 closed, assigned to nobody

[2019-06-25 09:30] grzesiek2010 commented on #2410
We had to get rid of sending forms via sms feature so I'm closing this issue.

[2019-06-25 09:30] #2410 closed, assigned to nobody

[2019-06-25 17:17] lognaturel commented on #3122
Ahh, yes, good call, @grzesiek2010. I know that in the normal path through manual submission, there's an explanation dialog that says why the permission is needed. Is it not shown in this case? Would there be a way to show it?

[2019-06-25 19:07] grzesiek2010 commented on #3122
Yes, it's possible but in this case, we don't do that. I can't recall why but it's the only case when we request that permission but don't display the additional dialog so I'm pretty sure it was on purpose. Do you think we should?

[2019-06-26 15:12] abbyad commented on #2934
There are a couple of options available even without having the permission in the Play store:

1) **Product flavor or build parameter** to include the `SEND_SMS` permission and the related code. You can have [different permissions in a separate product flavor](https://futurestud.io/tutorials/how-to-implement-product-flavor-dependent-permissions). By doing it that way the Collect app in the Play st

[2019-06-26 19:03] marichaf commented on #2861
Hello,

I am currently working on a project using ODK that requires all questions and answer options to have audio files attached. The respondents are adolescents, and there is a considerable incidence of illiteracy or semi-literacy in the population. The questions we are asking are sensitive and we don't want survey/surveyor bias, so we are using a self-administered, audio-enabled approach (ACASI

[2019-06-27 22:44] grzesiek2010 opened #3180 "SelectOneWidget doesn't work with minimal and search appearance if it's in a field-list group"
#### Software and hardware versions
Collect v1.22.4 and older versions

#### Problem description
SelectOneWidget doesn't work with minimal and search appearance if it's in a field-list group.
Originally reported: https://forum.opendatakit.org/t/having-two-minimal-search-name-on-a-group-does-not-work-on-odk/20623/3

#### Steps to reproduce the problem
Try to use this form:
[search_and_select.xlsx](

[2019-06-28 12:29] grzesiek2010 opened #3183 "ClassCastException in FormEntryActivity.java:924"
#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/c0dd2b3a683e2947e0c4988d30d2240d?time=last-seven-days&sessionId=5D13AD6E039700015F1598DBE67CDF61_DNE_0_v2

`Caused by java.lang.ClassCastException: android.widget.ScrollView cannot be cast to org.odk.collect.android.views.ODKView
       at org.odk.col

[2019-06-28 12:32] grzesiek2010 opened #3184 "NullPointerException in FormEntryActivity.java:1121"
#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/404a726fbf9905f6ced46da61cdbef2a?time=last-seven-days

`Fatal Exception: java.lang.NullPointerException
       at org.odk.collect.android.activities.FormEntryActivity.onContextItemSelected + 1121(FormEntryActivity.java:1121)
       at android.app.Acti

[2019-07-01 16:34] lognaturel commented on #3026
Apologies for missing your latest update, @grzesiek2010. Are you absolutely sure that the `date` column represents the last time the status was changed? Are changes to the two columns always coupled? If so, then indeed that seems like an ideal solution.

[2019-07-01 18:53] shobhitagarwal1612 commented on #2861
Hey @marichaf!
We already have a PR https://github.com/opendatakit/collect/pull/2863 which resolves this bug and a couple of related issues but it is a bit outdated.
You can try it out and see if that works for you. I would be happy to resolve the conflicts and spend some time on it if any of the reviewers could provide their feedback on the approach.

[2019-07-01 22:54] lognaturel commented on #3126
Unfortunately I think we have to address this. Martijn was being generous when he said "that sounds intriguing and surprising" about the `[1]` index predicates being included with all groups [here](https://github.com/opendatakit/xforms-spec/pull/234#issuecomment-501483898) and I do think it's important we have a consistent spec. The sooner we do it, the better.

@yanokwa, is there a reasonable way

[2019-07-02 03:48] sunshine0576 opened #3185 "Support offline filling and exporting"
When the network cannot be connected, import the form template locally and export Excel。

[2019-07-02 03:50] lognaturel commented on #3185
Hi @sunshine0576! You can use Briefcase to do this -- https://docs.opendatakit.org/briefcase-using/#pull-from-collect

If you have follow up questions or other support questions, please join the community at https://forum.opendatakit.org/. We'd love to read about you and your projects in [the introduction thread](https://forum.opendatakit.org/t/introduce-yourself-here/6671).

[2019-07-02 03:50] #3185 closed, assigned to nobody

[2019-07-02 13:56] #2938 closed, assigned to nobody

[2019-07-03 13:09] #3165 closed, assigned to grzesiek2010

[2019-07-03 17:27] #3183 closed, assigned to grzesiek2010

[2019-07-03 17:33] #3184 closed, assigned to grzesiek2010

[2019-07-03 19:42] marichaf commented on #2861
Hi @shobhitagarwal1612, thanks for this. I've never tested unpublished versions so I'm having trouble trying to compile in Android studio to be able to run it and test it with my form. Can you share an .apk file so I can test it?

[2019-07-03 23:28] lognaturel commented on #3124
For future reference, the forum post that prompted this was https://forum.opendatakit.org/t/strange-output-from-select-multiple-questions/19889

[2019-07-04 00:04] yanokwa opened #3189 "App updates must target Android 9 (API 28) by November 2019"

[2019-07-04 00:19] yanokwa commented on #2844
We now have native code in Collect, so this issue is now relevant.

https://github.com/opendatakit/collect/issues/3097#issuecomment-495783546

[2019-07-04 04:08] yanokwa commented on #2844
I think with with the stub approach at https://github.com/opendatakit/collect/pull/3108 we don't have to make this change until August 2021. Do you agree, @seadowg?

[2019-07-04 09:31] seadowg commented on #2844
I'm a little worried about #3144 for this one but I'm a bit out of context on the Mapbox work however so I might be missing something here!

It looks like Mapbox has problems initializing on 64 bit devices as it wasn't falling back to the 32 bit binaries (due to `System.load` being called - https://stackoverflow.com/questions/27186243/use-32-bit-jni-libraries-on-64-bit-android). Are we OK with Map

[2019-07-04 13:16] grzesiek2010 opened #3190 "Styling choices doesn't work with minimal appearance"
#### Software and hardware versions
Collect v1.22.4 and older versions

#### Problem description
Styling choices doesn't work with `minimal` appearance.

#### Steps to reproduce the problem
Try the attached form:
[style-example.xlsx](https://github.com/opendatakit/collect/files/3359423/style-example.xlsx)

[2019-07-05 02:45] yanokwa commented on #3126
I think we should proceed with this change because the longer we wait, the more painful it is. I wish we had a better way of communicating this change to folks, but we don't. The breaking change only affects a small number of people and it's on the analysis side of things. If folks run into problems, they can file a support issue and we can help fix their scripts. Also, we'll do a beta and we've b

[2019-07-05 03:14] yanokwa commented on #2844
Ugh. Forgot about #3144. Yeah, we want Mapbox to work on 64 bit devices. I'll send in a quick PR.

[2019-07-05 10:36] #3114 closed, assigned to grzesiek2010

[2019-07-05 13:00] mmarciniak90 opened #3192 "Collect v1.23.0 crashes during filling form on Android 4.2"
#### Software and hardware versions
Collect v1.23.0-beta.0
Android v4.2
The problem does not occur on v1.22.4

#### Problem description
Collect v1.23.0 crashes during filling form on Android 4.2

#### Steps to reproduce the problem
1. The user opens `All widgets` form
2. The form is loaded and the user sees the first screen
3. The user swipes to next question OR clicks on the icon to open hierarch

[2019-07-05 16:49] lognaturel commented on #3192
Oh, how fun! This is because of the JavaRosa update which includes a `hashCode` implementation for `FormIndex`. The implementation uses `Objects.equals` which [was introduced in API 19](https://developer.android.com/reference/java/util/Objects).

It's great that we're catching this now because https://github.com/opendatakit/javarosa/pull/450 uses it as well. I'll make the change for both and we ca

[2019-07-08 12:12] grzesiek2010 opened #3195 "Instance subtext should be translated on the currently set language in Collect"
#### Software and hardware versions
Collect v1.22.4 and older versions

#### Problem description
Instance subtext should be translated on the currently set language in Collect
it's the same issue as with forms https://github.com/opendatakit/collect/issues/3026 but here we want to fix instance subtext.

[2019-07-08 15:34] lognaturel opened #3197 "Referring to node in secondary instance with path that also exists in primary instance can result in a dependency cycle"
Copied from https://github.com/opendatakit/javarosa/issues/449 so we don't forget to QA it.

#### Software versions
All Collect versions

#### Problem description
A useful pattern with the `last-instance` feature is to accumulate values across instances. See [dont-show-options-selected-in-other-instances.xml.txt](https://github.com/opendatakit/javarosa/files/3336913/dont-show-options-selected-in-o

[2019-07-08 22:20] lognaturel commented on #1419
#3026 describes the issue just for blank forms.

[2019-07-08 22:21] lognaturel commented on #3195
Let's go back to #1419 since it has a few more details.

[2019-07-08 22:21] #3195 closed, assigned to nobody

[2019-07-08 22:24] lognaturel commented on #1419
But really, there is a `status` column and it does look like the `date` column changes when the status changes so probably the same approach as #3193 can be taken. Who knows why the text was ever stored separately.

[2019-07-09 03:18] atl2017 opened #3199 "ODK Collect v1.22.4 - Spanish traslation in left tab is missed (Delete Saved Form)"
#### Software and hardware versions
Collect v1.22.4, Android v9.0.1, device used. Huawei P10+

#### Problem description
Saved Forms is traslated in spanish as F. GUARDADOS

![image](https://user-images.githubusercontent.com/29519901/60856226-12a95b80-a1cc-11e9-80c8-8bd79b9f778b.png)

but in Collect -> Delete Saved Forms is displayed only as F. in portrait mode. It is Ok in landscape mode.

![image

[2019-07-09 16:33] grzesiek2010 commented on #3199
I think it depends on the Android version? Are you sure it worked in previous versions well on the same device with the same Android version?

[2019-07-09 21:01] atl2017 commented on #3199
I should verify with earlier version. How can download it?

[2019-07-09 21:03] lognaturel commented on #3199
Thanks for the detailed report, @atl2017! You can get older releases at https://github.com/opendatakit/collect/releases. v1.21 is at https://github.com/opendatakit/collect/releases/download/v1.21.2/ODK-Collect-v1.21.2.apk

[2019-07-09 21:29] atl2017 commented on #3199
Sorry, I was wrong. It does not work with earlier version.

v 1.18.1 had shorter traslation and works fine. I am going to change transifex back for this shorter string.
![image](https://user-images.githubusercontent.com/29519901/60924019-c9a5e580-a265-11e9-844e-44640e0594a4.png)

So there is no issue and it should be closed. Thanks @lognaturel @grzesiek2010

[2019-07-09 21:32] #3199 closed, assigned to grzesiek2010

[2019-07-09 21:32] lognaturel commented on #3199
Thanks so much for following up, @atl2017! I just added you as a coordinator of the Spanish team in Transifex. You can mark the change as reviewed to make it so that only coordinators and managers can edit that string. I'd also recommend leaving a note about why it needs to be short so you or someone else remembers in the future.

[2019-07-09 21:37] atl2017 commented on #3199
Thanks @lognaturel. I made comment and have checked as reviewed.

[2019-07-09 22:14] grzesiek2010 opened #3202 "Refresh map icons"
~~Blocked by #4943~~

#### Software and hardware versions
Collect v1.22.4 and older versions

#### Problem description
Icons in our map widgets don't look well, probably we should follow Google Maps design using circular icons.

| ODK Collect  | Google maps |
| ------------- | ------------- |
| ![Screenshot_2019-07-10-00-03-46](https://user-images.githubusercontent.com/3276264/60926311-67b9a000-a2

[2019-07-10 04:12] #3180 closed, assigned to grzesiek2010

[2019-07-10 04:13] #2844 closed, assigned to nobody

[2019-07-10 16:00] seadowg commented on #3202
It does look like the map page could use a touch up although as far as I can see the icons themselves are actually Material (https://material.io/tools/icons/?icon=3d_rotation&style=baseline).

To me it looks very much like the Google Maps example is using Floating Action Buttons (I'm sure you know them but here's the guidelines doc: https://material.io/design/components/buttons-floating-action-but

[2019-07-10 17:45] lognaturel opened #3203 "Investigate why a sleep is needed for Espresso test with minimal select in field list"
https://github.com/opendatakit/collect/blob/e1a726ef6ca5a9c95b4abd3569a04f97e3193c24/collect_app/src/androidTest/java/org/odk/collect/android/formentry/FieldListUpdateTest.java#L388 introduces a test over a minimal select in a field list. @grzesiek2010 said at https://github.com/opendatakit/collect/pull/3181#discussion_r300395916 that the spinner is not clickable immediately. Espresso should gener

[2019-07-10 20:22] grzesiek2010 commented on #3202
yes, I meant refreshing buttons not just icons.

No, there is no FAB there, just circular buttons.

[2019-07-10 22:44] lognaturel commented on #3192
The JavaRosa snapshot was just updated with https://github.com/opendatakit/javarosa/pull/455 that should fix this issue.

I'm not really sure when we should close an issue like this. I'd be ok with it being closed now if @mmarciniak90 verifies it with the snapshot. Alternately, we could wait until the PR with the actual JavaRosa 2.15.0 release. Please let me know which process you prefer and I'll

[2019-07-11 09:50] seadowg commented on #3202
I'm not sure if they're using the Android component itself but IMO those buttons look like they fit into the [regular and mini FAB specs](https://material.io/design/components/buttons-floating-action-button.html#specs).

I also noticed that the Material Design guidelines use Google Maps as an example of using multiple FABs for different actions: https://material.io/design/components/buttons-floati

[2019-07-11 11:57] grzesiek2010 commented on #3126
I investigated the issue yesterday and my conclusion is that it's not possible to handle it on our (Collect) side...
Let's say we have a hierarchy like:

`repeat_group/regular_group/question1
`
the result reference would be like:

[code]

apart from removing the last [1] what we do, we are not able to go through such string and tell which node position should be removed because it's not a repeatab

[2019-07-11 12:07] seadowg opened #3205 "Espresso regression tests failing sporadically"
The `DrawWidgetTest` and `SignatureWidgetTest` appear to be failing on most runs on Test Lab but not in a predictable manner. The actual failure appears to be:

[code]

[2019-07-11 16:42] #2690 closed, assigned to grzesiek2010

[2019-07-11 16:49] lognaturel commented on #3126
Yes, I agree that it needs to be done on the JR side. As a first step, it would be good to do a quick exploration to see whether a method that does what is desired already exists. I don't think so but it's worth a check. And if not, my initial sense is that `TreeReference` is the place to add this method. It would check the node type and only write out the index predicate (multiplicity) after a re

[2019-07-15 14:58] lognaturel opened #3208 "Changing parent select in field list only updates first dependent level"
See test and todo at https://github.com/opendatakit/collect/blob/e1a726ef6ca5a9c95b4abd3569a04f97e3193c24/collect_app/src/androidTest/java/org/odk/collect/android/formentry/FieldListUpdateTest.java#L236

See partial fix at https://github.com/opendatakit/javarosa/pull/437. Collect now needs to loop forward over questions to trigger the proper updates.

[2019-07-16 09:53] #3026 closed, assigned to grzesiek2010

[2019-07-16 14:52] #1419 closed, assigned to grzesiek2010

[2019-07-16 20:39] #3174 closed, assigned to nobody

[2019-07-16 20:43] lognaturel opened #3210 "Provider change during form filling is not logged to audit"
See https://github.com/opendatakit/collect/pull/3175#issuecomment-511749858

[2019-07-16 20:54] lognaturel opened #3211 "Fields with calculations in field lists are not updated as calculated value changes"
#### Software and hardware versions
Collect v1.22+

#### Problem description
If a field in a field list has a calculation, its value should update as the calculated value changes. It does not.

See failing test at https://github.com/opendatakit/collect/blob/e1a726ef6ca5a9c95b4abd3569a04f97e3193c24/collect_app/src/androidTest/java/org/odk/collect/android/formentry/FieldListUpdateTest.java#L185

Not

[2019-07-16 20:55] lognaturel commented on #3197
@mmarciniak90 The JavaRosa snapshot update should fix this.

[2019-07-16 20:59] lognaturel opened #3212 "Rename everything about setlocation to setgeopoint"
See discussion at https://forum.opendatakit.org/t/spec-addition-proposal-location-preload/10768/20

[2019-07-17 12:09] #3190 closed, assigned to grzesiek2010

[2019-07-17 18:33] #3212 closed, assigned to lognaturel

[2019-07-18 07:09] saumya1singh commented on #2714
@opendatakit-bot claim
I am new to this project. I want to work on this issue.

[2019-07-18 07:14] grzesiek2010 opened #3220 "Reorganize testing forms and media files"
#### Problem description
We are having more and more testing forms in the `assets` directory, it looks like:
![image](https://user-images.githubusercontent.com/3276264/61436332-d946bd80-a93a-11e9-959d-050b5c63af89.png)

in my opinion, it's kind of a mess and makes sharing media files difficult. I understand that it's important to have a separate dir eg for regression test but do we need that dir f

[2019-07-18 07:28] grzesiek2010 commented on #2714
Hi @SaumyaSingh1
welcome here!

The issue is a bit tricky so please read all the comments carefully before you start work on the code.

[2019-07-18 07:29] mmarciniak90 commented on #3220
@grzesiek2010, I totally agree with you. We need to arrange this area. Especially, because the number of forms and media will grow up. Two dirs is a good idea.

[2019-07-18 08:08] seadowg commented on #3220
@grzesiek2010 I like the `forms` and `media` approach!

[2019-07-18 08:16] kkrawczyk123 commented on #3220
Me too!

[2019-07-18 09:18] saumya1singh commented on #2714
Okay @grzesiek2010

[2019-07-18 13:56] mmarciniak90 commented on #3197
**Verified on version**: 1.23.0 beta.2
**Verified on Android**: 4.2, 4.4, 5.1, 6.0, 7.0, 8.1

**I can confirm that:**
* It is possible to fill form `dont-show-options-selected-in-other-instances.xml `
* Error `Dependency cycles amongst the xpath expressions in relevant/calculate` is not visible while loading form (**visible on v1.22.2** , **not visible on v1.23 beta.0 as well**)
* issue #3192 is n

[2019-07-18 15:40] lognaturel commented on #3197
Ah, yes, this form design trick doesn't work if you need to re-open saved forms. There's unfortunately not much we can do about that.

Also, this particular form is odd because there are three school questions but the constraint is only based on the last one. That's just because I was experimenting with different ways to show the constraint.

Thanks for the thorough check, @mmarciniak90!

[2019-07-18 15:40] #3197 closed, assigned to nobody

[2019-07-18 16:33] yanokwa opened #3222 "Column 'MAX(date)' does not exist"
This issue happened in the pre-launch report on an Android 6.0 device running French.

**Devices tested**
<img width="978" alt="Screen Shot 2019-07-18 at 9 31 40 AM" src="https://user-images.githubusercontent.com/32369/61475090-e6fe4200-a93e-11e9-9926-83c4850a8a50.png">

**Device with the failure**
<img width="986" alt="Screen Shot 2019-07-18 at 9 31 52 AM" src="https://user-images.githubuserconte

[2019-07-18 17:12] lognaturel commented on #3220
Works for me! I don't think there's any particular reason to separate forms into different directories. I'm pretty sure it's only like that because the `forms` directory was added after some of the earliest tests.

[2019-07-18 20:22] yanokwa opened #3223 "Add analytics for "jr:choice-name""
-- https://forum.opendatakit.org/t/jr-choice-name-doesnt-give-a-value-when-called-from-inside-a-repeat-group/19619/20

The implementation will likely look like https://github.com/opendatakit/collect/pull/2406.

[2019-07-19 06:09] mmarciniak90 commented on #3197
@lognaturel thank you for the explanations.

@opendatakit-bot unlabel "needs testing"
@opendatakit-bot label "behavior verified"

[2019-07-19 13:08] mmarciniak90 opened #3224 "Unexpected error while saving form. Failed to insert row."
#### Software and hardware versions
Collect v1.23 beta

#### Problem description
Unexpected error while saving a form
Failed to insert row into content://org.odk.collect.android.provider.odk.instances/insrances

<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/61536858-ee544700-aa35-11e9-9c2e-c7a288d6fd2b.png">

![Screenshot from 2019-07-19 15-01-21](https://use

[2019-07-19 17:33] wilson1234567891962 commented on #2490
me funciono muchas gracias

[2019-07-22 05:44] mmarciniak90 opened #3226 "The scroll bar is missed on About view"
#### Software and hardware versions
Collect v1.20.0 (I did not verify older versions)

#### Problem description
The scroll bar is missed on About view

#### Steps to reproduce the problem
1. The user uses a device in the horizontal position
2. The user opens About view
3. The scroll bar is not visible on view

#### Expected behavior
The scroll bar is always visible when not all options are visible

[2019-07-22 08:41] seadowg commented on #3226
@lognaturel this feels like a nice candidate for moving to the UI project

[2019-07-22 15:10] lognaturel commented on #3224
I've run into this as well. I believe it happens when you go to a version after the changes for form and instance subtext translations and then downgrade again.

I did a quick debugging session and it looks like `onDowngrade` may not be doing what I would expect.

If it doesn't sound like that's the right reproduction, let me know, @mmarciniak90. I'll take a deeper look.

[2019-07-23 05:13] yanokwa commented on #3222
I've seen the crashes in Firebase as well on an Android 9 device.

[code]

The commit that revealed this bug is at https://github.com/opendatakit/collect/commit/20cc113f885b653c8d3b418f9e31a34e7ac0bb04

[2019-07-23 08:28] grzesiek2010 commented on #3222
I was able to reproduce the issue.
Steps:
1. Go to `General Settings` -> `Form management` and unselect `Hide old form versions` option.
2. Click on `Fill Blank Form` from the main menu.

[2019-07-23 12:52] grzesiek2010 commented on #3224
I installed v1.22.4 -> master -> v1.22.4 so it was upgrade->downgrade and everything was fine
but I was able to reproduce the issue installing master branch on a device I used to run espresso tests so I guess the problem is related just to tests
I saw that instances db had version 5 but still contained displaySubtext column which was not null and caused the issue (we try to pass null to not null c

[2019-07-23 13:04] kkrawczyk123 opened #3230 "Error message displayed when try to fill fieldlist-updates submission."
#### Software and hardware versions
Collect v1.23.x, Android 4.2, 4.4 5.1, 6.0 an 8.1, device used...

#### Problem description
Error message is displayed when try to fill fieldlist-updates.xml form submission. It is visible when user swipes to Save Form and Exit view or jump to the last question using hierarchy view. I have investigated a bit and the issue is not visible on version 1.22.0. It mus

[2019-07-23 17:52] poVoq commented on #2418
Still getting this error sometimes on the latest playstore version of ODK with Kobotoolbox as the server back end

[2019-07-23 22:41] lognaturel commented on #3230
I think this is because the last question in that form is now a question that accesses an external CSV. If you add [fruits.csv.txt](https://github.com/opendatakit/collect/files/3424307/fruits.csv.txt) to the media folder, that should fix it. The tests add the media file so I'm pretty sure that's why running them also makes the error go away.

[2019-07-23 23:35] marichaf commented on #2861
Hi again @shobhitagarwal1612 . I was able to get and test this version, and it does indeed work for my survey, with a few caveats: it does crash when I have audio autoplay specified for a field for which there is no audio, which is a mistake in programming anyway, so once I cleaned that up it ran through without crashing. It also occasionally (it happened twice while I was testing) does not autopl

[2019-07-24 09:31] kkrawczyk123 commented on #3230
Thank you @lognaturel ! I don't know how I could miss that! I am closing the issue!

[2019-07-24 09:31] #3230 closed, assigned to nobody

[2019-07-24 10:13] kkrawczyk123 opened #3234 "Crash on Android 4.2 when open Selfie Image widget and Selfie video widget"
#### Software and hardware versions
Collect v1.23.x, Android v4.2.x, device used...

#### Problem description
Collect s crashing when open Selfie Image widget and Selfie video widget

#### Steps to reproduce the problem
1. Run Collect on Android 4.2 and swipe/jump to Selfie Image widget/Selfie video widget.

#### Expected behavior
App should not crash, user should be able to use both widgets.

###

[2019-07-24 10:16] kkrawczyk123 commented on #3192
@lognaturel I have confirmed on the newest master that I am not able to reproduce the issue reported by @mmarciniak90. I have identified another crash and reported in https://github.com/opendatakit/collect/issues/3234

@opendatakit-bot unlabel "needs testing"
@opendatakit-bot label "behavior verified"

[2019-07-24 14:10] #3090 closed, assigned to nobody

[2019-07-24 14:10] #3129 closed, assigned to nobody

[2019-07-24 14:10] #3130 closed, assigned to nobody

[2019-07-24 14:11] #3222 closed, assigned to grzesiek2010

[2019-07-24 14:31] #3210 closed, assigned to lognaturel

[2019-07-24 14:32] #3208 closed, assigned to lognaturel

[2019-07-24 14:35] #3192 closed, assigned to nobody

[2019-07-24 16:27] lognaturel opened #3235 "Provide user-friendly error message when CSV for search()/pulldata is not on device"
The error messages shown when a CSV attachment meant to be used with search()/pulldata are not friendly to users. Moreover, they don't provide any real useful information for developers. See https://github.com/opendatakit/collect/issues/3230 for an example.

Ideally the error message would explicitly name the CSV file that was missing. I'm not sure whether that information is available where the e

[2019-07-24 16:27] lognaturel commented on #3230
Not a problem, @kkrawczyk123! I filed https://github.com/opendatakit/collect/issues/3235 because the message is really not very helpful.

[2019-07-24 16:32] #3126 closed, assigned to grzesiek2010

[2019-07-24 17:56] lognaturel opened #3236 "Available mapping reference layers should be sorted"
Currently reference layers are displayed in a random order because `listFiles` [does not guarantee an ordering](https://developer.android.com/reference/java/io/File.html#listFiles()). They should be sorted alphanumerically by name (preferable) or path (easier).

[2019-07-24 21:38] lognaturel opened #3240 "Mapbox offline vector mbtiles: fill is applied to all polylines, even ones that don't close"
#### Software and hardware versions
Collect v1.23.beta-4

#### Problem description
Some layers in an mbtiles may include unclosed polylines. Because we don't have access to style information, all are currently filled.

[countries.mbtiles](https://github.com/klokantech/vector-tiles-sample/releases/download/v1.0/countries.mbtiles):

![mbtiles-fills](https://user-images.githubusercontent.com/236086/6

[2019-07-24 22:26] lognaturel opened #3241 "Mapbox map fragment does not stop requesting location updates"
#### Software and hardware versions
Collect v1.22+

#### Problem description
After opening a geo widget with a Mapbox basemap, location updates are requested until Collect is quit.

#### Steps to reproduce the problem
- Select a Mapbox basemap from the Maps settings
- Launch a geo widget
- Close the geo widget
- See on `logcat` and in the Android status bar that location updates continue

#### Exp

[2019-07-24 23:59] zestyping commented on #3241
So far I've tried `                locationComponent.getLocationEngine().removeLocationUpdates(this);
` and `            locationComponent.onStop();` / `onDestroy();` and they haven't helped.

Hmm.

[2019-07-25 04:19] lognaturel opened #3244 "Setgeopoint action doesn't get frequent enough updates in the absence of wifi or cell access"
#### Software and hardware versions
Collect v1.23.beta-0+

#### Problem description
The setgeopoint action does not receive location updates frequently enough to be useful in the absence of wifi or cell.

#### Steps to reproduce the problem
Use a form like the setgeopoint test form on http://opendatakit.appspot.com/ that triggers the action multiple times. Walk around an area without cell or wifi,

[2019-07-25 07:11] zestyping commented on #3241
Okay, a more complete fix is needed.  I discovered that location updates also continue indefinitely if you start the GoogleMapFragment, rotate the screen, and then quit the GoogleMapFragment.

[2019-07-25 11:19] mmarciniak90 opened #3246 "App crashes when Geo question tries to open Mapbox on Android 4.x"
## Software and hardware versions
Collect v1.23 - master
Android v4.x

#### Problem description
App crashes when the user opens some Goe question when Mapbox is set

#### Steps to reproduce the problem
1. The user goes to `General Settings` > `Maps`
2. User sets Mapbox
3. User opens GeoPoint / GeoTrace or GeoShape question
4. User clicks on the button to open map
5. App crashes

![Screenshot from

[2019-07-25 15:37] zestyping commented on #3246
Oh dear.   I didn't realize we couldn't use vectors.  @lognaturel  I assume this means we can't rely on vector drawables, and the solution is to use a bitmap instead?

[2019-07-25 17:29] lognaturel commented on #3246
@zestyping I'm really surprised by this and not immediately seeing the root cause. `ContextCompat.getDrawable` looks like it should handle all API levels.

Do you have a way of trying this out? Maybe https://developer.android.com/reference/android/support/v7/content/res/AppCompatResources.html#getDrawable(android.content.Context,%20int) does the trick?

[2019-07-25 21:10] zestyping commented on #3246
It took some doing, but I was finally able to get it up in a 4.4 emulator and replicate this crash.  Pushing a fix for your review now.

[2019-07-25 21:21] zestyping commented on #3240
This was closed by #3238.

[2019-07-25 21:21] #3240 closed, assigned to nobody

[2019-07-25 21:23] zestyping commented on #2997
@lognaturel The full solution for #3241 should address this, too.

[2019-07-26 04:35] lognaturel commented on #3224
I tried removing `instances.db`, installing v1.23.0, installing v1.22 three times and all three times, I ended up in a corrupt state with `instances_tmp` not having `displaySubtext` and containing all user data and `instances` having `displaySubtext`.

Digging deeper, the problem is that v1.22's `onDowngrade` tries to select `displaySubtext` from the v5 database but it doesn't exist.

Normally, `o

[2019-07-26 09:54] kkrawczyk123 opened #3248 "OpenStreetMap does not display on Androids 5 and higher"
#### Software and hardware versions
Collect v1.23.x, Android v5.1, 6.0, 7.0, and 8.1, device used...

#### Problem description
OpenStreetMap does not display when using Geo widgets.
![Screenshot_2019-07-26-11-31-46](https://user-images.githubusercontent.com/33342488/61943260-5d342180-af9b-11e9-8174-8841bbde89f3.png)

#### Steps to reproduce the problem
1. Choose in General Settings Maps/OpenStreet

[2019-07-26 17:59] #3246 closed, assigned to nobody

[2019-07-26 18:03] #3220 closed, assigned to grzesiek2010

[2019-07-26 20:10] lognaturel opened #3251 "Provide proper attribution for map tiles"
Collect makes available beautiful basemaps from a number of free web services. I just did some licensing due diligence and realized that we violate several:

- Carto: the [terms of service](https://drive.google.com/file/d/0B3OBExqwT6KJNHp3U3VUamx6U1U/view) state: "When using the Services, you must provide attribution to both OpenStreetMap and CARTO, as described at https://carto.com/attributions."

[2019-07-26 20:18] zestyping commented on #3248
When I try this, I get lots of "403 Forbidden" responses for the tile requests.  Here an example of the HTTP headers I get:

[code]

@kkrawczyk123 Can you check logcat while you are experiencing this problem and verify whether it's the same for you?  If it's failing for the same reason for you, the messages will look like this:

[code]

[2019-07-26 20:20] zestyping commented on #3248
Hmm.  This looks deliberate.  OsmDroid includes the header `User-Agent: osmdroid` in its requests, and that seems to make the difference.

When I do

[code]
I get a tile.

But when I do:
[code]
I get a 403 Forbidden error.

[2019-07-26 21:39] lognaturel opened #3252 "Configure osmdroid to provide Collect User-Agent string to tile servers"
We are supposed to identify the Collect app to tile servers: https://github.com/osmdroid/osmdroid/wiki/Important-notes-on-using-osmdroid-in-your-app#set-the-http-user-agent-variable

[2019-07-26 22:04] lognaturel commented on #3211
Yeah, yeah, @opendatakit-bot, I'm behind on things, I know.

[2019-07-26 22:40] lognaturel opened #3253 "User-Agent string lists system before product, contrary to RFC 7231 recommendation"
As I looked at addressing #3252, I noticed that the User-Agent string currently used in requests does not follow the order recommended by [RFC 7231](https://tools.ietf.org/html/rfc7231#section-5.5.3):

As described by #800 and shown in tests, Collect's User-Agent string looks like:
`Dalvik/2.1.0 (Linux; U; Android 5.1.1; hi6210sft Build/LMY47X) org.odk.collect.android/v1.5.1-10-ge20fa334-dirty`

T

[2019-07-27 00:43] zestyping commented on #3253
Putting it first (before `Dalvik`) seems reasonable.  I don't think we need to replace the app ID; I agree it's unusual but it also works well.  Just my two cents. :smile:

[2019-07-27 00:44] zestyping commented on #3253
Side note: I confirmed that the tile requests from OSMDroid do not use the same HTTP infrastructure.  Those requests look like this, and would need to have their headers set separately:

[code]

[2019-07-27 00:45] lognaturel commented on #3253
@zestyping I'm hoping you'll enjoy https://github.com/opendatakit/collect/pull/3254 (writing the description up right now).

[2019-07-27 00:51] zestyping commented on #3253
I just tried the same experiment with Mapbox, and discovered that it makes its own User-Agent string as well:

[code]

[2019-07-27 01:00] zestyping commented on #3253
We can't change the Mapbox one, though.  It's statically defined:

https://github.com/mapbox/mapbox-gl-native/blob/24b7b413b5232121ba1599b613152dea124314bf/platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/module/http/HttpRequestImpl.java

https://github.com/mapbox/mapbox-gl-native/blob/master/platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/http/HttpIden

[2019-07-27 01:05] lognaturel commented on #3248
@zestyping and I discussed more in Slack and have concluded that the `osmdroid` User-Agent is blocked because it violates the [OpenStreetMap terms of service](https://operations.osmfoundation.org/policies/tiles/). Collect itself violates the terms of service and we have reached out to OpenStreetMap about how to proceed.

https://github.com/opendatakit/collect/pull/3254 sets a User-Agent string for

[2019-07-27 01:08] lognaturel commented on #3253
Great to see that Mapbox uses the application ID as well. Upon further reflection, I think we should keep that part.

Seems totally fine for Mapbox to set its own User-Agent string since it's just communicating with its own servers, anyway.

[2019-07-27 01:11] zestyping commented on #3253
If/when we give it tile URL templates (e.g. if we use it to replace OSMDroid), it'll fetch those tiles from whatever other servers using that User-Agent.  I like their User-Agent string though; it looks totally reasonable to me.

[2019-07-27 01:16] lognaturel commented on #3253
Oh, right, I hadn't thought about that! But yes, I agree that it's reasonable even in that context. If servers are doing throttling based on `User-Agent` string, they probably have some heuristics for identifying the application part which hopefully wouldn't get fooled by that switch. Though I think we're fine on terms of service other than openstreetmap.org

[2019-07-27 01:45] zestyping commented on #3251
@lognaturel Oops, I didn't catch your self-assignment (or assign it to myself) before working on this.  Would you like to take over the PR in #3255?

[2019-07-29 03:42] lognaturel commented on #3248
OSM has given us the green light to provide a custom User-Agent string.

[2019-07-29 11:33] kkrawczyk123 opened #3257 "Unable to fill forms with audit"
#### Software and hardware versions
Collect v1.23.x, Android v4-8.x.x, device used...

#### Problem description
When filling the form with audit user is thrown to the Main Menu.

#### Steps to reproduce the problem
Try to fill attached forms.

#### Expected behavior
User should be able to fill the form, the user should not be thrown back to Main Menu.

#### Other information
Forms that I've used:

[2019-07-29 14:19] #3241 closed, assigned to nobody

[2019-07-30 09:32] serializer commented on #2670
Hey, I am new to the open source community. I was thinking about removing unused classes by simply using "Find Usages" function available in Android Studio.

[2019-07-30 09:33] #3248 closed, assigned to nobody

[2019-07-30 09:33] #3252 closed, assigned to lognaturel

[2019-07-30 09:58] #3244 closed, assigned to lognaturel

[2019-07-30 17:23] lognaturel opened #3262 "Build sometimes hangs on jacocoDebug step"
Android Studio 3.4.1, Gradle 3.4.0

I suddenly started experiencing this frequently a couple of weeks ago. @zestyping has mentioned getting it as well.

When I run from Android Studio, typically the jacocoDebug step takes about 1 second. Occasionally, it will hang for several minutes and my CPU fans will go full blast. I have not investigated this. I'm hoping that when @grzesiek2010 updates all th

[2019-07-30 18:01] zestyping commented on #3262
Thanks for noting this!  My experience pretty much matches your description exactly.  It feels like this happens half the time, but that's probably an exaggeration because I really notice it when it happens and don't notice it when it doesn't.

[2019-07-30 21:55] #3251 closed, assigned to zestyping

[2019-07-30 21:58] lognaturel commented on #2670
Hi @tronku and welcome! That sounds great. If you can find a static analysis check that will make sure no newly unused classes are introduced, that would be ideal, but it's ok if not. It's possible you won't find any more unused classes in which case we can simply close this issue.

[2019-07-30 22:04] lognaturel opened #3263 "Basemap attribution text disappears on rotation and zoom for geopoint with maps and placement-map appearances"
#### Software and hardware versions
Collect v1.23.0

#### Problem description
#3255 added attribution text for basemap options from sources other than Mapbox and Google. These basemap options are displayed by the osmdroid mapping engine. Rotating the screen or zooming in to the current location makes these disappear.

#### Steps to reproduce the problem
1. Select a basemap source other than Mapbox

[2019-07-31 00:22] lognaturel opened #3264 "Don't finalize encrypted form if definition has no instanceID and show explanation to user"
#### Software and hardware versions
Collect v1.23.0 and prior

#### Problem description
When a form definition does not include an instanceID, it can't be encrypted because an instanceID is necessary to identify the record in the submission manifest. Currently, encryption just silently fails and the submission is still saved as finalized. A user may not realize that their data is not encrypted and

[2019-07-31 09:35] mathieubossaert commented on #1122
I just made a suggestion in transifex...

So I suggest to replace

and

 by

For me this is clear enough for the end user. The group concept is ok for form designers, but not at all for collect users. In french it could be

https://www.transifex.com/opendatakit/collect/translate/#fr/strings/8478157
https://www.transifex.com/opendatakit/collect/translate/#fr/strings/8478159

[2019-07-31 11:43] #3257 closed, assigned to grzesiek2010

[2019-07-31 12:01] kkrawczyk123 opened #3266 "Unable to open Get Blank Form list with Aggregate as Server and date with unicode characters"
#### Software and hardware versions
Collect v1.23.x, Android 4.4, 5.1, 6.0, 7.0.

#### Problem description
I have encountered a weird bug when performing regression testing. I had chosen the Spanish language in devices settings and tried to open Get Blank Form. I had default Aggregate in Server settings I saw an error message:
![Screenshot (Jul 31, 2019 1_11_33 PM)](https://user-images.githubuserc

[2019-07-31 12:16] mmarciniak90 opened #3267 "App crashes when Storage permission is unselected and user tries to return to `Get Blank Form` view"
### Software and hardware versions
Collect v1.22.4 (older versions were not verified)

#### Problem description
App crashes when Storage permission is unselected and user tries to return to `Get Blank Form` view

#### Steps to reproduce the problem
1. User uses Collect. **Aggregate** is set as a server.
2. User opens Get Blank Form
3. Storage permission is unselected
4. User returns to Collect
5.

[2019-07-31 15:00] anilshatharashi commented on #3226
Raised a PR for this here https://github.com/opendatakit/collect/pull/3268#issue-302989744

[2019-07-31 21:51] yanokwa commented on #3266
This was reported by a user to me via Facebook. Looks like the same issue. Just adding it here for historical purposes.

[2019-08-01 00:51] lognaturel opened #3270 "Explore alternatives for Mapbox support on 64-bit devices"
As of 8/1/2019, all app updates with native code need to include 64-bit libs: #2844

With the 64-bit stub, @mmarciniak90 got a crash on a Nexus5X: #3144

I believed that crash was because Android uses the best available lib and once the stub was found, there was no attempt to fall back to the 32-bit lib. However, the error message is `"/data/data/org.odk.collect.android/app_lib/libmapbox-gl.so" is

[2019-08-01 01:48] lognaturel opened #3271 "Take advantage of form definition parsing performance enhancement in JavaRosa 2.15.0"
https://github.com/opendatakit/javarosa/pull/445 introduced a significant performance improvement to forms with internal secondary instances. Taking advantage of it requires using the new `XFormUtils.getFormFromFormXml` instead of `XFormUtils.getFormFromInputStream`.

Once that change is made, the time taken to load a form with a large internal secondary instance such as [nigeria_wards_internal.xm

[2019-08-01 07:12] #3266 closed, assigned to grzesiek2010

[2019-08-01 11:09] #3224 closed, assigned to lognaturel

[2019-08-01 16:24] #3226 closed, assigned to nobody

[2019-08-01 20:30] lognaturel commented on #2861
Thanks so much for sharing your use-case, @marichaf! For future reference, the corresponding forum thread is https://forum.opendatakit.org/t/autoplay-eventually-crashes-survey/20621/5

The current goal is to get audio playback and autoplay fixed for Collect v1.24 with tentative release in early October. It would be wonderful to get your feedback along the way to make sure that all ongoing issues h

[2019-08-01 21:02] lognaturel commented on #1122
Thanks for bringing this up again! Let's keep the conversation on the forum for a bit so we can get feedback from other users and decide on a course of action: https://forum.opendatakit.org/t/change-prompt-when-adding-new-group-new-loop/20025

[2019-08-01 21:02] #1122 closed, assigned to nobody

[2019-08-01 21:06] #3267 closed, assigned to grzesiek2010

[2019-08-01 23:03] grzesiek2010 commented on #3205
I'm pretty sure the problem is related to orientation changes...
in those tests, we use DrawActivity which works in landscape mode. When a user returns from that activity to DrawWidget/SignatureWidget a rotation will take place landscape->portrait. It might take some time and probably it's the cause.

What do you think about calling [waitForIdleSync](https://developer.android.com/reference/android

[2019-08-02 04:13] grzesiek2010 opened #3275 "Long choices not visible in select_one question with minimal appearance"
#### Software and hardware versions
Collect v1.23 and older versions

#### Problem description
Long choices not visible in `select_one` question with `minimal` appearance, what is a problem for some users.

#### Steps to reproduce the problem
Test the attached form:
[selectMinimal.xml.txt](https://github.com/opendatakit/collect/files/3459580/selectMinimal.xml.txt)
![Screenshot_1564718855](https://

[2019-08-02 04:27] serializer commented on #2670
okay great!

[2019-08-02 06:33] serializer commented on #2670
@opendatakit-bot claim

[2019-08-02 06:56] serializer commented on #2670
@lognaturel  I have a doubt. I found two classes - MapFragment and AndroidShortcuts. Both have usages within themselves only, should i remove them too?

[2019-08-02 07:12] serializer commented on #3270
@lognaturel I ran into this closed issue https://github.com/mapbox/mapbox-gl-native/issues/3128
Mapbox have support for 64 bit devices.

[2019-08-02 09:30] seadowg commented on #3205
@grzesiek2010 my impression is that Espresso should be doing that for us but it's definitely worth a try. I hadn't thought about the screen rotations and it wouldn't surprise me if that messes with Espresso...

[2019-08-02 10:17] grzesiek2010 commented on #3205
@seadowg so maybe let's try it https://github.com/opendatakit/collect/pull/3277

[2019-08-02 13:17] seadowg commented on #3205
@grzesiek2010 do you think it's worth merging in #3276 first as a temporary measure or are you pretty close with #3277?

[2019-08-02 23:30] lognaturel opened #3281 "OkHttp failure when submission filename contains unicode"
#### Software and hardware versions
Collect v1.23.0

#### Problem description
Submission filenames are based on the form name which can contain unicode. Trying to send a submission with such a form name causes a crash.

See reproduction steps and full error message at https://forum.opendatakit.org/t/unable-to-upload-odk-record-to-server/21230

[2019-08-03 00:16] #3281 closed, assigned to lognaturel

[2019-08-05 08:54] seadowg commented on #3203
@opendatakit-bot claim

[2019-08-05 16:19] seadowg commented on #2521
@grzesiek2010 @lognaturel am I right in thinking that "grid multi selects" (selects with compact appearance) don't support audio? As far as I can see they don't render audio buttons and don't play audio when selected/clicked. Just trying to work out if this is also a bug/regression or not.

Screenshot of the widgets I'm talking about from @grzesiek2010's example (at the bottom):

![Screenshot_1565

[2019-08-05 16:31] grzesiek2010 commented on #2521
The compact should be compact so shouldn't display any buttons (audio or video).  I remember that playing audio worked in that case and an audio file was started just after selecting an item but it was a long time ago and then we implemented some improvements in that area (all select questions) deciding not to support it because it was a tricky case.

So I wouldn't say it's regression no one compl

[2019-08-05 21:38] qlands opened #3287 "Introduction of OkHttp changed authorization type over https"
Hi,

The authorization type changed from **Digest** to **Authorization-Basic** over HTTPS when OKHttp was introduced.

@lognaturel / @yanokwa  do you post anywhere potential breaks for 3rd party software that uses ODK Collect (Like Ona, kobotoolbox, etc) when introducing changes?

[2019-08-05 21:41] lognaturel commented on #3287
Can you please say more about what you are experiencing? https://forum.opendatakit.org/t/odk-collect-v1-23-beta/20731 is where the change was described and a beta provided. Compatibility with the servers you have listed has been verified. The intent is for basic auth to be a fallback.

[2019-08-05 22:03] qlands commented on #3287
There are the headers sent by ODK Collect over HTTPS:

[code]
No other is sent. It does not seems to be a fallback. Did the change to OKHttp changed the authorization process?

[2019-08-05 22:07] lognaturel commented on #3287
Thank you. That does look unintentional and problematic. I have another issue that I need to prioritize but I think we will be able to fix this within 24 hours.

[2019-08-05 22:22] qlands commented on #3287
Thank you.

[2019-08-05 22:33] yanokwa commented on #3287
@qlands Do you have a public server that QA could verify this fix against? It'd be good for us to do an end-to-end test so we don't miss anything else.

[2019-08-06 00:03] qlands commented on #3287
We traced the error to the authentication of internal URLs in the form list (downloadUrl and manifestUrl):

[code]
In the form list url (/formList) we check if your credentials are valid, if not then we request your credentials using Digest with the following headers:

`[('WWW-Authenticate', 'Digest realm="formshare@qlands.com",qop="auth,auth-int",nonce="95d9227a63c9f978aa6d9ff6720f1103",opaque="8

[2019-08-06 03:27] qlands commented on #3287
Hi @yanokwa, we had to patch our code to allow our user base to download forms. We forced ODK Colllect to send the user and password with Digest by revoking the Authorization:Basic and sending the Digest headers.

These are three things that are critical for 3rd party integrations:
- Authentication process
- XML file structures (FormList, Manifest, and Data file)
- Expected routes.

If your team c

[2019-08-06 08:23] seadowg commented on #3287
@qlands it looks like this was an unintentional change in Collect - we had tried to keep Collect's behaviour identical with the shift to OkHttp but it looks like this change went undiscovered in our tests and QA.

It would be really helpful towards us understanding what happened here to see the headers your server was sending to Collect during the interactions you described. I'm going to take a lo

[2019-08-06 10:02] mmarciniak90 opened #3290 "Answers for multiple widgets are not remembered if user select it by clicking on icons"
#### Software and hardware versions
Collect v1.22.0 (older versions were not verified)

#### Problem description
Answers for multiple widgets are not remembered if user select it by clicking on icons

#### Steps to reproduce the problem
1. User fills form [SelectTest3028.zip](https://github.com/opendatakit/collect/files/3471536/SelectTest3028.zip)
2. User starts filling questions with **multiple w

[2019-08-06 11:23] mmarciniak90 opened #3291 "Doubled : sign is visible on the bottom bar in the map in Spanish"
#### Software and hardware versions
Collect v1.22.4 (older versions were not verified)

#### Problem description
Doubled : sign is visible on the bottom bar in the map in Spanish

#### Steps to reproduce the problem
1. The Spanish language is set on device or in ODK Collect
2. User opens GeoTrace or GeoShape widget
3. User adds point via **Automatic location recording** method
4. User sees the bar

[2019-08-06 13:13] qlands commented on #3287
@seadowg you would be able still to see the headers that our app send to Collect. Basically is:

[code]
With that in a 401 response Collect may request the user and password and send it using Digest.

[2019-08-06 13:20] seadowg commented on #3287
Thanks @qlands. I think we have a fix at #3289. Out of interest: what headers was FormScope sending back when it received the Basic auth before your fix?

[2019-08-06 13:31] mmarciniak90 opened #3292 "Hyperlink to the sheet with a repeat group is not clickable"
#### Software and hardware versions
Collect v1.23
Related to #3128
Google Sheets

#### Problem description
Hyperlink to the sheet with a repeat group is not clickable
Value with a hyperlink to other sheet is preceded by a sign `'`.

![Screenshot from 2019-08-06 15-25-51](https://user-images.githubusercontent.com/3907554/62543605-820f7b00-b85e-11e9-959f-63797530688b.png)

#### Steps to reproduce th

[2019-08-06 13:40] grzesiek2010 commented on #3291
I fixed that string on transifex. It will be visible once we update strings.

[2019-08-06 13:40] #3291 closed, assigned to nobody

[2019-08-06 13:49] qlands commented on #3287
Before we fixed it we checked if your request came authenticated and if so proceed to process them using Digest. This because previous versions of Collect maybe had a different authorization schema order (Digest, Basic, etc) as you pointed it out at #3289 . If we did not find the authorization headers then we returned and 401 like:

[code]

We patched the code to not assume Digest if the request c

[2019-08-06 13:58] seadowg commented on #3287
@qlands right that makes sense. I've built a [debug APK](https://github.com/opendatakit/collect/files/3472605/collect-debug-basic-auth-fix.apk.zip) from the fix we've put together in #3289 for you to test if you're able to. I know you've already patched the problem but I'm assuming you'll be seeing extra traffic because of having to return extra 401s.

You'll most likely have to uninstall any prev

[2019-08-06 14:15] #3203 closed, assigned to seadowg

[2019-08-07 01:35] qlands commented on #3287
Confirming that the debug APK works fine with the previous authorization process.

[2019-08-07 03:34] lognaturel commented on #3290
I know this wasn't introduced in v1.23.0 but we know we'll do another point release so it'd be great to get this one in.

[2019-08-07 03:35] lognaturel commented on #3292
This feels like it should go in the point release.

[2019-08-07 03:45] lognaturel commented on #3270
Thanks for looking into this, @tronku! Collect currently bundles the 64-bit native library provided by Mapbox. However, that adds about 3mb to the app size. Our users work in resource-constrained areas where every megabyte counts. They also tend to favor less-expensive devices so 64-bit ones are not currently very common. The goal here is to avoid all devices having to get native code they don't n

[2019-08-07 07:55] seadowg commented on #3287
@qlands thanks so much for giving it a go!

[2019-08-07 09:01] seadowg opened #3293 "Test"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-08-07 09:01] #3293 closed, assigned to nobody

[2019-08-07 12:05] mmarciniak90 opened #3296 "Collect crashes during sending 1000 forms to Google Sheet"
#### Software and hardware versions
Discovered during testing #3289

#### Problem description
Collect crashes during sending 1000 forms to Google Sheet

#### Steps to reproduce the problem
1. User sends 1000 submission to Google Sheet
2. Almost all forms are sent
3. Collect crashes

`08-07 13:59:58.077 8482-8482/org.odk.collect.android E/SQLiteLog: (1) Expression tree is too large (maximum depth 1

[2019-08-07 14:04] #3287 closed, assigned to nobody

[2019-08-07 16:47] lognaturel commented on #3296
It's that same SQLite issue we've addressed a bunch of different places. @grzesiek2010, how about seeing if there's any way to capture that redundancy somehow.

[2019-08-07 17:14] lognaturel opened #3297 "Minimal selects much slower because of HTML styling"
#### Software and hardware versions
Collect v1.23.0

#### Problem description
Identified by @JohnTheBeloved.

#3204 renders styled options for minimal selects. The additional step of styling each option slows things down significantly because it's done for every option upfront rather than with the RecyclerView-based select implementations when it's done as an option is displayed.

#### Steps to re

[2019-08-07 17:24] lognaturel commented on #3297
This is potentially a bad regression for users that rely on minimal selects from external files so it could be a candidate for a point release.

This was never very fast to begin with because spinners build every option view at once (as opposed to recycling them as with the `RecyclerView`). I'm not sure how we evaluate how severe this is. @grzesiek2010, what are your measurements of how big the pe

[2019-08-07 17:35] lognaturel opened #3298 "Set targetSDK to 28"
See change description at https://developer.android.com/distribute/best-practices/develop/target-sdk#prepie -- I don't think there will be any functional differences but we will need to evaluate visual differences.

[2019-08-07 17:40] lognaturel opened #3299 "Revisit forms database migrations and add testing"
https://github.com/opendatakit/collect/pull/3250 added tests for the instances database migration and fixed a number of migration bugs. Do the same for the forms database as appropriate.

[2019-08-07 17:41] lognaturel commented on #3298
Whoops, dupe of #3189

[2019-08-07 17:41] #3298 closed, assigned to nobody

[2019-08-07 17:54] lognaturel opened #3300 "Document current select implementations and the features and data sources they support"
There has been a lot of churn in the select implementations because behavior is inconsistent between the different variants. It would be helpful to take a step back, document existing behavior, make a deliberate choice about intended behavior, and implement all the changes. When we treat differences in behavior as bugs, we are more likely to miss problems like https://github.com/opendatakit/collec

[2019-08-08 00:49] lognaturel opened #3301 "Geo widgets report "null" as provider"
Collect v1.23, Mapbox basemap, inside (so no GPS).

![device-2019-08-07-174651](https://user-images.githubusercontent.com/967540/62667185-675f0400-b93b-11e9-967d-95594e269def.png)

Should confirm whether this happens only with Mapbox and Google basemaps or also the others.

[2019-08-08 12:00] #3292 closed, assigned to grzesiek2010

[2019-08-08 12:19] grzesiek2010 commented on #3297
it depends, I used Android 5 and a form with 100 choices and it was like 0.5s -> 2.2s
but it will work faster on newer devices but also the more choices the slower performance.

It might be difficult to do that with both the spinner (select_one) and alert dialog with multiple choices (select-multiple). I think our goal should be to create our own dialog which would use RecyclerView and support bot

[2019-08-08 18:27] #3290 closed, assigned to grzesiek2010

[2019-08-08 20:18] yanokwa commented on #3287
Hi @qlands, thanks again for reporting the issue. v1.23.3 will be out shortly with @seadowg’s patch.

I wanted to respond to your comments about our process and how you can help.

We communicate all intentional changes and areas of concern in the [pre-releases](https://forum.opendatakit.org/c/releases/pre-releases) section of the forum. Betas usually run for a week, but are extended if users repor

[2019-08-08 23:46] lognaturel opened #3304 "jr:choice-name() doesn't work with relative references"
This is a JavaRosa issue filed at https://github.com/opendatakit/javarosa/issues/435. Filing it here so we can place it in the v1.24 milestone and remember to QA it.

[2019-08-09 01:10] qlands commented on #3287
Hit @yanokwa , thank you for the information. We will try to integrate all these into our QA and testing process. I will try to keep an eye on the road map.

[2019-08-09 03:26] #3236 closed, assigned to nobody

[2019-08-09 03:26] #2670 closed, assigned to serializer

[2019-08-09 19:44] lognaturel opened #3305 "Opening an instance with a time question and saving it without opening that question results in a one hour shift"
https://forum.opendatakit.org/t/odk-collect-time-in-repeat-changes-on-submit/20966

@grzesiek2010 has reproduced. Does this actually only happen with Google Sheets?

[2019-08-12 18:08] grzesiek2010 commented on #3305
First of all, I need to point out that it's not a problem with repeatable groups (like described in the issue or on the forum). It's a broooooder problem which
I can reproduce even with a simple time question like here:
[onlyTimeTest.xml.txt](https://github.com/opendatakit/collect/files/3493759/onlyTimeTest.xml.txt)

Steps (it's not something that everyone can reproduce because it depends on timez

[2019-08-12 19:26] #3275 closed, assigned to grzesiek2010

[2019-08-13 10:50] seadowg opened #3307 "Missing test coverage: AutoSenderWorker"
It's possible to create breaking changes in `AutoSendWorker` and it's dependencies without causing any tests to fail.

In my (very up for debate opinion): It most likely makes sense for `AutoSendWorker` to be tested at a Robolectric level with non Android SDK dependencies such as `OpenRosaHttpInterface` mocked out.

[2019-08-14 09:06] grzesiek2010 commented on #863
Since it's not a bug in Collect I'm closing the issue.

[2019-08-14 09:06] #863 closed, assigned to nobody

[2019-08-15 13:02] seadowg commented on #2861
Hey @marichaf. I'm working on fixing this and it'd be really interesting to get a better sense of exactly how you'd expect autoplay in choices to work for your use case. Would you be able to post an XLSForm example of the form you were describing? I'm more interested in what you'd expect to be able to do so don't worry about making a form that actually works in Collect right now 🙂

[2019-08-17 00:07] nshestiuk commented on #3263
@opendatakit-bot claim

[2019-08-19 08:33] seadowg commented on #3205
Sorry I should have closed this with #3276.

[2019-08-19 08:33] #3205 closed, assigned to grzesiek2010

[2019-08-19 09:56] #3301 closed, assigned to grzesiek2010

[2019-08-19 10:41] mmarciniak90 opened #3313 "Verify that correct location provider is visible for Geo widgets"
#### Software and hardware versions
Collect v1.23 with #3309

#### Problem description
During testing #3309 I was wondering if the correct provider is visible for all Geo widgets.
I executed a few testes but precise verification is desirable.

#### Steps to reproduce the problem
* Internet connection is turned OFF.
* In Android location settings, `Device only` option is set

|Widget|Google Maps|Ma

[2019-08-19 11:15] seadowg commented on #2861
@opendatakit-bot claim

[2019-08-20 13:15] #3263 closed, assigned to nshestiuk

[2019-08-21 15:36] anilshatharashi commented on #3189
Just raised a PR [here ](https://github.com/opendatakit/collect/pull/3315#issue-309561276)

[2019-08-21 19:53] #3271 closed, assigned to lognaturel

[2019-08-23 11:41] mmarciniak90 opened #3316 "Referring to node in secondary instance with path that also exists in primary instance can result in a dependency cycle"
### Software and hardware versions
Collect v1.23.2
Problem is not visible in versions: from Collect v1.23.0 beta 2 to v1.23.1

#### Problem description
Problem from https://github.com/opendatakit/collect/issues/3197

#### Steps to reproduce the problem
1. User starts form
[dont-show-options-selected-in-other-instances.xml.txt](https://github.com/opendatakit/collect/files/3534212/dont-show-options-

[2019-08-23 16:00] seadowg commented on #3262
@zestyping you still seeing this? I feel like I haven't for a little while now.

This post is probably a massive self jinx.

[2019-08-23 16:05] seadowg commented on #3234
@kkrawczyk123 I think this is a dupe of #3051. Does that look right?

[2019-08-23 20:39] ghost commented on #3039
Hey @lognaturel. I would love to work upon it.

[2019-08-24 19:47] ghost commented on #2104
@opendatakit-bot claim

[2019-08-26 06:07] kkrawczyk123 commented on #3234
@seadowg, yes it looks like it is.

[2019-08-26 10:11] seadowg commented on #3234
Cool. I'll close this then!

[2019-08-26 10:11] #3234 closed, assigned to nobody

[2019-08-27 13:12] seadowg opened #3322 "Repeat group dialog disappears after locking phone"
This started on the [forum](https://forum.opendatakit.org/t/add-new-prompt-desappears-after-unlocking-the-screen/21564).

#### Software and hardware versions

Collect v1.23.3

#### Problem description

When prompted to add a repeat group, locking your phone (or navigating to another app) and then returning to the app shows a blank screen without the dialog prompt. You can swipe back and forward to

[2019-08-29 22:44] lognaturel commented on #3039
Hi @geekRishabhjain! That's great. The first step is to think through different progress indicator options and positioning and to make a proposal, ideally with rough sketches (can be simple like a photo of a pencil and paper sketch). The proposal can be in a comment or in a linked Google doc. It should describe decisions in as much detail as possible -- how/if it would interact with different ques

[2019-08-30 03:56] lognaturel opened #3324 "Provide more troubleshooting information for geopoint questions"
From @florianm at https://github.com/opendatakit/collect/issues/2008#issuecomment-428488422:

Is there other troubleshooting information to consider?

The first step would be to come up with a proposed UI. That is, does it just go below the satellite count? What's the exact wording that would most help users? Etc.

[2019-08-30 23:03] lognaturel commented on #809
Two of the major concrete suggestions from this issue have been addressed:
* there is now a convention for displaying a meaningful label for each repeat (https://github.com/opendatakit/xforms-spec/commit/16c189b496e66c906cd1a3e2da5d1201c417c7da and https://github.com/opendatakit/collect/pull/1648)
* the hierarchy view now makes it possible to add and remove repeats (https://github.com/opendatakit/

[2019-08-30 23:03] #809 closed, assigned to nobody

[2019-08-30 23:22] lognaturel commented on #3322
It looks like the form entry activity was checked in with https://github.com/opendatakit/collect/commit/996093f7b0ffadd1e67bd14410759f3c32109a37 and doesn't have any explanation for the dialog dismissal. I would guess it was part of some boilerplate the activity was based on.

Repeats are a real pain point for users. There are many issues and forum posts making suggestions in various different dir

[2019-08-31 02:58] florianm commented on #3324
Thanks for following up!

How about a line underneath the satellite count:
"Location mode: {GPS+WiFi/WiFi/...}"
"Location source: {GPS/WiFi/Network}"

Can the Android location API tell:
*  the location mode ("high accuracy" / "low accuracy" etc)
* the currently polled location source (no answer from GPS, now trying WiFi)

[2019-08-31 11:38] seadowg commented on #3322
@lognaturel Yeah I think that makes a lot of sense. We can discuss prioritizing the [UX Project](https://github.com/opendatakit/collect/projects/3) now we've got it populated and see if we think this goes next!

[2019-09-02 20:06] lognaturel commented on #2717
(Copying some notes from https://github.com/opendatakit/collect/pull/2793#issuecomment-526445492 to make the status clearer)

Fundamentally, I don't yet understand the tradeoffs well enough to make a decision on whether this is beneficial for the majority of users. I do think things are currently in a really confusing state, though (#2997), and that we should try to make a thoughtful decision on h

[2019-09-03 14:23] #3296 closed, assigned to grzesiek2010

[2019-09-04 15:51] thejainabhi opened #3331 "Unit tests fail on Windows due to robolectric version 4.0.1"
#### Software and hardware versions
Ran tests from master branch on Windows 10 Pro 17134.950

#### Problem description
Out of 481 unit tests 350 fail with the same reason.

![image](https://user-images.githubusercontent.com/20107246/64270540-4fd66380-cf59-11e9-9b53-271fd9c72aac.png)
Stacktrace:

[code]

This is because of the robolectric version 4.0.1 used in the project which had issues with runn

[2019-09-04 16:00] thejainabhi commented on #3331
@opendatakit-bot claim

[2019-09-04 16:00] thejainabhi commented on #3331
@opendatakit-bot claim --force

[2019-09-04 20:20] lognaturel commented on #3262
I just hit this again. @seadowg still no issue? Maybe it's an Android Studio thing and updating to 3.5 fixed it? I'm now upgrading and will report back if it happens again.

[2019-09-04 20:50] seadowg commented on #3262
I did see it the other day but on an older branch. Will report back if I see it on something more up to date.

[2019-09-06 02:00] nikkole1985 opened #3333 "Nikkole"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-09-06 09:29] ramoge commented on #3262
I am also seeing this for some time now in Android Studio 3.4.2 and Gradle 3.3.2. A build can take up to 10 minutes where one of 1 minute is normal.

One strange thing I found out is that when I cancel the build and restart it right after it will run just fine.

[2019-09-06 11:43] grzesiek2010 commented on #3300
I decided to create that document as a spreadsheet thanks to that it's more transparent and we can download and test it.
https://docs.google.com/spreadsheets/d/1uA6NeUbE51WACiKUjErFUxYFeJdGGWglNGKivuzei7I/edit?usp=sharing

As you can see there are lots of red marks what indicate an unexpected behavior (I didn't count but I would say that in ~50% of cases there is something wrong).
Many of the bugs

[2019-09-06 11:55] grzesiek2010 commented on #3333
Hi @nikkole1985 I'm closing the issue since it provides no info, if you have noticed a problem please open it again and answer all questions.

[2019-09-06 11:55] #3333 closed, assigned to nobody

[2019-09-06 12:22] grzesiek2010 commented on #450
I'm able to use my account which is gorczykowski@soldevelo.com so look like everything is fine.

[2019-09-06 12:22] #450 closed, assigned to nobody

[2019-09-06 17:34] lognaturel opened #3334 "CSV external secondary instances don't work because the jr://file-csv scheme is undefined"
Add `file-csv` as a session root translator in `FormLoaderTask`. It needs to go before `file` because `file` is a substring.

https://github.com/opendatakit/javarosa/files/3095508/external_csv.zip is a form for testing. See https://docs.opendatakit.org/collect-forms#loading-form-media for loading form media. If pushing the form directly to a device, a folder with name `<form_id>-media` needs to be

[2019-09-06 17:42] lognaturel opened #3335 "The search()/pulldata() handler consumes files meant to be used as external secondary instances"
To reproduce this issue, #3334 first needs to be addressed.

Then, try a form like [this one](https://docs.google.com/spreadsheets/d/1xZDS2XqwbMcgqa5nvi5_Ug03WkijogcQh4yPNexqaE8/edit#gid=0) that attempts to use a CSV file as an external secondary instance. It works the first time the form is opened but fails the second time because the CSV has been imported to a db by the search()/pulldata() machi

[2019-09-09 16:35] #3331 closed, assigned to nobody

[2019-09-09 19:06] lognaturel commented on #478
@shobhitagarwal1612 A lot has happened since this issue was filed, right?! And in particular, Google has changed the way that they version Play Services so this is no longer relevant. 🎉 Instead of a monolithic lib, we have many small ones that update at their own pace.

More at https://github.com/opendatakit/collect/pull/3329#issuecomment-529621560.

[2019-09-09 19:06] #478 closed, assigned to nobody

[2019-09-10 04:06] lognaturel commented on #3300
Thanks for doing this, @grzesiek2010. Here are a few thoughts for now.

Regarding your top 3 suggestions:
3 seems fairly isolated and a clear win so I think it's just a matter of filing an issue and making it so.

I'm going to have to keep thinking about 2. Some of those exist mostly for backwards compatibility.

Thinking more about 1, I realize that `minimal`/spinner is really intended for small

[2019-09-10 19:18] #2521 closed, assigned to nobody

[2019-09-10 20:12] lognaturel commented on #30
Some notes from @seadowg about potentially making `ODKView` a `Fragment` which would make using `ViewPager` much easier [here](https://gist.github.com/seadowg/93f33419460bcc7895990dab5c5958c5#next-steps).

[2019-09-10 22:53] lognaturel opened #3336 "Show two decimal points of accuracy in geoshape and geotrace top bar"
The geo question types that use maps show the accuracy radius of the current geolocation at the top of the screen. The geopoint question types show two digits after the decimal point but the geotrace and geoshape widgets only show one. They should show 2 because some hardware can get to cm-accuracy.

Reported by @ivangayton at https://twitter.com/ivangayton/status/1169948484042219522

![device-201

[2019-09-11 07:50] ivangayton commented on #3336
Thanks Hélène,

I'd meant to make this request but hadn't found time!

For background: we are getting cm-precise Geotraces by using a UBlox ZED-F9P GPS chip on an ArduSimple board and Raspberry Pi Zero. Our documentation is still a work in progress but the basic idea is here: https://github.com/hcwinsemius/RTK_GNSS.

More to share in the coming weeks as we improve this workflow; at the moment it's

[2019-09-11 08:42] seadowg opened #3338 "Remove static helpers from Espresso tests"
As layed out in #3320 we're looking to move our Espresso tests over to using a Page Object pattern. Currently we have a bunch of static helpers that we were using before to describe actions during tests - these have been deprecated. To get rid of these we need to remove the static helpers entirely for by deleting these classes:

- [x] `FormEntry`
- [x] `Settings`

Affected tests should use the new

[2019-09-11 08:58] seadowg commented on #2861
@opendatakit-bot claim

[2019-09-11 11:15] seadowg commented on #2861
For the moment it should like the features we're looking to support are:

* Audio on a question will play automatically when a user swipes to a page if the question has audio in the autoplay column
* If the question is a select with audio files attached to the choices they will play in order (after the question) when the question has audio in the autoplay column
* Returning to question will not au

[2019-09-13 10:43] #3264 closed, assigned to lognaturel

[2019-09-13 11:54] grzesiek2010 commented on #2695
I tried to update osmdroid working on #3329 but noticed crashes like https://github.com/osmdroid/osmdroid/issues/1299 in the newest version 6.1.0 so let's wait for next release.

[2019-09-13 14:04] abbyad commented on #2934
After discussion with @yanokwa and the Medic Mobile team we are exploring the creation of a side loaded app that handles sending SMS via an Intent. This is similar to option 2 above, but instead of relying on the default messaging app, we'd explicitly call a (side-loaded) app whose sole purpose is to relay the SMS.

Note that apps that use this side-loaded SMS app could optionally fall back to sen

[2019-09-13 15:04] #3033 closed, assigned to grzesiek2010

[2019-09-13 19:51] lognaturel opened #3340 "Only block finalization of forms without instanceID if those forms also define encryption"
#### Problem description
#3265 attempted to block finalization of forms that request encryption but don't define an `instanceID`. Instead, it blocks finalization of any form without an `instanceID`. This was caught by `org.odk.collect.android.regression.FillBlankFormTest.searchExpression_ShouldDisplayWhenItContainsOtherAppearanceName`.

#### Steps to reproduce the problem
Run test `org.odk.collect

[2019-09-13 20:46] lognaturel commented on #3340
Here's what happened here:
- I initially very narrowly addressed #3264 in https://github.com/opendatakit/collect/commit/04ad5a9a72b42df7d0de2a7a76911a397927e50c
- @seadowg rightfully pointed out that tests should support this change
- I tried to come up with a way to introduce a low-level test and realized that if I checked the `instanceID` condition first, I could avoid getting to the database-re

[2019-09-15 15:49] be-wake commented on #3336
Can I do that?
I am new here.

[2019-09-15 15:56] be-wake commented on #3336
@opendatakit-bot claim

[2019-09-16 15:39] bognasoldev89 opened #3343 "Relaunching Collect after minimizing gives different results"
#### Software and hardware versions
Collect v1.23.3 (store, release apk, master apk) Android 4.2, 4.4, 5.1, 6.0, 7.0, 8.1, 9.0

#### Problem description
During testing #3328 issue I stepped into some inconsistency. I was going through sets od settings and part of my testing suite was minimizing the app and relaunching it by the icon. And some of the Androids went back to the place where minimizing

[2019-09-17 10:48] grzesiek2010 opened #3347 "zxing-core 3.4.0 crashes when decoding QR code"
#### Software and hardware versions
Current master branch.

#### Problem description
The app crashes when a user tries to scan QR code with settings.
`java.lang.NoSuchMethodError: No interface method sort(Ljava/util/Comparator;)V in class Ljava/util/List; or its super classes (declaration of 'java.util.List' appears in /system/framework/core-libart.jar)
        at com.google.zxing.qrcode.detector.

[2019-09-17 19:00] #3347 closed, assigned to grzesiek2010

[2019-09-18 12:17] bognasoldev89 opened #3351 "Collect crashing on Android 4.4"
#### Software and hardware versions
Collect v1.23.3, Android v4.4

#### Problem description
I was testing #3345 and I was not able to get blank form from Aggregate on Android 4.4. Collect was crashing after taping on button "Get Blank Form". I tried this on master and apk crashed too, at the same moment.

#### Steps to reproduce the problem
1. Install master apk
2. Set Aggregate on Server settings

[2019-09-18 12:53] grzesiek2010 commented on #3336
Fixed in https://github.com/opendatakit/collect/pull/3345

[2019-09-18 12:53] #3336 closed, assigned to be-wake

[2019-09-18 13:10] seadowg opened #3354 "Audio playback not working for `no-buttons` select choices"
#### Software and hardware versions
Collect v1.23.3

#### Problem description
When clicking on a select choice for a prompt that's using the `no-buttons` appearance (previously `compact`) there is an error if the select choice has attached audio.

#### Steps to reproduce the problem
1. Load [this example form](https://github.com/opendatakit/collect/files/3626538/gridwidget.zip)
2. Click on one of

[2019-09-18 14:14] grzesiek2010 commented on #3354
It's not very important I think we should prioritize https://github.com/opendatakit/collect/issues/3300 and make decisions about that issue first.

[2019-09-18 15:07] bognasoldev89 opened #3355 "Input method in geotrace and geoshape pop-up doesn't always adjust to vertical position of the device"
#### Software and hardware versions
Collect v1.23.3 Android v5.1, Huawei Y560-L01, 854x480

#### Problem description
I noticed this while testing #3345 and confirmed this on master and store versions.
Using Input method and choosing Automatic location recording checkbox is too large and the scroll bar doesn't appear.
I am not sure if this is an Android or resolution issue so I mentioned both.

###

[2019-09-18 22:48] thevoiceless commented on #3262
I doubt it helps very much, but I'm seeing this issue on my own project (completely unrelated to ODK Collect). This issue is the only relevant result I found from googling.

AS 3.5
Gradle 5.4.1
AGP 3.5

Exact same behavior as @ramoge - a build will take 8-10 mins where a normal one takes 1-2, and stopping/restarting seems to build like normal. Does not seem to matter if I do the build via command