[2017-03-08 21:25] lognaturel commented on #512
Yes, true. I wonder what @yanokwa could have meant with his kind of ominous "But, there's probably a reason why it was left it in the DB..."

[2017-03-08 21:29] batkinson commented on #535
So, @grzesiek2010 as you can see from the recent activity I pushed a branch to my fork that attempts to fix this issue. The approach I took was to make the old behavior the default, so that if no extra was provided, it works as it used to. I also have a hack of an espresso test there to confirm it works. I'm reluctant to submit this without some sort of test coverage for the things I'm touching, b

[2017-03-08 21:47] lokeshkvn commented on #513
@vikasdesale you had not removed all the redundant casts , @lognaturel I am working on this Issue assign it as ' in progress '

[2017-03-08 21:48] lognaturel commented on #513
@lokeshkvn Please give @vikasdesale another day or two in case he would like to take it. It's still his issue until he says he doesn't want it or a few days pass!

[2017-03-08 21:53] lokeshkvn commented on #513
Okay 👍

[2017-03-08 21:54] yanokwa commented on #512
I said it ominously to spark a discussion. I agree with @nribeka that it is inconsistent and if we make it consistent and break some behavior down the line, we'll have this issue to document it.

[2017-03-08 21:56] lognaturel commented on #512
Ok, sounds good. Do you think this might be a good one for a new contributor to take on? Perhaps @nribeka you could give a few hints on where to find the relevant code and we could mark it as contributor friendly? Maybe it's even a quick win?

[2017-03-08 22:58] #516 closed, assigned to nobody

[2017-03-09 00:11] lognaturel opened #549 "Make constants in AdminKeys final (as in PreferenceKeys)"
To be true constants, all of the string values declared in `AdminKeys` should be final.

[2017-03-09 00:25] Bastiantheone commented on #549
Can I work on this one?

[2017-03-09 00:46] J2112O commented on #549
I am brand new at contributing but would like to get involved and if no one else does this one, I would like to try. Thank you.

[2017-03-09 01:16] lognaturel commented on #549
@Bastiantheone Since you've already successfully completed a "quick win", let's leave this one for @J2112O! I know you're ready for bigger issues! 😊

[2017-03-09 01:34] J2112O commented on #549
Thank you. I will get on this.

[2017-03-09 01:54] Midhun07 commented on #538
I reproduced the issue by adding the same URL ( [ https://opendatakittrial.appspot.com](url) ). But different username and password. The issue is real as there is no indication of what's wrong.

[2017-03-09 02:06] nribeka commented on #512
This could be a quick win too after looking at the code. On step two (from line 99 in DiskSyncTask.java), it's iterating all form records in the forms db, checking if the form file referenced in the db exists or not. If it's not exists in the sdcard, it's just logging a message right now when it should be deleting that record (or create a list of to be deleted record and do deletion afterwards).

[2017-03-09 02:08] nribeka commented on #512
A refactoring is needed too since the variable name holding the form path is called sqlFilename & and sqlFile for the form's file object.

[2017-03-09 02:52] Bastiantheone commented on #237
@yanokwa I have a couple questions about this issue.
Do you want to have randomization for all four select widgets?
With "track that ordering", do you mean that I have to assure the picked answers and the recorded answers match, or that I need to keep a record of each ordering?

[2017-03-09 04:14] UrjaPawar commented on #546
@lognaturel @grzesiek2010 I did think about #541 and noticed that if we use this-> [https://github.com/michael-rapp/AndroidMaterialDialog](https://github.com/michael-rapp/AndroidMaterialDialog) library or simply update the original one, the syntax changes will be similar!

This is what will be used in case of libraries
`MaterialDialog.Builder dialogBuilder = new MaterialDialog.Builder(this);
dialo

[2017-03-09 05:41] AbrahamMikolo commented on #524
I use the version code _1.4.6_, with the version 1.4.6, that I've downloaded from **google play**, this bug is not present. But I wont to modify the code.
Here is an example of **the form**
![form](https://cloud.githubusercontent.com/assets/13520559/23737419/09dd08ca-04a4-11e7-8717-c437c1be702d.jpg)

 in excel and **the external data**
![fkt_liste](https://cloud.githubusercontent.com/assets/135205

[2017-03-09 06:15] Midhun07 commented on #538
@lognaturel I found out the problem, Here one has to fill the credentials like site, username and password. When submitting form, app sends the user saved credentials. It is then, if the credentials mismatch occurs the Alert dialog prompts the user to re-enter the credentials. So, my idea is, at this point change the message displayed in the dialog as per the error reported by the server like auth

[2017-03-09 06:23] nap2000 commented on #508
This sounds very great, one of the features I'd like to see is the location being continuously captured while the FormEntryActivity is open. The rationale would be:

- Much faster capture of an accurate gps reading
- Locations are available for the timer log to record coordinates in the background for each question

The key concern is presumably battery life.  The timer log will probably only be e

[2017-03-09 06:37] getsanjeev opened #550 "Use Butter knife for view injection."
Most of the projects are using Butter Knife for view injection. It would be really good if we incorporate it.  It allows us to perform injection on arbitrary objects, views and OnClickListeners i.e makes life easier.
Reference : http://jakewharton.github.io/butterknife/

[2017-03-09 07:12] pkarira commented on #547
yeah sure .

[2017-03-09 07:30] UrjaPawar commented on #550
@getsanjeev interesting! Since the UI is going to be materialised (or at least a good part of it) let me know if I can work on this after this issue is discussed with @lognaturel and @grzesiek2010

[2017-03-09 07:51] getsanjeev commented on #550
@UrjaPawar Let it be reviewed first. :

[2017-03-09 08:47] grzesiek2010 commented on #546
@UrjaPawar I see. I just thought that we can do that as a part of #541 but generally I'm in favour of small and focused prs so maybe it makes sense. Let @lognaturel decide.

[2017-03-09 09:14] Prakhar321 commented on #464
Hi @lognaturel and @yanokwa

I am interested in contributing to "ODK Collect - Improved user experience" idea in GSOC'17.I have prepared a doc consisting UI mockup I made and reasons regarding changes from initial mockups.
Link to it is below:
 [https://drive.google.com/file/d/0Bxypy3bc3L2pM1FsVWxPZFZXMzQ/view?usp=sharing](https://drive.google.com/file/d/0Bxypy3bc3L2pM1FsVWxPZFZXMzQ/view?usp=shari

[2017-03-09 09:34] grzesiek2010 commented on #535
@batkinson I reviewed your changes and I think we can completely get rid of [EDIT_SAVED mode](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/ApplicationConstants.java#L25rl) and then use only somethink like:

if (formMode == null) {

so as I understand it you want to fix this issue for ODK too right? Let me know because otherwise I ha

[2017-03-09 11:02] doomers commented on #477
@lognaturel sorry i am busy in my exams, if you wan't to assign it to someone else go ahead, would love to work to some other issues once  i am done with my exams.

[2017-03-09 12:33] UrjaPawar commented on #546
@grzesiek2010 I understand your preference and will make sure not to repeat this. I will close this issue as soon as @lognaturel confirms it

[2017-03-09 14:42] lognaturel commented on #538
@Midhun07 Thanks for looking into it. That sounds like a fine general approach. I think you get an HTTP status as well and it may be better to use that and write a custom message such as "The username or password is incorrect." That way it can be translated.

[2017-03-09 14:52] batkinson commented on #535
Hi @grzesiek2010, thanks for the feedback. I actually noticed that too, but I didn't want to remove the constant altogether myself. As for fixing the issues for ODK, yes, it was my intent to fix this issue. However, I didn't want to submit it as a pull request quite yet. I hacked it together and just wanted to check that it made sense to you. Also, the test isn't usable as-is since it required hav

[2017-03-09 15:03] lognaturel commented on #542
I started some work to try to clean up the circle yml file which has some redundant things in it. You can see that [here](https://github.com/opendatakit/collect/compare/master...lognaturel:circle-yml-cleanup). How about starting from there and seeing if you can get the current instrumented tests in the `androidTest` folder to run?

The current state of the file isn't quite right. For some reason t

[2017-03-09 15:55] iamareebjamal opened #554 "Update compileSDK version and support library version"
Currently, the target and compile SDK version is set to 22, which is very old and should be increased to 25. This also is in line with the appcompat addition and UI overhaul.

I would like to work on the issue

[2017-03-09 16:27] lakshyagupta21 commented on #518
@yanokwa I tried running app for the above odk directory but didn't get anything related to above error. And all my files are getting uploaded but somewhere in last i am getting sql error in uploadingComplete method in InstanceUploaderActivity. I request you to please check one more time by reinstalling the app and replacing the previous odk directory by the above directory. I am using Marshmallow

[2017-03-09 16:30] lakshyagupta21 commented on #518
If i see about response code in logcat i am getting `Response code:201` for every file but on server i am only able to see one file. All files have same label so i think it is treated as primary key over server. If i change label in any of the files i am able to see the new file added but with same label it doesn't get reflected there.

[2017-03-09 16:40] batkinson commented on #535
So unfortunately, since there is now software in the wild that is setting the mode to work properly, removing the constant and just interpreting null to mean 'edit' will break them again. Such software will have to be changed to *not set* a value for FORM_MODE to work properly again.

[2017-03-09 16:45] grzesiek2010 commented on #535
So we can reverse the order:

it should be ok then right?

[2017-03-09 16:49] batkinson commented on #535
Haha, yes, but now we're making this even more fragile if/when you decide to add another mode. In my opinion, we're stuck with both modes. You're better off having the conditions be explicit than trying to get clever to remove them. This is especially true, since now they are actually being used outside of Collect.

Unfortunately, this is the problem with trying to support external integration. On

[2017-03-09 16:56] Midhun07 commented on #538
@lognaturel Thats getting checked as this happens. Its here:
`if (statusCode == HttpStatus.SC_UNAUTHORIZED) { `
                    `Collect.getInstance().getCookieStore().clear();`
                   ` WebUtils.discardEntityBytes(response);   `
                   `outcome.mAuthRequestingServer = u;`
                    `return false;`
               ` }`
And then it shows up the Alert dialog. Thu

[2017-03-09 19:43] batkinson commented on #535
I abandoned the previous code and made another attempt with what I've now learned. I submitted it as a PR #555. It attempts to make the minimal changes required to keep backwards compatibility while also maintaining current internal semantics. The test isn't in the PR since it was dependent on local test data and a quality test harness is not quite within reach.

[2017-03-09 19:46] smoyte commented on #311
@lognaturel I wonder if you were envisioning the email and phone fields as being validated and/or restricted to certain keyboards? Just wondering if we could use them for things other than emails and or phone numbers. #443 would be nice to have but in case funding or time is tight, considering this as a backup (seeing as it is a prereq anyway).

[2017-03-09 19:49] vikasdesale commented on #513
Hi @lognaturel
I have college work for past few day that's why I haven't completed it.but I will send PR till tomorrow evening. Is it OK for you?
sorry for the inconvenience.

[2017-03-09 20:16] yanokwa commented on #237
Hi @Bastiantheone! Yes, you'd randomize all select widgets. Track ordering means that for each randomization, you need to track how it was ordered and include that in the form somehow. This is important because researchers like to know if there are option-order effects.

https://github.com/kobotoolbox/enketo-express/issues/363 touched on some of these issues and an approach to do things work. Befo

[2017-03-09 20:35] lognaturel commented on #538
@Midhun07 that sounds great.

[2017-03-09 20:41] J2112O commented on #549
@lognaturel I am sorry but I am working on and trying to fix my system which is broken at the moment. By all means, let someone else have this as I am not sure when I will be up and running. I can always come back and get involved in the future when my system is up and functioning. Sorry about that. Thank you.

[2017-03-09 20:44] yanokwa opened #556 "Uninstall and reinstall bypasses admin password"
If you set an admin password, and uninstall/reininstall the application, you get access to all the functions and that were previously disabled. We should explore either ..

1. Adding documentation to make this behavior clear. Admin password was never meant to be robust. It's more of a convenience feature.
2. Adding functionality to reset all data when you uninstall the application.
3. Adding funct

[2017-03-09 20:46] yanokwa commented on #311
I think they should be somewhat validated. Emails should have @ and be greater than 3 characters. Phone numbers should be numbers with support for +, -, (), and the like.

[2017-03-09 20:53] dcbriccetti commented on #311
Android Studio is telling me it’s not recommended to use device ID. Google says this: https://developer.android.com/training/articles/user-data-ids.html

[2017-03-09 20:55] Dvik commented on #507
@lognaturel i have not made much progress with this because i'm caught up with interviews and preparing for it and will be for the next few weeks.
Would be great if someone takes it up.

[2017-03-09 20:58] yanokwa commented on #518
@lakshyagupta21 I've added more quota to https://nafundi-test.appspot.com so it shouldn't go down.

First, file an issue with the "Expression tree is too large" bug so we have a record. Then please try to reproduce the issue on a Pixel running API 25 in the Android emulator.

[2017-03-09 21:05] yanokwa commented on #518
@lakshyagupta21 I've also added a new ODK folder in the original post that doesn't have the unique instanceID. When you submit, you should now see multiple submissions on the server. Be sure to delete the test form (and thus the submissions) and wait a few minutes between each run.

[2017-03-09 21:08] smoyte commented on #311
Actually that's fine. I forgot that the username field will be distinct from the authentication username so we could just use that. So validation will not cramp my style at all. Thanks!

[2017-03-09 21:08] smoyte commented on #311
@dcbriccetti Are you implementing this issue?

[2017-03-09 21:10] dcbriccetti commented on #311
@hooverlunch @lognaturel asked me to take it, yes. Not the custom fields piece, just the original issue.

[2017-03-09 21:14] smoyte commented on #311
Super!

[2017-03-09 21:19] MartijnR commented on #237
There is this proposal: https://github.com/opendatakit/xforms-spec/issues/51, which is the way to go, in my opinion.

I wonder if recording the option-order is important enough to 'have to' solve. Would be nice of course but I suspect that it's only a small percentage of randomization-lovers that need that.

[2017-03-09 23:18] Bastiantheone commented on #237
My idea was to have an integer list of the same size as the items list. The values in the array correspond to the position. Then using the collections.shuffle function to randomize the order. If we decide to keep track of the ordering we can input the randomizer list into the form. It will show the index of each answer option.

![randomizeidea](https://cloud.githubusercontent.com/assets/23250770/2

[2017-03-09 23:36] dcbriccetti commented on #237
How about Collections.copy(randomizedItems, mItems), then shuffle. They’re just references, so you don’t need the complexity of the extra level of indirection for good performance.

Or, just shuffle mItems itself?

`for (i, j = 0 ...` where `i` is  not related to the looping process (as `j` is), is probably a code smell (though I couldn’t name it).

[2017-03-10 00:14] Bastiantheone commented on #237
@dcbriccetti yes you're right. I came up with my approach because I wanted to have the option to track the ordering easily. Thinking about it more it is not hard to keep track of the order of shuffled mItems. A string where you keep adding the index would probably suffice.

[2017-03-10 00:55] nribeka commented on #541
I think we should take a step back and ask ourselves what are we trying to get with replacing the dialogs. Weigh in the pros and cons we're getting by replacing the dialogs.

Are we just trying to replace the dialogs approach because different activities have their own dialogs or is actual problem caused by we're using too much dialogs inside the apps that can be replaced with different approach?

[2017-03-10 03:28] lakshyagupta21 opened #558 "Expression tree is too large error after uploading large number of files"
Large number of files submissions (>1000) result into `Expression tree is too large` error , it is happening in `                results = new InstancesDao().getInstancesCursor(selection.toString(), selectionArgs);
`  of  uploadingComplete method in InstanceUploaderActivity.  This error is probably because of building long SELECT statement.

[code]
One thing that can be used to resolve this issue

[2017-03-10 03:41] lakshyagupta21 commented on #518
@yanokwa There is one more point that i want to discuss. Actually now a days service is being used for all the backend related things like file upload, file download, etc. So what if we write services for uploading  files as when user tries to upload any number of files he has to wait till all his files first gets uploaded on server, then only he is allowed to move to other activities of Applicati

[2017-03-10 04:00] Midhun07 commented on #538
@lognaturel Since only the string needs to be changed, does it require a test unit?If no shall i commit and pull a request?

[2017-03-10 04:11] nribeka commented on #518
@lakshyagupta21 ah that status is a bug. I think it's publishing based on the query number, not the current position of the uploading process.

I missed that one when I update the uploader to allow more than 1000 instances.

[2017-03-10 04:14] nribeka commented on #518
I think you can create a separate issue for that one and create a PR to fix that status counter.

Regarding the background service to do the upload,  I think it would be a nice refactor to do the uploading asynchronously (and should go into separate issue as well).

[2017-03-10 04:15] nribeka commented on #558
Yeah, this one need another slicing too. This related to sqlite can only handle 999 params in the query.

[2017-03-10 05:59] royrivnam commented on #549
@lognaturel can i work on this one..??i want to try this one...

[2017-03-10 09:59] grzesiek2010 commented on #541
I didn't say that we have to use an external dependencies it's only an option we can introduce our own solution.
I can see two pros:
1.Our current approach tooks much code so we can reduce the code
2. If we use DialogFragment we don't need to implement additional code to create dialogs after activity recreation.

[2017-03-10 11:04] lakshyagupta21 commented on #556
Whenever app gets removed it forgets everything as it erases everything even SharedPreferences so we can't have any other option to save user data or preferences, we can do one thing we let user set his/her google account as a admin credentials so that whenever app gets reinstalled it will ask for google account and by doing that we can retrieve back our function preferences.And even if we reset d

[2017-03-10 13:06] parthuest commented on #464
@Andy671 I really like your work. It would be great to work on your idea.
@lognaturel I think before directly jump in to Andy's idea we can change small UI elements first like buttons and colors. Than it becomes easy to transform Activity into Fragments and work on flow of app.
I am also applying for GSOC 2017 for UI idea and I love material design. Can you please assign me task for proposal?

[2017-03-10 13:28] wonderchook opened #559 "Ability to change collect language from within the app"
Currently to change the language within collect you have to change the language for the phone. It would be nice to be able to select the language from a menu from within the app. Currently it just uses the local phone settings. This doesn't help if collect has been translated into a language not available on the phone.

My phone does not allow you to add additional languages to it without rooting

[2017-03-10 13:36] tsamaya commented on #139
The what3words API supports conversion of a 3 word address to coordinates (forward geocoding) and coordinates to a 3 word address (reverse geocoding).
All applications that interact with the API must authenticate their calls with a registered what3words API key. Also, as what3words currently supports fourteen 3 word address languages including English, French, Arabic, Russian and Spanish, when geo

[2017-03-10 14:38] yanokwa commented on #541
@grzesiek2010 And the cons?

[2017-03-10 14:42] grzesiek2010 commented on #541
@yanokwa At the moment I don't know any con.  It's only time we have to spend :)

[2017-03-10 15:07] lakshyagupta21 commented on #559
Android by default uses locale of device to select appropriate language dependent resources. We can change Locale from our app manually also. When you want to create support for some language then we need to create a value folder appending a Hypen and language code. And we need to create separate files for each language support. And then programmatically we can change the language based on user pr

[2017-03-10 15:09] shobhitagarwal1612 commented on #559
@wonderchook Yes I totally agree with you. My local language (hindi) is also available in this app. But since the default language of the mobile is english so the app sets this language. There must be users who would like to change the language of the app.
The app should ask the user to select from a list of languages at the first launch of the application. This option should also be configurable

[2017-03-10 16:11] lognaturel commented on #559
I don't love the idea of having a prompt at first launch but I do think it would be very nice to have in the settings! Maybe we can start with that and discuss the first launch idea separately.

@lakshyagupta21 take a look [here](https://github.com/opendatakit/collect/tree/master/collect_app/src/main/res) to see the languages supported.

[2017-03-10 16:13] lognaturel commented on #554
You are absolutely right. This was done out of necessity in #525 and will be merged soon.

[2017-03-10 16:13] #554 closed, assigned to nobody

[2017-03-10 16:15] lognaturel commented on #549
Thanks, @J2112O. If you're having problems with the build, do come talk to us in #collect-code in the Slack (http://slack.opendatakit.org). @royrivnam please go ahead.

[2017-03-10 16:40] yanokwa opened #561 "Printer widget layout puts label inside button"
In Collect v1.4.16, if you use the printer widget (text with appearance=printer), the layout is broken. I'm pretty sure this is the case on all versions of Android, but I've only tried on Android 6 and 7.

**Bad: Print widget. The text should be above the button.**

![print](https://cloud.githubusercontent.com/assets/32369/23803713/6102b5a0-0585-11e7-828d-db743e71b4d1.png)

**Good: Print widget. T

[2017-03-10 16:41] yanokwa commented on #272
Hi @rishsethia! Have you been able to make progress here?

[2017-03-10 16:42] lognaturel commented on #538
@Midhun07 A manual verification is sufficient for this.

[2017-03-10 16:53] lognaturel commented on #550
I think this discussion needs to be coupled with #544. The first question is whether we want to introduce any of these kinds of tools. Then the next one is at what level (full dependency injection vs. view injection... recognizing that they can work together). A valid answer might be "yes but later".

Then there's a specific tool question. I think that for view injection at least [AndroidAnnotatio

[2017-03-10 16:58] nribeka commented on #561
The print should have capital P too.

[2017-03-10 17:07] nribeka opened #562 "Clean up printing stack trace call when exception occured"
Exception should be logged by calling: Log.e(String, String, Throwable) or some others Log's method.

In the codebase, we have a lot of call to e.printStackTrace(). Those calls should be replaced by the appropriate Log.x methods.

[2017-03-10 17:08] nribeka commented on #562
@lognaturel or @yanokwa, do you have preference to do this as separate PR per files or separate commit per file? This could change a lot of files.

[2017-03-10 17:10] lognaturel commented on #562
@nribeka We've struggled with this kind of change. What's your recommendation?

[2017-03-10 17:15] nribeka commented on #562
Initial search showed 158 occurrence of printStackTrace and it's all over the place. Maybe at the minimum we go with separate commits per file? Separating per PR seems to be too much.

![screen shot 2017-03-10 at 12 12 50 pm](https://cloud.githubusercontent.com/assets/1143145/23805249/22816cee-058b-11e7-9fdf-d441da384b09.png)

[2017-03-10 17:17] nribeka commented on #562
To whoever going to do this, don't just do find and replace in the code. You need to read the context of the stacktrace and decide which Log's method will be appropriate. I don't think all should become a Log.e calls.

[2017-03-10 17:17] lognaturel commented on #562
I was hoping you'd have some kind of magic solution we hadn't thought of! 😉 We need a process because there are a lot of these kinds of issues. A single PR with a commit per file seems ok to me.

I think @batkinson had some opinions on this kind of situation.

[2017-03-10 17:23] nribeka commented on #562
And folks who will do this can propose a simplified catch blocks too when we're doing the same thing for each type of exception. One example is the following codes:

![screen shot 2017-03-10 at 12 20 48 pm](https://cloud.githubusercontent.com/assets/1143145/23805521/2daaddca-058c-11e7-8540-1defe76e9a93.png)

Since every catch block treat the exception the same way, there's no benefits of separatin

[2017-03-10 17:31] lognaturel commented on #507
@Dvik Thanks for letting us know!

[2017-03-10 17:46] lakshyagupta21 commented on #559
@lognaturel Yes the language support is already there but what if there is some language which user wants to change but not supported in device then we should add some functionality so that we can explicitly use the corresponding language files to change our default app language to the user selected language.

[2017-03-10 17:48] getsanjeev opened #563 "Replace calling browser intent with custom chrome tabs."
Launching the browser is a heavy context switch and should not be practised much. Custom chrome tab is a better way to launch URLs. I think this would enhance user experience.
While launching ODK website in About section, we can replace browser intent call with chrome tabs.
Whats say @lognaturel ?

[2017-03-10 18:17] yanokwa commented on #563
@getsanjeev And what happens if Chrome isn't installed?

[2017-03-10 18:33] getsanjeev commented on #563
@yanokwa What I know is - In that case simply it will launch the URL in system browser(default). It would be good if you have some suggestions.

[2017-03-10 18:48] lognaturel commented on #547
Closed by #451. @pkarira, for future reference, it seems the keywords to close issues have to be in the pull request description or a commit message to automatically close the corresponding issue! (I just learned that)

[2017-03-10 18:48] #547 closed, assigned to nobody

[2017-03-10 19:01] yanokwa commented on #524
@AbrahamMikolo It's not clear what you are asking. I think the problem is that you are expecting a normal select and instead you are getting a select with a text box at the top reduces the options based on what you type. Is that correct?

Can you please include a small form (XLS and CSV) with one or two question that has this problem so we can reproduce it. Also, please test that form on the Googl

[2017-03-10 19:09] lognaturel commented on #424
@NamanArora If you'd like to work on this, please do. We can go with the app-wide setting I have suggested unless you have an alternative to propose. I don't know what I meant when I said "Client section" above. It should go in "User Interface" below "Text font size". It should work like "Text font size" with the options described above. It should be hideable from the Admin Settings.

The challeng

[2017-03-10 19:46] dcbriccetti commented on #237
If you just shuffled mItems itself could you avoid such tracking?

[2017-03-10 19:53] lakshyagupta21 commented on #563
@getsanjeev You can use Webview in Activity to open About Section and store the webpage in cache so that if user opens the about section first it will retrieve the page from cache first, if page is not found in cache then it will load page from Internet , I think this would definitely enhance User Experience. @yanokwa Any suggestions ?

[2017-03-10 20:12] dcbriccetti commented on #311
Is any more discussion needed on @lognaturel’s proposed solution in the initial description of this issue?

[2017-03-10 20:15] lognaturel commented on #311
One thing I've been thinking about is users who have been using those field. Unlinking the metadata values from the login values could mean people who thought they were collecting username / email information suddenly wouldn't be. I wonder if we should do a "migration" such that on first launch after this change values are copied over?

[2017-03-10 20:25] dcbriccetti commented on #311
I don’t fully understand the above yet. Can I proceed with some other steps and return to that later?

Also, this page may be out of date: https://opendatakit.org/help/form-design/examples/#Property_values
The sections at the end.

[2017-03-10 20:26] lognaturel commented on #311
Yes, that can be added on later. I think my proposal is fine and you can go ahead. 😄

[2017-03-10 20:31] Bastiantheone commented on #237
The tracking is being considered to make it possible analyzing if the order makes a difference in the answers

[2017-03-10 20:36] dcbriccetti commented on #237
Oh, I get you. Thanks for your patience.

[2017-03-10 21:03] yanokwa commented on #237
Another thing to think about is *where* in the stack to implement the logic. Since it's going to be an XPath function, I think the best place for this is probably in JavaRosa [JavaRosa](http://github.com/opendatakit/javarosa).

[2017-03-10 21:16] yanokwa commented on #311
This is looking good to me. I do think we should see both mutable and immutable data. The latter is important because then it's easy for an enumerator/supervisor to go to that screen and report those Ids rather than digging through Android's menus.

So the list would be

*mutable*
- username
- phone number
- email

*immutable*
- device_id
- subscriber_id
- sim_serial

[2017-03-10 21:55] getsanjeev commented on #563
@lakshyagupta21  Sure it can be done.
The good thing about chrome custom tabs is that - without managing things we can provide customisation. Here we dont need to write bulky codes just to show a single webpage.

[2017-03-10 22:06] yanokwa commented on #563
[When should I use Chrome Custom Tabs vs WebView](https://developer.chrome.com/multidevice/android/customtabs#whentouse) suggests that this is a good optimization.

Let's start slow, @getsanjeev. Replace the About browser launch in a branch. Then post in this issue what the experience is like on old devices with and without Chrome and on new devices with and without Chrome.

Please use [LiceCap](h

[2017-03-10 22:13] getsanjeev commented on #563
@yanokwa Sure. Thanks for your feedback.

[2017-03-11 05:17] royrivnam commented on #549
@lognaturel can u give a lead on what exactly i need to solve...by admin keys do you mean the constant variables defined in the admin classes??just give me a lead please..as far as i have understood i changed the constants in Admin related classes to true constants...am i doing the right thing??

[2017-03-11 08:31] rishsethia commented on #272
Hi @yanokwa

Sorry about the delay . I had my mid semester exams last week , so was unable to make progress on it ! Getting to it on priority basis now ! Thanks ! :D

[2017-03-11 10:27] adithya321 opened #567 "Improve .gitignore to share settings"
I use the Default code style scheme in Android Studio and when I ran Reformat Code on the whole project, I got 222 changed files.
![image](https://cloud.githubusercontent.com/assets/3854934/23822012/eee4fd40-0668-11e7-9633-60078460c992.png)

Android Studio creates a new project with the following .gitignore file
[code]
All these are included in the current [collect/.gitignore](https://github.com/o

[2017-03-11 13:22] Midhun07 commented on #562
Can i work on this issue? @nribeka i assume that what you propose in the last message is to combine catch blocks wherever possible like the one you have shown?

[2017-03-11 13:28] parthuest commented on #562
@Midhun07 I am working on this issue.

[2017-03-11 15:31] ajayrahul97 opened #569 "Redundancy of Exit Sample Prompt/Dialogue Box"
#### Problem description :
Exit Sample prompt is being displayed every time user navigates back from the "Edit Saved Form" page, even if the user does not change any details in the form , or , even if the details are already saved in the form.

#### Expected behavior
Ideally , the prompt should be displayed only when changes made are not saved.
An internal flag should be set to check if there were

[2017-03-11 16:43] srsudar commented on #550
I've seen AndroidAnnotations but haven't used it. My impression (admittedly based on no experience and limited investigation both now and in the past) is that it can help you eliminate boilerplate, but that you really have to buy in.

In my opinion:
* **Dagger** injection will require a large restructure of the code. Dagger-based codebases don't look like regular codebases to me. Maybe as I became

[2017-03-11 17:04] icemc commented on #512
@yanokwa hi, I'm new to open source development but have some experience in android and databases. I will like to work on this issue.

[2017-03-11 17:34] getsanjeev commented on #550
@srsudar Perfect answer. In case we go for Butterknife, we need to decide how exactly we go about the change.

[2017-03-11 17:35] yanokwa commented on #512
@Icemc please give it a try

[2017-03-11 18:03] shouryalala commented on #207
@yanokwa I did look into the issue thoroughly and i think the best possible method to tackle this would be to implement a method that would scan the submission url as soon as the form is downloaded.
If there is a submission url, it can check for its validity by seeing if its possible to establish a connection.
All this would be implemented in the setGoogleDriveFormDownloadListener Async task so it

[2017-03-11 18:34] pkarira opened #571 "non numeric contact number"
In Hypertension screening , it allows us to input non numeric contact number.
![screenshot_2017-03-11-23-58-49](https://cloud.githubusercontent.com/assets/17070693/23825829/60b80fcc-06b7-11e7-9c3e-55f8ae6a93e5.png)
@lognaturel should I resolve this small issue .

[2017-03-11 20:01] stefanches7 commented on #392
Hello dear OpenDataKit contributors,

this issue sounds very interesting. From what I understand now, there are plenty requirements to the testing framework, and most difficult is really this choice between frameworks, because there should be one and only chosen at the end, but chosing one framework happens "on the cost" of losing another frameworks' functionality.

As far as I understood, the sit

[2017-03-12 06:13] shouryalala commented on #550
@getsanjeev @srsudar @lognaturel
I havent used Butterknife before although i have used Dagger before. The thing about these libraries is that although they are lightweight, they carry out most of their implementation during run time. Butterknife uses reflection and aggregates all view elements and calls them together per activity, which is what i gathered from a bit of reading.
 Now if we really w

[2017-03-12 06:18] shobhitagarwal1612 commented on #562
@Midhun07 The real issue is that `printStackTrace` method has been used everywhere for catching the try blocks. `printStaceTrace` prints the stack trace in `Android Monitor` as an error because of the exception caused.

At some places eg. [`GoogleDriveActivity`](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/GoogleDriveActivity.java#

[2017-03-12 06:39] shobhitagarwal1612 commented on #562
@yanokwa @nribeka I stumbled across a great library by Jake Wharton, Timber. A logger with a small, extensible API which provides utility on top of Android's normal Log class. http://jakewharton.github.io/timber/

Pros :
- Development - Logging to logcat
- Production - Crash reporting to Crashlytics

Timber and Crashlytics can be used along with `AppCrashHandler` which elegently handles unhandled

[2017-03-12 07:01] supreme96 commented on #286
Is there a blank form that requires use of image widget as shown here - https://opendatakit.org/help/form-design/examples/

Such a form will be super helpful in resolving this issue.

[2017-03-12 12:41] rajatthakur commented on #464
Hello everyone,
Here are some of the mockups that I have prepared for the ODK collect app.
![cf](https://cloud.githubusercontent.com/assets/24683388/23831491/a2f11bd6-0748-11e7-9ec7-6d02938b12be.png)
Additional Functionality I wish to add :
**Get Blank Form Page**: Search.
**Fill Form Page**: Options Menu to edit/send/delete a form, Search, Sorting and filtering forms.

[2017-03-12 13:09] shobhitagarwal1612 commented on #563
@getsanjeev @yanokwa @lognaturel  I am a fan of `custom chrome tabs` as they make the web browsing experience in our own app much faster and stable.

`Collect` calls for a browser intent only in the following cases:
- When visiting odk website from About Preferences
- When the user has to submit reviews and device doesn't have google play store app installed (but those devices might not have googl

[2017-03-12 13:48] shobhitagarwal1612 commented on #556
@lognaturel @nribeka @yanokwa According to me, one will only use admin password when he/she doesn't want other people to interfere with the current settings. So, if the app can be uninstalled or reinstalled without asking the  permission of owner, then it is a serious security issue. So what I want to propose is to prevent install/uninstall of app if the admin password is set up.
One thing that we

[2017-03-12 13:50] shouryalala commented on #310
@lognaturel @yanokwa May i take this up?

[2017-03-12 17:35] pratikmjoshi opened #575 "Trying to get blank form from My Drive crashes the app"
Android v6.0.1, device used: OnePlus One

Steps to reproduce problem:
1. In General Settings, selected my Google account.
2.Went back to Main Menu and selected Get Blank Form
3.Selected My Drive Button to browse forms.
As soon as I do the above, the app crashes with the following log.

03-12 23:01:22.541 32116-11395/org.odk.collect.android E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #5
Process: o

[2017-03-12 17:45] shobhitagarwal1612 commented on #507
@lognaturel Can I take this issue?

[2017-03-12 17:45] rishsethia commented on #272
Hi @yanokwa , @lognaturel

When I'm trying to get my xlsform converted on odk website , I'm getting this error :
Error: 'dict' object has no attribute 'parent'

Do you have any idea what this error is due to ? I also tested on all 3 mediums and on all 3 mediums , I am getting different type of error !
Thanks

[2017-03-12 18:40] srsudar commented on #550
To the best of my understanding, Dagger 2 (unlike Dagger 1) does most of its work at compile time generating regular Java code. I don't believe that most of what they do is at runtime. It was my understanding that Butterknife takes a similar approach, [as described here](https://medium.com/@lgvalle/how-butterknife-actually-works-85be0afbc5ab#.oubhq775k).

I don't think a performance hit from Butte

[2017-03-12 19:45] rijuldhir commented on #562
Is somebody already assigned on the issue? I am willing to help, we can have only 1 catch block for exceptions wherever necessary.

[2017-03-12 19:59] dcbriccetti commented on #311
Are you envisioning something like this?

![screen shot 2017-03-12 at 12 53 05 pm](https://cloud.githubusercontent.com/assets/55099/23835389/b0424d5c-0723-11e7-826f-909a40b23c6f.png)

[2017-03-12 21:08] pailletm commented on #272
Hi @rishsethia,

I made some changes in the form.
Everything should work now. (Think of adding media to compile and get a valid xlm) :D

[odkmpa3.xlsx](https://github.com/opendatakit/collect/files/836909/odkmpa3.xlsx)

[2017-03-12 23:59] lognaturel commented on #561
@lokeshkvn Thanks for addressing this! In the future, please use [keywords to close issues](https://help.github.com/articles/closing-issues-via-commit-messages/) in your pull requests so the corresponding issue closes automatically. I also strongly recommend using separate branches for each issue you work on.

@nribeka "print" with a lowercase is the name of the sample form Yaw posted. 😊

[2017-03-12 23:59] #561 closed, assigned to nobody

[2017-03-13 00:27] lognaturel commented on #575
When filing an issue, please make sure to follow the template and include information about the versions you are using and the exact steps that must be followed to get the error.

Before you write code to address it, what is your hypothesis on what is causing the problem?

[2017-03-13 00:28] lognaturel commented on #571
That is because the form was designed that way. Form designers can choose to limit input types and provide validation if they want.

[2017-03-13 00:28] #571 closed, assigned to nobody

[2017-03-13 00:30] lognaturel commented on #569
I don't really see this as a problem, @ajayrahul97. The toast confirms that the user chose to save changes rather than ignore them. @nribeka what do you think?

[2017-03-13 01:31] yanokwa commented on #310
Hi @shouryalala! Yes, please try it out. You can find instructions at https://www.google.com/earth/outreach/tutorials/odkcollect_drive.html.

[2017-03-13 01:45] yanokwa opened #576 "Use form-based hostname when asking for credentials"
URLs specified in a form ([submission_url](http://xlsform.org/#settings)), can override Collect's settings. When the user is asked for credentials, use the hostname in the URL and not the settings.

[2017-03-13 01:50] yanokwa commented on #272
@rishsethia Can you please allow suggestions from people who know your Google Sheets URL, so @pailletm can suggest those changes directly to your form.

[2017-03-13 01:56] yanokwa commented on #311
@dcbriccetti I don't think the indentation should be there. I'd also drop the headings and put the current values as summaries so they are always visible. See `Configure platform settings` for an example.

[2017-03-13 03:45] ajayrahul97 commented on #569
@lognaturel,  im not against that toast , what i meant is , the toast should appear only when there are changes made , not everytime the user navigates back to the main screen . Even if I just open the edit screen , do nothing and go back, the dialogue box appears, ..or ...even if I save and then navigate back , the prompt appears !

[2017-03-13 05:26] shobhitagarwal1612 commented on #556
Another thing  that can be done is to retain the Admin password even after uninstall by saving the password in a file in sdcard instead of shared preferences. When a user uninstalls the app, the odk folder doesn't gets removed. So it can be stored there in encrypted form in a hidden file.
So when the app gets reinstalled, the password is still available for authentication

[2017-03-13 07:09] sanovikov71 commented on #545
Hi, I would like to add some tests here.

[2017-03-13 07:09] rishsethia commented on #272
Hi @yanokwa @pailletm
Sure sir !

~~https://docs.google.com/spreadsheets/d/1WE4Q5vHW1Qf5qQleor99BZ5tz3qluv4iYc-AOR8OKdE/edit?usp=sharing~~

https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ

[2017-03-13 07:39] pratikmjoshi commented on #575
@lognaturel Sorry about that. Updated the issue
I did look at the code and tried to fix the problem. It seems that the files list(request) is not being retrieved because the request is null. I would like to suggest that generally try-catch methods should not be put inside loops(such as do-while, and while). It does not catch exceptions at all. It should be that loops should be placed inside the tr

[2017-03-13 07:45] supreme96 commented on #507
@shobhitagarwal1612 Hi have you started working on this issue? I think we can both work on this code restructure together. It will get this done more quickly and with much more comprehensive covering of the possible edge cases.

[2017-03-13 09:28] grzesiek2010 commented on #575
@pratikmjoshi Did you follow [those steps](https://github.com/opendatakit/collect#using-apis-for-local-development) ?

[2017-03-13 09:57] pratikmjoshi commented on #575
@grzesiek2010 My bad. I had done it originally, but I think I made a mistake somewhere. Just followed the steps properly again now and it works. I'll close this issue.

Just a side note, can I open an issue on try-catches being inside loops? I've seen this in the code a few times, and I can put the loop inside the try-catches, because try-catches inside loops aren't good practice generally.

[2017-03-13 10:01] grzesiek2010 commented on #575
@pratikmjoshi I didn't investigate this but if you are sure it should be improved you can file the issue for code refactoring.

[2017-03-13 10:06] grzesiek2010 opened #577 "Audio button has no background"
#### Software and hardware versions
Current master branch

#### Problem description
Audio button has no background.

#### Steps to reproduce the problem
1. Open "sample" form.
2. Go to the first question

#### Expected behavior
Audio button should look like before.

#### Other information
It's coused by changes from #525:
[compileSdkVersion](https://github.com/opendatakit/collect/pull/525/files#di

[2017-03-13 10:09] pratikmjoshi commented on #577
@grzesiek2010 Can I get to work on this?

[2017-03-13 10:15] grzesiek2010 commented on #577
I don't mind but @lognaturel assigns tasks so let's wait for her decision.

[2017-03-13 10:23] pratikmjoshi commented on #577
Ok sure. I've fixed it though, so I'm ready to send the PR.

[2017-03-13 10:25] grzesiek2010 commented on #466
I was able to reproduce this issue as well. It takes place when I download the code - if I use `git clone` everything is ok. I think we should catch that null.

                                                                         Process: org.odk.collect.android, PID: 18178
                                                                         java.lang.RuntimeException: Unable to start acti

[2017-03-13 11:06] pailletm commented on #272
Hi,
thank's,
changes are made directly in your Google Sheet form.
Now, it's necessary to do some testing ;-)

[2017-03-13 11:11] srujanjha commented on #512
@yanokwa , @lognaturel , I want to work on this issue. Can I give it a try ?

[2017-03-13 12:28] rijuldhir opened #579 "Adding Up Button"
Software and hardware versions
Current master branch

It would be nice UI Change adding Up buttons to all of the activities. I would like to work on it

[2017-03-13 14:47] lognaturel commented on #286
[signature-form.xml.txt](https://github.com/opendatakit/collect/files/838530/signature-form.xml.txt) has a signature widget which only differs in `appearance`.

This is a rather large project that would ideally result in a completely redesigned annotation/signature widget. If you are interested in starting to look at it, please propose some general UI sketches for everyone to consider.

[2017-03-13 14:54] yanokwa commented on #236
@hooverlunch I remember that you had added Gzip support to ELMO. Can you share how that works and what it enables?

[2017-03-13 15:00] yanokwa commented on #528
Duplicate of #93.

[2017-03-13 15:00] #528 closed, assigned to nobody

[2017-03-13 15:05] smoyte commented on #236
I seem to recall there is some support for GZIP in ODK Collect already, perhaps just for downloading stuff?

https://github.com/opendatakit/collect/blob/dd4a0ef4cab016586fd8108d03d9d637774e3ba3/collect_app/src/main/java/org/odk/collect/android/tasks/DownloadFormsTask.java#L426

To add support on the server side all we had to do was add

[code]

to our nginx config.

I'm not sure there is much of a

[2017-03-13 15:24] supreme96 commented on #286
👍  @lognaturel will do in probably a day

[2017-03-13 17:39] #575 closed, assigned to nobody

[2017-03-13 17:50] dcbriccetti commented on #311
Here’s what the same screen looks like on a smaller emulated device, for what it’s worth:

![screen shot 2017-03-13 at 10 48 32 am](https://cloud.githubusercontent.com/assets/55099/23867905/aef8a0f6-07da-11e7-986d-8245a3904098.png)

[2017-03-13 18:36] supreme96 opened #581 "Associating form types and automatically importing blank forms in the collect app."
It can be a useful feature to be able to to import blank forms to the collect app by simply opening them from a file manager. This is useful in the situations when the form has been downloaded to the device from sources outside the app such as a internet download or bluetooth transfer.

Although this feature is not a necessity it will provide some convenience to technically inexperienced users or

[2017-03-13 18:43] supreme96 commented on #581
If this feature is required, I would love to work on it. I have a idea to do this. We will need to update the manifest to associate the form file types and make a background activity that moves the form file from it's current location on the devices to the `odk/forms/` folder. Then the form will automatically show up in the app.

[2017-03-13 18:43] rajatthakur opened #582 "Unused Imports"
Some of the files contain unused import statements.

[2017-03-13 19:36] nribeka opened #585 "Sending complete form progress dialog showing sliced upload"
#### Software and hardware versions
Collect code latest from master

#### Problem description
With the current slicing, when you upload more than the slice size, the dialog will show the sliced counter instead of the overall upload counter.

#### Steps to reproduce the problem
* Change the slice size to lower number in `ApplicationConstants.SQLITE_MAXIMUM_QUERY_LIMIT` (I use 3).
* In the send fina

[2017-03-13 19:38] rijuldhir commented on #585
Can I work on this?

[2017-03-13 19:39] nribeka commented on #518
@lakshyagupta21 i created a separate bug for the dialog box issue #585.

[2017-03-13 19:43] lognaturel commented on #579
I think that this should probably be part of #464 as the flow through the app could change dramatically.

[2017-03-13 19:46] lognaturel commented on #577
Yes please, @pratikmjoshi.

In general, for tasks that are well-scoped, it's ok to say "I am working on this" rather than asking for it. And @grzesiek2010, for issues you file, you absolutely can let people work on them!

The only time a core committer really has to be involved is when the issue isn't well defined or if it's not certain if or when it needs to be done.

[2017-03-13 19:58] #522 closed, assigned to nobody

[2017-03-13 20:00] rijuldhir commented on #579
@lognaturel
As this is a GSoC Project. So should I make Proposal for User Experience as I am a GSoC Participant too ?
I am keen on improving UI of the App

[2017-03-13 20:06] lakshyagupta21 commented on #518
@nribeka Thanks !!

[2017-03-13 20:08] lakshyagupta21 commented on #585
I would like to work on this.

[2017-03-13 20:26] pratikmjoshi opened #587 "Fields for entry of name in forms should be single line"
Android v6.0.1, device used: OnePlus One

Steps to reproduce problem:
1.Fill a form such as 'Biggest N of Set' or 'Hypertension Screening'
2.Go to any question involving entry of a name(such as question 4 in 'Hypertension Screening')

Upon pressing the enter key on the on-screen keyboard, the name field allows for multi-line entry.

It should only allow single line entry, as in most forms, there a

[2017-03-13 20:36] lognaturel commented on #587
This is probably not something that requires a code change. It is up to a form designer to decide whether they want to include any validation of the fields. You can find examples [here](https://opendatakit.org/help/form-design/binding/).

[2017-03-13 20:36] #587 closed, assigned to nobody

[2017-03-13 20:47] shobhitagarwal1612 commented on #367
I'm working on this

[2017-03-13 21:04] #558 closed, assigned to nobody

[2017-03-13 21:10] lognaturel commented on #466
@grzesiek2010 You said it has something to do with `git` not being found in that directory that you downloaded the code to, right?

The challenge with catching the null is... then what?! I suppose we could give a nicer message that explains git is missing?

[2017-03-13 21:15] grzesiek2010 commented on #466
Yes git s missing. I thought about catching null only to avoid crash but ok I don't mind we can give a messega of course as well.

[2017-03-14 00:42] lokeshkvn commented on #561
Okay ,Thanks 😊

[2017-03-14 02:17] lognaturel commented on #579
Yes, this could very well be something you include as part of your proposal! I would encourage you to think about the questions that I asked in the issue. As you're thinking about those, if you find that up buttons would help with navigation, you can include that in your proposal writeup.

[2017-03-14 02:23] lognaturel commented on #427
I think we should consider using [dialog pickers](https://developer.android.com/guide/topics/ui/controls/pickers.html).

[2017-03-14 06:17] Midhun07 commented on #576
@yanokwa can i work on this? This is related to another issue "issue #538: If credentials are invalid tell the user ". I have submitted a patch for that issue. i think once that gets accepted this can be worked upon.

[2017-03-14 06:47] shobhitagarwal1612 commented on #367
I am facing some difficulty running the application with the added dependency for sheets-v4.
`compile('com.google.apis:google-api-services-sheets:v4-rev463-1.22.0') {
        exclude group: 'org.apache.httpcomponents'
    }`
 App successfully builds but when I try running the app, it shows following error:

@nribeka  @lognaturel @grzesiek2010 Has anyone faced similar issue? Please help

[2017-03-14 06:57] shobhitagarwal1612 commented on #427
@lognaturel I am interested in taking up this issue

[2017-03-14 07:11] #579 closed, assigned to nobody

[2017-03-14 10:17] grzesiek2010 commented on #367
@shobhitagarwal1612 Please try to do the same https://github.com/grzesiek2010/collect/commit/f225d0478918236673f7038701543cd3c94f87f7 except of removing guava lib (as I remember we need that)

[2017-03-14 10:26] shobhitagarwal1612 commented on #367
@grzesiek2010 I solved the problem by updating other libraries as well but had to remove guava lib as it was showing the same duplicate entry error. What is the purpose of guava lib as after removing it, the app is running fine?

[2017-03-14 10:28] grzesiek2010 commented on #367
https://github.com/opendatakit/collect/pull/403
but as you work on this functionality I think you can remove that lib.

[2017-03-14 10:30] shobhitagarwal1612 commented on #367
@grzesiek2010 I will make sure that other features are not affected by removing it

[2017-03-14 10:35] grzesiek2010 commented on #367
@shobhitagarwal1612 Good luck!

[2017-03-14 12:47] supreme96 commented on #286
@lognaturel is a complete redesign of the signature widget required? If we can resize the color picker dialog, I think signature widget would be fine.
However I cannot comment at this point on the panning or zooming in annotation widget as I haven't been able to find a form that uses that widget.

[2017-03-14 13:44] lognaturel commented on #585
@rijuldhir @lokeshkvn @lakshyagupta21 Can you please read any issue thread carefully and if someone has already asked for or claimed an issue, leave them to do it? This one should go to @rijuldhir

[2017-03-14 13:50] lakshyagupta21 commented on #585
@lognaturel Sorry, actually i already started working on it that's why i asked as i found this issue while testing for one of the [previous](https://github.com/opendatakit/collect/issues/518) issue. It won't happen again in future @rijuldhir can work on this.

[2017-03-14 13:52] lognaturel commented on #585
@lakshyagupta21 It's ok but just make sure to say right away that you're taking it in the future! 😊 It's also a good idea to say if it's related to another issue so it's clear you have some extra context for solving it. It's up to @rijuldhir to either ask more questions here to understand the problem fully or pass it on to you!

[2017-03-14 13:53] lognaturel commented on #576
Yes please, @Midhun07.

[2017-03-14 13:54] #538 closed, assigned to nobody

[2017-03-14 14:13] yadav-rahul commented on #532
@lognaturel I would like to work on this issue.

[2017-03-14 14:48] #582 closed, assigned to nobody

[2017-03-14 14:52] lognaturel commented on #367
@shobhitagarwal1612 As you saw from the link @grzesiek2010 provided, guava was an implicit gdoc dependency. So he is correct, there's no problem in removing it once the gdoc jar is removed.

Please try to be as minimal as possible in your lib updates! The more changes we introduce, the more likely there are to be bugs.

Looks like this is going well! Thanks for taking it on.

[2017-03-14 14:56] lognaturel opened #593 "Investigate why CircleCI builds are timing out"
CircleCI builds started timing out consistently around [Friday March 10th](https://circleci.com/gh/opendatakit/collect/tree/master). Was it due to a particular commit? Infrastructure changes? An increase in the number of forks? What can we do to avoid it?

[2017-03-14 15:10] lognaturel commented on #286
@supreme96 The only difference between signature and annotation widgets is the `appearance`. For one it is `signature` and for the other it is `annotate`. That should let you get a form to test with!

[2017-03-14 15:17] supreme96 commented on #286
@lognaturel  should i begin with a resize of the color picker dialog?

I was thinking of changing the layout to better use the available screen real estate and an option to enter the hex rgb value of a color directly aswell.
What do you think of that?

[2017-03-14 15:42] parthuest commented on #562
I have tried my best to justify the task. @nribeka can you please check it in my profile and let me know if I have done something wrong.

[2017-03-14 16:41] supreme96 commented on #286
@lognaturel @yanokwa This is a sort of layout I am proposing :
![img_20170314_220840_hdr](https://cloud.githubusercontent.com/assets/15019358/23911548/2b4dbae6-0903-11e7-8829-396c3b4691dd.jpg)

[2017-03-14 16:56] lognaturel commented on #562
@parthuest please submit a pull request as described in the contribution guide.

[2017-03-14 17:11] lognaturel commented on #286
@supreme96 Thanks for sharing a sketch, that's very helpful! I think what you've drawn out could be a good incremental improvement.

What I meant by rethinking it is that perhaps a smaller number of colors to choose from that are in a side-scrolling tray at the bottom or a toolbar that slides out from the side or ...? could be better than having a full color palette in a dialog. I think it would b

[2017-03-14 17:14] #530 closed, assigned to nobody

[2017-03-14 17:24] shobhitagarwal1612 commented on #461
@lognaturel This issue can be closed as well. Fixed in #552

[2017-03-14 17:24] #461 closed, assigned to nobody

[2017-03-14 17:27] shobhitagarwal1612 opened #594 "Delete unused class"
`InstanceChooserTabs` class is not used anywhere. So it must be deleted and the respective code from `manifest` file should be removed as well.

[2017-03-14 17:34] supreme96 commented on #286
@lognaturel I also think that limiting the number of colors available would be a  good idea. Considering the purpose for which the feature is to be used limiting the number of available choices would simplify design.

[2017-03-14 17:43] shobhitagarwal1612 commented on #367
@lognaturel I had to update quite a number of libraries as it was impossible to run the code without that.

[2017-03-14 17:49] nribeka commented on #286
I agree with you @lognaturel, we should start small and make incremental changes to the widget. Allow limited selection would be a first good start and then adding breakdown of further enhancement as you get used to the widget code.

This ticket could be specifically just doing the "Set Drawing Color" update only instead of taking the broad update the widget as a whole.

We maybe then need to deci

[2017-03-14 17:54] lognaturel commented on #286
@supreme96 Ok, how about filing an issue specifically for improving colors? You can say it's a piece of this issue and refer to it. Then you can make another quick sketch with limited colors and taking into account some of @nribeka's suggestions!

[2017-03-14 18:34] supreme96 commented on #286
@lognaturel @nribeka Ok, I'll file a separate issue to narrow down our selection of colors. Meanwhile I will get into sketching a simpler layout.

[2017-03-14 18:58] rajatthakur opened #597 "Remove deprecated method setBackgroundDrawable"
The deprecated method 'setBackgroundDrawable' has been used at several places across the codebase.

[2017-03-14 19:12] pratikmjoshi opened #599 "LayoutParams.FILL_PARENT is deprecated"
Android v6.0.1 device used: OnePlus One

In the app,I have found 6 usages of LayoutParams.FILL_PARENT,which is deprecated. It should be replaced with LayoutParams.MATCH_PARENT.

I am working on this.

[2017-03-14 21:16] nsai500 opened #600 "Unused Methods and Variables"
There are some unused methods and variables.Some of them are assigned but were never used and can be removed safely. Below is a list of the class name with respective methods and variables

1) AppListActivity--getCheckedIdObjects method is never used

2) BearingActivity--mBearing variable is never used(assigned value mBearing = String.format("%.3f", degrees)

3) FormEntryActivity--saveAnswer metho

[2017-03-14 21:43] lognaturel opened #602 "Fix style throughout the codebase and check style as part of the build process"
The code base is currently not very consistent when it comes to code style. We should agree on a style guide to follow, fix style across the codebase and enable style checks as part of the build process.

We already have a good [checkstyle file](https://github.com/opendatakit/collect/blob/master/config/checkstyle/checkstyle.xml). It can be run with `gradle checkstyle` and eventually added to conti

[2017-03-14 21:56] lognaturel commented on #569
@ajayrahul97 So your suggestion is to not show the save/ignore dialog if no actual changes have been made, am I now understanding you correctly? I think it's the kind of thing that as a user I prefer to have consistent. If I forget that I didn't make changes and then don't have the option to save, that makes me uncomfortable. @nribeka @yanokwa would be great to have some other opinions!

[2017-03-14 22:14] pratikmjoshi commented on #594
I am working on this.

[2017-03-14 22:30] pratikmjoshi commented on #602
@lognaturel I think one pull request per category of issue with a different commit for each file in which the issue is solved can be another option.

[2017-03-15 00:06] pratikmjoshi opened #604 "Date Picker in forms is not placed well"
Android v6.0.1, device used: OnePlus One

The date picker in the forms does not fit the phone screen and has a horizontal scroll to accommodate. I feel this is awkward for the user and does not look nice. Also, if you scroll right, you sometimes swipe to the next question as well. I have shown it in the screenshots below:

Steps to reproduce the problem
1.Go to a form with a date entry required.(e

[2017-03-15 00:33] lokeshkvn opened #605 "Add Test for Layout and Options Menu in MainActivityTest"
*MainActivityTest* implemented by @yadav-rahul doesn't have test for checking layout and options menu.
As Options Menu are important component in ODK-collect , there must be a local unit test to check whether intents from options menu are working properly or not.

- [ ] Add test for main activity layout.
- [ ] Add test for each options menu.

[2017-03-15 00:36] lokeshkvn commented on #605
@In @yanokwa @yadav-rahul  I am working on this issue.

[2017-03-15 01:50] lognaturel opened #606 "✨ Google Summer of Code 2017 - Important dates and Q&A ✨"
Welcome to all students considering submitting a proposal for [Google Summer of Code 2017](https://summerofcode.withgoogle.com/organizations/4911125733834752/)! We are very excited to have you here and thank you so much for all the wonderful contributions you have already made. 🎉

Project proposal time is coming up! You will have between **March 20th and April 3rd** to submit your proposal documen

[2017-03-15 02:58] yadav-rahul commented on #605
@lokeshkvn Please go ahead.

[2017-03-15 03:13] rishsethia commented on #272
Hi @yanokwa  @pailletm

I've tested the form on the app and it works for the most part :D. I am facing this issue :

1. Which external app to launch on external app data collection widgets ?

Thanks

[2017-03-15 03:14] anuradhagupta345 commented on #604
@lognaturel I find this issue interesting to be work on. Shall I work on this?

[2017-03-15 03:14] anuradhagupta345 commented on #600
Shall I work on this?

[2017-03-15 03:15] anuradhagupta345 commented on #599
I am on it.

[2017-03-15 03:17] nribeka commented on #599
@anuradhagupta345 it's already labeled as in progress, so someone is already working on it. Try look for other issues that are not marked with in progress.

[2017-03-15 03:36] parthuest commented on #604
@anuradhagupta345 can you please choose one of the issues #600 and #604. I want to work one of these too. Thank you.

[2017-03-15 06:03] ajayrahul97 commented on #569
@lognaturel  , take any text-editor for instance, when we close the window , it shows the prompt only if there are some unsaved changes, not every time the user closes the window. So what i'm proposing here is to detect any key press after **_saving the form/opening the form_** and if there was any key pressed then show the prompt otherwise no.

[2017-03-15 07:28] rcovane opened #608 "Signature, geotrace & geoshape crash"
#### Software and hardware versions
Collect v1.4.16, Android v4.4.2, device used Samsung Galaxy Tab 7.0 (SM-T231)

#### Problem description
When using geotrace or geoshape or image (with appearance of signature) the app fails to finalize the interview. Tried to make separated form sample to see where was the problem but it persists.

#### Steps to reproduce the problem
Separated the parts into dif

[2017-03-15 08:44] nikhilbalyan opened #610 "Deprecated method call for dismissing progress dialog"
#### Software and hardware versions
Collect v1.4.1686-g93455d3-dirty, Android v5.1, Motorola MOTO E

#### Problem description
We are using the deprecated way of dismissing the dialog dismissDialog(PROGRESS_DIALOG).

#### Steps to reproduce the problem
Line 200 and line 210 in FormDownloadList are using the deprecated way of dismissing the dialog

#### Expected behavior

#### Other information
we s

[2017-03-15 09:39] Midhun07 commented on #576
@yanokwa i think i misunderstood the form that you have mentioned here. I searched the project files but didn't find such a form. Where am i getting wrong? Please guide.

[2017-03-15 10:02] grzesiek2010 opened #611 "SNITest doesn't work"
#### Problem description
[SNITest](https://github.com/opendatakit/collect/blob/master/collect_app/src/androidTest/java/org/odk/collect/android/SNITest.java) doesn't work.

As I remember everything worked well last month (but I'm not sure).

[2017-03-15 10:38] grzesiek2010 commented on #602
I'm in favour of one pull request per category of issue. Can't wait for results :)

[2017-03-15 11:56] pratikmjoshi opened #612 "FormListActivity and InstanceListActivity not registered in Android manifest"
FormListActivity and InstanceListActivity are not registered in the Android manifest.

I'll add them to the manifest.

[2017-03-15 12:25] lakshyagupta21 commented on #612
@pratikmjoshi There is no need to add them to the manifest as there is no UI attached to any of the files.
[Refer this link](https://developer.android.com/guide/topics/manifest/activity-element.html)

[2017-03-15 12:40] ghost commented on #606
**Pro tip:** There's no rule that says your proposal must be the first time that potential ODK project mentors hear about your idea! 😄 You can communicate with & work with potential mentors _now_, ahead of time, to better clarify both your ideas as well as your understanding of ODK software. Remember that everyone here's a volunteer, so they may not respond immediately, but everyone's also very fr

[2017-03-15 13:29] getsanjeev commented on #610
I would like to fix it, once reviewed.

[2017-03-15 13:35] nribeka commented on #208
Is this still an issue @yanokwa? So I'm assuming this would be a preference setting and then all the reference to the INSTANCE_PATH need to be read from the preference setting.

[2017-03-15 13:45] nribeka commented on #208
I think we should be able to keep on changing the INSTANCE_PATH directory location and leave existing instances in the original location after changing the INSTANCE_PATH to new directory location since we record the instances using full path in the database.

[2017-03-15 13:54] getsanjeev commented on #563
@shobhitagarwal1612 I agree this issue has a smaller scope. I always favour using better means for any feature implementation. I do not think using chrome tabs would severely affect the size of app; though how exactly it would affect, still needs to be tested.
Thanks for the concern.

[2017-03-15 14:10] getsanjeev commented on #550
@lognaturel How should we go about this?

[2017-03-15 14:50] lognaturel commented on #550
Let's postpone this decision to avoid making too many invasive changes at once. If students want to include something like adding Butterknife to their GSoC project proposal and explain why it would help with the project, that would be great too.

[2017-03-15 14:51] lognaturel commented on #604
@anuradhagupta345 @parthuest Please hold off on these date and calendar related issues until we have time to discuss.

[2017-03-15 14:54] pratikmjoshi commented on #612
@lakshyagupta21 Yeah, but they raise warnings during builds, so its better to just add them to the manifest.

[2017-03-15 14:57] lognaturel commented on #610
This seems like a subset of #541, @nikhilbalyan. I think we should first agree on an approach for cleaning up dialogs across the code base and then we can make sure that deprecated calls are removed as part of that broader refactor.

[2017-03-15 14:57] #610 closed, assigned to nobody

[2017-03-15 15:12] nikhilbalyan commented on #610
Sure @lognaturel

[2017-03-15 15:44] supreme96 commented on #600
@anuradhagupta345 Have you made any progress on this?

[2017-03-15 15:47] supreme96 commented on #567
Can I take this one?

[2017-03-15 16:11] lognaturel commented on #610
@nikhilbalyan I should add -- I encourage you to add your thoughts to #541!

[2017-03-15 16:16] lognaturel commented on #490
@Dvik I know you mentioned on another issue being busy. Would you like to also let someone else take this one on? We would really like to have it in the next release (complete by March 22nd)! 😊

[2017-03-15 16:19] shobhitagarwal1612 commented on #490
@lognaturel I had to check if play services are installed or not while updating the sheets library. If @Dvik allows, I can quickly add the same code to the other classes as well

[2017-03-15 16:19] Dvik commented on #490
Yeah, sure.
I would be more than happy to let someone take it up.

[2017-03-15 16:21] lognaturel commented on #600
@nsai500 If you would like to address this, please go ahead. Please add a different commit for each file.

[2017-03-15 16:24] #594 closed, assigned to nobody

[2017-03-15 16:29] lognaturel commented on #567
@adithya321 @supreme96 We will use `checkstyle` for style settings so that the check can be automated in continuous integration. I have opened issue #602 to discuss this and I encourage you to participate.

Are there other settings that you think would be worth sharing?

[2017-03-15 16:31] lognaturel commented on #581
I think this is a very interesting idea. That said, I imagine you'd have to associate with the XML file type which could be confusing because most XML files would fail.

Additionally, I don't know how practical it is to have a form that is not associated with a server. It could be filled out, certainly, but it could never be sent.

So I'm not sure that it would be useful for the true users of ODK

[2017-03-15 16:36] #599 closed, assigned to nobody

[2017-03-15 17:36] nsai500 commented on #600
@lognaturel I won't be available for a couple of days. Anyone else who wants to work on this can go ahead.

[2017-03-15 17:39] supreme96 commented on #600
@lognaturel  I'll take this one!

[2017-03-15 17:40] parthuest commented on #604
Okay.

[2017-03-15 17:42] lognaturel commented on #208
Do you know if the person who wrote this initial message ever finished the feature? Would be great if they could contribute it!

[2017-03-15 18:31] lakshyagupta21 commented on #518
@yanokwa I created the emulator having PIXEL running API 25 and tried running the app on it. While running it gets stuck somewhere in the middle of uploading files. It doesn't show anything in logcat also i tried it 3-4 times but couldn't produce the above error. I tried in Nexus 5 running API 23 in that it was working fine, what should i do ?

[2017-03-15 18:40] yanokwa commented on #208
I have an email out to Bob to check. Let's give it a week and then we can revist.

[2017-03-15 18:55] lognaturel commented on #490
@shobhitagarwal1612 I think you have most of the code needed in #607. Would you like to take this one on when you're done there?

[2017-03-15 19:28] akshay-ap opened #616 "Add status indicator to show current position in form"
#### Software and hardware versions
Collect v1.4.16, Android v4.4.2, device used...

#### Problem description
While filling form user is unaware of how much part of the form has been filled. The user experience can be improved if there is some indication of much form has been filled.
#### Steps to reproduce the problem
Choose Fill form button from Main menu of application.
#### Expected behaviour

[2017-03-15 19:32] lognaturel commented on #612
[This](http://stackoverflow.com/questions/5844561/android-abstract-activity-in-manifest) suggests there's no reason to put abstract classes in the manifest. (As an aside, I think `InstanceListActivity` should be made abstract, if you agree you are welcome to submit a small pull request for that.)

I'm actually not seeing the warning! Where do you see it @pratikmjoshi? Can you please copy the full

[2017-03-15 19:41] nribeka commented on #611
@grzesiek2010 looks like https://sni.velox.ch is down. So that's probably the reason why the test is failing?

[2017-03-15 19:45] pratikmjoshi commented on #616
@akshay-ap This can be filed under issue #464, as it is a major ui improvement.

[2017-03-15 19:46] batkinson commented on #611
Yes, that would do it. Remove it. I never liked the fact that the test required an external server anyway. I think we're out of the woods on it for the time being. We can always resurrect the test from git history if/when we need it... *or*... we can try to setup a local SNI-enabled http server as part of the test. Given the nature of the problem and the fix, I am not sure if that's worth the trou

[2017-03-15 19:48] nikhilbalyan commented on #612
@lognaturel i guess warning are shown while we commit changes via android studio. please verify @pratikmjoshi

[2017-03-15 19:54] batkinson commented on #611
...and actually, now that I think of it, we're probably better off trying to get out of the business of maintaining our own HTTP client anyway. With the bump in the min API level, things might get simpler towards that end.

[2017-03-15 19:55] nikhilbalyan commented on #541
Hi @grzesiek2010 i would like to give a piece of thought regarding  this issue have a look at #610

[2017-03-15 19:58] nribeka commented on #608
Stacktrace seems to be class cast exception on the form:

    FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 10115
    java.lang.RuntimeException: Unable to resume activity {org.odk.collect.android/org.odk.collect.android.activities.FormEntryActivity}: java.lang.ClassCastException: org.javarosa.core.model.data.IntegerData cannot be cast to org.javarosa.core.model.data.StringData

[2017-03-15 19:59] #577 closed, assigned to nobody

[2017-03-15 20:00] pratikmjoshi commented on #612
@lognaturel @nikhilbalyan The warnings as shown while we build the app via android studio. As shown below:
![temp](https://cloud.githubusercontent.com/assets/19923446/23968139/a91515a2-09e7-11e7-98fa-b29bb1baa411.png)

If you go to android studio, analyze->inspect code, you can view all these warnings. I just made a pull request for one type of warning. Are these warnings occurring when you build

[2017-03-15 20:05] #597 closed, assigned to nobody

[2017-03-15 20:06] lognaturel commented on #616
@akshay-ap This is a good idea. Collect did previously have a progress bar but it was removed because it turned out to be very confusing with skip logic and repeats. How would you address that?

[2017-03-15 20:17] nikhilbalyan opened #618 "Checking the condition instead of the Error handling via try/catch"
#### Software and hardware versions
Collect v1.4.1686-g934455d3, Android 5.1, Moto E

#### Problem description
Right now inside the Media Layout from line 143 to 148 we are doing the error handling if no application is found to view the video
#### Steps to reproduce the problem

#### Expected behavior
We should check instead of crashing the application via get content resolver if an application ex

[2017-03-15 20:22] nribeka commented on #608
@rcovane I think the issue is with the form's settings section. If you use `concat(${id})` instead of `${id}`, then it should work just fine. The later is inferring the instance name as an IntegerData, with concat I think it will convert it to StringData.

Give it a try and let us know here.

[2017-03-15 20:25] nribeka commented on #611
I'm with @batkinson on not using custom http implementation. No need to create more stuff to maintain on our end.

[2017-03-15 20:28] lognaturel commented on #611
👏👏 Who wants to file the issue to use a standard HTTP client?!? That would be a huge win if we can now do it.

[2017-03-15 20:33] pratikmjoshi commented on #616
@akshay-ap This is a nice idea as it would provide a good sense of direction for the user.
However, I had tried using the circleindicator previously for an app, where data had to be stored as soon as it moved to the next view (just like collect) does, but I couldn't find a way to do so. Since circleindicator is linked to a viewpager, how would you propose to save the data as soon as the current qu

[2017-03-15 20:35] lognaturel commented on #618
@nikhilbalyan Sounds good!

[2017-03-15 20:41] lognaturel commented on #612
Yes, please also make `FormListActivity` abstract!

So it sounds like what you're seeing are [lint warnings](https://developer.android.com/studio/write/lint.html) but strangely enough I can't seem to find any having to do with those activities missing from the manifest! Can you please copy the text of the warning?

[2017-03-15 20:52] shobhitagarwal1612 commented on #490
Yeah, I would love to

[2017-03-15 20:57] pratikmjoshi commented on #612
@lognaturel  Yes, those are lint warnings. Actually, these warnings are removed once I made InstanceListActivity and FormListActivity abstract. So I'll reference that pr as a fix to this issue.

There seem to be a lot of lint warnings. Are these warnings classified as structural problems?  I would be interested in getting rid of these warnings. Any suggestions on how I should approach this?

Befor

[2017-03-15 21:12] pailletm commented on #272
Hi @rishsethia,

maybe you can use this one :
https://github.com/opendatakit/breathcounter/blob/master/BreathCounter/breathTest.xml

[2017-03-15 21:20] batkinson opened #620 "Eliminate dependency on custom httpclient implementation"
As discussed in the recent issue #611, rather than maintaining our own custom http client, requiring its own maintenance and fixes for issues like #199, we should instead migrate to using a more "mainstream" http implementation for android.

The ultimate reason is to essentially to eliminate the need to worry about defects and security issues requiring maintenance to keep the custom library workin

[2017-03-15 21:34] shobhitagarwal1612 opened #622 "App crashes with monkey runner test"
Run the below command in your terminal to initiate the basic money runner test:
`adb shell monkey -p org.odk.collect.android -v 5000`

The app crashes with the following stack trace:

03-16 03:00:45.135 13279-13279/org.odk.collect.android W/System.err:     at org.odk.collect.android.activities.FormEntryActivity$18.onClick(FormEntryActivity.java:2172)
03-16 03:00:45.135 13279-13279/org.odk.collect.

[2017-03-15 21:42] lognaturel commented on #620
And [this](https://github.com/opendatakit/httpclientandroidlib) is the repo the lib is currently built from.

[2017-03-15 22:56] nribeka commented on #602
I have a strong feeling of not using the [Hungarian notation](https://en.wikipedia.org/wiki/Hungarian_notation) moving forward. You guys can read the pros and cons in wikipedia.

I think we're still mising some stuff like from checkstyle config:
- [OneTopLevelClass](http://checkstyle.sourceforge.net/config_design.html#OneTopLevelClass)
- [EqualsAvoidNull](http://checkstyle.sourceforge.net/config_c

[2017-03-16 02:24] #512 closed, assigned to nobody

[2017-03-16 02:27] lognaturel commented on #512
@nribeka @icemc @yanokwa Should we do the same for instances? If an instance gets deleted on disk, you can still see it in the interface, edit it if it's editable, but then you can't save it. If you think it's worth doing, please file an issue!

[2017-03-16 02:28] nribeka commented on #512
Good call @lognaturel. I think we should add that to the sync task too. 👍

[2017-03-16 02:31] lognaturel commented on #512
@icemc If you'd like to take that one too, feel free to file the issue and start work on it!

[2017-03-16 02:37] nribeka opened #625 "Deleted form data still displayed in the UI"
#### Software and hardware versions
Collect latest build from master

#### Problem description
When user delete form data (instances) from the sd card, the form data will still gets displayed in the list of form data because the form data display only use the data from the database.

#### Steps to reproduce the problem
* Fill a blank form
* Delete the xml file from the sdcard (using adb or connect

[2017-03-16 02:37] nribeka commented on #512
@lognaturel #625 created. @icemc, you can do that one as well.

[2017-03-16 02:38] lognaturel commented on #612
How interesting, I wonder why I wasn't seeing it in my lint report when I ran it from the command line. Maybe running it from Android Studio ignores the `lint.xml` file? I just run it with `./gradlew lint`.

Awesome that making the classes abstract was a solution.

You're right that it would be good to address some of these. The challenge is that lint is not a very precise instrument and some of t

[2017-03-16 02:38] #612 closed, assigned to nobody

[2017-03-16 03:27] lakshyagupta21 commented on #625
@nribeka I would like to work on it.

[2017-03-16 03:35] nribeka commented on #625
@lakshyagupta21 confirm with @lognaturel later 👍

[2017-03-16 04:12] lakshyagupta21 opened #626 "Warning Boxing of already boxed value"
In NetworkReceiver.java there is a warning "Boxing of already boxed value" at line number ` 109`
[code]
There is no need of boxing the already boxed value.

[2017-03-16 06:20] shreyasnbhat opened #629 "Possible switch case fall-thorugh in FormEntryActivity.java"
#### Software and hardware versions
Collect v1.4.16, Android v7.1.1, OnePlus 2

#### Problem description
There is a case of a possible fall-through in a switch case block.
#### Steps to reproduce the problem
Lines 735-742
[code]
#### Expected behavior
[code]
#### Other information
Just a small fix.
I am sending a PR.

[2017-03-16 06:34] shreyasnbhat opened #631 "Removing Unused Imports in The Project"
#### Software and hardware versions
Collect v1.4.16, Android v7.1.1, OnePlus2

#### Problem description
There are unused imports in the Project
#### Steps to reproduce the problem
Need to remove them

@lognaturel
This is also in reference to #582
3 unused imports still need to be removed.
I'll send a PR.

[2017-03-16 08:25] shreyasnbhat opened #633 "Reduntant String.toString() operations in Project Code"
#### Software and hardware versions
Collect v1.4.16, Android v7.1.1,  OnePlus2

#### Problem description
There are many redundant String.toString() operations being done in various Classes.

#### Expected behavior
Need to remove these redundancies.
#### Other information
Just need to remove the toString() function calls on the Strings.

@lognaturel
I'll send a PR for this minor issue.

[2017-03-16 10:35] shobhitagarwal1612 opened #636 "Changing the Question font size from settings changes the font size of Tab TextView in SlidingTabLayout"
The font size of SlidingTabLayout is getting dynamically changed according to the Question font size from the shared prefs.

This can be fixed by making the font size static as it is not required to be changed dynamically

[2017-03-16 10:35] nikhilbalyan opened #637 "Enabling Firebase Crash Logs"
#### Problem description
Right now we are not using any service for collecting the crash reports of the application.

#### Expected behavior
We should integrate the Firebase crash with the application so that we can collect the crashing report of the application.
#### Other information

I would love to work on this issue and have a fruitful discussion about how i will be implementing this awesome

[2017-03-16 10:48] nikhilbalyan commented on #541
@grzesiek2010 and @lognaturel inside the FileChooserList activity from Line 217 to Line 219

       217.         mAlertDialog.setCancelable(false);
       218.         mAlertDialog.setButton(getString(R.string.ok), errorListener);
       219.         mAlertDialog.show();

In the line 218 instead of setButton(Deprecated) it  should be setPositiveButton. http://stackoverflow.com/questions/9723302/al

[2017-03-16 11:30] royrivnam commented on #600
@supreme96 Have you made any progress on this??if not then i will go for it

[2017-03-16 11:43] royrivnam opened #638 "Many Unused classes present"
Classes like CustomMarkerHelper, CustomTileSource, etc have never been used in the project files.

[2017-03-16 11:53] supreme96 commented on #600
@royrivnam Yeah. I am working on this one.

[2017-03-16 11:59] rajatthakur opened #639 "Remove Implicit Intent From VideoWidget"
The video widget calls an implicit intent when the video can be easily played in the app itself using a video view.
Moreover, this is inconsistent with the image view widget in which the image is loaded without any implicit intents.

[2017-03-16 12:10] rajatthakur opened #641 "Remove Implicit Intent From AudioWidget"
I think it would be better if the audio is played in the app itself without using any external applications.

[2017-03-16 12:11] royrivnam commented on #600
@supreme96 can i also give this a try if you don't mind.. or just leave a comment if you by any chance get busy with something else before completing this issue..then i shall try

[2017-03-16 12:17] supreme96 commented on #600
I don't think that would work very well. Can you please pick another issue?

[2017-03-16 12:23] royrivnam commented on #600
its okay... its all yours....

[2017-03-16 13:00] nikhilbalyan opened #644 "Adding the Runtime Permissions for the Android 6.0 and above"
#### Problem description
For Android 6.0 and below the permissions were asked at the time of installation of the application but with the new improvements the user is asked about the permission at the run time of the application. And we have not handled the permissions for Android 6.0 and above which could lead into a crash
#### Steps to reproduce the problem
Inside the ImageWebViewWidget class we

[2017-03-16 13:02] nikhilbalyan commented on #618
similar issue exists in almost all the Widget classes Working on them and will soon send a PR with all changes

[2017-03-16 13:04] nikhilbalyan commented on #644
Right now the statement is in try/catch hence a probable crash can be prevented for Android 6.0 and above

[2017-03-16 13:05] rajatthakur opened #645 "Remove deprecated methods from TimeWidget"
The time widget class contains deprecated methods which need to be replaced.

[2017-03-16 13:30] rijuldhir commented on #636
Is Somebody already on it?

[2017-03-16 14:40] #636 closed, assigned to nobody

[2017-03-16 14:43] #626 closed, assigned to nobody

[2017-03-16 14:43] nikhilbalyan opened #649 "Removal of Deprecate Methods from whole project"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
Right now we have a lot of Deprecated methods in  the whole of project i am creating this issue so that all of them can be referenced at a single place
#### Steps to reproduce the problem
Like inside the DecimalWidgetClass we have deprecated methods
#### Expected behavior
Replace all the de

[2017-03-16 15:00] #585 closed, assigned to nobody

[2017-03-16 15:14] lognaturel commented on #639
This was an explicit decision made because users wanted choices and this allowed for a better experience on certain phones. Perhaps it's time to move to an embedded player but we need to talk about this. @yanokwa @nribeka

[2017-03-16 15:15] #633 closed, assigned to nobody

[2017-03-16 15:20] lognaturel commented on #629
Moving forward, please use [this strategy](https://help.github.com/articles/closing-issues-via-commit-messages/) in your pull requests so that they automatically close the corresponding issue!

[2017-03-16 15:20] #629 closed, assigned to nobody

[2017-03-16 15:21] yanokwa commented on #541
I want to take another step back! Our goal is to reduce redundancy across the code base. I'd rather not use an external dependency for this if we don't have to, but before we decide, we need to know what we have.

1. Review the dialogs that we use. Make a list of the different types (text, select one, select multiple, progress, etc) and a count.

1. Build an abstraction that uses the stock Android

[2017-03-16 15:24] lognaturel commented on #638
@royrivnam Please go ahead and remove them!

[2017-03-16 15:29] grzesiek2010 commented on #541
@yanokwa sure
I agree with you. An initial investigation what we use is a good first step. Does someone want to do that?

[2017-03-16 15:30] lognaturel commented on #649
As you have seen with some of the other issues filed, we prefer to manage each deprecation type separately. That allows for easier verification of correctness and making sure that each solution chosen is the best possible one. If you'd like to help us with that, please file an issue for a specific deprecation and your proposal to address it. Thanks!

[2017-03-16 15:30] #649 closed, assigned to nobody

[2017-03-16 15:31] #631 closed, assigned to nobody

[2017-03-16 15:32] lognaturel commented on #625
@lakshyagupta21 Sounds good. Please make sure to check out #595 as this will be very similar.

[2017-03-16 15:37] yanokwa commented on #639
When we started Collect, a lot of functionality was done via Intents and that decision has sort of stuck.

I do not think a lot of people have a wide range of video players that they need to choose from. I do think jumping in and out of the app isn't as elegant as doing the work inline. And given that this change falls back nicely to the old system, I think it's fine.

If folks come back and deman

[2017-03-16 15:51] #367 closed, assigned to nobody

[2017-03-16 15:59] lognaturel opened #650 "Get Blank Form with Google Sheets should allow user to add account"
#### Software and hardware versions
Collect v1.4.16-104-g14bd3426

#### Problem description
When no Google account is selected in general settings and the protocol is "Google Drive, Google Sheets", tapping on "Get Blank Form" pops up an informational dialog rather than allowing the user to add an account as when sending a form.

#### Steps to reproduce the problem
1. Change the protocol to "Google

[2017-03-16 16:04] lognaturel commented on #644
@nikhilbalyan Please go ahead for camera permissions. I think you'll need to do the same for `ImageWidget`.

If you'd like to address other cases of this problem, please submit a different pull request for each category of classes the problem occurs in (for example "mapping" is a category).

[2017-03-16 16:05] lognaturel commented on #644
And thanks for filing this important issue!

[2017-03-16 16:10] lognaturel commented on #644
And actually, I also have a question for you. My understanding was that it was possible to do it the "old way" and still ask for all permissions up front if `targetSDKVersion` was under 23 (which it is). Is that not the case? Have you verified that the crash does in fact happen?

In general, runtime permissions are great. ODK Collect is kind of special, though, in that inexperienced enumerators ar

[2017-03-16 16:15] yanokwa commented on #563
This is a tough call.

@getsanjeev Can you see how much this adds to the APK?

[2017-03-16 16:24] akshay-ap commented on #616
I have thought of adding a popup-window.
It will contain Horizontal Linear-layout. Each element will be a circle. I bigger Circle will represent current position of the form which user is filling. On swiping the corresponding circle will be replaced with bigger one and older circle (Bigger one) will be replaced with a smaller one. The popup-window  will appear from start  (when onResume()  method

[2017-03-16 16:26] nribeka commented on #639
I like the approach that it will fallback to using intent if the MediaPlayer can't handle it. If you could test or look around if there are limitations for the built in MediaPlayer and document it, I think it would be really helpful (maybe limitation in terms of size of the file, supported formats, etc).

I'm hoping with this information coupled with usage information, we could decide whether the

[2017-03-16 16:35] shobhitagarwal1612 commented on #616
What will happen wih the forms using repeats?

[2017-03-16 16:50] yanokwa commented on #576
@Midhun07 Sorry I wasn't clearer! Generally, forms post to the server URL that is in the settings. The XML of that form looks like this..
[code]
Forms can also post to form-specific URLs. This is required when using encrypted forms, but you can also just set it in regular forms.
[code]

So in the case of a form submission where there is a form-specific URL and credentials are required, it'd be goo

[2017-03-16 17:01] #542 closed, assigned to nobody

[2017-03-16 17:21] mitchellsundt commented on #611
Just a reminder - the hurdle is getting the "standard framework" to
implement DigestAuth.

Reverting to the now-deprecated built-in Apache HTTPClient is not a
solution.

On Wed, Mar 15, 2017 at 1:28 PM, Hélène Martin <notifications@github.com>
wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-03-16 17:33] rijuldhir commented on #650
I would like to work on it.

[2017-03-16 17:35] lakshyagupta21 commented on #625
@lognaturel I am thinking to write separate background task for this issue because the MainMenuActivity will update the number of files on buttons only when task gets completed. Am i doing it in correct way ?

[2017-03-16 17:35] lognaturel commented on #650
Sounds good, @rijuldhir!

[2017-03-16 17:44] yanokwa commented on #569
I agree that you should only be warned if you've made changes. I don't think consistency is an issue here. Or rather, if I haven't made changes, it's a little scary to get that dialog.

We do need to be careful about what sets that flag. A swipe is generally what saves data, not a key press. The other thing to be aware of is that I think the act of opening a form triggers unseen changes -- namely,

[2017-03-16 17:53] yanokwa commented on #466
Let's catch the null and print a message about git not being in the path.

[2017-03-16 17:56] royrivnam commented on #638
okay...am working on it

[2017-03-16 18:18] yanokwa commented on #207
@shouryalala This sounds good to me. And to be clear, I think the form be downloaded, parsed, and then if it doesn't have the URL, it should be removed from the device and the user should be alerted. I'm looking forward to your pull request!

[2017-03-16 18:18] shobhitagarwal1612 commented on #639
Intents are one of Android’s key components. It’s a way of passing data between different parts of the app or, even better, different apps on the system.

Let’s say you have a gallery app that can share a download link to some images via SMS. Which of the two options seems more logical?

Option 1:
Request the SEND_SMS permission.

  <uses-permission android:name="android.permission.SEND_SMS" />
Wr

[2017-03-16 18:24] lognaturel opened #651 "Double clicking on folder in Google Drive listing results in crash"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
Double clicking on a folder in "Get Blank Form" when protocol is "Google Sheets, Google Drive" results in crash.

#### Steps to reproduce the problem
1. Set protocol to "Google Sheets, Google Drive"
1. Select a Google account that has at least one folder in its GDrive
1. Tap on "Get Blank Form"
1. Tap "My Drive"
1. Doubl

[2017-03-16 18:25] yanokwa commented on #639
@shobhitagarwal1612 I agree with you, but I think video/audio/pictures are different. I mean when I browse Twitter, I don't have to use intents to open video/audio/pictures, right? Because, it'd be super annoying.

And in this case, it's about the same amount of code. We are using the native media player and not building a new one.

[2017-03-16 18:25] pratikmjoshi commented on #651
@lognaturel Can I work on this?

[2017-03-16 18:26] lognaturel commented on #651
@pratikmjoshi Sounds good!

[2017-03-16 18:27] yanokwa commented on #424
@NamanArora Have you been able to make some progress on this?

[2017-03-16 18:37] shobhitagarwal1612 commented on #442
Working on this issue

[2017-03-16 18:40] lognaturel commented on #442
@shobhitagarwal1612 and I had a great conversation about this in #collect-code. From what we can tell, the only way to upload images to Google Photos (formerly Picasa) programmatically is through its [gdata API](https://developers.google.com/gdata/docs/directory). Unfortunately, gdata seems like its on its way to complete deprecation. The latest version doesn't seem to have any convenience wrapper

[2017-03-16 18:42] lognaturel commented on #639
Sounds good to me, I'll review the pull request shortly!

[2017-03-16 18:44] shreyasnbhat opened #652 "Saving data into Shared Preferences can be made faster"
#### Software and hardware versions
Collect v1.4.16, Android v7.1.1,  OnePlus2

#### Problem description
Shared Preferences is being used in the app.
The function `commit()` is being used to save the data into the disk(is synchronous).

#### Expected behavior
Should use `apply()` as it is asynchronous and is faster.

@lognaturel
I'll send a PR.

[2017-03-16 18:51] shreyasnbhat opened #654 "Remove Deprecated fields in Layouts"
#### Software and hardware versions
Collect v1.4.16, Android v7.1.1, OnePlus2.

#### Problem description
Many Deprecated Fields exist in the layouts.
Such as
[code]

#### Expected behavior
Need to replace them with equivalent fields.

I'll send a PR for this minor fix.

[2017-03-16 18:53] yanokwa opened #655 "Only add analytics credentials to release builds"
Currently, we track analytics from every fork of Collect. This is not a great idea because we don't need to see activity from random forks of Collect. We should only include analytics credentials on release builds.

[2017-03-16 18:55] yanokwa opened #656 "Run lint/unit tests in CI on release builds"
Currently, we run lint and unit tests against debug builds. This is because developers are generally generating debug builds. On the CI server, we currently test against debug, but it might be a better idea to test against release.

[2017-03-16 19:02] yashsharan opened #657 "Replace Deprecated (Activity)getContext() method with getContext()"
(Activity)getContext() is a deprecated method and instead getContext() is used.

Should i send a pull request for this?

[2017-03-16 19:09] shobhitagarwal1612 commented on #657
@yashsharan Please check out this issue #513. What you want to do is a sub part of that issue

[2017-03-16 19:26] lognaturel opened #660 "Crash when taking a video with Nexus 5"
#### Software and hardware versions
Collect v1.4.16, Android v6.0.1, Nexus 5

#### Problem description
Crash when taking a video with Nexus 5.

#### Steps to reproduce the problem
1. Open a form with a video widget such as Widgets from the test server
1. Tap "Record Video"

#### Other information
`/storage/emulated/0/DCIM/Camera/VID_20170317_022056.mp4` doesn't exist. The path should be `/storage/

[2017-03-16 19:36] rajatthakur commented on #639
Hi @yanokwa,
I have already created an issue (#641) for the audio widget and have made a pull request (#643) for the same.
Thank You

[2017-03-16 19:51] rajatthakur commented on #660
@lognaturel can i work on this ?

[2017-03-16 20:31] shobhitagarwal1612 opened #663 "Adding Timber for logging instead of Log class"
Timber is a logger with a small, extensible API which provides utility on top of Android's normal Log class. http://jakewharton.github.io/timber/

Pros :

- Development - Logging to logcat
- Production - Crash reporting to Crashlytics

Timber and Crashlytics can be used along with AppCrashHandler which elegently handles unhandled exceptions by restarting the app instead of showing the system dialo

[2017-03-16 21:13] nikhilbalyan commented on #644
@lognaturel We need to put a check if the version of the target sdk is below 23 then we wont ask for permissions and the permissions asked at the time of installation will be fine as explained here http://stackoverflow.com/a/33163206/5230044.

Moreover it will ask for the permissions only first time the user will be using collect. However if the  user clears the application data, application data

[2017-03-16 22:10] nikhilbalyan commented on #660
@rajatthakur  @lognaturel i checked out but in my case video recording is working fine. And if the user deletes the video after recording that is also working fine https://drive.google.com/open?id=0Bz5kvTbBe4fVTGk3Yk9pajlDVEE

[2017-03-16 22:18] pratikmjoshi opened #665 "AudioButton should become a stop button when audio is playing"
Android v6.0.1, device used: OnePlus One

When you press the audiobutton to play the respective audio, the button should become a stop button, because sometimes there may be audio which is long and it isn't necessary to listen to the whole audio file.

Steps to reproduce problem:
Go to any form(e.g. Birds). Play any audio sound of a bird's cry.

@lognaturel What are your suggestions on this?Can I

[2017-03-16 22:28] lognaturel commented on #644
@nikhilbalyan That post you linked to says "**when you target API 23** and the app is running on an Android 6.0+ device". So yes, I think you said it right, the only impact right now is if a user explicitly disables the permission. And I believe all permissions will still be asked for at the beginning until we increase the `targetSDKVersion`. So this is important to do but not critical to get in t

[2017-03-16 22:31] lognaturel commented on #660
@nikhilbalyan Yes, it seems to be device-specific. I have also successfully recorded video with other devices

@rajatthakur Go ahead. I'd recommend seeing if you can reproduce it and/or looking in the code to see if you can find a possible explanation.

[2017-03-16 22:36] lognaturel commented on #660
Note, I believe `/storage/emulated/0` is supposed to be the mountpoint for an internal SD card. I don't think this phone has one. That may or may not be relevant to the issue.

[2017-03-16 22:44] lognaturel commented on #665
That's a good idea @pratikmjoshi. I think you'll want to wait until #643 is fixed and merged.

[2017-03-17 00:05] getsanjeev commented on #563
@yanokwa sure I will do it.

[2017-03-17 05:44] rishsethia commented on #272
Hello @pailletm

On my device , it still says the requested app is missing . I originally used :

ex:change.uw.android.TEXTANSWER wherein also I faced same issue !

@yanokwa Apart from the external app launch issue , the form is ready! Thanks for your patience and apologies for delay due to exams  :D

[2017-03-17 07:34] rcovane commented on #608
Thank you @nribeka. I tried it and worked. I even used all (trace, shape, signature and sketch) in one form and it worked just fine.

[2017-03-17 07:36] #608 closed, assigned to nobody

[2017-03-17 07:55] rijuldhir commented on #650
@lognaturel  I think sending an Intent to GoogleSheetsTask as we Do in the case of Sending Finalized form will work. I am testing it currently If you think it's Ok. I will send the PR.

[2017-03-17 10:15] rajatthakur commented on #660
@lognaturel I used the same software and hardware as you did (Nexus 5 on API level 23) but I was not able to reproduce the problem.Following is what I exactly did:
1) Clicked on the record button.
2) Recorded the video and clicked on the check mark.
3) Clicked on the play button,
Then it asked me to choose a player, after which the video played just fine.
However, I did come across a different iss

[2017-03-17 10:33] saraswatmanu commented on #616
I would like to point out one thing. The number of questions in a form can get really big in real life. Representing each swipe of question with a circle can be an issue here. Also how will the questions that involve branching logic be tackled?
One way I can think of is to group questions somehow and show progress in terms of percentage of questions completed in that group.

[2017-03-17 10:40] grzesiek2010 commented on #616
I have and idea about repeat section. My proposal is to show a second progres bar when user is in repeat section. Then the main progres bar (for all questions) should be stopped and we can show the progres in repeat section using the second prgres bar. That second progres bar should be visible only if we are in repeats of course.

and @saraswatmanu is right of course it should be progres bar.

[2017-03-17 13:19] pratikmjoshi commented on #616
@grzesiek2010 Do you have any examples of a 2-progress bar procedure that you can post a  picture of here?

[2017-03-17 13:29] grzesiek2010 commented on #616
No I don't it's only an idea I would prepare a small sketch but not today as I'm busy :)

[2017-03-17 14:01] championoverthinker opened #666 "Deprecated Methods in SlidingTabLayout class"
#### Software and hardware versions
Collect v1.4.16, Android v6.0.1,Redmi Note 3

#### Problem description
The setOnPageChangeListener() and getColor(id) methods in SlidingTabLayout have been deprecated.

#### Expected behavior
setOnPageListener() should be replaced with addOnPageChangeListener() and getColor(id) with getColor(id,theme).

I will send a pr for this minor issue.

[2017-03-17 14:25] pratikmjoshi commented on #434
@nmpatsal Have you made progress on this? If not, @yanokwa may I work on this?

[2017-03-17 15:41] gmn0105 opened #668 "clone() does not declare CloneNotSupportedException"
#### Software and hardware versions
Collect v1.4.16, Android v6.0.1, device used...One plus one
#### Problem description
In the Entry class, clone() method does not declare CloneNotSupportedException
#### Steps to reproduce the problem
Need to declare the CloneNotSupportedException
#### Expected behavior
Exception will be taken care of if thrown at any point

I'll send a minor pr for this fix
####

[2017-03-17 15:46] nribeka commented on #508
I can have a look at this one issue and I think there's a callback that's getting called when the location service detect location changes.

[2017-03-17 15:47] nribeka commented on #507
I'm gonna have a look at #508 and I think that will be related with this one 👍

[2017-03-17 17:08] #657 closed, assigned to nobody

[2017-03-17 17:18] lognaturel commented on #668
This is code in an external library that is included.

[2017-03-17 17:18] #668 closed, assigned to nobody

[2017-03-17 17:20] #651 closed, assigned to nobody

[2017-03-17 17:23] #638 closed, assigned to nobody

[2017-03-17 17:47] lognaturel commented on #616
Please do make sure to search issues before filing new ones! This is a duplicate of #72.

[2017-03-17 17:47] lognaturel commented on #72
Discussion restarted in #616.

[2017-03-17 17:47] #72 closed, assigned to mitchellsundt

[2017-03-17 18:01] pratikmjoshi commented on #65
I agree that the current way that we add another, say observation, shouldn't be done with a pop-up. Dialog boxes are not generally used in that way. It would be much better if was an activity which contained a listview of his previous observations, with a floating action button allowing us to add another observation. That way, the user can view his previous observations and then move on after maki

[2017-03-17 18:05] lognaturel commented on #663
I'd be in favor of this. As a first pass, I think we should use Firebase Crash Reporting for production as proposed in #637 since it integrates well with Firebase Analytics. That should be an easy decision to revisit if needed since `Tree`s can easily be swapped out.

[2017-03-17 18:06] lognaturel commented on #562
#663 might actually be a nicer way to address this since it could let us address better logging in both development and production.

[2017-03-17 18:06] #666 closed, assigned to nobody

[2017-03-17 18:16] lognaturel commented on #663
(Also, this is merely speculation, but I wouldn't be surprised if Crashlytics was abandoned in favor of Firebase Analytics now that Google acquired Fabric.)

[2017-03-17 18:16] shobhitagarwal1612 commented on #663
I'm in favour of using Fabric. I have used it before and it provides much better support and analysis as compared to firebase analytics

[2017-03-17 18:18] nribeka commented on #663
Yeah, that one will be gone. You know how google does stuff. Buy the company and absorb ("kill") the product 🤣

[2017-03-17 18:18] lognaturel commented on #663
@shobhitagarwal1612 You're going to have to say a little more to convince us!

[2017-03-17 18:22] shobhitagarwal1612 commented on #663
Although I have a concern. We have seen earlier that GCM was merged with FCM and later the support for GCM is slowly being removed. Since Google now owns Fabric and already has Firebase Analytics. Will the fate of firebase analytics be the same? Are they going to be merged in the coming months? Any thoughts?

[2017-03-17 18:34] shobhitagarwal1612 commented on #663
Found an article saying

I think it's better to use Firebase instead of Fabric since all of the best features of both are going to be merged into Firebase eventually.

[2017-03-17 18:39] lognaturel commented on #637
Sounds good, @nikhilbalyan. Can you please start with a PR that only adds the dependency and then we can talk in #663 about the best way to do the actual logging?

[2017-03-17 18:44] nribeka commented on #637
How about another person start acra with their acralyzer 🤣

[2017-03-17 18:50] gmn0105 opened #673 "Static members accessed via instance reference"
#### Software and hardware versions
Collect v1.4.16, Android v6.0.1, device used... One plus 1

#### Problem description
Few static variables in different classes have been accessed via instance reference.
As a static variable is always associated with a class it should be accessed via class reference
#### Steps to reproduce the problem
Access the static variables via class reference
And make the

[2017-03-17 19:04] nmpatsal commented on #434
Yes I am still trying to solve in I believe until Monday i am going to end it!

    Στις 4:26 μ.μ. Παρασκευή, 17 Μαρτίου 2017, ο/η Pratik Joshi <notifications@github.com> έγραψε:

 @nmpatsal Have you made progress on this?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-17 19:23] nikhilbalyan commented on #644
@lognaturel you said it right normal user wouldn't revoke the permission. That said user will definetly be prompted to give the runtime permission for the very first time they will be using the feature as per Android Runtime guidelines we can't escape the first time Runtime permission check(In older version that is asked at installation hence there is no hassle).

And as far as GeoPoint is concern

[2017-03-17 19:23] nribeka commented on #660
I saw code like this in the VideoWidget, so this issue could be something similar and device (with platform) specific:

                // Need to have this ugly code to account for
                // a bug in the Nexus 7 on 4.3 not returning the mediaUri in the data
                // of the intent - using the MediaStore.EXTRA_OUTPUT to get the data
                // Have it saving to an interme

[2017-03-17 19:46] nikhilbalyan commented on #644
@lognaturel yeah you are right our target sdk is 22. so i think either we increase our target sdk and then implement runtime permission either there is no benefit of implementing runtime permission.

But yeah it can be beneficial when the application will be running on API 6 or above device since device with those configuration have the option to revoke permission but the device with API level bel

[2017-03-17 20:31] nikhilbalyan commented on #637
@lognaturel done

[2017-03-17 20:47] lakshyagupta21 commented on #518
@nribeka I need help in this issue.

[2017-03-17 21:37] pratikmjoshi opened #678 "In Grid Widget, orange frame doesn't disappear for deselected icons"
#### Software and hardware versions
Android v6.0.1, device used: OnePlus One

Steps to reproduce problem:
1. Go to a form containing Grid Widget( e.g. New Widgets).
2. Select an icon, and try to tap it again for deselection.
3. The orange frame around deselected icon doesn't disappear.

This issue occurs in single selection grid widget as well as multi-selection grid widget.

Expected behaviour:
T

[2017-03-17 23:07] jnordling commented on #507
Let me know if you all need me on this..

[2017-03-17 23:11] jnordling commented on #375
So whats the verdict on this? We doing it or no. @yanokwa

[2017-03-17 23:14] jnordling commented on #265
It sounds like there is some reconstruction happening. https://github.com/opendatakit/collect/issues/507 If we are redoing geo stuff we should wait on this until that happens. I will stay on top of it.

[2017-03-17 23:14] lognaturel commented on #375
Yes! I believe @nap2000 is getting close to a timing-only implementation for #257. @nribeka is working on #508. Once those pieces are in place we can discuss the final design but it will likely be something like what @nap2000 describes.

[2017-03-17 23:15] jnordling commented on #38
@yanokwa or @lognaturel how are you feeling about this?

[2017-03-17 23:17] lognaturel commented on #507
I believe @nribeka will touch many of these classes with #508 so probably best to wait until that's in (I guess we've now swapped the order, that's fine too!). Then @shobhitagarwal1612 @supreme96 you can decide whether you want to pair or have one of you do it. If you have any doubts about intended functionality, @jnordling is your guy and you should tag him in any eventual pull requests that come

[2017-03-17 23:25] lognaturel commented on #38
I don't understand the use case well enough to know how this would best be addressed. I would tend to address a range either with two questions (what is the min, what is the max) or with a text field with a regex constraint (number dash number).

I think that the original poster may have meant a number picker instead of a slider? If you have an example of this kind of question in use or a UI sketc

[2017-03-18 02:48] getsanjeev commented on #563
@yanokwa What I could see is around 20kb. From APK Analyzer I have compared apks of both versions.
One without chrometabs and other including chromeTab dependency and some java code.
![selection_020](https://cloud.githubusercontent.com/assets/20872683/24068380/54a60224-0bb3-11e7-81d2-7d12508ff942.png)

[2017-03-18 04:18] Midhun07 commented on #464
Hi everyone,

Here is a mockup that i have prepared for the welcome activity.
https://drive.google.com/file/d/0Bz8bddyXz2BpTHNYcENaNUs1ak0/view?usp=sharing
This is compatible from android-15 onwards.
Future work:
1. Add a small circular indicator on top of get form button showing availability of any new forms.

[2017-03-18 05:25] getsanjeev opened #680 "crash while getting forms form drive."
#### Software and hardware versions
Collect v1.4.16, sdk 19 device used Huawei Honor Holly

#### Problem description
Application crashes when in General settings  -
Platform = Google Drive, Google Sheets
Configure platform settings =
1. Google account = any account
2. Google Sheets URL  = blank

Go to GET BLANK FORM in MAIN MENU.
Click on My drive.
Application crashes.

#### Steps to reproduce the

[2017-03-18 05:26] getsanjeev commented on #680
It would be helpful, if someone reproduces the issue and suggests.

[2017-03-18 05:58] kunalsingh3110 commented on #660
In FormEntryActivity -> onActivityResult -> switch (requestCode) -> case VIDEO_CAPTURE ->
getContentResolver().delete(mediaUri, null, null); was throwing an exception . Adding try catch block on it fixed the bug on Nexus 5 .

[2017-03-18 07:24] supreme96 opened #682 "Choosing the set of Colors available in the annotation widget."
@lognaturel  @nribeka As discussed in #286, it is required to decide upon a set of colors that will be available in the Annotation widget in collect as an attempt to simplify and make the existing annotation widget more easier to use on mobile devices and other devices with smaller screen size.

Some of the basic colors that would be available should include :
- White (#FFFFFF)
- Black (#000000)
-

[2017-03-18 07:42] pratikmjoshi commented on #680
@getsanjeev Did you follow the instructions from [here](https://github.com/opendatakit/collect#using-apis-for-local-development) ?

[2017-03-18 08:04] getsanjeev commented on #680
@pratikmjoshi Thanks.

[2017-03-18 08:04] #680 closed, assigned to nobody

[2017-03-18 08:29] harshitdiwedi03 opened #683 "Instrumentation test failing"
I tries running tests under `androidTest` directory but getting following error.
`Started running tests`
`Test running failed: Instrumentation run failed due to 'Process crashed.'`
`Empty test suite.`

Can anyone provide the possible fix for this?

[2017-03-18 08:39] Midhun07 opened #684 "yts"

[2017-03-18 08:40] #684 closed, assigned to nobody

[2017-03-18 09:21] pratikmjoshi commented on #682
@supreme96 I think you should include a few mixed colors(from rgb). I would suggest 3 more: Orange(#FB8C00),Yellow( #FFEB3B), and Pink(#EC407A)

[2017-03-18 14:31] getsanjeev opened #686 "display a dialog and suggesting user go to the settings when location provider are disabled."
When location providers are disabled, display user to go to settings and turn it on, would be a good thing.

[2017-03-18 14:42] jnordling commented on #686
This excites already for the GeoPoint GeoShape and GeoTrace widgets. Same with the #687
<img src="https://cloud.githubusercontent.com/assets/11786919/24073058/753df262-0bc7-11e7-87a5-d309be0100a0.png" width="200px" />

[2017-03-18 14:52] jnordling commented on #556
We use sqlite databases to store data about the instances, forms etc. sqlite has SQL standard encrypted formats. Just a thought when reading this.

[2017-03-18 15:52] #645 closed, assigned to nobody

[2017-03-18 16:27] pkarira commented on #683
@yadav-rahul I think you can address this .

[2017-03-18 17:47] yadav-rahul commented on #683
@harshitdiwedi03 I tried running all tests under androidTest directory and they all are working as usual. I think there might be some problem in setting up your environment.

[2017-03-18 18:44] rajatthakur commented on #660
@lognaturel did the fix suggested by @beast-incarnate solve the issue?

[2017-03-18 22:10] NamanArora commented on #424
I am not getting much time to work on it, so if anyone's interested please feel free to take this up.

[2017-03-18 23:28] nmpatsal commented on #434
Hello @yanokwa  I resolved the issue and removed the form processing logic from settings but when i run the code on my android studio i get errors because of `<<<<<<< HEAD

=======

[2017-03-19 06:18] getsanjeev opened #690 "Adding material design principles."
As we know the Android user interface design guidelines have changed over the years. I would like to start adding material design specifications to the application. Kindly give your inputs.
@yanokwa @lognaturel

[2017-03-19 06:44] nap2000 commented on #375
Yep a draft approach for the timing log is nearly done.

[2017-03-19 08:01] rajatthakur opened #691 "Crash when user selects video that was just recorded"
#### Software and hardware versions
Collect v1.4.16, Android v6.0, Nexus 5

#### Problem description

Crash after choosing a recorded video.

#### Steps to reproduce the problem

1)Record a video.
2)Click on choose button.
3)Select the video that you just recorded.

#### Expected behavior

The recorded video should be played like any other video.

#### Other information
I discovered this issue whi

[2017-03-19 09:23] Ishmeetsingh97 commented on #562
Hi, @lognaturel Can i work on this issue ? I am familiar with timber.

[2017-03-19 09:30] Ishmeetsingh97 commented on #549
Hi, @lognaturel Can i work on it ?

[2017-03-19 09:35] Ishmeetsingh97 commented on #513
Hi, if its still open can i work on it ? @lognaturel

[2017-03-19 09:36] Ishmeetsingh97 commented on #466
Hi, if its still open can i work on it ? @lognaturel @yanokwa

[2017-03-19 09:38] Ishmeetsingh97 commented on #74
Hi, if its still open can i work on it ? @lognaturel @yanokwa

[2017-03-19 10:33] rajatthakur opened #693 "Static Variables"
In GeoShapeOsmMapActivity, GeoTraceOsmMapActivity and MapHelper Activities, static variables have been accessed through class instances. This is not considered a good programming practice and it would be great if all such occurrences are removed from the codebase.

[2017-03-19 11:00] rajatthakur opened #695 "Crash when user selects audio that was just recorded"
#### Software and hardware versions
Collect v1.4.16, Android v4.4.4, Motorola XT1022

#### Problem description

Null pointer returned on selecting recorded audio.

#### Steps to reproduce the problem

1. Go to the audio widget.
2. Record an audio clip.
3. Click on choose button and select the audio clip that you just recorded.

#### Expected behavior

The Uri of the chosen audio file should be ret

[2017-03-19 11:19] Ishmeetsingh97 commented on #466
Hi everyone, I've figured this out. The bug appears because the getPackageManager() methods works when called from an activity class. Since getVersionedAppName() method is made in an non-activity class the context of getPackageManager() method is null, hence the NPE.
The alternative best way is to use the BuildConfig class like this
[code]
This works just fine. I will be sending a PR for the same.

[2017-03-19 11:59] rajatthakur opened #698 "Remove deprecated method getWidth()"
The getwidth() method in Display class is deprecated and should be replaced with displaymetrics.widthPixels.

[2017-03-19 13:55] Ishmeetsingh97 opened #702 "Adding support for AppCompatActivity"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
For the time being the activities don't support AppCompatActivity.
Benefits of using AppCompatActivity :
It not only provide backwards compatibility to our app but also provides us the access to the Material Design Library too. After this we can easily add FloatingActionButtons, Snackbars,

[2017-03-19 14:04] Ishmeetsingh97 opened #703 "'_' used as an identifier"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
After compling the application a lot of warning messages appear due to the use of this '_', Which is not supported in JAVA SE 8

Here the complete warning
[code]
#### Steps to reproduce the problem
Just after compling the application on Android Studio must warning of such type occur.
#### E

[2017-03-19 14:08] yanokwa commented on #74
Hi @Ishmeetsingh97! Yes, please give this a go!

[2017-03-19 14:10] Ishmeetsingh97 opened #704 "Many static variables are used using the context of the activity."
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
After compling the application a lot of warning appear which point to many static variable which are called using the context the of activity which is not required and is an very old approach.

#### Steps to reproduce the problem
Compling the application and obversing the logs.
Complete war

[2017-03-19 14:12] yanokwa commented on #690
Please add your thoughts to this issue #464.

[2017-03-19 14:12] #690 closed, assigned to nobody

[2017-03-19 14:13] yanokwa commented on #434
@nmpatsal Sounds like you have a merge conflict. See https://help.github.com/articles/resolving-a-merge-conflict-using-the-command-line/

[2017-03-19 14:26] Ishmeetsingh97 commented on #74
Hi, @yanokwa Can you please brief me the work around ?

[2017-03-19 14:29] yanokwa commented on #74
I don't understand your question about a workaround. What we need is to find all the intents in Collect that external applications can use and document them here.

[2017-03-19 14:31] Ishmeetsingh97 commented on #74
Ok, I'll be sending a Google Docs link soon.

[2017-03-19 15:01] lognaturel commented on #549
@royrivnam I apologize for not seeing your comment earlier. Yes, that's correct, please finish it up and submit a pull request.

[2017-03-19 15:01] #549 closed, assigned to nobody

[2017-03-19 15:11] TamsilAmani commented on #464
Hello @lognaturel and @yanokwa

I am really interested in contributing for ODK Collect project. Here are some mock UI designs which I've made. Please open the link and see for yourselves. I'll be pleased to answer any questions and clear your doubts regarding the same. Do mention in comments if you feel like.

![1 1-screen 1-all](https://cloud.githubusercontent.com/assets/14896831/24081985/1578edd

[2017-03-19 15:21] lognaturel commented on #678
The intent for the single grid widget was that it duplicate the functionality of radio buttons which are not deselected on second tap. Any field can be cleared by long pressing on it. @yanokwa @nribeka  do you think this functionality should be added?

[2017-03-19 15:34] lognaturel commented on #686
@jnordling Can you say more? Are you against @getsanjeev's change? Currently, when location services are off, it is not possible to enter a GeoPoint activity. His change brings the user to settings to enable them if desired. Are you saying you'd rather a dialog? I think the proposed change is a good one since GeoPoint can't be used at all without location services enabled.

[2017-03-19 15:58] lognaturel commented on #695
I got
[code]
filed as #705

[2017-03-19 15:59] lognaturel commented on #695
Which app do you use to record audio?

[2017-03-19 16:18] lognaturel opened #705 "Audio recording widget doesn't work with Sony Audio Recorder app"
#### Software and hardware versions
v1.4.16-113-g3f707159, Android v6.0.1, Nexus 5, Sony Audio Recorder 2.00.30

#### Problem description
Crash when trying to use Sony Audio Recorder app from audio widget.

#### Steps to reproduce the problem
1. Open a form with an audio widget such as Widgets from the test server
1. Launch a recording application such as Sony Audio Recorder from the "record audio

[2017-03-19 16:18] lognaturel commented on #704
Please review existing issues before filing yours.

[2017-03-19 16:18] #704 closed, assigned to nobody

[2017-03-19 16:19] lognaturel commented on #703
This is an issue that will need to be fixed in the JavaRosa library.

[2017-03-19 16:19] #703 closed, assigned to nobody

[2017-03-19 16:20] lognaturel commented on #693
Please review existing issues before filing new ones.

[2017-03-19 16:20] #693 closed, assigned to nobody

[2017-03-19 16:20] getsanjeev commented on #705
@lognaturel I would like to look into it.

[2017-03-19 16:20] lognaturel commented on #702
Please review existing issues before filing new ones.

[2017-03-19 16:20] #702 closed, assigned to nobody

[2017-03-19 16:43] lognaturel opened #706 "Can't run in API 16 emulator (maybe caused by upgrade to Android Studio 2.3?)"
#### Software and hardware versions
Collect v1.4.16-113-g3f707159, Android 4.1.2, Nexus 5 emulator

#### Problem description
When launching Collect from master on an API 16 emulator, the error "Collect cannot access the SD card. Perhaps it is mounted via USB? (Current state: removed)". <strike>I have verified that there is an sdcard.</strike> AVD manager says that there is an SD card mounted but o

[2017-03-19 16:51] lognaturel opened #707 "Verify that Play Services upgrade is not required to run the app"
#### Software and hardware versions
Collect v1.4.16-113-g3f707159, Android 4.1.2, Nexus 5 emulator

#### Problem description
It should be possible to run the app without updating Google Play Services. Certain widgets may require the update as described in #488 but the basic app should run. I believe this is no longer the case. This may be causing the issue described in #706.

#### Steps to reprodu

[2017-03-19 16:54] shreyasnbhat opened #708 "Redundant TypeCasts exist in Project"
#### Software and hardware versions
Collect v1.4.16, Android v7.1.1, OnePlus 2

#### Problem description
Many redundant typecasts still exists in the codebase.

#### Expected behavior
Needs to be removed.

I'll send a PR.

[2017-03-19 16:55] yanokwa opened #709 "Bad submission_url causes crash on submission"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
Form with bad submission url crashes Collect on submission.

[code]

#### Steps to reproduce the problem
Create a form with a bad URL (e.g., `https:/server.com` instead of `https://server.com`). Fill out form and submit. To reproduce, try these forms:
* [bug.xlsx](https://github.com/opendatakit/collect/files/853365/bug.x

[2017-03-19 16:55] lognaturel commented on #708
Please look at existing issues before filing your own.

[2017-03-19 16:55] #708 closed, assigned to nobody

[2017-03-19 16:58] shreyasnbhat commented on #708
@lognaturel Extremely Sorry about this. Would take of this in the future.

[2017-03-19 16:59] shreyasnbhat commented on #513
@lognaturel
I have identified about 11 typecasts that need to be removed.
I could send a PR.
Should I?

[2017-03-19 17:03] lognaturel commented on #513
@vikasdesale We should move ahead on this. @lokeshkvn and @shreyasnbhat, you have both had a chance to get some quick wins merged so @Ishmeetsingh97 should go ahead. Thank you!

@Ishmeetsingh97 in your pull request, please describe how you made sure you handled all cases AND how you made sure it had no effect on behavior.

[2017-03-19 17:44] yadav-rahul commented on #706
@ln I tried on Samsung galaxy core running on Android version `4.1.2` and it is working fine. :)

[2017-03-19 17:45] lognaturel commented on #706
That's great news! What version of Google Play Services do you have installed?

[2017-03-19 17:47] yadav-rahul commented on #706
It is using version `10.2.98`.

[2017-03-19 17:48] lognaturel commented on #706
Thanks so much, @yadav-rahul. It seems more likely that #707 is the root cause of the problem I'm experiencing, then.

[2017-03-19 17:49] royrivnam commented on #464
Here is the mockup of the ui i have created on the basis of the screenshots you have given in the issue .. @lognaturel
![screenshot_2017-03-19-22-15-29](https://cloud.githubusercontent.com/assets/24889584/24083295/73b055e6-0cfa-11e7-85ab-e26b5fccf463.png)
![screenshot_2017-03-19-22-16-16](https://cloud.githubusercontent.com/assets/24889584/24083294/73af985e-0cfa-11e7-96ee-fffeeb2d62c1.png)
![scree

[2017-03-19 19:36] pratikmjoshi commented on #678
@lognaturel Sorry about that, didn't verify its functionality. However, the single selection grid widget would then need a check condition(toast) if the user accidentally selects more than one icon, which is not there(which is why I was unsure). On top of that, when long pressing and clearing the response, the orange frame around selected icons does not disappear, even thought field is cleared, wh

[2017-03-19 19:38] pratikmjoshi commented on #709
@yanokwa I'll work on this if its fine with you.

[2017-03-19 19:46] yanokwa commented on #709
Hi @pratikmjoshi! Please give it a try.

[2017-03-19 20:11] rajatthakur opened #711 "Hide Downloaded Forms"
The Get Blank Form Activity (FormDownloadList.java) shows all forms even the ones that are already present on the device.I feel only the new forms or the ones which have been updated should be made available for download.

#### Feature description
Hide downloaded forms from Get Blank Form Activity.

#### Expected behavior
Only the forms which are not already present on the device should be availab

[2017-03-19 20:24] pratikmjoshi commented on #709
@yanokwa I was planning to use Apache's urlValidator class to check for bad url. Is this a good way to go?

[2017-03-19 20:45] rajatthakur commented on #695
@lognaturel I used the default recoding app that comes with stock android.

<img src="https://cloud.githubusercontent.com/assets/24683388/24084596/de15e4ce-0d12-11e7-80d3-57c1775604a3.png" width="250" padding = "10">

[2017-03-20 04:06] shobhitagarwal1612 commented on #442
I have created a folder `odk-uploads` in case the folder doesn't exists, as suggested by @lognaturel to upload the photos with required access permissions. It's working perfectly. Now since the drive v3 api is used. So, the support for code written to `Get Blank Forms` from google drive is also removed. Now working on that part of this issue. I have also submitted a pull request so that the upload

[2017-03-20 04:20] shobhitagarwal1612 commented on #464
These are some of the mockups that I have designed to improve UI/UX of the app. https://docs.google.com/document/d/10opI1c82-K_B6EDwTKc5HiDt1PMU-Qe7lmkziDPNUEw/edit
Please give your reviews and comments. Also suggest what else needs to be done.
I have not finished designing all the screens so I will keep on adding more to the same link. Thanks :smile:

Edit:
Draft proposal link :
https://docs.goog

[2017-03-20 05:36] royrivnam commented on #549
okay i am submitting another pull request as soon as possible..sorry for not seeing the message earlier... but its showing the issue has been closed so should i submit another pull request again... @lognaturel

[2017-03-20 07:50] royrivnam commented on #549
@lognaturel new pull request submiited

[2017-03-20 13:27] lognaturel commented on #535
@batkinson Thanks for the fruitful discussion around this. As we have discussed, we will treat this as a special case and revert it immediately for the next release.

Do you think you will be able to address it before Wednesday's code freeze or would you like someone else to take it on?

[2017-03-20 13:30] lognaturel commented on #711
Please wait for discussion before making changes to existing behavior to make sure the changes are desirable given the software's use.

[2017-03-20 13:42] #513 closed, assigned to nobody

[2017-03-20 14:05] lognaturel commented on #442
That's great, @shobhitagarwal1612!

Does anyone have additional opinions on the placement of the photos? Is having them all in `odk-uploads` as a flat directory ok? Another option would be to have folders for each form by ID within that `odk-uploads` folder. With the old Picasa code, albums for each `jrformID` used to be created. The advantage is that it does group images somewhat more sensibly if

[2017-03-20 14:11] #698 closed, assigned to nobody

[2017-03-20 14:17] shobhitagarwal1612 commented on #442
Should the media type folder also be considered? For now we are only uploading the images. But since the scope has been broadened by using drive-api, so in future we can also upload sound, video, etc. So keeping that in mind, should the directory structure also include `media type` along with the `jrformId`?
@lognaturel @yanokwa @nribeka Any thoughts?

[2017-03-20 14:23] grzesiek2010 commented on #490
I am working on this as @shobhitagarwal1612 is busy and we need that for Wednesday's code freeze.

[2017-03-20 14:28] shobhitagarwal1612 commented on #490
@grzesiek2010 Thanks for taking it up.

[2017-03-20 14:55] jnordling commented on #686
No not against it at all, I know that for geopoint with the "map" or "placement-map" with appearance tags should have this functionality like the other geo-widgets inside the activity once you open the widget (I guess the regular geopoint got left out :(. I was just suggesting to use the same dialog. Sorry I should have been more specific to begin with @lognaturel. @getsanjeev good catch, I think

[2017-03-20 15:01] #466 closed, assigned to nobody

[2017-03-20 15:44] lognaturel commented on #562
Let's break this down to make sure we get it right. It would be good to get a first pull request JUST removing all calls on `e.printStackTrace`. If you'd like to do that, go ahead and comment and then take it on.

[2017-03-20 16:05] Ishmeetsingh97 commented on #562
Hi, @lognaturel Can i work on it?

[2017-03-20 16:12] anudeepti2004 commented on #562
@lognaturel : I can work on it. So basically there will be 2 PR's 1 to just remove all e.printStackTrace and 2nd one to have commits with the appropriate Log.x methods.

[2017-03-20 16:31] lognaturel commented on #562
@Ishmeetsingh97 Since you know Timber, how about you work on adding a `Tree` for Firebase Crash and verify that it works.

@anudeepti2004 That's right. Go ahead and do just the removal one. Then once we have @Ishmeetsingh97's `Tree` ready you can go straight to using `Timber` methods to do the logging right.

[2017-03-20 16:40] Ishmeetsingh97 commented on #562
Okay, @lognaturel I will give this a try and let you know my developments.

[2017-03-20 16:53] lognaturel opened #715 "Proposal: release next version as 1.5.0"
This next release drops support for Android API < 16 and makes several substantial changes. I would like to propose that its version be 1.5.0.

I think that previously, versions across ODK tools were used to indicate compatibility at the XForms level so versions of different tools were incremented together. I propose that we move away from that for now and work on communicating compatibility in ot

[2017-03-20 16:57] anudeepti2004 commented on #562
@lognaturel : Got it. Thanks

[2017-03-20 17:05] pratikmjoshi commented on #665
@lognaturel Can I move ahead with this issue? May I know the progress of issue #643?

[2017-03-20 17:21] lognaturel commented on #442
Good point about enabling more media types, @shobhitagarwal1612. I don't think we necessarily need to separate them, though.

@yanokwa and I discussed a bit offline and would like to propose `Open Data Kit/Submissions/jrformId/`. That way we have a nice, clear, top-level folder that we could eventually put more things in. It matches the convention used by other Google tools that write to drive suc

[2017-03-20 17:36] shobhitagarwal1612 commented on #442
Sounds great!
I'll make the suggested changes and send a PR as soon as I'm done making these changes

[2017-03-20 18:07] mitchellsundt commented on #715
No.

On Mon, Mar 20, 2017 at 9:53 AM, Hélène Martin <notifications@github.com>
wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-03-20 18:59] lognaturel commented on #562
@anudeepti2004 Once #717 is merged, if you would like to get started on replacing the log calls with Timber calls, please go ahead. Once #717 is merged you'll be able to update your local master branch and make a branch off of it. Then you can add the gradle dependency and always use the `DebugTree` for your verification.

This task may look simple but it's going to require carefully thinking abou

[2017-03-20 19:00] dcbriccetti commented on #311
Is this a step in the right direction?

![screen shot 2017-03-20 at 11 59 24 am](https://cloud.githubusercontent.com/assets/55099/24116653/b5b22f68-0d64-11e7-8344-79d0a575ed8c.png)

[2017-03-20 19:01] lognaturel commented on #311
Looks great to me!

[2017-03-20 19:46] yanokwa opened #718 "Save per-screen sorting options"
I think each screen that has the option to sorting forms, should persist that choice. And the selection slide out screen should have a different color (I like #2196F3) for the sort order that is selected.

[2017-03-20 20:08] #194 closed, assigned to nobody

[2017-03-20 20:28] dcbriccetti commented on #311
Is this what you mean by “hint text” in #3?

![form metadata](https://cloud.githubusercontent.com/assets/55099/24120209/026c89be-0d71-11e7-8614-343e3183eb51.png)

[2017-03-20 20:34] lognaturel commented on #706
Thanks to @nribeka and @yanokwa for trying out API 16 emulators. I tried the same emulator with 1.4.16 production which I previously ran in API 16 without trouble so I now think this has nothing to do with our code. Yay. It's still something that would be good to figure out because we do need to verify functionality in API 16.

[2017-03-20 22:07] dcbriccetti commented on #311
`Remove the code in PropertyManager that attempts to get a phone number from the device because it doesn't actually work.`

It’s working for me. Maybe I fixed it without being aware of it.

[2017-03-20 22:23] yanokwa opened #720 "Resize scanning UI to fit text"
If you have a form that is invalid (e.g., invalid XML), the error message that shows up in `Fill Blank Form` or `Get Blank Form` takes up two rows, when it should take up one row. This is likely because there is an extra newline.

![screen shot 2017-03-20 at 18 22 15](https://cloud.githubusercontent.com/assets/32369/24124457/3082bab6-0d9a-11e7-82ba-614a408037b5.png)

![screen shot 2017-03-20 at 17

[2017-03-20 22:28] dcbriccetti commented on #311
This should now look more like what Yaw was describing in https://github.com/opendatakit/collect/issues/311#issuecomment-285998064

![screenshot_1490048780](https://cloud.githubusercontent.com/assets/55099/24124612/c3296de2-0d81-11e7-9392-2c540c85fdab.png)

[2017-03-20 22:49] yanokwa commented on #311
@dcbriccetti I preferred the split you had previously. Maybe we should call them `User defined` and `Device defined`.

Phone numbers are not registered on all SIM so it's best if the phone number is left as user entered data.

[2017-03-20 23:18] dcbriccetti commented on #311
OK, I’ll remove the code from PropertyManager that gets the phone number from the device, and make it user-entered like the username and email.

How’s this?

![screenshot_1490051779](https://cloud.githubusercontent.com/assets/55099/24125971/9d00697a-0d88-11e7-9754-46449e1a9a8b.png)

[2017-03-21 01:30] anudeepti2004 commented on #562
@lognaturel : I totally agree. This would be a great way for me to get familar with the code base. I also have a suggestion (it is totally ok if you dont agree with the suggestion :)) , there are many methods in the code that do not have any Javadoc. Since I will be going through the code base anyway for this issue, will it be ok if I update the methods with missing Javadocs with the appropriate d

[2017-03-21 01:36] lognaturel commented on #562
@anudeepti2004 It is a good idea and we definitely do need more code documentation in the long run but we should do that separately. This is already going to be a big pull request and we're less likely to introduce errors by doing one thing at a time! Accurately documenting the code will take a lot of effort and I think it will be best done as part of refactors of the different classes.

[2017-03-21 05:08] Ishmeetsingh97 commented on #562
Hi, @lognaturel I am not very similar with firebase. Can you please brief me on the issue.

[2017-03-21 05:10] pranavgupta1234 opened #723 "adding toast message asking to press back again to exit"
#### Software and hardware versions
Android Lollipop 5.0.2 (API Level 21)

#### Problem description
Clicking on back button directly forces the app on background
#### Steps to reproduce the problem
Click android physical back button to close the app

#### Expected behavior
A toast message with asking user to press back again to exit toast is generated
#### Other information
Use a handler with post

[2017-03-21 05:10] pranavgupta1234 commented on #723
I would love to work on this issue :)

[2017-03-21 06:05] shobhitagarwal1612 commented on #442
Done :+1:

[2017-03-21 06:23] mkmar01 commented on #464
Hello
I am a CS Undergrad Student who aspires to contribute to the Open Data Toolkit Collect App and below is my proposed UI for this issue.

My UI/UX design provides better accessibility to users than the previous one with an improved look and feel.The design provides all the features with an easier availability for the user,
For Example : The delete option is on each card, which is quite noticea

[2017-03-21 07:12] getsanjeev commented on #718
@yanokwa you mean that in the slider, the current selected option (By name or By date or other) should be in different color? Have not understood well.

[2017-03-21 10:37] faizmalkani commented on #723
I'd suggest not implementing this behavior, since it's considered terrible user experience. If the user presses back, let them leave, don't add another press.

http://www.androiddesignpatterns.com/2012/08/exit-application-dialogs-are-evil-dont.html

[2017-03-21 10:54] grzesiek2010 commented on #723
I also think it's not a good pattern.

[2017-03-21 12:13] shobhitagarwal1612 commented on #650
Fixed in #722

[2017-03-21 12:53] rijuldhir commented on #720
Can i work on this ?

[2017-03-21 12:56] shobhitagarwal1612 commented on #720
This is fixed in #725.

[2017-03-21 13:34] lognaturel commented on #723
Thank you, @pranavgupta1234 for sharing your suggestions. This is not a feature that will increase the usability of the app so we would prefer not to include it.

[2017-03-21 13:34] #723 closed, assigned to nobody

[2017-03-21 13:45] smoyte commented on #311
Great work on this so far! Perhaps if the system returns a valid-looking phone number we could pre-set the field to that, but make it editable?

[2017-03-21 15:56] #720 closed, assigned to nobody

[2017-03-21 15:59] yanokwa commented on #715
Awesome, let's do it. [Semantic versioning](http://semver.org/) FTW!

[2017-03-21 15:59] #715 closed, assigned to nobody

[2017-03-21 16:44] shobhitagarwal1612 commented on #706
@lognaturel Works for me too. Tried running it on API 16 emulator with old play services and no play services, worked fine in both the cases.

[2017-03-21 16:46] shobhitagarwal1612 commented on #673
Fixed by #674

[2017-03-21 17:21] batkinson commented on #535
Hi @lognaturel, there was quite a bit of activity in the files that I was working in. There were just too many conflicts, which is why I ended up just closing the PR I submitted previously. If someone that has been reworking the related files is interested, don't let me hold things up.

[2017-03-21 21:03] dcbriccetti commented on #194
ResponseMessageParser fails parsing the error message, and as a result, the user doesn’t get to see it. In this case it is
`404 Unable to find form with matching Form Id as submission`

[code]

[2017-03-21 21:05] yanokwa opened #727 "Add ability to duplicate edited or finalized forms"
– From rrespondek@gmail.com

[2017-03-21 21:11] lognaturel commented on #194
@dcbriccetti a server message is a very specific thing which @jnordling described [here](https://github.com/opendatakit/collect/issues/194#issuecomment-275240108). This feature is not meant to parse any other kind of server response.

[2017-03-21 21:26] yanokwa opened #728 "Let color of empty lists be set by the operating system"
In the current builds of Collect, the empty screen (`Nothing available to display`) screen that shows up on list views (e.g., on Edit Saved Form and every other form list activity) are white (#ffffff). They should be light gray (#ededed).

This difference in coloring is likely because the gray color is set by the OS while the white color is set by the application. This is related to Issue #514.

<

[2017-03-21 21:33] yanokwa commented on #683
I am also not having this problem. And neither is CirceCI. I am closing this issue until @harshitdiwedi03 can provide a step-by-step so we can reproduce.

[2017-03-21 21:33] #683 closed, assigned to nobody

[2017-03-21 22:45] yanokwa commented on #706
@shobhitagarwal1612 What version of Android Studio are you running?

[2017-03-22 00:03] yanokwa commented on #706
This is a problem with the upstream tools. You can follow the issue at https://code.google.com/p/android/issues/detail?id=240155.

If you are working on ODK Collect for personal use, then you can try https://www.genymotion.com/fun-zone

[2017-03-22 00:03] #706 closed, assigned to nobody

[2017-03-22 00:23] yanokwa commented on #563
@getsanjeev Thanks for being so thorough with this! I think this makes the app just a little bit nicer without changing the size too much. Please send in a PR.

[2017-03-22 00:34] lognaturel commented on #706
Thank you, I was looking for something like that! Glad it's not our code.

@shobhitagarwal1612 out of curiosity, do you use an alternate emulator?

[2017-03-22 01:06] yanokwa opened #730 "Add blank line between results in all result dialogs"
**Download multiple files from Google Drive**
<img width="418" alt="screen shot 2017-03-21 at 20 52 01" src="https://cloud.githubusercontent.com/assets/32369/24177603/0010bd34-0e7a-11e7-98b7-6cf4b5ebd5fe.png">

**Reset application from Admin Settings**
<img width="412" alt="screen shot 2017-03-21 at 21 05 19" src="https://cloud.githubusercontent.com/assets/32369/24177620/1a78c4dc-0e7a-11e7-8d88-88

[2017-03-22 01:20] lognaturel commented on #464
These are all looking so good! It's great to see the different ways to think about this user interface. One thing I would like to make sure is clear is that you should not feel like you have to follow the sketches shared in the initial issue. They were only ideas and not meant to be taken as "the right way to go." If you think some of the elements there are good, great! But think carefully about w

[2017-03-22 01:43] lognaturel commented on #707
I've taken a closer look at this and 10084000 is the version in `AndroidManifest` and has been for a long time. It's entirely possible that I am mistaken when I remember being able to use v9.2xx. I think this is probably fine.

[2017-03-22 01:43] #707 closed, assigned to nobody

[2017-03-22 01:44] lognaturel commented on #705
@getsanjeev Just in case you didn't see my thumbs up -- please do!

[2017-03-22 01:45] lognaturel commented on #682
@supreme96 Do you have a sense of what you'd like the color picker interface to look like? I think that might help give you a sense of how many colors to include.

[2017-03-22 01:45] #652 closed, assigned to nobody

[2017-03-22 02:23] getsanjeev commented on #705
@lognaturel Sorry I didn't notice it. I will start by now.

[2017-03-22 02:36] shobhitagarwal1612 commented on #706
@yanokwa I use the latest build of Android Studio 2.3 (linux).
@lognaturel I used the emulators provided by the Android Studio sdk. Earlier(2 - 3 months ago), I also used `genymotion` as it's fast but since the release of `Android Studio 2.0`, the emulators of Android Studio work great as well.

[2017-03-22 05:11] supreme96 commented on #682
@lognaturel Yeah, i do have a layout in mind. Will post some sketches for consideration in the evening.

[2017-03-22 07:04] pranavgupta1234 commented on #728
I would love to work on this issue :)

[2017-03-22 07:22] pranavgupta1234 opened #731 "review presence of "largeHeap = true" from android manifest"
#### Software and hardware versions
Android 5.0.2 API Level 21

#### Problem description
largeHeap option is enabled

#### Steps to reproduce the problem
Check manifest file

#### Expected behavior
This option should be removed

#### Other information
refer : http://stackoverflow.com/questions/27396892/what-are-advantages-of-setting-largeheap-to-true

[2017-03-22 07:24] pranavgupta1234 commented on #731
I had mostly experienced that enabling largeHeap is not considered a good practice and causes bad user experience. @lognaturel  @yanokwa what are your views on this idea?

[2017-03-22 07:58] Ishmeetsingh97 opened #732 "UI Refinement for collect app buttons."
#### Problem description
I want to make an UI refinement for collect app to look better. I want to make of the corners of the buttons round on the main menu.
#### Expected behavior
Which would look something like this.
https://drive.google.com/open?id=0B_WC0sIXpPMadmY1RDFMdTNGQkU
#### Other information
Please assign the issue if you like the refinement.

P.S
The font will be the same as before. Th

[2017-03-22 09:35] rijuldhir commented on #727
I can try this with a bit of help @yanokwa

[2017-03-22 11:30] rijuldhir commented on #732
@Ishmeetsingh97 I think it will be covered under GSoC Project UI improvements

[2017-03-22 11:31] rishsethia commented on #272
Hello @yanokwa sir ,

Should I go ahead and upload the form on the server ?

[2017-03-22 13:04] rishsethia commented on #74
Hello, @yanokwa @Ishmeetsingh97 ,

I have already prepared the document .

Please have a look . It completely explains how to use collect's intent .

https://docs.google.com/document/d/1UX02GmovwSAWPK0xdDt1RwKqyY4n4_yA6Ltehb-PvP0/edit?usp=sharing

[2017-03-22 13:10] yanokwa commented on #731
@pranavgupta1234 Please search the git history and find out what commit added largeHeap. Is there a comment in that comment that explains why it was added?

[2017-03-22 13:15] pratikmjoshi commented on #727
@yanokwa I think the problem with this is classifying which fields are the same and which aren't, for example, a string field asking for a name could mean first, middle or last name. This can make copying cumbersome. I think one improvement for a future release can be that ODK Collect can create an account for a user, with his/her name, address, contact details, stored as account details. This way

[2017-03-22 13:19] batkinson commented on #731
@pranavgupta1234, like Yaw said, probably want to look at the reasons for the change. In this case, it looks like it was done for good reason. However, I wonder, is the interpretation and reason still the same once we bump the API version to 16+?
[code]

[2017-03-22 13:21] pratikmjoshi commented on #718
@yanokwa Can I work on this?

[2017-03-22 13:25] yanokwa commented on #718
@getsanjeev You are correct. The text color of the selected option should be 2196F3 (or whatever).

@pratikmjoshi Let's let @grzesiek2010 take this one since he's more familiar with that code base.

[2017-03-22 13:26] yanokwa commented on #732
@rijuldhir Agreed and for that reason, I'm closing this issue.

[2017-03-22 13:26] #732 closed, assigned to nobody

[2017-03-22 13:34] pranavgupta1234 commented on #731
I am also not too sure (needs research) also android doc says :
android:largeHeap
    Whether your application's processes should be created with a large Dalvik heap. This applies to all processes created for the application. It only applies to the first application loaded into a process; if you're using a shared user ID to allow multiple applications to use a process, they all must use this optio

[2017-03-22 13:39] #728 closed, assigned to nobody

[2017-03-22 13:40] nikialexopoulou commented on #424
May I work on this one?

[2017-03-22 13:54] yanokwa commented on #731
Release notes from https://github.com/opendatakit/opendatakit/wiki/Collect-Release-Notes say:

I'm guessing `largeHeap=true` is needed because the underlying JavaRosa library can run out of memory with complex forms.

@pranavgupta1234 If you want to remove this, we'll need a form that has this problem. One with lots of regex functions running on a low memory emulator might give you the memory prob

[2017-03-22 13:55] batkinson commented on #731
So, I am not sure whether there were test cases used to validate the original issue being addressed. If there are concrete examples of large forms we wish to support, it would be a good idea to use a memory profiler to look at where the actual memory is being tied up. Often, especially when people aren't regularly measuring the actual memory profile, you can make huge improvements without going wi

[2017-03-22 15:13] #535 closed, assigned to nobody

[2017-03-22 15:17] yprasant0 opened #735 "App crashes on cloning it and building it"
#### Software and hardware versions
Collect: the recent version , Android 7.0, device used motorola g4

#### Problem description:
The app gets crashed as soon as i built my gradle and i cant view any functionality.

#### Steps to reproduce:
 Clone or download the recent version of the app and run it on
your external device(phone).

#### Expected behavior
The app should open normally as it did in t

[2017-03-22 15:19] lognaturel commented on #735
Can you please include what operating system you're on, whether git is in your path and a stacktrace? If you need help getting any of those, let us know!

[2017-03-22 15:20] yanokwa commented on #735
Oh, and if you have an old fork, make sure you have updated because there was a fix in #697.

[2017-03-22 15:25] lognaturel commented on #311
@hooverlunch @dcbriccetti The challenge with that is knowing when to set it. Whenever the field is blank? But then how does the user indicate a blank phone number? Only the first time that the menu is viewed? If you have a good way around that, then it might be nice to have.

I really think that in practice very few physical phones will have phone numbers readable in this way. @dcbriccetti you're

[2017-03-22 15:26] yanokwa commented on #731
@pranavgupta1234 You can find some sample XML to start at https://groups.google.com/d/msg/opendatakit/dQpdVooTiKE/ubF3NuOl6REJ and https://groups.google.com/d/msg/opendatakit/tPTYUnHVNT4/xTgg45NfB_cJ. I would remove the larger heap and see if you can get it to crash on a low RAM emulator...

[2017-03-22 15:30] yprasant0 commented on #735
03-22 20:55:10.695 17423-17423/org.odk.collect.android E/AndroidRuntime: FATAL EXCEPTION: main
                                                                         Process: org.odk.collect.android, PID: 17423
                                                                         java.lang.RuntimeException: Unable to start activity ComponentInfo{org.odk.collect.android/org.odk.collect.android

[2017-03-22 15:31] yanokwa commented on #735
@yprasant0 Is git in your path? What operating system are on?

[2017-03-22 15:32] yprasant0 commented on #735
I am using ubuntu operating system.
Yes git is in my path way.

[2017-03-22 15:49] yanokwa commented on #727
@pratikmjoshi I don't think that's what the user wants (also, that functionality exists and is being improved at #311). I think they want to take an arbitrary form and duplicate it.

@rijuldhir Can you describe how this will look in the user interface so it's intuitive to users? Filled forms also have unique instanceIDs, how will you generate those?

[2017-03-22 16:01] lognaturel commented on #706
Got it, thanks @shobhitagarwal1612, seems pretty clear it's a Mac + Android 2.3 problem.

[2017-03-22 16:14] lognaturel commented on #258
👏👏 @grzesiek2010 👏👏

@alfikim Please look for this functionality in the Sunday 3/26 release!

[2017-03-22 17:02] yanokwa opened #736 "Improve validation of urls"
In UrlUtils, the way we check URLs is like so:

[code]

This fails with things that are probably not URLs, like `https:appspot.com` which technically is a URL, but you know, it's not a URL folks are likely to enter. I'd think we should do better.

We could search for the perfect URL regex, but [it doesn't exist](https://mathiasbynens.be/demo/url-regex). We can add [UrlValidator](https://commons.ap

[2017-03-22 17:07] dcbriccetti commented on #736
A small improvement: `^https?:\/\/.+$`

[2017-03-22 17:17] smoyte commented on #311
Yes, I think the default value, when ODK is installed, is the one read from the SIM. Once it's edited, it's gone.

My phone seems to know its phone number too.

[2017-03-22 17:18] dcbriccetti commented on #311
I’ve run on an HTC One, a Nexus tablet, and two emulated devices. I got the phone number from the HTC One smartphone, but I didn’t note on which of the others I got a phone number via
[code]

[2017-03-22 17:23] #258 closed, assigned to nobody

[2017-03-22 17:34] #625 closed, assigned to nobody

[2017-03-22 17:39] yanokwa commented on #272
@rishsethia How did you verify the form was working? When I try this on my Moto G4 running master, the second question fails with this error.

<img width="592" alt="error" src="https://cloud.githubusercontent.com/assets/32369/24212149/b67b11b6-0f04-11e7-8f09-1cbf5b5b4469.png">

[2017-03-22 17:47] rishsethia commented on #272
Hi @yanokwa

Yes sir , you are right ! I faced the same issue ! But this is due to a bug in the code !

At Line number 96 , in AlignedImageWidget , the if condition is wrong logically and should be replaced by ,

"  if (splits.length <= i) { "

Actually I solved the issue in my code but then forgot to mention it here !

Should I send a PR for the same ?

Thanks sir

[2017-03-22 17:52] yanokwa commented on #272
@rishsethia Good thing we have this sample form that you made! First, file an issue that documents the problem, then send in the pull request.

Also, please don't call me sir! You are the one doing the work, I should call you sir!

[2017-03-22 17:55] rishsethia commented on #272
@yanokwa ,

Okay Sure , going ahead and filing the issue !
And that is your humbleness sir ! :D

[2017-03-22 18:00] rishsethia opened #737 "Error Dialog in AlignedImageWidget incorrectly displayed"
#### Problem description
In an AlignedImageWidget , we get an error for no reason due to a bug in the code

#### Steps to reproduce the problem
Just using AlignedImageWidget in the form
<img width="592" alt="issue_odk" src="https://cloud.githubusercontent.com/assets/11053890/24213127/6f30a78c-0f57-11e7-8c32-65a0681c7100.png">

#### Other information
This is due to a simple bug in the AlignedImageW

[2017-03-22 18:10] #650 closed, assigned to nobody

[2017-03-22 18:17] rishsethia opened #739 "Unable to pick an instance in InstanceChooserList"
This is due to the fact that intent filter for the same is missing in android manifest .

android.intent.action.PICK is handled in the InstanceChooserList but there is no intent filter for it in the manifest

@yanokwa @lognaturel  Please review !

[2017-03-22 18:28] shobhitagarwal1612 commented on #442
Fixed in #722

[2017-03-22 18:47] yanokwa commented on #442
@calcahope You should see this fix in the next release of ODK Collect (~March 25th). Thanks so much for reporting the issue and for your patience!

[2017-03-22 18:47] #442 closed, assigned to nobody

[2017-03-22 18:53] yanokwa commented on #593
This was fixed by #615! 🎉👨🏿‍💻🎉

[2017-03-22 18:53] #593 closed, assigned to nobody

[2017-03-22 19:01] lognaturel opened #740 "Refactor FormHierarchyActivity so FORM_MODE extra isn't needed"
`FormHierarchyActivity` was originally designed to display a form's hierarchy and enable form editing. With the introduction of the "View Sent Form" feature, there was a need for a read-only form hierarchy. This was implemented by adding a string extra with key `ApplicationConstants.BundleKeys.FORM_MODE` which can have values `ApplicationConstants.FormModes.VIEW_SENT` or `ApplicationConstants.Form

[2017-03-22 19:09] lognaturel opened #741 "Back button when navigating "My Drive" goes all the way back to root"
#### Software and hardware versions
Collect v1.4.16-127-g4673b97e

#### Problem description
When protocol is set to "Google Drive, Google Sheets", it's possible to navigate through multiple layers of directories in the drive. The "Back" button always goes back to the root.

#### Steps to reproduce the problem
1. Set protocol to "Google Drive, Google Sheets"
1. Set the Google account to a user who

[2017-03-22 19:18] lognaturel opened #742 "PNGs are uploaded with jpg extension to Google Drive"
#### Software and hardware versions
Collect v1.4.16-127-g4673b97e

#### Problem description
PNG images are uploaded as JPGs to Google Drive. They get a .jpg extension but still appear to have transparency and the same size as the original PNG. When downloading the file, the extension can be changed to png.

#### Steps to reproduce the problem
1. Set the protocol to "Google Drive, Google Sheets"
1.

[2017-03-22 19:33] shobhitagarwal1612 commented on #742
I was thinking, we can now finally allow uploading of all kind of media files. Currently, we are filtering out only the images using the attribute value. By removing this check and checking the file content before uploading, we can add support for all kinds of files. That will fix this issue as well.
@lognaturel Any thoughts?

[2017-03-22 19:40] nribeka commented on #736
Are we just check the format of the url or do you want to actually check the url?

If we want to check the url whether it is valid and can be used, we probably want to issue HEAD call and see what we're getting? Or this is not gonna too much for folks in the field (consuming their data allocation)? This probably gonna help them making sure that they're actually entering correct server location.

[2017-03-22 19:44] nribeka commented on #735
I think your fork is two commits behind this fix. If you update your fork with upstream, you won't run into this issue again because of #697.

Please update it first and see if you still run into this issue.

[2017-03-22 19:50] krishnarai30 commented on #464
I am Krishna Rai a sophomore year student at Delhi Technological University, Pursuing B.Tech Computer Engineering.
I have prepared a mockup UI for ODK Collect.
Here is my opinion on some of the issues with upgrading the UI of the application.

**Q. Why is your proposed UI an improvement over the current one?**

A. The UI proposed by me in the below-mentioned mockup has an edge over the current one

[2017-03-22 19:52] nribeka commented on #727
Why can't this just be a complete copy pasta of the db record and the instance xml @yanokwa? I think we probably just need to do that right? And then the user can adjust the values of separate instances as needed?

[2017-03-22 19:59] yanokwa commented on #736
I don't think we want to actually check the URL, we just want to check the format. Checking the URL requires the server to be up (duh) but there are times when you want to pre-configure the devices first.

[2017-03-22 20:03] yanokwa commented on #727
No copy pasta on this one, @nribeka. I think we want to treat this like a new instance (so new timestamped filepath and new instance ID) created at the time you hit duplicate, but with the exact data inside. One gotcha is what to do with multimedia. We can copy it over, but then it's the same name as the original. That could cause problems in downstream tools.

[2017-03-22 20:13] shobhitagarwal1612 commented on #727
We can append timestamp to the filename.
`eg. sample-image-20170323-014415.jpg`

[2017-03-22 20:51] lognaturel opened #744 "Support additional media types with Google Drive, Google Sheets protocol"
With #722, Google Drive became the storage location for images attached to Google Sheets submissions (it was formerly Picasa). This means media types other than images can now be supported by the Google Drive, Google Sheets protocol.

This addition should also address #742, PNGs currently being uploaded as jpgs.

[2017-03-22 20:51] #742 closed, assigned to nobody

[2017-03-22 20:55] grzesiek2010 commented on #424
@nikialexopoulou I think it's not assigned so why not. @lognaturel

[2017-03-22 20:57] shobhitagarwal1612 commented on #744
May I handle this as well?

[2017-03-22 20:59] lognaturel commented on #744
Sounds good, @shobhitagarwal1612. It will go in the next release so no rush!

[2017-03-22 20:59] pratikmjoshi commented on #741
@lognaturel I'll handle this if its ok.

[2017-03-22 20:59] lognaturel commented on #741
Sounds good, @pratikmjoshi

[2017-03-22 21:03] #490 closed, assigned to nobody

[2017-03-22 21:07] yanokwa opened #746 "Remove unused resources"
When you run `./gradle lint`, a report is generated at `collect_app/build/reports/lint-results.html` with potential problems with Collect. Find the `Unused resources` section, confirm those resources are unused, then remove them.

This might seem straightforward, but it is not. Lint sometimes reports resources unused if you use them in code instead of XML. Given that, before you send in a PR:

1.

[2017-03-22 21:09] yanokwa opened #747 "In strings, ellipsis string can be replaced with ellipsis character"
When you run `./gradle lint`, a report is generated at `collect_app/build/reports/lint-results.html` with potential problems with Collect. Find the `Ellipsis string can be replaced with ellipsis character` section and fix those.

[2017-03-22 21:09] lognaturel opened #748 "Copy connected Android test results to CircleCI artifacts"
Running connected Android tests creates a report in `collect_app/build/reports/androidTests/connected/`. This should be accessible from the [CircleCI](https://circleci.com/gh/opendatakit/collect/tree/master) artifacts tab just like junit and lint reports.

[2017-03-22 21:15] nribeka commented on #727
I looked at the naming scheme for the media file and it seems to be using currentTimeMillis().

I mean it's a copy pasta but still you need to follow the naming convention for the instances, media etc. Not a complete copy pasta, but copy pasta nonetheless I think 🤣

I say spike on this and iterate over it.

[2017-03-22 21:56] championoverthinker commented on #747
Can I work on this?

[2017-03-22 21:57] lognaturel commented on #747
Yes please, @sjain281297

[2017-03-23 01:10] #310 closed, assigned to nobody

[2017-03-23 06:20] ghost opened #752 "Printing from Zebra iMZ printer"
#### Collect v1.4.16, Android v4.0.2, Zebra iMZ220
### Issue 1
#### Printing from Zebra iMZ printer
My main aim is to print an ODK Collect generated barcode (QRCode) from Zebra iMZ printer.
First I wanted to know the printing capabilities of the printer with Collect and therefore I've installed ODK Zebra sensors and ODK Zebra printer on my device as outlined in documentation
Below is an example i

[2017-03-23 08:19] grzesiek2010 opened #753 "The spreadsheet is not resized."
#### Software and hardware versions
Current master branch

#### Problem description
The spreadsheet is not resized when we send column names.

#### Steps to reproduce the problem
Send finalized form using spreadsheet.

#### Expected behavior
The spreadsheet should be resized as earlier (we should remove unnecessary columns).

#### Other information
It was [here](https://github.com/opendatakit/coll

[2017-03-23 11:13] ykayacan commented on #736
Hello! Do you consider about using Android's built in WEB_URL pattern matcher?

Example utility code is below.

public static boolean isUrl(String url) {
        Pattern p = Patterns.WEB_URL;
        Matcher m = p.matcher(url.toLowerCase());
        return m.matches();
}

[2017-03-23 12:06] pranavgupta1234 opened #754 "instead of using deprecated method startManagingCursor (which is UI blocking) use Loaders instead( Asynchronous, Event driven and Non UI Blocking)"
#### Software and hardware versions
Android 5.0.2 API Level 21

#### Problem description
Usage of deprecated method startManagingCursor

#### Steps to reproduce the problem
Open MainMenuActivity

#### Expected behavior
Data should be loaded asynchronously

#### Other information
Use Loaders :
The new Loader API is a huge step forward, and significantly improves the user experience. Loaders ensure

[2017-03-23 12:07] pranavgupta1234 commented on #754
For more reference : http://www.androiddesignpatterns.com/2012/07/loaders-and-loadermanager-background.html
@yanokwa any views on this idea ?

[2017-03-23 12:14] haseeb33 commented on #746
I want to work on this can you please guide how can I contribute?

[2017-03-23 12:17] supreme96 commented on #682
@lognaturel here's a sketch of a possible color picker interface -
![interface mk1](https://cloud.githubusercontent.com/assets/15019358/24247112/57382698-0ff0-11e7-8908-fb65f256e3e7.jpg)

PS: i couldn't get the image to upload in landscape orientation. Would appreciate if someone could tell me hw to do it :)

[2017-03-23 12:23] yanokwa commented on #746
@haseeb33 Start at https://github.com/opendatakit/collect/blob/master/README.md, be sure to read https://github.com/opendatakit/collect/blob/master/CONTRIBUTING.md, then if you have a specific question about this issue, ask.

[2017-03-23 12:33] haseeb33 commented on #746
Sure, Thanks!

[2017-03-23 12:34] yanokwa commented on #736
@krialix Yes, I considered it. For one, it depends on a fixed list of top level domains which change quickly and so you get different behavior on different versions of Android. See http://stackoverflow.com/a/29771086. Have you found this tradeoff acceptable in your use of Patterns.WEB_URL? Have you confirmed that it reports URLs like `https:appspot.com` as invalid?

[2017-03-23 12:36] yanokwa commented on #746
Good luck, @haseeb33. And please make sure your PR explains how you verified functionality.

[2017-03-23 12:38] #735 closed, assigned to nobody

[2017-03-23 12:39] haseeb33 commented on #746
Sure, I will try my level best to deliver best.

[2017-03-23 12:41] yanokwa commented on #424
@nikialexopoulou Please go ahead!

[2017-03-23 12:51] getsanjeev commented on #705
@lognaturel Not only your crash, When I try to record an audio on my android (4.4.2) with sony audio recorder app (2.00.30) the audio is not saved, though app does not crash. I will fix it soon.

[2017-03-23 13:50] yprasant0 commented on #735
@nribeka i updated it still it is crashing.

[2017-03-23 13:54] yanokwa commented on #735
In your Terminal, what happens if you type `which git`.

Then inside the collect folder that has `README.md` what happens if you type `git describe --tags`

[2017-03-23 14:14] dhruv2601 commented on #464
I am Dhruv Rathi, a sophomore at Delhi Technological University, India currently pursuing Bachelor of Technology in Computer Engineering.
Hereby, I present my mock-up for the update of UI/UX of ODK Collect.

Here is how I plan to meet the current requirements:

Q. Why is your proposed UI an improvement over the current one?
A. The UI I propose in the mock-ups focuses on the following features and

[2017-03-23 14:53] haseeb33 commented on #746
Inspect code(lint) showed 4123 results.
Now doing find usage method for every resource.
Is this method reliable to remove unused resource?

[2017-03-23 15:16] shobhitagarwal1612 commented on #753
@grzesiek2010 Please review

[2017-03-23 17:31] getsanjeev opened #757 "Cursor not closed"
#### Software and hardware versions
Collect v1.4.16, Android v4.4.2, device used...

#### Problem description
PossibleCursorLeak:content://org.odk.collect.android.provider.odk.instances/instances,QueryCounter:5
                                                                             android.database.sqlite.DatabaseObjectNotClosedException: Application did not close the cursor or database objec

[2017-03-23 18:43] dcbriccetti commented on #378
@mitchellsundt, did you find a better way than re-instantiating ODKView after every change? I discussed this issue with @jnordling, and he and I were both unable to imagine a “straightforward change” that would solve this. If you think of something more that would help, I’d love to hear it. Thanks.

[2017-03-23 19:34] #753 closed, assigned to nobody

[2017-03-23 19:38] lognaturel commented on #757
Yes, and I believe it's not the only one! I think if you just navigate around the app with logcat running for a bit you'll see several more examples of the same.

[2017-03-23 19:43] lognaturel opened #758 "Generate and print QRCode from ID"
From @WambuiKaranja:

From collected information on Collect, I want to generate an id which will be printed as a barcode(QRCode) via Zebra iMZ220.
Here is an example I have tried,

![image](https://cloud.githubusercontent.com/assets/12542345/24234029/31616dec-0fa7-11e7-8907-6fd222dc800d.png)

Can the above generate a QRCode I am looking for? Has anyone printed a barcode?

[2017-03-23 19:44] lognaturel commented on #752
Thank you for including so much detail, @WambuiKaranja! Does anyone have a Zebra printer that they could use to help troubleshoot this? @grzesiek2010 maybe?

I re-filed the question about QR code generation as #758 because I think it will be addressed separately.

[2017-03-23 19:46] yanokwa commented on #752
@mitchellsundt Does anyone at the lab have this kind of printer?

[2017-03-23 20:03] anudeepti2004 commented on #562
@Ishmeetsingh97 : Have you made any progress on this issue? I have made some progress regarding the Timber logging and inorder to test them. I did the config changes and added a firebase tree. If you are not working on this issue anymore please let me know so that I can commit those changes.

[2017-03-23 20:10] lognaturel commented on #562
That's great, @anudeepti2004. We merged in some big changes for the upcoming release -- I hope those weren't too disruptive for you. You'll want to make sure that you pull from master to get the latest. We're in feature freeze between now and Sunday so it's a great time to do this kind of across-the-codebase change.

@Ishmeetsingh97, since @anudeepti2004 knows how to do the Firebase Tree, how abou

[2017-03-23 20:14] anudeepti2004 commented on #562
Thanks. :)
I making some progress on the across-the-codebase change. Since there is a code freeze till Sunday. Shall I commit the changes regarding the Firebase tree and config changes (adding timber dependencies) on Monday?

[2017-03-23 20:15] lognaturel commented on #562
@anudeepti2004 You can submit the pull request any time you want. Earlier means there's more time for review! Ideally it would be the first thing to get merged for the April release (Monday is the start of that release cycle).

[2017-03-23 20:24] #686 closed, assigned to nobody

[2017-03-23 22:45] ykayacan commented on #736
@yanokwa Yes it reports invalid. We use this pattern in our app and worked well for now, but I like to test it for other Android versions (currently we tested it on Android 7.1.1).

Moreover, if it is not valid for older Android versions maybe you can consider to add URL_VALID_DOMAIN from [Regex class](https://github.com/twitter/twitter-text/blob/master/java/src/com/twitter/Regex.java) which is ac

[2017-03-23 23:18] pranavgupta1234 opened #759 "closing drawer on pressing back button in activities"
#### Software and hardware versions
Android 5.0.2 API Level 21

#### Problem description
pressing back button closes the drawer as well as activity

#### Steps to reproduce the problem
press back button say in FormChooserList activity
![old](https://cloud.githubusercontent.com/assets/21027310/24274053/fc77ca2c-104b-11e7-8042-977a964f044a.gif)

#### Expected behavior
Pressing back button should clo

[2017-03-23 23:21] pranavgupta1234 commented on #759
should I go for a PR for this ?

[2017-03-23 23:24] lognaturel commented on #759
Good one! Yes please, @pranavgupta1234.

[2017-03-23 23:53] nap2000 commented on #257
Its probably time to move to close off the design stage and get feedback on what should be included in the final build.

The design is in https://docs.google.com/document/d/1LqVlVpePjA7Q1snjhA_ZQoDuzFqbtQcIygwcEzO_LJs/edit?usp=sharing.  Final comments please!

I have created a pull request containing a prototype for the implementation of this issue.  https://github.com/opendatakit/collect/pull/760

[2017-03-24 04:21] shobhitagarwal1612 commented on #758
We can create QRCodes offline using [ZXING](https://github.com/zxing/zxing).
[code]

[2017-03-24 07:05] ghost commented on #758
Thank you @shobhitagarwal1612 but is there a simplified way for a non developer?
Thanks

[2017-03-24 07:32] Khadomax opened #762 "Zebra MZ220 Printer Intergration with ODK collect issue"
Please help me print barcode from an ODK Collect.
My Printer Zebra MZ220 is pairing through Bluetooth with an android device but it’s not printing through ODK collect.

From a different app, Zebra Print station printing is taking place.

Is there anything else we need to do to make this successful?

Stanley

#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### P

[2017-03-24 08:28] shobhitagarwal1612 commented on #758
So do you want to print the QRCode right from the collect app?

[2017-03-24 09:37] ghost commented on #758
Yes i want to print a QRcode id from collect @shobhitagarwal1612

[2017-03-24 10:29] ghost opened #763 "Disjoint aggregated data"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
My projects aims at collecting data on some subjects over a period of time and at different stages/times. I have therefore developed one xlsform with sub-sections in groups(stages). Using a cascading select I am able to select the stage I want to fill information. Now the challenge is, while I am able to collect all the

[2017-03-24 10:50] ghost opened #764 "Referencing data in a different group"
#### Software and hardware versions
Collect v1.4.16.x, Android v5.0.2..

#### Problem description
I've one xlsform with 5 subsections designed as groups. When I fill one subsection, the form is submitted. Now, how do I reference data in the filled group such that if a subject died, then it will be omitted in the next group?

Thank you.

#### Steps to reproduce the problem

#### Expected behavior

[2017-03-24 12:54] pranavgupta1234 opened #765 "closing drawer on pressing back button in FileManagerTabs activity ( it contains fragments , related to issue #759)"
#### Software and hardware versions
Android 5.0.2 API Level

#### Problem description
pressing physical back button closes drawer as well as activity

#### Steps to reproduce the problem
press physical back button in "Delete Saved Form" section

#### Expected behavior
Only drawer should be closed (if open) and (if not open) then activity should be closed

[2017-03-24 14:49] lognaturel commented on #762
Thank you for reporting this, @Khadomax. It is a duplicate of #752 so I will close this issue and ask you to please join the discussion there. We have not yet identified a developer with this kind of printer so it will be difficult to troubleshoot. Any additional information you can provide would be helpful. Is there any error show? Does Collect crash (close suddenly)? Has it ever worked with prev

[2017-03-24 14:49] #762 closed, assigned to nobody

[2017-03-24 17:33] nribeka opened #768 "Adding second account breaks Google Drive"
#### Software and hardware versions
Collect v1.4.16, Android 6.0, Moto X Pure

#### Problem description
When I add a second gmail account, the collect break with NPE.

#### Steps to reproduce the problem
* Ensure your google account is not connected to ODK yet: [Google Account Permissions](https://myaccount.google.com/permissions) (If you have not visited this in a while, now is a good time to go

[2017-03-24 17:42] #765 closed, assigned to nobody

[2017-03-24 17:42] #759 closed, assigned to nobody

[2017-03-24 17:43] lognaturel commented on #768
@nribeka Can you add a stack trace please?

[2017-03-24 17:49] #748 closed, assigned to nobody

[2017-03-24 17:50] nribeka commented on #768
The error logs similar to this, I'm getting this from the master branch:

    03-24 13:38:42.171 15916-15982/org.odk.collect.android E/GoogleDriveActivity: null
        com.google.api.client.googleapis.extensions.android.gms.auth.GoogleAuthIOException
        at com.google.api.client.googleapis.extensions.android.gms.auth.GoogleAccountCredential$RequestHandler.intercept(GoogleAccountCredential.jav

[2017-03-24 17:51] nribeka commented on #768
@lognaturel I think the best way to try to reproduce this issue is using accounts that never connect to Collect before.

[2017-03-24 18:55] nribeka opened #770 "Crash when pausing Collect on GoogleDriveActivity"
#### Software and hardware versions
Latest build from master, Android 6.0, Moto X Pure

#### Problem description
The app crash when pausing the activity after listing out the drive content.

#### Steps to reproduce the problem
* Change platform to Google Drive, Google Sheets in general settings
* Go to get blank form section
* Press the button to pause activity (option button)

#### Expected behav

[2017-03-24 19:25] lakshyagupta21 commented on #768
@nribeka I tried running the app on Nexus 5 Android 6 by following the steps that you mentioned but could not be able to produce any error.

[2017-03-24 19:31] nribeka commented on #768
@lakshyagupta21 have you ever connect your Collect to your drive before and did you remove ODK from your authorized application? I can get this somewhat consistently (sometimes I can get to the Drive).

[2017-03-24 19:36] lakshyagupta21 commented on #768
Yeah i connected once but i removed ODK from authorized applications and tested for my other 4 accounts as well which are not connected with ODK before.

[2017-03-24 20:28] lakshyagupta21 commented on #770
Can I work on this issue ?

[2017-03-24 21:41] lognaturel commented on #770
Yes, please, @lakshyagupta21!

[2017-03-24 21:52] lognaturel commented on #768
Created a new account and wasn't able to reproduce this on physical Nexus 5, Android 6.0.1. @nribeka Did you only get it with a new account or also with an existing account that you've revoked authorization for? When you get the failure, what happens if you relaunch Collect and try again?

[2017-03-24 23:15] grzesiek2010 opened #771 "Crash when try to open a folder form GDrive after removing access"
#### Software and hardware versions
Current master branch

#### Problem description
Crash when try to open a folder form GDrive after removing access.

#### Steps to reproduce the problem
1. In general settings, change the platform to "Google Drive, Google Sheets"
2. Select your primary gmail account for the google account.
3. Go to get blank form section
4. Wait for files
4. Remove access for ODK

[2017-03-24 23:17] grzesiek2010 commented on #771
I realized that the same stacktraces are in https://github.com/opendatakit/collect/issues/770
My steps are different but probably it's one issue.

[2017-03-24 23:19] grzesiek2010 commented on #770
@lakshyagupta21 please look at #771 as well.

[2017-03-24 23:24] grzesiek2010 commented on #768
@lognaturel @nribeka I wasn't able to reproduce this issue as well.

[2017-03-24 23:27] grzesiek2010 opened #772 "Fix RtlHardcoded lints"
When you run ./gradlew lint, a report is generated at collect_app/build/reports/lint-results.html with potential problems with Collect. Find all with RtlHardcoded id and fix those.

@sjain281297 you've fixed #747 quickly so maybe you want to take this one as well?

[2017-03-24 23:27] grzesiek2010 commented on #747
@lognaturel We can close this one. It's fixed.

[2017-03-25 07:42] rishsethia commented on #740
@lognaturel
Yes , this is true . And also when launching collect through external intents , the current way of handling is via these constants , which are redundant in that case and not needed !
If you want , I want to work on the same !

[2017-03-25 13:42] championoverthinker commented on #772
@grzesiek2010 sure :+1:

[2017-03-25 13:51] pranavgupta1234 opened #773 "replacing the deprecated attribute singleLine with maxLines for edittext"
#### Software and hardware versions
Android 5.0.2 API Level 21
#### Problem description
usage of deprecated attribute
#### Steps to reproduce the problem
check for edittext say in drive_layout xml file
#### Expected behavior
maxLines="1" should be used instead

[2017-03-25 15:07] lognaturel commented on #773
I believe #659 already addresses this, it's just waiting for @shreyasnbhat to fix the behavior!

[2017-03-25 15:07] #773 closed, assigned to nobody

[2017-03-25 15:09] shreyasnbhat commented on #773
@lognaturel Sorry for the delays!
Would be working on it from next week. I have been quite busy!

[2017-03-25 15:44] pranavgupta1234 commented on #773
@lognaturel sorry I didn't check that

[2017-03-25 15:45] lognaturel commented on #773
It's all right, @pranavgupta1234, thanks to both you and @shreyasnbhat for helping out with Collect!

[2017-03-25 15:50] lognaturel commented on #737
Thanks for building the monster form and looking into this, @rishsethia! I must admit this is not a widget I'm familiar with. Given the comments on the class, it appears that there is a "Aligned-image camera app" which is [here](https://github.com/opendatakit/alignedcamera). Did you try it out and make sure your fix makes sense with it?

I'm kind of wondering whether we should just deprecate this

[2017-03-25 16:04] #737 closed, assigned to nobody

[2017-03-25 16:18] lognaturel opened #775 "Deprecate or replace AlignedImageWidget"
It appears that `AlignedImageWidget` was created along with the separate [aligned-camera app](https://github.com/opendatakit/alignedcamera) to help users take aligned photos. The aligned-camera app takes up to 6 parameters describing an overlaid bounding box that the user will see when taking a picture. It was supposed to be possible to leave later parameters blank but there was a logic error in t

[2017-03-26 01:45] #771 closed, assigned to nobody

[2017-03-26 01:53] #770 closed, assigned to nobody

[2017-03-27 00:18] yanokwa commented on #747
Closed by #750

[2017-03-27 00:18] #747 closed, assigned to nobody

[2017-03-27 10:08] grzesiek2010 commented on #170
I faced this problem today. Daylight Saving Time started in Poland on last Saturday https://www.timeanddate.com/time/change/poland I'm not sure but I think everything worked well last week so maybe this bug takes place only during summer time.

[2017-03-27 10:57] shobhitagarwal1612 commented on #775
I think we can get the desired results using [`surface view`](https://developer.android.com/reference/android/view/SurfaceView.html)

- Create an activity for capturing photo along with all the required options(for aligning the photo)
- Saving the photo to disk for preview
- Displaying the preview in a fragment with confirmation buttons
- If it's OK, then return from the activity with the required

[2017-03-27 11:14] shobhitagarwal1612 commented on #768
Hi all!. I also wasn't able to reproduce the bug

[2017-03-27 13:26] yprasant0 commented on #735
Sorry was not there.Yeah the fork was old, i got it fixed with new fork.

On Thu, Mar 23, 2017 at 7:24 PM, Yaw Anokwa <notifications@github.com>
wrote:

--

Prasant Kumar Yadav
B-tech ECE
Amrita University
Github <https://github.com/yprasant0>

[2017-03-27 13:33] lognaturel commented on #768
@nribeka Are you still able to reproduce it?

[2017-03-27 13:38] lognaturel commented on #170
Ah, very interesting, @grzesiek2010! I presume the problem is at the JavaRosa level but could you please see if you can find where it happens?

[2017-03-27 13:42] grzesiek2010 commented on #170
@lognaturel I think you are right and the problem is at the JavaRosa level. Interestingly evertything is ok when I use DateTimeWidget (then time is ok). I'll try to investigate this.

[2017-03-27 13:42] nribeka commented on #768
Seems to be working this time @lognaturel. I think we can close it for now?

[2017-03-27 13:44] lognaturel commented on #768
Cool! I think #767 may have also addressed it.

[2017-03-27 13:44] #768 closed, assigned to nobody

[2017-03-27 13:46] lognaturel commented on #768
Oops, #776 rather.

[2017-03-27 13:51] jkpr commented on #257
Sorry to jump in late, @nap2000 @lognaturel. We at PMA2020 have been using something very similar now for slightly more than a year, and we have found it very useful for tracking enumerator times. We make a log that has timestamped events. @joeflack4 commented on it earlier in the thread, but there wasn't much followup. It seems you are pretty far down your own development path, so I will link to

[2017-03-27 20:46] smoyte commented on #170
I believe @yanokwa knows the root cause of this. We discussed it quite some time ago. It's still a thorn in the side of the Carter Center folks...

[2017-03-27 20:57] smoyte opened #781 "Configure Server Settings by scanning 2D barcode"
Since server settings (especially username and password) are not good candidates for bulk configuration, it seems that using 2D barcodes for quick entry of settings would be nice to have and would greatly simplify fleet configuration.

The developer of this issue could come up with the encoding for what to store in the barcode based on whatever makes coding this easiest. ELMO and other consumers c

[2017-03-27 21:00] smoyte commented on #452
FYI we've decided to go with the external app idea here. I got the breath counter thing working pretty easily and it's a good template to work from. Thanks for the idea!! I'll be sure to share it once it's done.

So I'd be fine with closing this issue out if you like.

[2017-03-27 22:12] yanokwa commented on #170
@hooverlunch I don't think I know the root cause. If we talked about it, maybe you can send me an email on that thread or a link? Either way, time zones recently changed. Are you seeing a change in frequency from before the time zone change?

[2017-03-27 22:22] yanokwa commented on #781
I love the idea of using barcodes for settings, but why not all settings? It seems like that'd be more flexible.

For barcode generation, I'd bias to doing it on the device. You can configure one parent device the way you want, generate the barcode on that parent, then the children device scan that one. This way, you don't need Internet or a printer to bulk configure.

[2017-03-27 22:30] nap2000 commented on #257
Hi @jkpr.  I had a look at your code which I'm not going to think much about at the moment.  Someone else might want to suggest if we should incorporate that into the solution.

 I've also had another look at your output file which I should have looked at more thoroughly before.

1. What do people think about showing duration inside a question within a single line or having two events EP and LP?

[2017-03-27 23:32] lognaturel commented on #775
@shobhitagarwal1612 That's sounding very good!

[2017-03-27 23:56] lognaturel commented on #257
@nap2000 This is all looking very awesome to me! And thanks @jkpr for sharing your implementation.

@nap2000, in 1, am I understanding correctly that EP is something like enter prompt and LP is leave prompt? I don't really have a strong feeling either way. I thought it would be slightly simpler to log entry and exit events separately but you seem to have managed a good implementation with both in

[2017-03-28 00:42] lognaturel commented on #452
Fantastic! I'm looking forward to seeing it and don't hesitate to ask if you have any questions on how to approach it.

[2017-03-28 00:43] #452 closed, assigned to nobody

[2017-03-28 01:16] shobhitagarwal1612 commented on #775
What tools are required in this widget for capturing aligned images?

[2017-03-28 05:07] #605 closed, assigned to nobody

[2017-03-28 05:30] ghost commented on #752
Good morning all,
I there some progress on this issue? kindly help.
Thanks

[2017-03-28 05:31] shobhitagarwal1612 commented on #781
Using **2D barcodes** will make configuring of app much easier. Also, we can add a share button to send the generated **2d barcode** image remotely too. This would require addition of another option of `Choose an image` along with `Scan a 2D Barcode`.
@yanokwa Any thoughts?

[2017-03-28 12:26] grzesiek2010 commented on #170
As I mentioned above I faced this problem this week. Now I'm sure it's related to summer time. The problem occurs only when we use TimeWidget and everything is ok when we use DateTimeWidget. Why? Because If we use TimeWidget we set only time and date has default value - 1970-01-01. Please look at this table https://pl.wikipedia.org/wiki/Czas_letni#Czas_letni_w_Polsce there is no english version bu

[2017-03-28 14:31] lognaturel commented on #427
@shobhitagarwal1612 I believe @grzesiek2010 has made some progress on this. @grzesiek2010 is that right?

[2017-03-28 14:49] grzesiek2010 commented on #427
@lognaturel yes and @shobhitagarwal1612 knows about it as we've talked on slack. Sorry I should have added a comment.

[2017-03-28 14:51] lognaturel commented on #427
@shobhitagarwal1612 @grzesiek2010 Sounds good! I just want to make sure we don't duplicate work.

If you're chatting about features, don't hesitate to discuss in #collect-code.

[2017-03-28 14:54] yanokwa commented on #758
This will require some work on the XForms spec first, so I've filed an issue at https://github.com/opendatakit/xforms-spec/issues/101.

[2017-03-28 14:57] yanokwa commented on #763
Hi @WambuiKaranja! Since this is a form design question it belongs on email opendatakit@googlegroups.com. I'm closing this issue for that reason.

[2017-03-28 14:57] #763 closed, assigned to nobody

[2017-03-28 14:58] yanokwa commented on #764
Since this is a form design question it belongs on the mailing list. Please email it to opendatakit@googlegroups.com. I'm closing this issue for that reason.

[2017-03-28 14:58] #764 closed, assigned to nobody

[2017-03-28 16:30] lognaturel commented on #740
@rishsethia That would be great. Please think carefully about the concepts each class represents and don't hesitate to talk in #collect-code about your approach.

[2017-03-28 16:32] lognaturel commented on #775
@shobhitagarwal1612 I'm afraid I don't quite understand your question! What do you mean by tools? If you're talking about physical devices, I do think this was originally designed to be used with some kind of box that would ensure a constant distance from the item being photographed.

[2017-03-28 16:53] #637 closed, assigned to nobody

[2017-03-28 16:55] lognaturel commented on #562
@anudeepti2004 I'm going to start merging in some of the open pull requests. I'll try to avoid any that make too many logging-related changes so that you can merge the changes in without too much trouble.

[2017-03-28 17:13] #744 closed, assigned to nobody

[2017-03-28 18:26] icemc commented on #512
@nribeka @lognaturel  sorry for not responding to your call. I was not feeling fine lately and was absent for a while. please let me know if the issue hasn't be taken yet. Thanks

[2017-03-28 19:21] lakshyagupta21 commented on #464
@lognaturel Please suggest or comment on the mockup proposed by me.Still there are things that needs to be added like wireframes for different screen dimensions (Tablets). I'll update them as well whenever it gets finishes.
[Link to Google Doc](https://docs.google.com/document/d/1vLvsbMRS6szBF1ex3zqNf9A97_FRmkYwHLgfg6HcRjE/edit?usp=sharing)