[2017-03-28 19:56] shobhitagarwal1612 commented on #775
By tools I meant what are the things that help taking aligned photos  in this widget. Eg. Gridlines, sensors, etc.

[2017-03-28 20:23] lognaturel commented on #775
Currently, it seems to be two bounding boxes created with these parameters - outerRecWidth, outerRecHeight, innerRecWidth, innerRecHeight, innerRec-x-offset, innerRec-y-offset. I must admit I haven't compiled the camera app to actually try it!

[2017-03-28 20:24] lognaturel commented on #772
Closed by #774

[2017-03-28 20:24] #772 closed, assigned to nobody

[2017-03-28 20:27] dcbriccetti opened #784 "Missing error messages on Google auth failures"
There are places in the code where exceptions are caught, and the user should be notified with an appropriate level of detail, but isn’t. Examples:

- GoogleSheetsUploaderActivity catches a GoogleAuthException, but all the user sees is “Sorry, no form was uploaded.” To reproduce, fail to perform the Google Drive setup tasks described in the Collect README.
- GoogleDriveActivity shows no response t

[2017-03-28 20:37] saurabhjn76 commented on #784
may I work on this?

[2017-03-28 20:59] shobhitagarwal1612 commented on #600
Fixed in #661

[2017-03-28 22:04] #600 closed, assigned to nobody

[2017-03-28 22:04] lognaturel commented on #600
Thanks @shobhitagarwal1612!

[2017-03-28 22:09] lognaturel commented on #784
That would be great, @saurabhjn76. I would recommend starting with a pull request that addresses the two specific examples @dcbriccetti mentioned. You'll have to make sure to think carefully about what those exceptions mean and what kind of message will provide enough detail for users.

Then you can go through the app and add a list of other areas where you see error messages with insufficient det

[2017-03-28 22:20] yanokwa commented on #464
Hi everyone! I've been looking through a lot of these mockups and there is a lot of focus on the main screen and form lists. That's great, but users spend most of their time filling out forms, so be sure to suggest approaches there too. I'm particularly interested in how you'd change how [repeats](http://xlsform.org/#repeats) work.

[2017-03-28 23:04] shobhitagarwal1612 commented on #695
fixed in #696

[2017-03-28 23:41] lognaturel commented on #257
@mberg @ChrisCorey @MartijnR @yanokwa  Any last comments to make on the general approach or the prototype at #760 before @nap2000 builds The Real Deal?

[2017-03-28 23:52] lognaturel commented on #678
It turns out there were a ton of bugs related to these widgets. #679 fixed some of the bugs did not change the behavior of tapping on a selected grid item to unselect it. Is this something we'd like to do?

[2017-03-29 00:01] anudeepti2004 commented on #562
Sure. Thanks. I apologize for the late response. I was a little busy with GSOC proposal and school work.

[2017-03-29 00:02] lognaturel opened #785 "Long pressing on grid widgets should clear the selection visually"
#### Software and hardware versions
Collect v1.5.1

#### Problem description
Long pressing on a GridWidget or a GridMultiWidget clears the selection but doesn't update the visuals.

#### Steps to reproduce the problem
1. Open a form with a grid widget and a grid widget multi-select such as New Widgets
1. Long press on either widget to pop up the clear response prompt
1. Clear the response, nothing

[2017-03-29 00:03] saurabhjn76 commented on #784
-  GoogleAuthException(GoogleSheetsUploaderActivity): denotes an authorization problem such as invalid client
  Error message - "Authentication Failed: Please verify credentials and try uploading the forms again"

 - GoogleAuthIOException(GoogleDriveActivity):
Error Message: "Authorization Failed: Unable to fetch drive contents"

Are these messages fine?

[2017-03-29 00:05] #695 closed, assigned to nobody

[2017-03-29 00:08] lognaturel opened #786 "Update open source licenses as needed"
We have added and removed some dependencies but haven't updated the open source licenses to match. For example, gdata and guava are no longer required.

Make sure that all dependencies listed in the gradle file and in the lib file have the correct open source license listed. Remove any dependencies that aren't included anymore.

[2017-03-29 00:09] lognaturel commented on #746
@haseeb33 I think @yanokwa's original writeup answers this question! Consider doing this as several small pull requests.

[2017-03-29 00:10] #673 closed, assigned to nobody

[2017-03-29 00:11] lognaturel commented on #665
@pratikmjoshi I'm sorry, I must have gotten confused, those aren't really related! Yes, please go ahead.

[2017-03-29 01:01] nap2000 opened #787 "required message not working"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
A custom required message is not showing when I try to skip a required question. Instead "Sorry, this response is required is shown"

#### Steps to reproduce the problem
1. Add message in required_message column of xlsform
2. Set question to required
3. Convert to XForm using http://opendatakit.org/xiframe/
4. Copy to an

[2017-03-29 03:48] krishnarai30 commented on #786
@lognaturel onto it!

[2017-03-29 03:50] krishnarai30 commented on #785
@lognaturel will be solving this ASAP!

[2017-03-29 05:10] shobhitagarwal1612 commented on #691
@lognaturel Fixed in #692

[2017-03-29 06:55] grzesiek2010 opened #788 "Fix lints with "Deprecated" id"
When you run ./gradlew lint, a report is generated at collect_app/build/reports/lint-results.html with potential problems with Collect. Find all with "Deprecated" id and fix those.

@sjain281297  are you interested in?

[2017-03-29 14:04] pratikmjoshi commented on #785
@lognaturel I think I had raised a similar issue in #678, could you please clarify?

[2017-03-29 14:41] yanokwa commented on #731
@pranavgupta1234 Would you like to take this on?

[2017-03-29 14:58] abdulwd commented on #559
@lognaturel @wonderchook May I work on this issue?

[2017-03-29 15:07] yanokwa commented on #559
@abdulwd Absolutely! But before you send in a PR, please describe roughly how you'll be solving this problem...

[2017-03-29 15:30] abdulwd commented on #559
@yanokwa I'll add a **Language** option in the **General Settings** under the header **USER INTERFACE** which will open a radio group dialog displaying the languages available. Selection of a language will change the locale of the app.

[2017-03-29 15:38] yanokwa commented on #559
@abdulwd That sounds good to me. Looking forward to your PR!

[2017-03-29 15:55] abdulwd commented on #559
@yanokwa Do I have to assign or claim this issue or I may start working on it? :)

[2017-03-29 16:21] ChrisCorey commented on #257
Everything I’ve seen so far seems great.  Regarding the issues that have been raised:

I agree that including responses does not add new information and can be omitted from the file.  Would the current logging feature be retained and provide the added detail if someone wanted all form event?

I have no opinion about the field separator

It shouldn’t make a difference, but I’m drawn to the example

[2017-03-29 16:38] lognaturel commented on #559
Go for it, @abdulwd. Do keep in mind as someone mentioned previously that there are languages supported by Collect that may not be supported by the phone itself. You should make sure that all Collect translations are available in the list.

[2017-03-29 16:39] lognaturel commented on #786
Thanks @krishnarai30!

[2017-03-29 16:39] pranavgupta1234 commented on #731
Sure @yanokwa I will try it out :)

[2017-03-29 16:40] yanokwa commented on #752
@clarlars graciously tried this out and here's what she found.

@WambuiKaranja can you try this [printerForm.xlsx](https://github.com/opendatakit/collect/files/880713/printerForm.xlsx) file and see what you find?

[2017-03-29 17:03] yanokwa opened #791 "Add form level support for auto-send and auto-delete"
**Problem**
We have a user whose campaign has forms that need to be deleted on send because they are sensitive. The same user has other forms that need to be kept on the device because the data is useful to the day to day work of the enumerator.

**Proposal**
In the settings sheet of the XLSForm, we will add an `auto_send` and `auto_delete` heading. If the values underneath this heading is `true`,

[2017-03-29 18:31] clarlars commented on #752
I'd also like to add that the development branches of the sensorsframework and sensordrivers are not production ready.  More changes are expected to both of these code bases.

[2017-03-29 18:59] wbrunette commented on #752
To be informative. The master branch is what most people should be looking as the "development" branch is not in production ready and more changes are coming to that branch as Clarice mentioned. When the changes are finished they will be moved to the master branch.

Also it's wise to pay attention to the release tags if you want to pull in code from other repos to make sure it matches (the gradle

[2017-03-29 19:20] lognaturel commented on #752
@WambuiKaranja Has this ever worked for you before? Are [these](https://opendatakit.org/use/sensors/zebra-printer-driver/) the instructions that you followed? Did you install the [sensors framework](https://play.google.com/store/apps/details?id=org.opendatakit.sensors&hl=en) and the [Zebra printer driver](https://play.google.com/store/apps/details?id=org.opendatakit.sensors.drivers.zebra.bt&hl=en)

[2017-03-29 19:28] wbrunette commented on #731
Confirming @yanokwa "I'm guessing largeHeap=true is needed because the underlying JavaRosa library can run out of memory with complex forms." People who have complex forms (e.g. 500+ questions, some people have 1000+ question form) can run out of memory with JavaRosa, largeHeap enables more memory for the process on the mobile device.  Unfortunately, JavaRosa is not written in a memory efficient w

[2017-03-29 23:58] nap2000 commented on #286
The current signature widget seems to have gone backwards from its previous capabilities.  The phone switches into landscape mode for signature but then only shows a small portrait style window within that to take the signature.  End results is that captured signature images are a lot smaller than the used to be and in portrait.  At least thats what it seems to me.

If this is correct should I rai

[2017-03-30 00:00] lognaturel commented on #286
@nap2000 Strange, I wonder when that happened. Should be a separate issue, I think. That's something we should fix for the next version.

[2017-03-30 00:28] clarlars commented on #752
I was able to print using a Zebra MZ 320 printer with a Nexus 6 running Android 5.1.  I used the Play Store versions of ODK Collect 1.5.1, ODK Sensors Framework, and the ODK Zebra Printer Driver.

[2017-03-30 00:29] lognaturel commented on #752
Great news, thank you @clarlars!

[2017-03-30 00:36] nap2000 opened #794 "Signature widget in portrait mode"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
The current signature widget seems to have gone backwards from its previous capabilities. The phone switches into landscape mode for signature but then only shows a small portrait style window within that to take the signature. End results is that captured signature images are a lot smaller than the used to be and in por

[2017-03-30 03:52] lognaturel commented on #785
Thanks, @krishnarai30!

@pratikmjoshi, long pressing to clear answers is standard across widgets and something that should be supported for all of them. Data collectors are trained to use it. This issue is to fix that.

See my comment [here](https://github.com/opendatakit/collect/pull/679#issuecomment-289938690) regarding what #679 did address and what still needs to be considered in #678. Does th

[2017-03-30 04:05] lognaturel opened #796 "FormEntryActivityRuleTest sometimes failing on CircleCI"
Builds such as [this one](https://circleci.com/gh/opendatakit/collect/300#artifacts/containers/0) occasionally crash on a `NullPointerException` in FormEntryActivityRuleTest:
[code]

This is not systematic and I have not been able to reproduce it locally. Rebuilding fixes it.

[2017-03-30 06:41] Khadomax commented on #752
Dear Team,
I used everything from Playstore version

………..
Thanks,
Kind Regards,
Stanley

From: Hélène Martin [mailto:notifications@github.com]
Sent: Wednesday, March 29, 2017 10:21 PM
To: opendatakit/collect
Cc: Stanley | Total Solutions; Mention
Subject: Re: [opendatakit/collect] Printing from Zebra iMZ printer (#752)

@WambuiKaranja<https://github.com/WambuiKaranja> Has this ever worked for you

[2017-03-30 07:03] rijuldhir commented on #794
I can work on this @lognaturel

[2017-03-30 08:14] Ishmeetsingh97 commented on #665
Hi, @pratikmjoshi Are you still working on it ?
I would like to solve this one.

[2017-03-30 09:00] pratikmjoshi commented on #665
@Ishmeetsingh97 Yeah, I'm still working on it. I was waiting for a confirmation.

[2017-03-30 09:31] grzesiek2010 opened #797 "Refactor AppListActivity and AppListFragment"
We use [AppListActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/AppListActivity.java) for lists which extends ListActivity and [AppListFragment](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/fragments/AppListFragment.java) for lists which extends ListFragment. AppListFrag

[2017-03-30 12:38] shobhitagarwal1612 opened #799 "Use onSaveInstanceState to retain activity state instead of using configChanges"
#### Problem description
Using `configChanges` is a bad practice for retaining the state of the activity. This has been used in [GoogleSheetsUploaderActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/AndroidManifest.xml#L155), [GoogleDriveActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/AndroidManifest.xml#L117), etc.

#### Expected b

[2017-03-30 12:48] shobhitagarwal1612 commented on #797
I'd like to handle this issue.

[2017-03-30 13:08] shobhitagarwal1612 commented on #797
This can be achieved by converting other ListActivities into ListFragments as well. I have already done this before for some activities in this [PR](https://github.com/opendatakit/collect/pull/552)
But it is proposed in some GSoC proposals and also in [mine](https://docs.google.com/document/d/19FEwVFovP4GDqTMiJF-FeCF46FnsEHZAmbd_o1hBYfo/edit#) that the use of list views should be replaced with rec

[2017-03-30 14:28] lognaturel commented on #797
That's a good point, @shobhitagarwal1612. It does seem likely that the change to `RecyclerView` will happen so waiting for that seems like a fine idea. @grzesiek2010 does that sound good to you?

[2017-03-30 14:31] lognaturel commented on #794
Thanks, @rijuldhir! If you want to just make the usable space fill the screen, go ahead.

Alternately, if you're interested in more fundamentally improving the widget, go ahead and describe what you have in mind here and we can discuss. (It's totally ok to just make the usable space wider and in fact, it might be a good place to start even if you do want to rethink the widget.)

[2017-03-30 14:50] lognaturel commented on #167
@vgmd Apologies for not responding to your question! Please find us in Slack [here](http://slack.opendatakit.org) if ever you need more answers.

In the mean time, @alxndrsn has expressed interest in addressing this.

[2017-03-30 18:08] alxndrsn commented on #620
I'd be interested in taking a shot at this, but it might be tricky to test.  Is there a server online that I can check basic functionality against?

[2017-03-30 18:13] alxndrsn commented on #620
@mitchellsundt over on #611, you said:

Any more info on this one?

[2017-03-30 21:23] alxndrsn commented on #242
@yanokwa at medic we use SMS submissions exclusively with out deployments of Collect.  They are processed by [`medic-webapp`](https://github.com/medic/medic-webapp/).  We'd be happy to submit a PR with our SMS-submission code as-is.

Longer-term it might make more sense to have a cleaner submission API within Collect which would make implementing different submission methods simpler (standard XML-

[2017-03-30 22:54] yanokwa opened #802 "Select-one with compact-list appearance is not rendered properly"
From gabriel.jugaro48@gmail.com
![45803475-5052-4fae-a37d-4415a99859b5](https://cloud.githubusercontent.com/assets/32369/24529523/f78f6a8c-1560-11e7-8764-b385d4673623.jpg)

[2017-03-31 00:03] lognaturel commented on #802
@grzesiek2010 I think you're the most familiar with this code these days, could you please take a look and see if you can find out what the problem might be? From the screenshot, I think the problem they're referring to is that multiple elements can be selected but I'm not sure.

[2017-03-31 00:19] lognaturel commented on #802
Also, @yanokwa has asked the person who reported the issue to attach a form so we can also wait for that!

[2017-03-31 00:22] lognaturel commented on #242
Cool to know you've added SMS submission to your version of Collect! Could you please start by briefly describing how you've structured your approach and point us to the relevant code?

I totally agree with your vision of a well-structured and well-documented submission API. Let's talk about your current implementation a bit and then we can also discuss an "ideal" that would require significant se

[2017-03-31 01:31] rockydcoder commented on #757
Could not reproduce this in Android 6.0. Is it version specific?

[2017-03-31 01:59] rockydcoder commented on #799
`onSaveInstanceState` is already being used in those activities. What we need to override is `onRestoreInstanceState`. And then we can remove the `configChanges` from manifest

[2017-03-31 04:07] #167 closed, assigned to mitchellsundt

[2017-03-31 06:25] dcbriccetti commented on #311
![screen shot 2017-03-30 at 11 39 36 pm](https://cloud.githubusercontent.com/assets/55099/24539201/35af8f7c-15a2-11e7-8729-26281cae9a49.png)

[2017-03-31 06:49] nap2000 commented on #794
Given this worked a couple of versions ago.  It would be good to get a first fix that undoes the recently introduced problem first.  Any improvements could then be applied as a separate pull request.

[2017-03-31 07:12] alxndrsn commented on #242
@lognaturel the bulk of the work's done in [`InstanceUploaderTask.smsOneSubmission()`](https://github.com/medic/medic-collect/blob/e97bb371330ed391027027c5cf458249e181b2b6/src/org/odk/collect/android/tasks/InstanceUploaderTask.java#L140), which is used instead of HTTP transmission when the user clicks the _Submit by SMS_ button in the `InstanceUploaderList` activity.  @abbyad may be able to help w

[2017-03-31 07:20] dcbriccetti commented on #311
The coding is done for the migration, if the scheme shown in the spreadsheet above is acceptable. I plan to test more Friday. Maybe somebody wants to pair with me on testing.

[2017-03-31 10:18] ghost commented on #752
Hi guys,
Finally the codes worked just fine even on a different printer (have tested on Zebra RW220).
Your contributions are much appreciated. Big up to @clarlars .

Thanks and best regards
Wambui

[2017-03-31 10:41] grzesiek2010 opened #803 "Keep selected sorting order when you use filtering"
Keep selected sorting order when you use filtering. Currently filtered list is not sorted according to selected order.

I'm working on it as it's strongly related to https://github.com/opendatakit/collect/pull/798

[2017-03-31 10:45] grzesiek2010 commented on #802
I wasn't able to reproduce the issue so let's wait for more information.

[2017-03-31 13:20] smoyte commented on #311
Wow, nice work!

[2017-03-31 13:23] #752 closed, assigned to nobody

[2017-03-31 14:19] grzesiek2010 opened #805 "Add possibility to sort filtered list"
Currently when we use filtering and then we want to sort the list search box is closed and we can see all elements. It should be good to be able to sort filtered list and keep only matching elements.

I'm working on this.

[2017-03-31 16:32] jgrojas commented on #802
Hi guys

Thanks for taking some minutes to take a look of this issue. Actually the question is a select_one type (See attached image) and when you switch the first selection it appears not to visual refresh the selection. if you advance to the next question and then return to que select_one question the appereance is showed correctly.

Thanks and regards.

![image](https://cloud.githubusercontent.

[2017-03-31 16:46] jgrojas commented on #802
I send the form in excel with the question.

Thanks...

[Error_select_one.xlsx](https://github.com/opendatakit/collect/files/886374/Error_select_one.xlsx)

[2017-03-31 17:37] lognaturel commented on #786
Closed by #792

[2017-03-31 17:37] #786 closed, assigned to nobody

[2017-03-31 17:37] lognaturel commented on #794
@nap2000 Agreed, that's a good way to proceed. So @rijuldhir, start with getting back to how it worked and then if you're interested, you can file a separate issue to improve it.

[2017-03-31 17:50] rijuldhir commented on #794
@lognaturel Will make space fill the screen in this issue first and will be working on improving widget on another PR. Sorry to reply late was just a little busy on GSoC Proposal.

[2017-03-31 17:50] lognaturel commented on #794
No problem, @rijuldhir, there's no big rush on this so feel free to do it after your GSoC proposal is submitted!

[2017-03-31 17:51] rijuldhir commented on #794
Sure . Thanks @lognaturel

[2017-03-31 17:51] lognaturel commented on #794
Well, unless @nap2000 needs a patch for his build now? Otherwise it will be released with the April release.

[2017-03-31 18:04] pratikmjoshi commented on #785
Ahh yes it makes sense.

[2017-03-31 19:20] getsanjeev commented on #757
@rockydcoder I have not given much thoughts to it till now. I will come back to you in a while. What I think is it shouldnt.

[2017-03-31 19:58] smoyte commented on #781
@shobhitagarwal1612 Nice idea about sharing the image and picking it on another phone. I guess that should be tracked as a separate issue. Not sure when you all split these up...

[2017-03-31 20:03] smoyte commented on #781
@yanokwa The reason I drew the line at just server settings was 1. it's the only thing you can't really use bulk config for, and 2. I'm not sure about capacity constraints.

A reasonably sized QR code holds about 1KB of alphanumeric data. You can push it to 2-4KB if you really need to but that makes them harder to read and more error prone.

If you can come up with an encoding that comfortably fit

[2017-03-31 20:36] yanokwa opened #808 "label / list-nolabel appearance issue"
From neridavid.martinez@gmail.com
File: [bug.zip](https://github.com/opendatakit/collect/files/886864/bug.zip)

[2017-03-31 20:43] smoyte commented on #781
@yanokwa Having the phone able to generate the codes would be a cool feature but wouldn't work for us. The appeal for us is to be able to configure a fleet of devices with different credentials for each device. Imagine a workflow like this:

1. create user in ELMO
2. scan code with phone
3. put phone in box
4. get a new phone and repeat

If you think of the settings as ALL_SETTINGS = CREDENTIALS +

[2017-03-31 21:09] smoyte commented on #170
@yanokwa Not sure about you knowing the root cause. This is what you said:

involves time (which is horrible, see
http://infiniteundo.com/post/25326999628/falsehoods-programmers-believe-about-time).

As to whether it's still an issue, I just went through the steps above with the attachment above in v1.4.14 and the problem persists.

So I think we can remove the 'needs reproduction' flag from this

[2017-03-31 21:30] lognaturel commented on #170
😆 I think all @yanokwa meant by that is that a fix would require touching JavaRosa.

@grzesiek2010, if I understand correctly, you're saying that the problem occurs for `TimeWidget` because it uses the default date of 1970-01-01 which in most timezones had no concept of daylight savings time. Did I get that right?

I think that @grzesiek2010's simple fix would fix all cases EXCEPT for the first op

[2017-03-31 21:32] smoyte opened #809 "Repeat group UI redesign"
I think we can all agree that repeat groups could be more usable. This has been mentioned elsewhere -- see #168 for example. I made a new issue here because the title of that one understates the need for a rethink IMO.

The new design should perhaps also incorporate the question jumping screen as it seems the problem of jumping into an existing repeat and creating a new repeat are related.

By the

[2017-03-31 21:33] lognaturel commented on #170
I think I got that wrong. I think the problem with the proposed fix shows up if you've saved a form in standard time and now read it in daylight savings time?

[2017-03-31 21:35] lognaturel commented on #168
Broader issue filed at #809.

[2017-03-31 21:35] #168 closed, assigned to mitchellsundt

[2017-03-31 21:36] lognaturel commented on #80
Broader issue filed at #809.

[2017-03-31 21:36] #80 closed, assigned to mitchellsundt

[2017-03-31 21:37] nap2000 commented on #794
@ln would you plan to release an update such as this on the 1.4 branch as well as the 1.5 branch?

[2017-03-31 21:41] nap2000 commented on #794
I should have replied to your question.   No I can wait until the April release.

[2017-03-31 21:42] smoyte commented on #170
@lognaturel I will try that if I get time but I'm about to be out for a week.

[2017-03-31 21:42] lognaturel commented on #794
We haven't been doing maintenance releases unless there's an ask for specific features/fixes. Do you have devices that were cut out by the API increase? We could certainly do it, especially if you volunteer to prep the release branch! 😬

[2017-03-31 21:44] lognaturel commented on #170
Cool, have a nice week @hooverlunch and we'll look forward to hearing back. If that works for you, we can likely include it in the April release.

[2017-03-31 21:50] nap2000 commented on #794
Hmm.  No won't volunteer to do that :).  Managing the branches in my collect fork is enough.  There are obviously devices that have been cut out by the release although I don't have any specific examples of users.   I know the customer who raised the issue only has recent devices.  I think your approach is fine there should only be a very small number of changes that require an update to 1.4.

[2017-03-31 22:48] lognaturel commented on #242
Thanks, that's great! I will give that implementation a careful look hopefully soon and let you know what thoughts and questions come up.

Right, yes, I was thinking about the receiving end and what kind of structure of data / split of form into multiple SMSs it would be able to interpret. Now I understand what you are talking about and that would also be nice to have standardized and made easily

[2017-03-31 22:51] nmpatsal opened #810 "Empty try-catch blocks"
In the file `AdminPreferencesActivity` we have two empty catch blocks I mention it as a minor enhancement. Should I add something in as an exception message?
I added comments where empty catch blocks exist.

**Problem**

[code]

[2017-03-31 22:55] lognaturel commented on #810
Yes, those aren't very nice! There are a lot of empty catch blocks across the code base because we are moving towards better crash logging and started with a first pass removing all `e.printStackTrace` calls. @anudeepti2004 will be adding proper logging in those empty blocks soon with #562 I believe.

[2017-03-31 23:33] #434 closed, assigned to nobody

[2017-03-31 23:40] lognaturel commented on #139
Thank you, @tsamaya!

Could an API key be bundled with the released Collect app and support an arbitrary number of users? I haven't read through the agreement but I suspect not.

Is this an addition that what3words is interested in contributing?

[2017-03-31 23:42] lognaturel commented on #546
I'm sorry I let this sit for so long! Yes, I think it's best to close for now, make a decision on dialogs more generally and then decide how we want to implement those changes.

[2017-03-31 23:42] #546 closed, assigned to nobody

[2017-04-01 01:26] shobhitagarwal1612 commented on #644
@lognaturel  We can create a small utility class which contains all permission checks being used in the app.
Then use the same class everywhere and handling the permission check results in `onRequestPermissionsResult()`

[2017-04-01 01:27] dcbriccetti opened #811 "Error-level log messages for normal conditions"
Here’s an example:
[code]

Change to info or debug, or whatever is appropriate.

[2017-04-01 08:45] rijuldhir commented on #811
Sure will be on it.

[2017-04-01 10:28] getsanjeev commented on #808
@yanokwa I am new to it. But I would like to work.

[2017-04-01 10:58] SIMRAN1 commented on #788
I am intrested in solving this issue.Shall I proceed??

[2017-04-01 12:05] Ishmeetsingh97 commented on #797
@lognaturel @shobhitagarwal1612 @yanokwa  Indeed, It is a good idea to convert all the listviews to recyclerview due to performance issues.
I would like to contribute here if possible.

[2017-04-01 12:12] grzesiek2010 commented on #788
@simran1 please go ahead

[2017-04-01 13:50] SIMRAN1 commented on #788
@grzesiek2010  I have found 3 layouts with Deprecated resources,
27 files with  Deprecated API usage
6 obsolete gradle dependencies.
Do I have to change all of these?
Please give me a clear idea about what should I do?

[2017-04-01 13:50] abbyad commented on #242
Sorry for the silence on this issue, I hadn't noticed the original mention. So far we've had full control of the forms being deployed with our version of Collect, so we've had the benefit of being able to limit the field types and length of the forms.

Happy to help answer questions about SMS as they come up!

[2017-04-01 14:10] haseeb33 commented on #746
Sure, I will do it in small pull requests. for example for animations(1 PR), for strings(1 PR), similar type of images(1 PR) and similar but there are two ways to remove unused resources.
1. gradle lint(I think which is not very accurate in our case)
2. find the usage of each item in whole project. if the item exists keep it otherwise delete it(which I am re-commanding)
Maybe we have more ways to

[2017-04-01 16:53] rockydcoder commented on #811
@lognaturel @dcbriccetti
I fixed this. Please review and merge.

[2017-04-01 18:01] rockydcoder commented on #622
@shobhitagarwal1612 is there a pattern to this behaviour? I tried it for a couple of times and it ran successfully.

[2017-04-01 18:27] rijuldhir commented on #811
@rockydcoder It is nice that you want to contribute to it but I have already done it and going to open PR. So you should close this PR and try another issue.

[2017-04-01 18:53] grzesiek2010 commented on #788
@SIMRAN1 follow the steps described above. You have to find all lints in that file with "Deprecated" id, as I remember there are about 7 lints in this category and all of them are related to layout files. Each lint is described so you can find out where is the problem (which file and which line).

[2017-04-01 18:54] rockydcoder commented on #811
@rijuldhir , I did not see this issue being assigned to you, so I raised the PR. And I pushed the changes 2 hours before you did. In fact, I am not sure about the rules. May be @lognaturel can help us with that.

[2017-04-01 19:11] rijuldhir commented on #811
@rockydcoder I have been here for a while now and I was the one who asked for the issue but if you want you can ask @lognaturel

[2017-04-01 19:44] SIMRAN1 commented on #788
Thanks for the help.I will solve it.

[2017-04-01 20:38] grzesiek2010 commented on #170
@hooverlunch not exactly I think @lognaturel understands that better and is right.

Yes and I think it's a rare case so it's acceptable.
The problem is in [this method](https://github.com/opendatakit/javarosa/blob/master/src/org/javarosa/core/model/utils/DateUtils.java#L359) I'm not a javarosa expert but I doubt it's possible to do that better without changing the current apporach (parsing date/ti

[2017-04-02 00:45] nap2000 commented on #257
I have received the following requirements from a customer for audio logging:

- they need a single audio file for a duration.
- No need for controlling just start recording when the data collector start asking the questions and stop when he finish asking.
- No. we need to use it just to make sure that the data collectors are collect a real data, it’s a kind of insuring the data quality. "and to a

[2017-04-02 04:41] SIMRAN1 commented on #788
I have send a Pull Request for this issue

[2017-04-02 12:03] shobhitagarwal1612 commented on #754
I did some debugging and found out that the cursors opened are not getting closed, even after using `try-finally` blocks for closing them. It gives the error mentioned in #757. The line for closing the cursor executes successfully and on checking the status of the cursor after the execution of `cursor.close()` it shows that the cursor is closed. We can't use the [`try-with-resources`](https://docs

[2017-04-02 13:35] pranavgupta1234 commented on #754
Sorry I mistakenly closed the issue, I am also interested to work on it.

[2017-04-03 03:41] max2me commented on #794
Ola, checking in a little late, I'm sorry about that.

Is it happening on every device? If I remember correctly, that activity forces device into landscape orientation and (given current implementation) tries to figure out dimensions of the screen in appropriate orientation to create fitting canvas.

It's possible that on newer devices orientation change happens with different timing and so the ca

[2017-04-03 04:01] nap2000 commented on #794
The problem occurs on Android 6.0.1

[2017-04-03 04:43] lognaturel commented on #794
Thanks for the hint, @max2me. On my Nexus 5, Android 6.0.1, the white area is in fact the width of the phone in portrait rather than the width in landscape. It's just not a big enough difference for me to have noticed something was wrong. I thought the regression might have been introduced by #517 but actually it looks like it was introduced in v1.4.11.

[2017-04-03 05:35] saraswatmanu commented on #424
Any progress on this issue yet?

[2017-04-03 09:27] grzesiek2010 commented on #808
It works as expected to me. When we use **label appearance** we use [LabelWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/LabelWidget.java#L49) :

If we use **list-nolabel appearance** then we use [ListWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/ListWidget.j

[2017-04-03 10:10] grzesiek2010 commented on #797
@lognaturel yes I think it's ok.

[2017-04-03 10:23] grzesiek2010 commented on #187
@lognaturel apparently it has been resolved as I'm not able to reproduce this using the current version (only using mentioned 1.4.7).

[2017-04-03 13:14] grzesiek2010 commented on #802
Interesting I'm still not able to reproduce the problem. I've found another similar issue - when we select something and then use "remove response" option an orange field is still visible but in that case I can see the problem in the code (I'll file the separate issue).
@jgrojas could you add more info about device you use and your android version?

[2017-04-03 15:51] lognaturel commented on #802
@grzesiek2010 You know what just occurred to me? I think #679 fixed it. Could you please check out v1.5.1, verify that the problem is there, then checkout master to make sure that it's now gone?

I think the issue with clearing is addressed in #785.

[2017-04-03 15:52] lognaturel commented on #187
Great, @grzesiek2010!

[2017-04-03 15:52] #187 closed, assigned to nobody

[2017-04-03 16:02] lognaturel commented on #797
@grzesiek2010 @shobhitagarwal1612 @Ishmeetsingh97 I will close this issue for now and we will do the refactor as part of a switch to `RecyclerView`.

[2017-04-03 16:02] #797 closed, assigned to nobody

[2017-04-03 16:06] lognaturel commented on #808
I'm not clear on what the problem was but is it possible #679 fixed it too? @grzesiek2010 when you check out v1.5.1 to try out #802, I'd recommend trying this one out too to see if you can identify a problem with the attached form and confirm we fixed it.

[2017-04-03 16:08] lognaturel commented on #562
@anudeepti2004 Don't hesitate to submit a number of smaller pull requests if you would like. It may be easier to merge in incremental progress and avoid too many merge conflicts.

[2017-04-03 16:12] getsanjeev commented on #808
@log sorry guys I was busy with my GSoC proposal. It seems as if people are already working on it. Should I look into it?

[2017-04-03 16:13] lognaturel commented on #808
@getsanjeev, let's see what @grzesiek2010 finds and then if there actually is a problem you can take it on! I suspect it's been fixed already.

[2017-04-03 16:15] rafres opened #818 "Copy and edit forms inside "Edit saved form""
#### Problem description
Sometimes you need to fill in a couple of very similar forms.

It would be great if instead of running through the similar process, again and again, I could fill in one form, save it, copy it, then edit necessary fields and sent as a new submission. I think adding simple copy form functionality inside "Edit Saved Form" tab would dramatically improve an already great ODK.

[2017-04-03 16:17] lognaturel commented on #811
@rijuldhir @rockydcoder Generally the first person to comment, in this case @rijuldhir, should be the one to address the issue.

In this case, this is a broader problem found across the codebase and I will modify the issue to reflect that. Additionally, we have ongoing work to switch all `Log` calls to `Timber` in #562. I think it will be easier to make this change carefully across the codebase on

[2017-04-03 16:21] #296 closed, assigned to nobody

[2017-04-03 16:48] lognaturel opened #819 "Error when trying to submit to Google Sheets with a GPS coordinate"
#### Software and hardware versions
Collect v1.5.1-15-g3d6ffbb1, Android 6.0.1, Nexus 5

#### Problem description
Error when trying to submit to Google Sheets with a GPS coordinate. The exception is:

[code]

#### Steps to reproduce the problem
1. Change protocol to "Google Sheets, Google Drive"
1. Get a form with a GPS coordinate such as the one described [here](https://nafundi.com/blog/posts/ser

[2017-04-03 16:50] shobhitagarwal1612 commented on #819
okay, I will look into it right now

[2017-04-03 16:54] lognaturel commented on #809
@shobhitagarwal1612 You had a wireframe related to repeats in your GSoC proposal and I think you mentioned you had come up with some more ideas. Would be great to hear some of them here!

[2017-04-03 16:57] rockydcoder commented on #811
Okay, cool.

[2017-04-03 17:09] #665 closed, assigned to nobody

[2017-04-03 17:12] #810 closed, assigned to nobody

[2017-04-03 17:32] abdulwd commented on #464
I'm really interested in contributing to ODK Collect app for which I've prepared some mock designs. The designs can be found [here](https://docs.google.com/document/d/1_rOISyYg5_ZfZXj4JvR7oM1mWzeLPGk24yx8_7wQuS8/edit?usp=sharing).

[2017-04-03 17:46] grzesiek2010 commented on #802
@lognaturel yes that's it we can close this issue.

[2017-04-03 17:52] lognaturel commented on #802
Thanks, @grzesiek2010!

@jgrojas thank you for reporting this issue. The fix will be in April's release!

[2017-04-03 17:52] #802 closed, assigned to nobody

[2017-04-03 18:06] grzesiek2010 commented on #808
@lognaturel #679 isn't related. I tink Neri didn't understand those widgets. I've sent an email to him so let's wait for confirmation

[2017-04-03 18:07] lognaturel commented on #808
Ok, thanks. Please respond to [this thread](https://groups.google.com/forum/#!topic/opendatakit/ETl_1mxEoL0) so everyone can see the answer.

[2017-04-03 18:07] anudeepti2004 commented on #562
@lognaturel :  I made a bunch of changes. I am trying to test the changes (which is not proving to be easy :)). Since I changed the google-services.json file to my Firebase account Andriod studio complains that it is unable to find field  global_tracker. I am trying to resolve that (thats why I was delayed  committing the changes). I want to be sure the changes are working before I do a pull reque

[2017-04-03 18:13] dcbriccetti commented on #811
Sorry, gang. Perhaps I was too hasty in opening the issue.

[2017-04-03 18:14] lognaturel commented on #811
@dcbriccetti No, the issue is no problem! It just so happens that it's related to a bunch of other things in progress in this case.

[2017-04-03 18:16] dcbriccetti commented on #811
No, I meant, had I been more attuned to the happenings I would have known the issue would be taken care of.

[2017-04-03 18:32] lognaturel commented on #562
@anudeepti2004 How about submitting a pull request just with the Firebase Crash Tree as a first pass. I can verify that it works with the Firebase Crash account we use in production. Then you can just do your verification with the Log tree as you make the switch from Log to Tree.

[2017-04-03 18:47] anudeepti2004 commented on #562
@lognaturel : That will be great. Let me submit a pull request

[2017-04-03 19:26] lognaturel commented on #788
I think this is a duplicate of #654?

[2017-04-03 20:58] grzesiek2010 commented on #788
@lognaturel it's similar I have missed that one. Maybe I should have added comment about lints there.
But #654 looks like abandoned - 18 days without any changes.

[2017-04-03 21:19] lognaturel commented on #620
@alxndrsn I think [this](http://stackoverflow.com/a/35583988/137744) may have at least part of the explanation.

For testing, what about using the [Aggregate VM](https://gumroad.com/l/odk-aggregate-vm)? Alternately, let us know what kind of server config you need and we can probably get one up for you.

[2017-04-03 21:55] #311 closed, assigned to nobody

[2017-04-03 21:58] yanokwa opened #822 "Check if updated CSVs on Aggregate get updated in Collect"
According to https://groups.google.com/d/msg/opendatakit/UD1inyjxB4M/OsDtYnoaL8UJ when you update a CSV that's associated with a form in Aggregate, Collect does not update the CSV. It should.

[2017-04-04 11:43] nikialexopoulou commented on #424
@saraswatmanu yes, I'm working on it.

[2017-04-04 11:46] SIMRAN1 commented on #477
@lognaturel I want to work on this issue.Shall I proceed?

[2017-04-04 15:04] CorentinLemaitre opened #824 "ODK Collect and google play service"
Hello,
I use your app on a galaxy note 2 with cyanogen i have download ODK collect last version from your website and install it.
It works for everything except the location. An error message say that There is no google play service on my device. Then i can not collect my location.

After that i have download the app via f droid (1.2.2 is the last version) and it work well but it is a very old ver

[2017-04-04 15:53] nribeka commented on #824
@CorentinLemaitre which widget are you trying to use to collect data? Are you using geopoint?

I think at least the geopoint shouldn't require google play installed since it's using the device gps and network provider to get the location. This could be a bug on the Collect code too.

@grzesiek2010 I had a chat with @lognaturel and this could be a bug introduced recently.

[2017-04-04 15:57] lognaturel commented on #824
We added the check for Play Services when addressing #132. @grzesiek2010 and I discussed again when working on #726 and concluded it was necessary.

@CorentinLemaitre could you please try 1.4.16 from [here](https://opendatakit.org/downloads/download-info/odk-collect-apk/#) and let us know if that works for you?

[2017-04-04 16:16] CorentinLemaitre commented on #824
@nribeka I don't know wich widget is used. Is there any way to know wich widget is used ?
@lognaturel it works well with the 1.4.16.

[2017-04-04 16:28] mitchellsundt commented on #477
Just a caution on this ...

The Matcher class is not thread safe. It should be dynamically created as
needed. Pattern is thread safe.

http://stackoverflow.com/questions/1360113/is-java-regex-thread-safe

On Tue, Apr 4, 2017 at 4:46 AM, SIMRAN1 <notifications@github.com> wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-04-04 16:33] nribeka commented on #824
If it's working on 1.4.16, then you're using geopoint widget to collect the location data.

So @lognaturel, this is a bug I think and something I need to consider when using the gms location api to get the location. Since the long term gms is not gonna happen soon, maybe we should patch this bug and update Collect?

[2017-04-04 16:41] lognaturel commented on #477
Ah, thank you @mitchellsundt for that very good warning!

@SIMRAN1 sure! I would recommend you start by picking one class that has a buried and untested regex, thinking about a method that the regex would make sense within, extract that method and add a unit test. Then you can issue a pull request for that and we can discuss the approach. Does that sound good?

[2017-04-04 16:46] lognaturel commented on #824
@nribeka Agreed. For now using GeoPoint should not force a check on Google Play Services since it doesn't appear to be needed.

[2017-04-04 16:51] lognaturel commented on #424
@nikialexopoulou Don't hesitate to ask questions in Slack or send in an "in progress" pull request if you want some feedback or have any questions!

[2017-04-04 17:05] CorentinLemaitre commented on #824
OK super! If I understand, I have no change to do for the moment. I can continue to use the 1.4.16 and try the next version when it comes out.

Thanks a lot!

[2017-04-04 17:09] dcbriccetti commented on #378
I would be happy to continue to look at this, but I think it will be very complex and time consuming. I am leaving it until I hear something further.

[2017-04-04 17:51] SIMRAN1 commented on #477
Thanks for the reply @lognaturel .I will solve this issue.But can you please give me example of it?

[2017-04-04 18:23] lognaturel commented on #378
Thanks all who have given some input here. I agree with @dcbriccetti that we should leave it aside for now. Let's be on the lookout for clear usecases from users so we can get a better sense of exactly what events should trigger refresh (leaving a field, scrolling, changing a field...).

[2017-04-04 19:07] lognaturel commented on #754
@pranavgupta1234 @shobhitagarwal1612 In principle this certainly sounds like a good idea and something we should do but these are APIs I'm not familiar with so I'd like to get your help understanding the implications a little bit better so we can decide when to do it. It's good to know that the current DAO layer can be maintained, I think that's an important abstraction. I presume all of the List

[2017-04-04 19:18] shobhitagarwal1612 commented on #754
Sounds like a good plan. Also, we should start by converting the cursors for a single class and comparing the changes with the older build.
This will only change the part the code which interacts with the database. So other things won't be affected by this.

[2017-04-04 19:23] shobhitagarwal1612 commented on #754
Shall I proceed with this?

[2017-04-04 19:34] lognaturel commented on #754
Let's start by answering some of the questions I had. Since @pranavgupta1234 filed this issue and was also interested in addressing it, he should be the one to take it on!

[2017-04-04 19:35] lognaturel commented on #754
Of course, you're welcome to work together as well, I'll let you two figure out the details!

[2017-04-04 19:43] shobhitagarwal1612 commented on #754
What are the things that should be noted while making the list? Only the case or the behaviour too?

[2017-04-04 20:00] lognaturel commented on #754
I think the cases are sufficient. Usually the expected behavior is implied but if not you can add an extra sentence about it.

[2017-04-04 20:04] shobhitagarwal1612 commented on #754
ok :white_check_mark:

[2017-04-04 20:11] rajatthakur opened #825 "Remove Unused Imports"
**Software and hardware versions**

Collect v1.4.16, Android v6.0, Nexus 5

**Problem description**

There are certain unused imports in the codebase which need to be removed.

[2017-04-04 20:48] pranavgupta1234 commented on #754
Sure we will work on it together @shobhitagarwal1612

[2017-04-04 21:47] grzesiek2010 commented on #825
@lognaturel It doesn't make sense to merge another pr that removes unused imports if we still allow to build project with unused imports. We should start using checkstyle and there define UnusedImports as an error.

[2017-04-04 21:59] grzesiek2010 commented on #818
I think we should allow to edit a form as now and then when user tries to save changes add an additional option "Save as a separate form" or something like that.

[2017-04-05 10:50] shobhitagarwal1612 commented on #754
Since, you were the one to raise this issue. How do you propose we should start tackling this issue?

[2017-04-05 11:12] grzesiek2010 opened #827 "Long press on button doesn't work using GeoTraceWidget/GeoShapeWidget"
#### Software and hardware versions
Collect v1.5.1

#### Problem description
We are not able to remove response using [GeoTraceWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/GeoTraceWidget.java) and [GeoShapeWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/GeoSh

[2017-04-05 11:20] grzesiek2010 opened #828 "Button text is not changed to default after removing response"
#### Software and hardware versions
Collect v1.5.1

#### Problem description
Button text is not changed to default after removing response when we use [GeoTraceWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/GeoTraceWidget.java) and [GeoShapeWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/

[2017-04-05 11:21] shobhitagarwal1612 commented on #784
Fixed in #790

[2017-04-05 11:22] shobhitagarwal1612 commented on #827
I would like to work on this

[2017-04-05 11:25] grzesiek2010 commented on #827
@shobhitagarwal1612 I think it's too easy and you are able to work on more complex issues. I'm completly sure @lognaturel would say exactly the same :)

[2017-04-05 11:28] shobhitagarwal1612 commented on #827
Can you suggest some bugs for me? :smiley:

[2017-04-05 11:32] grzesiek2010 commented on #827
@shobhitagarwal1612 let's talk on slack.

[2017-04-05 11:47] shobhitagarwal1612 commented on #796
MainMenuActivityTest is also seen to be failing such as [here](https://circleci.com/gh/opendatakit/collect/313?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

[2017-04-05 14:55] rajatthakur opened #831 "Continuous Integration"

[2017-04-05 15:01] #831 closed, assigned to nobody

[2017-04-05 15:15] nmpatsal commented on #785
May I try it?

[2017-04-05 16:03] #824 closed, assigned to nobody

[2017-04-05 16:06] lognaturel commented on #824
That's right, @CorentinLemaitre -- the next release will go back to allowing access to the GeoPoint widget without play services. You just need to avoid 1.5.0 and 1.5.1 which don't. Thanks for reporting this so we could get it addressed quickly!

[2017-04-05 16:10] lognaturel commented on #827
@shobhitagarwal1612 @grzesiek2010 😊😊😊 Yes, I do agree. I would recommend that you have these kinds of Slack discussions in #collect-code, that's what it's there for! That way others can also jump in with suggestions.

I hope a wonderful new contributor takes this one on!

[2017-04-05 16:13] lognaturel commented on #825
@rajatthakur @grzesiek2010 I do agree it's annoying that these keep coming back up. Let me see if we can come up with a good way of starting to enable some checkstyle verification.

[2017-04-05 16:27] #825 closed, assigned to nobody

[2017-04-05 16:37] rijuldhir commented on #827
I can work on it

[2017-04-05 16:38] lognaturel commented on #827
That sounds great, thanks @rijuldhir

[2017-04-05 16:46] getsanjeev commented on #828
@grzesiek2010 May I?

[2017-04-05 17:43] lognaturel commented on #781
We had a great chat in #collect-code about this. There's lots of agreement that it's a good feature so we should move ahead. I haven't had a good chance to think about the encoding yet but will try to soon. @shobhitagarwal1612 will start doing some UI design and building components on the Collect side so those are ready to go once we come to agreement on the encoding. There are quite a few apps do

[2017-04-05 18:28] grzesiek2010 commented on #828
@getsanjeev yes you can.

[2017-04-05 18:35] lognaturel commented on #602
How about we start with a blank checkstyle file and incrementally add checks that we fix across the code base. I have submitted an example at #832. I'd be fine with either moving towards [Google's checkstyle file](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml) or [android-check's easy file](https://github.com/noveogroup/android-check/blob/master/android-

[2017-04-05 19:00] lognaturel commented on #796
This happens at a high enough frequency that it's getting really hard to know if there is an actual problem with a build or not. We should try getting [ssh access to the build](https://circleci.com/docs/1.0/ssh-build/) so we can get access to more detailed logs. Unfortunately I think it will require running the build over and over again until the problem occurs.

@sanovikov71 @yadav-rahul do you h

[2017-04-05 19:04] lognaturel commented on #796
Could this be related to #622? Perhaps things are just happening too quickly somehow?

[2017-04-05 19:06] lognaturel commented on #622
@rockydcoder It happens when monkey runner happens to click the same button twice in quick sequence when its action hasn't completed yet. It's generally not possible to reproduce at human speeds.

@shobhitagarwal1612 Do you think we should keep this open? We identified one case in the GDrive list where it could happen at human speeds and fixed it. Are there likely to be more we should investigate?

[2017-04-05 19:10] shobhitagarwal1612 commented on #622
This can be safely closed as the issue is resolved now.
But it would be great if we mention it somewhere to be run this test occasionally. In README maybe?

[2017-04-05 22:45] yanokwa opened #835 "Rename collect_app to app"
I don't know why `collect_app` was chosen (paging @mitchellsundt @jbeorse) as the name of the app module, but unless we have a good reason, I think we should use [Android conventions](https://developer.android.com/studio/build/index.html#build-files) and the conventions are that the app module is called `app`.

This will likely break open PRs or affect downstream forks, but there's never going to

[2017-04-05 23:51] lognaturel commented on #602
I had a bit more time to think about this and had a change in heart. @nribeka is right, let's use the Google checkstyle file since their style guide is what we're currently pointing people to. I now propose we start out with the whole thing in there but with checks commented out. Contributors can pick ONE check to uncomment, review the errors, fix them committing changes for each file and then iss

[2017-04-05 23:57] yanokwa commented on #602
I had the same idea so I agree!

[2017-04-06 00:15] #718 closed, assigned to nobody

[2017-04-06 00:40] #788 closed, assigned to nobody

[2017-04-06 00:51] lognaturel commented on #835
I personally only think that it's worth doing if there's one pro! Is there anything that's not possible now because of this? Do we gain anything at all?

[2017-04-06 04:07] shobhitagarwal1612 commented on #602
Sounds great

[2017-04-06 07:21] sanovikov71 commented on #796
It is not clear what is the root cause now.
But after reading [this article](https://jabknowsnothing.wordpress.com/2015/11/05/activitytestrule-espressos-test-lifecycle/) I think that the tests were factored not the best way.
Using of custom ActivityTestRule's and overriding of the method #beforeActivityLaunched should be considered instead of using @Before annotation in the test. The third paramet

[2017-04-06 10:35] grzesiek2010 opened #836 "Improve "Finished scanning" message"
#### Software and hardware versions
Collect v1.5.1

#### Problem description
If we open one of our lists: Fil Blank Form, Edit Saved Form, Send Finalized Form, View Sent Form or Delete Saved Form we can see a message at the top of the list: "Finished scanning." if it's a list of instances and "Finished scanning. All forms loaded." if it's a list of forms. I think it should be consistent so we shou

[2017-04-06 16:05] grzesiek2010 commented on #602
Sounds good to me as well.

[2017-04-06 16:42] rajatthakur opened #839 "Error when images are missing"
#### Software and hardware versions
Collect v1.4.16, Android v6.0, Nexus 5

#### Problem description
The user is presented with the error message if the file does not exist.

<img src="https://cloud.githubusercontent.com/assets/24683388/24765498/a2cb1a18-1b15-11e7-86d5-12a918bf3c6d.png" width="250" padding = "10">

#### Steps to reproduce the problem

1. Delete some of the image files that come wi

[2017-04-06 17:57] rajatthakur opened #842 "Very Small Icons"
#### Software and hardware versions
Collect v1.4.16, Android v6.0, Nexus 5

#### Problem description

Very small icons in GridWidget.

<img src="https://cloud.githubusercontent.com/assets/24683388/24768455/392d9fee-1b20-11e7-8ddb-24c519373fd4.png" width="250" padding = "10">

#### Steps to reproduce the problem

1. Go to the second question in the Forest Plot Survey Form.

#### Expected behavior

[2017-04-06 19:37] yanokwa commented on #746
@haseeb33 I think starting with lint, then finding usage is a good approach. My advice is to start with small and easy to verify resources and go from there.

[2017-04-06 23:51] #803 closed, assigned to nobody

[2017-04-06 23:51] lognaturel commented on #805
Closed in #837

[2017-04-06 23:51] #805 closed, assigned to nobody

[2017-04-06 23:52] lognaturel commented on #842
@yanokwa @nribeka Do you know what the intent was for this widget and/or do you have a preference on the icon size?

[2017-04-06 23:55] lognaturel commented on #827
@yanokwa You mentioned in passing that there could be a reason that this behavior wasn't included. Do you have any idea what that could be?

[2017-04-07 00:09] lognaturel commented on #796
Very interesting, @sanovikov71. Thank you for looking into it!

[2017-04-07 00:10] lognaturel commented on #836
Correct about updating the translations. It has to be done in Transifex.

I think @yanokwa at some point mentioned the idea of hiding the message at some point or displaying it differently. I also expect that it would be likely to change in the UI refresh. So perhaps we should wait on this?

[2017-04-07 00:12] lognaturel commented on #785
@krishnarai30 are you still working on this one? If not, let us know and @nmpatsal can take it on.

[2017-04-07 02:41] wbrunette commented on #835
Well since @yanokwa  brought up his neurosis let me try and shed some light on this to avoid the side effects of neurosis. NOTE:  The people who would know for sure are @jbeorse or @marshallb93.

My recollection is, when @jbeorse and @marshallb93 were first porting all ODK projects over to gradle they experimented with mutli-module projects in Android Studio (this was back when Android Studio was

[2017-04-07 05:14] shobhitagarwal1612 commented on #781
@lognaturel @yanokwa @hooverlunch I have added `protocol, server_url, google_sheets_url, formlist_url, submission_url, username and password ` for the generation of QRCode. What are the other requirements?

[2017-04-07 08:17] rafres commented on #818
That would be perfect!

[2017-04-07 10:59] grzesiek2010 opened #847 "Button should be disabled when all form are unselected"
#### Software and hardware versions
Collect v1.5.1

#### Problem description
Button should be disabled when all form are unselected.

#### Steps to reproduce the problem
1. Fill and sent one of available forms
2. Go to "Send Finalized Form"
3. Choose "Change View" -> "Show Sent and Unsent Forms" from context menu
4. Check sent form
5. Choose "Change View" -> "Show Unsent Forms" from context menu

[2017-04-07 14:08] grzesiek2010 commented on #541
Here is a list of our dialogs https://docs.google.com/document/d/1pZnr7wll-Wiw7lAakkgQlSEH4i683HZMdfjc8OUt-yc/edit?usp=sharing

[2017-04-07 14:20] grzesiek2010 commented on #836
Why should it be a part of UI refresh?

[2017-04-07 14:23] rijuldhir commented on #847
I can work on it

[2017-04-07 14:30] grzesiek2010 commented on #847
@rijuldhir yes please.

[2017-04-07 15:29] ghost opened #849 "Pulldata from Google sheets"
#### Software and hardware versions
Collect v1.5.1, Android v5.0.2, device used...

#### Problem description
Is it possible to pulldata from google sheets? If so, how is it done?

#### Expected behavior
Function as the normal xlsform pulldata() function

Thank you.

[2017-04-07 18:43] #559 closed, assigned to nobody

[2017-04-07 18:45] grzesiek2010 commented on #818
The second option is to show dialog with two options  (Edit form/Clone form) when we choose form. I wonder what is better.

[2017-04-07 18:45] lognaturel commented on #836
@grzesiek2010 because the way that information is presented could change significantly or be removed.

[2017-04-07 18:50] lognaturel commented on #849
This isn't something that exists at the moment. If it's a feature you'd like us to consider, please describe the general problem you'd like to solve -- what are you trying to do that you can't do today? That will help us figure out the best way to approach it.

[2017-04-07 19:12] #819 closed, assigned to nobody

[2017-04-07 19:28] lognaturel commented on #663
Closed in #821

[2017-04-07 19:28] #663 closed, assigned to nobody

[2017-04-07 19:29] lognaturel commented on #562
Largely addressed by #821

[2017-04-07 19:29] #562 closed, assigned to nobody

[2017-04-07 20:14] shobhitagarwal1612 commented on #754
@pranavgupta1234 Any thoughts?

[2017-04-07 20:39] jbeorse commented on #835
@wbrunette is correct, this is an artifact of sharing a build system with the ODK 2.0 tools and multi-module projects. There is no compelling reason to keep collect_app vs app that I can think of, though there's no compelling reason to switch in my opinion either. As @wbrunette mentioned, there are other projects that don't follow this convention; I don't think its super strict. There is no functi

[2017-04-07 21:11] #622 closed, assigned to nobody

[2017-04-08 00:13] lognaturel commented on #477
See [this comment](https://github.com/opendatakit/collect/issues/477#issuecomment-283454203) for an example of the kind of method we're talking about. For tests, you should be able to use straight junit.

[2017-04-08 04:39] shobhitagarwal1612 commented on #741
@pratikmjoshi Are you still looking into this bug?

[2017-04-08 05:00] shobhitagarwal1612 commented on #563
Fixed in #751

[2017-04-08 09:30] pranavgupta1234 commented on #754
Give me little bit more time to figure out how to implement this with minimal affect on the present code.I will try to discuss asap.

[2017-04-08 09:55] ghost commented on #849
Thanks @lognaturel
I want to be referring to data collected, say yesterday to determine what will be included in tomorrow activities. So, I have one form with groups and repeats of activities that are to take place over a long period of time. For example, if I say i want to record flowering plants today and submit recorded data at the end of the day. Tomorrow morning i want to pull only the data r

[2017-04-08 11:35] shobhitagarwal1612 commented on #754
Do discuss if you come across any problem

[2017-04-08 16:49] krishnarai30 commented on #785
@lognaturel @nmpatsal let's both work on the issue!

[2017-04-08 18:18] rajatthakur opened #860 "Redundant Variables"
#### Software and hardware versions
Collect v1.4.16, Android v6.0

#### Problem description

Redundant variables have been declared at several places across the codebase.

#### Expected behavior

All redundant variables should be removed.

[2017-04-09 17:28] #563 closed, assigned to nobody

[2017-04-10 09:01] rafres commented on #818
Hi Grzesiu, I think that second option is better in terms of efficiency, because you could get to and use this functionality much quicker. Thanks for your creative input.

[2017-04-10 09:04] grzesiek2010 commented on #818
I've just realized it's duplicated https://github.com/opendatakit/collect/issues/727 we have two convesrations.

[2017-04-10 10:13] grzesiek2010 commented on #33
@lognaturel I was free so I've just started work on this I hope it's ok for you.

[2017-04-10 11:43] rafres commented on #818
Oh, thanks for pointing that out. That's because I posted this issue on ODK Forum first and yanokwa asked me to move it on github. But I didn't get the notification when he replied, so it took me a while before I realised it. Meanwhile he was so kind to do it on his own.

[2017-04-10 12:28] grzesiek2010 commented on #33
It can look and work like:
![ranwidget](https://cloud.githubusercontent.com/assets/3276264/24861607/adae6e44-1df9-11e7-9e02-aff5fef92cf9.gif)

It's just a prototype and I've used SelectMultiWidget for that so I have to investigate how to solve that on the Javarosa side.

[2017-04-10 14:31] ghost opened #863 "Change printed label margins"
#### Software and hardware versions
Collect v1.5.1, Android v5.0.2, Zebra RW220 Printer

#### Problem description
I was able to print barcodes using Zebra RW220. The problem is that the information is not fully displayed on the label, that is, on the left margin, part of the barcode and text has been cutout.
(See attached image of a printout)
How do I change the barcode label margins to see all th

[2017-04-10 18:46] lognaturel opened #864 "Replace all Log calls with Timber"
Now that we are using the [Timber](https://github.com/JakeWharton/timber) library for logging appropriately in development and production (thanks @shobhitagarwal1612 and @anudeepti2004!), all `Log` calls in the codebase should be replaced by calls to the corresponding `Timber` method. [Here](http://jakewharton.github.io/timber/) is the appropriate reference.

Timber also includes a number of `lint

[2017-04-10 18:58] yanokwa commented on #839
Closing because it's important to know what image is missing and where it should be placed.

[2017-04-10 18:58] #839 closed, assigned to nobody

[2017-04-10 19:11] #860 closed, assigned to nobody

[2017-04-10 23:05] lognaturel commented on #808
No answer from the original poster so I think we can close for now!

[2017-04-10 23:05] #808 closed, assigned to nobody

[2017-04-10 23:08] lognaturel commented on #727
@rafres posted #818, let's keep the conversation going there.

[2017-04-10 23:08] #727 closed, assigned to nobody

[2017-04-10 23:19] lognaturel commented on #818
@grzesiek2010 Do you want to do a first pass at a prototype for this? I think it will be easier to refine the interface once we have something to look at.

[2017-04-10 23:56] florianm commented on #464
@yanokwa +1 on streamlining repeats. My users are thrown by "Add new XYZ group" - a custom label for this dialogue, and dropping the work "group" would be a great improvement.

[2017-04-11 00:41] lognaturel commented on #33
I have filed opendatakit/xforms-spec#104 to explore how this can be added to the ODK XForms spec. Seems like a good thing to experiment with since it is something users ask for from time to time. One thing that jumps out to me is that it might be clearer that these are rankings if there were fixed numbers on the left that items could be dragged next to.

[2017-04-11 05:50] SIMRAN1 commented on #477
@lognaturel  I have send PR for this issue for  GoogleSheetsAbstractUploader.Please Review it.

[2017-04-11 09:01] grzesiek2010 commented on #33
@lognaturel it's possible
![rank](https://cloud.githubusercontent.com/assets/3276264/24901083/428a637c-1ea6-11e7-81ac-6f1a689f8d0b.gif)

[2017-04-11 12:55] grzesiek2010 commented on #818
@lognaturel yes I can take this.

[2017-04-11 18:13] nribeka commented on #842
I think the number of element per row (column count) is controlled from the form.

So probably don't need to do this? From the documentation:

[2017-04-11 18:35] lognaturel commented on #842
Yes, I think that -1 is the correct default. Closing.

[2017-04-11 18:35] #842 closed, assigned to nobody

[2017-04-11 19:02] lognaturel commented on #835
Thank you, @jbeorse @wbrunette for that background. @yanokwa I propose we close this issue for now and it can be reopened if we find a good reason to do it.

[2017-04-11 19:07] yanokwa commented on #835
Not being able to rename the folder remains annoying to me, but I agree that this causes downstream pain for no benefit. I'm closing this issue until I can find a good reason! 😂

[2017-04-11 19:07] #835 closed, assigned to nobody

[2017-04-11 19:45] ahelmi365 opened #868 "Decrease in Repeat_count while filling in"
If we have some questions to be repeated as a loop, we put them under “**begin repea**t” and we set the number of repeat based on an answer of a previous question under **repeat_count**

For example:
**Q1**. How many people are there living in your household?
for example the answer is: **5**

Then we want to ask some questions about gender, age for all **5** members.

The problem is that if we ent

[2017-04-11 20:22] grzesiek2010 opened #869 "App crashes when listing blank forms from Google Drive without API auth"
#### Software and hardware versions
Current master branch

#### Problem description
App crashes when I try to open my google drive

#### Steps to reproduce the problem
1. In "General Settings" set platform to "Google Drive, Google Sheets"
2. Click on "Get Blank Form" from Main menu

#### Other information

                                                       at android.os.Handler.<init>(Handler.

[2017-04-11 20:28] grzesiek2010 commented on #869
It has been added [#790](https://github.com/grzesiek2010/collect/commit/02f9a43e94c2e09227af05651bc67381e3dd5b69#diff-4843e9d988e60283c4c8967d83b05c0bR796)
@saurabhjn76 have you tested this?

[2017-04-11 20:57] lognaturel commented on #869
Oh wow, you are absolutely right, @grzesiek2010! Apologies, I thought I had tried it out but evidently not. @saurabhjn76 it would be great if you could look into this. To try it out, you can disable the Drive API [here](https://console.developers.google.com/apis/api/drive/). It will take a couple moments before the auth updates.

[2017-04-11 21:14] lognaturel commented on #785
@krishnarai30 @nmpatsal Sounds good! If you want to chat about it, you can use a thread in the Slack #collect-code channel so others can jump in as needed. It should hopefully be relatively straight forward.

[2017-04-11 21:17] lognaturel commented on #739
@rishsethia Can you please say more about what problem you are trying to solve? How do you imagine that this would be used?

[2017-04-11 21:19] lognaturel commented on #730
@yanokwa I don't really understand what you're asking for! Those are strings with newlines between each result. Are you saying you would like to have `\n\n` instead of `\n`?

[2017-04-11 21:20] yanokwa commented on #730
`\n\n` is what I'm expecting. I think when you download forms, it uses `\n\n` so some consistency would be nice.

[2017-04-11 21:23] lognaturel commented on #730
Ah, got it, thanks. I guess adding an additional newline is good because there can sometimes be wrapping:
<img width="231" alt="screen shot 2017-04-11 at 2 22 43 pm" src="https://cloud.githubusercontent.com/assets/967540/24931505/6234ccaa-1ec2-11e7-8125-e80ac38b7c12.png">

[2017-04-11 21:25] #691 closed, assigned to nobody

[2017-04-11 21:42] lognaturel commented on #655
One easy thing that I think we should do is add `analytics.setDryRun(BuildConfig.DEBUG);` to `getDefaultTracker` so that we don't log analytics from debug builds. Release builds of production forks will still log to our analytics but I actually think that's ok. It's an advantage to have more information and if forks choose not to take control of the analytics, I think that's good for the core. The

[2017-04-11 21:42] #654 closed, assigned to nobody

[2017-04-11 22:00] lognaturel commented on #611
It's silenced for now. We can remove it altogether once we've decided what to do with the httpclient implementation.

[2017-04-11 22:00] #611 closed, assigned to nobody

[2017-04-11 22:01] #606 closed, assigned to nobody

[2017-04-12 04:59] yanokwa commented on #736
I think a simple regex is strictly better because it:
1. Has the same behavior across all version of Android.
2. Does not require an external library.

@lognaturel does not feel strongly about this, so I'm going to proceed with a PR.

[2017-04-12 05:12] #736 closed, assigned to nobody

[2017-04-12 06:02] yanokwa opened #873 "Bad submission_url in forms from Aggregate should not be loaded"
#### Software and hardware versions
Collect v1.4.16

#### Problem description
A form with a bad submission URL can be loaded into Collect's Fill Blank Form. This is a problem because submission URLs override Collect's server settings so you can never send data to Aggregate after you fill out a blank form.

#### Steps to reproduce the problem
Create a form with a bad URL (e.g., `https:/server.com`

[2017-04-12 06:05] #709 closed, assigned to nobody

[2017-04-12 09:47] lbramley opened #874 "Error with calculate value when used in constraint_message"
Collect v1.5.1, on a Nexus 7 running Android 5.0.2

I created a form where calculate fields are used to create both a value used for a constraint and text to use in the constraint message. However, while the constraint itself seems to work correctly when I view the form on my tablet, the constraint message doesn't - instead of displaying my text from the calculate field, it displays e.g. "${0}". T

[2017-04-12 14:05] nribeka commented on #730
Maybe we can use the [System.lineSeparator()](http://docs.oracle.com/javase/8/docs/api/java/lang/System.html#lineSeparator--) call to get the system prefered line separator?

[2017-04-12 15:38] lognaturel commented on #730
@nribeka Sure, that'd be fine. But if you find a way to run this Android app on Windows, let me know how!!! 😉

[2017-04-12 17:07] grzesiek2010 opened #876 "Change GeoPointMapActivity name to GeoPointGoogleMapActivity"
I think we should be consistent. We have similar classes for Google maps and OSM:
GeoShapeGoogleMapActivity - GeoShapeOsmMapActivity
GeoTraceGoogleMapActivity - GeoTraceOsmMapActivity
so it should be as well
GeoPoint**Google**MapActivity - GeoPointOsmMapActivity

[2017-04-12 21:10] lognaturel commented on #876
Let's wrap this into #507. I'm sure a lot will change once we get to it.

[2017-04-12 21:10] #876 closed, assigned to nobody

[2017-04-12 21:16] lognaturel commented on #464
@florianm You may also be interested in sharing any ideas you have at #809. It's important enough that it has its own issue!

[2017-04-12 21:24] #53 closed, assigned to mitchellsundt

[2017-04-12 21:27] lognaturel commented on #65
All group UI discussion now at #809.

[2017-04-12 21:27] #65 closed, assigned to mitchellsundt

[2017-04-12 21:28] lognaturel commented on #66
I think we have mostly addressed this.

[2017-04-12 21:28] #66 closed, assigned to mitchellsundt

[2017-04-12 23:17] yanokwa commented on #38
I've sent an email to Emily to see if she can clarify.

I agree with @lognaturel that you can do this with two questions (max-min) or even a question that asks the number and then another question that asks what the +/- is.

@jnordling Is there a use-case that you are thinking of? What would you expect the UI to look like?

[2017-04-12 23:47] yanokwa commented on #873
@pratikmjoshi You interested in taking this issue on?

[2017-04-12 23:51] yanokwa commented on #576
Hi @anudeepti2004! Can you give this issue a try?

[2017-04-12 23:58] anudeepti2004 commented on #576
Absolutely

[2017-04-13 01:51] yanokwa opened #878 "Explore replacing intent call in widgets with chrome tabs"
Both the URL widget and inline Markdown support allow Collect to launch a URL. As discussed at https://github.com/opendatakit/collect/issues/563, it'd be nice this were replaced with chrome tabs. The URL Widget seems straightforward, but I'm not sure how this will affect how we open links in Markdown.

Below are an XLSForm and XForm that shows how to open a URL with the URL Widget and with Markdow

[2017-04-13 01:52] yanokwa commented on #878
@getsanjeev This might be a good issue for you. Are you interested?

[2017-04-13 02:31] lognaturel commented on #100
Credentials from the settings are now used.

[2017-04-13 02:31] #100 closed, assigned to mitchellsundt

[2017-04-13 03:40] nap2000 opened #879 "Auto play of sound files does not work on first question"
#### Software and hardware versions
Collect v1.5.1

#### Problem description
Adding autoplay to a sound file attached to a question will result in the sound playing automatically only of the question is not the first one of the survey.

The problem also occurs if:
- The user navigates to the page using the hierarchy menu

#### Steps to reproduce the problem
1. Create a survey with a single questio

[2017-04-13 09:10] getsanjeev commented on #878
@yanokwa I would love to take this one. I have my mid semester exams so I would start working after two days.

[2017-04-13 09:16] grzesiek2010 commented on #878
@getsanjeev please finish https://github.com/opendatakit/collect/pull/845 and https://github.com/opendatakit/collect/issues/828 as those are yours and then you can take something next. I mean it's yours as well of course as @yanokwa said but keep the right order.

[2017-04-13 09:36] nmpatsal commented on #785
Sorry, I am working for a course where my professor assess my contributions and I am working team with @nikialexopoulou. So, it is better to @krishnarai30 work on this issue! However, thank you for letting me to contribute too!

[2017-04-13 13:51] grzesiek2010 commented on #874
It's on the Javarosa side I've created the issue there https://github.com/opendatakit/javarosa/issues/36

[2017-04-13 14:19] grzesiek2010 opened #887 "Selected items in FormDownloadList aren't saved after using "Select All" option"
#### Software and hardware versions
Current master branch

#### Steps to reproduce the problem
1. Make sure that in "General Settings" your platform is ODK Aggregate
2. Click on the "Get Blank Form" button from MainMenu
3. Unselect one element
4. Click on the "Select All" button
5. Use one of the available sorting options

#### Expected behavior
All elements should be still selected

#### Other in

[2017-04-13 14:22] smoyte commented on #170
Hi folks. We are super swamped right now so I won't be able to try out the suggested build anytime soon. @grzesiek2010 could you try it? That is, try the steps in the issue description above and see if your fix fixes them? Perhaps you've done so already?

[2017-04-13 14:26] grzesiek2010 commented on #170
@hooverlunch of course I've done :) it's my fix and it works as I've described. Not completely perfect (small bug when we edit old forms as mentioned above) but I doubt we can do that better without editing javarosa code.

[2017-04-13 14:29] smoyte commented on #170
Sweet. I think that's good enough for us. Will this be in the next release?

[2017-04-13 14:42] rishsethia commented on #739
Please refer to this document that I documented on using Collect's intents :
https://docs.google.com/document/d/1UX02GmovwSAWPK0xdDt1RwKqyY4n4_yA6Ltehb-PvP0/edit

[2017-04-13 17:46] #271 closed, assigned to nobody

[2017-04-13 18:02] lognaturel commented on #796
Unfortunately, it looks like these tests are still occasionally failing. The failure is different, though:
[code]
from [here](https://circleci.com/gh/opendatakit/collect/359#artifacts/containers/0)

[2017-04-13 18:35] lognaturel opened #890 "App language should default to phone language"
#### Software and hardware versions
Collect v1.5.1-65-g068e4ade

#### Problem description
The app language defaults to English on the first launch after #817 was introduced. It should default to the phone language.

#### Steps to reproduce the problem
1. Uninstall Collect or run a version prior to the inclusion of #817
1. Change the phone language to a language other than English that is supported

[2017-04-13 18:53] pratikmjoshi commented on #873
@yanokwa Yes definitely, I'll get to work on this

[2017-04-13 18:57] pratikmjoshi commented on #741
@shobhitagarwal1612 @lognaturel  Yes I am, I'm stuck on it though. It seems that the parent id is not assigned, and therefore when back button is pressed, it is going all the way back to the root because that is the default value. However, I'm not sure how to get the parent id of a file/directory since Google API v3 docs are relatively new. I am not able to find an answer on stackoverflow either.

[2017-04-13 19:52] lognaturel commented on #170
@hooverlunch We weren't planning on shipping a JavaRosa update with this next release but instead waiting until the next one. We'll have to see whether we could do something like a maintenance release. The challenge with releasing a new version of JR is that it's used across ODK tools and we have to do coordinated releases to ensure consistent behavior.

[2017-04-14 05:37] shobhitagarwal1612 commented on #741
@pratikmjoshi Thanks for your efforts. I agree that the documentation for the APIs is not very clear. I am familiar with the codebase that you are working on. New code for fetching files in GoogleDriveActivity was not written very thoughtfully by me as this activity was broken after updating to the newer APIs. So, it needs some refactoring too. I noticed that you are also working on #873. Are you

[2017-04-14 07:24] sanovikov71 commented on #796
Hi, it looks that adding of tests that work directly with SD cards was not the best idea, because it is unclear how  these tests work on CI server. I think we should consider removing these tests as they give more problems, than advantages. On the other hand, it was difficult to test this logic differently, because of a static method Collect.createODKDirs() that can not be mocked without refactori

[2017-04-14 08:07] icemc commented on #890
@lognatutel may I try it

[2017-04-14 08:32] nmpatsal commented on #864
May I take this one @lognaturel ?

[2017-04-14 11:47] grzesiek2010 commented on #787
I investigated this problem and I was able to reproduce the issue but I'm not sure if it's on our side.
@nap2000 are you sure your problem is at line 916 in FormController as you described because I've noticed it's a few lines above and there is null here: https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/logic/FormController.java#L912
I've create

[2017-04-14 13:28] getsanjeev commented on #828
@grzesiek2010 Can you please tell me which forms did you try with?

[2017-04-14 13:29] grzesiek2010 commented on #828
@getsanjeev
[loc.txt](https://github.com/opendatakit/collect/files/922140/loc.txt)

[2017-04-14 17:33] lognaturel commented on #890
@icemc Sure!

[2017-04-14 17:34] lognaturel commented on #864
@nmpatsal Yes, please! Do make sure to read the documentation and look at examples already in the code before you get started.

[2017-04-14 17:59] lognaturel commented on #424
@dalerhoda Can you please let us know whether you think an an app-wide setting or a per-question form setting would be better for this? Doing it at the app level is not as straightforward as I had hoped so we really need to make sure that it's actually the right approach before going to far down that road. Keep in mind that if we do it app-wide, the decision on the date order will need to be made

[2017-04-14 18:21] grzesiek2010 commented on #787
I would like to add that it doesn't work if I change ["requiredMsg"](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L1577) to `constraintMsg` in the odk code so looks like it should be `requiredMsg`. I wonder why there is `constraintMsg` if I use builder.

[2017-04-14 19:02] smoyte commented on #170
Ok that's fine. No huge rush.

[2017-04-14 19:13] lognaturel commented on #81
@grzesiek2010 now that with #789 the time and no-calendar date/datetime widgets are accessed through a button, I believe it should be easy to have the long press to clear actually clear the value. Could you please take a look at that?

[2017-04-14 19:34] lognaturel opened #897 "Display dates from date or datetime widgets and times from time or datetime widgets using the phone locale"
Currently, Date, Time and DateTime widgets are displayed using the `getDisplayText` method on the `IAnswerData` that they represent. That method does not respect the device's locale.

For example, a date widget with appearance `no-calendar` and the phone locale set to US English:
<img width="241" alt="screen shot 2017-04-14 at 12 17 24 pm" src="https://cloud.githubusercontent.com/assets/967540/250

[2017-04-14 20:54] grzesiek2010 commented on #81
@lognaturel sure

[2017-04-14 21:17] nmpatsal commented on #897
Let us to take it with @nikialexopoulou because we already started in this direction.

[2017-04-14 23:52] lognaturel commented on #897
That sounds good @nmpatsal @nikialexopoulou. It does look like a simple issue but it's somewhat more complicated because it touches JavaRosa! I'm looking forward to seeing how you propose to address it.

[2017-04-15 02:57] nap2000 commented on #787
@grzesiek2010 Interesting. I can't reproduce the problem now using 1.5.1 and XLSForm.  Which is a bit baffling.  Maybe I imagined it.

The line number was the rough location of the where I thought the problem was.  I tested in debug mode and stepped through the code.  It looked like the method XPathParseTool.parseXPath was returning a zero length string instead of throwing an exception when the me

[2017-04-17 14:25] shobhitagarwal1612 commented on #754
@pranavgupta1234 It has been quite some time now. Have you found any approach or should I start working on it?

[2017-04-17 17:04] #785 closed, assigned to nobody

[2017-04-17 17:41] lognaturel commented on #794
@rijuldhir This is an important one to get into the April release. Do you think you'll have time to do it by the April 22nd code freeze?

[2017-04-17 17:51] lognaturel commented on #754
@pranavgupta1234 It's been a couple of weeks now so let's give @shobhitagarwal1612 the lead on this one now. Of course if you have any ideas, they're very welcome and I'm sure @shobhitagarwal1612 will appreciate your review if you have time!

[2017-04-17 17:59] lognaturel commented on #493
We haven't had very many across-the-board UI changes this release and probably won't in the next one so I think we might be ready to do this without too many conflicts. And if there are any UI problems, we can pinpoint them to this change.

[2017-04-17 19:24] #887 closed, assigned to nobody

[2017-04-17 19:25] pranavgupta1234 commented on #754
Sure @lognaturel , I will catch up with you @shobhitagarwal1612

[2017-04-17 19:30] rijuldhir commented on #794
@lognaturel Sorry for it I have my exams on and I was working on the long term solution rather than the quick fix. The quick fix is easy just to open widget in Landscape but I have a Pending Pull Request on master which I created unknowingly. So I was waiting for it to get merged.

[2017-04-17 19:37] lognaturel commented on #794
That's ok! I just wanted to make sure we have a plan. The quick fix sounds like it will be easy so that's great. You can take your time with the longer-term improvements.

What you can do to work on things in parallel even if you have a PR on your master is to do `git log` to get the commit hash for the latest commit that was in the upstream master (e.g. 8190776384b50a6f3e46311118affd0b5f21bff9) a

[2017-04-17 19:42] #827 closed, assigned to nobody

[2017-04-17 21:47] lognaturel opened #908 "Use something like TriggerWidget when type boolean is specified in form"
Currently, the way to get a checkbox widget is to use `trigger` in a form as described [here](https://opendatakit.org/help/form-design/examples/#ack_prompts). The result is either blank (false/unchecked) or the string 'OK' (true/checked). The XForms Cookbook [here](https://en.wikibooks.org/wiki/XForms/Trigger) suggests that the intent for `trigger` is that it be used to represent buttons.

The W3C

[2017-04-18 00:38] yanokwa commented on #38
I got a response from Emily!

Sketch 1
![odk-issue](https://cloud.githubusercontent.com/assets/32369/25109816/5cc57bee-2394-11e7-891d-ca4b4cf0c23c.jpg)

Sketch 2
![odk-issue](https://cloud.githubusercontent.com/assets/32369/25109823/6c2e7c16-2394-11e7-8afd-08cf8d89b851.png)

[2017-04-18 01:33] florianm commented on #809
@lognaturel thanks for the heads-up!
As I mentioned over at #464 - repeat groups are hard to understand for first time or occasional users. The best I can come up with are collapsible sections ([bootstrap example](http://getbootstrap.com/javascript/#collapse)) with "add another" and "delete this" buttons. This might work better on desktop than on mobile though.

Ultimately I'm dreaming of a progre

[2017-04-18 02:32] shobhitagarwal1612 commented on #493
I'm working on this

[2017-04-18 05:03] lognaturel commented on #781
I do think it would be ideal to represent all general and admin settings if possible. What about doing something like writing out all settings that differ from the defaults (for that version of Collect)? Importing settings would then involve two steps -- restoring defaults and then applying changes from the QR code JSON. The JSON could include a version number so that compatibility between the QR

[2017-04-18 06:48] saurabhjn76 commented on #869
Apologies for responding late, I am busy with my semester exams and would take me a couple of weeks before I could look into this.

[2017-04-18 06:52] grzesiek2010 commented on #869
@saurabhjn76 it's added to April Release so if you are too busy me or somebody else will fix it.

[2017-04-18 07:06] saurabhjn76 commented on #869
@grzesiek2010 yeah, it would be better if somebody else take it.

[2017-04-18 13:59] grzesiek2010 opened #914 "Buttons in DrawWidget don't look good"
#### Software and hardware versions
Collect v1.5.1

#### Steps to reproduce the problem
Use this form:
[draw.txt](https://github.com/opendatakit/collect/files/929900/draw.txt)

#### Other information
![screenshot_2017-04-18-15-17-10](https://cloud.githubusercontent.com/assets/3276264/25134411/ca0529a0-244f-11e7-8e27-997276811e14.png)

[2017-04-18 14:09] grzesiek2010 opened #915 "Date is changed even if we close datePicker dialog without using "OK" button"
#### Software and hardware versions
Current master branch

#### Problem description
Date is changed even if we close datePicker dialog without using "OK" button

#### Steps to reproduce the problem
1. Use date widget witch "no-calendar" appearance
2. Open DatePickerDialog
3. Change day, month or year
4. Close the dialog wigout using "Ok" button
5. Go to next question
6. Go back

#### Expected beha

[2017-04-18 16:00] smoyte commented on #781
It would be great to see an example of the full JSON string (pretty printed if possible) that would result from including all settings. That might help us think about how to make it smaller.

I think abbreviating the keys is an obvious idea. We could have a hash that maps full to abbreviated and back.

As for the values, I'm not sure what they look like. They could perhaps be abbreviated too... Se

[2017-04-18 19:18] yanokwa commented on #556
@shobhitagarwal1612 I'm liking the device administration idea as the solution to this. Can you (or @lognaturel or @grzesiek2010) think of any downsides?

[2017-04-18 21:59] #869 closed, assigned to nobody

[2017-04-18 22:15] #915 closed, assigned to nobody

[2017-04-18 22:31] lognaturel commented on #914
It's not clear what the right thing to do here is. I believe that 4 equal-width buttons will result in weird wrapping in some languages, maybe even English.

[2017-04-18 22:38] yanokwa commented on #787
I'm closing this issue because I used XLSForm and Collect and it works for me.

Also, there seems to be a bug in Build and I've filed it at https://github.com/opendatakit/build/issues/122.

[2017-04-18 22:38] #787 closed, assigned to nobody

[2017-04-18 22:49] lognaturel commented on #784
There is a broader issue here. There are a number of cases throughout the app where either there's a hard crash or unexpected behavior with no user feedback. I think we should keep this issue open as a reminder @shobhitagarwal1612. If someone wants to do a systematic inventory at some point, that would be fantastic.

[2017-04-18 23:17] lognaturel opened #923 "Date and time dialogs should not disappear when area outside of the dialog is tapped"
#### Software and hardware versions
Collect v1.5.1-87-g8a53ecd2

#### Steps to reproduce the problem
1. Open form [dates.txt](https://github.com/opendatakit/collect/files/906091/dates.txt)
1. Go to any field that uses a dialog box for setting the value
1. Tap on the button to open the dialog box
1. Tap outside the dialog box, the dialog box is dismissed and the date/time remains unchanged

#### Ex

[2017-04-18 23:20] lognaturel commented on #897
I would recommend addressing the date display on the widgets themselves first as one pull request. I think that will be relatively straight forward and we do want to include that in the April release. The `FormHierarchyActivity` part is more complicated and can wait since that behavior has been there for a long time.

[2017-04-19 00:05] getsanjeev commented on #923
@lognaturel Can you please tell How to open forms like dates.txt . I have always worked only with the forms available in getBlankForms. It would be helpful if you can explain the idea.

[2017-04-19 01:20] tiritea commented on #908
Another possible problem with using a trigger [but one I havent confirmed in Collect, yet...] to effectively 'set' a boolean value, is that if you 'set' your boolean - to true - via the trigger, can you subsequently go back and 'unset' (untrigger?) the boolean back to false? If not then this could be a significant issue, because all the other data types you can revise.

[2017-04-19 05:38] SIMRAN1 commented on #847
I want to work on this issue @grzesiek2010 .Shall I proceed?

[2017-04-19 05:42] lognaturel commented on #781
I did this in a super slapdash way but I think most keys should be there:
[code]
That's 1262 bytes before compression, 676 after (booleans, quotes, there's a ton of redundancy).

There are a handful of things missing because sometimes the key text for the setting and the corresponding admin setting are the same (the admin setting is used to show/hide the setting; an example is "analytics"). How ab

[2017-04-19 13:15] smoyte commented on #781
So here are some ideas for compression:

1. Make a hash map for abbreviating keys and values, so `map_basemap_behavior` could become `mapbb`, `submission_url` -> `sburl`, `high_resolution` -> `hires`, `google_maps` -> `gmaps` etc. Perhaps aiming for max of 5 chars each? These should be sorted in the code so it's easy to avoid adding duplicates. If not all values are captured, that's fine, they jus

[2017-04-19 17:25] lognaturel commented on #781
It will come as no surprise that I favor option 2. 😁 I think it's what will have the most impact on the size without adding another level of obfuscation. Currently the defaults are spread across the code but I think it would be a very good thing to have them in a single place so they are more explicit.

I agree that 3 is probably not worth doing much about, compression can handle it well.

[2017-04-19 17:30] smoyte commented on #781
If we don't do #1 and someone has a lot of settings set, what is the worst case for the size of the compressed JSON? I think we should know what the upper bound is and what we do if it's greater than the max capacity of a QR code.

My gut says we may need #1 and #2 but not sure.

[2017-04-19 18:07] lognaturel commented on #781
With the settings list above, if I assume 30 chars for free text fields and 90 chars for URLs, that gets to just shy of 1900 bytes uncompressed. That would be a very strange configuration with a very long Aggregate URL and also a fallback Google docs submission URL. Since there would be more variation in the freeform text, I suppose it wouldn't compress as much so we'd probably be looking at somet

[2017-04-19 19:08] smoyte commented on #781
Ok I think that would fit. We should probably have a failsafe with a user friendly error ("Your settings are too long to fit ...") just in case?

[2017-04-19 19:12] lognaturel commented on #781
Yes, I think it will fit, even if we're adding a lot more settings. And I think @shobhitagarwal1612 already has a check and warning for max length!

Another thing I've been thinking about is passwords. I think it is important that they be included because it's core to your use case (configuring server username/password for each device) and I think it's important for mass configuration (configuring

[2017-04-19 19:47] nribeka commented on #914
Maybe we can rearrange the button? Two at the top and two at the bottom? 🤣

The top two probably will be reset and set color, the two at the bottom will be save and cancel.

[2017-04-19 19:51] lognaturel commented on #923
@getsanjeev Take a look at the "testing a form locally" section of the readme!

[2017-04-20 03:33] lognaturel commented on #242
Thanks @abbyad @alxndrsn for the context. I dove into the code and found [this commit](https://github.com/medic/medic-collect/commit/740e2a8471b5cf75f36345e51015819348c616ab) and [this one](https://github.com/medic/medic-collect/commit/5919f3b05b37da95b6876c8876c90e1df830d017) useful.

Here's my high-level understanding of the approach:
- SMS payload is saved using [getFilledInFormSMS](https://git

[2017-04-20 05:08] ghost commented on #863
Any progress on this issue? Anyone?
Thanks

[2017-04-20 10:17] lokpriya opened #931 "Replaces Existing Data on Google Spreadsheet"
#### Software and hardware versions
Collect v1.5.1, Android 5.1 device used...

#### Problem description
While submitting the data on Google Spreadsheet the existing data is replaced from the new one.
#### Steps to reproduce the problem

#### Expected behavior
The data should be continue on rows
#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-04-20 13:05] smoyte commented on #781
Interesting point. It got me thinking: for the phone-to-phone use case does it even make sense to include login credentials? I could see that in fact being a deal breaker for some folks. i.e. "I wanted to share my settings with my fellow enumerator but not my password! So I couldn't use this..." Perhaps we should have a checkbox, off by default, saying "Include login credentials"?

Then if you che

[2017-04-20 19:05] lognaturel commented on #908
@tiritea "Fortunately", I think that the current usage of `trigger` has nothing to do with the XForms `trigger`. You can change the boolean back and forth as much as you want.

[2017-04-20 21:32] #923 closed, assigned to nobody

[2017-04-20 21:39] lognaturel commented on #897
There's one more requirement for this that I just thought of. The date display should respect the `appearance`. That is, if the `appearance` is `month-year`, the date should be displayed as April 2017, for example, NOT as April 1, 2017.

Do you think you can get the first part of this done by Monday 4/24? If not, let us know so someone else can complete it before the code freeze next Wednesday!

[2017-04-20 22:43] lognaturel commented on #847
@SIMRAN1 please make sure to read the comments on an issue! @rijuldhir is already working on this one.

[2017-04-20 22:46] icemc commented on #890
@lognaturel @yanokwa new PR submitted which provides the functionalities requested.

[2017-04-20 23:31] lognaturel commented on #931
@lokpriya I am not able to reproduce this using a fresh install of Collect v1.5.1 from the Play Store. Is this a form that you created recently or that you were using with previous versions of Collect? If the form .xml file can be shared publicly, it would be helpful if you could attach it here. You will need to download it from Google Drive and then rename it to .txt because GitHub doesn't accept

[2017-04-21 00:57] tiritea commented on #908
I think what you meant to say was "You can 'acknowledge' (or repudiate) back and forth as much as you want" :-) But its probably a good thing for Collect to support for indecisive users... ha

[2017-04-21 01:02] lokpriya commented on #931
@lognaturel I have attached the file. Even updating from the google play store same problem exists.
[UMLADMUN.txt](https://github.com/opendatakit/collect/files/945804/UMLADMUN.txt)

[2017-04-21 02:07] lognaturel commented on #931
Thank you very much for attaching the form @lokpriya , that's hugely helpful. I can reproduce the problem with it but not with other forms that I have tried and I'm digging into the root cause. My initial hypothesis is that it has to do with the first value/column being blank. In the mean time, you can go to File > See revision history to see any data that might have come in.

[2017-04-21 04:08] lognaturel commented on #931
It does seem like I can fix the problem by replacing `<notice/>` with something like
[code]
Any text can go in the notice default but interestingly, `&#x20;` doesn't seem to work (space).

I created a minimal form that I thought would fail ([notice-and-name.txt](https://github.com/opendatakit/collect/files/946008/notice-and-name.txt)) but it doesn't so I'm still not clear on what the root cause of

[2017-04-21 10:00] nikialexopoulou commented on #897
@lognaturel we'll try to make it. If we see that we can't do it, we'll inform you by tomorrow.

[2017-04-21 12:42] grzesiek2010 commented on #107
@lognaturel I'm not sure if I understand that... as I know we display version in FormDownloadList if it's available for example there is a version for "Cascading Select Form" and "Cascading Triple Select Form" so what is the problem?

[2017-04-21 17:39] lognaturel commented on #908
@grzesiek2010 To be more explicit, `trigger` is not meant to be used in this way at all. This is the kind of form that should work: [desired-boolean.txt](https://github.com/opendatakit/collect/files/947845/desired-boolean.txt)

The resulting instance should look something like:
[code]

I said "something like `TriggerWidget`" because I think we should introduce a better name such as `BooleanWidget`

[2017-04-21 17:53] #879 closed, assigned to nobody

[2017-04-21 18:27] lognaturel opened #939 "Dates in date widget always go back to Jan 1, 1970"
#### Software and hardware versions
Collect v1.5.1-93-gefeaf935

#### Steps to reproduce the problem
1. Download a form with a calendar date widget (e.g. Widgets from the default server)
1. Notice that the month/year spinners are set to Jan 1900
1. Tap in the calendar, the spinners change to the current month/year
1. Set a date, swipe to the next question, then swipe back, the spinners are back to

[2017-04-21 19:03] lognaturel commented on #939
This is because there isn't any code to update the calendar view anymore. Some of the code removed in #789 will need to come back. @grzesiek2010 can you please take a look at this one?

[2017-04-21 19:10] lognaturel commented on #939
Ahhhh, sneaky. You've already addressed this in #935, right?

[2017-04-21 19:19] grzesiek2010 commented on #939
@lognaturel yes it works well in #935 so if rest of changes are ok we can merge all together otherwise I can create separate pr.

[2017-04-21 19:20] lognaturel commented on #939
Cool, will review #935 shortly.

[2017-04-21 19:22] lognaturel commented on #939
Actually, let me leave this open until we merge #935 because it's likely someone else would notice and report it.

[2017-04-21 20:39] lognaturel opened #943 "Capture redundancy between DrawWidget, AnnotateWidget and SignatureWidget"
`DrawWidget`, `AnnotateWidget` and `SignatureWidget` have a lot in common but that similarity is not reflected in the code. Capturing that similarity will make it possible to make interface improvements to all three at the same time.

[2017-04-21 21:43] lognaturel commented on #741
@pratikmjoshi Any updates on this issue? It'd be great to have it addressed for this month's release!

[2017-04-21 22:52] tiritea commented on #908
FYI as you described is pretty much exactly how I've done it in my XForms client, and I think how booleans were probably intended to be handled in the XForms spec. I so must naturally agree... :-)

[2017-04-21 22:53] lognaturel commented on #660
I'm sorry @rajatthakur @beast-incarnate I totally missed your last couple of comments! Yes, simply catching the exception does work. @beast-incarnate would you like to submit a pull request for that? I recommend that you pull from the latest master and start your branch from there since a number of things have changed. You'll want to do the logging with `Timber`, for example (search the code for e

[2017-04-21 22:56] lognaturel commented on #908
@tiritea Good to know we're interpreting things the same way!

[2017-04-21 23:04] grzesiek2010 commented on #908
@lognaturel ok so to be sure: it should be a new widget (similar to TriggerWidget - with checkbox) and as an answer it should save true/false that's all am I right?

[2017-04-21 23:05] lognaturel commented on #863
There's unfortunately nothing we can do on the Collect side to fix this. Does the device itself let you set a stock size? Can you get a correctly-printed label with the Zebra app?

Perhaps @clarlars has some more insights on whether there might be something in the sensors framework or the driver that can be configured?

[2017-04-21 23:14] tiritea commented on #908
For reference: https://en.wikibooks.org/wiki/XForms/Checkbox

[2017-04-21 23:26] lognaturel commented on #796
Thanks @sanovikov71, I have suppressed it for now so we can keep thinking about it and seeing if we can come up with a solution.

[2017-04-21 23:38] yanokwa commented on #518
Hi @lakshyagupta21, I'm sorry about the delay on this issue!

I've tested this on a Pixel emulator running API 25 and for 1998 files, it fails at 1466. Given that this is so painful to test on a slow connection, I think @nribeka should give it go.

And to make the test go faster, @nribeka, I'd recommend using a local VM instead of running it against App Engine. https://github.com/nafundi/odk-aggre

[2017-04-21 23:50] yanokwa commented on #781
I think it does make sense to include credentials. There are some deployments, where you have groups of enumerators with the same credentials. What about on the generating device, we have two checkboxes for including or excluding the server and admin password in the generation?

To be explicit, the reason we need compression is not just to fit all the data. The smaller the data, the faster and les

[2017-04-22 00:24] lognaturel commented on #107
Huh, looks like this was addressed at some point!

[2017-04-22 00:24] #107 closed, assigned to mitchellsundt

[2017-04-22 00:55] lognaturel commented on #38
Either of those interfaces would be nice and it's true that they'd be better than separate controls. I think that with either interface, something new would need to be introduced at the ODK XForms spec level.

To make matters a little more confusing, W3C XForms does include a range control described [here](https://en.wikibooks.org/wiki/XForms/Range) but what it does is show a slider of a certain r

[2017-04-22 01:14] lognaturel commented on #105
Coming back to this because it's related to #38. This seems like a nice thing to do but unfortunately, I don't think it can be something simple like just an `appearance` on an integer input because a range of values also needs to be defined at the form level. I don't think we could use constraints for that. This might be best implemented as an `appearance` on the W3C XForms [`range` control](https

[2017-04-22 07:11] kunalsingh3110 commented on #660
Sure @lognaturel  , I will update my branch and submit the PR .

[2017-04-22 16:10] imran3may opened #956 "issue with compact-2 and compact-3"
Hello Github community,

I found an issue with compact-3 and compact-2 functions. Please find attached a sample form, on which there are three compact functions: "quickcompact" which is working perfectly, "compact-2" which I really need due to the type of the project I am working on, and I am trying to use "compact-2" with select multiple and issue with this is, if I select 3 options from the list

[2017-04-23 14:47] nribeka commented on #518
@yanokwa will look at this 👍

[2017-04-23 21:42] nikialexopoulou commented on #897
@lognaturel we can't complete the issue, so if anyone else would like to take it, please do. I'm sorry we're late but we were trying till today.

[2017-04-24 09:58] grzesiek2010 commented on #908
@lognaturel

If we use [DATATYPE_BOOLEAN](https://github.com/grzesiek2010/javarosa/blob/master/core/src/org/javarosa/core/model/Constants.java#L61) we use [BooleanData](https://github.com/grzesiek2010/javarosa/blob/master/core/src/org/javarosa/core/model/data/BooleanData.java#L34) to save/read an answer and the asnwer isn't saved as true/false as you said. It's 1 or nothing. So if you want to save

[2017-04-24 16:26] MartijnR commented on #38
Yes, let's discuss capturing a range as a spec addition and see if there is a nice way to do this. Hopefully something that already exists or that builds upon a range control that captures a single value.

[2017-04-24 19:15] #890 closed, assigned to nobody

[2017-04-24 22:01] lognaturel commented on #897
Thanks for letting us know, @nikialexopoulou.

[2017-04-24 22:23] lognaturel commented on #864
Thank you, @nmpatsal!

[2017-04-24 22:23] #864 closed, assigned to nobody

[2017-04-24 23:37] lognaturel commented on #908
Very interesting. I didn't realize this but `true`, `false`, `0` and `1` are all valid literals just to make things more annoying (see [W3C standard](https://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#boolean)). I think `0`/`1` is fine, systems that are XSD-compliant should be able to handle that as well. I have verified that #959 does in fact result in `0`/`1` and not `1` or bla

[2017-04-24 23:45] lognaturel commented on #908
Oh, no, I'm looking back at [this thread](https://groups.google.com/forum/#!topic/opendatakit-developers/w1h5UrtEM8s) and it seems that Aggregate treats `1` as `false`. Yikes! I do think we should fix that in Aggregate at some point but perhaps in the mean time the right thing to do is to output `true`/`false` for boolean. I don't think that would have any negative impact (other than, of course, w

[2017-04-25 04:50] lognaturel commented on #956
I believe this is a duplicate of #802 which is fixed in the next release coming out 4/29!

[2017-04-25 04:50] #956 closed, assigned to nobody

[2017-04-25 07:52] grzesiek2010 commented on #828
I'll fix this today as we need this for April release.

[2017-04-25 09:09] tiritea commented on #908
0/1 and true/false are probably the most formally correct (and expected) boolean literals. Yes/No seems a bit on the colloquial side IMO, but no big deal; they're legitimate boolean literals in some languages (eg Objective-C). However, 'OK' is (excuse the pun) !OK... :-) The word is too imprecise and ambiguous I think for something as concrete as "TRUE or FALSE (and nothing in-between!)"

And yes,

[2017-04-25 10:57] imran3may commented on #956
Hi Hélène,

This is kind of duplication however not completely as the issue with
multiple select was not mentioned on  #802
<https://github.com/opendatakit/collect/issues/802> , Options cannot be
deselected under compact, once selected by mistake for multiple select
questions.

Thanks,
Imran

A N M AL IMRAN (Imran)
Brossard, QC
Canada
Cell: +1 (438) 501 3576

On 25 April 2017 at 00:50, Hélène Mart

[2017-04-25 11:06] imran3may opened #969 "Front Camera by default"
I would like to request to add a feature to ODK for opening the front camera by default. In some cases the users may need to take their own snap as a record and the level of users are: they can hardly can mange to use couple of functions on a form and flipping camera could be big issue for them.

[2017-04-25 11:10] imran3may commented on #802
multiple_select options cannot be deselected under compact, once selected.

[2017-04-25 12:31] grzesiek2010 commented on #897
@lognaturel I have fixed this locally but I would like to merge #935 first.

[2017-04-25 15:11] #828 closed, assigned to nobody

[2017-04-25 15:46] alxndrsn opened #971 "Cannot run gradle offline"
Trying to run `gradle tasks` without internet gives the following output:
[code]

It should be possible to run builds offline using the local maven file repo.

[2017-04-25 16:40] yanokwa commented on #971
I *think* this is a problem that will resolve itself once we move away from the snapshot build. Tagging as future release so I can verify this later.

[2017-04-25 16:43] #81 closed, assigned to mitchellsundt

[2017-04-25 16:43] #939 closed, assigned to nobody

[2017-04-25 17:02] lognaturel opened #972 "After running InstanceUploaderTaskTest, Aggregate URL is set to localhost"
#### Software and hardware versions
Collect v1.5.1-118-g17bb0d48

#### Problem description
After running InstanceUploaderTaskTest, Aggregate URL is set to localhost.

#### Steps to reproduce the problem
1. Set Aggregate URL to a working server in General Settings > Platform Settings
1. Run `InstanceUploaderTaskTest`
1. Go to General Settings > Platform Settings and verify that the server is now se

[2017-04-25 17:08] lognaturel commented on #802
@imran3may That has also been addressed. The problem wasn't actually that it wasn't being deselected but that the user interface wasn't refreshing. In the version you currently have, you can tap on a selected item, swipe to the next question and swipe back to verify that the item was in fact unselected. It's the same thing with the select-one -- both weren't actually selected but the interface was

[2017-04-25 17:38] imran3may commented on #802
Dear Hélène,

Thanks for the clarification.

Regards,
Imran

A N M AL IMRAN (Imran)
Brossard, QC
Canada
Cell: +1 (438) 501 3576

On 25 April 2017 at 13:08, Hélène Martin <notifications@github.com> wrote:

[2017-04-25 17:46] lognaturel commented on #908
Unfortunately, I think that all means that this issue has dependencies. I think the easier one to resolve would be to have JR output `true` and `false` for boolean. @grzesiek2010 can you please see whether that would affect anything else? If not, you can issue a pull request for that and we can make this all part of the May release.

[2017-04-25 17:56] alxndrsn commented on #972
On it.

[2017-04-25 20:13] nribeka commented on #518
I don't know if you're seeing this @yanokwa, but i'm getting a lot of exception when uploading.

    04-25 16:11:42.955 19488-26186/org.odk.collect.android I/InstanceUploaderTask: Using Uri remap for submission 104. Now: https://nafundi-test.appspot.com/submission
    04-25 16:11:42.956 19488-26186/org.odk.collect.android I/InstanceUploaderTask: added xml_submission_file: basic_2017-03-06_10-39-48

[2017-04-25 20:16] yanokwa commented on #518
It might be an issue with you guys killing my App Engine instance! Try with a local box: https://github.com/nafundi/odk-aggregate-box

[2017-04-25 20:19] nribeka commented on #518
I'm in locked network, so can't use my phone. Tried using vagrant, and the emulator won't like the virtualbox running in the same instance. Have you run into this issue?

This exception is different though. So I looked into the code.

    messageParser = new ResponseMessageParser(httpEntity);
    WebUtils.discardEntityBytes(response);

When ResponseMessageParser gets created, it's also reading the

[2017-04-25 20:37] grzesiek2010 opened #973 "Language is changing unexpectedly"
#### Software and hardware versions
Current master branch

#### Problem description
I use polish language on my device but in ODK I use English. When I use signature widget my language is changed to polish.

#### Other information
![language](https://cloud.githubusercontent.com/assets/3276264/25406617/9654b5d6-2a07-11e7-9c6a-603cac294493.gif)

[2017-04-25 20:57] grzesiek2010 commented on #973
Looks like it was fixed yesterday, my branch wasn't updated.

[2017-04-25 20:57] #973 closed, assigned to nobody

[2017-04-25 20:59] nribeka opened #975 "Exception when uploading instances"
#### Software and hardware versions
Collect latest from master on Moto X Pure

#### Problem description
When uploading instance, there's exception when closing the response stream. The upload is successful though.

#### Steps to reproduce the problem
Upload a single instance to the nafundi test server (or any aggregate server).

#### Expected behavior
No stacktrace in the log.

#### Other informat

[2017-04-25 21:18] tiritea commented on #908
FYI my XForms client outputs `true` or `false` for boolean. It seems like an obvious choice given that's what ODK Aggregate will give you back.

Keeping "OK" about is probably fine for legacy support, but probably not something to encourage, or overtly document...

[2017-04-25 22:24] grzesiek2010 opened #976 "App crashes when I try to open saved signature"
#### Software and hardware versions
Current master branch

#### Problem description
App crashes when I try to open saved signature
It's caused by https://github.com/opendatakit/collect/pull/955

#### Steps to reproduce the problem
1. Open a form with signature widget
2. Save your signature
3. Click again on the "Gather Signature" button

#### Other information

[2017-04-26 00:33] #976 closed, assigned to nobody

[2017-04-26 01:24] yanokwa commented on #518
I used to have the problem of Virtualbox and the emulator not running simultaneously. The solution is to upgrade to the latest version of HAXM. I think 6.1.1 is when they fixed the problem.

Android Studio doesn't make it easy for you to upgrade HAXM, you might have to install it manually.
* Mac/Windows: https://software.intel.com/en-us/android/articles/intel-hardware-accelerated-execution-manager

[2017-04-26 03:08] #897 closed, assigned to nobody

[2017-04-26 04:43] shobhitagarwal1612 commented on #741
Fixed in #967

[2017-04-26 15:27] #794 closed, assigned to nobody

[2017-04-26 15:29] #741 closed, assigned to nobody

[2017-04-26 15:31] lognaturel commented on #660
This is now suppressed by #954 but the source file isn't deleted. It would probably be good to address the root cause.

[2017-04-27 16:00] mdudzinski commented on #868
Hi @alihelmi87
I think this issue is related to the javarosa core library. I already reported it as https://github.com/opendatakit/javarosa/issues/45 with some technical research.

[2017-04-27 16:02] nribeka commented on #518
Tested locally and 9k + 2k instances were uploaded successfully. Maybe we need to close this?

I notice there are 2 issues that we need to address from this testing:
1. The exception mentioned above.
2. The observer in the `MainMenuActivity` is always trying to sync the number of instances by executing the count query on the instances table. This will be fine if the `InstanceSyncTask` is not runni

[2017-04-28 13:51] yanokwa commented on #971
@alxndrsn Can you update to master and see if this is still a problem? I believe it has been fixed by https://github.com/opendatakit/collect/pull/978.

[2017-04-28 16:57] lognaturel commented on #678
I think we should consider this fixed. With #679 and #785, the behavior is as I would expect it.

Thanks again for reporting @pratikmjoshi and I apologize for having trouble initially understanding what the issue was about! I'm surprised there were so many problems with these widgets. But now they're fixed! 🎉

[2017-04-28 16:57] #678 closed, assigned to nobody

[2017-04-28 18:57] lognaturel commented on #427
Closed by #789.

[2017-04-28 18:57] #427 closed, assigned to nobody

[2017-04-28 19:09] pratikmjoshi commented on #741
@lognaturel I'm really sorry that I didn't get back to you on this. Exams are around the corner so I wasn't able to get back on this issue.

[2017-04-28 19:10] lognaturel commented on #741
That's ok, @pratikmjoshi, I hope your exams go really well! 😊 Thanks again to @shobhitagarwal1612 for taking it on.

[2017-04-28 19:11] pratikmjoshi commented on #741
Thanks! I'll get right back to contributing when they're over

[2017-04-29 07:21] alxndrsn commented on #971
Looking better, thanks!

[2017-04-29 07:21] #971 closed, assigned to nobody

[2017-04-29 12:46] yanokwa commented on #518
@nribeka Can you please file an issue on the observer in MainMenuActivity?

[2017-04-29 12:52] yanokwa opened #985 "Exception when sending form to server without form definition"
#### Software and hardware versions
Collect latest from master on Pixel emulator running API 25

#### Problem description
When I send a test form whose form definition does not exist on a server, I get these errors in the log.

#### Steps to reproduce the problem
Upload a single instance of any form that is not on the odk test server to the odk test server (or any aggregate server).

#### Expected

[2017-04-29 13:43] yanokwa commented on #518
I think there is a bug and I can repro it on my Pixel emulator running API 25 and submitting to nafundi-test. I do not get the behavior when submitting to a local server.

I do not get it with a Nexus 5 emulator running API 22 and submitting to nafundi-test. What emulator did you use, @nribeka?

Run 1
[code]

Run 2
[code]

[2017-04-29 17:15] lognaturel commented on #424
I had a chance to talk to Dale briefly about this and unfortunately an app-wide setting won't solve the problem because different forms might have different date orders. I will file an issue on the XForms spec side of things so we can discuss adding an option for date order at the form level.

@nikialexopoulou unfortunately we will need to wait on this one.

[2017-04-29 17:26] yanokwa commented on #518
Testing on a Moto G4 with Android 7.0 submitting to nafundi-test also gets errors.

[code]

[2017-04-29 18:54] lognaturel opened #986 "Hint appears multiple times when using datetime widget"
#### Software and hardware versions
Collect v1.5.1-127-gb5d5e1e9

#### Problem description
When there's a hint specified for a datetime widget, it appears twice with the date and once with the time.
<img width="237" alt="screen shot 2017-04-29 at 1 46 16 pm" src="https://cloud.githubusercontent.com/assets/967540/25557956/546a709c-2ce2-11e7-86f8-eb1ddcf91159.png"><img width="234" alt="screen shot 2

[2017-04-29 20:55] #986 closed, assigned to nobody

[2017-04-30 19:39] lognaturel opened #991 "Error for date widget in API 24: "Not supported by calendar-mode DatePicker""
#### Software and hardware versions
Collect v1.6.0

#### Steps to reproduce the problem
Go to a question that uses a DateWidget with no appearance (in the Widgets form from the default server, for example).

#### Expected behavior
There should be no error when using an embedded calendar.

#### Other information
[This](https://github.com/AndroidSDKSources/android-sdk-sources-for-api-level-24/blob/m

[2017-04-30 19:42] lognaturel opened #992 "Date/time spinners not working in API 24"
#### Software and hardware versions
Collect v1.6.0, Android 7.0.0

#### Steps to reproduce the problem
Go to a question that uses a `DateWidget` or `TimeWidget` with a `no-calendar` appearance. Calendar or clock pickers are shown rather than legacy spinners

#### Expected behavior
Legacy spinners should be shown.

#### Other information
[This](https://issuetracker.google.com/issues/37119315) is pr

[2017-04-30 19:46] yanokwa opened #993 "OK/Cancel text changed to some other language on Moto G4"
#### Software and hardware versions
Collect v1.6.0, Android v7.0, Moto G4

#### Problem description
OK/Cancel text changed to some other language on Moto G4.

#### Steps to reproduce the problem
In device, set device language to English. In Collect's General Settings, set Language to use device language. In General Settings, tap on Platform. Instead of Cancel, you'll see non-English text.

![devic

[2017-04-30 20:51] lognaturel commented on #991
The core issue is really #992. Because legacy mode doesn't work, we get this crash.

[2017-04-30 20:51] #991 closed, assigned to nobody

[2017-04-30 23:07] #992 closed, assigned to nobody

[2017-05-01 16:08] #972 closed, assigned to nobody

[2017-05-01 16:10] #908 closed, assigned to nobody

[2017-05-01 21:20] tiritea commented on #908
Since ODK Collect will now accept 'type=boolean', it would be appropriate for XLSForm to now accept boolean as a valid binding type. It current throw an "unrecognized type" error - see my earlier comment [here](https://groups.google.com/d/msg/opendatakit-developers/w1h5UrtEM8s/g5R8VpARAQAJ)).

Would you like me to open an issue at [XLSForm](https://github.com/XLSForm/pyxform/issues), or would one

[2017-05-01 23:51] lognaturel commented on #908
Issues and pull requests on the [XLSForm spec](https://github.com/XLSForm/xlsform.github.io) and [pyxform](https://github.com/XLSForm/pyxform) repos would be appreciated. You can refer back to this one so it's all connected!

[2017-05-02 10:27] FlorentDotMe opened #995 "Date widget issue on Android 7.1.X"
#### Software and hardware versions
Collect: v1.6.0
Honor 5C / LineageOS 14.1 / Android 7.1.1
Nexus 5 / LineageOS 14.1 / Android 7.1.2
Nexus 9 / Stock 7.1.1

Works on Android 6.0, 4.2.

#### Problem description
Since the 1.6.0 Collect update, existing forms using the Date widget crash when loading the date type question.

![screenshot_20170502-120511](https://cloud.githubusercontent.com/assets/292

[2017-05-02 12:08] yanokwa commented on #995
@FlorentDotMe Sorry this update is causing you problems! Can you please include two - three question form (XLS or XML) that has this problem?

[2017-05-02 12:58] FlorentDotMe commented on #995
@yanokwa Please find attached a very simple form with which I'm facing the issue, and related screenshots.

[Issue 995 - example.zip](https://github.com/opendatakit/collect/files/970489/Issue.995.-.example.zip)

[2017-05-02 13:25] shobhitagarwal1612 commented on #995
I was unable to reproduce the bug with the provided form. I tested on both debug and release versions.
Android 7.1.1 Lineage OS
Sony C1904
API 25

![device-2017-05-02-185206](https://cloud.githubusercontent.com/assets/8918023/25619536/df8eee22-2f68-11e7-875c-2e00ebbb9061.png)

[2017-05-02 13:44] yanokwa commented on #995
@FlorentDotMe What physical device do you have?

[2017-05-02 13:51] FlorentDotMe commented on #995
That's surprising, as for now the problem occurs on 3 of my devices:
- Honor 5C / LineageOS 14.1 / Android 7.1.1
- Nexus 5 / LineageOS 14.1 / Android 7.1.2
- Nexus 9 / Stock 7.1.1

All of these devices were working well with the previous Collect version.

[2017-05-02 13:54] dig360 opened #996 "date field issue after upgrading to v. 1.6.0"
#### Software and hardware versions
Collect v1.6.0, Android 7.0 build 32.3.A.2.33, phone Sony Xperia Z5 Compact

#### Problem description
After upgrading to v 1.6.0, my form stop with an error message :
![image](https://cloud.githubusercontent.com/assets/1770752/25620699/8efd602e-2f4f-11e7-80d7-93efab4c42a5.png)

#### Steps to reproduce the problem
Just use my already made forms

#### Expected beh

[2017-05-02 13:56] lognaturel commented on #996
This is a duplicate of #995, please follow along there to get updates!

[2017-05-02 13:56] #996 closed, assigned to nobody

[2017-05-02 13:59] lognaturel commented on #995
My guess is that something has changed in the way that empty dates are interpreted. @FlorentDotMe @dig360 One possible quick fix to try is to add `today()` to the default column for your dates. We'll keep seeing what we can do to address it more fundamentally but it's unfortunately difficult to fix something we can't reproduce! :/

[2017-05-02 14:02] lognaturel commented on #995
@shobhitagarwal1612 @yanokwa Could you try changing your phone's language to French or Spanish? Or @FlorentDotMe @dig360, could you see what happens if you change the language to English (US)?

[2017-05-02 14:09] yanokwa commented on #995
I cannot repro this on a Pixel emulator running 7.1.1 (or a Genymotion emulator running 7.1.0). For the former, I've tried French and English. I've tried new forms, edited forms, changed dates, and nada. Very strange...

![may-02-2017 09-07-31](https://cloud.githubusercontent.com/assets/32369/25621415/eadb7cac-2f16-11e7-8c96-898d1014c9fc.gif)

[2017-05-02 14:42] FlorentDotMe commented on #995
@lognaturel My Honor 5C is already fully in English, Nexus 5 and Nexus 9 are in French. Issue doesn't seem related to the language. I also tried your suggestion by adding today() as default value, but it didn't fix the problem.
@yanokwa I'm deploying the right emulator to reproduce as you did.

Having the issue on 3 different devices (different hardware, different ROM, but same API) let me think t

[2017-05-02 14:44] yanokwa commented on #995
Thanks for the additional detail, @FlorentDotMe! If you want to work with us in real-time to repro it, we are on http://slack.opendatakit.org in the #collect-code channel.

[2017-05-02 14:54] dig360 commented on #995
@lognaturel : just tried in english, I receive the same message. I'll change the default value later to try to fix that way... Not actually at home... I'll back with the result.

[2017-05-02 15:00] lognaturel opened #997 "Improve db migration from version 3 to 4 when an old fork (e.g. KoboCollect) is also installed"
#### Problem description
There's a crash that can happen when migrating from db versions 3 to 4 because it tries to create columns that are already there. This can happen when there's a Collect-derived tool like Kobo on the device (see [this thread](https://groups.google.com/forum/#!topic/opendatakit/vOSPGNWQJGc)) or when going back to a version before the db migration and trying to upgrade again.

[2017-05-02 15:12] lognaturel commented on #995
Thanks @dig360! @FlorentDotMe tried that and it didn't work so I don't think it will help unfortunately.

My new hypothesis is that some Android builds have extra early checks for date validity and that the problem is [here](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/DateWidget.java#L238). What we've been doing is setting the picker

[2017-05-02 15:26] lognaturel commented on #995
Here's an APK: [collect_app-debug.apk.zip](https://github.com/opendatakit/collect/files/970916/collect_app-debug.apk.zip)

First uninstall Collect. Then copy the APK to the phone and tap to install. Or if you have developer tools installed you can run `adb install collect_app-debug.apk`. Thanks!

[2017-05-02 15:46] lognaturel opened #998 "Crash when accessing jump menu"
Stack trace from Firebase Crash. Happens across API levels.

[code]

[2017-05-02 17:37] #995 closed, assigned to nobody

[2017-05-02 17:46] lognaturel opened #1001 "Big form not working in recent versions"
[giant-form.zip](https://github.com/opendatakit/collect/files/971376/giant-form.zip) used to work. It's really huge so depending on the device it can be really slow to load and use but I have just verified that I can get it going on my Nexus 5 running Android 6.0.1 and the 1.4.9 version downloaded from [here](https://opendatakit.org/downloads/download-info/odk-collect-apk/#).

In the current versi

[2017-05-02 17:46] yanokwa commented on #997
#1000 fixes the case when you are only using ODK Collect. I expect that if you have KoboCollect, you might still get crashes due to it acquiring a lock on the DB. We'll keep this issue open for now to watch for those kinds of crashes.

[2017-05-02 19:50] yanokwa opened #1002 "Date widgets in API 16/17 show time in their answer"
If you have a datetime widget with a no-calendar appearance and select the date, the answer that is shown below the Select date box includes time. It should just be the date (e.g., only the month, only the month-year).

<img width="684" alt="screen shot 2017-05-02 at 14 48 40" src="https://cloud.githubusercontent.com/assets/32369/25636252/795c24ac-2f46-11e7-9570-5601d0cd5fb0.png">

This behavior a

[2017-05-02 20:13] lognaturel opened #1003 "IndexOutOfBoundsException in ListView"
Seen with API 19, 21, 22. Stack trace from Firebase Crash:
[code]

[2017-05-02 20:35] lognaturel commented on #1002
[Here](https://github.com/opendatakit/collect/blob/ee3ad1153b928be3966b4956f1b8a46b68892642/collect_app/src/main/java/org/odk/collect/android/utilities/DateTimeUtils.java#L81) is the explanation for that -- [`getBestDateTimePattern`](https://developer.android.com/reference/android/text/format/DateFormat.html#getBestDateTimePattern(java.util.Locale,%2C+java.lang.String)) was introduced in API 18. T

[2017-05-02 20:38] lognaturel commented on #995
@dig360, @FlorentDotMe was able to try out the patched version and confirm that it fixes the problem! We're working on a 1.6.1 patch release that should be out shortly.

[2017-05-02 20:57] yanokwa commented on #995
The releases are rolling out on the Google Play store now!

[2017-05-02 20:58] yanokwa commented on #995
@dig360 and @FlorentDotMe The releases are rolling out on the Google Play store now. Please upgrade to fix the issues you reported!

[2017-05-02 23:07] lognaturel commented on #660
Also, @nribeka had a good suggestion for something to look into [here](https://github.com/opendatakit/collect/issues/660#issuecomment-287448545).

[2017-05-02 23:33] lognaturel commented on #1001
Whaaaat? Now it opens just fine on 1.6.0. Would be good to get a repro attempt.

[2017-05-03 05:09] dig360 commented on #995
Release 1.6.1 solved the issue for me. Thank you for the very quick answer.
Bests Regards
Didier

Le 2 mai 2017 22:58, "Yaw Anokwa" <notifications@github.com> a écrit :

[2017-05-03 15:32] nikialexopoulou commented on #943
@lognaturel Is someone assigned to this issue?

[2017-05-03 21:48] lognaturel commented on #969
There was a conversation about this [here](https://groups.google.com/forum/#!searchin/opendatakit/front%7Csort:relevance/opendatakit/6ao-O_B2Wlk/57fGH3STAQAJ). Seems it could be valuable to low-literacy users so we should try to do it.

I think this is something organizations would specify for particular image fields in their forms. It's very much client-specific so I think adding an `appearance`

[2017-05-03 21:51] lognaturel commented on #956
@imran3may Could you please quickly confirm that v1.6.1 from the Play Store now does what you expect?

[2017-05-03 22:00] lognaturel commented on #105
I think we should aim for a `RangeWidget` with a default appearance using a [SeekBar](https://developer.android.com/reference/android/widget/SeekBar.html) that looks something like:
![seekbar-1](https://cloud.githubusercontent.com/assets/967540/25585233/334b845e-2e5f-11e7-8926-4e30f2f76ec7.png)

@dcbriccetti is working on support in JavaRosa (opendatakit/javarosa#44) and has setup a basic wrapper

[2017-05-03 22:37] imran3may commented on #969
Hi Hélène,

*Actually to force them taking a picture if they want to submit one. As the
objective is to see a patients' appearance for the day.*

*Thanks,*
*Imran  *

A N M AL IMRAN (Imran)
Brossard, QC
Canada
Cell: +1 (438) 501 3576

On 3 May 2017 at 17:48, Hélène Martin <notifications@github.com> wrote:

[2017-05-03 22:41] imran3may commented on #956
Dear Hélène,

Amazing, it is working perfectly. My heartful *gratitude* to you and all
the developers contributing to ODK.

Regards,
Imran

A N M AL IMRAN (Imran)
Brossard, QC
Canada
Cell: +1 (438) 501 3576

On 3 May 2017 at 17:51, Hélène Martin <notifications@github.com> wrote:

[2017-05-03 23:19] lognaturel commented on #956
Yay, I'm happy to hear it's working now, @imran3may! 🎉

[2017-05-03 23:31] lognaturel commented on #740
@rishsethia Would you still like to address this one or should we let someone else take a look at it? It would be nice to do for the May release.

[2017-05-04 02:32] lognaturel commented on #272
This looks great, @rishsethia, @pailletm! I'd like to get a few more eyes on it and then make sure it's available from the official server and mentioned in the README.
https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ

I tried to make sure that each control and appearance was included and clearly documented. There may still be a few missing. @wonderchook @shobhita

[2017-05-04 02:43] lognaturel commented on #508
@nribeka It'd be great to make progress on the location aspect of the audit logging as @nap2000 was describing. I know you're out for about the next month, would you mind sharing what you have so far and transitioning it to someone else? Thanks!

[2017-05-04 02:46] lognaturel commented on #943
@nikialexopoulou No one is currently but now that I'm thinking about it, I wonder whether @grzesiek2010 should look at it since he's reviewing the draw activity in #961. It might make sense to look at them together since they may start diverging more. @grzesiek2010?

@nikialexopoulou Are there other issues that interest you? I can also think about some that you might like and would be good for the

[2017-05-04 02:48] rishsethia commented on #740
Hi @lognaturel,
I would love to work on this issue , but currently my exams are going on , so this might take a bit time to do ! If there's a strict deadline, we might have to delegate , otherwise , I will be more than happy to solve it !

[2017-05-04 08:25] nikialexopoulou commented on #943
@lognaturel ok, thank you!

[2017-05-04 08:31] acoveny opened #1009 "ODK Collect 1.6.1 the ${username} variable not set."
#### Software and hardware versions
ODK Collect v1.6.1, Android v7.0, Motorola 4G
ODK Aggregate Server 1.4.9

#### Problem description

Using ODK Collect 1.6.1 the ${username} variable not set when the form starts to be filled in, not sent back, and does not appear in the exported json.

#### Steps to reproduce the problem
1. Filled in a form loaded on 1.6.1 Android 7 ( 1.6.0 works ok )
The Form d

[2017-05-04 14:21] lognaturel commented on #1009
I'm looking into this but am having trouble reproducing it. On my Nexus 5, Android 6.0.1, I went back down to v1.5.1, put in username 'test1' in the username field and my gmail in the gmail address field,  updated to 1.6.1 from the Play Store, filled out [preloads.txt](https://github.com/opendatakit/collect/files/976376/preloads.txt) and verified that username and email are correctly populated whe

[2017-05-04 14:35] lognaturel commented on #1009
I tried the same thing on a Moto G4 running Android 7.0 and that is also working for me.

@acoveny The update from 1.5.1 to 1.6.1 was set up to copy the Aggregate username to the form metadata username field and the Google account to the form metadata email field so that username/email collection continued seamlessly.

If you reset settings after updating, then you would have to make sure that you

[2017-05-04 15:04] lognaturel opened #1010 "When default Aggregate success message is sent, show in current language"
#### Software and hardware versions
Collect v1.6.1

#### Problem description
#336 enabled custom server responses. This is great when an organization configures custom messages but not so great for organizations who use standard Aggregate because they end up with the English message "full submission upload was successful!" no matter the language Collect is set to.
<img width="229" alt="screen shot

[2017-05-04 15:10] acoveny commented on #1009
Hi Helene,

Thank-you so much for looking into this. Was not sure if this was an issue
more widely - looks like it is not.

I had upgraded my phone from 1.5.1 to 1.6.0, and then 1.6.1

Have _not_ noted the new Form metadata settings category.
Will have a go with the new Form metadata tomorrow at work and let you know
how it goes.

We are not using gmail or other google integration yet for ODK. We

[2017-05-04 15:12] lognaturel commented on #1009
@acoveny Do keep us posted! It would be very helpful to know whether or not setting the values in the Form metadata settings works (it should!).

[2017-05-04 15:15] lognaturel commented on #1010
@jnordling it would be very helpful to hear your thoughts on this!

[2017-05-04 15:20] acoveny commented on #1009
Hi Helene,

Apologies - feeling very stupid about now - just filled in the Form
metadata in General Settings and the username was picked up by my form an
pre-loaded beautifully.

The notes under the word Form metadata explains very clearly what it is
used for, and  should have picked that up.

Warm Regards,

Anne

On Fri, May 5, 2017 at 1:12 AM, Hélène Martin <notifications@github.com>
wrote:

[2017-05-04 15:35] lognaturel commented on #1009
It's no problem, I'm so happy to hear that's what it was!

I'm not sure why the values weren't copied as they were supposed to but perhaps it has to do with the Android update or phone reset. Happy data collection and let us know if you run into any other issues!

[2017-05-04 15:35] #1009 closed, assigned to nobody

[2017-05-04 16:12] mitchellsundt commented on #985
Looks like the OpenRosa response message parsing and displaying logic is
overly zealous.

Some response codes, like 404, 401, and probably most 3xx and 5xx will not
have a response message.

On Sat, Apr 29, 2017 at 5:52 AM, Yaw Anokwa <notifications@github.com>
wrote:

--
Mitch Sundt
Software Engineer
University of Washington
mitchellsundt@gmail.com

[2017-05-04 16:18] lognaturel commented on #985
Thanks @mitchellsundt, that does seem like exactly what's going on!

So it's kind of tangentially related to #1010 if someone wants to take both on. They should still be separate pull requests but they're in the same general area of the code so they'll be good to reason about together.

[2017-05-04 16:37] jnordling commented on #1010
I think the proposed check for the language is a good idea, especially since aggregate has no idea what language ODK is operating at can very user to user. This could also be solved by having the custom messaging be a configuration in the settings. We did that initially but then had to remove it. Over all I think the English check is fine...

[2017-05-04 16:49] lognaturel commented on #1010
Awesome, thanks! @nikialexopoulou, it's yours. 😊

[2017-05-04 21:24] shobhitagarwal1612 opened #1011 "Refactor the use of SharedPreferences"
In general, the current approach of using shared preferences is not at all organised. We need a better approach to handle them across the entire codebase.

@lognaturel has some idea regarding this which was mentioned during a conversation in #collect-code which has been pasted below.

`getEnumConstants` might be a way to approach getting a list of all preferences.

[2017-05-04 22:18] lognaturel commented on #1011
To be fair to the current structure, I do think it's been fine for the existing needs! Adding barcode-based configuration in #781 means now having to iterate over all of the preferences and knowing their defaults. That's hard to do with the current structure.

[This article](https://medium.com/@ali.muzaffar/android-sharedpreferences-singleton-to-make-life-easier-f1d802b6cd8e) may also have some id

[2017-05-04 22:21] lognaturel commented on #1011
Oh, and I think @shobhitagarwal1612 wanted to take this one on after the QR code feature is merged so I'll mark it as "in progress."

Would be great to hear any ideas others may have!

[2017-05-05 12:18] IanLawrence commented on #908
Given this then how should/can the original xforms trigger (an abstraction of a web button or another event) be used?. I assume this is not currently possible and will require thought here first?

[2017-05-05 16:59] lognaturel commented on #559
@wonderchook This is now available in the Play Store! I wanted to check in and make sure it's working as you imagined.

[2017-05-05 17:02] lognaturel commented on #908
@IanLawrence Unfortunately, I think it would be pretty confusing to use `trigger` for something else at this point. If you have a specific use case you'd like to see supported, please file another issue and we can explore different options.

[2017-05-05 17:14] lognaturel commented on #908
There's some interesting background at opendatakit/xforms-spec#115. This might not be such a great change to make after all.

[2017-05-05 21:35] lognaturel commented on #105
There's some agreement on appearances at the spec level here: opendatakit/xforms-spec#111

[2017-05-08 14:32] grzesiek2010 opened #1012 "Can't open some forms"
#### Software and hardware versions
Current master branch

#### Problem description
I'm not able to open some forms:

                                                                           at org.odk.collect.android.activities.FormEntryActivity.loadingComplete(FormEntryActivity.java:2480)
                                                                           at org.odk.collect.android.task

[2017-05-09 02:48] lognaturel commented on #1012
I have seen that as well. I took a couple of minutes to poke around thinking that it might be something taking too long to initialize but I found no evidence of that. 🤔 Would be good to get a sense of whether it's related to specific kinds of forms.

@shobhitagarwal1612 this might interest/puzzle you.

[2017-05-09 09:34] grzesiek2010 commented on #931
@lognaturel looks like api bug...

There are two possible solutions:
1.
https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/tasks/GoogleSheetsAbstractUploader.java#L597
we can add:

but then new row is added at the top of collection - in the second row and only when I use that (strange) form, if I use other forms everything works like before.

2.
ht

[2017-05-09 15:27] lognaturel commented on #931
@grzesiek2010 Are you able to reproduce it consistently? Did the notice and name form fail? I feel like there might be something else going on. Also note that when I added a space as a default in the original form, that did NOT work.

[2017-05-09 19:53] lognaturel opened #1014 "Crash in FormEntryActivity"
From Firebase Crash:
[code]

It's listed as "fatal" but I'm not sure it's causing a full app shutdown. Maybe just the activity closes?
 Happens pretty frequently across API levels and devices. Last logged message before is `Creating SAVING_DIALOG` or

[code]

[2017-05-10 07:15] grzesiek2010 commented on #1003
It's really hard to find out what's wrong... I'm not even sure which list it is, I guess it's [FormDownloadList](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormDownloadList.java). Does the first line look always like above? I mean is it always `index 11, size is 0` ?

[2017-05-10 07:26] grzesiek2010 commented on #931
@lognaturel
I was able to reproduce the issue.
Both proposal solutions fix the problem.

[2017-05-10 07:36] grzesiek2010 commented on #969
@lognaturel
I've tried to force choosing front camera with small hack like here:

  intent.putExtra("android.intent.extras.LENS_FACING_FRONT", 1);
} else {
  intent.putExtra("android.intent.extras.CAMERA_FACING", 1);
}

but it doesn't work on all devices. I've tested:
**Samsung Galaxy 4 Android 5.0.1** - it works
**Samsung Duos Android 4.2.2** - it doesn't work

and generally that trick is not rec

[2017-05-10 13:18] grzesiek2010 commented on #998
@lognaturel
<s>I'm not able to reproduce the issue. Looks like Collect.getInstance().getFormController(); returns null.

Theoretically it would be possible if user clicks on "Go to prompt" icon during form loading but it's not possible as the UI is blocked during form loading.

FormController is set here so as I said above theoretically it would be possible but UI is blocked so we can't do that.

[2017-05-10 13:29] grzesiek2010 commented on #150
@lognaturel I think we can close this issue. I'm not able to reproduce it. I've tried my devices (even with Android 2.3.6) but without success. Hopefully it was related to older particular devices.

[2017-05-10 15:46] MukundAnanthu commented on #730
I can take this up

[2017-05-10 15:53] lognaturel commented on #730
Thanks, @mukundananthu!

[2017-05-11 01:39] #1012 closed, assigned to nobody

[2017-05-11 01:42] #998 closed, assigned to nobody

[2017-05-11 01:42] lognaturel commented on #998
Craaaaazy! Good find! I also thought it had to do with going to a prompt quickly and couldn't figure it out. I guess we see it happening frequently because users with less powerful phones may trigger that more quickly.

[2017-05-11 10:18] yanokwa commented on #791
@lognaturel What are chances we could get this into the April release?

[2017-05-11 13:54] lognaturel commented on #791
Since it's May, I give getting it in the April release a solid 0% chance. 😏 😁

This isn't hard to do on the Collect side of things but we should first get consensus on the XForms approach and then get it into pyxform. We should start now but I think aiming for the June release will be most realistic I think.

[2017-05-11 13:55] lognaturel commented on #791
Oh wait. There isn't a link to the XForms issue but now that I think about it, are both already approved?

[2017-05-11 18:14] navitojr opened #1017 "problema con el usuario"
buenas tardes soy encuestador de México y toda la aplicación funcionaba de maravilla hasta hace unos días que el nombre el usuario que se enviaba de forma anónima ahora ya no lo hace tengo que agregarlo en los meta data de la aplicación lo cual me cuesta mucho trabajo por que usamos el dispositivo mas de  un individuo espero me puedan ayudar en esta duda

[2017-05-13 11:13] MukundAnanthu commented on #225
@lognaturel @yanokwa I was not able to reproduce the error. Could you provide more details on how to do the same, and let me know how you intend to handle this issue. I am interested in taking it up..

[2017-05-13 11:15] MukundAnanthu commented on #320
@lognaturel @yanokwa Is this issue assigned, or can I take it up?

[2017-05-13 11:17] MukundAnanthu commented on #54
Can I take this issue up?

[2017-05-13 12:43] MukundAnanthu commented on #985
@lognaturel @yanokwa If the issue is still open, could you guys let me know how you want to handle it. I am interested in taking the issue up

[2017-05-14 15:40] lognaturel commented on #320
Thanks, @MukundAnanthu. It looks like I duplicated this with #897! It was fixed in the last release.

[2017-05-14 15:40] #320 closed, assigned to nobody

[2017-05-14 15:49] lognaturel commented on #225
This is something that we see at a pretty high frequency in crash logs. Unfortunately, I don't have any more information about what might be causing it. It would be great to try to narrow down some possible causes and try to reproduce it.

@Bastiantheone's comment is an interesting one. It might be that there's something missing in the current implementation.

Another thing to look into -- @grzesi

[2017-05-14 15:56] lognaturel commented on #985
@MukundAnanthu that would be great. It probably makes sense to check for a `OpenRosaResponse` tag and only parse a message if the tag exists. You may want to do some significant refactoring of `ResponseMessageParser`. Hopefully that can get you going but we can discuss further in `#collect-code` if needed.

[2017-05-14 16:15] lognaturel commented on #54
I wonder whether we should try to address #508 before since that will change the APIs required to do this. What do you think @MukundAnanthu @nribeka?

The first step for adding this will be to agree on the information that should be included and an ideal interface for this feature. Should the information be added to the existing dialog used to report on the status of the GeoPoint? Something else?

[2017-05-14 21:32] #781 closed, assigned to nobody

[2017-05-14 21:41] lognaturel opened #1020 "Admin password not set by QR code scan"
#### Software and hardware versions
v1.6.1-8-g981b3931, Android v6.0.1, Nexus 5

#### Problem description
After scanning a code from an emulator that has an admin password set, the admin password of the device is not set. Other settings are correctly set.

#### Steps to reproduce the problem
1. Admin settings > Set admin password
1. Admin settings > Import/export settings; create a QR code
1. Read

[2017-05-14 21:50] lognaturel commented on #1017
@navitojr Mi español es básico entonces le voy a contestar en inglés. Puede usar [Google Tanslate](https://translate.google.com/) para leer la respuesta y contestar en español.

In version 1.6.1, we separated the metadata username from the Aggregate username. This is because many organizations use a single Aggregate username but still want to know which person is submitting data. Also, some people

[2017-05-14 22:19] lognaturel opened #1021 "Use embedded zxing lib in BarcodeWidget"
#843 introduced the zxing library for reading barcodes because it's a lot more convenient for users who want to use the QR code import feature. Now that we have the dependency, the BarcodeWidget should use it instead of requiring users to install the ZXing app.

[2017-05-15 01:54] navitojr commented on #1017
ok muchas gracias una cuestión mas estoy tratando de exportar mis encuestas de odk aggregate pero de forma masiva pero no logra exportarse y es un problema grave porque me estoy quedando sin espacio en servidor (espero me puedan ayudar a exportar todas mis encuestas de forma masiva o decirme como poder hacerlo sin que odk aggregate truene de ante mano muchas gracias

google translate
Ok thanks a l

[2017-05-15 10:45] Hanseph opened #1022 "choice filters not working in some devices"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-05-15 14:32] navitojr commented on #1017
¿hay alguna manera de regresar a la versión 1.6.0 ?

[2017-05-15 16:21] yecarrillo opened #1023 "ArcWelder Broken Compatibility"
#### Software and hardware versions
Collect v16.1, Android emulation using ArcWelder ext on Chrome Windows , Windows 7 pro

#### Problem description
ODK Collect does not start
#### Steps to reproduce the problem
- Install Google Chrome
- Install ArcWelder ext https://chrome.google.com/webstore/detail/arc-welder/emfinbmielocnlhgmfkkmkngdoccbadn
- Download ODK Collect 1.6.1 https://opendatakit.org/d

[2017-05-15 17:42] lognaturel commented on #868
@alihelmi87 Have you taken a look at the section on "repeat-groups are not respecting the jr:count setting after a change" [here](https://opendatakit.org/help/form-design/workarounds/)?

Thanks to @alihelmi87 we've started a discussion on how to address this at opendatakit/javarosa#45. The big question is whether we do want to risk giving users the possibility to delete potentially a lot of data.

[2017-05-15 17:57] lognaturel commented on #809
#868 is really a subset of this. I'd rather try to address it all at once than to add incremental fixes if possible. @hooverlunch any update on a proposal from your end? I like what @florianm and @shobhitagarwal1612 are suggesting. I think they're pretty similar. @shobhitagarwal1612 did you also have a sketch for the screen prior to the one you showed? The one where users could add more repeats or

[2017-05-15 18:17] shobhitagarwal1612 commented on #809
@lognaturel I didn't make a wireframe sketch for that. But I can try making one. I will post the same on this thread. Any ideas or thoughts how it might look?

[2017-05-15 19:16] lognaturel commented on #809
Well, let's see. There are a few different cases:
- No `jr:count` -- that's probably the most typical case where users are currently prompted about whether or not to add more repeats.
- Static `jr:count` -- a set number of repeats need to be automatically generated. That shouldn't change.
- Dynamic `jr:count` based on previous question -- currently the repeats are automatically generated once at t

[2017-05-15 19:37] #1014 closed, assigned to nobody

[2017-05-15 19:39] lognaturel commented on #541
@grzesiek2010 That is super helpful. Good news is we really don't have that many different types.

I think it would be best to address this after we've started using the Android Support Libraries in #912, right? @shobhitagarwal1612

[2017-05-15 19:57] smoyte commented on #809
Yes I have done a first round of wireframing and am iterating with TCC folks. Should have something to show here soon. My wireframes are focusing primarily on the jump screen with a few tweaks to the main flow.

I can share something here a bit later this week to get the conversation started with the understanding that TCC folks may also be requesting deltas as well.

Is it ok if my wireframes use

[2017-05-15 20:33] lognaturel commented on #809
Cool! Just to make sure we're all on the same page, TCC is [The Carter Center](https://www.cartercenter.org/) which uses ELMO (the backend built by @hooverlunch and his team) for election monitoring.

By "requesting deltas", you mean changes, right?

Re-reading your initial message, do you have some implementation ideas for your partially filled form concept? I think this will require changes to t

[2017-05-15 20:45] lognaturel commented on #1023
@yecarrillo Any ideas on what might be causing it? If you could submit a pull request, that would be much appreciated.

[2017-05-15 20:46] lognaturel commented on #1022
@Hanseph Please fill out the issue template so we can help you! As the prompts say, you'll need to provide software and hardware versions, a detailed description of the problem, steps to reproduce it and the behavior you expected. We recommend that you attach a sample form.

[2017-05-15 21:48] lognaturel commented on #868
I'll add also that there's interest in a more significant change to the repeat group UI (#809) so perhaps we'd be better off addressing this issue once through that more thorough redesign.

[2017-05-15 23:02] davereinhart opened #1028 "Geotrace widget should only capture lines, not polygons"
#### Software and hardware versions
Collect v1.6.1

#### Problem description
The geotrace widget is not implemented as documented in the specs.  According to the documentation available here:
https://opendatakit.github.io/xforms-spec/
http://xlsform.org/

According to the specs, geotrace is for lines, and geoshape is for polygons.  In ODK Collect, geotrace allows you to collect lines or polygons.

[2017-05-16 03:18] #1020 closed, assigned to nobody

[2017-05-16 03:41] lognaturel commented on #1011
@shobhitagarwal1612 I just got the same exception as I had gotten before when launching the app after reading a barcode. I read a barcode with an admin password to try out #1027 and then I ran grzesiek2010:COLLECT-969_2. I thought the crash might have been related to reading a QR code and then downgrading to a version before the QR code feature but I did the same thing again from a clean install a

[2017-05-16 06:51] shobhitagarwal1612 commented on #1011
I think that this issue will be resolved by addressing the refactoring of the shared prefs. So, there is no need of opening another issue for resolving this.

[2017-05-16 14:16] lognaturel commented on #1003
@grzesiek2010 Now that you have Firebase Crash access, you can take a moment to look through the different crashes and see if you get any ideas. If I recall correctly, the index value isn't always the same.

[2017-05-16 14:18] grzesiek2010 commented on #1003
@lognaturel I guess it isn't always the same. Ok I can look at this issue again.

[2017-05-16 14:28] MukundAnanthu commented on #54
@lognaturel , I feel the same. We could wait for @nribeka to update us on #508 and then decide upon how we handle this issue

[2017-05-16 15:02] smoyte commented on #809
First off, I am proposing that what we call 'instances' (I think) of a repeat group should be called 'items' in the UI. Currently it seems we are avoiding calling them anything and it leads to awkwardness.

For the partially filled group thing, I was thinking of having a checkbox on the first page of the group (at bottom) reading "This is a placeholder item".

If that box is checked, a special ico

[2017-05-16 16:09] lognaturel commented on #847
See #924 for a start and some comments on it.

[2017-05-16 17:03] ahelmi365 commented on #868
Hi @lognaturel @mdudzinski

First of all thank you for working on this.

I wanted you to know that I use XLS form to create/design our surveys. I looked at the **Gotchas and Workarounds** and was wondering if you mean to apply these changes in the XML file or not!

How to apply the same idea on the XLS form?

I have uploaded my XLS form that contains a sample [here](https://drive.google.com/open?i

[2017-05-16 18:02] lognaturel commented on #508
If someone would like to look into this one, @nribeka's start can be found [here](https://github.com/nribeka/collect/tree/LocationApi)!

[2017-05-16 18:11] lognaturel commented on #298
I think the big challenge with changing the separators is that we'd have to be able to continue supporting the existing convention so that we don't break existing forms. We'd have to have a really solid approach to that before making any changes.

The class to look at is `GoogleSheetsAbstractUploader`. The path is built in [`getPath()`](https://github.com/opendatakit/collect/blob/35ad3e4e56b8cf655

[2017-05-17 00:16] davereinhart commented on #61
Has any work been done on this enhancement?  I am very interested in this feature and may be able to assist.

[2017-05-17 03:13] lognaturel commented on #1028
That is a very good point. We need to do some rethinking of geo activities in general as described in #507 and #508. Perhaps as part of #507 we should take a step back and make sure that we clearly define and document the role of each different widget. For example, @yanokwa a while back was mentioning that it might be good to have the possibility to specify the projection used.

[2017-05-17 03:24] lognaturel commented on #61
@geomapdev Nothing yet! There is currently no concept of reporting/analysis within Collect but it's something that a number of users have expressed interest in. The first step would be to start describing what this feature could look like and where it would fit in with either the existing Collect interface or an idealized one. Would love to hear your thoughts.

P.S. Nice username. 😊

[2017-05-17 10:33] grzesiek2010 opened #1030 "Small icon"
#### Problem description
The icon is small in comparison with icons of other apps
![screenshot_2017-05-17-12-20-34](https://cloud.githubusercontent.com/assets/3276264/26149983/cf697c70-3afc-11e7-909e-65e12722c8ff.png)

I think it doesn't look good.

Do we want a new (refreshed) icon too as we are going to implement #464 ? or we only should to fix existed one?

@lognaturel @yanokwa

[2017-05-17 10:38] grzesiek2010 commented on #541
@lognaturel yes we can wait for #912

[2017-05-17 14:21] smoyte commented on #809
Ok folks, here is a first draft.

The main idea is to overhaul the jump screen, renaming it the "form overview" screen, and adding the ability to add/remove repeats (what I'm calling "items") from within it.

The concept of a placeholder item has also been introduced (look for the pause icon).

The main form input flow is largely untouched in these designs, save for a few things:

* A new proposed

[2017-05-17 15:54] davereinhart commented on #61
ha, thanks!  you too. :)

I think this could either warrant a new button on the main menu "View Map".  Or if the "View Sent Forms" view could be changed to "View ALL Forms", then the mapview could be included there as an option.

"View All Forms" could have these view options (similar to how "Send Finalized Form" works with "Change View"):
Show Unsent Forms (List), Show Sent Forms (List), Show Uns

[2017-05-17 16:09] davereinhart commented on #1028
The 3 existing data types (geopoint, geotrace, geoshape) match up well with the 3 geometry types (point, line, polygon).  The names are a little confusing, but the documentation is consistent  that geotrace=line and geoshape=polygon.  This is also how Enketo implements it.

What would be ideal is if geopoint, geotrace, and geoshape all allowed you to either use your current position or use long pr

[2017-05-17 16:40] davereinhart commented on #1028
As for specifying the projection, the raw GPS data should always be in WGS84 (unprojected), and re-projecting it is usually done as a post-processing step.  Most applications use Web Mercator projection (WKID 3857) to display WGS84 data.  http://spatialreference.org/ref/sr-org/7483/

[2017-05-17 17:06] MukundAnanthu commented on #508
@lognaturel Looking into this issue. Would be interested in taking it up!

[2017-05-17 19:06] yanokwa commented on #1023
I don't know anything about ArcWelder, but given that 1.5.1 worked and 1.6.1 doesn't, I'd guess that the minification of APKs https://github.com/opendatakit/collect/pull/875 is the cause of the problem.

@yecarrillo Have you tried building a debug APK from source and using that? Debug builds are not minified, so that'd be the easiest way to test.

My preferred option for demos and testing forms is

[2017-05-17 20:23] #985 closed, assigned to nobody

[2017-05-17 20:44] #931 closed, assigned to nobody

[2017-05-17 20:45] lognaturel commented on #931
@lokpriya @grzesiek2010 just put in a fix that will go out in the next release at the end of the month!

[2017-05-17 21:00] lognaturel commented on #1030
Interesting! What are your device/Android specs? On all the devices/Android versions I've used, it looks like:
<img src = "https://cloud.githubusercontent.com/assets/967540/26175863/bcb5e1d2-3b19-11e7-96e2-1fdf3086e8e7.png" width="400">

[2017-05-18 01:23] yanokwa opened #1032 "Field-list appears when deleting repeat with no field-list"
#### Software and hardware versions
Collect v1.6.0

#### Steps to reproduce the problem
Download this form: [delete-transform.xlsx](https://github.com/opendatakit/collect/files/1009495/delete-transform.xlsx)

There are three fixed repeats in this form. Enter unique data for text a, repeat 1 (text b and c) and repeat 2 (text b and c). Go back to repeat 1's text b. Long press on the label and remove

[2017-05-18 01:53] lognaturel commented on #1032
This is not quite related to this issue but it seems perhaps it shouldn't be possible to delete a repeat when a `jr:count` was specified. Currently the UI makes it look like a repeat was deleted but in fact it wasn't. After the form is closed and reopened, there's an empty group at the end. We should look into improving that for #809.

[2017-05-18 01:57] lognaturel commented on #809
Great! So I think we should break this up into 3 issues: reworking the UI for repeats, reworking the hierarchy/jump view and partially filling repeats. I think these mockups look good for the hierarchy/jump view but I do also think we should rethink what happens with repeats within a form's flow.

[2017-05-18 02:04] yanokwa opened #1033 "Error about a field-list appears when deleting repeat with no field-list but with an inner group with some relevancies"
#### Problem description
Collect v1.6.1

#### Steps to reproduce the problem

Download [delete-transform-relevant.xlsx](https://github.com/opendatakit/collect/files/1009557/delete-transform-relevant.xlsx) and fill it out as follows.

* a: yes
* b(1): yes
* c(1): yes
* d(1): no
* b(2): no

Now swipe back to b(1).
Long press to remove the group.
Jump, and tap b (it should be 0) to go to that questio

[2017-05-18 11:35] grzesiek2010 commented on #1032
@lognaturel

you can remove group but then a new one is added automatically at the end so you still have the same number of groups, I think it's ok.

[2017-05-18 12:00] grzesiek2010 commented on #1030
@lognaturel that printscreen is from Samsung Duos Android 4.2.2 but when I use this device today it's ok:

![screenshot_2017-05-18-13-57-31](https://cloud.githubusercontent.com/assets/3276264/26201199/1faeaf36-3bd2-11e7-8138-205880d1a2eb.png)

something strange... ok I'll close the issue now.

[2017-05-18 12:00] #1030 closed, assigned to nobody

[2017-05-18 14:33] smoyte commented on #809
I'm glad you like them!

As for the "form input" flow/screens (as I have been calling them), I guess it depends on how much you had been planning on overhauling that part of the system. I wasn't thinking about that stuff much, assuming that the existing "prompt at the boundary" approach was OK.

Has there been much talk about reworking the input flow?

One simple idea might be reworking the prompt

[2017-05-18 15:43] MukundAnanthu commented on #1021
@lognaturel Could I please take this one up before 507/508??

[2017-05-18 15:55] lognaturel commented on #1021
Sounds good to me, @MukundAnanthu!

[2017-05-18 16:40] yanokwa commented on #868
@alihelmi87 I've implemented the approach as described on the Gotchas page and highlighted those lines in red. You can find the form here: [testRepeatCount.xlsx](https://github.com/opendatakit/collect/files/1011592/testRepeatCount.xlsx).

This hides the "deleted" group, but it still exists (e.g., if you go to the jump menu, you can see it, but accessing it will throw an error).

[2017-05-18 17:31] #1032 closed, assigned to nobody

[2017-05-18 17:31] #1033 closed, assigned to nobody

[2017-05-18 18:02] lognaturel commented on #1017
Para ayuda con Aggregate, por favor escriba a la [lista de correo para usuarios](https://groups.google.com/forum/#!forum/opendatakit).

La versión 1.6.0 también tiene este cambio. APKs de las versiones anteriores están [aquí](https://opendatakit.org/downloads/download-info/odk-collect-apk/#).

What we could add is an option to use the Aggregate username as the metadata username, perhaps as a check

[2017-05-18 18:02] #1017 closed, assigned to nobody

[2017-05-18 18:05] lognaturel commented on #170
This should be fixed by opendatakit/javarosa#12. We are on track to release it next week.

[2017-05-18 18:35] smoyte commented on #170
Woop woop!

[2017-05-18 20:56] lognaturel commented on #874
@lbramley Do you need to have constraint messages in multiple languages? The issue seems to be that localized constraint messages can't properly include dynamic text like the result of a calculate. I'm not totally sure whether that's intentional behavior or not and will need to keep exploring that. If you don't need translated constraint messages, this form should work: [constraintMessageError.xls

[2017-05-18 21:05] ahelmi365 commented on #868
@yanokwa Thank you so much.

As I understood, we put the questions in a group to control the number of how many positions should be created, Am I right?

All thanks to @mdudzinski  and @lognaturel for working on this, much appreciated.

[2017-05-18 21:08] lognaturel commented on #868
Putting the questions in a group lets you make each group relevant only if that group's count doesn't exceed the total number of repeats specified. For example, if you initially had 5 repeats of the group and then changed the desired count to 3, repeats 1, 2 and 3 would be relevant and thus shown but repeats 4 and 5 would not be relevant and thus hidden. I hope this explanation makes sense, I'm ha

[2017-05-18 21:15] ahelmi365 commented on #868
@lognaturel This is very clear, I got the point.
Thank you for explanation and helping on this. I ma really happy to reproduce this issue to my colleagues and it's solved :)

I have 3 questions,  is it okay to post them here?

[2017-05-18 21:18] lognaturel commented on #868
Great, I'm happy to hear that, @alihelmi87! I'm going to leave this issue open for now because @mdudzinski is exploring actually deleting those extra groups rather than hiding them.

For general ODK questions, please write to the [user's mailing list](https://groups.google.com/forum/#!forum/opendatakit). For behavior that you think might be incorrect/bugs, please file separate issues!

[2017-05-18 21:51] lognaturel commented on #874
I'm going to close this issue since as @grzesiek2010 stated, it pertains to the JavaRosa library that Collect is built on top of. If you'd like to keep being notified on our progress, @lbramley, I invite you to use the subscribe button to the right of the issues at opendatakit/javarosa#36 and opendatakit/xforms-spec#125. Additionally, if we do end up adding support for what you were doing in the o

[2017-05-18 21:51] #874 closed, assigned to nobody

[2017-05-19 12:49] grzesiek2010 commented on #170
@lognaturel noooo :) I think you have missed something. This issue is not related to https://github.com/opendatakit/javarosa/issues/11

As I mentioned above this is my proposal solution https://github.com/grzesiek2010/javarosa/commit/8e2405a76c934ad1dc2488d2ec6d88919c790a80
and I can create a pr if you want.

[2017-05-19 13:11] grzesiek2010 commented on #1003
@lognaturel I was trying to reproduce the issue but still without success. I will be tracking logs.

[2017-05-19 15:30] lognaturel commented on #170
Yikes, this is what happens when I try to hold too many things in my head! Sorry @hooverlunch, we'll still try to get this in before next week but it's not fixed yet. I had a brain short circuit.

Now that I'm actually thinking about the right thing, I want to make sure we fully understand the limits of the first proposed solution. From comments above, it looks like I originally understood that th

[2017-05-19 20:31] grzesiek2010 commented on #170
@lognaturel I'll test it again but as I remember the only bug I know is that the time will be changed **once** (to one hour before) when you open an old form (eg saved during the winter time and you open the form during the summer time). In all other cases everything should be ok.

[2017-05-21 11:28] srshah193 opened #1039 "Arranging the form names in ascending/descending order provides bad user experience."
#### Software and hardware versions
Collectv1.6.1

#### Problem description
Arranging the forms in ascending or descending order on the basis of their names opens a NavDrawer from right side.

#### Steps to reproduce the problem
Instead of using a NavDrawer <A-Z> and <Z-A> button can be used.

#### Expected behavior
It works properly but has a bad user experience.

[2017-05-21 13:09] lognaturel opened #1040 "Use Crashlytics instead of Firebase Crash"
From the [Firebase Crash docs](https://firebase.google.com/docs/crash/): "Crashlytics will soon become the primary crash reporter for Firebase." @nribeka @shobhitagarwal1612 @yanokwa I was totally wrong when I predicted Google would double down on Firebase Crash!! It looks like they're merging them instead.

The [Crashlytics getting started guide](https://fabric.io/kits/android/crashlytics/summary

[2017-05-21 13:14] yanokwa commented on #1039
Hi @srshah193! Thanks for filing this issue.

I'm not sure what you mean by a button can be used. Can you please mock up (e.g., maybe a paper sketch that you attach to this issue) the user interface you had in mind? Alternatively, point to an Android app that does what you describe so we can see it.

Additionally, a number of Android applications (e.g., Gmail) use NavDrawer. Can you point to some

[2017-05-21 13:16] lognaturel commented on #170
Yes, it sounds like we're on the same page. Please issue a pull request for the fix using the current date so we can get it in the next release and then we can think about how to eliminate the problem entirely.

One change around a daylight savings change boundary is certainly better than dates always being off by one in summer time but it's still likely to cause confusion. The good news is that w

[2017-05-21 14:19] srshah193 commented on #1039
In the current version ,a icon is shown for sorting them alphabetically which opens a NavDrawer instead
![1234](https://cloud.githubusercontent.com/assets/21021240/26284657/4f7dd9ce-3e5e-11e7-9890-ad6031a6d0d8.PNG)
![new](https://cloud.githubusercontent.com/assets/21021240/26284656/4f69b98a-3e5e-11e7-8e43-f2c78f10a828.PNG)
Android pop up menu can be used if features like sort by date are to added.

[2017-05-22 01:37] lognaturel commented on #1039
@srshah193 As you've probably seen going through some of the open issues and pull requests, we are in the process of doing a full user experience update led by @shobhitagarwal1612 through [Google Summer of Code](https://summerofcode.withgoogle.com/). The current proposal for modernizing the sorting interface is to use a [bottom modal sheet](https://material.io/guidelines/components/bottom-sheets.h

[2017-05-22 01:43] lognaturel commented on #1030
Your phone is haunted, @grzesiek2010 👻👻👻

[2017-05-22 02:02] yanokwa opened #1041 "Add Bangla form support"
- christinamergenthaler@gmail.com

Related thread: https://groups.google.com/d/msg/opendatakit/jbJ9P4Oj7UM/9yO3FRkXhkYJ

I'm filing this issue mostly to gather information about what the state of Bangla on the various versions of Android, how we could support it (e.g., bundle fonts, render in web view) in Collect, and who might be interested in writing the code.

[2017-05-22 07:22] grzesiek2010 commented on #170
@lognaturel ok I've just tested my solution again an I can confirm that it's almost perfect solution. As I described there is only a small problem when you edit an old form.
PR is created in the Javarosa repo.

[2017-05-22 09:57] chrislrobert commented on #1041
We've had a great many users use Bangla, and my impression is that the Galaxy and Nexus devices have supported it for years, plus many other devices as well. I would also check the versions of devices sold in-country, which are more likely to be regional builds with direct support. Almost certainly buying new devices that directly support Bangla would be far more efficient than the available work-

[2017-05-22 12:15] grzesiek2010 opened #1042 "Changing layers when the map view is open"
Currently we allow selecting basemap in "General Settings" and we are not able to change selected layer during the work. We can only choose offline layers.

It should be possible to do that - be able to choose online layers as well.

[2017-05-22 12:15] grzesiek2010 commented on #1042
I'm working on it.

[2017-05-22 13:18] lognaturel commented on #1010
Hi @nikialexopoulou, how is this going? We have a code freeze on Wednesday and it would be great to get this in before! If you're stuck, can you please create an "in progress" pull request so someone can help you? Or if you won't have time, perhaps we can pass it on to someone else. Thanks!

[2017-05-22 13:20] lognaturel commented on #847
@grzesiek2010 Can you please take this one real quick so we can get it in the May release? Thanks!

[2017-05-22 13:29] nikialexopoulou commented on #1010
Hello @lognaturel ! The part I haven't done yet is the "customResponse is STANDARD_AGGREGATE_SUCCESS_TEXT" condition within the if statement. I'm not sure how I should check it and why this is necessary to be done.

[2017-05-22 13:50] grzesiek2010 commented on #847
@lognaturel sure I'll fix it.

[2017-05-22 14:05] thedavidmccann opened #1043 "Less than symbol only renders when followed by a space"
From https://github.com/opendatakit/javarosa/issues/6:

If you have < 1 in a label or hint, it renders properly.
If you have <1 (note the lack of space), it does not render properly.

[less-than-bug.xlsx](https://github.com/opendatakit/collect/files/1019083/less-than-bug.xlsx)

[2017-05-22 14:27] lognaturel commented on #1010
@nikialexopoulou The idea with the custom message feature is that a server can define a special message that people will see when they submit a form. Aggregate has a default message ("full submission upload was successful!". You'll want to create a constant for that message and then detect when the server provides that message. If the server has provided that message, it's not really a "special me

[2017-05-22 14:40] nikialexopoulou commented on #1010
@lognaturel Yes, but i don't understand why to use this. I mean, why to have a different message according the language? Why should the custom message be displayed when the language is English, instead of the "Success" message?

[2017-05-22 14:47] nikialexopoulou commented on #1010
@lognaturel Also, let's suppose I create a constant for the message "full submission upload was successful!". I don't know how to detect server's message. How do I know what's​ the server's answer? I'm trying to find this, but I can't.

[2017-05-23 02:12] lognaturel commented on #1010
`messageParser.getMessageResponse()` gives you the server message.

[2017-05-23 10:01] grzesiek2010 commented on #975
This exception isn't related to canceling the uploading process as I can see the same when the upload is completed.
I think the current behavior itself is ok.
You can cancel the process when you see "Please for a moment" message and then your form isn't sent, but you are not able to cancel sending the form which is currently sending - I mean if you can see in the dialog that form number 2 is sendi

[2017-05-23 11:42] grzesiek2010 commented on #170
@lognaturel I've tested changing time as you asked me (summer-winter, winter-summer) and:
1. If you save a form during the summer time and open that form during the winter time then time is set to one hour before (-1) only once.

2. If you save a form during winter the time and open that form during the summer time the time is set to one hour (+1) every time (after each save). This case might be c

[2017-05-23 12:49] shobhitagarwal1612 commented on #556
Hey @yanokwa. Sorry for replying so late. I can't think of any downsides to this approach. Although, there is one thing that should be discussed. Now that the admin password is shared via QR code, so either we should remove the admin password from QR code or make the password visible after successful importing

[2017-05-23 13:14] smoyte commented on #170
If the phone's system is set to a timezone without DST, will this be avoided altogether?

Even now perhaps?

[2017-05-23 13:17] grzesiek2010 commented on #170
@hooverlunch
As I said if you save form during summer time and edit this form during summer time everything is ok. The same if you create and edit the form only during winter time. So If he phone's system is set to a timezone without DST everything should be ok (without my proposal solution as well).

[2017-05-24 02:28] #847 closed, assigned to nobody

[2017-05-24 02:44] #1021 closed, assigned to nobody

[2017-05-24 08:13] lbramley commented on #874
Thanks Helene, sorry for the delayed reply. Unfortunately I did need constraint messages in multiple languages. I’ll subscribe to keep following - thanks!

[2017-05-24 11:43] grzesiek2010 commented on #170
@hooverlunch Thanks a lot for your question! Despite the fact that it was obvious for me it has brought me a brilliant idea. @lognaturel the current solution should be perfect for us: https://github.com/opendatakit/javarosa/pull/51

Currently I just don't care about timezone if we use TimeWidget (only time) https://github.com/opendatakit/javarosa/pull/51/files#diff-18a7ab04391f14cd701fddea1a7b790b

[2017-05-24 14:51] shobhitagarwal1612 opened #1048 "Redesign settings"
The following changes were proposed in the GSoC [proposal ](https://docs.google.com/document/d/1tAP5vRdwiF3KdqXnXGKJnjlh98SywbeoyQSZQWMRhSA/edit)for this:

- Removing separate options for admin and general settings and merging them into one
- Regrouping the preferences in order to reduce the number of options on a single screen

This issue is created in order to discuss the re-work that should be

[2017-05-24 15:07] thedavidmccann commented on #914
![odk_draw_buttons](https://cloud.githubusercontent.com/assets/288112/26410373/07516534-4071-11e7-97d8-e1fc4cdefae0.gif)

Here's the behavior in the emulator.  The buttons look really slick!  However, I can't seem to get "set color" to persist my changes.  Anyone else seeing this?

[2017-05-24 15:14] grzesiek2010 commented on #914
@daveycrockett as you can see there is "WIP" tag now I wait for #493 and I'll continue.

[2017-05-24 15:49] thedavidmccann commented on #914
Thanks for the clarification!  Is there any other feedback you're looking for on the PR, or does it make sense to close until there's something actionable (i.e. after #493 is done)?

[2017-05-24 22:11] lognaturel commented on #975
The purpose of `discardEntityBytes` is to consume the entity stream to release the connection in the case when the result isn't actually something we want. Without this, the stream would be blocked. I'm not certain that the current approach is the absolute best one but as I understand it, making sure this consumption happens is important. What seems to happen is that because the stream object is o

[2017-05-24 22:45] lognaturel commented on #975
@alxndrsn I bet you know more about this, could you please help us out with a sanity check? I believe that [`WebUtils.discardEntityBytes`](https://github.com/opendatakit/collect/blob/736b2200b7c49d11caf60b5ee17f5e08e9ac40fe/collect_app/src/main/java/org/odk/collect/android/utilities/WebUtils.java#L281) can/should be replaced by a call on `EntityUtils.consume(response.getEntity());` (see [here](htt

[2017-05-24 22:57] lognaturel commented on #975
Arg, @grzesiek2010 I thought you had just removed all of the entity stream clearing in #1047 but now I see you replaced `discardEntityBytes` with `EntityUtils.consumeQuietly` which does sound good. Can you say more about why you think the clearing isn't necessary in `DownloadFormsTask`?

In general, the more information you can provide about the choices you made in a pull request, the better! Than

[2017-05-25 01:48] florianm commented on #809
+1 for @hooverlunch - love the parent/child transition for groups. Much smoother UX than the "add new ThingAMagigGroup" dialogue. Plus, the breadcrumb really helps to know where you are!

[2017-05-25 04:05] #1011 closed, assigned to nobody

[2017-05-25 04:06] lognaturel opened #1051 "Set app language after reading settings from QR code"
The app language setting is set by a QR code but the interface doesn't immediately change. It takes the app relaunching before it does.

[2017-05-25 04:09] #969 closed, assigned to nobody

[2017-05-25 07:19] grzesiek2010 commented on #975
@lognaturel

because we close the stream a few lines below
https://github.com/opendatakit/collect/pull/1047/files#diff-a0a2d90fbe75ec05be821f16c24e74c3R440

am I wrong? looking at consume method it just close the stream as well. So If we do that manually we don;t need that loop I believe.

[2017-05-25 07:35] grzesiek2010 commented on #914
@daveycrockett no thanks! When it comes to closing the PR I don't know, no matter. I've heard from @lognaturel that we should close old prs if the progress is stopped but  I have no opinion.

[2017-05-25 14:12] lognaturel commented on #975
As I understand it, the `try` block starting on line 414 could fail before the `InputStream` is fully consumed. That would mean that in the `finally`, it would be closed without being fully drained and thus the connection would be blocked and not go back to the pool. I think a call on `EntityUtils.consumeQuietly` is the right thing to have there as well.

In fact, I think we can get rid of `discar

[2017-05-25 14:12] grzesiek2010 opened #1052 "Lack of altitude and accuracy when we use location"
#### Software and hardware versions
Collect 1.6.1

#### Problem description
When we use location and google sheets only latitude and longitude is sent to google sheet. The answer is without altitude and accuracy.

Form for testing:
[loc.txt](https://github.com/opendatakit/collect/files/1029227/loc.txt)

[2017-05-25 15:05] MukundAnanthu opened #1053 "Incorrect conversion of time units in computation of timeDelay in one of 2 files GeoTraceGoogleMapActivity.java or GeotTraceOsmMapActivity.java"
In the setupAutomaticMode() function implemented in both these classes, one of the implementations contain a multiplication by 3600 in the computation of timeDelay

[code]

while the other contains a multiplication by 60 in the computation of timeDelay:

[code]

Correct conversion of time units needs to be done

[2017-05-25 15:06] MukundAnanthu commented on #1053
Working on this issue currently

[2017-05-25 15:07] grzesiek2010 commented on #975
@lognaturel

hmmm I'm not sure. Here is a body of consume method:

    public static void consume(HttpEntity entity) throws IOException {
        if(entity != null) {
            if(entity.isStreaming()) {
                InputStream instream = entity.getContent();
                if(instream != null) {
                    instream.close();
                }
            }

        }
    }

so this

[2017-05-25 16:50] lognaturel commented on #1051
@shobhitagarwal1612 This is one you might be interested in looking at. I quickly included the language in the prefs yesterday but then realized it won't refresh right away.

[2017-05-25 16:53] shobhitagarwal1612 commented on #1051
@lognaturel I'll be looking into this

[2017-05-25 17:18] lognaturel opened #1057 "Many fewer devices supported by 1.7.0 beta"
In the Google Play Console under Release Management > Artifact Library, the released version v1.6.1 is shown to be supported by 10800 devices. On the other hand, v1.7.0-beta is only supported by 8719.

This is probably due to the introduction of 3 new feature requirements to support selfie mode:
[code]

These are used for the selfie mode and should be marked as not required. If a user without the

[2017-05-25 19:46] lognaturel commented on #1048
YES. I think everyone gets lost in the settings and the grouping will make a huge difference.

To refresh everyone's memory, here are @shobhitagarwal1612's wireframes:
<img width="726" alt="screen shot 2017-05-25 at 2 29 25 pm" src="https://cloud.githubusercontent.com/assets/967540/26467206/38f1bb3e-4157-11e7-89f5-6686768b4da9.png">

Different sub-screens for the admin settings is perfect (access

[2017-05-25 19:51] thedavidmccann commented on #914
@grzesiek2010 I'd agree I don't have a strong opinion...I'll admit my confusion was around interpreting "WIP" to mean that it was incremental work that could be merged in on its own but was part of a larger goal, and saw no indication that it wasn't just awaiting review.  Perhaps either closing the PR, or adding a "blocked" tag would be good conventions?  I'll raise in slack and see if people have

[2017-05-25 22:33] #1051 closed, assigned to nobody

[2017-05-26 02:44] lognaturel commented on #975
Well how interesting. I figured `consume`/`consumeQuietly` did something more. The [docs for `getContent`](https://hc.apache.org/httpcomponents-core-ga/httpcore/apidocs/org/apache/http/HttpEntity.html#getContent()) say very explicitly `IMPORTANT: Please note all entity implementations must ensure that all allocated resources are properly deallocated after the InputStream.close() method is invoked,

[2017-05-26 03:11] #1053 closed, assigned to nobody

[2017-05-26 03:38] #1057 closed, assigned to nobody

[2017-05-26 08:30] grzesiek2010 commented on #272
@lognaturel I've investigated the file and I've made some changes. It looks ok for me.

[2017-05-26 09:50] grzesiek2010 opened #1061 "SelectOne and SelectMulti widgets don't work well with compact-x appearance"
#### Software and hardware versions
Collect v1.6.1

#### Problem description
SelectOne and SelectMutli widgets don't work well with `compact-2` appearance. If I use compact-3, compact-4, compact-5 etc. everything looks ok but even if I use compact-2 everything is shown in one column.

Additionally if I rotate my device the number of displayed columns is changed - it is related to all cases I mean

[2017-05-26 14:03] grzesiek2010 opened #1063 "Can't swipe when an answer for image widget with web appearance is added"
#### Problem description
I'm not able to swipe left/right when an answer for image widget with `web` appearance is added.

Form for testing:
[imageWeb.txt](https://github.com/opendatakit/collect/files/1032058/imageWeb.txt)

[2017-05-26 14:33] lognaturel commented on #1063
What I've found is that you can swipe where the prompt is. 😄 So yeah, it's a pretty terrible experience. Thank you for filing the issue.

Could we deprecate this one? Do we know how people use it?

[2017-05-27 19:10] shobhitagarwal1612 commented on #1048
https://drive.google.com/open?id=0B9BxtLVL3EziZXltOGZqTm42ZGM
@lognaturel @yanokwa I have shared the screenshots of the settings screens. Please check them out and give your views.

[2017-05-28 19:11] #1061 closed, assigned to nobody

[2017-05-28 20:29] lognaturel opened #1067 "Update app after resetting settings"
#### Software and hardware versions
Collect v1.7.0-beta-3

#### Problem description
The app isn't updated after settings are reset so it may not show the actual state of things.

#### Steps to reproduce the problem
1. Uncheck a couple of options in admin settings
1. Reset all settings from admin settings
1. Note that the options that were unchecked are still unchecked even though internally they a

[2017-05-29 11:00] grzesiek2010 commented on #1063
@lognaturel I have no idea why we need this widget. Maybe you are right and we should deprecate this one.

[2017-05-29 12:16] grzesiek2010 opened #1074 "ODK crashes if we use some words as a section name"
#### Software and hardware versions
Collect v1.7.0

#### Problem description
ODK crashes if we use words like:
end, start, today, deviceid, simid, phonenumber as a section name.

[2017-05-29 12:47] grzesiek2010 commented on #1074
I've just added a small fix on the Javarosa side. We shouldn't use these words so in that case we just skip related indexes.

Here is a form for testing:
[testX.txt](https://github.com/opendatakit/collect/files/1035812/testX.txt)

[2017-05-29 13:44] grzesiek2010 opened #1075 "Problem with external widgets"
#### Software and hardware versions
Collect v1.7.0

#### Problem description
During investigation of https://github.com/opendatakit/collect/issues/272 I ran into [ExStringWidget](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/ExStringWidget.java) and I noticed this:

but I'm not eble to see this TextView, it's always disabled.

#### Oth

[2017-05-30 09:02] grzesiek2010 commented on #1075
@lognaturel if we really need here is a small fix https://github.com/opendatakit/collect/pull/1076/files

[2017-05-30 16:18] MukundAnanthu commented on #507
For easy reference,  GeoTraceGoogleMapActivity as G and GeoTraceOsmMapActivity as O). G extends FragmentActivity while O extends Activity. Since, FragmentActivity extends Activity, if we have our base class, GeoActivity extend FragmentActivity, we may be able to do the restructuring as proposed here:
Level 1 --> GeoActivity extends FragmentActivity
Level 2 --> GeoTraceGoogleMapActivity extends Geo

[2017-05-30 18:38] lognaturel commented on #105
@grzesiek2010 was asking in another conversation about integer vs decimal `range`s. That should be determined by the bind in the model.

For example, `<bind nodeset="/data/my-int" type="xs:integer"/>`, should result in an integer in the instance for `/data/my-int`.

Similarly, `<bind nodeset="/data/my-decimal" type="xs:decimal"/>`, should result in a decimal in the instance for `/data/my-decimal`.

[2017-05-30 22:04] lognaturel commented on #464
Thanks again for all the great ideas here and for the great teamwork!

I'm going to close this issue now that Google Summer of Code is in progress. For those who would like to follow along, sub-tasks related to the UI refresh will be tagged [gsoc2017](https://github.com/opendatakit/collect/labels/gsoc2017). We will also be keeping track of progress in the [UI refresh project](https://github.com/op

[2017-05-30 22:04] #464 closed, assigned to nobody

[2017-05-31 09:43] grzesiek2010 commented on #746
@haseeb33 Are you still working on it?

[2017-05-31 10:15] haseeb33 commented on #746
@grzesiek2010 I am Sorry. I had an accident and wasn't able to work on any project and I'm working on it.
Sorry once again.

[2017-05-31 10:20] grzesiek2010 commented on #746
@haseeb33 No worries. I hope you are ok. Let us know if you have a problem with this issue or you are not able to continue.

[2017-05-31 10:55] grzesiek2010 opened #1080 "Place the cursor at the end of text"
If we open a form with saved answer for String/Integer/Decimal widgets the cursor should be placed at the end of text.

[2017-05-31 11:04] haseeb33 commented on #746
@grzesiek2010 I am sorry. I am not able to continue on this one because of some issues and my shifted interest towards data science. Once again i am sorry.

[2017-05-31 11:09] grzesiek2010 commented on #746
@haseeb33 I see. We have lots of issues and everyone is welcome you too of course so you can get back to us whenever you want.

[2017-05-31 11:14] haseeb33 commented on #746
@grzesiek2010 Sure. I will put my 100% next time if I participate and I am really sorry about this one.

[2017-05-31 13:58] grzesiek2010 commented on #975
@lognaturel

no I have no idea...

[2017-05-31 15:31] lognaturel commented on #975
@alxndrsn Any chance you know a bit about these HTTP APIs and can sanity check our thinking?

[2017-05-31 20:08] #316 closed, assigned to nobody

[2017-05-31 22:43] #1080 closed, assigned to nobody

[2017-05-31 22:54] #1075 closed, assigned to nobody

[2017-05-31 22:55] lognaturel commented on #1075
This is great, thanks! The standard example is [breathcounter](https://opendatakit.org/downloads/download-info/breathcounter-apk/) and we know it's a fairly common integration point.

[2017-06-01 00:44] lognaturel commented on #1042
I don't have a good enough sense of how these geo features are used to know quite what the right thing to do is. For me, I do find it cool to be able to change basemaps on the fly. But then if I do, should it be just for this use of this widget? Should it change the basemap set in general settings?

In the context of organizations sending enumerators out into the field, I suspect that project lead

[2017-06-01 01:13] lognaturel commented on #74
Thanks, @rishsethia, this document has already been very useful. I'm moving the issue to the docs repo so we can hopefully get it integrated with some other documentation soon.

[2017-06-01 01:13] #74 closed, assigned to mitchellsundt

[2017-06-01 01:38] lognaturel commented on #1028
I think the changes you propose are great, @geomapdev and thanks for the extra background on projections.

I'm not exactly sure where to go from here! On my personal wishlist for the geowidgets are:
- modernized, consistent interface roughly following Material Design (@shobhitagarwal1612 will surely have some ideas on that)
- real-time feedback about lock status instead of "Wait for lock then tap.

[2017-06-01 01:43] lognaturel opened #1084 "Allow manual entry of points for geo widgets"
@geomapdev in #1028:

This is already in geoshape.

[2017-06-01 01:44] lognaturel commented on #1023
@yecarrillo I'll close this for now since I don't think it's a Collect issue. Do let us know what you find out when you have a chance to try out a debug build!

[2017-06-01 01:44] #1023 closed, assigned to nobody

[2017-06-01 01:46] lognaturel commented on #1052
This was probably deliberate but it would be good to know why. @yanokwa?

[2017-06-01 01:49] lognaturel opened #1085 "Add current position and timed interval mapping to geoshape widget"
From @geomapdev in #1028:

That functionality is already in geotrace.

[2017-06-01 04:13] yanokwa opened #1086 "Linking different forms"
From thoduor@gmail.com and https://groups.google.com/d/msg/opendatakit/XLU3S3y9FR8/KqFwPdwoCAAJ