[2017-09-16 17:07] lognaturel commented on #1475
🎉🎉 I really don't understand GitHub permissions, it looks like I can't assign it to you. Can you please use the fancy new :robot: to self-assign (@opendatakit-bot c laim -- space added so I don't claim it)?

[2017-09-17 07:25] shobhitagarwal1612 commented on #1473
Thanks @alxndrsn @jknightco! :smiley:

[2017-09-17 10:59] shobhitagarwal1612 opened #1476 "Remove unused/dead code"
We can use PMD to detect and remove unused code in the entire codebase. PMD gradle task can be run locally using `.gradlew pmd`

We just need to add the following line to config/quality/pmd/pmd-ruleset.xml in order to add this rule before running the task
[code]

[2017-09-17 11:00] shobhitagarwal1612 commented on #1436
duplicate of #1476

[2017-09-17 11:00] #1436 closed, assigned to nobody

[2017-09-17 11:00] shobhitagarwal1612 commented on #1434
duplicate of #1476

[2017-09-18 06:07] shobhitagarwal1612 opened #1477 "Fail the build if bugs are detected by FindBugs plugin"
The findbugs plugin is configured to ignore the issues detected during the build process in order to make the build pass.

I have already sent a PR #1387 to fix this

@opendatakit-bot claim

[2017-09-18 13:29] mmarciniak90 opened #1478 "Icons in 'Exit form' dialog are too close to the dialog edge on Android 4.1"
#### Software and hardware versions
Collect v1.10.2 - current master, Android v4.1, device Samsung Young

#### Problem description
Icons in 'Exit form' dialog are too close to the dialog edge on Android 4.1.

#### Steps to reproduce the problem
1. User starts form
2. User clicks on device back button
3. User sees Exit form dialog

#### Expected behavior
Left margin is visible.

#### Actual result

[2017-09-18 17:59] heyjamesknight commented on #1475
@opendatakit-bot claim

[2017-09-18 18:03] heyjamesknight commented on #1459
Huh, I don't believe I changed anything there. The section that was removed in getAnswer() was actually just dead code:
[code]

Neither `sp`, nor `gp` actually get used.

[2017-09-18 18:04] heyjamesknight commented on #1459
Yeah looking at all of my changes, everything else was just pure refactor or removal of dead code. I am happy to retain credit for the fix though :)

[2017-09-18 19:12] dsrees commented on #1264
@opendatakit-bot claim

[2017-09-18 19:47] heyjamesknight commented on #1426
Just a few left, planning on wrapping them up tomorrow morning. Sorry for the delay, didn't have as much free time as I was hoping last week!

[2017-09-19 08:53] heyjamesknight commented on #544
To bring this discussion back: I think Dagger (and possibly even moving towards "Clean") could definitely improve the code base, but I think we need to be aware of the cost involved.

Although messy and complex, the current code base is relatively easy to understand and navigate, even for people new to Android. While Dagger will undoubtably improve how easy it is to understand and improve individu

[2017-09-19 09:09] dsrees commented on #544
As a new member of the ODK community, I still have plenty to learn about the code base, but I am tremendous supporter of using Dependency Injection whenever possible. Both Dagger and ButterKnife are wonderful libraries and would greatly clean up the codebase. I have extensive experience using both and would be more than happy to contribute my experience if needed to move towards a more DI centered

[2017-09-19 09:21] heyjamesknight commented on #544
I think we need a better understanding of how comfortable with DI/Dagger the community as a whole is. ButterKnife is a much more minor change so I'll leave that discussion for the related thread #550, but I think we should be relatively sure that moving towards Dagger won't alienate a large portion of current and potential contributors. It is a major change, and one that requires significant educa

[2017-09-19 20:26] #1440 closed, assigned to nobody

[2017-09-20 08:39] #1473 closed, assigned to nobody

[2017-09-20 17:53] shobhitagarwal1612 opened #1487 "Add more rules in PMD ruleset for code quality enhancement"
https://github.com/pmd/pmd/tree/master/pmd-java/src/main/resources/rulesets/java

The above link contains all the available rules that can be added in the pmd-ruleset for the `pmd` plugin in order to improve code quality.

The best approach to do this would be to pick a rule from the above list which is not present in [pmd-ruleset.xml](https://github.com/opendatakit/collect/blob/master/config/qual

[2017-09-20 17:58] #1444 closed, assigned to nobody

[2017-09-20 18:01] #1438 closed, assigned to nobody

[2017-09-22 10:09] heyjamesknight opened #1488 "JodaTime dependency unnecessarily inflating memory footprint."
The default JodaTime dependency is a standard JAR, which Android loads inefficiently. Swapping to the library here will instead load JodaTime as an Android resource, which should reduce memory footprint: https://github.com/dlew/joda-time-android

[2017-09-22 10:30] lognaturel commented on #1475
@yanokwa Do you know why this claim failed?

[2017-09-22 11:00] yanokwa commented on #1475
@opendatakit-bot claim

[2017-09-22 11:00] yanokwa commented on #1475
@opendatakit-bot unclaim

[2017-09-22 11:01] yanokwa commented on #1475
Try the claim again, @jknightco! I think the 🤖 was taking some personal time off 😂

[2017-09-22 11:10] heyjamesknight commented on #1475
@opendatakit-bot claim

[2017-09-22 11:10] mmarciniak90 opened #1489 "Sorting of form names takes into account a case-sensitive"
#### Software and hardware versions
Verified on Collect v1.9.1

#### Problem description
Sorting of form names takes into account a case-sensitive on views:
- ~~Fill Blank Form~~ (fixed in #1482)
- Edit Saved Form
- Send Finalized Form
- View Sent Form
- Delete Saved Form - Saved Forms
- Delete Saved Form - Blank Forms

#### Steps to reproduce the problem
1. User opens one of mentioned view
2. Use

[2017-09-22 11:11] heyjamesknight commented on #1475
Lazy robots! At this rate they'll never reach the singularity.

[2017-09-22 11:12] lognaturel commented on #1475
So rude, now 🤖 is treating you like you just showed up, @jknightco! Doesn't it know you already have a massive pull request awaiting review?? 😅

[2017-09-22 15:10] #1264 closed, assigned to nobody

[2017-09-22 15:38] lognaturel opened #1491 "LocalDateTime vs DateTime"
From @jknightco in `DateWidget`: `This is LocalDateTime but TimeWidget is just DateTime. Seems like we should make these consistent.`

We need to think through why these may have been different and what the implications are. My gut reaction is that `TimeWidget` should not have a timezone because time without a date can't properly get timezone adjustments but we know from #170 that time does have a

[2017-09-22 15:50] heyjamesknight commented on #1491
Yeah, this was definitely something I didn't want to touch without understanding what was going on. I do think they should probably be consistent, however.

[2017-09-22 16:12] dsrees commented on #1489
@opendatakit-bot claim

[2017-09-22 18:00] akshay-ap commented on #1472
Found this link relevant to the issue.
[https://firebase.googleblog.com/2016/08/organizing-your-firebase-enabled-android-app-builds.html](url)
There can be separate firebase app for developer builds where the crash can be reported and another app where end user crashes will be reported.
I propose to create another firebase app with application ID `org.odk.collect.android.debug` and change the `bui

[2017-09-24 09:25] yurilaguta commented on #1488
I'm on it.

[2017-09-24 10:02] yurilaguta commented on #1478
I'll have a look

[2017-09-24 10:31] #1426 closed, assigned to nobody

[2017-09-24 10:37] lognaturel commented on #1488
I think you were asking about self-assignment of issues a few weeks back. We've now introduced a sweet new bot that now lets you do that! For the next issue you take on, you can comment with `opendatakit-bot claim` and our friendly bot will assign you. 😊🤖

[2017-09-24 10:37] #1488 closed, assigned to nobody

[2017-09-24 10:48] yurilaguta commented on #1265
@opendatakit-bot assignToMe

[2017-09-24 13:00] lognaturel commented on #1265
Our poor bot is not all that clever, @Yurii-Laguta. 😕 The only command it understands to assign issues is "claim" so you would type `opendatakit-bot claim`. You can check out the other commands it understands at https://github.com/opendatakit/zulipbot/blob/master/src/config.js

[2017-09-24 14:50] NaderBeshr commented on #1472
Hi all of you,

in fact i traced that issue and the problem was from (**Timber**)

for each Code of Timer like (**Timber.v, Timber.e, Timber.w,....etc**)
it happen an internal error in the Timber class

this error fire the firebase crash report.
it's even when you use a plain text like this
Timber.v("plainnnnn textttt onlllly") throw the firebase crash report.

the error from **NonNls** inside Tim

[2017-09-24 18:13] lognaturel commented on #1472
@akshay-ap I think adding the variants is a very good idea. I thought logging wouldn't happen on debug builds because of the conditional block starting on line 274 in `Collect.java` but it doesn't appear to work as expected. Additionally, hopefully adding the `applicationId` explicitly will prevent release builds of forks from logging. And there's no API key specified for Firebase, right? That mad

[2017-09-24 22:58] NaderBeshr commented on #1472
am sorry i misdundrstand the isuee, no i git it.

so you need to seprate the logges between developer (fork) and the users (Released)

if this what you want then we have to change the application ID fro the release one

like as @akshay-ap said org.odk.collect.android.debug

**this can be done by changing the application ID from project structure and also you have to change
the file "google-service

[2017-09-25 00:14] yurilaguta commented on #1265
thanks @lognaturel
@opendatakit-bot claim

[2017-09-25 08:30] #1478 closed, assigned to nobody

[2017-09-25 11:13] #1265 closed, assigned to nobody

[2017-09-25 11:43] #1477 closed, assigned to nobody

[2017-09-26 09:55] grzesiek2010 commented on #1464
@opendatakit-bot claim

[2017-09-26 10:10] lognaturel opened #1495 "Replace magic strings with constants or resources in PreferenceKeys"
For example, `"on_swipe"` should use `CONSTRAINT_BEHAVIOR_ON_SWIPE`. `"21"` should use `Collect.DEFAULT_FONTSIZE` and so on.

[2017-09-26 10:41] grzesiek2010 commented on #1491
Unfortunately I can't recall anything. Looking at the history I can see we used `DateTime` in DateWiget too.
So I think LocalDateTime has been implemented to fix daylight saving issue.

https://github.com/grzesiek2010/collect/commit/95ae651d5d021bdf63e413b18922a9db94d8ec36
Probably we need LocalDateTime to skip daylight saving gaps properly. So it's required there.

I don't know if we can use the

[2017-09-26 10:54] #257 closed, assigned to nobody

[2017-09-26 10:57] lognaturel commented on #868
I'm going to close this in favor of opendatakit/javarosa#45

[2017-09-26 10:57] #868 closed, assigned to nobody

[2017-09-26 11:04] lognaturel commented on #1386
@batbrain7 If you would still like to work on this one, please comment with `opendatakit-bot claim` so that you can be assigned to it.

[2017-09-26 13:41] grzesiek2010 commented on #1456
@opendatakit-bot claim

[2017-09-27 10:43] mmarciniak90 opened #1497 "Backward button is clickable on first question in form if user changes device orientation"
#### Software and hardware versions
Collect - current master
Android 4.1, 4.2, 4.4, 5.1, 6.0, 7.0

#### Problem description
Backward button is clickable on first question in form if user changes device orientation

#### Steps to reproduce the problem
1. User uses forward/backward buttons to navigate
2. User is on first question in form
3. Backward button is visible but it is not clickable
4. User

[2017-09-27 11:00] mmarciniak90 opened #1498 "Appearance of Forward/backward navigation buttons depends on Android version"
#### Software and hardware versions
Collect current master
Android 4.1, 4.2, 4.4, 5.1, 6.0, 7.0

#### Problem description
Appearance of Forward/backward navigation buttons depends on Android version

#### Steps to reproduce the problem

**1. Android 6.0, 7.0**
- arrows are brighter than buttons background
- backward button on first question looks like active
![screenshot_20170927-124456](https://u

[2017-09-27 11:03] grzesiek2010 commented on #1498
I'm in favor of creating our own navigation buttons and not to relay on defaults. It would look better and the same across different android versions.
@lognaturel what do you think.

[2017-09-27 11:22] grzesiek2010 commented on #1458
@opendatakit-bot claim

[2017-09-27 11:29] grzesiek2010 commented on #1497
@opendatakit-bot label "quick win"

[2017-09-27 11:30] grzesiek2010 commented on #1498
@opendatakit-bot label "needs discussion"

[2017-09-27 17:42] mkswati opened #1501 "Option to dynamically sync itemcsv from server"
Hi,

I am using ODK Collect for data collection. I am struck in a scenario where I need a dynamic itemcsv update as the option I am using in my form are changing frequently due to parallel data collection. Also I need to place more than 100,000 records itemcsv to filter the required items. I want a feature where user specify its location in the application settings and itemcsv is downloaded from t

[2017-09-28 11:32] shobhitagarwal1612 commented on #1476
@opendatakit-bot claim

[2017-09-30 14:14] mkmar01 commented on #1386
@opendatakit-bot @lognaturel
I got busy with my university exams , now I can get back to the issue and would still like to work on it

[2017-10-01 10:19] kusaasira commented on #1217
@grzesiek2010 , was this resolved?

My suggestion here, I think we can add this under Shared Preferences for the user to be able to adjust to Low Res images as it is with High Res video recording under General Settings.

[2017-10-02 05:49] grzesiek2010 commented on #1217
@kusaasira no it isn't.

I wanted to do that since I implemented the same on a form level https://github.com/opendatakit/collect/pull/1210 but I had more important issues to fix that's why I havent even thought about it much.

I think it should be marked with "needs discussion" label.

@opendatakit-bot label "needs discussion"

Probably @lognaturel and @yanokwa  have some ideas and I mentioned the

[2017-10-02 06:22] acawood777 commented on #1217
@grzesiek2010 Just to clarify - will the form-level settings overrule any user settings?

From a project management side it's preferable to be able to force images to a low resolution for a specific form, even if the user happens to change his local settings to high-res, so that we can prevent bloat on the server side.

[2017-10-02 06:27] grzesiek2010 commented on #1217
@acawood777 yes form-level settings should be more important since you can specify max image size for each question there.
Let's assume we have both option implemented.
If you set max pixels in General Settings it should impact all image questions apart from those you specified max pixels on a form level (since as I said it's more important).

[2017-10-02 07:01] kusaasira commented on #1217
@grzesiek2010 @grzesiek2010 does ODK have any form level settings on the other hand? And would it be hectic too for all the forms each time a new form is downloaded to the phone?

[2017-10-02 07:07] grzesiek2010 commented on #1217
By `form-level settings` I mean this https://github.com/opendatakit/collect/pull/1210 you can find there an example form to use. If you want to set the max-pixels value for specific question you can add for example `max-pixels="1500"` .

It's not like General Settings in the app sorry for misunderstanding it's something you can add in your form.

[2017-10-02 08:07] lognaturel commented on #1217
Thanks for reviving this conversation. The only thing we need to decide before this can be completed is what the different size options should be.

Because device cameras vary so much, I strongly feel that the size options should be absolute and not relative to the original image size. For example:

- Original size from camera (default)
- Very small - 640px
- Small - 1024px
- Medium - 2048px
- Lar

[2017-10-02 08:55] codedsun commented on #1497
@grzesiek2010  @mmarciniak90  can I work on this issue?

[2017-10-02 08:56] grzesiek2010 commented on #1497
@codedsun yes please go ahead.

[2017-10-02 10:24] grzesiek2010 commented on #1217
Sounds good to me.

[2017-10-02 12:34] dsrees commented on #1495
Looks straight forward enough, @opendatakit-bot claim

[2017-10-02 13:24] grzesiek2010 commented on #1491
@jknightco @lognaturel I've been working on Ethiopian calendar recently and I can confirm that LocalDateTime in DateWidget and in DateTimeWidget is required to handle daylight savings.

Here is a case if you want to reproduce the issue I'm talking about:
1. Change your timezone to Nairobi (GMT +3).
2. Change LocalDateTime to DateTime in DateTimeWidget
3. Try to add this answer: 01.01.1960 00:00

O

[2017-10-02 13:41] grzesiek2010 commented on #1491
A good question here is why we use LocalDateTime instead of LocalDate in DateWidget where we don't need the time?
I think we should and looks like I have to investigate it.

[2017-10-02 14:36] acawood777 opened #1510 "Clicking an image used as a choice does not select that option"
#### Software and hardware versions
Collect v1.10.2, Android v4.4.2, Samsung S4 mini (GT-I9190)

#### Problem description
I have a yes/no question, and have added thumbs-up / thumbs-down images to the choices.
Tapping on the images does not select yes/no - the user has to tap on the actual "Yes" or "No" text, which is not intuitive, especially when the image is significantly larger than the text.

[2017-10-03 08:19] grzesiek2010 commented on #1217
@kusaasira do you want to work on it? Otherwise I'll take it since I've implemented #1210

[2017-10-03 10:21] kusaasira commented on #1217
@grzesiek2010 please take it on. Will be ready to review and since you have also implemented something similar before, you are in a much better position to do so.

@lognaturel this is a good idea. I second it.

[2017-10-03 14:04] #1405 closed, assigned to nobody

[2017-10-03 14:23] #1476 closed, assigned to nobody

[2017-10-03 16:40] #1452 closed, assigned to nobody

[2017-10-03 18:41] #1464 closed, assigned to nobody

[2017-10-03 18:46] lognaturel commented on #1464
Thank you for the thorough issue reports and test forms @atl2017 and @mmoye! Thanks to @grzesiek2010, the fix is now integrated an will be part of the next release at the end of October.

To be notified when the beta is out, you can watch the topic https://forum.opendatakit.org/c/releases/pre-releases and to be notified when the final release is out, you can watch the topic at https://forum.openda

[2017-10-03 19:07] #1487 closed, assigned to nobody

[2017-10-04 08:12] nodarik commented on #108
+1 Would be really nice if this feature will be added,

[2017-10-04 11:07] grzesiek2010 commented on #1510
@opendatakit-bot claim

[2017-10-04 13:01] grzesiek2010 commented on #1309
@mmarciniak90 Since you [confirmed](https://github.com/opendatakit/javarosa/pull/189#issuecomment-334143097) everything s ok on current master branch please check if I'm right that the issue has been fixed by https://github.com/opendatakit/collect/pull/1492. Then we can close it.

@opendatakit-bot label "needs testing"

[2017-10-04 13:45] codedsun commented on #1497
@grzesiek2010 @mmarciniak90 Guide me how can i recreate this issue.
I downloaded a blank form of All Widgets , then entered in the fill blank form, I don't see any forward or backward button.

[2017-10-04 13:47] grzesiek2010 commented on #1497
@codedsun
They are invisible by default. Go to General Settings -> User Interface -> Navigation and select the second or third option.

[2017-10-04 14:12] codedsun commented on #1497
@grzesiek2010 PR send kindly review.

[2017-10-04 14:27] konishon commented on #1113
can I work on this @lognaturel ?

[2017-10-04 15:06] grzesiek2010 commented on #1113
@nishontan it's already done (almost done since it's under code review) https://github.com/opendatakit/collect/pull/1505

my bad I should have done that:
@opendatakit-bot claim

[2017-10-04 19:21] icemc commented on #1463
Hello! I will strongly recomend that the link be replaced with a more useful link or a list of useful links such as playStore etc. Most android app repositories out there, have a playstore link on their introductory section.

[2017-10-04 20:01] icemc commented on #1389
Hello @grzesiek2010 @lognaturel I will like to look into this issue.

[2017-10-05 08:29] lognaturel commented on #1389
Fantastic, thanks @icemc! For issues that don't need discussion you can simply comment `opendatakit-bot claim` and it will be yours. 😊

[2017-10-05 10:50] icemc commented on #1389
opendatakit-bot claim

[2017-10-05 10:52] #1489 closed, assigned to nobody

[2017-10-05 11:01] lognaturel commented on #1389
Ahhh, I'm sorry. You need the `@` in front of the bot name to get its attention.

[2017-10-05 11:07] icemc commented on #1389
yeah forgot about that too

[2017-10-05 11:08] icemc commented on #1389
@opendatakit-bot claim

[2017-10-05 11:12] lognaturel commented on #1389
Thank you Mr. @opendatakit-bot. 🤣🤣

[2017-10-05 12:24] grzesiek2010 commented on #1498
@opendatakit-bot unlabel "needs discussion"

[2017-10-05 12:24] grzesiek2010 commented on #1498
@opendatakit-bot claim

[2017-10-05 23:19] grzesiek2010 commented on #1349
@mmarciniak90 ODK Collect doesn't support tabular view for repeats. Could you confirm the problem exists because I tried a form with repeat group and with "field-list" too and I wasn't able to notice described behavior.

[2017-10-06 11:10] grzesiek2010 opened #1523 "Do we need prefernces.xml file"
There is a file in xml dir named prefernces.xml. As I remember this file had been using before we redecorated our settings. Currently it isn't used by any setting fragment.
We use this file only here:
https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/application/Collect.java#L264
and here:
https://github.com/opendatakit/collect/blob/master/collect

[2017-10-06 12:09] mmarciniak90 commented on #1349
@grzesiek2010 I investigated this problem and checked older ODK version.
This problem was visible until version 1.4.12.
"Add New Group?" dialog appears from the version 1.4.13 released on January 23, 2017
Dialog completely disappears and it works as expected in version 1.7.0 release on May 31, 2017

Problem is no longer valid.

[2017-10-06 12:20] grzesiek2010 commented on #1349
Great!

[2017-10-06 12:22] #1349 closed, assigned to nobody

[2017-10-06 12:49] #1458 closed, assigned to nobody

[2017-10-06 13:40] #1510 closed, assigned to nobody

[2017-10-06 13:40] adammichaelwood commented on #1398
I suggest this issue be re-titled to:
"Add Documentation in Collect App"

[2017-10-06 15:17] shobhitagarwal1612 commented on #1523
@grzesiek2010 Yes, we can get rid of this file now. Also, the default value for preferences is set in both the XML for each of the preference screen and the `PreferenceKeys.java`. So, I propose that we should set the default values using the `PreferenceKeys.java` in both of the two usages as mentioned above and replace the hardcoded default values in the preference xmls with a string reference.

[2017-10-06 15:18] shobhitagarwal1612 commented on #1523
We should start to work on this after #1495 is merged

[2017-10-06 20:03] grzesiek2010 commented on #1523
@shobhitagarwal1612 yes but I think we don't need it at all.

Why do we need that. I think it should work out of the box. Even if we reset settings then default values should be used out of the box.
Am I wrong?

[2017-10-06 20:06] shobhitagarwal1612 commented on #1523
By "preferences xmls" I mean the different xmls for each preference screen like `form_management_preferences.xml`, `user_interface_preferences.xml`, etc and not the file `preference.xml`

[2017-10-06 20:07] shobhitagarwal1612 commented on #1523
So, I am also in favor of removing the file `preference.xml`

[2017-10-06 20:08] grzesiek2010 commented on #1523
I'm confused you agree we can remove the file but you think we need to call something else it those two places where that file is used? Because I don't think we need that.

[2017-10-06 20:09] grzesiek2010 commented on #1427
@opendatakit-bot claim

[2017-10-06 20:14] shobhitagarwal1612 commented on #1523
My knowledge is limited on the options for setting the default value for shared preferences. Pardon me if I am wrong. Maybe I should read more before continuing further in this discussion. As far as I know, this file is being used for setting the default values and I assumed that either we should replace it with the new preferences file or by setting the default values which are in `PreferenceKeys

[2017-10-06 20:16] grzesiek2010 commented on #1523
Ok thanks. I'm pretty sure we don't need at all. I'll do some quick tests and if I'm ok I'll ask @mmarciniak90 for more testing.

[2017-10-06 20:21] shobhitagarwal1612 commented on #1523
:)

[2017-10-07 22:26] icemc commented on #1435
@lognaturel  what do you think about this issue?

[2017-10-07 22:27] icemc commented on #1455
Was able to reproduce the issue. Will start working on it ASAP

[2017-10-08 04:17] dcbriccetti commented on #1435
Why not wait until a need to override arises? Perhaps it never will.

[2017-10-08 05:21] lognaturel commented on #1435
I agree with @dcbriccetti. I'm guessing this idea came from an overzealous IDE warning, it seems IntelliJ warns about static methods that are also final. I would argue this is a good practice. More at https://stackoverflow.com/questions/1932399/is-it-a-bad-idea-to-declare-a-final-static-method

[2017-10-08 05:21] #1435 closed, assigned to nobody

[2017-10-09 07:02] mmarciniak90 commented on #1309
Tested with success.
I verified app which was created without changes from #1492 and with that changes.
I confirm that this problem is not visible.
Time picker works as expected.
Tested on Android 4.1, 4.2, 4.4, 5.1, 6.0, 7.0

[2017-10-09 07:03] mmarciniak90 commented on #1309
@opendatakit-bot unlabel "needs testing"

[2017-10-09 07:37] grzesiek2010 commented on #1309
Ok thanks.

[2017-10-09 07:38] #1309 closed, assigned to nobody

[2017-10-09 15:49] lognaturel commented on #170
Improved as much as is feasible without changing the meaning of the widget at opendatakit/javarosa#189.

[2017-10-09 15:49] #170 closed, assigned to nobody

[2017-10-10 03:05] MackHuang commented on #1300
Have you solved the problem now? If solved, can tell me how to solve?

[2017-10-10 03:44] lognaturel commented on #1300
What out of the suggestions above have you tried, @MackHuang?

[2017-10-10 06:44] agoktas commented on #1300
Thank you ı solved

Samsung Galaxy akıllı telefonumdan gönderildi.

-------- Orijinal mesaj --------
Başlangıç tarihi: MackHuang <notifications@github.com>
Tarih: 10.10.2017 06:03 (GMT+03:00)
Alıcı: opendatakit/collect <collect@noreply.github.com>
Cc: agoktas <ali_goktas_34@hotmail.com>, Mention <mention@noreply.github.com>
Konu: Re: [opendatakit/collect] java.lang.ClassNotFoundException dalvik.sy

[2017-10-10 09:45] grzesiek2010 commented on #180
@lognaturel
I'm able to reproduce the issue using current master branch but everything is ok if I use the apk with fixed https://github.com/opendatakit/javarosa/pull/189 so we can close this issue :)

[2017-10-10 12:51] grzesiek2010 commented on #1278
@lognaturel
The problem doesn't exists on 1.10.2 looks like it has been fixed here https://github.com/opendatakit/collect/pull/1327/files because if I use a version without these changes I'm able to reproduce the issue.

So looks like we can close the issue.

[2017-10-10 13:47] agoktas commented on #1300
Yes I solved.Thanks for your attention :)

Samsung Galaxy akıllı telefonumdan gönderildi.

-------- Orijinal mesaj --------
Başlangıç tarihi: MackHuang <notifications@github.com>
Tarih: 10.10.2017 06:05 (GMT+03:00)
Alıcı: opendatakit/collect <collect@noreply.github.com>
Cc: agoktas <ali_goktas_34@hotmail.com>, Mention <mention@noreply.github.com>
Konu: Re: [opendatakit/collect] java.lang.ClassNotF

[2017-10-10 13:47] agoktas commented on #1300
Yes I solved.Thanks for your attention :)

Samsung Galaxy akıllı telefonumdan gönderildi.

Samsung Galaxy akıllı telefonumdan gönderildi.

-------- Orijinal mesaj --------
Başlangıç tarihi: Hélène Martin <notifications@github.com>
Tarih: 10.10.2017 06:44 (GMT+03:00)
Alıcı: opendatakit/collect <collect@noreply.github.com>
Cc: agoktas <ali_goktas_34@hotmail.com>, Mention <mention@noreply.github.com>

[2017-10-10 14:20] #1300 closed, assigned to nobody

[2017-10-10 14:55] lognaturel commented on #120
Closed in opendatakit/javarosa#189

[2017-10-10 14:55] #120 closed, assigned to nobody

[2017-10-10 14:56] #150 closed, assigned to nobody

[2017-10-10 14:56] lognaturel commented on #150
Thanks @grzesiek2010, @shobhitagarwal1612!

[2017-10-10 14:57] lognaturel commented on #604
Updated to use the material design calendar a few versions ago.

[2017-10-10 14:57] #604 closed, assigned to nobody

[2017-10-10 14:58] lognaturel commented on #180
Nice, @grzesiek2010!

[2017-10-10 14:58] #180 closed, assigned to nobody

[2017-10-10 14:59] lognaturel commented on #1278
🎉🎉

[2017-10-10 14:59] #1278 closed, assigned to nobody

[2017-10-10 21:58] #1466 closed, assigned to nobody

[2017-10-10 22:13] #1495 closed, assigned to nobody

[2017-10-11 14:24] grzesiek2010 commented on #225
@lognaturel I think we can close this issue since I wasn't able to reproduce it and I'm not even able to find similar logs now on Firebase or Google play console.

[2017-10-11 14:52] grzesiek2010 commented on #152
@lognaturel
Not sure if I understand it well but everything works well since 1.4.3_rev_1040 and I am able to get an error if I use Version 1.4_rev_1038:
![screenshot_2017-10-11-16-48-43](https://user-images.githubusercontent.com/3276264/31448179-1a36b8ce-aea4-11e7-86a0-51e6352bb14e.png)

10-11 16:49:54.339 7403-7403/? W/System.err:     at org.javarosa.xpath.expr.XPathPathExpr.getReference(XPathPat

[2017-10-11 15:34] #152 closed, assigned to nobody

[2017-10-11 16:00] #1427 closed, assigned to nobody

[2017-10-11 16:18] lognaturel commented on #140
Replaced by opendatakit/javarosa#199

[2017-10-11 16:18] #140 closed, assigned to nobody

[2017-10-11 16:19] lognaturel commented on #169
Replaced by opendatakit/javarosa#199

[2017-10-11 16:19] #169 closed, assigned to nobody

[2017-10-11 16:20] lognaturel commented on #193
@grzesiek2010 This one doesn't seem related to opendatakit/javarosa#199 since it's about the start and end time preloads rather than `now()`.

[2017-10-11 16:24] lognaturel commented on #225
We recently fixed a bunch of NPEs in `FormEntryActivity` so seems we probably addressed it then.

Last time I did an IntelliJ inspection to identify possible NPEs, there were a LOT in `FormEntryActivity` so that might be a good thing to look further into.

[2017-10-11 16:24] #225 closed, assigned to nobody

[2017-10-11 19:13] grzesiek2010 commented on #193
@lognaturel ok maybe you are right I assumed it's the same since the issue is not described well.

[2017-10-12 09:32] grzesiek2010 commented on #36
I'm able to reproduce the issue on my Samsung Galaxy S4 Android 5.0.1. I have to check out other device and analyze the code.

[2017-10-12 09:33] grzesiek2010 commented on #36
@opendatakit-bot unlabel "needs reproduction"

[2017-10-12 10:52] mmarciniak90 opened #1532 "Date Widget displaying incorrect regional formatting for eg.Canada with YYYY/MM/DD style"
#### Software and hardware versions
Collect current master

#### Problem description
https://en.wikipedia.org/wiki/Date_format_by_country

Regional data formatting is correct for countries with DD/MM/YYYY and MM/DD/YYYY styles like United States or United Kingdom
![usa](https://user-images.githubusercontent.com/3907554/31492455-62073a0a-af4b-11e7-9ff8-cc7a16f8b1ad.png)
![uk](https://user-images.gi

[2017-10-12 12:24] grzesiek2010 commented on #1532
@mmarciniak90 @lognaturel I took a quick look at this issue and:
1. We use [DateFormat](https://docs.oracle.com/javase/7/docs/api/java/text/DateFormat.html) so even if there is something wrong it's most likely on their side.
2. I can't even reproduce the issue because my Galaxy S4 doesn't have English (Canada) language.
3. I tested Lithuanian since they use the same format and everything is ok so

[2017-10-12 20:46] yesitskev commented on #36
You'll most likely find that the camera hardware is rotated in the device (i've come across a few devices built like this). You'll most likely need to interrogate the Exif rotation data and apply the relevant transformation on the bitmap.

I'll look into this if i manage to find a device that has such an issue (possibly during the course of next week).

[2017-10-13 00:49] icemc commented on #1386
@batbrain7  are you still working on this issue?

[2017-10-13 00:56] icemc commented on #1106
@alxndrsn and @lognaturel will like more directives on this issue. Will love to look into it

[2017-10-13 07:48] grzesiek2010 commented on #36
| Device  | Portrait mode result | Landscape mode result |
| ------------- | ------------- | ------------- |
| Samsung Galaxy S7  | landscape :x:  | landscape  |
| Samsung Note | landscape :x:  | landscape  |
| Samsung J1  | landscape :x:  | landscape  |
| Samsung Young  | landscape :x: | landscape  |
| Samsung Galaxy S4  | landscape :x: | landscape  |
| Samsung Galaxy S Duos  | landscape :x: | la

[2017-10-13 08:49] grzesiek2010 commented on #1532
@mmarciniak90 @lognaturel
We use this code https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/DateTimeUtils.java#L15
I debugged the project and the issue takes place because of two problems:
1. As I said above even If I have English (Canada) language when I try to get default locale `Locale.getDefault()` I get `en` not `en_Ca`;
2. Even if

[2017-10-13 12:27] grzesiek2010 opened #1533 "NullPointerExceptions related to the FormController"
There are some strange NPEs related to the FormController visible on Firebase or Google Play. It's not really common problem but it takes place in a various different places.
I decided to take a look at it and find out what's going on. I took v1.10.2 into account only.

Reports:
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/clus

[2017-10-14 07:58] alxndrsn commented on #1106
Ref stream draining:
[code]
This code doesn't necessarily do what the comment implies that it does - as per [the javadoc for InputStream.skip(long)](https://docs.oracle.com/javase/7/docs/api/java/io/InputStream.html#skip(long)):

[2017-10-15 22:14] #1389 closed, assigned to nobody

[2017-10-16 09:35] grzesiek2010 opened #1534 "Duplicated FileUtil class."
In org.odk.collect.android.utilities we have two similar classes:
[FileUtil](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/FileUtil.java)
[FileUtils](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/FileUtils.java)

@jknightco you have added the first one. Any reason why?

[2017-10-16 09:45] heyjamesknight commented on #1534
@grzesiek2010 I'd like to slowly move away from the static utility classes and move towards concrete implementations that can be more easily mocked. Rather than submit a large refactor that does away with the old one completely I created the concrete class and added the methods I needed.

[2017-10-16 10:25] grzesiek2010 commented on #1534
Ok I'm closing the issue if it's considered.

[2017-10-16 10:25] #1534 closed, assigned to nobody

[2017-10-16 12:33] mmarciniak90 opened #1535 "All translations are not available"
#### Software and hardware versions
Collect current master

#### Problem description
User does not see all available languages.

#### Steps to reproduce the problem
1. User goes to 'General settings'
2. User goes to 'User interface'
3. User opens list of languages
4. User sees 49 languages

#### Expected behavior
More than 49 directories with translations are visible on project files.
User should

[2017-10-16 14:56] mfrasca opened #1536 "remove link to googlegroups from issue model"
the explanatory text you get when you start opening an issue contains a link to the deactivated google groups

this should be replaced with a link to the forum.

[2017-10-16 16:08] lognaturel commented on #1536
YES, you are so right!

[2017-10-16 16:11] lognaturel commented on #1459
@mmarciniak90 this is very strange. Can you please verify that altitude and accuracy are now successfully saved under all conditions?

[2017-10-16 16:13] lognaturel commented on #1463
Thanks @shobhitagarwal1612 and @icemc. I set it to https://opendatakit.org/use/collect/ for now because I think the play store link doesn't provide quite enough context. We can perhaps change it to the docs site once that's more mature.

[2017-10-16 16:13] #1463 closed, assigned to nobody

[2017-10-16 16:39] lognaturel opened #1537 "Import RequestCodes instead of its members"
In classes updated by https://github.com/opendatakit/collect/pull/1508/files, instead of importing specific constants and using them directly, use `import static org.odk.collect.android.utilities.ApplicationConstants.RequestCodes;` and access the constants explicitly through `RequestCodes`. This makes their origin more clear.

From @jknightco at https://github.com/opendatakit/collect/pull/1508#iss

[2017-10-16 18:43] vkdrn commented on #1536
@opendatakit-bot claim

[2017-10-16 19:32] lognaturel opened #1538 "Add bikram sambat (Nepali) date widget"
Add appearance `bikram-sambat` similar to `ethiopian` (#1505).

The goal is for the widget to look like other calendar widgets and to use standard Android components as much as possible. Ideally this will involve creating a new Joda chronology just like for the [`EthiopicChronology`](https://github.com/JodaOrg/joda-time/blob/909046aa9aab5fae75e2152fd6ded722a4d5aba2/src/main/java/org/joda/time/chro

[2017-10-16 21:47] mfrasca commented on #1536
I also often type "this closes #x", while github wants "please do close #x".

[2017-10-16 21:47] #1536 closed, assigned to nobody

[2017-10-16 22:21] lognaturel commented on #1536
@mfrasca it wasn't closed yet because the change hadn't been merged! Both "close" and "closes" are recognized - https://help.github.com/articles/closing-issues-using-keywords/

[2017-10-16 23:00] #1217 closed, assigned to nobody

[2017-10-17 06:16] grzesiek2010 commented on #1533
@mitchellsundt maybe you can help to reproduce that case since it was your commit?

Why when we return to the collect app the value of formController might be null?

[2017-10-17 08:18] heyjamesknight opened #1540 "Instrumentation test needed for the All Widgets Form."
Right now contributors have to manually walk through the All Widgets Form when testing changes to the QuestionWidget base class or any of its children. A simple Instrumentation test that walks through the entire All Widgets Form, opens the app, closes the app, sets answers, moves back and forth, etc. would go a long way to making sure that functionality remains consistent across commits.

[2017-10-17 08:18] heyjamesknight commented on #1540
@opendatakit-bot claim

[2017-10-17 09:09] grzesiek2010 commented on #1535
There is lack of:
`es_SV` but the related file is almost empty so I think it doesn't make sense to add this language.
`ml` - new language added https://github.com/grzesiek2010/collect/commit/965b5345c853472802ce32b274a1288d17c06fd0 doesn't contain lots of translations but since it's new maybe someone is working on it.
`sv_SE` - Sweden, looks like we should add it.
`tl_PH` Philippines, not sure wha

[2017-10-17 09:23] grzesiek2010 commented on #36
@opendatakit-bot claim

[2017-10-17 20:23] vkdrn commented on #1537
@opendatakit-bot claim

[2017-10-18 10:04] mmarciniak90 commented on #1459
Mentioned values are not saved on v1.10.2 and also on master when user uses Google Maps SDK
![screenshot_2017-10-18-11-53-52](https://user-images.githubusercontent.com/3907554/31712540-b0cf54c4-b3fb-11e7-9510-eea51f0b9f0a.png)

Altitude and accuracy are successfully saved when user uses OpenStreetMap SDK on both versions.
![screenshot_2017-10-18-11-57-33](https://user-images.githubusercontent.com/

[2017-10-18 10:05] mmarciniak90 commented on #1459
@opendatakit-bot unlabel "needs testing"

[2017-10-18 18:50] lognaturel commented on #1532
I think this is because it's a short date format with a month abbreviation rather than a fully abbreviated date with slashes. As a Canadian, I think the date is fine. 😊

That said, the pickers should be in the order of the fully abbreviated date. Is that the case? So for en_Ca I think it should be yyyy mm dd

[2017-10-18 18:50] #1532 closed, assigned to nobody

[2017-10-18 18:52] lognaturel commented on #1459
Ahh, mystery solved. Thanks so much @mmarciniak90! 😊 I'll update the issue.

[2017-10-18 19:00] yanokwa commented on #556
Now that we've had a few people thinking about this, I'm realizing that there are two issues here and maybe we should pull them apart. The two I see are:

1. Preventing people from uninstalling the app. This seems to be an impossible thing to do reliably on most devices. Maybe https://github.com/opendatakit/collect/pull/1437 can help a bit on devices with multiple users, but the real fix is probab

[2017-10-18 19:27] lognaturel commented on #1523
@grzesiek2010 I think what @shobhitagarwal1612 is saying is that there's still redundancy between the individual preference xml files and the `PreferenceKeys` java file. For an example of when it's done right, see `aggregate_preferences.xml`. The default server URL is set by a string. The default for `KEY_SERVER_URL` uses that same string. There are other cases in which hardcoded values are used a

[2017-10-18 20:25] nribeka commented on #1276
@yanokwa,

Do you need button if the link is clickable?
<img src="https://user-images.githubusercontent.com/1143145/31740999-f4743d6e-b420-11e7-8140-8a113cef92db.png" width="300">

[2017-10-18 23:50] #1537 closed, assigned to nobody

[2017-10-19 02:29] shobhitagarwal1612 commented on #1523
What if we remove the default values from the xmls and use the `GENERAL_KEYS` for setting the default values in `GeneralSharedPreferences`. In that way all the default values will be handled and set only from a single point in the entire codebase

[2017-10-19 08:04] heyjamesknight commented on #556
An option I haven't seen mentioned yet is [BackupAgentHelper](https://developer.android.com/reference/android/app/backup/BackupAgentHelper.html).

@yanokwa this still has some ability to be bypassed (install app then turn off internet, backup won't occur), but we could always encrypt the files on disk with a backed up private key and require the user to connect to retrieve it. That of course then

[2017-10-19 08:07] heyjamesknight commented on #556
Regarding point `#1`, there's definitely nothing we can do from the app side to completely prevent it being uninstalled. #1437 is about as good as we're going to get, I'm afraid.

On point `#2`: we can definitely use `BackupAgentHelper` here.

[2017-10-19 09:40] grzesiek2010 commented on #1109
@hooverlunch @lognaturel
Are you really able to reproduce this issue using the latest version or even mentioned by @hooverlunch v1.7.0?
I'm not able at all... I tested three different devices and I'm asked about the password every time I change/remove it.

I was able to reproduce the issue using v1.5.1 but it's tricky too:
v1.5.1 is the last version in which we were able to set username and passwo

[2017-10-19 10:08] grzesiek2010 commented on #1523
I think we should rather remove defaultValues form that GENERAL_KEYS not from preference files... why do we need that? We don't keep the same in adminKeys and I think if we load preferences files properly we can remove it right? and just read form sharedPrefs.

[2017-10-19 11:23] grzesiek2010 commented on #1523
... or maybe it really makes sense it would allow us to read only preferences with default values not entire files. I hav to investigate it.

[2017-10-19 18:05] lognaturel commented on #1109
@hooverlunch would be great if you could try this on the latest Collect version and see if the behavior is now as you expect.

[2017-10-20 08:04] grzesiek2010 commented on #193
@lognaturel I'm not able to reproduce this issue... I tried.
Everything works well to me, the end date is updated everytime I save finalized form (I've tested even ODK Collect v1.4.7 rev 1053.apk since this issue is pretty old).

I was able to reproduce the issue only by changing the phone date manually (maybe we should check it on the Javarosa side that end_date can't be < than start_date ? (just

[2017-10-20 11:36] grzesiek2010 commented on #95
@yanokwa you are right that it doesn't work if we use single or double quotes. I've tested TimeWidget too and it's the same.
When it comes to StringWidget I've tried:

- Text result: Text
- "Text" result: "Text"
- 'Text' result: 'Text'

so quotes are treated as a part of the string what makes sense.

@lognaturel
The question is: do we really want (need) to support such cases? I don't thinks so but

[2017-10-20 11:43] grzesiek2010 commented on #126
@lognaturel
I've investigated this issue and looks like it has been fixed and we can close the issue.
I was able to reproduce the issue using my Samsung Galaxy S4 and mentioned above version (using a little more chars).
Then I tested v1.10.2 and I was able to work even with the largest possible qr code 7k+ numbers and everything was ok.

@mmarciniak90 also confirmed everything is ok using min supp

[2017-10-20 12:09] grzesiek2010 commented on #103
@lognaturel
We can close the issue since it's on the Javarosa side:
https://github.com/opendatakit/javarosa/issues/45
and even pr has been sent: https://github.com/opendatakit/javarosa/pull/61

[2017-10-20 12:52] grzesiek2010 commented on #141
@lognaturel I've investigated this issue using attached form and it works as expected I can't reproduce the issue.
You can just edit the first value and save the form and the second value is updated automatically (you don't even have to go to that second question). Older version work too. Am I missing something?

[2017-10-20 14:05] grzesiek2010 commented on #117
@lognaturel I think we can close this issue. It's something pretty old and not related to the current version.

[2017-10-20 14:30] #117 closed, assigned to nobody

[2017-10-20 14:32] lognaturel commented on #126
Thanks for the thorough investigation, @grzesiek2010!

[2017-10-20 14:32] #126 closed, assigned to nobody

[2017-10-20 14:33] #103 closed, assigned to nobody

[2017-10-20 14:38] lognaturel commented on #141
Yes, this works for me as well so perhaps it was a much older Collect version that was being used. I'm not sure.

[2017-10-20 14:38] #141 closed, assigned to nobody

[2017-10-20 15:24] smoyte commented on #1109
I confirm the bug is not present in 1.10.2. Yay!

[2017-10-20 15:24] lognaturel commented on #1109
Another one squashed! 😅

[2017-10-20 15:24] #1109 closed, assigned to nobody

[2017-10-20 18:39] grzesiek2010 commented on #1459
@opendatakit-bot claim

[2017-10-21 19:59] asclepiusgal opened #1549 "Drawables can be converted to scalable assets (e.g., PNG to SVG)"
#### Problem description
Collect is using .png drawables instead of scalable vector graphics (SVG). These PNG assets can be converted over to SVG to improve the app's UI / UX.

[2017-10-22 14:38] lokpriya commented on #1538
@lognaturel
It would be really great to us here in Nepal

[2017-10-23 04:36] lognaturel commented on #1538
Awesome to hear this would be useful to you, @lokpriya! Would you be willing to help us with some verification once the feature is ready?

Let's see how best to proceed. @alxndrsn did you have plans to look at the joda implementation any time soon? Or @grzesiek2010, do you have a sense of how long it might take you?

[2017-10-23 08:40] grzesiek2010 opened #1551 "The app crashes when I try to take a picture using the SelfieWidget"
#### Software and hardware versions
Collect v1.10.2 Samsung Galaxy S7 Android 7.0 (it's visible on other devices too but less often)

#### Problem description
The app crashes when I try to take a picture using the SelfieWidget:

                                                                         Process: org.odk.collect.android, PID: 13237

[2017-10-23 08:49] grzesiek2010 opened #1552 "Pictures taken by the SelfieWidget are rotated incorrectly on some devices"
#### Software and hardware versions
Collect v1.10.2

#### Problem description
Pictures taken by the SelfieWidget are rotated incorrectly on some devices.

#### Other information
This table is from https://github.com/opendatakit/collect/pull/1541 so it might look a little different on v1.10.2 but the problem is visible there too and once we have merged #1541 it will look the same.

| case/device  |

[2017-10-23 11:45] grzesiek2010 commented on #1459
@lognaturel
I investigated this issue and I would vote for removing `Altitude` and `Accuracy` from `GeoTraceWidget` and `GeoShapeWidget` at all.

I've tested altitude using simple `GeoPointWidget` (and OSM maps) and looks like it works incorrectly. We are in Gdańsk
https://www.google.pl/maps/place/Gda%C5%84sk/@54.3635402,18.6050755,11.63z/data=!4m5!3m4!1s0x46fd731c14d4fa6f:0x9bb9fbf163b7be8d!8m2!3

[2017-10-23 17:54] grzesiek2010 commented on #1551
@opendatakit-bot claim

[2017-10-23 20:08] #36 closed, assigned to nobody

[2017-10-23 20:19] #1497 closed, assigned to nobody

[2017-10-23 20:40] lognaturel commented on #1276
@yanokwa This has a `needs discussion` tag. It seems like the conclusion from https://forum.opendatakit.org/t/how-do-we-encourage-feedback-from-users-when-they-run-into-problems/9203/ was that this would be ok to add but that there should be a way to hide or override it in the admin settings. Does that sound right?

[2017-10-23 21:25] lognaturel commented on #1459
I think we should always report `altitude` and `accuracy` when points are collected from the GPS device. That is, they should be added to the Google Maps trace activity but they should both be 0.0 when points are manually collected (as with the `placement-map` geo point).

`accuracy` refers to the accuracy of the latitude and longitude. This can be quite different from the altitude accuracy which

[2017-10-24 13:00] grzesiek2010 commented on #1459
@lognaturel
I've added small changes to test it you can look here:
https://github.com/grzesiek2010/collect/commit/74dec985993b4a595f817b8cce34c6a5de77183d
The problem is that there is no easy way to get the altitude if you manually change your marker location (you can move it in another place manually). The Marker class: https://developers.google.com/android/reference/com/google/android/gms/maps/m

[2017-10-24 20:28] JasonIves commented on #1464
I'm still seeing this in 1.10.2.

2 levels of nested repeats, after moving out of both get stuck on notes screen.  Only happens with buttons enabled.  Swipe only it works fine.

Let me know if more info is needed.

Jason

[2017-10-24 20:29] lognaturel commented on #1464
The fix hasn't been released yet and will be in 1.11.0. If you are able to build the current `master` and verify that it would be very helpful! I'm pretty sure we successfully tracked it down, though.

[2017-10-24 20:48] JasonIves commented on #1464
Gotcha, will try to test it.  Thanks.

[2017-10-25 01:07] lognaturel commented on #1306
Thanks for chiming in @acawood777 and I'm sorry you're just now getting a response! #1372 ended up being reverted because settings weren't being correctly maintained across updates.

Part of the reason for the change was to, as you say, make it possible to identify enumerators when shared credentials are used. Additionally, it makes it clearer that the username that's preloaded isn't necessarily t

[2017-10-25 07:47] mmarciniak90 opened #1555 "Sorting by the newest date does not work on Fill Blank Form view"
#### Software and hardware versions
Collect current master

#### Problem description
Sorting by date does not work on Fill Blank Form view

#### Steps to reproduce the problem
1. User goes to Fill Blank Form view
2. User sorts forms by date, newest first

#### Expected behavior
- Forms are sorted correctly

#### Actual behavior
- Forms are sorted by date but always oldest forms are first

[2017-10-25 17:19] #1555 closed, assigned to nobody

[2017-10-25 17:28] #1472 closed, assigned to nobody

[2017-10-25 17:33] #1551 closed, assigned to nobody

[2017-10-25 17:35] #1459 closed, assigned to nobody

[2017-10-25 18:24] #1498 closed, assigned to nobody

[2017-10-25 19:08] #1306 closed, assigned to nobody

[2017-10-25 19:11] lognaturel commented on #1306
Thanks @acawood777 @mfrasca. I think we have a nice, simple solution that makes sense, now. Basically, the server username is used by default but if the form metadata username is set, that's used instead. If you want to ensure the form metadata username can't be changed, you can use the admin settings for that.

[2017-10-25 22:56] #1113 closed, assigned to nobody

[2017-10-25 23:04] lognaturel commented on #1538
@nishontan I saw you were interested in working on the Ethiopian calendar implementation. It looks like you're also from Nepal so perhaps you'd also be interested in this one!

[2017-10-26 02:34] icemc commented on #1455
@nribeka was so busy recently that I didn't notice u had already assign this issue to me. Well PR on the way

[2017-10-26 08:13] grzesiek2010 opened #1558 "A photo in the AnnotateWidget doesn't take all available place when we want to draw something on it."
#### Software and hardware versions
Collect v1.11.0 beta

#### Problem description
A photo in the AnnotateWidget doesn't take all available place when we want to draw something on it.

#### Steps to reproduce the problem
1. Open the AllWidgetsForm and go to the AnnotateWidget
2. Take a photo in portrait mode
3. Click on the photo or use the "Markup Image" button to open the DrawActivity

#### Expe

[2017-10-26 08:13] grzesiek2010 commented on #1558
@opendatakit-bot claim

[2017-10-26 09:27] grzesiek2010 commented on #1533
@jknightco maybe you have any idea how to reproduce mentioned case?

[2017-10-26 15:21] jwishnie commented on #424
@lognaturel @dalerhoda can you explain why an app-wide setting is not appropriate?

I see date-format as a view preference that should _not_ be baked into the underlying form model.

If it is a view preference, the same forms (e.g. a standard protocol) can be used anywhere in the world, with ODK displaying (and requesting) dates in the format appropriate where they are used.

If this kind of view

[2017-10-26 18:47] lognaturel commented on #424
The case that @dalerhoda found was particularly error-prone is when enumerators need to enter in a date that exists on some other written material. For example, they're looking at a health insurance card with a date of birth on it or a product label with an expiration date. If the format of the ODK question doesn't match the format of the date, it's easy to make mistakes. This is something a form

[2017-10-26 20:43] lognaturel opened #1560 "Class cast exception in FormController getSubmissionMetadata"
From Play Store crashes ([here](https://play.google.com/apps/publish/?account=6923365842552008664#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=2453&clusterName=apps/org.odk.collect.android/clusters/dfddbf49), requires credentials)

`StringData sa = (StringData) v.get(0).getValue();` is the line that causes problem. Could it be because the value is null? I can't remember whether t

[2017-10-26 22:08] jwishnie commented on #424
I have thoughts... Move to Discourse!

https://forum.opendatakit.org/t/date-formats-for-input-and-display-in-collect/10357

[2017-10-27 05:04] konishon commented on #1538
@lognaturel Yes ! I am interested

[2017-10-27 06:32] grzesiek2010 commented on #550
I think the Android Data Binding would be better. Why do we need the Butterknife? I think in most cases we would use that only to get rid of findViewById and looks like thanks to the Android Data Binding we can do that using even less code than using the Butterknife. Here is a good comparison for those who don't know those tools https://www.youtube.com/watch?v=JsSkhR2rFzI

But looks like Kotlin is

[2017-10-27 08:51] alxndrsn commented on #1538
@nishontan great!  Let me know if I can help in any way.

[2017-10-27 10:35] heyjamesknight commented on #1533
@grzesiek2010  it doesn't look like I have access to the Firebase console (that or something is broken) @lognaturel is that something you could help with?

[2017-10-27 11:37] grzesiek2010 commented on #1533
@jknightco yes you don't have access but you don't need that since I've already analyzed those reports and I'm asking about the second part of my description starting with:

I can't reproduce the case when [this line](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L340) is called and this is my problem.

[2017-10-27 11:54] grzesiek2010 commented on #138
I investigate this issue using this form:
[longTextMinimal.xml.txt](https://github.com/opendatakit/collect/files/1421913/longTextMinimal.xml.txt)

The problem is still visible but I wasn't able to find any easy way to fix it. I've tested some different solutions but they worked in a different way on various devices.
The spinner widget is rather considered to be used with short strings and if we re

[2017-10-27 11:59] grzesiek2010 commented on #556
@jknightco

what do you mean by "on disk"?  external or internal storage?

[2017-10-27 12:02] grzesiek2010 commented on #1351
@opendatakit-bot claim

[2017-10-27 12:02] grzesiek2010 commented on #1350
@opendatakit-bot claim

[2017-10-27 12:46] grzesiek2010 commented on #1560
@lognaturel
Everything is ok if the value is null. The problem is if the value has a different type than `StringData`.
I've found report on firabese https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/1f36b0be?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2453
which contains more information. Ther you can see that the

[2017-10-27 17:31] lognaturel commented on #1560
Aha! So probably if we build a form that references a non-string field in the instance name we get that crash. Could you please give that a try, @grzesiek2010? If that gives a reproduction then I think we can probably file an issue on the JR side to cast whatever fields are used in the instance name to strings.

[2017-10-27 17:32] lognaturel commented on #1560
Interesting note -- I've never run into this because I always build up an instance name through concatenation to include the form name and make it nicely formatted. But now that I think about it I can imagine someone just wanting to use a date or just a number.

[2017-10-28 07:56] shobhitagarwal1612 opened #1566 "static methods of final class WebUtils have a final modifier"
`final` modifier prevents `static` methods from getting hidden and hence can't be overridden.

`WebUtils` is declared as `final` so it can't be inherited by any other class.
So, the `final` modifier of the `static` methods is redundant.

[2017-10-28 07:56] shobhitagarwal1612 commented on #1566
@opendatakit-bot claim

[2017-10-29 13:48] konishon commented on #1538
@alxndrsn
    Bikram Sambat Input : 2074-07-31 (YYYY-MM-DD)
    Expected Gregorian Output: None, Input was invalid date.
    Gregorian output: 2017-11-17

[2017-10-29 14:05] konishon commented on #1397
@lognaturel Can I claim the issue ?

[2017-10-29 18:17] shobhitagarwal1612 opened #1568 "Refactor activities using google sheets and google drive apis"
Activities such as `GoogleDriveActivity`, `GoogleSheetsUploaderActivity` and `InstanceGoogleSheetsUploader` use Google Drive / Google Sheets API and have a lot of common code. So these classes must be refactored to as they are already very large in size and hence not easy to maintain.
So I propose that we should create 3 classes :
 - GoogleAccountsManager - handling google accounts
 - SheetsHelper

[2017-10-30 05:15] florianm opened #1572 "Graceful degradation of bearing widget"
#### Software and hardware versions
Collect v1.10.2, 1.11.0,
Android v5 (Lenovo Tab3 7"), Android 6 (Moto G4+), Android 7 (Samsung S2 8")

#### Problem description
The [bearing widget](http://docs.opendatakit.org/form-widgets/#bearing-widget) works great in devices with compass hardware (S2), but does not work in devices without the required hardware to measure magnetic bearings (Tab3, G4+).

####

[2017-10-30 08:02] alxndrsn commented on #1538
@nishontan I think Gregorian 2017-11-17 should be Bikram Sambat 2074-08-1, and there are 30 days in the 7th month of 2074.  When an incorrect number of days is supplied, the date rolls over.  This is similar to behaviour in the standard Calendar and Date libraries of Java and Javascript respectively:

## Java
[code]
->
[code]
## Javascript
[code]

[2017-10-30 08:49] grzesiek2010 commented on #1560
@lognaturel I created the issue on the JR side https://github.com/opendatakit/javarosa/issues/210

[2017-10-30 09:43] grzesiek2010 commented on #1472
@lognaturel I've made a mistake... I [disable timber logs](https://github.com/opendatakit/collect/pull/1554/files#diff-3c113177d1ed88d85228fb0ec9f88210R279) only but crashes are still automatically reported of course.

Probably we should disable it here: https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/MainMenuActivity.java#L566 ?

and

[2017-10-30 13:09] grzesiek2010 opened #1573 "Update translations for October 2017 causes lint errors"
I've noticed that `./gradlew lint` command finishes with errors due to this commit https://github.com/opendatakit/collect/commit/08bdef0b9801875c752472db48928c16f30cd4ce

[2017-10-30 13:20] mmarciniak90 opened #1574 "Navigation buttons are not visible if user turns them on during filling form"
#### Software and hardware versions
Verified on Collect v1.11.0
Android 4.1, 4.2, 4.4, 5.1, 6.0, 7.0

#### Problem description
Navigation buttons are not visible if user turns them on during filling form

#### Steps to reproduce the problem
1. 'horizontal swipes' option is selected in navigation
2. User starts filling form
3. User opens General Settings
4. User goes to 'User Interface' options
5.

[2017-10-30 14:10] grzesiek2010 commented on #1574
@lognaturel
I think there might be even more bugs related to this case when we are able to change settings after opening the form. Do we really need this option there?

[2017-10-30 14:12] mmarciniak90 opened #1575 "There is no difference when user records videos in low or high resolution"
#### Software and hardware versions
Collect v1.11.0
Verified on Android 7.0, 4.4, 4.1, 6.0, 5.1

#### Problem description

#### Steps to reproduce the problem
1. High-resolution video recording is ENABLED
2. User fills form and records 5s video
3. User saves form
4. High-resolution video recording is DISABLED
4. User starts new form and records 5s video

#### Expected behavior
User sees that video

[2017-10-30 14:18] grzesiek2010 commented on #1575
We use [EXTRA_VIDEO_QUALITY](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/VideoWidget.java#L129) and it's rather a hint than a command so the camera app might ignore it. Looks like in most of cases it's ignored but it depends on the camera app as I said.

My only idea is to add something like `This option depends on the camera app you

[2017-10-30 17:56] heyjamesknight commented on #556
Yeah, either should work, as long as we can back up the key via BackupAgentHelper.

[2017-10-30 19:53] lognaturel commented on #1560
Would something like the following work?
[code]

[2017-10-30 20:28] lognaturel commented on #1573
We need to be sure to always lint after updating translations. Would be good to document that whole process!

The issue seems to be that Arabic translations don't all use placeholders. @NaderBeshr I know you were involved with Arabic translations recently, could you please help us fix these?

The problem is that translated strings need to have the same placeholders as the original strings. For exa

[2017-10-31 00:19] lognaturel commented on #1575
Interesting find, @mmarciniak90! I don't think we can reliably scale down video in a performant way so I propose we just make the documentation more clear that this might not always work just as @grzesiek2010 suggests.

[2017-10-31 01:05] lognaturel commented on #46
This kind of accounting was decided not to be generic enough to build into Collect. That is, some people want to count questions, others want to count instances and doing that configuration gets messy. Instead, https://github.com/opendatakit/counter was created.

[2017-10-31 01:05] #46 closed, assigned to nobody

[2017-10-31 01:05] lognaturel commented on #46
(thanks, @grzesiek2010! 😊)

[2017-10-31 01:08] lognaturel commented on #89
Translations are now managed through https://www.transifex.com/opendatakit/collect/. Anyone can request that a new language be added and start contributing to it. High-level discussions about translations should go to https://forum.opendatakit.org/c/development/translation

[2017-10-31 01:08] #89 closed, assigned to nobody

[2017-10-31 01:10] lognaturel commented on #172
@grzesiek2010 @mmarciniak90 I presume you have tried this functionality with all of your different devices and that you could not find a problem, right? If so, I think we should close.

[2017-10-31 01:12] lognaturel commented on #155
@grzesiek2010 Can you please see whether this is still an issue? If so, would be good to file in the JR repo.

[2017-10-31 01:13] lognaturel commented on #142
@grzesiek2010 I think this should be pretty straightforward and would enable some potentially cool integrations. What do you think?

[2017-10-31 03:57] lognaturel commented on #1538
Ideally the pickers used would be the same pickers as for the Gegorian calendar and the Ethiopian calendar and only valid dates would be allowed. Does that sound right?

[2017-10-31 04:58] lognaturel commented on #247
Thanks @shobhitagarwal1612 and sorry I missed your comment! Since there's no repro and no other report, I think we should close for now.

[2017-10-31 04:58] #247 closed, assigned to nobody

[2017-10-31 05:03] lognaturel commented on #275
Closed in opendatakit/xforms-spec#50 and with @dcbriccetti's ongoing work at opendatakit/javarosa#16!

[2017-10-31 05:03] #275 closed, assigned to nobody

[2017-10-31 05:33] alxndrsn commented on #1538
That sounds fine, but I don't think it's directly related to the discussion above.  IIUC we would be able to plug directly into the android pickers once we've implemented a JodaTime chronology.

[2017-10-31 08:21] jniles opened #1577 "Add option to allow redirects in form submission"
#### Software and hardware versions
Collect v1.11.0, Android v5.1.1, Zuk Z1

#### Problem description
The ODK collect app forbids [unexpected redirects using this line](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/tasks/InstanceServerUploader.java#L202), presumably to prevent man in the middle attacks or other request hijacking.  This makes i

[2017-10-31 09:48] grzesiek2010 commented on #155
@lognaturel we can close this issue it works as expected. The problem was visible on v1.4.4_rev_1045

[2017-10-31 11:53] heyjamesknight opened #1580 "Refactor: Widgets should handle parsing Activity responses on their own (FormEntryActivity does this currently)"
FormEntryActivity's `onActivityResult` function is 600+ lines and does a lot of preprocessing that really should be handled by the Widgets themselves. As it stands now, it takes extra effort to see what each Widget expects to be handed back in its `setBinaryData` method.

[2017-10-31 12:02] grzesiek2010 commented on #142
@lognaturel it's not difficult but it might be dangerous. Let's look at the example appearance from the Counter app:

`appearance="ex:org.opendatakit.counter(form_id='counter-form', form_name='Counter Form', question_id='1', question_name='Counter 1')"`

The question is: where should I put that?
Everything we add in brackets is treated as extra params, so if I change the example appearance and add

[2017-10-31 12:06] grzesiek2010 commented on #1573
@lognaturel
So maybe we should remove those translations for now because we are blocked with our prs.

[2017-10-31 13:43] grzesiek2010 opened #1582 "Can not navigate back when I'm at the end of the form with nested groups."
#### Software and hardware versions
Collect v1.11.0

#### Problem description
I discovered the issue during the work on `Repeat titles`:
https://github.com/opendatakit/collect/issues/183
https://github.com/opendatakit/xforms-spec/issues/141

The problem is when I have nested groups (one is repeat group) in my form and I try to navigate back when I'm at the end of the form. It's not possible but if

[2017-10-31 14:40] #155 closed, assigned to nobody

[2017-10-31 14:45] lognaturel commented on #1573
Agreed @grzesiek2010

[2017-10-31 14:49] lognaturel commented on #1582
Now this is a weird one. Looks like it's been around for a while and no one has reported it. I'm wondering whether we should still issue a patch release. @yanokwa?

[2017-10-31 18:35] grzesiek2010 commented on #1582
@opendatakit-bot claim

[2017-10-31 21:17] #1573 closed, assigned to nobody

[2017-10-31 21:32] #1566 closed, assigned to nobody

[2017-10-31 21:51] icemc commented on #1397
@nishontan comment @opendatakit-bot claim. To claim this issue

[2017-10-31 21:57] lognaturel opened #1585 "Lint and test output files are not copied to artifacts in CircleCI"
`checkstyle`, `pmd` and `findbugs` reports are correctly copied over and visible from the artifacts tab in CircleCI. However, `lint` reports are not. No test reports are available.

[2017-10-31 22:58] lognaturel opened #1586 "Failing tests"
[code]

[2017-10-31 23:10] #1558 closed, assigned to nobody

[2017-10-31 23:45] lognaturel commented on #1538
👍 So to be clear @nishontan, the first step will be to create a joda Chronology with tests like the ones in https://github.com/JodaOrg/joda-time/tree/909046aa9aab5fae75e2152fd6ded722a4d5aba2/src/main/java/org/joda/time/chrono

Once that is ready, #1576 is a good model of how to add a new calendar type to Collect.

[2017-10-31 23:53] lognaturel commented on #1397
Yes, please go ahead @nishontan! And @icemc is right, if you comment with `@opendatakit-bot claim`, you'll own the issue.

[2017-11-01 05:19] konishon commented on #1397
@opendatakit-bot claim

[2017-11-01 09:02] heyjamesknight commented on #1586
This is actually a test @grzesiek2010 added; I mentioned it to him the other day when I was looking into Gradle updates and assumed it was just related to my branch being in a weird state. Looks like it popped back up.

The only change introduced that could affect this would be updating the testing utilities, but I don't know how that would cause formatting tests to fail. Looking into it now.

[2017-11-01 09:13] heyjamesknight commented on #1586
Some of these appear to be formatting issues (such as the '.') but others appear to be a timezone issue (687967200000 is 14:00 in UTC, but when I run the tests in CET it expects 15).

[2017-11-02 09:20] grzesiek2010 commented on #1256
I was able to reproduce this issue and it depends on Android version. We just display available language name from `Locale`.

@lognaturel I think we can close this issue since it's not on our side.

[2017-11-02 09:22] #1428 closed, assigned to nobody

[2017-11-02 12:31] grzesiek2010 commented on #1586
It's strange but it depends on Android version. Here I have two devices with the same language but different os version. In the second case, there is a dot.
![date](https://user-images.githubusercontent.com/3276264/32326034-ab66be00-bfd1-11e7-8d60-feaa45c74c22.png)

I removed those tests and I kept only one for English locale as it should be enough I think. #1588

But now the problem is with your

[2017-11-02 15:21] #1256 closed, assigned to nobody

[2017-11-03 03:38] lognaturel commented on #1472
@grzesiek2010 Can we also do what @akshay-ap was suggesting to at least not get debug builds logging in the same place? I think that would address a lot of clutter in the logs.

No crashes are logged to GA. I vaguely remember picking GA over FA because at the time the interface was more complete.

[2017-11-03 11:48] grzesiek2010 opened #1591 "Can not download media files using Google Drive"
#### Software and hardware versions
Collect v1.11.0

#### Problem description
The option to download media files from GD is not implemented.

#### Steps to reproduce the problem
1. Upload a form and with additional files to you GD
2. Try to download the form

#### Expected behavior
The form and media folder are downloaded.

#### Other information
https://forum.opendatakit.org/t/dynamically-loaded-

[2017-11-03 12:01] grzesiek2010 commented on #172
@lognaturel Yes, we have never noticed such a crash. I've tested it again on my device and works well. It's even a case @mmarciniak90 tests before each release as I know. **So let's close it** :smile:

[2017-11-03 14:59] grzesiek2010 commented on #739
@lognaturel not sure if I understand but if it's about using intents and external apps it's possible of course what my demo app shows https://github.com/grzesiek2010/collectTester

[2017-11-03 15:25] grzesiek2010 commented on #524
@lognaturel since we don't really understand the problem and we haven't received any new pieces of information for a few months I would vote for closing it.

[2017-11-03 15:37] grzesiek2010 opened #1593 "Caused by java.lang.NullPointerException: Attempt to get length of null array"
#### Software and hardware versions
Collect v1.11.0

org.odk.collect.android.tasks.InstanceServerUploader.uploadOneSubmission (InstanceServerUploader.java:315)
org.odk.collect.android.tasks.InstanceServerUploader.processChunk (InstanceServerUploader.java:534)
org.odk.collect.android.tasks.InstanceServerUploader.doInBackground (InstanceServerUploader.java:558)
org.odk.collect.android.tasks.Instance

[2017-11-03 15:38] grzesiek2010 commented on #1593
@opendatakit-bot label "needs reproduction"

[2017-11-03 15:52] grzesiek2010 commented on #1251
@lognaturel Looks like this bug has been fixed. We can close this issue.

[2017-11-03 15:55] lognaturel commented on #1251
It's been fixed in current versions but the issue is that some people can't update because of their devices. What this issue is about is creating a 1.4.11 release with some bug fixes for those people stuck on the old version.

[2017-11-03 15:56] lognaturel commented on #1251
😪 We probably can't use 1.4.11 because that was used for a minor version rather than a patch release. So I have no idea what we would call it but hopefully the concept is clear now @grzesiek2010.

[2017-11-03 17:01] yanokwa commented on #1591
Are you sure it's not implemented? https://github.com/opendatakit/collect/issues/290 suggests that it was at some point.

[2017-11-03 17:12] nribeka commented on #1251
1.4.11.1 @lognaturel? Are you planning to have this available in github release page?

[2017-11-03 18:22] NaderBeshr commented on #1573
i will fix the translation.

[2017-11-03 18:23] lognaturel commented on #1573
Thank you @NaderBeshr!! Let me know if you have any questions about how the placeholders work or what they're for. 😊

[2017-11-03 18:28] NaderBeshr commented on #1573
no this is my fault, and i feel responsible about it.

thank you for you @lognaturel  and you @grzesiek2010

Best Regards

[2017-11-03 18:43] lognaturel commented on #1251
I think 1.4.10.1 would work! Good idea, @nribeka.

We haven't done this kind of patch release for an older version yet so there's no process in place. I was thinking we would treat it like any other release and show it on the GitHub release page.

[2017-11-03 19:16] NaderBeshr commented on #1573
done.

[2017-11-03 19:24] NaderBeshr commented on #1573
@lognaturel (This is so embarrassing) LEN.# 😊

i didn't yous it before.

but now i know why we us it.

[2017-11-03 19:26] lognaturel commented on #1573
😊

Thanks so much for getting it fixed for we non-Arabic speakers! Open source, open life, right? ✨

[2017-11-03 19:28] nribeka commented on #1251
Ah I was trying to ask about the apk itself. Because I don't think you can use google play to distribute the apk because then 1.4.10.1 will be the default release, right?

[2017-11-03 19:31] lognaturel commented on #1251
Good question. The Play Store uses the version with the highest build number that is compatible with the device. We've been leaving gaps between release build numbers so that we can insert updates. I think 1062 is available and can be used.

[2017-11-03 21:01] grzesiek2010 commented on #1591
@yanokwa Hey you are right. I only returned to v1.5.0 and it wasn't implemented in that version but it was in 1.4.16. Looks like it was removed when we implemented new API. I'll try to find out why but @shobhitagarwal1612 maybe you remember https://github.com/grzesiek2010/collect/commit/4673b97e98971e1ca8a9d1094c6f49fc3d38673b looks like it was your part.

[2017-11-04 00:47] lognaturel commented on #524
Ahh, I understand it now. It's because the `search` function used to exist but is now deprecated. I didn't know that at the time: https://forum.opendatakit.org/t/use-of-two-appearances/9443/3

@AbrahamMikolo `search` isn't supported anymore. If you read the thread above you will see other options for achieving what you need.

[2017-11-04 00:47] #524 closed, assigned to nobody

[2017-11-04 11:12] shobhitagarwal1612 commented on #1591
@grzesiek2010 Yes you are right. It was me who updated it to google drives API but didn't implement the download of media files with the form as I did not knew about this feature back then. Sorry for the inconveniences caused.

I have submitted #1569 to refactor the classes I updated at that time (updating sheets and drives api)

[2017-11-05 00:05] Divya063 commented on #1585
@lognaturel I would like to work on this

[2017-11-05 21:16] NaderBeshr commented on #1573
yep. ( open life, open mind, open source ) 😊. i have a great teacher she✨ told the same meaning before , in fact she have a beautiful inspiration.
see you in our galaxy soon.
i all most done.

[2017-11-06 08:47] grzesiek2010 commented on #1591
but this refactoring doesn't contain the fix right?

[2017-11-06 12:48] grzesiek2010 commented on #1591
@opendatakit-bot claim

[2017-11-06 12:48] grzesiek2010 commented on #1593
@opendatakit-bot claim

[2017-11-06 13:04] konishon commented on #1585
@Divya063 Hey, comment @opendatakit-bot claim. To claim this issue

[2017-11-06 13:25] shobhitagarwal1612 commented on #1591
Yes, it doesn't. But it makes those classes more lightweight and modular

[2017-11-06 14:07] grzesiek2010 opened #1597 "Long file name covers a checkbox in Google Drive view."
#### Software and hardware versions
Collect v1.11.0

#### Problem description
Long files names cover a checkbox in Google Drive view.

#### Steps to reproduce the problem
1. Go to `General Settings` -> `Type` and select `Google Drive, Google Sheets`
3. Select your google account below.
4. Click on the `Get Blank Form` button from MainMenu

#### Expected behavior
The text shouldn't cover its checkb

[2017-11-06 14:07] grzesiek2010 commented on #1597
@opendatakit-bot claim

[2017-11-06 20:05] lognaturel commented on #1586
There are currently several ways that the integration tests can fail depending on the configuration of the test device. For example:
- if the device doesn't have the required sensors, the bearing question will fail
- if the Zebra Print application is installed, the test will hang forever

I think this is a separate issue but `DateTimeUtils` test fails with `org.junit.ComparisonFailure: expected:<O

[2017-11-06 20:12] lognaturel commented on #1586
@grzesiek2010 I'm guessing that the `DateTimeUtils` problem has to do with the locale my device is set to. Can we force a locale before the test? I tried setting my phone locale to French/France which is supposed to use 14:00 but that still didn't work so I'm not totally sure that's it.

[2017-11-06 21:29] heyjamesknight commented on #1586
@lognaturel Can you clarify what you mean in regards to the Bearing test? We're currently mocking out the intents there—it shouldn't ever pass off to the actual Bearing Activity.

Fixing the Printer one now.

[2017-11-06 21:32] heyjamesknight commented on #1586
@lognaturel re: the DateTimeUtils, I also tried a number of things to get it to lock into a specific timezone but I could not do so successfully.

[2017-11-06 22:32] lognaturel commented on #1586
Interesting regarding the bearing widget. Does it work in the emulator for you? What I see is that the screen shows a toast saying it can't get the bearing and then the console shows that the value doesn't match what was expected.         `android.support.test.espresso.base.DefaultFailureHandler$AssertionFailedWithCauseError: '(is displayed on the screen to the user and with text: is "0.182")' doe

[2017-11-06 23:09] heyjamesknight commented on #1586
Yeah, works fine in the emulator for me. I'll see if I missed something, but it shouldn't ever be actually calling out to the other Activity.

I'll look at the resource id issue. Normally we'd just use the View IDs but since we set them randomly in code often it makes things a bit differently. If I can't use string IDs I'll see if we can set a common View ID for those fields.

[2017-11-06 23:10] lognaturel commented on #1586
Not a big deal about the resource ID! I understand why you did it that way now. Totally reasonable and we can add that as a note in the testing guide.

[2017-11-06 23:17] #1593 closed, assigned to nobody

[2017-11-06 23:17] #1560 closed, assigned to nobody

[2017-11-06 23:39] #1591 closed, assigned to nobody

[2017-11-07 05:12] lognaturel commented on #1585
That sounds great, @Divya063!

@nishontan thanks for the bot reminder. Make sure to use back quotes to escape the command as in `@opendatakit-bot claim` or you'll accidentally claim the issue for yourself! 😊

[2017-11-07 07:07] grzesiek2010 opened #1604 "Checkboxes are visible in rows other than those referenced to forms in Google Drive list."
#### Software and hardware versions
Collect v1.11.0

#### Problem description
Checkboxes are visible in rows other than those referenced to forms in Google Drive list.

#### Steps to reproduce the problem
1. Go to `General Settings` -> `Type` and select `Google Drive, Google Sheets`
3. Select your google account below.
4. Click on the `Get Blank Form` button from MainMenu
5. Make sure you have at

[2017-11-07 07:09] grzesiek2010 commented on #1604
@opendatakit-bot claim

[2017-11-07 09:31] akshay-ap commented on #1386
@opendatakit-bot claim.
@lognaturel builds are failing for `./gradlew connectedCheck -Pandroid.useDexArchive=false`. What might be the issue?

[2017-11-07 09:50] Divya063 commented on #1585
@opendatakit-bot claim

[2017-11-07 10:24] grzesiek2010 commented on #1582
The problem is on the Javarosa's side https://github.com/opendatakit/javarosa/issues/218

[2017-11-07 10:25] #1582 closed, assigned to nobody

[2017-11-08 00:35] lognaturel opened #1609 "CircleCI builds should fail fast on error"
We used to run the different build commands in a big line separated by `&&` to make sure that the build failed immediately when there was an issue. By first running fast tasks (`checkstyle`, `pmd`, etc) we could tighten the feedback loop and only run slow tasks (integration tests) if necessary. I think the order should be:
1. `pmd`
1. `checkstyle`
1. `lint`
1. `findbugs`
1. tests

At some point th

[2017-11-08 00:52] lognaturel commented on #1351
@grzesiek2010 Were you able to reproduce this?

[2017-11-08 00:59] lognaturel commented on #1003
Any new ideas, @grzesiek2010? I'm afraid I don't have any. It seems to continue happening almost every day. https://console.firebase.google.com/u/2/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/cbb271ed?duration=2592000000 (needs auth)

It seems so strange to me that no one would be reporting it. Maybe it's not actually a hard crash?

[2017-11-08 03:55] lognaturel opened #1610 "Make offline basemaps available from general settings"
When Google Maps SDK is selected as the Mapping SDK, if there are offline basemaps available, after the built in basemaps (Streets, Satellite, etc), display a "Offline Layers" heading and a list of offline layers. This will allow enumerators to set the offline layer once for use across multiple forms/instances. Offline map tiles are described in links from https://github.com/opendatakit/docs/issue

[2017-11-08 05:15] akshay-ap opened #1611 "Sent forms again available for sending after deletion of `instances.db`"
#### Software and hardware versions
Collect v1.11.0, Android v7.0.1, device used : Moto m
#### Problem Description
After deleting the `instances.db` and restarting the app, `Send Finalized Form` button form shows that there are not forms available for submission but on clicking the button, all forms are available even if they have been already sent.
#### Steps to reproduce the problem
Send the fin

[2017-11-08 14:41] mmarciniak90 opened #1614 "Options in dialog 'Zoom to ...' are not visible at whole in horizontal position"
#### Software and hardware versions
Collect v1.11.1
Problem depends on screen size

#### Problem description
Options in dialog 'Zoom to ...' are not visible at whole in horizontal position

#### Steps to reproduce the problem
1. User uses device on horizontal position
2. User opens one of Geo question
3. Dialog 'Zoom to ...' with options 'Zoom to current location' and 'Zoom to saved feature' appea

[2017-11-08 14:48] mmarciniak90 opened #1615 "Unused space is visible under buttons in GeoPoint question"
#### Software and hardware versions
Collect v1.11.1

#### Problem description

#### Steps to reproduce the problem
1. User uses device in horizontal position
2. User opens GeoPoint question with maps appearance
3. User sees option buttons on the right side
4. Unused space is visible under buttons
![screenshot_2017-11-08-15-30-58](https://user-images.githubusercontent.com/3907554/32555036-ec71745c-

[2017-11-08 14:55] heyjamesknight opened #1616 "FormEntryActivity needs refactoring."
Currently, FormEntryActivity is very hard to follow, at almost 3K lines. We should start trying to break distinct functionality out into testable classes to reduce this and make it a little easier to think about.

[2017-11-08 14:56] mmarciniak90 opened #1617 "User sees misleading information in toast in Selfie widget when front camera is not available in device"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
User sees misleading information in toast in Selfie widget when front camera is not available in device

#### Steps to reproduce the problem
1. User uses device **without** front camera
2. User is on the Selfie widget
3. User clicks on 'Take Picture' button
4. User sees toast with message 'Tap the screen to take a pictur

[2017-11-09 04:49] lognaturel commented on #1386
@akshay-ap Looks like you saw the Slack discussion about the tests and were able to get the latest master and get your build passing. 👍

[2017-11-09 05:10] lognaturel commented on #1609
Could we just run the gradle `check` task instead??

[2017-11-09 05:19] akshay-ap commented on #1617
@mmarciniak90 Are you fixing the issue or shall I?

[2017-11-09 05:26] lognaturel commented on #1617
Go ahead and claim it, @akshay-ap! 🎉

[2017-11-09 05:33] akshay-ap opened #1620 "Refactor org.adk.collect.android.utilities.Validator"
#### Software and hardware versions
Collect v1.11.0, Android v7.0, device used : Moto M

#### Problem description
The class `org.adk.collect.android.utilities.Validator` is used to validate Form Meta Data entered by user. The name of the class seems too vague. There is no validation for phone number. Regex for email validation needs to be improved. Current EditText for phone number doesn't have an

[2017-11-09 05:34] akshay-ap commented on #1620
@opendatakit-bot claim

[2017-11-09 05:38] lognaturel commented on #1620
This requires conversation. If you search prior issues, you'll see that the regex were already discussed!

[2017-11-09 05:42] akshay-ap commented on #1617
@opendatakit-bot claim

[2017-11-09 06:23] akshay-ap commented on #1620
Discussion on #1299 regarding validating email shows the reason for simple regex.

[2017-11-09 11:15] shobhitagarwal1612 commented on #1609
Does it stops the build if one of the tasks fails?

[2017-11-09 12:03] grzesiek2010 commented on #1003
@lognaturel
Nothing new. I have no idea what's wrong.

I guess it must be.

[2017-11-12 08:04] akshay-ap commented on #1615
@opendatakit-bot claim

[2017-11-12 09:03] akshay-ap commented on #1616
@jknightco can you mention the parts of `FormEntryAcitivity` that needs to be split into separate classes and need to add testing?
I can work on it.

[2017-11-12 09:27] akshay-ap commented on #1572
@opendatakit-bot claim

[2017-11-13 10:17] grzesiek2010 commented on #1351
@lognaturel I took a quick look but I wasn't able I'll try again when I'm free.

[2017-11-13 10:35] grzesiek2010 commented on #822
I used this form https://opendatakit.org/wp-content/uploads/2013/11/external_itemsets_example.zip

I uploaded the form and its csv file to Aggregate then I downloaded the form and finalized one instance. After that, I edited the csv file manually and uploaded the form and it's csv to Aggregate again. When I downloaded the form again I was able to see new values.
So in my opinion, it works well.

[2017-11-13 11:16] akshay-ap commented on #1572
@lognaturel @grzesiek2010 I am thinking to add an `EditText` to enter the bearing value relevant sensors are not available.
Solution :
Change `org.odk.collect.android.checkForRequiredSensors()` to return `boolean` instead of `void` (`true` if any senors are available else `false`). Store it in `manualDataEntry` variable for use at other places.
To add EditText :
**approach 1:**
Based on the return

[2017-11-13 11:19] mmarciniak90 opened #1624 "User is able to open more than one dialog when user quickly clicks the button several times"
#### Software and hardware versions
Verified on Collect v1.11.1

#### Problem description
User is able to open more than one dialog when user quickly clicks the button several times

#### Steps to reproduce the problem
1. User quickly clicks the 'Select date' button several times
   * Problem could also be related to other widgets.
2. Dialog appears
3. User selects date and clicks OK
4. User sees

[2017-11-13 14:50] grzesiek2010 commented on #1624
@opendatakit-bot claim

[2017-11-13 15:54] heyjamesknight commented on #507
@opendatakit-bot claim

[2017-11-13 16:21] lognaturel commented on #822
This would be important behavior to document fully and accurately.

Where in the code does the update happen? What happens if my Internet connection is very slow and the csv change is very big?

Is this also the behavior for "preloads"? https://opendatakit.org/help/form-design/data-preloading/

[2017-11-13 17:27] #1597 closed, assigned to nobody

[2017-11-13 17:33] #1386 closed, assigned to nobody

[2017-11-13 17:40] lognaturel opened #1626 "Change Google account selection dialog to match app theme"
The account selection dialogs use the dark theme.

Screenshots from @mmarciniak90 [here](https://github.com/opendatakit/collect/pull/1612#issuecomment-343869649):

| Dialog before fix | Dialog on Get Blank Form view | Dialog after fix |
| ------------- | ------------- | ------------- |
| ![before](https://user-images.githubusercontent.com/3907554/32719692-89c2a154-c861-11e7-9fb9-62fee1839bbe.png)

[2017-11-13 18:07] lognaturel commented on #1620
Yes, that's the one, thanks for finding it. Based on that conversation and the general desire to keep things frustration-free for users, I think we should keep the email validation as it is and not add a phone validation. Does that seem right to you @akshay-ap or would you still like to advocate for more validation?

[2017-11-13 18:10] #1604 closed, assigned to nobody

[2017-11-13 23:34] #1586 closed, assigned to nobody

[2017-11-14 01:21] lognaturel commented on #1611
I think this is ok. Deleting the `instances.db` file is unusual and should be expected to cause some problems. I think what we should do is document the behavior to expect when deleting a DB file.

[2017-11-14 01:21] #1611 closed, assigned to nobody

[2017-11-14 07:58] akshay-ap commented on #1611
Should this be documented in `Collect` developer docs?

[2017-11-14 08:02] akshay-ap commented on #1620
Current validation seems to work and as it is not a critical feature, I am ok with current implementation.
The same goes with phone number validation. But, adding a simple validation for number won't cause any harm I think.

[2017-11-14 09:53] akshay-ap commented on #1626
@opendatakit-bot claim

[2017-11-14 11:39] mmarciniak90 opened #1630 "User is able to open form or list two times when user quickly clicks form name / button in main menu several times"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
User is able to open form or list two times when user quickly clicks form name / button in main menu several times

#### Steps to reproduce the problem
**Use Case 1:**
1. User quickly clicks the 'Edit Saved Form' button several times
2. List of forms appears two times

**Use Case 2:**
1. User clicks on 'Fill Blank Form'

[2017-11-14 13:08] mmarciniak90 commented on #1003
@lognaturel I tried to reproduce this crash without success.
I worked with Android 5.1 and with the newest device Nexus 5X.
I tried reproduce this on Collect v1.11 and v1.5.1.
I verified cases with ODK Aggregate and Google Sheets.

[2017-11-14 13:43] mmarciniak90 opened #1631 "User is moved to main Google Drive list if user clicks on 'Go back' when a list of shared forms is displayed"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
User is moved to main Google Drive list  if user clicks on 'Go back' when a list of shared forms is displayed

#### Steps to reproduce the problem
1. User uses Google Sheets
2. User opens 'Get Blank Form' list
3. User sees list of forms

<img src="https://user-images.githubusercontent.com/3907554/32781820-ae8bf414-c946-1

[2017-11-14 17:53] #1585 closed, assigned to nobody

[2017-11-14 17:53] #1609 closed, assigned to nobody

[2017-11-14 19:30] lognaturel commented on #1003
Well, I think we can close for now, then. Unless someone can give us more info it's going to be really hard to track down.

[2017-11-14 19:30] #1003 closed, assigned to nobody

[2017-11-15 01:45] lognaturel commented on #1620
👍 Let's keep things as-is for now.

[2017-11-15 01:45] #1620 closed, assigned to nobody

[2017-11-15 05:23] lognaturel commented on #1611
I think it’s useful for users, too. It’s good to know what the implications are since the dbs can be deleted from admin settings. I filed an issue in the docs repository.

[2017-11-15 11:42] grzesiek2010 commented on #822
@lognaturel

preloads work well too. I tested this form: https://opendatakit.org/downloads/download-info/sample-preloading-form/

If you want to know more details:
I was right yesterday. If we use external itemsets we create a table in `ItemsetDbAdapter` for used csv file when we load the form for the first time and we don't need to create that table again we can just use existed table as long as

[2017-11-15 12:58] grzesiek2010 commented on #124
@lognaturel I don't understand the problem. If you know what's going on here please explain.

[2017-11-15 13:15] grzesiek2010 commented on #1610
So it will look like eg:

**Online Layers**

- Streets

- Satelite

- Terrain

- Hybrid

**Offline Layers**

- layer1

- layer2

- layer3

It might be confusing because it would be two separate lists but only one selected option allowed.

So maybe one list like now but with tags: Online/Offline?
something like that:

**Basemaps**

- Streets (Online)

- Satelite (Online)

- Terrain (Online)

- Hybr

[2017-11-15 14:40] grzesiek2010 opened #1634 "Long file name covers an image in View Sent Form list"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
Long file name covers an image in View Sent Form list

#### Other information
![screenshot_2017-11-17-01-42-56](https://user-images.githubusercontent.com/3276264/32841676-4658de04-ca1b-11e7-8961-6b5abe7b1ace.png)

[2017-11-15 18:35] lognaturel commented on #1609
@shobhitagarwal1612 Sorry I didn't answer this. Yes. But it also runs all checks including connected tests and tests on all build variants which may not be necessary.

Additionally, unit tests currently fail on release builds because of the calls on `FirebaseCrash`. That's something we should eventually look at fixing.

[2017-11-15 23:39] dcbriccetti opened #1639 "Memory leak of FormEntryActivity because MediaPlayers are not released"
#### Software and hardware versions
Collect v1.11.0

#### Problem description
QuestionWidgets include MediaPlayers, and they are never released, causing a memory leak

#### Steps to reproduce the problem
Edit a form with a string field. Change the value. Save the form. Look for the Leak Canary message alerting you to the leak.

#### Expected behavior
Leak free-ness

[2017-11-15 23:43] dcbriccetti opened #1640 "Move MediaPlayer field from QuestionWidget"
I recommend removing the MediaPlayer field from the abstract QuestionWidget and putting it into a new abstract subclass one level below, for those few widgets that actually use it.

#### Software and hardware versions
Collect v1.11.0

[2017-11-16 12:54] mmarciniak90 opened #1646 "Memory leak : GeoPointMapActivity"
#### Software and hardware versions
Collect master

#### Problem description
![screenshot_20171116-133751](https://user-images.githubusercontent.com/3907554/32891859-8e5d4f3c-cad4-11e7-809d-deaafeeaf8ec.png)

#### Steps to reproduce the problem
1. User opens Geopoint Widget
2. User clicks on device back button

[2017-11-16 14:52] mdudzinski opened #1647 "Add support for nonlinear repeats"
The best reference -> https://forum.opendatakit.org/t/change-static-text-in-groups-prompt/1505

Frankly, I'm not sure how it should look like so it would be super helpful if we could see how it looked like in JavaRosa J2ME days. Since the ODK fork has been modified to *not* contain any J2ME related code, the original repo (https://bitbucket.org/javarosa/javarosa/wiki/Home) should be used. I have n

[2017-11-16 20:50] grzesiek2010 commented on #1630
since it's related to #1625
@opendatakit-bot claim

[2017-11-16 21:25] dcbriccetti commented on #1646
@opendatakit-bot claim

[2017-11-16 22:56] lognaturel commented on #822
To summarize:
- you have confirmed that the download is NOT automatic
- you have confirmed that uploading the same form definition with a bump in the version number along with a new CSV allows Collect to see the new form version
- you have confirmed that downloading the new form version results in the new CSV being used when the latest form version is filled. This is true for both preloads and ext

[2017-11-16 23:01] #172 closed, assigned to nobody

[2017-11-16 23:02] lognaturel commented on #193
The current behavior seems ok. I agree we should close and see if any user reports the behavior that could be considered strange.

[2017-11-16 23:02] #193 closed, assigned to nobody

[2017-11-16 23:06] lognaturel commented on #142
Thanks, @grzesiek2010, that analysis makes sense. This is not as straightforward as I thought it could be so I think we should hold off until a user asks for it. @yanokwa you filed this issue. Was there a specific integration you wanted to enable?

[2017-11-16 23:06] #142 closed, assigned to nobody

[2017-11-16 23:09] lognaturel commented on #1610
I like it, @grzesiek2010. I think we can leave the standard ones as they are now -- Streets, Satellite, etc without any parentheses -- and only add the parenthetical for offline layers. Do you think `(offline)` is the right text? We could also do `(custom)` or `(custom, offline)`.

[2017-11-17 02:16] #1634 closed, assigned to nobody

[2017-11-17 02:19] #1617 closed, assigned to nobody

[2017-11-17 06:50] dcbriccetti commented on #1646
This one is harder than the other leak. I’ve narrowed it down to here, in GeoPointActivity.

[code]

If requestLocationUpdates is called with *anything*, even a static field with an instance of a separate, top-level class with empty methods, it leaks.

[2017-11-17 10:05] grzesiek2010 commented on #1610
@opendatakit-bot claim

[2017-11-17 10:47] heyjamesknight commented on #1475
@opendatakit-bot unclaim
Will return to this once the Geo Widgets are updated.

[2017-11-17 11:18] grzesiek2010 commented on #822
Yes, how could it work automattically? It has been never implemented. We need to download the form manually again.

To answer other questions I feel that I need to clarify something. In aggregate, there is only one option called `Add New Form`.

- If you use `Add New Form` option and you upload a form with the same version you already have then, as a result, you will see one form on your devices.

[2017-11-17 11:57] heyjamesknight commented on #507
Where we are now, we have six map based Activities, the cartesian product of two implementation sets (Google vs. OSM, Point vs. Shape vs. Trace).

- Google:
    - GeoPointMapActivity
    - GeoShapeGoogleMapActivity
    - GeoTraceGoogleMapActivity
- OSM:
    - GeoPointOsmMapActivity
    - GeoShapeOsmMapActivity
    - GeoTraceOsmMapActivity

My current plan is to collapse these into a single `GeoAct

[2017-11-17 15:59] lognaturel commented on #1646
CC @jknightco since you're in this code for #507

[2017-11-17 16:55] heyjamesknight commented on #1646
@dcbriccetti I can claim this as it'll likely get overwritten by the Geo refactors.

[2017-11-17 16:56] heyjamesknight commented on #1646
(Also it looks like it was my code that caused it in the first place).

[2017-11-20 11:51] grzesiek2010 commented on #137
@lognaturel
I investigated this issue and it works as expected. I used this form:
[repeatTest.xlsx](https://github.com/opendatakit/collect/files/1487468/repeatTest.xlsx)

We can close this issue.

[2017-11-20 13:30] grzesiek2010 commented on #113
@lognaturel
I'm not able to reproduce that crash there is only a small bug:
If I navigate back and select "no" I'm still able to see repeat groups. I think it's related to https://github.com/opendatakit/javarosa/pull/61 so let's continue the discussion there and close this issue.

I used this form:
[repeatTest.xml.txt](https://github.com/opendatakit/collect/files/1487774/repeatTest.xml.txt)

[2017-11-20 13:52] grzesiek2010 commented on #101
@lognaturel
I was able to reproduce the issue using Version 1.3_rev_1029 but everything is ok on the latest version so it has been fixed.
Let's close it.

[2017-11-20 19:20] lognaturel commented on #101
👍

@shobhitagarwal1612 This illustrates why we want to be extra careful when making changes to the form hierarchy view as in #1271. It would be amazing to pull together some of the scenarios and forms mentioned here for testing upcoming changes and making sure there are no regressions.

@mmarciniak90 I think it might also be good for you to read through this thread and see if any of these cases ar

[2017-11-20 19:20] #101 closed, assigned to nobody

[2017-11-20 19:26] #113 closed, assigned to nobody

[2017-11-20 19:27] lognaturel commented on #137
Awesome!

[2017-11-20 19:27] #137 closed, assigned to nobody

[2017-11-20 19:29] lognaturel commented on #1568
@shobhitagarwal1612 I know you mentioned that you were going to be really busy for a couple of weeks and since you're close to completing this I think you should stay assigned to it. @jknightco made some suggestions on how to increase testability and is ready to work with you to put some tests in when you're around!

[2017-11-20 19:31] lognaturel commented on #1351
This might be a good one to try with a slower device and fast activity changes when you have a chance, @grzesiek2010. If you can't reproduce like that we can close.

[2017-11-20 19:34] #1626 closed, assigned to nobody

[2017-11-21 02:11] lognaturel commented on #137
@mmarciniak90 if you don't already have a form with nested repeats in your test plan, it might be a good idea to add one.

[2017-11-21 05:18] lognaturel commented on #822
Yes, thank you.

[2017-11-21 05:18] #822 closed, assigned to nobody

[2017-11-21 14:54] yashLadha opened #1651 "Error in build of project in android studio 3.0"
#### Problem description
Build gives error when imported the project in android studio.

#### Steps to reproduce the problem
Just build the project in Android Studio 3.0

#### Expected behavior
Successful build with no errors and warnings

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-11-22 06:35] akshay-ap commented on #1615
@lognaturel  The issue can be closed now.

[2017-11-22 08:01] mmarciniak90 commented on #137
@lognaturel, done! I added a separate test for form with nested repeats.

[2017-11-22 09:58] grzesiek2010 opened #1652 "Check for form updates"
#### Problem description
We should be able to see if a newer version of a form we use is available to download.

#### Expected behavior
An appropriate message should be visible in FormDownloadList.

[2017-11-22 09:59] grzesiek2010 commented on #1652
@opendatakit-bot claim

[2017-11-22 11:23] mmarciniak90 opened #1654 "QR code with exported settings does not include sorting settings"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
QR code with exported settings does not include sorting settings

#### Steps to reproduce the problem
1. User opens 'Fill Blank Form' view
2. User sorts forms by Date, newest first
3. User exports settings to QR code and collect.settings file
4. One user imports settings from QR code and other one from collect.settings f

[2017-11-22 12:03] grzesiek2010 commented on #1654
That's because QR code contains only settings from General/Admin settings while the settings file contains all shared preferences.
The question is: does it work as expected @lognaturel ?

[2017-11-22 17:20] akshay-ap commented on #1575
@lognaturel @grzesiek2010 In such cases can we provide some option to user that will convert video from high resolution to low resolution? Internally we can use some library like ffmpeg

[2017-11-22 18:05] shobhitagarwal1612 commented on #1568
@lognaturel Thank you for the reminder. I will keep updating the PR with the recently added changes and the changes suggested by @jknightco. Then I will start adding tests soon

[2017-11-22 18:08] lognaturel commented on #1568
That's going to be great, @shobhitagarwal1612!

[2017-11-22 18:25] akshay-ap commented on #1063
@lognaturel @grzesiek2010
Selected image is no scaled to fit the screen using this widget. Same goes for image taken from camera.
Also, zoom in and zoom out buttons are buggy.
<img src="https://user-images.githubusercontent.com/16358982/33143476-f7ff223e-cfdf-11e7-9a41-013bb8bccfae.png" width=35%>

[2017-11-22 18:26] lognaturel commented on #1063
I agree, it's really bad. I honestly don't know what it was intended for. My preference would be to deprecate it soon, we just don't have a great deprecation process yet. This one might be safe to just remove.

[2017-11-22 18:28] akshay-ap commented on #1063
What is the procedure for deprecation?

[2017-11-22 18:30] lognaturel commented on #1063
We don't have one yet. 😩 Typically it would be something like announcing that a feature is going away with a timeline for removal. Defining this kind of process will be a great thing for the [Technical Steering Committee](https://forum.opendatakit.org/t/proposed-governance-for-odk-1-technical-steering-committee/10027) to do once it is in place.

[2017-11-22 23:12] #1523 closed, assigned to nobody

[2017-11-23 10:17] grzesiek2010 opened #1657 "Everything disappears if I change a device orientation in Admin Settings"
#### Software and hardware versions
Current master branch.

#### Problem description
Everything disappears if I change a device orientation in Admin Settings

#### Steps to reproduce the problem
1. Go to `Admin Settings`
2. Change your device orientation

#### Other information
![adminsettings](https://user-images.githubusercontent.com/3276264/33167914-63019c56-d03f-11e7-84fc-d9407f999bf2.gif)

[2017-11-23 10:17] grzesiek2010 commented on #1657
@opendatakit-bot claim

[2017-11-23 17:23] akshay-ap commented on #232
@yanokwa @lognaturel @shobhitagarwal1612 Is it possible to do it this way :
Assuming Organizations have their own servers.
1. Admin will configure a device, save its settings in Image on QRCode.
2. On click of a button by admin, this image/settings will be sent to server.
3. Other users will have to add a url to download settings. On click of button, those image/settings will be downloaded and set

[2017-11-24 12:30] mmarciniak90 opened #1660 "Default values in settings are restored if user update to version with #1623"
#### Software and hardware versions
Collect with #1623

#### Problem description
Default values in settings are restored when user updated Collect to version with changes from #1623

#### Steps to reproduce the problem
1. User has installed collect without changes from #1623
2. User changes few settings
3. User updates to Collect with changes from #1623

#### Expected behavior
All settings remain

[2017-11-24 15:09] grzesiek2010 commented on #1660
@opendatakit-bot claim

[2017-11-25 21:54] codedsun commented on #1574
@grzesiek2010 @mmarciniak90 @lognaturel I want to work on this issue.

[2017-11-25 21:59] codedsun commented on #1614
@lognaturel I want to work on this issue!

[2017-11-26 09:34] grzesiek2010 commented on #1614
@codedsun currently @jknightco is working on big changes in this area https://opendatakit.slack.com/archives/C35ENHA64/p1511178185000272
so we should postpone all other related issues.

[2017-11-27 18:00] codedsun commented on #1574
@lognaturel Can i work?

[2017-11-27 18:07] lognaturel commented on #1574
This is an interesting one. I'm guessing that the option was put there to be able to change things like base maps while filling out a form. That works because the setting is read when the geo widgets are opened, not before. This one fails because the setting is read on form load. @grzesiek2010 in general my sense is that being able to change settings while filling out a form is useful but you're r

[2017-11-27 18:13] grzesiek2010 commented on #1574
@lognaturel yeah definitely it would be good to have such a list to decide what's next... if we have two issues (for example) we can fix them but if we have 10 maybe it's better to consider removing this option.

@codedsun it's a good first step if you want to take this issue.

[2017-11-27 18:14] lognaturel commented on #1574
👍 Good point, @grzesiek2010. We'll have to see how many categories of problems there are.

[2017-11-27 18:15] codedsun commented on #1574
@grzesiek2010 Assign it to me :+1:

[2017-11-27 18:17] grzesiek2010 commented on #1574
@codedsun
you can do that by yourself just add a comment:

[2017-11-27 18:17] codedsun commented on #1574
@opendatakit-bot claim

[2017-11-27 18:18] grzesiek2010 commented on #1574
ooops I thought it doesn't work if it's a quote so:

@opendatakit-bot unclaim

Now it's only yours :smile:

[2017-11-27 18:21] #1660 closed, assigned to nobody

[2017-11-27 18:50] lognaturel commented on #1574
Haha, @grzesiek2010, for next time, putting it in backticks works -- `@opendatakit-bot claim`. 😊

[2017-11-27 19:01] #1657 closed, assigned to nobody

[2017-11-29 13:27] grzesiek2010 opened #1667 "User should be notified if a new version of a form is available before loading the form"
As a user, I would like to be notified if a new version of a form is available when I try to load such a form. Thanks to that I will be able to decide whether I want to download a newer version or not.

[2017-11-29 13:27] grzesiek2010 commented on #1667
@opendatakit-bot claim

[2017-11-29 13:31] grzesiek2010 opened #1668 "Background service for polling the server"
As I user I would like to be notified if newer versions of form I use are available. We should polling the server once in a while and show a notification if needed.

A user should be able to set a frequency of polling the servers so we should provide a few options like:

- once a day
- every hour
- every 10 minutes
etc.

[2017-11-29 13:31] grzesiek2010 commented on #1668
@opendatakit-bot claim

[2017-11-29 18:39] lognaturel commented on #1668
Small detail but just so all things makes sense to us in the future -- what you want is "polling", not "pooling"! https://en.wikipedia.org/wiki/Polling_(computer_science) vs https://en.wikipedia.org/wiki/Pool_(computer_science) 😊

[2017-11-29 18:45] #1639 closed, assigned to nobody

[2017-11-29 21:32] lognaturel commented on #1651
The issue is with the gradle upgrade. The upgrade also breaks several other things -- see discussion in #1645. For now, please keep working with the older gradle and if you have any ideas on how to fix failing tests with new gradle, share them on #1645.

[2017-11-29 22:11] lognaturel opened #1670 "Repeat count after group in jump screen breadcrumb"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
Groups sometimes show a repeat count. I think this may happen just with groups that are nested in repeats but I'm not sure yet. Reported by @hooverlunch when looking at #1648

#### Steps to reproduce the problem
Use form [nested-repeats.xml.txt](https://github.com/opendatakit/collect/files/1511886/nested-repeats.xml.txt)

[2017-11-30 07:21] dcbriccetti opened #1671 "Undo duplicate form parsing introduced to check submission URL"
This change:

https://github.com/opendatakit/collect/commit/495f8ae4b2685667e512c8c50b24edf13fdada4f

does no harm when forms are small. But when they are large, the extra parse it adds can lengthen the form download time by tens of seconds.

Parse only once.

[2017-11-30 15:25] grzesiek2010 commented on #1668
Thanks.

[2017-12-01 00:11] yanokwa opened #1674 "Automatically generate commas in value fields for every 1000"
From the post at https://forum.opendatakit.org/t/automatically-generate-commas-in-value-fields-for-every-1000/10633

* Display thousand separators in ODK collect, while enumerators type (so don’t actually store them)
* If possible, but not necessary: use the system-specified thousand separator (so comma or period depending on the language used on the phone or tablet)
* Perhaps users can specify th

[2017-12-01 04:25] #1456 closed, assigned to nobody

[2017-12-01 04:29] lognaturel opened #1675 "Setting to prevent backwards movement can be bypassed"
#1457 added a setting to prevent backwards movement in forms. From @kkrawczyk123, this can be bypassed under certain conditions:
- When minimizing throws user out to main collect menu, it happens sometimes but it can be difficult to reproduce.
- The same happens when user restart phone or turn it off during filling form which user can do accidentally.
- In case of incoming call during filling form

[2017-12-01 13:56] kkrawczyk123 opened #1679 "Default displayed hour changes when rotate screen on android 4.1 on Gregorian calendar form."
#### Software and hardware versions
Collect v1.11.1, Android v4.1.

#### Problem description
Default displayed hour changes when rotate screen on android 4.1 on Gregorian calendar form.

#### Steps to reproduce the problem
1. Go to Gregorian calendar form
2. Choose a date on first page of the form. It's presented in "day month year hour" order. Hour is default as 12:00:00 AM.
3. Rotate device, hou

[2017-12-01 16:55] akshay-ap opened #1680 "First launch experience activity"
#### Software and hardware versions
Collect v1.11, Android v7.0, Moto M

#### Problem description
In current version of `Collect` app, there is no section that can guide user through the usage of app when it is installed for first time. It is might be difficult for new users to understand how to use `Collect`.

#### Expected behavior
An introductory section that will run on first install of app th

[2017-12-01 20:30] dr0pdb commented on #1674
@yanokwa I would like to work on it !
Here is what i intend to do:
1. Display thousand separators using a custom ```TextWatcher```
2. Provide a method to remove the separator from the ```EditText``` string and get plain double string.
3. By-default use the system-specified thousand separator.
4. Users can specify the option(in appearance column) to chose which character(comma or period) to use as

[2017-12-01 20:54] dr0pdb commented on #1674
@opendatakit-bot claim

[2017-12-01 21:46] lognaturel commented on #1674
Awesome, @srv-twry!!

I think the appearance should be to determine whether or not to display the delimiter, not for which delimiter to use. This is because some locales don't commonly use thousands separators and they can look strange. I think the default behavior for numeric input should be unchanged and then when the appearance is on the delimiter matching the locale should be used.

What do ot

[2017-12-01 21:55] dr0pdb commented on #1674
Yes, i misunderstood it.

[2017-12-02 07:30] dr0pdb commented on #1674
@lognaturel Should i wait for other's suggestions or start working on it ?

[2017-12-04 14:55] kkrawczyk123 opened #1686 "Should sending form with correct url contain “/submission” in the end of url address?"
I have a question connected to [#1672](https://github.com/opendatakit/collect/pull/1672) When I investigated that case I tested form with correct url address and I wasn’t able to send it to aggregate until I add at the end of url “/submission”. After that, sending worked properly. So, You want to validate url in form, should “/submission” after url without which you are not able to send form to ag

[2017-12-05 00:21] lognaturel commented on #544
I invite folks interested in this conversation to check out #1678 which introduces Dagger, ButterKnife and related dependencies in support of the geo widgets refactor. The idea is to address a particularly problematic part of the code first without needing to make big changes across the rest of the code base. There have also been more discussions in Slack.

[2017-12-05 10:12] akshay-ap commented on #1680
@opendatakit-bot claim

[2017-12-05 22:29] lognaturel commented on #1651
Closed by #1645

[2017-12-05 22:29] #1651 closed, assigned to nobody

[2017-12-05 22:49] #183 closed, assigned to nobody

[2017-12-05 23:05] #1624 closed, assigned to nobody

[2017-12-06 22:29] #1671 closed, assigned to nobody

[2017-12-06 23:46] dcbriccetti opened #1692 "FileNotFoundException after cancelling and re-downloading a large form"
#### Software and hardware versions
Collect v1.11.0

#### Problem description
FileNotFoundException after cancelling and re-downloading a large form (that is already present on the device).

#### Steps to reproduce the problem
Download a large form successfully. Start, and then cancel a second download. Download it again right away. Wait for FileNotFoundException.

#### Other information
After dis

[2017-12-08 04:53] dr0pdb commented on #1679
@kkrawczyk123 @lognaturel Can i get the ```Gregorian Calendar ``` form for testing ?
@opendatakit-bot claim

[2017-12-08 04:58] lognaturel commented on #1679
👍 The Gregorian calendar is just the standard one so you should be able to use the All Widgets form from the default server or linked from the README.

[2017-12-08 05:06] dr0pdb commented on #1679
I couldn't find it on the All Widgets form as well the forms in the ```README```

[2017-12-08 05:07] lognaturel commented on #1679
Any of the questions that start with "Date" will do.

[2017-12-08 07:37] kkrawczyk123 commented on #1679
I used that one:
[gregorian.xml.txt](https://github.com/opendatakit/collect/files/1541836/gregorian.xml.txt)

[2017-12-08 16:46] grzesiek2010 opened #1693 "Problem with two forms with the same id and form version"
#### Software and hardware versions
Collect v1.11.1

#### Steps to reproduce the problem
1. Download any form from Aggregate
2. Delete that form from Aggregate
3. Edit the form (without changing form id or form version) and upload again
4. Download the form again

#### Problem description
I can see two forms with the same id and version number on your device. We can't use both of in that case:
![s

[2017-12-08 16:46] grzesiek2010 commented on #1693
@opendatakit-bot claim

[2017-12-08 16:51] grzesiek2010 opened #1694 "All form versions are visible and available"
#### Software and hardware versions
Collect v1.11.1

#### Steps to reproduce the problem
1. Download a form from Aggregate
2. Edit a form and bump the form version
3. Upload that forms to Aggregate
4. Download the updated form

#### Problem description
I can see and use both forms and it's ok but in some cases, it might be good to see and use only the newer one.
My proposal is to add an option to

[2017-12-08 19:18] yanokwa opened #1695 "pulldata doesn't work on external CSVs with ^M as line ending characters"
#### Software and hardware versions
Collect v1.11.1

#### Problem description
Pulldata doesn't work on external CSVs with ^M as carriage returns

#### Steps to reproduce the problem
Download the form and data below.
[test.xlsx.zip](https://github.com/opendatakit/collect/files/1543582/test.xlsx.zip)
[test.xml.zip](https://github.com/opendatakit/collect/files/1543615/test.xml.zip)
[data-bad.csv.zip]

[2017-12-08 20:03] #1615 closed, assigned to nobody

[2017-12-08 20:58] #1397 closed, assigned to nobody

[2017-12-08 21:09] lognaturel commented on #1535
The issue is that those languages aren't in `TRANSLATIONS_AVAILABLE` in `ApplicationConstants`. I agree with what @grzesiek2010 is saying -- `ml` and `sv_SE` should be added but `es_SV` and `tl_PH` are duplicates and shouldn't.

@nribeka You want to take this fun and easy one?! 😄

[2017-12-08 21:11] lognaturel commented on #1535
Or @codedsun this would be a really nice, quick one to do if you're still looking for an issue to get started. 😊

[2017-12-08 21:14] lognaturel commented on #1693
An alternative would be to use form hash to uniquely identify forms rather than a combination of form and version. Ultimately, the requirement that users manually specify a version name is a little arbitrary. What makes forms different is that their contents are different. Maybe even simpler is to use the hash as a tie breaker if there are duplicates for id/version. This would require storing the

[2017-12-09 07:56] grzesiek2010 commented on #1693
@lognaturel
We can't use md5Hash in this case. If the form we try to download is identical (the same md5 hash) we just skip downloading. As I described in step 3 we need to change something in such a form (eg. question text).

Then we have the same id, the same version number but different hashes and in a result two forms, we can't use.

To sum up: we need to use form id and version (for example a

[2017-12-09 18:06] konishon commented on #1695
Apparently
toSafeColumnName in ExternalDataUtil returns "c__key" instead of expected "c_key"
" key" has whitespace at the start.
[code]
None of these could get rid of that pesky whitespace. Now, The start of the text doesn't have a line break and the values in the columns are in good shape.I assume opencsv took care of it.

[2017-12-11 08:38] kusaasira commented on #1173
@yanokwa @mathieubossaert the issue opendatakit/opendatakit#1313 was closed unanimously hence I thought we would get a better way forward from here.

[2017-12-11 10:12] grzesiek2010 commented on #1693
@lognaturel

I investigated this issue deeper and my first idea was to use:
`UNIQUE (jrFormId, jrVersion) ON CONFLICT REPLACE`
but unfortunately, it doesn't work well with nullable columns like `jrVersion`. It would be risky to make `jrVersion` not null and a bit pointless.

So my second idea is to delete existed form with the same id and version number like we try to add. Here is an example: http

[2017-12-11 13:06] MrPKGupta commented on #1692
Can i start working on this?

[2017-12-11 13:49] grzesiek2010 commented on #1675
@lognaturel
You are right it's because of recovering from a savepoint.
What can we do? `FormIndex implements Serializable` so maybe we can try to save last known FormIndex to file and then read that file. The file should be saved in .cache dir like savepoint file.

Here is an example, it works but it isn't tested well so let me know if you like it and then I can go ahead.
https://github.com/grzesi

[2017-12-11 14:06] grzesiek2010 commented on #1575
@akshay-ap if it works well and doesn't take much time maybe it's reasonable. You can try if you want.

[2017-12-11 14:23] grzesiek2010 commented on #1574
@codedsun any results? any problems?

[2017-12-11 17:37] lognaturel commented on #1679
@srv-twry it sounds like you weren't able to reproduce this on a 4.1 emulator. Did you also get a chance to try a physical device?

@kkrawczyk123 is the problem on any rotation? Or just on portrait to landscape or something weird like that? What device were you using? Do you have another 4.1 device you could try on?

I'm kind of thinking that this is niche enough we may just not worry about it unl

[2017-12-11 18:45] lognaturel commented on #1686
Good question. You do in fact need the full submission URL. Unfortunately, we can't really validate it because some servers may use endpoints other than `/submission`. That's why there's an `Other` category in the server settings -- it allows people to use custom servers with their own submission and form listing URLs. I don't know how common this is in practice but it is currently supported. Does

[2017-12-11 18:45] #1686 closed, assigned to nobody

[2017-12-11 18:51] lognaturel commented on #1695
What do you mean by "now"? 😊 Are you talking about a change you made?

[2017-12-11 18:54] lognaturel commented on #1692
@mrgupta20 Sounds good! Please start by exploring the issue and once you have identified where you think the problem is coming from, please share your proposed approach for discussion here.

[2017-12-11 19:19] #1652 closed, assigned to nobody

[2017-12-11 19:21] lognaturel opened #1698 "Reuse manifest download/parse code between DownloadFormListTask and DownloadFormsTask"
#1653 introduces checks to see whether form media has changed when forms are listed. This duplicates code from the `downloadManifestAndMediaFiles` in the `DownloadFormsTask` class.

[2017-12-11 20:30] codedsun commented on #1574
@grzesiek2010 I got my motherboard crashed few weeks ago, then I shifted to the new system. I am getting back to it, sorry for the delay.Will start the work.

[2017-12-11 21:33] dr0pdb commented on #1679
@lognaturel I tried it on a physical Android 5.1.1 device and Android 4.1 emulator but couldn't reproduce.
I couldn't test it on an Android 4.1 physical device though.

[2017-12-11 21:34] lognaturel commented on #1679
Thanks for the details. Let's see what @kkrawczyk123 comes back with.

[2017-12-11 22:02] lognaturel commented on #1575
My sense is that this should be really low priority. It's not a feature users have asked for and I think video is pretty rare overall.

[2017-12-11 23:40] #655 closed, assigned to nobody

[2017-12-12 00:18] dr0pdb commented on #1679
@opendatakit-bot unclaim

[2017-12-12 00:27] lognaturel commented on #1173
@kusaasira This issue is about keeping PNGs submitted by Collect as PNGs instead of changing their extension to jpg. The discussion of image handling on Aggregate is now at https://github.com/opendatakit/aggregate/issues/164.

[2017-12-12 01:52] lognaturel opened #1701 "Can't scroll choice list in Android 6.0.1"
#### Software and hardware versions
Collect v1.11.1, Android v6.0.1, Oppo A57

#### Problem description
https://forum.opendatakit.org/t/side-slider-bar-not-able-to-be-moved-manually-in-long-pick-list-of-odk-collect/10922

#### Steps to reproduce the problem
[ERA_SiteFloraApp_BriefExternal_XLSForm2.xml.txt](https://github.com/opendatakit/collect/files/1549974/ERA_SiteFloraApp_BriefExternal_XLSForm2

[2017-12-12 08:50] kkrawczyk123 commented on #1679
@lognaturel yes, it was any rotation. I have Samsung GT-S6310 and I don't have any other device with android 4.1 so I can't try it.

[2017-12-12 08:53] kkrawczyk123 commented on #1686
Yes. it does :)

[2017-12-12 10:17] grzesiek2010 commented on #1679
@lognaturel @kkrawczyk123 @srv-twry
According to the statistics from Google Play Console Android 4.1 is used by 2.3% of our users.
It's the lowest os version we support and in the future, we will stop doing that (like we did with Android 2.x and 3.x a few months ago).

So, in my opinion, it doesn't make sense to fix it and the risk of regressions is bigger.
@lognaturel I know you like it: **The ga

[2017-12-12 10:52] konishon commented on #1695
Oh! I had a look into the table and the ^M  not present there. So my point was the start of the text should not have ^M either way.

[2017-12-12 12:37] MrPKGupta commented on #1692
@dcbriccetti Not able to reproduce in Android 6.0 version. If you are still able to reproduce, please provide more details including device, android version and logs if possible. Is your device having sd card?

[2017-12-12 13:08] grzesiek2010 commented on #1351
@lognaturel
I wasn't able to reproduce it.

[2017-12-12 13:17] mmarciniak90 commented on #1351
I also was not able to reproduce this crash.
I checked on Collect v1.9.1 and v1.11.1
@lognaturel, maybe it is a good idea to add a progress dialog and block other actions when instances are scanned and loaded.

[2017-12-12 13:21] mmarciniak90 commented on #1350
I was not able to reproduce this crash.
I checked on Collect v1.9.1 and v1.11.1

[2017-12-12 13:51] grzesiek2010 commented on #1692
I was able to reproduce this issue on my Samsung Galaxy S4 Android 5.0.1

![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/3276264/33887975-e1567a52-df4b-11e7-8e79-e12855946860.gif)

[2017-12-12 14:52] mmarciniak90 commented on #1001
This form is really big - 7.4MB!
I tried to reproduce this problem on 3 devices. I used devices with Android v4.4, v5.1 and v6.0.
I verified 3 versions of Collect app : v1.4.9, v1.6.0 and v1.11.0.
All Collect versions were able to load this form and I was able to fill it.
Loading this form takes some time but form was visible on Fill Blank Form view on all mentioned Collect versions and devices.

[2017-12-12 19:57] lognaturel commented on #1001
Fantastic, thank you @mmarciniak90!

[2017-12-12 19:57] #1001 closed, assigned to nobody

[2017-12-12 20:04] anz000 commented on #378
Any updates on this feature?

[2017-12-12 22:58] #1572 closed, assigned to nobody

[2017-12-13 03:10] lognaturel commented on #1701
Turns out that the list does scroll but apparently on some OS versions tapping the sidebar allows to jump down. I can't replicate that behavior on 5.1.1. https://forum.opendatakit.org/t/side-slider-bar-not-able-to-be-moved-manually-in-long-pick-list-of-odk-collect/10922/9

Thanks @grzesiek2010 for figuring this one out and to @srv-twry for the exploration!

[2017-12-13 03:10] #1701 closed, assigned to nobody

[2017-12-13 10:14] mmarciniak90 opened #1703 "User should see user friendly error messages when user loses internet connection during downloading new forms or sending finalized forms"
#### Software and hardware versions
Collect v1.11.0

#### Problem description
User should see user friendly error messages when user loses internet connection during downloading new forms or sending finalized forms.

#### Steps to reproduce the problem
**Use case 1:**
1. User opens 'Get Blank Forms' view
2. User selects forms to download
3. User clicks on 'Get Selected'
4. User loses internet conn

[2017-12-13 12:26] mmarciniak90 opened #1704 "User is able to change validation option although Admin blocks all options of moving backwards"
#### Software and hardware versions
Collect master

#### Problem description
User is able to change validation option although Admin blocks all options of moving backwards

#### Steps to reproduce the problem
1. Admin blocks moving backwards
2. Admin select 'Yes' on dialog
3. User goes to `General Settings` -> `Form management `-> `Constraint processing`
4. User is able to change validation option

[2017-12-13 15:03] konishon commented on #1703
Hello @mmarciniak90 do you have any suggestion on what message text should read?

[2017-12-13 15:20] mmarciniak90 commented on #1703
I would suggested something simple like `Operation failed. No network connection.`
@lognaturel What do you think? How much information do we need to keep?

[2017-12-13 18:27] #1704 closed, assigned to nobody

[2017-12-13 18:39] lognaturel commented on #1703
As long as the full exception is logged <strike>(`Timber.e`)</strike> then the message the user sees can be short. Maybe by analogy with "Success" we could do something like "Failure: no network connection."

@nishontan you'll probably want to look for those specific exceptions and replace the message, otherwise let the full message go through because I'm sure there are other reasons the operation

[2017-12-13 18:46] icemc commented on #1703
I will suggest that a proper check be done to see what are the possible
causes if this exception. If it occurs only during network failure, then I
think it's a great idea replacing the message with a more user friendly
message.

[2017-12-13 19:38] icemc commented on #1535
@lognaturel can I go on this fun one. Have been very busy lately but this will be fun and no time consuming. 😊

[2017-12-13 19:38] lognaturel commented on #1535
Oh yeah @icemc!! 🎉

[2017-12-13 19:44] icemc commented on #1535
@opendatakit-bot claim

[2017-12-13 19:54] #1674 closed, assigned to nobody

[2017-12-13 23:01] lognaturel opened #1708 "Moving backwards is unchecked when upgrading to 1.12 beta"
#### Software and hardware versions
Collect v1.11.1 -> v1.12.0, Android v5.1.1

#### Problem description
Moving backwards is unchecked in admin settings but moving backwards is allowed.

#### Steps to reproduce the problem
Install v1.11.1 from source or the Play Store
Join the beta program and install v1.12.0 beta OR install v1.12.0 beta from source (I've tried both)

#### Expected behavior
Moving

[2017-12-13 23:05] lognaturel commented on #1694
Do you imagine this would delete older forms or just hide them?

The older forms may still be needed if they have corresponding instances that can be edited. Hiding them from the form listing would be safe and may be sufficient. Perhaps they could still show up in the delete menu.

[2017-12-14 00:36] lognaturel commented on #1693
What I was trying to say is that if forms were uniquely identified by their hashes (and instances kept track of what form hash they correspond to rather than id+version), this case wouldn't be a problem.

If I understand correctly, what currently happens is that the XML is replaced but two db records are created, is that right? What you're proposing is to remove the older db record. What happens w

[2017-12-14 01:41] lognaturel opened #1709 "Questions with appearance thousands-sep shown without separator in hierarchy view"
#### Software and hardware versions
Collect v1.12.0-beta.0

#### Problem description
Questions with appearance thousands-sep shown without separator in hierarchy view.

#### Steps to reproduce the problem
Fill out some values with thousands separators.
Tap on the jump icon
The values are shown without thousands separators.

#### Expected behavior
The values should be shown with thousands separator

[2017-12-14 02:41] konishon commented on #1703
Hello @icemc there are quite a few network exceptions  logged along with a generic IOException(in DownloadFormTask),Exception(in InstanceServerUploader)

The logged network specific exceptions are listed below

-UnknownHostException
-ClientProtocolException
-HttpHostConnectException
-SocketException
-SocketTimeoutException
-NoHttpResponseException
-ConnectTimeoutException
-URISyntaxException

[2017-12-14 02:41] konishon commented on #1703
Let's divide the network exception into two categories temporary and permanent
Temporary being the download can succeed if the user retries after some time.

**Temporary Exceptions**
Exceptions:java.net.SocketException
Message : Temporary Network Error. Please try again.

**Permanent Exceptions**
Message: Error. Network Connection Failed
Exceptions:UnknownHostException,SSLException,MarlformedUrlEx

[2017-12-14 02:51] dr0pdb opened #1711 "Add instructions about squashing commits in CONTRIBUTING.md"
#### Software and hardware versions

Collect v1.11.1, All

#### Problem description

Add instructions about squashing the commits in pull requests.

#### Steps to reproduce the problem

NA

#### Expected behavior

There should be instructions about squashing the commits into one with meaningful commit message in the ```CONTRIBUTING.md``` file.

#### Other information

I do understand this means re

[2017-12-14 03:00] lognaturel commented on #1711
I agree it would be useful to have clearer guidelines around commit messages. The ideal would be small, meaningful commits that make the evolution of the code easy to trace. You can see some examples at https://github.com/opendatakit/collect/commits?author=batkinson

Some resources I like on the topic are https://dev.bleacherreport.com/small-commits-for-fun-and-profit-part-1-git-add-patch-c0966a56

[2017-12-14 03:20] dr0pdb commented on #1711
@opendatakit-bot claim

[2017-12-14 09:34] grzesiek2010 commented on #1694
@lognaturel

I would prefer to hide them. It's not a problem, in this case, to keep them in the database and it might be safer.

[2017-12-14 10:04] grzesiek2010 commented on #1693
No. We have both forms and both records in the database.

I can still edit and send such forms.

Ok.

[2017-12-14 11:20] mmarciniak90 opened #1713 "Selected image is not added if location question is answered in form displayed on one page"
#### Software and hardware versions
Collect v1.12.0
Collect v1.11.1
Collect v1.10.0

#### Problem description
Selected image is not added if location question is answered in form displayed on one page

#### Steps to reproduce the problem
1. User fills attached form
2. **User adds answer to location question** (it is required step!)
3. User clicks on 'Choose Image'
4. User selects image

#### Expec

[2017-12-14 12:30] dr0pdb commented on #1713
@mmarciniak90 I am able to reproduce it. The hierarchy view doesn't work either in the form.
@opendatakit-bot claim

[2017-12-14 13:16] grzesiek2010 commented on #1713
It might be important and we may want to add this to v1.12.0 @lognaturel what do you think?
If so and you @srv-twry have problems let me know.

[2017-12-14 13:42] NikhilBansal21 opened #1714 "ODK reports :: Cannot create directory :/storage/emulated/0/odk"
#### Software and hardware versions
Collect v1.11.1, Android v7.1, device used moto e plus

Hi,
On running the application i am getting the above mentioned exception at runtime and app is not booting up i am sending the logs for further clarity hope it can help.

E/SQLiteDatabase: Failed to open database '/storage/emulated/0/odk/metadata/instances.db'.

[2017-12-14 13:50] mdmahendri commented on #1714
`vayu.earlysailodk.collect.android` do error hapen after you change the package name?

[2017-12-14 13:52] dr0pdb commented on #1713
@grzesiek2010 You can take a look. I am not so familiar with the codebase just yet so i might require more time. Moreover there has been an issue reported about the thousands separator feature hence i will take that.
@opendatakit-bot unclaim

[2017-12-14 13:58] dr0pdb opened #1715 "Thousands separator doesn't work with Locale's using period as thousands separator."
#### Software and hardware versions
Collect v1.12.Beta, Android v5.1.1, device used...

#### Problem description
As reported [here](https://forum.opendatakit.org/t/odk-collect-v1-12-beta/10965/4?u=srv-twry) thousands separator doesn't work in a language that uses period as thousands separator.

#### Steps to reproduce the problem

Set the language to either Dutch , German and fill out [form](https

[2017-12-14 13:59] dr0pdb commented on #1715
@opendatakit-bot claim

[2017-12-14 17:45] #1675 closed, assigned to nobody

[2017-12-14 17:52] #1709 closed, assigned to nobody

[2017-12-14 18:07] #1708 closed, assigned to nobody

[2017-12-14 19:39] grzesiek2010 commented on #1713
@opendatakit-bot claim

[2017-12-15 04:56] lognaturel opened #1720 "Form keeps saying it has an updated version even if I just downloaded it"
#### Software and hardware versions
Collect v1.12.0-beta

#### Problem description
I uploaded the form described at https://forum.opendatakit.org/t/csv-support-file-not-showing-special-characters-on-android-devices/10983/4 to Aggregate, downloaded it to the phone and now every time I go to the download list it says there's a new version!

#### Steps to reproduce the problem
Connect to https://nafu

[2017-12-15 07:01] NikhilBansal21 commented on #1714
yes but after changing the package name app was working fine. and i have compiled collect 1.11.1 as an library project with org.odk.collect.android error is same .

[2017-12-15 10:02] kkrawczyk123 opened #1722 "Ability to choose backward button on first page of TestRepeat.xml form."
#### Software and hardware versions
Collect v1.12.0 beta.0, Android v 6.0, 4.4, 5.1

#### Problem description
Moving backward button is clickable on first page of the form.

#### Steps to reproduce the problem
1. Go to General Settings/User interface/Navigation and choose "Use forward/backward buttons"
2. Go to Fill blank form and open TestRepeat form.
3. Click on backward button on first page of

[2017-12-15 16:38] mmarciniak90 opened #1723 "More than one date dialog is opened when user quickly clicks the button several times"
#### Software and hardware versions
Collect v1.12.0

#### Problem description
More than one date dialog is opened when user quickly clicks the button several times

#### Steps to reproduce the problem
1. User quickly clicks the 'Select date' button several times
2. Dialog appears
3. User selects date and clicks OK
4. User sees that additional dialog is visible with default date

#### Expected beha

[2017-12-15 17:12] lognaturel opened #1724 "Crash in ServerPreferences"
#### Software and hardware versions
Collect v1.12.0-beta.0

#### Problem description
[code]

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-12-15 17:14] lognaturel opened #1725 "Crash in Coptic calendar"
#### Software and hardware versions
Collect v1.12.0-beta.0

#### Problem description
[code]

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-12-15 18:49] lognaturel commented on #1714
@NikhilBansal21 You probably have another app on the emulator accessing the same database.

Closing because it doesn't seem like an issue with Collect itself.

[2017-12-15 18:49] #1714 closed, assigned to nobody

[2017-12-15 18:49] #1715 closed, assigned to nobody

[2017-12-15 18:50] #1713 closed, assigned to nobody

[2017-12-15 20:57] dcbriccetti commented on #1711
I wonder how to ensure that each of multiple commits for a single file results in something that compiles and runs right. A file is atomic as far as the compiler is concerned.

[2017-12-15 21:39] grzesiek2010 commented on #1724
@lognaturel we saw this crash its when you install v.1.12 on v1.11.1 and go to `General Settings` -> `Server` but everything is ok when you install master branch on v1.11.1 so it has been fixed.

[2017-12-15 21:40] lognaturel commented on #1724
"you install v.1.12 on v1.11.1" -- what do you mean?!

[2017-12-15 21:43] grzesiek2010 commented on #1724
@lognaturel upgrade from v1.11.1 to v1.12.0beta

[2017-12-15 21:45] grzesiek2010 commented on #1724
Steps to reproduce:
1. Install v1.11.1
2. Install v.1.12.0beta (upgrade)
3. Go to General Settings -> Server

But it's ok when in step 2 you use master branch.

[2017-12-15 21:48] lognaturel commented on #1724
Ah, ok. Seems probably #1712 fixed it so we just have to decide whether we want to put #1727 in just in case.

[2017-12-15 22:20] icemc commented on #1455
@opendatakit-bot claim

[2017-12-15 22:51] #1535 closed, assigned to nobody

[2017-12-15 23:13] lognaturel commented on #739
@rishsethia I'm doing some cleanup and notice this was never concluded. As you said, `InstanceChooserList` does indeed have code for handling a `PICK` action but it's never exposed making it impossible to use externally. It should be accessible, just as with `FormChooserList`.

I see you already have a commit for it, would you like to issue a pull request?

[2017-12-15 23:15] lognaturel commented on #52
No reports of this recently so hopefully the issue was just with that family of devices.

[2017-12-15 23:15] #52 closed, assigned to nobody

[2017-12-15 23:19] lognaturel commented on #64
It's possible to turn autosend on. And it's possible to launch the form send screen from an external app. Between the two it seems the user can get what they need.

[2017-12-15 23:19] #64 closed, assigned to nobody

[2017-12-15 23:20] lognaturel commented on #76
Search and ordering hopefully address this.

[2017-12-15 23:20] #76 closed, assigned to nobody

[2017-12-15 23:42] lognaturel commented on #83
Using something like `<bind nodeset="/readonly/meta/instanceID" jr:preload="uid" type="string"/>` works today. Note that the format of the uid is different (`W4498RLERDRSPPIILOAEO6IDI`) and if that does become the recommended approach perhaps we should revisit what JR spits out so users get a consistent experience.

This is not really a Collect issue and more one for form builders so we can contin

[2017-12-15 23:42] #83 closed, assigned to nobody

[2017-12-15 23:48] lognaturel commented on #115
This would be straightforward to implement but let's close pending a more recent user request.

[2017-12-15 23:48] #115 closed, assigned to nobody

[2017-12-15 23:50] lognaturel commented on #136
This is a case management kind of request. There are a number of related requests on the forum and we can continue scoping the features there.

[2017-12-15 23:50] #136 closed, assigned to nobody

[2017-12-15 23:51] lognaturel commented on #128
This seems like intentional behavior to me.

[2017-12-15 23:51] #128 closed, assigned to nobody

[2017-12-15 23:52] #133 closed, assigned to nobody

[2017-12-15 23:54] lognaturel commented on #138
I agree @grzesiek2010, I think this behavior is typical.

[2017-12-15 23:54] #138 closed, assigned to nobody

[2017-12-15 23:55] lognaturel commented on #68
If someone wants to scope this out, it should probably be discussed on the forum.

[2017-12-15 23:55] #68 closed, assigned to nobody

[2017-12-16 15:12] grzesiek2010 opened #1729 "A message about available form update is visible if we use zipped media files like csv file"
#### Software and hardware versions
Collect v1.12.0beta

#### Problem description
A message about available form update is visible if we use zipped media files like csv file

#### Steps to reproduce the problem
1. Use `https://nafundi-test.appspot.com`
2. Download `cascading select external itemsets` form
3. Open downloaded form.
4. Go to `Get Blank Form` list

#### Expected behavior
A message abo

[2017-12-17 10:23] dr0pdb commented on #1723
Able to reproduce.
@opendatakit-bot claim

[2017-12-17 10:42] shobhitagarwal1612 opened #1730 "Lint warning"
Lint warning -
Avoid using android.media.ExifInterface; use android.support.media.ExifInterface from the support library instead

Explanation -
The android.media.ExifInterface implementation has some known security bugs in older versions of Android. There is a new implementation available of this library in the support library, which is preferable.

@opendatakit-bot claim

[2017-12-17 16:55] akshay-ap opened #1733 "Improve repeat interface"
#### Software and hardware versions
Collect v1.11, Android v7.0, device used Moto M

#### Problem description
In case of nested repeated groups, it is difficult for users to understand the process of form filling.
This has been discussed here : https://opendatakit.slack.com/archives/C4146P8TA/p1511391416000104

#### Steps to reproduce the problem
Link to nested repeat form : https://opendatakit.sl

[2017-12-17 17:16] akshay-ap commented on #1729
@grzesiek2010  I am trying to reproduce the problem. Can you elaborate `3. Open downloaded form.`?
I tried opening the form using file manager. Is that what you mean?

[2017-12-17 18:21] akshay-ap commented on #1722
I was able to reproduce the issue.
@lognaturel Do you know of any reason why is it happening in v.1.12beta.0 ?
@opendatakit-bot claim

[2017-12-17 19:34] lognaturel commented on #1722
@akshay-ap The only issue is that the button is enabled, right? I'm able to reproduce that as well. Once I add a repeat the button is disabled again. This is incorrect behavior but it's not very bad and I don't think it's masking any deeper bugs. I don't know off the top of my head what might be causing it but it would be great if you could look into it and share your findings, @akshay-ap.

[2017-12-17 19:52] #1720 closed, assigned to nobody

[2017-12-17 20:32] #1724 closed, assigned to nobody

[2017-12-17 20:34] #1725 closed, assigned to nobody

[2017-12-18 05:30] rahman9909 opened #1736 "Taking picture needs to take 2 snapshot before accepting"
#### Software and hardware versions
Collect v1.11.1, Android v6.0.1, device used...

#### Problem description
Taking picture needs to take 2 times before accepting the picture. It takes two snapshots and then shows the image in app.
#### Steps to reproduce the problem
just take picture widget and try to take a picture
#### Expected behavior
It will take one picture and still wait for to take anoth

[2017-12-18 13:25] grzesiek2010 opened #1737 "Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'char[] java.lang.String.toCharArray()' on a null object reference"
#### Software and hardware versions
Collect v1.12.0

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/7e0343c8?reportTypes=REPORT_TYPE_UNSPECIFIED&duration=2592000000&appVersions=2608

https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android

[2017-12-18 14:21] grzesiek2010 commented on #1729
@akshay-ap

by `Open downloaded form` I mean start filling such a form.
This issue is part of my work on form updates so I'll take it. I saw you claimed #1722 so I think you have something to do.

@opendatakit-bot claim

[2017-12-18 18:41] grzesiek2010 commented on #1736
@rahman9909
I think it's a problem with the camera app you use. Could you tell us what it is? Have you noticed the same problem using that app without the ODK Collect?

[2017-12-18 18:43] grzesiek2010 commented on #1698
Let's postpone it and start work on it once we have finished #1668 and #1667

[2017-12-18 19:25] grzesiek2010 commented on #1729
I investigated the issue and there is no easy way to fix the problem and check for updates when we use compressed files.

Here is an example of the manifest file we use https://nafundi-test.appspot.com/xformsManifest?formId=samplepreload
That file contains an md5 hash but this hash is for the compressed file. When we download that form and start filling the compressed file is extracted and removed

[2017-12-19 07:06] dr0pdb commented on #1692
@mrgupta20 I was also able to reproduce it on Android 5.1.1 Oppo f1 without sd card.

#### Stacktrace
[code]

[2017-12-19 07:50] dr0pdb commented on #1692
@lognaturel @dcbriccetti @grzesiek2010 @mrgupta20 While testing this, i found a weird behaviour.
The exception is only raised when you already have the form downloaded on your phone. I think that's why @mrgupta20 wasn't able to reproduce it.

### To raise the exception:

1. First download the all widgets form completely in case you don't have it.
2. Then go to ```Get Blank Form``` and download the

[2017-12-19 09:51] grzesiek2010 opened #1739 "Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String"
#### Software and hardware versions
Collect v1.12.0

#### Problem description

android.os.AsyncTask$3.done (AsyncTask.java:325)
java.util.concurrent.FutureTask.finishCompletion (FutureTask.java:354)
java.util.concurrent.FutureTask.setException (FutureTask.java:223)
java.util.concurrent.FutureTask.run (FutureTask.java:242)
android.os.AsyncTask$SerialExecutor$1.run (AsyncTask.java:243)
java.util.con

[2017-12-19 10:37] mmarciniak90 opened #1741 "'Connecting to Server' dialog is not closed automatically if user changes device orientation"
#### Software and hardware versions
Collect v1.11

#### Problem description
Connecting to Server dialog is not closed automatically if user changes device orientation

#### Steps to reproduce the problem
1. User goes to 'Get Blank Form'
2. User sees dialog 'Connecting to Server'
3. User changes device orientation
4. Dialog is not auto closed when forms are loaded
![screenshot_2017-12-19-02-31-42](

[2017-12-19 17:14] yanokwa opened #1745 "When running Collect on a TV, scrollbars are too wide"
#### Software and hardware versions
Collect v1.12, H96 PRO with Android 7.1.2

#### Problem description
When running Collect on a TV, scrollbars are too wide.
![img_0096](https://user-images.githubusercontent.com/32369/34169040-17f79da8-e4b4-11e7-80fa-3af801cdbc8b.jpg)

#### Steps to reproduce the problem
Load Collect on a device with a large screen. Try to download a blank form.

#### Expected be

[2017-12-19 17:22] dr0pdb commented on #1692
@lognaturel Can i try and fix it because i guess @mrgupta20 isn't working on it anymore ?

[2017-12-19 17:30] lognaturel commented on #1692
That sounds fine to me, @srv-twry! Thanks to everyone who has looked into it.

[2017-12-19 20:48] #1737 closed, assigned to nobody

[2017-12-19 21:04] lognaturel commented on #1737
I'm confused about how this is happening on so many different devices. Seems somehow people have a media directory in the DB but no actual directory? Or are getting an I/O error?

[2017-12-19 21:19] #1739 closed, assigned to nobody

[2017-12-19 21:28] lognaturel commented on #1739
This code hasn't changed, right? It's moved around which is why it's being flagged as a new crash but is there anything new that would explain a null hash? Are certain servers sending down media files without properly populating the manifest?

[2017-12-19 21:50] lognaturel opened #1746 "NPE getting form version status"
#### Software and hardware versions
Collect v1.12.0

#### Problem description
[code]
I think this means that a form that is in `filteredFormList` is not in `formNamesAndURLs` which seems like a bad state.

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2017-12-20 03:02] #1746 closed, assigned to nobody

[2017-12-20 09:49] grzesiek2010 commented on #1737
@lognaturel I thought it was the problem since I was able to reproduce the issue but looks like it wasn't the only bug.
I can still see lots of crashes in Firebase. Here is a second fix #1748

[2017-12-20 14:06] grzesiek2010 commented on #1670
@opendatakit-bot claim

[2017-12-20 16:14] lognaturel commented on #1572
Thanks for filing this issue, @florianm. As of Collect v1.12, you can manually enter bearing if the needed sensors aren't available.

[2017-12-20 16:48] grzesiek2010 commented on #1670
@lognaturel

It takes place when a repeat group is inside another group (repeat or regular). Here is a fix #1749

[2017-12-21 01:57] florianm commented on #1572
Thanks so much for the quick resolution! This is why you'll find ESRI
Collector in our trash cans and ODK in our hearts :-)

On 21 Dec 2017 00:14, "Hélène Martin" <notifications@github.com> wrote:

[2017-12-21 02:04] lognaturel commented on #1572
😄 Glad we could help and big thanks to @akshay-ap for taking the lead on this improvement!

[2017-12-21 09:38] grzesiek2010 commented on #1739
right.

It's a hash for forms, not media files. Probably the received values are null don't know why.

[2017-12-21 12:52] florianm commented on #1572
Testing on Android 6, Moto G4+ (no bearing sensors), ODK Collect 1.12.1: works nicely. The "record" bearing button renders a number input and an informative message about the missing sensors is shown.
This will simplify our forms, thanks!

[2017-12-21 14:05] dr0pdb commented on #1692
@opendatakit-bot claim

[2017-12-21 15:15] lognaturel commented on #1739
If a particular server implementation hasn't sent the form hash then form listing in Collect never would have worked so that doesn't seem likely. I wonder whether the formList or manifest XML could be getting corrupt or only partially transferred somehow.

[2017-12-22 13:15] grzesiek2010 commented on #1067
@opendatakit-bot claim

[2017-12-22 13:30] grzesiek2010 commented on #711
@lognaturel maybe now it makes sense. Maybe we should add an option to hide such forms by default (user can change it). We can display only new forms or newer versions (since we implemented that option).

What do you think?

[2017-12-22 13:50] mmarciniak90 opened #1753 "Notification icon is not consistent on all Android versions"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Notification icon depends on Android version

#### Steps to reproduce the problem
1. Notification appears
2. User sees notification icon

#### Expected behavior
Notification icon looks the same on all Android versions

#### Actual behavior
Colorful notification icon is visible on Android: 4.1, 4.2, 4.4, 5.1, 7.0
![screen

[2017-12-22 14:22] grzesiek2010 commented on #1753
@mmarciniak90 @lognaturel

I think it's because we use our icon as a small icon https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/receivers/NetworkReceiver.java#L227 and an info icon as a large icon https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/receivers/NetworkReceiver.java#L232
 it should be

[2017-12-22 14:49] grzesiek2010 commented on #1746
@lognaturel the problem still occurs https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/30d69c8a?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2612

https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/6f382b96?reportTypes=FATAL_JAVA&duration=2592

[2017-12-22 14:52] grzesiek2010 opened #1754 "Caused by java.lang.ArrayIndexOutOfBoundsException: length=5; index=5"
#### Software and hardware versions
Collect v1.11.1, v1.12.0, v1.12.2

#### Problem description

org.odk.collect.android.tasks.FormLoaderTask.readCSV (FormLoaderTask.java:625)
org.odk.collect.android.tasks.FormLoaderTask.processItemSets (FormLoaderTask.java:310)
org.odk.collect.android.tasks.FormLoaderTask.doInBackground (FormLoaderTask.java:189)
org.odk.collect.android.tasks.FormLoaderTask.doInBa

[2017-12-22 14:56] grzesiek2010 opened #1755 "Error from CustomTabsClient.newSession results in NullPointerException"
#### Problem description

android.support.customtabs.CustomTabsServiceConnection.onServiceConnected (CustomTabsServiceConnection.java:32)
android.app.LoadedApk$ServiceDispatcher.doConnected (LoadedApk.java:1264)
android.app.LoadedApk$ServiceDispatcher$RunConnection.run (LoadedApk.java:1281)
android.os.Handler.handleCallback (Handler.java:815)
android.os.Handler.dispatchMessage (Handler.java:104)
a

[2017-12-22 15:15] grzesiek2010 commented on #1754
@opendatakit-bot label "needs reproduction"

[2017-12-22 15:15] grzesiek2010 commented on #1755
@opendatakit-bot label "needs reproduction"

[2017-12-22 18:01] lognaturel opened #1756 "Position in form download list adapter getView is beyond end of filteredFormList"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
[code]

#### Steps to reproduce the problem
Unknown. Perhaps it has something to do with if the filtered list is changing quickly or repeatedly? New `DownloadListAdapter` objects are created on each character typed which doesn't seem right.

#### Expected behavior
No crash

#### Other information
#1746 showed there's oth

[2017-12-22 18:07] lognaturel commented on #1746
@grzesiek2010 That's a different problem! For this one, the issue was that a formID that was present in the filtered list wasn't found in the map of all ids to details. The other one is that there is no form at a given position in the filtered list. I've filed it at #1756.

[2017-12-22 20:37] lognaturel commented on #1679
Hehe, 🕯.

I think we can close. If a user encounters it they/we can search for it and reopen. I think screen rotation while filling a survey is also rare so this is unlikely to happen in normal conditions. Thanks for looking into it @kkrawczyk123 @srv-twry @grzesiek2010!

[2017-12-22 20:37] #1679 closed, assigned to nobody

[2017-12-28 01:01] nap2000 opened #1757 "Feature Request: Allow csv search() to match on multiple values"
#### Software and hardware versions
Collect v1.12.2, Android vx.x.x, device used...

#### Problem description
My understanding of the current implementation of search() is that you can only match a single (optionally wildcarded) value when searching a CSV file for choices. Plus it allows a second filter.

However it would be useful to allow multiple distinct values to be matched.  For example if y

[2017-12-28 15:50] lognaturel opened #1758 "Name is shown instead of label in hierarchy view for external itemsets"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Name is shown instead of label in hierarchy view for external itemsets.

#### Steps to reproduce the problem
Load a form with external itemsets such as [cascading_select_external_itemsets.xml.txt](https://github.com/opendatakit/collect/files/1591522/cascading_select_external_itemsets.xml.txt) and
[itemsets.csv.txt](https

[2017-12-29 17:09] yanokwa commented on #1695
@nishontan, is this an issue that you'd like to send in a PR for? If so, write `@opendatakit-bot claim` as a comment to claim it!

[2017-12-29 18:11] lognaturel commented on #1568
#1569 is awaiting final review.

[2017-12-29 18:20] codedsun commented on #1758
@lognaturel how can I load the form, I am unable to reproduce the problem. Can u tell me how to do that plz

[2017-12-29 18:21] codedsun commented on #1574
@opendatakit-bot unclaim

[2017-12-29 19:01] lognaturel commented on #1758
Hi @codedsun! You can start with step 3 at https://github.com/opendatakit/collect#testing-a-form-locally. In this case, you'll push the form to `/sdcard/odk/forms` and you'll also need to push the csv file to a media folder. What I usually do is `adb shell` to go into the device and then `mkdir /sdcard/odk/forms/cascading_select_external_itemsets-media` to create the media folder. Then you can `ad

[2017-12-29 21:39] codedsun commented on #1758
@lognature in the hierarchy view, we are getting city as test1? is this the issue as far as I have understood, it should be showing the value?

[2017-12-30 01:17] lognaturel commented on #1758
Yes, that’s right.

[2018-01-01 20:02] #1670 closed, assigned to nobody

[2018-01-01 22:27] #1730 closed, assigned to nobody

[2018-01-02 19:07] codedsun commented on #1758
@lognaturel Could you guide me more on which class file corresponds to showing name from datasets :( I am unable to track

[2018-01-06 00:10] #1723 closed, assigned to nobody

[2018-01-08 05:52] #1312 closed, assigned to nobody

[2018-01-08 05:54] #1202 closed, assigned to nobody

[2018-01-08 08:15] grzesiek2010 commented on #1722
@opendatakit-bot claim

[2018-01-08 11:32] grzesiek2010 commented on #1729
@opendatakit-bot unclaim

[2018-01-08 11:34] grzesiek2010 commented on #576
@opendatakit-bot claim

[2018-01-08 11:35] grzesiek2010 commented on #1067
@opendatakit-bot claim

[2018-01-09 00:00] lognaturel opened #1763 "Add support for SVG image assets"
If an SVG image is used, it is currently reported as invalid. Try form https://docs.google.com/spreadsheets/d/17eDX7wYPsZnvk6nHzx3WkwHADXqj1IJezK6zE5SiSu4/edit#gid=0 with media [svg-images-media.zip](https://github.com/opendatakit/collect/files/1613463/svg-images-media.zip) to reproduce.

Allow SVG images. I think they should always scale to fit the device width but if you have other ideas, please

[2018-01-09 00:01] lognaturel opened #1764 "Add image-map appearance for selects"
Depends on #1763

As described at https://github.com/opendatakit/xforms-spec/issues/108

An image such as https://upload.wikimedia.org/wikipedia/commons/3/38/Canada_blank_map.svg defines paths with different IDs such as `CA-AB` (view source to see). It should be possible to set up a form such as https://docs.google.com/spreadsheets/d/1ce6Wozqlq-7tXAw7KNn3Oc8g8qdj107zdWy-ceMtgZg/edit#gid=0 so the d

[2018-01-09 03:56] #1722 closed, assigned to nobody

[2018-01-09 08:56] grzesiek2010 commented on #1763
@opendatakit-bot claim

[2018-01-09 09:46] grzesiek2010 opened #1766 "Manual casting for findViewById() is not required."
Manual casting for findViewById() is not required.
More info:
https://stackoverflow.com/questions/44902651/no-need-to-cast-the-result-of-findviewbyid

[2018-01-09 09:46] grzesiek2010 commented on #1766
@opendatakit-bot claim

[2018-01-09 18:39] #1766 closed, assigned to nobody

[2018-01-09 20:39] shobhitagarwal1612 commented on #836
@opendatakit-bot claim

[2018-01-09 22:29] Archaejohn opened #1770 "USGS Tiles not displaying with OSM SDK"
#### Software and hardware versions
Collect v1.11.1, Android v5.1 and 7.0 device used: Mesa 2 Tablet and LG V20

#### Problem description
The basemaps for USGS National Map does not display

#### Steps to reproduce the problem
Set the Base map to either USGS National Map Sat or URGS National Map Topo

#### Expected behavior
Display Map Tiles of the map views

#### Other information
Things you trie

[2018-01-09 22:40] #1770 closed, assigned to nobody

[2018-01-09 22:49] #740 closed, assigned to nobody

[2018-01-09 23:58] #1067 closed, assigned to nobody

[2018-01-10 10:39] mmarciniak90 opened #1773 "User is able to add Fallback submission URL easily"
#### Problem description
It could be difficult to add a Fallback submission URL. User need to get a URL to Copy/Paste memory.
Other way is put the full URL manually.

I use external barcode scanner to scan a QR code with the URL and then I copy it to Fallback submission URL field.
It could be a good feature for users to allow opening a barcode scanner directly from ODK Collect

Other idea is using

[2018-01-10 12:46] grzesiek2010 opened #1774 "IllegalArgumentException: Unterminated quote"
java.text.SimpleDateFormat.validatePattern (SimpleDateFormat.java:307)
java.text.SimpleDateFormat.<init> (SimpleDateFormat.java:356)
org.odk.collect.android.provider.InstanceProvider.getDisplaySubtext (InstanceProvider.java:181)
org.odk.collect.android.provider.InstanceProvider.update (InstanceProvider.java:333)
android.content.ContentProvider$Transport.update (ContentProvider.java:334)
android.co

[2018-01-10 12:46] grzesiek2010 commented on #1774
@opendatakit-bot claim

[2018-01-10 13:53] mmarciniak90 opened #1777 "Submission is doubled on Google Sheets if the user minimize app during sending and `Do not keep activities` option is turned on"
#### Software and hardware versions
Verified Collect v1.11.1

#### Problem description
Submission is doubled on Google Sheets if the user minimize app during sending and `Do not keep activities` option is turned on

#### Steps to reproduce the problem
1. `Android Settings` -> `Developer options` -> `Do not keep activities` option is turned on
2. User sends finalized forms to Google Sheets
3. User

[2018-01-11 01:52] lognaturel commented on #1757
I don't use `search()` myself instead relying on external itemsets or external secondary instances. `search()` exists pretty far out of the XForms spec so it's not usable in clients across the ecosystem, etc. All that to say that I'm not really the best person to evaluate this change! It would be great to get other folks who rely on the appearance/function to chime in.

My initial reaction is that

[2018-01-11 02:29] nap2000 commented on #1757
Yes I agree with your comments on spaces and implicit joining of columns with 'or'.   Hence I rowed back from that and in my final implementation only added the "in" function.  This allowed for the construction:

    select_multiple category    search('products')
    select_multiple product     search('products', 'in', 'category', ${category})

This returns all the products in all the categories s

[2018-01-11 02:34] nap2000 commented on #1757
Just to confirm the implemented "in" method assumes all values are space separated.  Great if they have come from a select multiple in your form, a constraint that you will need to live with if they have come from a csv file, a text question or a calculate etc.  Since "in" is new that constraint did not worry me too much.

[2018-01-11 02:34] lognaturel commented on #1757
Ah, how interesting! I'm a lot more sympathetic to the idea seeing this concrete example using the result of a previous `select_multiple`, thanks for sharing that. Will keep pondering it and hope that others chime in.

It would be great to have a more general-purpose approach to this complex querying. That's what external secondary instances do by allowing for full XPath querying but they're not p

[2018-01-11 10:33] mmarciniak90 opened #1778 "User sees confusing toast in case with Server Required Authentication appears"
#### Software and hardware versions
Verified on Collect v1.11.1

#### Problem description
User sees confusing toast after specific steps when Server Required Authentication appears

#### Steps to reproduce the problem
1. User sees dialog:
<img src="https://user-images.githubusercontent.com/3907554/34820680-26730928-f6b9-11e7-9470-af90d9148e76.png" height="40%" width="40%" >

2. User does not put c

[2018-01-11 12:42] grzesiek2010 opened #1779 "Forms are selected automatically while scrolling in GD"
#### Software and hardware versions
Collect v1.12.2 and older versions.

#### Problem description
Forms are selected automatically while scrolling in GD.

#### Steps to reproduce the problem
1. Select GD as your server in preferences.
2. Open a folder with multiple forms.
3. Select the first one.
4. Scroll down quickly.

#### Expected behavior
Only the form you selected is checked.

#### Actual be

[2018-01-11 12:42] grzesiek2010 commented on #1779
@opendatakit-bot claim

[2018-01-11 14:13] grzesiek2010 commented on #1778
@opendatakit-bot claim

[2018-01-11 14:31] mmarciniak90 opened #1782 "Range widget with appearance="picker" starts with an incorrect value"
#### Software and hardware versions
Verified on Collect v1.11.0

#### Problem description
Range widget with appearance="picker" starts from incorrect value

#### Steps to reproduce the problem
1. User starts form with Range widget with appearance="picker"
2. User sees question
3. User sees 10 as a first value, next to 2
<img src="https://user-images.githubusercontent.com/3907554/34830304-66ffd5ee-

[2018-01-11 21:50] #1774 closed, assigned to nobody

[2018-01-11 23:50] #1568 closed, assigned to nobody

[2018-01-12 00:00] #576 closed, assigned to nobody

[2018-01-12 00:02] lognaturel commented on #1773
That's an interesting one! Hopefully fallback URL isn't generally needed so I don't know how important it is to make this easier. In fact, maybe the fact that it's hard is a useful deterrent? Any one else have thoughts on this?

[2018-01-12 00:04] lognaturel commented on #1736
This is very unlikely to be a Collect bug. @rahman9909 if you answer @grzesiek2010's questions we could look into it further.

[2018-01-12 00:04] #1736 closed, assigned to nobody

[2018-01-12 05:36] akshay-ap commented on #1782
@opendatakit-bot claim

[2018-01-12 21:11] dr0pdb commented on #1777
I'll take a look at it.
@opendatakit-bot claim

[2018-01-13 17:38] dr0pdb opened #1786 "Choose an account dialog starts with no option initially selected."
#### Software and hardware versions
Collect v1.12.x, Android v5.1.1, device used Oppo f1

#### Problem description
The "Choose an account" dialog starts without any option initially selected.

#### Steps to reproduce the problem
General settings -> Server -> Set type to Google drive,sheets -> Now select Google account

#### Expected behavior
The dialog should start with the previously selected goo

[2018-01-16 11:48] Divya063 opened #1789 "Setup for screengrab- screenshot generation tool"
Ensuring that screenshots of a documentation are current and thus useful, is a time-consuming task. To automate this task for the[ form-widget guide](http://docs.opendatakit.org/form-widgets/), [screengrab tool](https://docs.fastlane.tools/getting-started/android/screenshots/) can be used. Screengrab is a command line tool which can be used to take screenshots of various form-widgets during the ex

[2018-01-16 19:02] shobhitagarwal1612 commented on #711
I agree with @grzesiek2010. According to me giving the option of downloading the already downloaded versions of forms ends up people trying to download it again which is of no use. So we can either hide them from the list of available forms or disable the checkbox so that those can't be downloaded by a user

[2018-01-16 20:14] grzesiek2010 opened #1791 "More than one option is highlighted in soring menu."
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
More than one option is highlighted in soring menu.

#### Steps to reproduce the problem
It's not possible to reproduce the problem using master branch because the problem is fixed by using different files for the same icons what is wrong.

If you want to reproduce the issue you need to use #1787

Then

[2018-01-17 01:08] #1630 closed, assigned to nobody

[2018-01-17 09:33] kkrawczyk123 opened #1793 "Get Blank Form list disappears after canceling refresh and then selecting clear all/select all button."
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Get Blank Form list disappears after canceling refresh and then selecting clear all/select all button.

#### Steps to reproduce the problem
1. Go to Get Blank Form
2. Click on "Refresh" button.
3. Cancel that process.
4. Click on Select All or Clear All button.

#### Expected behavior
Get Blank Form shouldn't disappear a

[2018-01-17 09:40] grzesiek2010 opened #1794 "Could not open the database in read/write mode"
https://console.firebase.google.com/u/0/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/ec294275?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2612

It's the second most popular crash in v1.12.2.

android.database.sqlite.SQLiteConnection.nativeOpen (SQLiteConnection.java)
android.database.sqlite.SQLiteConnection.open (SQLiteConnection.java:209)
andr

[2018-01-17 09:40] grzesiek2010 commented on #1794
@opendatakit-bot claim

[2018-01-17 09:49] kkrawczyk123 opened #1796 "Collect crash when canceling refresh and then clicking on checklist."
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Collect crash when canceling refresh and then clicking on checklist.

#### Steps to reproduce the problem
1. Go to Get Blank Form.
2. Click on "Refresh" button.
3. Cancel that process.
4. Try to select any item from the checklist.

#### Expected behavior
Collect should not crash.

#### Other information
It doesnt't matte

[2018-01-17 10:31] grzesiek2010 commented on #1574
Nothing new as I can see so I decided to investigate the issue on my own. The answer is: Yes the problem is related only to buttons and other options are well handled when we return from General Settings.

@opendatakit-bot claim

[2018-01-17 11:43] grzesiek2010 opened #1798 "Navigate back button is disabled when we skip two repeat groups."
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
Navigate back button is disabled when we skip two repeat groups.
We can use this form:
[testx.xml.txt](https://github.com/opendatakit/collect/files/1638786/testx.xml.txt)

I also noticed that repeat groups must contain other groups inside, If we have simple repeat groups like here:
[testx2.xml.txt](htt

[2018-01-17 11:56] grzesiek2010 commented on #1796
Awesome you reproduced one of the most common issues I can see in the Firebase list.
https://console.firebase.google.com/u/0/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/d7a24a06?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2612

android.widget.ListView.layoutChildren (ListView.java:1562)
android.widget.AbsListView.onTouchUp (AbsListView.java:39

[2018-01-17 20:42] codedsun commented on #1741
I would like to work on the issue @lognaturel

[2018-01-17 20:43] lognaturel commented on #1741
That sounds great, @codedsun! Please use `@opendatakit-bot claim` to claim it.

[2018-01-17 22:28] yanokwa commented on #1052
We didn’t add it because the Google Sheets integration was for mapping into Google products and you can’t map if you have all that data in the column. I think it'd be reasonable to add another two columns. One for altitude and another for accuracy.

[2018-01-18 07:32] lakshyagupta21 commented on #1796
Can I work on this issue?

[2018-01-18 08:03] grzesiek2010 commented on #1791
@opendatakit-bot claim

[2018-01-18 09:29] grzesiek2010 commented on #1796
@lakshyagupta21 yes, please. You can add a comment to assign you to the issue https://forum.opendatakit.org/t/fine-grained-permissions-for-github-issues-self-assign-labels/9352/9?u=grzesiek2010

[2018-01-18 09:39] lakshyagupta21 commented on #1796
@opendatakit-bot claim

[2018-01-18 13:20] mmarciniak90 opened #1800 "Problem with printing from the Zebra iMZ220 printer"
#### Software and hardware versions
Collect v1.12.2

#### Problem description
Zebra iMZ220 printer do not print

#### Steps to reproduce the problem
1. ODK Zebra Printed is installed on device
2. ODK Sensors is installed on device
3. Zebra iMZ220 is correctly connected with device
4. User uses 'All widgets' form and tries to print
5. User clicks on 'Print' button on ODK Zebra Printer
6. The printe

[2018-01-18 13:45] grzesiek2010 commented on #1800
@lognaturel I can take a look at it since we have this device (but when I'm free not now).

[2018-01-18 15:07] BhavaniBaskaran commented on #387
Hi,
     Still i have same issue how can solve it ? Already i have used it.
 @Override
    protected void attachBaseContext(Context base) {
        super.attachBaseContext(base);
        MultiDex.install(this);
    }
in this line but app is crash not supported for it. please give some idea.

[2018-01-18 20:23] lognaturel commented on #1800
Very cool that you could try this @mmarciniak90 and that you will be able to look into it @grzesiek2010! It will be interesting to find out whether this issue happens with all Android versions or just some.

[2018-01-18 20:34] lognaturel commented on #1614
Will be addressed by @jknightco's updates.

[2018-01-18 20:34] #1614 closed, assigned to nobody

[2018-01-18 20:47] lognaturel commented on #1667
This would be a really good complement to #1653. If there's connectivity, then the server should be checked for new versions. Ideally it would be done in the background so form load isn't slowed down. Then a dialog can be displayed saying that there has been an update to the form and the user can update it from 'Get Blank Form.'

@jniles I see you liked this issue. Any opinions on how the feature

[2018-01-18 20:58] lakshyagupta21 commented on #1793
@opendatakit-bot claim

[2018-01-19 17:07] lognaturel commented on #1255
This does indeed seem like a strange limitation. @grzesiek2010 do you remember where the limitation comes from? Is it in Collect or deeper in JavaRosa? This would be good to investigate further.

[2018-01-19 17:20] grzesiek2010 commented on #1255
No, I can't recall I would need to debug the project.

[2018-01-19 17:47] akshay-ap commented on #1782
I am working on it.

[2018-01-20 16:35] samagra14 opened #1803 "Suboptimal implementation of splash screens"
#### Software and hardware versions
Collect debug , Android v 8.0.0, device used = MiA1

#### Problem description
Currently, the splash screen is implemented via a dedicated splash activity which is not an optimal way of implementing splash screens. Moreover setting up SharedPref and other functionalities in the splash activity is also suboptimal. The correct way of implementing splash screens as

[2018-01-21 05:49] akshay-ap commented on #1782
I am trying to find the cause of such behavior.
In `org.odk.collect.android.fragments.dialogs.NumberPickerDialog.onCreateDialog()` method ,
I added `Log.i("===: ","numberPicker.getValue() :"  + String.valueOf(numberPicker.getValue()));` for debugging.
![debug](https://user-images.githubusercontent.com/16358982/35191228-9a8a8036-fe9b-11e7-8cb6-37809862b7fe.png)

The display value array is [10,9,8,7

[2018-01-21 17:16] mdudzinski commented on #378
I think a simple approach could work with rebuilding the whole screen. The rebuilding should be triggered only if the relevancy has changed for a question on the current screen. So the input must be inside of a group with the `field-list` appearance. The problem is that the observer implementation requires a `FormEntryPrompt` instance which - as it's been already pointed earlier - is problematic b

[2018-01-22 21:51] #1574 closed, assigned to nobody

[2018-01-22 21:56] #1791 closed, assigned to nobody

[2018-01-22 22:14] #1778 closed, assigned to nobody

[2018-01-22 22:32] #1779 closed, assigned to nobody

[2018-01-22 22:35] #1756 closed, assigned to nobody

[2018-01-23 02:57] lakshyagupta21 commented on #1777
@opendatakit-bot claim

[2018-01-23 04:41] lognaturel commented on #1800
FYI, The code for the Zebra Printer app is at https://github.com/opendatakit/sensordrivers/tree/ce9cb29262c51beeebd96d045fbf6410d9953046/ZebraMzSeriesPrinter

[2018-01-23 06:15] akshay-ap commented on #1758
@opendatakit-bot claim

[2018-01-23 06:19] akshay-ap commented on #1758
Initial analysis show that in `org.odk.collect.android.utilities.FormEntryPromptUtils.getAnswerText()` is returning `name`. i.e if Label is `This is a test` then its name `test1` is returned.
This is due to `FormEntryPrompt.getAnswerText()`
In given ` cascading_select_external_itemsets.xml.` form, this happens for `county` and `city`. But, works correctly for `state`.

[2018-01-23 19:12] ghost commented on #1786
@opendatakit-bot claim

[2018-01-23 22:15] #1796 closed, assigned to nobody

[2018-01-24 04:34] lakshyagupta21 commented on #1793
@lognaturel Please close this issue.

[2018-01-24 08:53] mmarciniak90 opened #1805 "User should see buttons on Get Blank Form list even if the list is empty"
#### Software and hardware versions
Collect with https://github.com/opendatakit/collect/pull/1799

#### Problem description
User should see buttons on `Get Blank Form` list even if the list is empty

#### Steps to reproduce the problem
1. User goes to `Get Blank Form`
2. User clicks on Refresh
3. User cancels
4. User sees empty form list:
<img src="https://user-images.githubusercontent.com/3907554

[2018-01-24 09:49] lakshyagupta21 commented on #1805
@opendatakit-bot claim

[2018-01-25 04:02] #1793 closed, assigned to nobody

[2018-01-25 18:56] codedsun commented on #1741
@lognaturel I am encountering one more issue in this, that when the forms are not loaded and we change the  orientation, the dialog is shown but no data is fetched and changing back the orientation will fetch the form list.

[2018-01-26 00:04] grzesiek2010 commented on #1782
It looks as if it's an Android bug. I was surprised because I tried to reproduce the issue and I used my Samsung Galaxy S4 with Android 5 (everything is ok) then I used Android 4.4. (everything is ok), Android 4.2 (everything is ok too)... Android 7 - yes I can reproduce the issue using that device, but I also can confirm that the list of displayed values is well prepared. And even if you select t

[2018-01-26 03:47] lognaturel commented on #1763
This was really just as a stepping stone to #1764. I don't think we need to support svgs aside from that.

[2018-01-26 03:47] #1763 closed, assigned to nobody

[2018-01-26 09:35] codedsun commented on #1741
@lognaturel  @grzesiek2010 I debugged and found that, that we have put the key that it contains the form list, and in onCreateMethod( ) when I checked the size of formlist it says to 0.
and we are not getting as an instance of DownloadFormList Task hence the downloading is not done and getLastNonConfigurationInstance is also of Fragment, hence this condition also goes to false.

`else if (formName

[2018-01-26 15:03] grzesiek2010 opened #1809 "Attempt to read from field 'double com.google.android.gms.maps.model.LatLng.b' on a null object reference"
android.os.Binder.transact (Binder.java:507)
com.google.android.gms.maps.internal.IGoogleMapDelegate$zza$zza.animateCamera ()
com.google.android.gms.maps.GoogleMap.animateCamera ()
org.odk.collect.android.activities.GeoTraceGoogleMapActivity.zoomToMyLocation (GeoTraceGoogleMapActivity.java:610)
org.odk.collect.android.activities.GeoTraceGoogleMapActivity.access$2200 (GeoTraceGoogleMapActivity.java

[2018-01-26 15:04] grzesiek2010 commented on #1809
@opendatakit-bot claim

[2018-01-26 15:29] grzesiek2010 commented on #1741
@codedsun I think it might be the same issue. You said that the dialog is shown but no data is fetched and I guess that's why it's not closed.

If you are sure it's a separate case (after debugging and analyzing the code) you can create another issue but as I said I guess it's the same.

[2018-01-26 20:28] lakshyagupta21 commented on #1777
Whenever user triggers the "Send Selected" button it passes the instanceIds to the `GoogleSheetsUploaderActivity`, in its `onCreate() `method `runTask()` is triggered to upload the forms.
The issue is that if we turn on  "Do not keep activities" option then it calls the `onDestroy()` of an Activity whenever we move to another activity or minimizes the app. If we again resumes the app then it is go

[2018-01-26 23:17] issa-tseng opened #1811 "Misleading error message on malformed formList XML"
https://github.com/opendatakit/collect/blob/7d725d760e71e95467f3f2fc847e9638a55dabb9/collect_app/src/main/java/org/odk/collect/android/tasks/DownloadFormListTask.java#L221

1. The code is actually checking tags _and values_ so the error may be triggered with a tag present but no value in the tag.
2. `formId` should be `formID`.

[2018-01-27 00:44] #1809 closed, assigned to nobody

[2018-01-27 00:45] #1794 closed, assigned to nobody

[2018-01-27 04:51] #1805 closed, assigned to nobody

[2018-01-27 07:03] akshay-ap commented on #1782
If default value anything other than `1`, everything works fine. Like if default is set to `2` the number picker shows values correctly.

[2018-01-27 07:17] lakshyagupta21 commented on #1755
@opendatakit-bot claim

[2018-01-27 08:59] lakshyagupta21 opened #1813 "Visiting ODK website crashes the application if no browser is installed"
#### Software and hardware versions
Collect v1.12.2
Android 6.0.1

#### Problem description
Devices that don't have chrome installed on it.
#### Steps to reproduce the problem
User Device that doesn't have Chrome/Any other browser installed on it.

1. User goes to Main Menu Screen
2. Opens the Overflow menu
3. Opens 'About' Activity
4. User clicks on either 'Visit the ODK Website' or 'Join the ODK

[2018-01-27 09:00] lakshyagupta21 commented on #1813
@opendatakit-bot claim

[2018-01-28 17:58] dr0pdb opened #1815 "Use Lombok to reduce boilerplate code in POJOs"
#### Software and hardware versions
Not specific to a particular version.

#### Problem description
Currently there is a lot of boilerplate code such as getters and setters in POJOs.

#### Expected behavior
We can make use of a stable and very popular library [Lombok](https://projectlombok.org/) which through annotation processing provides us with getters and setters automatically.

###### PROS:
1

[2018-01-28 20:05] heyjamesknight commented on #1815
Downvote for plugin install.

[2018-01-28 20:37] dcbriccetti commented on #1815
Cliff Click makes a case for not using getters and setters in many cases.
http://cliffc.org/blog/2018/01/18/getters-and-setters/
https://www.quora.com/Are-we-supposed-to-use-getters-and-setters-for-every-instance-variable-in-real-life-Java-programs-or-is-it-just-something-they-tell-you-at-the-university/answer/Cliff-Click-3
Scala removes the usual Java boilerplate. What about Kotlin?

[2018-01-29 19:54] lakshyagupta21 commented on #1692
@opendatakit-bot claim

[2018-01-29 21:39] dcbriccetti commented on #1692
Maybe the solution should be to not start a new DownloadFormsTask (AsyncTask) until the previous one stops. They can block quite a while parsing a large file.

[2018-01-29 22:48] grzesiek2010 opened #1819 "Toasty/Snacky library"
Recently I have run into a pretty nice library called [Toasty](https://github.com/GrenderG/Toasty) which makes regular toast more meaningful by adding icons and colors. I think it might be something we should rethink. Now we use only grey toasts without any icons. They look the same for good information and for errors. Sometimes they are barely visible.

Here is a similar lib but fo snackbars call

[2018-01-30 01:13] lognaturel commented on #1815
Thanks for the idea @srv-twry! In general I think we should stay away from refactors for their own sake. Perhaps if there's some new code that needs to be written and new dependencies can address user needs then they should be considered.

[2018-01-30 01:13] #1815 closed, assigned to nobody

[2018-01-30 01:15] lognaturel commented on #1803
As discussed in Slack, this splash screen has a little bit of an unusual purpose. It was added primarily to provide a branding opportunity, not to increase responsiveness.

[2018-01-30 01:15] #1803 closed, assigned to nobody

[2018-01-30 20:03] dcbriccetti opened #1820 "Save Cached Form Asynchronously"
#### Software and hardware versions
Collect v1.12.2

When a form is loaded and parsed for the first time, Collect saves a serialized version of the form (`FormDef`) in a cache in the file system. See `FormLoaderTask.cacheFormDefIfNew`.
In the table below you can see that this can take a long time.

Change Collect to do this work without blocking the user interface.

Consider events that might happ

[2018-01-30 20:26] lakshyagupta21 commented on #1692
@dcbriccetti As discussed I added a cancel dialog which will be shown until the process gets terminated if user cancels the process.
I've added a delay just after the parsing so that things can be tested properly.

![ezgif-4-624852e7a2](https://user-images.githubusercontent.com/18495162/35589225-2a803cd2-0629-11e8-8696-21c87b802fc1.gif)

[2018-01-30 20:33] dcbriccetti commented on #1692
@lakshyagupta21, great, I look forward to seeing the code.

[2018-01-31 14:02] grzesiek2010 commented on #1782
That's not true. I tested this form
[range.xlsx](https://github.com/opendatakit/collect/files/1681900/range.xlsx) and the same issue is when we have a range:
2-20 then 20 is displayed
2-22 then 22 is displayed etc.

Looks like a very strange bug in Android OS and there is nothing we can do here but we can keep this issue just to know about this bug.

[2018-01-31 15:16] grzesiek2010 commented on #1782
@lognaturel @akshay-ap I created a sample project to confirm it's not our bug the project is here: https://github.com/grzesiek2010/NumberPickerBug and I also reported the issue here: https://issuetracker.google.com/issues/72690635

That's all we can do.

[2018-01-31 15:31] icemc commented on #1455
Coming back again on this issue.
Hello @yanokwa , @lognaturel , @grzesiek2010.  Going through the code base I realized that when In admin mode (that is when you are in admin settings) any setting you restrict the normal user from using is still available to the admin but not in the normal settings section(User settings). Isn't this the right behavior? if  yes then this is not an issue, else then I

[2018-01-31 16:38] grzesiek2010 commented on #1455
@icemc
you might be right. I didn't know it works in that way. @lognaturel what do you think? Looks like a feature not a bug.

[2018-01-31 17:03] akshay-ap commented on #1782
@grzesiek2010  Thanks for correcting.

[2018-01-31 17:12] akshay-ap commented on #1758
The issue needs a bit of understanding of javarosa library source code. I would need more time to find the cause of the problem. I am learning gradle build process to make changes in javarosa and easily test it on collect.
There has been discussion on it here :
https://opendatakit.slack.com/archives/C389J6X0W/p1516726596000326

[2018-01-31 21:34] lakshyagupta21 commented on #1631
@opendatakit-bot claim

[2018-02-01 18:19] lakshyagupta21 commented on #1695
[code]
Is there any specific reason why we are replacing illegal characters by `_`  ?
Because this is causing a problem while creating the database the unwanted character gets replaced by `_` so the column name becomes 'c__key' but it is should be 'c_key'.

[2018-02-02 08:52] mmarciniak90 opened #1823 "User should see visual difference between the nested groups with `field-list` appearance"
#### Software and hardware versions
Collect with https://github.com/opendatakit/collect/pull/1821

#### Problem description
User does not see nested group names in form with `field-list` appearance.

#### Steps to reproduce the problem
1. User creates form with few nested groups with `field-list` appearance, e.g.:
![g3](https://user-images.githubusercontent.com/3907554/35724170-b72b6e78-07f4-11e8-

[2018-02-02 09:00] mmarciniak90 commented on #1823
We need to discussion about ways to identify nested groups.
One way is to add 'g1 > g2', 'g2 > g3' tag above a question text.

@opendatakit-bot label "needs discussion"

[2018-02-02 09:24] grzesiek2010 commented on #1800
@lognaturel

Printing works, the form was wrong. Here is an example:
[pinting.xlsx](https://github.com/opendatakit/collect/files/1688587/pinting.xlsx)
(You need to add all answers otherwise Zebra Printer crashes).

I also updated https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ/edit#gid=0

@yanokwa
As I said it works but I also noticed some crashes additionally b

[2018-02-02 09:24] grzesiek2010 commented on #1800
@mmarciniak90 Please close the issue.

[2018-02-02 09:26] #1800 closed, assigned to nobody

[2018-02-02 09:28] grzesiek2010 opened #1824 "Blank space is visible after removing an image answer"
#### Software and hardware versions
Collect v1.12.2 and older versions

#### Problem description
Blank space is visible after removing an image answer.

#### Steps to reproduce the problem
![blank_space](https://user-images.githubusercontent.com/3276264/35726011-aba1a6d0-0803-11e8-867b-51681b2269ee.gif)

[2018-02-02 09:28] grzesiek2010 commented on #1824
@opendatakit-bot claim

[2018-02-02 09:29] grzesiek2010 commented on #1824
@opendatakit-bot claim

[2018-02-02 09:30] grzesiek2010 commented on #1824
@opendatakit-bot claim

[2018-02-02 10:33] dr0pdb commented on #1820
@dcbriccetti I am interested in this, but i have a query. Isn't ```FormLoaderTask``` an ```AsyncTask``` which means it is already working on a background thread without blocking the UI thread ?

Or do you mean we should make sure it doesn't block the form loading task because it is blocking the form loading task to return the form even after the form has been loaded successfully ?
We should return

[2018-02-02 11:07] mmarciniak90 opened #1826 "Message in 'field-list' error is doubled"
#### Software and hardware versions
Verified on Collect v1.12.2
Issue noticed during testing https://github.com/opendatakit/collect/pull/1821

#### Problem description
Message in 'field-list' error is doubled

#### Steps to reproduce the problem
1. User starts form with repeat group with `field-list` appearance
* I used this form:  [g6Error.xml.txt](https://github.com/opendatakit/collect/files/168

[2018-02-02 12:07] akshay-ap commented on #1758
Flow goes like this:
To display the selected labels :
In `FormHierarchyActivity`
      line 304 :
                          `String answerDisplay = FormEntryPromptUtils.getAnswerText(fp, this);`

In `FormEntryPromptUtils`
The method `getAnswerText(FormEntryPrompt fep, Context context)`
uses `javarosa` API `org.javarosa.form.api.FormEntryPromt`

In `org.javarosa.form.api.FormEntryPromt.java`
Line 1

[2018-02-02 13:24] grzesiek2010 commented on #1823
Yeah this is tough... probably the best solution is to display a group name always if a group name of the previous question was different? That's all we can't eg highlight groups using different colors because we can have multiple nested groups and it doesn't make sense.

[2018-02-02 15:01] grzesiek2010 opened #1827 "Mark required questions using asterisks"
Currently, required questions are not highlighted. Users only see a toast when they try to swipe without answering. I think it would be good to mark such questions, for example, using asterisks. It would look like here:
![screenshot_2018-02-02-16-00-42](https://user-images.githubusercontent.com/3276264/35739566-47ebec7a-0832-11e8-8968-529d91128629.png)

[2018-02-02 15:01] grzesiek2010 commented on #1827
@opendatakit-bot claim

[2018-02-02 16:12] dcbriccetti commented on #1820
Hi @srv-twry. Yes, the latter. Let’s see if we can dismiss the modal dialog when all that is left to do is serialize the form and write it to the cache.

[2018-02-04 00:02] dr0pdb commented on #1820
I'll give it a shot.
@opendatakit-bot claim

[2018-02-04 13:02] dr0pdb commented on #1820
@dcbriccetti Can you please upload ```Nigeria Wards``` form if you can ? It isn't available on the default server.
It takes a long time to cache hence will be helpful in testing.

[2018-02-05 03:55] lognaturel commented on #1823
I imagine that for now if people use groups inside of field lists it's more for logical grouping than for display. I would say we leave this as-is for now and perhaps reconsider once #378 is addressed because at that point using longer field-lists will be much more compelling.

[2018-02-05 04:17] #1764 closed, assigned to nobody

[2018-02-05 04:23] #1786 closed, assigned to nobody

[2018-02-05 06:40] abelcallejo opened #1832 "Where is this package/class located?"
https://github.com/opendatakit/collect/blob/f8dd3949763b93e05f9acdd61ebaaf899cb98653/collect_app/src/main/java/org/odk/collect/android/activities/MainMenuActivity.java#L46

[2018-02-05 06:47] #1832 closed, assigned to nobody

[2018-02-05 06:48] dr0pdb commented on #1832
@abelcallejo Hi!, It is a dynamically generated class, i.e. it is generated at the time you build your application.
Infact, you're not supposed to edit this file. What is the problem that you're facing for which you want to know it's location ?

[2018-02-05 10:51] mmarciniak90 opened #1833 "Loading form does not end when it contains an empty field-list group"
#### Software and hardware versions
Collect v1.12.2
Android 5.1 and above.

#### Problem description
Loading form does not end in specific form with metadata

#### Steps to reproduce the problem
* User starts form: [metadata2.xml.txt](https://github.com/opendatakit/collect/files/1689484/metadata2.xml.txt)
* Loading form does not end on Android 5.1 and above.

#### Expected behavior
* Error message