[2021-04-29 11:30] seadowg opened #4536 "Can't use `ActivityScenario#launch` with action Intents in tests"
This is because of https://github.com/android/android-test/issues/496 (which is closed but still occurring). Tests affected by this have comments with the issue URL.

[2021-04-30 04:51] grzesiek2010 opened #4538 "First Launch Screen appears every time the app is started if the app is newly installed (not upgraded)"
#### Software and hardware versions
Master branch

#### Problem description
First Launch Screen appears every time the app is started if the app is newly installed (not upgraded)

[2021-04-30 18:46] lognaturel opened #4539 "Cancelation or failure of a multipart submission after the first part has sent can result in unsendable subsequent parts"
Currently a submission can be cancelled at any time. This is fine and good EXCEPT if the server has already received the first part of a multipart post. In that case, the user is left in a state where they can make later parts impossible to send. That is, the submission is still `finalized` meaning it can be edited unless it's encrypted. Just opening it for edit updates any endTime timestamps/audi

[2021-04-30 18:55] lognaturel commented on #4474
#3648 is related. I assume it would just incidentally be fixed because it doesn't make sense to look for `instanceId` anywhere other than where the spec says it should be.

[2021-04-30 18:55] #3648 closed, assigned to nobody

[2021-04-30 18:55] lognaturel commented on #3648
Closing because all of this behavior is being revised.

[2021-04-30 19:21] lognaturel opened #4540 "Allow manually-triggered submission to happen in background"
There are two parts to this: refactoring for maintainability and reconsidering the submission user experience.

Currently automatic sending and manual sending use almost entirely disjoint code paths. This duplication is not good and should be addressed as much as possible. Implementation note: look at using a `ForegroundService` via `WorkManager`.

Currently manually-triggered submissions are done

[2021-04-30 19:24] lognaturel opened #4541 "Instead of indefinite submission status, show bytes sent and pending"
We know how big all submissions are. We know how many bytes we've sent. We should be able to give users more information about the status of their upload. This is useful both for auto send and manually-triggered submissions. Other improvements would be showing time elapsed.

I'm filing this issue now so we don't lose track of it. Once it becomes more concrete/something we're thinking about schedul

[2021-04-30 21:19] lognaturel commented on #4430
To consider during implementation: should submission and project delete be allowed while auto-send is in progress?

QA had also highlighted project switching during background jobs as a possible source of weirdness but with the ways we've talked about implementing these I don't think they'd be an issue.

[2021-04-30 22:05] lognaturel commented on #4417
Sigh. I wrote a confusing comment and then deleted it, and then realized that might have been more confusing because it probably landed in your inboxes.

@seadowg will write up some updates regarding some ideas he shared with me about `layers/`.

I was thinking about project switching during form entry but I realized that we're probably just going to keep the existing overflow menu there for now,

[2021-05-01 20:20] lognaturel commented on #254
Our hand will be forced around this with Android 12 and required splash screens. I don’t believe it will be possible to use configured images. https://developer.android.com/about/versions/12/features/splash-screen

[2021-05-03 09:40] seadowg commented on #4417
That's what I was assuming yeah.

@seadowg will write up some updates regarding some ideas he shared with me about layers/.

Yup. So we're thinking that we go with having a `layers` and `.cache` in each project's directory as this allows us to do things like encrypt these as part of the project in the future. The one caveat to this is that some setups would probably end up with layers that are add

[2021-05-04 09:57] seadowg commented on #4520
We should address this when doing #4430

[2021-05-05 11:07] #4429 closed, assigned to grzesiek2010

[2021-05-05 15:26] #4538 closed, assigned to grzesiek2010

[2021-05-10 22:13] lognaturel opened #4554 "Don't HTML-encode formid or version"
Collect HTML-encodes all unicode for reasons I am unsure of. This is generally ok but it's problematic for `formid` and `version` because servers expect an exact match. At the very least, we should pass through `formid` and `version` unchanged. There might be a broader question about whether it makes sense to HTML-encode anything but perhaps that's best left for another time if we can find a reaso

[2021-05-11 09:06] seadowg commented on #4511
@getodk-bot still working on it!

[2021-05-11 09:56] grzesiek2010 opened #4555 "The list of inactive projects is not scrollable and occupies too much space"
#### Software and hardware versions
Current master branch

#### Problem description
The list of inactive projects is not scrollable and occupies too much space:
![Screenshot_1620726937](https://user-images.githubusercontent.com/3276264/117797081-efc8b200-b24f-11eb-9bb2-853268730804.png)

[2021-05-11 12:46] #4424 closed, assigned to grzesiek2010

[2021-05-13 13:15] dimwight commented on #4500
Having recently dipped my toes into ODK, I thought I'd use this issue to take more of a deep dive into the codebase. This has proved interesting, if in the end somewhat frustrating.

It seems that this and previous similar issues are due to a Javarosa quirk,  in `FormEntryPrompt`. When its `QuestionDef` has an `ItemsetBinding`,  any outdated selection gets reset in `getSelectChoices`, because the

[2021-05-13 15:16] dimwight commented on #4500
A couple of hours later, isn't it wonderful how "writing maketh the exact man" and can also shake up your thoughts.

Having composed the above, I remembered that `SelectOneWidget` handles what looks like the same issue with `clearFollowingItemsetWidgets` which can just as well be defined `static`.

Moving it to `SelectOneWidgetUtils` and inserting calls at likely points in `SelectOneMinimalWidget`

[2021-05-13 15:51] lognaturel commented on #4500
This does sound promising. You're right that this should not touch `ItemsetBinding` or anything else from JavaRosa because "fast external itemsets" are Collect-only.

The biggest barrier here is conceptual -- as it sounds like you've figured out, there are (sadly) three ways to define selects from external files. This comes from the "wild west" stage of the project when anything got merged. Here's

[2021-05-13 16:13] dimwight commented on #4500
Thanks @lognaturel  for the quick response, very encouraging to know I'm sort of on the right track.

The links give me some more background reading to do while I have a go at a PR for this issue.

[2021-05-14 05:01] lognaturel commented on #4439
I'm not seeing adding username if it is set and server domain to the project listing. E.g. "collector / banadir.com" below:
<img width="431" alt="Screen Shot 2021-05-13 at 10 00 02 PM" src="https://user-images.githubusercontent.com/967540/118223690-b30adf80-b436-11eb-96a2-c00df13a164a.png">

I may have missed it! If not, I can add it to the polish section.

[2021-05-14 11:24] seadowg commented on #4439
@lognaturel hmm you're right it's not explicitly mentioned anywhere. I'll add it to the acceptance in https://github.com/getodk/collect/issues/4428 (let me know if you think what I add is enough) as it feels like it'd be nice to do at the same time as adding them into the form. Happy to break it out again if it feels like too much work at the time.

[2021-05-14 12:13] #4555 closed, assigned to grzesiek2010

[2021-05-17 12:18] kkrawczyk123 opened #4566 "Answers to required questions are gone when finalize form"
#### Software and hardware versions
Collect v1.30.x, Android v probably all, device used...

#### Problem description
When testing Central, I have noticed that some of the added answers in the form are gone when trying to edit on Central. I investigated and it turned out that they are gone when finalizing form on Collect so it's not a Central issue.
Form that I have used: https://test.getodk.cloud

[2021-05-18 14:10] #4524 closed, assigned to seadowg

[2021-05-18 15:51] #4516 closed, assigned to seadowg

[2021-05-18 21:25] lognaturel opened #4569 "Backwards navigation and hierarchy view have different (and worse) rules about what they show compared to forward navigation"
#### Software and hardware versions
Collect v1.30.1, `master`

#### Problem description
Backwards navigation and hierarchy view have different (and worse) rules about what they show compared to forward navigation.

#### Steps to reproduce the problem
1. Create a form with a repeat that could have no contents for some instances. E.g. [vegetables.xlsx](https://github.com/getodk/collect/files/6504465

[2021-05-19 03:54] lognaturel commented on #4566
This form misuses `calculate`s in an attempt to have dynamic defaults. On finalize, the value of `house_locality_name` is always set to the value of `locality`. `locality` is not required (weird) and I see in your video that you didn't give it a value. That means the value of `house_locality_name` for every repeat instance is always cleared on save. More [in this recent forum thread](https://forum

[2021-05-19 03:54] #4566 closed, assigned to nobody

[2021-05-19 03:59] lognaturel commented on #4566
Although this is mostly a form design issue, there is something weird about the order of evaluations and checks on form finalization that would be good to investigate at some point. I've filed https://github.com/getodk/javarosa/issues/633.

[2021-05-19 09:31] seadowg commented on #4428
@grzesiek2010 right now on master it doesn't look like the settings change when switching between projects - if you change the server in one project and then switch to another you'll see the same server for example. That's fine as that's what I'm working on in #4544, so I've just changed the acceptance here slightly to focus more on the UI around entering project details and then seeing those deta

[2021-05-19 09:59] grzesiek2010 commented on #4428
I think it must be something small because when you switch projects we save `CURRENT_PROJECT_ID` in meta settings then whenever `SettingsProvider` is used it takes that current project id to return proper settings. That should be enough...

[2021-05-19 10:06] grzesiek2010 commented on #4428
ahhh taht's because `providesGeneralSettingsStore` and `providesAdminSettingsStore` in `AppDependencyModule` are singletons, that's the bug.

[2021-05-19 10:07] seadowg commented on #4428
@grzesiek2010 ah yeah! Looks like I made that change in #4544: https://github.com/getodk/collect/pull/4544/commits/33126eb1ae7c7d1cc41757746e27ed69decf1264#diff-327c65e40a12e80150d6fd6ca4113fc600545c80e650202fdb633e84bd9c32d7L493. That PR can take care of it then.

[2021-05-19 21:40] yanokwa commented on #4566
The form is published at https://github.com/polio/elqas but I don't know anyone using it.

[2021-05-20 12:32] #4511 closed, assigned to nobody

[2021-05-20 15:08] seadowg commented on #4493
We're thinking a way forward is to have a color picker that lets the user choose from the named material colors (https://material.io/resources/color/#!/?view.left=0&view.right=0) and includes a text field for a hex code all presented in a dialog. @lognaturel can mock that up and post here, so we can continue to discuss.

[2021-05-21 04:32] lognaturel opened #4570 "Repeat is not shown in hierarchy view if first instance has no relevant content"
#### Software and hardware versions
Collect v1.30.1

#### Problem description
Repeat is not shown in hierarchy view if first instance has no relevant content

#### Steps to reproduce the problem
See [this form](https://docs.google.com/spreadsheets/d/1gs1vBCotSUsZ7A3YJdtfs-KOrCcbhyFUOWMPO-lm4p0/edit#gid=0). Select 'beans', see that the repeat is shown in the hierarchy view. Select some other vegeta

[2021-05-21 04:39] lognaturel commented on #4569
[This variation](https://docs.google.com/spreadsheets/d/1gs1vBCotSUsZ7A3YJdtfs-KOrCcbhyFUOWMPO-lm4p0/edit#gid=0) works as expected (other than #4570).

[2021-05-21 08:12] jbp35 opened #4571 "Incorrect rotation or EXIF orientation of portrait photos captured with collect app"
#### Software and hardware versions
ODK Collect v1.30.1
Android 9
Xiaomi Mi A1

#### Problem description

Photos captured in portrait format with ODK Collect are not saved or rendred in the right direction.

Portrait format with ODK Collect:
![Portrait_ODK_Collect](https://user-images.githubusercontent.com/19955142/119104336-6e75da00-ba1c-11eb-97d9-0b132fe547f9.jpg)

Portrait format with camera ap

[2021-05-21 10:27] seadowg opened #4572 "Switch to MaterialComponents theme"
We should replace our `Light` and `Dark` themes with one Material `DayNight` theme. The groundwork for this has been laid with our `Magenta` theme already but next steps to get this work into production is:

- [x] Pick new primary and secondary colors for the app (dark and light)
- [x] Use `Magenta` as the theme for the app
- [x] Switch `Magenta` to being `DayNight` using the new colors
- [x] Make

[2021-05-21 13:17] kkrawczyk123 commented on #4499
I have tried it on Collect v1.30.1 on Android 11 device, these are my results:

| widget/maps | 1st try | 2nd try | 3rd try |
| --- | --- | ---| --- |
| geotrace/Google Maps | 3 | 4 | 3 |
| geotrace/Mapbox | 1 | 1 | 1 |
| geotrace/OSM | 3 | 4 | 3 |
| geoshape/Google Maps | 3 | 3 | 4 |
| geoshape/Mapbox | 1 | 1 | 1 |
| geoshape/OSM | 3 | 3 | 4 |

The most interesting results are visible when used M

[2021-05-21 16:24] yanokwa commented on #4499
@kkrawczyk123 Did you test to see if accuracy in geopoint changes if you toggle between Collect and GPS Status (or Google Maps)?

[2021-05-22 00:34] lognaturel commented on #4571
Thanks! A PR would be much appreciated.

[2021-05-24 08:06] kkrawczyk123 commented on #4499
@yanokwa I have done a quick check on accuracy changes. I think that just minimizing and opening Collect from the background or through an icon is causing a reduction of accuracy (doesn't matter if points are collected or just geowidget is opened). I have also noticed that when toggling between any other apps like Printer or Collect Tester not only Google Maps app. Is there anything more you want

[2021-05-24 17:13] lognaturel commented on #4493
My sense is that this isn't worth a Figma mockup but let me know if you think that would be helpful. Here's a very rough sketch of what I have in mind (note the hex value is editable):
![dialog](https://user-images.githubusercontent.com/967540/119382207-93fe2000-bc76-11eb-969e-56a1b35ca0c5.jpg)

I don't feel very strongly about what it looks like. Here are some constraints/ideas I've considered:
-

[2021-05-24 17:52] seadowg commented on #4493
Big fan of that. Seems really simple and hopefully clear as to what's going on. We should probably try this out on a few people outside the team ("hallway testing") once it's built to see if it makes sense to folks.

I had assumed that there must a way to grab the "accessible" text color for any given hex but haven't had a chance to look into it. If white works for all the 700s thought that seems

[2021-05-24 18:10] lognaturel commented on #4493
The best I can see is [from the ~new~ color palette from image stuff](https://developer.android.com/reference/androidx/palette/graphics/Palette.Swatch#getTitleTextColor()). Looks like we probably could pass in an rgb int to build a swatch and use whatever the algorithm is. It wouldn't generate black or white. Body text might be what we want to get more contrast.

[2021-05-24 18:18] seadowg commented on #4493
Make sense! I think the colors scheme should just be a "GetODK" branding decision, and then we can work around the contrast probably if we need to

[2021-05-24 18:39] lognaturel opened #4574 "Select current server URL when Server URL configuration dialog is launched"
We see from error logs on the demo server that some users start typing their URL as a suffix to whatever URL is currently configured rather than clearing the field and changing its value. I think an easy improvement for now would be to select the text in that box so if a user just starts typing the text will be replaced. ([Error log](https://sentry.io/organizations/getodk/issues/2352506831/activit

[2021-05-24 18:49] lognaturel commented on #4493
Which color is this? I was talking about automatically picking a text color for the project icon character once a project color is selected either from the material palette or from a hex code. My initial thinking was that it'd always be white but it looks like the Palette API could provide an alternate option.

[2021-05-25 09:39] seadowg commented on #4493
Sorry that wasn't clear. I meant whether we use the material colors at like 300, 500 or 700? I guess I would think that how "vibrant" or "muted" the colors are is kind of a branding decision. Of course, it totally might not matter but just calling out that I'm happy for that to just be decided, and we can then look whether we can always do one text color or need to use the Palette API.

[2021-05-25 09:53] seadowg commented on #4574
I think it would be good to have acceptance so it's really explicit what the change should be. I'll suggest here instead of editing the issue, and you can copy-paste if I've interpreted the problem correctly:

- [ ] Given I'm on the server settings page
And I have a server configured
When I click on "URL"
And type `https://demo.getodk.org` without clearing the field
And click OK
Then the configure

[2021-05-25 15:23] seadowg opened #4575 "Add Google account support to project setup"
~~Blocked by #4428~~
Mockup: https://www.figma.com/file/nDsMAYQDIflyl7rznEhwnN/ODK-Collect-Multiple-Project-Support-(v2021.2)?node-id=37%3A219

## Acceptance

- [x] Given I've navigated to the manual project setup screen
When I click "Configure" next to "My project uses Google Drive
And I choose my account
Then my project is added as my google account name (email)
And the project icon is the first

[2021-05-25 15:40] seadowg opened #4576 "Add analytics to Content Providers"
Blocked by #4462

We want to be able to find out if any apps are using our Content Providers for forms or instances.

## Acceptance

- [x] Given there is a call to either `insert`, `update` or `delete` on the `FormsProvider`
When I navigate to the analytics dashboard
Then I see there has been an event named `"FormsProvider#<method>`

- [x] Given there is a call to either `insert`, `update` or `del

[2021-05-25 16:13] seadowg opened #4577 "Add check to stop project being deleted when it has unsent instances"
~~Blocked by #4417~~

## Acceptance

- [x] Given I have at least one unsent filled form
When I go to Admin settings
And click "Delete project"
Then I see a message prompting me to send or delete filled forms
And the project does not get deleted

## Note

The message prompting the user should probably just be a dialog with an "OK" button (similar to an error dialog).

[2021-05-25 16:24] seadowg opened #4578 "Investigate existing project import performance"
Blocked by #4544

Currently, we import the "existing" project for upgrades as part of the app boot up in `ApplicationInitializer`. We should do some research and testing to work out if this could be slow and should really happen off the UI thread.

It might be that we look at just moving our entire execution of `ApplicationInitlizer#init` off the UI thread and block the app (on the splash screen)

[2021-05-25 16:34] seadowg commented on #4493
@lognaturel I'm kind of thinking that we've dropped the idea of having a "generated" color based on the server/project name. If so, I reckon it makes sense to have the "Add project" form just use a random color from our picker each time?

[2021-05-25 16:37] seadowg opened #4579 "Generate project details for existing project"
## Acceptance

- [x] Given I've upgraded the app from an older version
When I go to the projects settings screen
Then the current project name has been generated based on the project's server
And the current project icon is the first letter of the project name

## Note

The generated project name should work the same way as the "Add project" form.

[2021-05-25 16:38] seadowg commented on #4579
@lognaturel we could possibly give everyone an emoji icon (either a fixed one or a random one from a small set) to make it clear that you can use emojis as the icon. Definitely a bit of extra delight but potentially too playful?

[2021-05-25 18:32] lognaturel commented on #4579
Project name should be the server's full domain name including any subdomains but no paths:
- `https://test.getodk.org/v1/key/jfkdlsajfaioehafnelsajfkdsljfs;jfsa/projects/17` => `test.getodk.org`
- `https://demo.getodk.org` => `demo.getodk.org`
- `https://ona.io/somebody` => `ona.io`

I don't think users will typically change their defaults and we want the default to provide some kind of value. I

[2021-05-25 19:19] seadowg commented on #4579
That's actually a little different from how we described it in https://github.com/getodk/collect/issues/4428. Easy to change though. Maybe better to discuss there as it's where we're first adding the server URL to name mapping in.

Yeah convinced! The emoji is nice looking but would be fairly useless for them.

I posted another question about that in https://github.com/getodk/collect/issues/4493.

[2021-05-25 21:01] lognaturel commented on #4428
I'm sorry, I didn't read this carefully previously. Requirements from [the forum discussion](https://forum.getodk.org/t/collect-multiple-projects-support/23340/2) mention defaulting project name and character if they're not set but they don't say anything about visible defaults when filling out the manual configuration form. I don't think they should default in the form. In most cases, that would

[2021-05-26 03:47] lognaturel opened #4580 "ExternalAppUtils.populateParameters fails with relative references"
#### Software and hardware versions
Collect v1.30.1

#### Problem description
User report [on forum](https://forum.getodk.org/t/integrating-external-app-within-a-repeat-group/33670).

#### Steps to reproduce the problem
1. Build a form to launch an intent for multiple return values from within a repeat. The intent should be configured to use a value from within the repeat. [Example](https://docs.g

[2021-05-26 04:34] lognaturel commented on #4428
Here are some examples of why I'd written it up as the full domain name:
- `https://www.example.com` => `www`
- `https://odk.mycompany.com` => `odk`
- `https://central.mycompany.com` => `central`
- `https://mycompany.getodk.cloud` => `mycompany` (this might look reasonable but imagine a company with 6 very different projects. Showing Mycompany as the project name doesn't give the clue that maybe p

[2021-05-26 05:03] lognaturel commented on #4578
What do you think about @getodk/testers doing a first pass to push some many thousands of instances to v1.30.1, then upgrade and report what happens?

[2021-05-26 05:05] lognaturel commented on #4493
Looks like we've developed divergent concepts of when fallback values for project name/icon/color are set! I've described what I had in mind at https://github.com/getodk/collect/issues/4428#issuecomment-848261115. I've been imagining the defaulting as something that happens once the project configuration form is submitted, not in the form itself.

With the simplification I've proposed at https://g

[2021-05-26 10:16] seadowg commented on #4428
From @lognaturel:

[2021-05-26 10:25] seadowg commented on #4493
Yeah, I agree with that. I think we're probably ready to write acceptance for this issue then: it will include adding color generation and also a picker to the "edit" screen. The last thing we need to decide on is which set of material colors to use, but maybe we can finalize that when we chat tomorrow.

[2021-05-26 10:26] seadowg commented on #4578
@lognaturel yup! That makes sense. @getodk/testers Just to be clear this isn't merged yet so don't start on that 😆

[2021-05-26 10:42] #4482 closed, assigned to grzesiek2010

[2021-05-26 19:16] #4417 closed, assigned to seadowg

[2021-05-26 20:40] lognaturel commented on #4575
See https://www.figma.com/file/nDsMAYQDIflyl7rznEhwnN/ODK-Collect-Multiple-Project-Support-(v2021.2)?node-id=37%3A219 for a concept. I've added `My project uses Google Drive. Configure.` ~to track the bottom bar~ (tracking the bottom bar might cause all kinds of overlap problems so let's just do some even vertical space from the help text. We can probably add the help text with this issue, too). I

[2021-05-27 14:16] seadowg opened #4582 "Add import/export of project details via QR"
## Acceptance

- [x] Given I'm viewing a project's QR code in settings on my first device
And have Collect open on a second device
When I click "Add project" on the second device
And scan the QR code displayed on the first device
Then a new project is added to the second device
And the project details (name, icon etc) are the same as the project on the first device
And the settings for the project

[2021-05-27 15:28] ricardopmarinho commented on #4413
I faced this error when tried to send a form.
Should I worry about it?
Any updates on this bug?

[2021-05-27 16:34] lognaturel commented on #4413
Servers typically shouldn't be responding with 204 which is why this isn't very high priority. I ran into it when doing some unusual things on the server side.

If you're using stock Central, it would be good to know about the steps that resulted in a 204.

[2021-05-27 17:14] ricardopmarinho commented on #4413
I'm using kobo to store the data. I'll see if this erros continue to show up.

[2021-05-27 17:15] lognaturel commented on #4493
I've done a quick mockup of 15 colors [here](https://www.figma.com/file/nDsMAYQDIflyl7rznEhwnN/ODK-Collect-Multiple-Project-Support-(v2021.2)?node-id=454%3A60):

<img width="248" alt="Screen Shot 2021-05-27 at 10 11 16 AM" src="https://user-images.githubusercontent.com/967540/119868435-e25c2a80-bed3-11eb-95f8-303f36b40a48.png">

I removed black and 4 other colors I didn't think added much. They're

[2021-05-27 17:21] lognaturel commented on #4413
Great. If it continues, their support is at https://community.kobotoolbox.org/

[2021-05-28 08:34] mmarciniak90 opened #4583 "Manipulating in ODK files is more difficult on Android 11 - especially for offline layers"
#### Software and hardware versions
Android v11

#### Problem description
Manipulating in ODK files is more difficult on Android 11 - especially for offline layers

#### Steps to reproduce the problem
1. User opens the default file manager
2. User wants to add a new offline layer
3. User opens _/Android/data/_ direction and sees information -> **User is not able to add a new offline layer**

|![Sc

[2021-05-28 10:03] seadowg commented on #4493
I think we can find a way (like with the Palette API) to use an accessible text color for the icon. People will be able to choose any color they want, so it's probably good to be doing that anyway. That can be a "post beta" issue.

I'll write up acceptance for this issue and then remove "needs discussion" as I think we're good to go here!

[2021-05-28 18:46] lognaturel opened #4584 "Use project name as app title, remove app icon, move Collect version to bottom"
See [forum discussion](https://forum.getodk.org/t/collect-multiple-projects-support/23340/40?u=ln) for discussion. The primary goal is to explicitly place users in the context the most relevant to them -- their project. Secondary goals include moving towards Collect feeling like a system app and reducing the need to fork by making project branding more central.

- [x] Currently there's the Collect

[2021-05-29 16:23] krishnapaul123456 opened #4585 "GPS Connection Issue"
Dear team I am getting issue when trying to capture location detail using my Android phone I have tried multiple time to capture location using Android version -8.1 but satellite connectivity is showing 0/24 and location provider is showing fused
![IMG-20210528-WA0005](https://user-images.githubusercontent.com/85030623/120077417-fbc5c800-c0c7-11eb-9371-324222dd0f1d.jpg)
![IMG-20210528-WA0006](http

[2021-05-31 14:20] #4428 closed, assigned to grzesiek2010

[2021-05-31 17:46] mmarciniak90 commented on #4585
I only see this behavior inside the building. @krishnapaul123456, did you see this outside?
In general, finding satellites inside the building is more difficult.
It's not related to only Android 8.1 but to all devices.
Verified on v1.30.1

[2021-05-31 18:53] krishnapaul123456 commented on #4585
Yes I have tested it in open ground and getting the same issue where accuracy is showing 3000m and satellite connection is 0,I don't know what is issue.

[2021-05-31 22:27] lognaturel commented on #4585
This is likely related to your specific device or to permissions you have or haven’t granted. It is unlikely to be reproducible with other devices. To see if other users have had a similar experience and may have advice, please post to the community forum at https://forum.getodk.org.

[2021-05-31 22:27] #4585 closed, assigned to nobody

[2021-06-01 15:57] seadowg commented on #4439
@mmarciniak90 @kkrawczyk123 we (myself and @grzesiek2010 prompted by @lognaturel) were chatting about parts of the app that it would be possible to do a pass on at the moment. Our thinking is that it would be useful to have a pass on the following areas:

* Upgrading from an existing version of the app - you should have a single project without all your settings, forms etc
* Adding projects manual

[2021-06-01 16:40] #4426 closed, assigned to grzesiek2010

[2021-06-02 04:51] lognaturel opened #4589 "Prevent editing of submissions that failed to send"
We've been getting more and more reports of users getting submission errors because the server has already received a submission with the current submission's id but with different XML. From Central, the error message is

See [this forum post](https://forum.getodk.org/t/odk-central-upload-error-a-submission-already-exists-with-this-id-but-with-different-xml/33596) for an example.

I think the majo

[2021-06-03 16:37] lognaturel commented on #4583
It'd be helpful to understand your workflow a bit better, @mmarciniak90. Do you have a layers file somewhere on your device that you want to move into the layers directory? How did you get the layers file onto your device, did you download it?

As I understand it, the issue is that the default file management application on your device doesn't prompt for permissions when you try to navigate to app

[2021-06-03 17:32] lognaturel opened #4592 "[By Dec 2021] See how custom splash screen looks with Android 12 splash screen"
With Android 12, [every app will get a default splash screen](https://9to5google.com/2021/04/21/android-12-dp3-all-apps-now-show-the-same-splash-screen-while-loading-gallery/). Collect already has a splash screen which can be dynamically user-defined. This is used to orient data collectors to the project they're working on and provide a bit of a branding opportunity for organizations. We believe t

[2021-06-07 12:44] yanokwa opened #4594 "Do not show Central token in error messages"
#### Software and hardware versions
Collect v1.30.1

#### Problem description
Error messages sometimes show the entire URL (https://example.getodk.cloud/v1/key/12345/projects/1). The 12345 is a token that shouldn't be shown in a dialog because users sometime share the dialog messages in a screenshot.

https://forum.getodk.org/t/collect-cannot-establish-a-secure-connection/33847

#### Expected beha

[2021-06-07 20:24] lognaturel commented on #4589
@dimwight I know you're working on becoming one of the universe's top 4 experts on external data in ODK through https://github.com/getodk/collect/issues/4500 but I just thought of you in the context of this issue. I /think/ it will be relatively straightforward. It might just be adding some tests and then adding a condition to an `if`, I'm not sure. It will definitely have significant user impact

[2021-06-08 07:33] dimwight commented on #4589
Thanks for thinking of me @lognaturel, since this seems a pressing issue I can put #4500 on the back burner for a while (currently working on an automated test for what looks like a fairly complete solution).
To save spending the usual week trawling the codebase, any hints as to where the relevant portions live?

[2021-06-08 13:42] kkrawczyk123 commented on #4583
@lognaturel After installing the newest update of this file management app we were able to access that folder. Adding layer using adb works well on our Android 11 device. We can close that issue.

[2021-06-08 13:45] #4583 closed, assigned to nobody

[2021-06-08 16:11] lognaturel commented on #4589
Oh wow, that's great! Up to you -- if you prefer to have one thing in your head at a time, it might make sense to wrap that up. There's no major rush here. We're at least 3 weeks out from a release and that's probably optimistic given what's still pending in https://github.com/getodk/collect/issues/4439.

Here's the journey I went on trying to find where this would be:
- First I looked for tests a

[2021-06-08 17:21] dimwight commented on #4589
Thanks, that's just what I was hoping for.
#4500 now just needs a lot of drudge work before some sort of PR emerges from the mist, so perhaps I could follow your trail for a few days and see where it leads me.

[2021-06-08 17:52] dimwight commented on #4589
PS -

Illustrative examples within Collect?

[2021-06-08 18:46] lognaturel commented on #4589
Great, this will hopefully be a nice palate cleanser, then!

You might want to start by looking at `EditSavedFormPage` which is a [Page Object](https://martinfowler.com/bliki/PageObject.html) providing an API to interact with the "Edit Saved Form" screen in UI-driven tests. You can run `QuickSaveTest` to see how it's used. You should see all the steps in the test happen on your emulator/device. `c

[2021-06-09 04:26] lognaturel commented on #4582
I went over [our original planning doc](https://docs.google.com/document/d/14306XDqkua_p1iOUmHqJq9vH2nFepPqR-ieYaukpxKw/edit) and I see we left whether to introduce a `project` object or to put project settings in the existing `admin` object as TBD. I now remember that the question we had was around how we go from a settings screen to `SharedPreferences` to a JSON representation. My hunch is that

[2021-06-09 08:52] seadowg commented on #4582
Cool ok so it seems like we're all on the same page that there isn't a strong reason to go in any direction. @grzesiek2010 I'll change the note in the description.

[2021-06-09 13:46] #4427 closed, assigned to grzesiek2010

[2021-06-09 15:41] mmarciniak90 commented on #4439
I want to clarify the current behavior with the latest changes.
I generated this QR code on v1.30.1. After the upgrade, all changes from Admin Settings are missed, changes from General Settings are OK. The most noticeable for me is the missing password to Admin Settings.
![collect-settings](https://user-images.githubusercontent.com/3907554/121373274-3ab51280-c93f-11eb-8a4e-8bca75fbf7e7.png)

I kno

[2021-06-10 10:19] seadowg commented on #4439
@mmarciniak90 Thanks for these! I'll have a look through these with @lognaturel later and triage into issues. I actually put a note into the backlog yesterday to check on the settings migrations that happen on upgrade, so I'm not surprised that ended up being a problem!

[2021-06-10 12:28] kkrawczyk123 commented on #4439
I want to point out few things, probably some of them has been already considered:
- When adding a project there is no validation on valid URL. I can input anything. It is also visible when scan qr code with settings you are able to import an invalid URL and it is set as a server in a new project.

- Local server is displayed without a port on the select project modal. 1st number is added by defau

[2021-06-10 14:19] seadowg opened #4599 "Fast external itemsets are not cleaned up when form is deleted"
#### Software and hardware versions
Collect v2021.2 (next version at time of writing

#### Problem description

Forms that use [fast external itemsets](https://xlsform.org/en/#external-selects) will leave behind the database table created for the `itemsets.csv` when they are deleted.

#### Steps to reproduce the problem

1. Add a form that uses external selects (using `select_one_external`) to Col

[2021-06-10 14:50] lognaturel commented on #4531
Consider making this an `Activity` instead of a `DialogFragment` for performance reasons. Try on worst phone to experience performance degradation caused by animations. Also, scanning from QR code should directly go to MainMenuActivity instead of showing first launch dialog briefly. Settings import should happen off UI thread.

From https://github.com/getodk/collect/issues/4439#issuecomment-857813

[2021-06-10 16:43] seadowg commented on #4439
@mmarciniak90 @kkrawczyk123 ok so here's what we're doing to deal with all this:

* There is already a note around the admin settings problem in the backlog (I'll write up an issue late) and we'll need to deal with that pre beta.
* We've added notes to #4531 around problems that were found on the first launch screen
* We'll do a visual tweaks pass probably after beta to address a large set of the

[2021-06-10 17:48] lognaturel commented on #4531
@grzesiek2010 @seadowg I'm going to start taking a look at this over the next few days while y'all are wrapping up other beta things. Hopefully I'll be able to finish it but if one of you completes everything in your pipeline and I'm not done, let's talk about transferring it to you.

[2021-06-14 12:46] #4466 closed, assigned to nobody

[2021-06-14 13:08] #4493 closed, assigned to grzesiek2010

[2021-06-14 15:53] seadowg opened #4604 "Existing project settings should be migrated when upgrading from versions that need it"
An upgrade from 1.30 to 2021.2 won't actually suffer any consequences of this, but upgrades from older versions (like 1.28) with different settings structures will end up with their existing project having invalid/missing settings.

For 2021.2 we can get away with only solving this for the "existing" project, but moving forward we'll need to migrate settings for all projects in the app. I personal

[2021-06-14 16:02] seadowg opened #4605 "Update analytics behaviour for projects"
- [x] Analytics should be enabled and disabled based on the project setting
- [x] Analytics should always be enabled for beta versions
~~- [ ] Form update mode user property should be set on app launch for all projects~~

[2021-06-14 19:02] #4450 closed, assigned to nobody

[2021-06-14 21:33] lognaturel opened #4606 "Polish project color dialog"
- [x] Add icon text in preview icon. Ideally this would be the real icon text if it's set with a fallback to `A` but always showing `A` is fine too.

- [x] Make sure hex code text box doesn't wrap with a narrow screen (screenshot from Moto G5)
<img width="438" alt="wrapping hex box" src="https://user-images.githubusercontent.com/967540/121961950-edf58100-cd1c-11eb-8f90-1df617cb91cb.png">

- [x] Re

[2021-06-14 22:14] lognaturel opened #4608 "Complete sensitive scope app verification"
From Google:

This is for the Google Drive integration. I did the verification recently for the Google Data Studio connector (https://github.com/UDub-Impact/OData-Connector/issues/6) so I can take it on.

[2021-06-15 05:47] virtualpathum commented on #4574
@lognaturel Is this still a valid issue? I just tried to reproduce this and seems the expected behaviour `(<previous-url>https://example.com) `is already there.

[2021-06-15 06:10] lognaturel commented on #4531
I've successfully made the first launch screen into an `Activity` and that definitely makes more sense to me. However, I can't figure out how to prevent that screen from showing briefly when a project is successfully created and the project creation dialog is dismissed. Any ideas, @grzesiek2010, @seadowg? See https://github.com/getodk/collect/pull/4601/files/33b9cdbc0dc7fefb4fe8b00b69046b5492f7fb8

[2021-06-15 06:54] grzesiek2010 commented on #4531
Maybe just delay dismissing that dialog. I did something like that in the same class https://github.com/getodk/collect/pull/4601/files/33b9cdbc0dc7fefb4fe8b00b69046b5492f7fb8c#diff-78a8fdb05c2a21720fa00d2097e76a82f212c91fa10693d078bd6c9338b0c601L64
The problem was the same.

[2021-06-15 09:07] seadowg commented on #4574
@virtualpathum you'll see the acceptance is specifying that we'd like the behaviour, so that typing replaces the old value.

[2021-06-15 09:27] seadowg commented on #4531
@lognaturel  delaying could work, but it looks like you can just remove the `dismiss` call now that you are opening the main menu from the dialog. I'm also wondering if we should be using [`CLEAR_TOP`](https://developer.android.com/reference/android/content/Intent#FLAG_ACTIVITY_CLEAR_TOP) instead of `finishAffinity`. I'd never seen `finishAffinity` before and looking into it does seem people have

[2021-06-15 12:12] seadowg commented on #4579
We probably shouldn't work on this yet as it's going to end up conflicting with some of the upgrade code I'm playing with.

[2021-06-15 12:54] virtualpathum commented on #4574
@seadowg ok thanks for the clarification. While I was trying to fix it I realised this, what if user just want to edit the current URL? if we replace it with the typing, then user has to type the entire thing again.

[2021-06-15 13:01] seadowg commented on #4574
@virtualpathum good question! I think generally we'd expect them to be changing it entirely, so it makes sense to prioritize for that scenario.

[2021-06-15 13:29] lognaturel commented on #4531
Thanks!

Removing the dismiss call does lead to the experience we want but wouldn’t it lead to a leak in the QR code case? Or does onDestroy get called on the fragment get called if it’s called on the activity?

I didn’t try CLEAR_TOP because I saw there might be different behavior by Android version but I should check what API levels!

[2021-06-15 13:31] seadowg commented on #4531
It really should, as destroying the activity should destroy all its Fragments. Maybe good to verify with debugger just in case?

Of course 😩

[2021-06-15 13:53] virtualpathum commented on #4574
@seadowg ok. if that's the case we can just clear the text field in the popup dialog whenever user click on the URL right? because it would be tricky  to handle the onTouchListener of the edit text since the drop down also there.

[2021-06-15 14:14] seadowg commented on #4574
@virtualpathum I personally don't think clearing it makes sense as it would potentially make the user think the value isn't set. I'm not sure if we need to do anything with an `onTouchListener` here. The `EditText` in the dialog just needs to have the test selected which is possible using [`EditText#selectAll`](https://developer.android.com/reference/android/widget/EditText#selectAll()).

[2021-06-15 15:01] virtualpathum commented on #4574
@seadowg ok thanks. `EditText#selectAll` does the trick. I did the change, can I check in the code ?

[2021-06-15 15:55] lognaturel commented on #4531
Thanks, both! I wasn't able to find Android docs saying that `Fragment` lifecycle methods are called when `Activity` methods are but it certainly would make the most sense. [This course](https://google-developer-training.github.io/android-developer-advanced-course-concepts/unit-1-expand-the-user-experience/lesson-1-fragments/1-2-c-fragment-lifecycle-and-communications/1-2-c-fragment-lifecycle-and-

[2021-06-16 10:08] seadowg commented on #4574
@virtualpathum if you read through our [Contributing guide](https://github.com/getodk/collect/blob/master/docs/CONTRIBUTING.md) you should get a good sense of how to make a PR and what should be included in it.

[2021-06-16 10:20] kkrawczyk123 commented on #4606
I think that it should be also prevented from clearing the filed content as right now I am able to accept empty value what causes a crash - there is no way to open admin settings after that - Collect crashes each time.

[2021-06-16 13:32] #4582 closed, assigned to grzesiek2010

[2021-06-16 14:02] virtualpathum commented on #4574
@seadowg just created a PR

[2021-06-16 17:25] #4531 closed, assigned to nobody

[2021-06-16 18:23] dimwight commented on #4589
Thanks @lognaturel for this gen, I would welcome your thoughts on the following tentative conclusions (the more tentative as I'm still so new to the territory).

### The issue

* Seems to arise when the server has actually received a submission but its `HttpPostResult` has not arrived back due to a network failure.
* So submissions logically have a limbo-like status once they have been sent but be

[2021-06-16 18:28] lognaturel commented on #4589
Your analysis looks good! We already have the `STATUS_SUBMISSION_FAILED` status which means that a send was requested but not completed. That's the status we want to exclude editing on for now.

Unfortunately we know this would disrupt existing workflows. Like I said in the original issue, it would be an eventual goal but we need to announce it, design a thoughtful UI that communicates the change,

[2021-06-16 21:59] lognaturel commented on #4606
I happened to change the color of one of my calendars today and saw this:
<img width="282" alt="Screen Shot 2021-06-16 at 2 57 23 PM" src="https://user-images.githubusercontent.com/967540/122299737-3b0b5b80-ceb3-11eb-881a-ba9d3158500d.png">

I like the `Hex` there and I think the preview is clear. So some font size/color tweaks along with some changes to spacing might be enough. Perhaps making the

[2021-06-17 08:01] #4430 closed, assigned to seadowg

[2021-06-17 10:22] #4584 closed, assigned to nobody

[2021-06-17 12:33] dimwight commented on #4589
Thanks  for these kind words, but I seem to have misunderstood the spec. If we are happy to lock _all_ instances tagged `STATUS_SUBMISSION_FAILED` then certainly things look much simpler.

Incidentally I've been trying to guess how Collect experiences this issue, might it be a timeout while waiting for the `HttpPostResult` that never comes?

[2021-06-17 15:13] seadowg commented on #4578
@mmarciniak90 @kkrawczyk123 I think we're in a place where we're ready to check this!

[2021-06-17 15:28] lognaturel commented on #4589
Yes, I believe that is sufficient! Using `STATUS_SUBMISSION_FAILED` instead of defining what you described as `STATUS_SUBMISSION_INITIATED` means we'll block edits in cases that we know for sure the server saw nothing about (404s, 500s, etc) but I don't think that's an issue. Reaching that submission failed state means the user either has autosend on or explicitly sent the submission. Either way,

[2021-06-17 15:47] #4579 closed, assigned to grzesiek2010

[2021-06-17 17:02] seadowg commented on #4439
@mmarciniak90 @kkrawczyk123 I think we're now able to do a more full sweep of the new projects features. This includes form update modes, auto send and upgrades from older versions which I think are definitely some of the riskiest/scariest areas. I've tagged you both on an issue around investigating upgrades on devices with a lot of forms/instances as well.

[2021-06-17 19:30] #4604 closed, assigned to seadowg

[2021-06-17 21:48] lognaturel commented on #4606
I did some YOLO merging of #4617 to get most of these good improvements into the beta (and especially the crash prevention). I've also updated the remaining items based on conversation in that PR.

[2021-06-18 13:20] kkrawczyk123 commented on #4578
@seadowg @lognaturel I have just tried update from 1.30 to the newest beta. I had 90 forms, 1000+ submissions and also added offline layers. Everything went well on all my devices (Androids: 8.1, 10 and 11) except the device with Android 5.1 where I wasn't able to open Collect after updating it. I have tried to build the newest master by myself and I was able to use app. Then I tried just to insta

[2021-06-18 15:13] seadowg commented on #4578
@kkrawczyk123 are you saying this happens in 5.1 all the time - not just when upgrading?

[2021-06-18 17:12] lognaturel commented on #4578
On my Android 5.1 Galaxy Tab A, I've tried a clean install straight to v2021.2 from the Play Store as well as v1.30.1 -> v2021.2 from Play Store. Both work without problems so it looks like it has to do with the device status in some way. @kkrawczyk123 could you please check with `adb` whether `/storage/emulated/0/Android/data/org.odk.collect.android/files/projects` exists already? If so, is it po

[2021-06-18 17:21] lognaturel opened #4626 "Always fall back to the "Demo Project" name when the domain is demo.getodk.org and no project name is set"
Tapping on "Try a demo" provisions a project with name "Demo project" and corresponding icon and color. There should be the same behavior in the following cases:
- [x] manually configuring "https://demo.getodk.org" as the URL
- [x] upgrading from a prior version with the server configured as "https://demo.getodk.org"
- [x] scanning a QR code with "https://demo.getodk.org" as the URL and without a

[2021-06-20 19:50] grzesiek2010 opened #4627 "Filling forms with start-geopoint question is broken"
#### Software and hardware versions
Current master branch

#### Problem description
[code]

#### Steps to reproduce the problem
1. Open the attached form and save it:
[start-geopoint.xlsx](https://github.com/getodk/collect/files/6682985/start-geopoint.xlsx)
2. Try to fill another instance of this form.

[2021-06-20 22:35] dimwight commented on #4589
I now have a demo of what looks like a possible resolution, if I put it in as a PR can you let me have your comments?

[2021-06-20 23:16] lognaturel commented on #4589
Absolutely! You can open a draft and later mark as ready.

[2021-06-21 11:36] kkrawczyk123 commented on #4578
It is something extra weird! When I installed Collect from Play store and tried to run it - I don't even have projects folder created on that device with Android 5.1 - app doesn't run like I mentioned before. I tried to restart the device and I was able to run Collect! I checked with adb that project folder has been created. See it on my screenshot - in first check files folder is empty, and in th

[2021-06-21 13:34] #4627 closed, assigned to grzesiek2010

[2021-06-21 13:40] seadowg commented on #4578
@kkrawczyk123 is that consistent for that device? You always have to restart it to get Collect working? Is that just when you install the new version as an update/upgrade or does it also happen when you install fresh?

[2021-06-21 13:47] kkrawczyk123 commented on #4578
@seadowg with a fresh install of the newest beta and when update older versions with beta, both. After resetting the device I am able to use Collect. I don't have to reset the device after opening app again or after killing it.

[2021-06-21 13:52] seadowg commented on #4578
@kkrawczyk123 really weird. I guess the problem is that that launching the app won't work if we can't create that directory anyway, so if it's just that device, I'm not sure what we can do to fix it...

[2021-06-21 14:31] seadowg commented on #4626
@lognaturel on the last case:

If we scan an old QR that's configured with the demo URL, then we won't actually get a URL in the JSON (as the default value is being used). Given that, do we want to end up with "Demo project" when we scan a QR code with **no** URL in the config  instead? Or, do we just want that case to happen for QR codes generated elsewhere?

[2021-06-21 14:38] seadowg commented on #4474
@lognaturel coming back to this now, I'm thinking we go with option 2 (only add new instances on disk when syncing and make sure the app doesn't crash when opening instances with deleted files) and adding analytics to see if this ever actually happens. What do you think?

[2021-06-21 15:06] lognaturel commented on #4626
Good point. I don’t exactly remember these code paths but ideally the name can be set after the URL is set however it ends up being set. So yes, in all cases where the URL ends up being the demo URL, the project name (and thus the icon char and color) should be the same unless they are explicitly overwritten.

[2021-06-21 15:15] seadowg commented on #4626
@lognaturel that makes sense. I'll that case to the issue description.

[2021-06-21 15:18] lognaturel commented on #4474
Sounds good to me. 👍

[2021-06-21 15:25] seadowg commented on #4474
@lognaturel great! I'll update acceptance. I might make it that the sync happens in one place (main menu for instance) so that this logic is a little more contained, but I'll play around with it and work out what's easiest.

[2021-06-22 10:04] #4626 closed, assigned to grzesiek2010

[2021-06-22 14:27] kkrawczyk123 commented on #4462
@seadowg I am not sure if it's a part of this one but I have noticed that sending submissions through CollectTester doesn't work on our beta.

[2021-06-22 14:35] seadowg commented on #4462
@kkrawczyk123 hmm could definitely be related. We'll probably use CollectTester to test changes out when working on this I'd imagine so we can check that again then.

[2021-06-22 15:25] #4578 closed, assigned to nobody

[2021-06-22 15:53] seadowg opened #4632 "Add validation for project details import"
## Acceptance

- [x] Given I've generated a QR code with project details
And the project icon value is something longer than one character
When I try to add a project using the QR code
Then the project imports successfully
And the project icon is just the first character of the value in the QR code

- [x] Given I've generated a QR code with project details
And the project color value is not a vali

[2021-06-23 00:49] lognaturel opened #4634 "Possible ReferenceManager conflict when form filling and/or background form update(s) happen concurrently"
@seadowg pointed out when fixing background form updates for multiple projects that the singleton `ReferenceManager` is a problem if two different projects begin form update jobs at the same time (https://github.com/getodk/collect/pull/4593#issuecomment-856260937) and/or form filling and a form update job start at the same time. I believe this is an existing issue that was introduced by https://gi

[2021-06-23 08:41] seadowg commented on #4634
Yeah, this all makes sense to me! I think the risk of this is going to become greater and greater as people set up multiple projects on their devices. I'm leaning towards us going with "Avoid the need to configure the ReferenceManager in form" but that's based on my assumption that it would require the least rework.

[2021-06-23 12:21] dimwight opened #4636 "Latest Collect can't start in clean AS emulator?"
Looks like it can't finish start-up unless its folder structure is already present.

1. Check out a branch and make sure it's up to date - eg to _Merge pull request #4624_.
2. Cold-boot the emulator, close and restart to refresh Device File Emulator.
3. Open DFE, delete _sdcard/Android/data/org.odk.collect.android_.
4. Make Project, run Collect.
5. 'Launch succeeded' but nothing happens and proces

[2021-06-23 14:44] seadowg commented on #4474
~~@lognaturel do you think we still need to support adding encrypted instances via disk sync?~~

We already added analytics to track this, so clearly we are going to see!

[2021-06-23 19:19] seadowg commented on #4636
@dimwight I'm not able to reproduce this. Which emulator are you using (i.e. which API level) and what do you mean by "Make Project"? I tried using the demo project and creating one manually and both worked fine.

[2021-06-24 07:03] dimwight commented on #4636
Thanks @seadowg for looking into this, it made me retest my little procedure after _wiping_ the emulator instead of just cold-booting. That done, the problem disappears.

To answer your specific points,

A Pixel_3a_API_30_x86 targeting 11.0, from a recent install of AS 4.2.1 64-bit.

Maybe this pickiness/fragility is another Windows vs *nix  issue.

Just the Build>Make Project Ctrl+F9 menu item in

[2021-06-24 07:03] #4636 closed, assigned to nobody

[2021-06-24 08:06] #4474 closed, assigned to seadowg

[2021-06-24 08:24] #4606 closed, assigned to grzesiek2010

[2021-06-24 12:00] seadowg opened #4640 "Fix shortcuts for projects"
## Notes

* The user sees the current project's forms when a setting a shortcut up.
* Shortcuts should work regardless of the current project.
* We should have analytics on this.

[2021-06-24 13:28] kkrawczyk123 opened #4641 "Able to multiclick on Add button on manually enter project details view"
#### Software and hardware versions
Collect v2021.2, Android v all device used...

#### Problem description
I have noticed that I can click on Add button on manually enter project details view multiple times and add the same project multiple times.
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/33342488/123270920-9d420d00-d500-11eb-8b2f-856946929ec6.gif)
(I am not sure why th

[2021-06-24 13:49] grzesiek2010 commented on #4641
I added it to the list of issues https://github.com/getodk/collect/issues/4439

[2021-06-25 04:25] lognaturel opened #4644 "Immediately switch to newly-added project"
Currently, when a new project is added, a toast is shown but the current project is not changed. We initially had designed project addition this way thinking of the case where multiple projects are provisioned at once.

As I've used projects and talked to users about how they plan to use them, I think it will be more common to add a project and then immediately want to do something with that proje

[2021-06-25 10:42] grzesiek2010 commented on #4644
I don't feel strongly against or in favor so if you talked to users and they prefer switching immediately let's do that.

[2021-06-25 12:17] seadowg commented on #4644
@lognaturel yeah pretty indifferent as well. Feel like it'll be hard to get this "right" as I'm sure there will always be cases where switching immediately makes sense and cases where it doesn't.

[2021-06-25 13:21] grzesiek2010 opened #4645 "Make sure the app is protected from multiclicking issues"
#### Software and hardware versions
Collect all versions

#### Problem description
We have had many issues caused by multiclicking:
- https://github.com/getodk/collect/issues/4641
- https://github.com/getodk/collect/issues/4113
- https://github.com/getodk/collect/issues/4088
- https://github.com/getodk/collect/issues/3998
- https://github.com/getodk/collect/issues/3714

and probably more.

We have

[2021-06-25 14:21] #4641 closed, assigned to grzesiek2010

[2021-06-25 15:07] #4632 closed, assigned to grzesiek2010

[2021-06-28 09:27] seadowg opened #4647 "Add warning when opening instance that's already been deleted"
## Acceptance

- [x] Given I've filled out a form in Collect
When I delete the filled form's instance file (via adb or device file explorer)
And I open the filled form in Collect
Then I see a warning that the filled form has been deleted
And I'm kicked out of form entry
And the filled form is no longer available to open

## Notes

We should send an analytics event when opening a deleted instance t

[2021-06-28 15:55] #4644 closed, assigned to grzesiek2010

[2021-06-28 16:21] seadowg opened #4649 "App crashes on Android 8 when adding project via QR code"
The app crashes when clicking "Configure with QR code" on Android 8 with the following exception:

[code]

It also looks like the first launch screen does not respect device orientation on some devices/API levels. This is most likely due to the theme being used and is probably worth fixing at the same time.

## Notes
[Firebase crash report](https://console.firebase.google.com/u/0/project/api-proje

[2021-06-28 16:52] #4634 closed, assigned to nobody

[2021-06-28 17:28] #4649 closed, assigned to seadowg

[2021-06-29 12:29] #4577 closed, assigned to grzesiek2010

[2021-06-29 14:36] abhishekab commented on #4571
@lognaturel I would love to make this as my first issue, can I take this up?

I have identified the problem here. It is basically an issue in utilities/ImageConvertor class. So there is code written to explicitly rotate the image if EXIF rotation is there, this was done to solve Issue [#36](https://github.com/getodk/collect/issues/36). But it actually introduced a problem. So the code rotates the

[2021-06-29 15:05] lognaturel commented on #4108
[`SQLiteCantOpenDatabaseException`](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/07cccfa2bbf3b4e0e4fed4f0a9fcbd76?time=last-seven-days&versions=v2021.2-beta.1%20(4192);v2021.2-beta.2%20(4197)&sessionEventKey=60D76B4C025F00012FFEA13DD6BCFDF0_1556615409982040868)

[2021-06-29 15:29] abhishekab commented on #4571
@getodk-bot claim

[2021-06-29 15:51] lognaturel commented on #4571
Thanks so much for that detailed analysis! We'd very much appreciate your help with this issue. 👍

[2021-06-29 16:09] abhishekab commented on #4571
Thanks a lot @lognaturel . Excited to work on this. I can think of two main approaches to solve this:
1) Remove the explicit bitmap transformation which rotates the image, and preserve EXIF orientation. And make the ImageView displaying the image in ImageWidget sensitive to EXIF just for presentation.

2) Let the explicit bitmap transformation as it is and let it rotate the image, and at the same

[2021-06-29 16:10] lognaturel commented on #4571
Agreed that using EXIF as it's supposed to be used and not rewriting the image would be ideal.

[2021-06-29 16:24] abhishekab commented on #4571
Great, Thanks. Will raise the PR soon.

[2021-06-30 10:07] seadowg opened #4654 "Protect against issues that may come up when removing a project while a background job is running"
## Acceptance

- [x] Given I've set up match exactly for my project
And the background job is currently running
When I navigate to project settings
And click "Delete Project"
Then I see a warning that background jobs are running and to try again in a moment

- [x] Given I've set up previously downloaded updates for my project
And the background job is currently running
When I navigate to project s

[2021-06-30 14:20] #4462 closed, assigned to seadowg

[2021-06-30 15:02] seadowg commented on #3705
This is code actually a lot nicer now, so I think we can close this.

[2021-06-30 15:02] #3705 closed, assigned to nobody

[2021-06-30 20:45] #4647 closed, assigned to seadowg

[2021-07-01 08:19] kkrawczyk123 opened #4661 "Text is wrapped on delete project dialog"
#### Software and hardware versions
Collect v2021.2 beta 2 Android vx.x.x, device used...

#### Problem description
Text is wrapped on delete project dialog what is confusing. Dialog disappears after rotation so user has to open it once again in landscape to see full information. (Except my Android 5.1 device which has small screen - issue is also visible in landscape) I can see that on 3 from 4 d

[2021-07-01 12:59] #4640 closed, assigned to seadowg

[2021-07-01 16:01] #4661 closed, assigned to grzesiek2010

[2021-07-01 19:46] yanokwa commented on #4499
Sorry about the delay, @kkrawczyk123. I have tried this and couldn't repro the behavior I reported earlier. I think it's likely due to my physical location.

That said, it's very interesting what you've found. I'll ask the person who clued me into this issue originally to see if they can repro what you found.

[2021-07-01 19:53] yanokwa commented on #4499
Oh, and @kkrawczyk123 when you say "reduction of accuracy" do you mean it goes from 10 m to 5 m? Or do you mean it goes from 10 m to 15 m?

[2021-07-02 03:59] lognaturel commented on #4464
Are you absolutely sure you saw map tiles in that folder? It's the default Android cache folder and we don't use it. I can't reproduce any tiles ending up there and @grzesiek2010 says at #4659 that they're stored in the default location which is `/sdcard/Android/data/org.odk.collect.android/files/osmdroid/tiles`.

I think what happened is that Collect used to set a custom tile cache path to be abl

[2021-07-02 04:04] lognaturel opened #4666 "Add subtext to existing settings and use outline icons for all settings sections"
This is a first quick step towards [settings improvements](https://forum.getodk.org/t/collect-combine-general-and-admin-settings/34149).

The idea is to update the names of existing settings based on the mockups and add the subtext. This means translators can start on those strings.

Another small change that should be easy to group with the string update is to change existing General Settings sec

[2021-07-02 09:41] kkrawczyk123 opened #4667 "Long server URL is cut off on Projects dialog."
#### Software and hardware versions
Collect v2021.2 Android all, device used...

#### Problem description
When create project with very long URL that doesn't fit in one line on Project dialog, the whole URL is not visible and it is cut off. I agree that it's not a very common case but it still might happen and we should consider if long URLs should be wrapped and displayed with ..... in one line o

[2021-07-02 09:51] grzesiek2010 commented on #4464
I didn't say that I saw anything there I just said that this is the value returned if by: `Configuration.getInstance().getOsmdroidTileCache()` (which we tried to clear during resetting)

but whether it's really used... I don't know for sure.

[2021-07-02 12:44] kkrawczyk123 commented on #4499
@yanokwa I meant reduction like 10m to 15m.

[2021-07-02 13:10] kkrawczyk123 opened #4668 "Unable to save form filled through shortcut when other project selected on Collect"
#### Software and hardware versions
Collect v2021.2 Beta 2, Android v all device used...

#### Problem description
After creating form shortcut from project 1 I am able to fill and save the form. After changing project to another on Collect I am able to use shortcut, fill the form but I am unable to save the finalized form. Toast with error message displays:
![Screenshot (Jul 2, 2021 1_21_44 PM)](

[2021-07-02 13:31] seadowg opened #4669 "Multi project work post release tasks"
- [x] #4482
- [x] Revise STATE.md
- [x] Review notifications for multi project setups (match exactly/auto send failures etc) and failure/retries/analytics

[2021-07-05 05:56] lognaturel commented on #4499
This seems like it would be expected from an app like Collect Tester that doesn't request location data. When returning to Collect, the last point that was read from sensors is now older and so considered less trusted. This makes the accuracy radius worse.

What about using Google Maps or GPS Status, @kkrawczyk123? What a user reported is that he is in Collect and sees a bad accuracy radius (e.g.

[2021-07-05 10:46] grzesiek2010 opened #4671 "Investigate problems with testing preferences using fragment scenario"
#### Problem description
Our preferences are based on fragments so it should be possible to wire unit tests for them using fragment scenario. However there is something wrong with our implementation or with `PreferenceFragmentCompat` which we extend that cause problems with using espresso.

I ran into this issue in the past and now again trying to write more tests for https://github.com/getodk/col

[2021-07-05 12:16] grzesiek2010 commented on #4667
As I said in https://github.com/getodk/collect/pull/4672 I think one line for project name and 2 lines for url would be a good solution for this problem. Let me know if you don't agree.

[2021-07-05 13:44] lognaturel commented on #4667
Looks good to me. 👍

[2021-07-06 13:20] kkrawczyk123 commented on #4499
@lognaturel Toggling between Collect and Google Maps works similar to any other app and after returning I can see worse accuracy but when I use Google Maps ex. look for any locations when I am back to Collect accuracy seems to be slightly better. I have made a gif: https://drive.google.com/file/d/1bA4sr5qoXQ3TrAIv4UADPdzsh6vGxxPc/view?usp=sharing

[2021-07-06 16:15] lognaturel commented on #4499
Thanks, @kkrawczyk123, that's really interesting. I wonder whether it might be because that Google Maps action forces a location reading. Similarly, GPS Status may manually set a higher frequency to read from sensors and/or force always reading from GPS. I'm not really sure there's anything to do around this accuracy question, @yanokwa, unless you want to try to find out whether GPS Status does an

[2021-07-07 08:35] seadowg commented on #4499
~~@lognaturel @yanokwa @kkrawczyk123 could we move any further discussion around accuracy to a different place please? I'll update the issue description, so it's clear what we're trying to achieve here.~~

I'm just going to create a new issue.

[2021-07-07 08:43] seadowg opened #4675 "Move location access to Foreground Service"
This is an output of #4499.

There are several places in Collect where we access the user's location in "the background" (i.e. while the `Activity` is not on screen and there is no active Foreground Service). Android 11 does not allow this.

Location usages in Collect

- Audit events can have lat/long included. Collect gets location updates and passes this to the `AuditEventLogger` so the latest o

[2021-07-07 10:52] #4575 closed, assigned to lognaturel

[2021-07-07 14:21] #4520 closed, assigned to grzesiek2010

[2021-07-07 18:05] #4667 closed, assigned to grzesiek2010

[2021-07-07 18:11] #4425 closed, assigned to grzesiek2010

[2021-07-07 18:34] lognaturel commented on #4464
I evaluated `Configuration.getInstance().getOsmdroidTileCache()` and got `/sdcard/osmdroid/tiles` which makes a lot of sense and does contain tiles. We can't touch that folder and shouldn't anyway.

It may be that we could set our own cache folder but I don't think it's very important and would bring up a number of annoying design issues. @yanokwa agrees with the decision we made to remove this re

[2021-07-07 18:34] #4464 closed, assigned to nobody

[2021-07-07 18:38] yanokwa commented on #4464
And just for the record, there are files in `/sdcard/Android/Data/org.odk.collect.android/cache`, it's just not related to mapping...although `no_pois` definitely sounds mappy!

[code]

[2021-07-07 18:51] lognaturel commented on #4499
We don't do this often but I think investigation issues can be helpful to track a few (possibly) related questions. Creating action-oriented issues seems like the right thing to do once we decide on what to do.

I think https://github.com/getodk/collect/issues/4675 is it for now and we can close this.

[2021-07-07 18:51] #4499 closed, assigned to nobody

[2021-07-07 18:53] lognaturel commented on #4589
Closed by #4655

[2021-07-07 18:53] #4589 closed, assigned to nobody

[2021-07-07 20:19] lognaturel opened #4678 "Write an empty file with project name inside of each project folder"
Project folders on the filesystem are named according to the project UUID. To make it easier to navigate ODK's folders, we will add an empty file whose name matches the project name directly inside each project folder.

- [x] Given I've accessed the ODK projects folder (`/sdcard/Android/data/org.odk.collect.android/files/projects/`)
When I go into a specific project's folder
And I list all files
T

[2021-07-07 20:44] yanokwa opened #4679 "Improve geopoint dialog so it better highlights acceptable accuracy"
#### Software and hardware versions
Collect v1.30

#### Problem description
I've been contact with some projects where data collectors just immediately accept the location that shows up with the default geopoint widget. This gets them 3000 meter accuracy, which is not great. One can add an accuracy constraint (selected-at(.,3) < 10), but it'd be better if we helped users understand better what the

[2021-07-08 08:40] masdar80 opened #4680 "1 security vendor flagged this file as malicious"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

i built an apk from the last version
and i sanned it on https://www.virustotal.com/
why it has thiss security issue?
Android.

[2021-07-08 08:58] #4654 closed, assigned to grzesiek2010

[2021-07-08 13:58] seadowg commented on #4680
Out of interest, I tried scanning the latest beta build using Virus Total and didn't find any problems: https://www.virustotal.com/gui/file/7b49fde429a2a979766899e0813bcd6a18f1d2045ee435cffa085ff82faebc1c/detection. I'm not sure how you ended up with a flagged build, especially since I have no idea in what way you might have modified it.

It could be that there is some heuristic on "DrWeb" that fl

[2021-07-08 13:58] #4680 closed, assigned to nobody

[2021-07-08 16:33] masdar80 commented on #4680
i modified absolutely nothing just clone then gradle sync then build apk.
the same i tried with kobo odk version and i got the same result on virustotal.
is there anything i must take care of befor i build apk???

[2021-07-08 16:58] lognaturel opened #4682 "Move admin settings into protected section of project settings"
The list below is a complement to the [Figma mockup](https://www.figma.com/file/qOwdGX7QgNOAzQ10TVxH6h/ODK-Collect-settings?node-id=7%3A2050) to make it easier to keep track of all needed changes.

- [x] Rename "General Settings" to "Settings" in project selection dialog ([Figma](https://www.figma.com/file/qOwdGX7QgNOAzQ10TVxH6h/ODK-Collect-settings?node-id=7%3A2050))

- [x] Change "General Settin

[2021-07-08 17:32] lognaturel opened #4683 "Provide UI for entering admin password when an admin password is set"
~Blocked by #4682~

- [ ] Given an admin password is set
When I go to project settings
Then I see a locked icon in the upper right side of the app bar
And all of the settings categories in the "Protected" section are disabled

- [ ] Given an admin password is set
When I tap on the locked icon in the upper right side of the app bar
Then I see a dialog prompting me to enter the admin password
[see F

[2021-07-08 18:44] yanokwa commented on #4679
Closing in favor of https://forum.getodk.org/t/collect-improve-geopoint-dialog-so-it-better-highlights-acceptable-accuracy/34246.

[2021-07-08 18:44] #4679 closed, assigned to nobody

[2021-07-08 22:40] #4666 closed, assigned to grzesiek2010

[2021-07-09 09:26] seadowg commented on #4680
It sounds like it might just be a problem with debug builds getting flagged by that particular scanner. Are you worried that Collect might include some ad/spyware? If so, I think scanning signed builds intended for release makes more sense. Also, the code is available to audit here in this repo.

[2021-07-09 09:51] masdar80 commented on #4680
i am sure that Collect doesn't include any ad/spyware , i try to understand what is going on with my build,
at first i built apk after few modifications "nothing in the functionality" then i scanned it , i thought that maybe my changes cause that adware flag.
so i tried to build it as i got it from github, and i got the same result.
i am pretty sure that DrWeb gets confused with something  related

[2021-07-09 14:23] seadowg commented on #1134
Not really sure what the goal is here, so closing this for the moment.

[2021-07-09 14:23] #1134 closed, assigned to shobhitagarwal1612

[2021-07-09 14:25] seadowg commented on #1422
Closing this, as it looks like the issue that it's in service of has already been closed.

[2021-07-09 14:25] #1422 closed, assigned to heyjamesknight

[2021-07-09 14:26] seadowg commented on #1421
Closing this, as it looks like the issue that it's in service of has already been closed.

[2021-07-09 14:26] #1421 closed, assigned to heyjamesknight

[2021-07-09 14:28] seadowg commented on #545
There has been some good progress on this recently (Content Providers are now tested for instance) so I think we can close this.

[2021-07-09 14:28] #545 closed, assigned to nobody

[2021-07-09 14:31] seadowg commented on #3612
We talked a while ago about being more lenient with these, as it's a lot of investment for little gain to keep dialogs on screen during configuration changes. Closing this, but we can create separate issues if anyone feels one of these cases needs to be fixed.

[2021-07-09 14:31] #3612 closed, assigned to nobody

[2021-07-09 14:35] seadowg commented on #4536
Found a work around for this in the end.

[2021-07-09 14:35] #4536 closed, assigned to nobody

[2021-07-09 14:54] grzesiek2010 commented on #4682
@lognaturel @seadowg
what do you think about keeping settings separately after this change (we used separate sharedprefs for general and admin settings)? Should we still have separate prefs for those protected settings or maybe we should merge them (migrate admin prefs to general prefs)?

[2021-07-09 16:33] seadowg commented on #4682
@seadowg long term I think it would be nicer to just have one bucket of settings, but I wouldn't be opposed to keeping them separate for the moment and then revising in the next release. There is a `KeyMover` migration that we've used to move settings from general/admin to meta, so I guess it might be pretty simple.... Whatever is easiest I reckon!

[2021-07-09 16:46] lognaturel commented on #4682
Maybe. 😬 Making this change would mean changing the way settings json is read and written, right? Seems risky to me so even if it's where we're going, I'd rather it be done in another release. That is, unless keeping the two buckets adds a ton of complexity.

[2021-07-09 18:07] grzesiek2010 commented on #4682
Ok I also think it would require too much work. I'll file a separate issue for that.

[2021-07-10 03:44] #4682 closed, assigned to grzesiek2010

[2021-07-13 05:06] lognaturel commented on #3316
Fixed by getodk/javarosa#578

[2021-07-13 05:06] #3316 closed, assigned to nobody

[2021-07-13 10:25] kkrawczyk123 opened #4686 "Able to edit failed submissions through submissions displayed on the map"
#### Software and hardware versions
Collect v master, Android all  device used...

#### Problem description
I have noticed that I am able to edit failed submissions by displaying submissions with geo widgets. It has been missed in #4655

![ezgif com-gif-maker (5)](https://user-images.githubusercontent.com/33342488/125436254-0a0c10da-65d1-4ace-bdab-628e66d78bf9.gif)

#### Steps to reproduce the pro

[2021-07-13 13:32] grzesiek2010 commented on #3343
If you were able to reproduce it just on one device and it's ot a serious bug let's close the issue.

[2021-07-13 13:32] #3343 closed, assigned to nobody

[2021-07-13 13:36] grzesiek2010 commented on #2834
The mentioned class no longer exists so let's close the issue.

[2021-07-13 13:37] #2834 closed, assigned to nobody

[2021-07-13 13:38] grzesiek2010 commented on #2417
This is a very old issue and a lot has changed since it was created so let;s close and file a new one if needed.

[2021-07-13 13:38] #2417 closed, assigned to nobody

[2021-07-13 13:57] grzesiek2010 commented on #1936
We are going to remove Admin Settings and new protected section will have icons so let's close.

[2021-07-13 13:57] #1936 closed, assigned to nobody

[2021-07-13 16:18] seadowg opened #4688 "Remove custom endpoints"
Remove this setting and the analytics event

[2021-07-13 16:20] seadowg opened #4689 "Remove old analytics events"
- [x] URLQuestion
- [x] Prompt
- [x] PreferenceChange

[2021-07-13 16:21] seadowg opened #4690 "Change default form update frequency"
This should change from 15 mins to 1 hour based on analytics that people often increase it. Should change for Match Exactly and Previously Downloaded Only.

[2021-07-13 16:39] seadowg opened #4691 "Investigate the best way to manage dependency versions across modules"
Right now we have a bunch of dependencies shared among modules and have been using version constants to keep them in sync where we can. Is there a better way to do this?

If not, we should sweep the modules we have so far and try and pull out as many constants as we can.

[2021-07-13 19:57] lognaturel commented on #3223
Agreed with @grzesiek2010. The issue links to analytics put in for `current()` in a choice filter. We could only track that because we were only looking in the choice-filter context. `jr:choice-name` could be used anywhere a calculation is used so there's really no hook in Collect to identify that.

[2021-07-13 19:57] #3223 closed, assigned to nobody

[2021-07-13 19:58] #1667 closed, assigned to nobody

[2021-07-13 19:59] lognaturel commented on #2104
Tracked [on the forum](https://forum.getodk.org/t/allow-cropping-image-from-camera-or-gallery/12778) waiting for feedback and a design.

[2021-07-13 19:59] #2104 closed, assigned to nobody

[2021-07-13 20:06] lognaturel commented on #2215
I'm not sure whether this issue is the best way to track this but we do generally have challenges around what the keyboard "enter" should mean and navigation between fields. See forum threads:
- https://forum.getodk.org/t/remove-next-and-back-button-while-filling-text-field-in-odk-collect/33105
- https://forum.getodk.org/t/tab-move-between-form-fields-on-one-page/5620
- https://forum.getodk.org/t/

[2021-07-13 20:14] lognaturel commented on #4690
[These](https://console.firebase.google.com/u/0/project/api-project-322300403941/analytics/app/android:org.odk.collect.android/events/~2Freport~2FPreferenceChange%3Ft%3D1626207014101&fpn%3D322300403941&swu%3D1&sgu%3D1&sus%3Dupgraded&params%3D_u..pageSize%253D25%2526_r..eventId%253DPreferenceChange&cs%3Dapp.m.events.detail&r%3Ddefault&g%3D1) are the analytics I'm looking at. Any others?

My interpr

[2021-07-13 21:42] lognaturel opened #4693 "Make landing screen configuration button constraints more robust"
The constraint between the landing screen QR code and manual configuration buttons currently assumes that the manual configuration label text will be longer. This constraint should be updated so that it doesn't matter which button is wider.

[2021-07-14 08:21] seadowg commented on #4690
@lognaturel huh. I think I misinterpreted from our conversation that 24 hours was the most popular, but I see you meant "other that than the default". Yeah let's not do this!

[2021-07-14 08:21] #4690 closed, assigned to nobody

[2021-07-14 14:09] lognaturel commented on #4690
Sorry, I think I mostly was mumbling to myself. We didn’t really consider the 15min default as much as I would have liked in the first place but now that it’s in effect I think changing it would be disruptive. Maybe it’s good that we just went with it without overthinking — if it’s not causing problems then it is more likely to get users the updates that they need.

I find it interesting that the

[2021-07-14 14:42] seadowg commented on #4690
Yeah I don't know really. It's hard to find the right values for these things. This is especially true given the "push" nature of a lot of these kinds of updates that people are typically used to.

I think I did this before and couldn't see any failures, which led me to believe that it's the phone losing signal. I keep meaning to check logs again, but it often happens when I'm out and about (which

[2021-07-14 17:42] lognaturel opened #4695 "Add protected setting to hide Project display category"
- [ ] When I go to project settings
And I go to "Access control" > "User settings"
Then I see "Project display" below "Server" and above "Theme"

- [ ] When I uncheck "Project display" in "Access control" > "User settings"
And I go back to "Project settings"
Then I don't see the "Project display" category

[2021-07-14 21:30] yanokwa opened #4696 "Location accuracy gets better if you switch to and from another location-based app"
#### Software and hardware versions
Collect v1.30, Android 11, Pixel 3a or Samsung S21

#### Problem description
From a user...

From my testing on a Pixel 3a, I can reproduce this behavior. Opening GPS Status or Google Maps while using the geotrace widget improves the accuracy radius (e.g., 5 m to 3 m). Closing those apps returns to a worse accuracy radius (e.g., 3 m to 5 m). It's very likely thi

[2021-07-15 13:48] ajwad-shaikh commented on #4696
Hi @yanokwa

I was exploring the issue and I came across a definition for location audit in the form [here](https://github.com/ajwad-shaikh/collect/blob/edb3d8c96fcf02b141219f64e067be99c3300d34/collect_app/src/androidTest/assets/forms/setlocation-and-audit-location.xml#L26) which is

[code]

As you can see, this form definition sets the location priority as `balanced`. In balanced mode, `NETWORK_P

[2021-07-15 16:20] yanokwa commented on #4696
The issue is not with the audit location, but the user-facing geopoint. It's described at https://docs.getodk.org/form-question-types/#geopoint-widget and I've attached a sample form here: [Demo.xlsx](https://github.com/getodk/collect/files/6824725/Demo.xlsx)

[2021-07-16 04:23] lognaturel opened #4699 "Don't show active protected settings when admin password is set but has not been entered"
As of https://github.com/getodk/collect/pull/4687, when there is an admin password set but it has not been entered yet, protected settings are all displayed and active. Clicking on them prompts the user to enter the admin password and then refreshes the settings, possibly changing what is displayed.

The original idea behind showing protected settings when admin password is set but has not been en

[2021-07-16 10:05] kkrawczyk123 opened #4701 "Infinite load visible when open Get Blank Form for newly added Google account"
#### Software and hardware versions
Collect v2021.2 Android all device used...

#### Problem description
When testing create/import project settings with Google Drive type I have noticed that I am unable to display Get Blank Form for a newly added Google account that was not previously used on that device:
![Screenshot_20210716-111957_Google Play services](https://user-images.githubusercontent.com

[2021-07-16 10:32] #4675 closed, assigned to seadowg

[2021-07-16 13:43] #4686 closed, assigned to lognaturel

[2021-07-16 16:20] seadowg commented on #4668
Fixing this in a way that doesn't make our form load/save code worse will be pretty time-consuming (and also most likely quite risky). Instead, we're going to stop shortcuts from working regardless of project. The behaviour will be:

* Old shortcuts (made before v2021.2) opened when the current project is the first project will work
* Old shortcuts opened when the current project is **NOT** the fi

[2021-07-17 04:59] #4683 closed, assigned to grzesiek2010

[2021-07-17 04:59] #4695 closed, assigned to grzesiek2010

[2021-07-17 04:59] #4699 closed, assigned to grzesiek2010

[2021-07-19 08:20] grzesiek2010 commented on #4701
This doesn't seem to me like regression. I was able to reproduce the issue installing the current master but also previous releases v1.30.1 and v1.29.5 and at the same time It somehow worked well for me on the same versions so I would say it's random.
I debugged the project and I didn't notice any valuable logs, there is only

but I get it every time no matter if everything works well or not.

I a

[2021-07-19 12:12] grzesiek2010 commented on #4701
@kkrawczyk123 is busy with testing but she said that the version which worked well was from the store and the one which contained the bug she build on her own... that would correspond with what I noticed

[2021-07-19 12:26] grzesiek2010 commented on #4701
Ahh this might be related to https://github.com/getodk/collect/issues/4608

[2021-07-19 15:43] seadowg opened #4703 "Don't allow opening instances outside the current project with `EDIT` action"
Covers behaviour documented at: https://docs.getodk.org/launch-collect-from-app/#using-a-uri-to-edit-a-form-or-instance. We need to make changes because of multi project setups.

- [x] `EDIT` for an instance with a URI without project ID works if the currently select project is the first (chronologically created) project
- [x] `EDIT` for an instance with a URI without a project ID shows a warning

[2021-07-19 15:45] seadowg opened #4704 "`PICK` action should return form and instance URIs with project ID"
- [x] `PICK` for forms should return a URI with the `projectId` query parameter
- [x] `PICK` for instances should return a URI with the `projectId` query parameter

[2021-07-19 18:07] #4668 closed, assigned to seadowg

[2021-07-19 20:49] lognaturel commented on #4701
That's really weird! Publishing status is `in production`.

It's definitely in the same general space as #4608. But I wouldn't expect any change until September. You get the same infinite spin? And then what, you kill the app and reopen?

[2021-07-19 22:37] lognaturel opened #4705 "`IndexOutOfBoundsException` in `ThousandsSeparatorTextWatcher`"
This doesn't bring the full app down but likely leads to bad behavior. From [analytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b0d727a6007d59fcd4d57e0?time=last-ninety-days&sessionEventKey=60F49CA1015A00012292B9898EE38D8D_1565096539000131782) (needs auth):

[code]

[2021-07-20 07:40] grzesiek2010 commented on #4701
as I said I get it pretty much in all attempts if I build the app on my own. If I use Play Store it works well more often but not always (maybe because of the fact that some data is left after doing that on the same device?). Kasia also confirmed that she caught the bug building the app on her own and the after installing the version from the store everything was fine.

So maybe if none of our use

[2021-07-20 10:16] mmarciniak90 opened #4706 "Missing location permission dialog is visible even when permission has been allowed"
#### Software and hardware versions
Collect master

#### Problem description
Missing location permission dialog is visible even when permission has been allowed

#### Steps to reproduce the problem
1. User installs Collect
2. User downloads form with Geo widget (I noticed this when I checked Geotrace widget)
3. User clicks on `Start GeoTrace` button
4. User is asked about location permission
5. Us

[2021-07-20 13:24] grzesiek2010 commented on #4706
This is a strange issue... I was able to reproduce it on API 27 but not on API 29 and 30
It's regression for sure and I found the commit that causes the problem:
https://github.com/getodk/collect/pull/4677/commits/0c7497140716a80df564d9e8b5c9de70715c99c3#diff-c65e1dc7ab55ac6215bbf54427b381edbfa839b083c49ad4e26defd8cabeeeb1R5

@seadowg the change you added in that commit `android:maxSdkVersion="22"

[2021-07-20 14:11] seadowg commented on #4706
Yeah that was auto generated for me, but I thought made sense as you'd get (runtime) permission requests after that right? I'm realizing reading the docs it feels like it still needs to be declared (https://developer.android.com/training/permissions/declaring). I'm guessing the fix will be to just add fine and coarse declarations there and not have any `maxSdkVersion`?

[2021-07-20 14:21] grzesiek2010 commented on #4706
I mean just removing `maxSdkVersion` does the job but then it doesn't make sense to keep that permission there at all since it's declared in `collect_app/AndroidManifest.xml` so there is no need to override it in `location` module right?

[2021-07-20 14:58] seadowg commented on #4706
I think we need it in `location` to avoid build/IDE warnings that we don't have it. We could just suppress them in the module I guess and just expect consumers (`collect_app`) to have the permission declared I guess.

[2021-07-20 16:10] #4703 closed, assigned to seadowg

[2021-07-20 16:10] #4704 closed, assigned to seadowg

[2021-07-20 16:24] grzesiek2010 commented on #4706
Ok you had to create a `Manifest.xml` file for that `location` module to register `LocationTrackerService`. If it's created it has to specify its own permissions (permissions from the main module are not used) right?
That means we should just copy:
[code]
there.

As I understand you got an error:
`Missing permissions required by LocationManager.removeUpdates: android.permission.ACCESS_COARSE_LOCAT

[2021-07-20 16:37] lognaturel opened #4709 "Add overflow menu with QR code import from file to initial project configuration screen"
We know from analytics and talking to users that some people configure projects from QR code images. This is required for workflows in which data collectors are remote or there are devices without cameras/with broken cameras.

This functionality is still available from Settings > Project Management > Reconfigure with QR code but that's pretty buried and it's a big change from v1.30 that would requ

[2021-07-20 16:37] seadowg commented on #4706
Yeah exactly. I'm wondering if a nice way to handle this is to just use the `@RequiresPermission` annotation on our methods in `location` that need permissions. That way, we can avoid doubling up on the permission declaration, but we'll also get a warning in the consumer (`collect_app`) if we don't have permissions there (which we wouldn't get if we use `@SuppressWarnings`).

[2021-07-20 16:43] grzesiek2010 commented on #4706
As i understand we don't need to request those permissions using our `PermissionsProvider` in `location` module right. It happens in the main module and then if it's granted the job is delegated to that new location module?

[2021-07-20 16:59] seadowg commented on #4706
Yeah, we let Collect handle the actual permission request, so I think that even more reinforces just using `@RequiresPermission`.

[2021-07-20 18:06] lognaturel opened #4710 "Project delete does not fully clear state"
- If the last project is deleted, the meta setting for current project id is still set. The implication is that getting the current project results in a different exception which is not the end of the world. I ran into this working on #4707 but I don't really know how important it is.

- There seems to be some settings retained. I don't yet have exact repro steps but I did something like create a

[2021-07-21 02:50] #4678 closed, assigned to grzesiek2010

[2021-07-21 06:28] lognaturel commented on #4710
@grzesiek2010 I see you grabbed this one -- thanks! Please note I just updated the description. The second point seems possibly more concerning though maybe it only affects a pretty unlikely scenario, I'm not sure yet. I think the thing to do is explore this space a bit and think through whether there are any problems that would actually affect users.

[2021-07-21 06:31] grzesiek2010 commented on #4710
Yeah I claimed it but now I see you didn't add it to v2021.2 does that mean it's less important?

[2021-07-21 06:40] lognaturel commented on #4710
I didn’t have time to dig in so I’m not sure. I think we should definitely do a sanity check before release.

The first point I can’t actually think of a user-facing problem from. The second seems worth exploring some more.

[2021-07-21 09:31] grzesiek2010 commented on #4710
Yes we don't clear settings (general/admin) during removing a project so if we remove a project with id 1234 and then create a new one with the same id those old setting will be used. Of course in case of projects that we generate manually or using qr code it's very unlikely to end up having the same id for a new project because we generate it randomly BUT the demo project has always `DEMO` id and

[2021-07-21 12:00] kkrawczyk123 opened #4714 "When hide some user settings, headers are still visible"
#### Software and hardware versions
Collect v2021x, Android vx.x.x, device used...

#### Problem description
When testing regression I have noticed that when hide form management settings or collect anonymous usage data headers connected to that options are still visible when open Form management and User and device identity.
ex. I hid all form management settings except show guidance for question

[2021-07-21 15:49] seadowg commented on #4688
We need to do a forum post (a breaking changes one) for this as well

[2021-07-21 15:56] seadowg opened #4716 "Write up schema for Collect settings"
We eventually want Central to be able to generate a QR code for Collect that contains settings other than just the server URL (customized by the Central user). Central will probably need a reference of what settings Collect supports to help it create the UI and also prevent the two from getting out of sync.

One possibility for this would be to use [JSON Schema](https://json-schema.org/) to define

[2021-07-21 22:40] #4709 closed, assigned to lognaturel

[2021-07-21 22:46] lognaturel commented on #4701
I've tried with the latest signed build from master and can't reproduce. @grzesiek2010 did reproduce on signed builds but only after having experienced it on unsigned builds so it's not conclusively an issue. I agree with waiting to see if we have complaints. Of course, if this comes up on a signed build during regression testing, we should reopen.

[2021-07-21 22:46] #4701 closed, assigned to grzesiek2010

[2021-07-21 23:11] lognaturel commented on #4714
This is definitely nice to have a fix for but doesn't feel essential to me/could go in a point release!

[2021-07-22 00:43] lognaturel opened #4717 "Improve repeats in the hierarchy view"
There are a number of issues with repeats in the hierarchy view that may or may not be related:
- https://github.com/getodk/collect/issues/4570
- https://github.com/getodk/collect/issues/4059 (particularly piece about showing an empty repeat)
- https://github.com/getodk/collect/issues/4569
- https://github.com/getodk/collect/issues/3030
- https://github.com/getodk/collect/issues/4457

It would be

[2021-07-22 00:46] lognaturel opened #4718 "Improve geopoint dialog"
The geopoint dialog currently does not make it easy for users to decide when to accept the point.

- [x] Consolidate suggestions from [forum post](https://forum.getodk.org/t/collect-improve-geopoint-dialog-so-it-better-highlights-acceptable-accuracy/34246) + [#3324](https://github.com/getodk/collect/issues/3324) and share a mockup

[2021-07-22 00:50] lognaturel commented on #3324
Closing in favor of https://github.com/getodk/collect/issues/4718

[2021-07-22 00:50] #3324 closed, assigned to nobody

[2021-07-22 04:29] cooperka opened #4719 "External cascading select shows invalid choices if displayed as field-list"
#### Software and hardware versions

Collect v1.30.1, Android 9, Pixel 2 XL

#### Definitions

What I mean by cascading select: There are multiple levels of choices, each depending on the previous. For example, you might choose **Country > State > City**.

What I mean by external: There are a LOT of options, so we ship it as a separate CSV file using `<input query="instance(...) ... />` in the for

[2021-07-22 05:32] lognaturel commented on #4719
Did you try the standards compliant [external secondary instances](https://docs.getodk.org/form-datasets/)? Is there a strong reason to use “fast external itemsets” (eg you need translations or there are 50k+ items and older devices)? I’d be curious to know where you got the XML spec for it since it’s undocumented.

Do report back on what the bisect finds. I would be surprised if this had ever bee

[2021-07-22 08:09] kkrawczyk123 opened #4720 "Navigation changes in the middle of filling form are not applied correctly"
#### Software and hardware versions
Collect v2021, Android v all, device used...

#### Problem description
on our testing devices, we have noticed issues like:
- In the middle of filling a form set only navigation buttons - I can still swipe
- In the middle of filling form set swipes and buttons (change from other options) - swipes do not work
- when change navigation from buttons only to swipes o

[2021-07-22 08:28] mmarciniak90 opened #4721 "Adding a new project manually is not possible without camera permission"
#### Software and hardware versions
Collect v2021.2 Beta 5

#### Problem description
Adding a new project manually is not possible without camera permission

#### Steps to reproduce the problem
1. Permissions aren't allowed
2. User wants to add new project manually
3. User clicks on ADD PROJECT
4. User is asked about permission - User clicks on DENY
5. User sees a message about camera permission
6

[2021-07-22 10:23] mmarciniak90 opened #4722 "User is able to edit form when editing is disabled if user opens MapActivity view"
#### Software and hardware versions
Collect v2021.5

#### Problem description
User is able to edit form when editing is disabled if user opens MapActivity view

#### Steps to reproduce the problem
1. `Edit Saved Form` is unselected from Admin Settings
2. User opens new MapActivity
3. User sees marker for each form instance
4. User clicks on some marker
5. User is moved to hierarchy view
6. User IS

[2021-07-22 12:22] #4710 closed, assigned to grzesiek2010

[2021-07-23 00:55] lognaturel commented on #4722
This isn't related to the map activity -- View Sent Form now allows edits as well. I think an intent extra to `FormEntryActivity` got lost.

Update: first bad commit was d461b42a0. The problem is that previously, the `formmode` extra was used to differentiate between view and edit. That got lost when the proxy activity was introduced.

[2021-07-23 03:59] lognaturel opened #4728 "ACTION_VIEW for instances does the same thing as ACTION_EDIT"
Currently, whether an instance should be viewed or edited is determined not by the action but by an intent extra `formMode` which can have values `editSaved` and `viewSaved`. Not supplying the extra falls back to `editSaved`.

I think we should start by making the `ACTION_VIEW` action actually view submissions and use that internally instead of the extras.

Eventually we should deprecate the extra

[2021-07-23 09:06] #4720 closed, assigned to grzesiek2010

[2021-07-23 09:06] #4706 closed, assigned to grzesiek2010

[2021-07-23 09:06] #4721 closed, assigned to grzesiek2010

[2021-07-23 12:35] #4722 closed, assigned to lognaturel

[2021-07-23 13:18] mmarciniak90 opened #4730 "Text on first launch screen overlaps if large font size is set in Android settings"
#### Software and hardware versions
Collect v2021.2

#### Problem description
Text on the first launch screen overlaps if a large font size is set in Android settings

#### Steps to reproduce the problem
1. User uses Android device with large font size
2. User opens first launch screen in horizontal orientation
3. Scroll is not available and text overlaps
![Screenshot_20210723-150531_ODK Collect](

[2021-07-23 18:57] lognaturel commented on #4706
I missed some of this conversation and now see there was a discrepancy between what @seadowg suggested and what happened. Suppressing the lints makes a lot of sense to me. Also adding `RequiresPermission` would be a nice improvement though I think just doing that would still result in a lint failure? Anyway, maybe a quick thing to revisit if you felt strongly about it, @seadowg.

[2021-07-25 15:53] dimwight commented on #4570
Took an initial look at this, partly as a way of getting to grips with repeats. The trouble seems to start in `FormHierarchyActivity.refreshView`  on entry to the switch case `EVENT_GROUP`, where `FormController.isGroupRelevant` returns `false`. So maybe a Javarosa issue?

[2021-07-25 22:37] #4438 closed, assigned to seadowg

[2021-07-25 22:37] #4605 closed, assigned to seadowg

[2021-07-26 15:20] mmarciniak90 opened #4732 "Missing margin in the list of projects that are not currently used when RTL language is set"
#### Software and hardware versions
Collect v2021.2

#### Problem description
Missing margin in the list of projects that are not currently used when RTL language is set

#### Steps to reproduce the problem
1. User uses Collect with some RTL language
2. User opens projects list

![Screenshot_20210726-171026_ODK Collect](https://user-images.githubusercontent.com/3907554/127013507-2d142dbd-cbe4-495a

[2021-07-26 19:48] lognaturel commented on #4732
I think there's a deeper layout issue here. It's not so much that there should be margin added at the left but that the start of the project name and project details should be constrained to the end of the project logo rather than the left side of the screen.

[2021-07-27 02:46] lognaturel opened #4733 "When form comes from v1.30 cache, selects from internal instances are broken in v2021.2"
#### Software and hardware versions
Collect v2021.2 betas

#### Problem description
[Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/29c4a0ad7245a5bb01fc22ccf7c46d8a?time=last-seven-days&sessionEventKey=60FCA878004E0001551C15B0B2B3317D_1567092885019574065)

#### Steps to reproduce the problem
1. Open any f

[2021-07-27 03:12] lognaturel commented on #4733
I am quite certain that the issue comes from https://github.com/getodk/javarosa/blob/master/src/main/java/org/javarosa/core/model/FormDef.java#L1204. The absolute form def path is hardcoded in the cache file. This was introduced in https://github.com/getodk/javarosa/pull/445 for significant performance gains.

I think the best solution is to exclude the `.cache` directory from the migration to the

[2021-07-27 15:06] #4714 closed, assigned to grzesiek2010

[2021-07-27 15:15] #4732 closed, assigned to grzesiek2010

[2021-07-27 15:25] #4730 closed, assigned to grzesiek2010

[2021-07-27 16:58] #4733 closed, assigned to nobody

[2021-07-28 07:46] grzesiek2010 opened #4740 "BaseEncoding$DecodingException"
#### Software and hardware versions
Collect v2021.2.0

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/af3e3def7568395f1fe76cadafc4bb5a?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=61009DC6028300010C4FE545FB872E17_1568208913187990777

[code]

[2021-07-28 09:43] seadowg opened #4741 "App can crash if user navigates away during QR code camera permission request"
#### Software and hardware versions
Collect v2021.2

#### Problem description

This is caused by the permission listener being called from a `Fragment` that might not exist anymore if the user navigates away and returns to the app. It's likely that this problem exists in more places than just the QR code scanner.

#### Steps to reproduce the problem

1. Enable "Don't Keep Activities" in Android's

[2021-07-28 10:55] grzesiek2010 commented on #4740
To reproduce the issue try adding a new project scanning QR codes that does not contain our settings like:
https://en.wikipedia.org/wiki/QR_code#/media/File:QR_code_for_mobile_English_Wikipedia.svg

[2021-07-28 11:18] seadowg opened #4743 "EDIT action for forms will crash if there are no projects"
#### Software and hardware versions
Collect v2021.2

#### Problem description

Trying to open a form from a URI or shortcut when there are no projects causes a crash.

#### Steps to reproduce the problem

1. Create a shortcut for a form
2. Delete all the projects in Collect
3. Click on shortcut

#### Expected behavior

Collect should a warning dialog and then close when the dialog is dismissed.

#

[2021-07-28 11:24] seadowg opened #4744 "External apps can launch Collect without a project and cause a crash"
#### Software and hardware versions
Collect v2021.2

#### Problem description

External apps can use URI/actions or exported Activity objects to launch Collect for form picking, uploading etc. If this is done before a project has been set up (or after they've all been deleted) there will be a crash in most cases.

#### Steps to reproduce the problem

We should investigate reproduction for differen

[2021-07-28 11:26] seadowg commented on #4743
This is related to #4744 but warrants being called out separately seeing as it can be reproduced using shortcuts (rather than an external app).

[2021-07-28 12:13] grzesiek2010 commented on #4744
It looks like we need to check if there is any project in our entry points like we used to check storage permissions. If there is no project just close the app or display the First Launch Screen whatever is easier.

[2021-07-28 16:10] seadowg opened #4747 "Don't crash if creating project name file fails"
#### Software and hardware versions
Collect v2021.2

#### Problem description

We're seeing crashes when the app creates the project name file in the project directory sometimes.

#### Steps to reproduce the problem

No idea!

#### Expected behavior

We should just catch an error here and log a timber exception.

#### Other information

Crashlytics 1: https://console.firebase.google.com/u/0/projec

[2021-07-28 18:14] Supriyo9 commented on #2934
Hey , still you didn't find any way except removing the code

[2021-07-28 18:19] lognaturel commented on #2934
Because of the way Play Store restrictions now work, there is no plan to bring back SMS functionality to Collect. [This documentation](https://docs.getodk.org/launch-apps-from-collect/#specifying-a-uri-as-intent-data) and the section it's part of describes how to send an SMS using the default SMS app. [This](https://docs.google.com/spreadsheets/d/1hep9Ibtd2u3rtPviNn8HS0qbwjGoJy4JtZOn6xdHkMk/edit#g

[2021-07-28 20:39] lognaturel opened #4749 "Use explicit intents internally"
The use of implicit intents especially for form filling actions means we can't easily differentiate between activities being launched from outside vs. inside Collect. I brought this up at https://github.com/getodk/collect/issues/4728

Now that I'm seeing crash report logs from v2021.2, I think it would be better if we didn't see `FormUriActivity` for everything that leads to `FormEntryActivity`. W

[2021-07-29 03:54] TomRCummings commented on #3980
Would it be appropriate to add an `InstanceSubmitScheduler` to `FormManagementPrefencesFragment`, which would be used to `ScheduleSubmit` when auto send setting changes?

[2021-07-29 04:55] lognaturel opened #4750 "Catch all errors when recomputing values in a field-list and show a helpful dialog"
[This form](https://docs.google.com/spreadsheets/d/1nzMwwHbFuKU9LEiSwCWDi-2_7T_71KFSnihOFI_YZsY/edit#gid=0) has a select minimal with a value that gets used in a calculate for another select that was previously filtered to have no choices. It causes [this crash](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/15e3697cc

[2021-07-29 08:35] #4740 closed, assigned to grzesiek2010

[2021-07-29 09:03] #4747 closed, assigned to lognaturel

[2021-07-29 11:39] grzesiek2010 commented on #4750
It would be great to catch the exception and throw `FormDesignException` but it's not easy to identify that this is it...
Generally updating field-lit groups is a source of many possible issues so we could maybe just wrap everything in try-catch and display a dialog that something went wrong and it might be a form design issue.

[2021-07-29 13:15] grzesiek2010 opened #4751 "Unable to delete directory /storage/emulated/0/Android/data/org.odk.collect.android/files/.cache"
#### Software and hardware versions
Collect v2021.2.0

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4729455e1e3dfa242dfff05259fe1590?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=61019DC800ED00017E23CE5DBC231659_1568487182557973950

[code]

[2021-07-29 13:27] grzesiek2010 opened #4753 "No Activity found to handle Intent { act=com.google.android.gms.common.account.CHOOSE_ACCOUNT pkg=com.google.android.gms"
#### Software and hardware versions
Collect v2021.2.0

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/7a04f9d4ccad67e6790209bd148f5e13?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=6101BF19002F0001066BEAA02A4271EE_1568524393612857745

[code]

[2021-07-29 14:07] seadowg commented on #3980
@TomRCummings yeah that sounds about right?. We'd just need to schedule a submission (using `scheduleSubmit`) when the setting is turned on. You can probably inject an instance `InstanceSubmitScheduler` using Dagger's `@Inject` in `FormManagementPreferencesFragment` and that would also let you add a test in `FormManagementPreferencesFragmentTest` that checks the interaction with `InstanceSubmitSch

[2021-07-29 14:15] seadowg commented on #4744
@grzesiek2010 I don't think we're looking at working on this quite yet until we've had a chance to discuss whether it's worth it. It'd be quite nice to hear from people experiencing this what kind of integrations they have with Collect.

[2021-07-29 14:19] grzesiek2010 commented on #4744
Ok i just claimed it to take a quick look and I agree that we should probably leave it as is for now. Even if we had checks in all entry points (our activities) the crash still would be possible because for example some injected dependencies (that are setup earlier than those checks I mentioned) might use project id and trigger the exception.

[2021-07-29 14:34] TomRCummings commented on #3980
@seadowg Excellent, that makes sense with what I was thinking. I would be interested in working on this

[2021-07-29 16:08] #4741 closed, assigned to grzesiek2010

[2021-07-29 16:14] seadowg commented on #3980
Great! You can follow the instructions in https://github.com/getodk/collect/blob/master/docs/CONTRIBUTING.md to claim the issue and get started with a contribution back here. Feel free to post any questions here or on our [Slack](https://slack.getodk.org/).

[2021-07-29 16:21] TomRCummings commented on #3980
@getodk-bot claim

[2021-07-29 18:26] lognaturel commented on #4750
That sounds good to me. I've also filed a pyxform issue at https://github.com/XLSForm/pyxform/issues/546 The Collect message could be something like `Failure trying to update values. This is generally because of incorrect usage of calculations in the form design.` + `\n\nR.id.report_to_project_lead`

Then the form should probably just close? It seems there's nothing of value that can be done with

[2021-07-29 21:53] lognaturel opened #4756 "Crash trying to connect to db when current project doesn't exist"
#### Software and hardware versions
Collect v2021.2

#### Problem description
If the project id saved in meta settings corresponds to a project that was deleted from the filesystem, Collect will crash on open. This is likely not a very common operation but given that we now see clear evidence that people are pushing both forms and instances through the filesystem, it wouldn't be surprising if they

[2021-07-30 04:04] lognaturel commented on #4756
I thought we could fix this by updating the current project based on the filesystem at app launch but I don't think that would be sufficient. It seems that what's actually crashing are the background tasks that keep running: [main menu instance count updater](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/07cccfa2bbf3

[2021-07-30 08:01] grzesiek2010 opened #4759 "Exception: java.net.URISyntaxException: Illegal character in authority"
#### Software and hardware versions
Collect v1.30.1+

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/3abdb87d76f4ac9f125f4b3eef28c517?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=61039C9D00A000012CDB79543F45F7E7_1569048866029556996

[code]

[2021-07-30 08:07] grzesiek2010 commented on #4759
This is funny, it's the most common issue in our reports for v2021.2.0 and it's because of having a white space in url (I don't know why it's so common).
Since we already sanitize the url a bit in https://github.com/getodk/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/openrosa/OpenRosaFormSource.java#L147
what about removing white spaces there as well?

[2021-07-30 08:37] grzesiek2010 opened #4760 "Exception: java.net.MalformedURLException: no protocol: /formList"
#### Software and hardware versions
Collect v1.30.0+

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/0eb21b2826f841ac4546edde025cef48?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=6102F10300F000011AF48BD27C5DA83F_1568862901923153964

[code]

[2021-07-30 08:42] grzesiek2010 commented on #4760
This exception is thrown if url is empty or with no protocol. We are protected against cases like that if we add a new project manually or if we set url in server settings but not if we scan a QR code where that value is invalid.

There are two options:
1. We can validate urls that come from qr codes and do not set if they are invalid - I'm not sure if I like it because then users might think that

[2021-07-30 08:47] dimwight commented on #4570
Actually not, there seems to be a trivial fix in `FormHierarchyActivity.refreshView`. Working on a PR.

[2021-07-30 09:14] grzesiek2010 opened #4761 "java.lang.IndexOutOfBoundsException: setSpan (-1 ... -1) starts before 0"
#### Software and hardware versions
Collect v1.15.0+

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b0d727a6007d59fcd4d57e0?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=61027344014100015315687F0CBD839A_1568778612033479734

[code]

[2021-07-30 09:45] seadowg commented on #4756
We could add specific checks to the main menu (probably in `onResume`) and background tasks (autosend, match exactly and auto update) that check whether the current project (or the specified project in the background task case) still exists on disk. For background tasks we just fail early and for the main menu we can fallback to an existing project or just to the launch screen.

Another option wou

[2021-07-30 09:55] #4751 closed, assigned to grzesiek2010

[2021-07-30 12:54] grzesiek2010 opened #4765 "Repeats in 'field-list' groups are not supported"
#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/44e210b9709c05e63a7a9b8906186ff0?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=6102364401A700014F16018A0C782435_1568721843148212031

[code]

[2021-07-30 12:57] grzesiek2010 commented on #4765
It's a form design issue that we are able to identify so I think we shouldn't log it as error. Do you agree?

[2021-07-30 13:00] seadowg commented on #4765
I think it is interesting to see how often it happens. Maybe it should be an analytics event instead?

[2021-07-30 13:03] seadowg commented on #4759
What does the user see in this case?

[2021-07-30 13:03] grzesiek2010 commented on #4759
`If you keep having this problem, report it to the person who asked you to collect data.`
It doesn't help.

[2021-07-30 13:14] seadowg commented on #4759
Hmmm. It does feel like it'd be nice to fix in some way. I have two worries about sanitizing out spaces:

1. Some users might expect spaces to be URL encoded (in a path for instance) which might be the right thing™️ to do here - although it doesn't solve the problem.
2. Sanitizing would let "incorrect" URIs in QR codes work in Collect but not other clients that might end up supporting the QR code

[2021-07-30 13:17] grzesiek2010 commented on #4759
Better validating would be great we should also catch that exception separately I think and display something that people will understand (that there is something wrong with the url) instead of `If you keep having this problem, report it to the person who asked you to collect data.`

[2021-07-30 13:25] grzesiek2010 commented on #4759
We should probably start with what is least risky:
- better error messaging
- then better url validating
- and then if needed url sanitizing

[2021-07-30 13:27] seadowg commented on #4759
Yeah agreed. We actually have better error messaging in for 2021.3 I've just realized: https://github.com/getodk/collect/issues/4489. Thinking we just include this as a case in that issue and close this?

It looks like we also want to consider validation for https://github.com/getodk/collect/issues/4760, so maybe that can drive that out.

[2021-07-30 13:28] seadowg commented on #4489
We need to discuss exactly how we solve this. One idea has been to include an expandable section in the error dialog that shows the exception message.

[2021-07-31 02:38] #4749 closed, assigned to seadowg

[2021-07-31 07:43] mmarciniak90 opened #4766 "Empty file with project name inside project folder is not recreated"
#### Software and hardware versions
Collect v2021.2

#### Problem description
Empty file with project name inside project folder is not recreated

#### Steps to reproduce the problem
Use case 1 - special characters
1. User opens Settings -> Project display
2. User changes `Project name`
3. User puts a few special characters
4. Empty file with project name inside project folder is not created

Exam

[2021-07-31 21:15] lognaturel commented on #4766
@mmarciniak90 you tried this on the released version, right? Could you please try it on `master`? I think this is likely a duplicate of https://github.com/getodk/collect/issues/4747

[2021-07-31 21:15] #4761 closed, assigned to grzesiek2010

[2021-07-31 21:19] lognaturel commented on #4756
~This is what I initially had in mind but I got the sense that it would be too late -- that some of the tasks running in the background would already have "captured" the projectid. But maybe I'm wrong about that! In any case, it's the biggest crash we have with no sign of slowing down so I do think we should address it sooner than later. If it is the case that doing some fallback on app launch wou

[2021-08-01 17:21] lognaturel opened #4767 ""Fast external itemsets" don't work after upgrade"
#### Software and hardware versions
Collect v2021.2

#### Problem description
https://forum.getodk.org/t/problem-on-external-choices-after-application-update/34546

#### Steps to reproduce the problem
1. Download a form with a "fast external itemset" in a prior version
2. Upgrade to v2021.2

#### Expected behavior
Choices are visible.

#### Other information
This is some kind of path issue. If we'

[2021-08-01 22:25] lognaturel opened #4768 "Provide a path for external gps sensors to report accuracy"
As of Collect v1.30, the accuracy of points coming from the mock location provider is always submitted as 0. This was intended to identify points coming from location mocking apps. It turns out that external location sensors provide location through such apps. As far as I know, there’s no way to differentiate between the two but that would be a good thing to confirm.
https://forum.getodk.org/t/sho

[2021-08-02 08:30] seadowg commented on #4756
I think our solution here (as you've said before) is to remove any projects that don't exist any longer on disk from the projects repository, and then fall back to one that does exist if the current has been removed. We'd also have to just clear the current project if all the projects are gone. I don't want to accidentally add support for copying projects on to disk (and have Collect add them) her

[2021-08-02 09:30] grzesiek2010 commented on #4767
Fast external itemsets are based on external csv files. For such a file we build a table in itemsets.db which look like:
![Screenshot from 2021-08-02 10-30-08](https://user-images.githubusercontent.com/3276264/127832253-e20abc84-3e89-4fec-9209-a2680f41fe52.png)

its name is generated automatically when the data is imported to the database (when we open such a form for the first time) and it is `it

[2021-08-02 10:02] grzesiek2010 opened #4771 "Permission denied when attempting to load settings barcode image to create project"
#### Software and hardware versions
Collect v2021.2.0

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/da090a79d435fa34b7094f7d3e6377b6?time=last-seven-days&versions=v2021.2.1%20(4250)&sessionEventKey=6106E410007B00015CF0CF03527E49C5_1569972022866465907

[code]

[2021-08-02 10:05] grzesiek2010 commented on #4771
@seadowg in firebase note you said that it's about missing files but in fact I think it's more about permission and maybe we could try fixing it by using our `requestReadUriPermission()` method: https://github.com/grzesiek2010/collect/commit/12a0d13f1681dc22c6d8f3de91204f8543553e96
we do the same in other places where we access files. What do you think?

[2021-08-02 10:28] mmarciniak90 commented on #4766
@lognaturel you're right, the crash no longer occurs but there is still an issue with an empty file inside the project folder. The file is not created for these examples so I'm going to change the description.

[2021-08-02 16:07] #4750 closed, assigned to grzesiek2010

[2021-08-02 16:56] #4767 closed, assigned to grzesiek2010

[2021-08-02 17:32] lognaturel commented on #4771
@grzesiek2010 Have you tried to reproduce? I wonder whether this could be related to some weird storage usage that GBWhatsApp makes.

I only considered getting an image from `Downloads` or some other public space. I'm surprised that the file picker will list files into other apps' space. And I'd expect that if the file picker could access it then the app that called the file picker would also have

[2021-08-02 17:41] lognaturel commented on #4771
Do you think your fix would address something like [this](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/da090a79d435fa34b7094f7d3e6377b6?time=last-seven-days&versions=v2021.2.1%20(4250);v2021.2.0%20(4242)&sessionEventKey=61055BD7017E000134DF22C55568F18E_1569540585939609229)?

[2021-08-03 08:59] grzesiek2010 commented on #4771
No I haven't.

Yeah I think it should handle that case.

I think we can give it a try it's a safe fix.

[2021-08-03 11:58] lognaturel commented on #4771
Let’s do it!

[2021-08-03 11:59] grzesiek2010 commented on #4771
Ok I'll create a pull request

[2021-08-03 13:50] seadowg commented on #4756
New plan (as @lognaturel discussed on Slack) is just to create project directories on the fly if the current project doesn't exist. That way we don't have to bother with a "sync" at all and we prevent any crashes due to non existent directories.

[2021-08-03 14:30] #4753 closed, assigned to grzesiek2010

[2021-08-04 08:12] #4771 closed, assigned to nobody

[2021-08-04 08:49] grzesiek2010 opened #4776 "picking an image with settings might be spoiled"
#### Software and hardware versions
Collect all versions

#### Problem description
I discovered that on my emulator I can't pick a file with settings.
After a quick investigation the problem seems to steam from the fact that we use `ACTION_PICK` building an intent to trigger this action. Looks like `ACTION_GET_CONTENT` should be used instead https://developer.android.com/reference/android/content/

[2021-08-04 12:04] aasim-syed commented on #4480
under what folder does this come? I think i can help!

[2021-08-04 14:49] #4756 closed, assigned to seadowg

[2021-08-04 20:40] ChrisHilborne commented on #4476
Hi,

If this is still available I'd like to have a look at it.

Thanks

[2021-08-05 12:46] seadowg opened #4778 "Improve QR code scanning/project creation code flow"
We should timebox this to a 3/4 days at most but we've identified that it'd be nice to give this code some love now we've got the projects features out. Things to improve here would be:

- [x] Remove `ProjectImporter` - it's not clear that it has any responsibilities that don't fit into the `ProjectCreator`
- [ ] Deduplicate code that handles scanning QR codes with camera in `QRCodeProjectCreatorD

[2021-08-05 12:50] seadowg opened #4779 "Measure how popular each form management mode is"
We lost this during the release of 2021.2 as we decided we didn't want to spend time adapting the user property work with multiple projects. We should find a way to measure this again for the next release.

[2021-08-06 10:44] seadowg commented on #4489
It would be good to close #1703 as part of this.

[2021-08-09 09:47] #4439 closed, assigned to nobody

[2021-08-09 10:07] kkrawczyk123 commented on #4744
I was able to reproduce it using Collect Tester app by opening Fill Blank Form, Edit Saved Form and View Sent Form when there are no projects created on Collect.

[2021-08-09 13:25] #4576 closed, assigned to seadowg

[2021-08-09 13:32] seadowg commented on #4489
I've put together a mockup of an idea for a new "Errors" screen we could use to show the details of multiple errors: https://www.figma.com/proto/XaN5etTC2Br1AyVJ1IqNi0/Errors?page-id=0%3A1&node-id=2%3A2&viewport=207%2C348%2C0.6222753524780273&scaling=scale-down.

My idea is that each error would have a title (for form downloads this would be the form name), a human error message (the exception mes

[2021-08-09 14:45] seadowg commented on #4688
Breaking changes announced [here](https://forum.getodk.org/t/custom-server-paths-setting-will-be-removed-from-collect-v2021-3/34660).

[2021-08-09 15:05] lognaturel commented on #4489
Having a separate errors screen is a good idea! If possible, I think it would be ideal for the same human-readable error message to be shown in the initial dialog rather than just “Failure”. Often that’s enough information so there’s a lot of value to it being immediately skimmable without having to navigate away.

[2021-08-09 16:31] seadowg commented on #4489
@lognaturel I'm almost tempted to say we don't show individual form details on that failure dialog at 'Get Blank Forms' - we could just go with something even simpler like "Form downloading failed" and rely on "Show details". It seems like it's really hard to come up with something that's going to be easy to comprehend with the screen real estate there, given we might have some forms succeeding an

[2021-08-10 11:30] grzesiek2010 commented on #4691
I think this article is a good summary of the options we have: https://proandroiddev.com/how-to-manage-dependencies-in-multi-module-project-84620afbb415
We use the first one now and to me the last option is what we should implement.

Mitch Tabian has a good sample of it here: https://github.com/mitchtabian/Clean-Notes/tree/master/buildSrc
I like the way he keeps different kinds of dependencies in

[2021-08-10 12:47] mmarciniak90 commented on #4489
I agree with you that a human-readable error message is needed for sure. The "Failure" status is not enough, especially since the status is not highlighted somehow, the user may overlook it. Can you consider making this text bold?

I do like your idea. The user can see details (and share them) but is not overwhelmed by information on the first page.

In match exactly we have a bit different situat

[2021-08-10 12:53] seadowg commented on #4489
Maybe we could do something like this: if all forms succeed in downloading, just have a dialog that says something like "Form downloads succeeded" and then in cases where form downloads fail we could just list the ones that failed (and have the show details button). What do you think? I can mock that up if it's useful.

Is there any chance to add this behavior to match exactly?

I'm thinking we'd

[2021-08-10 12:57] seadowg commented on #4691
Oh, I'm a big fan of the `buildSrc` route (which I think is the one you mean)! Eventually we could have different files for different kinds of dependencies, but initially being able to type `Dependencies.mockito` and just get what you want would be so nice!

[2021-08-10 12:57] grzesiek2010 commented on #4489
Generally I like that idea. I'm wondering if we shouldn't keep it in one dialog and instead of having `Show details` button make the failures expandable. I know it would blow the dialog in case of many forms but do people really download multiple forms at once? I would rather expect them downloading 1 maybe 2 forms.

[2021-08-10 12:59] grzesiek2010 commented on #4691
yes!

Ok so I'll go ahead and implement that way. I was about to update dependencies like after every release so maybe I'll do that in one pr if you don't have anything against.

[2021-08-10 13:53] seadowg commented on #4489
I guess my thinking around the separate screen really came from the idea that we'd need a way to show these errors in the match exactly case as well. For context, I'm making an assumption that over time Match Exactly will be more popular than Manual form management, and so I guess I'm designing for that first and then working out how Get Blank Form can fit in. Another factor is that there has been

[2021-08-10 14:39] seadowg commented on #4778
@grzesiek2010 we should discuss this

[2021-08-10 14:50] seadowg commented on #4594
We can reproduce this with Match Exactly errors in the notification. We should look at hiding the key wherever we show the URL (including the settings screen). We should make sure we can still copy/paste the URL wherever it appears.

[2021-08-10 16:38] Sidra-adnan opened #4783 "Facing issue with the upgrade version of ODK Collect app (v2021.2.2)."
1. **What is the problem be very detailed?**
Facing issue with the new version of odk collect app (v2021.2.2).

First test run results:
•	ODK collect keeps stopping.
•	 We were unable to fill the forms properly.
•	Unable to send final submissions to the server.

Second test run result:
•	Got error on the same question, and now because of incorrect usage of calculation in the form, but this issue w

[2021-08-11 04:48] lognaturel commented on #4489
I like where the conversation is going and just want to highlight a few things that are related in my mind (and probably need their own issues):
- I think we’ve talked about showing an error dialog directly when in match exactly mode and manually triggering a form refresh. Getting a notification in that flow is subtle and not all that helpful (as @grzesiek2010 pointed out). Whether or not we’ve di

[2021-08-11 06:24] grzesiek2010 commented on #4783
Hi @Sidra-adnan
Thanks for the detailed description that really helped to track down the issue quickly.

Your form has a form design issue in the way you use dynamic defaults. A short answer would be: You need to add a `trigger`. Please read the documentation: https://docs.getodk.org/form-logic/#dynamic-defaults-from-form-data
Here you can find an explanation of the same problem if you want to kno

[2021-08-11 06:24] #4783 closed, assigned to grzesiek2010

[2021-08-11 12:40] seadowg opened #4784 "Add shared map layers directory"
From https://forum.getodk.org/t/use-reference-layers-across-several-collect-projects/34601.

Right now, if users want to add map layers, they can add them to the project level `layers` directory. This means if a layer is shared between multiple projects, it will need to be copied onto the device multiple times, which could end up wasting a lot of storage. We should add a shared `layers` directory

[2021-08-11 12:41] seadowg opened #4785 "Add documentation for content providers"
We should add docs (probably to https://docs.getodk.org/launch-collect-from-app/) for how other apps can query forms and instances in Collect. For the moment, the intention is to remove mutation methods from the content providers, so we shouldn't document those. Things to include (and potentially improve in Collect):

- [ ] How to get the list of forms and instances
- [ ] How to get an individual

[2021-08-11 13:47] #4776 closed, assigned to grzesiek2010

[2021-08-11 14:23] seadowg opened #4787 "Improve Match Exactly notification experience"
Match Exactly notifications currently have two problems we've identified:

1. Clicking a failure notification will open the "Fill Blank Form" screen for the current project, which might not be the project that experienced the error
2. Failures happen pretty frequently - just under 20% syncs will result in an failure notification ([here](https://console.firebase.google.com/u/0/project/api-project-3

[2021-08-11 14:34] seadowg commented on #4489
That's a good point. I'm thinking that pushes us more and more towards a simpler dialog (that only shows for failure) that allows clicking through to details. I think we build this for Get Blank Forms with the knowledge the flow should basically be the same (and mostly reusable) for these other parts of the app. My thinking is that should be pretty easy if the whole thing just deals in lists of `E

[2021-08-11 14:38] #4669 closed, assigned to seadowg

[2021-08-12 07:02] Sidra-adnan commented on #4783
Hi @grzesiek2010,

Thank you for your swift response. This was helpful!
I hope this minor change will not affect the submissions that are already there on odk central?

Regards

[2021-08-12 07:56] grzesiek2010 commented on #4783
if you update your form and download a new version everything should be fine.

[2021-08-13 04:24] cooperka commented on #4719
Confirmed this behavior exists at least as far back as Collect v1.28.4 (Nov 2020), so I'm not gonna try to mess with it~~

Thanks for the documentation, I'm sure this external CSV feature in NEMO was written too many years ago to try to justify supporting it here, so we'll make changes on our end to resolve this. Cheers.

[2021-08-13 04:24] #4719 closed, assigned to nobody

[2021-08-13 11:01] grzesiek2010 commented on #4787
In case of `Match Exactly` triggering new downloads maybe would make sense to solve some random failures but I'm afraid that that percent (of random failures) might be relatively small.

[2021-08-14 23:58] qlands opened #4790 "Support complex Emojis as icon in Collect"
#### Software and hardware versions
Collect v2021.2.3

#### Problem description
The multiple project feature is brilliant. Currently, the Icon can handle one character which is great for emojis. But it would be good to support complex emojis like the Argentina Flag (:argentina:) which combines 2 unicode characters.
#### Steps to reproduce the problem
Just try to use comple Emoji like  the Argentin

[2021-08-16 01:47] lognaturel commented on #4787
The random failures are things both @seadowg and I have experienced on test devices. I believe he has looked at server logs and confirmed requests are not making it to the server. I’ve had it happen on wifi in my office but I seem to recall he’s only seen it when walking around.

I think it definitely makes sense to retry in the case of requests not making it out to the server. It might make sense

[2021-08-16 03:13] lognaturel commented on #4489
A simple dialog is feeling reasonable to me as well. Could the message be generic in the case of success (“all forms/submissions succeeded”) and have a count of failures in case of issues (“2 of 3 forms/submissions failed”)?

[2021-08-16 04:53] lognaturel opened #4792 "Username isn't updated correctly when switching projects"
#### Software and hardware versions
Collect v2021.2

#### Problem description
When switching between projects, the username preload doesn't get updated. I haven't tried it but I assume that the same problem exists with phone number and email.

#### Steps to reproduce the problem
1. Create a form that accesses the username such as [this one](https://docs.google.com/spreadsheets/d/15Tp1CauiRuTgudfZ6

[2021-08-16 08:24] seadowg commented on #4787
That's a great point. We probably only want to do this for `Unreachable` exceptions initially and see if that reduces the error rate significantly.

[2021-08-16 08:27] seadowg commented on #4489
Yup, that's what I'm thinking ("in cases where form downloads fail we could just list the ones that failed"). I think you're right that we don't even need to list the failed forms, though, just the number that went wrong. I can redo the mockups and now that it seems we're all thinking along the same lines!

[2021-08-16 08:40] grzesiek2010 commented on #4792
Right `PropertyManager` needs to be reloaded and we would need to do that every time the current project is changed:
-switching a project
-adding  a new project
-deleting a project
-existing project migration

so it might happen in many places and I think that handling all those cases separately would be risky and in the future we might add something and forget to add reloading properties again.

[2021-08-16 09:06] seadowg commented on #4743
Moving this into the 2021.3 mileston as it's hitting a few people in 2021.2 and feels like it would be nice to solve. My thinking is that Collect should just show a warning and close.

[2021-08-16 09:15] grzesiek2010 opened #4794 "Review and fix new pmd/checkstyle rules"
#### Problem description
It's been a while since we last reviewed our pmd/checktyle rules.
After every release we update dependencies including pmd/checktyle what sometimes brings new rules that we just ignore. It would be good to review them and fix if it make sense.

[2021-08-16 10:17] seadowg commented on #4572
Primary and secondary colors are going to just be: #3e9fcc and #bd006b (the "website" blue we are using and magenta from Central). This is demo'ed in the Material Color Tool (and text/dark/light colors can be exported from) [here](https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=3e9fcc&secondary.color=bd006b&primary.text.color=000000&secondary.text.color=ffffff). We'l

[2021-08-16 10:22] #4691 closed, assigned to grzesiek2010

[2021-08-16 13:42] grzesiek2010 opened #4795 "Different behavior using choice_filter with normal choices and choices from an external csv file"
#### Problem description
I noticed different behavior using `choice_filter` with normal choices and choices from an external csv file.
I have a form that contains two select questions where the list of choices in the second question should contain only those selected in the first one.
It works well if I use normal choices but not with external choices.

#### Steps to reproduce the problem
Test the

[2021-08-16 20:05] #3980 closed, assigned to TomRCummings

[2021-08-17 11:15] seadowg commented on #4489
Ok I've updated the [prototype](https://www.figma.com/proto/XaN5etTC2Br1AyVJ1IqNi0/Errors?page-id=0%3A1&node-id=2%3A2&viewport=241%2C48%2C0.62&scaling=scale-down&starting-point-node-id=2%3A2) with an even simpler dialog and added clicks in. Let me know what you think!

[2021-08-17 13:14] grzesiek2010 commented on #4787
That makes sense.

[2021-08-17 13:25] grzesiek2010 commented on #4489
I added one comment about having title and message vs just title.

[2021-08-17 14:48] mmarciniak90 opened #4798 "Multiple clicks on Settings open up unexpected views"
#### Software and hardware versions
Collect v2021.2.x
Android 5.1, 8.1, 9.0, 10.0

#### Problem description
Multiple clicks on `Settings` open up unexpected views

#### Steps to reproduce the problem
1. User opens a dialog with a list of added projects
2. User clicks multiple times on `Settings`
3. User is able to open view from the Main menu and goes to some view in settings

#### Expected behavi

[2021-08-17 15:34] seadowg commented on #4792
We still need to merge the changes into master to close this.

[2021-08-17 17:21] dimwight commented on #4457
This looks interesting, but I can't reproduce (despite the admirably clear description) using this [slightly reworked form](https://github.com/getodk/collect/files/7001824/names.4457_.xlsx). Just a single press of the up button works fine?

[2021-08-17 21:00] #4792 closed, assigned to grzesiek2010

[2021-08-18 10:30] grzesiek2010 commented on #4508
I've investigated the issue and there is no one sequence of events, it's possible that:
1. Contextual menu is displayed then swiping is detected and handled
2. Contextual menu is displayed when swiping is being handled
3. Swiping is detected and handled and then contextual menu is displayed

That means there is probably no one perfect and easy solution... but I can at least:
- fix the case number

[2021-08-18 12:18] #4689 closed, assigned to grzesiek2010

[2021-08-18 12:40] Unreal-Dreams commented on #4798
@mmarciniak90  I would love to make this as my first issue, can I take this up?

I have identified the problem here. I think this issue can basically be resolved by disabling the button with setEnabled(false) until it is safe for the user to click it again or we can also save the last time the button was clicked and use that to resolve the issue.

[2021-08-18 12:54] grzesiek2010 commented on #4798
@Unreal-Dreams
You can work on this issue but you should use the same solution like we do in case of other clickable elements: `MultiClickGuard`/`MultiClickSafeButton`

[2021-08-18 13:02] Unreal-Dreams commented on #4798
Sure @grzesiek2010 I will keep that in mind.

[2021-08-18 13:07] Unreal-Dreams commented on #4798
@getodk-bot claim

[2021-08-19 05:36] Unreal-Dreams commented on #4798
@grzesiek2010 Can you please review my PR?

[2021-08-19 14:02] seadowg opened #4806 "Stop using DatePickerDialog and TimePickerDialog"
These components are within the Android SDK so are API level dependent and also rely on the older (and basically abandoned) `android.app.AlertDialog` as opposed to the newer components that the Android team actually cares about. The simplest route forward is to probably use `MaterialCalendar` and our spinner implementation in `CustomDatePickerDialog` to implement the date/time widget appearances t

[2021-08-19 14:17] seadowg commented on #4572
I've created #4806 as I think we're going to need to do that long term to maintain any sanity (these things are pretty much unmaintained as far as I can tell).

[2021-08-19 14:39] dimwight commented on #4795
Hi @grzesiek2010, do you have an XLS source you could upload? Being able to quickly tweak the form makes it easier to explore an issue such as this.

[2021-08-19 17:40] niranjannsahoo opened #4807 "Blank form not showing"
Get blank form successfully download but fill blank form not showing.sqlite error exception deleted_date not a column

[2021-08-19 20:51] grzesiek2010 commented on #4778
I agree.

Probably in `QRCodeProjectCreatorDialog` we should embed another fragment (that inherits from `BarCodeScannerFragment`) instead of having `com.journeyapps.barcodescanner.DecoratedBarcodeView` and handling scanning there so that the code responsible for scanning is shared.
![Screenshot_1629405471](https://user-images.githubusercontent.com/3276264/130141003-da17d95a-c36f-4fbd-aae0-ef3a335d

[2021-08-19 20:53] grzesiek2010 commented on #4795
Yeah I think it was this:
[choiceFilterTest.xlsx](https://github.com/getodk/collect/files/7017647/choiceFilterTest.xlsx)

[2021-08-19 21:19] grzesiek2010 commented on #4807
Hi @niranjannsahoo
could you provide more info about the issue and how to reproduce it?
- ODK Colect version
- Does the app crash or it's a handled exception (in the first case please attach logs if possible, in the second case a screenshot)
- If it happens in case of one form please share it

[2021-08-20 01:55] niranjannsahoo commented on #4807
Hi,
1. ODK Collect version collect-2021.2.4
2. 2021-08-20 07:15:13.868 12213-16042/org.ifodk.collect.android
E/AndroidRuntime: FATAL EXCEPTION: ModernAsyncTask #2
    Process: org.ifodk.collect.android, PID: 12213
    java.lang.RuntimeException: An error occurred while executing
doInBackground()
        at
androidx.loader.content.ModernAsyncTask$3.done(ModernAsyncTask.java:164)
        at
java.uti

[2021-08-20 10:42] #4688 closed, assigned to grzesiek2010

[2021-08-20 11:29] seadowg commented on #4807
@niranjannsahoo is this using Collect downloaded from the Play Store or in a development version where you've made changes to the code?

[2021-08-20 11:54] seadowg commented on #4508
All those sound like useful changes. It does feel like a lot to keep track of and hard to test, but I'm not sure if I have any better suggestions (other than rewriting how swiping works which is scary).

[2021-08-20 11:56] seadowg commented on #4716
Initial plan here is to spike on some different ideas on the Collect side and see what seems the most useful from there.

[2021-08-20 14:54] seadowg commented on #4716
An example of JSON Schema for Collect settings (just validating a couple of fields for now):

[code]

[2021-08-20 15:34] seadowg commented on #4716
And validation in Kotlin would look like this with [json-schema-validator](https://github.com/java-json-tools/json-schema-validator) (with the schema as a raw resource):

[code]

[2021-08-20 20:44] lognaturel commented on #4489
I’m having trouble viewing comments so forgive me if this is redundant. It’s not clear to me what “Form 1” and “Form 3” are placeholders for. I think it’s important that the forms are identified as explicitly as possible when their identity is known. Form id and version are helpful because they get at the unique form definition that failed (as opposed to form title which may be shared between many

[2021-08-21 12:05] dimwight commented on #4795
The key point seems to be that in `ItemsetDao`, `getSelectionStringAndPopulateArguments` expects `queryString` to contain '=', as do queries in _[selectOneExternal.xml](https://github.com/getodk/collect/files/7025462/selectOneExternal.zip)_ for instance.

Missing the '=', it in effect ignores the query so no filter is applied.

I don't have the expertise to fill such a gap, unless we think it's wo

[2021-08-22 02:37] lognaturel commented on #4795
Let’s make sure we’re really explicit about which external csv feature is used when filing such issues — there are three with different expected behavior!

As @dimwight notes, “fast external itemsets” don’t use choice filters in a generic way. There’s no expectation that they work for anything other than equality expressions and I don’t think we should change that.

The documented, standards-compl

[2021-08-22 09:31] dimwight commented on #4795
Thanks @lognaturel for these encouraging words and for clarifying the underlying issue. In the example from @grzesiek2010 the XLS tries to use `select_one_external` which of course calls up a fast external itemset.

Perhaps a user tripped up here might be glad of an informative message about this gap in a largely undocumented feature. I'd be happy to have a go at this if someone can point me at a

[2021-08-22 21:21] dimwight commented on #4487
I've been working on a fix for #3027 that looks promising, I'd like to test it against this issue. Any chance of a form (XLS if possible) that illustrates it?

[2021-08-23 09:13] seadowg commented on #4489
Oh I was thinking these would be form display name. I think I agree that for debugging we should have id and version as well. I'll add that to the mockup.

[2021-08-23 09:17] seadowg commented on #4716
@grzesiek2010 let me know what you think when you get a chance

[2021-08-23 09:39] seadowg commented on #4489
Ok I'm going to add acceptance and the mockup to the description and remove the "needs discussion" from this now.

[2021-08-23 11:26] seadowg commented on #3307
This is pretty out of date now. There is some basic coverage of auto send which is good but definitely more work to be done! Closing this as it doesn't feel like it needs tracked as an issue.

[2021-08-23 11:26] #3307 closed, assigned to nobody

[2021-08-24 04:58] gp-agtech opened #4808 "@grzesiek2010 I have tested the changes on the android versions mentioned in the issue i.e Android 5.1, 8.1, 9.0, 10.0, and everything works fine. No unexpected behavior is present in the settings button. If there are any more steps in testing please let me know. Thank You!"
I wonder whether android 7.1 support ODK collect.
Any clues? Looking into buying this phone for ODK collect https://www.sunmi.cz/en/sunmi_l2k.html

[2021-08-24 08:40] grzesiek2010 commented on #4808
We support android 5.0 and newer versions. If you want to ask about the recommended device you can search the forum https://forum.getodk.org/ as I remember there were similar topics or create your own one.

[2021-08-24 08:40] #4808 closed, assigned to nobody

[2021-08-24 10:09] #4790 closed, assigned to seadowg

[2021-08-25 04:45] jkpr opened #4810 "Default month set to February with Year-only date widget, should be January"
#### Software and hardware versions
Current Collect

#### Problem description
Small bug here. There is an off-by-one error, so instead of setting the default month to January, the default month is set to February. Months are 0-indexed with system Android date pickers.

See https://github.com/getodk/collect/blob/dc40574952af5afb07eab619276bb28b670bf105/collect_app/src/main/java/org/odk/collect/andr

[2021-08-25 06:04] mmarciniak90 opened #4811 "Multiple clicks on Add Project/About open up view from Main menu"
#### Software and hardware versions
Collect v2021.2.4

#### Problem description
Multiple clicks on Add Project open up view from Main menu

#### Steps to reproduce the problem
1. User opens a dialog with a list of added projects
2. User clicks multiple times on `Add Project` or `About`
3. User is able to open view from the Main menu

#### Expected behavior
User is not able to click multiple times

[2021-08-25 17:49] grzesiek2010 commented on #4508
Cool so the pr is ready for review.

[2021-08-26 10:14] #4798 closed, assigned to Unreal-Dreams

[2021-08-26 11:08] #4794 closed, assigned to grzesiek2010

[2021-08-27 09:04] grzesiek2010 opened #4816 "ReadOnly questions should not be required"
#### Problem description
It is possible to make a question `read-only` and `required`. Everything is fine as along as there is also a `default` answer, otherwise it blocks filling a form.
The issue takes place if we make a `note` (which is `read-only` by default) `required` (see https://forum.getodk.org/t/form-unable-to-finalize-due-to-required-note-question-type/34780)

#### Steps to reproduce th

[2021-08-27 09:05] grzesiek2010 commented on #4816
I'm adding `needs discussion` label because maybe this is something we should just handle during form conversion.

[2021-08-27 09:44] seadowg commented on #4807
Going to close this for the moment. @niranjannsahoo please feel to reopen this if you are still having problems.

[2021-08-27 09:44] #4807 closed, assigned to nobody

[2021-08-27 11:36] grzesiek2010 commented on #4795
I thought that if it's possible to use the equality expressions I should be able to use other expressions as well.

Ok so I'm closing the issue.

The amount of options and differences between them when it comes to selects is the biggest source of confusion for me in the whole toolset...

[2021-08-27 11:37] #4795 closed, assigned to nobody

[2021-08-27 11:45] kkrawczyk123 opened #4817 "Duplicate project dialog displayed when user has drive project created and try to create demo project through qr code"
#### Software and hardware versions
Collect v2021.2.4 Android all, device used...

#### Problem description
I have noticed unexpected behavior when scanning project qr codes. When I created Google Drive project and tried to add demo project as a new one by scanning qr code from another device duplicated project dialog is displaying but it shouldn't.
![ezgif com-gif-maker](https://user-images.githu

[2021-08-27 13:12] #4508 closed, assigned to grzesiek2010

[2021-08-27 16:18] lognaturel commented on #4816
I agree with this. `pyxform` could produce an error if a note field is marked as required. That would be a good issue to file. I think that's about the extent of what we can detect since both `required` and `readonly` are dynamic. That means there could be a perfectly valid combination of expressions there. I don't think Collect/clients should try to decide when to ignore the value of the required

[2021-08-30 17:00] seadowg commented on #3453
Not seeing this at all anymore. I'm guessing an update to OkHttp fixed it.

[2021-08-30 17:00] #3453 closed, assigned to nobody

[2021-08-30 17:08] seadowg commented on #418
Closing this for now. If it still feels like a feature you'd like, then starting a discussion at https://forum.getodk.org/c/features/ is a better idea than here.

[2021-08-30 17:08] #418 closed, assigned to nobody

[2021-08-31 19:41] janna-rous commented on #4816
Hi there, I've never before commented on an ODK Github thread, as I can contribute very little (eg, nothing) in terms of coding. But I did want to just say that this "required note" is something I exploit when deploying forms in the field. This is how I use it:

For example, if I ask "how many people in the training" and the response is 10, then I ask...

How many men, and how many women, and how

[2021-09-01 09:36] #4811 closed, assigned to grzesiek2010

[2021-09-01 10:28] grzesiek2010 commented on #4816
Thanks for sharing your use case @janna-rous that was helpful.
Now I understand that many users might do something similar and any change in this area could be dangerous because the risk could outweigh the benefits.

[2021-09-01 10:28] #4816 closed, assigned to nobody

[2021-09-01 10:28] #4810 closed, assigned to grzesiek2010

[2021-09-01 15:16] jkpr commented on #4050
Hi, we noticed this today. We relied on the previous behavior that the order of saved multi-select answers was the same as shown on screen. So we could list a bunch of family planning methods in order of effectiveness:

- Method A
- Method B
- Method C

and get the most effective one that was selected with `selected-at(${family_planning_method}, 0)`. Now that doesn't work.

Based on the linked PR

[2021-09-01 20:54] lognaturel commented on #4816
Thanks for sharing, @janna-rous! I think that’s a very good strategy. I’ve typically done this with a constraint on a note rather than a required but it’s true that either works at the moment. I think using a constraint that matches the relevance condition slightly better captures the semantics.

[2021-09-02 11:40] kkrawczyk123 opened #4819 "Unable to add gif as picture to image widgets"
#### Software and hardware versions
Collect v2021.2.3 current master, Android v all device used...

#### Problem description
I have noticed that there is no way to add gif as picture in image widgets. I am able to add the same file on store version so it looks like a regression issue.

| Current master: | Store version |
| --- | --- |
| ![Screenshot_20210902-132643](https://user-images.githubuserc

[2021-09-02 19:46] yanokwa opened #4820 "Font styling does not work in labels"
#### Software and hardware versions
Collect v2021.2.3

#### Problem description
Font styling does not work in labels

#### Steps to reproduce the problem

[color-test.xlsx](https://github.com/getodk/collect/files/7101341/color-test.xlsx)

**survey sheet**
<img width="885" alt="Screen Shot 2021-09-02 at 12 38 21" src="https://user-images.githubusercontent.com/32369/131905867-43c6e13c-d21d-4a50-bc1b

[2021-09-02 19:47] #4820 closed, assigned to nobody

[2021-09-03 16:34] yanokwa opened #4822 "Font styling does not work in list-nolabel"
#### Software and hardware versions
Collect v2021.2.3

#### Problem description
Font styling does not work in list-nolabel

#### Steps to reproduce the problem

[color-test.xlsx](https://github.com/getodk/collect/files/7107337/color-test.xlsx)

**survey sheet**
<img width="684" alt="Screen Shot 2021-09-03 at 09 33 32" src="https://user-images.githubusercontent.com/32369/132039130-e9c71722-9566-403

[2021-09-03 16:45] lognaturel commented on #4608
I believe that Collect doesn't actually use this [anymore?]. The Google Drive integration uses accounts registered on the device so the user just has to authorize Google to add any new account. As far as I can tell, the user never has to explicitly give Collect permissions to write to Drive/Sheets. Feels a little weird. Does that sound right, @grzesiek2010?

The consent screen would look like [thi

[2021-09-03 17:43] grzesiek2010 commented on #4608
you are asked to grant that permission if you use Google Drive for the first time. This issue contains a screenshot: https://github.com/getodk/collect/issues/4701 isn't it the same?

[2021-09-03 19:00] lognaturel commented on #4608
Sigh. Thanks, @grzesiek2010. I thought I’d cleared the permissions but I guess I didn’t do it right. So maybe the token grant is one-time per account in which case 2-ish per day makes sense. Ok, will keep working on this.

[2021-09-06 07:03] lognaturel commented on #4608
The application is complete and submitted.

[2021-09-06 13:50] seadowg commented on #4570
@dimwight I'm trying to dig into the issue here and thought you might have already covered the same tracks. Why is it that selecting "Beans" in the attached form works and selecting other veg doesn't? As far as I can see the repeat has "relevant content" no matter what kind of veg is selected.

[2021-09-07 09:08] #4819 closed, assigned to grzesiek2010

[2021-09-07 13:28] #4817 closed, assigned to grzesiek2010

[2021-09-07 15:20] seadowg commented on #4718
As part of this, it'd also be good to move away from using `ProgressDialog` in the geopoint dialog implementation (deprecated in #4803).

[2021-09-07 16:31] lognaturel commented on #4608
I put in the application just for the Drive scope used by Collect.

We got an automated response saying the project currently has access to the following scopes I did not include in the application:

- https://www.googleapis.com/auth/photos
- https://www.googleapis.com/auth/spreadsheets

The first I find no record of. I think it may have been for a Fusion Tables or Google Earth publish feature in

[2021-09-07 16:57] yanokwa commented on #4608
I looked at the credential metrics and we haven't see any sheet usage from a non ODK-Collect OAuth client in the last 30 days. so this feels like low risk. Also Aggregate is end-of-life. Also if there is pushback we can re-add this scope.

[2021-09-08 18:44] lognaturel commented on #4608
Thanks again @grzesiek2010 for helping me identify why this was needed.

We've been approved. Publish to Spreadsheet from Aggregate still seems to work so I don't know what that second scope was used for. Now I vaguely remember that we may at some point have used both the Drive and Spreadsheet APIs in Collect.

I've verified the OAuth screen has been updated:
![Screenshot_1631126537](https://user-

[2021-09-08 18:44] #4608 closed, assigned to yanokwa

[2021-09-08 19:07] lognaturel commented on #4050
I believe the intent was to close this issue. All select multiple appearances now have consistent behavior which is desirable. Prior to #3964, the `minimal` appearance had special behavior that @jkpr ended up relying on.

In general, the choice order should be considered an implementation detail that shouldn't be relied on. I'll respond with a strategy to get @jkpr's desired behavior on [the forum

[2021-09-08 19:08] #4050 closed, assigned to nobody

[2021-09-09 03:25] florianm commented on #4247
Link to the [forum discussion](https://forum.getodk.org/t/odk-collect-v2021-2-beta-multiple-project-support-and-project-configuration-on-first-launch/33996/26)

We've tested and clarified our requirements:
We're updating forms through the managed QR codes. This is very useful, as our enumerators are spread across the state, and managing forms for our fleet of devices is a breeze.

Fixed:
* Form sh

[2021-09-13 08:22] #4236 closed, assigned to seadowg

[2021-09-15 10:18] seadowg commented on #4768
Ok to solve this we're going to introduce an XLSForm parameter for geo questions (`geopoint`, `geotrace` and `geoshape`):

| type | name | label | parameters |
|------------ |------------ |------------ |-----------------------|
| geopoint | location | Location | allow-mock-accuracy=true |

When the `allow-mock-accuracy` parameter is `true`, the client should allow “mock” locations. In Collect, thi

[2021-09-16 18:51] yanokwa commented on #4768
The alternative I had suggested to @seadowg is that we revert the behavior from the previous release and use whatever accuracy the mock provider reports. Then we add a parameter of `allow-mock-providers` and default that to `true.` And if a manager sets it to `false`, we prevent anyone from using mock providers entirely.

@lognaturel's pushback about my alternative is that:

@seadowg was also conc

[2021-09-20 16:29] seadowg opened #4825 "Upgrade JavaRosa to fix getodk/javarosa#643"
Need to upgrade once getodk/javarosa#643 is fixed.

[2021-09-21 14:04] #4465 closed, assigned to seadowg

[2021-09-21 14:04] #4572 closed, assigned to seadowg

[2021-09-21 16:32] yanokwa commented on #4465
FINALLY 😄

[2021-09-21 18:35] dimwight commented on #4570
@seadowg do you have time to review my explanation added to #4762 about a week ago? I had hoped this would make clear what seems to be going on and why my proposed fix works.

[2021-09-22 08:45] seadowg commented on #4570
Sorry for the delay @dimwight. I'll hopefully be able to take a look within the next couple of days.

[2021-09-22 14:07] ghost commented on #4822
Hello I'd like to work on this issue can you explain a bit more about this issue

[2021-09-22 19:23] yanokwa opened #4828 "Change default audio widget to built-in instead of external"
Per discussion at https://github.com/getodk/docs/pull/1397#pullrequestreview-761201012

- [x] Announce on forum ([forum post](https://forum.getodk.org/t/use-external-app-for-audio-recording-will-default-to-false-in-collect-v2022-1/35559))
- [x] Add warning described in forum post to pyxform
- [x] Change default in `ProjectKeys`

[2021-09-23 19:22] yanokwa commented on #656
It might be time to take this on. It's no fun to catch issues when doing a release.

[2021-09-23 20:43] grzesiek2010 opened #4832 "Issues with newly updated themes"
#### Software and hardware versions
Current master branch

#### Problem description

1. Empty area around the clipboard menu (only in preferences, in form filling everything seems to be fine)

|  |  |
| ------------- | ------------- |
| ![Screenshot_1632428898](https://user-images.githubusercontent.com/3276264/134579951-35a9401e-bf4f-4a16-a2c8-9638055b9209.png)  | ![Screenshot_1632428969](https://

[2021-09-26 19:03] yanokwa opened #4834 "Integer questions do not play video"
#### Software and hardware versions
Collect 2012.2.4

#### Problem description
Reported at https://forum.getodk.org/t/integer-questions-do-not-play-videos/35175. On integer question types, the video do not play. The video button is displayed but the video is not opened

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...
[Example Problem.zip](http

[2021-09-27 08:43] seadowg commented on #4834
@mmarciniak90 @kkrawczyk123 are you able to check if this is a regression?

[2021-09-27 11:21] seadowg opened #4836 "Icons/text use wrong colors immediately after changing themes"
#### Software and hardware versions
Collect v2021.3, Android 11

#### Problem description

Some icons or text can end up using the previous theme's colors after changing between them in Collect (but not when changing the system theme while using "Use device theme"). An example is the `x` icon in the settings dialog:

|  |  |
| ------------- | ------------- |
| ![Screenshot_1632429040](https://user

[2021-09-27 12:42] seadowg commented on #4570
I've managed to create a simpler form that seems to demonstrate the problem: https://docs.google.com/spreadsheets/d/11WQI3IpKuqLAaoU-djxOyIxTuED10IFqKBlta_dL7Q0.

[2021-09-27 16:34] seadowg commented on #656
I've put up a [PR](#4835) that adds a release build to CI. That's enough to catch the errors we've run into on the last few releases.

[2021-09-28 15:16] seadowg commented on #4533
It doesn't actually look like there is any advantage to us using `READ_PHONE_NUMBERS` over `READ_PHONE_STATE` - the OS still presents the annoyingly scary "allow ODK Collect to make and manage phone calls" text. It's non-trivial to implement as well, as we'd need to add some logic to `PermissionsProvider` to switch on different SDK levels (which means tests). I'll pull that out as a separate issue

[2021-09-28 15:16] seadowg opened #4838 "Collect should use `READ_PHONE_NUMBERS` permission instead of `READ_PHONE_STATE` on API 30+"
https://developer.android.com/about/versions/11/privacy/permissions#phone-numbers

[2021-09-28 15:46] seadowg commented on #4533
I verified our most recent proper release APK (v2021.2.4) and it looks like we're already using the v2 Signature. Using this:

[code]

I got:

[code]

I'm guessing v2 is used by default in the version of the Gradle tools we're using.

[2021-09-28 15:55] seadowg commented on #4533
Looking at the "permissions won't be requested after being repeatedly denied" thing it does seem like we need to make a change. Currently, if the user denies a permission twice then they'll see something like this every time they encounter that permission again:

[code]

Given they don't see the permission request again, I think it'd be very unclear what action they should take (unless they're an

[2021-09-28 18:55] yanokwa commented on #4533
I think following what other apps are doing makes sense to me. And maybe we add some copy that explains what they should do when the hit Open Settings. Any concerns/downsides?

[2021-09-29 08:03] seadowg commented on #4533
Yeah, good point. I'll update the copy for the messages as well, so it fits better with that flow.

I suspect there will still be a few people who will click through to settings and be intimidated by the App Details page, but that's the best Android's going to give us, I think. It might be that in future we want to think about having permission requests as part of an onboarding flow to allow them

[2021-09-29 08:20] seadowg commented on #4533
@yanokwa actually, after testing this on a different OS level and [re-reading the docs](https://developer.android.com/about/versions/11/privacy/permissions#dialog-visibility), I realized that @lognaturel and I had both made the mistake thinking this was a "targeting Android 11" change rather than a plain ol' operating system change. By this, I mean that we run into this problem with existing versi

[2021-09-29 08:42] seadowg opened #4839 "Add "Open Settings" button to permission denied dialogs"
Permissions can only be requested twice on Android 11+. After denying twice, the user will just see our permission denied dialogs and won't be offered a way to grant the permission again (other than being told to "try again" which won't work). We should reword these dialogs and add an "Open Settings" button to them that lets the user navigate quickly to the systems App Details page for ODK.

## Ac

[2021-10-01 08:02] kkrawczyk123 opened #4841 "Form update notification from not-used project displays while using another project"
#### Software and hardware versions
Collect v store version, master Android vx.x.x, device used...

#### Problem description
When testing Central I have noticed that I am obtaining form update notifications from another project than one that I am using.

#### Steps to reproduce the problem
1. Scan draft testing qr code from Central as project1
2. Publish form on Central
3. Scan other qr code from

[2021-10-01 13:06] kkrawczyk123 commented on #4834
@seadowg  I have tried few past versions of Collect and from my investigation, it looks like it has been broken somewhere between 1.26.1 and 1.26.2.

[2021-10-04 12:43] seadowg commented on #4784
One thing I've realized when looking at this is that we need to update the caption that appears at the bottom of the reference layer selection dialog. At the moment it says: "There are no layer files in <layer directory> that are supported by the <basemap type> basemap." ("Above are all the layer files in..." when there are layer files).

My thinking is that for the moment it just becomes: "There

[2021-10-04 13:29] seadowg commented on #4832
I've asked a question on the Material Components Discord channel about the first one: https://discord.com/channels/259087343246508035/259087343246508035/894576324411273266

[2021-10-04 15:10] seadowg commented on #4841
Related to #4787. We should probably still show notifications for other projects (other than the current one) but we need to make it clearer what's going when the user sees the notification.

[2021-10-04 16:40] seadowg opened #4844 "Auto update should have the same success/failure flow as Get Blank Form"
Currently, clicking the notification shown after an auto update (Previously Downloaded only with auto downloads enabled) will just show the old error UI (a dialog with all the different errors inline).

Instead, we should have the notification link to our new error flow:

* The notification text should change - the title should be "Form download succeeded"/"Form download failed" and the text shoul

[2021-10-04 18:15] lognaturel commented on #4750
The two first cases with calculates and selects turn out to be the same as opening a record for edit. That is, there has to be an attempt to bind the selected answer(s) to the available choices or we can’t open a record for edit.

[2021-10-05 12:26] seadowg opened #4847 "Add analytics for v2021.3"
Things we should measure from 2021.3 are:

- [x] How many devices select light/dark theme (over system default)
- [x] How many forms include `allow-mock-accuracy=true`
~~- [ ] How many devices include a layer from the new shared directory~~

EDIT: I don't think we actually need to measure adoption of the new shared `layers` directory. We know a few projects have asked for it, and we seem pretty co

[2021-10-05 18:36] lognaturel commented on #4170
Addressed by #4750.

[2021-10-05 18:36] #4170 closed, assigned to nobody

[2021-10-05 18:48] yanokwa commented on #4784
Historically, we've put the path in the UI because people were manually managing images in a form and the like. I don't think that specific use-case is relevant today, but it feels like as long as folks are manually managing layers, they need some guidance. I think a single docs link is reasonable (and I'd love to see a before/after screenshot).

Relatedly, I think we should eventually remove the

[2021-10-06 08:33] #4533 closed, assigned to seadowg

[2021-10-06 08:35] seadowg commented on #4784
I'm not sure what paths you mean?

[2021-10-06 09:07] #4489 closed, assigned to grzesiek2010

[2021-10-06 14:59] #4570 closed, assigned to nobody

[2021-10-08 09:51] kkrawczyk123 opened #4851 "Collect crashes when use Mapbox and open any geo map widget on Android 11"
#### Software and hardware versions
Collect v2021.3.1 - store version and master Android v 11 device used...

#### Problem description
When testing #4829 I have noticed crash when use Mapbox and try to use any Geo widgets that uses map view. After investigation it turned out to be visible also on store version and master also and it's not a regression connected to PR's changes.

#### Steps to repr

[2021-10-08 10:10] seadowg commented on #4851
@kkrawczyk123 does this happen in v2021.2 as well or is it a regression?

[2021-10-08 10:27] kkrawczyk123 commented on #4851
@seadowg definitely a regression! It works well on v2021.3.0 and older ones.

[2021-10-08 10:30] seadowg commented on #4851
Do you mean v2021.2?

[2021-10-08 10:31] kkrawczyk123 commented on #4851
Yes, I tried on v2021.2.x and it works. It is broken on v2021.3-beta.1.

[2021-10-11 10:07] seadowg commented on #4784
Ok here's some different options I've quickly hacked to together:

1. Add an iconified text button in the space where the caption used to be:

    <img src="https://user-images.githubusercontent.com/556280/136771124-925b11e2-3cb0-4b3e-8477-e54cd9d5afbb.png" width=320/>

1. Add a "Get help" button as the dialog's "neutral" button:

    <img src="https://user-images.githubusercontent.com/556280/1367

[2021-10-11 13:12] seadowg commented on #4784
Actually a 4th option would be to add a "?" icon at the top right of the screen that just links to https://docs.getodk.org/collect-settings/#maps-settings. We've talked about introducing this more generally and I think now would be a good time to use it, it'd also be far less maintenance than any of the other options as it doesn't involve a customization of the preference dialog. I'll go ahead wit

[2021-10-11 17:07] yanokwa commented on #4784
I'm OK with the ❓ icon. Only concern is if people will know what to do with that. The "Get help with reference layers" option is extremely clear in that regard, so I prefer it. It could even be "Learn more about reference layers".

As to the specific widgets, I was referring to what happens if you upload a form with missing media. https://github.com/getodk/collect/blob/master/collect_app/src/main/

[2021-10-11 17:10] seadowg commented on #4784
Yeah it's not the best, but once I factor in effort from us, I'm feeling best about adding help buttons to settings pages rather than at an individual setting level. You can check it out in the PR (#4842) now.

Ah right. Yeah, agreed this kind of thing should got in the long term.

[2021-10-11 17:34] yanokwa commented on #4784
Adding to the settings page looks fine but it's not super discoverable as just an icon...especially since it's not in every settings page. Some text in teal that says "Learn more" or "Get help" in that corner would made it more visible. A ? in the dialog would be more visible too since there aren't that many elements in the dialog, but I understand why you might not want to do that.

[2021-10-12 09:26] seadowg commented on #4784
@yanokwa Thinking about it this morning, I'd like more time for us to feel out a "Get help" pattern that works more generally here across all preference screens. I'll revert back to just having a "Get help with Reference Layers" link in the dialog - that solves our problem here without rushing in an approach that we'll want to emulate everywhere. I'll also add an issue around settings docs links t

[2021-10-12 11:18] grzesiek2010 commented on #4766
The second case should be handled but I'm not sure about the first one. We can't create a file with reserved characters so what should we do?
- do nothing since it's a rare case
- create a file with a message that project name contains reserved characters
- replace/remove reserved characters from the file name

@seadowg @lognaturel what do you think?

[2021-10-13 09:37] seadowg commented on #4766
Yeah, I think we could even make `StoragePathProvider` create the file when it creates the project dir.

I think just sanitizing it to be saved makes sense to me. Removing special characters feels good enough.

[2021-10-13 10:33] grzesiek2010 opened #4854 "java.lang.NullPointerException: key must not be null in SharedPreferencesSettings.java:97"
#### Software and hardware versions
Collect v2021.3-beta.1

#### Problem description
https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/d4d78455112bae2d503d48f73df9a553?time=last-seven-days&versions=v2021.3-beta.1%20(4292)&sessionEventKey=61667725020300015968C5348B05B0A3_1596873768629674450

[code]

[2021-10-13 16:13] mmarciniak90 opened #4858 "The location crosshair is not visible on Mapbox"
#### Software and hardware versions
Collect master

#### Problem description
The location crosshair is not visible on Mapbox

#### Steps to reproduce the problem
1. User uses Mapbox
2. User opens Geowidget with map appearance
3. User sees a blue circle but the crosshair is not visible

#### Expected behavior
The user's location is displayed using a crosshair at the location

<img height="40%" widt

[2021-10-13 16:20] #4851 closed, assigned to grzesiek2010

[2021-10-14 11:00] #4825 closed, assigned to nobody

[2021-10-14 11:03] #4832 closed, assigned to seadowg

[2021-10-14 13:59] seadowg commented on #4858
@mmarciniak90 I'm guessing this is a regression right?

[2021-10-14 14:23] mmarciniak90 commented on #4858
Yes, it is. I added the correct label. Thanks.

[2021-10-14 14:41] mmarciniak90 opened #4862 "Collect crashes when user tries to open `Layer data file` dialog when the previously selected layer is removed"
#### Software and hardware versions
Collect master, v2021.2.0

#### Problem description
Collect crashes when user tries to open `Layer data file` dialog when the previously selected layer is removed

#### Steps to reproduce the problem
1. User sets offline layer in `Settings/Maps`
2. The offline layer in use is no longer available - eg. it has been removed.
3. User is still on `Settings/Maps `view

[2021-10-15 10:16] seadowg opened #4864 "Project name file should use extension"
The project name file (the blank file we write into the project dir with the same name as the project) should have an extension that lets Collect and the user identify that that's what it is. At the moment it would be risky to generate this file on demand as we don't know if the files in the root of the project dir are project name files or not (so can't really just delete them).

### Acceptance

[2021-10-15 15:45] #4779 closed, assigned to seadowg

[2021-10-15 21:51] yanokwa commented on #4487
See ([collect_4487.xlsx](https://github.com/getodk/collect/files/7356157/collect_4487.xlsx)) and this demo.

https://user-images.githubusercontent.com/32369/137557418-2f908cd6-7151-4f2e-b7a2-00eb3344bf2c.mp4

[2021-10-16 07:51] dimwight commented on #4487
Thanks, just what I was hoping for.

[2021-10-17 16:20] dimwight commented on #4487
Disappointingly, this looks like a quirk of Android rather than something we can fix.
- Clicking in an EditText activates the keyboard.
- Scroll the EditText off screen and the keyboard (illogically) stays active.
- Click the range button and Android clears the keyboard but then (even more illogically) scrolls back up behind the picker to the EditText.
- None of this happens if you hide the keyboa

[2021-10-18 08:32] seadowg commented on #1703
I think we've now addressed this for manual downloads with the work on #4489. We'll be taking the error handling pattern used there and applying it to the other download (and the upload) paths, so I think closing this now makes sense given it's covered by other issues.

[2021-10-18 08:32] #1703 closed, assigned to nobody

[2021-10-18 08:45] seadowg commented on #4540
Quick thoughts on this:

* This would be a great way to drive out getting rid of the `InstanceUploaderTask` hierarchy and to push us to refactor/clean up/test the upload paths.
* An initial pass might be to generalize our auto send path and use `WorkManager` for uploading in both manual and auto cases - we could still have the UI block for manual uploads
* We could introduce an experimental settin

[2021-10-18 12:48] grzesiek2010 commented on #3890
This is an old report so let's close for now and reopen later if needed.

[2021-10-18 12:48] #3890 closed, assigned to nobody

[2021-10-18 12:51] grzesiek2010 commented on #3935
This is an old report so let's close for now and reopen later if needed.

[2021-10-18 12:51] #3935 closed, assigned to nobody

[2021-10-19 09:09] #4784 closed, assigned to seadowg

[2021-10-19 09:09] #4862 closed, assigned to nobody

[2021-10-19 09:18] #4854 closed, assigned to grzesiek2010

[2021-10-19 09:32] kkrawczyk123 opened #4870 "Collect crashes when Try a demo project after deleting all projects on Android 5.1"
#### Software and hardware versions
Collect v current master Android v 5.1, device used...

#### Problem description
When testing #4855 I have noticed crash on Android 5.1 device only when deleted all projects and then run demo project.

#### Steps to reproduce the problem
1. Create project
2. Delete project
3. Click on Try a demo

#### Expected behavior
Collect should not crash.

#### Other infor

[2021-10-19 10:09] #4847 closed, assigned to seadowg

[2021-10-19 10:52] seadowg opened #4871 "[By April 2022] Declare info for Play Store safety section"
https://android-developers.googleblog.com/2021/07/new-google-play-safety-section.html

[2021-10-19 11:46] seadowg commented on #4165
Closing as the Likert widget no longer has lines

[2021-10-19 11:46] #4165 closed, assigned to nobody

[2021-10-19 11:46] seadowg commented on #4096
Closing as the Likert widget no longer has lines

[2021-10-19 11:46] #4096 closed, assigned to nobody

[2021-10-19 11:51] seadowg opened #4872 "Add lines to Likert widget"
Blocked until need is verified

The Likert widget does not show lines connecting the different options like we see in a lot of other examples:

<img width="499" alt="Screenshot 2021-10-19 at 12 48 59" src="https://user-images.githubusercontent.com/556280/137903350-6eac9c98-741f-4087-8058-cb3de479b6e4.png">

It might be that we need to add these for some surveys to be valid, but we don't have good

[2021-10-19 11:59] seadowg commented on #4108
A significant amount of these crashes are now captured in:

* `DatabaseConnection#getReadableDatabase`: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/07cccfa2bbf3b4e0e4fed4f0a9fcbd76?time=last-seven-days&sessionEventKey=616E95CF00E3000109388B15C00852C2_1599161892004634493

* `DatabaseConnection#getWriteableDatabase`:

[2021-10-19 13:47] #4766 closed, assigned to grzesiek2010

[2021-10-19 14:07] kkrawczyk123 opened #4873 "Crosshair disappears when change offline layer and minimize app when use Mapbox"
#### Software and hardware versions
Collect v1.x.x, Android v all, device used...

#### Problem description
When testing #4867 I have noticed another issue connected to crosshair when using Mapbox with offline layers.

#### Steps to reproduce the problem
Scenario 1:
1. Add at least 1 offline layer
2. Set Mapbox in settings
3. Open map view (crosshair visible)
4. Select offline layer - crosshair is

[2021-10-19 14:09] seadowg opened #4874 "Use API 30 for instrumentation tests"
We should be using our target API with Firebase, so we catch problems on the newest (and often strictest) OS.

## Notes

I did a quick recce on this and found there are a bunch of failures (in the 20s) after moving to an API 30 device. It looks like they are all related to these problems:

- [x] Toast assertions don't work (https://github.com/android/android-test/issues/803)
- [x]  Middle toasts s

[2021-10-19 14:19] #4858 closed, assigned to grzesiek2010

[2021-10-20 13:02] lognaturel commented on #4873
@grzesiek2010 the underlying issue you describe in the PR is tracked at https://github.com/getodk/collect/issues/3883. There’s more discussion linked to from my comment.

[2021-10-20 14:59] kkrawczyk123 opened #4876 "Unable to play video attached to form on Android 11"
#### Software and hardware versions
Collect v play store/master Android v 11 device used...

#### Problem description
When testing #4860 I have noticed that playing video does not work on Android 11 device:
![Screenshot (Oct 20, 2021 3_37_09 PM)](https://user-images.githubusercontent.com/33342488/138118370-16b1720c-7b85-4527-a848-7cd5da5ca394.png)

#### Steps to reproduce the problem
1. Open any f

[2021-10-20 15:26] #4834 closed, assigned to grzesiek2010

[2021-10-20 17:42] grzesiek2010 commented on #4873
Thanks @lognaturel

[2021-10-21 10:19] grzesiek2010 commented on #4876
Does it work well if you play a video recorder/attached using the video widget?

[2021-10-21 10:25] kkrawczyk123 commented on #4876
No, I can see:
![Screenshot_20211021-122350](https://user-images.githubusercontent.com/33342488/138259720-a62d36f0-f6b7-46ec-a00a-462f4228312e.png)

[2021-10-22 16:19] #4768 closed, assigned to seadowg

[2021-10-25 13:35] seadowg commented on #4870
This is a really weird one. It looks like the steps produce a crash on v2021.2.4 as well. In current `master` the app crashes but then recovers on the next run while in v2021.2.4 the user is forced wipe data/reinstall to get things working again so it looks like we've at least improved the situation (most likely with the change to creating dirs on demand).

I've had a quick dig into this and the r

[2021-10-25 15:42] seadowg commented on #4864
@lognaturel can you see any problems with doing this?

[2021-10-26 09:37] seadowg opened #4879 "Prompt enumerator to use save point from older form version"
~~Blocked by #5338~~

## Acceptance
- [x] Given I've filled out a form partially
When I restart the phone
And restart form entry for the same form
Then I am informed that I have work to recover from the time and date the form was being filled initially

- [x] Given I've filled out a form partially
When I restart the phone
And restart form entry for the same form
And click "Recover"
Then I start fo

[2021-10-26 15:18] lognaturel commented on #4879
I initially understood that the update was happening during active form entry but I’m not as sure.

Maybe it’s that if the form does not update, users can rely on savepoints. But if the form does update they’d have to show all versions of forms and open the older version to get their savepoint. There’s a broader question about what to do with form instances in the case of a newer form definition.

[2021-10-27 10:20] seadowg commented on #4879
Ah do you think the user actually had to reopen the form? I'll ask that on the forum. From the description, they reopened Collect, and it returned to the form, but your version of events makes more sense.

We might just want to introduce a specific path for "savepoint for a different version" where we ask the user whether they want to keep that data (and fill out the old form) or get rid of it.

[2021-10-27 12:46] #4873 closed, assigned to grzesiek2010

[2021-10-27 13:18] seadowg commented on #3906
Should be looked at as part of #4718

[2021-10-27 14:14] seadowg commented on #4841
Like we're proposing in #4787 the fix here should just be to display the project in the notification in the notification subtext

[2021-10-27 17:12] seadowg commented on #4718
Keeping notes on research/design [here](https://github.com/seadowg/collect-design/blob/master/research/geopoint.md).

[2021-10-27 18:19] lognaturel commented on #4879
Not explicitly. I think the FormEntryActivity went out of memory and reopened. If the same form version had been the latest, the savepoint would have loaded. But since the form version changed, there was no savepoint file.

I meant that the user could get their desired savepoint file to open but currently they can only do that by showing and then opening the deprecated version.

That sounds great

[2021-10-28 08:11] seadowg commented on #4879
I'm not sure if that makes sense. If `FormEntryActivity` is recreated it would load a form using the URI in its `Intent` which points at a specific form in the DB via the DB id not the form id. The updated form would be a different row in the DB right? I'm pretty sure we'd be loading the exact same version in the recreation case.

[2021-10-28 11:02] seadowg commented on #4540
@lognaturel A quick thought on this task: I think the mentality to approach this with is that in the future we'd potentially want auto-send to be the default (or only) behaviour, but we'll (likely) always need a "Send Finalized Form" or some kind of "Outbox" to handle failed submissions. That being the case I think we can just move forward with moving submissions to the background as it's advantag

[2021-10-28 12:19] seadowg opened #4881 "Allow forms to be submitted in the background"
This should add background submits of forms based on a feature flag (using experimental settings). Using an experimental setting should make our changes release safe while we iterate.

## Acceptance

- [ ] Given I've finalized a form
And I've enabled "Background form submission" in "Experimental" settings
When I navigate to "Send Finalized Form"
And I select the form
And I tap "Send Selected"
Then

[2021-10-28 12:21] mmarciniak90 opened #4882 "User sees a message about update after successfully auto-update when `Previously downloaded forms only` option is set"
#### Software and hardware versions
Collect v2021.3 beta 2, v2021.2.4

#### Problem description
User sees a message about update after successfully auto-update when `Previously downloaded forms only` option is set

#### Steps to reproduce the problem
1. Central/Aggregate server is set
2. `Previously downloaded forms only` and `Automatic download` is set
3. User has downloaded form with media - e.g

[2021-10-28 12:59] seadowg opened #4884 "Revise submit notifications"
Auto and background manual submits should have the new error flow as part of their notifications.

Success notification:
* Should have [subtext](https://developer.android.com/reference/androidx/core/app/NotificationCompat.Builder#setSubText(java.lang.CharSequence)) with project name
* Title text should be "All uploads succeeded!"
* Clicking takes user to Main Menu

Failure notification:
* Should h

[2021-10-28 15:36] lognaturel commented on #4540
Agreed.

[2021-10-28 16:08] seadowg opened #4885 "Show notification while submitting forms"
There should be a notification shown during auto and background manual submits. The notification should have:

* [subtext](https://developer.android.com/reference/androidx/core/app/NotificationCompat.Builder#setSubText(java.lang.CharSequence)) with project name
* Title text reading "Uploading forms..."
* [Indeterminate progress bar](https://developer.android.com/reference/androidx/core/app/Notific

[2021-10-28 21:16] lognaturel commented on #4879
Aha! So probably the whole app went out of memory and they relaunched the form? (That’s consistent with what the enumerator recalls). I think your general proposal of asking what form version to use is great. Making that understandable to users will be the challenge.

[2021-10-29 09:57] seadowg commented on #4879
Yeah, and if that's the case then the app is behaving "correctly" but confusingly.

It feels like it would make savepoints a little less confusing. More like other applications that ask "Do you want to recover your work?". I can write that up!

[2021-10-29 12:44] seadowg opened #4886 "Switch to new Map Renderer for Google Maps"
Google Maps is going to start using a new renderer in March 2022. We should enable early, so we can catch any problems. Docs on doing so are [here](https://developers.google.com/maps/documentation/android-sdk/renderer).

[2021-10-30 12:23] yanokwa opened #4888 "Two different forms with the same ID and version are on device"
#### Software and hardware versions
Collect v2021.2.4, Central v1.3.x

#### Problem description

#### Steps to reproduce the problem
Unclear

#### Expected behavior
It should be impossible to have different forms with the same ID.

#### Other information
Apparently, already deleting and and re-downloaded Collect didn't fix it. Here's what fixed it...
Main screen > Project icon > Settings > Project

[2021-10-31 03:12] lognaturel commented on #4888
This can happen if using the same Collect project for multiple drafts or a draft and published version. Was the person who experienced this involved with any drafts?

Are you absolutely sure they were using the latest Collect version the whole time? That they hadn’t connected to another server or pushed a form manually?

[2021-10-31 15:57] yanokwa opened #4889 "Select widget with quickcompact-1 appearance doesn't look so good"
#### Software and hardware versions
Collect v2021.2.4

#### Problem description
Select widget with quickcompact-1 appearance doesn't look so good.
<img width="660" alt="Screen Shot 2021-10-28 at 10 02 54" src="https://user-images.githubusercontent.com/32369/139591731-144ad7eb-c212-459f-bf18-7c6cd6b1d263.png">

#### Expected behavior
I don't know if this is a regression, but I'd expect this widget

[2021-10-31 22:34] lognaturel commented on #4889
Compact was intended to be used with images. It takes as little vertical space as possible. The 1 means a single column. The quick means it moves forward immediately on select. This looks mostly like I’d expect with text rather than images. Maybe you’re looking for no-buttons? See also https://github.com/XLSForm/xlsform.github.io/issues/125

The lines could be improved.

[2021-11-01 16:36] lognaturel opened #4892 "Replace "General Settings" with "unprotected Settings" or just "Settings""
There are several strings that still use "General Settings." For the most part, the meaning is unambiguous but it seems strange that it doesn't match anything in the UI.

[2021-11-01 19:11] yanokwa commented on #4888
They were not using any server side drafts. They deleted and re-downloaded the app about a week ago, but had only downloaded it for the first time at most two weeks before that. They did not push a form manually.

[2021-11-02 13:13] kkrawczyk123 commented on #4870
@seadowg Me and @mmarciniak90 tried on all devices. I am able to reproduce it only on Android 5.1 device.

[2021-11-03 11:48] #4876 closed, assigned to grzesiek2010

[2021-11-03 11:52] seadowg opened #4893 "Update Mapbox SDK"
The Mapbox SDK has made two major changes in the last few updates:

1. Since 9.3.0, it uses a pre-built binary that's licensed under new Terms of Service ([changelog here](https://github.com/mapbox/mapbox-gl-native-android/releases/tag/android-v9.3.0))
1. Also since 9.3.0, the SDK is hosted in Mapbox's own maven repo which requires authentication via a Mapbox account to download ([docs here](https

[2021-11-03 11:55] seadowg commented on #4893
@grzesiek2010 pointed this out to me, and it'd be good to get input from @yanokwa on this one. I think it'd be good to first discuss whether my assumptions are correct.

[2021-11-03 14:42] seadowg commented on #4718
Ok some design sketches I've been working on. The most basic is using the current text based style but rejigging what we show:

<img width="306" alt="Screenshot 2021-11-03 at 14 32 45" src="https://user-images.githubusercontent.com/556280/140080299-26dcd51f-3f77-4f08-a0f8-947fb26f923b.png">

The most significant change here is that we don't show satellites or provider unless there is a problem wit

[2021-11-03 15:42] #4882 closed, assigned to grzesiek2010

[2021-11-03 16:25] yanokwa commented on #4718
Now that I've seen these together, I'm a huge fan of my version! It matches what other mapping applications do and I think it's nice to leverage that interaction, rather than focus on the notion of target accuracy (which we don't really use elsewhere, right).

I'd prefer that the two circles stay even after target accuracy has changed and that we update the text at the bottom. My reasoning is that

[2021-11-03 16:31] yanokwa commented on #4893
Your assumptions are correct. The change log says "The license of the Maps SDK for Android remains BSD-2" so I think we are fine as far as legality.

As to reaching out to Mapbox, I'd rather we poke around first to see if we get stuck, then have specific questions to bring to them.

I wonder how this will play with [packaging tricks](https://github.com/getodk/collect/blob/master/collect_app/build.

[2021-11-03 16:37] seadowg commented on #4893
I've had a quick look over the [Terms of Service](https://www.mapbox.com/legal/tos) and nothing screams dangerous to me as well.

Yeah definitely wondering about that. I think we're going to need to pull all the Mapbox stuff out to a separate module and then reference it dynamically. You're right we're probably also going to have to review our `nbistubs` setup.

[2021-11-03 16:40] seadowg commented on #4718
@yanokwa could you do me a quick paper sketch of what you have in your head for the end state (when the target has been reached)?

[2021-11-04 16:05] yanokwa commented on #4888
This has happened again with a customer who is on v2021.2.4 (maybe recently upgraded?) and I'm pretty sure hasn't had drafts for months. I know that isn't the best repro, but I wanted to report it anyway.

[2021-11-04 16:07] lognaturel commented on #4888
@seadowg @grzesiek2010 I want to make sure you've seen that impossible things are happening. This is starting to feel more serious but I have no idea where to even start troubleshooting. Maybe it's a good opportunity to think about what I've previously mentioned and use the form hash to link instances to form defs? That does feel like a pretty big change, though.

[2021-11-04 16:16] seadowg commented on #4888
I'd missed this update. My assumption would have been that that's how they'd got into this situation. Could we get details on how their form management is set up? Are they using Match Exactly/Previously Downloaded etc?