[2021-11-04 16:25] yanokwa commented on #4888
Everyone is on the latest version of Central with managed QR codes.

[2021-11-04 16:28] seadowg commented on #4888
Great that at least eliminates a few other async things. I've pretty much forgotten why this **should be** impossible, so it'd be good to go through again with a fresh mind. I'll see if I can come up with any theories and if not I'll pass it over to @grzesiek2010 (unless he immediately jumps in with exactly why it's happening).

[2021-11-05 08:41] grzesiek2010 opened #4895 "Attempt to invoke virtual method 'java.lang.String org.odk.collect.forms.Form.getFormMediaPath()' on a null object reference"
#### Software and hardware versions
Collect v2021.3.0

#### Problem description
https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/be730c9d272352bd5b8685ab0d197899?time=last-seven-days&versions=v2021.3.0%20(4316)&sessionEventKey=6184E33F02B600015883C970B2D53C78_1605436904284051748

[code]

#### Steps to reproduce the prob

[2021-11-05 12:12] seadowg opened #4896 "Prevent swipes before form has loaded properly"
It seems like from this [crash](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/30a3178c00619de299e65f60078556f8?time=last-seven-days&sessionEventKey=6184F4B302540001171121663967053E_1605465151459213822) that it's possible to swipe before the form has loaded (and there's no view on screen). This causes a `NullPointerEx

[2021-11-05 16:09] seadowg opened #4899 "Stop using reference to mutable list as data backing `FileArrayAdapter`"
We're seeing the occasional [crash](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4d7d67b41b272b264d991d4959873afc?time=last-seven-days&versions=v2021.3.0%20(4316)&sessionEventKey=61844403001D00012745F22552D65CAC_1605271776140814949) linked to the `FileArrayAdapter`:

[code]

Reviewing `FileArrayAdapter`, it does loo

[2021-11-05 17:08] seadowg opened #4900 "Magic project URL can crash app"
#### Software and hardware versions
Collect v2021.2 and later

#### Problem description

Certain magic URLs can crash the app when "Add" is pressed (or presumably if they are imported from QR code).

#### Steps to reproduce the problem

1. Go to add a new project
2. Tap "Manually enter project details"
3. Enter `https:///.` as the URL
4. Tap "Add"

The app crashes.

#### Expected behavior

It shou

[2021-11-05 17:13] seadowg commented on #4900
I don't think this is high priority, but I think we should get into a patch for v2021.3 in case someone has some weird magic URL (with the same "host is technically blank" problem) we haven't though of that's causing this crash. It's not happening often at all and existed in v2021.2 as far as I can see, but it's nasty to have a possible crash that results from a typo during a critical setup flow.

[2021-11-05 17:47] yanokwa commented on #4900
And here I thought the validation was not strict enough. I'm open to making the regex `http://[.]`, but what are you proposing when you say you want to make the name and icon generation more robust?

[2021-11-05 18:02] seadowg commented on #4900
I guess with cases like this I'm always paranoid about blocking something genuine. Does my "network with weird DNS" scenario not worry you? Or you, just thinking that stricter validation is probably more useful for most users people (a valid argument)? My preference would be to just parse it as a `URL` in Java and validate the protocol (as we only support http(s) traffic). Ultimately that's all we

[2021-11-08 07:42] grzesiek2010 commented on #4900
I agree. First we should add more tests ad then we can use one of the options:
[URLUtil.isValidUrl](https://developer.android.com/reference/android/webkit/URLUtil?authuser=2#isValidUrl(java.lang.String)) or [Patterns.WEB_URL](https://developer.android.com/reference/android/util/Patterns#WEB_URL) or both (whatever satisfies our tests).

[2021-11-08 10:42] grzesiek2010 commented on #4888
@seadowg do you want me to take a look at it?

[2021-11-08 11:21] seadowg commented on #4888
@grzesiek2010 that'd be great I haven't had a chance yet.

[2021-11-09 11:11] seadowg commented on #4718
OK, did another pass on the "animated" version:

<img width="328" alt="Screenshot 2021-11-09 at 11 08 44" src="https://user-images.githubusercontent.com/556280/140913566-afeb50c9-45fb-4430-8cb1-91605cde3bb6.png">

I think this will work nicely. We'll need to build an animation for it to look good: the outer circle should grow and become more transparent (until disappearing) on repeat. How far the

[2021-11-09 11:39] grzesiek2010 commented on #4888
I was trying to reproduce the issue but to no avail. I also investigated the code and I can't see any bugs/mistakes...

Is it possible that it's a bug on Central? I'm asking because:
According to the reports from firebase https://console.firebase.google.com/u/2/project/api-project-322300403941/analytics/app/android:org.odk.collect.android/events/~2Foverview%3Ft%3D1636450359111&fpn%3D322300403941&s

[2021-11-09 12:01] grzesiek2010 commented on #4718
I don't know if we need to display both:
- current accuracy (12m in you sample)
- the warring message

Maybe it would be better to display that warring only (if needed) something like: `Accuracy low (12m). If you are indoor, please go outside`? Then the inner circle could be smaller.

[2021-11-09 14:21] seadowg commented on #4718
You mean only show accuracy if it's below the threshold?

[2021-11-09 14:25] grzesiek2010 commented on #4718
yes but that means always at the same time because once we achieve required accuracy the dialog is closed automatically right?

[2021-11-09 14:44] seadowg commented on #4718
Ah yeah true. I guess we're only showing the current accuracy to allow the user to compromise for an accuracy that's almost good enough. Another option I haven't explored is making the user confirm (via another dialog) if they hit "Save" for an accuracy that doesn't meet the threshold.

As much as I like the aesthetic of @yanokwa's pulse idea I'm leaning more and more towards a progress bar as I r

[2021-11-09 19:17] grzesiek2010 commented on #4718
As i said during the meeting I still like more Yaw's proposal.
I think it would be strange to represent things like accuracy that might be better in one second the worse and again better using progress bar. Maybe I'm wrong but to me a progress is something that happens step by step usually without steps back.

[2021-11-10 08:29] grzesiek2010 commented on #4895
The crash still occurs https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/be730c9d272352bd5b8685ab0d197899?time=last-seven-days&versions=v2021.3.1%20(4320)&sessionEventKey=618BDAC9035500011273D05239EB50C5_1607300143708503704

There must be different steps to reproduce it but the stacktrace is the same.

[2021-11-10 09:29] seadowg commented on #4718
For the moment, we're going to wait on analytics data around how popular `accuracyThreshold` is. This will hopefully make it easier for us to choose a direction.

[2021-11-10 13:12] seadowg commented on #4765
I think we should go with an analytics event for this. That will make it easier to track between versions (currently the crash can "move" if anything in the stack trace changes). If we feel like the numbers are low enough we can just get rid of the event.

[2021-11-10 13:21] seadowg opened #4907 "Block editing forms that are being sent (and vice versa)"
The user shouldn't be able to edit a finalized instance while instances are being sent. One thing we could do here is completely block the ability to edit a finalized instance, but that could be controversial.

A softer option would be to utilize the instance's `changeLock` during editing of a finalized instance. In that world:

* Opening a finalized instance would be blocked when the instances ar

[2021-11-10 13:23] seadowg opened #4908 "Allow cancelling while submission in progress"
## Acceptance

- [ ] Given I'm submitting forms (either with auto send or manually)
When I click "Cancel" on the notification
Then submission stops
And any remaining forms are not sent

- [ ] Given I'm submitting forms (either with auto send or manually)
When I open "Send Finalized Form"
And I click cancel
And any remaining forms are not sent
Then submission stops
And any remaining forms are not s

[2021-11-10 13:27] seadowg opened #4909 "Remove experimental background submissions setting and dead code"
The app should always use background submissions, so the experimental setting should be removed, and any code only used in the dead code paths should be removed

[2021-11-10 22:25] yanokwa opened #4910 "Selfie camera not showing on Redmi?"
#### Software and hardware versions
Collect v2021.3.0

#### Problem description

![Screenshot_2021-11-09-15-34-32-325_org odk collect android](https://user-images.githubusercontent.com/32369/141203513-227e17ab-9a81-4276-b3ff-46adec25c4bb.jpg)

![Screenshot_2021-11-09-10-49-40-698_com android settings](https://user-images.githubusercontent.com/32369/141203514-5748c5c0-cc9b-44c6-8718-0dc7527d881e.jp

[2021-11-11 09:35] seadowg commented on #4910
I quickly verified that I can use the camera (QR scanning and the image/selfie widget) on my Android 11 test device (Pixel 4a) and everything looked good. I'm not seeing any non-fatals in Firebase that look like a match for this either.

Does the person reporting this work with other people using the same device (or another Redmi)?

[2021-11-16 14:08] #4895 closed, assigned to grzesiek2010

[2021-11-17 17:07] grzesiek2010 opened #4915 "Make dialogs across the app look the same"
#### Software and hardware versions
Collect v2021.3.2 and older versions

#### Problem description
Currently we use two dialog builders `AlertDialog.Builder` and `MaterialAlertDialogBuilder` in our app what cause differences in their style. We should use one builder - `MaterialAlertDialogBuilder`.

Unfortunately we can't change the way `PreferenceFragmentCompat` works under the hood (it uses `Aler

[2021-11-18 16:05] #4892 closed, assigned to grzesiek2010

[2021-11-19 17:17] lognaturel commented on #4765
@seadowg I don't think having an analytics event will change our behavior. What do you see us doing differently if it happens a lot? https://github.com/getodk/collect/pull/4913#discussion_r753379568

[2021-11-22 04:59] erigmac commented on #4910
I probably experienced something similar but not the same on ODK Collect v2021.3.0 - v2021.3.2. All permissions were allowed on all devices.

I have tried the selfie function on Redmi Note 9 Pro with MIUI version 12.0.5 (Android 10) and 12.5.1 (Android 11).
Upon hitting the Take Picture button, the selfie camera appears and shows the correct orientation of the camera.
However after tapping the scr

[2021-11-22 09:23] seadowg commented on #4765
Potentially link to docs? I don't have anything convincing, but it felt like it might be nice to keep track of it. I don't have any strong feelings here, and we can always assume we'll get complaints on the forum if people really need this. I'm happy with removing the analytics.

[2021-11-22 09:29] seadowg commented on #4910
@erigmac thanks so much for investigating.

@kkrawczyk123 do we have, or can we get access to a Redmi Note 8 or 9?

[2021-11-22 09:52] kkrawczyk123 commented on #4910
@seadowg I am not able to reproduce this issue on Redmi 7 and Redmi Nore 9. Selfie widget and selfie video widget work as expected. I have also tried for the required version of selfie widget and it also works as expected. I don't have access to more Redmi devices.

[2021-11-22 10:37] grzesiek2010 commented on #4888
In v2021.3.2 we fixed https://github.com/getodk/collect/pull/4906 handling null or empty form hashes. Thanks to firebase analytics now we know that it was a real case:
![image](https://user-images.githubusercontent.com/3276264/142845124-290f5f86-ca25-47bf-bfe7-9548dbe948eb.png)

I think these two issues are somehow related because after fixing the one I mentioned above the number of `DownloadSameF

[2021-11-22 12:29] #4765 closed, assigned to grzesiek2010

[2021-11-22 18:48] lognaturel commented on #4888
@yanokwa @matthew-white @ktuite something to take a quick look at. Maybe start by verifying that there are tests to confirm that the form lists always contain form hashes and versions?

[2021-11-22 20:38] matthew-white commented on #4888
I took a quick look at the Central backend code, but nothing stands out to me. The form list doesn't have much logic around the form hash and version:

https://github.com/getodk/central-backend/blob/57c6141bf3a04d5ff474afe9fc51d0c5d23b91e0/lib/formats/openrosa.js#L41-L55

`version` can be an empty string, but I don't see an obvious way for `hash` to be `null` or an empty string. I'm not sure that

[2021-11-22 22:02] ktuite commented on #4888
I'm reaching the same (non)conclusion that the version and hash should be there, and it should be impossible for two different forms to share id and version by design (according to constraints in the backend central database).

A possible thought on timing: I wonder if servers that cause this Collect error were blocked by that migration and couldn't upgrade in May until the June patch (which invol

[2021-11-22 22:50] yanokwa commented on #4888
@ktuite whitespaces is an inspired guess! I checked the one server that I know might have this issue and all the form ids are sane (`followup_visit`) and the versions are all integers, except for the initial versions which are blank.

[2021-11-23 12:56] grzesiek2010 commented on #4888
I think we should improve logging that event when form hash is null or empty (and maybe check some other properties like id or version too) and add info about a server (whether it's Central or not). My suspicion was that it's Central but I can't be sure without better analytics.

[2021-11-23 13:53] seadowg commented on #4910
@yanokwa are you able to check how many ODK Collect installs are running on Redmi devices?

[2021-11-23 14:07] grzesiek2010 commented on #4910
[report.pdf](https://github.com/getodk/collect/files/7588571/report.pdf)

[2021-11-23 17:14] seadowg commented on #4910
@kkrawczyk123 what OS were the devices using? Just want to check if we've definitely got the same setup as @erigmac.

[2021-11-24 11:32] seadowg commented on #4718
Ok looking at analytics, it looks like our way of measuring this is a little flawed. For some reason, our custom dimension on the events (`form`) only seems to display a max of 200 items - you'll see both `AccuracyThreshold` and `AccuracyThresholdDefault` show as having 200 different values for the custom dimension. I'm guessing this is a max Firebase is enforcing somewhere. I'll dig more into tha

[2021-11-24 11:50] #4886 closed, assigned to grzesiek2010

[2021-11-24 15:51] kkrawczyk123 commented on #4910
@seadowg Android 9 on Redmi 7 and Android 10 on Redmi Note 9.

[2021-11-24 17:37] seadowg commented on #4910
@kkrawczyk123 is it a Note 9 Pro?

@erigmac do you mean that some devices don't have any problems using the front facing camera with ODK Collect.

[2021-11-24 19:58] grzesiek2010 commented on #4718
I agree with this and I still like that option with animated circle.

[2021-11-25 01:03] erigmac commented on #4910
@seadowg Some correction needs to be made to this statement here.

I recently went to the field to verify the situation and found out that **ALL** Redmi Note 9 Pro devices are affected with the issue mentioned.

Other Xiaomi models we are running including:
Redmi 9, Redmi 9A, Redmi 9T, Redmi Note 9, Redmi Note 10S, Redmi 10 are not affected

I will update here if the situation changes.

[2021-11-25 09:38] srujner commented on #4910
@seadowg I was not able to reproduce this issue on Redmi 9T, Android 10. I checked it with selfie and video widget.
MIUI version is: 12.0.9

[2021-11-25 13:36] grzesiek2010 commented on #4108
This one seems to be more common now https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/3f88593bf6c5048b6bafb939dea1a6dd?time=last-seven-days&versions=v2021.3.2%20(4321)&sessionEventKey=619F7911019000010B741A86B159F455_1612920484697648443

which happens when we try to move cursor position.

[2021-11-25 13:53] seadowg opened #4919 "Forms always show as updated when manifest's meda files are missing hash prefix"
A test was added to describe this behavior in `BadServerTest` as part of #4911:

[code]

We should discuss what behaviour we actually want in this case (and for null hashes etc). As part of whatever direction we go in, we should backfill unit tests for `OpenRosaResponseParserImpl` to both document all these kinds of edge cases and make sure we have coverage of them.

[2021-11-25 13:57] seadowg commented on #4919
cc @grzesiek2010 @lognaturel

[2021-11-25 16:50] seadowg commented on #4718
OK, I think the way to go here is to build a reworked progress dialog with new behaviour:

* Only closes automatically if threshold is set in form
* Shows warning if satellites are low (under 4) or if non "fused" provider in use
* Just shows current accuracy

This can be a single issue/PR. We'll have a second issue for creating the animated current accuracy display like we've described here. Sound

[2021-11-26 09:11] grzesiek2010 commented on #4919
I think if there is null, empty or invalid hash (without prefix) we should ignore such a file. It's not our fault so there is no reason to be overprotective.

[2021-11-26 09:31] seadowg commented on #4919
Definitely agree we should ignore the file. I guess I'm wondering if we should refuse to download the form and show an error? Right now, in cases where the manifest has invalid items we download the form "successfully" (and report that to the user) which could leave them in a weird state where the form behaves strangely. It seems inconsistent seeing as we will show an error (and back out of downlo

[2021-11-26 10:19] grzesiek2010 commented on #4919
download a form for the first time or its updated version because it's a difference. If you download a form for the first time you don't really need that hash in media files so maybe it would be strange to block this case even though it's not our fault.

Maybe we should consider adding warnings (not only errors) like for example https://getodk.org/xlsform/ does during converting a form.
So in case

[2021-11-26 12:28] grzesiek2010 commented on #4888
I added a pull request with improved logging https://github.com/getodk/collect/pull/4921

[2021-11-26 16:37] seadowg commented on #4919
Agreed! Right now we wouldn't download media files with null hashes the first time or on update (or signal an update based on them updating). Just to summarise, at the moment:

* Manifest including media file with null filename, hash or download url: ignored, form downloaded/updated without media files
* Manifest including media file with invalid hash: treated as valid, form downloaded with media

[2021-11-28 16:18] dimwight commented on #4569
Had a look at this but made little headway.
XLSForm didn't like vegetables.xlsx at all to start with, then the repeats didn't work.

[2021-11-28 16:26] dimwight commented on #3391
Tried to look at this recently but couldn't get the test data to work. Is this still an active issue?

[2021-11-30 11:37] seadowg commented on #4910
It looks like we're not going to have much luck reproducing this with our devices. I'll do an investigation to see if there are any errors/exceptions we could be swallowing that could be logged etc. I'm worried this could be a problem on other devices as well.

[2021-11-30 17:00] lognaturel commented on #4718
I think you've made the assumption that if folks don't set a default explicitly, then they don't want any default capture. My guess is that most folks who don't set a default explicitly are happy enough with the 5m threshold and train their data collectors to just open the geopoint dialog and leave it open until a point is captured. The change you're proposing may be disruptive. Imagine a data col

[2021-11-30 17:20] lognaturel commented on #4718
How about posting to [the forum thread](https://forum.getodk.org/t/collect-improve-geopoint-dialog-so-it-better-highlights-acceptable-accuracy/34246)? I think it would be great to get some more field voices in the conversation. My guess is that the circle animation isn't sufficient. Maybe an addition like red text that says "N meters from target accuracy" or something like that could help.

[2021-12-01 09:32] seadowg commented on #4718
@lognaturel all great points. I've scheduled some time for us to dig deeper into all this and try and see if we can come up with a better design.

[2021-12-01 09:40] grzesiek2010 commented on #4592
With the current implementation if we bump API version to 31 it looks like:
| Our Splash screen enabled  | Our Splash screen disabled |
| ------------- | ------------- |
| ![OurSplashScreenEnabled](https://user-images.githubusercontent.com/3276264/144206144-86ff2217-7b05-43a0-9d6a-47bfcb03b6b5.gif)  | ![OurSplashScreenDisabled](https://user-images.githubusercontent.com/3276264/144206149-b908b63c-e

[2021-12-01 10:01] seadowg commented on #4592
@grzesiek2010 thanks for the write up! I reckon we should phase a removal of our splash screen based on this:

1. #254 (remove the option to show the default splash screen) as part of 2022.1
1. Announce on the forum that the ability to add a custom splash screen will be removed in 2022.2 (and a note to Collect settings)
1. Remove the custom splash screen entirely as part of 2022.2 (enabling the de

[2021-12-01 10:07] grzesiek2010 commented on #4592
Why do you want to remove the option from settings now in 2022.1 and not to do everything together in 2022.2?

[2021-12-01 10:14] seadowg commented on #4592
My thinking was just to kill the "Splash Screen" setting as early as possible to stop people using it or getting used to it. As far as I can see it'll be pretty easy to remove, and I doubt anyone is "relying" on it so need to announce it. That said, it does seem easier for us to remove the whole thing in one go as you suggest, so I think we can just do that. I'll update #254 (and move it out of th

[2021-12-01 10:16] seadowg commented on #254
From the investigation done in #4592, our plan is now just to kill the splash screen entirely. This will need announced on the forum (added blocked tag for this).

[2021-12-01 10:17] #4592 closed, assigned to nobody

[2021-12-01 11:19] seadowg commented on #4910
@erigmac here's a debug (zipped) APK with some changes that might fix the problem you're having: [collect-selfSignedRelease-v2021.3.2-119-gbd8c168ce.apk.zip](https://github.com/getodk/collect/files/7633326/collect-selfSignedRelease-v2021.3.2-119-gbd8c168ce.apk.zip) (built from the changes at #4923). Let me know if you're able to try it out on a test device (you'll need to uninstall the version of

[2021-12-01 15:24] seadowg commented on #4108
Yup that's the most common now I think. Looking at the ones that have hit multiple people we have:

#### 1. `android.database.sqlite.SQLiteDiskIOException` from `DatabaseConnection.getReadableDatabase`

Crash report: https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/07cccfa2bbf3b4e0e4fed4f0a9fcbd76?time=last-seven-days&v

[2021-12-02 06:12] erigmac commented on #4910
@seadowg OK, I will let you know once I have tested the debug APK on Redmi Note 9 Pro.

[2021-12-06 18:05] seadowg commented on #4718
We've (@lognaturel and I) have worked on a new design which I'll post to the forum with a quick write-up for feedback.

[2021-12-06 19:33] grzesiek2010 commented on #4787
I think this issue is not consistent with https://github.com/getodk/collect/issues/4844. I'm talking about the second point:

in https://github.com/getodk/collect/pull/4925 which fixes https://github.com/getodk/collect/issues/4844 I implemented showing errors after clicking the notification (according to the issue) without any additional buttons. Shouldn't the behavior here be the same?

[2021-12-07 10:10] seadowg commented on #4787
Good question. I think this came up in a discussion, but I should have written it down.

For Match Exactly, I think clicking the notification should get them to the Fill Blank Form page where they can easily retry the sync (with the ♻️ button). That's the current flow and I felt like it's still better to prioritize them being able to retry over seeing error details.

With auto update, I just retai

[2021-12-07 12:33] kkrawczyk123 opened #4927 "Demo project is duplicated after updating app"
#### Software and hardware versions
Collect v2021.3 Android all device used...

#### Problem description
When testing Collect's update I have noticed that demo project is duplicated when it's used before updating app.
![ezgif com-gif-maker (14)](https://user-images.githubusercontent.com/33342488/145028829-7828144b-7755-4f24-ab56-27551797efa1.gif)

#### Steps to reproduce the problem
1. Install Col

[2021-12-07 12:50] #4828 closed, assigned to seadowg

[2021-12-07 15:27] seadowg commented on #4927
I think I can see what's going on here. Basically if you install a version of Collect with Projects (v2021.2+) and then upgrade, Collect will attempt to create a project out of the "existing one" (one that would exist in pre v2021.2) and because there won't be one, we end up creating a "Demo project" (this is to do with some small details in `ProjectDetailsCreator`).

I'm going to confirm that I'm

[2021-12-07 16:30] seadowg commented on #4927
Ok yeah it really looks like the above is all true. Annoyingly I don't think there is a way for us to work out which project has been added by this problem (correct if I'm wrong here @grzesiek2010), so it's probably best we announce this on the forum and/or on social media when we have a fix.

I'll start working on a hot fix now.

[2021-12-08 15:04] seadowg opened #4931 "Manual downloads shows as failing when language not set to English"
#### Software and hardware versions
Collect v2021.3.2

#### Problem description
Downloads via "Get Blank Form" will always show as failures if the language is not set to English. The error list will show each form download as having the status "Success" however.

#### Steps to reproduce the problem

1. Set language to anything German (or any language we have translations for)
2. Navigate to Get Bl

[2021-12-10 13:21] grzesiek2010 commented on #4893
As I understand the configuration will be similar to google maps. Our users will need to create an account and generate their own key. So by default after cloning our repository both google maps and mapbox won't work am I right?

Do you think it makes sense to reach out to Mapbox and maybe ask if they provide any accounts for open source projects so that maybe with some limitations but something w

[2021-12-10 14:39] yanokwa commented on #4893
I think we should do the same thing as we do on Google Maps. We say there needs to be an API key and link to the Mapbox site. In general, I don't think we should take on tasks that are a fork's responsibilities unless they somehow benefit core.

[2021-12-10 16:17] seadowg commented on #4893
Yeah exactly. It's just annoyingly more complicated though where the actually accessing the SDK itself needs the account, so we need to do the extra work to get the build to work without it.

Agreed in principle. As I mention above, the app won't build without an API key as it's needed to pull the dependency down. I don't think we want to enforce contributors (our even ourselves) to have an API ke

[2021-12-10 18:01] yanokwa commented on #4893
Not great that the app won't build without a key. No way to ifdef it or something? I'll reach out to our colleagues at Mapbox to see what they suggest.

[2021-12-10 19:58] seadowg commented on #4893
@yanokwa oh to be clear my plan is that we can make the app build without Mapbox **unless** a key is supplied. I just mean that wanted to make sure it was understood that the API key was adding a larger burden than the Google one. It would be great if they have a way of making this work so we don't have to work out the Gradle foo ourselves!

[2021-12-14 14:02] seadowg commented on #4718
Ok we're going to move ahead with the mock-up posted on the forum and play around with the feedback in implementation rather than iterating on the mockup:

<img width="328" alt="Screenshot 2021-11-09 at 11 08 44" src="https://user-images.githubusercontent.com/556280/146011476-8e161b89-548d-4898-90e5-8bd242fa0912.png">

The text under the accuracy ("2.25m from..." and "Please wait...") will be dyna

[2021-12-14 15:45] seadowg commented on #4910
@erigmac did you manage to get a chance to try out the APK?

[2021-12-17 16:46] grzesiek2010 opened #4939 "Protect the app from importing preferences that are not specified in our json scheme"
#### Problem description
https://github.com/getodk/collect/pull/4924 introduces json scheme to validate preferences we are trying to import. The problem is that it will still be possible to import preferences other than those specified in the scheme what might cause problems like the one with `allow_other_ways_of_editing_form` described in https://github.com/getodk/collect/pull/4924#discussion_r77

[2021-12-18 08:09] erigmac commented on #4910
@seadowg Sorry it took a while to get hold of the devices, I have tested the APK on Redmi Note 9 Pro and it still didn't help with the selfie function.

I'm currently putting a constraint on the form based on the user to switch to the main camera and have the enumerator switch manually to the selfie camera for now.

Let me know if you need anything else to report since the apk is now installed.

[2021-12-20 11:01] seadowg commented on #4910
@erigmac thanks so much looking into it. Sorry the problem still seems to be there.

@yanokwa I think we'll need to look at acquiring a Redmi Note 9 Pro to investigate this further.

[2021-12-20 12:04] grzesiek2010 opened #4940 "Add Hilt to the project"
#### Problem description
We use Dagger for dependency injection. Hilt is built on top of the Dagger and it is a recommended tool now and it is everywhere (documentation, tutorials, articles). The goal of Hilt is:
- To simplify Dagger-related infrastructure for Android apps.
- To create a standard set of components and scopes to ease setup, readability, and code sharing between apps.
- To provide a

[2021-12-20 16:02] kkrawczyk123 opened #4941 "Unable to create form shortcut on Xiaomi devices"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used: Redmi 7, Remdi Note 9

#### Problem description
When testing #4917 I have noticed that I can't create a form shortcut on Xiaomi devices.

#### Steps to reproduce the problem
1. Open widgets on Xiaomi device - see there is no ODK Collect there.

#### Expected behavior
User should be able to create form shortcut on all

[2021-12-20 16:27] seadowg commented on #4940
I was just thinking about this! We should definitely have a proper discussion about this as part of our next release cycle and do some investigation, but I wanted to reply before you're away for the holidays. In short, I think we should look at and evaluate a few different options such as:

* Keeping Dagger2
* Moving to Hilt
* Moving to a Kotlin DI tool like Kodein or Koin

Whatever we decide, I t

[2021-12-20 19:28] #4743 closed, assigned to grzesiek2010

[2021-12-24 18:09] seadowg opened #4943 "Support `map` appearance in `select`/`select_one_from_file`"
As discussed on [the forum](https://forum.getodk.org/t/ability-to-load-locations-into-the-geowidget-to-guide-data-collection/27406/12) (along with design details), we want to add support for `.geojson` files in Select questions. This means adding a `map` appearance for `select_one`/`select_one_from_file` (it's opaque to Collect which "select one" is actually being used in the form) that allows the

[2021-12-29 10:17] #4839 closed, assigned to grzesiek2010

[2021-12-30 13:28] seadowg opened #4946 "Collect crashes when trying to download media file with path as `filename`"
Originally reported on [the forum](https://forum.getodk.org/t/cannot-download-external-instances-in-odk-collect-from-a-custom-implementation-of-open-rosa/35372).

This only happens with "custom" server implementations as Central won't return `filename` with a hierarchical path.

#### Software and hardware versions
Collect v2021.3, custom server

#### Problem description

Collect crashes when tryin

[2021-12-30 14:01] seadowg opened #4947 "Extract generic "select item from map" implementation from `FormMapActivity`"
The goal here is to end up with reusable code which we can use to build the [GeoJSON features](https://github.com/getodk/collect/issues/4943) with.

Some thoughts on what this could look:

* We could probably end up with a new Activity in the `geo` module
* The new Activity could take in a list of "selectable items" as an extra and return a single one of those items as a result
* The Activity will

[2021-12-30 14:13] seadowg opened #4948 "Add support for `select_one`/`select_one_from_file` with `map` appearance and without `quick` appearance"
## Acceptance

- [x] Given I'm on the map after clicking "Select place"
When I click on a point
And I click "Select"
Then I return to the question with the selected point as the answer

- [x] Given I'm on the map after clicking "Select place"
When I click on a point with a `label` column
Then I see the `label`

- [x] Given I'm on the map after clicking "Select place"
When I click on a point with a

[2021-12-30 14:25] seadowg opened #4949 "Add support for `map` and `quick` appearance in `select_one`/`select_one_from_file`"
## Acceptance

- [x] Given I've loaded a form into Collect with a `select_one`/`select_one_from_file` with multiple choices with a point in their `geometry` column and `map`/`quick` appearances
When I open the form
And I navigate to the question
And I click "Select place"
Then I see all the points on a map at the correct coordinates
And the question label is shown at the top of the screen

- [x] G

[2021-12-30 14:40] seadowg opened #4950 "Add support for traces to select one `map` appearance"
## Acceptance

- [ ] Given I'm on the map after clicking "Select place"
When I click on a trace
And I click "Select"
Then I return to the question with the selected trace as the answer

## Notes

A trace will be formatted in the `geometery` column for a choice as the [`geotrace` datatype](http://getodk.github.io/xforms-spec/#data-types).

[2021-12-30 14:42] seadowg opened #4951 "Add support for shapes to select one `map` appearance"
## Acceptance

- [ ] Given I'm on the map after clicking "Select place"
When I click on a shape
And I click "Select"
Then I return to the question with the selected shape as the answer

## Notes

A shape will be formatted in the `geometery` column for a choice as the [`geoshape` datatype](http://getodk.github.io/xforms-spec/#data-types).

[2021-12-30 14:43] seadowg opened #4952 "Add support for `MultiX` GeoJSON Features in `select_one_from_file` with `map` appearance"
## Acceptance

- [ ] Given I'm on the map after clicking "Select place" on a GeoJSON `select_one_from_file` GeoJSON question
When I click on a `MultiPoint`
And I click "Select"
Then I return to the question with the selected `MultiPoint` as the answer

- [ ] Given I'm on the map after clicking "Select place" on a GeoJSON `select_one_from_file` GeoJSON question
When I click on a `MultiLineString`
A

[2022-01-02 23:24] yanokwa commented on #4910
Given that this is a niche device and selfies are a niche feature, I don't think it's worth it to keep investigating. @seadowg is there a way we can detect if this is happening on other devices?

[2022-01-02 23:28] yanokwa commented on #4893
Word from Mapbox is there is no easy way to get a generic token, so let's proceed with the building without Mapbox unless a token is supplied.

[2022-01-04 15:07] grzesiek2010 opened #4953 "Allow displaying svg as images in questions/choices"
#### Software and hardware versions
All version and all devices.

#### Problem description
Users can add media files (image/audio/video) to questions and choices (in select_one/select_multiple) questions. Unfortunately displaying svg files as images does not work.

#### Steps to reproduce the problem
Try the attached form:
[svg.zip](https://github.com/getodk/collect/files/7808467/svg.zip)

#### Ot

[2022-01-05 06:40] yanokwa opened #4954 "Videos in forms do not play in Android 12"
#### Software and hardware versions
Collect v2021.3.2, Android 12, Pixel 3a

#### Steps to reproduce the problem
Use this [farmer-registration.zip](https://github.com/getodk/collect/files/7812482/farmer-registration.zip) with videos on an Android 12 device. Try to play one of the videos in the form. You will get a "No activity found to handle: View Video".

#### Other information
This same form wo

[2022-01-05 09:31] seadowg commented on #4910
Not that we know of. Given there isn't a crash, and we haven't been able to reproduce, we have no idea of what to look for in terms of state/exceptions. I think getting hold of a device (either through a purchase or a donation from someone who's seeing the problem) is the best way to move forward if we want to fix this.

One thought: our selfie widget requires a custom integration with `Camera2` (

[2022-01-05 14:45] #4693 closed, assigned to grzesiek2010

[2022-01-06 17:38] seadowg opened #4956 "Make sure to teardown `ActivityScenario`/`FragmentScenario` objects"
These objects are both `Closable` and so should be treated as resources rather than as objects that will cleaned up properly by GC alone. We need to add `close()` calls in tests using the test scenarios to prevent memory leaks in our suite. In some places we can just use `ActivityScenarioRule` for this. We might need to create our own rule for other places where we create multiple scenarios.

Doin

[2022-01-07 10:15] seadowg commented on #4108
@lognaturel @grzesiek2010 thoughts on the above comment?

[2022-01-10 15:05] #4915 closed, assigned to grzesiek2010

[2022-01-10 18:35] #4718 closed, assigned to seadowg

[2022-01-10 20:24] grzesiek2010 commented on #4953
@lognaturel I created a pull request for this issue so maybe it make sense to include it in v2022.1? You can decide.

[2022-01-11 15:46] #4927 closed, assigned to seadowg

[2022-01-11 16:56] lognaturel commented on #4871
Let's use [this Google doc](https://docs.google.com/document/d/1iilvb2xrJzDWvhU8g_Tfe5mQMJLUGP_DZglCMfYH314/edit) to iterate on text.

Current timeline from [support docs](https://support.google.com/googleplay/android-developer/answer/10787469):
[code]

[2022-01-11 17:01] lognaturel opened #4959 "React to location permission changes in Android 12"
In Android 12, users are always given the choice between fine and coarse location accuracy: https://developer.android.com/training/location/permissions

This is problematic because data collectors may accidentally select coarse and then not be able to capture points as required by the form

- [ ] Brainstorm some concrete directions we could take
  - have a permission-granting flow at app launch so

[2022-01-11 17:02] lognaturel opened #4960 "Geopoint dialog improvements"
Must have:
- [x] Make default, remove Experimental toggle
- [x] Bring satellite info back

Nice to have:
- [x] See if activity can be transparent
- [x] Make dialog scrollable

[2022-01-11 17:07] lognaturel commented on #4960
I put "Bring satellite info back" as must have because I think it's useful in areas where GPS is the only signal. The only mention of it we got on the forum thread was Mathieu saying it's not very useful but people are used to seeing it. I could be convinced to omit and bring back if people complain if you really prefer that, @seadowg

[2022-01-12 05:10] lognaturel opened #4961 "Make unacceptable geopoint accuracy cutoff configurable"
[code]
<details>
  <summary>Brainstorming</summary>
Currently there is a accuracyThreshold body attribute: “For <input> with type geopoint, geotrace, or geoshape this sets the auto-accept threshold in meters for geopoint captures”. I’m not entirely sure how/if this is actually supported for traces and shapes.

We want to also make the unacceptable accuracy cutoff configurable. I think by analogy t

[2022-01-12 13:06] grzesiek2010 opened #4962 "NullPointerException: Attempt to invoke virtual method 'float android.location.Location.getAccuracy()' on a null object reference"
#### Software and hardware versions
Collect v2022.1-beta.0

#### Problem description
https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/0e474160d58f47246060bec728b583c3?time=last-seven-days&versions=v2022.1-beta.0%20(4342)&sessionEventKey=61DEB0BD0366000111F2F8A684B9554F_1630718692977095893

[code]

[2022-01-12 16:39] seadowg commented on #4962
We fixed the issue in the current release version but didn't bother porting the hotfix as we're replacing the implementation - we didn't think about this when releasing the beta though. We're deleting `GeoPointActivity` in #4963 which will take care of it anyway.

[2022-01-12 17:39] seadowg commented on #4959
We also need `FINE_LOCATION` to access satellite data as well so we'll need to consider this here.

[2022-01-13 12:00] seadowg opened #4964 "Switch to appropriate project when opening app from shortcut or notification"
Currently, clicking on a shortcut or notification can get you into a weird state where you're on the appropriate screen but in a different project or told you have to switch project and try again.

[2022-01-14 08:22] grzesiek2010 opened #4965 "android.util.AndroidRuntimeException: java.lang.reflect.InvocationTargetException"
#### Software and hardware versions
Collect v2021.3.4 – v2022.1-beta.0

#### Problem description
https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/4b36e1690704196937b97c4705b56758?time=last-seven-days&versions=v2022.1-beta.0%20(4342)&sessionEventKey=61E086290088000127F4C824A8F75CB2_1631230155384501725

[code]

#### Steps

[2022-01-14 12:23] #4841 closed, assigned to grzesiek2010

[2022-01-14 12:23] #4844 closed, assigned to grzesiek2010

[2022-01-14 12:32] grzesiek2010 commented on #4884
This is partly fixed by https://github.com/getodk/collect/pull/492

[2022-01-14 12:35] seadowg commented on #4884
@grzesiek2010 is the "partly" because it mentions "manual" submits? If so, let's just edit the description and close this off. I wrote this issue thinking we'd do background manual submits first, so the context is wrong.

[2022-01-14 12:44] grzesiek2010 commented on #4884
Partly because `Additional action "Show details" takes user to errors screen with errors` is not implemented. As i said in https://github.com/getodk/collect/pull/4929:

so this is not implemented.

[2022-01-14 14:41] #4571 closed, assigned to abhishekab

[2022-01-14 16:33] #4962 closed, assigned to nobody

[2022-01-17 10:54] grzesiek2010 opened #4967 "Replace deprecated CopyFormRule"
#### Problem description
`CopyFormRule` is a [rule](https://ncorti.com/blog/junit-rules) we use in our tests to copy forms that we need to use in particular tests to app storage before starting a test. It is marked as deprecated and should be removed. We should use `copyForm()` form `Page` instead, like we do for example in `AndroidShortcutsTest`

[2022-01-17 11:04] dczerwinski commented on #4967
@getodk-bot claim

[2022-01-17 11:56] #4931 closed, assigned to seadowg

[2022-01-17 16:25] kkrawczyk123 opened #4970 "Collect is crashing when try to record video on Adroid 12"
#### Software and hardware versions
Collect v master Android v 12 device used... emulator Pixel 5

#### Problem description
When testing #4955 I have noticed that Collect crashes when try to record video using video widget. The issue is also visible on master.

#### Steps to reproduce the problem
1. Open video widget on Android 12
2. Tap on record video

#### Expected behavior
Collect should not c

[2022-01-17 16:38] grzesiek2010 commented on #4940
I have never used Koin or Kodein so I can't tell anything about my personal experiences with them vs Dagger. I can agree that dagger and its setup was complex and I think Hilt makes it a bit easier maybe not enough for you @seadowg but there is an improvement I think.

I would vote for sticking to dagger (I mean Hilt of course) because:
- it's the most popular DI tool that was used in ~95% of cour

[2022-01-18 09:35] seadowg opened #4972 "Remove `opencsv` dependency"
We're using a very old version (2.3). We should either switch to a newer one or look at alternatives like Apache Commons CSV (which JavaRosa is using).

[2022-01-18 09:45] seadowg opened #4973 "Set up way to back and restore dependencies"
Losing access to JCenter created a situation where we were unable to build the app on a fresh machine - only dev machines that happened to have already built and cached dependencies were working. This problem could present itself again in a few ways:

* A dependency could disappear from a repository
* A repository could go down (more likely for something like jitpack or the medic mobile repository

[2022-01-18 09:50] #4965 closed, assigned to grzesiek2010

[2022-01-18 09:59] seadowg commented on #4973
This could be useful: https://discuss.gradle.org/t/need-a-gradle-task-to-copy-all-dependencies-to-a-local-maven-repo/13397/17. For some reason, everyone wants to use python to solve this 🐍

[2022-01-18 10:17] grzesiek2010 commented on #4970
This is weird...
The camera app crashes after starting recording with this error:

[code]

if I remove [i.putExtra(MediaStore.EXTRA_VIDEO_QUALITY, 1)](https://github.com/getodk/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/widgets/VideoWidget.java#L237) the crash does not occur (there is another problem with copying video but at least there is no crash)

[EXTRA_VIDEO_QUALIT

[2022-01-18 10:52] seadowg commented on #4940
Can't disagree with any of your points here: Dagger is the standard for Android development, and it is pretty unique (within the JVM world) in providing performance advantages given it does most of it's work at compile time. I guess for me personally, I've never really felt like that is a worth trade-off for the things that really annoy me:

* Coupled injection and container mechanism - to generat

[2022-01-18 12:00] grzesiek2010 commented on #4940
Yeah that sounds fine I can give it a try (Koin) why not. Please give me some time I will read/watch something about Koin so that I'm not completly new and we can start.

[2022-01-18 13:02] seadowg commented on #4940
What about I look at Koin and you look at Hilt? We could do draft PRs of each to compare. I've used Kodein a bunch in the past and Koin is pretty similar where as I haven't had a chance to look at Hilt properly.

[2022-01-18 13:14] grzesiek2010 opened #4974 "Get rid of deprecated InstancesDaoHelper"
#### Problem description
`InstancesDaoHelper` is deprecated and should no longer be used. Instead we should use `InstancesRepository` as described in the comments in `InstancesDaoHelper`.

[2022-01-18 13:16] dczerwinski commented on #4974
@getodk-bot claim

[2022-01-18 13:50] seadowg commented on #4961
@lognaturel Going to go with `unacceptableAccuracyThreshold` for the moment instead as it feels like it mirrors both the other param and the language used in the app. We can easily switch back if you don't agree!

[2022-01-18 15:08] #4954 closed, assigned to grzesiek2010

[2022-01-18 17:29] lognaturel commented on #4961
Works for me! I’m always torn between matching existing naming and trying for something better. Relatedly, we’ve been using dash-separated words for attribute names recently. I believe that was to match W3C XForms conventions. Here since we already have a related attribute that uses lower camel case here I didn’t think too much about it and figured we should match. Just making that explicit.

Is t

[2022-01-18 17:34] seadowg commented on #4961
Was just moving on to this part and don't quite understand it. "the text never is displayed" - not sure what this means? I was thinking that if the value is less than the other thresholds then the accuracy just always shown as "unacceptable" (until it's auto saved).

[2022-01-18 19:57] #4953 closed, assigned to grzesiek2010

[2022-01-18 20:01] lognaturel commented on #4961
Yeah, ok, I guess that makes more sense. And if a user never wants to see "unacceptable" (what I want to make sure is supported) they just need to put an outrageously high value for the unacceptable threshold. Not sure why I wasn't seeing that as a reasonable approach.

I've updated the issue with what I think are the requirements we've agreed on. Please update if anything seems off.

[2022-01-18 20:09] #4960 closed, assigned to seadowg

[2022-01-19 09:32] seadowg commented on #4961
I switched the language round so "higher" accuracy is a greater number ("accuracy - 5" becomes "accuracy + 5" for instance). I find it pretty impossible to reason about otherwise, although I see how you got there.

[2022-01-19 10:10] seadowg commented on #4961
@lognaturel I'm not sure if I understand the reasoning here. There are three categories for accuracy above the threshold: improving (<= accuracyThreshold + 5), poor (> accuracyThreshold + 5) and unacceptable (> 100 or unacceptableAccuracyThreshold). Here you're saying that if unacceptableAccuracyThreshold <= accuracyThreshold + 5 then we never get to "improving", even if unnacceptableAccuracyThres

[2022-01-19 11:10] seadowg commented on #4940
Ok a tangible example of Dagger being frustrating (IMO) that I just ran into: I'm unable to make `GeoPointDialogFragment` and `internal` class (encapsulate it within the `geo` module) because I need to have an `inject` method on `GeoDependencyComponent` to support injection into the class (and that interface has to be `public`). This is an example of the coupling actively getting in the way of doi

[2022-01-19 16:40] grzesiek2010 opened #4978 "Size of images taken/chosen by Collect might be inflated"
#### Software and hardware versions
Collect all versions

#### Problem description
Photos taken/chosen by Collect might have bigger size than those taken by the camera app directly.
The issue has been originally reported on the forum: https://forum.getodk.org/t/inflated-image-size-quality-compression/36282

[2022-01-20 10:43] kkrawczyk123 opened #4979 "White progress dialog is visible when reset settings in dark mode"
#### Software and hardware versions
Collect v2022.1 Android vx.x.x, device used...

#### Problem description
I have noticed a small regression issue connected to the progress bar dialog displayed when reset settings in dark mode, it's white. See gif:
![ezgif com-gif-maker (19)_2022](https://user-images.githubusercontent.com/33342488/150323487-dfc82211-c205-48bb-8ea7-88e2f7c9c90e.gif)

the same cas

[2022-01-20 11:30] grzesiek2010 opened #4981 "Stop using deprecated methods from RobolectricHelpers"
#### Problem description
In `RobolectricHelpers` we have a few deprecated methods which we should stop using. Every method has its own description so it should be clear what we want to use instead.

[2022-01-20 11:32] dczerwinski commented on #4981
@getodk-bot claim

[2022-01-20 11:49] grzesiek2010 commented on #3740
Spotbugs does not work well with kotlin so now as we add all the new code using kotlin I think it doesn't make sense to add spotbugs back.

[2022-01-20 11:49] #3740 closed, assigned to nobody

[2022-01-20 14:02] #4961 closed, assigned to seadowg

[2022-01-20 15:11] grzesiek2010 opened #4983 "Fix deprecated methods in FormEntryPage"
#### Problem description
In `FormEntryPage` we have deprecated methods like:
- swipeToNextQuestion
- swipeToPreviousQuestion
- clickOnDoNotAddGroup
- clickOnDoNotAddGroupEndingForm
- clickOnAddGroup

Every method has its own description so it should be clear what we want to use instead.

[2022-01-20 15:13] dczerwinski commented on #4983
@getodk-bot claim

[2022-01-20 15:56] grzesiek2010 commented on #4445
I'm closing this issue because I haven't seen it for a while. We can reopen if needed or create a new issue.

[2022-01-20 15:56] #4445 closed, assigned to nobody

[2022-01-20 15:58] grzesiek2010 commented on #4340
I'm closing this issue because I haven't seen it for a while. We can reopen if needed or create a new issue.

[2022-01-20 15:58] #4340 closed, assigned to nobody

[2022-01-20 22:52] lognaturel commented on #4961
Sigh, why write something simple when I can write something inscrutable! Yes, you did it the sanest way.

[2022-01-21 12:58] srujner opened #4984 ""Yes" and "No" responses are displayed incorrectly in hierarchy view in single select widgets"
#### Software and hardware versions
Collect v2022.1 Android 11, Pixel 3a

#### Problem description

I've noticed a small regression issue related to single select widget in hierarchy view. The answers "Yes" and "No" should be green or red.

![Screenshot_20220121-125553](https://user-images.githubusercontent.com/85225519/150530376-1a3acf61-df25-49d3-b00d-bef539f85c75.png)

the same case from v2021.

[2022-01-21 13:43] srujner commented on #4984
I also noticed that a similar issue is with the CenterText:
![Screenshot_20220121-143724](https://user-images.githubusercontent.com/85225519/150537192-7ec30cce-38cc-474e-8837-4c48d12529aa.png)

[2022-01-21 17:50] seadowg commented on #4984
I'm going to guess I oversimplified something in the additions I made to https://github.com/getodk/collect/pull/4897. Looking at it again, we made the assumption that answers (which are used as the secondary text) wouldn't include HTML that we'd want to render. The original problem in fact was that answers were rendering weirdly if you [typed HTML in as a text answer](https://github.com/getodk/col

[2022-01-21 22:53] lognaturel commented on #4984
I don’t believe so. I think the rule should be that html is rendered in strings that are intended only for display. That means labels and hints. I believe the only values that get replaced by labels are selects and the closely-related rank. In all other cases values are raw.

I don’t exactly remember how values end up in the hierarchy view. Ideally selects could be treated specially.

This is poss

[2022-01-23 15:42] seadowg commented on #4984
Agreed! I think we should introduce a special case for selects and acknowledge that if a choice label with HTML is used as a dynamic default somewhere else, it won't get rendered as HTML (and will just show as plain text).

[2022-01-23 16:59] lognaturel commented on #4984
Sounds great! What I meant by backing out is that if it’s too hard to introduce the special case then backing out of #4897 might be best.

[2022-01-24 10:45] seadowg opened #4987 "GeoPoint does nothing if Location is disabled at a system level"
#### Software and hardware versions

Collect v2022.1 Beta 2

#### Problem description

Trying to to use the new GeoPoint with Location disabled in Android just causes the dialog to wait indefinitely (a location is never fixed and there is no error message).

#### Steps to reproduce the problem

1. Make sure Collect has location permissions granted
2. Disable Location in Android by going to "Settin

[2022-01-24 14:20] grzesiek2010 opened #4988 "Replace deprecated DayNightProgressDialog"
#### Problem description
Replace deprecated DayNightProgressDialog. As the description says:

[code]

[2022-01-24 14:21] dczerwinski commented on #4988
@getodk-bot claim

[2022-01-24 14:57] grzesiek2010 commented on #4984
https://github.com/getodk/collect/issues/4480 was not something big so I think we should just revert https://github.com/getodk/collect/pull/4897 for v2022.1.

[2022-01-24 15:30] grzesiek2010 opened #4989 "Parcelable encountered IOException writing serializable object (name = org.odk.collect.android.formmanagement.ServerFormDetails)"
#### Software and hardware versions
Collect v2022.1-beta

#### Problem description
[code]

[code]

https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/cb4fdde55273ec96d7a4d3501104fa15?time=last-seven-days&versions=v2022.1-beta.2%20(4351)&sessionEventKey=61ED74B0033900012D78D915B1447E23_1634870150588611118

#### Steps to re

[2022-01-25 10:29] grzesiek2010 commented on #4984
After looking at that #4897 I think it added some nice refactoring and tests so I think we can just add styling back instead of reverting the whole pr. I created a pull request for that: https://github.com/getodk/collect/pull/4992. Then we should reopen #4480 and add more details to fix it according to what @seadowg said:

[2022-01-25 12:46] seadowg commented on #4480
This will be regressed by #4992. We'll need to come up with a fix for this that allows selects choices to still be rendered as HTML when they are used as secondary text for a hierarchy item.

[2022-01-25 13:16] seadowg commented on #407
I think we're unlikely to spend time on this - it's probably a responsibility that https://getodk.org could handle in the future. If anyone wants to reopen feel free!

[2022-01-25 13:16] #407 closed, assigned to nobody

[2022-01-25 13:23] seadowg commented on #3906
This has all been reimplemented from the ground up with tests (good ol' TDD)!

[2022-01-25 13:23] #3906 closed, assigned to nobody

[2022-01-25 13:26] seadowg commented on #4778
We haven't touched this code for a while so I think it's best to refactor when we feel the pain - that could push us in a different direction from what we've laid out here.

[2022-01-25 13:26] #4778 closed, assigned to nobody

[2022-01-25 14:00] #4987 closed, assigned to seadowg

[2022-01-25 15:15] #4979 closed, assigned to grzesiek2010

[2022-01-25 15:16] #4984 closed, assigned to nobody

[2022-01-25 16:08] lognaturel commented on #4943
In the forum writeup, I proposed exposing `geometry` in ODK format. That means the type isn't needed. A first split on ";" could be used to figure out how many points there are. If there are more than one, it's a shape if the first and last points are identical. Does that seem ok, @seadowg or do you see an issue with it?

Because we're using the `map` appearance to determine that a map should be d

[2022-01-25 18:05] seadowg opened #4995 "Foreground service notifications should use the same notification"
Our foreground services currently have different notification icons - audio recording uses a specific recording one and location tracking uses the same icon as our other notifications (`R.drawable.ic_notification_small`). These should be made consistent, so it's clear to users when Collect is up to something in the background - they should all use `R.drawable.ic_notification_small`.

### Notes

We

[2022-01-25 18:10] seadowg opened #4996 "Always handle disabled Location when checking location permissions"
The handles requesting/checking location permissions separately from disabled Location (at a system level). We've introduced a new helper that covers both (`PermissionsProvider#requestEnabledLocationPermissions`) and could now use that instead of `requestLocationPermissions` to cover both cases everywhere and remove duplicated code.

### Notes

`PermissionsProvider`'s `requestX` methods are mostly

[2022-01-25 22:04] yanokwa commented on #4871
I'd encourage us to have this finished way before the April timeline. Maybe mid February? I believe we will need to fill out a form and submit it to Google for approval. If we wait until April, there will likely be a huge backlog.

[2022-01-25 22:29] yanokwa commented on #4970
I tried master (cec649a7d90b4a6818d10e43c77b07c92fc30fbd) on a Pixel 3a running Android 12, and video recording worked great on the demo form.

[2022-01-25 23:15] lognaturel commented on #4970
Let's close. If someone with a real device runs into issues we should see it in crash logging and can see what our options are.

[2022-01-25 23:15] #4970 closed, assigned to grzesiek2010

[2022-01-26 10:40] grzesiek2010 opened #4998 "Get rid of Clock interface"
#### Problem description
There is `Clock` interface in our codebase which is marked as deprecated. Its descriptions clarifies what should be used instead.

[2022-01-26 10:41] dczerwinski commented on #4998
@getodk-bot claim

[2022-01-26 12:57] #4989 closed, assigned to grzesiek2010

[2022-01-27 10:24] seadowg commented on #4871
@yanokwa agreed! This is part of (and at the top of the list of) our next release cycle.

[2022-01-27 11:51] grzesiek2010 opened #5001 "Use coroutines instead of asynctask in ResetDialogPreferenceFragmentCompat"
#### Problem description
We have multiple old asynctasks across the project. As you know it's better to use coroutines and asynctask is now even deprecated.
`ResetDialogPreferenceFragmentCompat` contains a small asynctask and replacing it should be a good first step.

[2022-01-27 11:55] dczerwinski commented on #5001
@getodk-bot claim

[2022-01-28 00:59] lognaturel commented on #4943
I think it's even better than that -- only `geometry` is needed. The XForm configures which fields to use as `name` and `label`. It will be `id` and `title` by default for geojson as it is now `name` and `label` by default for other selects but [will soon be configurable](https://github.com/XLSForm/pyxform/issues/461).

[Here](https://docs.google.com/spreadsheets/d/191Taxl2BU1UmBPpU4SLXEiP2cnhVx7m

[2022-01-31 13:05] #4967 closed, assigned to dczerwinski

[2022-01-31 13:25] #4981 closed, assigned to dczerwinski

[2022-01-31 16:27] grzesiek2010 opened #5007 "java.lang.RuntimeException: Could not allocate dup blob fd."
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/bb3de6a367388d12a48d24f90bab97a6?versions=v2022.1.0%20(4359)&time=last-seven-days&types=crash&sessionEventKey=61F6AB76002B000177D2525D3AABD425_1637466206334167960

[2022-01-31 16:57] grzesiek2010 opened #5008 "FormEntryActivity does not return instance uri after finishing a form"
#### Software and hardware versions
Collect v2021.3.4

#### Problem description
`FormEntryActivity` does not return instance uri after finishing a form. The problem seems to be caused by the fact that we hide `FormEntryActivity` behind `FormUriActivity` after merging https://github.com/getodk/collect/commit/0e927d7a8bdc3254690cf27b49083235bf95214e and `FormUriActivity` does not return the value re

[2022-01-31 21:35] seadowg commented on #5008
We should cherry-pick the fix for this onto a `v2022.1.x` branch so we can release it as a patch.

[2022-02-01 18:48] #4998 closed, assigned to dczerwinski

[2022-02-02 14:59] grzesiek2010 opened #5012 "IllegalArgumentException: Huawei devices are unsupported for Android N"
#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/80e757abd296ef6a142434027b8af268?time=last-seven-days&versions=v2022.1.0%20(4359)&types=crash&sessionEventKey=61F79C340127000108A370A69753A00F_1637728606934207344

[code]

[2022-02-02 15:08] grzesiek2010 opened #5013 "Get rid of TranslationHandler"
#### Problem description
`TranslationHandler` is just a wrapper that delegates the work directly to our extension function `getLocalizedString`. There is no reason not to use `getLocalizedString` directly.

[2022-02-02 15:09] dczerwinski commented on #5013
@getodk-bot claim

[2022-02-03 13:16] grzesiek2010 opened #5015 "Unable to start activity ComponentInfo{org.odk.collect.android/org.odk.collect.errors.ErrorActivity}: java.lang.NullPointerException: null cannot be cast to non-null type kotlin.collections.List<org.odk.collect.errors.ErrorItem>"
#### Software and hardware versions
Collect v2022.1

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/9f0addc78d6a8dfa56e0bf2535dc87ff?time=last-thirty-days&versions=v2022.1.0%20(4359)&types=crash&sessionEventKey=61FA4ACD026700014BDEF8B8134D7F66_1638483213915582049

[code]

[2022-02-03 13:36] grzesiek2010 commented on #5015
This is a weird crash I tried to reproduce it but to no avail and also I can't see anything wrong in `ErrorActivity`.
@seadowg any idea?

[2022-02-03 14:45] seadowg commented on #5015
Yeah, I can't find a case where we pass anything nullable in as `ErrorActivity.EXTRA_ERRORS`. The only thing I can think of is that there might be some Activity recreation scenario where we get a new `Intent` rather than the original one. Not quite sure if that's a real thing though. Did you play around with "Don't keep Activities" enabled?

[2022-02-03 15:05] grzesiek2010 commented on #5015
Yes I tried `Don't keep Activities` and also disabling background processes.

[2022-02-03 18:31] dczerwinski commented on #3729
@getodk-bot claim

[2022-02-04 11:30] #4978 closed, assigned to grzesiek2010

[2022-02-04 12:14] #5012 closed, assigned to grzesiek2010

[2022-02-04 13:22] grzesiek2010 commented on #4893
Ok so as I understand we would need to create a special [flavor](https://developer.android.com/studio/build/build-variants#product-flavors) so that mapbox does not exist in the official releases. I don't love this option for me it's like the last resort. It would be an additional flavor that we would need to maintain and test but it wouldn't be a part of our releases. If I'm right it would be also

[2022-02-04 13:23] #5008 closed, assigned to seadowg

[2022-02-04 14:54] #5013 closed, assigned to dczerwinski

[2022-02-04 16:50] seadowg commented on #4893
I'm not sure if we'd use a flavour, build type or a gradle property, but the goal would be to include Mapbox in the released versions but not debug: "Allow Collect's debug build type to work without the Mapbox SDK dependency". In other words we want is so that I can do a fresh checkout and a `./gradlew assembleDebug` without needing to deal with a Mapbox API key.

I **think** the best way to do th

[2022-02-04 17:03] grzesiek2010 commented on #4893
I'm confused. How do you want to include mapbox in the released versions if we need a token to make it work. I rather thought the other way around that you wanted to keep mapbox in our codebase but exclude it from release versions so that people who build their projects based on our app could still use the code (they would just need to add their own token).

[2022-02-04 17:03] lognaturel commented on #4893
Agreed at this point. It does provide access to really nice basemaps and some folks do make use of the pbx mbtiles support as far as I know.

Meant to add this but apparently never did. @danbjoseph suggested we consider https://maplibre.org/. They forked right before the Mapbox changes went into place. I assume they'll diverge sooner than later but it is more spiritually aligned with what we're tr

[2022-02-07 10:15] seadowg opened #5018 "Back button doesn't close Geopoint dialog"
#### Software and hardware versions

Collect v2022.1.0

#### Problem description

The back button doesn't do anything while the Geopoint dialog is up.

#### Steps to reproduce the problem

1. Open a form with a `geopoint` question
2. Navigate to the question and hit "Start GeoPoint"
3. Press back

#### Expected behavior

The back button should return to the form.

[2022-02-07 13:55] dczerwinski commented on #3729
Dialog is created not by ODK app but by Google. We are sending intent for result to get user Google Account in `ServerPreferencesFragment.requestAccountsPermission()`.
In the official documentation, I couldn't find any way to change the background of the dialog, but there were a lot of hints on the internet to add this extras to intent:
[code]

However, it doesn't work for us. I debugged the code

[2022-02-07 14:14] seadowg commented on #4943
Ace! Could you add examples of how the different GeoJSON features will look (like `LineString`, `MultiLineString` etc). I want to make sure I have that all correctly understood in my head.

[2022-02-07 18:56] grzesiek2010 commented on #3729
Ok it seems like we can't fix this indeed so i'm going to add won't fix label. Thanks for investigating the issue.

[2022-02-08 16:45] grzesiek2010 commented on #4787
Today I started looking into this issue and playing with backoff policy. To be 100% sure the idea is to retry jobs that are triggered by `match exactly` (currently we don't retry at all if there is an exception we just display it) and throw exceptions but only if that exception is Unreachable exception.  In such a case we should try let's say 3 times and display a notification only after the last

[2022-02-08 17:11] #4972 closed, assigned to nobody

[2022-02-09 09:33] seadowg commented on #4787
This sounds about right to me. Looking at the options we have in [WorkManager](https://developer.android.com/topic/libraries/architecture/workmanager/how-to/define-work#retries_backoff), I'm thinking we could use the `EXPONENTIAL` back off policy and set a minimum time of 60 seconds/1 minute? Given our fastest update interval is 15 mins, I think it makes sense to wait longer than the standard 10 s

[2022-02-09 09:45] seadowg opened #5021 "Re-enable `ImageView` tests for views using Glide"
We recently switched to Glide to fix some bugs and introduce support of SVGs but ended up being unable to test that images are correctly loaded into `ImageView`s (`DrawWidgetTest` is an example). We should rework our integration with Glide (I imagine we'll end up with some kind of "image loader" interface) so that we can test which images have been loaded into an image view and reenable the `@Igno

[2022-02-09 11:06] grzesiek2010 commented on #4787
All what you said seems fine and is basically what I tested yesterday there is just one problem...

The whole logic responsible for downloading forms for `matchexactly` including handling exceptions (`FormSourceException` in this case) is hidden behind `FormsUpdater#matchFormsWithServer()`.  That method returns true if task is completed and false otherwise. As you said we could use that value to p

[2022-02-09 11:29] seadowg commented on #4787
Personally I do think we should go with only retrying for `Unreachable`/`SecurityError` as these are the only ones that can be caused by the device's access to the network rather than the server genuinely being in a bad state - not something we want to obscure. I think retrying on any error would be a good first step/PR though as you're right that it's certainly simpler to implement. I can pull ou

[2022-02-09 11:35] grzesiek2010 commented on #4787
Yes such a `Result` would also work but still it's adding complexity that only one client of `FormsUpdater#matchFormsWithServer()` needs - the second client is in `BlankFormsListViewModel` and there it doesn't matter what the exception was. Let's wait for @lognaturel.

[2022-02-09 17:17] lognaturel commented on #4871
Thanks for completing this, @yanokwa. [The doc](https://docs.google.com/document/d/1iilvb2xrJzDWvhU8g_Tfe5mQMJLUGP_DZglCMfYH314/edit) has more details on some of the decisions we had to make. As usual, Collect doesn't fit the information asked very well.

It looks like the section hasn't rolled out to the Play Store yet. We'll revisit periodically as it gets displayed to make sure that our respons

[2022-02-09 17:17] #4871 closed, assigned to nobody

[2022-02-09 17:33] lognaturel commented on #4787
For me the biggest pain point right now is when there's some kind of form error that gets entirely obscured. That really breaks the draft iteration process with Central in (relatively rare but still) cases where Collect errors out when parsing the form definition. Luckily that's mostly hitting office staff (as opposed to field staff) but I suspect it's wasting a lot of time. Just addressing that w

[2022-02-09 17:43] seadowg commented on #4787
Are you meaning because we aren't bubbling up form parse errors from the individual form downloads? If so, yeah that is a different case than the one we're solving here (this issue description is focused on avoid intermittent errors). We should write something else up to cover that though! I'll add a note to talk about that in our next sync up.

Good point. I think long term it would still be bett

[2022-02-09 17:47] lognaturel opened #5023 "Remove support for HTTP"
Every time we submit a new build for the Play Store, we get a security warning about allowing HTTP. The new data safety section in Play Store listings makes it clear that in-flight encryption is a big deal (as it should be).

Central tries hard to prevent users from using HTTP (though some seem to succeed).

We still have users setting their server url to an http:// address. However, Collect does

[2022-02-09 17:53] lognaturel commented on #4787
I'm a bit confused about what has happened here. I thought the error messages were the top priority and that was the first point described in https://github.com/getodk/collect/issues/4787#issuecomment-987116065. Fine to split it off, certainly!

Definitely using match exactly. I'll pay better attention and file an issue if something doesn't seem right. I do tend to have projects with drafts that w

[2022-02-09 18:47] grzesiek2010 commented on #4787
Ok so we agreed that for now we should retry no matter what exception we have plus we should try like 3 times. Should we display a notification for every attempt if it fails or maybe wait for the last one?

[2022-02-09 18:56] lognaturel commented on #4787
Yes, wait for the last one. 👍

[2022-02-10 09:11] seadowg commented on #4787
I'm confused as well. It looks like we broke that work out - there was a task to add a "Show details" button to the notification, but we removed this and then I presumably forgot to add the issue. My bad. That would have driven out increasing the granularity of our errors so that we're not swallowing the individual download ones. We can chat about that later we sync up - I'd like to talk about the

[2022-02-10 11:58] seadowg commented on #5023
My one concern here would be people syncing data in the field using a server hosted on a local private network (those little Raspberry Pi field servers that were demonstrated at the convening for instance). In these cases, I'd imagine you'd want to just have the server listen over HTTP on a fixed local IP. That's maybe a small use case, but I'd worry about forcing people to add the complexity of s

[2022-02-10 15:58] grzesiek2010 commented on #5018
If this is not a regression is it still something we want to change?

[2022-02-10 16:25] lognaturel commented on #5023
I agree that's the one case we'd lose that in an ideal world we might still support. But as you say, Central doesn't really let you easily do an HTTP setup. I do think we should document the process for offline https. The benefits of making sure no one can make cleartext submissions and getting the "all traffic is encrypted" badge in the Play Store make this move worth it to me.

[2022-02-11 16:02] seadowg commented on #5018
Good question. Personally I think so. I guess it increases the chance for accidental closing, but the GPS will have warmed up so it's not like the user would then have to start the process of getting a fix all over again. What do you think?

[2022-02-13 11:12] #4983 closed, assigned to dczerwinski

[2022-02-14 14:47] seadowg opened #5026 "Show Form download errors in Exactly Match Server notification"
Currently, if an error occurs while downloading a Form, rather than while fetching the Form list, the user will just see the "If you keep having this problem..." message as the notification content. This can make it hard to understand problems that lie within the Form themselves (invalid submissions, parse errors etc) despite us showing error messages for these kinds of issues when doing manual Fo

[2022-02-14 14:53] seadowg commented on #4952
We're not actually going to support the GeoJSON `MultiX` types as there isn't a way to present them in our equivalent XLSForm.

[2022-02-14 14:53] #4952 closed, assigned to nobody

[2022-02-14 19:37] lognaturel commented on #5026
I'm not really convinced that helps a lot. Currently, after a few repeat failures we get the idea that it's a `FormParsingError` but without knowing what that error is we're stuck. Could we do something like always show the details in the notification if it's a `FormParsingError`? I think for all the other the error type is sufficient. What you describe with the show details and the replacing is o

[2022-02-15 09:18] seadowg commented on #5026
@lognaturel by "details" do you mean the underlying exception (caught in `ServerFormDownloader`) message that caused us to throw a `FormParsingError`? As part of this, maybe we could alter the message for `FormParsingError` so it's:

`This form cannot be processed: <originalException.getMessage()>. If you keep having this problem, report it to the person who asked you to collect data.`

[2022-02-15 11:47] #5021 closed, assigned to grzesiek2010

[2022-02-15 12:21] kkrawczyk123 opened #5027 "Camera permission dialog does not display when deny permission in project settings"
#### Software and hardware versions
Collect v2022.1.1, Android v all with permissions device used...

#### Problem description
When testing #4924 I have noticed that the camera permission dialog does not display after denying camera permissions like it does when performing the same steps when trying to add new project. The issue is visible on store version. see gif:
![ezgif com-gif-maker (20)](htt

[2022-02-15 16:00] lognaturel commented on #1729
As of Central 0.4, CSV attachments are gzipped if the client accepts it (see [forum](https://forum.getodk.org/t/odk-central-support-for-zipped-media-files/16481/6?u=ln)). Central does NOT support uploading a zip file manually.

[2022-02-15 16:00] #1729 closed, assigned to nobody

[2022-02-15 18:00] lognaturel opened #5028 "Default draw and annotate pen color to last used"
Context [on the forum](https://forum.getodk.org/t/image-markup-ability-to-set-default-pen-colour/36279)

- [x] Given that I open a draw or annotate question in any form, in any project
    And I set the color to something other than black (color1)
    And I open another draw or annotate question in any form, in any project
    When I start drawing
    Then the line I produce is in color1

[2022-02-15 18:55] grzesiek2010 commented on #5018
I'm not that sure that's why I'm asking... @lognaturel what do you think?

[2022-02-15 20:32] lognaturel commented on #5018
Yeah, it's nice to have consistency and plus a user has asked about it. Agree with @seadowg that there's no clear benefit from deviating from usual dialog behavior.

[2022-02-16 10:41] #4716 closed, assigned to seadowg

[2022-02-18 09:10] grzesiek2010 opened #5031 "Small images do not fit the entire container in image widgets"
#### Software and hardware versions
Collect current master branch

#### Problem description
Small images do not fit the entire container in image widgets:
|  |  |
| ------------- | ------------- |
| ![Screenshot_1645174693](https://user-images.githubusercontent.com/3276264/154652491-e86f6748-4edb-4ed2-99b6-57a03402d9e6.png)  | ![Screenshot_1645174707](https://user-images.githubusercontent.com/3276

[2022-02-18 10:48] grzesiek2010 opened #5033 "Images can't be loaded if resized to very small sizes"
#### Problem description
Images can't be loaded if resized to very small sizes.

#### Steps to reproduce the problem
The user claims that he is able to reproduce the issue selecting `Very small (640px)` option from `Settings` -> `Form management` -> `Image size`.  I've tried it on like 4 devices to no avail.

#### Other information
The issue has been originally reported on the forum: https://forum

[2022-02-18 14:19] #4956 closed, assigned to seadowg

[2022-02-18 14:46] grzesiek2010 commented on #5018
but consistency with what? To me consistent behavior when it comes to dialogs is when:
- you can close it only clicking on one of its buttons (it's not closable)
- or you can close it clicking the buttons but also the device back button and out of its area (it is closable)

here we just do that for back button what's not intuitive to me. Can't we just make it closable if you think that the current

[2022-02-21 19:02] grzesiek2010 commented on #5033
Finally I was able to reproduce the issue. It occurs only on some devices (it depend on installed camera app) and only if we scale images down using small values (it also depends I was only able to reproduce the issue using smaller values like 200px).
The problem is more common after merging https://github.com/getodk/collect/pull/5004 but it's not caused by that pull request.
[It is caused by savi

[2022-02-22 04:19] lognaturel commented on #5033
Can we do it the other way around and remove the attributes that cause problems, keeping the rest?

[2022-02-22 16:16] seadowg commented on #5018
Looking at Material's Navigation patterns ([here](https://material.io/archive/guidelines/patterns/navigation.html#navigation-up-back-buttons)) it does seem like the back button should close dialogs:

However, the argument could easily be made that the user is doing something critical and so should explicitly have to exit the dialog. To be honest though, I'm not sure how strong that is given they w

[2022-02-22 17:29] lognaturel commented on #5018
In the spirit of freeing up brain cells for all of us, yes, let's go with it. Sorry for the back and forth, @grzesiek2010. I don't feel especially strongly and just want us to move on!

[2022-02-22 17:42] grzesiek2010 commented on #5033
It is not possible because that thumbnail is not a normal attribute that I can change or remove. I have no access to it. Alternatively I can try creating a new exif (so that it doesn't contain any thumbnail) and copying exif attributes from the old one to the new one.

[2022-02-22 17:44] grzesiek2010 commented on #5018
Ok my feelings are also not that strong to argue. Let's add this change.

[2022-02-22 17:58] lognaturel commented on #5033
Of course it isn't. ARG!

That sounds promising to me. My reasoning is that if we try to maintain an "ok list" of attributes that we do want we'll inevitably remove something weird that a user wants. We're more likely to be able to keep up with a "no list" of attributes we don't want maintained.

[2022-02-22 21:10] grzesiek2010 commented on #5033
I'm thinking about something like this: https://github.com/getodk/collect/pull/5035
it contains the list of attributes (it's not available in ExifInterface to access) so I copied all tags and created a list that then I navigate through copying all attributes. What do you think?

[2022-02-22 22:09] lognaturel commented on #5033
That’s the “ok list” I described above. I was proposing you have a list of the few we DON’T want, iterate through all the keys and copy unless it’s in the no list. That will be much easier to read and maintain. Is there a way to avoid the thumbnail that way?

[2022-02-23 11:57] grzesiek2010 commented on #5033
That's what I did. I iterate through all the keys but to do that I had to build my own list of all tags because `ExifInterface` does not provide any list like that...
I tested older versions of `androidx.exifinterface` and if we downgrade it looks like I can't reproduce the issue. Maybe for now we should just downgrade and report the issue https://issuetracker.google.com/ I don't know if it's a bu

[2022-02-24 14:25] grzesiek2010 opened #5039 "The app crashes if accuracyThreshold or unacceptableAccuracyThreshold are not valid numbers"
#### Problem description
The app crashes if `accuracyThreshold` or `unacceptableAccuracyThreshold` are not valid numbers.

#### Steps to reproduce the problem
Test this form:
[gps_accuracy_threshold.xlsx](https://github.com/getodk/collect/files/8133237/gps_accuracy_threshold.xlsx)

#### Expected behavior
If `accuracyThreshold` or `unacceptableAccuracyThreshold` has invalid values the default value

[2022-02-24 14:27] grzesiek2010 opened #5040 "The app crashes if accuracyThreshold or unacceptableAccuracyThreshold are not valid numbers"
#### Problem description
The app crashes if `accuracyThreshold` or `unacceptableAccuracyThreshold` are not valid numbers.

#### Steps to reproduce the problem
Test this form:
[Uploading gps_accuracy_threshold.xlsx…]()

#### Expected behavior
If `accuracyThreshold` or `unacceptableAccuracyThreshold` has invalid values the default values should be used which is:
- 5m for `accuracyThreshold`
- 100m f

[2022-02-24 14:35] #5040 closed, assigned to nobody

[2022-02-24 20:14] yanokwa commented on #4871
Just got a message from Google.

There is a changelog at the bottom of https://support.google.com/googleplay/android-developer/answer/10787469. There's nothing actionable on our part.

[2022-02-25 09:14] grzesiek2010 opened #5042 "The app crashes after deleting and adding a project again"
#### Problem description
The app crashes after deleting and adding a project again.

[code]

#### Steps to reproduce the problem
1. Crete Demo project
2. Download one form
3. Delete the project
4. Create Demo project again
5. Try to download forms.

#### Other information
The issue is similar to https://github.com/getodk/collect/issues/4870 but it looks like not the same.

[2022-02-25 12:02] #5033 closed, assigned to grzesiek2010

[2022-02-25 14:30] #5039 closed, assigned to grzesiek2010

[2022-02-25 23:32] lognaturel commented on #5026
It has felt very bad when I've run into a form design issue that caused form update/download to fail but I can't find a likely-to-happen way to reproduce! If you want to see what it feels like, the following QR code has a form I deliberately mangled the XML for:
<img width="191" alt="Screen Shot 2022-02-25 at 3 27 20 PM" src="https://user-images.githubusercontent.com/967540/155816487-84ef8f73-7e56

[2022-02-28 10:25] seadowg commented on #181
Closing this as it's unlikely to get added without significant discussion on the Forum.

[2022-02-28 10:25] #181 closed, assigned to nobody

[2022-02-28 10:51] seadowg opened #5044 "Crash when loading a form with invalid `itemsets.csv`"
#### Software and hardware versions

Collect v2022.1

#### Problem description

Collect crashes when loading an `itemsets.csv` where a row has an extra column:

[code]

Here the app would crash when loading the form but would then load fine the second time. Worse still, there is no error shown, and the form will be missing choices including and after the row with the extra column. For instance, in

[2022-02-28 16:41] lognaturel commented on #5044
I think it's good to have this filed for reference but I don't think we want to further support this feature. When we did a round of analytics on it in 2018 it already wasn't used much. Hopefully it's used even less now. My preference would be to tag as `won't fix` and close unless it's 30mins or less of effort.

[2022-02-28 17:43] seadowg commented on #5042
Reopening this seeing as we are reverting #5043. After spending an afternoon working around the problems we saw with adding `close()` in #5043 I have some thoughts:

* Our current code has no protections against "connections" (cached `SQLiteOpenHelper` instances) being closed while in use which makes adding any level of clean up hard
* Caching `SQLiteOpenHelper` objects is theoretically good for p

[2022-02-28 17:54] lognaturel commented on #5042
I just ran into this accidentally.

This only applies to the `DEMO` project, right? Because its projectid is predictable? I think there are a lot of weird properties of that special case and we should perhaps consider removing it.

[2022-02-28 18:00] seadowg commented on #5042
I don't **think** so? I'd imagine you'd run into a similar scenario if you delete the database file(s) for any project and then return to the app as you'd still have a cached `SQLiteOpenHelper` for the deleted file. We should confirm/deny that though.

[2022-02-28 18:05] lognaturel commented on #5042
I think in that case you wouldn't be recreating the same project because it would have a different project id. I quickly created a project from a qr code, deleted it, recreated with the same qr code and all of that seemed to work fine. I can systematically reproduce with the demo project.

[2022-02-28 18:21] seadowg commented on #5042
I meant deleting the files themselves rather than deleting through Collect. In that case, the files should get recreated, so you'll end up in the same scenario: a cached `SQLiteOpenHelper` pointing at a file that's been deleted and then recreated. We should investigate and see if that causes the same problem as we see with DEMO.

[2022-03-01 09:07] seadowg commented on #5044
Agreed. My worry here is that it's possible for the issue to fly under the radar (due to the crash without an error and then the form loading the second time) and result in enumerators having less choices displayed than the form designer expects. I think if we're going to mark this as `won't fix` (which I'm in favour of) we should look at marking the` select_one_external` as deprecated, so it's cl

[2022-03-01 15:28] #5018 closed, assigned to seadowg

[2022-03-01 18:06] TomRCummings commented on #4838
@getodk-bot claim

[2022-03-02 09:12] seadowg commented on #4838
Hmmm I wonder if @getodk-bot is having problems. I'll assign you @TomRCummings.

[2022-03-02 09:15] seadowg commented on #5042
As an aside I keep wondering if there's a way for us to get notifications when the file system changes - I know a lot of desktop apps (media players etc) do this. I failed at Googling this usually but this morning I think I found what we need: https://developer.android.com/reference/android/os/FileObserver. I'm wondering if long term we can use that to simplify all these problems we have with the

[2022-03-02 14:02] seadowg commented on #4874
This should hopefully be easier with [Espresso 3.5.0](https://developer.android.com/jetpack/androidx/releases/test#espresso-3.5.0-alpha04) as it seems like there's a probable fix for https://github.com/android/android-test/issues/444 in there. We should block this issue on a stable release of `3.5.0` (release log [here](https://developer.android.com/jetpack/androidx/releases/test))

[2022-03-02 16:30] #4787 closed, assigned to grzesiek2010

[2022-03-03 17:19] seadowg commented on #3039
~~It could be that we can handle this by running the operations `FormSaveViewModel#saveAnswersForScreen` off the main thread and showing an indicator while we do so.~~

The above is wrong, but there are other "save answer for screen methods" that we might be able to hook this into. Ideally all the save logic would go through the `ViewModel` but that might be a whole thing.

Update: we'd want to lo

[2022-03-03 20:57] lognaturel opened #5049 "If QR code scanning leads to run time exception, new project with Demo settings and no project name is created"
#### Software and hardware versions
`master`

#### Problem description
If QR code fails validation, new project with Demo settings and no project name is created

#### Steps to reproduce the problem
1. Make a release build of `master`
2. Try to scan a QR code, Collect crashes because of proguard issue
3. See that weird project is created

#### Expected behavior
Runtime exceptions are caught and ha

[2022-03-04 00:00] lognaturel opened #5050 "Reduce app size"
#### Software and hardware versions
After Collect v2022.1

#### Problem description
Commits added after 2022.1 was released have increased the app size by 2mb (to 14mb).

My hunch is that this is because many of the modules are not minified. The recent changes pulled out a geo module which imports a lot of dependencies.

[2022-03-04 06:25] lognaturel opened #5051 "Error when attempting to parse geojson file with release build"
#### Software and hardware versions
v2022.2-beta.0

#### Problem description
Geojson parsing works for a debug build but gives the following error with a release build:
![device-2022-03-03-222046](https://user-images.githubusercontent.com/967540/156710578-fa5dbc9e-c0d5-4bbe-bdf4-926205bb1e66.png)

#### Steps to reproduce the problem
![geojson](https://user-images.githubusercontent.com/967540/15671

[2022-03-04 06:29] lognaturel opened #5052 "Crash when scanning a QR code on release build"
#### Software and hardware versions
Collect v2022.2-beta.0

#### Problem description
Scanning a QR code using a debug build works but with a release build a runtime exception is thrown: `class "com.github.fge.jsonschema.keyword.validator.common.AdditionalItemsValidator" has no appropriate constructor (keyword "additionalItems"; expected a constructor with a JsonNode as an argument)`

#### Steps to

[2022-03-04 11:03] seadowg commented on #5050
Modules should not be minified (they should have `minifyEnabled false`). When you're building an APK you're compiling your app module (ours is `collect_app`) and then minification gets run on the output of that compilation ([example SO](https://stackoverflow.com/a/50819864/11400117)). It could be that we've broken that setup somehow or that our proguard rules are allowing something big to not get

[2022-03-04 11:09] seadowg commented on #5052
My assumption is that you'd be able to add your rule to `consumer-rules.pro` and because that's set as the `consumerProguardFiles` for the module `collect_app` would then use it (add it to it's own rules). However, [the Android Library docs](https://developer.android.com/studio/projects/android-library#Considerations) (in "A library module may include its own ProGuard configuration file") seem to

[2022-03-04 14:59] seadowg commented on #5050
After a `git bisect` it looks like the offending commit is 538e7c68f9408306bf691da1530a69122e2ed9d6. It's likely that something from `json-schema-validator` is the problem.

[2022-03-04 15:05] seadowg commented on #5050
Yup! Removing the `json-schema-validator` dependency but leaving the reset of the commit the same (other than commenting out the references to the library code) drops the APK size back down to 12.3MB.

[2022-03-04 15:48] seadowg commented on #5050
We get a much smaller increase (to 12.8MB) using https://github.com/networknt/json-schema-validator which is less popular but actually seems to be more up to date. Both libraries use Jackson, but it might be that this one is easier to minimize for some reason. I'll run tests etc with the new library to fully confirm it can be a drop-in replacement.

[2022-03-04 16:43] lognaturel commented on #5050
Aha, I clearly had some proguard misconceptions all around. Thanks for getting me untwisted! I am absolutely shocked that json schema validation could add 2mb to the app. Glad to hear there's likely a drop-in replacement.

Feeling very glad we decided to do an early beta. 👍

[2022-03-07 12:31] #5031 closed, assigned to grzesiek2010

[2022-03-07 13:29] #5028 closed, assigned to grzesiek2010

[2022-03-08 11:02] grzesiek2010 commented on #4513
It has happened to me recently.... I thought that maybe I have spoiled something refactoring the code that is related to this functionality but if this issue exist probably it's not the case.

[2022-03-08 17:19] lognaturel commented on #5051
Decided to address this in JR: https://github.com/getodk/javarosa/pull/658

[2022-03-10 18:32] lognaturel opened #5060 "Improve error message when missing name or value field for select"
If a secondary instance is missing either of the required refs for a select, Collect shows:
![device-2022-03-10-100306](https://user-images.githubusercontent.com/967540/157729259-d350c4d5-0ee9-451d-bba6-e4cf5a4f933c.png)

The error messages [generated by JavaRosa](https://github.com/getodk/javarosa/blob/master/src/main/java/org/javarosa/xform/parse/FormInstanceParser.java#L351) are useful for a de

[2022-03-10 18:39] lognaturel commented on #4198
@ivangayton How important is it to you/your users to see sub-meter accuracy in centimeters? That is, is seeing an accuracy of `0.01m` problematic?

[2022-03-10 21:05] lognaturel commented on #1693
This is a painpoint for Central drafts. Let's say we have formid form1 and version 1 as a draft. Then we make changes to the form def and update the draft without changing the version (typical for drafts). Collect will internally represent those two form defs differently. It will work fine for creating new instances. But finalizing an instance will fail with an error about how the formid and versi

[2022-03-11 10:38] grzesiek2010 commented on #1693
Yes that would basically mean updating our `DatabaseFormsRepository#save` method which already decides whether a new form should be added or just updated based on `dbId` presence. So we would need to add one more if statement to check if the database already contains a form with the same id and version and call update in this case too instead of insert.

You are right there are more and more repor

[2022-03-11 14:31] grzesiek2010 commented on #5026
The current behavior is basically that all `FormDownloadExceptions` are converted into `FormSourceException.FetchError()` which is represented by that generic message. This should not happen.
But my first question is: do we want to keep that behavior that when downloading of one form fails the whole process is stopped? This is not consistent with auto-update where we try to download all forms and

[2022-03-11 16:22] lognaturel commented on #1693
Thanks, let's do it.

[2022-03-11 16:49] lognaturel commented on #1693
A test from @seadowg found in notes: https://gist.github.com/seadowg/6314b7fc3887d30c016eea85928680ac . He also said "I think we can even just soft delete the "old" version to get it working" but I'm not sure that's necessary.

We were talking about this in the context of entities. In Central, when testing a draft entity registration form, we'll want to verify that draft entities are actually crea

[2022-03-15 15:25] grzesiek2010 commented on #4161
It's been a while since it was reported. The code has changed and now we download all manifest files but we store them so that we do not need to download them again when we download particular forms. I'm closing the issue.

[2022-03-15 15:25] #4161 closed, assigned to grzesiek2010

[2022-03-15 17:11] grzesiek2010 commented on #5026
@seadowg we were talking about this issue during the meeting today and we decided to ask you if you remember why it works like that (the question above) - the process of downloading forms is stopped if any exceptions takes place what is not consistent with auto-update where we try to download all forms and collect all exceptions. Do you remember if not we probably should change it?

[2022-03-15 18:08] #5052 closed, assigned to seadowg

[2022-03-16 13:37] seadowg commented on #5026
I think it was just that it was that "fail fast" was the simplest way to go. If we switch to a different strategy and update as much as we can, we're going to need to decide what form update/download failures mean for deleting forms not on the list. Right now we delete all the forms and the attempt updates so could end up with an empty form list for example.

I'm not really sure whether I think th

[2022-03-16 15:50] grzesiek2010 commented on #5026
What do you mean by that? Could you elaborate?

[2022-03-16 15:55] lognaturel commented on #5026
Ah, yes, I hadn't considered/remembered those were coupled somehow. It feels to me like it would be the most useful to separate the deletes from the updates and attempt all updates. That is, the form list tells us what form defs need to be deleted without attempting any form updates at all. Then all updates can be attempted and any failures reported. Maybe there's an implementation reason why it w

[2022-03-16 16:35] grzesiek2010 commented on #5026
no, we perform deletion first but we delete only those forms that are on our device but NOT on the list of forms from the server.

[2022-03-16 16:50] lognaturel commented on #5026
Oh, good, excellent. That's what I want and how I thought I remembered it.

So here's a variation on what I wrote above for the first scenario that I think is worse than if we tried every download. I think the second scenario stands.
- I have 2 forms on the device. Those two forms are deleted on the server and two new forms are introduced. The first one is broken in some way. The second is valid.

[2022-03-16 16:54] grzesiek2010 commented on #5026
That seems correct.

[2022-03-16 16:57] seadowg commented on #5026
The two forms will be out of sync. As @grzesiek2010 stated, we only delete the forms if they're not on the form list. This example makes me lean towards a "do as much as we can" approach as right now the forms would be out of sync anyway without an error whereas if we tried downloading everything (and reported results on a form by form basis) it would be clearer what was out of sync.

Correct, but

[2022-03-16 17:08] lognaturel commented on #5026
Yes, I agree with this.

I think that if we proceeded after a failure we would have one obsolete and one updated. I think the form status for the first one would be "failed at timestamp", right? In a perfect world we'd display a ⚠️ or something and have inline refresh but I think what we have is good enough.

I don't think we need to consider this now but we may need to in an entity-based world wh

[2022-03-16 17:33] #5051 closed, assigned to nobody

[2022-03-16 17:46] seadowg commented on #5026
OK it does sound like it would be potentially better to download as many things as we can rather than failing fast. However, as far as I'm aware we're not hearing of anyone experiencing problems in the field from this and I think changing the behaviour of match exactly to fail fast would be an additional step to this issue (not a different direction). Given that, I'd vote that we just go with this

[2022-03-16 19:35] grzesiek2010 commented on #5026
If by later you mean really later like in 6 months or more then ok otherwise implementing changes in the same area in a short period of time twice would mean not only spending more time on the implementation but also on testing.

[2022-03-17 13:25] seadowg commented on #5026
Yup agreed. Definitely mean "later" as in "not a priority for this release". @lognaturel good for you to make the call here on whether we want to prioritize moving away from fail fast or not. I think it's worth considering, but personally I'm leaning away from it for this release.

[2022-03-17 16:00] #3507 closed, assigned to nobody

[2022-03-17 16:04] grzesiek2010 commented on #4009
It's been a while and since we have been talking about match exactly recently what do you think about this issue? Do we want it or we can close? @seadowg @lognaturel

[2022-03-17 16:08] #4335 closed, assigned to nobody

[2022-03-17 16:54] #4198 closed, assigned to nobody

[2022-03-17 16:59] lognaturel commented on #5060
@grzesiek2010 What are your thoughts on what we can do here?

[2022-03-17 17:41] lognaturel commented on #5026
Let's remove from this release and rework the issue so it addresses attempting every download AND showing messages for any that fail.

[2022-03-17 18:47] lognaturel opened #5065 "Use black as default signature color"
https://github.com/getodk/collect/pull/5030 has a commit suggesting it will make sure signature color is always black but I see it updating based on annotation or draw color. The default color for a signature question should always be black.

[2022-03-17 20:23] seadowg commented on #4009
It still feels like it **might** be something we want to do at some point but right now I don't think we need an issue for it? I'll close now, but if anyone disagrees then can reopen!

[2022-03-17 20:23] #4009 closed, assigned to nobody

[2022-03-17 23:49] ivangayton commented on #4198
Ah, sorry @lognaturel I missed the notification here!

It's not important; decimal meters is totally fine. The kind of users who, like me, will sometimes be worried about centimeter-level accuracy will be absolutely fine with some decimal places.

People using high-end surveying gear tend to use centimeters to describe accuracy, but it's definitely not a formal convention (and some people use mill

[2022-03-20 13:14] seadowg commented on #5049
I do think it's important to highlight that the issue we ran into occurred every time and was faulty code so isn't something we need to protect ourselves from in a working runtime version of the app. In fact, it can make it worse for us: if we had the level of defensiveness in the code that we're suggesting here then we would have ended up with a silent fail rather than a crash. I'm all for auditi

[2022-03-21 15:28] lognaturel commented on #5049
I imagined the user getting a message like "QR code can't be scanned, use manual entry". Of course, I realize now that won't help with Central. Still, a catch-all message with instructions on what to do (e.g. email support@getodk.org) feels much better than a hard crash. If there is no reasonable way to bubble up a message, though, I suppose a hard crash is better than an entirely silent fail.

[2022-03-21 17:31] lognaturel opened #5068 "Upgrade Mapbox Telemetry"
There's a common crash in background for Android 11 and 12 caused by Mapbox Telemetry ([Crashlytics](https://console.firebase.google.com/u/3/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/d7915614a65b916b7ca2bb21f58b8098?time=last-seven-days&versions=v2022.1.2%20(4382)&types=crash&sessionEventKey=62376BB6016F000158798B3E452D7A52_1655689378786766287) (needs

[2022-03-21 18:16] seadowg commented on #5050
Should have been closed by #5053

[2022-03-21 18:16] #5050 closed, assigned to seadowg

[2022-03-21 18:24] #5049 closed, assigned to nobody

[2022-03-23 10:48] seadowg opened #5071 "Stop collecting Advertising ID and SSAID"
Firebase collects these values by default. We don't need or want them so let's disable them. Details on doing so are here: https://firebase.google.com/docs/analytics/configure-data-collection?platform=android#disable_ssaid_collection.

[2022-03-23 10:54] grzesiek2010 commented on #5068
The newest version available on mvnrepository is 7.0.0 which we already use. Newer versions require using tokens in the same way like other mapbox projects so we can't even download the project from github and build on our own / add to own own (local) maven repository.

[2022-03-23 20:40] lognaturel commented on #5068
I don't believe that's the case. I've asked for clarification at https://github.com/mapbox/mapbox-events-android/issues/563. I believe we could build and include the libs ourselves if they can't be pushed to Maven Central for some reason. The license for those packages is MIT.

[2022-03-24 07:06] #5071 closed, assigned to grzesiek2010

[2022-03-24 11:49] #5065 closed, assigned to grzesiek2010

[2022-03-24 18:59] lognaturel commented on #4949
The necessary JavaRosa snapshot should now be available: https://oss.sonatype.org/content/repositories/snapshots/org/getodk/javarosa/3.4.0-SNAPSHOT/

[2022-03-25 15:07] #4947 closed, assigned to seadowg

[2022-03-25 19:40] lognaturel commented on #4943
Consider requesting no markers on the basemap if it's possible. It's very tempting to tap on them and it's hard to see the form-specified markers in certain locations where there are many many markers on the basemap.

Wild idea: `string` field with `map` appearance that lets users select markers on the base map. Presumably GMaps and Mapbox make that possible and would return an OSM id. Not sure ab

[2022-03-28 09:18] #4996 closed, assigned to grzesiek2010

[2022-03-28 17:04] lognaturel commented on #4948
https://github.com/getodk/collect/pull/5073#discussion_r836654302 has discussion about localized forms and what to do in the case of no label.

[2022-03-28 17:20] lognaturel opened #5074 "Crash after selecting feature using osmdroid"
#### Problem description

[code]

#### Steps to reproduce the problem
The only way I've found to reproduce is to set the basemap as osm, use a form for selecting a feature (e.g. [this one](https://docs.google.com/spreadsheets/d/191Taxl2BU1UmBPpU4SLXEiP2cnhVx7mSe8TJeKnEDAI/edit#gid=0)) with https://github.com/getodk/collect/pull/5073 and select a feature. @seadowg mentioned [here](https://github.co

[2022-03-28 18:26] lognaturel opened #5075 "Handle invalid geometries"
#### Software and hardware versions
Collect v2022.1 and prior

#### Problem description
There are two overlapping problems:
- The `geometry` field is not validated prior to the corresponding choice being rendered. It could contain anything. We've seen crashes because of attempts to use geojson instead of ODK-formatted features, for example
- Mapbox and osmdroid crash when handed geometry that is o

[2022-03-28 18:28] lognaturel commented on #4943
I've filed a separate issue for invalid geometries: https://github.com/getodk/collect/issues/5075. After thinking through it more I don't think it has to be part of the initial feature and I would tend to take it out of this meta issue.

[2022-03-29 09:51] #1693 closed, assigned to grzesiek2010

[2022-03-31 11:39] grzesiek2010 opened #5078 "Investigate how to improve our connection pooling"
#### Problem description
In https://github.com/getodk/collect/pull/5057 we improved handling database connections. However we are not 100% sure it's the best what we can do.
It would be good to spend some time exploring other options so that we can close databases that we no longer use properly.
See:
- https://github.com/getodk/collect/pull/5057
- https://github.com/getodk/collect/pull/5045

[2022-03-31 14:33] #5042 closed, assigned to grzesiek2010

[2022-03-31 15:48] seadowg commented on #5074
I've filed an [issue](https://github.com/osmdroid/osmdroid/issues/1783) with OSM for the issue we're running into here, but I've got a work around as well.

[2022-04-01 12:18] #4949 closed, assigned to seadowg

[2022-04-01 14:06] lognaturel commented on #5068
https://github.com/mapbox/mapbox-events-android/issues/563#issuecomment-1085688127

I think we should try to use our own build of 7.0.3. That should fix the crashes. If it’s easy we could also try the 8.x but seems more likely to have incompatibilities.

[2022-04-01 14:06] lognaturel commented on #4893
https://github.com/mapbox/mapbox-events-android/issues/563#issuecomment-1085688127 for the way folks from Mapbox think about this.

[2022-04-02 00:43] #4948 closed, assigned to seadowg

[2022-04-02 01:30] #4884 closed, assigned to grzesiek2010

[2022-04-04 09:38] seadowg commented on #5074
Got the syntax wrong on the PR so closing this manually.

[2022-04-04 09:38] #5074 closed, assigned to seadowg

[2022-04-04 13:36] kkrawczyk123 opened #5082 "Improve display of errors in landscape"
#### Software and hardware versions
Collect v2022.2 beta 2, Android vx.x.x, device used...

#### Problem description
The outcome of testing #5055  List of failure errors it not adjusted to landscape, see:
![Screenshot_20220404-121550](https://user-images.githubusercontent.com/33342488/161555398-b03736ba-5b95-4858-b138-23f492109c2b.png)

#### Steps to reproduce the problem
1. ex. show details of au

[2022-04-04 16:40] lognaturel commented on #5068
Talked to @seadowg and we'll punt on this until we figure out what to do about Mapbox longer term (https://github.com/getodk/collect/issues/4893)

[2022-04-04 16:40] #5068 closed, assigned to grzesiek2010

[2022-04-04 22:08] lognaturel commented on #5082
@kkrawczyk123 Could you please link me to the form that leads to this error and/or give me a brief explanation of what's going on? I feel like we've run into something like it recently and I couldn't figure it out.

[2022-04-05 07:21] kkrawczyk123 commented on #5082
@lognaturel It's just a simple random form. In this case, I was testing failing autosend by adding some random input to server URL, as it's visible in the error "308gjh" - that project does not exist on Central. Failing notifications are mostly tested by some weird changes to server URL, like adding or removing something.

[2022-04-05 09:42] kkrawczyk123 opened #5084 "Collect is crashing when use select one from map widget on Google Maps on Android 5.1"
#### Software and hardware versions
Collect current master, Android v 5.1 device used...

#### Problem description
When testing #5079  I have noticed 2 crashes when used forms form #5073 when Google map is selected on Android 5.1 device only. 1st is happening when edit selected point and 2nd when try to finalize form after selecting point.

#### Steps to reproduce the problem
**Scenario 1:**
1. Op

[2022-04-05 11:49] grzesiek2010 commented on #5082
Yeah there was a bug when I hardcoded short errors the list looked even worse:
![Screenshot_1649156699](https://user-images.githubusercontent.com/3276264/161747450-adfd4d1f-fefe-43fd-ae5e-86c1d0fdb974.png)

Fixed in https://github.com/getodk/collect/pull/5085

[2022-04-05 14:59] grzesiek2010 commented on #4888
I think we can close this issue as https://github.com/getodk/collect/pull/5063 is merged

[2022-04-05 14:59] #4888 closed, assigned to nobody

[2022-04-05 15:00] grzesiek2010 commented on #5026
I'm adding this issue to v2022.3 @seadowg could you update the description?

[2022-04-05 15:05] lognaturel commented on #5082
Aha, got it, thanks!

[2022-04-06 09:12] #5082 closed, assigned to grzesiek2010

[2022-04-06 18:20] grzesiek2010 commented on #3756
In https://github.com/getodk/collect/pull/5077 I've refactored the list of blank forms. I've also looked into the whole hierarchy of lists that we have and now I have a bit different opinion. As I said in https://github.com/getodk/collect/pull/5077 it doesn't make sens to build one reusable component to display forms/instances. There is to little shared logic... instead we should try to factor out

[2022-04-06 18:20] #3756 closed, assigned to nobody

[2022-04-06 22:32] lognaturel opened #5087 "Improve select from map performance with Mapbox and Google Maps"
#### Software and hardware versions
Collect v2022.2 beta

#### Problem description
Select one from map is prohibitively slow on Mapbox and Google Maps. A 1000-point form is almost unusable with Mapbox but fine with Google Maps. A 5000-point form is unusuable with both. It loads nearly instantly with osmdroid.

#### Steps to reproduce the problem
Use the thousand-point form [from the forum](https:/

[2022-04-07 08:30] seadowg commented on #5087
Yeah I'm seeing the same thing (just testing with Google Maps right now). So something I've noticed:

* Performance appears to be fine when zooming in (to even just a full continent level)
* There seems to be a lag when clicking on items at 5000 points - it looks like `GoogleMapFragment` does a linear search through all the markers on a click so that's probably the problem
* Along with not perform

[2022-04-07 10:43] kkrawczyk123 opened #5089 "Unable to scan QR code with valid settings with old Server "Other""
#### Software and hardware versions
Collect v2022.2 Beta 2, Android all, device used...

#### Problem description
I am unable to scan QR code (add project and update settings) that contains valid settings with old selection Server Other with kobo server. I am having toast informing about qr code not containing valid settings. I know it's an old configuration but it works well on 2022.1.2 and serve

[2022-04-07 10:57] grzesiek2010 commented on #5089
The format of this old qr code is:
[code]

but our new format should be:
[code]

I don't remember any discussion about backwards compatibility so probably we just can ignore it? @lognaturel @seadowg

[2022-04-07 12:59] seadowg commented on #5089
That's the **schema** (using [JSON Schema](https://json-schema.org/)) for the format we expect rather than the format itself. I think the problem will be that we have an `enum` on `protocol` that doesn't allow for any values other than `odk_default` or `google_sheets`. I'm guessing before we would accept anything and just default to `odk_default` if we didn't recognize the value. As far as I'm awa

[2022-04-07 13:16] seadowg commented on #5026
@grzesiek2010 I've added acceptance that hopefully covers the cases we've talked about.

[2022-04-07 13:30] grzesiek2010 commented on #5026
Thanks!

[2022-04-07 13:44] seadowg commented on #5087
Ok it looks like we can do a similar thing with Mapbox (v9): https://docs.mapbox.com/android/legacy/maps/examples/circle-layer-clustering/

[2022-04-07 13:53] kkrawczyk123 opened #5090 "Collect is crashing except for receive binary files on external widgets on Android 10, Redmi 7"
#### Software and hardware versions
Collect v2022.2 Beta 2, Android 10 device used Redmi 7

#### Problem description
On my Android 10 device, Collect crashes when trying to generate answers for external image/video/file/audio widgets.

stacktrace:
`2022-04-07 15:28:45.588 22683-22683/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 22683
    java.lang.RuntimeExc

[2022-04-07 16:10] lognaturel commented on #5087
Thanks for digging in! Glad to hear there are some answers that are not too onerous.

This intersects with an observation I shared in Slack -- osm seems to launch with the device location centered already. There are so many workflows in which that would be the most useful map centering. Maybe we should just have that behavior for all basemaps for now?

The clustering does sound good, though, so ha

[2022-04-07 19:53] lognaturel opened #5091 "Redirect client settings JSON spec id URI to schema file"
https://getodk.org/client-settings.schema.json => https://github.com/getodk/collect/blob/master/settings/src/main/resources/client-settings.schema.json

[2022-04-07 19:56] lognaturel commented on #5091
Side note: I feel grumpy about JSON schema not defining a versioning strategy.

[2022-04-08 04:24] #5091 closed, assigned to yanokwa

[2022-04-08 09:55] grzesiek2010 commented on #5090
I'm not able to reproduce so I have a few questions:
1. Are you sure it's regression? I can't spot anything that we have changed over the course of the current release cycle related to that functionality.
2. Does the crash occur for all media files?
3. Could you also try this form where media files are loaded together as a group: https://github.com/grzesiek2010/CollectAnswersProvider/blob/master/e

[2022-04-08 10:49] grzesiek2010 commented on #5089
Right in this case it's juts because of that `other_protocol` which we no longer support.

In the future we might have similar problems with other enums too so probably we should get rid of all of them and use defaults if something we do not support is present.

[2022-04-08 12:20] grzesiek2010 commented on #5089
If we remove enums the problem for this particular case will be solved. The app will save `other_protocol` as protocol first and since this option was removed we have a case for it in `ODKAppSettingsMigrator` and it will be migrated to `odk_default`. Problems might take place when we do not only deal with preferences that contain old keys/values (cases that should be handled in `ODKAppSettingsMigr

[2022-04-08 17:01] lognaturel commented on #5089
Chatted briefly with @grzesiek2010 about this. I think the ideal behavior would be that if *any* key fails validation, there's feedback in the UI (e.g. a toast that says "Some keys have invalid values and were set to default: x, y, z") but the values fall back to default and the project is provisioned. I believe this would match prior behavior (but I'm not totally sure).

Ideally we wouldn't need

[2022-04-08 17:02] lognaturel commented on #5089
@kkrawczyk123, this is a good case to keep around (I assume that's your plan).

[2022-04-10 19:30] lognaturel opened #5093 "Zoom to current location when launching select from map view"
Currently we launch with a viewport that includes all of the available points. As briefly discussed in https://github.com/getodk/collect/issues/5087#issuecomment-1091928594, let's launch zoomed on the current location instead. It's likely users will want to toggle between the two views. In many use cases starting with current location is most helpful.

Note that this appears to be the current beha

[2022-04-10 19:53] lognaturel commented on #5087
@grzesiek2010 you might actually be the best person to look into this because I'm pretty sure it intersects with https://github.com/getodk/collect/pull/5010/. I did a quick profile run with Google Maps:
<img width="1319" alt="Screen Shot 2022-04-10 at 12 06 14 PM" src="https://user-images.githubusercontent.com/967540/162636486-0fb08cb2-df52-4c2e-9a08-4a73eaa09cae.png">

I confirmed by adding some

[2022-04-11 09:03] seadowg commented on #5089
I think we'd fall back to defaults, but I don't think we showed a message as far as I can recall. I do think showing the warning would be a nice feature to add at some point though.

Great point. It might be that a simple solution for this release is to remove all the `enum` blocks and then tackle having them in but defaulting on failure for v2022.3. It feels like that might be a little tricky and

[2022-04-11 09:22] seadowg commented on #5090
This has shown up in Firebase: https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/324e6f8b0ffe4693e324c7a2d5f2f872?time=last-seven-days&versions=v2022.2-beta.2%20(4405)&types=crash&sessionEventKey=62500A4501F40001309EDB65926659C8_1662630368995684235

[2022-04-11 10:49] grzesiek2010 commented on #5089
In https://github.com/getodk/collect/pull/5094 I handle that case with values not included in enums without removing those enums from the scheme. I just ignore that particular type of error.

I agree but at this moment we don't have that functionality to save defaults if the value that we try to save is not supported. In case of the qr code attached above it worked well because the unsupported val

[2022-04-11 13:51] grzesiek2010 commented on #5087
I'm not sure so I need to ask... are you describing the process of loading data when the progress dialog is displayed or the performance when the data is loaded and you try to play with the items?

Yes we do and this is something we should change. The problem is that loading x elements we first create markers for every single element with a default `red circle` image and then we update that marker

[2022-04-11 15:32] lognaturel commented on #5087
Yes, this is what I've been focused on because on the moto G5 I can't even get that step to complete!

Ahhhh, yeah, we should definitely fix that.

If it's a quick thing for you to do that would be a good first step as part of this. Otherwise maybe file a separate issue?

Thanks for confirming! I really feel like we're not doing this the way we should be. I'll try to review some docs around that.

[2022-04-11 15:50] lognaturel commented on #5089
Agreed, thanks!

[2022-04-11 16:38] lognaturel commented on #5093
It looks to me like the behavior currently isn't deterministic. `initMap` [starts listening for location updates](https://github.com/getodk/collect/blob/c9170b459830487ae9f8b0289bbad1755fc57835/geo/src/main/java/org/odk/collect/geo/selection/SelectionMapFragment.kt#L186), and then [zooms to the previously-saved zoom state](https://github.com/getodk/collect/blob/c9170b459830487ae9f8b0289bbad1755fc5

[2022-04-12 10:33] grzesiek2010 opened #5096 "Handle unsupported settings that might exist in QR codes"
#### Software and hardware versions
Collect all versions

#### Problem description
Currently we are not protected from saving settings that we do not support if such settings exist in qr codes. An example would be:
[code]

According to our scheme (see: https://github.com/getodk/collect/blob/master/settings/src/main/resources/client-settings.schema.json#L24) options that we support for `protocol` a

[2022-04-12 10:34] grzesiek2010 commented on #5089
Cool I created a separate issue for next steps https://github.com/getodk/collect/issues/5096

[2022-04-12 12:42] kkrawczyk123 opened #5097 "Question mark icon is not visible in background recording form in light mode"
#### Software and hardware versions
Collect v2021.3.1  Android vx.x.x, device used...

#### Problem description
In the middle of regression testing, I have noticed that the question mark icon in background recording form is not visible in light mode - it is visible only in dark mode. Despite of icon's absence after clicking on the area when it supposed to be visible information dialog displays. I

[2022-04-12 20:48] lognaturel commented on #4554
Users have been running into this with some frequency. Let's at least see what our options are here.
- [x] is the whole submission blob HTML-encoded?

[2022-04-13 11:08] #5089 closed, assigned to grzesiek2010

[2022-04-13 13:47] lognaturel commented on #5075
There’s a somewhat related issue at the poles: https://github.com/osmdroid/osmdroid/issues/1339#issuecomment-491519929

[2022-04-13 14:58] #5093 closed, assigned to nobody

[2022-04-13 15:26] #5084 closed, assigned to nobody

[2022-04-14 13:41] seadowg commented on #5075
Related to this we can also end up with `geometry` in an incorrect format (an example could be `0, 0, 0, 0`). We're seeing that appear in the wild in [this Crashlytics report](https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/db72f993c1c08aa205771dfc1767bdbf?time=last-seven-days&versions=v2022.2.0%20(4418)&types=crash&sessio

[2022-04-15 13:10] seadowg commented on #5015
I've asked a question on SO about this as I can't work it out: https://stackoverflow.com/questions/71884458/activity-intent-sometimes-has-null-extra. In addition, I'll make the Activity able to cope with this scenario - we can just finish if the extra is `null`.

[2022-04-16 13:34] #4909 closed, assigned to nobody

[2022-04-16 13:38] seadowg commented on #2009
We're currently not focusing on improvements for the Google Drive flows so closing this.

[2022-04-16 13:38] #2009 closed, assigned to nobody

[2022-04-16 13:39] #784 closed, assigned to nobody

[2022-04-16 13:39] #2015 closed, assigned to nobody

[2022-04-16 13:39] #3729 closed, assigned to nobody

[2022-04-16 13:39] #4347 closed, assigned to nobody

[2022-04-16 13:41] seadowg commented on #298
We're not currently focused on improving Google Drive flows so closing this.

[2022-04-16 13:41] #298 closed, assigned to nobody

[2022-04-16 13:41] seadowg commented on #3391
We're not currently focused on improving Google Drive flows so closing this.

[2022-04-16 13:41] #3391 closed, assigned to nobody

[2022-04-16 13:41] seadowg commented on #3703
We're not currently focused on improving Google Drive flows so closing this.

[2022-04-16 13:41] #3703 closed, assigned to nobody

[2022-04-16 13:41] seadowg commented on #3825
We're not currently focused on improving Google Drive flows so closing this.

[2022-04-16 13:41] #3825 closed, assigned to nobody

[2022-04-16 13:41] seadowg commented on #3978
We're not currently focused on improving Google Drive flows so closing this.

[2022-04-16 13:41] #3978 closed, assigned to nobody

[2022-04-16 13:45] seadowg commented on #4305
I think this is superseded by #4893

[2022-04-16 13:45] #4305 closed, assigned to nobody

[2022-04-18 22:09] lognaturel opened #5108 "Update translations for v2022.2.0"
And add to new release checklist.

[2022-04-18 22:09] #5015 closed, assigned to nobody

[2022-04-19 10:50] grzesiek2010 opened #5109 "RuntimeException in GoogleMapFragment.getBitmapDescriptor(GoogleMapFragment.java:648)"
#### Software and hardware versions
Collect v2022.2

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/04475f973b9e0984b3bb866519df895d?time=last-ninety-days&versions=v2022.2.0%20(4418)&types=crash&sessionEventKey=625DAE1F028300013BFCF7D414D4A4F7_1666461187049181304

[code]

[2022-04-19 12:34] grzesiek2010 opened #5111 "IllegalArgumentException in AnalyticsUtils.java line 116"
#### Software and hardware versions
Collect v2022.2

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/b4bf1e7c527dc4de6ca9905f04ee7a0c?time=last-ninety-days&versions=v2022.2.0%20(4418)&types=crash&sessionEventKey=625D574F0169000164954961284FF97E_1666363054017438386

[code]

[2022-04-19 14:01] kkrawczyk123 opened #5113 "Deselected point is highlighted after screen rotation"
#### Software and hardware versions
Collect v2022.2x, Android all, device used...

#### Problem description
When testing #5100 I have noticed another small issue connected to select map and screen rotation. The issue is also visible on master. After deselecting previously saved point and screen rotation it is still highlighted and zoomed.

#### Steps to reproduce the problem
1. Open form with sele

[2022-04-19 19:26] lognaturel commented on #5087
#5100 takes care of setting icons only once and will go out in v2022.2.1. This should halve load time.

We've decided to hold off on further improvements until we get more user feedback and upgrade Mapbox. #5095 may be useful reference when we come back to this.

[2022-04-19 22:11] lognaturel commented on #254
Announced: https://forum.getodk.org/t/collect-splash-screen-will-be-removed-in-v2022-3/37410

[2022-04-20 13:24] grzesiek2010 commented on #5109
I can't reproduce the issue. There is also nothing bad in our implementation that we could improve. Since it's not new and we have only 2 affected users let's leave it for now and monitor.

[2022-04-20 16:15] lognaturel opened #5115 "Values from external apps are not saved to form"
#### Software and hardware versions
Collect v2022.2.0

#### Problem description
https://forum.getodk.org/t/odk-counter-not-returning-results-to-odk-collect/37423/

#### Steps to reproduce the problem
Fill a form that requests a value from an external app such as [this one](https://github.com/getodk/counter/blob/master/docs/counter.xlsx)

#### Expected behavior
Values should be sent back from the a

[2022-04-20 17:30] lognaturel commented on #5115
https://github.com/getodk/collect/commit/fbfd8f31a08257309cfa03b6f3ed238364215d2c is the culprit.

[2022-04-20 17:42] lognaturel commented on #5115
Have confirmed that changing `getReturnedSingleValue` to the following works:

[code]

When an app returns a non-string extra, `getStringExtra` returns `null`.

[2022-04-20 19:00] lognaturel opened #5116 "jr:itext not resolving correctly as param for external app (and possibly elsewhere)"
#### Software and hardware versions
Collect v2022.1

#### Problem description
![device-2022-04-20-115109](https://user-images.githubusercontent.com/967540/164303061-f40337ab-cb40-4e2f-93f2-8e4f009972eb.png)

#### Steps to reproduce the problem
Fill out the second question on [this form](https://github.com/getodk/counter/blob/master/docs/counter.xlsx)

#### Expected behavior
The translated form nam

[2022-04-20 19:00] lognaturel commented on #5116
This doesn't look like it has to be in the hotfix to me but it would be good to do a little bit more exploration to confirm there isn't a deeper problem.

[2022-04-21 11:48] grzesiek2010 commented on #5116
This is not a bug in Collect. The generated form contained wrong root node names (`data` instead of `counter`) in paths: `jr:itext('/data/counter2:label')` instead of `jr:itext('/counter/counter2:label')`. The problem was caused by not specified name in settings: https://xlsform.org/en/#specify-xforms-root-node-name which I fixed in https://github.com/getodk/counter/pull/21. it worked well in `XLS

[2022-04-21 11:48] #5116 closed, assigned to grzesiek2010

[2022-04-21 12:59] lognaturel commented on #5116
Oh, wonderful. 🙏

[2022-04-21 13:09] #5111 closed, assigned to grzesiek2010

[2022-04-21 15:08] #5075 closed, assigned to seadowg

[2022-04-21 16:09] grzesiek2010 opened #5118 "Add integration tests to verify external widgets"
#### Problem description
We had a regression in v2022.2 described in https://github.com/getodk/collect/issues/5115. We have fixed the issue and added some unit tests. However it would be better to have tests that verify external widgets as a whole to avoid issues like that in the future.

[2022-04-21 16:11] #5115 closed, assigned to grzesiek2010

[2022-04-21 21:49] #5108 closed, assigned to nobody

[2022-04-25 10:05] grzesiek2010 opened #5120 "NullPointerException during adding a marker in GoogleMaps"
#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/3de073dfc2904126ffa108c2e312ae61?time=last-seven-days&versions=v2022.2.1%20(4427)&types=crash&sessionEventKey=6266414902B800015179AD42844C970B_1668876492148764589

[code]

[2022-04-25 21:31] lognaturel opened #5121 "Remove stale analytics"
We aim to only track specific indicators that help us answer questions we currently have.

The analytics console doesn't really help us with this because it continues showing event types forever. We've recently started using the `NPA` tag (no personalized ads) to indicate events we're no longer tracking.

# Events to remove
- [ ] `AllowMockAccuracy`: not a lot of people are using it. That matches

[2022-04-25 21:43] lognaturel opened #5122 "Add analytics for form-level autosend"
As discussed at https://github.com/getodk/collect/pull/5047#issuecomment-1078413143

[2022-04-27 09:04] #5121 closed, assigned to grzesiek2010

[2022-04-28 13:05] #254 closed, assigned to grzesiek2010

[2022-04-28 17:33] lognaturel opened #5126 "Can't create calendar event because start/end times must be longs"
It would be useful to be able to schedule events using data from an ODK form. Currently, we can populate the title, the description, the location and many other fields but we can't populate the start and end times because they must be specified as longs and as far as I know we can only pass in doubles or strings.

[code]
[calendar.xlsx](https://github.com/getodk/collect/files/8585079/calendar.xlsx

[2022-04-28 18:45] grzesiek2010 opened #5127 "Selected map layer is not displayed automatically in OpenStreetMaps"
#### Problem description
Selected map layer is not displayed automatically in OpenStreetMap

#### Steps to reproduce the problem
1. Install ODK Collect and download the All Widgets form from the demo server
2. Add any map layer to layers directory on your device
3. In settings select OpenStreetMap and your layer
4. Go to Fill Blank Form and click on the map button

#### Expected behavior
The selec

[2022-04-29 09:09] grzesiek2010 opened #5129 "Bump targetSdkVersion to API 31"
#### Problem description
Every year we have to bump the `targetSdkVersion` to [Meet Google Play's target API level requirement](https://developer.android.com/google/play/requirements/target-sdk).
Theoretically we can keep releasing new versions of our app till November with the current `targetSdkVersion` which is 30 but I think this year we should do that earlier becasue:
- I remember that last ye

[2022-04-29 17:43] lognaturel commented on #5126
There's no way to dynamically ask for the extras accepted and their types, is there? Pretty sure the answer is no but I've been surprised before.

[2022-05-04 08:20] seadowg commented on #5129
We have another issue to cover the last point  for instrumentation tests (#4874), and I believe our Robolectric tests should switch with the target SDK, so I'll scratch that out.

[2022-05-04 08:45] seadowg commented on #5129
I've added a couple of things to the list. Looks like we might have to deal with hibernation 🥶

[2022-05-04 10:02] grzesiek2010 commented on #5129
I meant just doing that once for now to verify that everything is fine at least according to our tests what I've already done.

[2022-05-04 13:34] grzesiek2010 commented on #5129
permissions are reset, background jobs stopped. When you open the app again and exit the mode background jobs are rescheduled.
It make sense and I don't think this is something we should car about now. In the doc they say:

so it looks like the mode is enabled only if the app is not used indeed.

[2022-05-04 13:38] seadowg commented on #5129
Right but if the `WorkManager` scheduled jobs are cleared we might restart the app after hibernation with something like auto send enabled but no longer scheduled right?

[2022-05-04 13:43] grzesiek2010 commented on #5129
I've just tested `match exactly` and after reopening the app the job was enabled and rescheduled so it works properly. `Auto send` is not a periodic job it's triggered when enabled in settings or when you save a form so it's not a good example here I think or maybe I'm missing something?

[2022-05-04 13:49] seadowg commented on #5129
It works after the app is hibernated and then reopened? I'm not sure how that works as it seems from their docs like all our scheduled jobs get cleared. Not sure where in the code we reschedule other than when settings are imported or the relevant settings are changed.

Sorry, yes that's true! Auto update/Match exactly are the better examples.

[2022-05-04 13:59] grzesiek2010 commented on #5129
From my short testing what I've noticed is that jobs are canceled/stopped when the app enters the hibernate mode and then when you reopen the app it exits the mode and jobs are scheduled again with the same settings. It matches what they say in https://developer.android.com/topic/performance/app-hibernation#system-behavior-leave-hibernation probably it works out of the box because we use `WorkMana

[2022-05-04 14:23] grzesiek2010 commented on #5129
I verified that on Android 12 the icon is displayed properly. I don't remember any very long toasts that would take more than two lines so I think it doesn't make sense to review all possible toasts in the app, this is rather something the QA team should pay attention to during testing other stuff.

[2022-05-04 14:56] seadowg commented on #5129
Ah, nice! I'd assumed they meant "it'll be easier to reschedule with WorkManager". I'm still not comfortable with how WorkManager scheduling works, but it sounds like we're covered in this case.

[2022-05-04 17:39] lognaturel opened #5131 "When opening "select from map" with a previously-selected feature, zoom level should be higher"
#### Software and hardware versions
Collect v2022.2

#### Problem description
When a feature has already been selected and "Select place" is tapped, the map centers on that point. However, the zoom level is so low that it's hard see its location. I think the zoom level should be as high as the zoom to current location at least.

#### Steps to reproduce the problem
1 Use a form with a select from m

[2022-05-05 11:50] srujner opened #5132 "Styling error on required message after not entering required data"
**Software and hardware versions**

Collect current master, Android 10 and 11

**Problem description**
 During testing #5064 I noticed that in one form, when user do not provide required data and click on the next button, the toast message have styling issues.
 Form:
[Soil_collect.xlsx](https://github.com/getodk/collect/files/8630845/Soil_collect.xlsx)

**Steps to reproduce the problem**
1. Open a

[2022-05-06 10:51] srujner opened #5134 "Memory leak in application on Android 10 after toast message appears"
**Software and hardware versions**
Collect current master, Android 10, xiaomi device

**Problem description**
During testing #5128  I noticed leak in Canary Leaks application after toast message appears

**Steps to reproduce the problem**
1. Install ODK app and launch the app;
2. Select "Manually enter project details";
3. Configure by Google Drive;
4. Add account for ODK Collect;
5. Open Leaks ap

[2022-05-09 08:38] #5127 closed, assigned to grzesiek2010

[2022-05-09 09:14] seadowg opened #5136 "Redesign selection summary sheet"
~~Blocked by #4943~~

The summary sheet should be redesigned to look like this when it's fully expanded:

<img width="352" alt="Screenshot 2022-06-03 at 10 27 16" src="https://user-images.githubusercontent.com/556280/171828028-43fc11b8-c0c2-47c6-bc3e-f298439d1bb7.png">

In addition:

* There should be a divider between each property
* Clicking on an item on the map should open the bottom sheet ["c

[2022-05-10 20:16] #5131 closed, assigned to seadowg

[2022-05-16 08:12] #3433 closed, assigned to grzesiek2010

[2022-05-16 08:12] #4822 closed, assigned to grzesiek2010

[2022-05-16 15:09] seadowg opened #5142 "Migrate usage of `KEYCODE_BACK` and `onBackPressed()`"
These will stop working in Android 14 (for apps targeting it/API 34) and any usage should be migrated to the new [`OnBackPressedDispatcher`](https://developer.android.com/reference/androidx/activity/OnBackPressedDispatcher).

We can test the Android 14 behaviour by adding `android:enableOnBackInvokedCallback="true"` to the `application` node in `AndroidManifest.xml`.

More info in this Google I/O

[2022-05-17 14:40] #5129 closed, assigned to grzesiek2010

[2022-05-17 19:52] lognaturel opened #5143 "Write test that validates date strings in translations"
[Crashlytics](https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/f1751598793db99fc8bb5c5d17147b95?time=last-seven-days&sessionEventKey=628299D6002A00013F2201E72CBEFBB2_1677032799227366031)

I'm fairly sure this is caused by some date strings being bad or incomplete. Regardless, we should have a test to verify these becaus

[2022-05-18 21:22] lognaturel opened #5144 "Update All Widgets to include select one from map"
I believe that's the only new question type but would be good to double check.

[2022-05-20 08:55] grzesiek2010 opened #5145 "Problems with creating files on device storage"
#### Problem description
We have been receiving reports about problems with accessing app directory which we use to save files. In v2022.2.2 we added more logs and here are the results:

- [open failed: EACCES (Permission denied) | No such file or directory | Operation not permitted | open failed: EROFS (Read-only file system) | Permission denied](https://console.firebase.google.com/u/1/project/ap

[2022-05-20 12:15] grzesiek2010 commented on #5145
I Was able to reproduce the issue with these logs:

[code]

I'm going to dig deeper now.

[2022-05-20 17:52] lognaturel opened #5147 "Forms inserted multiple times in db with match exactly"
#### Software and hardware versions
Collect v2022.2.2

#### Problem description
We've sometimes had reports of users getting duplicate formid/version errors. We thought the issue was mostly related to the server so for v2022.2.2, @grzesiek2010 made sure that on download a formid/version match results in an update, not a duplication.

I just got the error with v2022.2.2 and it now looks like some k

[2022-05-20 19:30] lognaturel opened #5148 "Clicking "Save as draft" when "Moving backwards" is disabled creates inaccessible submissions"
#### Software and hardware versions
Collect v2022.2.2+

#### Steps to reproduce the problem
1. In protected Form Entry Settings, uncheck Moving backwards.
1. Accept the suggested other setting changes.
1. Fill out a form
1. Click "Save as draft" on the end screen
1. See that the filled form is inaccessible

#### Expected behavior

The Moving backwards setting should also uncheck "Save as draft" (i

[2022-05-21 00:36] lognaturel commented on #5147
It just happened again and I got 4 duplicates of the one form in that project. I don't know what gave me this idea because again I can't reproduce but I started wondering whether it could have to do with the QR code being scanned more than once (not being debounced).

It’s very interesting that I’d never experienced this before and ran into it twice today. I’m in a hurry and going through several

[2022-05-23 13:46] grzesiek2010 commented on #5145
W have had collected a few different crash causes but I was focused on `Permission denied` which I was able to reproduce too. Maybe other causes are also related but different devices just throw different exceptions, who knows.

I've read the documentation about storage to make sure we do not miss any permissions or something and it seems like we do not. Everything seems fine...
I think the reason

[2022-05-23 15:13] seadowg commented on #5145
What steps do you need to run through to reproduce?

[2022-05-23 15:45] grzesiek2010 commented on #5145
Just install the app via usb (it can be master but that does not matter). You might need to switch to `selfSignedRelease`.
But I doubt you will be able to do that. It happens only on one device that I took from @kkrawczyk123

[2022-05-23 15:48] lognaturel commented on #5145
Seems like a reasonable hypothesis.

Is there a downside to this? We can request it from the user only as a fallback, right? That is, most users wouldn't be prompted to give the permission, only those for whom access to our external folder fails?

[2022-05-23 15:59] grzesiek2010 commented on #5145
The only thing I can think of is that Google Play might not like it somehow since the doc says it does not change anything.

No because I do not request that permission like we used to do in pre-scoped storage versions displaying a dialog. I just added it to the manifest and that's it it somehow fixed my problem. So no one will be prompted to grant it.

[2022-05-24 08:35] grzesiek2010 commented on #5147
Hmm I can try to reproduce.

[2022-05-24 09:10] seadowg commented on #5145
I believe it will show up on the Play Store in "App permissions" although I'm not sure what the text would be. Most likely "modify or delete the contents of your shared storage" which we currently don't have (look at SyncThing's [manifest](https://github.com/syncthing/syncthing-android/blob/main/app/src/main/AndroidManifest.xml) and [Play Store page](https://play.google.com/store/apps/details?id=c

[2022-05-25 09:33] grzesiek2010 commented on #5147
I tried to reproduce the problem and I was able to do that at least once. Interestingly I ended up with 2 forms inserted even **three times**:
![image](https://user-images.githubusercontent.com/3276264/170230609-78455ceb-1444-414c-b828-169f71e82241.png)

I'm going to spend some time on it maybe I will be lucky and able to track it down. If not I will just make md5 column unique (as we discussed ye

[2022-05-25 13:26] grzesiek2010 commented on #5147
Ok I got it.
The problem is that when a user scans a QR code settings are updated one by one. [This starts tasks like `match_exactly` multiple times](https://github.com/getodk/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/application/CollectSettingsChangeHandler.java#L31) (4-5 from what I've noticed).
Of course before starting a new task we cancel the existing one but if it

[2022-05-25 14:48] lognaturel commented on #5147
Thank you, @grzesiek2010!! This has been a long-standing mystery.

[2022-05-25 14:52] lognaturel commented on #5147
Is your sense that it has to do with something like the angle at which you initiate code scanning and how quickly you move the device away? Like I said, I suspected the QR code scanning might be the issue but even with that idea in mind I couldn’t repro deliberately.

Is there any way to debounce the QR code scanning? It’s also very strange when a code has invalid settings. In that case, a toast i

[2022-05-25 15:09] grzesiek2010 commented on #5147
No it has nothing to do with the issue. The code is scanned once but it contains multiple settings. Then [scheduleUpdates](https://github.com/getodk/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/application/CollectSettingsChangeHandler.java#L31) is called a few times (4-5) for a single QR code (becasue we do that for every single new setting) what starts multiple `SyncForms

[2022-05-25 17:22] lognaturel commented on #5147
Thanks for the thorough explanation, I'm with you now.

Just in case you haven't already explored this, seems to me that these update tasks should use [`enqueueUniqueWork`](https://developer.android.com/reference/androidx/work/WorkManager#enqueueUniqueWork(java.lang.String,%20androidx.work.ExistingWorkPolicy,%20java.util.List%3Candroidx.work.OneTimeWorkRequest%3E)) or some other strategy to guaran

[2022-05-25 17:49] lognaturel commented on #5145
A few misc observations about the general inability to access the external files dir:
- 47% of affected devices are TECNO, 10% HUAWEI. 34 other manufacturers have smaller incident counts
- 68% of affected devices run Android 7. It also happens on all other Android versions including Android 12 but at much lower frequency
- 66% of devices are in background when this happens
- Not related to the per

[2022-05-26 15:12] grzesiek2010 commented on #5147
We already use this. In our case it's `enqueueUniquePeriodicWork`. It seems like it doesn't work well. I guess like in case of [cancelUniqueWork](https://developer.android.com/reference/androidx/work/WorkManager#cancelUniqueWork(java.lang.String)) work that is already executing may continue to run.

[2022-05-26 15:50] #5097 closed, assigned to grzesiek2010

[2022-05-27 10:40] seadowg commented on #5145
This is fascinating. I was confused as to how this could be an OEM issue and this seems to explain it. I'm still unclear on why the OS can't manage this itself (and not need an OEM to configure it) but that's not something we can change.

I haven't had a chance to check this as I don't have my test device with me, but the other thing to check would be whether this results in an extra permission be

[2022-05-27 12:08] grzesiek2010 commented on #5145
I've just tested the beta version from @lognaturel and it seems to work:
1. I installed current master branch via Android Studio - `CRASH`
2. Then I installed the version from Play Store available for all users - `CRASH`
3. Then I installed the one which contains that weird fix and everything was `FINE`

When it comes to permissions I've noticed a small difference on one of tested devices (in Stor

[2022-05-27 12:22] seadowg commented on #5145
I really wish we'd spotted this when removing `WRITE_EXTERNAL_STORAGE` so we didn't have to think about adding the extra permission back. I think I'm leaning towards doing a release with `WRITE_EXTERNAL_STORAGE` for now and thinking about an error message in the future.

I am worried that long term, this could come back to bite us (they could deprecate remove/the permission for example), so I do t

[2022-05-27 12:47] grzesiek2010 commented on #5145
I agree we are going to have a point release for https://github.com/getodk/collect/issues/5147 either way so It's a good opportunity to check this one.

Yes I can do that but maybe when we release a new version with that fix so that we have confirmation that it really works for other users too.

[2022-05-27 12:49] seadowg commented on #5145
Great idea!

[2022-05-30 10:23] grzesiek2010 commented on #5144
I've added required changes so I'm closing the issue.

[2022-05-30 10:23] #5144 closed, assigned to grzesiek2010

[2022-05-30 10:58] grzesiek2010 commented on #5145
Ok so I've created a pr for the hotfix https://github.com/getodk/collect/pull/5150

[2022-05-31 05:37] lognaturel commented on #5144
🙏

[2022-05-31 13:17] seadowg opened #5152 "Field list does not update correctly"
We've found a case where field lists do not update correctly when a question is answered. I'll format this issue in a way that allows us to add any other cases we might find down the line (before making fixes) here as well.

### Trigger + Calculate + Relevant

#### Form

[code]

#### Test

[code]

## Notes

It would be good to take the opportunity to revise how widget values are saved as part of f

[2022-05-31 15:42] lognaturel commented on #4554
We've decided to move forward with building true UTF-8 submissions (matching Enketo). The JR change has gone in (thanks, @seadowg!). We need to incorporate it here and also add the `encoding` attribute.

[2022-06-01 17:37] lognaturel commented on #5026
Here's a case I just ran into. Recording for when we pick this back up:
- upload a form with an external select (`select_one_from_file foo`)
- attach a secondary instance without a `name` column

The first time I downloaded, the download worked. When I opened the form, I got an error message so I knew what the problem was. I [attempted to fix it](https://docs.getodk.org/form-question-types/#custom

[2022-06-02 13:04] grzesiek2010 opened #5157 "Can't start external app on android 11+"
#### Problem description
Can't start external app on android 11+
The problem has been originally reported on the forum: https://forum.getodk.org/t/external-app-doesn-t-opening/37644

#### Steps to reproduce the problem
1. Install https://play.google.com/store/apps/details?id=com.peace.ArMeasure&hl=de&gl=US
2. Test the attached form on android 11+ [exApp.xlsx](https://github.com/getodk/collect/file

[2022-06-03 09:33] seadowg commented on #3202
Here's a quick spike on using Material 2 FABs for the buttons (on the selection map):

<img width="311" alt="Screenshot 2022-06-03 at 10 32 37" src="https://user-images.githubusercontent.com/556280/171828917-b9439682-1c11-400d-98cf-f91b74d93f92.png">

How does that feel to you @grzesiek2010?

[2022-06-03 09:39] seadowg commented on #5157
Going to move this into Hotfix as it could be serious for some projects.

Do @getodk/testers have an Android 11 device? It feels like we must have a gap in our testing (automated and manual) for this to get through.

[2022-06-03 09:44] grzesiek2010 commented on #5157
I was just going to say the same.

Yes we have and we are able to reproduce the issue I described.

It seems like we don't test cases like that (staring any app) we rather test staring apps that export activities like https://github.com/getodk/counter

[2022-06-03 10:56] grzesiek2010 commented on #5157
and testing cases like that is not something easy for QAs. They never know if a given app exports activities or if we start it by its package name. I think it would be good to create a special app for them for testing + a form to verify we can start it by its package name + using exported activities + using intent filter signatures.
I you agree I'm going to do that.

[2022-06-03 12:09] grzesiek2010 opened #5159 "Styling choices in select one with likert appearance is not supported"
#### Software and hardware versions
Collect all versions

#### Problem description
Styling choices in select one with likert appearance is not supported

#### Steps to reproduce the problem
Please test this form which contains two questions. The first one is select one without any appearance (where styling works well) and the second question is almost identical but has `likert` appearance.

[Styli

[2022-06-05 11:07] seadowg commented on #5157
Ah wait, so this is only a problem if the Activity being opened isn't exported (as in it doesn't have `exported=true` in its `activity` block)? I'm confused as I assumed that if an Activity wasn't exported, then it couldn't be launched by any other application? I'm guessing I'm missing something here.

[2022-06-06 08:50] grzesiek2010 commented on #5157
Yes this issue is not about staring any activity (then you are right exporting would be required) but staring launcher activities that have:
[code]

I believe it should be possible to do that and it worked before it stopped working in android 11+ so I fixed it.

[2022-06-06 13:40] #5147 closed, assigned to grzesiek2010

[2022-06-06 19:11] grzesiek2010 commented on #3202
Shape and size are great but I'm not sure if i like the color... (maybe I like just white more). What disabled icons would look like?

[2022-06-07 08:39] seadowg commented on #3202
Yeah @lognaturel had the same reaction. I think we should go ahead with it like this and then try both colours in the app to see how we feel. That way we can compare them while scrolling around the map etc.

Good question! I can definitely mock that up. I couldn't think of a case where we disable them though?

[2022-06-07 10:29] grzesiek2010 commented on #3202
Maybe not in the map of forms but in geo widgets we do that:

![Screenshot_1654597579](https://user-images.githubusercontent.com/3276264/172358427-d4e9c8fb-5324-462c-b379-e93ba5a14768.png)

[2022-06-07 12:17] #5157 closed, assigned to grzesiek2010

[2022-06-10 11:19] #5159 closed, assigned to grzesiek2010

[2022-06-13 15:27] #4554 closed, assigned to nobody

[2022-06-14 14:28] seadowg commented on #4940
As part of the work on #4893, I had to set up a Gradle module (`mapbox`) to be able to be provided dependencies from its dependent module (`collect_app`) without the dependent module having an explicit class reference (`mapbox` is only included if the developer configures a Mapbox download token locally). With Dagger we currently have the following (abstracted) setup for providing dependencies to

[2022-06-16 14:18] seadowg commented on #4940
To follow up, here's the same example using Koin:

**In the module**
[code]

**In a module class**
[code]

**In `collect_app`**
[code]

There's some lovely under the hood reified magic making that `inject` property work - pretty much every Kotlin focused DI framework ends up doing  something like that. I imagine signature is something like `inline fun <reified T> Activity.inject(): InjectDelegate<

[2022-06-20 15:07] #5027 closed, assigned to grzesiek2010

[2022-06-22 03:52] lognaturel commented on #5136
Super small nit: I believe the horizontal rule is intended to be more subtle.

[2022-06-22 13:31] seadowg opened #5165 "Pressing back with item selected closed Select One From Map widget map"
#### Software and hardware versions
Collect v2022.2

#### Steps to reproduce the problem

1. Open a form with a Select One From Map widget
2. Go to the question and hit Select Place
3. Select an item
4. Press back

The user is returned to the question.

#### Expected behavior

The summary sheet should close instead of returning to the question.

#### Other information

Fixing this involves using t

[2022-06-23 14:16] dbemke opened #5168 "Placement by tapping doesn't work for OSM for GeoTrace and GeoShape widgets"
**Software and hardware versions**
Collect v2022.3, Android probably all

**Problem description**

In Geoshape widget and Geotrace widget placement by tapping doesn’t work for OSM. User is not able to set points on the map by tapping in Collect v2022.2.3.
With OSM placement by tapping works in Collect v2022.2.3.

**Steps to reproduce the problem**

1. Select OSM as a source of maps
2. Open form wi

[2022-06-28 16:10] seadowg opened #5169 "Calculate/trigger cycle can lead to values being cleared from irrelevant question"
#### Software and hardware versions
Collect v2022.2 (and Enketo 4.1.1)

#### Problem description

Having two questions that change each other's value with a calculate/trigger cycle (each has their `calculate` and `trigger` set to the other question) where one question can become irrelevant results in a situation where the irrelevant question clears the answer from the relevant one.

#### Steps to

[2022-06-28 16:12] seadowg commented on #5169
cc/ @eyelidlessness as this seems to happen in Enketo as well.

[2022-07-01 21:01] lognaturel opened #5170 "Double scroll bar when choice list is long"
When a choice list is long, there's a small scroll bar that shows the location in the list and there's also a big one that shows the location in the container view. There should only be the small scroll bar.

[double scroll.zip](https://github.com/getodk/collect/files/9031586/double.scroll.zip)

![double-progress](https://user-images.githubusercontent.com/967540/176967217-5c979a64-032b-401a-983e-7

[2022-07-04 18:06] grzesiek2010 opened #5171 "Mapbox should zoom to points on the map of forms"
#### Software and hardware versions
The issue will be visible after merging https://github.com/getodk/collect/pull/5141

#### Problem description
Mapbox should zoom to points on the map of forms after opening the map.

#### Steps to reproduce the problem
1. Select mapbox in Settings -> Maps
2. Save a few forms with geo widget so that they are visible on the map of forms (points should be saved usi

[2022-07-04 18:51] grzesiek2010 opened #5172 "Selected points should preserve activity recreation"
#### Software and hardware versions
The issue will be visible after merging https://github.com/getodk/collect/pull/5141

#### Problem description
Points selected on the map should be highlighted even after activity recreation.

#### Steps to reproduce the problem
1. Select mapbox in Settings -> Maps
2. Save a few forms with geo widget so that they are visible on the map of forms
3. Open the map of

[2022-07-05 08:36] #4893 closed, assigned to grzesiek2010

[2022-07-05 08:46] dbemke opened #5173 "Rotating the screen on automatic location recording in Geoshape/Geotrace (with about 30 points) on Mapbox, stops adding points"
**Software and hardware versions**

The issue will be visible after merging [#5141](https://github.com/getodk/collect/pull/5141)
Android all versions

**Problem description**

When Mapbox is used as a source of maps in Geoshape and Geotrace and automatic lacation recording is on, after about 30 points being added rotating the screen stops adding the points.

**Steps to reproduce the problem**

[2022-07-05 12:41] dbemke opened #5174 "OSM causes a crash on loading the map in geojson form with thousand points"
**Software and hardware versions**

Android all versions

**Problem description**

When OSM is used as a source of maps on geojson form , it causes an instant crash after clicking „Select place”.

**Steps to reproduce the problem**

    1. Select OpenStreetMap in Settings -> Maps
    2. Download geojson form with thousand points

[geojson.xml.txt](https://github.com/getodk/collect/files/9046406/ge

[2022-07-06 08:32] grzesiek2010 opened #5176 "It is possible to add a project without setting current project id"
#### Problem description
It is possible to add a project without setting current project id what causes crashes. It happens when a QR code does not contain project details so they need to be generated based on URL but the URL is invalid.
**IMPORTANT**: We already check URLs so not all types of error cause the issue but for example a URL like: `https:\/\/demo.getodk.org` does

#### Steps to reprodu

[2022-07-06 09:14] dbemke commented on #5176
I also experienced this while creating QR code with different settings. Steps to reproduce where the same but in first attempt of  scanning the QR there were both messages: qr code is invalid and choice to add duplicate project or switch to existing project.
Clicking add duplicate closes the app. Clicking switch to existing project, goes back to previous project but name of the project and letters

[2022-07-06 10:11] dbemke opened #5177 "Crash of the app after minimizing the app or locking the screen while map is loading on geojson form with thousand points used with Mapbox."
**Software and hardware versions**

Android All versions

**Problem description**

When Mapbox is used as a source of maps on geojson form and the map is loading, minimizing the app or locking the screen causes a crash of the app.

**Steps to reproduce the problem**

    1. Select Mapbox in Settings -> Maps
    2. Download geojson form with thousand points
[geojson.xml.txt](https://github.com/geto

[2022-07-06 18:16] lognaturel commented on #5026
The user who ran into [the problem with UTF-8 byte order marks](https://github.com/getodk/javarosa/issues/687) also had failures like what I described just above. Strangely, the behavior wasn't consistent. Sometimes he'd get a download error, sometimes he'd get successful download and failure to open. As part of this, let's be on the lookout for a race condition of some sort.

[2022-07-06 22:25] lognaturel commented on #3758
As far as I know, this is no longer possible following the scoped storage change so the feature is much less important.

[2022-07-07 03:29] lognaturel commented on #5176
Is this likely to explain [this Crashlytics report](https://console.firebase.google.com/u/2/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/8d842445557fcf3942b4e99ba2f89aec?time=last-ninety-days&types=crash&sessionEventKey=62C64C2A033400015E5E410BADE4B60A_1695905622417877922)?

[2022-07-07 09:55] grzesiek2010 commented on #5176
Logs are the same but I can't be sure if my steps is the only way to reproduce it. It might be the same crash that is a result of a few different bugs.

[2022-07-07 13:19] srujner opened #5178 "Collect crashes when trying to Configure project with QR code or Entering Get Blank Form on Android 5.1."
**Software and hardware versions**

Collect v current master Android v 5.1,

**Problem description**

When testing https://github.com/getodk/collect/pull/5154 I have noticed crash on Android 5.1 device only when trying to Configure project with QR. This issue occurs both on master and #5154 on store version everything works fine.
It's a little bit strange issue, because yesterday I scanned qr code

[2022-07-07 14:29] dbemke opened #5179 "Toast "Switched to project" presented in the language of the previous project"
**Software and hardware versions**

Android probably all

**Problem description**

After switching between projects in different languages, the toast „Switched to project” is in the language used in the previous project.

**Steps to reproduce the problem**

1. Open any project in ODK Collect
2. Go to Settings → User interface → Language
3. Choose any language different from English
4. Add a new pr

[2022-07-08 09:25] seadowg commented on #5176
Yes! I think if you can add a project without setting an ID. The easiest way to do this is with project details that throw an exception during import which causes the whole creation process to exit early and not clean up properly. Then, if you reopen the app, it will take you to the `MainMenuActivity` because there are projects. Does that sound correct @grzesiek2010?

I think making sure project c

[2022-07-08 09:29] grzesiek2010 commented on #5176
Yes.

The case described in this issue is already fixed in https://github.com/getodk/collect/pull/5154 but I wanted add `try-catch` to catch anything that might be thrown during importing settings to avoid other similar issues like that.

[2022-07-08 12:49] dbemke opened #5180 "Saved points might be hidden under buttons after automatic zoom in map view in Google Maps and OSM"
**Software and hardware versions**

ODK Collect v 2022.3 Beta 1
Android probably all

**Problem description**

If one of saved points is placed in the top right-hand corner ( compared to position of other points), the point might be hidden under buttons on the map view. It looks as if the margin from the edge of the map view to points was too narrow after automatic zoom to points. It’s possible to

[2022-07-08 20:57] #5178 closed, assigned to grzesiek2010

[2022-07-11 10:26] grzesiek2010 commented on #5170
What if a form contains multiple questions on one screen? The we also shouldn't display both scrollbars?
![Screenshot_1657535112](https://user-images.githubusercontent.com/3276264/178244560-f73175fa-8c46-45c7-b19b-25fc06801389.png)

[2022-07-11 14:38] grzesiek2010 commented on #5169
To me this kind of makes sense...
![image](https://user-images.githubusercontent.com/3276264/178286225-ad684225-845b-42aa-899d-6b32f112a0ab.png)

`question a` should be recalculated when there is a change in `question b` and the other way around
so in **scenario one** when you pass number 6 or higher steps are:
1. `Question b` is set to 6
2. This triggers setting `Question a` to 6 too (no differen

[2022-07-11 22:22] lognaturel commented on #5170
Ah, I knew it was going to be more complicated than I initially thought! Can you remind me what happens in that case? I can't really tell from the screenshot. The recyclerview takes up a fixed vertical space and then the rest of the field list goes below so depending on where you scroll you're either scrolling the choice list or the field list? To be honest, I'm not really sure what I expect scrol

[2022-07-12 12:50] #4939 closed, assigned to grzesiek2010

[2022-07-12 12:50] #5096 closed, assigned to grzesiek2010

[2022-07-12 12:50] #5176 closed, assigned to grzesiek2010

[2022-07-12 13:04] seadowg commented on #5169
I guess my thinking is that `b` becomes irrelevant if `a` is to `4` so its value should never be cascaded to `a`. Personally, it seems surprising to me that an irrelevant question can change a relevant one. I do however see how there is an opposite argument that because the irrelevant question is technically `null` then the dependency should create that value in `a`.

This came about from a form t

[2022-07-12 14:01] grzesiek2010 commented on #5170
In that case we should have both scrollbars I think because there is one for the list of choices and another one for the whole list of questions.

Theoretically yes but since the list of choices takes the whole available space horizontally and vertically it also extends the size of the screen it is difficult to scroll the list of questions without scrolling the list of choices. It's more of an ind

[2022-07-13 11:05] dbemke opened #5184 "In OSM clicking View or Change Geotrace/Geoshape, after having saved a few points with manual location recording, zooms to a wrong place"
**Software and hardware versions**

Android all

**Problem description**

In OSM clicking View or Change Geotrace/Geoshape after having saved a few points in manual location recording way, zooms to some continent view ( not to location).

**Steps to reproduce the problem**

1. Choose OpenStreetMap in settings as a source of maps.
2. Open All widgets form.
3.  Go to Geoshape/Geotrace widget.
4. Cli

[2022-07-13 12:23] dbemke opened #5185 "Zoom button to added points in map-internal-select form used with Google maps doesn’t show the whole point marker"
**Software and hardware versions**

Collect v2022.3 22-g2b824ba182
Android 5.1, 10, 11, 12

**Problem description**

After clicking button zoom to all points in map-internal-select form used with Google maps, points are shown exactly at the edge of map so the user is able to see just a small part of those points.

**Steps to reproduce the problem**

1. Select Google maps as a source of maps
2. Ope

[2022-07-13 13:24] srujner opened #5186 "In Google Maps/OSM after saving a few points with manual location recording in GeoShape widget and returning to View, the number of points is reduced."
**Software and hardware versions**
All Android devices

**Problem description**

https://user-images.githubusercontent.com/85225519/178740246-0e4b22f6-2ee6-4542-aeec-88675acaecf5.mp4

**Steps to reproduce:**

- Go to Project Settings -> Maps and Select OSM/Google Maps as Source;
- Download all Widgets form;
- Open GeoShape widget;
- Select Manual location recording and click start;
- Record 4 poin

[2022-07-14 09:41] #4943 closed, assigned to seadowg

[2022-07-14 09:41] #5171 closed, assigned to grzesiek2010

[2022-07-14 09:41] #5172 closed, assigned to grzesiek2010

[2022-07-14 18:03] grzesiek2010 commented on #3514
This issue does not occur anymore so I'm closing.

[2022-07-14 18:03] #3514 closed, assigned to grzesiek2010

[2022-07-14 18:04] lognaturel commented on #3514
Hurray!

[2022-07-14 18:07] grzesiek2010 commented on #3883
This issue does not occur anymore so I'm closing.

[2022-07-14 18:07] #3883 closed, assigned to grzesiek2010

[2022-07-14 18:14] grzesiek2010 commented on #4515
This issue does not occur anymore so I'm closing.

[2022-07-14 18:14] #4515 closed, assigned to grzesiek2010

[2022-07-14 18:33] grzesiek2010 commented on #2696
This issue does not occur anymore so I'm closing.

[2022-07-14 18:33] #2696 closed, assigned to grzesiek2010

[2022-07-15 16:11] #3039 closed, assigned to seadowg

[2022-07-15 18:58] #5136 closed, assigned to seadowg

[2022-07-19 11:34] dbemke opened #5191 "Setting auto send to cellular only sends submissions without SIM card in phone while wifi is on"
**Software and hardware versions**

Collect v2022.3, Android probably all

**Problem description**

User is able to send submissions to Central when in settings there is auto send with cellular only although there is no SIM card in the phone. It happens when wifi is turned on in the phone.

**Steps to reproduce the problem**

1. Take out SIM card
2. Go to Settings→ Form management → Auto send
3. C

[2022-07-19 13:40] grzesiek2010 opened #5192 "androidx.startup.StartupException when initializing mapbox"
#### Software and hardware versions
Collect v2022.3-beta.2

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/eb9b8a0d7568854e2e09bc2b598fd781?time=last-seven-days&versions=v2022.3-beta.2%20(4459)&types=crash&sessionEventKey=62D23A36029200011E17896C87C1C642_1699263640304150428

[code]

[2022-07-19 13:55] dbemke opened #5193 "Saved sound in audio widget included in one page with many other widgets causes an error when trying to edit the form."
**Software and hardware versions**

Collect v2022.3, Android probably all

**Problem description**

Saved sound in audio widget included in one page with many other widgets causes an error when trying to edit saved or finalized form.
![recordsounderror2](https://user-images.githubusercontent.com/56479916/179767188-6da5c1d6-eac7-4137-8ccb-059c465f3ae7.jpg)

**Steps to reproduce the problem**

1. Go

[2022-07-19 14:12] grzesiek2010 commented on #5192
I was able to reproduce the issue on Firebase. Steps are:
1. Remove `RetryOnDeviceErrorRule` form `TestRuleChain` otherwise the root cause of the issue is not clear
2. Make sure you have secrets.properties file with valid keys when building apks for testing
3. Run tests on Firebase (I used Pixel 2, Virtual, API Level 29)

I also added logs to check what abis were supported. It turned out that the

[2022-07-20 10:22] seadowg commented on #5145
We're still seeing the related crashes in production (both in the current release and the beta release), so I'm reopening this.

We discussed looking at adding a global "catch all" error dialogue on crashes to counter this and #4108.

[2022-07-20 10:51] seadowg opened #5195 "Allow sorting blank forms by last saved"
As discussed [on the forum](https://forum.getodk.org/t/possibility-to-order-the-form-list-following-the-number-of-submission-most-used-on-top-in-collect/36524/6)

## Acceptance

- [ ] Given I have more than one blank form
And have recently filled one of them out (but not the others)
When I go to Fill Blank Form
And change sort order to "Last saved first"
Then the form I recently filled out moves t

[2022-07-20 11:05] seadowg opened #5196 "Investigate and fix selfie widget crashes"
The selfie widget causes some of Collect's most "popular" crashes: https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues?time=last-seven-days&types=crash&state=open&tag=all&issuesQuery=Camera2Fragment.

Related issues:
* https://github.com/getodk/collect/issues/5265
* https://github.com/getodk/collect/issues/5306

We should

[2022-07-20 13:35] seadowg commented on #5186
@srujner this is present in v2022.2.3 as  well as current master right?

[2022-07-20 14:46] srujner commented on #5186
@seadowg Yes, I just checked it.

[2022-07-20 15:38] lognaturel commented on #5195
Just realized we also need to break ties which will be particularly common when no submissions have been filled in. How about based on last **form definition** update time? I think the other sensible option is alphabetically. I don't have strong feelings either way, let's just make sure to document which it is.

[2022-07-20 18:28] seadowg commented on #5195
I was imagining that it would be a stable sort so that items equal items stay in their original order (as that's what Java/Kotlin's sorting algorithm will give us) and that we wouldn't have "fallback" ordering. However, I don't feel like it matters if it's stable or unstable from reading the forum discussion?

[2022-07-20 18:31] lognaturel commented on #5195
I imagine that would be by db id and so probably equivalent to form def update time. I think the most important thing is that it's explainable. Some users may have forms that don't have submissions for a while and so knowing how they're going to be ordered is helpful, I think. Maybe we don't worry about that for now and either document what we get by default or consider changing it if we find it d

[2022-07-20 18:38] seadowg commented on #5195
Agreed. I was thinking we'd only need to document that the forms will be sorted by their last saved instance time and not mention what happens with forms that have equivalent or no last saved time. My assumption would be that equivalent last saves are pretty much impossible (you can't save two forms at once) and that forms with no last saved time would quickly gain one or not be very important?

[2022-07-20 18:39] lognaturel commented on #5195
OK, maybe you're right. I've been talking to folks with a LOT of forms recently so that has certainly affected my outlook. Let's start there, anyway, and we can see whether that's sufficient!

[2022-07-21 08:51] srujner opened #5198 "The settings contained in the form do not have higher priority than the settings from the app."
**Software and hardware versions**

Android 10 and 11

**Problem description**

The application settings are more important than the form settings.

**Steps to reproduce the problem**

1. Download attached forms or scan QR code;
2. Go to the Project Settings and set: Auto Send - Off; Delete after send - Off;
3. Open and send form "Auto-Submit_True_Auto-Delete_True";
4. Form should be auto sent and

[2022-07-21 12:45] seadowg commented on #5185
I'm not able to reproduce this:

![signal-2022-07-21-134338](https://user-images.githubusercontent.com/556280/180216338-6eeb1dde-1eb4-4946-b0e4-f496966d43cb.png)

Is it only on a specific device you're seeing it?

[2022-07-21 12:48] seadowg commented on #5184
Not able to reproduce this. It also zooms to the recorded points for me. Do the points have to be far from current location or something?

[2022-07-21 12:55] seadowg commented on #5174
@lognaturel the problem here is specific points being beyond the poles right? I thought we already had an issue for that, but I can't find it?

[2022-07-21 12:58] seadowg commented on #5177
@dbemke is this present in v2022.2.3 and v2022.3 Beta 2? I think we should start specifying the exact versions tested in "Software and hardware versions" as otherwise we need to work out what the "current" version was when the issue was posted.

[2022-07-21 13:01] seadowg commented on #5173
@dbemke is this a regression? Sounds like it doesn't appear in older (than v2022.3.x) versions.

[2022-07-21 14:28] lognaturel commented on #5174
Yes, it’s described at https://github.com/osmdroid/osmdroid/issues/1339#issuecomment-491519929 and we mentioned it at https://github.com/getodk/collect/issues/5075, https://github.com/getodk/collect/pull/5073#issuecomment-1080952039, https://github.com/getodk/collect/pull/5098#issuecomment-1097946404

Best might be to stop using that form.

[2022-07-21 14:28] #5174 closed, assigned to nobody

[2022-07-21 14:52] dbemke commented on #5177
@seadowg I've just checked on Adnroid 11 v2022.3 Beta 2 -crash.  v2022.2.3 no crash;
on Android 8.1 v2022.3 Beta 2 crash,   v 2022.2.3 crash

[2022-07-21 14:58] seadowg commented on #5177
@dbemke great thanks. Looks like this needs to be marked as a regression then as the crash doesn't occur in the last major release.

[2022-07-21 15:10] dbemke commented on #5184
@seadowg I recorded a video to show the zoom( video with fake gps but work the same without it) . I was thinking that after going back to map it should zoom in.

https://user-images.githubusercontent.com/56479916/180249122-f4000d21-0e9d-4fd7-833b-ea9a5c5a6eca.mp4

[2022-07-21 21:42] lognaturel commented on #5185
I've seen this on one of my devices as well. I figured it was some edge case and I'm not too worried about it.

[2022-07-21 22:17] lognaturel opened #5200 "Capture analytics for form instance edits"
Currently, form instances can always be edited whether they are finalized or not. This makes the meaning of finalization unclear and confusing. We are considering moving towards a model where finalized forms are immutable. It would be helpful to have a sense of how common edits are and what fraction of those edits happen on finalized forms.

[2022-07-22 03:05] lognaturel commented on #5168
This also feels like a good candidate for squeezing into this release or including in the point release. It’s been released but not for that long.

[2022-07-22 03:56] lognaturel commented on #5087
We’ll wait until users share a usecase.

[2022-07-22 03:56] #5087 closed, assigned to nobody

[2022-07-22 07:04] dbemke commented on #5173
@seadowg I’ve checked and Android 11 and 8.1 stops adding points after rotating in Collect v2022.3 beta2; in Collect 2022.2.3 works well

[2022-07-22 09:01] dbemke opened #5201 "Forms in „Fill Blank Form” sorted by name, A-Z shown in incorrect order"
**Software and hardware versions**

Collect v2022.3 Beta 2, Android probably all

**Problem description**

List of forms in „Fill Blank Form” sorted by „name, A-Z” is shown in an incorrect order. First, there are forms starting with numbers and capital letters (sorted alphabetically), after that forms starting with lower case letters (sorted alphabetically).
The list of forms is organized in the s

[2022-07-22 09:25] dbemke opened #5202 "Rotating the screen in „Delete Saved Form” causes a crash of the application"
**Software and hardware versions**

Collect v2022.3 Beta 2, Android probably all

**Problem description**

Rotating the screen in „Delete Saved Form” causes a crash of the application.

`2022-07-22 11:11:42.681 17945-17945/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.odk.collect.android, PID: 17945
    java.lang.ClassCastException: com.google.android.material.appbar.MaterialToolbar c

[2022-07-22 09:30] seadowg commented on #5184
@dbemke does this happen on multiple devices?

[2022-07-22 09:39] seadowg opened #5203 "Map "zoom to current location" should not zoom out"
## Acceptance

- [ ] Given I'm on a map view
And I've zoomed in from the default level
When I tap the "zoom to current location" button (crosshair icon)
Then I am moved to my current location
And the zoom level doesn't change

- [ ] Given I'm on a map view
And I've zoomed out from the default level
When I tap the "zoom to current location" button (crosshair icon)
Then I am moved to my current loca

[2022-07-22 09:40] seadowg commented on #5203
I need to define "default level" in the description, but will come back to this after we've dealt with regressions for the v2022.3 release.  @lognaturel feel free to edit this if you have thoughts.

[2022-07-22 10:26] dbemke commented on #5184
@seadowg Now I've checked again Android 11, 8.1 Collect v 2022.3 Beta 2  and on Android 11 Collect v2022.2.3 and in all cases result is like the one this video.

[2022-07-22 10:27] seadowg commented on #5177
@dbemke I can't seem to reproduce this. Could you post the stack trace you're seeing when it crashes?

[2022-07-22 11:07] dbemke commented on #5177
@seadowg  Maybe I shouldn't have called this a crash because there is a dialogue with that?
![osmgeojson2](https://user-images.githubusercontent.com/56479916/180426757-f2e16445-4f2f-4cf1-b51a-f6cf9a23a251.jpg)
`022-07-22 12:45:02.311 951-26266/? E/ActivityManager: ANR in org.odk.collect.android (org.odk.collect.android/.activities.FormEntryActivity)
    PID: 19795
    Reason: Input dispatching tim

[2022-07-22 11:09] seadowg commented on #5177
@dbemke No you're still correct! That's just Android itself telling you there's been a crash.

[2022-07-22 11:12] seadowg commented on #5177
@dbemke are you able to reproduce this every time and consistently on different devices? It looks like a performance related crash to me - `ANR in org.odk.collect.android` (https://developer.android.com/topic/performance/vitals/anr).

[2022-07-22 11:29] dbemke commented on #5177
@seadowg  (Collect v2022.3  Beta2) Andorid 11: 5 tries- 5 crashed, Android 8.1: 4 tries - 2 crashed

[2022-07-22 12:14] seadowg commented on #5177
@dbemke looks like I can reproduce on Android 11 every time (like you're seeing)

[2022-07-22 12:57] grzesiek2010 commented on #5198
@srujner those are old forms and they use outdated attribute names. Instead of `auto-submit` it should be `auto-send`. We changed it in https://github.com/getodk/collect/pull/1953. Please verify that after updating that attribute name in the form everything is fine. If so just close the issue.

[2022-07-22 13:17] srujner commented on #5198
@grzesiek2010 You were right, I updated the forms with auto-send attribute and everything works fine. I've already changed the test steps so there won't be any misunderstandings in the future.

[2022-07-22 13:18] #5198 closed, assigned to grzesiek2010

[2022-07-23 12:29] seadowg commented on #5177
I can't find an exact reason for this, but my theory is that adding markers one by one has finally caught up with us here and actually overloads something. I'll investigate adding markers all at once, like we've talked about before (#5087).

[2022-07-24 14:21] seadowg commented on #5173
This seems to be due to the fact that location updates sometimes do not start after rotating the device. The root cause of this is that `BaseLocationClient#setListener` stores the passed listener (that will get `onClientStart` calls that kick off location updates) as a `WeakReference` and [`LocationTrackerService` passes an anonymous Kotlin object to it](https://github.com/getodk/collect/blob/a33a

[2022-07-24 15:17] seadowg opened #5208 "Stop using `WeakReference` in `BaseLocationClient`"
When using the [Observer pattern](https://en.wikipedia.org/wiki/Observer_pattern), storing observers (or listeners) using Java's `WeakReference` removes any guarantees that the observer is notified (a listener is called) but does introduce the advantage of not having to explicitly unregister an observation. In a lot of cases, the hidden detail of the former is actually completely undesired, even i

[2022-07-25 10:40] #5201 closed, assigned to grzesiek2010

[2022-07-25 10:50] #5192 closed, assigned to grzesiek2010

[2022-07-25 12:28] #5202 closed, assigned to grzesiek2010

[2022-07-25 13:00] grzesiek2010 commented on #5191
Yes the regression was introduced in v2022.2.0 so it's not a new thing. I could fix it but we also wanted to refactor that code https://github.com/getodk/collect/pull/5047
@seadowg what do you think? Since it's not new in v2022.3 and it's not something serious we can keep it and fix later along with the refactoring?

[2022-07-25 13:00] #5193 closed, assigned to grzesiek2010

[2022-07-25 13:54] seadowg commented on #5191
Ah so it's one of the "regressions" that escaped our regression pass for 2022.2 yeah? If so, agreed we can leave it for this release and prioritize for the next one.

[2022-07-25 17:24] lognaturel commented on #5208
Agreed in principle about avoiding `WeakReference`. I believe the original source of that one was https://docs.mapbox.com/android/core/guides/#requesting-location-updates Now the code has changed quite a bit so hopefully there is a straightforward path to explicitly unregister (I haven't looked).

https://github.com/getodk/collect/blob/249f2b1e228001125dbac65521f344f9ea6ba888/location/src/main/jav

[2022-07-25 17:37] lognaturel commented on #5191
It's not clear to me what the value of "Cellular only" is from a user/business standpoint. It makes perfect sense to me to want to limit to WiFi only. But I can't think of a case where Cellular only would make sense. My guess is that it's not very common and we could verify that with analytics if we want to think about removing the option instead of fixing it.

[2022-07-25 17:40] lognaturel commented on #5200
@grzesiek2010 @seadowg If there's time and it's not too invasive this would be good to add for the upcoming release (or a point release)

[2022-07-25 23:10] lognaturel opened #5209 "APK size has gone from 13MB to 16MB"
Last release was [v2022.2.3](https://github.com/getodk/collect/releases/tag/v2022.2.3) at 12.9MB
[2022.3 beta 0](https://github.com/getodk/collect/releases/tag/v2022.3-beta.0) was 13.0MB
[2022.3 beta 2](https://github.com/getodk/collect/releases/tag/v2022.3-beta.2) is 16.2MB

The increase seems clearly related to Mapbox 10.

- [x] Is there an extra native library being included that we could exclu

[2022-07-26 10:19] grzesiek2010 commented on #5209
It is because of mapbox indeed and it looks like there is nothing we can do. New mapbox libs are just bigger:

mapbox v9:
![m2](https://user-images.githubusercontent.com/3276264/180983088-116a7a77-59ff-4ede-878a-4aa794fb335f.png)

mapbox v10:
![m1](https://user-images.githubusercontent.com/3276264/180983095-fb3d8225-069b-42b7-9f90-edd3407ee436.png)

and there is nothing we could exclude.

[2022-07-26 12:31] #5177 closed, assigned to seadowg

[2022-07-26 12:38] seadowg commented on #5191
Great point. Let's come back to this when we're thinking of addressing the issue.

[2022-07-26 13:51] lognaturel commented on #5209
Too bad! It’s probably for supporting things like the new 3d views.

[2022-07-26 13:51] #5209 closed, assigned to nobody

[2022-07-26 14:05] grzesiek2010 opened #5210 "IllegalArgumentException: north must be in [-85.05112877980658,85.05112877980658]"
#### Software and hardware versions
Collect v2022.3-beta.2

#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/a9dce6fd287162c902ab64bff0b7404a?time=last-thirty-days&versions=v2022.3-beta.2%20(4459)&types=crash&sessionEventKey=62DFD409011F000160D46D585EED42EA_1703092268465180737

[code]

[2022-07-26 14:10] seadowg commented on #5210
This is a duplicate of https://github.com/getodk/collect/issues/5174. It has mostly only come up because we created a test form that creates the crash. I think we should probably discuss whether we want to work around this in some way, but it isn't worth looking into right now @grzesiek2010.

[2022-07-26 15:10] lognaturel commented on #5210
Upgrading osmdroid should fix this: https://github.com/osmdroid/osmdroid/pull/1807

[2022-07-26 15:43] srujner opened #5211 "User is moved to the Selected Point location from their location after rotating the screen"
**Software and hardware versions**
All Android devices

**Problem description**

https://user-images.githubusercontent.com/85225519/181047482-671b1e81-d8a6-4db8-962d-fae7785ad7bf.mp4

**Steps to reproduce:**

1. Go to Project Settings -> Maps and Select any map as Source;
2. Open form with select map e.g. [map-internal-select-advanced.xlsx](https://github.com/getodk/collect/files/9191160/map-inter

[2022-07-27 13:01] dbemke opened #5217 "Saving point for the second time in Geopoint widget with maps/ placement-map changes altitude and accuracy to zero when used with Mapbox"
**Software and hardware versions**

Collect v2022.3 master f2ca, Android all

**Problem description**

Saving point for the second time in Geopoint widget with maps/ placement-map changes altitude and accuracy to zero when used with Mapbox.

https://user-images.githubusercontent.com/56479916/181252998-630c4626-9f3f-4feb-b964-b9a8e0fee49a.mp4

Steps to reproduce the problem

1. Choose Mapbox as a s

[2022-07-27 13:49] #5173 closed, assigned to seadowg

[2022-07-28 09:15] dbemke commented on #5168
@seadowg  I think I’ve just found a mistake that I made. I’ve checked that again and (OSM) placement by tapping works well on Android 11 and 8.1 in Collect v2022.2.3. In the video there is Collect v2022.3 beta 0 so this might be regression?

[2022-07-28 09:37] seadowg commented on #5168
@dbemke yeah if this worked in v2022.2.3 (the last released version) it should be a regression. Could you update the description with that new info and add the "regression" label to this issue please?

[2022-07-28 12:31] #5217 closed, assigned to seadowg

[2022-07-28 13:45] dbemke opened #5224 "Deleting added points is Geoshape/ Geotrace used with OSM doesn’t remove lines connecting points"
**Software and hardware versions**

Collect v2022.3 beta 2, Android probably all

**Problem description**

In Geoshape and Geotrace widget used with OpenStreetMap after deleting already added points by manual lodation recording, placement by tapping or automatic location recording points disappear, the number of points is reduced to zero but the line connecting the points is not removed.
If the us

[2022-07-29 08:27] grzesiek2010 commented on #2149
Let's maybe decide whether we want to change anything here or just close the issue. Do you have any preferences @seadowg @lognaturel?

[2022-07-29 09:50] #5168 closed, assigned to seadowg

[2022-07-29 09:51] seadowg commented on #5224
Whooops. Closed by mistake.

[2022-07-29 11:03] grzesiek2010 commented on #5210
That pr was merged on May 25 but the last release is from May 14 so we need to wait because it''s not included.

[2022-07-29 12:30] seadowg commented on #2149
Happy to close. We truncate in other places (like on the app bar), so I think there's precedent for it, and making the title scrollable is non-trivial (as far as I understand).

[2022-07-29 13:35] dbemke opened #5226 "Placement by tapping in Geotrace and Geoshape widget used with Google maps doesn’t add points correctly between two exsting points"
**Software and hardware versions**

Collect v2021.2.0
Android probably all

**Problem description**

When users chooses Google maps and goes to Geotrace widget ,uses placement by tapping and creates a trace with at least 3 points creating V-shape, and tries to add points between the last and the first point already added (if they are close and not connected), new points on the map are not created

[2022-07-29 16:16] #5224 closed, assigned to grzesiek2010

[2022-07-29 17:09] #2149 closed, assigned to grzesiek2010

[2022-07-29 17:26] #5200 closed, assigned to grzesiek2010

[2022-08-01 08:55] grzesiek2010 commented on #799
I'm going to close it since a lot has changed since that issue was created.

[2022-08-01 08:55] #799 closed, assigned to nobody

[2022-08-01 16:42] grzesiek2010 commented on #4940
I still kind of like Hilt even with the drawback you described. However my feelings are not strong enough to force switching to that tool. We can keep this issue or close and get back to it in the future.

I'm only thinking about the issue we have with injecting objects into `AudioRecorderFactory` https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.

[2022-08-01 18:28] grzesiek2010 opened #5228 "Reference layer is cleared when maps provider is changed"
#### Software and hardware versions
Collect all new versions but I'm pretty sure in the past it kept the selected reference layer

#### Problem description

#### Steps to reproduce the problem
1. Go to `Settings` -> `Maps` and select `Reference layer`
2. Change source or just select again the same provider

#### Expected behavior
The selected reference layer should not be cleared

[2022-08-01 19:04] seadowg commented on #4940
We could look at using the [`ObjectProvider`](https://github.com/getodk/collect/blob/master/shared/src/main/java/org/odk/collect/shared/injection/ObjectProvider.kt) system we introduced for Mapbox? I feel less happy with having Hilt and Dagger in the app given the lines are a little blurred between them. On the other hand, maybe that's a good argument for having Hilt in some places, and Dagger in

[2022-08-01 19:33] seadowg opened #5229 "Show loading state when calculating select choices"
Like for form saves (#5162), we want to show a loading state in form entry while select choices are loading/calculated. We should show the same loading state as form saves (which uses the `TransparentProgressScreen` in the `form_entry.xml` layout) and should be shown while the choices are loaded.

This loading state should be visible for any kind of widget that needs to load choices. This means an

[2022-08-01 19:57] seadowg opened #5230 "Debug builds have log of form added and removed via disk sync"
Each log line should have the format:

[code]

An example for removing a form that was deleted on disk from the demo project would be:

[code]

The log should be saved to disk in ODK's root (user visible) directory as `debug.csv`.

[2022-08-01 20:03] seadowg opened #5231 "Finalizing a form that creates an entity should add to the debug log"
Forms that create entities have an in progress spec [here](https://docs.google.com/document/d/1-O_wT0JZZFaWvzHl_krrzERJcnrdGMKP55ZZ_hxV0gU/edit#).

Each log line should contain the following info: project id, form id, instance id, entity type, entity id, entity attributes. This lets us verify that Collect can parse entity forms.

## Notes

It might be a good idea to wrap the logging behind a repos

[2022-08-02 08:57] seadowg opened #5232 "Make it clearer when "Ignore changes" will delete instance"
~~Blocked by #5391~~

Collect automatically creates "save points" for form that are automatically reloaded when filling a new instance of a form in. These save points get cleared once the form is saved by the user (through the save and exit button, the top right save button or the back button save). This can create confusing scenarios where it's unclear what "Ignore Changes" (the other option when

[2022-08-02 13:11] dbemke opened #5233 "Opposite themes in Collect and device when drawing in landscape view and ignoring changes cause wrong colours of dialogues and other parts of Collect"
**Software and hardware versions**

Collect v2022.2.3
Android 10, 11, 12

**Problem description**

When there are opposite themes chosen in Collect application and on a device (e.g phone- light mode, Collect- dark mode), sketching an image in Draw widget and ignoring changes applies wrong theme in „Exit Sketch Image” dialogue and later on in information about following questions and other parts of

[2022-08-02 15:34] seadowg commented on #5230
@lognaturel this is actually feeling a little contrived to me. Maybe we just start with https://github.com/getodk/collect/issues/5231?

[2022-08-02 15:54] lognaturel commented on #5230
Yes, agreed! I think the log is a good idea but it's not the primary focus, getting some feedback on entity creation is. So I think we can do #5231 pretty ad-hoc (maybe using `Timber.i` initially) and then decide whether we want to structure it and have a log.

[2022-08-02 16:07] #5230 closed, assigned to nobody

[2022-08-03 08:53] grzesiek2010 opened #5234 "IllegalStateException: Slider value(2.0) must be greater or equal to valueFrom(15.0), and lower or equal to valueTo(45.0)"
#### Problem description
https://console.firebase.google.com/u/1/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/2d03a4f4e7ea859107ad4726c6007309?time=last-seven-days&versions=v2022.3.0%20(4477)&types=crash&sessionEventKey=62E92B9C029900017320226734DBC038_1705722385288083823

[code]

#### Other information
In firebase it's marked as fresh issue in v2022.3 bu

[2022-08-03 11:05] grzesiek2010 commented on #5186
This only happens in geoshape if the first and last points are the same (the video shows that all points are in the same location).
In geoshape we usually add an extra point (the first one) to close polygon. However if the last point already equals the first one we don't do that: https://github.com/getodk/collect/blob/master/geo/src/main/java/org/odk/collect/geo/GeoUtils.java#L24
then when we open