[2018-09-12 19:05] #2196 closed, assigned to nobody

[2018-09-12 23:59] lognaturel opened #2528 "Enable MissingPermission lint check"
According to http://tools.android.com/tips/lint-checks:

[code]

https://github.com/opendatakit/collect/pull/2506/files#r213148258 suppressed that check when the target SDK version went up to 23.

The check should be re-enabled. If it's flagging real issues, those need to be addressed. If it's flagging false alarms, the check should be suppressed locally with the [`SuppressLint`](https://developer

[2018-09-13 00:13] lognaturel commented on #2527
You should not generally expect to get a location indoors. It may be possible sometimes if the device reports a recently-acquired location or does recognize Wifi access points but those are not guaranteed.

That said there was also a change that could potentially have resulted in a behavior change. As of Feb 15, the Android fused location provider stopped reporting accuracies better than 10m: http

[2018-09-13 10:20] huangyz0918 opened #2529 "The command of gradle build is too long."
#### Software and hardware versions
Gradle v3.1.2 for the project.

#### Problem description
The command `./gradlew pmd checkstyle lintDebug spotbugsDebug testDebugUnitTest connectedDebugAndroidTest` is too long, maybe we should simplify it with something like `./gradlew checkAll`.

#### Other information
@opendatakit-bot claim

[2018-09-13 16:16] ghost opened #2531 "Showing error Plugin[id:'com.github.spotbugs',version '1.6.2'] was not found in any of the following sources"
#### Software and hardware versions
Collect v1.x.x, Android v3.0.1., device used... Windows 64-bit

#### Steps to reproduce the problem
Whenever I try to build the app it show me this error

#### Expected behavior

Error:(19, 0) Plugin [id: 'com.github.spotbugs', version: '1.6.2'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plug

[2018-09-13 16:18] ghost commented on #2531
Any help will thankful !!!!!

[2018-09-13 16:20] #2454 closed, assigned to nobody

[2018-09-14 07:23] AOS002 commented on #2515
@opendatakit-bot claim

[2018-09-14 08:22] #2529 closed, assigned to nobody

[2018-09-14 14:06] mmarciniak90 commented on #2526
Tested API 23 features:
https://www.android.com/versions/marshmallow-6-0/features/

* Advanced controls to turn permissions on or off for installed apps
<img height="40%" width="40%" src="https://user-images.githubusercontent.com/3907554/45554476-d5d43880-b836-11e8-89d1-000c44230176.png">

* Block Notification
* Treat as priority notifications from ODK Collect
* Battery optimisation
* Auto backup

[2018-09-14 15:54] #2462 closed, assigned to nobody

[2018-09-14 16:00] lognaturel commented on #2494
Select one widgets are now VERY fast thanks to @grzesiek2010 in #2513. 🎉

I'm going to keep this issue open so we can fully close it when multi select widgets are similarly sped up. There are also some small bugs left to address that @mmarciniak90 described [here](https://github.com/opendatakit/collect/pull/2513#issuecomment-421320889).

[2018-09-14 17:56] yatri1609 commented on #2502
@opendatakit-bot unclaim

[2018-09-14 18:44] lognaturel commented on #644
#2506 adds the last permissions and bumps the target API to 23.

[2018-09-14 18:44] #644 closed, assigned to nobody

[2018-09-14 19:06] lognaturel commented on #2526
One that I believe will break in API 23 is [adoptable storage](https://www.androidcentral.com/adoptable-storage). More about the dev details [here](https://developer.android.com/about/versions/marshmallow/android-6.0#adoptable-storage). I don't think it's a huge deal but might be good to check (if someone has a device that this can even be done with) and file an issue. Low priority because it does

[2018-09-15 16:02] thanhgis opened #2536 "Installation of .xml form into ..\assets\forms\ before building APK not working"
#### Software and hardware versions
Android Studio 3.1, Collect v1.6.4 source code from this GitHub.

#### Problem description
Copied *.xml form and its media (*-media folder) into ..\assets\forms\ is not working
#### Steps to reproduce the problem
1. In Android Studio:
- Create a new directory named "forms" inside "assets" directory;
- Copy form_name.xml (procuded by using ODK XLSForm Offline v1.

[2018-09-16 18:17] shobhitagarwal1612 opened #2537 "Reduce loading time for each widget by not creating it twice in certain cases"
#### Software and hardware versions
Collect v1.17.0

#### Problem description
Every time we return from the `FormHierarchy` menu, the selected widget is generated twice instead of just once.

The problem was noticed while working on https://github.com/opendatakit/collect/pull/2535/ as it was causing a lot of trouble in refactoring the code. Until now, the wait-mechanism was being used to reach to

[2018-09-17 02:31] florianm commented on #2527
Hi @lognaturel, here's a quick wrap-up from our field testing.

Thanks for the info re fused location provider - indeed this seems to have had a nengative impact. I remember getting a "location via network" back in the days when testing from the indoors. Unfortunately those fateful, make-or-break demos to top brass tend to be indoors with limited or no GPS signal.

Turning off location provider in

[2018-09-17 02:31] #2527 closed, assigned to nobody

[2018-09-17 04:34] AOS002 commented on #2515
Hi! @lognaturel
This is my first time contributing so I may need some help! I went through the code and I think I have some understanding of it now, please correct me if I am wrong. `InstanceUploaderList.showSentAndUnsentChoices` is the function that toggles the filter settings for the send finalized view and we want to log the show all `case`. I was thinking that I could either plug the analytics

[2018-09-17 18:27] lognaturel commented on #2527
The long time to get a fix after being out of satellite view is expected. I think some chipsets do somewhat better with a cold start than others but in general connecting to enough satellites after none were in sight does take a while.

You should have control over which providers you turn on and off. Unfortunately it's not consistent between Android versions but for me I go to Settings > Privacy

[2018-09-17 18:37] lognaturel commented on #2536
Can you please point to documentation or other references that made you think this was a supported feature?

[2018-09-17 18:39] lognaturel commented on #2531
This doesn't seem to be a problem with ODK Collect so I'm going to close the issue.

If you still have the problem, please ask in the #collect-code channel of [the developer Slack](http://slack.opendatakit.org/) and be sure to state how you are attempting to build the app and what you have tried to overcome the problem.

[2018-09-17 18:39] #2531 closed, assigned to nobody

[2018-09-17 21:59] xsteelej opened #2541 "Collect repeatedly asks for a username and password if a port number is included in the server URL"
#### Software and hardware versions
Collect v1.16.3, Android v8.0.0, Google Pixel 2 XL

#### Problem description
When a port number is appended onto the server URL and the user: _anonymousUser_ has the option "Data Collector" switched off, Collect repeatedly asks for a username and password when "Get Blank Form" is selected.

#### Steps to reproduce the problem

**Config on Aggregate server:**
1.

[2018-09-17 22:02] lognaturel commented on #2541
Strangely, I still can't reproduce! I've cleared the settings on my device, removed it from memory, verified I'm running off the latest master, verified the server doesn't have anonymous access, changed the server password.

You're running Aggregate in the VM? Is there any kind of redirect going on?

What if you try https://nafundi-test.appspot.com with username test and password foo?

[2018-09-17 22:06] xsteelej commented on #2541
I'll try that yes

[2018-09-17 22:12] xsteelej commented on #2541
Hi @lognaturel ,

I tested it with that server and yes it works! Let me step through the code and figure out why - but yes it's when I'm running a VM, but I don't think a redirect is occurring.. I'll investigate and let you know shortly.

Thanks

[2018-09-17 22:24] xsteelej commented on #2541
Ok @lognaturel, now I know what the issue is - when the URL has a port attached to the host then the problem occurs.

[2018-09-17 22:27] lognaturel commented on #2541
Ahhh, perfect, thank you! That is a subtle case.

[2018-09-17 22:35] xsteelej commented on #2541
If you append :443 onto the back end of https://nafundi-test.appspot.com then the issue is repeatable.

[2018-09-17 23:33] lognaturel commented on #2164
Agreed with @yanokwa that it's often possible to restructure the input so that it "cascades" between several smaller selections (country to state to city to neighborhood, for example).

That said, sometimes there is a reason to show all options at once. I'm guessing that this is undesirable because it takes a while to load the options. As of Collect v1.17, loading options will be near instant. @rn

[2018-09-17 23:33] #2164 closed, assigned to nobody

[2018-09-17 23:36] lognaturel commented on #2154
@s13g3lb4um I will close this for now. If you'd like to submit a pull request that explains your change, please do! In the mean time, the current code works for both Ona and Aggregate users so it's not clear what the problem is. If you do isolate the bug, you could also file an issue that explains why you are getting a failure in your case.

[2018-09-17 23:36] #2154 closed, assigned to nobody

[2018-09-17 23:39] lognaturel commented on #1667
This was discussed by the Technical Steering Committee and there were concerns about server load. If someone wants to take this up the next step would be to write up a proposed specification.

[2018-09-18 00:44] lognaturel commented on #2446
Now that the beta is out, I can confirm that we're getting performance information. Thanks again, @DreamyPhobic! No problems reported so far with Play Services. Currently the median app load time is 543ms and varies pretty dramatically based on API level (not surprising).

[2018-09-18 03:34] florianm commented on #2527
Ah, found it. On Android 6 it's called "location accuracy" - "high accuracy" includes WiFi. The devices in question were all set to that, and within WiFi but out of GPS didn't seem to get a location.

[2018-09-18 03:35] lognaturel opened #2542 "Firebase Performance class definition not found"
#### Software and hardware versions
Collect v1.17.0-beta.0, multiple Android versions and devices

#### Problem description
`NoClassDefFoundError` on `com.google.android.gms.internal.firebase-perf.zzw` for either the main menu ([Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b9ea423f8b88c29631db51d?time=

[2018-09-18 03:35] lognaturel commented on #2446
Whoops, I spoke too soon! I'm now seeing crashes in Crashlytics that have me concerned -- https://github.com/opendatakit/collect/issues/2542

[2018-09-18 03:53] lognaturel commented on #2527
I believe you'll have to turn off the GPS for WiFi to be used.

[2018-09-18 03:58] florianm commented on #2527
That again will open the location system settings when using the ODK Collect GeoPoint widget.
Unless that behaviour is something ODK-C could change, I assume it comes from the underlying Android API as you indicated in your earlier answer.
Overall I'm happy with ODK-C working great outdoors, where all of our real world data collection happens.

[2018-09-18 04:01] lognaturel commented on #2527
Oh, how interesting and irritating! My Android version lets me selectively just turn off GPS and leave the WiFi provider on but I can believe that not all version do this.

👍 👍 Agreed that's the important part!

[2018-09-18 04:09] florianm opened #2543 "Feature request: toggle "save" symbol, localise "mark as finalized" text"
#### Problem description
A "save" symbol is prominently located in each form's title bar.
Some of our users confused this for a "save and send" button. This led to data being stuck on devices until rediscovered during training for the next season.

In the same vein, "mark as finalized" means far less to the occasional user (not fluent with ODK technical terms) than "ready to upload" (="mark as fin

[2018-09-18 13:37] #2515 closed, assigned to nobody

[2018-09-18 14:08] grzesiek2010 commented on #2542
yeah, it's definitely a firebase bug, I can't reproduce. Someone claims that making firebase-perf version lesser or equal to Firebase-core version fixes the issue (https://stackoverflow.com/a/51968102/5479029)
generally, we could try but it's only one person so I wouldn't believe in that (since I can't reproduce on my own). So maybe as you said we should remove performance monitoring for now.

[2018-09-18 22:14] lognaturel commented on #2515
Good question. Someone with access to the analytics account is needed to check that the actual logging happens. I just did that and can confirm that it works as intended. 👍

[2018-09-18 22:48] lognaturel commented on #1395
We've had two analytics events for this since May 22nd -- one May 29th and one July 19th. This certainly means no campaigns are using it. I don't think we need to do any kind of deprecation warning within the app like we're doing for the `current()` change.

I propose we let folks know with the 1.17.0 release something like "an undocumented database-based activity logger used for early usability r

[2018-09-19 03:00] #2516 closed, assigned to nobody

[2018-09-19 04:39] lognaturel commented on #2542
We don't include `firebase-crash` anymore since we use `crashlytics` so I don't think that particular issue and solution matches ours.

I've been able to remove Play Services on the Android 4.1.1 device I have. I saw a notification about a Play Services error but no crash. I'll be interested to see tomorrow whether a crash was logged because that would indicate it might not be fatal.

Since the ch

[2018-09-19 06:53] #2501 closed, assigned to nobody

[2018-09-19 06:53] #2502 closed, assigned to nobody

[2018-09-19 10:55] #2514 closed, assigned to nobody

[2018-09-19 10:59] grzesiek2010 commented on #2542
I'm not totally in favor of merging #2546 right away. We can wait.

But I would give it (https://github.com/opendatakit/collect/pull/2548) a try.

[2018-09-19 12:20] #2541 closed, assigned to nobody

[2018-09-19 18:55] #2494 closed, assigned to nobody

[2018-09-19 23:16] yanokwa opened #2550 "connectedDebugAndroidTest fails on API > 22"
#### Software and hardware versions
Collect v1.17.x

#### Problem description
`./gradlew connectedDebugAndroidTest` results in failed tests.

I've tried on an Nexus 5X API 26 emulator and a Moto G5 running Android 7

#### Expected behavior

#### Other information
[code]

[2018-09-19 23:55] lognaturel commented on #2550
I notice you're running them on API 26. CircleCI runs them on API 21. I just ran them on an API 22 physical device and they all passed.

@AOS002 You mentioned `BitmapScaledToDisplayTest > scaleDownBitmapWhenNeeded` was failing in Slack. Was that the only test failing for you? What API level were you running them with?

This almost certainly has to do with the change in target API version.

[2018-09-20 00:26] yanokwa commented on #2550
I played around with [GrantPermissionRules](https://developer.android.com/reference/android/support/test/rule/GrantPermissionRule) and I was able to get some of the tests running. Hopefully, that's a big hint for a new contributor to take this on.

[2018-09-20 00:34] lognaturel opened #2551 "Read only is ignored for rank"
#### Software and hardware versions
Collect v1.16.4

#### Problem description
It's not possible to make a rank question read only.

#### Steps to reproduce the problem
1. Create a form that has a read only rank question such as [read-only-bug.xml.txt](https://github.com/opendatakit/collect/files/2399140/read-only-bug.xml.txt)

1. See that the value can still be changed

#### Expected behavior
If a

[2018-09-20 00:50] lognaturel opened #2552 "Non-question object at form index when rank questions are in field-list"
#### Software and hardware versions
Collect v1.16.4

#### Problem description
Collect crashes when trying to rank items in a field list:

[code]

#### Steps to reproduce the problem
1. Launch a form with rank questions in a field list such as [rank-field-list.xml.txt](https://github.com/opendatakit/collect/files/2399161/rank-field-list.xml.txt)
1. Start ranking and see a crash

#### Expected behav

[2018-09-20 03:53] lognaturel opened #2554 "No animation on swipe between select questions when lists are long"
#### Software and hardware versions
Collect v1.17.0-beta.1, Android 7.0, Motorola G4

#### Problem description
When two select questions with the same choices are one after the other, swiping from one to the other does not result in an animation.

#### Steps to reproduce the problem
1. Launch a form with select questions that have many choices such as [select-screen-transitions.xml.txt](https://gi

[2018-09-20 05:05] AOS002 commented on #2550
@lognaturel  I ran it on a Moto E4 Plus running Android 7.1(API 25). Initially it was failing only one test but, now I tried it again and it gives the same results as @yanokwa .  I'll take this issue!

[2018-09-20 05:06] AOS002 commented on #2550
@opendatakit-bot claim

[2018-09-20 06:06] AOS002 commented on #2550
So I noticed that when I run the app from Android Studio it initially asks for permissions after which the app launches, if I run `./gradlew connectedDebugAndroidTest` at this point only two tests fail `InstanceServerUploaderTest > shouldUploadAnInstance` & `BitmapScaledToDisplayTest > scaleDownBitmapWhenNeeded`  but if I run the tests without running the app first I get the same output as @yanokw

[2018-09-20 12:40] mmarciniak90 opened #2557 "App crashes when user accept recorded sound and wants to add it to Audio widget"
#### Software and hardware versions
Collect v1.17.0, 1.16.1, 1.16.0
Android v6.0, 7.0, 8.1

#### Problem description
App crashes when user accept recorded sound and wants to add it to Audio widget

#### Steps to reproduce the problem
1. User starts a form with Audio widget
2. User clicks on `Record Sound`
3. User accept recorded sound
4. App crashes

#### Expected behavior
* Sound is added
* Crash

[2018-09-20 12:54] grzesiek2010 commented on #2557
Isn't it a device with Sony Audio Recorder app? https://github.com/opendatakit/collect/issues/705

[2018-09-20 13:05] mmarciniak90 commented on #2557
I'm able to reproduce the problem on Samsung S7, Motorola Moto G Play and Nexus 5X.
I used Audio Recorder app : https://play.google.com/store/apps/details?id=com.sonymobile.androidapp.audiorecorder&hl=en

[2018-09-20 16:16] grzesiek2010 commented on #2557
So we can close.

[2018-09-20 16:16] #2557 closed, assigned to nobody

[2018-09-20 17:18] lognaturel commented on #2557
I can see the stack trace for a Moto G4 Play in the crash logs and it looks like it's actually a duplicate of #2342.

[2018-09-20 19:18] grzesiek2010 opened #2558 "The readonly option doesn't work in selectMap widgets"
#### Software and hardware versions
Collect v1.16.4 and previous versions

#### Problem description
The readonly option doesn't work in selectMap widgets.

#### Steps to reproduce the problem
Use the attached form:
[selectMapReadonly.zip](https://github.com/opendatakit/collect/files/2402744/selectMapReadonly.zip)

You shouldn\t be able to select any other option since both questions are readonly.

[2018-09-20 19:26] lognaturel commented on #2342
@rk635636 does seem to be right that it's not necessary to use the `_data` column from a uri to get a file path. #2430 has a lot of good ideas to work from. A PR to address this should provide context for the proposed changes and make sure there are no unrelated changes.

[2018-09-20 19:42] grzesiek2010 opened #2560 "The readonly option doesn't work in the ArbitraryWidget"
#### Software and hardware versions
Collect v1.16.4 and previous versions

#### Problem description
The readonly option doesn't work in the ArbitraryWidget

#### Steps to reproduce the problem
Use the attached form:
[ArbitraryWidgetReadOnly.xml.txt](https://github.com/opendatakit/collect/files/2402818/ArbitraryWidgetReadOnly.xml.txt)

[2018-09-20 19:53] grzesiek2010 opened #2562 "Widgets with buttons look different with the readonly option"
#### Problem description
Working on
https://github.com/opendatakit/collect/issues/2560
https://github.com/opendatakit/collect/issues/2558
https://github.com/opendatakit/collect/issues/2551

I noticed that our widgets look different with the readonly option. Sometimes buttons are hidden and sometimes just disabled. I think we should be consistent and keep just one approach.

**The button is hidden:

[2018-09-20 19:57] lognaturel commented on #2562
👍 Was thinking about this in the context of https://forum.opendatakit.org/t/append-ranked-choices/15243/7 -- I use this technique of using a read-only question to echo back a previous answer quite a bit and the button is really annoying in that case.

I really can't see any reason to have the button. Not having it means that when we one day do logic updates within a single screen it would need to

[2018-09-20 20:30] lognaturel commented on #2342
To provide a bit more context, the code path that is failing currently is in the branch of `MediaUtils.getPath` that handles content provider URIs. As @rk635636 found, in that case, pulling from the content resolver is better because it doesn't assume that the content provider uses the `_data` pattern (see [Stackoverflow comment](https://stackoverflow.com/questions/20067508/get-real-path-from-uri-

[2018-09-20 21:21] grzesiek2010 commented on #2562
I also agree that it doesn't make sense to display those buttons.
Please take look at my pr https://github.com/opendatakit/collect/pull/2563
if you approve my approach you can close:
https://github.com/opendatakit/collect/pull/2555 and
https://github.com/opendatakit/collect/pull/2561

because we don't need to disable those buttons if they are not displayed of course.

[2018-09-21 00:56] lognaturel commented on #2550
The `deviceID` issue may also be related to permissions. How is it set in the test? I'd probably start by debugging the test on a lower API version and seeing how the `deviceID` is set.

I'd also start by debugging `scaleDownBitmapWhenNeeded` to get a better sense of how it works and where the failure may be happening. You might learn something by debugging it on API <= 22 and then API > 22. I thi

[2018-09-21 00:59] lognaturel commented on #2542
This is still occurring in beta.1: [Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5ba4415df8b88c2963aa842a?time=last-seven-days&sessionId=5BA3E93E002B0001356B70CFBA869AF0_DNE_0_v2) so it looks like it probably wasn't a proguard issue.

[2018-09-21 01:01] grzesiek2010 commented on #2542
...at least we tried.

[2018-09-21 01:03] lognaturel commented on #2542
Yes, it was a good thing to try for sure. We can still wait until right before the release to merge #2546 and see if we can get any more info from the beta somehow.

[2018-09-21 01:05] lognaturel commented on #2536
If you have any more information on where you've seen this functionality, @thanhgis, we can investigate! I don't believe it has ever been a feature in core Collect.

[2018-09-21 01:05] #2536 closed, assigned to nobody

[2018-09-21 01:25] lognaturel commented on #2562
Let's start by narrowly fixing the issues in #2555 and #2561 and then we can continue to get feedback on this and plan on including it in the next release!

[2018-09-21 10:13] mmarciniak90 opened #2565 "App crashes on Selfie video widget if microphone permissions are not set"
#### Software and hardware versions
Collect v1.17.0
Android 6.0, 7.0, 8.1

#### Problem description
App crashes on Selfie video widget if microphone permissions are not set

#### Steps to reproduce the problem
1. Microphone permissions are not selected
2. User tries to record selfie video
3. App crashes

#### Expected behavior
* App does not crash
* Dialog appears where the user is able to allow t

[2018-09-21 12:27] grzesiek2010 commented on #2554
It doesn't matter. I tried a form with different choices and it's the same.
Here are my forms I used:
[animationTest10Items.xml.txt](https://github.com/opendatakit/collect/files/2405230/animationTest10Items.xml.txt)
[animationTest20Items.xml.txt](https://github.com/opendatakit/collect/files/2405231/animationTest20Items.xml.txt)
[animationTest30Items.xml.txt](https://github.com/opendatakit/collect/

[2018-09-21 15:16] #2565 closed, assigned to grzesiek2010

[2018-09-21 17:14] lognaturel commented on #2554
Interesting! It looks like I misinterpreted what I experienced -- you're right it has to do with the list length and not the contents. That makes a lot more sense. I've updated the issue to include the latest information including that this was found on a Motorola G4 running Android 7.0. It seems to has to do with when items need to scroll.

I'd be ok to close this since I think you're right there

[2018-09-21 20:50] grzesiek2010 commented on #2554
It might be difficult but I remember @huangyz0918 likes such strange Android bugs. Do you want to take a look @huangyz0918?

[2018-09-22 11:48] huangyz0918 commented on #2554
I have tried several emulators, but I cannot reproduce the issue. I think it's a bug from system, and I will  take a deeper look at this so it's not so hurry for us to close it.

[2018-09-22 16:01] shobhitagarwal1612 commented on #1773
@opendatakit-bot claim

[2018-09-24 17:16] #2560 closed, assigned to grzesiek2010

[2018-09-24 17:16] #2551 closed, assigned to grzesiek2010

[2018-09-24 17:17] #2558 closed, assigned to grzesiek2010

[2018-09-24 17:17] #2552 closed, assigned to grzesiek2010

[2018-09-24 17:50] lognaturel opened #2571 "Runtime permission dialogs behave badly on orientation changes in Android 6, 7"
#### Software and hardware versions
Collect v1.17.0-beta.0, Android 6.0 and 7.0

#### Problem description
From @mmarciniak90 at https://github.com/opendatakit/collect/pull/2506#issuecomment-420361713 verifying the phone data permission check:

[code]

@grzesiek2010 suggests in https://github.com/opendatakit/collect/pull/2506#issuecomment-420290579 that this is a problem for all of the permission c

[2018-09-24 23:26] lognaturel commented on #2542
I'm not comfortable releasing with these crashes still happening. Unfortunately, it looks like users may have joined the beta without realizing what that means and may not know to report feedback. I think they're experiencing real crashes so let's merge #2546.

The Firebase Performance team is aware of the issue and sharing updates [on Stackoverflow](https://stackoverflow.com/a/52169082/137744).

[2018-09-25 02:57] #2542 closed, assigned to nobody

[2018-09-25 05:51] AOS002 commented on #2550
Hi! @lognaturel, I was able to fix the `deviceID` issue by using the GrantPermissionRule like @yanokwa had mentioned.
For the second test the `FileUtils.getBitmapScaledToDisplay` method uses `options.inSampleSize = (int) scale` to set the target scale for the image. In the [documentation](https://developer.android.com/reference/android/graphics/BitmapFactory.Options.html#inSampleSize) it says that

[2018-09-25 06:03] florianm commented on #2543
Found the exact settings I was after: ODK-C 1.16.4 admin settings > form entry settings > Uncheck to hide.

[2018-09-25 06:03] #2543 closed, assigned to nobody

[2018-09-25 06:34] florianm opened #2573 "Make it easier for users to update metadata, e.g. username"
#### Problem description
Many data collectors share few devices. We use the metadata field "username" to attribute their survey effort. Many data collectors forget to update this field, leading to incorrect attribution and post-survey QA effort.

#### Expected behavior
Would it be possible, maybe even with an admin settings option, to promote metadata to a more prominent location? The target user

[2018-09-25 17:29] grzesiek2010 opened #2574 "Buttons in android permission dialog don't cause any action if an activity has been recreated after showing the dialog."
#### Software and hardware versions
Collect v1.17.0

#### Problem description
Buttons in android permission dialog don't cause any action if an activity has been recreated after showing the dialog.

#### Steps to reproduce the problem
It's one of many possible ways to reproduce the issue:
1. Go to device settings -> Apps -> ODK Collect -> Permission and make sure that Microphone is turned off
2. O

[2018-09-25 17:30] grzesiek2010 commented on #2574
any other approaches @jd-alexander ?

[2018-09-25 17:32] grzesiek2010 commented on #2571
In fact, the problem I pointed out is different (but also related to changing device orientation). I created a separate issue which I think we should fix firs.

https://github.com/opendatakit/collect/issues/2574

[2018-09-25 17:43] lognaturel commented on #2574
Interesting. I think we’re probably not using the lib quite as it is intended. Have you maybe looked at some of the samples linked from https://github.com/Karumi/Dexter/issues/15?

[2018-09-25 18:12] jd-alexander commented on #2574
The methods that were introduced there were depreciated and then removed. Will be investigating what was implemented in favour of them.

[2018-09-25 18:34] yanokwa commented on #2550
@shobhitagarwal1612 You wrote the `FileUtils.getBitmapScaledToDisplay` test. Which of @AOS002's possible solutions do you prefer and why?

[2018-09-25 19:46] grzesiek2010 commented on #2574
It was also my first idea but then I downloaded the sample app https://github.com/Karumi/Dexter/tree/master/sample and the behavior there is the same.

[2018-09-25 19:59] lognaturel commented on #2574
@grzesiek2010 how about filing a new issue on the Dexter repo asking what the latest strategy may be and referring to issues at https://github.com/Karumi/Dexter/search?q=rotation&type=Issues

I’m not optimistic we’ll get a response since there hasn’t been activity in a while but good to at least have it out there.

I’d say this is pretty low priority because it is recoverable and I doubt screen ro

[2018-09-25 20:02] shobhitagarwal1612 commented on #2550
If this is the case then the image resize function must not be scaling down the image to the required screen dimensions too for higher API levels. The best solution would be to fix the scaling factor instead of changing the test case

What do you think @yanokwa ?

[2018-09-25 20:19] grzesiek2010 commented on #2574
Here you are https://github.com/Karumi/Dexter/issues/216

[2018-09-25 22:33] grzesiek2010 commented on #1755
Solved in https://github.com/opendatakit/collect/pull/2318

Las appearances visible on versions v1.15.x
https://play.google.com/apps/publish/?account=6923365842552008664&dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion&lastReportedRange=LAST_60_DAYS&installSource=INSTALLED_FROM_ANYWHERE&clusterName=apps/org.odk.collect.android/clusters/e54b6648&detailsApp

[2018-09-25 22:33] #1755 closed, assigned to nobody

[2018-09-25 22:40] grzesiek2010 commented on #757
We have solved a few such issues (not closed cursor) so probably it's fixed, otherwise, it would be visible in our reports.

[2018-09-25 22:40] #757 closed, assigned to nobody

[2018-09-26 01:31] AOS002 commented on #2550
`BitmapScaledToDisplayTest.scaleDownBitmapWhenNeeded()` is meant to scale the image down so that it fits the given window size right? because the last test in this method has an "expected height of image" that is greater than the window height, so I think this might also be an issue @shobhitagarwal1612.
This is because of the assumption that the decoder rounds down to the nearest power of two, so

[2018-09-26 10:34] grzesiek2010 opened #2577 "android.view.WindowManager$BadTokenException: Unable to add window -- token android.os.BinderProxy@a68b01e is not valid; is your activity running?"
#### Software and hardware versions
Collect v1.17.0

#### Problem description

[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b7e05b16007d59fcd8cba3e?time=last-seven-days&sessionId=5BAB4D1702660001191FCCA1284E0B4F_DNE_0_v2) (requires auth):

[code]

[2018-09-26 11:39] grzesiek2010 opened #2579 "java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()"
#### Software and hardware versions
Collect v1.17.0

#### Problem description
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b5f496c6007d59fcd427c14?time=last-seven-days&sessionId=5BAA39C603450001230A5DF16BB75246_DNE_0_v2) (requires auth):

[code]

[2018-09-26 12:33] grzesiek2010 opened #2581 "Fatal Exception: java.lang.StringIndexOutOfBoundsException: length=0; index=0"
#### Software and hardware versions
Collect v1.17.0

#### Problem description
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bab427ff8b88c29635927a1?time=last-seven-days&sessionId=5BAB534A026E00015AD6C4210B23441D_DNE_0_v2) (requires auth):

[code]

[2018-09-26 12:58] SaumiaSinghal commented on #2512
@opendatakit-bot claim

[2018-09-26 13:15] grzesiek2010 opened #2583 "attempt to re-open an already-closed object"
#### Software and hardware versions
Collect v1.17.0 and older versions

#### Problem description
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b0df3f56007d59fcd5762e7?time=last-seven-days&sessionId=5BAB742503D8000130A8297D7B912CBA_DNE_0_v2) (requires auth):

[code]

[2018-09-26 18:48] akshay-ap commented on #2359
@opendatakit-bot claim

[2018-09-26 21:01] grzesiek2010 opened #2586 "Attempt to invoke virtual method 'boolean android.app.Dialog.isShowing()' on a null object reference"
#### Software and hardware versions
Collect v1.17.0 and older versions

#### Problem description
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5baba062f8b88c296364bf94?time=last-seven-days&sessionId=5BABA0A5035400024E40F23193189F05_DNE_0_v2) (requires auth):

[code]

[2018-09-26 22:12] lognaturel commented on #1538
Turns out that joda time has stopped active development (since this issue was filed, I believe)! So submitting a PR there doesn't make sense. The author believes that it should be possible to define a chronology without needing access to private methods and has offered to help if there are issues with that -- https://github.com/JodaOrg/joda-time/pull/479#issuecomment-424880103.

The last resort is

[2018-09-27 00:46] yanokwa commented on #1395
We forgot to let folks know in the 1.17.0 release (which is fine). I propose we do this in the beta for 1.18 instead 😁

[2018-09-27 03:55] #2586 closed, assigned to grzesiek2010

[2018-09-27 06:55] aurdipas opened #2588 "Add Burmese (Myanmar) date widget"
Add appearance burmese similar to ethiopian [#1505](https://github.com/opendatakit/collect/pull/1505).

https://en.wikipedia.org/wiki/Burmese_calendar

The goal is for the widget to look like other calendar widgets and to use standard Android components as much as possible. Ideally this will involve creating a new Joda chronology just like for the [EthiopicChronology ](https://github.com/JodaOrg/j

[2018-09-27 12:04] #2577 closed, assigned to grzesiek2010

[2018-09-27 12:05] #2579 closed, assigned to grzesiek2010

[2018-09-27 12:05] #2581 closed, assigned to grzesiek2010

[2018-09-27 21:37] lognaturel opened #2590 "Selects get displayed badly if search() expression contains other appearance name"
#### Software and hardware versions
Collect v1.17.0

#### Problem description
If a `search()` expression contains another appearance name, that appearance is used even if it's not what the user intended.

#### Steps to reproduce the problem
https://forum.opendatakit.org/t/form-list-choices-are-vertical/15438/2

#### Expected behavior
`search()` parameters are not considered when identifying appear

[2018-09-28 04:54] lognaturel commented on #1395
Oh no! Well, I added a "changes coming next release" section to https://forum.opendatakit.org/t/odk-collect-v1-17/15392 that hopefully some people will see.

I agree we can go ahead and remove it and @shobhitagarwal1612 is so fast he's already on it!

[2018-09-28 17:54] yanokwa opened #2592 "Submissions with media to Ona fail with Premature end of Content-Length"
Starting at  https://github.com/opendatakit/collect/commit/f5320f638cd12b767ccaba4c94b689bc4bdd7501 (the HTTP refactor) if you send a form submission to Ona with any media (e.g., form with a single image), it reports the following. This problem does not seem to occur with Aggregate.

[code]

In 1.16.4 we:
1. Send a HEAD and get a 401 with WWW-Authenticate.
1. Send a HEAD with Authorization and get

[2018-09-28 20:25] grzesiek2010 opened #2593 "I/O error during system call, Broken pipe"
#### Software and hardware versions
Collect v1.17.0 and older versions

#### Problem description
Trying to reproduce https://forum.opendatakit.org/t/submission-upload-error-premature-end-of-content-length-delimited-message-body/15443/4 I ran into this issue.

I used this form:
[Media_files.xml.txt](https://github.com/opendatakit/collect/files/2429619/Media_files.xml.txt)

When it comes to files I

[2018-09-28 21:56] lognaturel commented on #2592
1.16.4 `localContext` when issuing `POST`:

1.17.0 `localContext` when issuing `POST`:

[2018-09-28 23:34] #2592 closed, assigned to nobody

[2018-09-28 23:48] #2590 closed, assigned to lognaturel

[2018-09-29 03:19] lognaturel commented on #1992
I've gone through https://developer.android.com/about/versions/nougat/android-7.0-changes and https://developer.android.com/about/versions/oreo/android-8.0-changes and don't see anything other than the items in the original issue under "status" that we need to handle.

I think it would be a good idea to do a full QA pass with the target API set to 26 on an Android 8.0 device to see whether there m

[2018-09-29 08:59] HalyangDream commented on #1300
请问解决这个问题了吗？我们的应用在google play console 上也是被这个问题困扰？

[2018-10-01 08:58] grzesiek2010 opened #2596 "Fast forward and rewind options in AudioWidget use a constant amount of seconds."
#### Software and hardware versions
Collect v1.17.1 and older versions

#### Problem description
Fast forward and rewind options in AudioWidget use a constant amount of seconds (5s) what doesn't work well if a recorded sound is long or very short. In such cases, the change is almost not visible (long sound) or move us to the end of the sound (short sound).

#### Steps to reproduce the problem
1. O

[2018-10-01 18:26] lognaturel commented on #2596
The 5s behavior matches other audio players. It is there so that even if the audio track is quite long, it's possible to go back or forward just a little bit. I use it to do things like find the beginning of a sentence. This is hard to do with the scrubber.

It's not as relevant with a short track but that's ok because the scrubber makes it easy to go back or forward a little bit.

`soundDuration

[2018-10-02 05:09] #1773 closed, assigned to shobhitagarwal1612

[2018-10-02 09:37] huangyz0918 commented on #2235
I can't reproduce this on Android 4.1.2 too.

[2018-10-02 10:34] grzesiek2010 opened #2599 "App crashes if a user tries to open a recorded video (targetSdkVersion >=24)"
#### Problem description
App crashes if a user tries to open a recorded video on targetAPI >= 24

[code]
#### Steps to reproduce the problem
1. Opan any form that contains VideoWidget
2. Record a short video and try to open it using `Play Video` button.

[2018-10-02 11:26] grzesiek2010 opened #2601 "App crashes if a user tries to share a QR code with settings (targetSdkVersion >=24)"
#### Problem description
App crashes if a user tries to share a QR code with settings (targetSdkVersion >=24)

[code]
#### Steps to reproduce the problem
1. Go to `Admin Settings` -> `Import/Export settings`
2. Click on the `share` icon.

[2018-10-02 12:23] ekigamba opened #2603 "Form upload and download from external app crashes when storage permissions are not available"
#### Software and hardware versions
Collect v1.17.1, Android v6.0, Tecno S1

#### Problem description
The app crashes when called via intent by an external app for form upload or download. This mainly happens on android v6.0 where runtime permissions need to be granted or any other device on which permissions are disabled by default

[2018-10-02 12:49] grzesiek2010 opened #2604 "The app crashes if a user tries to open an image or play a video in a MediaLayout (targetSdkVersion >=24)"
#### Problem description
The app crashes if a user tries to open an image or play a video in a MediaLayout (targetSdkVersion >=24)

`    android.os.FileUriExposedException: file:///storage/emulated/0/odk/forms/mediatest-media/a.jpg exposed beyond app through Intent.getData()
        at android.os.StrictMode.onFileUriExposed(StrictMode.java:1960)
        at android.net.Uri.checkFileUriExposed(Uri.j

[2018-10-02 15:06] grzesiek2010 opened #2607 "Text color of Submission transport setting remains grayed out even if this setting is enabled"
#### Software and hardware versions
Collect v1.17.1 Android 8 (I tested android 5 and 7 as well but everything is ok on those devices)

#### Problem description
Text color of Submission transport setting remains grayed out even if this setting is enabled.
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/3276264/46357157-87130500-c664-11e8-939c-ac20e00b540f.gif)

[2018-10-02 16:10] DreamyPhobic commented on #2444
Hello @jd-alexander, I want to work on this issue but i am little confused that where should i put  @nullable annotations? At every place in the whole codebase or at some particular location where  `NullPointerException` are frequent.

[2018-10-02 18:04] jeager opened #2609 "ODK Collect and ODK JavaRosa Integration"
First of all, sorry for coming to github instead of ODK Forum, but I could't registrate myself, so I came here looking for some help :)

I've read about both **tools**, ODK Collect and ODK JavaRosa, As far as I understand, JavaRosa does the form rendering according to the specifications of the ODK XForms and the ODK Collect does a parse of this render for the Android Platform as an APP.

But I'm n

[2018-10-02 19:21] yanokwa commented on #2609
JavaRosa is a Java library that renders forms complying with ODK XForms. Collect uses that library. Unfortunately, there isn't much documentation besides what you can see in the Collect source code.

If you have more questions, please try to register again on the form. If that fails, try asking on the Slack at http://slack.opendatakit.org.

[2018-10-02 19:21] #2609 closed, assigned to nobody

[2018-10-02 21:39] lognaturel commented on #2550
@shobhitagarwal1612 I wonder whether this is why we had the failing tests fixed at https://github.com/opendatakit/collect/pull/2097? Perhaps you ran on a API 27 device?

Can we have different tests for different API levels? That's what I would tend to suggest along with a really good comment. The power of 2 thing is for performance reasons so I don't think we should change it for lower API levels.

[2018-10-03 13:14] grzesiek2010 commented on #2574
https://github.com/Karumi/Dexter/issues/216#issuecomment-426629403

The short answer is that it was possible at some point but it was buggy so they decided to get rid of that functionality and they won't implement it again.

So now the question is. Is it acceptable for us or maybe we should use the traditional approach https://developer.android.com/training/permissions/requesting?

[2018-10-03 20:10] lognaturel opened #2610 "Externally accessing a content provider silently fails if storage permissions haven't been granted"
#### Software and hardware versions
Collect v1.17.1, Android 6+

#### Problem description
If an external application tries to read from a content provider, no content is provided if the storage permissions haven't been granted. Discussed at https://github.com/opendatakit/collect/pull/2606#issuecomment-426646708

#### Steps to reproduce the problem
1. Download some blank forms and fill out some of

[2018-10-03 23:40] lognaturel commented on #2574
Great that you got a response!

I'm ok leaving it as-is. The permissions requests don't happen often anyway and even when they do, the odds of a user deciding to rotate at just that moment are low. So I think we can close this.

It sounds like #2571 is also explained by https://github.com/Karumi/Dexter/issues/216#issuecomment-426629403  and that we can close that one as well, right?

[2018-10-03 23:45] grzesiek2010 commented on #2574
Since as you said:
1. The permissions requests don't happen often
2. even when they do, the odds of a user deciding to rotate at just that moment are low
3. even if it happens it doesn't cause any crash.

so I agree we can close this issue. When it comes to #2571 I think we can fix it and it's not the same, let me take another look to be sure.

[2018-10-03 23:45] #2574 closed, assigned to nobody

[2018-10-04 05:46] mendell commented on #2390
@opendatakit-bot claim

[2018-10-04 09:38] SaumiaSinghal commented on #2512
@opendatakit-bot unclaim

[2018-10-04 10:41] grzesiek2010 commented on #660
@lognaturel what app did you use? Logs look similar to #705 and VideoWidget uses the same code to capturing videos so maybe the cause is the same.

[2018-10-04 11:53] kkrawczyk123 commented on #2476
@grzesiek2010 my mistake is that I described an issue in not enough steps to reproduce I will update it right now.

[2018-10-04 13:12] grzesiek2010 commented on #544
We use Dagger and Butterknife so we can close. If I'm wrong please reopen @lognaturel.

[2018-10-04 13:12] #544 closed, assigned to nobody

[2018-10-04 13:18] grzesiek2010 commented on #550
We already use Butterknife so we can close this issue.

[2018-10-04 13:18] #550 closed, assigned to nobody

[2018-10-04 14:22] jd-alexander commented on #2444
@DreamyPhobic I am going to look into this some more today and get back here. I wouldn't suggest that you start it as yet because the `needs-discussion` tag is still on here and we wouldn't want to do work that gets discarded so for now you can read through the documentation, check Stack Overflow and just look at some examples out there as to how it has been used effectively and you can report her

[2018-10-04 14:26] jd-alexander commented on #2610
Good point. I thought about this as well when the implementation was being done.

Yes, it's being silently ignored on the premise that it was highly unlikely it would occur but here we are :sweat_smile:

 In this case, what's the right thing do? Throw a `permission denied` exception?

[2018-10-04 14:41] #2525 closed, assigned to grzesiek2010

[2018-10-04 15:19] akshay-ap opened #2614 "Set target SDK version to 23"
#### Software and hardware versions
Collect v1.17.0, Android v7.0.0, device used Moto M

[2018-10-04 15:20] akshay-ap commented on #2614
@opendatakit-bot claim

[2018-10-04 16:04] #2614 closed, assigned to akshay-ap

[2018-10-04 16:06] #2603 closed, assigned to nobody

[2018-10-04 16:15] lognaturel commented on #2610
The ideal would be to trigger the permission request the same way any other storage access does. Is that possible?

[2018-10-04 16:49] jd-alexander commented on #2610
I don't think so especially since it's via a `ContentProvider` and permission requests will require an activity to be spawned. Also the usage seems a bit out of scope for a `ContentProvider` as well in my opinion.

[2018-10-04 20:30] lognaturel commented on #2610
Ok, I think that's right, thanks. Closing this and we can make sure the documentation includes information about the behavior in Android 6+ when permissions aren't granted. https://github.com/opendatakit/docs/issues/876

[2018-10-04 20:30] #2610 closed, assigned to nobody

[2018-10-04 20:53] MikeMikerson commented on #2296
@opendatakit-bot claim

[2018-10-05 16:05] lognaturel commented on #2008
Update on this! It's a real bug on Google's side -- we weren't going crazy: https://issuetracker.google.com/u/0/issues/79189573#comment20

Google claims the next Play Services release will address the issue. Since phones, especially in the field, do not get Play Services releases often, we'll need to think carefully about if and when we want to go back to the `FusedLocationProvider`. As we've seen

[2018-10-08 06:45] MackHuang commented on #1300
Yes, I solved it. Thank you for your attention.

[2018-10-08 06:52] MackHuang commented on #1300
在app的build.gradld的defaultConfig中：multiDexEnabled
dependencies中添加：compile 'com.android.support:multidex:1.0.0'

试下是否有用呢？

在 2018-09-29 16:59:41，"HalyangDream" <notifications@github.com> 写道：

HI, Can you please help in resolving the same issue. I am facing it in playstore build.

Any suggestion, I have already implemented multidex in the app, this issue is reflected many times.

Please help!

Thanks

[2018-10-08 14:41] #2607 closed, assigned to grzesiek2010

[2018-10-08 20:26] ajwad-shaikh commented on #2349
@opendatakit-bot claim

[2018-10-08 23:04] lognaturel commented on #2562
@yanokwa Do you think we should get user feedback on this or just move forward?

[2018-10-09 04:20] yanokwa commented on #2562
I think we can proceed with removing and ask for feedback in the beta. In the unlikely case that there are lots of complaints, it's easy to roll back.

[2018-10-09 04:46] lognaturel commented on #2554
Good to know it's not reproducible on most devices. Let's close!

[2018-10-09 04:46] #2554 closed, assigned to nobody

[2018-10-09 12:11] kkrawczyk123 opened #2622 "Videos are not playing and sounds are deformed on Android 4.1."
#### Software and hardware versions
Collect v1.17.x, Android v4.1.x, device used...

#### Problem description
Videos are not playing - they open but a black screen is visible and one of the sounds is deformed (3rd one) on Android 4.1.

#### Steps to reproduce the problem
Play video and play the 3rd audio. Form that I used is attached in https://github.com/opendatakit/collect/issues/2604.

#### Exp

[2018-10-09 12:27] grzesiek2010 opened #2623 "Fatal Exception: java.lang.IndexOutOfBoundsException"
#### Software and hardware versions
Collect v1.17.x

#### Problem description

[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bad61f1f8b88c2963962f04?time=last-seven-days&sessionId=5BBBD4FB0274000144BD0164DB943E31_DNE_0_v2) (requires auth):

[code]

[2018-10-09 13:00] DreamyPhobic commented on #2622
@opendatakit-bot claim

[2018-10-09 18:31] #2599 closed, assigned to grzesiek2010

[2018-10-09 18:32] #2601 closed, assigned to grzesiek2010

[2018-10-09 18:34] #2604 closed, assigned to grzesiek2010

[2018-10-09 18:34] #2562 closed, assigned to grzesiek2010

[2018-10-09 20:51] lognaturel commented on #426
Closing this in favor of spec discussions going on at https://github.com/XLSForm/xlsform.github.io/issues/125 and https://forum.opendatakit.org/t/spec-proposal-harmonize-compact-compact-n-horizontal-horizontal-compact-appearances/15565. Once there's agreement there we can open an issue with the specific action to take.

[2018-10-09 20:51] #426 closed, assigned to grzesiek2010

[2018-10-09 20:53] dalerhoda commented on #426
Thanks Hélène !

[2018-10-09 20:54] lognaturel commented on #426
Slow and steady wins the race, right?? (please say yes)

[2018-10-09 21:22] dalerhoda commented on #426
Looks like progress to me...

[2018-10-10 08:42] florianm commented on #2008
Update on devices:

Tested on Lenovo Tab 7 Essential (TB-7304F) and Lenovo Tab 3 7" (TB3-710F), ODK Collect 1.17.2:

With Android system settings > Location mode "high accuracy (WiFi, Bluetooth, GPS)":

* Indoors (no GPS reception, WiFi reception), WiFi on: no Geolocation even after 20 mins in the ODK Geolocation widget
* Outdoors (GPS reception, still WiFi reception), Wifi on: no GPS fix - I'd ex

[2018-10-10 08:48] mmarciniak90 opened #2624 "Offline Layer is not set on Android 7.0"
#### Software and hardware versions
Verified Collect v1.15.1 and above
Samsung Galaxy S7
Android 7.0

#### Problem description
Offline Layer is not set on Android 7.0

#### Steps to reproduce the problem
1. The user selects Offline Layer

#### Expected behavior
1. Selected Offline Layer is set on map

[2018-10-10 09:49] grzesiek2010 opened #2625 "Inconsistency detected. Invalid item position 10(offset:10).state:1409 android.support.v7.widget.RecyclerView"
#### Software and hardware versions
Collect v1.17.x

#### Problem description

[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5badf97df8b88c2963a47629?time=last-seven-days&sessionId=5BBDB68D01FD00014E87B4F0D5EFA3BD_DNE_0_v2) (requires auth):

[code]

[2018-10-10 09:58] DreamyPhobic commented on #2622
I checked the problem in Android emulator with 4.1 jelly bean, I think it is a problem of in-built video player itself because even I wasn't able to play any video from gallery, it always show the same error "Can't play the video."

[2018-10-10 10:07] mmarciniak90 opened #2626 "App crashes at the moment when Upload Results dialog should appear after sending ~1k forms if 'Do not keep activities' option is turned on"
#### Software and hardware versions
Verified Collect v1.16.0 beta 3, v1.17.2

#### Problem description
App crashes at the moment when Upload Results dialog should appear after sending ~1k forms if 'Do not keep activities' option is turned on

#### Steps to reproduce the problem
1. 'Do not keep activities' option is selected in Android Developer Options
2. The user sends a lot of forms
![screenshot

[2018-10-10 13:14] kkrawczyk123 opened #2628 "Date widgets window is cut off when rotate on Androids 4.2, 4.4 and 5.1"
#### Software and hardware versions
Collect v1.x.x, Android v4.2, 4.4, 5.1 device used...

#### Problem description
Date widgets windows are displayed correctly in a vertical orientation, screenshot attached:
![screenshot_2018-10-10-13-58-51](https://user-images.githubusercontent.com/33342488/46738307-2310c200-cc9e-11e8-8b2f-a35c988b6813.png)
but after screen rotation content of the window is cut

[2018-10-10 13:34] kkrawczyk123 opened #2629 "Small date widgets improvement suggestion."
#### Software and hardware versions
Collect v1.17.x, Android from 4.2 to 8.1 .x.x, device used...

#### Problem description
When you choose a date on date widgets window (do not save it and leave the window open) and minimize or extinguish the screen and then return to the app again today's date is displayed on the date widget window. The similar situation occurs when the date is chosen and you tr

[2018-10-10 15:08] #1833 closed, assigned to nobody

[2018-10-10 16:23] lognaturel commented on #2596
Let's close and if a user reports an issue with the scrubbing behavior we can reopen.

[2018-10-10 16:23] #2596 closed, assigned to grzesiek2010

[2018-10-10 16:27] #1395 closed, assigned to nobody

[2018-10-10 16:39] lognaturel commented on #2624
https://docs.opendatakit.org/collect-offline-maps describes how to set up offline layers.

@mmarciniak90 It works on Android 8.0?

[2018-10-10 16:43] lognaturel commented on #2622
I agree with your assessment, @DreamyPhobic. I have a 4.1 device that does not have this property.

[2018-10-10 16:43] #2622 closed, assigned to DreamyPhobic

[2018-10-10 16:56] lognaturel commented on #2359
To keep this up to date -- @akshay-ap has a PR open at #2585 using Android's [`RatingBar`](https://developer.android.com/reference/android/widget/RatingBar) but there appear to be [bugs on some Android levels](https://issuetracker.google.com/issues/37114040) and no way to make the stars wrap if they don't fit horizontally. @shobhitagarwal1612, @akshay-ap and I discussed in Slack and agreed that th

[2018-10-10 16:58] #1041 closed, assigned to nobody

[2018-10-10 17:00] lognaturel commented on #639
Issue can be re-opened if a user asks about this. The big challenge is that video can be captured in different sizes and orientations and handling that with a good user experience is not straightforward.

[2018-10-10 17:00] #639 closed, assigned to nobody

[2018-10-10 17:02] lognaturel commented on #104
This is not documented so we can wait until a user asks for it.

[2018-10-10 17:02] #104 closed, assigned to nobody

[2018-10-10 17:51] akshay-ap commented on #2359
The plan is to use `GridLayout` with each cell containing `Imagebutton`.
I would suggest keeping max 5 stars each column(images would scale out depending to screen size).
The number of rows will differ.
Any other approach is also welcome.
(I shall push commits on next weekend).

[2018-10-10 17:53] lognaturel commented on #2359
I think a fluid layout would be more expected. That is, if 7 or 10 stars fit horizontally, they should take up that space. There should only be wrapping if needed.

The images should remain a fixed size. Otherwise it will look very odd when changing orientation or using the same form on different devices.

[2018-10-10 21:56] AOS002 commented on #2550
@lognaturel  Is it because the loss won't be much? Also if we want to avoid this, and also maintain exact scaling when possible, I think we would need to scale depending on the API along with API dependent tests. Exact scaling for API>=27 and rounded up nearest power of two for <27.

Does this sound good?

[2018-10-10 22:01] lognaturel commented on #2550
I'm assuming that the edges of an image are probably not critical to understanding its content and that, like you say, not too much will be cut off.

Yes, I agree. So the options are to leave the code as-is and have different tests or to both change the code and the tests to make sure an image never goes off the screen. You can pick!

[2018-10-10 23:08] lognaturel commented on #660
I don't have that device anymore so I can't say for sure but I'm almost certain it was the built-in media application.

I think you are likely right that using the `ContentResolver` would solve these kinds of path issues, @grzesiek2010. I'm going to close this specific issue now because we don't have a good repro.

[2018-10-10 23:08] #660 closed, assigned to nobody

[2018-10-11 02:53] florianm commented on #2008
Update on inferring GPS from WiFi:
Testing from my home WiFi with location settings "Wifi+GPS", I'm getting a location fix indoors while connected to that WiFi.

Testing from my work WiFi, same SSID, same setup, from three offices 1500 kms apart, ODK gets no location from WiFi. I assume therefore that this is a problem with our particular WiFi configuration and not a bug in ODK. Confusing for less

[2018-10-11 03:03] #2262 closed, assigned to nobody

[2018-10-11 03:11] lognaturel commented on #2008
I should have been clearer! There have been no changes to the code yet because the Google fix is not released. I'm not totally sure that what you've seen from home means that you got a read from wifi. I believe GPS has to be off for wifi to be used at the moment because we are using those older libraries.

I think your idea of adding more troubleshooting information is a good one.

[2018-10-11 03:23] huangyz0918 opened #2633 "Incorrect disable and enabled logic of Geobuttons"
#### Software and hardware versions
geo widgets on Android 4.4, 5.1, 6.0, 7.0, 8.1

#### Problem description
The logic of disabled and enabled geo buttons is incorrect, and you can see more details in this [comment](https://github.com/opendatakit/collect/pull/2276#issuecomment-428568004).

Trash button has a logic problem in:
- geopoint type with placement-map appearance
- geopoint type with map a

[2018-10-11 03:26] lognaturel commented on #2633
I believe that the geoshape zoom button issue is only for Google maps. It sounds like there are differences between when GPS is active and inactive.

[2018-10-11 07:32] mmarciniak90 commented on #2624
@lognaturel I'm able to check only on Android 8.1 because I do not have a device with Android 8.0, but I hope it is not a big deal.
**Offline Layer works correctly on Android 8.1**

[2018-10-11 12:28] mmarciniak90 opened #2634 "Audio recorded via Sony Audio Recorder app is not attached on Android 4.4, 4.2, 4.1"
#### Software and hardware versions
Collect v1.16.4, 1.17.2 (I did not verify older versions)
Android 4.4, 4.2, 4.1

#### Problem description
Audio recorded via Sony Audio Recorder app is not attached on Android 4.4, 4.2, 4.1

#### Steps to reproduce the problem
1. The user uses a device with Android 4.4, 4.2 or 4.1
2. Sony Audio Recorder app is installed on the device
3. The user opens a form wit

[2018-10-11 12:57] grzesiek2010 commented on #2634
On Android 4 [resultCode](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L651) is always 0 (`RESULT_CANCELED`) no matter if I accept a recorded file or not. probably that Sony Recorder Audio app just doesn't support Android 4. There is nothing we can do.

[2018-10-11 12:57] #2634 closed, assigned to nobody

[2018-10-11 14:05] cooperka commented on #2296
@opendatakit-bot claim

[2018-10-11 14:16] #2625 closed, assigned to grzesiek2010

[2018-10-11 14:20] grzesiek2010 commented on #2623
Fixed by https://github.com/opendatakit/collect/pull/2627

[2018-10-11 14:20] #2623 closed, assigned to grzesiek2010

[2018-10-11 14:28] grzesiek2010 opened #2635 "Fatal Exception: java.lang.ClassCastException"
#### Software and hardware versions
Collect v1.17.2 and older versions

#### Problem description

[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bbb0d02f8b88c296311dd29?time=last-seven-days&sessionId=5BBB21D6002D0001131221B5FC373B1D_DNE_0_v2) (requires auth):

[code]

[2018-10-11 16:49] cooperka commented on #2296
Turns out this isn't a Collect issue, it's an Aggregate issue. The response sent back from the server for the Multi Warning form is:

[code]

Whereas `<version>500001</version>` is correct when the leading character is non-zero. I'm leaving soon for a weekend out of town but I'll come back and set up Aggregate on Monday to dig deeper.

[2018-10-11 18:16] lognaturel commented on #2296
Thank you, @cooperka! That makes sense. I think it would have been slightly higher priority as a client-side issue but seems to me as pretty low priority on the Aggregate side.

I'll leave you the honor of filing the issue there and we can see if anyone else thinks it's something to prioritize. Since you're all set up for Collect I'd recommend sticking around here for a bit! Getting an issue like

[2018-10-11 18:16] #2296 closed, assigned to cooperka

[2018-10-12 02:04] lognaturel commented on #2143
Thank you, @huangyz0918!

[2018-10-12 02:04] #2143 closed, assigned to nobody

[2018-10-12 03:19] #2635 closed, assigned to grzesiek2010

[2018-10-12 09:55] kaftand commented on #49
Hello @yanokwa , Is there any update on this? I also need this feature, as do others (@lognaturel made a great post here: https://forum.opendatakit.org/t/form-design-grid-of-text-or-numeric-input/13398). I have a little experience with the repository. I would like to build this feature, but give the age of this post, I'm worried it wouldn't get accepted.

[2018-10-12 10:16] kaftand commented on #2528
@opendatakit-bot claim

[2018-10-12 13:22] DreamyPhobic commented on #2588
@opendatakit-bot claim

[2018-10-12 13:42] grzesiek2010 commented on #2588
Hi @DreamyPhobic

the work of this issue is in progress using this I was just removed because I ran into some issues and wait for answers from the author of https://github.com/chanmratekoko/mmcalendar.

Please take one of the other issues.

[2018-10-12 14:48] huangyz0918 commented on #2633
@opendatakit-bot claim

[2018-10-12 15:20] DreamyPhobic commented on #2588
ok @grzesiek2010 no problem...Thanks.

[2018-10-12 15:20] DreamyPhobic commented on #2588
@opendatakit-bot unclaim

[2018-10-12 15:30] DreamyPhobic commented on #2392
@opendatakit-bot claim

[2018-10-12 19:27] lognaturel commented on #2521
Please see discussion starting at https://github.com/opendatakit/collect/pull/2532#issuecomment-428005875 before taking this one on. @grzesiek2010 had a good solution using `RxEventBus` but it should be possible to leverage the existing relationship between the components involved to address the problem without it.

[2018-10-12 20:48] #2628 closed, assigned to grzesiek2010

[2018-10-12 23:32] lognaturel commented on #2521
Oops, I thought there was a stale assignment but it looks like you'd like to keep exploring this one, right @grzesiek2010? Perhaps you could share some ideas on the direction you expect to go in so there can be discussion around that.

[2018-10-13 06:27] lognaturel commented on #49
We now use the forum to specify a feature before it becomes an issue so I will close this in favor of the thread you linked to.

The next step would be to specify the precise desired behavior. Then there will need to be a proposal for the form specification. If you’d like to make those proposals on the thread, that would be great!

[2018-10-13 06:27] #49 closed, assigned to nobody

[2018-10-14 15:06] DreamyPhobic commented on #2175
@opendatakit-bot claim

[2018-10-14 18:23] lognaturel commented on #2175
Thanks for filing, @lakshyagupta21 and for looking into it, @dreamyphobic. It might be good to discuss the underlying issue and a possible approach before deciding whether this is worth addressing now.

The fundamental issue is that during an ongoing submission, finalized forms are still visible in Edit Saved Form even though their status will change to submitted shortly. There is currently no mec

[2018-10-14 21:34] nshestiuk commented on #2349
@opendatakit-bot claim

[2018-10-15 16:22] #2492 closed, assigned to nobody

[2018-10-15 16:26] #2392 closed, assigned to DreamyPhobic

[2018-10-15 17:46] lognaturel opened #2642 "Clicking quickly on a list item from one of the main menu lists has no effect"
#### Software and hardware versions
Collect v1.17.1, Android v7, Moto G4 and I am pretty sure I have experienced this on every device I've used, just thought it was me not tapping correctly

#### Problem description
Tapping quickly on a list item from one of the main menu lists has no effect

#### Steps to reproduce the problem
1. Open one of the activities from the main menu (e.g. Fill Blank Form

[2018-10-15 18:57] ondri124 commented on #2642
Hello, can i take this one?

[2018-10-15 21:04] grzesiek2010 commented on #2642
It was implemented in order to fix https://github.com/opendatakit/collect/issues/1630 I also noticed sometimes it's annoying but at least it fixes the bug. Maybe we can try to make the min interval shorter.

[2018-10-15 22:28] #2342 closed, assigned to nobody

[2018-10-15 23:04] shobhitagarwal1612 opened #2645 "Crash when changing device orientation while choosing a big audio, video or arbitrary file"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
App crashes if the device orientation is changed when a big media file is loading

#### Steps to reproduce the problem
- Choose a big image/audio/video file from sd card
- Rotate the device while the loading media dialog is visible
- App crashes

#### Expected behavior
- Choose a big image/

[2018-10-15 23:56] zestyping commented on #2310
#2640 fixes this problem for GeoTraceActivity and GeoShapeActivity.

This issue is remaining open because the GeoPoint activities still need to be fixed.

[2018-10-16 00:00] zestyping opened #2646 "GeoTrace interval timer is restarted on screen rotation"
#### Software and hardware versions
All versions of Collect.

#### Problem description
When the screen is rotated, the interval timer (for automatic recording mode) in the GeoTraceActivity is restarted.  So, for example, if the activity is set to automatically record a point every 10 seconds, and you rotate the screen exactly 9 seconds after the last point was recorded, then instead of recording a

[2018-10-16 00:03] zestyping opened #2647 "Offline basemap selection is lost on screen rotation"
#### Software and hardware versions
All versions of Collect.

#### Problem description
If you have selected an offline basemap in the GeoTrace or GeoShape activities, then when the screen is rotated, your selection is lost.

#### Steps to reproduce the problem
Install an .mbtiles file on the device.  Start collecting a GeoTrace or GeoShape.  Tap the "layers" button on the right and choose your .mb

[2018-10-16 00:05] cooperka commented on #2642
Here's [the diff](https://github.com/opendatakit/collect/pull/1765/files?w=1) for the PR disabling multiple clicks within 500 ms. Would a simple `lastClickTag` help, e.g. pass in the name of the activity on which `lastClick` took place?

1. Refactor `allowClick()` => `allowClick(String tag)`
2. Always allow clicks if the tag is **different** from the last tag, otherwise continue to respect the 500

[2018-10-16 01:34] lognaturel commented on #2642
Thank you, @grzesiek2010 for remembering that history! I completely forgot we used time to debounce clicks.

@cooperka your approach sounds like a good one. Is it really the case that there's no standard Android built-in way to deal with these click issues? Another option might be to disable the button on click but that would require being super careful to re-enable it for every possible re-entry

[2018-10-16 02:07] cooperka commented on #2086
I tried on latest master and the app doesn't crash with the malformed QR code until visiting **General Settings > Server**. It's still possible to recover by visiting **Admin Settings > Import/Export** and load a different non-malformed QR code.

The imported settings are saved in [ShowQRCodeFragment here](https://github.com/opendatakit/collect/blob/master@{2018-10-14}/collect_app/src/main/java/or

[2018-10-16 02:36] cooperka commented on #1959
@lognaturel should this be closed?

[2018-10-16 03:07] cooperka commented on #184
I suspect @riomaha is on to something -- in [FormEntryActivity here](https://github.com/opendatakit/collect/blob/master@%7B2018-10-15%7D/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L1217) there's an `InputFilter` that clears out the string if it contains any newlines. If the Zone or Village was specified with a newline, the form name would end up being blank

[2018-10-16 05:01] shobhitagarwal1612 opened #2649 "Handle the cases better when the permission to access contacts is denied"
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
If the permission to access accounts is denied while uploading instances to google sheets or getting blank forms, it gets stuck at a blank white screen.

#### Steps to reproduce the problem

- Goto `General Settings` > `Server` > Type: Google Drive
- Kill the app
- Reopen the app
- Click `S

[2018-10-16 13:18] #2645 closed, assigned to nobody

[2018-10-16 13:36] mmarciniak90 opened #2652 "Error occurs when user adds file to File widget from SD card"
#### Software and hardware versions
Verified Collect v1.16.4 and v1.17.2
Device with Internal Storage and **SD card**

#### Problem description
Error occurs when user adds file to File widget from SD card

#### Steps to reproduce the problem
1. The user uses a device with  Internal Storage and **SD card**
2. User want to add a file from SD card
![screenshot_2018-10-16-16-21-31](https://user-images

[2018-10-16 14:16] nshestiuk commented on #2652
@opendatakit-bot claim

[2018-10-16 14:56] cooperka commented on #2642
Nothing aside from sub-classing Button and ensuring all past and future instances use the subclass instead of the built-in. iOS has the same problem. It seems like it would be simple enough for Android to offer global debounce contols, but no :crying_cat_face:

@ondri124 you had wanted to tackle this, feel free to claim it -- otherwise I'll come by tomorrow and grab this one.

[2018-10-16 17:51] DreamyPhobic commented on #2175
I noticed that if the sending process is ongoing, then no matter what form we are opening, it will not get opened and always show loading dialog box until the sending process gets completed. So, first of all, this should not happen otherwise what will be the advantage of using the background process. I don't know it is intentional or not. If it is intentional then we can solve the above issue just

[2018-10-16 19:01] #2629 closed, assigned to grzesiek2010

[2018-10-17 09:32] ondri124 commented on #2642
@cooperka you can take it, but I would like to work on this issue too, just because I want to try to contribute on opensource project but on the other hand, I can see that you have an idea how to solve this issue and I dont want to be the one to interrupt or stall. Maybe we can then share our results and see which would be Appropriate as a whole. :)

[2018-10-17 11:35] konishon commented on #2649
@opendatakit-bot claim

[2018-10-17 12:05] DreamyPhobic commented on #2646
@opendatakit-bot claim

[2018-10-17 14:43] cooperka opened #2656 "Replace newlines in form name with spaces (app-wide)"
#### Software and hardware versions

Collect v1.17.2

#### Problem description

During the testing of https://github.com/opendatakit/collect/pull/2653, we discovered that newlines are handled differently throughout Collect and Aggregate. It seems like several places convert them to spaces, and other places leave them as-is.

We should either **display them as spaces everywhere** or **convert them

[2018-10-17 14:45] cooperka commented on #2642
Okay, good plan. I'll share my solution here when it's ready. @opendatakit-bot claim

[2018-10-17 15:28] cooperka commented on #2642
Feel free to take a look @ondri124: https://github.com/opendatakit/collect/pull/2657

[2018-10-17 16:44] lognaturel commented on #1538
Closed in #2620

[2018-10-17 16:44] #1538 closed, assigned to nobody

[2018-10-18 01:46] #184 closed, assigned to cooperka

[2018-10-19 04:49] tinok opened #2660 "Form fails to load if select item has no label"
#### Software and hardware versions
Collect v1.7.2, Android v7.0

#### Problem description
When using a form that contains a `select` question that has a response item without a label, collect shows an error upon opening the form: `<item> has no <label>` -- even though the form is valid according to `validate` (which shows warnings but no errors). See
[screenshot](https://user-images.githubusercon

[2018-10-19 04:59] lognaturel commented on #2660
Can you please describe the use case for an item without a label? I think it would make more sense for Validate to show an error. I wouldn't expect `pyxform` would let this through -- did you use something else to generate it or delete the label manually?

[2018-10-19 11:16] grzesiek2010 commented on #705
Fixed in: https://github.com/opendatakit/collect/pull/2613

[2018-10-19 11:16] #705 closed, assigned to grzesiek2010

[2018-10-19 11:54] grzesiek2010 commented on #518
It's the same issue: https://github.com/opendatakit/collect/issues/2626

[2018-10-19 11:54] grzesiek2010 commented on #2626
Duplication of https://github.com/opendatakit/collect/issues/518

[2018-10-19 11:54] #2626 closed, assigned to nobody

[2018-10-19 15:27] lognaturel commented on #2647
@zestyping was the intent for this to be handled once MapHelper is reworked as was discussed on #2640 or do you want to consider a PR for it now?

[2018-10-19 16:36] zestyping commented on #2647
The intention was to handle it when MapsHelper is reworked.

On Fri, Oct 19, 2018, 08:28 Hélène Martin <notifications@github.com> wrote:

[2018-10-21 05:04] shobhitagarwal1612 opened #2666 "Add a check to detect if java/xml files contain valid license header"
#### Problem description
I noticed that in commit https://github.com/opendatakit/collect/pull/2619/commits/e25fdfd12c247d1885169b47836102071d52c1c6, license headers were added to the new files. Since this is a must step for all files which are added to the project, I propose that it should be made a part of the current build pipeline i.e. Circle CI build should fail automatically if any Java file

[2018-10-21 05:23] shobhitagarwal1612 commented on #2666
`DrawActivity` contains two Copyrights,
[code]
How to handle such cases? Keep the latest one or merge both of them in a single line?

[2018-10-21 06:09] shobhitagarwal1612 commented on #2666
I have checked that a similar rule can be created for XML files as well. So should it target only layout files or all XML files?

[2018-10-22 02:14] konishon commented on #2390
@opendatakit-bot claim

[2018-10-22 02:35] konishon commented on #2390
@opendatakit-bot  claim

[2018-10-22 02:39] konishon commented on #2390
@kaftand
using ACTION_PICK would restrict the image selection to device folders and that would satisfy the first point you said

I will send a PR and see if any agree

[2018-10-22 16:13] tinok commented on #2660
Good question, @lognaturel. It's valid xform and normal in many cases to not have a label, e.g.
* question or choice uses image
* question has a hint
* using multiple label languages, not all labels have been translated yet

If we want to enforce each question/response to have a label we can change it in pyxform and validate to be an error instead of a warning.

[2018-10-23 00:37] yanokwa commented on #2666
This seems very low priority to me. Maybe we mark this as contributor friendly, and let a new contributor propose a more comprehensive solution. That is,
1. Make sure all Java files have copyright in a standard format.
2. Make sure there is a check.
3. If that looks good, then we expand it to other files.

[2018-10-23 04:17] shobhitagarwal1612 commented on #2666
I have a working branch which has implemented a check for java and layout files. Should I push it for you to review?

[2018-10-23 06:11] shobhitagarwal1612 opened #2670 "Remove unused classes"
#### Problem description
If a class becomes useless, static code analysis should be able to detect it. This will then automatically be enforced in the future builds as the static tools are run on Circle CI.
`FormException` is one of the files (I haven't checked if there are any more or not) which is not being used.

#### Expected behavior
Circle CI build should fail the current `master` branch and

[2018-10-23 12:06] kkrawczyk123 opened #2671 "Always only one fail message when there is no submission URL in Google Sheets upload no matter of amount of submissions."
#### Software and hardware versions
Collect v1.17.x, Android v8.1.x, device used...

#### Problem description
There is always only one fail message when failed to send submissions to Google sheet when no submission URL added no matter how many submissions you are trying to send. On other devices, Androids from 4.1-7.0 fail messages are displayed for each failed submissions.
Screenshots of a try to

[2018-10-23 12:13] #2349 closed, assigned to nshestiuk

[2018-10-23 13:46] lognaturel commented on #2671
This should be fixed by #2619. Please confirm.

[2018-10-23 14:47] kkrawczyk123 commented on #2671
Actually, when I tried I saw an issue which I didn't see before in https://github.com/opendatakit/collect/pull/2619.

[2018-10-23 16:44] joeflack4 opened #2672 "Feature request - Add a function / API to return what language is currently selected"
## Current behavior
There doesn't seem to be a way to programmatically declare in an XForm / XLSForm an ODK Collect client-specific function to determine the language that is currently selected in the client.

## Desired behavior
A way to programmatically declare in an XForm / XLSForm an ODK Collect client-specific function to determine the language that is currently selected in the client, e.g.

[2018-10-23 16:45] joeflack4 opened #2673 "Allow pulldata() to be used on external_choices / itemsets.csv"
## Current behavior
Using `pulldata()` on `itemsets.csv` (generated by the `external_choices` worksheet of an XLSForm)  does not appear to work.

## Expected behavior
Using `pulldata()` on `itemsets.csv` (generated by the `external_choices` worksheet of an XLSForm) should be able to work just as for any other csv file.

[2018-10-23 17:21] joeflack4 commented on #179
Also having this problem when trying to use `jr:choice-name()` with `select_one_external` and `select_multiple_external` types. Of course, I imagine that this is related to the same problem, given that the "external_choices" worksheet generates an "itemsets.csv".

[2018-10-23 17:22] lognaturel commented on #2672
Thanks, @joeflack4! In general, please describe feature requests on the forum so that they can be prioritized, turned into a closeable issue and then filed on the appropriate repo. In, this case, there would be details to figure out like what the function name should be, what language codes are used, etc. Once the behavior is specified, it would become a JavaRosa issue.

[2018-10-23 17:22] #2672 closed, assigned to nobody

[2018-10-23 17:23] lognaturel commented on #2673
Please file feature requests on the forum so they can be triaged and specified.

[2018-10-23 17:23] #2673 closed, assigned to nobody

[2018-10-23 17:25] lognaturel commented on #2573
Sorry this slipped through the cracks, @florianm. Please file feature requests on the forum so they can be discussed, triaged and specified. There are lots of questions here about what the behavior should actually be that warrant discussion with the broader community.

We try to keep the issue tracker focused on issues that have a clear desired result and can be closed by a PR.

[2018-10-23 17:25] #2573 closed, assigned to nobody

[2018-10-23 18:01] lognaturel commented on #2671
Thank you, you are absolutely right, @kkrawczyk123! I have fixed that issue. Now in #2619 you should see the "no sheet id" message for each submission that failed. Once that one gets merged, it will get the improved message from #2648.

[2018-10-23 21:12] grzesiek2010 opened #2675 "Notifications are not visible on Android 8 when targetSdkVersion is set to 26."
#### Software and hardware versions
Android 8

#### Problem description
Notifications are not visible on Android 8 when targetSdkVersion is set to 26.

#### Steps to reproduce the problem
1. Set [targetSdkVersion](https://github.com/opendatakit/collect/blob/master/collect_app/build.gradle#L73) to 26
2. Try to get any notification from ODK Collect - the easiest way is to enable auto-send option in

[2018-10-23 22:40] grzesiek2010 opened #2677 "Use bikram-sambat appearance instead of nepali"
#### Software and hardware versions
Master branch.

#### Problem description
Use `bikram-sambat` appearance instead of `nepali`.
We agreed on slack that since this calendar implemented in #2620 is used in other countries as well it would be better to use `bikram-sambat` appearance.

[2018-10-23 23:04] #2677 closed, assigned to grzesiek2010

[2018-10-24 00:21] joeflack4 commented on #2672
@lognaturel Hey Helene. Thanks for the response. I'll go ahead and do that.

Should we update the default text of new issues to suggest going to the forum? Right now it says:

If you want it updated, I can make a PR.

[2018-10-24 00:22] joeflack4 commented on #2673
Will do~

[2018-10-24 00:23] lognaturel commented on #2672
That would be awesome, thank you!

[2018-10-24 00:34] joeflack4 commented on #2672
@lognaturel Waiiiiit a minute. You already touched on this in a PR today on the readme file, haha. Ok, I'll use some of that text.

[2018-10-24 00:34] yanokwa opened #2679 "No peer certificate after server security change to SSLProtocol +TLSv1.2 +TLSv1.1"
#### Software and hardware versions
v.1.17.2

#### Problem description

...

https://forum.opendatakit.org/t/odk-collect-error-no-peer-certificate-after-server-security-change-to-sslprotocol-tlsv1-2-tlsv1-1-instead-of-tls1/15630

#### Other information
Older versions of Android don't support newer versions of TLS and I'm not sure there is an easy way to retrofit it. https://github.com/square/okhtt

[2018-10-24 07:30] mmarciniak90 opened #2681 "Checkboxes are selected automatically in Multi select autocomplete widget"
#### Software and hardware versions
Collect v1.17.2

#### Problem description
Checkboxes are selected automatically in Multi select autocomplete widget

#### Steps to reproduce the problem
1. User is on select_multi type with autocomplete appearance
2. User selects one option <- **necessary step**
3. User searches other option but does not select checkbox
4. User sees that checkbox is selected aut

[2018-10-24 09:09] kkrawczyk123 commented on #2671
Confirmed that it is fixed in https://github.com/opendatakit/collect/pull/2619!

[2018-10-24 11:26] #2675 closed, assigned to grzesiek2010

[2018-10-24 11:47] mmarciniak90 opened #2683 "Gregorian date in Islamic/Coptic/Ethiopian/Nepali date widget should be visible in the language which is set in device"
#### Problem description
Gregorian date in Islamic/Coptic/Ethiopian/Nepali date widget should be visible in the language which is set in device

#### Steps to reproduce the problem
1. The user has set other device language than English
2. The user adds date to Islamic/Coptic/Ethiopian or Nepali date wigdet
3. Gregorian date is visible in English

| | | |
|---|---|---|
|![screenshot_20181024-133933

[2018-10-24 11:55] #2681 closed, assigned to grzesiek2010

[2018-10-24 13:26] #2642 closed, assigned to cooperka

[2018-10-24 13:38] seadowg commented on #2086
@opendatakit-bot claim

[2018-10-24 13:40] seadowg commented on #2086
@cooperka that makes sense to me. Would it also be good to clear the imported settings as well so the app is back in a working state?

We could offer the user an option to clear that but that feels like it might be another story/issue 😀

[2018-10-24 14:10] kaftand commented on #2528
Yes! Still working on it! In the field right now so internet is crap. Hopefully can finish up this weekend!

[2018-10-24 14:24] seadowg commented on #2086
OK I've debugged through this and had a think about it (and a wee chat with a designer) it feels to me like 2 changes makes sense:

- [ ] Validate at least the types upfront when you import from QR. It'll be interesting to see how much we can base the validation on the xml preferences validation. This feels like the best way to prevent someone from getting in broken state.
- [x] Show a toast with

[2018-10-24 17:18] #2499 closed, assigned to lognaturel

[2018-10-24 17:18] #1992 closed, assigned to nobody

[2018-10-24 17:19] #2671 closed, assigned to nobody

[2018-10-24 17:24] lognaturel opened #2684 "Auto-send triggered even if wrong connection type is available"
#### Software and hardware versions
Collect v1.18 beta, Android v6.0, Moto G Play

#### Problem description
First reported by @kkrawczyk123 [here](https://github.com/opendatakit/collect/pull/2619#issuecomment-432207336):

#### Steps to reproduce the problem
1. Set auto-send to "Wifi only"
1. Turn off wifi but leave cellular on
1. Finalize a form

The form is sent even though it shouldn't be.

1. S

[2018-10-24 17:34] lognaturel commented on #2684
I unfortunately don't have a device with a SIM so I'm not entirely confident about the behavior with different connection types. In current master on devices other than that Moto G Play, is it the case that if you set auto-send to wifi only and turn on cellular, nothing happens? And then if you turn on wifi, auto-send is successfully triggered? That would be the intended behavior and I think @kkra

[2018-10-24 20:52] lognaturel commented on #2086
The first point is sounding great to me! I think there is some good cleanup to do around the way values of different types are interpreted though I haven't looked at that code recently.

I'm not exactly sure I follow the second -- do you mean the blank screen would be shown as the backdrop to the toast and then it would go back to the import/export screen or something else?

[2018-10-24 21:03] seadowg commented on #2086
Sorry that description is a little confusing! I meant that it would show an error to the user when the user visits **General Settings > Server** and the preferences are "corrupt" (there is an exception when calling `addPreferencesFromResource`).

After actually playing around with it (in 6827bbb) it seems that the absolute simplest fix (for if the user us already in the broken state not for preven

[2018-10-24 21:20] shobhitagarwal1612 commented on #2086
I am in the favor of failing early as it is important to let the user know that the problem is in the imported settings and hence the QR Code. So it needs to be fixed before it is used by other enumerators.

[2018-10-25 03:14] lognaturel commented on #2086
I agree with @shobhitagarwal1612 that failing early is the ideal. It should be clear to the user right away that their setting import did not work.

I would tend not to do anything special for the case where the preferences have already become corrupt because that will go away and I doubt many people will have gotten there since it would imply they were writing their own QR codes instead of going

[2018-10-25 05:04] florianm commented on #2573
@lognaturel will do, thanks!
Edit: https://forum.opendatakit.org/t/make-it-easier-to-set-username/15909

[2018-10-25 07:03] seadowg commented on #2086
Yeah I agree. Failing when the QR code is scanned is the best place to
catch this.

A question: are we worried about people already being stuck in this
scenario? I'd thought also showing an error on settings made sense to try
and help them to get out of a broken state (they've already scanned a
broken QR) but if that isn't a scenario that makes sense then I can not
bother with it.

[2018-10-25 10:06] mmarciniak90 opened #2686 "ODK Collect crashes when user changes device orientation on the list with blank forms"
#### Software and hardware versions
Collect current master

#### Problem description
ODK Collect crashes when a user changes device orientation on the list with blank forms

#### Steps to reproduce the problem
1. User clicks on `Fill Blank Form`
2. User sees a list of blank forms
3. User changes device orientation
4. App crashes

#### Expected behavior
Collect should not crash

#### Other informat

[2018-10-25 12:07] kkrawczyk123 opened #2688 "Temporary failed status when sending multiple submissions via SMS."
#### Software and hardware versions
Collect v1.18.x, Android v1.x.x, device used...

#### Problem description
Temporary failed status instead 'queued for submission' when sending multiple submissions via SMS.

#### Steps to reproduce the problem
1. In server settings choose Send submissions via SMS
2. Fill a few submissions of form with odk:tag to send it via sms
3. Go to Send Finalized Form and c

[2018-10-25 12:56] kkrawczyk123 opened #2689 "Choose Google account window opens twice when double click on it"
#### Software and hardware versions
Collect v1.17.2, Android vx.x.x, device used...

#### Problem description
Choose Google account window opens twice when double click on it

#### Steps to reproduce the problem
1. Go to a server, choose Google drive as type
2. Click on Google account twice

#### Expected behavior
Choose Google account window shouldn't open twice.

#### Other information
Things yo

[2018-10-25 15:13] batkinson commented on #2520
The problem here is actually caused by two decisions that I feel are a bit nanny-ish (trying to force users behavior instead of educating and letting them make their own decision). They are:

- Basic authentication pre-emptive auth is only enabled if the URI scheme is 'https'
- The basic auth scopes only allow tcp port 443 or 8443

While I understand the spirit of these, I don't agree with the imp

[2018-10-26 03:48] shobhitagarwal1612 opened #2690 "Refactor: Custom date widgets"
#### Problem description
Currently, there are 4 custom date widgets,
- BikramSambatDateWidget
- CopticDateWidget
- EthiopianDateWidget
- IslamicDateWidget
- Myanmar (In Progress)

But the code in each of them is almost similar. We can have a common class, `CustomDateWidget.java` to reduce this redundancy. This will also remove the overhead of creating one extra class when adding any new calendar t

[2018-10-26 03:54] shobhitagarwal1612 commented on #2690
Proposed plan:
-----------------------------------------------
Adding a date widget generator in `WidgetFactory`:
[code]
-----------------------------------------------
This is how the `CustomDateWidget` class would look:
[code]
Please note that, here I thought of handling the result from date picker the same way, `DateWidget` does it. This way, we can remove the extra implementation in the FormEn

[2018-10-26 09:42] ghost commented on #2670
Hello, I'm interested in taking on this issue. Would ProGuard be the right thing to implement in order to achieve the expected behaviour?

[2018-10-26 12:46] kkrawczyk123 opened #2693 "Wrong failed status message when sending submissions by SMS and there is no sim card on Androids>=6"
#### Software and hardware versions
Collect v1.18.x, Android v6.0, 7.0, 8.1, device used...

#### Problem description
Wrong failed status message when sending submissions by SMS and there is no sim card on Androids>=6
On Android 6 and higher, there is a status:
![screenshot_20181026-143334](https://user-images.githubusercontent.com/33342488/47566829-2908d300-d92d-11e8-9b2c-3f8910573de0.png)

But i

[2018-10-26 13:16] mmarciniak90 opened #2694 "App crashes if the user returns to Get Blank Form view when Storage permission is unselected"
#### Software and hardware versions
Collect v1.18
Collect v1.17.**2**

Collect v1.17.1 works correct

#### Problem description
App crashes if the user returns to Get Blank Form view when Storage permission is unselected

#### Steps to reproduce the problem
1. The user opens the app as the first time and allows Storage permission
2. The user opens Get Blank Form / Delete Saved Form
3. Permission is

[2018-10-26 22:15] zestyping opened #2695 "Upgrade osmdroid library version from 5.6.4 to 6+"
ODK Collect currently uses the org.osmdroid library version 5.6.4, from February 2017.  The latest version of this library is 6.0.1, released February 2018.

There have been several improvements and bug fixes to osmdroid since 5.6.4 that might be nice for us, such as support for higher zoom levels, fractional zoom levels, and geopackage support.  See https://github.com/osmdroid/osmdroid/wiki/Chang

[2018-10-26 22:27] zestyping opened #2696 "OSM base map and MBTiles may disappear at zoom levels 21 or 22"
**NOTE:** This is a placeholder issue. We believe this is likely to be addressed by upgrading osmdroid.  See #2695.

On some phones, when you zoom all the way to zoom level 22 on an OSM map (in the GeoTrace or GeoShape activity), the base map tiles disappear, leaving just a blank grid.

@ivangayton reports:

On @zestyping's two phones (Sony Xperia Z3 compact, Huawei LYO-L21), exactly the above beh

[2018-10-26 22:27] zestyping commented on #2696
Please do not claim this issue until #2695 is addressed.

[2018-10-27 07:37] shobhitagarwal1612 commented on #2670
Hello @jsaroya and welcome to the community.
Proguard is already enabled but the purpose of that is to remove those classes while compiling the apk. This issue is to detect those unused classes during static code analysis check (pmd, lint, checkstyle, spotbugs)

[2018-10-27 08:44] ghost commented on #2670
Thank you for the clarification Shobhit. I'm new to open source and looking for a good first issue to start with.

In order to fix this issue I need to modify the corresponding xml files within the config package, is that right? Just want to confirm before I begin.

[2018-10-27 09:31] shobhitagarwal1612 commented on #2670
Yes, that's what I would also start with.

If you haven't already introduced yourself to the community, please have a look at https://forum.opendatakit.org/t/introduce-yourself-here/6671

Also, join our slack channel #collect-code for asking any queries or questions regarding development.

:smile:

[2018-10-27 09:39] shobhitagarwal1612 commented on #2670
If you would like to work on this issue, please comment `@opendatakit-bot claim` so that the bot can assign this issue to you

[2018-10-28 00:52] ghost commented on #2670
Ok, I'll make sure to do that. :)

@opendatakit-bot claim

[2018-10-28 03:33] shobhitagarwal1612 commented on #2694
@opendatakit-bot claim

[2018-10-29 12:19] #2686 closed, assigned to grzesiek2010

[2018-10-29 18:24] #2688 closed, assigned to grzesiek2010

[2018-10-29 22:15] yanokwa opened #2700 "Fix ImpliedQuantity lint"
Filing comment from https://github.com/opendatakit/collect/pull/2698 so we don't forget.

[2018-10-30 00:53] lognaturel commented on #2666
Thanks for looking into this, @shobhitagarwal1612!

There are some governance questions here that I think are worth taking a step back to discuss. First, what is the reason for these license headers and how much leeway is there in their structure? https://github.com/opendatakit/governance/issues/2 is the corresponding governance issue. There isn't really a clear conclusion there.

I try to enforce

[2018-10-30 03:36] shobhitagarwal1612 commented on #2666
I agree that it's a tricky part and I've always been extra conscious while editing/adding the license headers.

So what you're suggesting is

[code]

[2018-10-30 12:17] grzesiek2010 commented on #2684
I tried to reproduce with the master branch the issue but no avail everything looks fine. Please try again @kkrawczyk123 if it's ok you can use the commit a81f7a66dd24039758db03693e6b0f889ed34b34 it's the one you commented under. Maybe it was something wrong with that version.

[2018-10-30 15:19] kkrawczyk123 commented on #2684
@grzesiek2010, I also couldn't reproduce it on the newest master which is very weird ;o I am trying to think about some other conditions that could influent on that.

[2018-10-30 15:22] grzesiek2010 commented on #2684
Maybe there was something wrong in the middle of that pr. If it works well and it's confirmed by two of us I think we can close.

[2018-10-30 19:21] lognaturel opened #2705 "Improve naming of filtered form list including only newest"
https://github.com/opendatakit/collect/pull/2691 introduces a new content URI for getting only the newest version of each form_id. I named it `uniqueFormsByFormId`. In a conversation with @zestyping, he suggested `newestFormsByFormId` but I completely forgot to make the change.

Since this is user-facing but not documented yet, I propose we make the change now as part of a hotfix.

[2018-10-30 22:25] grzesiek2010 commented on #2690
Seems like a reasonable idea but let's wait for #2662 first.

[2018-10-31 03:44] yanokwa opened #2706 "Ensure fork release builds do not conflict with ours"
#### Software and hardware versions
master

#### Problem description
We are seeing analytics data from developers who have built release builds. Either these folks are seeing the `odkCollectRelease` buildType in Android Studio and running that without reading the comment or they are creating their own release builds and inheriting the google-services.json file we have in the root directory.  we ar

[2018-10-31 17:48] lognaturel opened #2709 "NullPointerException when auto-deleting sent filled forms"
#### Software and hardware versions
Collect v1.18.0, Android v7.0

#### Problem description
After an auto-send, there's a crash when deleting the filled form.

[Play Store report](https://play.google.com/apps/publish/?account=6923365842552008664#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=3062&clusterName=apps/org.odk.collect.android/clusters/de91a609&detailsAppVersion=3062&deta

[2018-10-31 19:22] lognaturel opened #2710 "Add Firebase Performance Monitoring"
https://github.com/opendatakit/collect/pull/2508 added Firebase Performance Monitoring. It went out in a beta and provided some interesting insights like network delays that users are experiencing in different locales and screens that take a long time to load.

We then saw crashes related to the dependency in https://github.com/opendatakit/collect/issues/2542 and removed it before going to product

[2018-10-31 19:33] lognaturel commented on #2700
To provide a bit more context, while some languages like English only have singular (1 item) and plural (multiple items), some languages have more complex grammar around quantities. From the lint docs:

[code]

The SMS sending string has two variants:
- `Submitting form as a single message.`
- `Submitting form, sending message %1$d of %2$d`

We get a lint failure for slavic languages (Slovene, Ukr

[2018-11-01 01:18] #2359 closed, assigned to nobody

[2018-11-01 01:27] lognaturel opened #2711 "Make rating widget stars orange"
In https://github.com/opendatakit/collect/pull/2585, @akshay-ap introduced a star-based rating widget. Currently, the filled star color is the theme icon color (black for the default light theme and white for the dark theme).

In https://github.com/opendatakit/collect/pull/2585#issuecomment-434836043, @smoyth points out that orange is a common color for these types of ratings questions that is cul

[2018-11-01 01:28] lognaturel commented on #2711
@shobhitagarwal1612 I think this color works for both dark and light themes. Should it be introduced once as something like `highContrastHighlight` or do you think both themes should have it defined separately even if the value is the same? That would be something like `lightHighContrastHighlight` and `darkHighContrastHighlight`.

[2018-11-01 02:01] lognaturel commented on #2652
#2654 fixes this for many devices but there appear to be some devices for which it doesn't work. If someone has one of those devices with an SDCard and can identify what they expect, there may be more improvements to make.

[2018-11-01 02:09] shobhitagarwal1612 commented on #2711
Using a single color resource sounds like a better idea. The other option would require addition of another attribute and then adding it to both of themes in `theme.xml` which isn't required if both themes are going to have the same value

[2018-11-01 02:11] akshay-ap commented on #2711
@opendatakit-bot claim

[2018-11-01 02:16] lognaturel commented on #2709
On further analysis, I really don't think this can be a permissions problem since `delete` does the check right before.

I hesitate to add a null check because this has only happened once so far and seeing if it happens more might give us some hints as to what's going on. Unless anyone else has any ideas, I'll close this and re-open only if it keeps happening.

[2018-11-01 02:51] #2633 closed, assigned to huangyz0918

[2018-11-01 03:04] #567 closed, assigned to nobody

[2018-11-01 03:04] shobhitagarwal1612 commented on #567
We are already using `checkstyle` to enforce the code styling

[2018-11-01 15:48] shobhitagarwal1612 opened #2714 "Animations while navigating in Settings"
#### Software and hardware versions
Collect v1.18.0

#### Problem description
In `General Settings` and `Admin Settings` when we move into the next level of setting, no animation effect is applied.
Every screen in the app follows a entry/exit transition animation. Same should also be followed in the settings for consistency (eg. Click `Fill blank form` and press back. Notice the animation effect)

[2018-11-01 17:20] shobhitagarwal1612 opened #2715 "Memory leak due to Dexter library"
#### Software and hardware versions
Collect v1.18.0

#### Problem description
The current version of [Dexter](https://github.com/Karumi/Dexter) causes memory leaks

#### Steps to reproduce the problem
1. Enable `leak canary` for debug build by using `Collect` application class instead of `TestCollect` in debug/AndroidManifest.xml
2. Run the app
3. Leak canary detects memory leak in `SplashScreenAc

[2018-11-01 17:43] #2711 closed, assigned to akshay-ap

[2018-11-01 17:51] shobhitagarwal1612 opened #2716 "Memory leak in MainMenuActivity"
#### Software and hardware versions
Collect v1.18.0

#### Problem description
Leak canary detects memory leak in `MainMenuActivity`

#### Steps to reproduce the problem
I don't know the exact steps of how to reproduce it but it happened while I was trying to remove a blank form and then coming back to the menu screen

#### Expected behavior
No leaks should happen

#### Other information
Stack trac

[2018-11-01 18:19] shobhitagarwal1612 commented on #2670
https://github.com/evernat/dead-code-detector/wiki/Usage

[2018-11-01 19:53] kaftand commented on #2528
@opendatakit-bot claim

[2018-11-01 20:19] lognaturel opened #2717 "Switch all location capture to FusedLocationProvider"
- [x] Implement changes
- [ ] Explore and document how users can force GPS-only results
- [ ] Understand and document implications for external high-precision GPS sensors
- [ ] Document implications for accuracy and location data availability for user-facing docs

`FusedLocationProvider` is the location provider recommended by Google. It's supposed to balance accuracy, resource usage, etc.

Collec

[2018-11-01 21:36] lognaturel opened #2718 "Use highContrastHighlight in grid widget"
https://github.com/opendatakit/collect/pull/2713 introduced the `highContrastHighlight` color resource. This is the same color as is used by `GridMultiWidget` and `GridWidget` for identifying selected items.

Those two grid widget classes currently set the color using red, green and blue decimal values. They should use the `highContrastHighlight` resource instead to guarantee consistency.

[2018-11-02 10:09] grzesiek2010 opened #2720 "listFiles() in InstanceProvider#deleteAllFilesInDirectory() might retrun null"
#### Software and hardware versions
Collect v1.18.0 and older versions

#### Problem description
[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bd8bc81f8b88c2963df7a42?time=last-seven-days&sessionId=5BDB3E2F00D900012E8840DAE12BAEB1_DNE_1_v2) (requires auth):

[code]

[2018-11-02 10:19] grzesiek2010 commented on #2720
Ahh it's the same https://github.com/opendatakit/collect/issues/2709 so I'm going to close this issue.

[2018-11-02 10:19] #2720 closed, assigned to grzesiek2010

[2018-11-02 10:22] grzesiek2010 commented on #2709
From my experience, I know that sometimes `listFiles()` method might return null probably it's a random issue really rare. We have already fixed some similar problems just adding a null check. I wanted to do that the same here but I've just noticed you have a different idea. I don't think putting that on hold helps because as I said it's a random issue (I mean there is nothing more we can do here)

[2018-11-02 10:24] grzesiek2010 commented on #2709
If you agree you can just reopen my pr #2721

[2018-11-02 10:32] shobhitagarwal1612 commented on #2709
I have noticed this when storage permission is not granted.

[2018-11-02 10:34] shobhitagarwal1612 commented on #2709
I encountered it while working on PR https://github.com/opendatakit/collect/pull/2697 and have fixed the issue in that PR

[2018-11-02 11:13] lognaturel commented on #2709
Thanks, @shobhitagarwal1612! That PR makes pretty significant behavior changes that have not been discussed so it’s not a candidate for a point release. If you have the time, please issue a PR to narrowly fix this crash. If you don’t, I can do it during my day.

[2018-11-02 11:45] grzesiek2010 commented on #2709
I'm not sure if it's related. I saw the same issue a long time ago before we started using new permissions. Additionally, in all other cases, it crashes when the permission is not granted so why not here.

[2018-11-02 19:11] yanokwa opened #2722 "Form styling is not applied in choices in Collect"
#### Software and hardware versions
Collect v1.18, Collect v1.17

#### Problem description
Form styling is not applied to choices.
https://forum.opendatakit.org/t/form-styling-is-not-applied-in-choices-in-collect-v1-18/16050

#### Steps to reproduce the problem
Use this form [TestColorChoices.xlsx.zip](https://github.com/opendatakit/collect/files/2543824/TestColorChoices.xlsx.zip) and you'll see t

[2018-11-02 19:36] lognaturel commented on #2471
In https://github.com/opendatakit/collect/pull/1871#issuecomment-435341476, @seadowg mentioned that he has DI/Dagger experience and is interested in helping clean things up and provide a model and framework for others to keep building in a consistent direction. It sounds like he and @shobhitagarwal1612 have started conversations around that.

I think what is really important is to make sure that t

[2018-11-02 19:47] lognaturel commented on #2709
[Here](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bd8bc81f8b88c2963df7a42?time=last-seven-days&sessionId=5BD9AABE024C00011ABFE163D8DF4123_DNE_0_v2) (requires Crashlytics credentials) is a report from an Android 5 device. While [`listFiles` does seem to return null without permissions](https://stackoverflow.com/qu

[2018-11-02 19:47] #2709 closed, assigned to nobody

[2018-11-02 23:59] lognaturel commented on #2720
Heh, I can see why you filed it. It really looks like it's something wrong with new code that should be fixed. Let's keep an eye on it! 👍

[2018-11-03 00:02] #2706 closed, assigned to nobody

[2018-11-03 05:14] ajwad-shaikh commented on #2718
@opendatakit-bot claim

[2018-11-04 13:11] ajwad-shaikh commented on #2718
I am setting a public final int BACKGROUND_ORANGE to get Resource int (highContrastHighlight) and then passing it to the setBackgroundColor directly.

I have compiled and tested the code later. No errors were noticed and the color shade showed up perfectly in the sample form Grid Widget.

[2018-11-04 13:43] ajwad-shaikh commented on #2718
Submitted PR https://github.com/opendatakit/collect/pull/2725

Thank you for the opportunity!

[2018-11-04 14:09] ajwad-shaikh commented on #2718
Apologies. Unused imports causing circleci tests to fail. Submitting another PR after cleaning the code.

[2018-11-04 16:46] Stafedor commented on #2714
Hello @shobhitagarwal1612, can I work on this issue ?

[2018-11-04 19:00] ajwad-shaikh commented on #2718
I'm so sorry to have crowded so many PRs. The final PR #2727 qualifies both the CircleCi tests and also solves the issue.

Thanks for letting me work on this!

[2018-11-05 05:22] shobhitagarwal1612 commented on #2714
Hey @Stafedor, please claim the issue by commenting `@opendatakit-bot claim` below

[2018-11-05 07:31] Stafedor commented on #2714
@opendatakit-bot claim

[2018-11-05 11:03] #2722 closed, assigned to grzesiek2010

[2018-11-05 11:13] #2705 closed, assigned to lognaturel

[2018-11-05 14:43] grzesiek2010 opened #2728 "Can not perform this action after onSaveInstanceState"
#### Problem description

[From Crashlytics](https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bd8ff99f8b88c2963e6a51e?time=last-seven-days) (requires auth):

[code]

[2018-11-06 01:23] grzesiek2010 commented on #2728
### Steps to reproduce the issue:
1. Download a big image from the internet.
2. Open any form with `ImageWidget`.
3. Try to choose the downloaded image.
5. Turn off the screen while the progress dialog is visible.
6. Wait a few seconds to be sure the process of attaching the image is done.
7. Turn on the screen again.

[2018-11-06 20:08] #2718 closed, assigned to ajwad-shaikh

[2018-11-07 14:55] ajwad-shaikh commented on #2683
@opendatakit-bot claim

[2018-11-07 15:03] ajwad-shaikh commented on #2683
@lognaturel  @mmarciniak90  I think there's an easy fix to this.

The `getCustomDateTimeLabel` function in `DateTimeUtils` is set to `Locale.US`

[code]

I tried changing the `Locale.US` to `Locale.getDefault()` . ***The Problem was solved!***

However, I am not sure if there are any other implications of this change.

@lognaturel  need some insight on if `Locale.US` was set for a reason.

[2018-11-07 16:58] #2728 closed, assigned to grzesiek2010

[2018-11-08 10:31] ajwad-shaikh commented on #2683
@shobhitagarwal1612 Do you have any insight on if the change could have other implications?

[2018-11-08 15:47] shobhitagarwal1612 opened #2731 "Error logs while opening "All Widgets" Form"
#### Software and hardware versions
Collect v1.18.0, Android v8.1.0, Motorola G5 Plus...

#### Problem description
Below error is logged while opening `All-Widgets` form but app doesn't crash
[code]

#### Steps to reproduce the problem
Goto `Fill Blank Form` and choose the `All Widgets` form

#### Expected behavior
No error logs

[2018-11-09 15:01] ggalmazor commented on #2715
@opendatakit-bot claim

[2018-11-10 00:45] jnm commented on #142
I'm not requesting that this be reopened, but since I found myself here after reading the (2014) discussion that prompted this issue, I thought I'd include a link for future wanderers: https://forum.opendatakit.org/t/external-app-help-with-intent-syntax/3465

[2018-11-11 18:21] Sub-Zero-1 commented on #2542
Same here:

Fatal Exception: java.lang.NoClassDefFoundError
com.google.android.gms.internal.firebase-perf.zzw

com.google.firebase.perf.metrics.Trace.start (Unknown Source:44)
android.support.v7.app.AppCompatActivity.onStart (AppCompatActivity.java:178)
com.sub_zero.ipostcard.activity.ProductActivity.onStart (ProductActivity.java:583)
android.app.Instrumentation.callActivityOnStart (Instrumentatio

[2018-11-12 00:56] nshestiuk commented on #2652
@opendatakit-bot unclaim

[2018-11-12 18:13] #2715 closed, assigned to ggalmazor

[2018-11-13 16:28] shobhitagarwal1612 commented on #2716
@opendatakit-bot claim

[2018-11-13 16:34] shobhitagarwal1612 commented on #2716
Screenshot of the memory leak:
![image](https://user-images.githubusercontent.com/8918023/48427989-0f221980-e790-11e8-897f-bca01d2afa46.png)

[2018-11-13 16:47] shobhitagarwal1612 commented on #2716
Steps to reproduce the bug:
1. Download a blank form
2. Open the form and save
3. Send finalized form
4. Remove the saved & blank form

I was able to see the memory leak by repeating the above steps 2-3 times

[2018-11-13 21:07] ajwad-shaikh commented on #2683
Expecting an update to continue working on this :(
@shobhitagarwal1612  @mmarciniak90  @lognaturel
Should I send a PR with the change?

[2018-11-13 21:12] shobhitagarwal1612 commented on #2683
Apologies for the late reply.
Yes, please send a PR with the change and if anyone has any other ideas or suggestions then we can discuss it over there as well.

[2018-11-16 18:08] muarachmann commented on #2689
@opendatakit-bot claim

[2018-11-18 14:25] #2693 closed, assigned to grzesiek2010

[2018-11-19 01:41] yanokwa opened #2738 "Google Play Store limits which apps are allowed to use SEND_SMS"
I got a message from the Google Play Store about upcoming changes to the Play Store rules which will affect Collect. I have yet to dig into this, but I wanted to get the text of the message filed in an issue as soon as possible, so we everyone is aware.

[2018-11-20 05:26] yanokwa commented on #2738
I've reached out to some contacts at Google to get a bit more information about our options. I'll update this ticket as I learn more.

[2018-11-20 07:47] #2528 closed, assigned to kaftand

[2018-11-20 07:49] yanokwa commented on #2542
@Sub-Zero-1 What specific version? Is it easy to reproduce? If so, how?

[2018-11-20 15:48] yanokwa commented on #2714
@shobhitagarwal1612 Can you please file another issue to review all transitions so we know where the differences are? Once we have that, it'll be a good place for new contributors like @Stafedor to help with.

[2018-11-26 08:28] muarachmann commented on #2390
@shobhitagarwal1612 i see this has been claimed several times and not yet resolved can i work on this  😃 of course i count on you to guide me.Let me know your thoughts before i claim this thanks

[2018-11-26 13:57] akshay-ap opened #2742 "Crash when device rotates in Rank widget"
#### Software and hardware versions
Collect v1.18.1, Android v7.0, device used : Moto m

#### Problem description

#### Steps to reproduce the problem
1. Open ODK collect, download `All widgets` form.
2. Click `Fill Blank Form` and choose `All widgets`.
3. Go to Rank widget.
4. Click `Rank items` button.
5. Rotate device. (Make sure auto rotation setting is ON).
6. App crashes.

#### Expected beha

[2018-11-26 13:59] akshay-ap commented on #2742
<img src="https://user-images.githubusercontent.com/16358982/49018393-54434400-f1b1-11e8-9fb0-4ceaf899c551.gif" width=35%></img>

[2018-11-26 22:38] xsteelej commented on #2520
Hi @yanokwa, I think this issue is because of the check to only do Basic auth over https. This
has has been carried over with PR: https://github.com/opendatakit/collect/pull/2595.

Do we want to relax this rule?

[2018-11-27 15:35] #2086 closed, assigned to seadowg

[2018-11-28 12:02] muarachmann commented on #2390
@opendatakit-bot claim

[2018-11-28 17:15] ajwad-shaikh commented on #2742
@opendatakit-bot claim

[2018-11-29 14:50] boscacci commented on #2717
@opendatakit-bot claim

As an urban user I don't see why collect doesn't use the fused location whenever it can. 3m is pretty good. I'm not getting any location at all when I'm indoors and can't see GPS satellites. Don't want to step on any toes but also want to try my hand at android development for the first time. Is this a good first issue?

[2018-12-02 05:10] ajwad-shaikh commented on #2742
@shobhitagarwal1612  Need some help. I want my fork rebased to work on this issue but I'm worried that it will add unnecessary commits to my open PR #2736 . Is there a workaround? The PR is behavior verified and ready for merge, I guess. That if you merge is one way. Am I missing something else?

[2018-12-03 09:38] ajwad-shaikh commented on #2742
@shobhitagarwal1612
I added the fixing commits to my earlier PR.
I understood that I should work on different branches for each issue and then send a PR accordingly.
It was too late though. I am slowly getting comfortable with Git. I apologise for being such a novice.
Let me know if there's anything I can do to sort this out. Rest assured, the issues have been fixed.
Thanks.

[2018-12-04 03:18] ajwad-shaikh commented on #2683
Hey @opendatakit-bot , I am working on the issue and the PR is submitted. But it wasn't clean and I'll be submitting another fresh clean PR by EOD

[2018-12-04 20:07] #2742 closed, assigned to ajwad-shaikh

[2018-12-05 10:37] devsparkles commented on #2738
You have to fill the form at "Permissions Declaration Form" that's the approach I am taking today in my organisation since we use sms in developing country to make the use of some critical operation possible even if we are offline thanks to SMS->POST operators(Africa's Talking for example.) I think Google will understand.

[2018-12-05 14:35] grzesiek2010 opened #2747 "Wrong default date in CopticWidget"
#### Software and hardware versions
Collect v1.18.x

#### Problem description
Wrong default date in CopticWidget.

#### Steps to reproduce the problem
1. Open AllWidgets form and navigate to `Coptic date widget`.
2. Oen the date picker dialog

#### Expected behavior
The default date should be the current date.

[2018-12-08 23:13] muarachmann opened #2749 "App refuses to build on Android 3.2.1 if Crashlytics Gradle plugin version is not >= 1.25.4"
#### Software and hardware versions
Collect v1.x.x, Android v3.2.1,

#### Problem description
Project refuses to build nor sync if  Crashlytics Gradle plugin version is not 1.25.4 and higher

#### Steps to reproduce the problem
Get a fresh install of the project and build.

#### Expected behavior
It should build if plugins are correct

If this is valid i can upgrade the `build.gradle` to the neces

[2018-12-09 04:32] #2747 closed, assigned to grzesiek2010

[2018-12-09 04:49] huangyz0918 commented on #2749
The "Crashlytics Gradle plugin" is found in gradle in the `io.fabric.tools:gradle` package as mentioned on https://firebase.google.com/docs/crashlytics/get-started

You should find that in your projects root `build.gradle` file. Similar to this

    buildscript {
        repositories {
            jcenter()
            google()
            maven { url 'https://maven.fabric.io/public' }
        }

[2018-12-09 05:05] yanokwa commented on #2738
@devsparkles If you don't mind sharing, what organization is it, how do you use SMS, and which exception category are you applying under? I ask because I'd like to show Google that perhaps they might want to add another category for SMS transport.

[2018-12-09 05:13] yanokwa commented on #2749
I haven't had a chance to look closely at this, but I think https://forum.opendatakit.org/t/collect-18-0-1-wont-build-in-android-studio-3-2-1/16392 is related.

My preference is to have explicit versions and the most minimal version increase that will allow the build to work.

I would welcome a PR, @muarachmann and perhaps @huangyz0918 can review it.

[2018-12-09 05:49] muarachmann commented on #2749
@yanokwa , @huangyz0918  thanks for your replies i made the changes and my project successfully built up. Will make a PR then

[2018-12-10 00:53] yanokwa commented on #2684
@grzesiek2010 @kkrawczyk123 It sounds like this can be closed. If you disagree, please re-open!

[2018-12-10 00:53] #2684 closed, assigned to nobody

[2018-12-11 04:32] muarachmann commented on #2390
@huangyz0918, @yanokwa , @garglakshya18  could you please help me here. I have a hard time figuring out how to retrive the selected image from google drive. I tried and it retured something like this `acc=x,doc=319`. How can this be useful opening the doc in the SplashActivity

[2018-12-11 06:02] kaftand commented on #2390
Hello @mmarciniak90 , something @nishontan and I discussed was that perhaps we should disable the google drive option for splash screen images. For an app that is so often used without internet connection, it didn't make sense to us to have a minor feature require internet.

see @nishontan last WIP PR https://github.com/opendatakit/collect/pull/2712

[2018-12-11 12:03] #2749 closed, assigned to nobody

[2018-12-11 12:47] huangyz0918 commented on #2731
I tried other kinds of form,  @shobhitagarwal1612. And I believe it's not a general issue, maybe caused by the xml form itself.
BTW, this error log comes from javarosa, should we open the issue there?

[2018-12-11 13:41] grzesiek2010 commented on #2731
@huangyz0918

yes, probably the issue should be moved there. Could you do that? then we can close this one.

[2018-12-11 13:42] huangyz0918 commented on #2731
@grzesiek2010 sure, please close this. 😄

[2018-12-11 13:46] huangyz0918 commented on #2731
I saw there is a similar issue opened in javarosa, please see [here](https://github.com/opendatakit/javarosa/issues/245). I think we don't have to open a new one.

[2018-12-11 13:50] grzesiek2010 commented on #2731
@huangyz0918 You are right. Thanks!

[2018-12-11 13:50] #2731 closed, assigned to nobody

[2018-12-12 11:51] grzesiek2010 opened #2752 "Bugs in SelectOne/SelectMultiple layouts"
#### Software and hardware versions
Collect v1.18.2 and older versions

#### Problem description
I noticed two bugs in SelectOne/SelectMultiple layouts:
1. Text overlaps the arrow icon.
2. RadioButton/Checkbox is not centered vertically.

![screenshot_2018-12-12-12-47-12](https://user-images.githubusercontent.com/3276264/49868005-66a5ba80-fe0c-11e8-9af4-62886a56bf37.png)

![screenshot_2018-12-12-1

[2018-12-13 21:09] grzesiek2010 opened #2756 "Sending forms via SMS doesn't work on Android >= 8"
#### Software and hardware versions
Collect v1.18.*

#### Problem description
Sending forms via SMS doesn't work on Android >= 8

#### Steps to reproduce the problem
Try to send forms via SMS on Android >= 8

[2018-12-14 12:23] #2683 closed, assigned to ajwad-shaikh

[2018-12-14 22:36] grzesiek2010 opened #2759 "Some notifications are not displayed on Android 8"
#### Software and hardware versions
Collect v1.18.x

#### Problem description
Some notifications are not displayed on Android 8
I have noticed that there is no notification once auto-send forms is done or after sending forms via SMS but they are implemented.

[2018-12-15 05:27] anemoiusjerry commented on #2714
Hello can I get an update on this issue? As I would like to work on it if still open

[2018-12-15 11:01] anemoiusjerry opened #2760 "Execute transform error when running collect from android studio"
#### Software and hardware versions
Collect v1.18.2, Android v9.0, Pixel XL API 28 (emulated)

#### Problem description
I am trying to test the app and when following the "Setting up your development environment" section but got build error: java.lang.IllegalStateException

Anyone else had this issue before? I tried googling but all suggested solutions have failed. Thanks

[2018-12-15 12:19] grzesiek2010 commented on #2760
Hi @anemoiusjerry

if you have a problem please as on Slack http://slack.opendatakit.org
or on the forum: https://forum.opendatakit.org/

opening a new issue is not a good way in case of such problems.
Btw. probably this is a solution to your problem:
https://github.com/opendatakit/collect#execution-failed-for-task-collect_apptransformclasseswithinstantrunfordebug

[2018-12-15 12:19] #2760 closed, assigned to nobody

[2018-12-15 12:34] grzesiek2010 commented on #2714
Hi @anemoiusjerry
there is a pull request here https://github.com/opendatakit/collect/pull/2735 but the solution is not satisfying for us. There is no action so we are going to close it and you can try but first please read what was wrong there.

[2018-12-16 05:09] anemoiusjerry commented on #2714
@grzesiek2010 can you clarify the problem for #2735? Is it that the solution plays different animations on different devices?

[2018-12-17 05:49] yanokwa commented on #2714
@anemoiusjerry Have you had a chance to read through the entire conversation at https://github.com/opendatakit/collect/pull/2735?

[2018-12-17 06:37] yanokwa commented on #2756
@mmarciniak90 I want to make sure you see this. Not sure how this got past our testing 😭

[2018-12-17 13:15] mmarciniak90 opened #2761 "App crashes on Selfie Video and Image when permissions are disabled on specific Android 5.1.1"
#### Software and hardware versions
ODK Collect 1.18.2
Android v5.1.1 installed from https://forum.xda-developers.com/s7582/development/rom-cm12-1-galaxy-s-duos-2-trend-plus-t3225297
Samsung Duos

#### Problem description
The user is able to inactive permissions on specific Android 5.1.1

#### Steps to reproduce the problem
1. Camera permission is set to 'Ignored'
2. User tries to get selfie image

[2018-12-17 14:31] #2647 closed, assigned to grzesiek2010

[2018-12-18 13:15] aurdipas commented on #2588
Any update @grzesiek2010 ?

[2018-12-18 13:40] grzesiek2010 commented on #2588
No. The problem is with the repo we used https://github.com/chanmratekoko/mmcalendar/issues/1 so I hope the author is going to fix bugs.

[2018-12-18 16:23] cypherop commented on #2649
@opendatakit-bot claim

[2018-12-21 13:00] #2689 closed, assigned to nobody

[2018-12-21 14:37] shiv07tiwari commented on #2390
@opendatakit-bot claim

[2018-12-21 14:42] shiv07tiwari commented on #2390
@kaftand Can I pick this issue and solve it, or someone is working on it ?

[2018-12-21 19:10] muarachmann commented on #2761
@opendatakit-bot claim

[2018-12-22 11:18] muarachmann commented on #2761
@mmarciniak90 how can i arrive at step one?? please my device isnt having that option i am tried navigating to app settings and odk cant see the ignore , allowed , always ask

[2018-12-22 14:54] grzesiek2010 commented on #2761
@muarachmann
you can try creating a device using an emulator if your phone doesn't have that option.

[2018-12-22 16:57] muarachmann commented on #2761
@grzesiek2010 suspected so cause i am on android 7.0 I will try creating the device pointed out by @mmarciniak90 in the issue and get to test

[2018-12-23 22:12] #2752 closed, assigned to grzesiek2010

[2018-12-24 13:49] muarachmann commented on #2761
@grzesiek2010 , @mmarciniak90 i just created two devices with version(Nexus 5X API 22 and Galaxy Nexus) 5.1 google play services. I cant still get the Privacy guard screen. Any help to the device i can create specifically?

[2018-12-25 14:36] manish3499 commented on #2694
@opendatakit-bot claim

[2018-12-27 15:31] seadowg commented on #2471
@lognaturel @jd-alexander sorry I completely forgot to reply in this thread (we had discussed in #1871). I'm finishing up a PR with a reworked configuration for Dagger and some documentation around patterns.

[2018-12-28 03:46] dcbriccetti opened #2770 "Give JavaRosa what it needs to find external secondary instance files"
Requires JavaRosa code from https://github.com/opendatakit/javarosa/pull/394.

[2018-12-28 23:47] yanokwa commented on #2738
I've sent in the declaration form under task automation. We'll see what happens...

[2019-01-02 07:04] AathmanT commented on #2714
Can I work on this issue?

[2019-01-02 20:14] grzesiek2010 opened #2773 "Log location coordinates in the background"
#### Problem description
As a supervisor, I would like to collect location coordinates in the background to provide evidence that data was collected in a particular place.

More info: https://github.com/opendatakit/roadmap/issues/28

[2019-01-03 11:25] chanmratekoko commented on #2588
Hi @grzesiek2010

You can use with this version.

[code]

And also you can test with this code.

[code]

Hopefully, It can help you.

If you have any questions, please feel free to ask me.

[2019-01-03 12:21] mkaranja commented on #863
Hi all,
Sorry I took long to respond  but since I figured out how to go about it, it's time this issue is closed.
Changing the margins is indeed possible. Just go to the odk zebra printer driver source code (https://github.com/opendatakit/sensordrivers/blob/master/ZebraMzSeriesPrinter/src/org/opendatakit/sensors/drivers/zebra/bt/PrinterDriver.java) and change the print margins

The line to edit in

[2019-01-03 17:06] cypherop commented on #2649
@opendatakit-bot unclaim

[2019-01-03 19:50] boscacci commented on #2717
@opendatakit-bot claim --force

[2019-01-06 19:23] grzesiek2010 commented on #2714
@AathmanT sure but according to my previous comment https://github.com/opendatakit/collect/issues/2714#issuecomment-447565409 it will be accepted only if new animations are consistent with those used by activities across different Android versions.

[2019-01-06 23:11] #2756 closed, assigned to nobody

[2019-01-07 03:23] AathmanT commented on #2714
Okay. Thank you.

[2019-01-07 03:23] AathmanT commented on #2714
@opendatakit-bot claim

[2019-01-08 03:03] paulpv commented on #2738
Any news on this?

[2019-01-08 04:02] yanokwa commented on #2738
I have not heard back. I do know there are a lot of upset developers and users. It's very frustrating.

* https://www.androidpolice.com/2019/01/05/googles-new-sms-and-call-permission-policy-is-crippling-apps-used-by-millions
* https://issuetracker.google.com/issues/117486314

[2019-01-09 15:41] grzesiek2010 commented on #2761
@mmarciniak90
is that Privacy Guard a separate app or what?

[2019-01-10 06:30] yanokwa commented on #2738
Just heard back. We are OK until March 9th, but are still waiting to see if our request is granted.

[2019-01-10 21:03] grzesiek2010 opened #2777 "InstanceUploaderList: IllegalArgumentException: Receiver not registered"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:

[code]

[2019-01-10 21:18] grzesiek2010 opened #2779 "GoogleSheetsUploaderActivity.java:288 NullPointerException"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:

[code]

[2019-01-10 21:36] grzesiek2010 opened #2781 "FormDownloadList: android.database.Cursor.getCount()' on a null object reference"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:

[code]

[2019-01-10 21:46] grzesiek2010 opened #2783 "CursorIndexOutOfBoundsException Index 0 requested, with a size of 0"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:

[code]

[2019-01-10 21:54] grzesiek2010 opened #2785 "MediaUtils.getImageUriFromMediaProvider: Attempt to invoke interface method 'int android.database.Cursor.getCount()' on a null object reference"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:
[code]

[2019-01-10 22:09] grzesiek2010 opened #2787 "FormDownloadList: Fatal Exception: android.view.WindowManager$BadTokenException"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:

[code]

Crash insight:
`This crash is usually caused by your app trying to display a dialog using a previously-finished Activity as a context. For example, this can happen if an Activity triggers an AsyncTask that tries to display a dialog when it is finished, but the user navigates back from the

[2019-01-10 22:20] grzesiek2010 opened #2789 "DownloadFormListUtils: Attempt to invoke interface method 'int android.database.Cursor.getCount()"
#### Software and hardware versions
Collect v1.18.2 and older version

#### Problem description
Firebase crash report:

[code]

[2019-01-10 22:33] grzesiek2010 opened #2791 "ActivityNotFoundException in ArbitraryFileWidget.java line 197"
#### Software and hardware versions
Collect v1.18.2

#### Problem description
Firebase crash report:

[code]

[2019-01-11 06:12] #2791 closed, assigned to grzesiek2010

[2019-01-11 06:21] #2789 closed, assigned to grzesiek2010

[2019-01-11 06:24] #2785 closed, assigned to grzesiek2010

[2019-01-11 06:27] #2787 closed, assigned to grzesiek2010

[2019-01-11 07:03] #2781 closed, assigned to grzesiek2010

[2019-01-11 12:41] grzesiek2010 opened #2794 "android.os.TransactionTooLargeException: data parcel size 1139824 bytes"
### It's the most common crash report!
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b2900d76007d59fcd3f873d?time=last-seven-days&sessionId=5C38630402E400016E37B0FFCA7F084E_DNE_0_v2

#### Software and hardware versions
Collect v1.18.x

#### Problem description
[code]

[2019-01-11 17:01] #2783 closed, assigned to grzesiek2010

[2019-01-11 17:22] #2779 closed, assigned to grzesiek2010

[2019-01-11 17:34] #2550 closed, assigned to nobody

[2019-01-11 19:45] #2759 closed, assigned to grzesiek2010

[2019-01-13 08:37] ravi-kishan commented on #2649
@opendatakit-bot  claim

[2019-01-14 12:03] #2777 closed, assigned to grzesiek2010

[2019-01-14 22:55] boscacci commented on #2717
@opendatakit-bot unclaim

On Mon, Jan 14, 2019 at 6:41 AM Open Data Kit <notifications@github.com>
wrote:

--
Robert Boscacci
​@cinemarob1​
650.759.1367

[2019-01-15 01:02] Zoey-rahimi commented on #2738
Hi,
I received this email too.
We have a Chat app, and it uses SEND_SMS permission to verify the user's number.
I filled the declaration form, and in response, they just extended the time until March 9.

[2019-01-16 10:02] ravi-kishan opened #2801 "Dialog title and positive button not visible in Dark Theme"
#### Software and hardware versions
Collect v1.17.1, Android v7.0 API 24, Motorola Moto G4

#### Problem description
The title and positive button of the showAdditionalExplanation dialog are not visible in Dark Theme in preference activity. The dialog works correctly in other activities.

#### Steps to reproduce the problem
Goto General Settings->User Interface and select Dark Theme
Then goto Gene

[2019-01-16 11:04] ravi-kishan commented on #2801
@grzesiek2010 May I work on this issue?

[2019-01-16 11:06] grzesiek2010 commented on #2801
sure you can claim any not claimed issue. To do that please add a comment:

[2019-01-16 14:45] ravi-kishan commented on #2801
@opendatakit-bot claim

[2019-01-17 08:24] zestyping commented on #507
An update: work has been proceeding on this refactor in #2465 (GeoShape), #2553 (GeoTrace), and #2776 (GeoPoint).  Each of these three pull requests merges the Google Maps version and the OSM version of an activity together into one activity.  The differences in implementation between the Google Map display and the OSM display are encapsulated behind one interface, MapFragment, with two implementa

[2019-01-17 08:54] zestyping commented on #1646
It looks like the problem is that `requestLocationUpdates()` is called but `stopLocationUpdates()` is never called, so the listener stays attached forever.  In fact, `stopLocationUpdates` never appeared anywhere in GeoPointMapActivity, GeoShapeActivity, or GeoTraceActivity back in 2017 when this issue was opened.

Today, this is handled in GoogleMapFragment for all three activities, and it's an ea

[2019-01-17 09:41] mmarciniak90 opened #2804 "Downloaded forms are not visible on Fill Blank Form view"
#### Software and hardware versions
Collect v1.18

#### Problem description
Downloaded forms are not visible on Fill Blank Form view when user opens list first time, they are loaded after when user opens list second time

#### Steps to reproduce the problem
1. User downloads forms
2. User goes to `Fill Blank Form` view
3. User sees that list of form is empty
4. If user opens this view again, forms

[2019-01-17 10:27] zestyping opened #2805 "GeoPoint takes the current location, even though marker was dropped elsewhere"
#### Software and hardware versions
Collect v1.18.0

#### Problem description
When entering a GeoPoint, if the marker is placed by the initial GPS fix or placed by the user tapping the "add marker" button, the marker on the map does not reflect what is saved; the user's current location at the time they tap the "save" button is recorded as the point, instead.

#### Steps to reproduce the problem (

[2019-01-17 19:59] #2649 closed, assigned to ravi-kishan

[2019-01-17 22:38] yanokwa commented on #2805
This does feel like a bug to me. Geopoint without `placement-map` grabs the current location and so maybe the idea was to keep that behavior consistent.

This code was pulled in from GeoODK and so that behavior might have been useful there? Does `git blame` provide any insight? Either way, I think we should fix it.

[2019-01-18 09:45] zestyping commented on #2805
@yanokwa Okay.  Yeah, I'd like to fix this.  I'm assuming you mean after 1.19, right?

If you meant to squeeze it into 1.19, I'm happy to do it and think it will be pretty easy from a code perspective; probably of greater concern is the time to do a code review and another round of QA.

[2019-01-20 09:22] AathmanT commented on #2714
@opendatakit-bot unclaim

[2019-01-20 19:31] muarachmann commented on #2670
@shobhitagarwal1612 i would like to work on this, from the chat i see that i need this tool to use https://github.com/evernat/dead-code-detector/wiki/Usage to get the classes that are not use. What is this to do, remove them or ?? a guide would be helpful thanks 😃

[2019-01-20 19:53] muarachmann commented on #1398
@yanokwa , @lognaturel , @grzesiek2010 i might have a good idea for FAQs. I am ok with the fact for making it a separate section on its on. I propose an expandable layer with header and body. I have built something similar before and i think it will enhance the UI of the app too.

- The header can briefly describe what the faq is all about e.g How to create a form
- The body will contain explanati

[2019-01-20 19:55] muarachmann commented on #1398
Of course the theming will follow suite ODK's theme

[2019-01-21 15:40] #2804 closed, assigned to grzesiek2010

[2019-01-21 17:58] yanokwa commented on #1398
We've had FAQs on the website and removed them because they fall out of date quickly. I'm open to the idea of a tutorial or guide of some sort, but that's a conversation that should happen at https://forum.opendatakit.org/c/features.

Given all that, I think we should close this issue because it's not actionable. What do you think, @grzesiek2010 @shobhitagarwal1612?

[2019-01-21 18:14] shobhitagarwal1612 commented on #1398
I agree with @yanokwa. This issue should be discussed in the forum first

[2019-01-21 18:14] muarachmann commented on #1398
ok @shobhitagarwal1612 , thanks for your reply

[2019-01-21 18:15] grzesiek2010 commented on #1398
I agree so I'm closing it.

[2019-01-21 18:15] #1398 closed, assigned to nobody

[2019-01-21 22:16] yanokwa commented on #2805
Sorry about the delay, @zestyping. Let's wait to get the standing geo PRs merged, then we can take this on for the next release.

[2019-01-22 21:23] yanokwa opened #2811 "Update CircleCI config to work with API 27"
The build breaks with circleci/android:api-27-alpha and https://github.com/circleci/circleci-images/pull/319 looks to only update it. My guess is that the fix is only in circleci/android:api-27.

The goal of this PR is to get the build working with the best api-27.

https://discuss.circleci.com/t/android-platform-28-sdk-license-not-accepted/27768/11

[2019-01-22 22:06] #2811 closed, assigned to nobody

[2019-01-23 01:31] yanokwa commented on #2738
Bit of bad news.

I've reached out to Google to provide more detail about our use-case.

[2019-01-23 08:08] mmarciniak90 opened #2813 "Menu icon is not visible in the bar about logging location coordinates in the background on Android 4.2 and 4.1"
#### Software and hardware versions
Collect https://github.com/opendatakit/collect/pull/2772
Android v4.2, v4.1

#### Problem description
Menu icon is not visible in the bar about logging location coordinates in the background on Android 4.2 and 4.1

#### Steps to reproduce the problem
1. User uses a device with Android 4.1 or 4.2
2. User opens form [AuditTestLocationBackground.xml.txt](https://gi

[2019-01-23 10:24] #375 closed, assigned to nobody

[2019-01-23 10:24] #2773 closed, assigned to grzesiek2010

[2019-01-23 11:46] #2770 closed, assigned to dcbriccetti

[2019-01-23 16:06] #1646 closed, assigned to nobody

[2019-01-23 17:22] yash17525 commented on #2670
@shobhitagarwal1612  I have used the tool(Dead Code Detector) that you have metioned here: https://github.com/evernat/dead-code-detector/wiki/Usage  .And the report provided by this tool is not up to the mark when used on the collect app.It is not showing in it's results the "FormerException" Class ,that you have metioned earlier.

Given below  are images of the report:
![screenshot from 2019-01-2

[2019-01-23 17:24] shobhitagarwal1612 commented on #1640
@opendatakit-bot claim

[2019-01-23 22:17] cooperka opened #2818 "Allow non-logical groups to be "visible" in hierarchy"
#### Software and hardware versions
Collect v1.19

#### Problem description
There was a new feature added in https://github.com/opendatakit/collect/pull/2764 to allow groups to show up in the form hierarchy. Groups must be both **presentable** and **logical** (see [docs](https://opendatakit.github.io/xforms-spec/#groups) for definitions) in order to be visible.

Non-logical groups (groups without

[2019-01-23 22:22] lognaturel commented on #2818
I *think* you have `FormIndex` objects and could use `isSubElement`?

**EDIT**: if the group is not in the instance (which it shouldn't be if there is no `ref`), then I don't think it has a `FormIndex` so that probably won't work.

[2019-01-24 08:28] mmarciniak90 opened #2819 "Keyboard appears and full submission name is not visible if submission name is not editable"
#### Software and hardware versions
Collect v1.19.0-beta
Collect v1.18.0

#### Problem description
Keyboard appears and full submission name is not visible if submission name is not editable

#### Steps to reproduce the problem
1. User opens [instance_name_example.xml.txt](https://github.com/opendatakit/collect/files/2790752/instance_name_example.xml.txt) form.
2. User inputs enter/newline into so

[2019-01-24 11:58] mmarciniak90 opened #2820 "Collect crashes when email is sent during filling form which opens an email app"
#### Software and hardware versions
Collect v1.17.2
Older versions were not verified

Android: 6.0, 7.0, 4.4

#### Problem description
ODK Collect crashes when email is sent during filling form which opens an email app

#### Steps to reproduce the problem
1. User starts form [send-sms.xml.txt](https://github.com/opendatakit/collect/files/2791575/send-sms.xml.txt)
2. User adds an email address
3. U

[2019-01-24 13:19] mmarciniak90 opened #2821 "Bin icon is not visible in form with repeat titles"
#### Software and hardware versions
Collect v1.19

#### Problem description
Bin icon is not visible in form with repeat titles

#### Steps to reproduce the problem
1. User fills the form with repeat titles [1648.xml.txt](https://github.com/opendatakit/collect/files/2791810/1648.xml.txt)
2. User adds a few repeat groups
3. User goes to `Jump screen`

| | | |
|---|----|---|
|![screenshot_20190124-14

[2019-01-24 13:21] mmarciniak90 commented on #2821
@cooperka, you are a specialist in these icons. Could you look at this case? I'm not totally sure that this icon is expected. Thanks!

[2019-01-24 19:09] shobhitagarwal1612 commented on #2670
Looks like findbugs/spotbugs doesn't support this [link](https://stackoverflow.com/questions/4721142/can-findbugs-detect-unused-public-methods) and so does PMD [link](https://sourceforge.net/p/pmd/discussion/188194/thread/37a971e0/)

But Android Studio's inspection tool is able to detect some of them
To try that,
[code]

I thought that this [library](https://github.com/evernat/dead-code-detector/w

[2019-01-24 19:11] shobhitagarwal1612 commented on #2670
@yash17525 That's right, I was playing around with tools when trying to add a automated check but unfortunately, I couldn't find anything promising. As mentioned in the above comment, Android Studio's tool  works well too.

[2019-01-24 22:26] grzesiek2010 opened #2822 "The app crashes after returning from audio recorder with saved audio"
#### Software and hardware versions
Collect v1.18.0 and newer versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5bd8d140f8b88c2963e1df64?time=last-seven-days&sessionId=5C497B1003580001677DBDB8D94F5C85_DNE_0_v2

[code]

#### Other information
I wasn't able to reproduce the issue.
I saw a

[2019-01-25 00:26] grzesiek2010 opened #2824 "App isn't responding and crashes after some time"
#### Software and hardware versions
Collect v1.19.0

#### Problem description
App isn't responding and crashes after some time

[code]
#### Steps to reproduce the problem
1. Open the form attached to this pr: https://github.com/opendatakit/collect/pull/2816
2. Don't add the first group.
3. Navigate forward.
4. Don't add the second group.
5. Navigate to the HierarchyView
6. Click on the up icon.

@

[2019-01-25 01:38] cooperka commented on #2821
Thanks Marzena! You're right this is not expected, there should be a bin. I'll look into a fix tomorrow.

[2019-01-25 09:18] ManojPandey121 opened #2827 "Cannot resolve symbol 'global_tracker' in Collect.java"
`tracker = analytics.newTracker(R.xml.global_tracker);`

[2019-01-25 09:32] awemulya commented on #2827
I am to facing same error when trying to build in Editor.
Am I missing something ??

[2019-01-25 11:00] grzesiek2010 commented on #2827
The `global_tracker` file is generated automatically. Please try to `Build->Clean Project` and `Build->Rebuild Project` and let us know if it helps.

[2019-01-25 11:46] mmarciniak90 opened #2828 "ODK Collect crashes when the user opens form with unexpected element in 'field-list'"
#### Software and hardware versions
Collect v1.18.0, v1.19
Error is visible on v1.17

#### Problem description
ODK Collect crashes when the user opens form with unexpected element in 'field-list'

#### Steps to reproduce the problem
1. User opens form
[g6Error.xml.txt](https://github.com/opendatakit/collect/files/2795888/g6Error.xml.txt)
2. App crashes

#### Expected behavior
Error appears
![06e67

[2019-01-25 14:33] ManojPandey121 commented on #2827
I tried as the suggestion but the problem remains the same. The symbol is not resolved even after clean and rebuild of project.
![global_tracker_err](https://user-images.githubusercontent.com/22314145/51751905-252c4e80-20de-11e9-9503-12863123229f.PNG)

[2019-01-25 23:04] cristofermarin commented on #2738
I have a similar issue, We send the Form at January 8 2019 , we have not received any answer from Google. Yesterday we try to upload a app update and Console did not let us. We are a financial company and we need to verify every user by SMS .  Do you have any idea or email to contact them?

Because this one wont work:
Google Play Support <googleplay-developer-support+no-reply@google.com>

[2019-01-26 00:25] paulpv commented on #2738
@cristofermarin
https://support.google.com/googleplay/android-developer/answer/9047303
Under "Alternatives to common uses"
"SMS OTP & account verification | With the SMS Retriever API, you can perform SMS-based user verification in your app automatically, without requiring the user to manually type verification codes, and without requiring any extra app permissions.If the SMS Retriever API is not

[2019-01-26 00:27] paulpv commented on #2738
@cristofermarin if you filed an exception you should automatically get an extension until March 9th, and I haven't heard of anyone that has an extension not being able to upload an app update due to this policy.

[2019-01-26 00:30] cristofermarin commented on #2738
I will ask to my leader to delete it, I asked before about SMS Retriever API it does not a option. Because if READ permission is a problem as you said we can remove it and let to  the user write it.

Thanks for your comments

[2019-01-26 00:32] cristofermarin commented on #2738
Thanks for this information! I appreciate your time

[2019-01-26 08:36] yash17525 commented on #2670
@shobhitagarwal1612  Thanks for your answer.I would try as suggested by you.

[2019-01-29 01:56] yanokwa opened #2831 "Offering two ways of going up might be confusing"
#### Software and hardware versions
Collect v1.19.x

#### Problem description
In the hierarchy view, we offer two ways of going up. I think the initial idea here was that this would be less confusing for users, but I think it results in two problems.

1. It draws user attention away from the fact that you can now add and delete repeats.
1. It's suggests that the two ups do different things.

####

[2019-01-29 01:58] yanokwa commented on #2831
@smoyth @cooperka I don't remember, but did we explicitly decide to leave the up button. If so, why?

@grzesiek2010 @zestyping What do you think of the current UX of up?

[2019-01-29 05:15] cooperka commented on #2831
I don't remember explicitly deciding one way or the other, but in my opinion I think the "Go Up" button at the bottom should be removed now. That way users will also be directed to the new add/remove buttons at the top.

Having the button at the bottom was frustrating for some users because it required a lot of moving back and forth. The "jump menu" button is at the top when filling forms, so havi

[2019-01-29 05:58] zestyping commented on #2831
I agree with @yanokwa that there should be only one button for going up, and with @cooperka that the one at the bottom is the one that should be removed.

The up button at the top is better, but it is still nonstandard.  Android [has a UX convention for how to do "Up" navigation](https://developer.android.com/training/design-navigation/ancestral-temporal).  Shouldn't we try to follow it?

[2019-01-29 10:32] grzesiek2010 commented on #2831
I was just about to report the same issue and I agree - the one on the bottom should be removed.

[2019-01-29 14:49] cooperka commented on #2831
I'll remove the bottom button.

@zestyping I think the sense in which Android recommends using the "Up" button is slightly different than how we're using it, and it may be confusing to put it there (integrated into the logo on the top left). On Android "up" is to go back in your **app's hierarchy** of screens, but in Collect it goes back in the **form's hierarchy**. It's not really "back" at all,

[2019-01-29 15:16] #2012 closed, assigned to nobody

[2019-01-29 15:29] grzesiek2010 opened #2834 "Add tests for ContentResolverHelper"
#### Problem description
in #2823 we fixed a bug in `ContentResolverHelper` class. This class is not covered with tests at all. It would be good to add some.

[2019-01-29 15:49] #2822 closed, assigned to grzesiek2010

[2019-01-29 15:59] smoyte commented on #2831
I am fine with getting rid of 'Go Up' button if y'all think it won't make people flip out in the field.

If we do get rid of 'Go Up', seems it would be good to keep the up arrow since then folks can hopefully figure out what it was replaced by.

[2019-01-30 00:48] grzesiek2010 opened #2836 "Read-only questions with blank labels are not displayed in FormHierarchy"
#### Software and hardware versions
Collect v1.18.2 and older versions

#### Problem description
In this pr https://github.com/opendatakit/collect/pull/2816 we discovered that read-only questions with blank labels are not displayed in FormHierarchy.

It's strange that a question is not visible in the FormHierarchy but we can navigate to it.

Maybe if a label is empty we can check for hint and disp

[2019-01-30 00:51] grzesiek2010 commented on #2827
What about you @awemulya? You gave thumbs up so it helped I guess?

[2019-01-30 01:25] yanokwa commented on #2836
I don't think showing the hint is the right choice here. I think `[No label]` or something like that would be better. The danger here is that someone might really want a blank label, and it feels weird to override that.  All this to say, I think the current behavior is correct, but I could be convinced otherwise!

[2019-01-30 01:32] grzesiek2010 commented on #2836
I don't understand the inconsistency here.
A question will be displayed in FormHierarchy if it's not read-only no matter if its label is blank but if it's read-only its label must be defined. Why? Even if a question is read-only it might have an answer (default value) so why read-only state is crucial here?

[2019-01-30 01:40] yanokwa commented on #2836
I think I misread the initial issue.

If a question doesn't have a label, it should be displayed, but with an empty label. I don't think whether or not it is read-only should matter.

I don't know why the initial code required a label to show if it was read-only. I agree with @grzesiek2010 that the read-only part is weird (and probably a bad decision we made in the past).

[2019-01-30 01:46] tiritea commented on #378
I dont know the inner workings of how Collect populates a 'screen' (page of questions) but I do think this issue needs addressing somehow soon. Folks are going to start wanting to exploit increasing mobile device screen sizes and resolutions to display more (related) questions at once, particularly select lists with an associated other (!). So I only see the use of field-lists (in ODK) increasing.

[2019-01-30 12:02] #2820 closed, assigned to grzesiek2010

[2019-01-30 12:40] #2821 closed, assigned to nobody

[2019-01-30 12:40] #2824 closed, assigned to nobody

[2019-01-30 12:40] #2831 closed, assigned to nobody

[2019-01-30 14:27] Arnesh07 commented on #2714
@opendatakit-bot claim

[2019-01-30 16:07] #2828 closed, assigned to grzesiek2010

[2019-01-31 12:33] Arnesh07 commented on #2714
@opendatakit-bot unclaim

[2019-01-31 15:59] #2836 closed, assigned to grzesiek2010

[2019-02-01 09:34] grzesiek2010 commented on #2761
Ok, now I understand... Managing permissions is available on Android 6+
in this case, it's Android 5 but with [CyanogenMod](https://en.wikipedia.org/wiki/CyanogenMod) which allows editing permissions on older devices as well.
I think we shouldn't care about not official operating systems we have enough issues caused by differences between original firmware with different versions so that's enough.

[2019-02-01 09:34] #2761 closed, assigned to nobody

[2019-02-01 15:37] yanokwa opened #2844 "Get Collect ready for the Play Store 64-bit requirement"
According to https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html

Starting August 1, 2019:
* All new apps and app updates that include native code are required to provide 64-bit versions in addition to 32-bit versions when publishing to Google Play.
* Extension: Google Play will continue to accept 32-bit only updates to existing games that use Unity 5.6 or older u

[2019-02-03 15:39] shobhitagarwal1612 commented on #1640
@opendatakit-bot claim

[2019-02-04 19:24] grzesiek2010 opened #2847 "Document has no root element!"
#### Software and hardware versions
Collect v1.19.0 an older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b1e1bde6007d59fcd7ce3ad?time=last-seven-days&sessionId=5C57E18402C600013D8BDB7A89A42D26_DNE_0_v2

https://console.firebase.google.com/u/0/project/api-project-322300403941/cras

[2019-02-05 10:25] ManojPandey121 commented on #2827
This is my stack Trace
`FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':collect_app:transformClassesWithInstantRunForDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 5m 23s
37 action

[2019-02-05 10:30] awemulya commented on #2827
My thumbs up is for your quick support. I am getting the same error. as @ManojPandey121

[2019-02-05 10:35] konishon commented on #2827
@ManojPandey121 that log is a completely different issue, disable instant run and try again
![instant](https://user-images.githubusercontent.com/11831955/52267725-ec07a000-2961-11e9-904c-f84cda92e911.png)

[2019-02-05 10:46] ManojPandey121 commented on #2827
And this worked for me. Thank you @nishontan dai.

[2019-02-05 13:25] grzesiek2010 commented on #2827
Great so we can close.

[2019-02-05 13:25] #2827 closed, assigned to nobody

[2019-02-05 13:51] grzesiek2010 opened #2850 "NullPointerException in FormHierarchyActivity#218"
#### Software and hardware versions
Collect v1.19.0 Android 4 and 5

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c57cfdff8b88c2963958034?time=last-seven-days&sessionId=5C57CFDA002E000120AB5CFCA96EFFD4_DNE_0_v2

`Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual meth

[2019-02-05 19:29] grzesiek2010 commented on #1063
There is a pr https://github.com/opendatakit/collect/pull/2800 which removes this widget so we can close the issue.

[2019-02-05 19:29] #1063 closed, assigned to nobody

[2019-02-05 19:31] grzesiek2010 commented on #775
There is a pr which removes this widget so we can close it.

[2019-02-05 19:31] #775 closed, assigned to nobody

[2019-02-05 19:42] grzesiek2010 commented on #1533
I'm closing this issue, we handle most of the problems we had with `FormController` if there is any new we can create a separate issue.

[2019-02-05 19:42] #1533 closed, assigned to nobody

[2019-02-05 19:45] grzesiek2010 commented on #2149
I said that I would close this issue and no one has been against so...

[2019-02-05 19:50] grzesiek2010 commented on #2390
I'm closing this issue because it's more likely we remove the splash screen at all.
The first step to check if the splash screen is used https://github.com/opendatakit/collect/pull/2808
and the issue  issue https://github.com/opendatakit/collect/issues/254

[2019-02-05 19:50] #2390 closed, assigned to nobody

[2019-02-05 21:44] grzesiek2010 commented on #1331
I'm closing it because the issue is no longer visible in our reports.

[2019-02-05 21:44] #1331 closed, assigned to nobody

[2019-02-05 22:26] grzesiek2010 commented on #2660
@tinok
I tried the form you attached using v1.17.2 and the newest one and I can't see any warning. I can open and use the form. Could you provide steps to reproduce the issue or maybe we can close it?

[2019-02-05 22:30] #114 closed, assigned to nobody

[2019-02-06 10:14] #2801 closed, assigned to ravi-kishan

[2019-02-06 10:14] kkrawczyk123 opened #2852 "Unable to choose Google account after Deny the permission window."
#### Software and hardware versions
Collect v1.19.x, Android v6.0, 7.0, 8.1  device used...

#### Problem description
There is no way to choose Google account after Deny the permission window. Clicking on Google account causes no action. It is possible to display Google account window again after screen rotation.

#### Steps to reproduce the problem
1. Go to Settings, Server
2. Choose type Google

[2019-02-06 12:47] grzesiek2010 commented on #2476
It's the same issue like the one described in https://github.com/opendatakit/collect/issues/2475 so I'm closing this.

[2019-02-06 12:47] #2476 closed, assigned to nobody

[2019-02-06 13:52] DreamyPhobic commented on #2852
I like to work on it.
@opendatakit-bot claim

[2019-02-06 23:19] yanokwa commented on #2149
You didn't give me enough time to respond! 😂

I think this was added because with multiple questions on a screen, you might not know what you are removing, so this gives you some of that context. But it's odd that we just take any string even a right to left string and chop it at an arbitrary 50 characters.

I think this is somewhat worthwhile for a contributor to explore how to provide that conte

[2019-02-07 00:40] yanokwa commented on #2738
@grzesiek2010 Feedback from Google has not been positive so far. Can you come up with some ideas for the most minimal change we can make to Collect to responsibly disable the need for the WRITE_SMS permission?

[2019-02-07 13:03] mmarciniak90 opened #2856 "Crash when the user rotates device many times and quickly on GeoWidgets"
#### Software and hardware versions
Collect v1.19.0, older versions were not verified
Android 7.0, 6.0, 5.1, 4.4

#### Problem description
Crach when the user rotates device many times and quickly on GeoWidgets

#### Steps to reproduce the problem
1. User starts form with GeoWidgets with maps appearance
2. User opens question with map
3. User rotates a few times, increasing the speed of rotation
4

[2019-02-07 14:53] mmarciniak90 opened #2857 "Grey bar is not visible in GeoPoint widget when user opens widget again with saved location"
#### Software and hardware versions
Collect v1.17, older versions were not be verified
Google Maps

#### Problem description
Grey bar is not visible in GeoPoint widget when user opens widget again with saved location

#### Steps to reproduce the problem
1. User opens GeoPoint widget with Google map
2. User adds location and clicks on save icon
3. User opens GeoPoint widget again
4. **User sees tha

[2019-02-08 01:48] muarachmann commented on #2670
@yash17525 are on this. If yes let me know. Didnt get notified @shobhitagarwal1612 have been waiting for a reply on this for long. Kinna lost in the whole repo. @yash17525 if interested i will pick up some other issue thanks just let me know :)

[2019-02-08 07:50] huangyz0918 commented on #2857
@opendatakit-bot claim

[2019-02-08 07:56] mmarciniak90 opened #2858 "Icons next to draw options are not visible after first extend the menu"
#### Software and hardware versions
Collect v1.19, older versions were not verified
Discovered during testing #2817

#### Problem description
Icons next to draw options are not visible after first extend the menu

#### Steps to reproduce the problem
1. User opens Draw widget / Annotate widget / Signature widget
2. User clicks on the `+` icon to extend the menu. Options have icons
3. User clicks ag

[2019-02-08 08:24] huangyz0918 commented on #2858
@opendatakit-bot claim

[2019-02-08 10:17] grzesiek2010 commented on #2738
We can hope that the answer you received was automated and you can reach someone from Google and persuade to accept our app.
If not... there is not much we can do. Alternatives are well described https://support.google.com/googleplay/android-developer/answer/9047303

and in our case, it would be calling a default SMS app with the SMS Intent but then a user would need to accept each message manuall

[2019-02-08 10:46] grzesiek2010 commented on #2149
Ok, let's reopen.

[2019-02-08 11:18] #1640 closed, assigned to shobhitagarwal1612

[2019-02-08 11:29] grzesiek2010 opened #2861 "Autoplay option doesn't work"
#### Software and hardware versions
Collect v1.19.0 and older versions

#### Problem description
During testing #2817 we discovered that `autoplay` option doesn't work.
It crashes on 1.19, 1.18, 1.17
There is no crash but it also doesn't work on 1.16, 1.15 ... 1.8 (we didn't check every version between but we can assume it doesn't work in all cases)

#### Other information
@yanokwa I said that pro

[2019-02-09 01:27] yanokwa commented on #2861
I tested autoplay of audio and video media text questions on Collect v1.19.0 and it worked for me on my Moto G5. I've attached the [form.zip](https://github.com/opendatakit/collect/files/2847385/form.zip).

I don't know how it behaves on multiple questions on one screen. Perhaps you can adjust my form, try it and report back?

I agree that it doesn't work on choices and it doesn't show up in the s

[2019-02-10 16:27] shobhitagarwal1612 commented on #2670
@muarachmann Please claim the issue by commenting `@opendatakit-bot claim`

[2019-02-11 04:44] yanokwa commented on #2738
I've been making our case with high-level folks at Google since mid-November. We have not yet been granted an exception and I'm not optimistic we'll be able by March 9th.

@grzesiek2010 I'm aware of the alternatives and the tradeoffs (at least as far as user interaction). Can you come up with a plan to quickly and responsibly disable the feature so we aren't removed from the Play Store? The goal h

[2019-02-11 12:59] #2858 closed, assigned to huangyz0918

[2019-02-11 18:12] #2819 closed, assigned to grzesiek2010

[2019-02-11 18:30] zestyping commented on #2857
@mmarciniak90 As I understand it, the disappearance of the grey bar is intentional and by design.  The bar says "Long press to place mark...".  When there exists a saved location, the user cannot long-press to place a mark, so the instruction is not shown.  After the user deletes the saved location, it is then possible again to long-press to place a mark, so the instruction is shown.  Can you help

[2019-02-11 21:30] cooperka commented on #2818
@yanokwa and I decided to deprioritize this, mainly because:

1. After opendatakit/build#195 all new forms from Build will work by default
1. Old forms will behave the way they always have and won't be affected
1. opendatakit/javarosa#402 added tests for the existing logic
1. The existing behavior had all sorts of edge cases and regressions; updating it yet again is opening a can of worms that has

[2019-02-11 21:53] cooperka commented on #2738
Potential workaround:

I've seen several apps that prompt the user to **temporarily** set itself as the default SMS provider; the app performs any SMS-related functionality; then the default is reset when you exit the app. Some examples that come to mind are [SMS Backup & Restore](https://play.google.com/store/apps/details?id=com.riteshsahu.SMSBackupRestore) and [SMS Search & Delete](https://play.

[2019-02-11 22:36] grzesiek2010 commented on #2738
I'm on it

I doubt they would accept our app with SMS as core functionality.

[2019-02-11 22:36] yanokwa commented on #2738
@cooperka Any idea what would happen if another app tries to send an SMS while we are the default app? Can Collect reject that message somehow?

[2019-02-11 22:41] yanokwa commented on #2818
Agreed that this is high-risk, so I'm going to remove it from the milestone. But I'm going to leave it open because it would be nice to have at some point. But yeah, low priority at this point.

[2019-02-12 01:16] huangyz0918 commented on #2857
The behavior of OSM and the Google Map are inconsistent, the OSM has the bar but the Google Map has not. So I guess this is the reason why @mmarciniak90 consider it as a bug. @zestyping

[2019-02-12 01:56] huangyz0918 commented on #2813
@opendatakit-bot claim

[2019-02-12 03:07] tiritea commented on #378
FYI ran across this one again, translating a form that ask for #male and #female, computes the total, and then does a constraint check against total before proceeding. But because the total computation is in the same field-list it doesn't actually get computed, so you cant proceed. Only way around it it rip the entire field-list apart and display every question separately. This is a serious limita

[2019-02-12 03:09] tiritea commented on #378
BTW Survey123 supports this [I'm translating a Survey123 form] - perhaps ODK Collect can 'plagiarize' how they accomplished it? :-)

[2019-02-12 05:27] yanokwa commented on #378
Survey123 is an entirely different codebase, so I don't think that helps. I think we all agree that it's a problem. It's the who, how, and when that remains the challenge.

[2019-02-12 06:04] tiritea commented on #378
K. I was hopeful perhaps Survey123 was just a (very) old fork of Collect, and there might be something we could reuse... guess not.

FWIW, how I handle this in iXForms is that I basically determine all the (potentially) visible controls in the currently displayed 'page' (ie field-list group or root level page); these are then rendered and that's what you see. Then, whenever any the controls is cha

[2019-02-12 08:13] zestyping commented on #2857
@huangyz0918 Thank you for explaining, I understand.

This issue is obsolete now because the Google Maps activity and the OSM activity have been merged into a single activity after 1.17, so they now have the same behaviour.  The change in the user-visible behaviour of this grey bar is noted in the description of #2776, the PR that merges the two activities into one activity, where it says:

[2019-02-12 08:18] huangyz0918 commented on #2857
@zestyping Thanks for explaining! So this issue is obsolete and should be closed. @mmarciniak90 , and I shall close #2859 too.

[2019-02-12 08:47] abelcallejo opened #2866 "Cannot resolve symbol `DaggerAppComponent`"
# Line

https://github.com/opendatakit/collect/blob/d9e5e665fdac03116e4823093971b9a460c44669/collect_app/src/main/java/org/odk/collect/android/application/Collect.java#L46

`DaggerAppComponent` is imported with the package `org.odk.collect.android.injection.config` but there isn't a class with that name when I checked the java src.

**Java src:** [org.odk.collect.android.injection.config](https://

[2019-02-12 09:04] abelcallejo commented on #2866
Sorry for the nuisance. I was able to resolve it by **Clean Project** then **Rebuild Project**

[2019-02-12 10:54] muarachmann commented on #2670
@opendatakit-bot claim

[2019-02-12 13:36] muarachmann commented on #2670
<sub>[View in Slack](https://opendatakit.slack.com/archives/C35ENHA64/p1549978317003300)</sub>

[2019-02-12 14:43] mmarciniak90 opened #2868 "GeoTrace saved as Polygon few times generates unexpected coordinates"
#### Software and hardware versions
Collect v1.19, older versions were not verified

#### Problem description
GeoTrace saved as Polygon few times generates unexpected coordinates

#### Steps to reproduce the problem
1. User saved Geotrace as Polygon
2. User opens widget again and user DOES NOT change the answer
3. User saved Geotrace as Polygon
4. User repeats these steps a few times
5. User sees

[2019-02-12 14:54] #2866 closed, assigned to nobody

[2019-02-12 15:00] #2857 closed, assigned to huangyz0918

[2019-02-12 15:09] cooperka commented on #2738
We'd need to test it out to be sure, but based on the [Telephony docs](https://developer.android.com/reference/android/provider/Telephony) it sounds like we could just do nothing and the other app would still know a new message arrived. The user wouldn't see a notification that they got a new message, but the message would not be lost. Collect could even show a basic notification.

It's not ideal

[2019-02-12 18:19] seadowg opened #2869 "Use OkHttpConnection rather than HttpClientConnection"
This builds upon the work started in #2849 which introduced a new OkHttp based implementation of `OpenRosaHttpInterface`.

To be confident enough to switch over we need to backfill a set of tests for the original `HttpClientConnection` that define the expected behavior of an implementation of `OpenRosaHttpInterface`. These tests can then also be run against the new `OkHttpConnection` to validate w

[2019-02-12 18:29] seadowg commented on #2869
We can put this together quite nicely with JUnit and an abstract test. Here's an example for a key value store interface:

[code]

[code]

[code]

IntelliJ/Android Studio would even run both test classes here if you hit the run on `KeyValueStoreTest`!

[2019-02-12 18:29] seadowg commented on #2869
@yanokwa happy to be assigned to this!

[2019-02-12 18:54] shobhitagarwal1612 commented on #2670
@muarachmann You can remove one of the unused class and open a PR.

[2019-02-12 20:14] muarachmann commented on #2670
ok will do just that thanks @shobhitagarwal1612

[2019-02-12 20:28] cooperka opened #2870 "Google's Drive Auth API will stop working in Dec 2019"
Android's [Authorizing Android Apps guide](https://developers.google.com/drive/android/auth) has a warning at the top:

Given that the deprecated API is linked to from Collect's [README](https://github.com/opendatakit/collect#using-apis-for-local-development), I'm assuming this affects us. I wasn't able to find an existing issue discussing this so I figured I'd submit one just in case.

Can anyone

[2019-02-12 20:36] zestyping commented on #2856
The exception in the screenshot here looks similar to the one in https://stackoverflow.com/questions/5768857/weird-exception-when-livewallpaper-is-set-in-android.
 However, I'm suspecting that this RuntimeException in WallpaperService is not what causes the crash, because it's shown as only a warning ("W" in front of WallpaperService) in the screenshot above, not an error ("E").

I'm able to cause

[2019-02-12 20:37] yanokwa opened #2871 "Last question in Edit Saved Form view is hidden by Go to Start/End buttons"
#### Software and hardware versions
Collect v1.9.0. Also happens in Collect v1.18.2

#### Problem description
Last question in Edit Saved Form (or Jump) is hidden by Go to Start/End buttons

#### Steps to reproduce the problem
* Download this two question form [basic.xml.zip](https://github.com/opendatakit/collect/files/2857520/basic.xml.zip). The first question in this form has a very very long l

[2019-02-12 20:40] yanokwa commented on #2870
Ugh. It never stops with these deprecations. And they don't give folks a lot of time.

[2019-02-12 20:42] shobhitagarwal1612 commented on #2870
Aren't we already using the Drive V3 REST APIs?

[2019-02-12 20:43] shobhitagarwal1612 commented on #2870
https://developers.google.com/drive/api/v3/about-sdk

[2019-02-13 05:46] abelcallejo commented on #2827
I am getting the same issue. I tried both @grzesiek2010's solution https://github.com/opendatakit/collect/issues/2827#issuecomment-457536987 and @nishontan's solution https://github.com/opendatakit/collect/issues/2827#issuecomment-457536987 but nothing seems to work. `R.xml.global_tracker` is still throwing the message:

[2019-02-13 07:31] zestyping commented on #2868
This is a known existing bug in the previous GeoTrace activity that is preserved in the new GeoTrace activity.  The [plan](https://docs.google.com/document/d/1r3wJrOVDeFQkk4kWMoW29LtLI1vbBChqJ65w1Jyg4YU/edit) is for GeoTrace to always save as a line (not a polygon) and GeoShape to always save as a polygon (not a line), so this behaviour will soon be removed anyway.  I am happy to fix it because th

[2019-02-13 09:40] mmarciniak90 opened #2873 "Add icon with action 'Zoom to saved feature' to all Geo widgets"
#### Software and hardware versions
Collect with #2865

#### Problem description
`Zoom to saved feature` action was totally removed from all Geo widgets.

#### Steps to reproduce the problem
Use case 1:
1. User opens one of the Geo Widgets with map
2. User selects a different location than the current location
3. User clicks on `My location` icon (even by accident)
4. User is moved to current loca

[2019-02-13 10:07] mmarciniak90 commented on #2856
@zestyping I did not add this to #2806 because it was also visible on v1.19, it is mentioned in the description.

* I used `All widgets` form
* All Geo widgets crashes

Both, Google maps and OSM

* From the vertical orientation to horizontal orientation and vice versa
* Few times
* I try to rotate the device faster and faster

[2019-02-13 10:27] grzesiek2010 commented on #2856
@zestyping The crash @mmarciniak90 discovered is visible in our reports:

[code]

so I hope it will help you.

don't ask it could be like https://www.youtube.com/watch?v=qd9DogTgCEI&t=73s :wink:

[2019-02-13 11:03] grzesiek2010 commented on #2871
The last question is not covered by buttons it just doesn't exist in the list...
you can test `All widgets` from there everything is fine. It's a bug, in this case, it takes place because your first question is in another group. If I remove the group everything works fine [basic2.xml.txt](https://github.com/opendatakit/collect/files/2860028/basic2.xml.txt)
@cooperka since you implemented all those

[2019-02-13 13:17] wbagais opened #2874 "./gradlew testDebug: failed test in PermissionsTest. permissionCheck"
Software and hardware versions
Collect v 2.0, Android v 3.2.1, mac

### Description
after cloning the project, I tried to run the test command `./gradlew testDebug` in mac terminal, and I get below errors:

#### in Test Summary:
PermissionsTest. permissionCheck:

* java.lang.AssertionError: Expected permission android.permission.READ_PHONE_STATE is missing from AndroidManifest.xml

Stander error:

[2019-02-13 16:05] cooperka commented on #2871
I confirmed that this is a bug since at least November, v1.18.0 (before any of my changes). I'll look into a fix since I'm familiar with the logic.

[2019-02-13 17:37] yanokwa commented on #2874
Collect v1.2.0 is a very old version. Are you sure that's the version you are running?

[2019-02-13 19:50] zestyping commented on #2856
Ahh, _that's_ what @mmarciniak90 is doing when performing QA!  😆  Amazing skills!

[2019-02-14 02:43] wbagais commented on #2874
@yanokwa no the version is 2.0 January 2004

[2019-02-14 03:34] yanokwa commented on #2874
There is no Collect v2.0. Perhaps you are using a fork? Either way, we don't provide developer support for forks or code from 15 years ago, so I'm closing this issue.

[2019-02-14 03:34] #2874 closed, assigned to nobody

[2019-02-15 08:40] grzesiek2010 opened #2880 "TriggerWidget crashes when a user tries to open it from the hierarchy"
#### Software and hardware versions
Collect v1.19.0 and older versions

#### Problem description
TriggerWidget crashes when a user tries to open it from the hierarchy when it contains guidance.

#### Steps to reproduce the problem
1. Enable guidance in `General Settings -> Form management -> Show guidance for questions`
2. Open the attached form:
[guidance_hint_form.xml.txt](https://github.com/ope

[2019-02-15 19:11] grzesiek2010 opened #2883 "The southeast button is not an intuitive way of jumping to the hierarchy."
#### Software and hardware versions
All versions

#### Problem description
The southeast button is not an intuitive way of jumping to the hierarchy.

probably something like:
https://www.google.com/search?q=hierarchy+icon&tbm=isch&source=univ&sa=X&ved=2ahUKEwiY4vCruL7gAhXCAxAIHVsuBiIQsAR6BAgAEAE&biw=1855&bih=966
or
https://www.google.com/search?biw=1855&bih=966&tbm=isch&sa=1&ei=ig5nXKrwDa7nrgSfmrr

[2019-02-15 19:16] grzesiek2010 opened #2884 "Starting a new form from the hierarchy view might be confusing"
#### Software and hardware versions
All versions

#### Problem description
Starting a new form from the hierarchy view might be confusing. it happens when we are restoring data.

#### Steps to reproduce the problem
1. Open any blank form
2. Kill the app
3. Open the same blank form [hierarchy view is shown]

I can see two improvements:
1. A dialog or a snackbar that shows a message about restored d

[2019-02-15 19:25] grzesiek2010 opened #2885 "Back button always closes the hierarchy view"
#### Software and hardware versions
All versions

#### Problem description
Back button always closes the hierarchy view

If a user navigates through groups/questions it's confusing that clicking on the back button causes returning to `FormEntryActivity` instead of going back to the previous level of the hierarchy.

[2019-02-15 19:33] grzesiek2010 commented on #2883
Maybe something like https://www.google.com/search?q=hierarchy+icon&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj1rKWyvb7gAhUGposKHYzIDNAQ_AUIDigB&biw=1855&bih=966#imgrc=5LFJigMmn24wcM:

[2019-02-16 14:59] tinok commented on #2660
@grzesiek2010 That's great news If `1.17.2` no longer reproduces this bug I'll go ahead and close the issue here.

[2019-02-16 14:59] #2660 closed, assigned to nobody

[2019-02-18 07:22] zestyping opened #2886 "GeoTrace button state is inconsistent after tapping zoom"
#### Software and hardware versions
Tested and found present in Collect v1.16.0 and v1.19.0 (i.e. both before and after the geo refactor).
Tested on Android 6.0.1 on a Samsung Galaxy J2 Prime.

#### Problem description
The recording buttons are in an inconsistent state after the zoom button is pressed.

The code appears to intentionally change the recording state when the zoom button is pressed, t

[2019-02-18 13:51] mmarciniak90 opened #2887 "Destination phone number looks inactive"
#### Software and hardware versions
Collect master

#### Problem description
Destination phone number looks inactive

#### Steps to reproduce the problem
1. User goes to `Server Settings`
2. User selects `Select on send` or `SMS` in `Submission transport` options
3. `SMS submission settings` becomes active
4. `Destination phone number` is grey

<img height="40%" width="40%" src="https://user-image

[2019-02-18 20:40] yanokwa opened #2888 "Remove 255 sheet limit in Google Sheet support"
#### Software and hardware versions
Collect v1.9.x

#### Problem description
Google Sheets used to have a 255 column limit, but according to https://support.google.com/drive/answer/37603, that's been changed to a 5 million cell limit. We should confirm that the limit is actually gone (maybe the API still has the limit).

If so, we should probably remove the 255 column limit in Collect and
1. warn

[2019-02-19 14:06] mmarciniak90 commented on #2624
Issue retested on **ODK v1.19**
* Problem is not visible on Xiaomi Redmi 4x with **Android 7.1**
* Problem is still visible on Samsung Galaxy S7 with **Android 7.0**

[2019-02-19 15:26] #620 closed, assigned to nobody

[2019-02-20 11:21] mmarciniak90 opened #2893 "Settings pages have grey text on Android 4.4 and below"
#### Software and hardware versions
Collect current master compared with v1.19
Android 4.4 and below

#### Problem description
Settings pages have  grey text on Android 4.4 and below

#### Steps to reproduce the problem

### Examples

| master | v1.19|
|---|---|
|![screenshot_2019-02-20-13-12-17](https://user-images.githubusercontent.com/3907554/53088238-7414aa80-3509-11e9-8b4e-4cd3ff186567.png)|!

[2019-02-20 11:50] zestyping commented on #2310
#2806 fixes this problem for GeoPointMapActivity.

That's all of them, so we can close this issue now.

[2019-02-20 11:51] zestyping commented on #2304
These activities have all been substantially reworked, and this problem doesn't show up anymore, so i think it's safe to close this issue now.

[2019-02-20 11:51] #2304 closed, assigned to nobody

[2019-02-20 14:15] chakotha commented on #2738
We have an app on Play store and have been informed by Google that affected permissions are RECEIVE_SMS, READ_CALL_LOG, WRITE_CALL_LOG.

We submitted a Permissions Declaration Form to request an extension until March 9, 2019.

If our new app is not up on Play by then and it gets taken down, will all those apps already downloaded onto user's devises be affected too? Thanks.

[2019-02-20 14:40] cooperka commented on #2738
@chakotha it sounds like apps will be removed from the Play Store but will **not** be affected if already installed on the device. You can continue to install these apps from "alternative" stores such as the [Amazon Appstore](https://smile.amazon.com/mobile-apps/b/?node=2350149011) or [GetJar](https://www.getjar.com/).

[2019-02-20 15:02] grzesiek2010 commented on #2887
We are going to disable sending forms via SMS temporarily so let's just leave it as is for now.

[2019-02-20 22:06] grzesiek2010 opened #2896 "Sending forms with repeat groups to Google Sheets fails under some circumstances"
#### Software and hardware versions
Collect v1.19.0 and older versions

#### Problem description
Sending forms with repeat groups to Google Sheets fails if we have repeat groups inside a regular group.

The problem has been reported on the forum: https://forum.opendatakit.org/t/repeat-group-with-google-sheets-how-to-do-it/15134

[2019-02-21 10:37] grzesiek2010 commented on #2888
@yanokwa
right the limitation seems to be removed. I tested a form with 1k questions and was able to send it to GS without any problems.

[2019-02-21 12:43] chakotha commented on #2738
@cooperka thanks for this.

[2019-02-21 17:00] #2893 closed, assigned to grzesiek2010

[2019-02-21 17:02] #2896 closed, assigned to grzesiek2010

[2019-02-21 18:13] #2888 closed, assigned to grzesiek2010

[2019-02-21 18:53] #2856 closed, assigned to nobody

[2019-02-21 18:53] #2886 closed, assigned to nobody

[2019-02-22 08:00] kkrawczyk123 opened #2906 ""Google account not set:" dialog is missing"
#### Software and hardware versions
Collect v1.20.x, Android v4.2-8.1.x.x, device used...

#### Problem description
"Google account not set:" dialog is missing. I am able to set Google Drive as a server and leave without setting the Goole account.

#### Steps to reproduce the problem
1. Open General Settings/Server
2. Choose Google Drive in Type
3. Click devices back button.

#### Expected behavio

[2019-02-22 09:53] mmarciniak90 opened #2908 "Trash button does not change to inactive when user removes all points via Backspace button in GeoShape widget"
#### Software and hardware versions
Collect v1.20

#### Problem description
Trash button does not change to inactive when user removes all points via Backspace button in GeoShape widget

#### Steps to reproduce the problem
1. User adds one point to **GeoShape** -> Backspace and Trash buttons become active
2. User clicks on Backspace button
3. Trash button is still active

In the case when User cli

[2019-02-22 10:10] mmarciniak90 opened #2909 "`My location` button becomes active when user adds a point even if the location was not recognized in GeoShape widget"
#### Software and hardware versions
Collect v1.20

#### Problem description
`My location` button becomes active when user adds a point even if the location was not recognized in GeoShape widget

#### Steps to reproduce the problem
1. User opens the map on GeoShape widget
2. Location is not recognized - `My location`, `Backspace` and `Trash` buttons are inactive
3. User adds one point
4. `My locati

[2019-02-22 11:32] zestyping commented on #2908
@mmarciniak90 Thanks for catching these!  They're both fixed in #2910.

[2019-02-22 11:33] zestyping commented on #2909
@mmarciniak90 Thanks for catching these!  They're both fixed in #2910.

[2019-02-22 16:37] fatimah5 commented on #2714
@opendatakit-bot claim
I would like to work on this issue!

[2019-02-22 17:48] Arsenalist commented on #1755
I'm getting something very similar here:

https://stackoverflow.com/questions/54831881/nullpointerexception-when-using-trusted-web-activities-on-android-multiple-devi

Can we reopen?

[2019-02-23 17:04] seadowg commented on #2869
Still on it! Should be able to get to it in the next few days.

[2019-02-24 06:22] DreamyPhobic commented on #2694
@opendatakit-bot claim

[2019-02-24 23:33] cooperka commented on #2871
Open PR is ready for review but lower priority. Just avoiding spam: @opendatakit-bot unclaim

[2019-02-25 07:13] mmarciniak90 opened #2913 "Newlines are visible in submission name"
#### Software and hardware versions
Collect v1.20

#### Problem description
Newlines are visible in submission name

#### Steps to reproduce the problem
**Use case 1**
1. User fills form [instance_name_example.xml.txt](https://github.com/opendatakit/collect/files/2899296/instance_name_example.xml.txt)
2. User adds newlines
3. User goes to the end view
![screenshot_2019-02-25-08-04-41](https://user

[2019-02-25 14:42] #2908 closed, assigned to nobody

[2019-02-25 14:47] shobhitagarwal1612 commented on #2909
Closed in #2910

[2019-02-25 14:47] #2909 closed, assigned to nobody

[2019-02-26 02:33] yanokwa opened #2916 "Remove used analytics"
#### Software and hardware versions
master

#### Problem description
Our data volume exceeds the limit of 10M hits per month for Google Analytics. Much of this is data we don't use. We should

1. Remove the costly analytics that we don't use: ExternalData: Itemset
2. Document at the time of removal (perhaps in this issue) whatever we learned form that data

[2019-02-26 10:41] #2906 closed, assigned to grzesiek2010

[2019-02-26 13:54] grzesiek2010 opened #2918 "The sheet name cannot be greater than 100 characters"
#### Software and hardware versions
Collect v1.19.0 and older versions

#### Problem description
The sheet name cannot be greater than 100 characters, what might cause problems if a form contains groups with long names or many nested group.

#### Steps to reproduce the problem
Try to fill and send the attached form:
[sheetTitleTest.xml.txt](https://github.com/opendatakit/collect/files/2905761/shee

[2019-02-27 11:00] mmarciniak90 opened #2920 "The additional point is recorded in Automatic mode after rotating device in GeoTrace widget"
#### Software and hardware versions
Collect v1.20 - current master

#### Problem description
The additional point is recorded in Automatic mode after rotating device in GeoTrace widget

#### Steps to reproduce the problem
1. User opens GeoTrace widget
2. User selects `Automatic recording` mode
3. User selects some interval, eg. 30 MINUTES
4. User starts recording
5. User sees at bar that one point

[2019-02-27 13:29] grzesiek2010 opened #2921 "NumberFormatException For input string: "raw:/storage/emulated/0/Download/2019-2-25_93844.pdf""
#### Software and hardware versions
Collect v1.19.0 and older versions, Android v8

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c5c0cc4f8b88c2963f9e201?time=last-seven-days&sessionId=5C71587F0161000173CC218A39811ED4_DNE_1_v2

`Caused by java.lang.NumberFormatException
For input string: "ra

[2019-02-27 13:40] grzesiek2010 opened #2923 "Caused by java.lang.IllegalArgumentException Unknown URI: content://downloads/public_downloads/4893"
#### Software and hardware versions
Collect v1.19.0 and older versions Android v7 and v8

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5c62ffc1f8b88c296394b606?time=last-seven-days&sessionId=5C74A35F02AF00014F92DC6C2D5DF87C_DNE_0_v2

Caused by java.lang.IllegalArgumentException
Unknown URI:

[2019-02-27 17:09] shobhitagarwal1612 opened #2924 "Add a code quality check to prevent leaking cursors"
#### Problem description
I noticed that at some of the places, the cursors weren't being closed after usage. Sometimes, the diff is so huge that it becomes really hard to catch this leak. Having a automatic check would prevent this from happening again in future. Related PRs https://github.com/opendatakit/collect/pull/2911 https://github.com/opendatakit/collect/pull/2912

#### Expected behavior
Ci

[2019-02-27 18:38] zestyping commented on #2920
Previously reported as #2646, then claimed as #2658, but not completed.

[2019-02-28 10:19] mmarciniak90 commented on #2920
@zestyping thanks.
Closed as a duplicate.

[2019-02-28 10:19] #2920 closed, assigned to nobody

[2019-02-28 11:23] grzesiek2010 commented on #2583
The issue still exists so I'm reopening.

[2019-02-28 18:44] zestyping commented on #2646
The title of this issue is still accurate, but the detailed description is now out of date.  #2920 has a better description.

[2019-03-01 12:01] zestyping commented on #507
These pull requests, which unify the Geo activities into three, have now been merged and released in 1.20.

There is still common code between the three, which will be further factored into BaseGeoMapActivity.

[2019-03-01 12:06] grzesiek2010 opened #2928 "Fatal Exception: java.lang.IndexOutOfBoundsException"
#### Software and hardware versions
Collect v1.20.0 and older versions

#### Problem description
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/5b58da6f6007d59fcdbf0172?time=last-seven-days&sessionId=5C78DC2F01F8000134CAA0ADC5D0C786_DNE_4_v2

[code]

[2019-03-04 08:45] DaromB commented on #2738
I found the same problem, my application need to use SEND_SMS to help users to send many sms one time, but i havent found the right description for that in the google eligible exception list (one of them called "Physical safety / emergency alerts to send SMS" adequate to my needed permission, but his use case don't so for my app case (broadcasting)).
@yanokwa, did you found something that can help

[2019-03-04 08:55] zestyping commented on #507
@yanokwa I think this issue can be closed now.

[2019-03-04 08:55] zestyping commented on #2310
@yanokwa I think we can close this issue now.

[2019-03-04 09:09] zestyping opened #2932 "PMD: Exclude the SingularField rule."
This issue is developer-facing only.

I propose that we stop enforcing the SingularField rule.  This rule suggests that if a field is only used in one method, it could be a local variable inside the method instead of a field of the class instance.

#### Rationale

1. The message for this rule looks like:

    It doesn't make sense for a "Perhaps" suggestion to be enforced so hard that it breaks th

[2019-03-04 09:15] #2880 closed, assigned to grzesiek2010

[2019-03-04 12:05] #2813 closed, assigned to huangyz0918

[2019-03-04 14:34] grzesiek2010 commented on #2526
I think it's time to close this issue.

[2019-03-04 14:34] #2526 closed, assigned to nobody

[2019-03-04 14:38] grzesiek2010 commented on #2214
Duplication of https://github.com/opendatakit/collect/issues/2928

[2019-03-04 14:38] #2214 closed, assigned to nobody

[2019-03-04 16:23] shobhitagarwal1612 commented on #2928
I believe the problem is because the list `filteredList` which is created and mutated in `GoogleDriveActivity` is referenced directly instead of copying the content in the `FileArrayAdapter` as well.

One of the possible solutions would be to copy the list items into a new list within `FileArrayAdapter` instead of using the same list instance

[2019-03-04 20:14] grzesiek2010 commented on #2928
I'm not sure. If you used a new array notifyDataSetChanged() wouldn't work. Let's merge my change first and then we will see.

[2019-03-04 20:14] #2928 closed, assigned to grzesiek2010

[2019-03-04 20:53] cooperka commented on #2850
@opendatakit-bot unclaim

[2019-03-04 21:27] yanokwa opened #2934 "Figure out a way to enable SMS or remove all SMS code by September 2019"
The decision has not been made yet, but I'm filing this issue so we don't forget.

Either we find some way to re-enable SMS in a compliant way, or we remove the SMS code. I'd like to make this decision by Sep 2019 (6 months after the policy was in place) because if we can't figure it out by then, we probably won't do it.

Related: https://github.com/opendatakit/collect/issues/2738

[2019-03-04 21:28] yanokwa commented on #2738
Google did not grant an exception and so the SMS feature as been disabled. For that reason, I'm closing this issue.

If we can't figure out how to re-enable SMS in the next six months, we should remove the code. See https://github.com/opendatakit/collect/issues/2934 for that issue.

[2019-03-04 21:28] #2738 closed, assigned to grzesiek2010

[2019-03-04 22:44] yanokwa commented on #2310
Fixed by #2806

[2019-03-04 22:44] #2310 closed, assigned to nobody

[2019-03-04 22:45] #507 closed, assigned to nobody

[2019-03-05 16:20] shashvat-kedia commented on #2714
@opendatakit-bot claim
I am new to this project and would like to contribute.

[2019-03-06 12:37] grzesiek2010 opened #2936 "A repeatable group which is outside a regular group is visible as a part of that group in the hierarchy"
#### Software and hardware versions
Collect v1.20.0

#### Problem description
A repeatable group which is outside a regular group is visible as a part of that group in the hierarchy

#### Steps to reproduce the problem
1. Open the attached form
[groupTestNav.xlsx](https://github.com/opendatakit/collect/files/2936240/groupTestNav.xlsx)
2. Fill the form adding repeatable groups
3. Open the hierarchy

[2019-03-06 12:52] #2583 closed, assigned to grzesiek2010

[2019-03-06 22:12] mjthompson2 commented on #2871
Is this still available?

[2019-03-06 22:14] grzesiek2010 commented on #2871
No. There is a pr which is waiting for review/testing.

[2019-03-06 22:59] zestyping commented on #2932
@yanokwa @cooperka Thoughts on this?

[2019-03-07 18:17] #2850 closed, assigned to nobody

[2019-03-07 18:22] #2794 closed, assigned to grzesiek2010

[2019-03-07 22:03] cooperka commented on #2932
I agree with all 3 points of rationale 👍 thanks for suggesting.

[2019-03-08 10:07] trebla64 opened #2938 "TLS v1.2 not enabled in Android 4.4.2 by default"
#### Software and hardware versions
Collect v1.20.0, Android v4.4.2, Samsung S4 mini

#### Problem description
An error is displayed when getting a blank form.  The error is:
"Form listing failed. Parsing failed with SSL handshake aborted: ssl=<random hex number>: I/O error
during system call, Connection reset by peer while accessing <server address>"

#### Steps to reproduce the problem
Try getti

[2019-03-11 10:01] grzesiek2010 commented on #2847
I have to reopen this issue because apparently there are some other cases that cause the issue.

[2019-03-11 21:54] Kartikkumargujarati commented on #2490
The Instant run feature is not supported for Jacoco 0.8.2. Try downgrading to Jacoco 0.8.1, clean build and run the app. You should then be able to use Instant run.

This issue was reported to Google: https://issuetracker.google.com/issues/118709917

[2019-03-11 22:14] grzesiek2010 opened #2942 "Deleting the last group breaks the hierarchy if it's in nested repeats."
#### Software and hardware versions
Collect v1.x.x, Android vx.x.x, device used...

#### Problem description
Deleting the last group breaks the hierarchy if it's in nested repeats.
Form:
[groupTestNav.xml.txt](https://github.com/opendatakit/collect/files/2954419/groupTestNav.xml.txt)

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3276264/54161669-2b3e7a80-4453-11e9-9235-1f09d

[2019-03-12 05:35] yanokwa commented on #2805
@zestyping I think this issue was fixed in https://github.com/opendatakit/collect/pull/2865. Can you confirm?

[2019-03-12 14:36] #2921 closed, assigned to grzesiek2010