[2017-06-01 04:15] dcbriccetti commented on #1074
@grzesiek2010 why is this? What’s special about those words?

[2017-06-01 04:41] lognaturel commented on #507
Thanks for your careful analysis, @MukundAnanthu! I think your approach is a good one. I've looked further into this and I would recommend starting with `GeoPointMapActivity` and `GeoPointOsmMapActivity` since these are somewhat simpler and they are the "original" ones that the others were created from ([here](https://github.com/guisalmon/ODK_collect/blob/master/src/com/makina/collect/android/acti

[2017-06-01 08:39] grzesiek2010 commented on #1042
@lognaturel

No, I think it shouldn't. It should be only for this use.

We can of course if needed

[2017-06-01 11:37] grzesiek2010 commented on #1084
We can just use `appearance="placement-map"` and we are able to do that manually. Am I missing something?

[2017-06-01 12:40] grzesiek2010 opened #1090 "ODK crashes after using geotrace osm with an automatic mode."
#### Software and hardware versions
Collect v1.7.0

#### Problem description
ODK crashes after using geotrace with an automatic mode.

#### Steps to reproduce the problem

1. Open a form with a geotrace widget
2. Open a map and start recording points automatically
3. Stop recording using "save button" or using device buck button
4. ODK crashes after some time (depends on selected time)

#### Other

[2017-06-01 14:14] grzesiek2010 commented on #1074
@dcbriccetti Sorry for that poor description!
It's not exactly about "words". Look at the part of form:

       <data id="a26280000014QdjAAE">
                    <start />
                    <end />
                    <today />
                    <deviceid />
                    <simid />
                    <phonenumber />
                    <phonenumber>
                        <text />

[2017-06-01 14:21] MukundAnanthu commented on #507
@lognaturel Thank you for the lucid explanation. The examples were indeed helpful!! Will issue a separate PR for the above changes as suggested earlier.

[2017-06-01 17:39] lognaturel commented on #507
@MukundAnanthu Great! I can't emphasize enough how important it will be to think about whether differences in activities are deliberate or accidental. For another example that just came up, see #1084. Some of the activities allow for manual point entry by long press and others don't. They all should. In particular, the OSM-based geopoint does while the Google maps-based geopoint doesn't. If you co

[2017-06-01 17:44] lognaturel commented on #1084
@grzesiek2010 It looks like the functionality isn't consistent between map types.

Do support long press to manually add points:
- OSM geopoint w/ `placement-map` appearance
- Google geoshape
- OSM geoshape

Don't support long press to manually add points:
- Google geopoint w/ `placement-map` appearance
- Google geotrace
- OSM geotrace

[2017-06-01 18:01] davereinhart commented on #1084
I would also add that it would be good to leave it up to the user instead of part of the form design...  In the field they may want to use current position for most records, but may also need to collect some features they are not able to stand directly on top of.

[2017-06-01 19:05] lognaturel commented on #1084
Yes, I agree @geomapdev. I think the widgets that currently support manual point creation do it as you describe except that the geoshape ones should also support position-based collection.

[2017-06-01 19:25] #1090 closed, assigned to nobody

[2017-06-01 19:36] lognaturel opened #1092 "Offline map feature uses wrong database table for loading tiles"
#### Software and hardware versions
v1.7.0-8-g8e0577b06

#### Problem description
The mbtiles spec states that [a `tiles` table is required](https://github.com/mapbox/mbtiles-spec/blob/master/1.2/spec.md#tiles) and is used to identify the different tiles. Collect uses the `images` table which is sometimes included but not documented as part of the spec. This results in a crash when using a well-fo

[2017-06-01 19:38] #1092 closed, assigned to nobody

[2017-06-01 20:03] lognaturel opened #1093 "Crash when loading sample mbtiles file as offline layer"
#### Software and hardware versions
Collect v1.7.0-10-gb8bb7103a

#### Problem description
The [sample mbtiles file from Mapbox](https://www.mapbox.com/help/define-mbtiles/) doesn't work as an offline layer.

#### Steps to reproduce the problem
1. Place the [sample mbtiles file from Mapbox](https://www.mapbox.com/help/define-mbtiles/) in a folder in /sdcard/odk/layers
1. Open a form such as Widget

[2017-06-01 20:11] lognaturel commented on #1010
Thanks for looking into this, @nikialexopoulou! If you'd like to share what you have so far as a pull request, that would be great. @grzesiek2010 will finish it up so we can get it in the next release.

[2017-06-01 20:40] lognaturel commented on #975
@alxndrsn and I talked about this a bit in #collect-code. Since this code has been working and we don't have any info on why `discardEntityBytes` was added in the first place or a firm understanding of the `consume` methods, let's not change the existing code much. Additionally, the goal is eventually to replace this library (#620).

The ideal would be to just fix the loop that reads/skips bytes s

[2017-06-01 20:43] lognaturel commented on #1022
@Hanseph When you have a chance to provide more information, please re-open this issue.

[2017-06-01 20:43] #1022 closed, assigned to nobody

[2017-06-01 20:48] #730 closed, assigned to nobody

[2017-06-02 07:28] nap2000 opened #1094 "when changing pages the direction indicator is incorrectly set"
#### Software and hardware versions
Collect v1.7.0, Android v6.0.1, device used Samsung S5

#### Problem description
When jumping to a new view, or refreshing the current view, the direction is always set to "back".

- This is almost certainly wrong behaviour when advancing further in the survey using then jump option.  The consequence is that autoplay widgets are not played when the user would ex

[2017-06-02 14:41] MukundAnanthu commented on #507
@lognaturel Sure! Will keep an eye out for such differences.

[2017-06-02 15:27] grzesiek2010 commented on #975
@lognaturel I was trying and my second idea is using https://docs.oracle.com/javase/7/docs/api/java/io/InputStream.html#available() before so please look at my updated pr.

[2017-06-02 15:29] MukundAnanthu commented on #507
@lognaturel

These are the fields that were moved up from the GeoPointGoogleMapActivity.java and GeoPointOsmMapActivity.java to the abstract parent class GeoPointMapActivity.java

GoogleMap implementation:(GeoPointGoogleMapActivity.java)

Extracted:
private static final String LOCATION_COUNT = "locationCount";
private TextView locationStatus;
private LocationManager locationManager;
private Locati

[2017-06-02 22:19] #975 closed, assigned to nobody

[2017-06-02 23:15] #1043 closed, assigned to nobody

[2017-06-03 00:17] lognaturel commented on #811
I think the right strategy for this now that we have Firebase Crash set up is to look at exceptions that are being logged at very high frequency, file them as issues is they're real crashes and change the log level if not.

Currently @grzesiek2010, @yanokwa and I are the only ones with Firebase Crash access but I think it would be fine to give read-access to someone who would be interested in taki

[2017-06-05 11:00] acawood777 opened #1099 "Feature request: Load settings from a JSON file too"
#### Software and hardware versions
Collect v1.7.0

#### Background
We use a custom Android app to launch ODK Collect. We have the user enter his username and password in our app, and then we save this along with the correct url and some other project-default settings to a `collect.settings` file, which is then automatically loaded by ODK Collect the next time it is launched (existing Collect func

[2017-06-05 11:29] carl-eis opened #1100 "Popup for incorrect username & password after loading valid credentials from settings file / QR code"
#### Software and hardware versions
Collect v1.7.0, Android v7.0, device used: LG G5 (HG-H850)

#### Problem description
When loading in settings from a file and trying to get a new blank form from a server requiring authentication, a popup will show displaying "Invalid username or password for server...", even though the username/password combination is correct. Clicking "OK" will continue to log

[2017-06-05 11:32] grzesiek2010 commented on #1093
@jnordling any idea? We want to fix this issue I've made only initial investigation so far. Maybe you have a brilliant idea what's wrong?
we get null here https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/spatial/OsmMBTileSource.java#L92

[2017-06-05 14:00] jnordling commented on #1093
@grzesiek2010 Ill take a look. I think the MBTiles 1.1 spec (tile_data should exist in table 'tiles' not 'images'), but still with backwards compatibility.

[2017-06-05 14:01] grzesiek2010 commented on #1093
@jnordling
It's not related I think because if we use `images` it's the same.

[2017-06-05 14:02] jnordling commented on #1093
Ok just for reference. I think the new spec can be implemented like this.. Ill keep digging. Do you have a sample mbtile file thats not work. I can give it a test.

[2017-06-05 14:04] jnordling commented on #1093
`

       Cursor tilesExistCursor = db.rawQuery("SELECT * FROM sqlite_master WHERE name ='tiles' and type='table'",new String[] {});
       Cursor imagesExistCursor = db.rawQuery("SELECT * FROM sqlite_master WHERE name ='images' and type='table'",new String[] {});
       if(tilesExistCursor.getCount() != 0){
           cursor = db.rawQuery("SELECT tile_data FROM tiles LIMIT 0,1",new String[] {});

[2017-06-05 14:05] grzesiek2010 commented on #1093
@jnordling look at the first comment there is a link there. You can also use https://openmaptiles.org/downloads/#country

[2017-06-05 14:38] jnordling commented on #1093
@grzesiek2010 I took a look at it in more detail. I think your correct, its something else. Im going to investigate a bit further. Ill report back when I know whats happening.

[2017-06-05 15:18] jnordling commented on #1093
Ok I think it has to do with that the MBtiles specification has changed alot since this was added, heres why I think that... I found a old MBtiles from when this was first develop (using TileMile which is no longer supported) and it works fine. [Try with old MBTile](https://s3.amazonaws.com/geoodk.com/downloads/mbtiles/MapBox_Demo_Layer.zip)

When I use the more up to date MBtiles probably created

[2017-06-06 04:57] lognaturel commented on #1093
I changed the file extension of the `mbtiles` file to `db` to explore it with a DB browser. If I look at the `format` key in the `metadata` table, I see that the tile blobs are stored as `pbf`. The current code assumes that the blobs are bitmaps (`BitmapFactory.decodeStream(is)`) but as I understand it, they could be `pbf`, zipped `pbf`, `jpg` or `png`. The tile type should be read from the metada

[2017-06-06 13:22] grzesiek2010 commented on #1094
@nap2000 @lognaturel
I wanted to fix this as we need it to #760 and here are my initial changes (it's not tested well yet)
https://github.com/grzesiek2010/collect/commit/17ab3c8f3bddd28173739a2bc7620acd94108ed8
but we will need also changes on the javarosa side I mean we have to make FormIndex Serializable so we have to wait.
I could add required changes to the Javarosa repo but I found out that t

[2017-06-06 13:48] grzesiek2010 opened #1105 ""Nothing available to display..." text is visible too long."
#### Software and hardware versions
Current master branch

#### Problem description
"Nothing available to display..." text is visible too long.
It might occur in other lists as well.

![issue](https://cloud.githubusercontent.com/assets/3276264/26832331/6589b620-4acf-11e7-883c-4dc0aae3ef81.gif)

[2017-06-06 16:41] #1010 closed, assigned to nobody

[2017-06-06 16:51] alxndrsn opened #1106 "WebUtils.getXmlDocument() does not reliably drain stream before closing"
`skip()` is used unreliably to drain stream at https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/WebUtils.java#L396-L400

Related, `isr.close()` is called in two places.  As `isr.close()` is called in the `finally` block, it can probably be deleted from https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/

[2017-06-06 17:42] lognaturel commented on #1099
This seems like a good idea!

@acawood777 if you have capacity for it, we would welcome a pull request. I think a lot should be reusable from #781 with perhaps some refactoring.

One thing that we punted on and that we should probably review is versioning the settings json in some way so that we can ensure continued compatibility as the settings change. Additionally, for the QR code, only non-defa

[2017-06-07 09:30] mathieubossaert opened #1107 "select_one on external csv file show autocomplet by default"
Hi,
first of all thank's a lot for the tool you create and maintain !
We are facing a bug with last odkcollect version(1.7.0)

When we set a select_one field on a csv file (etudes & protocoles), the ui shows the whole list (what we want) AND a text area to start typing for autocomplete (without 'autocomplete' in appearance column.

Here is the xml :
[code]

[2017-06-07 12:50] grzesiek2010 commented on #105
@lognaturel to answer your question it's not a problem if we use `type="xs:integer"` and then decimals as I use [intValue()](https://github.com/opendatakit/collect/pull/1108/files#diff-62ecc37d815c12ca81eaa3cb19dc9b5cR116) method so I get ints.

[2017-06-07 13:29] smoyte commented on #1100
+1

I was just about to file this one.

[2017-06-07 13:35] smoyte opened #1109 "Still able to fetch forms after deleting credentials!"
#### Software and hardware versions
Collect v1.7.0, Android v7.1.2, Nexus 6P

#### Problem description
Once authenticated, can still get new forms and send data after deleting password from device.

#### Steps to reproduce the problem
1. Download forms and authenticate
2. Go to platform settings and remove password
3. Try to get new forms again or send data. It works!

#### Expected behavior
Auth

[2017-06-07 16:56] yanokwa commented on #139
Just so we don't forget, there are patent and copyright issues with What3Words that we should discuss in the community. https://wiki.openstreetmap.org/wiki/What3words has a good summary.

Also, there might be alternatives that are more license compatible, like https://github.com/google/open-location-code

[2017-06-07 19:26] smoyte opened #1110 "Items disappearing from View Sent Form"
#### Software and hardware versions
Collect v1.7.0, Android v7.1.2, Nexus 6P

#### Problem description
Items disappearing from View Sent Form screen upon filling out a new instance.

#### Steps to reproduce the problem
1. Fill out instance.
1. Send to server.
1. Delete all saved forms via Delete Saved Form.
1. Confirm shows as deleted in View Sent Form.
1. Fill out another instance.
1. Go back to

[2017-06-07 23:14] lognaturel commented on #1094
@nap2000 I'm wondering about the case where a user jumps back to a screen with an autoplay widget. Do you think it really needs to autoplay again? In typical use, it's something the user will have already seen/heard and may not need to experience again so I think it's ok to leave it at their discretion to choose.

The solution @grzesiek2010 is suggesting takes the last visited form location into a

[2017-06-08 01:54] lognaturel commented on #1074
I think a slightly more precise description of this would be that there's a crash when nodes that bind to preloads have other nodes nested in them?

I don't know how in the world you discovered this but in general I'm in favor of more `null` checks so this is good!

Closed in opendatakit/javarosa#57

[2017-06-08 01:54] #1074 closed, assigned to nobody

[2017-06-08 07:23] nap2000 commented on #1094
@lognaturel I'm not really that concerned about whether or not the autoplay is played after a jump.   So any solution should not be complex or its not worth doing I think.  I don't think the direction adds much after a jump.  Even ignoring the direction column you can see if the user goes:   q1, q2, q3, q1.

Perhaps we should just drop the direction column from the timer log?   It may just cause c

[2017-06-08 13:42] grzesiek2010 commented on #1110
@hooverlunch
What do you delete in step 3? Instance or form? (I mean saved form or blank form) If you delete an instance it can't by visible in `View sent form` anymore.

I can see only one bug: Number after `View Sent Form` is not updated immediately.
1. Fill out instance.
2. Send to server.
3. Delete that instance via Delete Saved Form.
4. Go back to main menu I can see `View sent form (1)` desp

[2017-06-08 13:49] grzesiek2010 opened #1111 "Sort the list and Filter the list options are available via device menu button"
#### Software and hardware versions
Current master branch

#### Problem description
Sort the list and Filter the list options are available via device menu button what's wrong I think and we don't need it.

![screenshot_2017-06-08-15-48-15](https://user-images.githubusercontent.com/3276264/26931803-f4227bfe-4c61-11e7-916b-758de8bf1429.png)

[2017-06-08 13:52] grzesiek2010 commented on #1107
Hi @mathieubossaert thanks for reporting the issue. Could you also attach your csv file?

[2017-06-08 14:30] mfaragallah commented on #387
I still have the same issue here ! How can I fix it ?

[2017-06-08 15:10] acawood777 commented on #1099
@lognaturel  I'm allocating a team member (@jovaee) to this to have a look.

Would all the new JSON code be found in [this commit](https://github.com/opendatakit/collect/commit/981b3931a20877ae4d5155467629a81b427049a8)?

@shobhitagarwal1612 Do you have any comments/pointers as we climb into this?

@lognaturel  On the version number, I'm assuming you're referring to [this comment](https://github.co

[2017-06-08 16:41] shobhitagarwal1612 commented on #1099
Yes, (check out [this](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/SharedPreferencesUtils.java#L94) piece of code for importing settings from json)

Basically, the format of the json file should be something like this:

[code]

[2017-06-08 16:57] lognaturel commented on #1110
As I remember it, the goal of view sent form was so that enumerators could know that they had successfully sent the submissions they thought they had, even if they had been deleted. Delete was slightly tweaked so that it would remove the submission XML but leave the record in the DB with a delete flag so that the submission could be shown in View Sent Form as deleted. So @grzesiek2010, that instan

[2017-06-08 16:59] smoyte commented on #1110
@grzesiek2010, I delete all saved forms. The instance _is still there after I delete_. It's only after I fill out a new instance that the old one disappears.

[2017-06-08 17:20] yanokwa opened #1113 "Supporting Ethiopian Calendar Widget"
From https://github.com/opendatakit/opendatakit/issues/1284

[2017-06-08 18:46] yanokwa opened #1114 "If you download multiple bad forms, Collect will replace the existing bad one"
Let's say you have a form with a bad submission URL (e.g., [bug.xml.txt](https://github.com/opendatakit/collect/files/1062023/bug.xml.txt)) or a form that won't load because it's not XForms compliant.

If you put that form manually on the SD card or download it through Aggregate or through Google Drive, Collect will parse it, realize it is invalid and rename it to 'formname.xml.bad'.

This approac

[2017-06-08 21:45] lognaturel opened #1115 "Include some kind of versioning with settings files"
Currently, there are two ways to import settings through files: putting a `collect.settings` file in the ODK root (usually /sdcard/odk) and reading from a QR code which includes settings JSON. As the pace of development on Collect increases, settings will be more likely to change and we should have a way to ensure that old config files or QR codes continue to be usable.

One example of that can be

[2017-06-08 21:48] lognaturel commented on #1109
This has been a long standing issue. Would be great if you could propose an approach for addressing it!

[2017-06-08 22:00] lognaturel commented on #387
@mfaragallah Please file a new issue with all the information about device version, etc.

[2017-06-08 22:08] lognaturel commented on #541
@grzesiek2010 @shobhitagarwal1612 I think making the look and feel of dialogs consistent will be an important part of making the UI feel fresh and modern. I've marked it as part of the UI Refresh project but that doesn't necessarily mean @shobhitagarwal1612 has to be the one to do it.

Now that #912 is merged, we can start thinking about what the best abstractions would be and when this should be

[2017-06-08 22:23] yanokwa opened #1117 "Add a link to the ODK forum"
Now that we have an ODK forum, it'd be 💯 to have a link in the about menu

[2017-06-09 06:45] shobhitagarwal1612 commented on #1105
I'm working on it

[2017-06-09 07:48] mathieubossaert commented on #1107
Good morning,
of course, thanks a lot.
[exo_mobile_2bis-media.zip](https://github.com/opendatakit/collect/files/1063315/exo_mobile_2bis-media.zip)

[2017-06-09 08:07] jovaee commented on #1099
We are planning to give the JSON file preference over the normal collect.settings file in the case that both are present. Any comment on this?

@shobhitagarwal1612 Thanks for the help

[2017-06-09 08:12] shobhitagarwal1612 commented on #1099
@jovaee I would like to know why are you planning to additionally import from a json file as well given that `collect.settings` file already exists. Is there a specific purpose?

[2017-06-09 08:15] shobhitagarwal1612 opened #1120 "Improving the audio widget"
This is the proposed wireframe for the new UI
![audio widget](https://user-images.githubusercontent.com/8918023/26966702-d8dda5dc-4d18-11e7-8da2-cb542e8fe0c4.png)

When no audio file is selected, then the bottom layout with play buttons and seekbar will remain hidden

[2017-06-09 08:16] mathieubossaert opened #1121 "Avoid first question "add new group""
Good morning,

the message (Add new group toto) we get when we enter a repeat group in collect is a bit disturbing for the users.
We actually "solve" the problem by deleting **jr:template=""** string in th xml file.
Once this is done, the message appears only before the second round in the repeat group.

Could it be possible to set this as the default behaviour ?

Thanks again and a lot,

Mathieu

[2017-06-09 08:23] mathieubossaert opened #1122 "Change "Add new group xxx" to "Add new""
Hi,

"Add new ..." is easier to understand for the user than "Add new group ...'

Maybe it is just a translation problem, but I think it is important. Collegues on fields don't add a group, they don't know what is a group, they just add one more element.

For example they never add a new "group species", the add a new species to a list.

[2017-06-09 08:30] acawood777 commented on #1099
@shobhitagarwal1612   See the **Background** and **Problem description** in my first post above. We're generating our own settings files (not generated in Collect).
The JSON route will make our implementation cleaner and more robust than using the serialisation route at present.
We particularly prefer JSON for the fact that field order doesn't matter, whereas for a serialised object this is not al

[2017-06-09 08:36] mathieubossaert opened #1123 "geo fields sould be store in wkt"
Good morning,

Actually, the geoshape field stores data into a string with a "strange" format.

The use of Well Known Text format could be a great enhancement. All the databases supported by odk do understand that format. https://fr.wikipedia.org/wiki/Well-known_text

Actually we have to create some fun sql to get data into GIS Eneblad databases such as PostGIS.

[2017-06-09 08:50] carl-eis commented on #1109
This could actually be a bug with Aggregate and not Collect.

Why?

We use digest authentication to aggregate to pull the form list from our aggregate server into a separate app. It seems as though aggregate keeps this connection "alive" for some time - If I remove the Authorization item from the request header and make a second request from the same IP, I can still pull the form list even though

[2017-06-09 08:51] shobhitagarwal1612 commented on #1099
@acawood777 I do feel that the problem that you are facing can be solved by adding a version check while importing the settings file. But if you think that using JSON file would be better for the longer term benefits then that's great too.

[2017-06-09 09:48] mathieubossaert opened #1124 "Invalid geoshape"
Last issue of the week after a great course in Montpelier with 12 people working on Biodiversity and landscape conservation :-)

We face a bug using geoshape.

When people are saving the geoshape after 2 points (they see a line on the widget), the object created is not a line (that's normal with geoshape) but the created polygon is a invalid polygon, with 3 nodes (node 1 and node 3 are the same on

[2017-06-09 11:14] grzesiek2010 commented on #1107
@mathieubossaert thanks for your attachments. I have been trying to reproduce the issue but I don't understand.
You use search appearance `<select1 appearance="search('etudes')" ref="/exo_mobile_2bis/releve/id_etude">` and
`<select1 appearance="search('protocoles')" ref="/exo_mobile_2bis/releve/id_protocole">`

so you can see the search box according to the implementation: https://github.com/opend

[2017-06-09 12:42] acawood777 commented on #1099
@lognaturel @shobhitagarwal1612
@jovaee has submitted a PR for this  :thumbsup:

[2017-06-09 12:42] mathieubossaert commented on #1107
So I understand that both "search" and "autocomplete" appearence are synonym ?
I remember it was different but I must be wrong.

Sorry for the time you lost.

[2017-06-09 12:46] grzesiek2010 commented on #1107
@mathieubossaert yes it's the same I don't know why @yanokwa maybe you know something about it?

[2017-06-09 12:59] grzesiek2010 commented on #1110
@lognaturel @hooverlunch You are right the problem has been implemented here: https://github.com/opendatakit/collect/pull/676/files

[2017-06-09 13:10] smoyte commented on #1109
ELMO uses basic auth so I don't think that's it.

[2017-06-09 13:12] smoyte commented on #1109
@lognaturel Is anything known about the reason for the bug? Like, has anyone investigated it and knows why it's happening, but can't figure out a way around it, or has the investigation not happened yet?

My guess is something is getting cached in the class that builds the HTTP requests...

[2017-06-09 16:24] lognaturel commented on #1120
I really like that the buttons are still large and visible, that the filename is shown and that the audio progress bar/seeker is easily accessible.

This is related to #641 which @rajatthakur had filed and you might be able to get good ideas from there. One thing we had discussed on his pull request is that there must be a full audio playing interface available like you have in your mockups so tha

[2017-06-09 16:25] lognaturel commented on #641
Subset of #1120

[2017-06-09 16:25] #641 closed, assigned to nobody

[2017-06-09 23:34] #1105 closed, assigned to nobody

[2017-06-09 23:46] #1117 closed, assigned to nobody

[2017-06-10 06:39] mathieubossaert commented on #1123
Here is the function I made yesterday to create a valid PostGIS geometry (WGS84) from odk geofields :

[code]

[2017-06-10 16:53] lognaturel commented on #456
Let's track at opendatakit/docs#5!

[2017-06-10 16:53] #456 closed, assigned to nobody

[2017-06-10 16:59] #746 closed, assigned to nobody

[2017-06-11 06:47] shobhitagarwal1612 commented on #493
Fixed #912

[2017-06-12 11:47] grzesiek2010 opened #1129 "Delete after send option doesn't work"
#### Software and hardware versions
Collect v1.7.1

#### Problem description

#### Steps to reproduce the problem
1. Check "Delete after send" option in "General Settings"
2. Complete any form
2. Go to "Send Finalized Form" and send that form

#### Expected behavior
That instance should be deleted automatically.

#### Other information
It's caused by https://github.com/opendatakit/collect/pull/574

[2017-06-12 12:18] grzesiek2010 commented on #1094
@nap2000 @lognaturel

After deeper investigation I think you are right. It's too hard to handle all possible cases. My solution might be ok but we shouldn't use the same for auto play of source @lognaturel you are right
@lognaturel I think the game is not worth the candle :)

Can we drop this column as @nap2000 suggested?

Especially @mmarciniak90 has found some bugs we should focus on them and ma

[2017-06-12 13:00] nap2000 commented on #1094
Ok. When the user jumps forward to a question for the first time it will
not play either?

Any thoughts on whether or not direction should be reported by the timing
logger?

Also did you send the extended catlog for the timing issue when showing
images? Ie to include the log of the writing of the timer log that shows
the error.

On 12 Jun 2017 1:18 PM, "Grzegorz Orczykowski" <notifications@github.

[2017-06-12 14:31] nribeka commented on #1115
Personally, I prefer the second one since it's going to much easier if there's a need for developers to validate the version number (and I'm pretty sure we will need to manually validate the settings sometimes). The first approach will need a mapping between settings version and the collect version.

It should be a lot of effort to convert the string representation to integer, right?

[2017-06-12 16:43] lognaturel opened #1131 "Rename language option from "phone language" to "device language""
General Settings > User interface > Language -- the default option is "Use phone language" but not everyone is on a phone so it should be "use device language".

[2017-06-12 16:44] #1048 closed, assigned to nobody

[2017-06-12 16:45] lognaturel opened #1132 "Consistently use "autosend" or "auto send""
I don't think "autosend" is a word, so we should probably go for "auto send." When it's capitalized, it should be "Auto send."

[2017-06-12 17:04] lognaturel opened #1133 "Reduce redundancy in auto send preference migration code"
Between version 1.7.1 and future versions, the auto send setting was collapsed from two settings (send over wifi or send over cellular) to a single one with a string value. This required making sure that the setting value would be migrated when doing an update, when using `collect.settings` files from versions <=1.7.1 and when using json/QR codes from <=1.7.1. There will likely be other such chang

[2017-06-12 18:21] #493 closed, assigned to nobody

[2017-06-12 18:22] lognaturel commented on #1124
Thanks for reporting this! If you have the technical capacity to address it, a pull request would be very much appreciated. Otherwise, there are some ongoing improvements to the geo widgets happening and this will eventually be addressed.

[2017-06-12 18:23] lognaturel commented on #1124
This is also somewhat related to #1028

[2017-06-12 18:32] shobhitagarwal1612 opened #1134 "Improve Video Widget"
Also includes #639

[2017-06-12 21:11] lognaturel opened #1135 "Add decimal support to range widget"
#1108 added a range widget that supports integers. When the bind specifies a type of `xs:decimal`, a range should use decimal values for start, end and step and return a decimal.

[2017-06-12 21:24] lognaturel opened #1136 "Add vertical appearance to range widget"
As describe at opendatakit/xforms-spec#111

[2017-06-12 23:49] #914 closed, assigned to nobody

[2017-06-12 23:56] lognaturel commented on #1107
They should indeed be the same! The two appearances were added in different ODK tools at different times to do the same thing and were consolidated in #386.

I'll close this for now since it seems the mystery was solved but @mathieubossaert, it would be useful to know what you expected `search` to do and whether you came across any documentation suggesting another behavior.

[2017-06-12 23:56] #1107 closed, assigned to nobody

[2017-06-13 00:06] lognaturel opened #1137 "Allow select1 appearances to combine with search/autocomplete"
From [the XLSForm spec](https://xlsform.org): "The non-default appearance style goes into the column first, followed by a space, then the search() expression. [e.g., quick search()]"

[2017-06-13 00:31] #1110 closed, assigned to nobody

[2017-06-13 00:36] lognaturel commented on #1110
Thank you for reporting @hooverlunch and thanks for the quick find and fix, @grzesiek2010!

I completely missed that #676 interacted with View Sent Form. 😳 This is the kind of thing that only integration tests could really help us out with since it involves a sync task. Will keep thinking about how we could make sure to avoid this kind of regression in the future.

[2017-06-13 01:08] lognaturel opened #1138 "Add "export settings" functionality back"
In the recent changes to preferences, "Save Settings to Disk" was removed from the Admin Settings. That feature allowed users to export a serialized `collect.settings` file that could be pushed to multiple devices.

For most people, QR code configuration will now be more convenient but some people may still prefer to use configuration files. In addition #1099 is adding the ability to load json pre

[2017-06-13 01:22] #1129 closed, assigned to nobody

[2017-06-13 01:24] lognaturel commented on #1129
Good find, @grzesiek2010. This is not good because people depend on delete after send to remove sensitive data. It would be great to have some kind of test of this behavior at some point in the not too distant future.

[2017-06-13 13:11] mmarciniak90 opened #1142 "User is moved to main view if user minimizes app during filling form on Android 6.0 and 4.2"
#### Software and hardware versions
ODK Collect - current master
Problem is visible on Android v4.2.1 and v6.0
Problem is not visible on Android v5.1.1, v4.4.4, v4.1.2

#### Problem description
User is moved to main view when she/he minimizes during filling form

#### Steps to reproduce the problem
1. User opens form
2. User minimizes ODK Collect
3. User opens ODK Collect app again

#### Actual be

[2017-06-13 14:24] mathieubossaert commented on #1028
I think that it would be more clear and easy to undersand if each geowidget should create only one geometry type :

- points for GeoPoint
- lines for Geotrace and
- polygon for Geoshape

Considering the projection, the easiest is to store data in WGS84 (EPSG SRID number 4326) and let database users reproject data in their favorite projection.
Considering how the data is store, we actually face two

[2017-06-13 14:26] mathieubossaert commented on #1123
With WKT format, a simple use of postgis function ST_GeomFromText(geo_column) should do the job :-)
http://postgis.net/docs/ST_GeomFromText.html

[2017-06-13 14:35] mathieubossaert commented on #1124
I'm sorry but I don't have necessary skills to do that. I found this file https://github.com/opendatakit/collect/blob/v1.7.x/collect_app/src/main/java/org/odk/collect/android/widgets/GeoShapeWidget.java.
I understand what it does but that's all :-(
I'm optimist since I red it about the WKT generation :-) in the getAnswer() function.

[2017-06-13 19:40] #1120 closed, assigned to nobody

[2017-06-13 20:36] #1100 closed, assigned to nobody

[2017-06-13 20:42] lognaturel commented on #1138
@carl-eis @hooverlunch @acawood777 @grzesiek2010 @shobhitagarwal1612 you've all been thinking about externally loaded settings recently so I'd be interested to hear your thoughts. I know some of you are generating the settings files on the server side so perhaps it doesn't matter to you.

[2017-06-13 20:48] shobhitagarwal1612 commented on #1138
@lognaturel I can still see this option under options menu in Admin Preferences.

[2017-06-13 22:14] lognaturel commented on #1138
@shobhitagarwal1612 I don't see an options menu in Admin Prefs on any device I've tried, all running API 22.

[2017-06-13 23:45] lognaturel commented on #1099
Closed in #1125

[2017-06-13 23:45] #1099 closed, assigned to nobody

[2017-06-14 01:18] lognaturel commented on #1094
Dropping the direction column sounds fine to me. As @nap2000 mentioned, it can usually be inferred. Additionally, adding new things to the log later is not a big deal but removing them is much more difficult. @grzesiek2010 🕯😊

Independent of the timing audit, we need to decide what to do about the direction indicator. Should it still be changed in some way or left as it is?

[2017-06-14 09:30] cdwuestner commented on #1131
May I work on this?

[2017-06-14 12:33] acawood777 commented on #1138
@shobhitagarwal1612 @lognaturel   The option was still available in v1.7.0, on the QR code page, by clicking the Android Menu button on my Android 4.4.2 device.
 Haven't tested now, but I know when @jovaee was working on the settings a day or two back he also couldn't see the option in this place.

@lognaturel  As to the main question, given ODK's huge userbase and many possible permutations of ho

[2017-06-14 12:36] mmarciniak90 opened #1153 "GeoTrace buttons are too large on Android v5.0 and v6.0"
#### Software and hardware versions
Collect - current master
Android 5.0, Android 6.0

#### Problem description
GeoTrace buttons are too large

#### Steps to reproduce the problem
1. User is on question with 'Start GeoTrace' button
2. User clicks on button
3. User is moved to maps and sees 5 buttons

#### Expected behavior
Button sizes correspond to icon sizes

#### Other information
Problem is no

[2017-06-14 13:45] mmarciniak90 opened #1154 "'Go To Prompt' icon is not visible on Android 4.1 and 4.4, both Samsung devices"
#### Software and hardware versions
Collect - current master
Android v4.4 - Samsung J1
Android v4.1 - Samsung GALAXY YOUNG GT-S6310
#### Problem description
'Go To Prompt' icon is not visible. Option is visible when user clicks on 3 dots

#### Steps to reproduce the problem
User stars form
User sees 3 dots in header
User clicks on 3 dots and sees 'Go To Prompt' option

#### Expected behavior
'Go T

[2017-06-14 13:57] mmarciniak90 opened #1156 "'Go Up' option looks like an active button"
#### Software and hardware versions
Collect - current master
Android 5.0
Android 6.0

#### Problem description
'Go Up' option looks like an active button. The same background colour is visible. Buttons differ only by frame.

#### Steps to reproduce the problem
1. User starts form
2. User clicks on 'Go To Prompt' icon
3. 'Go Up' button looks like an active
![master](https://user-images.githubuserco

[2017-06-14 14:39] lognaturel commented on #1131
Yes, please!

[2017-06-14 14:53] grzesiek2010 commented on #1094
My proposal is don't touch it. It works well with autoplay option and nobody complains so if we get rid of that column there is no reason to change it.

[2017-06-14 16:06] #1133 closed, assigned to shobhitagarwal1612

[2017-06-14 16:12] lognaturel commented on #1138
@shobhitagarwal1612 and I discussed in Slack and the removal was an accidental side-effect of the change in the UI libraries. It works for him because he has a hardware options menu button!

@shobhitagarwal1612 can you look into bringing it back when you have a chance?

[2017-06-14 16:19] shobhitagarwal1612 commented on #1138
Sure

[2017-06-14 16:31] lognaturel commented on #1156
I'm going to mark some of these UI issues as part of the UI refresh project but that doesn't mean @shobhitagarwal1612 needs to be the one to address them! Others are very welcome to help (thank you @mmarciniak90 and @grzesiek2010).

[2017-06-14 18:49] #1153 closed, assigned to nobody

[2017-06-14 21:07] lognaturel commented on #1109
I have a vague memory of thinking about this for a little bit but don't remember what I found. I meant more to say that it's not a regression, it's something about the design of the code. If I remember correctly, if you change the username/password, kill the app and then restart it, then you'll see the auth window pop up as expected. So yes, it's probably a matter of clearing some kind of cache wh

[2017-06-14 21:10] lognaturel commented on #1094
Leaving the direction indicator as-is and removing the column from the audit sounds good to me. @nap2000 I'll let you make the final decision and close this issue if appropriate.

[2017-06-14 21:14] nap2000 commented on #1094
OK cool.  I have made the code changes to remove the direction indicator
from the timer logger.  I have also updated the documentation on this.  I
just need to finish testing and upload.  i think the only other thing I am
waiting for the timer logger is the issue where accessing a media file
causes the start time of the question to be set to when the picture has
been taken and accepted in collect.

[2017-06-14 21:31] lognaturel commented on #1086
I'll close this for now while the high-level discussion happens [on the forum](https://forum.opendatakit.org/t/linking-different-forms/6636/4). We can re-open once there's a specification.

[2017-06-14 21:31] #1086 closed, assigned to nobody

[2017-06-14 22:56] lognaturel commented on #508
Very interesting article on the Android Developers Blog today - https://android-developers.googleblog.com/2017/06/reduce-friction-with-new-location-apis.html

[2017-06-15 04:56] lognaturel opened #1160 "Calendar shown with no-calendar date appearance on tablet"
#### Software and hardware versions
Collect v1.7.0-135-gfe674f323, Android v5.1.1, Samsung Galaxy Tab A and Nexus 10 emulator, Android v7.1.1

#### Problem description
Dates with `no-calendar`, `month-year` or `year` appearances all show a calendar in the dialog.

<img src="https://user-images.githubusercontent.com/967540/27166081-279e3726-514d-11e7-8195-09cdb8e58cf6.png" height="200"> <img src="h

[2017-06-15 05:09] lognaturel opened #1161 "Wrong date pickers shown for no-calendar appearances in Android 7.0"
#### Software and hardware versions
Collect v1.7.0-135-gfe674f323, Android v7.0, Motorola G4

#### Problem description
Dates with `no-calendar`, `month-year` or `year` appearances show the material design date picker and throw exceptions. Also, the time widget shows the material design dialog.

#### Steps to reproduce the problem
Use [dates.txt](https://github.com/opendatakit/collect/files/947023/

[2017-06-15 15:19] #1131 closed, assigned to nobody

[2017-06-15 18:11] lognaturel commented on #1161
I think this is #992 again. I don't see any obvious reason why it would be back.

[2017-06-15 18:19] #1156 closed, assigned to nobody

[2017-06-15 18:23] lognaturel commented on #1094
Thanks, @grzesiek2010 @nap2000, I'll close this for now.

[2017-06-15 18:23] #1094 closed, assigned to nobody

[2017-06-15 18:41] lognaturel commented on #1093
@grzesiek2010 I think you mentioned looking on the osmdroid side to see whether `pbf` is supported or whether there's any intention to support it. I think the answer is no: https://github.com/osmdroid/osmdroid/issues/101

Now we need to decide whether it's worth adding a tile provider. I suggest we wait until the offline map feature is documented such that people actually use it and that an actual

[2017-06-15 18:44] lognaturel commented on #1093
Actually, I had another thought. @grzesiek2010, how about throwing up an error message for now if the format is not jpg or png? That would be much better than a crash.

[2017-06-19 03:38] lognaturel commented on #1161
A beta tester reported something like this [on the forum](https://forum.opendatakit.org/t/where-is-odk-collect-1-7-1/6930). Hopefully he will let us know more about the Android version and device he's using.

[2017-06-19 10:08] shobhitagarwal1612 commented on #1142
@mmarciniak90 I wasn't able to reproduce this bug on android 6.0 emulator.

[2017-06-19 10:19] mmarciniak90 commented on #1161
I was able to reproduce this problem only on AVD with Android 7.0.
![screenshot_1497867281](https://user-images.githubusercontent.com/3907554/27280702-36575500-54e9-11e7-96c3-3f2bf9692ee9.png)

I tested also devices with Android 4.1, 4.2, 4.4, 5.1, 6.0 - problem was not visible.

[2017-06-19 10:35] mmarciniak90 commented on #1142
@shobhitagarwal1612 I verified on emulator and also I do not see this bug.
I use the real device Samsung Z3 (D6603) with Android 6.0.1 and there the problem is visible.

[2017-06-19 10:36] shobhitagarwal1612 commented on #1142
@mmarciniak90 Thanks for confirming. I am downloading the Android 4.2 emulator for testing on that as well

[2017-06-19 10:38] grzesiek2010 commented on #1093
@lognaturel
https://github.com/opendatakit/collect/pull/1172/files
I've added a simple null check as only this line causes the crash. So currently if there is something wrong with the layer file the default one is visible.

I think we should merge it now an I'll will try to find better solution in the future.

[2017-06-19 10:44] danielsteward opened #1173 "Automatic conversion of image files to .jpg prior to submission to Briefcase or Aggregate."
Collect v1.7.1 (but all versions as far as I know), Android v6.0.1, Fairphone 2.

Problem description:
Collect renames all image files to .jpg extension whatever the android device creates and is submitting only .jpgs to Aggregate

Steps to reproduce the problem:
Create an image other than a on the phone and attempt to add it to a form. The image is renamed with a .jpg extension

Expected behavior

[2017-06-19 11:01] shobhitagarwal1612 commented on #1142
There is a problem while installing apk in the android 4.2 emulator so someone with a physical device should look into this

[2017-06-19 11:03] grzesiek2010 commented on #1142
@shobhitagarwal1612 what's the problem? Any logs?

[2017-06-19 11:05] shobhitagarwal1612 commented on #1142
Both me and @lognaturel have been experiencing this problem with API 16 and API 17 emulators since past few weeks. The emulator shows that 'virtual sd card' is not available required for installing the app

[2017-06-19 11:10] grzesiek2010 commented on #1142
ok so I'll look at it using our real devices.

[2017-06-19 12:29] danielsteward commented on #1173
The conversion takes place in the class collect\android\activities\FormEntryActivity within the methods onActivityResult() L 629 and saveChosenImage() L 819.

[2017-06-19 21:46] #1161 closed, assigned to nobody

[2017-06-19 21:48] #1160 closed, assigned to nobody

[2017-06-19 22:57] #1138 closed, assigned to shobhitagarwal1612

[2017-06-19 23:10] #1111 closed, assigned to nobody

[2017-06-19 23:11] lognaturel commented on #1111
@grzesiek2010 Can you please do a quick sanity check off master with your device?

[2017-06-20 08:14] grzesiek2010 commented on #1142
I made a quick investigation yesterday and I was able to reproduce the issue using one of mentioned devices but interestingly only if I install the app using `.apk` file! Everything is ok if I install the app directly using Android Studio. So it's a bit strange. At first glance I wasn't able to see anything strange in logs as well.
I'll try to investigate logs deeper and I'll check the beta versio

[2017-06-20 12:45] mmarciniak90 opened #1178 "Save form and Go to prompt icons are visible although all options are unchecked in Form Entry Settings"
#### Software and hardware versions
Collect - current master
Android v4.1, 4.2, 5.1

#### Problem description
Save form and Go to prompt icons are visible although all options are unchecked in Form Entry Settings

#### Steps to reproduce the problem
1. All options in Form Entry Settings are unchecked
2. User starts form
3. User sees 'Save form' and 'Go to prompt' icons

#### Expected behavior
'Sav

[2017-06-20 13:07] Angkirat opened #1179 "Null pointer exception after refactoring"
#### Software and hardware versions
Collect v1.7.0, Android v8.0.0, Nexus (Emulator)

#### Problem description
I an getting a null pointer exception after refactoring the code. The code works perfectly fine without refactoring.

[code]
#### Steps to reproduce the problem
Refactored the code

[2017-06-20 13:22] mmarciniak90 opened #1180 "The whole text in Settings, About is grey"
#### Software and hardware versions
Collect current master
Android v4.1, 4.2, 4.4

#### Problem description
The whole text in Settings, About is grey

#### Steps to reproduce the problem
1. User goes to About or Settings
2. User sees that options headers and descriptions are grey
![admin1 8](https://user-images.githubusercontent.com/3907554/27335186-f4b9f68c-55cb-11e7-83e6-f8d12b498df9.png)
![abou

[2017-06-20 17:48] yanokwa commented on #1179
In general, we can't really provide support for issues in someone else's fork. My recommendation is to start from a clean repo, refactor incrementally (and verify changes in each increment) and then go from there.

[2017-06-20 17:49] yanokwa commented on #1179
If you have more issues after that, you can find some of the other developers on http://slack.opendatakit.org in the #collect-code channel.

[2017-06-20 17:49] #1179 closed, assigned to nobody

[2017-06-21 04:08] #1135 closed, assigned to grzesiek2010

[2017-06-21 05:01] #873 closed, assigned to nobody

[2017-06-21 05:31] VisheshVadhera commented on #1132
Hey, can I tackle this one?

[2017-06-21 05:43] mmarciniak90 opened #1181 "Message in header overlaps location icon on GeoPoint view with map"
#### Software and hardware versions
Collect v1.7.1
Android v4.2

#### Problem description
Header with message: 'Long press to place mark or tap add marker button. Using network. Accuracy is XXm' overlaps location button.

#### Steps to reproduce the problem
1. User start form
2. User is on question with 'Start GeoPoint' button
3. User clicks on the button
4. View with map opens
5. User sees that h

[2017-06-21 05:45] mmarciniak90 opened #1182 "Unrecognized token error is visible when cascading select column headers start with a number"
#### Software and hardware versions
ODK Collect v1.7.1
Sony Z3 with Android 6.0
Nexus 5x with Android 7.0

#### Problem description
Unrecognized token error is visible when cascading select column headers start with a number

#### Steps to reproduce the problem
1. User adds csv file where column headers start with a number
2. User starts form
3. User selects option in first level and goes to next

[2017-06-21 05:50] lognaturel commented on #1132
That would be great, thank you!

[2017-06-21 05:54] VisheshVadhera commented on #1132
I see in some of the places we are using "autosend" as preference key. Just wondering if changing it to "auto_send" that will break compatibility for existing set of users?

[2017-06-21 06:06] lognaturel commented on #1132
Only user-facing strings need to be changed!

[2017-06-21 06:07] VisheshVadhera commented on #1132
Alright, on it!

On Wed, Jun 21, 2017 at 11:36 AM, Hélène Martin <notifications@github.com>
wrote:

[2017-06-21 07:14] mmarciniak90 opened #1184 "User is moved to General Setting from Server Settings, User interface, Form manager, User and device identity when user changes device orientation"
#### Software and hardware versions
Collect current master, v1.8.0 beta-9
Android v4.1, v4.4, v5.1, v6.0,
Device used:
- Samsung Galaxy Young GT-S6310,
- Samsung Galaxy J1 SM-J100H,
- Huawei Y560-L01,
- Sony Xperia Z3 D6603

#### Problem description
User is moved to General Setting from Server Settings, User interface, Form manager, User and device identity when user changes device orientation

##

[2017-06-21 07:19] mmarciniak90 commented on #1184
The same situation is in Admin settings. User is moved to Admin settings when user changes device orientation on some of sub-menu in Admin settings

[2017-06-21 09:45] grzesiek2010 commented on #272
@lognaturel We can close this issue

[2017-06-21 10:37] mmarciniak90 opened #1191 "Crash if user changes devices orientation on Server settings and second time on General settings and then user clicks device back button"
#### Software and hardware versions
Collect current master v1.8.0 beta 9,
Android v4.1, v4.4, v5.1, v6.0,
Device used:
- Samsung Galaxy Young GT-S6310,
- Samsung Galaxy J1 SM-J100H,
- Huawei Y560-L01,
- Sony Xperia Z3 D6603

#### Problem description
Crash if user changes devices orientation on Server settings and second time on General settings and then user clicks device back button

#### Steps t

[2017-06-21 11:15] grzesiek2010 opened #1192 "StringWidget/IntegerWidget/DecimalWidget with `readonly=true()` option allow to use paste option"
#### Problem description
If we use StringWidget/IntegerWidget/DecimalWidget with `readonly=true()` option the TextView is not visible at all:
![screenshot_2017-06-21-13-10-08](https://user-images.githubusercontent.com/3276264/27381560-93b11af6-5683-11e7-862c-7061220dfebd.png)

also I'm able to use paste option and add an answer to that question!
![screenshot_2017-06-21-13-10-41](https://user-image

[2017-06-21 12:01] grzesiek2010 opened #1194 "Readonly option doesn't work if you use some widgets"
Readonly option doesn't work if you use some widgets like:
ExPrinterWidget
GeoShapeWidget
GeoTraceWidget
GridMultiWidget
GridWidget
SpinnerMultiWidget

[2017-06-22 00:02] lognaturel commented on #42
This is ready to build as an `orx:max-pixels` attributes for images.

[2017-06-22 00:15] lognaturel commented on #1184
@shobhitagarwal1612 could you please look at this one?

[2017-06-22 20:48] #1178 closed, assigned to nobody

[2017-06-23 03:24] shobhitagarwal1612 commented on #1184
Sure, I'll look into it today

[2017-06-23 05:18] lognaturel commented on #1184
From @mmarciniak90 on #1188:

[2017-06-23 09:26] mmarciniak90 opened #1197 "Ex String Widget, Ex Integer Widget, Ex Decimal Widget with `readonly=true()` option allow to use paste option"
#### Software and hardware versions
Collect v1.8.0 beta 10,
Android v4.1, v4.2, v4.4, v5.1, v6.0

#### Problem description
Ex String Widget, Ex Integer Widget, Ex Decimal Widget with `readonly=true()` option allow to use paste option
#### Steps to reproduce the problem
1. User starts job with Ex String Widget, Ex Integer Widget, Ex Decimal Widget
2. Questions are read only
3. User tap and hold on

[2017-06-23 10:32] grzesiek2010 commented on #1197
@lognaturel
It's really funny that @mmarciniak90 has discovered this issue as it's possible only if that widget is `readOnly` :)

Why? because we don't even support paste option in ExStringWidget/ExIntegerWidget/ExDecimalWidget !

In this pr https://github.com/opendatakit/collect/pull/291 we have implemented paste option but only for StrigWidget/IntegerWidget/DecimalWidget look:

https://github.co

[2017-06-23 11:50] grzesiek2010 commented on #1142
@lognaturel
I can confirm that everything is ok if we install the app from Google Play or using Android Studio. The problem occurs only when I build the app on my own and only on some particular devices. So it's something really odd and I can't see anything helpful in the logs.

The most important thing is as I said it works if we use Google Play. I think we can close this issue.

[2017-06-23 12:42] shobhitagarwal1612 commented on #1191
Closed in #1188

[2017-06-23 15:08] #1191 closed, assigned to nobody

[2017-06-23 16:15] #1136 closed, assigned to grzesiek2010

[2017-06-23 16:16] #1192 closed, assigned to nobody

[2017-06-24 07:46] VisheshVadhera commented on #550
Any update on this one? I have used Butterknife in many of my projects and I feel I can be of help here.

[2017-06-25 17:57] lognaturel commented on #1142
Really strange. I agree with @grzesiek2010, let's close for now and reopen if a user reports it.

[2017-06-25 17:57] #1142 closed, assigned to nobody

[2017-06-26 14:51] grzesiek2010 opened #1202 "Proposal of adding new simple widget for displaying text."
#### Software and hardware versions
Current master branch

#### Problem description
The first question from "All Widgets" form is used only for displaying text but disabled EditText is visible below:
![screenshot_2017-06-26-16-45-11](https://user-images.githubusercontent.com/3276264/27545089-393d4d6e-5a8f-11e7-8257-cba028e78b7c.png)

it takes place because we use StringWidget with readOnly option

[2017-06-26 16:25] #1093 closed, assigned to nobody

[2017-06-26 16:26] #1180 closed, assigned to nobody

[2017-06-26 18:03] #1132 closed, assigned to nobody

[2017-06-26 20:02] lognaturel commented on #550
@VisheshVadhera Thanks for your interest in this discussion! @shobhitagarwal1612 is working on a refresh to the user experience as part of his Google Summer of Code project. You can check out [his project proposal](https://opendatakit.slack.com/files/shobhit_1612/F4Q3A6TCP/gsoc_) and [timeline](https://opendatakit.slack.com/files/shobhit_1612/F5G1SMRNG/timeline). He's making some pretty far-reachi

[2017-06-26 20:47] #1184 closed, assigned to nobody

[2017-06-26 22:18] lognaturel opened #1204 "Add setting for audit feature if decided to be necessary"
I removed the audit setting in #1203 since the overall audit feature is not quite ready to ship and the setting was therefore confusing.

Before adding it back in, I think we should have a conversation about whether it's necessary and if it is, how it should be framed.

Previously, it was framed as:
[code]

That implies that when the setting is on, an audit is always generated which was not the ca

[2017-06-27 00:08] lognaturel commented on #1202
Form builders/generators like Build or pyxform generate readonly string widgets as notes so it won't be be something that we can deprecate fully.

I'd be ok with adding an alternative but I'd like to first be sure that there's no way to make that line disappear. I think it appeared a while after the switch to the support libraries. Was it because of the paste suppression? Is there another way to m

[2017-06-27 02:38] lognaturel opened #1206 "Crash when attempting to get device details"
#### Software and hardware versions
Collect v1.4.10+, seen across devices and Android versions in Play Store console

#### Problem description
Collect crashes when trying to get the phone's serial number. I believe `telephonyManager.getDeviceId()` is the culprit.

#### Steps to reproduce the problem
I'm not able to reproduce this on my devices. Galaxy Note5, Galaxy S6 are common devices this happe

[2017-06-27 02:57] lognaturel opened #1207 "Populate instance audit node with audit filename"
When a form is set to perform an audit, corresponding filled out forms (instances) should include the audit's filename as described [here](https://github.com/opendatakit/xforms-spec/issues/94#issuecomment-290172183).

Currently, the instance has the following:
[code]

Instead it should have:
[code]

@nap2000 is this something you've looked at yet? Any thoughts or questions about it?

[2017-06-27 03:25] lognaturel commented on #1123
@mathieubossaert, apologies about the lack of response here! I think this is a pretty big conversation because it would involve changes to the XForms spec and tools across the ODK ecosystem (including Collect, Aggregate, etc).

I think the right place to kick off the discussion would be on the forum in the Features section ([here](https://forum.opendatakit.org/c/features)) since it's such a broad,

[2017-06-27 03:25] #1123 closed, assigned to nobody

[2017-06-27 06:11] nap2000 commented on #1207
I looked briefly at this and it seemed to me that it would require changes to java rosa. Any suggestions on updating instance files outside of JR would be welcome. There is currently no mechanism for the device user to change the audit timer file name which is hard coded as audit.csv.

[2017-06-27 08:31] grzesiek2010 opened #1208 "Exception java.lang.RuntimeException: An error occurred while executing doInBackground()"
#### Software and hardware versions
Collect v1.8.0

Logs from firebase:

`Caused by java.lang.NullPointerException: Attempt to invoke direct method 'java.io.File org.odk.collect.android.tasks.DownloadFormsTask$FileResult.getFile()' on a null object reference
org.odk.collect.android.tasks.DownloadFormsTask$FileResult.access$000 (DownloadFormsTask.java:540)
org.odk.collect.android.tasks.DownloadForm

[2017-06-27 15:22] mathieubossaert commented on #1123
@lognaturel, no problem, I've just created the topic : https://forum.opendatakit.org/t/geo-fields-sould-be-store-in-wkt-format-well-known-text/7048

Thanks,

Mathieu

[2017-06-27 16:46] lognaturel commented on #1207
This should be analogous to other binary files like images. If it needs to happen on the JR side, can you please file an issue there?

[2017-06-27 16:59] nap2000 commented on #1207
OK.  So the behaviour you want in Java Rosa is that if the form has a meta value of <n0:audit /> then the content of that element should be set to "audit.csv"?

[2017-06-27 17:17] lognaturel opened #1211 "Settings menu is not visible"
#### Software and hardware versions
Collect v1.8.0, Android v6.0, HOT 4 (X557)

#### Problem description
From Play Store review: "The new update hid the setting menu.  Please fix."

#### Steps to reproduce the problem
Unknown, user asked for more information

#### Expected behavior
Same menus should be available as in previous releases.

[2017-06-27 18:00] lognaturel commented on #272
@grzesiek2010 You're right. Thanks to everyone who helped out on this! Now we just have to come up with a good process for keeping it up to date.

[2017-06-27 18:00] #272 closed, assigned to nobody

[2017-06-27 19:25] lognaturel commented on #1207
Right, and to be a little bit more precise, the form declaration will include an `audit` node in the `http://openrosa.org/xforms` namespace with whatever prefix used (typically `orx`).

I haven't investigated how namespaces in filled forms are supposed to work. What is currently being generated with the namespace declared in the parent node is legal XML so I believe it's fine.

[2017-06-27 19:40] lognaturel opened #1214 ""Save Settings to Disk" no longer available"
#### Software and hardware versions
Collect v1.8.0; Galaxy Tab A, Android 5.1.1 and Moto G4, Android 7.0.0

#### Problem description
Regression of #1138; the "Save Settings to Disk" menu item is no longer available from Admin Settings.

#### Steps to reproduce the problem
Go to the Admin Settings.

#### Expected behavior
"Save Settings to Disk" is available from the three dots menu as in previous

[2017-06-27 21:27] lognaturel commented on #1214
I spent a little bit of time looking into this but I'm not having any luck. I can see `onCreateOptionsMenu` is never called but in the context of a `PreferenceActivity`, I'm not sure where to go from there. @shobhitagarwal1612 maybe you know how to address it?

[2017-06-28 02:10] shobhitagarwal1612 commented on #1214
Looking into it

[2017-06-28 06:22] yanokwa commented on #1211
Just got another report from a OnePlus3 running Android 7.1

[2017-06-28 06:56] grzesiek2010 opened #1217 "Add an option to set an image size in settings"
Here https://github.com/opendatakit/collect/pull/1210 we have started a discussion about adding an option to settings in order to setting image size for all widgets.

My proposal is to add a dialog with three options:
* Normal - by default
* Small - for example if I use my camera I get 1920x1080 pictures originally it's 2073600 pixels so I think small might be normal/2 - 2073600 / 2  = 1036800 it'

[2017-06-29 05:47] #1214 closed, assigned to nobody

[2017-06-29 05:48] #1211 closed, assigned to nobody

[2017-06-29 05:48] #1208 closed, assigned to nobody

[2017-06-29 06:49] shobhitagarwal1612 commented on #809
I have started working on the new form overview screen as proposed by @hooverlunch in the [mockups](https://app.moqups.com/linesarefuzzy/4WPu8QH3er/view/page/a420360b9)

[2017-06-29 07:02] mmarciniak90 opened #1219 "Changed name of finished form moves back to the default name if user changes the device orientation or minimizes the app"
#### Software and hardware versions
Collect v1.8.0
Android 4.1, 4.2, 4.4, 5.1, 6.0

#### Problem description
Name of finished form changed by user moves back to the default name if user changes the device orientation or minimizes the app

#### Steps to reproduce the problem
1. User finishes form and user is on view with 'Save Form and Exit' button
2. User changes name of finished form
3. User mini

[2017-06-29 07:26] mmarciniak90 opened #1220 "Clicking the device back button does not close the 'Change Admin Password' dialog"
#### Software and hardware versions
Collect v1.8.0
Android 4.1, 4.2, 4.4, 5.1, 6.0

#### Problem description
Clicking the device back button does not close the 'Change Admin Password' dialog

#### Steps to reproduce the problem
User goes to Admin Settings
User opens 'Admin Password'
User wants to close the dialog
Device back button does not close 'Change Admin Password' dialog

#### Expected behav

[2017-06-29 12:02] mmarciniak90 opened #1221 "App crashes when user goes to URL widget on Android 4.2.1, Infinix X451"
#### Software and hardware versions
Collect v1.8.0
Android 4.2.1
Infinix X451
[Widgets.txt](https://github.com/opendatakit/collect/files/1111898/Widgets.txt)
[WidgetsReadOnly.txt](https://github.com/opendatakit/collect/files/1111899/WidgetsReadOnly.txt)

#### Problem description
App crashes when user goes to URL widget

#### Steps to reproduce the problem
1. User starts job with attached forms
2.

[2017-06-29 16:02] lognaturel commented on #809
That's great! I think you mentioned on #collect-code that you had started breaking it down into smaller tasks. I encourage you to share that here. Are there any parts that you think need further description and/or that aren't going to be feasible?

@hooverlunch and I are going to do an [unconference](https://forum.opendatakit.org/t/about-unconferences/7004) session tomorrow in which we design a us

[2017-06-29 21:38] lognaturel commented on #35
Too open-ended, @jasonrogena will re-open on [the forum](https://forum.opendatakit.org/c/features)!

[2017-06-29 21:38] #35 closed, assigned to mitchellsundt

[2017-06-30 15:55] nap2000 commented on #1207
Issue raised on JavaRosa https://github.com/opendatakit/javarosa/issues/76

[2017-07-03 06:16] srsudar commented on #1220
This is due to the call to the `builder.setCancelable(false)` [line in `AdminPreferencesFramgent.java`](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/preferences/AdminPreferencesFragment.java#L130).

Changing that line to `builder.setCancelable(true)` restores back button behavior. Does anyone know why it was included in the first place?

[2017-07-03 09:32] grzesiek2010 commented on #1220
I think we should adopt one approach for all dialogs: either we allow to close dialogs using device back button (and clicking outside the dialog) or we should block it.

and we have to remember about it working on: #541

What do you think @lognaturel ?

[2017-07-04 00:00] lognaturel commented on #1220
My sense is that this was deliberate to force the user to explicitly choose to accept the password or cancel. In a lot of contexts, it's not a big deal if the dialog is accidentally dismissed. In this case, it would be bad if a user thought they set an admin password when they didn't. What do you think @srsudar, @grzesiek2010?

[2017-07-04 00:19] lognaturel commented on #541
@grzesiek2010 @shobhitagarwal1612 Dialogs are rather chaotic right now and I think making them consistent and matching [material design guidelines](https://material.io/guidelines/components/dialogs.html#dialogs-specs) seems it would be a good, non-controversial next UI improvement that would provide high value for the future by making it easier to add additional, consistent dialogs when needed.

L

[2017-07-04 08:48] grzesiek2010 commented on #541
@lognaturel yes my proposal is ready https://github.com/opendatakit/collect/pull/1226

[2017-07-04 11:16] grzesiek2010 opened #1227 "SQLiteException - SQLiteConnection.nativePrepareStatement"
There are lots of fatal crashes visible in firebase:

android.database.sqlite.SQLiteConnection.nativePrepareStatement (SQLiteConnection.java)
android.database.sqlite.SQLiteConnection.acquirePreparedStatement (SQLiteConnection.java:893)
android.database.sqlite.SQLiteConnection.prepare (SQLiteConnection.java:504)
android.database.sqlite.SQLiteSession.prepare (SQLiteSession.java:588)
android.database

[2017-07-04 12:59] grzesiek2010 commented on #1206
@lognaturel I also wasn't able to reproduce the issue so I added try/catch block https://github.com/opendatakit/collect/pull/1228

I tried vd Api 24 as it occurs only on Api 24 and I tried to revoke permissions but without success.

[2017-07-04 15:10] #1221 closed, assigned to nobody

[2017-07-04 15:11] lognaturel commented on #1221
@mmarciniak90 Is there also a problem with URLs accessed from the About menu?

[2017-07-04 15:14] #1182 closed, assigned to nobody

[2017-07-04 15:16] grzesiek2010 commented on #1221
@lognaturel No it isn't it was a problem in the widget class only but I added changes in https://github.com/opendatakit/collect/pull/1224/files#diff-222355720a50b9a557d326daa09baf11R75 just in case to avoid similar situation in about menu for example (as you noticed it would be possible)

[2017-07-04 15:17] lognaturel commented on #1221
Of course, thanks! Forgot they used the same utility. 👌

[2017-07-04 15:23] #1197 closed, assigned to nobody

[2017-07-04 15:30] #1194 closed, assigned to nobody

[2017-07-04 17:14] lognaturel commented on #26
I don't think this is practical. I can't think of any positive impact on users and it would mean a whole different app in the Play Store thus disrupting updates. I'll close this for now and if there's a good reason to reopen we can have a bigger discussion on the forum.

[2017-07-04 17:14] #26 closed, assigned to mitchellsundt

[2017-07-04 17:34] lognaturel commented on #34
Duplicate of #105 which is almost done! 🎉

[2017-07-04 17:34] #34 closed, assigned to mitchellsundt

[2017-07-04 17:45] lognaturel commented on #50
It is possible to set a template for the instance name. I think moving the manual naming is something that could be discussed in the forum if there's renewed interest in it.

[2017-07-04 17:45] #50 closed, assigned to nobody

[2017-07-04 17:47] lognaturel commented on #59
I think this will be addressed by the picker appearance on #105.

[2017-07-04 17:47] #59 closed, assigned to mitchellsundt

[2017-07-04 17:53] lognaturel commented on #116
This is now possible to do from settings and @grzesiek2010 has also proposed allowing it from the map-based widgets in #1042

[2017-07-04 17:53] #116 closed, assigned to mitchellsundt

[2017-07-04 18:00] lognaturel commented on #60
This is open-ended so best discussed on the forum until it can be turned into actionable issues. Thread started [here](https://forum.opendatakit.org/t/randomizing-lists-or-questions-within-groups/6860/2).

[2017-07-04 18:00] #60 closed, assigned to mitchellsundt

[2017-07-04 18:01] lognaturel commented on #120
Pretty sure this is a duplicate of #170.

[2017-07-04 18:02] lognaturel commented on #154
Duplicate of #170.

[2017-07-04 18:02] #154 closed, assigned to mitchellsundt

[2017-07-04 22:07] lognaturel commented on #541
For clarity, I want to make sure we're all on the same page regarding the goals here. I think the number 1 goal is to make sure dialogs have a consistent look and feel that matches modern guidelines. A secondary and also important goal is that the code for generating dialogs is consistent. This will help avoid errors moving forward and make it easier to add further dialogs as needed. Does everyone

[2017-07-05 05:57] grzesiek2010 commented on #975
It's still visible in firebase (a few positions in the list). @lognaturel we should reopen it.
Or we can just merge this https://github.com/opendatakit/collect/pull/1232

[2017-07-05 13:20] grzesiek2010 opened #1231 "Caused by android.database.sqlite.SQLiteException: Expression tree is too large (maximum depth 1000) (code 1)"
Logs from firebase:

It occurs when you try to send lots of finalized forms to google sheet.

[2017-07-05 13:31] grzesiek2010 commented on #1231
@lognaturel I'll fix this issue once we merge #1151

[2017-07-05 15:33] alxndrsn commented on #975
@grzesiek2010 if that exception's expected then I agree it should be changed to an `INFO` message.

[2017-07-05 21:28] shobhitagarwal1612 commented on #1039
Some other approaches to this other than bottom dialog sheet can be:

![images](https://user-images.githubusercontent.com/8918023/27885795-ea61c138-61f6-11e7-9022-7e5280dafebe.jpg)

![download](https://user-images.githubusercontent.com/8918023/27885796-eb482eb6-61f6-11e7-9df5-96e3778c0ea1.jpg)

![download](https://user-images.githubusercontent.com/8918023/27885797-ec57b060-61f6-11e7-8983-74dc76f1a

[2017-07-06 11:52] grzesiek2010 commented on #541
My order is a little bit different because I think the most important thing is to manage dialog easier and avoid some issues related to the current approach, layout is less important to me but generally I agree with you.

I know this approach from my last project (TaroWorks) and it is still used as I know and works well. I wasn't able to find any other good solution without using external dependen

[2017-07-06 12:49] grzesiek2010 opened #1234 "Time that I've already spent on any question is cleared after changing your device orientation"
#### Software and hardware versions
Collect v1.8.1, Android v5.0.1, Samsung Galaxy S4

#### Problem description
Time that I've already spent on any question is cleared if I change device orientation.

To reproduce the issue I can change the device orientation manually or just return from BarcodeWidget and then it takes place automatically.

#### Other information
I don't use `don't keep activities

[2017-07-06 13:25] danielsteward commented on #1173
OK, update.
I am not sure that this is a bug as such. With my testing of how Collect, Briefcase and Aggregate work together it seems that Aggregate can only handle jpg image types. If you try to push an instance from Briefcase to Aggregate, substituting a gif for a jpg the image doesn’t display in Aggregate. And Collect simply converts an image to a jpg whatever the image type chosen.
So we can ei

[2017-07-06 14:55] srsudar commented on #1220
That makes some sense to me, as long as the goal is to include consistent behavior on password dialogs as part of the dialog refresh. This particular dialog can currently be dismissed via rotation, but I bet that will change with the refresh.

The [material design guidelines](https://material.io/guidelines/components/dialogs.html#dialogs-behavior) don't offer much guidance:

As a user I think I wo

[2017-07-06 15:28] srsudar commented on #541
I don't have any good pointers to follow. A static creator function as #1226 is common practice and makes sense to me, as long as it is testable which I think it would be. I've begun judiciously avoiding `Fragment`s in my recent projects--maybe because I'm bad at them--so I don't feel like a good source of best practices. As long as the dialog solution that emerges can be testably integrated with

[2017-07-06 19:54] #1206 closed, assigned to nobody

[2017-07-06 20:13] shobhitagarwal1612 opened #1235 "Auto restart application after crash/force close"
Whenever the application encounters an unhandled exception, the app crashes. The user usually tries to open it again. So I want to propose that we restart the application after `crash`/`force close` in order to improve the user experience. @grzesiek2010 What do you think?

[link1](http://chintanrathod.com/auto-restart-application-after-crash-forceclose-in-android/
) [link2](https://stackoverflow.c

[2017-07-06 20:20] lognaturel commented on #1234
@nap2000 Can you please take a look at this one? Thanks!

[2017-07-06 20:24] grzesiek2010 commented on #1227
it's related:

android.database.sqlite.SQLiteConnection.nativePrepareStatement (SQLiteConnection.java)
android.database.sqlite.SQLiteConnection.acquirePreparedStatement (SQLiteConnection.java:896)
android.database.sqlite.SQLiteConnection.prepare (SQLiteConnection.java:507)
android.database.sqlite.SQLiteSession.prepare (SQLiteSession.java:588)
android.database.sqlite.SQLiteProgram.<init> (SQLitePro

[2017-07-06 20:55] srsudar commented on #1235
Would it still be clear to the user that a crash had occurred? If it looked like it just kicked them out of a form to the start screen, that apparent unpredictability might be as bad as a crash.

Would there be a way to make sure you didn't get stuck in a loop? If it got in a bad state and crashed on opening, eg, it would be bad news if it kept crashing and then restarting itself.

Is this a commo

[2017-07-06 20:59] lognaturel commented on #1234
This may have been one that @nap2000 couldn't reproduce now that I think about it. Would be good to get confirmation on a couple of devices.

[2017-07-06 21:02] nap2000 commented on #1234
I can reproduce this one ok.  It may actually be behind the hard to
reproduce problems.  Ie start another app, it does a screen flip, resume
collect, timer data reset.  Should have picked this one up earlier :)

On Thu, Jul 6, 2017 at 10:00 PM, Hélène Martin <notifications@github.com>
wrote:

--

Smap Consulting  <http://smap.com.au/>| Mobile Data Collection Solutions
Application Developer - neilp

[2017-07-06 21:08] lognaturel commented on #257
To give a little update here, #760 was merged recently and has the bulk of the functionality 🎉. We still want to do a little bit more verification since correctness is key here. #1234 is one bug currently filed.

opendatakit/javarosa#76 will need to be addressed before the file can be sent to the server and opendatakit/javarosa#60 and XLSForm/pyxform#128 are needed for generating forms with audits

[2017-07-07 07:50] nap2000 commented on #1234
I have done a fix for this issue though have not issued a pull request yet.  The fix was just to store the timerLogger object in the collect App and then check for that existing object when creating a new timerLogger.

However I think it may be cleaner if the timerLogger object is stored inside the formController.  Currently its only referenced from FormEntryActivity so it seems a bit unnecessary

[2017-07-07 09:35] grzesiek2010 opened #1237 "Exception java.lang.OutOfMemoryError"
Logs from firebase:

dalvik.system.VMRuntime.newNonMovableArray (VMRuntime.java)
android.graphics.BitmapFactory.nativeDecodeStream (BitmapFactory.java)
android.graphics.BitmapFactory.decodeStreamInternal (BitmapFactory.java:646)
android.graphics.BitmapFactory.decodeStream (BitmapFactory.java:622)
android.graphics.BitmapFactory.decodeFile (BitmapFactory.java:402)
org.odk.collect.android.utilities.F

[2017-07-07 09:51] grzesiek2010 commented on #1235
I agree with @srsudar generally I'm not in favor of this.

[2017-07-07 15:25] thedavidmccann opened #1239 "Add code of conduct to repo"
The "so what" is here: https://opensource.guide/code-of-conduct/
Since github now makes this easy (https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/), I'm creating an issue to target a PR against.

[2017-07-07 15:31] thedavidmccann commented on #1239
n/m, see there is a global one in odk/governance.

[2017-07-07 15:31] #1239 closed, assigned to nobody

[2017-07-07 20:51] yanokwa commented on #1173
@danielsteward Thanks for the great detective work!

@mitchellsundt @wbrunette Is it true that Aggregate can only handle JPGs? I'd love some insight as to why that is the case and what potential workarounds are.

[2017-07-07 22:15] mitchellsundt commented on #1173
Aggregate can handle any content, but when displaying the little thumbnails on the Submissions pages, it executes this codepath https://github.com/opendatakit/aggregate/blob/master/src/main/java/org/opendatakit/aggregate/servlet/BinaryDataServlet.java#L213 to scale down the image.

And that prevents handling anything other than JPG.

The underlying library might be able to support more file format

[2017-07-07 22:16] mitchellsundt commented on #1173
And collect shouldn't have any restrictions on file types.
I don't think you're reading the code correctly if you see anything like that.

[2017-07-07 22:40] yanokwa commented on #1173
@mitchellsundt Collect doesn't have restrictions on file types, but it does rename any image to jpg before uploading. https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActivity.java#L656 is the relevant line of code.

This is bad behavior on the part of Collect and I think we should probably fix it. But it does break Aggregate,

[2017-07-08 17:09] danielsteward commented on #1173
I'd be happy to take something like this on if I have guidance from a Java master. That is exactly what I'm looking for here to improve my coding and expand my knowledge. Especially if it is with ODK.

[2017-07-10 12:14] nap2000 opened #1243 "App URL included in strings for translation"
app_url is included in strings.xml and hence is included in the translations.  Commonly it is left untranslated as "http://opendatakit.org" which is fine however sometimes other URLs are used such as in https://github.com/opendatakit/collect/blob/master/collect_app/src/main/res/values-ru/strings.xml

[2017-07-10 14:33] grzesiek2010 commented on #129
@lognaturel I think we can close this issue as everything work well. I've tested this form:
[collect-129.txt](https://github.com/opendatakit/collect/files/1135852/collect-129.txt)

[2017-07-10 23:30] lognaturel commented on #129
Thanks, @grzesiek2010!

[2017-07-10 23:30] #129 closed, assigned to mitchellsundt

[2017-07-11 08:58] sowmyaaguptaa opened #1245 "Dynamic selects from pre-loaded data gives 'java.util.Vector' error"
Collect v1.7.1 Android v5.1.1, device used - Redmi 2s

I am trying to preload data from a csv file into a select box dynamically.
I created the XLSForm as guided here - http://xlsform.org/#dynamic-selects-from-pre-loaded-data
But on running it on the ODK Collect it gives an error saying,

"The search handler returned a object of type 'java.util.Vector'."

I have no idea of how to solve this and no

[2017-07-11 15:23] lognaturel commented on #257
@nap2000 Quick question for you -- did you double check that Aggregate can indeed receive and show `csv` files? We know there are currently issues with the namespaces but it occurs to me that I have not yet verified that a `csv` file can be properly received and displayed by Aggregate without namespace problems. Have you? If not, can you please take a look and report back. It would be fantastic to

[2017-07-11 15:36] nap2000 commented on #257
@lognaturel No I'm not a user of Aggregate.  Collect will include the audit.csv file in the files it sends to the server when you submit the results.  What aggregate does with it I cannot tell. I haven't put much thought into how Smap Server will process the CSV file yet.  However I will add some functions to view and download the data soon.

[2017-07-11 21:54] #1227 closed, assigned to nobody

[2017-07-11 23:21] lognaturel commented on #1234
I think that looks good, @nap2000, thanks! @mmarciniak90 will do some testing.

[2017-07-12 22:04] #1234 closed, assigned to nobody

[2017-07-12 23:00] lognaturel commented on #1245
Thanks for posting your form on [the forum](https://forum.opendatakit.org/t/dynamic-selects-from-pre-loaded-data-gives-java-util-vector-error/8993/2)! That's the best place for support so please follow up there.

[2017-07-12 23:00] #1245 closed, assigned to nobody

[2017-07-12 23:06] lognaturel commented on #1243
Sigh. How brazen! Hopefully it was just a misunderstanding. At least it's a fork of ODK and not something totally random.

[2017-07-12 23:50] #791 closed, assigned to nobody

[2017-07-13 13:25] grzesiek2010 opened #1247 "App crashes if we pass https://docs.google.com/spreadsheet/d/ as a submission url"
#### Problem description
App crashes if we pass https://docs.google.com/spreadsheet/d/ as a submission url

#### Steps to reproduce the problem
1. Go to General Settings > Server
2. Select Google Drive, Google Sheet as a Platform
3. Add https://docs.google.com/spreadsheet/d/ as a submission url
4. Try to send any form

[2017-07-13 23:59] #1247 closed, assigned to nobody

[2017-07-14 00:37] #1219 closed, assigned to nobody

[2017-07-14 01:15] lognaturel opened #1251 "Frequent crash on version 1.4.10 from Play Store"
I was looking at crash reports and noticed [this one](https://play.google.com/apps/publish/?dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=PRODUCTION&lastReportedRange=LAST_30_DAYS&clusterName=apps/org.odk.collect.android/clusters/31f69dd8) (needs permissions) which happens really frequently and only on 1.4.10/1061. Some users are still on that version

[2017-07-14 01:40] lognaturel opened #1252 "SQL error when downgrading after #1151"
In #1151, some new database columns were introduced to the forms db for auto-send and auto-delete. After running that migration, it is no longer possible to go back to a version previous to it. The reason is that `onUpgrade` had an `else` instead of `else if (oldVersion < 4)` and so the version 4 migration is run even if the current db version is 5.

To reproduce, install the latest from `master`

[2017-07-14 01:52] lognaturel commented on #1252
Alternately, what about implementing `auto-send` and `auto-delete` without making modifications to the database?

[2017-07-16 03:54] shobhitagarwal1612 opened #1254 "Replacing ListView with RecyclerView"
We know that in the [ListView](https://developer.android.com/reference/android/widget/ListView.html) to increase the performance we have to use the ViewHolder pattern. This is simply a java class that holds the references to the widget in the row layout of the ListView (for example TextView, ImageView and so on). Using this pattern we avoid to call several times findById method to get the UI widge

[2017-07-17 19:53] grzesiek2010 opened #1255 "Nested groups with `field-list` appearance"
Analyzing the firebase crash reports I found out that some users might try to use a form that contains a group with `field-list` appearance which contains another group. It's not allowed and I'm wondering if there is any particular reason why.
Everything inside that group with  `field-list` appearance should be displayed on one page of course other groups as well even if they don't have `field-lis

[2017-07-17 23:07] wonderchook opened #1256 "Language Name Wrong in User Interface Settings Version 1.8.1"
#### Software and hardware versions
Collect v1.8.1 Android 7.0, Galaxy S6 <- Incorrect
Collect v1.8.1 Android 6.0.1, Ellipsis 8 <- Correct

#### Problem description
Language dropdown shows "Bahasa Indonesia" as "Indonesia" in some versions of Android.

![screenshot_20170717-155958](https://user-images.githubusercontent.com/67992/28293604-bec8d8c4-6b09-11e7-97bd-1a4520ebaf68.png)

#### Steps to rep

[2017-07-18 09:28] mmarciniak90 opened #1257 "App slows down when user has finished many forms and clicks on 'Save Form and Exit' when internet connection is turned on"
#### Software and hardware versions
Android 6.0, Sony Z3
Collect - pr/1249

#### Problem description
App slows down when user has finished a lot of forms and clicks on 'Save Form and Exit' when internet connection is turned on

#### Steps to reproduce the problem

1. User has *turned on internet connection*
2. User fills amny forms
3. User clicks on 'Save Form and Exit'
4. App slows down - User ne

[2017-07-18 09:57] heyjamesknight commented on #508
Hey everyone! I'm a new contributor working with the Nafundi folks—migrating the FusedLocationProvider is the first improvement we've decided to tackle.

While looking at the existing Location code, I came up with six classes (all Activities) that will need to be updated from LocationManager to the Fused Location Provider. To accomplish this, we'll abstract the new code away into what we’ll call t

[2017-07-18 10:05] mmarciniak90 opened #1258 "User should see progress dialog during deleting saved forms"
#### Software and hardware versions
Android 6.0, Sony Z3

#### Problem description
Progress of delete forms is not visible

#### Steps to reproduce the problem
1. User has many saved forms (eg. 1000)
2. User wants to delete all saved forms
3. User clicks on 'Select All' and then 'Delete Selected'
![screenshot_20170718-104714](https://user-images.githubusercontent.com/3907554/28311862-4ab810aa-6bb1

[2017-07-18 12:11] grzesiek2010 commented on #1252
@lognaturel we could load related form instead of read from database but I don't like such an approach...
It's a problem that has been existed since beginning I think as we haven't handled downgrade. We should fix that problem ASAP and as you know I've started work on this #1253.

So we can try to load those information from the form as I said or just let to crash. We shouldn't avoid extending our

[2017-07-18 17:22] srsudar commented on #508
This sounds like a great plan. I love getting code out of `Activity`s. The hardest part sounds to me like it will be getting instrumentation tests for the current location users. A quick google search didn't turn up anything obvious for Espresso and GPS testing. Hopefully that means it will be easy and I'm overthinking it.

Depending on what the `LocationClient` ends up looking like, I might still

[2017-07-18 17:39] lognaturel commented on #1252
@grzesiek2010 and I spoke a bit about this and decided to delay the `auto-send` and `auto-delete` features for now. It might be best to couple them with a major version change. Since #1151 also included some good refactoring, @grzesiek2010 will issue a pull request taking out the features rather than reverting those commits and we will re-open the issue. He will also look at a longer-term fix for

[2017-07-18 21:49] lognaturel opened #1260 "Default value for range widget should be null"
The default value for the range widget is currently set to be the center of the range. To better match other widgets, it should be null which would be represented by a seek bar with no pull circle on it.

[2017-07-18 22:24] lognaturel opened #1262 "SeekBar not visible on vertical range widget, Android 7.0"
#### Software and hardware versions
Collect v1.8.1-30-g06adb7f3c, Android v7.0, Motorola G4

#### Problem description
The vertical range widget bar isn't visible.
<img src="https://user-images.githubusercontent.com/967540/28342394-dab991a4-6bcc-11e7-8cc9-465e1c032f2f.png" width="200">

#### Steps to reproduce the problem
Use [this form](https://github.com/opendatakit/collect/files/1127308/range.tx

[2017-07-19 00:50] lognaturel commented on #1254
I want to think a little strategically about this. Given that the biggest reason to switch to `RecyclerView` is performance, are there actually known performance issues with the current implementation?

Or is the reason to do this now more that it is necessary for the more prototype/experimental changes that you have planned for the remainder of your Google Summer of Code project?

[2017-07-19 04:01] shobhitagarwal1612 commented on #1254
I know that no one has ever reported any performance issue related but it's something that exists when the number of items in the list gets too big. So as a good practice I wished to tackle it by replacing the list views with the better alternative, recycler view. When I had proposed that we should move to the form first approach, then it seemed to me that recycler view would be best for it. Switc

[2017-07-19 14:46] mmarciniak90 opened #1264 "Sort on 'Fill Blank Form' view takes into account a case-sensitive"
#### Software and hardware versions
Collect v1.8.1
Noticed during testing [Sort menu redesign - Bottom Sheet Dialog](https://github.com/opendatakit/collect/pull/1242)
#### Problem description
Sort on 'Fill Blank Form' view takes into account a case-sensitive
![screenshot_2017-07-20-12-43-45](https://user-images.githubusercontent.com/3907554/28413804-39e5f5dc-6d49-11e7-8168-25c47c46daa1.png)

####

[2017-07-19 17:38] srsudar commented on #1254
Does `RecyclerView` perform better than `ListView` if there are a lot of items in a list? I didn't think it did. I thought the main difference in performance is just what you mention above, that it enforces the ViewHolder pattern.

Outside of potential performance gains, the big benefit of `RecyclerView` I think is that you get add/remove animations for free. This might be a good thing for the UI

[2017-07-20 00:40] lognaturel opened #1265 "Dialogs with multiple possible actions look bad"
It's no longer very clear that save or ignore changes are clickable:
<img src="https://user-images.githubusercontent.com/967540/28394980-99ef1b4c-6ca5-11e7-984a-257f9154ee37.png" height=200> <img src="https://user-images.githubusercontent.com/967540/28394984-9d7b7fa8-6ca5-11e7-92f3-90f1103c548c.png" width=200>

I looked through the [material design guidelines](https://material.io/guidelines/compon

[2017-07-20 00:49] lognaturel commented on #1202
@grzesiek2010 What do you think of not showing a line when the field is read-only?

Somewhat related to this, it occurred to me that read-only fields are sometimes used to show a value as in the following:
<img src="https://user-images.githubusercontent.com/967540/28395670-70e2212c-6caa-11e7-9618-171cd59fb238.png" width=300>

Those are now looking pretty pale. @yanokwa do you think this is common?

[2017-07-20 06:11] batkinson commented on #1202
@lognaturel I'm not sure whether you're asking about this or not, but I have actually received complaints from our field staff as recent versions of collect have been delivered over Play. The complaint is that read-only values are really hard to see on the tablets when they are outside. The reason is that pale read-only text you're pointing out. I just wanted to take the opportunity to mention it

[2017-07-20 09:16] grzesiek2010 commented on #1262
I'm not able to reproduce this issue it works well on our devices I also tried vd Android Api 24 and 25 and its ok.

[2017-07-20 09:38] grzesiek2010 commented on #1202
@lognaturel
I think we should keep this line to show that it's a StringWidhet/IntegerWidget/DecimalWidget because we should be consistent. If we use readOnly option with SelectOneWidget we can see all options not only the selected one etc.

So readOnly option should just protect from edition. If we want to show a message we should add another widget I think.

[2017-07-20 19:55] lognaturel commented on #508
Something just occurred to me. The geopoint widget without map is the most widely used of these location-based widgets. It currently does not require having Google Play Services installed and it would be nice to maintain that since we know that some users on older devices do not have Play Services installed. @jknightco I see that you did not explicitly mention any projected changes to `GeoPointAct

[2017-07-20 22:04] asclepiusgal commented on #550
That proposal looks like an awesome update to the UI @shobhitagarwal1612!

[2017-07-20 22:10] lognaturel commented on #1202
@grzesiek2010 In principle I agree that consistency and separation of concerns is important but we really need to pay attention to actual usage! @batkinson's comment is really important and one we need to pay attention to. Perhaps we could separately discuss introducing new types and recommending deprecating current usage but if we've created a problem for users I think we should start by fixing i

[2017-07-20 22:21] lognaturel opened #1268 "Read-only fields with text or numbers should not display an underline and should use black text"
The read-only modifier is typically used to echo back values. This has been confirmed by @yanokwa and by looking through actual forms.

A recent change made read-only fields with text look more like disabled fields. This is a good change in principle but doesn't match actual usage. @batkinson has confirmed that this causes problems on real forms because the font color is not high enough contrast t

[2017-07-20 22:23] yanokwa commented on #1268
I agree with this proposal.

[2017-07-20 22:57] lognaturel commented on #1262
I think Android 7.0 might be the worst. Unfortunately it's what the Moto G4 is stuck on and it's a fairly popular device. See #993 for another terrible example.

I guess we leave it for now unless someone else has an idea on how to address it.

[2017-07-21 08:47] heyjamesknight commented on #508
@lognaturel ah not sure how GeoPointActivity got left out, it should definitely be included in the list.

What do you think about hiding the LocationManager/Play Services decision inside of of LocationClient? LC can check if Play Services are available and start up the FusedLocationProvider if they are, or LocationManager if they're not.

[2017-07-21 12:18] heyjamesknight commented on #508
@lognaturel draft of the dual LocationClients here: https://github.com/PembrokeStudio/collect/tree/issue-508-locationupdate/collect_app/src/main/java/org/odk/collect/android/location

LocationClient is the shared interface, AndroidLocationClient uses LocationManager, and GoogleLocationClient uses Play Services. LocationClients provides a static method for retrieving the correct implementation.

No

[2017-07-21 20:58] lognaturel commented on #508
I only took a quick look but it is looking fantastic! The fallback behavior seems great and in fact is relevant for the OpenStreetMap versions of the map-based widgets as well as for the map-less geopoint so it's really good to have in there (the Google ones need Play Services for the map).

[2017-07-21 21:02] heyjamesknight commented on #508
Awesome, thanks Hélène. First thing next week I'll add tests and then move
on to modifying the Activities.

On Fri, Jul 21, 2017 at 10:58 PM Hélène Martin <notifications@github.com>
wrote:

[2017-07-21 22:17] yanokwa opened #1272 "Add support for likert appearance"
https://github.com/opendatakit/build/issues/173 is adding a likert appearance to select_one. Enketo has support for this, but Collect doesn't. Since most users of Build use Collect, we should probably add it.

We need to have a discussion about what this should look like because there isn't a lot of horizontal space on most devices.

[2017-07-21 22:52] #1231 closed, assigned to nobody

[2017-07-24 23:11] lognaturel commented on #1235
We have a pretty hard time getting users to report crashes and bad behavior and I think that that reopening the app would make it even less clear to users that something bad happened. That along with @srsudar's good observations make me think we should close.

[2017-07-24 23:11] #1235 closed, assigned to nobody

[2017-07-24 23:14] lognaturel commented on #1237
Did I understand correctly that this will be addressed in #1210 by e5a6fed? If so, please close!

[2017-07-25 07:51] grzesiek2010 commented on #1237
Yes you are right.

[2017-07-25 07:51] #1237 closed, assigned to nobody

[2017-07-25 08:41] grzesiek2010 commented on #1257
I'm on it but we need to merge https://github.com/opendatakit/collect/pull/1263 before

[2017-07-25 14:19] shobhitagarwal1612 commented on #1265
Sorry for the late response. How about breaking this into two dialogs?

First one would be :

[code]

If user presses `Yes` then :

[code]

[2017-07-25 22:59] #1268 closed, assigned to grzesiek2010

[2017-07-26 04:10] #1260 closed, assigned to grzesiek2010

[2017-07-26 19:47] yanokwa opened #1276 "Add 'Get help' to Main Menu"
In https://forum.opendatakit.org/t/how-do-we-encourage-feedback-from-users-when-they-run-into-problems/9203/ I wanted ideas on how we encourage feedback from users when they run into problems. One great idea that came out of the discussion was this:

I propose we add a 'Get help' option to the Main Menu's options.

When you press 'Get help', you'll get an activity with text that says, "To get help

[2017-07-26 22:17] dorey commented on #257
Would there be support for making the format of the output configurable? E.g. if JSON or even HTML can better represent the audit logs as they get more structured in the future.

I could try making a simple HTML template that formats an audit with these values in a more human-readable way if there's interest. My ulterior motive, however, would be to demonstrate some limitations of CSV.

[2017-07-26 23:46] lognaturel commented on #257
I think that ideally the format would be something that is agreed upon across the ecosystem and evolved as needed over time (e.g. opendatakit/xforms-spec#102). It seems the format could certainly change if needed but if there's a compelling reason to change it now while the feature is still not officially released we should consider it.

Hopefully servers will be able to provide most of the analys

[2017-07-27 00:09] lognaturel opened #1277 "Better error handling for external instances"
There are a lot of crashes showing up in Firebase Crash with the stack trace below ([link to Firebase](https://console.firebase.google.com/u/0/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/134a574c?duration=2592000000) for those with permissions).

The issue is in the external data handler. It's probably either a bad CSV or some kind of corruption that has

[2017-07-27 00:31] lognaturel opened #1278 "Improve experience when opening app after old fork"
#### Software and hardware versions
Collect v1.8.1

#### Problem description
After an old fork of Collect is installed, the databases may be in an unexpected state. The only way I can find to recover is to manually remove the affected databases.

#### Steps to reproduce the problem
1. Install the current version of Collect
1. Install an old fork of Collect such as [SecureDataKit](https://play.goog

[2017-07-27 00:35] lognaturel commented on #997
Closing this in favor of #1278 since the issue described here is fixed and #1278 shows an example of the class of problem @yanokwa mentioned.

[2017-07-27 00:35] #997 closed, assigned to nobody

[2017-07-27 08:52] grzesiek2010 commented on #1277
@lognaturel I think it's duplicated https://github.com/opendatakit/collect/pull/1236

[2017-07-27 11:09] mmarciniak90 opened #1280 "User is moved to main screen if user minimizes app on 'Reset result' dialog and returns to ODK in specific way"
#### Software and hardware versions
Collect v1.8
Android 4.2, 4.4, 5.1, 6.0

#### Problem description
User is moved to main screen if user minimizes app on 'Reset result' dialog and returns to ODK via menu with all installed apps or ODK icon in desktop

#### Steps to reproduce the problem
1. User goes to 'Admin Settings'
2. User opens 'Reset application'
3. User selects what to reset and clicks on

[2017-07-27 16:20] lognaturel commented on #1277
Sorry about that, I completely forgot!

[2017-07-27 16:20] #1277 closed, assigned to nobody

[2017-07-27 16:48] lognaturel commented on #1280
Wow, good one! I'm not able to reproduce it in Android 5.1.1, though. Do I need to do something special before reopening Collect? I tried waiting for a couple of minutes and locking the device. Both times I was able to see the reset dialog still there.

[2017-07-27 22:42] dorey commented on #257
After thinking about it, the reasons that I am averse to using CSV are not really applicable here because this feature is generating (rather than parsing) the files and the inputs are comprised of a short, finite list of pre-sanitized strings and numbers.

I will move my comments to a different issue.

[2017-07-28 04:32] lognaturel commented on #1280
I was able to reproduce once on Android 7.0 but it's not happening every time. Strange issue.

[2017-07-28 04:43] lognaturel opened #1281 "d != java.lang.String error when adding manual value to external integer widget"
#### Software and hardware versions
Collect v1.9.0 beta.0, Android v7.0, Motorola G4

#### Problem description
After manually inserting a value in the external integer widget, returning to it causes an error.

#### Steps to reproduce the problem
1. Open a form with an external integer widget such as the All Widgets form from the default server
1. Manually enter a value
1. Swipe to the next questio

[2017-07-28 05:14] yanokwa commented on #1281
On my Samsung Galaxy Tab SM-T285 - Android 5.1.1, I get this error..

[code]

[2017-07-28 05:19] yanokwa opened #1282 "Decimal widget gets extra precision on swipe"
#### Software and hardware versions
Collect v1.9.0 beta.0, Android 5.1.1, Samsung Galaxy Tab SM-T285

#### Problem description
After manually inserting a decimal in the decimal widget and swiping forward and then back, the value changes. For example, if I enter 1.2 and swipe forward and back, I get 1.200000.

#### Steps to reproduce the problem
1. Open a form with a decimal widget such as the All

[2017-07-28 08:53] grzesiek2010 commented on #1280
I spent some time investigating this strange behavior and:
1. I can't see anything helpful in logs
2. The problem takes place only if I build the app - > copy the file to a device and install the app
3. **Everything is ok if I install the app using Android Studio or if I install the app from the store**
4. It's not related to dialogs, you can open any other view: eg. you can open form list then mi

[2017-07-28 15:22] ebensakyi opened #1285 "Crashes on start when it tries to getDeviceId"
Neither user 10257 nor current process has android.permission.READ_PHONE_STATE

[2017-07-29 06:53] shobhitagarwal1612 opened #1287 "Improve the UI of search bar"
Currently, the search bar appears below the app bar. This causes the entire list to move up/down when this box appears.
I propose that the search view should be in the app bar itself

![screenshot_1501311113](https://user-images.githubusercontent.com/8918023/28742848-88960620-7458-11e7-837d-4ff98c3e524a.png)

PR submitted [here](https://github.com/opendatakit/collect/pull/1286)

[2017-07-29 08:55] shobhitagarwal1612 opened #1288 "Exception in logs when closing the activity using chrome custom tabs"
Closing the activities using a chrome custom tab like the `AboutPreferencesActivity` throws an exception

[code]

[2017-07-31 02:15] #1257 closed, assigned to nobody

[2017-07-31 20:59] #1281 closed, assigned to nobody

[2017-08-01 05:50] dcbriccetti commented on #170
I’ve studied the solution in https://github.com/opendatakit/javarosa/pull/51 and understand it, but have concerns. One is why @grzesiek2010 removed so many tests. (It’s been a while and he doesn’t remember immediately.) I fear that the change will break some use cases. Another is a discomfort with parsing times, independent of dates, and returning them as Date objects. If we’re only keeping hours

[2017-08-01 13:45] smoyte commented on #170
Ohhhhh, I get it now. Why can't we just put today's date instead of Jan 1?

On Tue, Aug 1, 2017 at 1:50 AM, Dave Briccetti <notifications@github.com>
wrote:

--
Tom Smyth

Worker-Owner, Sassafras Tech Collective
Specializing in innovative, usable tech for social change
sassafras.coop · @sassafrastech

[2017-08-01 13:49] grzesiek2010 commented on #170
@hooverlunch It's not a good idea because you can edit old forms. For example you can save a form during winter time and then open it again during summer time so you can't parse the time using current time everytime, it was a problem as I remember.

[2017-08-01 13:55] smoyte commented on #170
I see. When you talk about parsing, are you meaning parsing whatever is
stored in the instance XML? If so can't you just add a check to make sure
the time doesn't shift when you parse? I guess I don't fully understand the
problem still. Which is fine, I don't need to :)

On Tue, Aug 1, 2017 at 9:49 AM, Grzegorz Orczykowski <
notifications@github.com> wrote:

--
Tom Smyth

Worker-Owner, Sassafras T

[2017-08-01 14:12] grzesiek2010 commented on #170
It's my solution I just return original value if that value contains only time, works to me and I can't see any wrong cases but we want to be sure it's safe. Currently @dcbriccetti is reviewing it and we were discussing today morning I promised to look at it again and help him understand everything.

[2017-08-02 00:17] dcbriccetti commented on #170
An altogether different approach:
https://github.com/opendatakit/collect/pull/1298
Thoughts?

[2017-08-02 12:58] agoktas opened #1300 "java.lang.ClassNotFoundException dalvik.system.BaseDexClassLoader.findClass"
Guy my apk works on my own phone but I attached it to Google Play Store.I installed app from store but it doesn't work.
When I check developer console I see this error.
Please help me what can I do?

`java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2819)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:2988)
  at andro

[2017-08-02 13:49] smoyte commented on #170
The code here is a little over my head without a significant time
investment to get into it. So I defer to you all on this one. Thanks so
much for your work.

[2017-08-02 22:33] #1282 closed, assigned to nobody

[2017-08-03 04:19] dcbriccetti commented on #170
Well this is quite a learning experience. My latest proposal, based on @grzesiek2010’s work:
https://github.com/opendatakit/collect/pull/1303

[2017-08-03 06:52] kusaasira opened #1304 "Inbuilt barcode scanner"
#### Software and hardware versions
Collect v1.8.0, Android any device used

#### Problem description
In the previous versions i.e. <1.5, there was an external barcode scanner that worked far much better than the inbuilt one reason being it also had automatic lighting which helped my team a lot in the field since we scan devices that are indoors in remote areas where in most cases there isn't enou

[2017-08-03 06:59] shobhitagarwal1612 commented on #1304
Hey @kusaasira
I would like to solve your problem by adding a button for turning `on`/`off` the flashing manually or `auto` mode.

@lognaturel @yanokwa @kusaasira What do you think?

**Edited**
I created a [ScannerWithFlashlightActivity](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/ScannerWithFlashlightActivity.java) for scanning Q

[2017-08-03 07:02] kusaasira commented on #1173
True. I support this.

On the other hand, is there a possibility to manipulate the images from BLOB to a url that the image can be saved in a directory on the file server? Some manipulation of the sort?

[2017-08-03 07:07] kusaasira opened #1305 "User access to forms & updates"
#### Software and hardware versions
Collect all version, Android any, Any device used...

#### Problem description
1. Problem here is that I see no possibility for specific users to see only forms meant for them. This is very disturbing.
2. When there are updates, users can still use the old forms which is worrying.

#### Steps to reproduce the problem
When you get to ODK Aggreagte and grant acces

[2017-08-03 07:11] kusaasira commented on #1304
Hey @shobhitagarwal1612

That will be the best and great idea. I support you on this.

[2017-08-03 16:44] mfrasca commented on #1009
I came across this issue because I had myself also assumed that the username in the credentials would be used as metadata username.
maybe not such a silly idea: if username in the server credentials is set, and username in metadata is empty, use the first as default value for the second.

[2017-08-03 17:18] lognaturel commented on #1009
Makes sense. How about a checkbox that is checked by default that says something like "Use server username"? If it's checked, the server username would be in the username textbox and not be editable. If it is unchecked, the username textbox would be editable.

The reason I suggest using an explicit checkbox instead of falling back to the server username automatically is that it would give the user

[2017-08-03 17:22] lognaturel commented on #1304
Thanks for reporting this issue, @kusaasira. Before we make the change, can you please try the QRCode scanner in admin settings and let us know whether that works as you expect? You can find it in Admin Settings > Import/Export settings > Scan code from other device. If that looks good then going with as similar approach as @shobhitagarwal1612 suggests will work well and we can plan on getting tha

[2017-08-03 19:36] lognaturel commented on #1305
@kusaasira feature requests now go through the ODK forum so that it's easier for both developers and non-developers to participate in the conversation. If you'd like to see these features implemented, please vote and participate in the conversation [here](https://forum.opendatakit.org/t/different-users-get-access-to-different-forms/6971/7) for user management and [here](https://forum.opendatakit.o

[2017-08-03 19:36] #1305 closed, assigned to nobody

[2017-08-03 19:40] lognaturel commented on #1300
Is it possible that there is more to the error? If so, it would be very helpful to get all of it since I don't think it's showing anything about ODK Collect specifically. Have you tried deleting the application and then installing it from the Play Store?

[2017-08-03 19:41] lognaturel commented on #1280
So strange! You're right that it sounds just like #1142.

@grzesiek2010 please submit a pull request to add a note to troubleshooting when you have a chance, that's a great idea.

[2017-08-03 19:41] #1280 closed, assigned to nobody

[2017-08-03 19:56] mfrasca opened #1306 "post server username as metadata"
this is a spin-off from issue #1009: I landed there because I assumed that the username in the credentials would be used as metadata username and I was surprised it kept appearing blank.
What about doing as @lognaturel suggests: in the metadata section, a "use server username" checkbox, defaulting to checked, and if unchecked, then the metadata username would be enabled and used.

However, when it

[2017-08-03 20:11] agoktas commented on #1300
The app that is on google play can not be deleted but I tried to update it.Although this,still I see same error.

[2017-08-03 23:46] #1252 closed, assigned to grzesiek2010

[2017-08-03 23:51] lognaturel commented on #1243
I just changed the translation by hand for the last release but we should try to get a new contributor to move the string as suggested by the August release or Just Do It if we can't get a new person in.

[2017-08-04 07:39] mathieubossaert commented on #1173
The possibility to store images files in a directory on the server should be great, or maybe just a script to easily convert blob to file. At the moment it's not so easy to get and use collected images.

[2017-08-04 07:43] grzesiek2010 opened #1308 "User is able to pass any string as an email address in Form metadata"
#### Problem description
We are able to pass whatever we want as an email address in Form metadata.

#### Steps to reproduce the problem
1. Go to `General Settings -> User and device identity -> Form metadata`
2. Click on `Email address`

#### Expected behavior
Entered value should be validated

[2017-08-04 12:52] grzesiek2010 opened #1309 "Time zone is not updated automatically"
#### Problem description
Time zone is not updated automatically if we change our timezone and open the app again.

#### Steps to reproduce the problem
1. Minimize ODK Collect
2. Change your time zone in settings
3. Open ODK Collect again
4. Open TimeWidget

#### Expected behavior
The default date displayed by picker should be the same as device time.

#### Actual behavior
look at device time and a

[2017-08-04 14:43] yanokwa commented on #1173
@kusaasira @mathieubossaert Agreed that easier access to images on Aggregate would be a nice thing, but it's not relevant to this issue. If you'd like to see this discussed, please file an issue at https://github.com/opendatakit/opendatakit/issues

[2017-08-04 15:28] mathieubossaert commented on #1173
Sorry for the "pollution", here is the new issue : https://github.com/opendatakit/opendatakit/issues/1313

[2017-08-04 17:51] lognaturel opened #1311 "Rename 'Type' to 'Server' in Admin Settings > User Settings"
The top-level item for defining a server used to be "type" (as in server type) but now it is "server". It looks like the admin settings were not updated to match.

[2017-08-04 17:57] lognaturel commented on #1306
What I would recommend for making sure that it can't change is using the admin settings. You can uncheck Admin Settings > User settings > Form metadata to make the form metadata unchangeable. You can also uncheck Admin Settings > User settings > Type to make the server information unchangeable (Type is not a good name and I have filed that at #1311).

Would that work for what you are doing? You ma

[2017-08-04 19:04] mfrasca commented on #1306
Sorry, I'm possibly too new to this data collection interaction to say anything sensible.
My impression and perplexity, what is the point of hiding the possibility of fiddling with identification just behind a "Admin Settings" menu, which any user can access? As far as I'm concerned, the only setting I would trust for identifying the data source is still only the IMEI.

**Unless, that is, unless y

[2017-08-04 19:15] lognaturel commented on #1306
The idea with Admin Settings is that you set a password that only administrators know in Admin Settings > Admin Password. That's typically what organizations do. The reason I was bringing up the QR code configuration is that you could set up one device exactly as you want it, show its QR code and then configure all the others identically. You can then go in to each phone and simply set values spec

[2017-08-04 19:22] lognaturel commented on #1308
At first glance, this seems disruptive since users could previously have repurposed the field but the field only became open a few months ago so it's probably ok (it was previously linked to Google Drive / Sheets identity). There is some user benefit.

There are a million and one ways to validate email addresses, some more useful or complete than others. The pull request should clearly document wh

[2017-08-04 20:59] lognaturel commented on #1300
I'm not seeing enough information here to troubleshoot, unfortunately. I'm also not finding the crash in our logs. @grzesiek2010 any ideas?

[2017-08-04 21:02] lognaturel opened #1312 "NullPointerException in FormEntryActivity showNextView"
#### Software and hardware versions
Collect v1.4.5+ logged in Play Store [here](https://play.google.com/apps/publish/?dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=2390&clusterName=apps/org.odk.collect.android/clusters/5d33465c), may have started earlier

#### Problem description
[code]

[2017-08-04 21:04] lognaturel opened #1313 "NullPointerException in FormEntryActivity onClick"
#### Software and hardware versions
Collect v1.9.0, reported in Play Store Console [here](https://play.google.com/apps/publish/?dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=2390&clusterName=apps/org.odk.collect.android/clusters/66de1a9b)

#### Problem description
This is a new crash in the latest release:
[code]

[2017-08-04 21:06] lognaturel opened #1314 "NullPointerException in FormEntryActivity"
#### Software and hardware versions
Collect v1.9.0, reported in Play Store Console

#### Problem description
New crash as of latest release [here](https://play.google.com/apps/publish/?dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=2390&clusterName=apps/org.odk.collect.android/clusters/b4675727).
[code]

[2017-08-04 21:36] lognaturel opened #1315 "NullPointerException in FormEntryActivity.onCreate"
#### Software and hardware versions
Collect v1.7.0+, reported in Firebase Crash [here](https://console.firebase.google.com/u/0/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/413c5b46?duration=15811200000&appVersions=2390)

#### Problem description
[code]

[2017-08-04 21:56] jybaro opened #1316 "intent-filter outside InstanceChooserList activity in AndroidManifest.xml"
Hi!
I have a "Permission Denial" error with intents inside my external Android app when InstanceChooserList is called. Tracking the issue, I found this part in AndroidManifest.xml of ODK Collect:

[code]

Must be:
[code]

[2017-08-04 22:00] lognaturel commented on #1316
Yikes, thanks for identifying this. We're going to do a point release in the next couple of days so if you could submit a pull request before then, that'd be great!

[2017-08-04 22:54] #1316 closed, assigned to nobody

[2017-08-04 22:54] jybaro commented on #1316
#1318

[2017-08-04 23:02] lognaturel commented on #1285
@ebensakyi Can you please try v1.9.0 which is now available from the Play Store? This crash should be fixed.

[2017-08-04 23:36] lognaturel commented on #1300
It's likely ProGuard/multidex related but I don't know how to narrow it down from there. Now that I think about it, I have seen crashes that could be related while looking through the Play Store logs.

One that I'm finding right away is [this one](https://play.google.com/apps/publish/?dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=2384&clusterName=apps/

[2017-08-04 23:51] srsudar commented on #1300
Is that the complete exception? I'd expect there to be a name of a missing class, maybe obfuscated by proguard?

[2017-08-04 23:56] lognaturel commented on #1300
The one I posted is complete so that makes me think @agoktas's is as well. It's possible that the class name is obfuscated but seems strange that they wouldn't be in any other files. `-dontobfuscate` is specified in the config so I wouldn't expect any obfuscation to be occurring except perhaps in dependencies.

[2017-08-07 04:02] lognaturel commented on #1300
By some very strange coincidence, I ran into the stack trace I posted while working on a different project. In that context, I first installed the app by running the gradle run task through the Android Studio interface and everything was working fine. Then I built a debug apk and tried to install it from `adb install` and ended up with that stack trace. Uninstalling the app didn't help, neither di

[2017-08-07 12:13] grzesiek2010 opened #1319 "Read-only strings should have black color"
#### Problem description
If a widget is read-only it's answer is grayed out what make it hardly visible.
Example:

![screenshot_2017-08-07-11-56-39](https://user-images.githubusercontent.com/3276264/29026129-83177b10-7b7a-11e7-95ff-4b2eaf7cf1b7.png)

#### Other information
Form for testing:
[AllWidgets.txt](https://github.com/opendatakit/collect/files/1204732/AllWidgets.txt)

[2017-08-07 15:11] agoktas commented on #1300
Lognaturel thanks for your suggestion.I will try it now.

[2017-08-07 16:08] #1319 closed, assigned to nobody

[2017-08-07 20:07] grzesiek2010 commented on #1308
@lognaturel

I've added a comment in the code

[2017-08-07 23:32] #1315 closed, assigned to nobody

[2017-08-07 23:55] lognaturel opened #1323 "Replace dangling else in forms table migration with explicit test on version 4"
We identified in #1252 a problem with the forms table migration. The dangling `else` in the `oldVersion` tests mean that the code in the migration to version 4 is run when downgrading.

The `else` should be replaced. I think what the `DatabaseHelper` in the `InstanceProvider` does with several disconnected `if` statements is pretty common. An alternative would be to introduce a switch statement.

[2017-08-08 08:09] grzesiek2010 opened #1325 "We call onUpgrade() method even if we try to install an app with an older version of the database"
#### Problem description
The problem is here: https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/database/ODKSQLiteOpenHelper.java#L122

We call onUpgrade even if currentVersion is newer than the one we try to install.

[2017-08-08 15:41] #1325 closed, assigned to nobody

[2017-08-08 19:22] smoyte commented on #809
@lognaturel @shobhitagarwal1612 @yanokwa  I have updated the mockups.

This is the first page in the flow: https://app.moqups.com/linesarefuzzy/4WPu8QH3er/view/page/a9e9f72cf

@lognaturel @yanokwa  Let me know if I covered everything from our call.

[2017-08-08 20:36] #1313 closed, assigned to nobody

[2017-08-08 21:31] #1323 closed, assigned to grzesiek2010

[2017-08-09 10:40] grzesiek2010 opened #1331 "Exception java.lang.RuntimeException: Unable to resume activity"
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/27d286eb?reportTypes=REPORT_TYPE_UNSPECIFIED&duration=2592000000&appVersions=2397

Exception java.lang.RuntimeException: Unable to resume activity {org.odk.collect.android/org.odk.collect.android.activities.FormEntryActivity}: java.lang.RuntimeException: Failure delivering re

[2017-08-09 11:44] grzesiek2010 opened #1334 "ODKSQLiteOpenHelper - why do we need this class?"
#### Problem description
Currently we use custom [ODKSQLiteOpenHelper](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/database/ODKSQLiteOpenHelper.java) instead of Android's SQLiteOpenHelper. It would be good to know why as our class might be faulty (as we can see in this case https://github.com/opendatakit/collect/issues/1325)

[2017-08-09 20:21] #1039 closed, assigned to nobody

[2017-08-10 18:42] lognaturel commented on #1334
I don't think we're going to be able to get a historical reason, unfortunately! It may just be that it wasn't in the Android project at the class was introduced. I think we should use the Android base class and update the subclasses as needed to get the ODK-specific behavior.

[2017-08-10 19:43] grzesiek2010 commented on #1334
Ok I'll do that.

[2017-08-11 16:21] dr0pdb commented on #1243
@lognaturel  Is this still up for grabs ? I would like to solve it as my first minor bug fix if it's available

[2017-08-11 16:48] lognaturel commented on #1243
Yes, please!

[2017-08-11 18:06] #1243 closed, assigned to nobody

[2017-08-11 18:30] lognaturel opened #1340 "Crash when loading form with audit"
#### Software and hardware versions
Collect v1.9.1

#### Problem description
Forms with audit tags crash on load because the instance path is not yet set when `TimerLogger` objects are built. Regression introduced by #1322.

#### Steps to reproduce the problem
Load a form with an audit such as [audit-test-orx.txt](https://github.com/opendatakit/collect/files/1218763/audit-test-orx.txt)

#### Expec

[2017-08-11 20:51] lognaturel commented on #809
The big thing that jumps out at me @hooverlunch is that there's currently no way of doing the naming of repeat elements (the ones in Household Members in your example). Perhaps it could be done with a change to the spec but I'm really not sure what that would look like. If you have ideas, the best place to get the conversation started is probably the features category on the forum.

The other big

[2017-08-13 10:57] deepak-thakur commented on #1311
how can i help ?

[2017-08-13 11:23] shobhitagarwal1612 commented on #1311
Hello @deepak-thakur. The access control preference `Type` has to be renamed to `Server`.
You can find it in `Admin Settings` > `User Settings`

Thanks :)

[2017-08-13 12:28] shobhitagarwal1612 commented on #809
@lognaturel Done

I couldn't find the `outline with repeat icon` so I have used a repeat icon instead of that. Meanwhile I'll try to create the `outline with repeat icon`

[2017-08-13 13:57] dr0pdb commented on #1311
@deepak-thakur Actually i am working on it too. Infact i will push my PR shortly. I mentioned it on the slack channel but forgot to drop a comment here. You can find another issue to resolve.
Thanks :smile:

[2017-08-14 14:03] smoyte commented on #809
@lognaturel I am confused about the repeat instance naming thing. I thought we had determined this was possible via $notation/`<output>`. I will follow up with you on Slack about this and then we can post a summary here.

As for when to collapse non-repeat groups, I'm easy on this one. TCC doesn't have a big investment one way or the other and we can build ELMO to do whatever is decided. I think i

[2017-08-14 14:28] smoyte commented on #809
Ok I see now, you can use <output> in the group label like this:
[code]
but then you get this:

![image](https://user-images.githubusercontent.com/702320/29275986-192243c8-80db-11e7-9c9c-111168ba9ee7.png)

so it takes the first group's question value for the whole repeat group name, which is awkward.

This looks right:

![image](https://user-images.githubusercontent.com/702320/29276011-2f6c903e-80

[2017-08-14 14:31] smoyte commented on #809
Seems like this should work, but it doesn't:
[code]

The inner label is just ignored.

Would not ignoring it constitute "adding it to the spec"?

[2017-08-15 09:24] dr0pdb commented on #1309
@lognaturel @yanokwa Is this issue still up for grabs ?

[2017-08-15 09:26] yurilaguta commented on #1154
Working on it.

[2017-08-15 23:53] #1311 closed, assigned to nobody

[2017-08-15 23:55] #1154 closed, assigned to nobody

[2017-08-16 05:04] dr0pdb commented on #1258
Working on it!

[2017-08-16 06:09] aamirshayanshaikh opened #1346 "publishing Kobo Collect on playstore"
I am new to Kobo Collect, I was required to add some changes to Kobo Collect project. I have successfully run the project in android studio and have applied changes now need to publish that.

I want to ask that I have cloned this project from GitHub means it has the same package name with which already an APK is published on play-store. What should I do to publish APK that I have created. Should I

[2017-08-16 06:55] yurilaguta commented on #1309
Most likely the issue is Android Manifest declaration like:
android:configChanges="locale|orientation|screenSize"

[2017-08-16 17:15] lognaturel commented on #1346
This is Open Data Kit Collect, Kobo Collect is a fork maintained by the Kobo project.

ODK Collect should be usable directly from the Play Store. If there are features you would like to see added, perhaps you could suggest them [here](https://forum.opendatakit.org/c/features) so they could potentially be added to the core?

If you really need to maintain a fork, you do need to change the package n

[2017-08-16 17:15] #1346 closed, assigned to nobody

[2017-08-16 21:47] #1340 closed, assigned to nobody

[2017-08-17 06:15] mmarciniak90 opened #1349 "Removing the first group caused that the user is moved to previous screen"
#### Problem description
Removing the first group caused that the user is moved to previous screen

#### Steps to reproduce the problem
1. User fills the form with repeat groups / table
2. User removes first group
3. User is moved to previous screen

#### Expected behavior
If user sees the group as a table, moving user to previous screen when he removes first row is not necessary. User should stay

[2017-08-17 06:35] aamirshayanshaikh commented on #1346
If i am changing the package name definitely I will have to change it in google-service.json file too. so if I change package name in that file obviously I will not have all functionalities because of modification in that file . as far as adding features by kobo collect team is concerned, I am required by client to add some custom themes and languages to it and some other changes that Kobo Collect

[2017-08-17 08:17] yurilaguta commented on #541
@grzesiek2010 have you considered [BottomSheets](https://material.io/guidelines/components/bottom-sheets.html#bottom-sheets-modal-bottom-sheets) as alternative to some dialogs?
With regards to Progress indication sometimes it could be part of the screen, for example just circular progress bar inside view, or for long running tasks < 10 seconds maybe Notification with Background running service.
I'

[2017-08-17 08:25] grzesiek2010 commented on #541
@Yurii-Laguta at the moment we use BottomSheets only for https://github.com/opendatakit/collect/pull/1242 but I'll keep it in mind.

[2017-08-17 09:33] yurilaguta commented on #1276
Sounds easy to implement, like a quick win.

[2017-08-17 09:47] yurilaguta commented on #1265
IMHO two clicks will be more annoying.
When I'm exiting Writing a new email screen in (Gmail app) it's Saves it automatically as a draft. And shows Toast.

Calendar on the other hand shows:
![screenshot_20170817-193751](https://user-images.githubusercontent.com/1853043/29406252-d58b8dee-8383-11e7-8ef2-d7a68659f90a.png)
when I try to exist just create event.

Should we drop the icons? It looks much

[2017-08-17 18:04] #1308 closed, assigned to grzesiek2010

[2017-08-17 18:09] lognaturel opened #1350 "Crash when scanning for many instances"
#### Software and hardware versions
Collect v1.9.1

#### Problem description
Crash when scanning for many instances. Discovered when trying out #1348.

#### Steps to reproduce the problem
1. Copy a bunch of instances into `/sdcard/odk/instances` (e.g. [backup1249.zip](https://github.com/opendatakit/collect/files/1155963/backup1249.zip) from @mmarciniak90)
1. Tap on "Edit Saved Form"

#### Expected

[2017-08-17 18:09] lognaturel commented on #1350
@srv-twry or @Yurii-Laguta, one of you may be interested in this one.

[2017-08-17 18:12] lognaturel opened #1351 "Crash when deleting many instances"
#### Software and hardware versions
Collect v1.9.1

#### Problem description
Crash when deleting many instances. Discovered when verifying #1348. This doesn't happen every time but is reproducible.

#### Steps to reproduce the problem
1. Copy a bunch of instances into `/sdcard/odk/instances` (e.g. [backup1249.zip](https://github.com/opendatakit/collect/files/1155963/backup1249.zip) from @mmarcinia

[2017-08-17 18:12] lognaturel commented on #1351
@srv-twry or @Yurii-Laguta, one of you may be interested in this one.

[2017-08-17 18:13] #1314 closed, assigned to nobody

[2017-08-17 21:04] lognaturel commented on #1265
The double dialog does seem like it would be more disruptive so I'm not sure I like it very much.

@Yurii-Laguta when you say drop the icons, do you just mean leaving it as it is currently? Perhaps just making sure cancel is on the right and in uppercase and dropping the icon would make it look better. I wouldn't be opposed to doing just that.

The problem with three buttons side by side is that w

[2017-08-17 21:05] lognaturel commented on #1285
@ebensakyi If you see this in version 1.9.0 or greater, you can reopen the issue and let us know exactly what version you are using and what devices.

[2017-08-17 21:05] #1285 closed, assigned to nobody

[2017-08-17 21:06] lognaturel commented on #1304
@kusaasira Have you had a chance to try out the flashlight option with the bulk configuration QR code?

[2017-08-17 23:04] lognaturel opened #1355 "When auto-send is set to wifi only, forms still auto sent on a data connection"
From a Play Store review:

@grzesiek2010 could you please see if you can reproduce it and if so look into a fix?

[2017-08-18 07:40] grzesiek2010 commented on #1351
Really strange. I asked @mmarciniak90 to check this scenario when she was testing https://github.com/opendatakit/collect/pull/1249 and everything was ok... I'm not sure but I think that I tested it too.

[2017-08-18 10:22] yurilaguta commented on #1265
@lognaturel I mean don't show any icons. On the second thought Action icons look good, but not the title.

I see the 3 button won't work.

How about Bottom sheet dialog? Similar to Google Photos app, it's nicely dismissible with swipe down or back button, will it be too much learning curve for user?
Another advantage it's close to the back button, so it's less disruptive than dialog in the centre.

[2017-08-18 13:06] grzesiek2010 opened #1357 "The app crashes if you try to load a second version of your form"
#### Software and hardware versions
Current master branch

#### Problem description
The app crashes if you try to load a second version of your form

#### Steps to reproduce the problem
You can use any form to reporduce the issue
1. Copy your form to odk/forms/ dir
2. Load your form
3. Edit your form you need to change something eg. a question label)
4. Copy your new form to odk/forms/ dir
5. Clic

[2017-08-18 13:20] grzesiek2010 commented on #1355
@lognaturel I have tried but I can't reproduce this issue... It works well to me.

Do you know what that means? which page, which options? Maybe it is a key to reproduce the issue.

[2017-08-18 18:39] smoyte commented on #809
@lognaturel Ping?

[2017-08-18 21:28] lognaturel commented on #1355
I don't currently have an Android phone with a working SIM so this one is hard for me to try! Can you please describe what exactly you tried so we have a record of it? I interpreted it as when selecting Wi-Fi only from the auto send section of the general settings, forms are auto sent on a data connection but I'm not totally sure.

Any chance this could be device or Android version specific? The r

[2017-08-19 02:57] yurilaguta commented on #1351
@lognaturel given that crash happened in different activity: MainMenuActivity, the reproduction route doesn't seem to be correct.
A bit of looking at SO seems like it's a database access issue.
I've tried it few times on emulator and wasn't able to reproduce.

[2017-08-19 03:00] yurilaguta commented on #1265
Started working on it.
[Off topic] is there a way to self assign issue?

[2017-08-19 06:32] yurilaguta commented on #1265
@lognaturel is that something you had in mind?:
<img width="317" alt="screenshot 2017-08-19 15 59 24" src="https://user-images.githubusercontent.com/1853043/29483957-89b41632-84f7-11e7-9c4e-c7763e3caefd.png">
To me this one looks better:
<img width="303" alt="screenshot 2017-08-19 16 31 56" src="https://user-images.githubusercontent.com/1853043/29484156-07dd397c-84fc-11e7-85f6-70206e8e1340.png">

[2017-08-19 06:45] yurilaguta commented on #1265
Here is version with bigger icons and smaller text
<img width="305" alt="screenshot 2017-08-19 16 44 55" src="https://user-images.githubusercontent.com/1853043/29484243-cb424712-84fd-11e7-9eb8-0a16ac6c513e.png">

[2017-08-19 07:11] yurilaguta commented on #541
As for DialogFragments I would suggest in order to avoid Interfaces hell to use event bus such as [Otto](https://github.com/square/otto)  and Builder pattern similar existing AlertDialog

@lognaturel

I was surprised there is no Base activity. Because for example toolbar setup looks duplicated in all activities.

[2017-08-19 15:23] srsudar commented on #541
Looks like the Otto README says it's deprecated in favor of rxjava and friends.

The times I've used rxjava I've loved it, but I'm not familiar enough with it to have good intuitions about how to use it for dialogs.

[2017-08-19 21:40] yurilaguta commented on #541
@srsudar that is interesting. After deeper reading of blog post about migrating from Otto to RxJava:
http://blog.kaush.co/2014/12/24/implementing-an-event-bus-with-rxjava-rxbus/
The noteworthy summary is:

Given that this project doesn't have RxJava yet, and the 'steep learning curve' of it, I assume the main maintainers would prefer to go with Otto or EventBus. If it were my choice I would go wit

[2017-08-21 03:33] lognaturel commented on #1265
@Yurii-Laguta unfortunately there isn't a way to self-assign issues yet but hopefully that will come very soon. See https://forum.opendatakit.org/t/fine-grained-permissions-for-github-issues-self-assign-labels/9352 for where we're at and please jump in if you have any other ideas!

I am intrigued by the bottom sheet idea and I hadn't noticed that interface before. I think the situation may be a li

[2017-08-21 03:35] lognaturel commented on #1351
@Yurii-Laguta That's a good point. I know that the first time I saw the crash I tapped the back button while the instance scanning was happening. I thought I had reproduced it without tapping the back button but it's possible that wasn't the case. Could you try tapping the back button immediately when the scanning starts and seeing if you can trigger it that way?

[2017-08-21 03:44] lognaturel commented on #809
As I understand it, it's by convention that the group a `repeat` is immediately nested in is used as the name for the repeat and by extension the repeated elements in the hierarchy view. [Here](https://opendatakit.github.io/xforms-spec/#repeats) is the description in the ODK XForms specification.

I believe what you're suggesting is to add a new convention stating that if there's a group immediate

[2017-08-21 11:02] shobhitagarwal1612 opened #1361 "Window leaked exception while uploading instances"
Problem discovered while testing #1348

I got the following stacktrace in debugger, although no crashes:

[code]

Steps to reproduce -

1. Select multiple instances and click the `send selected` button
2. Minimize the app
3. Keep a track on debugger to know when all instances have been uploaded
4. After all of the  instances have been uploaded, reopen the app

Possible solution: Dismiss the progre

[2017-08-21 13:41] smoyte commented on #1265
This all looks good to me. :)

[2017-08-21 15:50] smoyte commented on #809
Yes you're correct. I will head over to that repo and see if I can figure out how to suggest a change :)

[2017-08-21 16:02] smoyte commented on #809
@lognaturel  https://github.com/opendatakit/xforms-spec/issues/141

[2017-08-21 16:59] smoyte commented on #443
@lognaturel @MartijnR Curious what the status of this one is. Existing preload stuff has been revamped. What would need to happen to get custom metadata support? How can I help?

[2017-08-21 19:22] lognaturel commented on #144
Now opendatakit/javarosa#173

[2017-08-21 19:22] #144 closed, assigned to mitchellsundt

[2017-08-21 21:25] lognaturel opened #1362 "Crash when getting URI MIME type."
#### Software and hardware versions
Collect v1.9.1

#### Problem description
Crash in `FormEntryActivity` when getting intent URI MIME type.

#### Steps to reproduce the problem
Unknown, from Play Store [here](https://play.google.com/apps/publish/?dev_acc=00659255839475882647#AndroidMetricsErrorsPlace:p=org.odk.collect.android&appVersion=PRODUCTION&clusterName=apps/org.odk.collect.android/clusters

[2017-08-21 22:06] yurilaguta commented on #1265
@lognaturel very good point, I see now that bottom sheet is not suitable for this use case.
Please let me know if any changes required.

[2017-08-22 03:04] lognaturel commented on #443
Fill out the [survey on ODK management structure](https://forum.opendatakit.org/t/survey-on-management-structure-of-odk-project/9417) and volunteer to be on the technical steering committee? 😁

I think this has to be really carefully considered in the context of what ODK's story for loading data external to forms should be. There already are a number of ways to load external data through CSVs with

[2017-08-22 03:29] #1357 closed, assigned to nobody

[2017-08-22 05:46] akshay-ap commented on #1362
I think using try and catch block will fix this.
E.g.
try
{
String uriMimeType = getContentResolver().getType(uri);.
}
catch (Exception e)
{
     showCustomToast(getString(R.string.error_occured), Toast.LENGTH_SHORT);
}.
Shall I do it?

[2017-08-22 07:20] grzesiek2010 commented on #1355
@lognaturel I've tested two scenarios:
1st scenario:
1. Select "Wifi only" option as your Auto Send option
2. Turn off your wifi
3. Finalize one of your form

2nd scenario:
1. Select "Wifi only" option as your Auto Send option
2. Keep your wifi turned on but close all connections
3. Finalize one of your form

In both cases I was connected to a cellular network of course as well.

Can't reproduce u

[2017-08-22 09:26] grzesiek2010 opened #1364 "Attempt to invoke virtual method 'android.net.Uri android.content.Intent.getData()' on a null object reference"
Link to the firebas logs: https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/b96c15db?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2397

It takes place in various places in onActivityResult method (FormEntryActivity).

android.app.Activity.dispatchActivityResult (Activity.java:6867)
android.app.ActivityThread.delive

[2017-08-22 10:11] grzesiek2010 opened #1366 "Caused by java.lang.IllegalArgumentException: Unterminated quote"
#### Software and hardware versions
Collect v1.9.0

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/8ba2a500?duration=2592000000&appVersions=2397

java.text.SimpleDateFormat.<init> (SimpleDateFormat.java:356)
org.odk.collect.android.provider.InstanceProvider.getDisplaySubtext (InstanceProvider.java

[2017-08-22 10:13] grzesiek2010 commented on #1366
I've just fixed this bug in Transifex https://www.transifex.com/opendatakit/collect/translate/#hi/strings/8478346
@shobhitagarwal1612 I saw you are a coordinator there don't know if you have to accept it. Please review me change and accept if it's needed.

[2017-08-22 10:17] shobhitagarwal1612 commented on #1366
@grzesiek2010  Looks good to me. I have reviewed the change.

[2017-08-22 10:19] grzesiek2010 commented on #1366
@shobhitagarwal1612 great, thanks!

[2017-08-22 11:09] grzesiek2010 commented on #1362
@akshay-ap try/catch block is too general. We always should aim for understanding what is wrong. In that case an uri is null so we just need to add a null check. If you don't believe me you can reproduce that stacktrace changing the code manually and using Android 6.0.

You can take it of course.

[2017-08-22 12:09] dr0pdb commented on #207
@yanokwa
If this is still open, then instead of trying to establish a connection to check the validity of the ```URL``` can't we just use ``` Patterns.WEB_URL.matcher(potentialUrl).matches()```. [Source](https://stackoverflow.com/a/5930532/6748052)
Establishing a connection is expensive in terms of resources. What do you think ?

[2017-08-22 13:26] dr0pdb commented on #1361
Working on it !

[2017-08-22 15:29] smoyte commented on #443
Already done!

Will do.

[2017-08-22 15:58] russbiggs opened #1367 ""Not supported by calendar-mode DatePicker" Bug"
#### Software and hardware versions
Collect v1.9.1, Android v7.0.0 Samsung Galaxy S2 SMT713
Collect v1.9.1, Android v7.0.0 Samsung Galaxy S2 SMT710

#### Problem description
I am experiencing the same "Not supported by calendar-mode DatePicker" bug described in the now closed issue [#991](https://github.com/opendatakit/collect/issues/991). I am seeing this issue only on SMT713 Galaxy S2s when usin

[2017-08-22 16:05] smoyte commented on #443
Here it is: https://forum.opendatakit.org/t/custom-form-metadata/9496

[2017-08-22 18:25] #1287 closed, assigned to nobody

[2017-08-22 19:08] #1258 closed, assigned to nobody

[2017-08-22 19:16] lognaturel commented on #1355
And for absolute completeness, the form did not send in either situation is that correct?

Once I get your confirmation I'll close this and hopefully the user will come here and add details eventually. I also encouraged them to join the forum.

[2017-08-22 20:17] lognaturel commented on #1366
Thank you both!

[2017-08-22 20:17] #1366 closed, assigned to nobody

[2017-08-22 20:23] lognaturel commented on #1361
Was able to get the stack trace following the repro steps this time but I didn't get it previously. There's no crash and the forms send successfully. @shobhitagarwal1612 does it hard crash for you?

[2017-08-22 20:25] shobhitagarwal1612 commented on #1361
@lognaturel I did not experience a hard crash. The stack trace is generated because of the memory leaks.

[2017-08-23 08:18] yurilaguta commented on #1350
@lognaturel it is probably caused by different thread accessing the database at the same time, I'll have a look on the weekend unless @srv-twry solves it before that.

[2017-08-23 08:29] yurilaguta commented on #1351
looks very similar to #1350 "disk I/O error (code 1802)"

[2017-08-23 09:38] dr0pdb commented on #1350
@lognaturel Sure i'll have a look tomorrow :smile:

[2017-08-23 09:57] grzesiek2010 opened #1368 "App crashes when I try to set my server type"
#### Software and hardware versions
Current master branch

#### Problem description
App crashes  when I try to set my server type to `Google Drive, Google Sheets`

#### Steps to reproduce the problem
1. Go to `General Settings -> Server`
2. Click on `Type`
3. Select `Google Drive, Google Sheets`

I'm not sure but probably you need a fresh installation of the app to reproduce the issue.

#### Other

[2017-08-23 10:30] grzesiek2010 opened #1370 "Use existed suppressFlingGesture() method in RangeWidget"
#### Problem description
We have implemented unnecessary changes
https://github.com/grzesiek2010/collect/commit/ed0ea4bbd5aa2beac653783f0eb099fc83bbab33#diff-03ff45091550285dd88b56927010c457R197 in order to block swiping in RangeWidget. It should use existed [suppressFlingGesture()](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/views/ODKView.j

[2017-08-23 11:11] grzesiek2010 commented on #1355
@lognaturel

Yes, the form did not send, everything works as expected.

[2017-08-23 16:12] lognaturel commented on #1368
@grzesiek2010 You have become the master at catching big issues before they affect users! Wow!

[2017-08-23 16:14] #1368 closed, assigned to nobody

[2017-08-23 16:15] #1364 closed, assigned to nobody

[2017-08-23 16:28] lognaturel commented on #207
@srv-twry I know that @shobhitagarwal1612 had done some work to validate URLs but I don't quite remember the context. @shobhitagarwal1612 do you remember? I think there was a lot of conversation about the approach there.

[2017-08-23 16:31] lognaturel commented on #1351
@Yurii-Laguta I do think they're related and I did get them back to back. I wonder whether I may have initiated the delete while the scan was still ongoing?

Like I said, I do see a number of these kinds of errors in Firebase Crash. Is there a more graceful way to handle them across the board, perhaps?

[2017-08-23 16:34] shobhitagarwal1612 commented on #207
I worked on this issue #873. That issue was to prevent the forms with bad submission_url from getting downloaded from aggregate

[2017-08-23 16:36] lognaturel commented on #207
Thank you! Is it possible that these are duplicates? This one doesn't have a lot of details but I think they're the same! Would be good to get confirmation from @yanokwa

[2017-08-23 16:37] shobhitagarwal1612 commented on #207
I am also quite confused with this line. Scan new forms from where?

[2017-08-23 16:40] lognaturel commented on #207
Perhaps he meant in the `DiskSyncTask` for forms that are manually added to the sdcard? That seems like #709 though.

[2017-08-23 16:42] shobhitagarwal1612 commented on #207
I can confirm that the forms added manually to sd card with bad submission URL are not getting loaded. #709 is fixed

[2017-08-23 16:47] lognaturel commented on #207
🙏 @shobhitagarwal1612! @yanokwa I would like to close this unless you have more details on what the issue is.

[2017-08-23 16:55] yanokwa commented on #207
Sorry about not closing this issue. I agree that it's been fixed by https://github.com/opendatakit/collect/pull/716 (forms from disk) and https://github.com/opendatakit/collect/pull/1059 (forms from Aggregate)

[2017-08-23 16:55] #207 closed, assigned to nobody

[2017-08-23 17:01] lognaturel commented on #1137
This is a little stranger than I expected. I kind of wondered at the time why `search` had parens after it and it turns out there is a search function that's used to filter part of a CSV. I think that the cryptic comment in `WidgetFactory` that says

was meant to explain that the appearance tests use `startsWith` so that `search()` could be combined with it. However, in April of 2016 the `search`

[2017-08-23 17:12] lognaturel opened #1373 "Implement autocomplete appearance on search multiple"
As described in [this forum thread](https://forum.opendatakit.org/t/filter-select-multiple-choices-as-per-select-one-search/9149). All conversation about how the feature should look and feel should continue there.

In particular, note that the `search` appearance can't be used yet because there is a conflict with `search()` so this should only use `autocomplete`.

[2017-08-23 17:38] #1355 closed, assigned to grzesiek2010

[2017-08-23 19:25] #1370 closed, assigned to nobody

[2017-08-24 10:06] dr0pdb commented on #1362
@akshay-ap Are you working on it or should i fix it ?

[2017-08-24 11:38] akshay-ap commented on #1362
If the bug can be fixed by just checking if uri is not null and getContentResolver() is not null then I can do it. I am new to open source contribution. Please help me if I am wrong.
t\I am thinking of doing it lke this:
ContentResolver contentResolver =  getContentResolver();
String uriMimeType=null;
//Check if uri is not null.
if(uri!=null)
{
//Check if contentResolver is not null.
          if(

[2017-08-24 13:26] grzesiek2010 commented on #1362
as I said attached stackraces are related to uri only. The uri has a null value it's not about  getContentResolver() method.

So we just need a null check for the uri.

[2017-08-24 13:58] dr0pdb commented on #1362
@akshay-ap As suggested by @grzesiek2010 , the only thing you need to do is to add an ```if``` statement checking whether the variable ```uri``` is null or not.
Another suggestion is to use Github Markdown syntax while writing comments on Github. You may find this useful. [Markdown](https://guides.github.com/features/mastering-markdown/) :smile:

[2017-08-24 16:48] akshay-ap commented on #1362
thanks for suggestions.. i am working on it..

[2017-08-25 09:01] grzesiek2010 opened #1377 "Can't see lint-result.xml file anymore"
#### Software and hardware versions
Current master branch

#### Problem description
Since we have merged https://github.com/opendatakit/collect/pull/1344 I can't see `lint-result.xml` file in `build -> reports -> lint` as it was before.

#### Steps to reproduce the problem
run `./gradlew lint` command and check mentioned location

#### Expected behavior
I find this file really helpful, so I would

[2017-08-25 19:54] lognaturel commented on #1304
It's too bad that we haven't received feedback from @kusaasira but I think @shobhitagarwal1612's suggestion is a solid one. @shobhitagarwal1612 is finishing up summer of code, @grzesiek2010 could you take this one?

[2017-08-25 19:56] #1377 closed, assigned to nobody

[2017-08-25 20:36] lognaturel opened #1379 "Revert changes to grid widgets for large screens"
In #1166, the behavior of the `list-nolabel` appearance was changed. This change made sense in the context of the samples we were looking but it breaks grids that worked well previously as shown in the example posted [here](https://forum.opendatakit.org/t/new-list-nolabel-appearance/9255). I think that the grid context was the original intent of that feature and that we should revert the changes f

[2017-08-25 20:45] lognaturel commented on #1379
Let's also all take a moment to chuckle at my naive comment: "I can't imagine anyone will be unhappy that the hint text doesn't cover the questions anymore." Welllllll... clearly I lack imagination! 🙃

[2017-08-25 20:57] lognaturel commented on #1367
This sounds like it's an Android bug that we probably can't do anything about. We were able to find a work around for the particular instance in #991 but I don't see anything else we could try. My guess is that Samsung patched the version of Android for one device but not the other. I have a Moto G4 running Android 7.0 and I have to say it is terribly buggy. If you have any way of going to either

[2017-08-25 21:26] grzesiek2010 opened #1380 "Can't take image/draw/signature"
#### Software and hardware versions
Current master branch

#### Problem description
We can't take image/draw/signature because of https://github.com/opendatakit/collect/pull/1365/files
We missed the fact that the intent value is empty in those cases what is described here:
https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/activities/FormEntryActiv

[2017-08-25 22:44] lognaturel commented on #1380
Ooops! I totally didn't think of this at all. Good catch and yes, we miss you a lot @mmarciniak90!

[2017-08-26 08:06] kusaasira commented on #1304
Dear all,

Am so sorry for being away. Been on and off. So on the other hand, I upgraded from Eclipse to the latest Android studio but am really having a hell running the code. Let me get you feedback in a few hours as am configuring it an d on the other hand, is anyone else here using Android Studio or it is just my problem?

[2017-08-26 08:13] shobhitagarwal1612 commented on #1304
Hello @kusaasira
You can try out the latest version of Collect from the play store for checking out the QRCode scanner which @lognaturel suggested  https://github.com/opendatakit/collect/issues/1304#issuecomment-320035045

I think everyone is using Android studio now. What kind of problem are you facing? Can you please describe it in detail.

[2017-08-26 08:53] kusaasira commented on #1304
@shobhitagarwal1612 , I think you meant the flash light on the QR scanner yet I meant the un built barcode scanner for a field that has type='barcode' that is the inbuilt barcode that replaced Zxing barcode scanner. Remember Zxing had that either manual turn on flashlight or auto turn on barcode.

My android studio is now working fine, was just issues with gradle but I think all is well now. So is

[2017-08-28 18:15] #42 closed, assigned to mitchellsundt

[2017-08-28 19:23] lognaturel opened #1385 "Support repeats in Google Sheets integration"
As described in https://forum.opendatakit.org/t/repeat-groups-and-google-sheets-upload/6677.

I've labeled this as contributor friendly not because it's easy but because it's self-contained and the behavior is hopefully clear!

[2017-08-28 19:30] lognaturel commented on #1304
Thanks for the feedback, @kusaasira and for the implementation, @shobhitagarwal1612!

@kusaasira If you want to check out what @shobhitagarwal1612 has done, it is here: https://github.com/opendatakit/collect/pull/1383. I just had one small question about the implementation and it should be shipped to the Play Store by this coming Sunday or Monday.

@kusaasira If you have any other questions about

[2017-08-28 23:54] adammichaelwood opened #1386 "Add account in settings, not just at form upload"
#### Software version
Collect v1.91

#### Problem description

In **General Settings -> Server -> Google Sheets settings**, you can select an existing Google account, or *no account*.

In **Get Blank Forms** you can select an existing Google account, or *Add Account*.

I imagine it would make more sense to be able to add an account in the Server settings screen.

[2017-08-29 00:41] lognaturel commented on #1207
Closed by #1384

[2017-08-29 00:41] #1207 closed, assigned to nobody

[2017-08-29 00:57] #1380 closed, assigned to nobody

[2017-08-29 08:34] kusaasira commented on #1304
@lognaturel you're welcome. I'll be glad once it is out on Play Store. Thank you @shobhitagarwal1612  for the work.

Thank you for the great work.

On the other hand, this [link ](https://slack.opendatakit.org/)provided above seems not to be working. Do I need special access to it?

[2017-08-29 08:35] shobhitagarwal1612 commented on #1304
Please try this one:
https://opendatakit.slack.com

[2017-08-29 08:50] kusaasira commented on #1304
@shobhitagarwal1612 please invite me to join as I cannot join the team. My email is joshuakusaasira@gmail.com

[2017-08-29 09:32] shobhitagarwal1612 commented on #1304
Invitation link sent!

[2017-08-29 09:45] kusaasira commented on #1304
Thank you.

[2017-08-29 12:00] akshay-ap commented on #1362
All test are running now. Build succeeded finally.

[2017-08-29 13:41] grzesiek2010 commented on #1367
@russbiggs Could you install [this app](https://play.google.com/store/apps/details?id=com.splendapps.splendo&hl=en) on those devices? Looks like this app displays a calendar in the same way so if it doesn't work too then it must be a problem with those specific devices.

You need to install the app I mentioned, then open it, click on a big `+` icon and try to set date.

[2017-08-29 14:58] russbiggs commented on #1367
@grzesiek2010 I just installed the To-Do app and it seems to handle the calendar and time widgets correctly.

[2017-08-29 15:10] grzesiek2010 commented on #1367
@russbiggs and you can see this?
![screenshot_2017-08-29-17-09-30](https://user-images.githubusercontent.com/3276264/29828437-fa484ffc-8cdc-11e7-8138-8a2f49247dd4.png)

[2017-08-29 15:32] russbiggs commented on #1367
@grzesiek2010 Yeah thats the widget that popped up in the To-Do app.  Thats also the widget I can see on the SMT710 for ODK.

[2017-08-29 15:35] grzesiek2010 commented on #1367
@russbiggs thanks. That means it's a bug on our side. I'll try to investigate it.

[2017-08-29 15:38] russbiggs commented on #1367
@grzesiek2010 Great thanks, let me know if there is anything I can do to help.

[2017-08-29 16:27] lognaturel commented on #1304
Whoops, sorry, it's http, not https. Glad you could join us through an invite!

[2017-08-29 23:50] #1362 closed, assigned to nobody

[2017-08-30 10:07] heyjamesknight opened #1389 "FormEntryActivity Refactor - 'currentView' access is dangerously inconsistent."
There are 20 different places where the cast ((ODKView) currentView) occurs in FormEntryActivity. Some of these have an instanceof check before, some have a null check before, some have both, and some have neither.

This variable is only ever set to the result of createView. There are paths through createView that return non ODKView objects and null.

I propose hiding the currentView access behind

[2017-08-30 13:52] grzesiek2010 commented on #1367
@russbiggs does TImeWidget work well on your device? I mean TimeWidget in Collect app of course.

[2017-08-30 15:01] russbiggs commented on #1367
@grzesiek2010 Yes, we we use time and not datetime the TimeWidget is able to come up without issue

[2017-08-30 15:49] grzesiek2010 commented on #1367
@russbiggs thanks for your help. As you probably imagine it's hard to track down I don't have such devices so I'm not able to reproduce the issue and debug the app.
Soo I'm wondering if you could install this app: [app.zip](https://github.com/opendatakit/collect/files/1264225/app.zip)
I prepared it special for you to create some logs.

and use this form [date.txt](https://github.com/opendatakit/co

[2017-08-30 17:16] russbiggs commented on #1367
@grzesiek2010 here it is:
[logs.txt](https://github.com/opendatakit/collect/files/1264466/logs.txt)

[2017-08-30 17:49] lognaturel commented on #1265
The form exit dialog has been updated. It would be good to reuse the same layout and look for the draw/signature/annotate widgets.

[2017-08-30 18:28] #1379 closed, assigned to nobody

[2017-08-30 18:44] lognaturel commented on #1379
I have filed an issue to document these appearances better at https://github.com/opendatakit/docs/issues/102

[2017-08-30 20:26] #1288 closed, assigned to nobody

[2017-08-30 22:30] #1304 closed, assigned to nobody

[2017-08-31 00:25] #105 closed, assigned to nobody

[2017-08-31 04:57] lognaturel opened #1393 "Crash in form list activities in v1.10.0 beta 0 from Play Store"
#### Software and hardware versions
Collect v1.10.0 beta 0

#### Problem description
Crash when opening any of the activities with form or instance lists.

#### Steps to reproduce the problem
Install beta 0 **from the Play Store**, tap on any of the activities that list forms.

#### Expected behavior
No crash.

#### Other information
[code]

[2017-08-31 05:15] #1393 closed, assigned to nobody

[2017-08-31 08:48] heyjamesknight commented on #378
Hey everyone, jumping in on this one now. I'll be sure to reach out if I have any questions.

[2017-08-31 09:12] grzesiek2010 commented on #1367
@russbiggs thanks!

My first idea is to check out different themes for this dialog. I prepared an app and a form for you. Could you test it?
[app.zip](https://github.com/opendatakit/collect/files/1266541/app.zip)

Please install that app and use attached form. That form contains four date questions and each uses different theme. Could you check if maybe any of these displays properly?

[2017-08-31 14:58] russbiggs commented on #1367
@grzesiek2010  All four work.  The final one date4 doesn't appear as a popup but takes of the whole screen.

[2017-08-31 16:00] grzesiek2010 commented on #1367
@russbiggs great to hear that. That means we are really close to fix this issue.

[2017-08-31 19:18] dcbriccetti commented on #378
@jknightco More power to you. This is not an easy change. Where I left off (see Mar 23 above) the best idea I had was re-instantiating ODKView after every change (which I don’t think is practicable).

[2017-08-31 19:52] shobhitagarwal1612 opened #1395 "Deprecate ActivityLogger"
[ActivityLogger](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/database/ActivityLogger.java) was added for logging all user interface activity into a SQLite database. The main purpose of adding this feature was to prevent reduction in quality of data collection due to Interviewer fabrication (for more info, read [this](http://bbirnbaum.com/ass

[2017-08-31 20:29] lognaturel commented on #1395
👍 The tentative timeline is to deprecate this shortly after #257 is officially announced. The hold up there is that Aggregate does not yet correctly receive or process the files.

[2017-08-31 20:46] adammichaelwood opened #1397 "Change text on Form Import setting"
General Settings -> Form Management -> Import saved forms as finalized

The combination label and hint text makes this setting unclear.

I propose:

Label: Finalize forms on import
Hint: Affects forms added directly to /instances/ folder.

[2017-09-01 08:55] akshay-ap opened #1398 "Add FAQ or Guide feature in Collect app."
#### Software and hardware versions
Collect v1.9.1, Android v4.4.2.

#### Problem description
I think there should be direct link to FAQ section in Collect app so that they are accessible easily. Currently what I felt is accessing FAQ section https://opendatakit.org/help/faq/ can be quite difficult as android user might not be aware of its existence. So my suggestion is to include an FAQActivity w

[2017-09-01 10:24] grzesiek2010 commented on #1389
I agree we should refactor this part of code and btw it would be greate if we can change that name...
`ODKView` why? Does it sound strange to anyone else? Maybe `SurveyView` or `FormView`?

[2017-09-01 16:48] adammichaelwood commented on #1398
The documentation can be built and served in a variety of useful formats for consumption by the app:

http://www.sphinx-doc.org/en/stable/builders.html

[2017-09-01 16:51] adammichaelwood commented on #1398
This might be a feature for a second issue, but:

It would be great if the help docs inside the app linked directly to relevant things in the  app. So, for example, if it talks about *General Settings*, you can click that and it will take you straight there.

This would require a custom Sphinx role that emits in-app links when run through whichever builder is used, and the doc writer(s) would need

[2017-09-01 19:14] heyjamesknight commented on #378
Just adding some notes from what I've found so far. I'm sure most of you already know some or all of these things—just want to get them out in text for reference:

- JavaRosa handles relevancy like so:
    - Relevancy is parsed within `StandardBindAttributesProcessor` `createBinding` method and stored within a `Condition` object.
    - The `Condition` object is added to the `FormDef` as a `Trigger

[2017-09-01 19:17] heyjamesknight commented on #378
The core finding here is that `registerStateObservers` isn't of much use to us currently, as internal changes within the Form data from JavaRosa have no way of being easily propagated out to Collect. I think the first goal may be to figure out how to best update visible forms (like the "your name is ${name}" field) and then worry about changing the ODKView implementation to load (but hide) irrelev

[2017-09-01 19:19] lognaturel commented on #378
Thanks for that background @jknightco. I like that breakdown -- first looking at evaluating calculates and constraints across questions in a field list and then handling changes in relevance. Did I frame that correctly?

[2017-09-01 19:27] heyjamesknight commented on #378
Yep, much better than my post-debugging word salad 😛
We'll need to figure out how to get changes to occur *at all* before worrying about the fact that some widgets aren't even present to update.

[2017-09-01 19:28] lognaturel commented on #378
Not at all, I was just checking my understanding! 😊

[2017-09-01 19:33] heyjamesknight opened #1400 "FormEntryActivity Refactor - getQuestionPrompts() is called twice back to back in createView."
Line 1325 of FormEntryActivity calls getQuestionPrompts, and then immediately calls it again. Since this is a computed property we're double calculating.

The second call should be removed and the existing `prompts` value should be used.

[2017-09-01 20:09] lognaturel opened #1401 "Short label form is not respected"
#### Software and hardware versions
Collect v1.10.0 beta 1

#### Problem description
The `short` itext form as described [here](https://opendatakit.github.io/xforms-spec/#languages), shown in some of the examples [here](https://opendatakit.org/help/form-design/examples/) and in the itext value tag types section [here](https://opendatakit.org/help/form-design/guidelines/) is not respected. I believ

[2017-09-01 20:11] lognaturel commented on #1401
Ah, even more telling from https://bitbucket.org/javarosa/javarosa/wiki/xform:

[2017-09-02 00:31] lognaturel opened #1402 "Crash when rotating About screen"
#### Software and hardware versions
Collect v1.1.10 beta

#### Problem description
Reported [here](https://forum.opendatakit.org/t/odk-collect-1-10-0-beta-1/9618/7?u=ln)

#### Steps to reproduce the problem
Open the About menu. Rotate the screen.

#### Other information

Almost certainly related to #1289

[code]

[2017-09-03 16:24] #1402 closed, assigned to nobody

[2017-09-03 17:43] lognaturel opened #1405 "Use JavaRosa's ReferenceManager.instance() instead of _()"
The current use of JavaRosa's `ReferenceManager._()` results in the following warning: "use of '_' as an identifier might not be supported in releases after Java SE 8".

As of JavaRosa 2.5.0, `_()` has been renamed to `instance()` (see [release notes](https://github.com/opendatakit/javarosa/releases/tag/v2.5.0)). `_()` is still provided for backwards compatibility but it would be good to start usi

[2017-09-03 18:13] shobhitagarwal1612 commented on #1405
This has been already added in PR #1396

[2017-09-03 18:15] lognaturel commented on #1405
Thanks, @shobhitagarwal1612!

[2017-09-03 18:44] #1367 closed, assigned to nobody

[2017-09-03 21:09] shobhitagarwal1612 commented on #1265
Fixed in #1360

[2017-09-03 21:26] lognaturel commented on #1265
Let's keep open until the draw/signature/annotate menu uses the same look and feel!

[2017-09-03 21:29] yurilaguta commented on #1265
@lognaturel would you assign it to me and please point in direction of how
to get to draw/signature/annotane menus

On 4 Sep. 2017 7:26 am, "Hélène Martin" <notifications@github.com> wrote:

Let's keep open until the draw/signature/annotate menu uses the same look
and feel!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ope

[2017-09-03 21:32] lognaturel commented on #1265
Awesome, thanks @Yurii-Laguta! Take a look at `createQuitDrawDialog()` in `DrawActivity`.

[2017-09-04 07:50] shobhitagarwal1612 commented on #150
I couldn't reproduce this bug either

[2017-09-04 07:55] shobhitagarwal1612 commented on #247
I couldn't reproduce this bug on Xiomi Redmi Note 4 (Android 7.0)

[2017-09-04 07:58] shobhitagarwal1612 commented on #232
We can bulk configure devices OTA by sharing the QRCode image and importing them from `Admin Settings` > `Select code from SDCard`.

[2017-09-04 08:10] shobhitagarwal1612 commented on #602
Can we close this now?

[2017-09-04 08:22] shobhitagarwal1612 commented on #878
Closed in #1174

[2017-09-04 16:38] adammichaelwood commented on #1398
From akshay, via slack:

- Fork and clone down the [docs repo](https://github.com/opendatakit/docs)
- Run the build with the json builder: `sphinx-build -b json . json`
- Look at the output in `/json/` and see what it looks like -- how usable it is for consumption by the app
- Coordinate with @yanokwa to add the json builder to the circleci deployment and host it somewhere like `json.docs.opendata

[2017-09-04 17:19] lognaturel opened #1411 "Crash when taking picture from field-list"
[code]

[2017-09-04 17:22] yanokwa opened #1412 "Crash on AppListActivity.onSaveInstanceState"
[code]

[code]

[code]

[2017-09-04 17:26] yanokwa commented on #1411
Reports from Firebase.

**Exception**
[code]

**Cause**
[code]

[2017-09-04 17:38] yanokwa commented on #1412
From firebase...

[code]

[2017-09-04 17:41] lognaturel commented on #1412
@shobhitagarwal1612 any idea why `searchView` would be null in those cases? Should we include a `null` check or is there a better way to avoid it?

[2017-09-04 17:44] adammichaelwood commented on #1398
Also - you might not be aware but the FAQ at https://opendatakit.org/help/faq/ will be deprecated and removed in the near future. Docs are at:
http://docs.opendatakit.org/

There's currently an [open PR for a collect guide](https://github.com/opendatakit/docs/pull/111) in [the docs repo](https://github.com/opendatakit/docs). That will be expanded.
Anyway, it would be convenient, I think, for the e

[2017-09-04 17:45] lognaturel commented on #1411
This happens any time that a field list contains a mix of image widgets and widgets that are not binary widgets. Example: [field-list-binary.xml.txt](https://github.com/opendatakit/collect/files/1275289/field-list-binary.xml.txt)

The important lesson here is that not all widgets are binary widgets! @grzesiek2010 -- good thing to keep in mind.

[2017-09-04 17:47] #1411 closed, assigned to nobody

[2017-09-04 18:31] #1412 closed, assigned to nobody

[2017-09-04 18:32] lognaturel commented on #1412
Devices affected are Samsung Galaxy A5, Mediatek MT6580, Qualcomm MSM8909. I suspect it has to do with hardware menu buttons because that's when `onCreateOptionsMenu` isn't called. However, neither @shobhitagarwal1612 nor @yanokwa could reproduce on emulators with hardware buttons.

Let's check for null to avoid a crash, log when it's null and see if we can get any more info that way.

[2017-09-04 18:35] lognaturel commented on #1412
@mmarciniak90 I believe you have a physical device with a hardware menu button! If you do, could you please try going to one of the views that has a list of forms and then rotating the orientation to see if you can get a crash? 🙏

[2017-09-05 17:54] heyjamesknight commented on #378
Still trying to get a good grasp of our options here. Is there any reason why we wouldn't want to call `saveAnswer` when each field is updated? That method triggers reevaluation of the Triggerables (heh), which in turn spits out updates via the `registerStateObservers` method mentioned above.

It would still require some pretty drastic changes, but I'm thinking our best bet may be modifying the Wi

[2017-09-05 18:54] lognaturel commented on #378
For the interested, we had a good discussion in Slack [here](https://opendatakit.slack.com/archives/C35ENHA64/p1504634648000459).

[2017-09-05 19:22] lognaturel opened #1419 "Filled form/instance details are not localized"
#### Software and hardware versions
All versions

#### Problem description
Date/time and status strings used as filled form status are saved as full strings in the database so they're localized when generated.

#### Steps to reproduce the problem
Fill a form in one language. Change the language. Look at the instance details and see that the status and date/time string are in the initial language.

[2017-09-06 00:30] #878 closed, assigned to nobody

[2017-09-06 00:31] lognaturel commented on #602
Sounds good to me.

[2017-09-06 00:31] #602 closed, assigned to nobody

[2017-09-06 08:15] heyjamesknight opened #1421 "Refactor: QuestionWidgets should call saveAnswer() on the corresponding form when updated."
This is an intermediate step in preparation for #378.

Calling `saveAnswer` causes JavaRosa to reevaluate related forms' relevancy, spitting out `CHANGE_RELEVANT` events to any Observers registered with `registerStateObservers`. Watching for these events will allow us to update dependent fields within fieldlists.

[2017-09-06 08:19] heyjamesknight opened #1422 "Refactor: QuestionWidget needs unified means for getting/setting Answers."
This is an intermediate step in preparation for #378, and must be completed before #1421.

In order to ensure setAnswer is called whenever a field is updated, QuestionWidget needs to be modified to provide a unified way for subclasses to set updated answers. Individual subclasses will be responsible for determining when it is appropriate to update the underlying Answer.

The QuestionWidget base cl

[2017-09-06 08:20] heyjamesknight commented on #1421
The QuestionWidget base class should also be aware of whether or not the Widget belongs to a fieldlist, and whether or not save needs to be called immediately or when the Widget goes off screen (the current behavior).

[2017-09-06 08:23] heyjamesknight opened #1423 "Refactor: QuestionWidget subclasses should be refactored and repeated code should be moved into new abstract classes based on shared functionality."
This is an intermediate step in preparation for #378, and must be completed before #1422.

Currently, the IBinaryWidget implementations have a lot of redundant code. By refactoring the interface into an abstract class and handling answer setting/getting in a unified fashion, we can prepare all of them for #1422.

[2017-09-06 08:43] grzesiek2010 opened #1424 "Exception java.util.IllegalFormatConversionException: %d can't format java.lang.String arguments"
#### Software and hardware versions
Collect v1.10.1

#### Problem description
The application crashes on some Samsung devices with API 21 and 22.

#### Other information
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/14b84776?duration=2592000000&appVersions=2390

The same issue is visible on Collect 1.9.0 and 1.9.1 but it

[2017-09-06 10:25] heyjamesknight commented on #1423
After looking at the IBinaryWidget implementations, it looks like there's 3 or 4 archetypes within the 12 or so implementations. I believe we should pull the shared components out and move as much into these new intermediate abstract classes as possible to make the changes needed by #1422 easier.

[2017-09-06 10:26] heyjamesknight opened #1426 "Testing: Add tests for the existing QuestionWidgets."
This is an intermediate step in preparation for #378, and **should** be completed before #1423 .

In order to make sure our refactors don't change things they shouldn't, I propose adding tests around Widget construction and updating.

[2017-09-07 09:12] mmarciniak90 commented on #1412
I was able to reproduce this crash on only one device - Samsung Young with Android 4.1.
This is device with the worst specs.
To reproduce this crash I changed few times a device orientation. I done this quite fast, view on device could not turn around.
Crash is visible on views:
* Fill Bland Form
* Edit Saved Form
* View Sent Form
* Get Blank Form

Crash does not occur on views:
* Send Finalized F

[2017-09-07 12:26] mmarciniak90 opened #1427 "Filter on single select and multi select question is cleared if user changes device orientation OR minimizes app OR locks and unlocks screen"
#### Software and hardware versions
Issue discovered during testing #1415

#### Problem description
Filter on single select and multi select question is cleared when device orientation is changed, app is minimized and when user locks and unlocks the screen

#### Steps to reproduce the problem
1. User starts job with single select question and multi select question with appearance="autocomplete" ->

[2017-09-07 12:32] grzesiek2010 commented on #556
@lognaturel @yanokwa @shobhitagarwal1612
I investigated this issue and the Shobhit's proposal. Unfortunately we can't use mentioned API.
It allow us to block uninstalling the app but user can disable this in device settings, so it's not a perfect solution  (but maybe it's enough for those not very familiar with new technologies). I've created new issue for that and we can continue discussion and i

[2017-09-07 12:33] grzesiek2010 opened #1428 "Add an option in admin settings to prevent from uninstalling the app"
#### Problem description
We've started talking about this in #556 We don't know if there is a good way to do that so we need to investigate all possible solutions. Maybe we can use [Device Administration API](https://developer.android.com/guide/topics/admin/device-admin.html), maybe something else.

[2017-09-07 14:31] grzesiek2010 commented on #1412
In that case I think it's ok to just keep that null check. @mmarciniak90 have you noticed any strange problems using ODK v1.10.1 doing the same. There is no crash but maybe something else?

[2017-09-07 16:29] #1424 closed, assigned to nobody

[2017-09-07 16:42] lognaturel opened #1430 "Input dispatching timed out from Play Store logs"
`Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 1. Wait queue head age: 5649.4ms.)`

App Not Responding seems to happen across Android versions, Collect versions and device types but exact stacktrace varies.

Sample Play Store reports: [1](https://p

[2017-09-07 17:22] lognaturel opened #1431 "Crash when exiting form without saving if external data manager is null"
Related to #1404. Presumably it could happen before but was getting lost in all the other crash reports. Now it shows up as new in the Play Store report.

[code]

[2017-09-07 17:41] heyjamesknight commented on #1426
We want to ensure that the Answer functionality is the same before and after our refactor coming in #1423 and #1422. This includes both the way `getAnswer()` and `clearAnswer()` work, as well as internal behavior (such as to a call to `deleteMedia` in this instance).

The first test was AlignedImageWidget as it is easily generalizable to the other "Binary Name Widgets", including:
- AlignedImageWi

[2017-09-08 06:22] shobhitagarwal1612 opened #1434 "Remove unused method from ZipUtils"
[ZipUtils](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/ZipUtils.java) contains an unused method [extractFirstZipEntry](https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/ZipUtils.java#L59). Also, `Timber.w` can be replaced by `Timber.i` at some places in this file (line [8

[2017-09-08 06:41] shobhitagarwal1612 opened #1435 "Remove final modifier from utility methods in MediaUtils"
The **final** modifier is used along with **static** in methods when we want to prevent the static method from getting overridden. But this (MediaUtils) is a utility class and is not being used as a super class anywhere. So, it's better we remove this keyword to prevent unnecessary confusion.

[2017-09-08 06:43] shobhitagarwal1612 opened #1436 "Remove unused methods from MediaUtils"
There are some unused methods in MediaUtils like `getVideoUriFromMediaProvider`  and `getVideoUriFromMediaProvider` in MediaUtils class

[2017-09-08 12:01] mmarciniak90 commented on #1412
@grzesiek2010 No, I did not notice other unexpected behavior. The view was turned around.
I did not notice a regression on other devices.

[2017-09-08 13:35] grzesiek2010 opened #1438 "Exception java.lang.NullPointerException:"
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/2a6c40c9?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2450

org.odk.collect.android.activities.FormEntryActivity.onFling (FormEntryActivity.java:2901)
android.view.GestureDetector.onTouchEvent (GestureDetector.java:610)
org.odk.collect.android.activities.FormEntryAc

[2017-09-08 13:46] grzesiek2010 opened #1440 "Attempt to invoke virtual method 'java.io.File org.odk.collect.android.logic.FormController.getInstancePath()' on a null object reference"
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/e8e3a0da?reportTypes=FATAL_JAVA&duration=2592000000&appVersions=2450

org.odk.collect.android.activities.FormEntryActivity.isInstanceComplete (FormEntryActivity.java:2790)
org.odk.collect.android.activities.FormEntryActivity.onOptionsItemSelected (FormEntryActivity.java:1015)

[2017-09-08 15:01] heyjamesknight commented on #1426
Tests are coming along albeit slowly. The first three BNWs have tests at this point, and I've managed to generalize them so the remaining ones should hopefully go quicker.

[2017-09-08 16:57] #1431 closed, assigned to nobody

[2017-09-08 19:18] lognaturel commented on #508
Closed in #1336

[2017-09-08 19:18] #508 closed, assigned to nobody

[2017-09-08 19:24] #1334 closed, assigned to nobody

[2017-09-08 19:48] #1400 closed, assigned to nobody

[2017-09-10 02:12] lokpriya opened #1444 "Column Limit Uploading on Google Spreadsheet"
#### Software and hardware versions
Collect v1.10.2, Android [5.1,] device used...

#### Problem description
Dear all
I have only 116 columns for spreadsheet but while uploading form it gives message that your form has 467 columns. Please help to solve the problem. I have attached the screenshot and xml form.
#### Steps to reproduce the problem

#### Expected behavior
It is supposed that columns a

[2017-09-10 02:28] mkmar01 commented on #1386
@lognaturel I would like to work on this issue

[2017-09-10 02:29] lognaturel commented on #1386
Thanks, that sounds great, @batbrain7!

[2017-09-10 17:53] grzesiek2010 commented on #1438
@opendatakit-bot claim

[2017-09-10 17:53] grzesiek2010 commented on #1440
@opendatakit-bot claim

[2017-09-11 05:20] grzesiek2010 commented on #1428
@opendatakit-bot claim

[2017-09-11 17:17] #1373 closed, assigned to nobody

[2017-09-11 18:13] lognaturel commented on #1444
Thanks very much for attaching your form, @lokpriya, that will make troubleshooting much easier.

[2017-09-12 10:07] grzesiek2010 opened #1452 "Implement onDowngrade method for instances and forms databases"
#### Problem description
Wee need to implement onDowngrade method for those databases since we will be extending them in the future and since we keep all data after downgrade.

[2017-09-12 10:10] grzesiek2010 commented on #1452
@opendatakit-bot claim

[2017-09-12 10:43] mmarciniak90 opened #1454 "Answer in single select and multi select question is highlighted on black instead of blue on Android 4.1, 4.2, 4.4"
#### Software and hardware versions
Discovered during testing [#1415](https://github.com/opendatakit/collect/pull/1415#issuecomment-327422510)
Confirmed on master branch v1.10.2-12-g4c0d0a2-dirty

#### Problem description
User sees than selected answer in single select and multi select question is highlighted on black instead of blue

#### Steps to reproduce the problem
1. User uses device with An

[2017-09-12 11:22] grzesiek2010 commented on #1454
@mmarciniak90 Could you check what is the color of those controls using your devices and another app ideally something popular. Is it blue?

[2017-09-12 13:27] mmarciniak90 commented on #1454
@grzesiek2010 I checked search settings in Chrome browser.
![screenshot_2017-09-12-15-17-03](https://user-images.githubusercontent.com/3907554/30328167-d46f4a4a-97ce-11e7-9c48-2fea173f4222.png)
There is the same situation :
* single select icon is black on Android 4.1, 4.2, 4.4
* single select icon is blue on Android 5.1, 6.0, 7.0

[2017-09-12 13:34] grzesiek2010 commented on #1454
@mmarciniak90 thanks!
So I think it's ok. It's a default android color and we shouldn't force to use other.

[2017-09-13 04:19] rishsethia commented on #74
Thanks @lognaturel !

[2017-09-13 09:01] grzesiek2010 opened #1455 "Settings are not updated if we navigate across tem."
#### Software and hardware versions
Collect v1.10.2

#### Problem description
Settings are not updated if we navigate across them.

#### Steps to reproduce the problem
1. Go to `Admin Settings` -> `User Settings` and uncheck something
2. Go to the previous screen using a device back button
3. Click on `General Settings` and then `User interface`

#### Expected behavior
The option you uncheked shou

[2017-09-13 11:17] grzesiek2010 opened #1456 "Add an option to block moving backwards in forms"
This is a feature proposed in forum https://forum.opendatakit.org/t/how-can-i-avoid-backscattering/9198/1

We can do that in three ways as mentioned there:
1. New option in settings
2. Form level
3. Question level

This issue is related to the first approach.

[2017-09-13 19:15] lognaturel opened #1458 "Bearing widget not working"
#### Software and hardware versions
Collect v1.10.2, Motorola G4 4th Gen XT1625 - Android 7.0, Samsung Galaxy S4 GT-I9506 - Android 5.0.1

#### Problem description
I set both devices outside for several minutes and never got a bearing reading. Previously it seemed to be very quick to achieve a reading so I think there is a regression. I tried this on 1.10.2 from the Play Store which predates chang

[2017-09-13 19:52] heyjamesknight commented on #1458
Is this possibly related to the refactor? I believe I had to make some minor changes to BearingWidget.

[2017-09-13 19:54] lognaturel commented on #1458
I thought it could be but I tried it with 1.10.2 fresh from the Play Store and saw the same behavior.

[2017-09-13 19:59] heyjamesknight commented on #1458
Phew!

[2017-09-13 20:10] grzesiek2010 commented on #1458
Works well on my Samsung galaxy S4 and Collect 1.10.2 tomorrow I can test other devices.

[2017-09-13 23:08] lognaturel opened #1459 "Record altitude and accuracy in Google Maps geotrace points"
#### Software and hardware versions
Collect v1.10.2

#### Problem description
Altitude and accuracy are always 0.0 in geotraces using Google Maps SDK.

#### Steps to reproduce the problem
Make sure the map SDK in settings is set to Google Maps SDK
Start a geotrace collection from the All Widgets form

#### Expected behavior
Altitude and accuracy should be populated as they are in the geopoint type

[2017-09-13 23:24] lognaturel commented on #1459
This is now fixed in master but I can't see when/how it was fixed! @jknightco can you see anything in #1433 that would explain this? Was the `getAnswer` double conversion causing loss of the values or something?

[2017-09-14 00:11] lognaturel opened #1460 "Adjust location update accuracy for geotrace to reduce battery usage"
@jknightco from [discussion](https://github.com/opendatakit/collect/pull/1336#issuecomment-326627506) in #1336:

[2017-09-14 00:20] lognaturel commented on #1389
@jknightco the proposed change sounds great.

@grzesiek2010 I'm not necessarily opposed to that but I think it's a separate question!

[2017-09-14 00:21] lognaturel commented on #1454
Well that is very interesting! I think @grzesiek2010 is right and that it's actually the expected behavior. What do you think @mmarciniak90?

[2017-09-14 00:22] lognaturel commented on #1444
@shobhitagarwal1612 you're now our resident Google Sheets expert! Would you like to take a look at this one?

[2017-09-14 04:56] shobhitagarwal1612 commented on #1444
@lognaturel Sure :smiley:

[2017-09-14 05:12] shobhitagarwal1612 opened #1463 "Website description for the repository"
The website mentioned on the collect repository at the end of the description links to itself which is redundant as we are already on that page. Shouldn't it be something else like https://opendatakit.org/use/collect/ or maybe the link to the [playstore](https://play.google.com/store/apps/details?id=org.odk.collect.android)?

![image](https://user-images.githubusercontent.com/8918023/30412864-3f07

[2017-09-14 09:22] heyjamesknight commented on #1426
Finished Widgets:
- ~~AlignedImageWidget~~
- ~~AnnotateWidget~~
- ~~AudioWidget~~
- ~~BarcodeWidget~~
- ~~BearingWidget~~
- ~~BooleanWidget~~
- ~~DateTimeWidget~~
- ~~DateWidget~~
- ~~DecimalWidget~~
- ~~DrawWidget~~
- ~~ExDecimalWidget~~
- ~~ExIntegerWidget~~
- ~~ExStringWidget~~
- ~~GeoPointWidget~~
- ~~GeoShapeWidget~~
- ~~GeoTraceWidget~~
- ~~GridMultiWidget~~
- ~~GridWidget~~
- ~~ImageWebView

[2017-09-14 09:29] grzesiek2010 commented on #1458
I've tested
- Samsung Galaxy S4 Android 5.0.1
- Samsung Galaxy S Duos 2 Android 4.2.2

and I'm not able to reproduce the issue, everything is ok. @mmarciniak90 please check out your devices.

[2017-09-14 13:38] mmarciniak90 commented on #1454
@lognaturel, I agree with @grzesiek2010. Leaving the default color is OK for me.

[2017-09-14 13:51] atl2017 opened #1464 "BUG strange behaviour with buttons instead of swiping"
#### Software and hardware versions
Collect v1.10.2, Android 6.0.1, 4.4.2 device : SAMSUNG S5

#### Problem description: A particular situation is happening when you have a form with two repeating groups and use navigation with buttons instead of swiping. Next question after second group is displayed indefinitely if you choose DO NOT ADD in both repeating questions.

#### Steps to reproduce the pr

[2017-09-14 16:53] lognaturel commented on #1444
From Slack [here](https://opendatakit.slack.com/archives/C35ENHA64/p1505401193000410) -- @shobhitagarwal1612 identified that the select1 choice sets are represented by [secondary instances](https://opendatakit.github.io/xforms-spec/#secondary-instances---internal) in the XML. It seems that the column limit counter takes all nodes in instances into account when it should only consider nodes in the

[2017-09-14 21:44] mmoye commented on #1464
Upvoted. Was just about to post the same issue with an example xlsx. Let me know if it would be helpful.

[2017-09-15 01:34] dcbriccetti opened #1466 "Collect violates separation of concerns and complicates maintenance by copying class names from JavaRosa"
Collect’s `FormController` copies class names from JavaRosa in order to register prototypes in the `PrototypeManager`.

[code]

The comments indicate that this was done because calling the proper `registerModule` JavaRosa methods have unwanted side effects. I assume someone wanted to avoid making the changes in JavaRosa that would allow these concerns to stay separated. Instead they copied a large

[2017-09-15 01:59] lokpriya commented on #1444
@lognaturel  Yes only primary instance (from Survey Sheet) should be counted  in the google spreadsheet column as they are actual  determiners for the answer we require.

[2017-09-15 13:29] mmarciniak90 commented on #1458
I was able to reproduce this problem on:
* Samsung J1 with Android 4.4
* Huawei Y5 with Android 5.1

I verified this on Collect v1.10.2 and master branch.
I didn't discover what cause this problem.
Problem is not connected with location because devices were able to define location.
I restarted devices but it does not resolve the problem.
I used devices with WiFi connection and LTE connection.

[2017-09-15 13:44] acawood777 commented on #1306
I seem to be chiming in here a little late, but we bumped into this a little while back (as the previous change breaks our implementation) and I want to add a suggestion. I'm not 100% sure on what has actually been implemented, but my suggestion would be:

a) Have 2 username fields:
- username   - this is the credentials username, used for login
- secondary_username - this can be used for identify

[2017-09-15 17:53] lognaturel opened #1471 "Run tests on release build in CircleCI"
#1462 introduced the `jacocoTestReport` gradle task to the CircleCI config. This resulted in the tests being run on a release build rather than a debug build and unearthed some potential FirebaseCrash-related problems when testing. #1469 goes back to running tests on a debug build.

Should we run tests on a release build to most closely match the release environment?

@jknightco @shobhitagarwal161

[2017-09-15 19:15] grzesiek2010 commented on #1458
Good to know we have devices to reproduce the issue. I can investigate it after my vacation (after 25th September).

[2017-09-15 19:17] lognaturel commented on #1463
Hmm, I *think* it's like this so that forks link back to the root? I'm not sure that's useful, though, since the parent repository usually shows up right under the fork name. I've seen other projects do this but I'm not sure why.

[2017-09-15 19:18] lognaturel commented on #1464
Thanks for the report @atl2017 and @mmoye! If it's quick for you to post @mmoye, more examples always help.

[2017-09-15 19:22] mmoye commented on #1464
Sure thing. See attached.
[test.xlsx](https://github.com/opendatakit/collect/files/1307552/test.xlsx)

For our test we added to the first repeat (any number of times) but skipped the second repeat. Goes to the summary screen and then to Save & Exit when swiping, but will enter an endless loop on the summary screen if using forward/backward navigation buttons.

[2017-09-15 19:29] #1454 closed, assigned to nobody

[2017-09-15 19:44] lognaturel opened #1472 "Forks shouldn't report to Firebase Crash"
Currently, we get crash reports from forks and from developer debug builds. Why is this happening and how can we prevent it? The intent is to only get crashes from release builds of the core.

This is problematic because a lot of forks have really buggy extensions that overwhelm the crash list, making it hard to see true Collect crashes.

[2017-09-15 19:49] shobhitagarwal1612 commented on #1463
Yes, including the link to parent repository seems redundant to me.

[2017-09-15 20:59] shobhitagarwal1612 opened #1473 "Widget tests are not included in the code coverage report"
Some of the tests like the widget tests are being run by the CircleCI but they are not included in the jacoco code coverage report. One difference that I could notice between these tests and those which are included in the code coverage report is that they are using **mockito** and **roboElectricTestRunner**.

@alxndrsn @jknightco You both have written tests using mockito and roboElectricTestRunnn

[2017-09-15 22:01] #532 closed, assigned to nobody

[2017-09-16 00:06] lognaturel opened #1475 "Field list scrolls to top when binary data is collected"
#### Software and hardware versions
Collect v1.10.2

#### Problem description
When a binary widget is populated from within a field list, the field list scrolls to the top.

#### Steps to reproduce the problem
Use the form [field-list-forum-9842.xml.txt](https://github.com/opendatakit/collect/files/1307953/field-list-forum-9842.xml.txt), scroll to the bottom and get either an image or a geopoint.

[2017-09-16 05:47] shobhitagarwal1612 commented on #1405
@lognaturel please remove the in progress label as PR #1396 has been closed without merging

[2017-09-16 07:07] heyjamesknight commented on #1475
On it!

[2017-09-16 07:10] heyjamesknight commented on #1473
Not familiar with Jacoco, but the major difference with the Robolectric
tests is that they're under 'test' instead of 'androidTest' and run as
regular JUnit tests instead of as Instrumentation tests. Could you see if
Jacoco is looking at both 'test' and 'androidTest'?

On Fri, Sep 15, 2017 at 10:59 PM Shobhit Agarwal <notifications@github.com>
wrote:

[2017-09-16 07:59] alxndrsn commented on #1473
This was a Jacoco bug, and I've seen it before on Android.  Upstream issue is https://github.com/jacoco/jacoco/pull/288.

In this project, I fixed it by forcing Jacoco to _downgrade_ to 0.7.2: https://github.com/medic/medic-gateway/blob/master/build.gradle#L14-L16  It now looks like it's been fixed upstream, and Jacoco 0.7.7 or greater should support Robolectric tests again.

That linked project u